Repository vercel/next.js, pull requests merged in 2019-02, with the labels that each got.

#6256 Add `module` as server fallback main field
  packages/next/build/webpack-config.js
  test/integration/config/node_modules/module-only-package/index.js
  test/integration/config/node_modules/module-only-package/modern.js
  test/integration/config/node_modules/module-only-package/package.json
  test/integration/config/pages/module-only-content.js
  test/integration/config/test/index.test.js
  test/integration/config/test/rendering.js
Labels: Priority: Medium, Status: Ready, Type: Bug

#6276 Set default `Error` status code to 404
  packages/next/pages/_error.js
  test/integration/client-404/next.config.js
  test/integration/client-404/pages/_error.js
  test/integration/client-404/pages/index.js
  test/integration/client-404/test/client-navigation.js
  test/integration/client-404/test/index.test.js
Labels: Priority: High, Type: Bug

#6284 Fix broken link in README
  README-zh-CN.md
  packages/next/README.md
Labels: Documentation

#6341 Update readme with ZEIT Now deployment guide link
  packages/next/README.md
Labels: Documentation

#6378 Pass all `<Html>` props to `<html>`
  packages/next/pages/_document.js
  test/integration/app-document/pages/_document.js
  test/integration/app-document/test/rendering.js
Labels: Type: Bug

#6444 Add new experimental-amp example
  examples/experimental-amp/README.md
  examples/experimental-amp/components/Byline.js
  examples/experimental-amp/next.config.js
  examples/experimental-amp/package.json
  examples/experimental-amp/pages/dog.js
  examples/experimental-amp/pages/index.js
  examples/experimental-amp/static/cat.jpg
  examples/experimental-amp/static/dog.jpg
Labels: Type: Example
