Repository vercel/next.js, pull requests merged in 2019-12, with the labels that each got.

#9579 Fix docs typo: “your sites SEO”
  packages/next/README.md
Labels: ready to land

#9594 Add SSG Tests with Catch All Routing
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/p1/p2/all-ssg/[...rest].js
  test/integration/dynamic-routing/pages/p1/p2/predefined-ssg/[...rest].js
  test/integration/dynamic-routing/test/index.test.js
Labels: ready to land

#9597 Simplify getRouteRegex Callsites
  packages/next/build/utils.ts
  packages/next/next-server/lib/router/router.ts
Labels: ready to land

#9599 Support `repeat`ing Dynamic Route Params
  packages/next/next-server/lib/router/utils/route-matcher.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  test/integration/dynamic-routing/test/index.test.js
Labels: Type: Enhancement, ready to land

#9593 Fix extra prerender error for invalid getStaticProps usage
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9606 Add Support for Event Flushing
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/telemetry/storage.ts
Labels: ready to land

#9608 Upgrade Webpack and Terser
  packages/next/package.json
  yarn.lock
Labels: ready to land

#9575 Extend NextComponentType in NextPage
  packages/next/next-server/lib/utils.ts
  packages/next/types/index.d.ts
Labels: Type: Enhancement, ready to land

#9610 Aggressively Replace Constants
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/unit/next-babel-loader.test.js
Labels: ready to land

#9611 Enhancement: Upgrade devalue version to 2.0.1
  packages/next/package.json
  yarn.lock
Labels: ready to land

#9628 Only Load JS Files for Polyfills
  packages/next/pages/_document.tsx
Labels: Type: Bug, priority: low, ready to land

#9583 Update with-socket.io example
  examples/with-socket.io/README.md
  examples/with-socket.io/hooks/useSocket.js
  examples/with-socket.io/package.json
  examples/with-socket.io/pages/clone.js
  examples/with-socket.io/pages/index.js
Labels: Type: Example, ready to land

#9632 Fix react@next tests missing chromedriver env
  .circleci/config.yml
Labels: ready to land

#9627 Remove Extraneous Imports in Pages
  packages/next/build/babel/plugins/dangerously-remove-unused-imports.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/world.txt
  test/unit/next-babel-loader.test.js
Labels: Type: Enhancement, ready to land

#9638 Correct URI Encoding Order
  packages/next/client/page-loader.js
  test/integration/preload-viewport/pages/dynamic/[hello].js
  test/integration/preload-viewport/pages/multi-prefetch.js
  test/integration/preload-viewport/test/index.test.js
Labels: Type: Bug, priority: very high, ready to land

#9592 Adding duration for custom performance marks
  packages/next/client/index.js
Labels: Type: Enhancement, ready to land

#9639 Separate SSG Transform from Config
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: ready to land

#9640 Rewrite SSG Transform
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: ready to land

#9641 Add SSG Support for VariableDeclarations
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: ready to land

#9642 Remove Scope Bindings for SSG
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: ready to land

#9650 Fix Import Shaking for Namespaces
  packages/next/build/babel/plugins/dangerously-remove-unused-imports.ts
  test/unit/next-babel-loader.test.js
Labels: Type: Bug, priority: low, ready to land

#9649 Fix SSG Named Export Transform
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: Type: Bug, priority: low, ready to land

#9652 Rewrite SSG Transform for Recursive Cleanup
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: Type: Enhancement, ready to land

#9653 Only Remove Server-Side Imports
  packages/next/build/babel/plugins/dangerously-remove-unused-imports.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/unit/babel-plugin-next-ssg-transform.test.js
  test/unit/next-babel-loader.test.js
Labels: Type: Enhancement, ready to land

#9654 Fix Linting Pre-Commit Hook
  lint-staged.config.js
Labels: ready to land

#9655 Bump Babel Cache Key
  packages/next/build/webpack/loaders/next-babel-loader.js
Labels: ready to land

#9656 Use Real Identifier for SSG Transform
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: Type: Bug, ready to land

#9657 Disable SSG Transform on Non-SSG Pages
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: Type: Enhancement, ready to land

#9665 Add tests for optional chaining and nullish coalescing
  package.json
  packages/next/build/babel/preset.ts
  test/integration/optional-chaining-nullish-coalescing/pages/nullish-coalescing.js
  test/integration/optional-chaining-nullish-coalescing/pages/optional-chaining.js
  test/integration/optional-chaining-nullish-coalescing/test/index.test.js
  test/unit/next-babel-loader.test.js
Labels: ready to land

#9651 Refactor Webpack Configuration
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/build/webpack/config/blocks/experiment-data.ts
  packages/next/build/webpack/config/helpers.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/package.json
  yarn.lock
Labels: Type: Enhancement, ready to land

#9673 Update api-support test suite
  test/integration/api-support/next.config.js
  test/integration/api-support/test/index.test.js
Labels: ready to land

#9434 Add checking of custom routes for invalid fields
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/invalid-custom-routes/pages/index.js
  test/integration/invalid-custom-routes/test/index.test.js
  test/lib/next-test-utils.js
Labels: Type: Enhancement, ready to land

#9671 Refactor next-server some for easier page checking
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
Labels: ready to land

#9685 Fix not detecting legacy getStaticParams in serverless mode
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender-legacy/test/index.test.js
Labels: ready to land

#9688 Enable New Chunking for CSS
  packages/next/next-server/server/config.ts
  test/integration/css/next.config.js
Labels: ready to land

#9694 Adjust Commit Linting Hook
  .prettierignore_staged
  lint-staged.config.js
Labels: ready to land

#9693 Upgrade Jest
  package.json
  yarn.lock
Labels: ready to land

#9686 [Experimental] CSS Module Support
  packages/next/build/webpack/config/blocks/css/getCssModuleLocalIdent.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/client/page-loader.js
  packages/next/package.json
  test/integration/css/fixtures/basic-module/pages/index.js
  test/integration/css/fixtures/basic-module/pages/index.module.css
  test/integration/css/fixtures/dev-module/pages/index.js
  test/integration/css/fixtures/dev-module/pages/index.module.css
  test/integration/css/fixtures/hmr-module/pages/index.js
  test/integration/css/fixtures/hmr-module/pages/index.module.css
  test/integration/css/fixtures/invalid-module/node_modules/example/index.js
  test/integration/css/fixtures/invalid-module/node_modules/example/index.mjs
  test/integration/css/fixtures/invalid-module/node_modules/example/index.module.css
  test/integration/css/fixtures/invalid-module/node_modules/example/package.json
  test/integration/css/fixtures/invalid-module/pages/index.js
  test/integration/css/fixtures/multi-module/pages/blue.js
  test/integration/css/fixtures/multi-module/pages/blue.module.css
  test/integration/css/fixtures/multi-module/pages/none.js
  test/integration/css/fixtures/multi-module/pages/red.js
  test/integration/css/fixtures/multi-module/pages/red.module.css
  test/integration/css/fixtures/nm-module/node_modules/example/index.js
  test/integration/css/fixtures/nm-module/node_modules/example/index.mjs
  test/integration/css/fixtures/nm-module/node_modules/example/index.module.css
  test/integration/css/fixtures/nm-module/node_modules/example/package.json
  test/integration/css/fixtures/nm-module/pages/index.js
  test/integration/css/fixtures/prod-module/pages/index.js
  test/integration/css/fixtures/prod-module/pages/index.module.css
  test/integration/css/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9703 Adjust `postcss-modules` Message
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css/test/index.test.js
Labels: ready to land

#9704 Redesign PostCSS Configuration Loading
  package.json
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css/fixtures/bad-custom-configuration-arr-1/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-1/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-1/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-1/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-2/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-2/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-2/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-2/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-3/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-3/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-3/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-3/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-4/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-4/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-4/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-4/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-5/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-5/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-5/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-5/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-6/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-6/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-6/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-6/styles/global.css
  test/integration/css/fixtures/bad-custom-configuration-arr-7/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration-arr-7/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration-arr-7/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration-arr-7/styles/global.css
  test/integration/css/fixtures/custom-configuration-arr/.postcssrc.json
  test/integration/css/fixtures/custom-configuration-arr/pages/_app.js
  test/integration/css/fixtures/custom-configuration-arr/pages/index.js
  test/integration/css/fixtures/custom-configuration-arr/styles/global.css
  test/integration/css/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9708 Update Azure chromedriver version
  azure-pipelines.yml
Labels: ready to land

#9710 Fix SSG tests failing on windows
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9711 Bump azure to Windows 2019 image
  azure-pipelines.yml
Labels: ready to land

#9712 Adjust return value
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9713 Add More Configuration File Options
  packages/next/lib/find-config.ts
  test/unit/find-config.test.js
  test/unit/fixtures/config-js/.testrc.js
  test/unit/fixtures/config-long-js/test.config.js
  test/unit/fixtures/config-long-json/test.config.json
Labels: Type: Enhancement, ready to land

#9714 Add Tailwind and PurgeCSS Test
  package.json
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/pages/_app.js
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/pages/index.js
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/postcss.config.js
  test/integration/css-fixtures/with-tailwindcss-and-purgecss/styles/global.css
  test/integration/css/test/index.test.js
  yarn.lock
Labels: ready to land

#9717 Add CSS Module TypeScript Types
  packages/next/types/global.d.ts
  test/integration/typescript/components/hello.module.css
  test/integration/typescript/components/hello.ts
  test/integration/typescript/next.config.js
Labels: ready to land

#9719 Improve Build Output for SSG
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#9724 Add CSS Resolve Test
  package.json
  test/integration/css-fixtures/npm-import-bad/pages/_app.js
  test/integration/css-fixtures/npm-import-bad/pages/index.js
  test/integration/css-fixtures/npm-import-bad/styles/global.css
  test/integration/css-fixtures/npm-import/pages/_app.js
  test/integration/css-fixtures/npm-import/pages/index.js
  test/integration/css-fixtures/npm-import/styles/global.css
  test/integration/css/test/index.test.js
  yarn.lock
Labels: ready to land

#9725 Refine Pages Output
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/fixtures/basic-app/pages/index.js
  test/integration/build-output/fixtures/with-app/pages/_app.js
  test/integration/build-output/fixtures/with-app/pages/index.js
  test/integration/build-output/fixtures/with-error/pages/_error.js
  test/integration/build-output/fixtures/with-error/pages/index.js
  test/integration/build-output/test/index.test.js
Labels: ready to land

#9726 New File Size Output
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/test/index.test.js
Labels: ready to land

#9730 Enable Page Symbol For `/_error`
  packages/next/build/utils.ts
  test/integration/build-output/fixtures/with-error-static/pages/_error.js
  test/integration/build-output/fixtures/with-error-static/pages/index.js
  test/integration/build-output/test/index.test.js
Labels: ready to land

#9733 Test CSS Behavior
  test/integration/css-fixtures/composes-basic/pages/index.js
  test/integration/css-fixtures/composes-basic/pages/index.module.css
  test/integration/css-fixtures/composes-external/pages/index.js
  test/integration/css-fixtures/composes-external/pages/index.module.css
  test/integration/css-fixtures/composes-external/pages/other.css
  test/integration/css-modules/test/index.test.js
Labels: ready to land

#9734 Fix query values being passed in dev mode for SSG
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/test/index.test.js
Labels: Type: Bug, ready to land

#9737 Emit Static Export Intent
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/next-server/lib/constants.ts
  test/integration/export-intent/fixtures/bad-export/.gitignore
  test/integration/export-intent/fixtures/bad-export/pages/index.js
  test/integration/export-intent/fixtures/custom-export/.gitignore
  test/integration/export-intent/fixtures/custom-export/next.config.js
  test/integration/export-intent/fixtures/custom-export/pages/index.js
  test/integration/export-intent/fixtures/custom-out/.gitignore
  test/integration/export-intent/fixtures/custom-out/next.config.js
  test/integration/export-intent/fixtures/custom-out/pages/index.js
  test/integration/export-intent/fixtures/default-export/.gitignore
  test/integration/export-intent/fixtures/default-export/pages/index.js
  test/integration/export-intent/fixtures/no-export/.gitignore
  test/integration/export-intent/fixtures/no-export/pages/index.js
  test/integration/export-intent/test/index.test.js
  test/lib/next-test-utils.js
Labels: Type: Enhancement, ready to land

#9735 Disable CSS Support When Manually Configured
  package.json
  packages/create-next-app/package.json
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/mini-css-extract-plugin.ts
  packages/next/package.json
  packages/next/taskfile.js
  test/integration/production-config/next.config.js
  test/integration/production-config/pages/_app.js
  test/integration/production-config/pages/index.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9744 Add support for exporting from serverless build
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.ts
  packages/next/export/worker.js
  test/integration/export-default-map-serverless/next.config.js
  test/integration/export-default-map-serverless/pages/docs/index.js
  test/integration/export-default-map-serverless/pages/index.js
  test/integration/export-default-map-serverless/pages/info.js
  test/integration/export-default-map-serverless/pages/just-amp/index.js
  test/integration/export-default-map-serverless/pages/some.js
  test/integration/export-default-map-serverless/pages/v1.12/docs.js
  test/integration/export-default-map-serverless/pages/v1.12/index.js
  test/integration/export-default-map-serverless/test/index.test.js
  test/integration/export-dynamic-pages-serverless/next.config.js
  test/integration/export-dynamic-pages-serverless/pages/regression/[slug].js
  test/integration/export-dynamic-pages-serverless/test/index.test.js
  test/integration/export-serverless/.gitignore
  test/integration/export-serverless/components/hello.js
  test/integration/export-serverless/next.config.js
  test/integration/export-serverless/pages/about.js
  test/integration/export-serverless/pages/api/data.js
  test/integration/export-serverless/pages/blog/[post]/comment/[id].js
  test/integration/export-serverless/pages/button-link.js
  test/integration/export-serverless/pages/counter.js
  test/integration/export-serverless/pages/dynamic-imports.js
  test/integration/export-serverless/pages/dynamic.js
  test/integration/export-serverless/pages/get-initial-props-with-no-query.js
  test/integration/export-serverless/pages/index.js
  test/integration/export-serverless/pages/level1/about.js
  test/integration/export-serverless/pages/level1/index.js
  test/integration/export-serverless/pages/query.js
  test/integration/export-serverless/public/about/data.txt
  test/integration/export-serverless/static/data/item.txt
  test/integration/export-serverless/test/api-routes.js
  test/integration/export-serverless/test/browser.js
  test/integration/export-serverless/test/dev.js
  test/integration/export-serverless/test/dynamic.js
  test/integration/export-serverless/test/index.test.js
  test/integration/export-serverless/test/ssr.js
  test/integration/export-subfolders-serverless/next.config.js
  test/integration/export-subfolders-serverless/pages/about.js
  test/integration/export-subfolders-serverless/pages/index.js
  test/integration/export-subfolders-serverless/pages/posts/index.js
  test/integration/export-subfolders-serverless/pages/posts/single.js
  test/integration/export-subfolders-serverless/test/index.test.js
  test/integration/serverless-trace/test/index.test.js
  test/integration/serverless/test/index.test.js
Labels: Type: Enhancement, ready to land

#9745 Compute Gzip Sizes of Files
  packages/next/build/utils.ts
  packages/next/package.json
  yarn.lock
Labels: Type: Enhancement, ready to land

#9750 Fix typo (change `imperatively` to `imperative`)
  packages/next/README.md
Labels: Documentation, ready to land

#9752 Fix Shared Sizes Missing Commons
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/build-output/fixtures/with-amp/pages/amp.js
  test/integration/build-output/fixtures/with-amp/pages/hybrid.js
  test/integration/build-output/fixtures/with-amp/pages/index.js
  test/integration/build-output/test/index.test.js
Labels: Type: Enhancement, ready to land

#9759 Add check for invalid assetPrefix
  errors/invalid-assetprefix.md
  packages/next/next-server/server/config.ts
  test/integration/invalid-config-values/pages/index.js
  test/integration/invalid-config-values/test/index.test.js
Labels: Type: Enhancement

#9736 Fix AMP HMR for child components
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/server/hot-reloader.ts
  test/integration/amphtml/components/hello.js
  test/integration/amphtml/pages/hmr/comp.js
  test/integration/amphtml/test/index.test.js
Labels: Type: Bug

#9764 Add handling for external redirects
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: Type: Enhancement

#9772 Fix error message typo: "Keys that need moved"
  packages/next/build/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender-invalid-paths/test/index.test.js
Labels: ready to land

#9787 Add parsing of route source during checking
  errors/invalid-route-source.md
  packages/next/lib/check-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Labels: Type: Enhancement

#9798 Update to close SSE connection before unload
  packages/next/client/dev/on-demand-entries-client.js
Labels: Type: Enhancement

#9301 New docs
  docs/advanced-features/amp-support/adding-amp-components.md
  docs/advanced-features/amp-support/amp-in-static-html-export.md
  docs/advanced-features/amp-support/amp-validation.md
  docs/advanced-features/amp-support/introduction.md
  docs/advanced-features/amp-support/typescript.md
  docs/advanced-features/automatic-static-optimization.md
  docs/advanced-features/custom-app.md
  docs/advanced-features/custom-configuration.md
  docs/advanced-features/custom-document.md
  docs/advanced-features/custom-error-page.md
  docs/advanced-features/custom-server.md
  docs/advanced-features/customizing-babel-config.md
  docs/advanced-features/dynamic-import.md
  docs/advanced-features/src-directory.md
  docs/advanced-features/static-html-export.md
  docs/api-reference/cli.md
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next.config.js/build-target.md
  docs/api-reference/next.config.js/cdn-support-with-asset-prefix.md
  docs/api-reference/next.config.js/compression.md
  docs/api-reference/next.config.js/configuring-onDemandEntries.md
  docs/api-reference/next.config.js/configuring-the-build-id.md
  docs/api-reference/next.config.js/custom-page-extensions.md
  docs/api-reference/next.config.js/custom-webpack-config.md
  docs/api-reference/next.config.js/disabling-etag-generation.md
  docs/api-reference/next.config.js/disabling-x-powered-by.md
  docs/api-reference/next.config.js/environment-variables.md
  docs/api-reference/next.config.js/exportPathMap.md
  docs/api-reference/next.config.js/ignoring-typescript-errors.md
  docs/api-reference/next.config.js/introduction.md
  docs/api-reference/next.config.js/runtime-configuration.md
  docs/api-reference/next.config.js/setting-a-custom-build-directory.md
  docs/api-reference/next.config.js/static-optimization-indicator.md
  docs/api-reference/next/amp.md
  docs/api-reference/next/head.md
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
  docs/api-routes/api-middlewares.md
  docs/api-routes/dynamic-api-routes.md
  docs/api-routes/introduction.md
  docs/api-routes/response-helpers.md
  docs/basic-features/built-in-css-support.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  docs/basic-features/static-file-serving.md
  docs/basic-features/typescript.md
  docs/concepts/_data-fetching.md
  docs/concepts/_server-side-and-client-side.md
  docs/deployment.md
  docs/faq.md
  docs/getting-started.md
  docs/manifest.json
  docs/routing/dynamic-routes.md
  docs/routing/imperatively.md
  docs/routing/introduction.md
  docs/routing/shallow-routing.md
Labels: Documentation

#9814 Turn on CSS support for config test
  test/integration/config/next.config.js
Labels: ready to land

#9788 [with-react-intl] Fix message extraction script on consecutive builds
  examples/with-react-intl/.babelrc
  examples/with-react-intl/package.json
  examples/with-react-intl/scripts/default-lang.js
  examples/with-react-intl/scripts/extract.js
Labels: Type: Example, ready to land

#9815 Add Specific Error for Function in PostCSS Config
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css-customization/test/index.test.js
  test/integration/css-fixtures/bad-custom-configuration-func/pages/_app.js
  test/integration/css-fixtures/bad-custom-configuration-func/pages/index.js
  test/integration/css-fixtures/bad-custom-configuration-func/postcss.config.js
  test/integration/css-fixtures/bad-custom-configuration-func/styles/global.css
Labels: Type: Enhancement, ready to land

#9568 Add checking filesystem after each rewrite
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/blog/[post]/index.js
  test/integration/custom-routes/pages/hello.js
  test/integration/custom-routes/public/blog/data.json
  test/integration/custom-routes/test/index.test.js
Labels: Type: Enhancement, ready to land

#9817 Update error checking for AMP validator tests
  test/integration/amp-export-validation/test/index.test.js
Labels: ready to land

#9818 Optimize Prefetching
  packages/next/build/webpack-config.ts
  packages/next/client/page-loader.js
  test/integration/css-client-nav/test/index.test.js
  test/integration/link-ref/test/index.test.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/production/test/index.test.js
Labels: Type: Enhancement, ready to land

#9823 Fix IE11 Prefetching
  packages/next/client/page-loader.js
Labels: ready to land

#9825 Fix Chrome-Only Tests
  test/integration/production/test/index.test.js
Labels: ready to land

#9838 Allow Empty API Body
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/test/index.test.js
Labels: ready to land

#9821 Add selenium-webdriver and testing cross-browser in PRs
  .circleci/config.yml
  azure-pipelines.yml
  package.json
  test/integration/client-navigation/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/production/pages/prefetch.js
  test/integration/production/test/index.test.js
  test/jest-environment.js
  test/jest-global-setup.js
  test/lib/next-webdriver.js
  yarn.lock
Labels: ready to land

#9842 Allow Boolean API Response
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/bool.js
  test/integration/api-support/test/index.test.js
Labels: ready to land

#9843 Do Not Run File Loader on Server
  packages/next/build/webpack/config/blocks/css/index.ts
Labels: ready to land

#9849 Special Global CSS Error within `node_modules`
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  test/integration/css-fixtures/invalid-global-module/node_modules/example/index.css
  test/integration/css-fixtures/invalid-global-module/node_modules/example/index.js
  test/integration/css-fixtures/invalid-global-module/node_modules/example/index.mjs
  test/integration/css-fixtures/invalid-global-module/node_modules/example/package.json
  test/integration/css-fixtures/invalid-global-module/pages/index.js
  test/integration/css-modules/test/index.test.js
Labels: Type: Enhancement, ready to land

#9850 Expose CSS Issuer When Error
  packages/next/build/webpack/loaders/error-loader.ts
  packages/next/taskfile.js
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
Labels: Type: Enhancement, ready to land

#9855 Test Nested CSS Imports
  test/integration/css-fixtures/nm-module-nested/node_modules/example/index.js
  test/integration/css-fixtures/nm-module-nested/node_modules/example/index.mjs
  test/integration/css-fixtures/nm-module-nested/node_modules/example/index.module.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/other.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/other2.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/other3.css
  test/integration/css-fixtures/nm-module-nested/node_modules/example/package.json
  test/integration/css-fixtures/nm-module-nested/pages/index.js
  test/integration/css-fixtures/npm-import-nested/node_modules/example/index.js
  test/integration/css-fixtures/npm-import-nested/node_modules/example/index.mjs
  test/integration/css-fixtures/npm-import-nested/node_modules/example/other.css
  test/integration/css-fixtures/npm-import-nested/node_modules/example/package.json
  test/integration/css-fixtures/npm-import-nested/node_modules/example/test.css
  test/integration/css-fixtures/npm-import-nested/pages/_app.js
  test/integration/css-fixtures/npm-import-nested/pages/index.js
  test/integration/css-fixtures/npm-import-nested/styles/global.css
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
Labels: ready to land

#9864 Register Created Bindings
  packages/next/build/babel/plugins/jsx-pragma.ts
Labels: ready to land

#9853 Refactor Router#getInitialProps
  packages/next/next-server/lib/router/router.ts
Labels: ready to land

#9884 Refactor SSG Data Fetching
  packages/next/next-server/lib/router/router.ts
Labels: ready to land

#9885 Add test ensuring basePath is added to routes-manifest
  test/integration/basepath/test/index.test.js
Labels: ready to land

#9816 Add error for rewrite to auto-exported dynamic page
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/another/[id].js
  test/integration/custom-routes/test/index.test.js
Labels: ready to land

#9886 [Docs] Remove the custom configuration page
  docs/advanced-features/custom-configuration.md
  docs/manifest.json
Labels: ready to land

#9887 Use Cached SSG Data on History Navigation
  packages/next/next-server/lib/router/router.ts
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#9889 Defer Loading CSS Configuration
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/integration/css-customization/test/index.test.js
  test/integration/css-fixtures/custom-configuration-legacy/next.config.js
  test/integration/css-fixtures/custom-configuration-legacy/pages/_app.js
  test/integration/css-fixtures/custom-configuration-legacy/pages/index.js
  test/integration/css-fixtures/custom-configuration-legacy/postcss.config.js
  test/integration/css-fixtures/custom-configuration-legacy/styles/global.css
Labels: ready to land

#9783 Support static export and server hosted build and update docs
  examples/with-next-offline/README.md
  examples/with-next-offline/next.config.js
  examples/with-next-offline/package.json
Labels: Type: Example

#9894 Fix Potential Duplication of Page Loading
  packages/next/client/page-loader.js
Labels: ready to land

#9797 Ensure params in query are updated for custom-routes
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: Type: Enhancement
