Repository vercel/next.js, pull requests merged in 2019-08, with the labels that each got.

#8200 Update TypeScript Instructions
  packages/next/README.md
Labels: Documentation

#8205 Add some notes about Now deployment
  UPGRADING.md
  packages/next/README.md
Labels: Documentation

#8203 upgrading guide rename initialprops
  UPGRADING.md
Labels: Documentation

#8224 Add Create Next App instructions
  packages/create-next-app/README.md
  packages/next/README.md
Labels: Documentation

#8246 Experimental: Serverless Trace target
  package.json
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/export/index.js
  test/integration/external-assets/next.config.js
  test/integration/external-assets/pages/about/history.js
  test/integration/external-assets/test/index.test.js
  test/integration/serverless-trace/components/hello.js
  test/integration/serverless-trace/next.config.js
  test/integration/serverless-trace/pages/abc.js
  test/integration/serverless-trace/pages/api/hello.js
  test/integration/serverless-trace/pages/api/posts/[id].js
  test/integration/serverless-trace/pages/dynamic-two.js
  test/integration/serverless-trace/pages/dynamic.js
  test/integration/serverless-trace/pages/fetch.js
  test/integration/serverless-trace/pages/index.js
  test/integration/serverless-trace/pages/some-amp.js
  test/integration/serverless-trace/public/hello.txt
  test/integration/serverless-trace/test/index.test.js
  yarn.lock
Labels: Feature: Compilation, Type: Feature Request

#7983 Implement `experimentalPrerender` option
  packages/next-server/lib/constants.ts
  packages/next-server/lib/router/router.ts
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  packages/next-server/types/index.d.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/flying-shuttle.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/client/index.js
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/normal.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: Type: Enhancement

#8231 Add warning for invalid href being passed to router
  errors/invalid-href-passed.md
  packages/next-server/lib/router/router.ts
  packages/next/client/link.tsx
  test/integration/invalid-href/pages/first.js
  test/integration/invalid-href/pages/index.js
  test/integration/invalid-href/pages/second.js
  test/integration/invalid-href/test/index.test.js
Labels: Documentation, Type: Enhancement

#8275 Migrate amp-toolbox-optimizer to @ampproject/toolbox-optimizer
  packages/next-server/package.json
  packages/next-server/server/optimize-amp.ts
  packages/next/build/webpack-config.ts
  yarn.lock
Labels: Type: Enhancement

#8277 Handle backslashes in exportedFiles
  packages/next/build/index.ts
Labels: priority: very high

#7696 Implement granular chunks
  packages/next-server/server/config.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/client/page-loader.js
  test/integration/production/test/index.test.js
Labels: Type: Collaboration

#8290 Remove cache clearing from static-checker
  packages/next/build/static-checker.ts
Labels: Type: Bug

#8305 Run migration script for GitHub Actions
  .github/main.workflow
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Labels: Type: Needs Investigation

#8327 Deprecate Container usage
  examples/form-handler/pages/_app.js
  examples/with-antd-mobile/pages/_app.js
  examples/with-apollo-and-redux-saga/pages/_app.js
  examples/with-apollo-and-redux/pages/_app.js
  examples/with-apollo-auth/pages/_app.js
  examples/with-apollo/pages/_app.js
  examples/with-app-layout/pages/_app.js
  examples/with-context-api/pages/_app.js
  examples/with-fela/pages/_app.js
  examples/with-flow/pages/_app.js
  examples/with-graphql-hooks/pages/_app.js
  examples/with-graphql-react/pages/_app.js
  examples/with-grommet/pages/_app.js
  examples/with-immutable-redux-wrapper/pages/_app.js
  examples/with-kea/pages/_app.js
  examples/with-loading/pages/_app.js
  examples/with-mobx-react-lite/pages/_app.js
  examples/with-mobx-state-tree-typescript/pages/_app.tsx
  examples/with-mobx-state-tree/pages/_app.js
  examples/with-mobx/pages/_app.js
  examples/with-next-page-transitions/pages/_app.js
  examples/with-next-seo/pages/_app.js
  examples/with-orbit-components/pages/_app.js
  examples/with-overmind/pages/_app.js
  examples/with-portals-ssr/pages/_app.js
  examples/with-prefetching/pages/_app.js
  examples/with-react-ga/pages/_app.js
  examples/with-react-helmet/pages/_app.js
  examples/with-react-intl/pages/_app.js
  examples/with-react-multi-carousel/pages/_app.js
  examples/with-react-relay-network-modern/pages/_app.js
  examples/with-react-useragent/pages/_app.js
  examples/with-redux-observable/pages/_app.js
  examples/with-redux-persist/pages/_app.js
  examples/with-redux-saga/pages/_app.js
  examples/with-redux-thunk/pages/_app.js
  examples/with-redux-wrapper/pages/_app.js
  examples/with-redux/pages/_app.js
  examples/with-rematch/pages/_app.js
  examples/with-segment-analytics/pages/_app.js
  examples/with-sentry-simple/pages/_app.js
  examples/with-socket.io/pages/_app.js
  examples/with-styled-components/pages/_app.js
  examples/with-styletron/pages/_app.js
  examples/with-tailwindcss/pages/_app.js
  examples/with-unstated/pages/_app.js
  packages/next/README.md
  packages/next/pages/_app.tsx
Labels: Documentation

#8287 Followup optimizations for new experimentalPrerender
  packages/next-server/lib/router/router.ts
  packages/next-server/server/render.tsx
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/client/index.js
  test/.stats-app/stats-config.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, lgtm

#8284 Prevent false positive experimental warning
  packages/next-server/server/config.ts
  test/integration/config-experimental-warning/pages/index.js
  test/integration/config-experimental-warning/test/index.test.js
Labels: lgtm

#8276 Add warning for missing <Head>
  errors/next-head-count-missing.md
  packages/next/client/head-manager.js
Labels: Documentation, Type: Enhancement, lgtm

#8232 Escape output names for modern bundles to prevent replacing
  packages/next/build/webpack-config.ts
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/test/index.test.js
Labels: lgtm

#8077 Remove accidental support for invalid JavaScript
  packages/next/build/babel/preset.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
Labels: Type: Enhancement, lgtm

#8233 fix: Warn when user specifies prefetch option as `true`
  errors/prefetch-true-deprecated.md
  packages/next/client/link.tsx
  test/integration/basic/pages/development-logs/index.js
  test/integration/basic/pages/development-logs/link-with-no-prefetch.js
  test/integration/basic/pages/development-logs/link-with-prefetch-false.js
  test/integration/basic/test/development-logs.js
  test/integration/production/pages/development-logs/index.js
  test/integration/production/test/index.test.js
Labels: lgtm

#8332 Fix TypeScript setup with empty file
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/tsconfig-verifier/test/index.test.js
Labels: Documentation

#8340 Detect @types/ package for compiled packages
  packages/next/taskfile-ncc.js
Labels: lgtm

#8339 🐛 Support multiple Next.js versions in one file
  packages/next-server/taskfile-typescript.js
  packages/next/taskfile-babel.js
Labels: lgtm

#8335 Add test for AMP errors during auto prerendering
  test/integration/amp-export-validation/test/index.test.js
Labels: Type: Enhancement, lgtm

#8341 Minify ncc'd packages for download speed
  packages/next/taskfile-ncc.js
Labels: lgtm

#8293 Use 'initial' setting for SplitChunksPlugin
  packages/next/build/webpack-config.ts
  test/integration/chunking/next.config.js
  test/integration/chunking/pages/index.js
  test/integration/chunking/pages/page1.js
  test/integration/chunking/pages/page2.js
  test/integration/chunking/test/index.test.js
Labels: Type: Collaboration, lgtm

#8337 Add warning for disabled minification during build
  errors/minification-disabled.md
  packages/next/build/index.ts
  test/integration/build-warnings/next.config.js
  test/integration/build-warnings/pages/index.js
  test/integration/build-warnings/test/index.test.js
Labels: ready to land

#8348 Fixes nav start argument in user timing check
  packages/next/client/index.js
Labels: ready to land

#8344 Add missing dependency "compression" to next-server
  packages/next-server/package.json
  packages/next/package.json
Labels: ready to land

#8353 Remove experimental async-to-promises code
  packages/next-server/server/config.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/package.json
  yarn.lock
Labels: ready to land

#8352 Fix AppTree type not allowing extra props
  packages/next-server/lib/utils.ts
  test/integration/app-tree/pages/_app.tsx
  test/integration/app-tree/tsconfig.json
Labels: Type: Bug, ready to land

#8359 Add a note for multiple dynamic route segments
  packages/next/README.md
Labels: Documentation, ready to land

#8360 Fix chunking tests failing from timeout being too low
  test/integration/chunking/test/index.test.js
Labels: ready to land

#8355 Define `typeof window` for application code only
  package.json
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/package.json
  yarn.lock
Labels: ready to land

#8361 Add tests for typeof window replacing
  test/integration/typeof-window-replace/app/node_modules/comps/index.js
  test/integration/typeof-window-replace/app/node_modules/comps/package.json
  test/integration/typeof-window-replace/app/package.json
  test/integration/typeof-window-replace/app/pages/index.js
  test/integration/typeof-window-replace/test/index.test.js
Labels: ready to land

#8362 updated links from #useRouter to #userouter
  packages/next/README.md
Labels: Documentation, ready to land

#8371 Create a unique instance of transform-define
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/integration/babel/.babelrc
Labels: ready to land

#8357 Change componentWillMount to UNSAFE
  packages/next-server/lib/loadable.js
Labels: ready to land

#8374 Don't look up for TS files in dev
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/tsconfig-verifier/test/index.test.js
Labels: ready to land

#8380 Use `data-next-page` instead of `id=__NEXT_PAGE__`
  packages/next/client/page-loader.js
  packages/next/pages/_document.tsx
Labels: Type: Enhancement, ready to land

#8350 Feature: Add transparent JSX optimization
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/unit/next-babel.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#8381 Hook destructuring optimization
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/babel/preset.ts
  test/.stats-app/pages/hooks.js
  test/unit/next-babel.test.js
Labels: Type: Enhancement, ready to land

#8388 Update to replace asPath for static pages in dev mode
  packages/next-server/server/render.tsx
  test/integration/auto-export/pages/[post]/[cmnt].js
  test/integration/auto-export/pages/[post]/index.js
  test/integration/auto-export/test/index.test.js
Labels: Type: Bug, ready to land

#8428 Add example with `forwardRef` for `next/link` to readme
  packages/next/README.md
Labels: Documentation, ready to land

#8426 Update Zones Documentation
  packages/next/README.md
Labels: Documentation, ready to land

#8399 [with-electron] Upgrade electron & transpile for the installed version
  examples/with-electron/package.json
  examples/with-electron/renderer/babel.config.js
Labels: ready to land

#8427 Adds basic support for PnP
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/package.json
Labels: Type: Enhancement, ready to land

#8416 Update with-apollo-auth example
  examples/with-apollo-auth/components/RegisterBox.js
  examples/with-apollo-auth/components/SigninBox.js
  examples/with-apollo-auth/lib/withApollo.js
  examples/with-apollo-auth/package.json
  examples/with-apollo-auth/pages/_app.js
  examples/with-apollo-auth/pages/create-account.js
  examples/with-apollo-auth/pages/index.js
Labels: Type: Example, ready to land

#8431 Adjust Create Next App install env
  packages/create-next-app/helpers/install.ts
Labels: Type: Enhancement, ready to land

#8432 Adjust experimental warning
  packages/next-server/server/config.ts
  test/integration/config-experimental-warning/test/index.test.js
Labels: Type: Enhancement, ready to land

#8429 🗜 Optimize client-side routing manifest
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/package.json
  test/.stats-app/stats-config.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#8433 Remove Flying Shuttle experiment
  packages/next-server/lib/constants.ts
  packages/next-server/lib/utils.ts
  packages/next-server/server/config.ts
  packages/next-server/server/render.tsx
  packages/next/build/entries.ts
  packages/next/build/flying-shuttle.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-minify-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/all-modules-identified-plugin.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  packages/next/build/webpack/plugins/hashed-chunk-ids-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/build/webpack/plugins/shared-runtime-plugin.ts
  packages/next/build/write-build-id.ts
  packages/next/client/index.js
  packages/next/client/page-loader.js
  packages/next/pages/_document.tsx
  packages/next/server/hot-reloader.js
  packages/next/types/webpack.d.ts
  test/integration/auto-export-fs/next.config.js
  test/integration/auto-export-fs/pages/123/hello.js
  test/integration/auto-export-fs/pages/abc.js
  test/integration/auto-export-fs/pages/another.js
  test/integration/auto-export-fs/test/index.test.js
  test/integration/flying-shuttle/components/head.js
  test/integration/flying-shuttle/components/nav.js
  test/integration/flying-shuttle/components/something.js
  test/integration/flying-shuttle/components/something2.js
  test/integration/flying-shuttle/next.config.js
  test/integration/flying-shuttle/pages/about/index.js
  test/integration/flying-shuttle/pages/about/index.js2
  test/integration/flying-shuttle/pages/index.js
  test/integration/flying-shuttle/pages/other.js
  test/integration/flying-shuttle/run-server.js
  test/integration/flying-shuttle/server.js
  test/integration/flying-shuttle/test/index.test.js
  test/unit/select-pages/__snapshots__/select-pages.test.js.snap
  test/unit/select-pages/pages/_app.js
  test/unit/select-pages/pages/_document.js
  test/unit/select-pages/pages/a.js
  test/unit/select-pages/pages/b.jsx
  test/unit/select-pages/pages/c/index.mdx
  test/unit/select-pages/select-pages.test.js
Labels: ready to land

#8445 Remove `__NEXT_REPLACE__BUILD_ID__` workaround
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
Labels: ready to land

#8446 Fix custom page extension in development
  packages/next/server/next-dev-server.js
  test/integration/custom-page-extension/next.config.js
  test/integration/custom-page-extension/pages/blog/[pid].page.js
  test/integration/custom-page-extension/pages/blog/index.page.js
  test/integration/custom-page-extension/test/index.test.js
Labels: Type: Bug, ready to land

#8453 Add package.json to with-zones example, make create-next-app work
  examples/with-zones/README.md
  examples/with-zones/package.json
Labels: Type: Example, ready to land

#8345 Initial optimizeLibraries experimental flag
  package.json
  packages/next-server/server/config.ts
  packages/next/build/webpack-config.ts
  test/integration/future/next.config.js
  test/integration/future/pages/index.js
  test/integration/future/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#8447 Remove _app files from modern build manifest
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  test/integration/chunking-minimal/next.config.js
  test/integration/chunking-minimal/pages/index.js
  test/integration/chunking-minimal/test/index.test.js
Labels: Type: Enhancement, ready to land

#8456 Fix a broken link in webpack config
  packages/next/build/webpack-config.ts
  test/integration/config-promise-error/test/index.test.js
Labels: ready to land

#8465 Remove prefetch attributes from with-apollo example
  examples/with-apollo/components/Header.js
Labels: Type: Example, ready to land

#8450 Adjust lib chunk naming algorithm and prevent duplicate react-dom
  packages/next/build/webpack-config.ts
Labels: ready to land

#8455 Fix bug in hook destructuring optimization when ignoring array elements
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  test/unit/next-babel.test.js
Labels: Type: Bug, priority: high, ready to land

#8474 Add warning when empty object is returned from getInitialProps
  errors/empty-object-getInitialProps.md
  packages/next-server/lib/utils.ts
  packages/next-server/server/render.tsx
  test/integration/empty-object-getInitialProps/pages/another.js
  test/integration/empty-object-getInitialProps/pages/index.js
  test/integration/empty-object-getInitialProps/pages/static.js
  test/integration/empty-object-getInitialProps/test/index.test.js
Labels: Documentation, ready to land

#8475 Add deprecation warning for App Container
  errors/app-container-deprecated.md
  packages/next/pages/_app.tsx
  test/integration/app-aspath/pages/_app.js
  test/integration/app-document/pages/_app.js
  test/integration/app-tree/pages/_app.tsx
  test/integration/no-override-next-props/pages/_app.js
  test/integration/production-config/pages/_app.js
  test/integration/with-router/pages/_app.js
Labels: Type: Enhancement, ready to land

#8476 Debug TypeScript test suite
  packages/next/build/webpack-config.ts
  packages/next/client/dev/on-demand-entries-client.js
  test/integration/typescript-hmr/next.config.js
  test/integration/typescript-hmr/pages/hello.tsx
  test/integration/typescript-hmr/pages/type-error-recover.tsx
  test/integration/typescript-hmr/test/index.test.js
  test/integration/typescript-hmr/tsconfig.json
  test/integration/typescript/test/hmr.js
  test/integration/typescript/test/index.test.js
  test/integration/typescript/test/typescript.js
  test/lib/next-test-utils.js
Labels: ready to land

#8479 Check for TypeScript files for auto setup
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/tsconfig-verifier/test/index.test.js
  test/lib/next-test-utils.js
Labels: Type: Enhancement, ready to land

#8488 Fix invalid href in with-tailwindcss example
  examples/with-tailwindcss/components/nav.js
Labels: Type: Example, ready to land

#8482 Tweaks and test for library chunks fixes
  packages/next/build/webpack-config.ts
  test/integration/chunking/components/one.js
  test/integration/chunking/next.config.js
  test/integration/chunking/pages/page2.js
  test/integration/chunking/test/index.test.js
Labels: ready to land

#8477 Update `./static/` folder documentation
  packages/next/README.md
Labels: Documentation, ready to land

#8490 Refactor data-fetch example
  examples/data-fetch/pages/index.js
  examples/data-fetch/pages/preact.js
Labels: Type: Example, ready to land

#8497 Update manifest structure for experimentalPrerender
  packages/next/build/index.ts
  test/integration/prerender/test/index.test.js
Labels: ready to land

#8492 Add config for diffing fetched pages
  test/.stats-app/stats-config.js
Labels: ready to land

#8499 Add version property to Next.js instance
  packages/next/client/index.js
  test/integration/production/test/index.test.js
Labels: Type: Enhancement, ready to land

#8496 Replace worker-farm with jest-worker
  packages/next/build/index.ts
  packages/next/build/static-checker.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/worker.js
  packages/next/package.json
  yarn.lock
Labels: Type: Enhancement, ready to land

#8505 Fix backslashes in stats causing tests to fail on windows
  test/integration/chunking/test/index.test.js
Labels: ready to land

#8507 Add missing dependency to next-server
  packages/next-server/package.json
Labels: ready to land

#8504 Remove _app from with-apollo example
  examples/with-apollo/README.md
  examples/with-apollo/lib/with-apollo.js
  examples/with-apollo/pages/_app.js
  examples/with-apollo/pages/about.js
  examples/with-apollo/pages/index.js
Labels: Type: Example, ready to land

#8559 Fix rerenders in with-context-api example
  examples/with-context-api/components/CounterProvider.js
Labels: Type: Example, ready to land

#8558 Refactor active-class-name example
  examples/active-class-name/components/ActiveLink.js
  examples/active-class-name/components/Link.js
  examples/active-class-name/components/Nav.js
  examples/active-class-name/pages/about.js
  examples/active-class-name/pages/index.js
Labels: Type: Example, ready to land

#8529 Anonymous Telemetry
  packages/next/bin/next.ts
  packages/next/build/index.ts
  packages/next/cli/next-telemetry.ts
  packages/next/package.json
  packages/next/server/next-dev-server.js
  packages/next/taskfile.js
  packages/next/telemetry/anonymous-traits.ts
  packages/next/telemetry/events/build.ts
  packages/next/telemetry/events/index.ts
  packages/next/telemetry/events/plugins.ts
  packages/next/telemetry/events/version.ts
  packages/next/telemetry/post-payload.ts
  packages/next/telemetry/project-id.ts
  packages/next/telemetry/storage.ts
  packages/next/types/misc.d.ts
  yarn.lock
Labels: Type: Enhancement, ready to land

#8435 Encode URL paths in HTML and CSR
  packages/next/client/page-loader.js
  packages/next/pages/_document.tsx
Labels: ready to land

#8561 Add err.sh for incompatible href and as
  errors/incompatible-href-as.md
  packages/next-server/lib/router/router.ts
Labels: Documentation, ready to land

#8527 Update performance marking
  packages/next/client/index.js
  test/integration/production/pages/mark-in-head.js
  test/integration/production/test/index.test.js
Labels: Type: Bug, ready to land
