Repository vercel/next.js, pull requests merged in 2019-07, with the labels that each got.

#7760 Remove old docs
  packages/next/README.md
Labels: Documentation

#7787 Note TypeScript migration
  UPGRADING.md
Labels: Documentation

#7790 Set `cancelled` property on routeChangeError error
  packages/next-server/lib/router/router.ts
  test/integration/route-load-cancel/pages/index.js
  test/integration/route-load-cancel/pages/page1.js
  test/integration/route-load-cancel/pages/page2.js
  test/integration/route-load-cancel/test/index.test.js
Labels: Type: Bug

#7795 Upgrade to webpack with latest acorn
  packages/next/package.json
  yarn.lock
Labels: Is Upstream, Type: Bug

#7806 Switch all examples to `next@latest`
  examples/api-routes-micro/package.json
  examples/api-routes/package.json
  examples/blog-starter/package.json
  examples/custom-server-actionhero/package.json
  examples/dynamic-routing/package.json
  examples/public-file-serving/package.json
  examples/with-app-layout/package.json
  examples/with-sitemap-and-robots-express-server-typescript/package.json
  examples/with-sitemap-and-robots-express-server/package.json
  examples/with-typescript/package.json
Labels: Documentation

#7812 Fix package count being zero when project contains blocked name
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  test/integration/build-stats-output/react-site/pages/something.js
  test/integration/build-stats-output/test/index.test.js
Labels: Type: Bug

#7816 Update docs about Automatic Prerendering
  packages/next/README.md
Labels: Documentation

#7831 Miscellaneous doc updates
  packages/next/README.md
Labels: Documentation

#7842 Add a test for module.exports from a page
  packages/next/build/utils.ts
  test/integration/auto-export/pages/[post].js
  test/integration/auto-export/pages/commonjs1.js
  test/integration/auto-export/pages/commonjs2.js
  test/integration/auto-export/test/index.test.js
Labels: Type: Bug

#7863 Allow React.Fragment for Document styles
  packages/next-server/lib/utils.ts
  packages/next/pages/_document.tsx
Labels: Type: Bug

#7876 Handle empty directory
  packages/next/server/next-dev-server.js
  test/integration/empty-project/next.config.js
  test/integration/empty-project/pages/.gitkeep
  test/integration/empty-project/test/index.test.js
Labels: Type: Bug

#7883 Fix placeholder values being added when exporting from serverless
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/dynamic-routing/test/index.test.js
Labels: Type: Bug

#7846 `exportPathMap` dynamic routes params fix
  errors/export-path-mismatch.md
  packages/next/export/worker.js
  test/integration/export/next.config.js
  test/integration/export/pages/blog/[post]/comment/[id].js
  test/integration/export/test/dynamic.js
  test/integration/export/test/index.test.js
  test/integration/export/test/ssr.js
  test/lib/next-test-utils.js
Labels: Type: Bug

#7898 Add support for legacy server npm modules
  package.json
  packages/next/build/webpack-config.ts
  test/integration/legacy-pkg-gently/next.config.js
  test/integration/legacy-pkg-gently/pages/api/hello.js
  test/integration/legacy-pkg-gently/test/index.test.js
  yarn.lock
Labels: Type: Bug

#7955 fix: Ensure ergonomic handling of non-page in `./pages/`
  packages/next/build/index.ts
  test/integration/handle-non-page-in-pages/next.config.js
  test/integration/handle-non-page-in-pages/pages/invalid.tsx
  test/integration/handle-non-page-in-pages/pages/valid.tsx
  test/integration/handle-non-page-in-pages/test/index.test.js
  test/integration/handle-non-page-in-pages/tsconfig.json
  test/integration/invalid-page-automatic-static-optimization/pages/also-invalid.js
  test/integration/invalid-page-automatic-static-optimization/pages/also-valid.js
  test/integration/invalid-page-automatic-static-optimization/pages/invalid.js
  test/integration/invalid-page-automatic-static-optimization/pages/valid.js
  test/integration/invalid-page-automatic-static-optimization/test/index.test.js
Labels: Type: Bug, Type: Enhancement

#7986 Fix client-side hydration with dynamic routes
  packages/next-server/lib/router/router.ts
  packages/next/client/index.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/on-mount/[post].js
  test/integration/dynamic-routing/test/index.test.js
Labels: Type: Bug

#7952 Fix types for _error page
  packages/next-server/lib/dynamic.tsx
  packages/next/pages/_error.tsx
  test/integration/typescript/pages/_error.tsx
Labels: Type: Bug

#7988 Only copy `public/` directory if enabled
  packages/next/export/index.js
Labels: Type: Bug

#7984 Add default value for pageConfig for custom _error
  packages/next-server/server/render.tsx
  test/integration/custom-error/pages/_error.js
  test/integration/custom-error/pages/index.js
  test/integration/custom-error/test/index.test.js
Labels: Type: Bug

#8001 Add dynamic link docs to the dynamic routing section
  packages/next/README.md
Labels: Documentation

#8005 Avoid sending user errors to client
  packages/next-server/server/api-utils.ts
  packages/next-server/server/next-server.ts
  test/integration/api-support/pages/api/user-error.js
  test/integration/api-support/test/index.test.js
Labels: Type: Bug

#8016 Handle windows backslashes when checking ssr-prepass
  packages/next/build/webpack-config.ts
Labels: Type: Bug

#8055 Comment out GIP in Custom <App>
  packages/next/README.md
Labels: Documentation

#8056 Remove public/ file example
  examples/public-file-serving/README.md
  examples/public-file-serving/next.config.js
  examples/public-file-serving/now.json
  examples/public-file-serving/package.json
  examples/public-file-serving/pages/index.js
  examples/public-file-serving/public/favicon.ico
  examples/public-file-serving/public/robots.txt
  examples/public-file-serving/public/sitemap.xml
Labels: Documentation

#8057 Remove `now.json` from examples
  examples/dynamic-routing/now.json
  examples/with-graphql-hooks/.nowignore
  examples/with-graphql-hooks/now.json
  examples/with-react-multi-carousel/now.json
  examples/with-semantic-ui/now.json
Labels: Documentation

#7961 Modern JS for SSR Bundles
  packages/next/build/babel/preset.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
Labels: Type: Collaboration, Type: Enhancement

#7704 Experimental module/nomodule support
  packages/next-server/server/config.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/client/page-loader.js
  packages/next/export/index.js
  packages/next/export/worker.js
  packages/next/pages/_document.tsx
  packages/next/types/webpack.d.ts
  test/integration/modern-mode/next.config.js
  test/integration/modern-mode/pages/index.js
  test/integration/modern-mode/test/index.test.js
  test/integration/ondemand/test/index.test.js
  test/integration/production/pages/amp-hybrid.js
  test/integration/production/pages/amp.js
  test/integration/size-limit/next.config.js
  test/integration/size-limit/test/index.test.js
Labels: Type: Collaboration

#8098 Revert "Improve type definitions"
  packages/next-server/lib/utils.ts
  packages/next/client/router.ts
  packages/next/types/index.d.ts
Labels: lgtm

#8108 HTTP methods docs and REST example
  examples/api-routes-rest/README.md
  examples/api-routes-rest/package.json
  examples/api-routes-rest/pages/api/user/[id].js
  examples/api-routes-rest/pages/api/users.js
  examples/api-routes-rest/pages/index.js
  examples/api-routes-rest/pages/user/[id].js
  packages/next/README.md
Labels: lgtm

#7896 Configuration for body parsing size limit
  packages/next-server/server/api-utils.ts
  packages/next-server/types/index.d.ts
  packages/next/README.md
  test/integration/api-support/pages/api/big-parse.js
  test/integration/api-support/test/index.test.js
Labels: lgtm

#8020 Add next-head-count & remove next-head class
  packages/next-server/lib/head.tsx
  packages/next-server/server/render.tsx
  packages/next/client/head-manager.js
  packages/next/pages/_document.tsx
  test/integration/client-navigation/test/rendering.js
Labels: lgtm

#8110 Dynamic routes clarification
  packages/next/README.md
Labels: Documentation, lgtm

#8112 Fix index.js for API routes
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/constants.ts
  test/integration/api-support/pages/api/index.js
  test/integration/api-support/test/index.test.js
Labels: lgtm

#8021 Fix onError prop-type warning in Link
  packages/next/client/link.tsx
  test/integration/typescript/components/link.tsx
Labels: lgtm

#8147 Update webpack to 4.38.0
  packages/next/package.json
Labels: Type: Enhancement

#8066 Optional Server Compression
  packages/next-server/server/config.ts
  packages/next-server/server/next-server.ts
  packages/next/package.json
  test/integration/compression/pages/index.js
  test/integration/compression/test/index.test.js
  yarn.lock
Labels: Type: Collaboration, Type: Enhancement

#8047 fix: Add error message for duplicate route param name
  packages/next-server/lib/router/utils/sorted-routes.ts
  test/unit/page-route-sorter.test.js
Labels: Type: Enhancement
