Repository vercel/next.js, pull requests merged in 2019-11, with the labels that each got.

#9278 Require Node 8.10
  packages/next/package.json
Labels: ready to land

#9280 Disallow iSSG revalidation period of zero
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9283 Fixed Utility Method Documentation Spelling
  packages/next/next-server/server/api-utils.ts
Labels: Documentation, ready to land

#9168 Polyfill `window.fetch` by Default
  packages/next/build/index.ts
  packages/next/build/polyfills/fetch.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/polyfills.js
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/build-stats-output/test/index.test.js
  test/integration/defer-scripts/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9251 Add Patternfly example
  examples/with-patternfly/README.md
  examples/with-patternfly/next.config.js
  examples/with-patternfly/package.json
  examples/with-patternfly/pages/_app.js
  examples/with-patternfly/pages/index.js
Labels: Type: Example, ready to land

#9282 Handle backslashes for plugins
  packages/next/build/plugins/collect-plugins.ts
  packages/next/build/webpack-config.ts
Labels: ready to land

#9287 Call getInitialProps on Component when it’s not defined on App
  packages/next/next-server/lib/utils.ts
  test/integration/app-functional/next.config.js
  test/integration/app-functional/pages/_app.js
  test/integration/app-functional/pages/index.js
  test/integration/app-functional/shared-module.js
  test/integration/app-functional/test/index.test.js
Labels: ready to land

#9281 Simplify Build Output
  examples/with-patternfly/next.config.js
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/chunk-graph-plugin.ts
  test/integration/build-stats-output/react-site/pages/something.js
  test/integration/build-stats-output/test/index.test.js
Labels: ready to land

#9250 Enforce the `framework` Chunk
  packages/next/build/webpack-config.ts
Labels: Type: Enhancement, ready to land

#9308 Allow TypeScript Namespaces
  packages/next/build/babel/preset.ts
Labels: Type: Enhancement, ready to land

#9306 Prevent CSS script tags in granular chunks
  packages/next/client/page-loader.js
Labels: Type: Needs Investigation

#9305 Only add static files route if folder exists
  packages/next/next-server/server/next-server.ts
  test/integration/static-page-name/pages/index.js
  test/integration/static-page-name/pages/static.js
  test/integration/static-page-name/test/index.test.js
Labels: Type: Enhancement

#9322 Track framework bundle separately
  test/.stats-app/stats-config.js
Labels: ready to land

#9317 Revert experimental plugins code from sentry example
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/_error.js
Labels: ready to land

#9327 Ensure we correctly decide on which packages need better interopt
  packages/next/telemetry/events/plugins.ts
Labels: ready to land

#9345 Add readmes for experimental plugin packages
  packages/next-plugin-google-analytics/readme.md
  packages/next-plugin-material-ui/readme.md
  packages/next-plugin-sentry/readme.md
Labels: Documentation, ready to land

#9346 Add check for now.json and custom server
  packages/next/build/index.ts
  packages/next/cli/next-dev.ts
  packages/next/export/index.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/version.ts
Labels: Type: Enhancement, ready to land

#9348 Upgrade styled-jsx
  packages/next/package.json
Labels: ready to land

#9347 Add a routes manifest with the dynamic routes
  packages/next/build/index.ts
  packages/next/next-server/lib/constants.ts
  test/integration/dynamic-routing/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9296 Ignore shell-quote on Windows
  lint-staged.config.js
Labels: ready to land

#9286 Add full-icu package
  examples/with-react-intl/package.json
Labels: Type: Example, ready to land

#9157 Implement custom routes RFC
  packages/next/build/index.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/hello-again.js
  test/integration/custom-routes/pages/hello.js
  test/integration/custom-routes/pages/multi-rewrites.js
  test/integration/custom-routes/pages/nav.js
  test/integration/custom-routes/pages/with-params.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/error-in-error/pages/_error.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9095 Convert wrapper class to function component
  packages/next/client/router.ts
  packages/next/client/with-router.tsx
Labels: Type: Enhancement, Type: Needs Investigation

#9361 Update routes-manifest and add tests
  packages/next/build/index.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: ready to land

#9364 Fix `window.fetch` Polyfill
  packages/next/build/polyfills/fetch.js
Labels: Type: Enhancement, priority: high, ready to land

#9363 Test CJS Import of `isomorphic-unfetch`
  test/integration/serverless/pages/fetch-cjs.js
  test/integration/serverless/pages/index.js
  test/integration/serverless/test/index.test.js
Labels: ready to land

#9365 Add routes-manifest test
  test/integration/custom-routes/test/index.test.js
Labels: ready to land

#9357 Fix canonical rel link generation
  packages/next/next-server/server/utils.ts
  test/unit/next-server-utils.test.js
Labels: Type: Bug, ready to land

#9368 Bind `fetch` to `self` instead of `window`
  packages/next/build/polyfills/fetch.js
Labels: ready to land

#9372 Update `dotenv` example
  examples/with-dotenv/.env
  examples/with-dotenv/next.config.js
  examples/with-dotenv/package.json
  examples/with-dotenv/pages/index.js
Labels: Type: Example, ready to land

#9277 Monkey-patch `next-stylus` legacy support
  packages/next/build/webpack-config.ts
Labels: Type: Enhancement, ready to land

#9373 Fix typo in API routes documentation.
  packages/next/README.md
Labels: Documentation, ready to land

#9375 Check formatting on build
  examples/with-react-md/next.config.js
  examples/with-react-md/pages/_app.js
  examples/with-react-md/pages/index.js
  examples/with-react-md/public/react-md.light_blue-yellow.min.css
  package.json
Labels: ready to land

#9369 Polyfill `Object.assign` by Default
  packages/next/build/polyfills/object-assign.js
  packages/next/build/polyfills/object.assign/auto.js
  packages/next/build/polyfills/object.assign/implementation.js
  packages/next/build/polyfills/object.assign/index.js
  packages/next/build/polyfills/object.assign/polyfill.js
  packages/next/build/polyfills/object.assign/shim.js
  packages/next/build/webpack-config.ts
  packages/next/client/polyfills.js
Labels: Type: Enhancement, ready to land

#9109 Add AMP First example
  examples/amp-first/README.md
  examples/amp-first/components/Layout.js
  examples/amp-first/components/amp/AmpCustomElement.js
  examples/amp-first/components/amp/AmpScript.js
  examples/amp-first/components/amp/AmpState.js
  examples/amp-first/package.json
  examples/amp-first/pages/_document.js
  examples/amp-first/pages/index.js
  examples/amp-first/pages/offline.js
  examples/amp-first/public/install-serviceworker.html
  examples/amp-first/public/manifest.json
  examples/amp-first/public/serviceworker.js
  examples/amp-first/public/static/amp-script/hello.js
  examples/amp-first/public/static/favicon.ico
  examples/amp-first/public/static/images/icons-192.png
  examples/amp-first/public/static/images/icons-512.png
Labels: Type: Example, ready to land

#9376 Initialize Git repo on app creation
  packages/create-next-app/@types/rimraf.d.ts
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/git.ts
  packages/create-next-app/package.json
  test/integration/create-next-app/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9377 Add extra step to contributing steps
  contributing.md
Labels: ready to land

#9167 Decrease the load priority of client _buildManifest
  packages/next/pages/_document.tsx
Labels: priority: high, ready to land

#9380 Replace historyId with initial page tracking
  packages/next/next-server/lib/router/router.ts
  test/integration/client-navigation/test/index.test.js
Labels: Type: Bug, ready to land

#9388 Fix Dynamic `next export` Page Hydration Mismatch
  packages/next/next-server/lib/router/router.ts
  test/integration/export-dynamic-pages/next.config.js
  test/integration/export-dynamic-pages/pages/regression/[slug].js
  test/integration/export-dynamic-pages/test/index.test.js
  test/lib/next-test-utils.js
Labels: Type: Bug, priority: high, ready to land

#9389 amp-first example: fix broken inline script
  examples/amp-first/pages/index.js
Labels: Type: Example, ready to land

#9393 Remove unused property `skeleton`
  packages/next/client/index.js
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
Labels: ready to land

#9396 Add test for internal URL handling in render
  test/integration/custom-server/server.js
  test/integration/custom-server/static/hello.txt
  test/integration/custom-server/test/index.test.js
Labels: ready to land

#9394 Don't treat static as an internal route when the folder is not provided
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/utils.ts
Labels: priority: very high, ready to land

#9395 Test static folder
  test/integration/serverless/test/index.test.js
Labels: priority: very high, ready to land

#9407 Fix up errors in tests
  test/integration/app-document/test/rendering.js
  test/integration/app-tree/test/index.test.js
  test/integration/custom-page-extension/test/index.test.js
  test/isolated/require-page.test.js
Labels: ready to land

#9408 Test segment-level exacts are preferred
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Labels: ready to land

#9414 refactor(router): extract handle slug method
  packages/next/next-server/lib/router/utils/sorted-routes.ts
Labels: ready to land

#9417 Upgrade TypeScript version
  package.json
  yarn.lock
Labels: ready to land

#9391 Integration test case for fetch alias
  packages/next/build/polyfills/fetch/index.js
  packages/next/build/polyfills/fetch/whatwg-fetch.js
  packages/next/build/webpack-config.ts
  test/integration/polyfills/pages/fetch.js
  test/integration/polyfills/pages/index.js
  test/integration/polyfills/test/index.test.js
Labels: ready to land

#9418 Linting should be strict
  examples/with-graphql-faunadb/components/Footer.js
  examples/with-graphql-faunadb/components/GuestbookEntry.js
  examples/with-graphql-faunadb/components/Header.js
  package.json
Labels: ready to land

#9416 [Experimental] Catch-all Route Support
  packages/next/build/index.ts
  packages/next/next-server/lib/router/utils/route-matcher.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/next-server/lib/router/utils/sorted-routes.ts
  packages/next/next-server/server/config.ts
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/p1/p2/all-ssr/[...rest].js
  test/integration/dynamic-routing/test/index.test.js
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Labels: Type: Enhancement, ready to land

#9419 Remove top level usage of loader imports in next/document
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
Labels: Type: Bug, ready to land

#9421 Clean up old flag
  packages/next/next-server/server/config.ts
  test/integration/conflicting-public-file-page/next.config.js
Labels: ready to land

#9422 Adjust Client Nav Test
  test/integration/client-navigation/test/rendering.js
Labels: ready to land

#9429 Fix recursive copy failing if more folders than concurrency
  packages/next/lib/recursive-copy.ts
  test/unit/recursive-copy.test.js
Labels: Type: Bug, ready to land

#9431 Fix typo in serverless loader
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  test/integration/serverless/pages/api/top-level-error.js
  test/integration/serverless/test/index.test.js
Labels: ready to land

#9435 Update router to have only one route traverse pass
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/docs/v2/more/now-for-github.js
  test/integration/custom-routes/public/static/hello.txt
  test/integration/custom-routes/test/index.test.js
Labels: ready to land

#9450 Remove re-exports of 'default' when 'default' does not exist
  packages/next/amp.d.ts
  packages/next/babel.d.ts
  packages/next/data.d.ts
Labels: Type: Enhancement, ready to land

#9452 Add test for forward nav after reload
  test/integration/client-navigation/test/index.test.js
Labels: ready to land

#9453 Adds missing dependency
  packages/next/package.json
  yarn.lock
Labels: ready to land

#9432 Update purgecss search path to include typescript files - closes #9415
  examples/with-tailwindcss/postcss.config.js
Labels: Type: Example, ready to land

#9478 Upgrade Babel Dependencies
  package.json
  packages/next/build/babel/plugins/amp-attributes.ts
  packages/next/build/babel/plugins/commonjs.ts
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/plugins/next-data.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9485 Error on Size Reduction
  test/integration/size-limit/test/index.test.js
Labels: ready to land

#9486 Ensure CSS Is Preloaded First
  packages/next/pages/_document.tsx
  test/integration/css/test/index.test.js
Labels: Type: Enhancement, ready to land

#9491 `next export` should skip iSSG fallback page
  packages/next/export/index.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Bug, priority: low, ready to land

#9512 Drop Re-Exported iSSG Imports
  packages/next/build/babel/plugins/next-page-config.ts
  test/unit/babel-plugin-next-page-config.test.js
Labels: Type: Enhancement, ready to land

#9499 Update CI/test set up
  .circleci/config.yml
  azure-pipelines.yml
  package.json
  test/integration/empty-object-getInitialProps/test/index.test.js
  test/integration/future/test/index.test.js
  test/jest-environment.js
  test/jest-global-setup.js
  test/jest-global-teardown.js
  test/lib/next-webdriver.js
Labels: ready to land

#9514 Purge Babel Cache
  packages/next/build/webpack/loaders/next-babel-loader.js
Labels: ready to land

#9515 Remove Legacy Code
  packages/next/build/babel/plugins/next-page-config.ts
Labels: ready to land

#9516 Remove Broken Example (`with-apollo-auth`)
  examples/with-apollo-auth/README.md
  examples/with-apollo-auth/components/RegisterBox.js
  examples/with-apollo-auth/components/SigninBox.js
  examples/with-apollo-auth/lib/apollo.js
  examples/with-apollo-auth/lib/checkLoggedIn.js
  examples/with-apollo-auth/lib/redirect.js
  examples/with-apollo-auth/package.json
  examples/with-apollo-auth/pages/create-account.js
  examples/with-apollo-auth/pages/index.js
  examples/with-apollo-auth/pages/signin.js
  examples/with-apollo-auth/project.graphcool
Labels: Type: Example, ready to land

#9468 Fix AMP HTML content emit
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/amphtml/pages/special-chars.js
  test/integration/amphtml/test/index.test.js
Labels: Type: Bug, ready to land

#9518 Catch Telemetry Initialization Error
  packages/next/telemetry/storage.ts
Labels: ready to land

#9507 Update progressive enhancement example
  examples/progressive-render/README.md
  examples/progressive-render/package.json
  examples/progressive-render/pages/index.js
Labels: Type: Example, ready to land

#9502 CSS Support Customization
  package.json
  packages/next/build/webpack-config.ts
  packages/next/lib/find-config.ts
  packages/next/package.json
  test/integration/css/fixtures/bad-custom-configuration/.postcssrc.json
  test/integration/css/fixtures/bad-custom-configuration/pages/_app.js
  test/integration/css/fixtures/bad-custom-configuration/pages/index.js
  test/integration/css/fixtures/bad-custom-configuration/styles/global.css
  test/integration/css/fixtures/custom-configuration/.postcssrc.json
  test/integration/css/fixtures/custom-configuration/pages/_app.js
  test/integration/css/fixtures/custom-configuration/pages/index.js
  test/integration/css/fixtures/custom-configuration/styles/global.css
  test/integration/css/fixtures/with-tailwindcss/package.json
  test/integration/css/fixtures/with-tailwindcss/pages/_app.js
  test/integration/css/fixtures/with-tailwindcss/pages/index.js
  test/integration/css/fixtures/with-tailwindcss/styles/global.css
  test/integration/css/test/index.test.js
  test/unit/find-config.test.js
  test/unit/fixtures/config-down/.testrc.json
  test/unit/fixtures/config-down/one/two/three/.gitkeep
  test/unit/fixtures/config-json/.testrc.json
  test/unit/fixtures/config-package-json/package.json
  yarn.lock
Labels: Type: Enhancement, ready to land

#9525 Specify Invalid Dynamic Route Values
  packages/next/next-server/lib/router/router.ts
  test/integration/invalid-href/test/index.test.js
Labels: Type: Enhancement, ready to land

#9526 Bump CircleCi concurrency
  .circleci/config.yml
Labels: ready to land

#9200 Replace `url` polyfill with `self.URL`
  packages/next/build/webpack-config.ts
  packages/next/client/polyfills.js
  packages/next/package.json
  test/integration/chunking/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9315 Fix deduplicating dynamic (array) meta tags
  packages/next/next-server/lib/head.tsx
  test/integration/client-navigation/pages/head.js
  test/integration/client-navigation/test/rendering.js
Labels: ready to land

#9539 Update `native-url` package for IE compat
  packages/next/package.json
  yarn.lock
Labels: ready to land

#9533 Clean up src-dir-test suite
  test/integration/src-dir-support/test/index.test.js
Labels: ready to land

#9538 fix: resolve preset-modules
  packages/next/build/webpack/plugins/next-esm-plugin.ts
Labels: ready to land

#9552 Increase CI Parallelism
  .circleci/config.yml
Labels: ready to land

#9555 Update to latest fork-ts-checker version
  packages/next/package.json
  yarn.lock
Labels: ready to land

#9551 Add Next.js Version as Metadata
  packages/next/telemetry/anonymous-meta.ts
Labels: Type: Enhancement, ready to land

#9543 Update next package script
  package.json
Labels: ready to land

#9560 Run lint tasks in parallel
  package.json
  yarn.lock
Labels: ready to land

#9562 Stabilize TypeScript HMR Test
  test/integration/typescript-hmr/test/index.test.js
Labels: ready to land

#9558 Tweak concurrency for CircleCi
  .circleci/config.yml
Labels: ready to land

#9563 Run Lint Separate
  .circleci/config.yml
Labels: ready to land

#9553 Upgrade `path-to-regexp`
  packages/next/build/index.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  test/integration/custom-routes/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#9545 Make sure to parse query values for SSG page after hydration
  packages/next/client/index.js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Bug, ready to land

#9532 Fix missing getStaticProps error in serverless mode
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/catches-missing-getStaticProps/pages/[slug].js
  test/integration/catches-missing-getStaticProps/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: Documentation, ready to land
