Repository vercel/next.js, pull requests merged in 2019-09, with the labels that each got.

#8609 Use URL-friendly chunk names
  examples/with-stomp/next.config.js
  packages/next/build/webpack-config.ts
  test/integration/chunking/test/index.test.js
Labels: Type: Enhancement, ready to land

#8524 Add data-ampdevmode attribute for AMP scripts
  packages/next/build/output/index.ts
  packages/next/pages/_document.tsx
  test/integration/amphtml/test/index.test.js
Labels: Type: Enhancement, ready to land

#8614 Disable Anonymous Telemetry
  packages/next/telemetry/storage.ts
Labels: ready to land

#8612 Fix production test failing in ie11
  test/integration/production/test/index.test.js
Labels: ready to land

#8623 Update workers for `next export`
  packages/next/export/index.js
  packages/next/export/worker.js
  test/integration/handles-export-errors/pages/index copy 10.js
  test/integration/handles-export-errors/pages/index copy 11.js
  test/integration/handles-export-errors/pages/index copy 12.js
  test/integration/handles-export-errors/pages/index copy 13.js
  test/integration/handles-export-errors/pages/index copy 2.js
  test/integration/handles-export-errors/pages/index copy 3.js
  test/integration/handles-export-errors/pages/index copy 4.js
  test/integration/handles-export-errors/pages/index copy 5.js
  test/integration/handles-export-errors/pages/index copy 6.js
  test/integration/handles-export-errors/pages/index copy 7.js
  test/integration/handles-export-errors/pages/index copy 8.js
  test/integration/handles-export-errors/pages/index copy 9.js
  test/integration/handles-export-errors/pages/index copy.js
  test/integration/handles-export-errors/pages/index.js
  test/integration/handles-export-errors/test/index.test.js
Labels: Type: Enhancement, ready to land

#8628 Update Next.js Telemetry Event Shapes
  packages/next/build/index.ts
  packages/next/server/next-dev-server.js
  packages/next/telemetry/events/build.ts
  packages/next/telemetry/events/plugins.ts
  packages/next/telemetry/events/version.ts
  packages/next/telemetry/storage.ts
Labels: ready to land

#8647 Mention Custom App GIP in UPGRADING
  UPGRADING.md
  errors/opt-out-automatic-prerendering.md
Labels: Documentation, ready to land

#8648 Update Create Next App Template
  packages/create-next-app/templates/default/pages/index.js
Labels: Documentation, ready to land

#8649 [docs] `useRouter` cannot be used with classes
  packages/next/README.md
Labels: Documentation, ready to land

#8631 Fix yarn workspaces example
  examples/with-yarn-workspaces/now.json
Labels: Type: Example

#8653 Adds the PnP plugin by default
  packages/next/build/webpack-config.ts
  packages/next/package.json
  yarn.lock
Labels: Type: Enhancement, ready to land

#8658 Revert "Remove extra pages from export test"
  test/integration/handles-export-errors/pages/page-1.js
  test/integration/handles-export-errors/pages/page-10.js
  test/integration/handles-export-errors/pages/page-11.js
  test/integration/handles-export-errors/pages/page-12.js
  test/integration/handles-export-errors/pages/page-13.js
  test/integration/handles-export-errors/pages/page-2.js
  test/integration/handles-export-errors/pages/page-3.js
  test/integration/handles-export-errors/pages/page-4.js
  test/integration/handles-export-errors/pages/page-5.js
  test/integration/handles-export-errors/pages/page-6.js
  test/integration/handles-export-errors/pages/page-7.js
  test/integration/handles-export-errors/pages/page-8.js
  test/integration/handles-export-errors/pages/page-9.js
  test/integration/handles-export-errors/pages/page.js
Labels: ready to land

#8665 Add intl and Apollo to packages of interest
  packages/next/telemetry/events/plugins.ts
Labels: ready to land

#8664 Remove Telemetry Registration
  packages/next/telemetry/anonymous-meta.ts
  packages/next/telemetry/anonymous-traits.ts
  packages/next/telemetry/storage.ts
Labels: ready to land

#8669 Resolve externals using webpack's context
  packages/next/build/webpack-config.ts
Labels: Feature: Compilation, Type: Enhancement, ready to land

#8668 Uses the PnP API when available
  packages/next/build/webpack-config.ts
  packages/next/lib/resolve-request.ts
  packages/next/lib/verifyTypeScriptSetup.ts
Labels: Type: Enhancement, ready to land

#8695 Support non-flag variant of telemetry cmds
  packages/next/cli/next-telemetry.ts
Labels: Type: Enhancement, ready to land

#8696 Add telemetry CLI tests
  test/integration/telemetry/pages/index.js
  test/integration/telemetry/test/index.test.js
Labels: ready to land

#8644 Optimize test setup
  .circleci/config.yml
  azure-pipelines.yml
  package.json
  run-tests.js
  test/jest-global-teardown.js
  yarn.lock
Labels: ready to land

#8681 Delay updating asPath for auto exported pages
  packages/next/client/index.js
  test/integration/auto-export/test/index.test.js
Labels: Type: Bug, ready to land

#8700 Fix login popup not working
  examples/with-firebase-authentication/README.md
Labels: Type: Example, ready to land

#8704 Catch all requests in custom server
  examples/custom-server-express/server.js
  examples/custom-server-fastify/server.js
  examples/custom-server-hapi/server.js
  examples/custom-server-koa/server.js
  examples/custom-server-polka/server.js
Labels: Type: Example, ready to land

#8706 Lock CircleCi image for now
  .circleci/config.yml
Labels: ready to land

#8703 TypeScript report on active pages only
  packages/next/build/output/index.ts
  test/integration/typescript/test/index.test.js
Labels: Type: Bug, priority: high, ready to land

#8629 Update pages-loader to return one value
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
Labels: Type: Enhancement, ready to land

#8707 Nit: sort experimental keys
  packages/next/next-server/server/config.ts
Labels: ready to land

#8711 Organize webpack configuration imports
  packages/next/build/webpack-config.ts
Labels: ready to land

#8709 Add test for duplicate scripts and add extra de-duping
  packages/next/pages/_document.tsx
  test/integration/dedupes-scripts/components/hello.js
  test/integration/dedupes-scripts/pages/index.js
  test/integration/dedupes-scripts/test/index.test.js
Labels: Type: Bug, ready to land

#8731 Externalize experimental package
  packages/next/build/webpack-config.ts
Labels: Type: Bug, ready to land

#8734 Make sure renderOpts is available before checking
  packages/next/export/worker.js
Labels: Type: Bug, ready to land

#8738 Make sure to fail export when prerender fails with serverless bundle
  packages/next/export/worker.js
  test/integration/auto-export-serverless-error/next.config.js
  test/integration/auto-export-serverless-error/pages/index.js
  test/integration/auto-export-serverless-error/test/index.test.js
Labels: Type: Bug, ready to land

#8739 Prevents externalizing non-hoisted packages
  packages/next/build/webpack-config.ts
Labels: Type: Bug, priority: very high, ready to land

#8741 Document the intended behavior of our externals
  packages/next/build/webpack-config.ts
Labels: Documentation, ready to land

#8742 Ensure requests are resolved as directories
  packages/next/build/webpack-config.ts
  test/.stats-app/stats-config.js
Labels: Type: Bug, priority: high, ready to land

#8382 Update build feedback with dots indicating activity
  package.json
  packages/next/build/index.ts
  packages/next/build/spinner.ts
  packages/next/export/index.js
  packages/next/package.json
  yarn.lock
Labels: Type: Enhancement

#8756 Prevent URL from being updated while asPath is delayed
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/auto-export/pages/[post]/[cmnt].js
  test/integration/auto-export/test/index.test.js
Labels: Type: Bug, ready to land

#8766 Fix windows paths mismatching for type errors
  packages/next/build/output/index.ts
Labels: Type: Bug, ready to land

#8761 Add hard retrying for Azure test runs
  azure-pipelines.yml
  package.json
  run-tests.js
  yarn.lock
Labels: ready to land

#8772 Revert "Add hard retrying for Azure test runs"
  azure-pipelines.yml
  package.json
  run-tests.js
  yarn.lock
Labels: ready to land

#8771 Show dots for non-TTY
  packages/next/build/spinner.ts
Labels: ready to land

#8710 Global CSS Support
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/css/fixtures/compilation-and-prefixing/pages/_app.js
  test/integration/css/fixtures/compilation-and-prefixing/pages/index.js
  test/integration/css/fixtures/compilation-and-prefixing/styles/global.css
  test/integration/css/fixtures/invalid-global-with-app/pages/_app.js
  test/integration/css/fixtures/invalid-global-with-app/pages/index.js
  test/integration/css/fixtures/invalid-global-with-app/styles/global.css
  test/integration/css/fixtures/invalid-global/pages/index.js
  test/integration/css/fixtures/invalid-global/styles/global.css
  test/integration/css/fixtures/multi-global-reversed/pages/_app.js
  test/integration/css/fixtures/multi-global-reversed/pages/index.js
  test/integration/css/fixtures/multi-global-reversed/styles/global1.css
  test/integration/css/fixtures/multi-global-reversed/styles/global2.css
  test/integration/css/fixtures/multi-global/pages/_app.js
  test/integration/css/fixtures/multi-global/pages/index.js
  test/integration/css/fixtures/multi-global/styles/global1.css
  test/integration/css/fixtures/multi-global/styles/global2.css
  test/integration/css/fixtures/multi-page/pages/_app.js
  test/integration/css/fixtures/multi-page/pages/page1.js
  test/integration/css/fixtures/multi-page/pages/page2.js
  test/integration/css/fixtures/multi-page/styles/global1.css
  test/integration/css/fixtures/multi-page/styles/global2.css
  test/integration/css/fixtures/nested-global/pages/_app.js
  test/integration/css/fixtures/nested-global/pages/index.js
  test/integration/css/fixtures/nested-global/styles/global1.css
  test/integration/css/fixtures/nested-global/styles/global1b.css
  test/integration/css/fixtures/nested-global/styles/global2.css
  test/integration/css/fixtures/nested-global/styles/global2b.css
  test/integration/css/fixtures/single-global/pages/_app.js
  test/integration/css/fixtures/single-global/pages/index.js
  test/integration/css/fixtures/single-global/styles/global.css
  test/integration/css/fixtures/url-global/assets/light.svg
  test/integration/css/fixtures/url-global/pages/_app.js
  test/integration/css/fixtures/url-global/pages/index.js
  test/integration/css/fixtures/url-global/styles/dark.svg
  test/integration/css/fixtures/url-global/styles/global1.css
  test/integration/css/fixtures/url-global/styles/global2.css
  test/integration/css/fixtures/url-global/styles/global2b.css
  test/integration/css/fixtures/valid-and-invalid-global/pages/_app.js
  test/integration/css/fixtures/valid-and-invalid-global/pages/index.js
  test/integration/css/fixtures/valid-and-invalid-global/styles/global.css
  test/integration/css/next.config.js
  test/integration/css/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#8776 Make favicon work
  packages/create-next-app/templates/default/pages/index.js
Labels: Type: Example, ready to land

#8783 Update webpack typings
  packages/next/build/compiler.ts
  packages/next/types/webpack.d.ts
Labels: ready to land

#8782 Run all Azure tests with node v10
  azure-pipelines.yml
  test/integration/css/test/index.test.js
Labels: ready to land

#8785 Test CSS Source Map generation
  test/integration/css/test/index.test.js
Labels: ready to land

#8787 Add caching yarn cache to Azure
  azure-pipelines.yml
Labels: ready to land

#8788 Reduce Install Size
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/package.json
  packages/next/types/misc.d.ts
  test/integration/css/next.config.js
  test/integration/css/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#8789 Simplify development hiding
  packages/next/pages/_document.tsx
Labels: ready to land

#8790 Fix Experimental CSS Ordering
  packages/next/build/webpack-config.ts
  packages/next/pages/_document.tsx
  test/integration/css/fixtures/with-styled-jsx/pages/_app.js
  test/integration/css/fixtures/with-styled-jsx/pages/index.js
  test/integration/css/fixtures/with-styled-jsx/styles/global.css
  test/integration/css/test/index.test.js
Labels: Type: Bug, ready to land

#8793 Update broken links
  packages/next/README.md
Labels: Documentation, ready to land

#8803 Add Experimental CSS Before Anchor
  packages/next/build/webpack-config.ts
Labels: Type: Enhancement, ready to land

#8777 Update page sizes displayed on build
  packages/next/build/index.ts
  packages/next/build/utils.ts
Labels: Type: Enhancement

#8805 Enable Experimental CSS Source Maps in Dev
  packages/next/build/webpack-config.ts
Labels: Type: Enhancement, ready to land

#8800 Add Working with Ghost and Next.js to Recipes
  packages/next/README.md
Labels: Documentation, ready to land

#8811 Fix using withRouter in _app opting out of auto prerender
  packages/next/client/with-router.tsx
Labels: Type: Bug, priority: high, ready to land

#8839 Remove extra build logs
  packages/next/build/index.ts
Labels: ready to land

#8846 SPR follow ups
  packages/next/build/index.ts
  packages/next/export/index.js
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#8864 Add support for ZEIT Now CI detection
  packages/next/telemetry/anonymous-meta.ts
  packages/next/telemetry/ci-info.ts
  packages/next/telemetry/storage.ts
Labels: Type: Enhancement, ready to land

#8867 Fix typo and wording in README.md
  examples/with-dotenv/README.md
Labels: Documentation, ready to land

#8866 Remove `stale-if-error` header from SPR
  packages/next/next-server/server/next-server.ts
Labels: ready to land

#8865 Better test case for serverless export
  test/integration/auto-export-serverless-error/test/index.test.js
Labels: ready to land

#8878 Favicon should have low importance
  packages/create-next-app/templates/default/pages/index.js
Labels: ready to land

#8882 Enforce natural numbers for SPR
  packages/next/next-server/server/render.tsx
Labels: Type: Enhancement, ready to land

#8880 Configure the Default Revalidate
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/default-revalidate.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#8885 Add SPR Dynamic Routes to Manifest
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#8887 Remove React Suspense from Client Runtime
  packages/next/client/index.js
  test/integration/data/pages/_app.js
Labels: Is Upstream, Type: Bug, ready to land
