Repository vercel/next.js, pull requests merged in 2019-10, with the labels that each got.

#8918 Update Prerender Manifest
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#8802 Migrate auth0 example into Next.js repo
  examples/auth0/.env.template
  examples/auth0/.gitignore
  examples/auth0/README.md
  examples/auth0/components/header.js
  examples/auth0/components/layout.js
  examples/auth0/lib/auth0.js
  examples/auth0/lib/user.js
  examples/auth0/next.config.js
  examples/auth0/now.json
  examples/auth0/package.json
  examples/auth0/pages/about.js
  examples/auth0/pages/advanced/ssr-profile.js
  examples/auth0/pages/api/callback.js
  examples/auth0/pages/api/login.js
  examples/auth0/pages/api/logout.js
  examples/auth0/pages/api/me.js
  examples/auth0/pages/index.js
  examples/auth0/pages/profile.js
Labels: Type: Example

#8923 Update to not copy static and public folders during auto export
  packages/next/export/index.js
Labels: Type: Enhancement, ready to land

#8928 Add `srcRoute` attribute to SPRv2 Manifest
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#8941 Change default body display setting
  packages/next/pages/_document.tsx
Labels: priority: low, ready to land

#8938 Do not mix `null` in `getCssLinks` return value
  packages/next/pages/_document.tsx
Labels: priority: low, ready to land

#8939 Remove Recipes from README
  packages/next/README.md
Labels: Documentation, ready to land

#8895 Remove `config` export
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/page-config/next.config.js
  test/integration/page-config/pages/check-client-remove.js
  test/integration/page-config/test/index.test.js
Labels: Type: Enhancement, ready to land

#8937 Reduce Timeframe That FOUC Styles Are Active
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/client/next-dev.js
  packages/next/pages/_document.tsx
  test/integration/css/fixtures/unused/pages/index.js
  test/integration/css/test/index.test.js
Labels: Type: Enhancement, ready to land

#8944 Monkey patch `next-sass` and `next-less`
  packages/next/build/webpack-config.ts
Labels: Is Upstream, Type: Bug, ready to land

#8942 Use Better Telemetry Directory
  packages/next/build/index.ts
  packages/next/cli/next-build.ts
  packages/next/export/index.js
  packages/next/server/next-dev-server.js
  packages/next/telemetry/storage.ts
Labels: Type: Enhancement, ready to land

#8950 Also patch standalone usage of `@zeit/next-css`
  packages/next/build/webpack-config.ts
Labels: ready to land

#8951 Work around `@types/react` limitation in template
  packages/create-next-app/templates/default/pages/index.js
Labels: Type: Example, ready to land

#8480 Add `unstable_onPerformanceData` helper for performance entries
  packages/next/client/index.js
  packages/next/client/page-loader.js
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
Labels: Type: Enhancement, ready to land

#8954 Inline `relayPaintMetrics` function
  packages/next/client/index.js
Labels: ready to land

#8957 Add support for CSS Module patching
  packages/next/build/webpack-config.ts
Labels: Is Upstream, Type: Bug, priority: medium, ready to land

#8965 Convert Export to TypeScript
  packages/next/build/output/index.ts
  packages/next/export/index.d.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
Labels: ready to land

#8958 Informative Error for Invalid Global CSS
  errors/global-css.md
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/error-loader.ts
  test/integration/css/test/index.test.js
Labels: Type: Enhancement, ready to land

#8966 Convert Dev Server to TypeScript
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  packages/next/server/error-debug.tsx
  packages/next/server/hot-reloader.ts
  packages/next/server/lib/error-overlay-middleware.js
  packages/next/server/lib/error-overlay-middleware.ts
  packages/next/server/next-dev-server.ts
  packages/next/server/on-demand-entry-handler.ts
  packages/next/types/misc.d.ts
  yarn.lock
Labels: ready to land

#8970 Fix Legacy CSS Modules on the Server
  packages/next/build/webpack-config.ts
Labels: Is Upstream, ready to land

#8636 Add static directory deprecation warning
  errors/static-dir-deprecated.md
  packages/next/README.md
  packages/next/server/next-dev-server.ts
Labels: Documentation

#8979 Remove default export from constants.d.ts
  packages/next/constants.d.ts
Labels: ready to land

#8982 Revert "Remove `config` export (#8895)"
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/page-config/next.config.js
  test/integration/page-config/pages/check-client-remove.js
  test/integration/page-config/test/index.test.js
Labels: ready to land

#8984 Change /static directory in favor of /public directory for create-next-app
  packages/create-next-app/templates/default/README.md
  packages/create-next-app/templates/default/pages/index.js
  packages/create-next-app/templates/default/public/favicon.ico
Labels: ready to land

#8986 Match `public/static/` folder before `static/`
  packages/next/next-server/server/next-server.ts
  test/integration/basic/public/static/legacy.txt
  test/integration/basic/test/public-folder.js
  test/integration/production/public/static/legacy.txt
  test/integration/production/test/index.test.js
  test/integration/serverless/public/static/legacy.txt
  test/integration/serverless/test/index.test.js
Labels: priority: very high, ready to land

#8987 Fix Inferno Example – Apply Next.js Aliases to Webpack Config
  examples/using-inferno/next.config.js
Labels: Type: Example, ready to land

#8992 Remove pass-server-data example
  examples/pass-server-data/README.md
  examples/pass-server-data/data/item.json
  examples/pass-server-data/operations/get-item.js
  examples/pass-server-data/package.json
  examples/pass-server-data/pages/index.js
  examples/pass-server-data/pages/item.js
  examples/pass-server-data/server.js
Labels: Type: Example

#8991 Add extra note about canary branch in contributing
  contributing.md
Labels: Documentation

#8995 Update resetting console[method] for spinners
  packages/next/build/spinner.ts
Labels: ready to land

#8996 Monkeypatch @zeit/next-css@0.2.1-canary.4
  packages/next/build/webpack-config.ts
Labels: ready to land

#9001 Add CSS fixture for src dir
  packages/next/build/webpack-config.ts
  test/integration/css/fixtures/single-global-src/src/pages/_app.js
  test/integration/css/fixtures/single-global-src/src/pages/index.js
  test/integration/css/fixtures/single-global-src/styles/global.css
  test/integration/css/test/index.test.js
Labels: ready to land

#9028 Test no-path relative CSS imports
  test/integration/css/fixtures/url-global/styles/dark2.svg
  test/integration/css/fixtures/url-global/styles/global1.css
  test/integration/css/test/index.test.js
Labels: ready to land

#8929 Add buildId to SPR data routes
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, priority: medium, ready to land

#8968 Do Not Rely on Module State
  packages/next/build/index.ts
  packages/next/cli/next-telemetry.ts
  packages/next/export/index.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/build.ts
  packages/next/telemetry/events/plugins.ts
  packages/next/telemetry/events/version.ts
  packages/next/telemetry/project-id.ts
  packages/next/telemetry/storage.ts
Labels: ready to land

#9030 Update to error on usage of serverRuntimeConfig with serverless
  errors/serverless-publicRuntimeConfig.md
  packages/next/README.md
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/serverless-runtime-configs/pages/index.js
  test/integration/serverless-runtime-configs/test/index.test.js
Labels: Type: Bug, ready to land

#9045 Remove static optimization from message
  errors/page-without-valid-component.md
  packages/next/build/index.ts
  test/integration/invalid-page-automatic-static-optimization/test/index.test.js
Labels: Documentation, ready to land

#9068 Remove _document context
  packages/next/next-server/lib/document-context.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
Labels: Type: Enhancement, ready to land

#9012 Update framework chunk test regex to not select nested dependencies
  packages/next/build/webpack-config.ts
Labels: Type: Enhancement, ready to land

#9074 Fix import in `@zeit/fetch` example
  examples/with-zeit-fetch/fetch/browser.js
Labels: Type: Example, ready to land

#9085 Temporary: Add Support for Now Platform `params` Header
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Labels: ready to land

#9089 Temporary: SPR: Use Group Index Mapping
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless/pages/dr/[slug].js
  test/integration/serverless/test/index.test.js
Labels: ready to land

#9091 Fix SPR always revalidating in production
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9048 Optimize script tags
  packages/next/build/webpack-config.ts
  packages/next/pages/_document.tsx
  test/integration/chunking/test/index.test.js
  test/integration/css/test/index.test.js
Labels: Type: Enhancement, ready to land

#9079 [using-preact] Update example to Preact X
  examples/using-preact/README.md
  examples/using-preact/next.config.js
  examples/using-preact/package.json
  examples/using-preact/server.js
Labels: Type: Example, ready to land

#8894 Fix language fallback in with-react-intl example
  examples/with-react-intl/server.js
Labels: Type: Example, ready to land

#9104 Fix SPR header name
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless/test/index.test.js
Labels: ready to land

#9106 Update to return JSON if data request
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender/server.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9113 Don't mark page as nextExport if it's SPR
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9101 Update with-prefetching example
  examples/with-prefetching/README.md
  examples/with-prefetching/components/Header.js
  examples/with-prefetching/components/Nav.js
  examples/with-prefetching/pages/_app.js
  examples/with-prefetching/pages/about.js
  examples/with-prefetching/pages/contact.js
  examples/with-prefetching/pages/features.js
  examples/with-prefetching/pages/index.js
Labels: Type: Example, ready to land

#8960 Dedupe meta tags
  packages/next/next-server/lib/head.tsx
  test/integration/client-navigation/pages/head-duplicate-default-keys.js
  test/integration/client-navigation/pages/head.js
  test/integration/client-navigation/test/rendering.js
Labels: Type: Enhancement, ready to land

#9097 Refactor with-portals example
  examples/with-portals/components/ClientOnlyPortal.js
  examples/with-portals/components/Modal.js
  examples/with-portals/components/Portal.js
  examples/with-portals/pages/_document.js
  examples/with-portals/pages/index.js
Labels: Type: Example, ready to land

#9092 Refactor with-context-api example to use functional components
  examples/with-context-api/README.md
  examples/with-context-api/components/Counter.js
  examples/with-context-api/components/CounterProvider.js
  examples/with-context-api/pages/_app.js
  examples/with-context-api/pages/about.js
  examples/with-context-api/pages/index.js
Labels: Type: Example, ready to land

#9115 Make sure to update scope for page export declaration
  packages/next/build/babel/plugins/next-page-config.ts
Labels: ready to land

#9098 Allow manually setting amphtml
  packages/next/pages/_document.tsx
  test/integration/amphtml/test/index.test.js
Labels: Type: Needs Investigation

#9116 Warn on No Cache in CI
  errors/no-cache.md
  packages/next/build/index.ts
  test/integration/build-warnings/test/index.test.js
Labels: Type: Enhancement, ready to land

#9129 Update granular chunks to produce up to 25 chunks per entrypoint
  packages/next/build/webpack-config.ts
Labels: Type: Enhancement, ready to land

#8949 Netlify cms example
  examples/with-netlify-cms/components/layout.js
  examples/with-netlify-cms/content/about.md
  examples/with-netlify-cms/content/blogPosts/2019-09-06_its_not_the_problem_you_want_to_solve_boiiiiii.md
  examples/with-netlify-cms/content/blogPosts/2019-09-06_why_did_the_chicken_cross_the_road.md
  examples/with-netlify-cms/content/home.md
  examples/with-netlify-cms/next.config.js
  examples/with-netlify-cms/package.json
  examples/with-netlify-cms/pages/about.js
  examples/with-netlify-cms/pages/blog/index.js
  examples/with-netlify-cms/pages/blog/post/[slug].js
  examples/with-netlify-cms/pages/index.js
  examples/with-netlify-cms/public/static/admin/config.yml
  examples/with-netlify-cms/public/static/admin/index.html
  examples/with-netlify-cms/public/static/img/1200px-whio_blue_duck_at_staglands_akatarawa_new_zealand.jpg
  examples/with-netlify-cms/public/static/img/puppy-and-adult-dog.jpg
  examples/with-netlify-cms/readme.md
Labels: Type: Example

#9143 Update Prerender Error Message
  packages/next/export/worker.js
Labels: ready to land

#9152 Upgrade React dependencies
  package.json
  packages/next/package.json
  test/integration/data/test/index.test.js
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: ready to land

#9151 Test `react(-dom)@canary` Every 12 Hours
  .circleci/config.yml
Labels: ready to land

#9158 Upgrade Lockfile
  package.json
  packages/next/package.json
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml-fragment-style/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/integration/styled-jsx-module/test/index.test.js
  yarn.lock
Labels: ready to land

#9165 Test React integration using `next` dist-tag
  .circleci/config.yml
Labels: ready to land

#9170 Cache No-Revalidate Pages
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#9163 Add yarn check to tests
  .circleci/config.yml
  package.json
  packages/next/package.json
  yarn.lock
Labels: ready to land

#9171 Add WSL to Metadata
  packages/next/package.json
  packages/next/telemetry/anonymous-meta.ts
  yarn.lock
Labels: Type: Enhancement, ready to land

#9023 Record src directory usage with version
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/version.ts
  test/integration/telemetry/test/index.test.js
Labels: ready to land

#9145 Add Purgecss to with-tailwindcss example
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/postcss.config.js
  examples/with-tailwindcss/styles/index.css
Labels: Type: Example, ready to land

#9179 Fix with-tailwindcss build issues
  examples/with-tailwindcss/package.json
Labels: Type: Example, ready to land

#9182 Check Files during Install
  .circleci/config.yml
  azure-pipelines.yml
  package.json
Labels: ready to land

#9162 Re-Enable AMP Tests
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml-fragment-style/test/index.test.js
  test/integration/amphtml/test/index.test.js
  test/integration/styled-jsx-module/test/index.test.js
Labels: ready to land

#9184 docs(api-routes): fix micro-cors example
  packages/next/README.md
Labels: Documentation

#9187 Ensure directory before flushing cache file
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender/pages/user/[user]/profile.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9078 Fix react-native-web example by adding babel plugin
  examples/with-react-native-web/babel.config.js
  examples/with-react-native-web/next.config.js
  examples/with-react-native-web/package.json
Labels: Type: Example

#9224 Remove `react-ssr-prepass` from Next Deps
  package.json
  packages/next/package.json
  yarn.lock
Labels: ready to land

#9226 Add warning for getStaticParams without getStaticProps
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  run-tests.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#9138 Add configuration flags to disable integrated type checker
  packages/next/README.md
  packages/next/build/output/store.ts
  packages/next/build/webpack-config.ts
  packages/next/server/hot-reloader.ts
  test/integration/typescript-ignore-errors/next.config.js
  test/integration/typescript-ignore-errors/pages/index.tsx
  test/integration/typescript-ignore-errors/test/index.test.js
  test/integration/typescript-ignore-errors/tsconfig.json
  test/integration/typescript/test/index.test.js
Labels: Type: Enhancement, ready to land

#9199 Disable worker_threads by default for firebase compatibility
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  test/integration/firebase-grpc/pages/page-1.js
  test/integration/firebase-grpc/pages/page-2.js
  test/integration/firebase-grpc/test/index.test.js
Labels: Type: Bug, priority: high, ready to land

#9230 Restore package.json and yarn.lock to allow deploy
  .circleci/config.yml
Labels: ready to land

#9231 Split TypeScript Flag Docs
  packages/next/README.md
Labels: Documentation, ready to land

#9090 Dynamic granular chunking
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  test/integration/chunking/pages/page2.js
  test/integration/chunking/pages/page3.js
  test/integration/chunking/test/index.test.js
Labels: Type: Enhancement, priority: high, ready to land

#9015 Add unique identifier to router instance
  packages/next/next-server/lib/router/router.ts
Labels: Is Upstream, Type: Bug, ready to land

#9197 Remove legacy concurrency option from `next export`
  packages/next/cli/next-export.ts
Labels: ready to land

#9185 Add Framer Motion example
  examples/with-framer-motion/README.md
  examples/with-framer-motion/components/Gallery.js
  examples/with-framer-motion/components/SingleImage.js
  examples/with-framer-motion/constants.js
  examples/with-framer-motion/package.json
  examples/with-framer-motion/pages/_app.js
  examples/with-framer-motion/pages/image/[id].js
  examples/with-framer-motion/pages/index.js
Labels: Type: Example, ready to land

#9155 Improve serverless build performance
  packages/next/build/webpack-config.ts
Labels: Type: Enhancement, ready to land

#8924 Do not warn on valid AMP output
  packages/next/build/output/index.ts
Labels: Type: Bug, priority: low, ready to land

#9243 Add test for #8924
  test/integration/amphtml/test/index.test.js
Labels: ready to land

#9245 Fix Prettier Commit Hook
  examples/with-netlify-cms/public/static/admin/config.yml
  examples/with-next-offline/pages/index.js
  examples/with-next-offline/public/manifest.json
  examples/with-quill-js/next.config.js
  examples/with-tailwindcss/README.md
  examples/with-typescript/pages/api/users/[id].ts
  examples/with-typescript/pages/users/[id].tsx
  examples/with-zeit-fetch/fetch/package.json
  lerna.json
  lint-staged.config.js
  package.json
  packages/next/build/webpack-config.ts
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  yarn.lock
Labels: ready to land

#9223 Error when user tries to use uncompiled `next.config.ts`
  packages/next/next-server/server/config.ts
  test/isolated/_resolvedata/js-ts-config/next.config.js
  test/isolated/_resolvedata/js-ts-config/next.config.json
  test/isolated/_resolvedata/js-ts-config/next.config.jsx
  test/isolated/_resolvedata/js-ts-config/next.config.ts
  test/isolated/_resolvedata/js-ts-config/next.config.tsx
  test/isolated/_resolvedata/typescript-config/next.config.ts
  test/isolated/config.test.js
Labels: Type: Enhancement, ready to land

#9249 Add experimental example of next-news
  examples/z-experimental-next-news/.gitignore
  examples/z-experimental-next-news/components/comment-form.js
  examples/z-experimental-next-news/components/comment.js
  examples/z-experimental-next-news/components/header.js
  examples/z-experimental-next-news/components/item.js
  examples/z-experimental-next-news/components/login-form.js
  examples/z-experimental-next-news/components/logo.js
  examples/z-experimental-next-news/components/meta.js
  examples/z-experimental-next-news/components/nav.js
  examples/z-experimental-next-news/components/page.js
  examples/z-experimental-next-news/components/stories.js
  examples/z-experimental-next-news/components/story.js
  examples/z-experimental-next-news/components/updating-story.js
  examples/z-experimental-next-news/lib/db.js
  examples/z-experimental-next-news/lib/get-comments.js
  examples/z-experimental-next-news/lib/get-item.js
  examples/z-experimental-next-news/lib/get-stories.js
  examples/z-experimental-next-news/lib/time-ago.js
  examples/z-experimental-next-news/now.json
  examples/z-experimental-next-news/package.json
  examples/z-experimental-next-news/pages/ask.js
  examples/z-experimental-next-news/pages/index.js
  examples/z-experimental-next-news/pages/item/[id].js
  examples/z-experimental-next-news/pages/jobs.js
  examples/z-experimental-next-news/pages/login.js
  examples/z-experimental-next-news/pages/newest.js
  examples/z-experimental-next-news/pages/news/[id].js
  examples/z-experimental-next-news/pages/show.js
  examples/z-experimental-next-news/pages/submit.js
  examples/z-experimental-next-news/pages/user/[id].js
Labels: Type: Example, ready to land

#8993 Load granular chunks with correct asset prefix
  packages/next/client/page-loader.js
Labels: Type: Bug, priority: low, ready to land

#9252 Update default chromedriver version
  package.json
  yarn.lock
Labels: ready to land

#9270 Fix and update with-apollo-and-redux example
  examples/with-apollo-and-redux/README.md
  examples/with-apollo-and-redux/components/AddCount.js
  examples/with-apollo-and-redux/components/Clock.js
  examples/with-apollo-and-redux/components/Counter.js
  examples/with-apollo-and-redux/components/ErrorMessage.js
  examples/with-apollo-and-redux/components/Layout.js
  examples/with-apollo-and-redux/components/Nav.js
  examples/with-apollo-and-redux/components/Page.js
  examples/with-apollo-and-redux/components/PostList.js
  examples/with-apollo-and-redux/components/PostUpvoter.js
  examples/with-apollo-and-redux/components/Submit.js
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/lib/initApollo.js
  examples/with-apollo-and-redux/lib/redux.js
  examples/with-apollo-and-redux/lib/store.js
  examples/with-apollo-and-redux/lib/useInterval.js
  examples/with-apollo-and-redux/lib/withApollo.js
  examples/with-apollo-and-redux/package.json
  examples/with-apollo-and-redux/pages/_app.js
  examples/with-apollo-and-redux/pages/apollo.js
  examples/with-apollo-and-redux/pages/index.js
  examples/with-apollo-and-redux/pages/redux.js
  examples/with-apollo-and-redux/store.js
Labels: Type: Example, ready to land

#9268 Update _app documentation to reflect no longer needing next/app
  packages/next/README.md
Labels: Documentation, ready to land

#9267 Remove dead code elimination for when iSSG isn't used
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/size-limit/test/index.test.js
Labels: Type: Enhancement, ready to land

#9258 Add handling for exportTrailingSlash for iSSG pages
  packages/next/export/index.ts
  test/integration/prerender/pages/blog/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land
