Repository vercel/next.js, pull requests merged in 2020-08, with the labels that each got.

#15760 Fix asPath of rewrite without basePath
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/test/index.test.js
Labels: type: next

#15771 Add clarification of routing to a dynamic route
  docs/routing/dynamic-routes.md
Labels: type: documentation

#15775 Improve router types
  packages/next/next-server/lib/router/router.ts
Labels: type: next

#15783 examples: Update with-electron .gitignore
  examples/with-electron/.gitignore
Labels: type: example

#15398 Remove dotenv from auth0 Next.js example
  examples/auth0/.env.local.example
  examples/auth0/.env.template
  examples/auth0/.gitignore
  examples/auth0/README.md
  examples/auth0/lib/auth0.js
  examples/auth0/lib/config.js
  examples/auth0/next.config.js
  examples/auth0/package.json
  examples/auth0/vercel.json
Labels: type: example

#15799 Fix dotenv loading with cascading values
  packages/next/lib/load-env-config.ts
  test/integration/env-config/app/.env
  test/integration/env-config/app/.env.local
  test/integration/env-config/app/pages/api/all.js
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/env-config/app/pages/some-ssp.js
  test/integration/env-config/test/index.test.js
Labels: type: next

#15806 Solve large portion of webpack 5 deprecation warnings
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/serverless-plugin.ts
  packages/next/server/hot-reloader.ts
Labels: type: next

#15797 Fix some webpack 5 deprecation warnings
  package.json
  packages/next/build/webpack-config.ts
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/terser-webpack-plugin/minify.js
  packages/next/package.json
  packages/next/taskfile-ncc.js
  yarn.lock
Labels: type: next

#15803 with-electron-typescript build error fix
  examples/with-electron-typescript/renderer/pages/detail/[id].tsx
Labels: type: example

#15454 Add docs page for Create Next App
  docs/create-next-app.md
  docs/getting-started.md
Labels: type: documentation

#15768 Rename exportTrailingSlash to existing trailingSlash property
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/client/link.tsx
  packages/next/export/index.ts
  packages/next/next-server/lib/router/rewrite-url-for-export.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/config.ts
Labels: type: next

#15827 Support persisting the dev cache buster
  packages/next/next-server/lib/document-context.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
Labels: type: next

#15831 Updated with-passport example to fix syntax errors
  examples/with-passport/package.json
  examples/with-passport/pages/login.js
  examples/with-passport/pages/signup.js
Labels: type: example

#15830 Explain Sass Extensions in CSS Docs
  docs/basic-features/built-in-css-support.md
Labels: type: documentation

#15848 Fix CSS grid-column shorthand syntax
  packages/next/package.json
  test/integration/css-fixtures/compilation-and-prefixing/styles/global.css
  test/integration/css/test/index.test.js
  yarn.lock
Labels: type: next

#15772 Add missing nomodule polyfills and suggest using features only up to ES2019 for browser compatibility
  packages/next-polyfill-nomodule/src/index.js
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/integration/babel/pages/index.js
  test/integration/babel/test/namespace-exported-react.js
  yarn.lock
Labels: type: next

#15644 Bug fix: Font optimization
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  test/integration/font-optimization/test/index.test.js
  yarn.lock
Labels: type: next

#15297 [Feature] Progress bar for static build
  packages/next/build/index.ts
  packages/next/build/output/log.ts
  packages/next/build/spinner.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  test/integration/api-support/test/index.test.js
  test/integration/config-empty/test/index.test.js
  test/integration/config-experimental-warning/test/index.test.js
  test/integration/duplicate-pages/test/index.test.js
  test/integration/export-serverless/test/api-routes.js
  test/integration/export/test/api-routes.js
  test/integration/jsconfig/test/index.test.js
  test/integration/no-anon-default-export/test/index.test.js
  test/integration/no-duplicate-compile-error/test/index.test.js
  test/integration/non-standard-node-env-warning/test/index.test.js
Labels: type: next

#14365 incremental static generation and regeneration support in build manifest
  packages/next/build/index.ts
  packages/next/build/utils.ts
Labels: type: next

#15672 Add support for `fallback: 'blocking'`
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/export/index.ts
  packages/next/lib/constants.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  packages/next/types/index.d.ts
  test/integration/export-fallback-true-error/test/index.test.js
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/blocking-fallback-once/[slug].js
  test/integration/prerender/pages/blocking-fallback-some/[slug].js
  test/integration/prerender/pages/blocking-fallback/[slug].js
  test/integration/prerender/pages/non-json-blocking/[p].js
  test/integration/prerender/test/index.test.js
Labels: type: next

#15743 Remove dotenv from with-firebase example
  examples/with-firebase/.env.example
  examples/with-firebase/.env.local.example
  examples/with-firebase/README.md
  examples/with-firebase/firebase/clientApp.js
  examples/with-firebase/next.config.js
  examples/with-firebase/package.json
Labels: type: example

#15777 fixed issue with runtime-config returning undefined when building or in a development environment
  packages/next/server/next-dev-server.ts
  packages/next/server/static-paths-worker.ts
  test/integration/development-runtime-config/components/Layout.js
  test/integration/development-runtime-config/pages/_app.js
  test/integration/development-runtime-config/pages/index.js
  test/integration/development-runtime-config/pages/post/[pid].js
  test/integration/development-runtime-config/test/index.test.js
  yarn.lock
Labels: type: next

#15837 Disallow basePath: false for internal routes
  errors/invalid-external-rewrite.md
  packages/next/lib/load-custom-routes.ts
  test/integration/basepath/external/page.html
  test/integration/basepath/next.config.js
  test/integration/basepath/test/index.test.js
  test/integration/invalid-custom-routes/test/index.test.js
Labels: priority: p0, type: documentation, type: next

#15528 await ctx.renderPage() in examples for TypeScript
  examples/with-cxs/pages/_document.js
  examples/with-glamor/pages/_document.js
  examples/with-goober/pages/_document.js
  examples/with-react-native-web/pages/_document.js
  examples/with-tailwindcss-emotion/pages/_document.js
  examples/with-typestyle/pages/_document.js
Labels: type: example

#15851 Run Fast Refresh Loader in Babel Loader
  packages/next/build/webpack-config.ts
  test/acceptance/ReactRefreshRegression.test.js
  test/acceptance/helpers.js
  test/unit/webpack-config-overrides.test.js
Labels: type: next

#15888 add payment description for with-stripe-typescript
  examples/with-stripe-typescript/.env.local.example
  examples/with-stripe-typescript/pages/api/payment_intents/index.ts
Labels: type: example

#15752 Replace Graphcool with dedicated example GraphQL server using Prisma
  examples/with-apollo/README.md
  examples/with-apollo/components/PostList.js
  examples/with-apollo/components/PostUpvoter.js
  examples/with-apollo/components/Submit.js
  examples/with-apollo/lib/apolloClient.js
  examples/with-apollo/package.json
  examples/with-react-relay-network-modern/.env
  examples/with-react-relay-network-modern/.graphqlconfig
  examples/with-react-relay-network-modern/README.md
  examples/with-react-relay-network-modern/components/BlogPosts.js
  examples/with-react-relay-network-modern/package.json
  examples/with-react-relay-network-modern/schema/init-schema.graphql
  examples/with-reason-relay/.env
  examples/with-reason-relay/.graphqlconfig
  examples/with-reason-relay/README.md
  examples/with-reason-relay/package.json
  examples/with-reason-relay/schema/init-schema.graphql
  examples/with-reason-relay/schema/schema.graphql
  examples/with-reason-relay/src/BlogPosts.re
  examples/with-relay-modern/.env
  examples/with-relay-modern/.graphqlconfig
  examples/with-relay-modern/README.md
  examples/with-relay-modern/components/BlogPosts.js
  examples/with-relay-modern/package.json
Labels: type: example

#15856 Fix: with-mongodb-mongoose example improper fetch error handling
  examples/with-mongodb-mongoose/components/Form.js
Labels: type: example

#15628 Fix with-firebase-authentication example: Update the cookie when ID token refreshes on client
  examples/with-firebase-authentication/components/FirebaseAuth.js
  examples/with-firebase-authentication/pages/index.js
  examples/with-firebase-authentication/utils/auth/mapUserData.js
  examples/with-firebase-authentication/utils/auth/useUser.js
  examples/with-firebase-authentication/utils/auth/userCookies.js
Labels: type: example

#15814 remove dotenv from with-stripe-typescript
  examples/with-stripe-typescript/package.json
Labels: type: example

#15766 Update next build docs to include the --profile argument
  docs/api-reference/cli.md
Labels: type: documentation

#15807 Fix typos in blog-starter and blog-starter-typescript
  examples/blog-starter-typescript/components/alert.tsx
  examples/blog-starter/components/alert.js
Labels: type: example

#15833 examples/custom-server-typescript upgrade dependencies
  examples/custom-server-typescript/package.json
Labels: type: example

#15555 Fix awaiting for sync method of remark in cms examples
  examples/cms-cosmic/lib/markdownToHtml.js
  examples/cms-datocms/lib/markdownToHtml.js
  examples/cms-storyblok/lib/markdownToHtml.js
  examples/cms-strapi/lib/markdownToHtml.js
  examples/cms-takeshape/lib/markdownToHtml.js
Labels: type: example

#15804 Update with-apollo examples to merge existing cache
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo/lib/apolloClient.js
Labels: type: example

#15907 Remove outdated docs on serverless builds and runtime configs
  docs/api-reference/next.config.js/runtime-configuration.md
Labels: type: documentation

#15875 Add experimental image post-processing
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/next-server/lib/post-process.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/font-optimization/next.config.js
  test/integration/image-optimization/next.config.js
  test/integration/image-optimization/pages/index.js
  test/integration/image-optimization/pages/stars.js
  test/integration/image-optimization/pages/static-head.js
  test/integration/image-optimization/test/index.test.js
  yarn.lock
Labels: type: next

#15792 Allow absolute urls in router and Link
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/router/utils/parse-relative-url.ts
  test/integration/basepath/pages/absolute-url-basepath.js
  test/integration/basepath/pages/absolute-url-no-basepath.js
  test/integration/basepath/pages/absolute-url.js
  test/integration/basepath/test/index.test.js
  test/integration/build-output/test/index.test.js
  test/integration/client-navigation/pages/absolute-url.js
  test/integration/client-navigation/pages/dynamic/[slug]/route.js
  test/integration/client-navigation/test/index.test.js
  test/integration/invalid-href/pages/second.js
  test/integration/invalid-href/pages/third.js
  test/integration/invalid-href/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#15860 Enhance module not found error
  packages/next/build/webpack/plugins/wellknown-errors-plugin/index.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  packages/react-dev-overlay/src/middleware.ts
  test/acceptance/ReactRefreshLogBox.test.js
  test/acceptance/helpers.js
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
  yarn.lock
Labels: type: next

#15914 Normalize serverless asPath value
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/dynamic-optional-routing/pages/[[...optionalName]].js
  test/integration/dynamic-optional-routing/pages/nested/[[...optionalName]].js
  test/integration/dynamic-optional-routing/test/index.test.js
Labels: type: next

#15915 Adjust overlay modal padding on mobile
  packages/react-dev-overlay/src/internal/components/Dialog/styles.ts
  packages/react-dev-overlay/src/internal/components/Overlay/styles.tsx
Labels: type: next

#14325 Disallow re-export all exports from Next.js pages
  errors/export-all-in-page.md
  packages/next/build/babel/plugins/next-page-disallow-re-export-all-exports.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  test/integration/re-export-all-exports-from-page-disallowed/component/child.js
  test/integration/re-export-all-exports-from-page-disallowed/component/test.js
  test/integration/re-export-all-exports-from-page-disallowed/pages/about.js
  test/integration/re-export-all-exports-from-page-disallowed/pages/contact.js
  test/integration/re-export-all-exports-from-page-disallowed/pages/index.js
  test/integration/re-export-all-exports-from-page-disallowed/test/index.test.js
  test/integration/re-export-all-exports-from-page-disallowed/world.txt
Labels: type: create-next-app, type: documentation, type: example, type: next

#15921 [Examples] Remove horizontal scroll in CMS examples
  examples/cms-agilitycms/components/post-header.js
  examples/cms-buttercms/components/post-header.js
  examples/cms-contentful/components/post-header.js
  examples/cms-cosmic/components/post-header.js
  examples/cms-datocms/components/post-header.js
  examples/cms-prismic/components/post-header.js
  examples/cms-sanity/components/post-header.js
  examples/cms-storyblok/components/post-header.js
  examples/cms-strapi/components/post-header.js
  examples/cms-takeshape/components/post-header.js
  examples/cms-wordpress/components/post-header.js
Labels: type: example

#15925 fix typo in export-all-in-page
  errors/export-all-in-page.md
Labels: type: documentation

#15924 updated active-class-name example to also demo a `[slug]` path
  examples/active-class-name/components/ActiveLink.js
  examples/active-class-name/components/Nav.js
  examples/active-class-name/pages/[slug].js
Labels: type: example

#15917 Add variable expansion note
  docs/basic-features/environment-variables.md
Labels: type: documentation

#15929 Delay server start message until it's listening
  packages/next/cli/next-dev.ts
  test/integration/cli/test/index.test.js
Labels: type: next

#15931 Warn when Fast Refresh is disabled (React <16.10)
  errors/react-version.md
  packages/next/build/webpack-config.ts
  packages/next/cli/next-dev.ts
  packages/next/compiled/conf/index.js
  packages/next/compiled/jsonwebtoken/index.js
  packages/next/compiled/semver/LICENSE
  packages/next/compiled/semver/index.js
  packages/next/compiled/semver/package.json
  packages/next/lib/get-package-version.ts
  packages/next/lib/resolve-request.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/cli/old-react-dom/.gitignore
  test/integration/cli/old-react-dom/node_modules/react-dom/index.js
  test/integration/cli/old-react-dom/node_modules/react-dom/package.json
  test/integration/cli/old-react-dom/package.json
  test/integration/cli/old-react-dom/pages/index.js
  test/integration/cli/old-react/.gitignore
  test/integration/cli/old-react/node_modules/react/index.js
  test/integration/cli/old-react/node_modules/react/package.json
  test/integration/cli/old-react/package.json
  test/integration/cli/old-react/pages/index.js
  test/integration/cli/test/index.test.js
  yarn.lock
Labels: type: documentation, type: next

#15378 Remove querystring from the client
  packages/next/client/index.js
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/router/utils/format-url.ts
  packages/next/next-server/lib/router/utils/querystring.ts
  packages/next/next-server/lib/router/utils/search-params-to-url-query.ts
Labels: type: next

#15923 Update Fast Refresh doc
  docs/basic-features/fast-refresh.md
Labels: type: documentation

#15945 with-react-native-web: move meta viewport to _app.js
  examples/with-react-native-web/pages/_app.js
  examples/with-react-native-web/pages/_document.js
Labels: type: example

#15946 Improve Vercel's badge
  packages/next/README.md
Labels: type: next

#15433 Add PWA Example
  docs/faq.md
  examples/progressive-web-app/README.md
  examples/progressive-web-app/next.config.js
  examples/progressive-web-app/package.json
  examples/progressive-web-app/pages/_app.js
  examples/progressive-web-app/pages/api/hello.js
  examples/progressive-web-app/pages/index.js
  examples/progressive-web-app/public/favicon.ico
  examples/progressive-web-app/public/icons/icon-128x128.png
  examples/progressive-web-app/public/icons/icon-144x144.png
  examples/progressive-web-app/public/icons/icon-152x152.png
  examples/progressive-web-app/public/icons/icon-192x192.png
  examples/progressive-web-app/public/icons/icon-384x384.png
  examples/progressive-web-app/public/icons/icon-512x512.png
  examples/progressive-web-app/public/icons/icon-72x72.png
  examples/progressive-web-app/public/icons/icon-96x96.png
  examples/progressive-web-app/public/manifest.json
  examples/progressive-web-app/public/vercel.svg
  examples/progressive-web-app/styles/Home.module.css
  examples/progressive-web-app/styles/globals.css
Labels: type: documentation, type: example

#13894 notify component when route hash changes
  packages/next/next-server/lib/router/router.ts
  test/integration/client-navigation/pages/nav/hash-changes.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#15844 Added Friendly error for res.redirect 🐝
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/redirect-error.js
  test/integration/api-support/pages/api/redirect-null.js
  test/integration/api-support/test/index.test.js
Labels: type: next

#15532 example application on Redis (Lambda.store)
  examples/with-redis/.gitignore
  examples/with-redis/README.md
  examples/with-redis/docs/lstr1.png
  examples/with-redis/docs/lstr2.png
  examples/with-redis/docs/lstr3.png
  examples/with-redis/docs/lstr4.png
  examples/with-redis/docs/lstr5.png
  examples/with-redis/docs/lstr6.png
  examples/with-redis/package.json
  examples/with-redis/pages/_app.js
  examples/with-redis/pages/api/addemail.js
  examples/with-redis/pages/api/create.js
  examples/with-redis/pages/api/list.js
  examples/with-redis/pages/api/vote.js
  examples/with-redis/pages/index.js
  examples/with-redis/public/favicon.ico
  examples/with-redis/public/logo.png
  examples/with-redis/public/lstr.png
  examples/with-redis/public/vercel.svg
  examples/with-redis/styles/base.css
Labels: type: example

#15960 Fix asPath normalizing for non-dynamic pages
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/dynamic-optional-routing/pages/about.js
  test/integration/dynamic-optional-routing/server.js
  test/integration/dynamic-optional-routing/test/index.test.js
Labels: type: next

#15495 Update Sentry example to improve display of server errors
  examples/with-sentry/next.config.js
  examples/with-sentry/package.json
  examples/with-sentry/pages/_app.js
Labels: type: example

#15973 Make helpers.ts compatible with ie11
  packages/react-refresh-utils/internal/helpers.ts
Labels: type: next

#15984 Bug fix: Font optimization
  packages/next/next-server/lib/post-process.ts
  yarn.lock
Labels: type: next

#15949 Fix amphtml link rel not respecting basePath
  packages/next/next-server/server/config.ts
  test/integration/basepath/pages/amp-hybrid.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#16004 DOCS: Typo fixes - data-fetching
  docs/basic-features/data-fetching.md
Labels: type: documentation

#16007 Remove another broken demo link from with-graphql-faunadb
  examples/with-graphql-faunadb/README.md
Labels: type: example

#16006 Typo fix (built time -> build time)
  examples/data-fetch/README.md
Labels: type: example

#16022 Add browser polyfils for Node.js modules (webpack 5 backwards compat)
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/basic/pages/node-browser-polyfills.js
  test/integration/basic/test/index.test.js
  test/integration/production/pages/node-browser-polyfills.js
  test/integration/production/test/index.test.js
  yarn.lock
Labels: type: next

#16033 Resolve aliases modules
  packages/next/build/webpack-config.ts
Labels: type: next

#16042 Fix typos in @next/codemod CLI
  packages/next-codemod/bin/cli.ts
Labels: type: next

#16048 Do not bundle caniuse-lite
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/package.json
  packages/next/taskfile.js
  test/integration/css-modules/test/index.test.js
  test/integration/scss-modules/test/index.test.js
  yarn.lock
Labels: type: next

#16043 upgrade @ampproject/toolbox-optimizer to 2.6.0
  packages/next/package.json
  yarn.lock
Labels: type: next

#16051 Do not assign to readonly property in Safari
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  test/integration/production/next.config.js
  test/integration/production/pages/shadowed-page.js
  test/integration/production/pages/to-nonexistent.js
  test/integration/production/pages/to-shadowed-page.js
  test/integration/production/test/index.test.js
Labels: type: next

#16031 Improvements - Font optimizations
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/next-server/lib/post-process.ts
  packages/next/next-server/server/next-server.ts
Labels: type: next

#16003 Don’t prevent the browser’s default behavior for Alt key
  packages/next/client/link.tsx
Labels: type: next

#16023 Fix with-i18n-rosetta example
  examples/with-i18n-rosetta/lib/i18n.js
  examples/with-i18n-rosetta/pages/[lng]/index.js
Labels: type: example

#16057 Fix: with-firebase-authentication event listener
  examples/with-firebase-authentication/utils/auth/useUser.js
Labels: type: example

#15968 update with-filbert-js
  examples/with-filbert/.babelrc
  examples/with-filbert/package.json
  examples/with-filbert/pages/index.js
Labels: type: example

#16069 Fix link to create-next-app docs
  docs/api-reference/create-next-app.md
  docs/getting-started.md
  docs/manifest.json
Labels: type: documentation

#16067 Add codemod documentation
  docs/advanced-features/codemods.md
  docs/manifest.json
  packages/next-codemod/README.md
Labels: type: documentation, type: next

#15955 Add stripPrefix of webpack://_N_E/
  examples/with-sentry/next.config.js
Labels: type: example

#16089 Mention header overriding behavior
  docs/api-reference/next.config.js/headers.md
Labels: type: documentation

#15474 Add with-reactstrap example
  examples/with-reactstrap/.gitignore
  examples/with-reactstrap/README.md
  examples/with-reactstrap/package.json
  examples/with-reactstrap/pages/_app.jsx
  examples/with-reactstrap/pages/index.jsx
  examples/with-reactstrap/public/favicon-32x32.png
  examples/with-reactstrap/public/favicon.ico
  examples/with-reactstrap/public/vercel.svg
  examples/with-reactstrap/styles/index.css
Labels: type: example

#16116 Remove tslint disables
  packages/next/bin/next.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/cli/next-start.ts
  packages/next/client/router.ts
  packages/next/next-server/lib/mitt.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/require.ts
  packages/next/server/lib/utils.ts
  packages/next/types/webpack.d.ts
Labels: type: next

#16132 Strongly type PageLoader
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/page-loader.ts
Labels: type: next

#16144 Strongly type Head Manager
  packages/next/client/head-manager.ts
Labels: type: next

#16145 Improve page loader types
  packages/next/client/page-loader.ts
Labels: type: next

#16137 removed renderToHTML definition from with-flow example
  examples/with-flow/flow-typed/next.js.flow
Labels: type: example

#16138 removed renderToHTML from ssr-caching and custom-server-hapi in examples
  examples/custom-server-hapi/next-wrapper.js
  examples/ssr-caching/server.js
Labels: type: example

#16016 examples: Add with-supabase-auth-realtime-db example.
  examples/with-supabase-auth-realtime-db/.env.local.example
  examples/with-supabase-auth-realtime-db/.gitignore
  examples/with-supabase-auth-realtime-db/README.md
  examples/with-supabase-auth-realtime-db/components/Layout.js
  examples/with-supabase-auth-realtime-db/components/Message.js
  examples/with-supabase-auth-realtime-db/components/MessageInput.js
  examples/with-supabase-auth-realtime-db/docs/slack-clone-demo.gif
  examples/with-supabase-auth-realtime-db/jsconfig.json
  examples/with-supabase-auth-realtime-db/lib/Store.js
  examples/with-supabase-auth-realtime-db/lib/UserContext.js
  examples/with-supabase-auth-realtime-db/package.json
  examples/with-supabase-auth-realtime-db/pages/_app.js
  examples/with-supabase-auth-realtime-db/pages/channels/[id].js
  examples/with-supabase-auth-realtime-db/pages/index.js
  examples/with-supabase-auth-realtime-db/styles/style.scss
Labels: type: example

#16148 Dedupe ComponentRes type
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/router/router.ts
Labels: type: next

#16149 Remove unused router method
  packages/next/next-server/lib/router/router.ts
Labels: type: next

#15231 Add initial handling for dynamic route href resolving and rewrites on the client
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/dev/error-overlay/eventsource.js
  packages/next/client/next-dev.js
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/router/utils/prepare-destination.ts
  packages/next/next-server/lib/router/utils/resolve-rewrites.ts
  packages/next/next-server/server/denormalize-page-path.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/normalize-page-path.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/router.ts
  packages/next/pages/_document.tsx
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  test/integration/build-output/test/index.test.js
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/prerender/next.config.js
  test/integration/prerender/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: create-next-app, type: documentation, type: example, type: next

#16159 Reduce router code
  packages/next/next-server/lib/router/router.ts
Labels: type: next

#16161 Convert performance relayer to TypeScript
  packages/next/client/performance-relayer.js
  packages/next/client/performance-relayer.ts
Labels: type: next

#16167 Convert next/client to TypeScript
  packages/next/client/index.tsx
  packages/next/next-server/lib/router/router.ts
Labels: type: next

#16168 Remove unused dependency
  packages/next/compiled/launch-editor/index.js
  packages/next/compiled/launch-editor/package.json
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  packages/next/server/lib/error-overlay-middleware.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  yarn.lock
Labels: type: next

#16174 Share NEXT_DATA type instead of recreating it
  packages/next/client/index.tsx
  packages/next/next-server/lib/utils.ts
Labels: type: next

#16181 Modify low priority files in manifest
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/render.tsx
Labels: type: next

#16091 fix: add missing dependency caniuse-lite
  packages/next/package.json
  yarn.lock
Labels: type: next

#16184 Refactor <Document> files
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
Labels: type: next

#13731 Add MSW usage example
  examples/with-msw/.env
  examples/with-msw/.gitignore
  examples/with-msw/README.md
  examples/with-msw/mocks/browser.js
  examples/with-msw/mocks/handlers.js
  examples/with-msw/mocks/index.js
  examples/with-msw/mocks/server.js
  examples/with-msw/package.json
  examples/with-msw/pages/_app.js
  examples/with-msw/pages/index.js
  examples/with-msw/public/book-cover.jpg
  examples/with-msw/public/mockServiceWorker.js
Labels: type: example

#16189 Update rewrite params query appending
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/router/utils/prepare-destination.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: type: next

#16139 Update Storybook examples to v6.0
  examples/with-storybook-typescript/.gitignore
  examples/with-storybook-typescript/.storybook/addons.js
  examples/with-storybook-typescript/.storybook/config.js
  examples/with-storybook-typescript/.storybook/main.js
  examples/with-storybook-typescript/README.md
  examples/with-storybook-typescript/components/index.tsx
  examples/with-storybook-typescript/next-env.d.ts
  examples/with-storybook-typescript/package.json
  examples/with-storybook-typescript/pages/index.tsx
  examples/with-storybook-typescript/stories/button.stories.tsx
  examples/with-storybook-typescript/stories/helloWorld.stories.tsx
  examples/with-storybook-typescript/stories/welcome.stories.tsx
  examples/with-storybook-typescript/tsconfig.json
  examples/with-storybook/.storybook/addons.js
  examples/with-storybook/.storybook/config.js
  examples/with-storybook/.storybook/main.js
  examples/with-storybook/.storybook/preview.js
  examples/with-storybook/README.md
  examples/with-storybook/package.json
Labels: type: example

#16221 Correct a couple of small grammar errors.
  docs/advanced-features/preview-mode.md
Labels: type: documentation

#16194 Update to Terser 5
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/terser-webpack-plugin/minify.js
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: type: next

#16250 Make css-minimizer compatible with webpack 5
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
Labels: type: next

#16263 Fix data URL with root-catchall and basePath
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath-root-catch-all/next.config.js
  test/integration/basepath-root-catch-all/pages/[...parts].js
  test/integration/basepath-root-catch-all/pages/hello.js
  test/integration/basepath-root-catch-all/test/index.test.js
Labels: type: next

#16211 Handle cases where `config` is exported after its declaration
  errors/invalid-page-config.md
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/amphtml/pages/nav.js
  test/integration/amphtml/pages/var-before-export.js
  test/integration/amphtml/test/index.test.js
  test/integration/page-config/pages/invalid/export-from.js
  test/integration/page-config/pages/invalid/import-export.js
  test/integration/page-config/pages/invalid/spread-config.js
  test/integration/page-config/test/index.test.js
Labels: type: documentation, type: next

#16255 ci: add pnp test
  .github/workflows/build_test_deploy.yml
  .gitignore
  examples/with-typescript/package.json
Labels: type: example, type: next

#16126 Update stylesheets on page navigation
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/pages/_document.tsx
  test/integration/build-output/test/index.test.js
  test/integration/css-fixtures/composes-ordering/pages/common.module.css
  test/integration/css-fixtures/composes-ordering/pages/index.js
  test/integration/css-fixtures/composes-ordering/pages/index.module.css
  test/integration/css-fixtures/composes-ordering/pages/other.js
  test/integration/css-fixtures/composes-ordering/pages/other.module.css
  test/integration/css-fixtures/hydrate-without-deps/pages/common.module.css
  test/integration/css-fixtures/hydrate-without-deps/pages/index.js
  test/integration/css-fixtures/hydrate-without-deps/pages/index.module.css
  test/integration/css-fixtures/transition-cleanup/pages/common.module.css
  test/integration/css-fixtures/transition-cleanup/pages/index.js
  test/integration/css-fixtures/transition-cleanup/pages/index.module.css
  test/integration/css-fixtures/transition-cleanup/pages/other.js
  test/integration/css-fixtures/transition-cleanup/pages/other.module.css
  test/integration/css-fixtures/transition-reload/pages/common.module.css
  test/integration/css-fixtures/transition-reload/pages/index.js
  test/integration/css-fixtures/transition-reload/pages/index.module.css
  test/integration/css-fixtures/transition-reload/pages/other.js
  test/integration/css-fixtures/transition-reload/pages/other.module.css
  test/integration/css/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#16282 Fix forEach error in CSS commit in ie11
  packages/next/client/index.tsx
Labels: type: next

#15997 Added next-sitemap example
  examples/with-next-sitemap/README.md
  examples/with-next-sitemap/next-env.d.ts
  examples/with-next-sitemap/next-sitemap.js
  examples/with-next-sitemap/package.json
  examples/with-next-sitemap/pages/[dynamic].tsx
  examples/with-next-sitemap/pages/index.tsx
  examples/with-next-sitemap/tsconfig.json
Labels: type: example

#16198 Update docs for server-side code in GS(S)P props
  docs/basic-features/data-fetching.md
Labels: type: documentation

#16140 Allow React experimental version without warning
  packages/next/cli/next-dev.ts
  test/integration/cli/experimental-react-dom/.gitignore
  test/integration/cli/experimental-react-dom/node_modules/react-dom/index.js
  test/integration/cli/experimental-react-dom/node_modules/react-dom/package.json
  test/integration/cli/experimental-react-dom/package.json
  test/integration/cli/experimental-react-dom/pages/index.js
  test/integration/cli/experimental-react/.gitignore
  test/integration/cli/experimental-react/node_modules/react/index.js
  test/integration/cli/experimental-react/node_modules/react/package.json
  test/integration/cli/experimental-react/package.json
  test/integration/cli/experimental-react/pages/index.js
  test/integration/cli/test/index.test.js
Labels: type: next

#16292 Fix typo in fast-refresh.md
  docs/basic-features/fast-refresh.md
Labels: type: documentation

#16307 Add experimental webpack 5 cache option
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
Labels: type: next

#16288 Fix old TypeScript version compatibility
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/router/router.ts
Labels: type: next

#16295 [Examples] Remove horizontal scroll in CMS examples
  examples/blog-starter-typescript/components/cover-image.tsx
  examples/blog-starter-typescript/components/post-header.tsx
  examples/blog-starter/components/cover-image.js
  examples/blog-starter/components/post-header.js
  examples/cms-agilitycms/components/cover-image.js
  examples/cms-buttercms/components/cover-image.js
  examples/cms-contentful/components/cover-image.js
  examples/cms-cosmic/components/cover-image.js
  examples/cms-datocms/components/cover-image.js
  examples/cms-graphcms/components/cover-image.js
  examples/cms-prismic/components/cover-image.js
  examples/cms-sanity/components/cover-image.js
  examples/cms-storyblok/components/cover-image.js
  examples/cms-strapi/components/cover-image.js
  examples/cms-takeshape/components/cover-image.js
  examples/cms-wordpress/components/cover-image.js
Labels: type: example

#15953 Replace broken `prop-types-exact` package
  packages/next/client/link.tsx
  packages/next/package.json
  test/acceptance/ReactRefreshLogBox.test.js
  yarn.lock
Labels: type: next

#16318 Force browser to recompute layout on page nav
  packages/next/client/index.tsx
  test/integration/build-output/test/index.test.js
Labels: type: next

#16319 Add `<link>` attributes in proper order
  packages/next/client/page-loader.ts
Labels: type: next

#16328 Add at attribute to image preload link
  packages/next/next-server/lib/post-process.ts
  test/integration/image-optimization/test/index.test.js
Labels: type: next

#16336 Fix IE11 CSS Compatibility
  packages/next/client/index.tsx
  test/integration/production/pages/css-and-back.js
  test/integration/production/pages/css-modules.js
  test/integration/production/test/index.test.js
Labels: type: next

#16334 Make `loadPage` track success of script loading
  packages/next/client/page-loader.ts
  test/integration/client-404/pages/missing.js
  test/integration/client-404/pages/to-missing-link.js
  test/integration/client-404/test/client-navigation.js
  test/integration/client-404/test/index.test.js
Labels: type: next

#16352 Normalize request URL/asPath for fallback SSG pages
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender-fallback-aspath/next.config.js
  test/integration/prerender-fallback-aspath/pages/blog/[post]/[comment].js
  test/integration/prerender-fallback-aspath/pages/blog/[post]/index.js
  test/integration/prerender-fallback-aspath/server.js
  test/integration/prerender-fallback-aspath/test/index.test.js
Labels: type: next

#16354 Reduce filesystem lookups during bootup
  packages/next/lib/get-package-version.ts
Labels: type: next

#14889 CNA: Add warning about permission
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/is-writeable.ts
  test/integration/create-next-app/index.test.js
Labels: type: create-next-app

#16356 Fix basePath and public folder check ending routes early
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/basepath/public/data.txt
  test/integration/basepath/test/index.test.js
Labels: type: next

#16362 Fix page checking failing with trailingSlash
  packages/next/next-server/server/router.ts
  test/integration/trailing-slashes-rewrite/next.config.js
  test/integration/trailing-slashes-rewrite/pages/catch-all/[...slug].js
  test/integration/trailing-slashes-rewrite/pages/index.js
  test/integration/trailing-slashes-rewrite/pages/products/[product].js
  test/integration/trailing-slashes-rewrite/pages/products/index.js
  test/integration/trailing-slashes-rewrite/server.js
  test/integration/trailing-slashes-rewrite/test/index.test.js
Labels: type: next

#16379 Add serialization for mini-css-plugin webpack 5 caching
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/build/webpack/plugins/mini-css-extract-plugin.ts
  packages/next/build/webpack/plugins/mini-css-extract-plugin/LICENSE
  packages/next/build/webpack/plugins/mini-css-extract-plugin/src/CssDependency.js
  packages/next/build/webpack/plugins/mini-css-extract-plugin/src/CssModule.js
  packages/next/build/webpack/plugins/mini-css-extract-plugin/src/index.js
  packages/next/build/webpack/plugins/mini-css-extract-plugin/src/loader.js
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/package.json
  yarn.lock
Labels: type: next

#16391 Correct comment on --help
  packages/next/bin/next.ts
Labels: type: next

#16390 Fix mini-css-plugin webpack 5 deprecation warnings
  packages/next/build/webpack/plugins/mini-css-extract-plugin/src/index.js
  packages/next/build/webpack/plugins/mini-css-extract-plugin/src/loader.js
  packages/react-dev-overlay/src/middleware.ts
Labels: type: next

#16399 Add debug flag for extra build output
  packages/next/build/index.ts
  packages/next/cli/next-build.ts
  test/integration/custom-routes/test/index.test.js
Labels: type: next

#16398 Warn on duplicate Sass deps
  errors/duplicate-sass.md
  packages/next/cli/next-dev.ts
  test/integration/cli/duplicate-sass/.gitignore
  test/integration/cli/duplicate-sass/node_modules/node-sass/index.js
  test/integration/cli/duplicate-sass/node_modules/node-sass/package.json
  test/integration/cli/duplicate-sass/node_modules/sass/index.js
  test/integration/cli/duplicate-sass/node_modules/sass/package.json
  test/integration/cli/duplicate-sass/package.json
  test/integration/cli/duplicate-sass/pages/index.js
  test/integration/cli/test/index.test.js
Labels: type: documentation, type: next

#16401 Ensure unknown static paths 404 for data request
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/test/index.test.js
Labels: type: next

#16208 AMP compatibility for Font optimization
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/next-server/lib/head.tsx
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/font-optimization/next.config.js
  test/integration/font-optimization/pages/amp.js
  test/integration/font-optimization/test/index.test.js
  test/integration/font-optimization/test/manifest-snapshot.json
  yarn.lock
Labels: type: next

#16497 Remove experimental example
  examples/z-experimental-refresh/.gitignore
  examples/z-experimental-refresh/README.md
  examples/z-experimental-refresh/components/ClickCount.js
  examples/z-experimental-refresh/components/ClickCount.module.css
  examples/z-experimental-refresh/global.css
  examples/z-experimental-refresh/package.json
  examples/z-experimental-refresh/pages/_app.js
  examples/z-experimental-refresh/pages/index.js
Labels: type: example

#16494 Add webpack 5 cache invalidation
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
Labels: type: next

#16376 basePath should also append in urlPrefix
  examples/with-sentry/next.config.js
Labels: type: example

#16503 Documentation updates
  docs/advanced-features/custom-error-page.md
  docs/advanced-features/static-html-export.md
  docs/api-reference/cli.md
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next.config.js/environment-variables.md
  docs/api-routes/dynamic-api-routes.md
  docs/api-routes/introduction.md
  docs/basic-features/supported-browsers-features.md
  docs/deployment.md
  docs/faq.md
  examples/data-fetch/README.md
  examples/data-fetch/package.json
  examples/data-fetch/pages/index.js
  examples/data-fetch/pages/preact-stars.js
Labels: type: documentation, type: example

#16459 Add error when document component isn't rendered
  errors/missing-document-component.md
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/missing-document-component-error/pages/index.js
  test/integration/missing-document-component-error/test/index.test.js
Labels: type: documentation, type: next

#16496 Update Fast Refresh warning
  packages/next/build/babel/plugins/no-anonymous-default-export.ts
Labels: type: next

#12843 Store css file dependencies info for dynamic imports and apply it at SSR
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/pages/_document.tsx
  test/integration/production/components/dynamic-css/many-imports/with-css-1.js
  test/integration/production/components/dynamic-css/many-imports/with-css-1.module.css
  test/integration/production/components/dynamic-css/many-imports/with-css-2.js
  test/integration/production/components/dynamic-css/many-imports/with-css-2.module.css
  test/integration/production/components/dynamic-css/many-imports/with-css-3.js
  test/integration/production/components/dynamic-css/many-imports/with-css-3.module.css
  test/integration/production/components/dynamic-css/many-modules/with-css-2.module.css
  test/integration/production/components/dynamic-css/many-modules/with-css.js
  test/integration/production/components/dynamic-css/many-modules/with-css.module.css
  test/integration/production/components/dynamic-css/nested/Nested.jsx
  test/integration/production/components/dynamic-css/nested/with-css-2.module.css
  test/integration/production/components/dynamic-css/nested/with-css.js
  test/integration/production/components/dynamic-css/nested/with-css.module.css
  test/integration/production/components/dynamic-css/no-css.js
  test/integration/production/components/dynamic-css/shared-css-module/with-css-2.js
  test/integration/production/components/dynamic-css/shared-css-module/with-css-2.module.css
  test/integration/production/components/dynamic-css/shared-css-module/with-css-shared.module.css
  test/integration/production/components/dynamic-css/shared-css-module/with-css.js
  test/integration/production/components/dynamic-css/shared-css-module/with-css.module.css
  test/integration/production/components/dynamic-css/with-css.js
  test/integration/production/components/dynamic-css/with-css.module.css
  test/integration/production/pages/dynamic/css.js
  test/integration/production/pages/dynamic/many-css-modules.js
  test/integration/production/pages/dynamic/many-dynamic-css.js
  test/integration/production/pages/dynamic/nested-css.js
  test/integration/production/pages/dynamic/no-css.js
  test/integration/production/pages/dynamic/shared-css-module.js
  test/integration/production/test/dynamic.js
Labels: type: next

#16505 Update fast-refresh.md to fix 404 link
  docs/basic-features/fast-refresh.md
Labels: type: documentation

#16531 Enable webpack 5 caching by default
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
Labels: type: next

#16536 Update environment variables example
  examples/environment-variables/pages/index.js
Labels: type: example

#16540 Fix github docs links
  docs/advanced-features/custom-app.md
  docs/advanced-features/custom-document.md
  docs/advanced-features/customizing-postcss-config.md
  docs/advanced-features/debugging.md
  docs/api-reference/next.config.js/custom-webpack-config.md
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
  docs/basic-features/built-in-css-support.md
  docs/basic-features/environment-variables.md
  docs/basic-features/typescript.md
  docs/getting-started.md
  docs/routing/dynamic-routes.md
Labels: type: documentation

#16532 examples/with-styled-components: Fix missing peerDependency
  examples/with-styled-components/package.json
Labels: type: example

#16537 Reuse existing `<link rel=stylesheet>` on nav
  packages/next/client/index.tsx
  test/integration/build-output/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#16581 Replace <link rel=stylesheet> client-side transitions with <style> tags
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/pages/_document.tsx
  test/integration/css-client-nav/test/index.test.js
  test/integration/css/test/index.test.js
Labels: type: next

#16611 Do not rely on `cssText`
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
Labels: type: next

#16215 feat: upgrade react-intl workflow in example
  examples/with-react-intl/.babelrc
  examples/with-react-intl/.gitignore
  examples/with-react-intl/.vscode/settings.json
  examples/with-react-intl/README.md
  examples/with-react-intl/components/Layout.js
  examples/with-react-intl/components/Layout.tsx
  examples/with-react-intl/components/Nav.tsx
  examples/with-react-intl/lang/en.json
  examples/with-react-intl/lang/fr.json
  examples/with-react-intl/next-env.d.ts
  examples/with-react-intl/next.config.js
  examples/with-react-intl/package.json
  examples/with-react-intl/pages/_app.js
  examples/with-react-intl/pages/_app.tsx
  examples/with-react-intl/pages/_document.js
  examples/with-react-intl/pages/about.js
  examples/with-react-intl/pages/about.tsx
  examples/with-react-intl/pages/index.js
  examples/with-react-intl/pages/index.tsx
  examples/with-react-intl/polyfills.ts
  examples/with-react-intl/scripts/extract.js
  examples/with-react-intl/server.js
  examples/with-react-intl/server.ts
  examples/with-react-intl/tsconfig.json
  examples/with-react-intl/tsconfig.server.json
Labels: type: example
