Repository vercel/next.js, pull requests merged in 2020-10, with the labels that each got.

#17506 Mention required version for global CSS imports in node_modules
  docs/basic-features/built-in-css-support.md
Labels: type: documentation

#17540 Mention `favicon.ico` in static file serving docs.
  docs/basic-features/static-file-serving.md
Labels: type: documentation

#17539 update README for vercel.app, stream.new
  examples/with-mux-video/README.md
  examples/with-mux-video/components/layout.js
  examples/with-mux-video/public/mux-nextjs-og-image.png
Labels: type: example

#17535 Add note about priority to rewrites docs
  docs/api-reference/next.config.js/rewrites.md
Labels: type: documentation

#17561 [docs] Fix typo Next.js -> TypeScript
  docs/basic-features/typescript.md
Labels: type: documentation

#17571 Improve formatting in examples
  examples/amp-first/README.md
  examples/api-routes-rest/README.md
  examples/blog-starter-typescript/README.md
  examples/blog-starter/README.md
Labels: type: example

#17444 Add missing introductory exportPathMap purpose description
  docs/api-reference/next.config.js/exportPathMap.md
Labels: type: documentation

#17595 Remove left-over api-utils method
  packages/next/next-server/server/api-utils.ts
Labels: type: next

#17610 Fixes #16431
  examples/with-storybook/.babelrc
  examples/with-storybook/components/index.js
Labels: type: example

#17538 Add warning when exporting with custom routes
  errors/export-no-custom-routes.md
  packages/next/export/index.ts
  test/integration/custom-routes/test/index.test.js
Labels: type: documentation, type: next

#17551 Normalize optional catch-all fallback: true page params
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Labels: type: next

#17630 Update to use hasNextSupport for custom-routes in next export check
  packages/next/export/index.ts
Labels: type: next

#17491 Add docs on how to migrate from Gatsby.
  docs/manifest.json
  docs/migrating/from-gatsby.md
Labels: type: documentation

#17636 Update migrating from Gatsby docs.
  docs/migrating/from-gatsby.md
Labels: type: documentation

#17510 change anonymous functions to named in docs examples
  docs/advanced-features/preview-mode.md
  docs/api-routes/dynamic-api-routes.md
  docs/api-routes/introduction.md
  docs/api-routes/response-helpers.md
Labels: type: documentation

#17653 fix typo
  examples/with-firebase/context/userContext.js
Labels: type: example

#17370 Add initial changes for i18n support
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.tsx
  packages/next/client/link.tsx
  packages/next/client/page-loader.ts
  packages/next/client/router.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/next-server/lib/i18n/detect-locale-cookie.ts
  packages/next/next-server/lib/i18n/normalize-locale-path.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/package.json
  packages/next/pages/_document.tsx
  packages/next/server/next-dev-server.ts
  packages/next/server/static-paths-worker.ts
  packages/next/types/index.d.ts
  test/integration/build-output/test/index.test.js
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/pages/another.js
  test/integration/i18n-support/pages/gsp/fallback/[slug].js
  test/integration/i18n-support/pages/gsp/index.js
  test/integration/i18n-support/pages/gsp/no-fallback/[slug].js
  test/integration/i18n-support/pages/gssp/[slug].js
  test/integration/i18n-support/pages/gssp/index.js
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/test/index.test.js
  test/integration/size-limit/test/index.test.js
  test/lib/next-test-utils.js
  yarn.lock
Labels: type: next

#17686 Fix with-apollo example
  examples/with-apollo/components/Submit.js
Labels: type: example

#17669 Update to have default locale matched on root
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.tsx
  packages/next/client/link.tsx
  packages/next/client/page-loader.ts
  packages/next/client/router.ts
  packages/next/export/index.ts
  packages/next/next-server/lib/i18n/normalize-locale-path.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/index.test.js
  test/lib/next-webdriver.js
Labels: type: next

#17695 Fix with-msw example
  examples/with-msw/.env
  examples/with-msw/package.json
  examples/with-msw/pages/_app.js
  examples/with-msw/pages/index.js
Labels: type: example

#17724 Handle css-loader file resolving change
  packages/next/build/webpack/config/blocks/css/loaders/file-resolve.ts
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  test/integration/css-fixtures/unresolved-css-url/global.css
  test/integration/css-fixtures/unresolved-css-url/global.scss
  test/integration/css-fixtures/unresolved-css-url/pages/_app.js
  test/integration/css-fixtures/unresolved-css-url/pages/another.js
  test/integration/css-fixtures/unresolved-css-url/pages/another.module.scss
  test/integration/css-fixtures/unresolved-css-url/pages/index.js
  test/integration/css-fixtures/unresolved-css-url/pages/index.module.css
  test/integration/css-fixtures/unresolved-css-url/public/vercel.svg
  test/integration/css/test/index.test.js
Labels: type: next

#17730 Update to generate auto static pages with all locales
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/pages/auto-export/index.js
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17771 Add handling for domain to locale mapping
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/i18n/detect-domain-locales.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17779 Fix grammatical typo in docs
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
Labels: type: documentation

#17789 Fix broken url caused in docs
  docs/advanced-features/codemods.md
Labels: type: documentation

#17757 Make sure locale detecting is case-insensitive
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/i18n/detect-locale-cookie.ts
  packages/next/next-server/lib/i18n/normalize-locale-path.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17805 Fix a couple i18n cases
  packages/next/client/index.tsx
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17742 Improve with-tailwindcss example
  examples/with-tailwindcss/tailwind.config.js
Labels: type: example

#17450 Font optimization for webpack 5
  .github/workflows/build_test_deploy.yml
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
Labels: type: next

#17812 Fix higherOrderComponent causing broken layout
  docs/basic-features/fast-refresh.md
Labels: type: documentation

#17803 Add use-npm CLI flag docs
  docs/api-reference/create-next-app.md
Labels: type: documentation

#17858 (docs) Fixes for "Migrating from Gatsby" doc
  docs/migrating/from-gatsby.md
Labels: type: documentation

#17590 Allow pages to be async modules to enable top-level-await
  .eslintignore
  .github/workflows/build_test_deploy.yml
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/page-loader.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  test/integration/async-modules/next.config.js
  test/integration/async-modules/pages/404.jsx
  test/integration/async-modules/pages/_app.jsx
  test/integration/async-modules/pages/_document.jsx
  test/integration/async-modules/pages/_error.jsx
  test/integration/async-modules/pages/api/hello.js
  test/integration/async-modules/pages/config.jsx
  test/integration/async-modules/pages/gsp.jsx
  test/integration/async-modules/pages/gssp.jsx
  test/integration/async-modules/pages/index.jsx
  test/integration/async-modules/pages/make-error.jsx
  test/integration/async-modules/test/index.test.js
Labels: type: next

#17856 Update redirect handling for locale domains
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/i18n/detect-domain-locale.ts
  packages/next/next-server/lib/i18n/detect-domain-locales.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17343 Image component foundation
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/image.tsx
  packages/next/image.d.ts
  packages/next/image.js
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/image-component/bad-next-config/pages/index.js
  test/integration/image-component/bad-next-config/test/index.test.js
  test/integration/image-component/basic/next.config.js
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/errors.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#17441 chore(collect-plugins.ts): removes duplicated entries
  packages/next/build/plugins/collect-plugins.ts
Labels: type: next

#17279 Resolve to real path before checking for path inequality
  package.json
  packages/next/build/webpack-config.ts
  test/package-managers-tests/basic-pnpm/pages/about.js
  test/package-managers-tests/basic-pnpm/pages/about2.js
  test/package-managers-tests/basic-pnpm/pages/day/index.js
  test/package-managers-tests/basic-pnpm/pages/index.js
  test/package-managers-tests/basic-pnpm/test/index.test.js
  yarn.lock
Labels: type: next

#17883 Handle preferring default locale over accept-lang preferred locale
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17898 Add locale prop for transitioning locales client side
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/pages/links.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17896 feat(example): added missing prisma.io examples
  examples/with-prisma/README.md
Labels: type: example

#17908 Fixed link for expo
  examples/with-expo-typescript/next.config.js
  examples/with-expo/next.config.js
Labels: type: example

#17461 Make sure that params are properly passed to hybrid amp pages
  packages/next/export/worker.ts
  test/integration/amphtml-ssg/pages/blog/[slug].js
  test/integration/amphtml-ssg/test/index.test.js
Labels: type: next

#17893 Add i18n items to routes manifest
  packages/next/build/index.ts
  packages/next/export/index.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17923 Ensure i18n support with AMP
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/pages/amp/amp-first.js
  test/integration/i18n-support/pages/amp/amp-hybrid.js
  test/integration/i18n-support/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#17933 Call Web Vitals reporting at correct time
  packages/next/client/index.tsx
  packages/next/client/performance-relayer.ts
  test/integration/build-output/test/index.test.js
Labels: type: next

#17926 Fix initialRevalidateSeconds manifest field with i18n
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#17749 Add support for Image Optimizer
  errors/install-sharp.md
  packages/next/build/index.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/image-optimizer.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/serve-static.ts
  packages/next/package.json
  test/integration/image-optimizer/next.config.js
  test/integration/image-optimizer/pages/index.js
  test/integration/image-optimizer/public/test.bmp
  test/integration/image-optimizer/public/test.gif
  test/integration/image-optimizer/public/test.jpg
  test/integration/image-optimizer/public/test.png
  test/integration/image-optimizer/public/test.svg
  test/integration/image-optimizer/public/test.tiff
  test/integration/image-optimizer/test/get-max-age.test.js
  test/integration/image-optimizer/test/index.test.js
  yarn.lock
Labels: type: documentation, type: next

#17940 Add missing next/image package file
  packages/next/package.json
Labels: type: next

#17945 Only load plugins with @next prefix
  packages/next/build/plugins/collect-plugins.ts
  test/integration/next-plugins/app/node_modules/@zeit/next-plugin-scope/package.json
  test/integration/next-plugins/app/node_modules/@zeit/next-plugin-scope/src/on-init-client.js
  test/integration/next-plugins/app/node_modules/next-plugin-normal/package.json
  test/integration/next-plugins/app/node_modules/next-plugin-normal/src/dir-with-ext.js/index.js
  test/integration/next-plugins/app/node_modules/next-plugin-normal/src/dir-without-ext/index.js
  test/integration/next-plugins/app/node_modules/next-plugin-normal/src/on-init-client.js
  test/integration/next-plugins/app/package.json
  test/integration/next-plugins/test/index.test.js
Labels: hacktoberfest-accepted, type: next

#17943 Update default configuration to match image optimization
  packages/next/client/image.tsx
  packages/next/next-server/server/config.ts
Labels: hacktoberfest-accepted, type: next

#17952 Fix width param name for Image Optimizer
  packages/next/client/image.tsx
Labels: type: next

#17953 Unify config.image.breakpoints to config.image.sizes
  packages/next/client/image.tsx
  test/integration/image-component/bad-next-config/test/index.test.js
  test/integration/image-component/basic/next.config.js
Labels: hacktoberfest-accepted, type: next

#17954 Improve types for Image Component
  packages/next/client/image.tsx
Labels: hacktoberfest-accepted, type: next

#17666 Fix with-mongodb hot-reload issue and race condition
  examples/with-mongodb/util/mongodb.js
Labels: hacktoberfest-accepted, type: example

#17971 Make sure `w` parameter is only included when a width is provided.
  packages/next/client/image.tsx
Labels: type: next

#17916 Image component lazy loading
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#17974 Make sure animated assets aren't de-animated by optimizer
  package.json
  packages/next/compiled/is-animated/index.js
  packages/next/compiled/is-animated/package.json
  packages/next/next-server/server/image-optimizer.ts
  packages/next/taskfile.js
  test/integration/image-optimizer/public/animated.gif
  test/integration/image-optimizer/public/animated.png
  test/integration/image-optimizer/public/animated.webp
  test/integration/image-optimizer/test/index.test.js
  yarn.lock
Labels: type: next

#17984 Fix types for lazy image component
  packages/next/client/image.tsx
Labels: type: next

#17375 Updated dependencies for example: with-react-native-web
  examples/with-react-native-web/package.json
Labels: type: example

#17667 Add with-facebook-pixel example
  examples/with-facebook-pixel/.env.local.example
  examples/with-facebook-pixel/.gitignore
  examples/with-facebook-pixel/README.md
  examples/with-facebook-pixel/components/FacebookPixel.js
  examples/with-facebook-pixel/package.json
  examples/with-facebook-pixel/pages/_app.js
  examples/with-facebook-pixel/pages/index.js
  examples/with-facebook-pixel/public/favicon.ico
Labels: hacktoberfest-accepted, type: example

#18001 Capitalize Data Fetching title in docs
  docs/api-reference/data-fetching/getInitialProps.md
  docs/basic-features/data-fetching.md
  docs/manifest.json
Labels: type: documentation

#17985 Update step 5 to Strapi example Readme
  examples/cms-strapi/README.md
Labels: type: example

#18012 Fix typo in headers docs example
  docs/api-reference/next.config.js/headers.md
Labels: hacktoberfest-accepted, type: documentation

#17458 Update to postcss-loader 4.0.2.
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  packages/next/build/webpack/config/blocks/css/overrideCssConfiguration.ts
  packages/next/compiled/postcss-loader/LICENSE
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/compiled/postcss-loader/index.js
  packages/next/compiled/postcss-loader/package.json
  packages/next/package.json
  test/acceptance/ReactRefreshLogBox.test.js
  yarn.lock
Labels: type: next

#17998 Update handling for relative files in image-optimizer
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#18046 Ensure correct default locale is detected for domain locale
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.tsx
  packages/next/next-server/lib/i18n/detect-domain-locale.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
Labels: type: next

#18038 Remove multi-host support for image component and support quality pass-through
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  test/integration/image-component/bad-next-config/pages/index.js
  test/integration/image-component/bad-next-config/test/index.test.js
  test/integration/image-component/basic/next.config.js
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18031 Add `width` and `height` props to Image component
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  packages/next/next-server/server/config.ts
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/errors.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-component/default/pages/index.js
  test/integration/image-component/default/public/test.bmp
  test/integration/image-component/default/public/test.gif
  test/integration/image-component/default/public/test.jpg
  test/integration/image-component/default/public/test.png
  test/integration/image-component/default/public/test.svg
  test/integration/image-component/default/public/test.tiff
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#18053 Ensure root index GSP page's revalidate is recorded
  packages/next/build/index.ts
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18064 Update resolve-url-loader to fix vulnerability
  packages/next/package.json
  yarn.lock
Labels: type: next

#18074 Use ya in case xa is false
  examples/with-firebase-authentication/utils/auth/mapUserData.js
Labels: hacktoberfest-accepted, type: example

#18077 Pass locales to getStaticPaths for i18n
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  packages/next/types/index.d.ts
  test/integration/i18n-support/pages/gsp/fallback/[slug].js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18059 Add `unsized` property to Image component
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/index.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/typescript/next.config.js
  test/integration/image-component/typescript/pages/invalid.tsx
  test/integration/image-component/typescript/pages/valid.tsx
  test/integration/image-component/typescript/test/index.test.js
  test/integration/image-component/typescript/tsconfig.json
Labels: type: next

#17301 Fix css dependency in /_error
  packages/next/pages/_document.tsx
  test/integration/document-file-dependencies/css/404.module.css
  test/integration/document-file-dependencies/css/error.module.css
  test/integration/document-file-dependencies/css/global.css
  test/integration/document-file-dependencies/css/index.module.css
  test/integration/document-file-dependencies/pages/404.js
  test/integration/document-file-dependencies/pages/_app.js
  test/integration/document-file-dependencies/pages/_error.js
  test/integration/document-file-dependencies/pages/error-trigger.js
  test/integration/document-file-dependencies/pages/index.js
  test/integration/document-file-dependencies/test/index.test.js
Labels: type: next

#18068 Move sharp to optionalDependencies
  errors/install-sharp.md
  packages/next/next-server/server/image-optimizer.ts
  packages/next/package.json
Labels: type: documentation, type: next

#17415 Update to PostCSS 8.
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/package.json
  packages/next/types/misc.d.ts
  yarn.lock
Labels: hacktoberfest-accepted, type: next

#18089 Update peerdependency to account for React 17
  packages/next/package.json
  packages/react-dev-overlay/package.json
Labels: type: next

#17558 Upgrade to Chokidar 3.
  packages/next/package.json
  yarn.lock
Labels: type: next

#18087 Upgrade @ampproject/toolbox-optimizer
  packages/next/package.json
  yarn.lock
Labels: type: next

#18093 Fix precompiled code
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/terser/bundle.min.js
  test/acceptance/ReactRefreshLogBox.test.js
  yarn.lock
Labels: type: next

#18100 Image Component: Support for Akamai image CDN
  packages/next/client/image.tsx
Labels: type: next

#18101 Fix Image component defaults & remove autoOptimize
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  packages/next/next-server/server/config.ts
  test/integration/image-component/basic/next.config.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18106 Fix merge conflict
  packages/next/client/image.tsx
Labels: type: next

#18119 Update fallback 404 handling to prevent reload loop
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/build-output/test/index.test.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18123 Make lazy-loading the default for next/image
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/default/pages/flex.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/typescript/test/index.test.js
Labels: type: next

#18115 Add locale false handling
  packages/next/client/index.tsx
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  test/integration/i18n-support/pages/locale-false.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18138 Change Image component lazy=true to loading=lazy
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18147 Update Image Optimization API to prevent upscaling image
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#18149 Update redirect query encoding
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/production/test/security.js
Labels: type: next

#18158 Pass quality param of image component to preload
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18151 Add w param
  packages/next/client/image.tsx
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18067 Add initial i18n documentation
  docs/advanced-features/i18n-routing.md
  docs/api-reference/next/router.md
  docs/basic-features/data-fetching.md
Labels: type: documentation

#18179 Bypass image optimization for vector images
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#18178 Add support for string width/height on Image component
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/index.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/typescript/pages/valid.tsx
Labels: type: next

#18107 Add docs for Image Optimization
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  examples/image-component/.gitignore
  examples/image-component/README.md
  examples/image-component/next.config.js
  examples/image-component/package.json
  examples/image-component/pages/index.js
  examples/image-component/public/vercel.png
  examples/image-component/styles.module.css
Labels: type: documentation, type: example

#18195 Fix flashing of no-src image when using next/image
  packages/next/client/image.tsx
Labels: type: next

#18200 Bump styled-jsx to 3.3.1
  packages/next/package.json
Labels: type: next

#18205 Ensure 404 with SSG is rendered correctly with notFound
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/pages/404.js
  test/integration/i18n-support/test/index.test.js
  yarn.lock
Labels: type: next

#18199 Update use-subscription to account for React 17 peerDependency
  packages/next/package.json
  yarn.lock
Labels: type: next

#18211 Image Optimization API should 404 when loader is not default
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#18152 Add next/image default loader errors
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-src.js
  test/integration/image-component/default/pages/missing-src.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#18236 Fix Image `srcset` to ensure the component's `width` is the largest possible image
  packages/next/client/image.tsx
  test/integration/image-component/basic/next.config.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#18217 Add config limit checks for image optimizer
  packages/next/next-server/server/config.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#18254 Fix image optimization docs
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  docs/manifest.json
Labels: type: documentation

#18267 Separate config into `deviceSizes` and `iconSizes`
  docs/basic-features/image-optimization.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-component/basic/next.config.js
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-optimizer/test/index.test.js
Labels: type: documentation, type: next

#18279 Adjust configuration option placement
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
Labels: hacktoberfest-accepted, type: next

#18276 Remove unstable_ prefix from unstable_blocking
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/server/next-dev-server.ts
  packages/next/types/index.d.ts
  test/integration/prerender/pages/blocking-fallback-once/[slug].js
  test/integration/prerender/pages/blocking-fallback-some/[slug].js
  test/integration/prerender/pages/blocking-fallback/[slug].js
  test/integration/prerender/pages/non-json-blocking/[p].js
  test/integration/prerender/test/index.test.js
Labels: hacktoberfest-accepted, type: next

#17741 Fix browser back issue of redirects from getServerSideProps / getStaticProps
  packages/next/next-server/lib/router/router.ts
  test/integration/gssp-redirect/test/index.test.js
Labels: hacktoberfest-accepted, type: next

#18241 Add support for notFound in getServerSideProps
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/getserversideprops/pages/not-found/[slug].js
  test/integration/getserversideprops/pages/not-found/index.js
  test/integration/getserversideprops/test/index.test.js
Labels: hacktoberfest-accepted, type: next

#18285 Improve type for GSP return type
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
Labels: hacktoberfest-accepted, type: next

#18264 Add i18n routing docs to manifest
  docs/manifest.json
Labels: type: documentation

#17342 Add absolute import example
  docs/advanced-features/module-path-aliases.md
Labels: type: documentation

#18206 Add initial example for i18n routing
  examples/i18n-routing/.gitignore
  examples/i18n-routing/README.md
  examples/i18n-routing/next.config.js
  examples/i18n-routing/package.json
  examples/i18n-routing/pages/gsp/[slug].js
  examples/i18n-routing/pages/gsp/index.js
  examples/i18n-routing/pages/gssp.js
  examples/i18n-routing/pages/index.js
Labels: type: example

#18282 Remove unstable_ prefix from unstable_redirect
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/gssp-redirect/pages/gsp-blog/[post].js
  test/integration/gssp-redirect/pages/gssp-blog/[post].js
  test/integration/gssp-redirect/test/index.test.js
Labels: type: next

#18274 Re-add domain locale redirect handling
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/i18n/detect-domain-locale.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18283 Remove unstable_ prefix from unstable_notFound
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/getserversideprops/pages/not-found/[slug].js
  test/integration/getserversideprops/pages/not-found/index.js
  test/integration/i18n-support/pages/not-found/fallback/[slug].js
  test/integration/i18n-support/pages/not-found/index.js
Labels: type: next

#18214 Add fetching 404 SSG data on fallback notFound
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/pages/404.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18216 Expose configured default locale in GS(S)P methods
  docs/advanced-features/i18n-routing.md
  docs/basic-features/data-fetching.md
  packages/next/build/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/i18n-support/pages/another.js
  test/integration/i18n-support/pages/gsp/fallback/[slug].js
  test/integration/i18n-support/pages/gsp/index.js
  test/integration/i18n-support/pages/gsp/no-fallback/[slug].js
  test/integration/i18n-support/pages/gssp/[slug].js
  test/integration/i18n-support/pages/gssp/index.js
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/test/index.test.js
Labels: type: documentation, type: next

#18292 Adjust default image quality to 75
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
Labels: type: documentation, type: next

#18224 Add support number quality on Image Component
  packages/next/client/image.tsx
  test/integration/image-component/typescript/pages/valid.tsx
Labels: type: next

#18286 Update example link text
  docs/advanced-features/module-path-aliases.md
Labels: type: documentation

#18246 update @now/next to @vercel/next
  docs/advanced-features/multi-zones.md
Labels: type: documentation

#18294 Rename iconSizes to imageSizes, remove size limitation
  docs/basic-features/image-optimization.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-component/basic/next.config.js
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-optimizer/test/index.test.js
Labels: type: documentation, type: next

#18175 Record leveraged configs
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  packages/next/telemetry/events/version.ts
  test/integration/telemetry/next.config.custom-routes
  test/integration/telemetry/next.config.i18n-images
  test/integration/telemetry/test/index.test.js
Labels: type: next

#18296 Update docs - add default config for images property
  docs/basic-features/image-optimization.md
Labels: type: documentation

#18298 Fix trailing slash for default image loader
  packages/next/next-server/server/config.ts
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#18300 Ensure getStaticProps is called for SSG 404 in blocking mode
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/i18n-support/pages/not-found/blocking-fallback/[slug].js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18303 Enable feature flag
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/version.ts
  test/integration/i18n-support/next.config.js
  test/integration/telemetry/next.config.i18n-images
Labels: type: next

#18319 Fix docs default config values
  docs/basic-features/image-optimization.md
Labels: type: documentation

#18328 fix: Order `moduleFileExtensions` left-to-right
  examples/with-typescript-eslint-jest/jest.config.js
  examples/with-typescript-graphql/jest.config.js
Labels: type: example

#18325 Add err.sh for missing images domain
  errors/next-image-unconfigured-host.md
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
Labels: type: documentation, type: next

#18345 Unlazify images if no intersection observer found
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/pages/missing-observer.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18355 Tweak Image Optimization URL in example
  examples/image-component/pages/index.js
Labels: type: example

#18399 Update docs with details for cached images
  docs/basic-features/image-optimization.md
Labels: type: documentation

#18401 Update image optimization docs to include blog details
  docs/basic-features/image-optimization.md
Labels: type: documentation

#18424 Add err.sh for image config errors
  errors/invalid-images-config.md
  packages/next/next-server/server/config.ts
Labels: type: documentation, type: next

#17651 remove unneeded deps & updated example
  examples/with-emotion/.babelrc
  examples/with-emotion/package.json
  examples/with-emotion/pages/_app.js
  examples/with-emotion/pages/_document.js
  examples/with-emotion/pages/index.js
  examples/with-emotion/shared/styles.js
Labels: type: example

#18425 Add err.sh for i18n config errors
  errors/invalid-i18n-config.md
  packages/next/next-server/server/config.ts
Labels: type: documentation, type: next

#18438 docs: Add description to i18n-routing
  docs/advanced-features/i18n-routing.md
Labels: type: documentation

#18465 Fix GSP page titles in i18n-routing example
  examples/i18n-routing/pages/gsp/[slug].js
  examples/i18n-routing/pages/gsp/index.js
Labels: type: example

#18427 Ensure custom routes handling with i18n
  packages/next/next-server/lib/router/utils/prepare-destination.ts
  packages/next/next-server/server/router.ts
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18493 Update using-preact example's dependencies
  examples/using-preact/next.config.js
  examples/using-preact/package.json
  examples/using-preact/pages/index.js
  examples/using-preact/pages/ssg.js
  examples/using-preact/pages/ssr.js
Labels: hacktoberfest-accepted, type: example

#18513 Ensure i18n context values are provided for blocking 404
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/i18n-support/pages/404.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18491 Add layout prop to Image component
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/layout-fixed.js
  test/integration/image-component/default/pages/layout-intrinsic.js
  test/integration/image-component/default/pages/layout-responsive.js
  test/integration/image-component/default/public/wide.png
  test/integration/image-component/default/test/index.test.js
  test/lib/next-webdriver.d.ts
  test/lib/wd-chain.js
Labels: type: documentation, type: next

#18508 Update install-sharp.md
  errors/install-sharp.md
Labels: type: documentation

#18524 Fix i18n-routing Vercel deploy button URLs
  examples/i18n-routing/README.md
Labels: type: example

#18506 small tweaks for those testing on an existing site with missing autho…
  examples/cms-wordpress/components/avatar.js
  examples/cms-wordpress/components/hero-post.js
  examples/cms-wordpress/components/more-stories.js
  examples/cms-wordpress/pages/index.js
  examples/cms-wordpress/pages/posts/[slug].js
Labels: hacktoberfest-accepted, type: example

#18527 fix: issue #18360 - loading spinner not showing up
  examples/with-next-page-transitions/pages/about.js
Labels: hacktoberfest-accepted, type: example
