Repository vercel/next.js, pull requests merged in 2020-02, with the labels that each got.

#10370 added fix for #8893
  examples/with-firebase-hosting/package.json
Labels: Type: Example

#10353 Make sure to not override initial navigation when refreshing static page's query
  packages/next/client/index.js
  test/integration/dynamic-routing/pages/[name]/on-mount-redir.js
  test/integration/dynamic-routing/test/index.test.js
Labels: Type: Bug, ready to land

#10365 Add support for runtimeConfigs in serverless mode
  errors/serverless-publicRuntimeConfig.md
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/config.ts
  test/integration/handle-non-page-in-pages/test/index.test.js
  test/integration/serverless-runtime-configs/pages/config.js
  test/integration/serverless-runtime-configs/test/index.test.js
Labels: Type: Enhancement

#10360 Add check that dynamic route is API route in handleApiRequest
  packages/next/next-server/server/next-server.ts
  test/integration/dynamic-routing/test/index.test.js
Labels: Type: Bug

#10379 Fix bug in catch-all routes with SSG
  packages/next/build/utils.ts
  test/integration/prerender/test/index.test.js
Labels: ready to land

#10382 Update create app docs
  packages/create-next-app/templates/default/README.md
  packages/create-next-app/templates/default/pages/index.js
Labels: Documentation, ready to land

#10386 Run runtime config side-effect before other serverless imports
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless-runtime-configs/pages/_app.js
  test/integration/serverless-runtime-configs/pages/_document.js
  test/integration/serverless-runtime-configs/pages/api/config.js
  test/integration/serverless-runtime-configs/pages/config.js
  test/integration/serverless-runtime-configs/server.js
  test/integration/serverless-runtime-configs/test/index.test.js
Labels: Type: Enhancement, ready to land

#10342 Update to not show API not ended warning when response is piped to
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/test-res-pipe.js
  test/integration/api-support/test/index.test.js
Labels: Type: Enhancement, ready to land

#10363 Add TypeScript Definitions for Sass
  lint-staged.config.js
  package.json
  packages/next/types/global.d.ts
  test/integration/typescript/components/hello.module.sass
  test/integration/typescript/components/hello.module.scss
  test/integration/typescript/components/hello.ts
  test/integration/typescript/next.config.js
Labels: Type: Enhancement, ready to land

#10396 New Jest Example
  .eslintrc.json
  examples/with-jest-flow/.babelrc
  examples/with-jest-flow/.eslintrc.json
  examples/with-jest-flow/.flowconfig
  examples/with-jest-flow/README.md
  examples/with-jest-flow/__tests__/__snapshots__/index.test.js.snap
  examples/with-jest-flow/__tests__/index.test.js
  examples/with-jest-flow/components/Page.js
  examples/with-jest-flow/flow-typed/next.js.flow
  examples/with-jest-flow/jest.config.js
  examples/with-jest-flow/jest.setup.js
  examples/with-jest-flow/package.json
  examples/with-jest-flow/pages/index.js
  examples/with-jest-react-testing-library/.babelrc
  examples/with-jest-react-testing-library/README.md
  examples/with-jest-react-testing-library/__tests__/__snapshots__/index.test.js.snap
  examples/with-jest-react-testing-library/__tests__/index.test.js
  examples/with-jest-react-testing-library/jest.config.js
  examples/with-jest-react-testing-library/package.json
  examples/with-jest-react-testing-library/pages/index.js
  examples/with-jest-typescript/.babelrc
  examples/with-jest-typescript/README.md
  examples/with-jest-typescript/jest.config.js
  examples/with-jest-typescript/jest.setup.js
  examples/with-jest-typescript/next-env.d.ts
  examples/with-jest-typescript/package.json
  examples/with-jest-typescript/pages/cars.tsx
  examples/with-jest-typescript/pages/index.tsx
  examples/with-jest-typescript/pages/login.tsx
  examples/with-jest-typescript/src/components/NiceCheckbox/index.tsx
  examples/with-jest-typescript/src/components/NiceCheckbox/test.tsx
  examples/with-jest-typescript/src/modules/auth/Login.tsx
  examples/with-jest-typescript/src/modules/auth/__tests__/Login.test.tsx
  examples/with-jest-typescript/src/modules/auth/types.ts
  examples/with-jest-typescript/src/modules/cars/Detail.tsx
  examples/with-jest-typescript/src/modules/cars/Overview.tsx
  examples/with-jest-typescript/src/modules/cars/__tests__/Detail.test.tsx
  examples/with-jest-typescript/src/modules/cars/__tests__/Overview.test.tsx
  examples/with-jest-typescript/src/modules/cars/types.ts
  examples/with-jest-typescript/tsconfig.json
  examples/with-jest/.eslintrc
  examples/with-jest/README.md
  examples/with-jest/__tests__/__snapshots__/index.test.js.snap
  examples/with-jest/__tests__/__snapshots__/snapshot.js.snap
  examples/with-jest/__tests__/index.test.js
  examples/with-jest/__tests__/snapshot.js
  examples/with-jest/__tests__/testing-library.js
  examples/with-jest/config/jest/cssTransform.js
  examples/with-jest/jest.config.js
  examples/with-jest/jest.setup.js
  examples/with-jest/package.json
  examples/with-jest/pages/_app.js
  examples/with-jest/pages/index.js
  examples/with-jest/pages/index.module.css
  examples/with-jest/public/favicon.ico
  examples/with-jest/public/zeit.svg
  examples/with-jest/setupTests.js
  examples/with-jest/styles/global.css
Labels: Type: Example

#9856 Skip undefined attribute in Head
  packages/next/client/head-manager.js
  test/integration/client-navigation/pages/head.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
Labels: Type: Bug, ready to land

#10402 Make sure runtime config works in dev mode for serverless target
  packages/next/next-server/server/next-server.ts
  test/integration/serverless-runtime-configs/test/index.test.js
Labels: Type: Enhancement

#10403 Check for invalid pages
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/pages/__ytho__/lel.js
  test/integration/telemetry/pages/hello.test.skip
  test/integration/telemetry/test/index.test.js
Labels: ready to land

#10418 Detect Invalid Pages Before Optimize
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Labels: ready to land

#10041 Add support for rewriting to external resources
  package.json
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/package.json
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/invalid-custom-routes/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#10408 Modify splitChunksPlugin to give shared CSS chunks different names
  packages/next/build/webpack-config.ts
Labels: ready to land

#10419 Re-enable `native-url`
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: ready to land

#10420 Update optimize event with static 404 status
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Labels: ready to land

#10423 De-dupe paths returned in getStaticPaths
  packages/next/build/utils.ts
  test/integration/prerender/pages/blog/[post]/index.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#10433 Make missing param error message more specific
  packages/next/build/utils.ts
  test/integration/prerender-invalid-catchall-params/test/index.test.js
Labels: Type: Enhancement

#10424 Add initial SSG fallback handling
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/spr-cache.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement

#10444 Redesign custom-routes output and show headers in output
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/integration/custom-routes/test/index.test.js
Labels: Type: Enhancement

#8801 Make withApollo work with _app.js components
  examples/with-apollo/lib/apollo.js
Labels: Type: Example

#10301 With threejs example
  examples/with-three-js/README.md
  examples/with-three-js/package.json
  examples/with-three-js/pages/_app.js
  examples/with-three-js/pages/birds.js
  examples/with-three-js/pages/boxes.js
  examples/with-three-js/pages/index.css
  examples/with-three-js/pages/index.js
  examples/with-three-js/public/glb/flamingo.glb
  examples/with-three-js/public/glb/parrot.glb
  examples/with-three-js/public/glb/stork.glb
Labels: Type: Example, ready to land

#10454 Add paths field for unstable_getStaticPaths
  packages/next/build/utils.ts
  packages/next/next-server/server/load-components.ts
  test/integration/catches-missing-getStaticProps/pages/[slug].js
  test/integration/dynamic-routing/pages/p1/p2/predefined-ssg/[...rest].js
  test/integration/prerender-invalid-catchall-params/pages/[...slug].js
  test/integration/prerender-invalid-paths/pages/[foo]/[post].js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/pages/user/[user]/profile.js
Labels: ready to land

#10458 Add error message when rewriting to dynamic SSG page
  packages/next/next-server/server/render.tsx
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#10470 get the http2 example to work
  examples/with-http2/next.config.js
Labels: Type: Example, ready to land

#10485 Make Missing Prerender Manifest Fatal
  packages/next/build/index.ts
  packages/next/next-server/server/spr-cache.ts
  test/integration/error-in-error/pages/index.js
Labels: ready to land

#10326 Update next-server routes order for expected priority
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/redirect-override.js
  test/integration/custom-routes/test/index.test.js
  test/integration/invalid-multi-match/test/index.test.js
Labels: ready to land

#10498 Builds with Warnings Still Complete
  packages/next/build/index.ts
  test/integration/telemetry/pages/warning.skip
  test/integration/telemetry/test/index.test.js
Labels: ready to land

#10412 Update deploy doc to surface ZEIT Now / DPS
  docs/deployment.md
Labels: Documentation, ready to land

#10459 SSG Preview Mode
  package.json
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/crypto-utils.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/spr-cache.ts
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  test/integration/prerender-preview/pages/api/preview.js
  test/integration/prerender-preview/pages/api/reset.js
  test/integration/prerender-preview/pages/index.js
  test/integration/prerender-preview/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#10499 Fix typo in ignoring-typescript-errors.md
  docs/api-reference/next.config.js/ignoring-typescript-errors.md
Labels: Documentation, ready to land

#10510 Adjust SSG Loading Behavior
  packages/next/build/index.ts
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/prerender-preview/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#10512 Update wording for custom server
  docs/deployment.md
Labels: Documentation, ready to land

#10513 Retry Static Data Fetch on Hydration
  packages/next/next-server/lib/router/router.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#10514 Remove with-data-prefetch Example
  examples/with-data-prefetch/README.md
  examples/with-data-prefetch/components/link.js
  examples/with-data-prefetch/package.json
  examples/with-data-prefetch/pages/article.js
  examples/with-data-prefetch/pages/index.js
Labels: Type: Example, ready to land

#10476 Clean up async in next-server
  packages/next/next-server/server/next-server.ts
Labels: ready to land

#10441 Improve error for invalid page configurations
  packages/next/build/babel/plugins/next-page-config.ts
  test/integration/page-config/pages/index.js
  test/integration/page-config/pages/invalid/invalid-property.js
  test/integration/page-config/pages/invalid/invalid-value.js
  test/integration/page-config/pages/invalid/no-init.js
  test/integration/page-config/pages/invalid/spread-config.js
  test/integration/page-config/pages/invalid/string-config.js
  test/integration/page-config/test/index.test.js
Labels: Type: Enhancement, ready to land

#10486 Add handling for default as named export in SSG transform
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: Type: Bug, priority: low, ready to land

#10451 Update withApollo example
  examples/with-apollo/apolloClient.js
  examples/with-apollo/lib/apollo.js
  examples/with-apollo/package.json
  examples/with-apollo/pages/about.js
  examples/with-apollo/pages/client-only.js
  examples/with-apollo/pages/index.js
Labels: Type: Example, ready to land

#10526 Remove `native-url` Again
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: ready to land

#10536 Make sure to encode pathname for custom-route destination
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/production/next.config.js
  test/integration/production/test/security.js
Labels: Type: Bug

#10425 Check next.config.js settings
  packages/next/build/index.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  packages/next/server/next-dev-server.ts
  packages/next/telemetry/events/version.ts
  test/integration/telemetry/.babelrc.default
  test/integration/telemetry/.babelrc.plugin
  test/integration/telemetry/.babelrc.preset
  test/integration/telemetry/next.config.target
  test/integration/telemetry/next.config.webpack
  test/integration/telemetry/package.babel
  test/integration/telemetry/test/index.test.js
Labels: ready to land

#10535 Migrate to AMP Optimizer 2.0
  docs/advanced-features/amp-support/adding-amp-components.md
  packages/next/package.json
  test/integration/amp-export-validation/pages/cat.js
  test/integration/amp-export-validation/pages/dog-cat.js
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml/pages/auto-import.js
  test/integration/amphtml/test/index.test.js
  yarn.lock
Labels: ready to land

#10539 Implement `isFallback` Router Property
  packages/next/client/index.js
  packages/next/client/router.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement

#10560 Speculate Navigations for Client-Side JS
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  test/integration/preload-viewport/pages/index.js
  test/integration/preload-viewport/test/index.test.js
Labels: Type: Enhancement, ready to land

#10541 Remove ts-ignore where possible
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/client/link.tsx
  packages/next/lib/resolve-request.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/next-server/lib/loadable-context.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/misc.d.ts
  packages/next/types/webpack.d.ts
Labels: ready to land

#10572 Enable pages/404.js support
  packages/next/next-server/server/config.ts
Labels: Type: Enhancement, ready to land

#10571 Enable scss/sass support
  packages/next/next-server/server/config.ts
  test/integration/scss-fixtures/next.config.js
  test/integration/typescript/next.config.js
Labels: Type: Enhancement, ready to land

#10364 Re-add Sass Docs
  docs/basic-features/built-in-css-support.md
Labels: Documentation, ready to land

#10579 Make sure to handle rejection when prefetching pages
  packages/next/client/link.tsx
  test/integration/preload-viewport/pages/invalid-prefetch.js
  test/integration/preload-viewport/test/index.test.js
Labels: Type: Bug

#10573 Add NextApiHandler type
  packages/next/next-server/lib/utils.ts
  packages/next/types/index.d.ts
Labels: Type: Enhancement, ready to land

#10351 Update to latest watchpack with dynamic route rename fix
  packages/next/package.json
  test/integration/dynamic-route-rename/pages/[pid].js
  test/integration/dynamic-route-rename/test/index.test.js
  yarn.lock
Labels: Is Upstream, Type: Bug

#10590 Add Failing CSS Test Case
  packages/next/package.json
  test/integration/css-fixtures/compilation-and-prefixing/styles/global.css
  test/integration/css/test/index.test.js
  test/integration/scss-fixtures/compilation-and-prefixing/styles/global.scss
  test/integration/scss/test/index.test.js
  yarn.lock
Labels: Type: Bug, ready to land

#10596 Do not cache 404 responses (ssr-caching)
  examples/ssr-caching/server.js
Labels: Type: Example, ready to land

#10595 Fix Nested Index Dynamic Routes in Development
  packages/next/server/next-dev-server.ts
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/pages/p1/p2/nested-all-ssg/[...rest]/index.js
  test/integration/dynamic-routing/pages/p1/p2/nested-all-ssg/[...rest]/styles.module.css
  test/integration/dynamic-routing/test/index.test.js
Labels: Type: Bug, ready to land

#10591 Emit ES5 Friendly Code in Program#exit Visitor
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
  test/unit/next-babel-loader.test.js
Labels: Type: Enhancement, ready to land

#10547 Fixed pathname check in router
  packages/next/next-server/lib/router/router.ts
  test/integration/production/test/index.test.js
Labels: ready to land

#10597 Use clearInterval instead of clearTimer on a timer
  packages/next/client/dev/error-overlay/eventsource.js
Labels: ready to land

#10600 Fix AMP Validator Version
  packages/next/package.json
  yarn.lock
Labels: ready to land

#10605 Add err.sh for invalid getStaticPaths return value
  errors/invalid-getstaticpaths-value.md
  packages/next/build/utils.ts
Labels: Documentation

#10612 Disable setImmediate polyfill
  packages/next/build/webpack-config.ts
  test/integration/size-limit/test/index.test.js
Labels: ready to land

#10616 Add navigation test specific for Safari 10
  .github/workflows/build_test_deploy.yml
  test/integration/production-nav/pages/another.js
  test/integration/production-nav/pages/index.js
  test/integration/production-nav/test/index.test.js
  test/lib/next-webdriver.js
  yarn.lock
Labels: ready to land

#10617 Make sure to handle failing to load _error
  packages/next/next-server/lib/router/router.ts
  test/integration/error-load-fail/pages/broken.js
  test/integration/error-load-fail/pages/index.js
  test/integration/error-load-fail/test/index.test.js
Labels: Type: Bug

#10530 Re-Enable Native `url` Module
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#10619 Add err.sh for getStaticProps error
  errors/invalid-getstaticprops-value.md
  packages/next/cli/next-build.ts
  packages/next/export/worker.js
  packages/next/next-server/server/render.tsx
Labels: Documentation, ready to land

#10620 Add error messages for dynamic SSG page without getStaticPaths
  packages/next/build/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/dynamic-routing/pages/p1/p2/all-ssg/[...rest].js
  test/integration/dynamic-routing/pages/p1/p2/nested-all-ssg/[...rest]/index.js
  test/integration/prerender/test/index.test.js
Labels: Documentation, ready to land

#10623 Revert "Re-Enable Native `url` Module"
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: ready to land

#10631 Update error-load-fail test to use check to handle reload taking longer on windows
  test/integration/error-load-fail/test/index.test.js
Labels: ready to land

#10634 Fix Cookie Expiration
  packages/next/next-server/server/api-utils.ts
  test/integration/prerender-preview/test/index.test.js
Labels: Type: Bug, priority: low, ready to land

#10636 Preview Mode Should Not Cache
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  test/integration/prerender-preview/server.js
  test/integration/prerender-preview/test/index.test.js
Labels: Type: Bug, ready to land

#10630 Invalidate cache for link[preload] in dev for CSS files
  packages/next/pages/_document.tsx
Labels: Type: Bug, ready to land

#10657 Fix typo in invalid getStaticPaths value example
  errors/invalid-getstaticpaths-value.md
Labels: Documentation

#10638 Update with-mobx-keystone-typescript example
  examples/with-mobx-keystone-typescript/components/Clock.tsx
  examples/with-mobx-keystone-typescript/package.json
  examples/with-mobx-keystone-typescript/store/root.ts
Labels: Type: Example, ready to land

#10660 Test Prerender in Emulated Serverless Mode
  test/integration/prerender/server.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#10663 Fix Double URL Encoding for Serverless
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless/pages/catchall/[...slug].js
  test/integration/serverless/test/index.test.js
Labels: ready to land

#10611 Add calling getStaticPaths in development before showing fallback
  packages/next/build/utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  packages/next/server/static-paths-worker.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement, ready to land

#10670 Show better error when non-array is returned from custom-routes
  errors/routes-must-be-array.md
  packages/next/build/index.ts
  packages/next/lib/check-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Labels: Documentation, ready to land

#10673 Update error load fail test so that webdriver can still connect to app
  test/integration/error-load-fail/test/index.test.js
Labels: ready to land

#10697 Make sure rewrites are handled correctly in serverless mode correctly
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/api/dynamic/[slug].js
  test/integration/custom-routes/server.js
  test/integration/custom-routes/test/index.test.js
Labels: Type: Bug, ready to land

#10653 Update url prop handling for pages with new data methods
  errors/reserved-page-prop.md
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_app.tsx
  test/integration/getserverprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: Documentation, ready to land

#10622 Add dataRoutes field to routes-manifest for SSG and serverProps routes
  packages/next/build/index.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/getserverprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#10728 Fix buildId being escaped causing getServerSideProps tests to be flakey
  test/integration/getserversideprops/test/index.test.js
Labels: ready to land

#10726 Fix url-polyfill dep and re-enable native-url
  packages/next-polyfill-nomodule/package.json
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/size-limit/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#10732 Extract sendPayload and prepareServerlessUrl
  packages/next/next-server/server/next-server.ts
Labels: ready to land

#10731 Extract getStaticPaths helper
  packages/next/next-server/server/next-server.ts
Labels: ready to land

#10740 Remove old eslint-ignores from unstable_ prefix
  packages/next/export/worker.js
  test/integration/client-navigation/pages/nav/url-prop-change.js
  test/integration/getserversideprops/pages/another/index.js
  test/integration/getserversideprops/pages/blog/[post]/[comment].js
  test/integration/getserversideprops/pages/blog/[post]/index.js
  test/integration/getserversideprops/pages/blog/index.js
  test/integration/getserversideprops/pages/catchall/[...path].js
  test/integration/getserversideprops/pages/default-revalidate.js
  test/integration/getserversideprops/pages/index.js
  test/integration/getserversideprops/pages/invalid-keys.js
  test/integration/getserversideprops/pages/something.js
  test/integration/getserversideprops/pages/user/[user]/profile.js
  test/integration/prerender-invalid-catchall-params/pages/[...slug].js
  test/integration/prerender-invalid-paths/pages/[foo]/[post].js
  test/integration/prerender-legacy/pages/blog/[post].js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/blog/index.js
  test/integration/prerender/pages/default-revalidate.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/pages/user/[user]/profile.js
Labels: ready to land

#10756 Separate Low Priority Files from Main Files
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/chunking/test/index.test.js
Labels: ready to land

#10757 Consistently Type GS(S)P
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
Labels: ready to land

#10758 Correctly Dedupe Prefetching
  packages/next/client/link.tsx
  test/integration/preload-viewport/pages/not-de-duped.js
  test/integration/preload-viewport/test/index.test.js
Labels: Type: Bug, priority: low, ready to land
