Repository vercel/next.js, pull requests merged in 2020-03, with the labels that each got.

#10773 Remove `dangerousAsPath` from `RenderOpts`
  packages/next/next-server/server/render.tsx
Labels: ready to land

#10772 Remove Dead Code from Next Server
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
Labels: ready to land

#10774 examples: react-native-web: fix config to prefer .web.* exts
  examples/with-react-native-web/next.config.js
Labels: Type: Example, ready to land

#10776 Fix RenderOpts in `next-server`
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/prerender-preview/test/index.test.js
Labels: Type: Bug, ready to land

#10127 Prefetch SSG Data
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  test/integration/preload-viewport/next.config.js
  test/integration/preload-viewport/pages/ssg/basic.js
  test/integration/preload-viewport/pages/ssg/catch-all/[...slug].js
  test/integration/preload-viewport/pages/ssg/dynamic-nested/[slug1]/[slug2].js
  test/integration/preload-viewport/pages/ssg/dynamic/[slug].js
  test/integration/preload-viewport/pages/ssg/fixture/index.js
  test/integration/preload-viewport/pages/ssg/fixture/mismatch.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: Type: Enhancement, ready to land

#10792 Fix next/config module mismatch in new serverless mode
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless-runtime-configs/test/index.test.js
Labels: Type: Bug, ready to land

#10800 Measure `getStaticProps`, `getServerSideProps`
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/pages/gip.js
  test/integration/telemetry/pages/gssp.js
  test/integration/telemetry/pages/ssg.js
  test/integration/telemetry/pages/ssg/[dynamic].js
  test/integration/telemetry/test/index.test.js
Labels: Type: Enhancement, ready to land

#10793 Throw NoFallbackError instead of returning
  packages/next/next-server/server/next-server.ts
Labels: ready to land

#10812 Add identifier to NEXT_DATA for gs(s)p
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#10826 Send Credentials for `getServerSideProps` Requests
  packages/next/next-server/lib/router/router.ts
  test/integration/getserversideprops-preview/pages/to-index.js
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/prerender-preview/pages/to-index.js
  test/integration/prerender-preview/test/index.test.js
Labels: ready to land

#10850 Re-add Sass Docs
  docs/basic-features/built-in-css-support.md
Labels: Documentation

#10852 Fix getStaticPaths modules being cached in dev mode
  packages/next/server/static-paths-worker.ts
  test/integration/prerender/test/index.test.js
Labels: Type: Bug, ready to land

#10859 Update method for attaching GS(S)P identifier to page
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/client/index.js
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_app.tsx
  test/unit/babel-plugin-next-ssg-transform.test.js
  test/unit/next-babel-loader.test.js
Labels: Type: Bug, priority: low, ready to land

#10862 Fix `getServerSideProps` Test Case
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops/test/index.test.js
Labels: Type: Bug, ready to land

#10861 Fix Prerender Test Cases
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Labels: ready to land

#10864 Add Test Case for SSG Full Re-Export
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: ready to land

#10869 Add identifier to NEXT_DATA when custom server is used
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/server/lib/start-server.ts
  test/integration/custom-server/test/index.test.js
  test/integration/production/test/index.test.js
Labels: ready to land

#10892 Typo on preview mode documentation
  docs/advanced-features/preview-mode.md
Labels: Documentation, ready to land

#10896 Fix Azure Pipelines
  test/integration/api-support/pages/api/child-process.js
Labels: ready to land

#10857 Verify GS(S)P Serializability
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/worker.js
  packages/next/lib/is-serializable-props.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops-preview/pages/index.js
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/getserversideprops/pages/index.js
  test/integration/getserversideprops/pages/non-json.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/prerender-preview/pages/index.js
  test/integration/prerender-preview/test/index.test.js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/non-json/[p].js
  test/integration/prerender/test/index.test.js
  test/unit/is-serializable-props.test.js
Labels: Type: Enhancement, ready to land

#10903 Correctly Count Object References
  packages/next/lib/is-serializable-props.ts
  test/unit/is-serializable-props.test.js
  yarn.lock
Labels: Type: Bug, ready to land

#10942 Add warning when built-in CSS/SCSS support is disabled
  errors/built-in-css-disabled.md
  packages/next/build/webpack-config.ts
  test/integration/css-customization/test/index.test.js
Labels: Documentation, ready to land

#10941 Add missing words in docs
  docs/basic-features/data-fetching.md
Labels: Documentation, ready to land

#10523 Update handling for patterns in custom routes
  packages/next/lib/check-custom-routes.ts
  packages/next/next-server/server/lib/path-match.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/invalid-custom-routes/test/index.test.js
Labels: Type: Bug

#10971 Check SSG Page via Route Lookup
  packages/next/next-server/server/spr-cache.ts
  test/integration/prerender-no-revalidate/pages/index.js
  test/integration/prerender-no-revalidate/pages/named.js
  test/integration/prerender-no-revalidate/pages/nested/index.js
  test/integration/prerender-no-revalidate/pages/nested/named.js
  test/integration/prerender-no-revalidate/test/index.test.js
Labels: Type: Bug, ready to land

#10974 Make sure to not show pages/404 GIP error from _app having GIP
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  test/integration/404-page/test/index.test.js
Labels: Type: Bug

#10985 Use core-js promise polyfill for nomodule browsers
  .eslintignore
  .prettierignore
  .prettierignore_staged
  packages/next-polyfill-nomodule/package.json
  packages/next-polyfill-nomodule/src/index.js
  test/integration/production/pages/bad-promise.js
  test/integration/production/pages/regexp-polyfill.js
  test/integration/production/public/regexp-test.js
  test/integration/production/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: ready to land

#10982 Improve Sass Error
  errors/install-sass.md
  packages/next/client/dev/error-overlay/format-webpack-messages.js
  test/integration/scss-fixtures/webpack-error/mock.js
  test/integration/scss-fixtures/webpack-error/pages/_app.js
  test/integration/scss-fixtures/webpack-error/pages/index.js
  test/integration/scss-fixtures/webpack-error/styles/global.scss
  test/integration/scss/test/index.test.js
Labels: Documentation, ready to land

#10984 Add support for getStaticProps in pages/404
  packages/next/build/index.ts
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  test/integration/404-page-ssg/next.config.js
  test/integration/404-page-ssg/pages/404.js
  test/integration/404-page-ssg/pages/_app.js
  test/integration/404-page-ssg/pages/err.js
  test/integration/404-page-ssg/pages/index.js
  test/integration/404-page-ssg/test/index.test.js
  test/integration/404-page/test/index.test.js
Labels: Type: Enhancement

#10856 Generic form of GetStaticProps and GetServerSideProps
  packages/next/types/index.d.ts
Labels: Type: Enhancement, ready to land

#11004 Add Array.flat polyfill to nomodule-polyfills
  packages/next-polyfill-nomodule/src/index.js
Labels: ready to land

#11005 Add "noreferrer" to the prerender indicator doc link
  packages/next/client/dev/prerender-indicator.js
Labels: ready to land

#11006 Update RegExp test and remove extra script
  .eslintignore
  .prettierignore
  .prettierignore_staged
  test/integration/production/pages/regexp-polyfill.js
  test/integration/production/public/regexp-test.js
  test/integration/production/test/index.test.js
Labels: ready to land

#11028 Update amp-first example to use GSSP
  examples/amp-first/pages/index.js
Labels: Type: Example

#11026 Update with-zeit-fetch example to use SSG
  examples/with-zeit-fetch/pages/index.js
  examples/with-zeit-fetch/pages/preact.js
Labels: Type: Example

#11039 Upgrade next.js version on datocms example
  examples/cms-datocms/package.json
  examples/cms-datocms/public/images/author.jpg
  examples/cms-datocms/public/images/image.jpg
Labels: Type: Example, ready to land

#11062 Add support for static 404 when _error does not have custom GIP
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/pages/_error.tsx
  test/integration/404-page-custom-error/pages/_error.js
  test/integration/404-page-custom-error/pages/err.js
  test/integration/404-page-custom-error/pages/index.js
  test/integration/404-page-custom-error/test/index.test.js
  test/integration/static-404/next.config.js
  test/integration/static-404/test/index.test.js
Labels: Type: Enhancement

#11063 Add support for SCSS options
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/next-server/server/config.ts
  test/integration/scss-fixtures/basic-module-include-paths/next.config.js
  test/integration/scss-fixtures/basic-module-include-paths/pages/index.js
  test/integration/scss-fixtures/basic-module-include-paths/pages/index.module.scss
  test/integration/scss-fixtures/basic-module-include-paths/styles/_vars.scss
  test/integration/scss/test/index.test.js
Labels: ready to land

#10907 Add CMS example for Sanity
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/blog-starter/README.md
  examples/cms-datocms/README.md
  examples/cms-sanity/.env.example
  examples/cms-sanity/.gitignore
  examples/cms-sanity/README.md
  examples/cms-sanity/components/alert.js
  examples/cms-sanity/components/avatar.js
  examples/cms-sanity/components/container.js
  examples/cms-sanity/components/cover-image.js
  examples/cms-sanity/components/date.js
  examples/cms-sanity/components/footer.js
  examples/cms-sanity/components/header.js
  examples/cms-sanity/components/hero-post.js
  examples/cms-sanity/components/intro.js
  examples/cms-sanity/components/layout.js
  examples/cms-sanity/components/markdown-styles.module.css
  examples/cms-sanity/components/meta.js
  examples/cms-sanity/components/more-stories.js
  examples/cms-sanity/components/post-body.js
  examples/cms-sanity/components/post-header.js
  examples/cms-sanity/components/post-preview.js
  examples/cms-sanity/components/post-title.js
  examples/cms-sanity/components/section-separator.js
  examples/cms-sanity/lib/api.js
  examples/cms-sanity/lib/constants.js
  examples/cms-sanity/lib/sanity.js
  examples/cms-sanity/next.config.js
  examples/cms-sanity/now.json
  examples/cms-sanity/package.json
  examples/cms-sanity/pages/_app.js
  examples/cms-sanity/pages/_document.js
  examples/cms-sanity/pages/api/exit-preview.js
  examples/cms-sanity/pages/api/preview.js
  examples/cms-sanity/pages/index.js
  examples/cms-sanity/pages/posts/[slug].js
  examples/cms-sanity/postcss.config.js
  examples/cms-sanity/public/favicon/android-chrome-192x192.png
  examples/cms-sanity/public/favicon/android-chrome-512x512.png
  examples/cms-sanity/public/favicon/apple-touch-icon.png
  examples/cms-sanity/public/favicon/browserconfig.xml
  examples/cms-sanity/public/favicon/favicon-16x16.png
  examples/cms-sanity/public/favicon/favicon-32x32.png
  examples/cms-sanity/public/favicon/favicon.ico
  examples/cms-sanity/public/favicon/mstile-150x150.png
  examples/cms-sanity/public/favicon/safari-pinned-tab.svg
  examples/cms-sanity/public/favicon/site.webmanifest
  examples/cms-sanity/schemas/schema.js
  examples/cms-sanity/styles/index.css
  examples/cms-sanity/tailwind.config.js
Labels: Type: Example

#11181 updating min nodejs requirement
  packages/next/package.json
Labels: ready to land

#11205 Ensure hybrid AMP works correctly with SSG
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  test/integration/amphtml-ssg/pages/amp.js
  test/integration/amphtml-ssg/pages/hybrid.js
  test/integration/amphtml-ssg/pages/index.js
  test/integration/amphtml-ssg/test/index.test.js
Labels: Type: Bug

#11293 Add support for paths in tsconfig.json and jsconfig.json
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  packages/next/next-server/server/config.ts
  test/integration/jsconfig-paths/components/world.js
  test/integration/jsconfig-paths/jsconfig.json
  test/integration/jsconfig-paths/lib/a/api.js
  test/integration/jsconfig-paths/lib/b/api.js
  test/integration/jsconfig-paths/lib/b/b-only.js
  test/integration/jsconfig-paths/next.config.js
  test/integration/jsconfig-paths/pages/basic-alias.js
  test/integration/jsconfig-paths/pages/resolve-fallback.js
  test/integration/jsconfig-paths/pages/resolve-order.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/typescript-baseurl/components/hi.tsx
  test/integration/typescript-paths/components/world.tsx
  test/integration/typescript-paths/lib/a/api.ts
  test/integration/typescript-paths/lib/b/api.ts
  test/integration/typescript-paths/lib/b/b-only.ts
  test/integration/typescript-paths/next.config.js
  test/integration/typescript-paths/pages/basic-alias.tsx
  test/integration/typescript-paths/pages/resolve-fallback.tsx
  test/integration/typescript-paths/pages/resolve-order.tsx
  test/integration/typescript-paths/test/index.test.js
  test/integration/typescript-paths/tsconfig.json
Labels: Type: Enhancement, ready to land

#11296 Add test for single alias
  test/integration/jsconfig-paths/components/hello.js
  test/integration/jsconfig-paths/jsconfig.json
  test/integration/jsconfig-paths/pages/single-alias.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/typescript-paths/components/hello.tsx
  test/integration/typescript-paths/pages/single-alias.tsx
  test/integration/typescript-paths/test/index.test.js
  test/integration/typescript-paths/tsconfig.json
Labels: ready to land

#11308 Add Numeric Separator Support for TypeScript
  packages/next/build/babel/preset.ts
  packages/next/package.json
  test/integration/typescript-numeric-sep-exclusive/pages/index.js
  test/integration/typescript-numeric-sep-exclusive/test/index.test.js
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/test/index.test.js
  yarn.lock
Labels: Type: Enhancement, ready to land

#11303 Update GIP docs
  docs/api-reference/data-fetching/getInitialProps.md
Labels: Documentation, ready to land

#11302 Update handling for ENOENT from GSSP methods
  packages/next/lib/coalesced-function.ts
  packages/next/next-server/server/render.tsx
  test/integration/getserversideprops/pages/enoent.js
  test/integration/getserversideprops/test/index.test.js
Labels: Type: Bug

#11324 Upgrade loader-utils
  packages/next/package.json
  yarn.lock
Labels: Is Upstream, ready to land

#11330 Fix warning for API routes with next export
  errors/api-routes-static-export.md
  packages/next/export/index.ts
  test/integration/api-support/test/index.test.js
  yarn.lock
Labels: Type: Bug

#11347 Update to prevent re-using workers for getStaticPaths in dev mode
  packages/next/server/static-paths-worker.ts
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/test/index.test.js
Labels: Type: Bug, ready to land

#10525 Add initial support for new env handling
  errors/missing-env-value.md
  packages/create-next-app/templates/default/gitignore
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/export/index.ts
  packages/next/lib/find-pages-dir.ts
  packages/next/lib/load-env-config.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/utils.ts
  packages/next/package.json
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/index.d.ts
  packages/next/types/misc.d.ts
  test/integration/env-config-errors/app/package.json
  test/integration/env-config-errors/app/pages/api/hello.js
  test/integration/env-config-errors/app/pages/index.js
  test/integration/env-config-errors/app/pages/ssp.js
  test/integration/env-config-errors/test/index.test.js
  test/integration/env-config/app/.env
  test/integration/env-config/app/.env.development
  test/integration/env-config/app/.env.development.local
  test/integration/env-config/app/.env.local
  test/integration/env-config/app/.env.production
  test/integration/env-config/app/.env.production.local
  test/integration/env-config/app/.env.test
  test/integration/env-config/app/.env.test.local
  test/integration/env-config/app/package.json
  test/integration/env-config/app/pages/api/all.js
  test/integration/env-config/app/pages/global.js
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/next-config-loaded-env.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/env-config/app/pages/some-ssp.js
  test/integration/env-config/app/pages/ssp.js
  test/integration/env-config/test/index.test.js
  yarn.lock
Labels: Type: Enhancement

#11373 Fix `static/` file name encoding
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/basic/test/index.test.js
  test/integration/basic/test/security.js
  test/integration/dynamic-routing/static/hello copy.txt
  test/integration/dynamic-routing/static/hello%20copy.txt
  test/integration/dynamic-routing/static/hello+copy.txt
  test/integration/dynamic-routing/static/hello.txt
  test/integration/dynamic-routing/test/index.test.js
  test/integration/production/test/security.js
Labels: ready to land

#11392 Add support for comments in tsconfig.json
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/typescript-paths/tsconfig.json
  yarn.lock
Labels: ready to land

#11495 Use Lax Cookie for Preview Mode
  packages/next/next-server/server/api-utils.ts
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/prerender-preview/test/index.test.js
Labels: Type: Enhancement, ready to land

#11410 fix(performance-relayer): properly clean up event listeners
  packages/next/client/performance-relayer.js
Labels: Type: Bug, ready to land
