Repository vercel/next.js, pull requests merged in 2020-05, with the labels that each got.

#12397 [Fast Refresh] Click to open in editor
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/components/CodeFrame/styles.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
  packages/react-dev-overlay/src/internal/helpers/launchEditor.ts
  packages/react-dev-overlay/src/middleware.ts
  yarn.lock
Labels: Type: Enhancement, ready to land

#12398 docs(examples): upgrade next-iron-session to v4
  examples/with-iron-session/README.md
  examples/with-iron-session/lib/session/index.js
  examples/with-iron-session/package.json
Labels: Type: Example

#12392 Add docs for next dev and next start
  docs/api-reference/cli.md
Labels: Documentation

#12390 Add cors example and update API routes docs
  docs/api-routes/api-middlewares.md
  docs/api-routes/dynamic-api-routes.md
  docs/api-routes/introduction.md
  docs/api-routes/response-helpers.md
  examples/api-routes-cors/README.md
  examples/api-routes-cors/lib/init-middleware.js
  examples/api-routes-cors/package.json
  examples/api-routes-cors/pages/api/cors.js
  examples/api-routes-cors/pages/index.js
Labels: Type: Example

#12396 Add docs for Router.back and Router.reload
  docs/api-reference/next/router.md
Labels: Documentation

#12404 Minor docs edits for router API
  docs/api-reference/next/router.md
Labels: Documentation

#12242 Document persisting cache with Netlify Plugin
  errors/no-cache.md
Labels: Documentation

#10592 Support distDir with trailing slash for static files
  test/integration/trailing-slash-dist/next.config.js
  test/integration/trailing-slash-dist/pages/index.js
  test/integration/trailing-slash-dist/test/index.test.js
Labels: Type: Core, ready to land

#12039 Update @ampproject/toolbox-optimizer to v2.3.0
  packages/next/package.json
  test/integration/amphtml-custom-optimizer/next.config.js
  test/integration/amphtml-custom-optimizer/test/index.test.js
  yarn.lock
Labels: Type: Enhancement

#12333 [Docs] Add documentation for Router.prefetch
  docs/api-reference/next/router.md
Labels: Documentation

#11968 Updated example template in contributing.md
  contributing.md
Labels: Documentation

#12381 gitignore graphql-let generated .d.ts files
  examples/with-typescript-graphql/.gitignore
Labels: Type: Example

#12351 [Examples] Improve Contentful example starter and docs
  examples/cms-contentful/README.md
  examples/cms-contentful/contentful/export.json
  examples/cms-contentful/contentful/setup.js
  examples/cms-contentful/docs/content-entry-preview.jpg
  examples/cms-contentful/docs/content-entry-publish.jpg
  examples/cms-contentful/docs/content-model-overview.jpg
  examples/cms-contentful/docs/content-preview-setup.jpg
  examples/cms-contentful/package.json
Labels: Type: Example

#12342 Improve code quality of _document
  packages/next/pages/_document.tsx
Labels: Type: Core

#11685 Update `with-firebase-hosting[-and-typescript]` examples
  examples/with-firebase-hosting-and-typescript/.firebaserc
  examples/with-firebase-hosting-and-typescript/.gitignore
  examples/with-firebase-hosting-and-typescript/README.md
  examples/with-firebase-hosting-and-typescript/firebase.json
  examples/with-firebase-hosting-and-typescript/package.json
  examples/with-firebase-hosting-and-typescript/src/app/components/App.tsx
  examples/with-firebase-hosting-and-typescript/src/app/components/Header.tsx
  examples/with-firebase-hosting-and-typescript/src/app/next-env.d.ts
  examples/with-firebase-hosting-and-typescript/src/app/next.config.js
  examples/with-firebase-hosting-and-typescript/src/app/pages/about.tsx
  examples/with-firebase-hosting-and-typescript/src/app/pages/index.tsx
  examples/with-firebase-hosting-and-typescript/src/app/tsconfig.json
  examples/with-firebase-hosting-and-typescript/src/app/tslint.json
  examples/with-firebase-hosting-and-typescript/src/functions/index.ts
  examples/with-firebase-hosting-and-typescript/src/functions/tsconfig.json
  examples/with-firebase-hosting-and-typescript/src/functions/tslint.json
  examples/with-firebase-hosting/.gitignore
  examples/with-firebase-hosting/README.md
  examples/with-firebase-hosting/firebase.json
  examples/with-firebase-hosting/firebaseFunctions.js
  examples/with-firebase-hosting/package.json
  examples/with-firebase-hosting/public/.gitignore
  examples/with-firebase-hosting/src/app/next.config.js
  examples/with-firebase-hosting/src/app/public/placeholder.html
  examples/with-firebase-hosting/src/components/App.jsx
  examples/with-firebase-hosting/src/components/Header.jsx
  examples/with-firebase-hosting/src/functions/.babelrc
  examples/with-firebase-hosting/src/functions/index.js
  examples/with-firebase-hosting/src/next.config.js
  examples/with-firebase-hosting/src/pages/about.jsx
  examples/with-firebase-hosting/src/pages/index.jsx
Labels: Type: Example

#11837 example: antd-4 with built-in css support
  examples/with-ant-design/.babelrc
  examples/with-ant-design/next.config.js
  examples/with-ant-design/package.json
  examples/with-ant-design/pages/_app.js
  examples/with-ant-design/pages/index.js
  examples/with-ant-design/styles/global.css
  examples/with-ant-design/styles/vars.css
Labels: Type: Example

#12326 [Docs] Move example links
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
Labels: Documentation

#12237 [example-with-fela] CSS imports compatibility
  examples/with-fela/package.json
  examples/with-fela/pages/_document.js
Labels: Type: Example

#12316 #12314 add auth to with-sentry-simple example
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
Labels: Type: Example

#12204 Updated with-firebase-authentication to fix errors
  examples/with-firebase-authentication/pages/index.js
  examples/with-firebase-authentication/server.js
Labels: Type: Example

#12211 Docs: Add req.body to custom express server example
  examples/custom-server-express/README.md
Labels: Type: Example

#12183 Update with-emotion-11 example to use functional _app component
  examples/with-emotion-11/pages/_app.js
Labels: Type: Example

#12072 Example: update netlify-cms to use SSG
  examples/with-netlify-cms/README.md
  examples/with-netlify-cms/next.config.js
  examples/with-netlify-cms/pages/blog/index.js
  examples/with-netlify-cms/pages/blog/post/[slug].js
Labels: Type: Example

#12118 Fix preview mode expiration duration
  packages/next/next-server/server/api-utils.ts
  test/integration/prerender-preview/pages/api/preview.js
  test/integration/prerender-preview/test/index.test.js
Labels: Type: Bug

#11849 Transpile packages in react-intl example
  examples/with-react-intl/README.md
  examples/with-react-intl/next.config.js
  examples/with-react-intl/package.json
Labels: Type: Example

#11825 upgrade from deprecated url.parse() since Node 11
  examples/custom-server/server.js
Labels: Type: Example

#11934 Fix 'user undefined' error with ssr profile in auth0 example
  examples/auth0/pages/advanced/ssr-profile.js
Labels: Type: Example

#12417 Add name to component in with-tailwindcss example
  examples/with-tailwindcss/pages/index.js
Labels: Type: Example

#12416 Add names to components in hello-world example
  examples/hello-world/pages/about.js
  examples/hello-world/pages/day/index.js
  examples/hello-world/pages/index.js
Labels: Type: Example

#12415 Add names to components in amp example
  examples/amp/components/Byline.js
  examples/amp/pages/dog.js
  examples/amp/pages/index.js
  examples/amp/pages/normal.js
Labels: Type: Example

#12427 [Fast Refresh] Add Titles for Click to Open Action
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Labels: Type: Enhancement

#12418 docs(examples): with-iron-session update
  examples/with-iron-session/components/Form.js
  examples/with-iron-session/components/Header.js
  examples/with-iron-session/components/Layout.js
  examples/with-iron-session/lib/fetchJson.js
  examples/with-iron-session/lib/session.js
  examples/with-iron-session/lib/useUser.js
  examples/with-iron-session/pages/_app.js
  examples/with-iron-session/pages/api/login.js
  examples/with-iron-session/pages/api/logout.js
  examples/with-iron-session/pages/index.js
  examples/with-iron-session/pages/login.js
  examples/with-iron-session/pages/profile-sg.js
  examples/with-iron-session/pages/profile-ssr.js
Labels: Type: Example

#12458 Clean up styles in with-tailwindcss example
  examples/with-tailwindcss/components/nav.js
  examples/with-tailwindcss/styles/button.css
  examples/with-tailwindcss/styles/index.css
Labels: Type: Example

#12426 [Fast Refresh] Support client-side code being ran in Node
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  test/integration/legacy-sass/next.config.js
  test/integration/legacy-sass/test/index.test.js
Labels: Is Upstream, Type: Bug, priority: low

#12425 [Fast Refresh] Unlock Focus on Disabled Element
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/styles.ts
Labels: Type: Bug

#12432 Use fs.promises in test files
  test/integration/amp-export-validation/test/index.test.js
  test/integration/export-default-map-serverless/test/index.test.js
  test/integration/export-default-map/test/index.test.js
  test/integration/export-override-404/test/index.test.js
  test/integration/export-serverless/test/index.test.js
  test/integration/export-subfolders-serverless/test/index.test.js
  test/integration/export-subfolders/test/index.test.js
  test/integration/export/test/index.test.js
  test/integration/production/test/process-env.js
Labels: Type: Core

#12460 Elements with `role=link` should open on [Enter]
  packages/react-dev-overlay/src/internal/components/Dialog/Dialog.tsx
Labels: Type: Enhancement

#12459 Upgrade Flexbugs Dependency
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/package.json
  yarn.lock
Labels: Type: Bug

#12487 Don't generate fake cache keys for Preview Mode
  packages/next/next-server/server/next-server.ts
Labels: Type: Enhancement

#12468 next/client/link: improve internal type annotation
  packages/next/client/link.tsx
Labels: Type: Core

#12485 [Fast Refresh] New Overlay for Prerender Error
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/index.js
  packages/next/server/next-dev-server.ts
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
  packages/react-dev-overlay/src/internal/helpers/getRawSourceMap.ts
  packages/react-dev-overlay/src/internal/helpers/getSourceMapUrl.ts
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
  yarn.lock
Labels: Type: Enhancement

#11681 [examples/with-typescript-graphql] Add "createResolverContext" hook, etc.
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/.graphql-let.yml
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/lib/with-apollo.tsx
  examples/with-typescript-graphql/next.config.js
  examples/with-typescript-graphql/package.json
  examples/with-typescript-graphql/pages/api/graphql.ts
Labels: Type: Example

#12497 Fixed typo
  examples/with-userbase/components/modal/index.js
Labels: Type: Example

#12491 Add note about HoC possibly adding GIP to _app
  errors/opt-out-auto-static-optimization.md
Labels: Documentation

#12495 Disable cache warning on supported platforms
  packages/next/build/index.ts
  packages/next/telemetry/ci-info.ts
  test/integration/build-warnings/test/index.test.js
Labels: Type: Enhancement

#12503 [Fast Refresh] Better Tabbing Order
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Labels: Type: Enhancement

#12502 [Fast Refresh] Correctly Trap Focus in Overlay
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/react-dev-overlay/src/internal/components/Overlay/Overlay.tsx
  yarn.lock
Labels: Type: Enhancement

#12496 Disable Comment Extraction
  packages/next/build/webpack-config.ts
  test/integration/build-output/fixtures/basic-app/pages/index.js
  test/integration/build-output/test/index.test.js
Labels: Type: Enhancement

#12523 [Fast Refresh] Fix overlay display on Safari
  packages/react-dev-overlay/src/internal/components/Overlay/styles.tsx
Labels: Type: Enhancement

#12534 Update tests to poll for output instead of wait for it
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
  test/lib/next-test-utils.js
Labels: Type: Core

#12541 Update dynamic-import.md
  docs/advanced-features/dynamic-import.md
Labels: Documentation

#12543 [Fast Refresh] New Compile Error Overlay
  packages/next/build/webpack-config.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/server/hot-reloader.ts
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/bus.ts
  packages/react-dev-overlay/src/internal/components/Overlay/Overlay.tsx
  packages/react-dev-overlay/src/internal/components/Overlay/styles.tsx
  packages/react-dev-overlay/src/internal/components/Terminal/Terminal.tsx
  packages/react-dev-overlay/src/internal/components/Terminal/index.tsx
  packages/react-dev-overlay/src/internal/components/Terminal/styles.tsx
  packages/react-dev-overlay/src/internal/container/BuildError.tsx
  packages/react-dev-overlay/src/internal/styles/ComponentStyles.tsx
  test/acceptance/ReactRefresh.test.js
  test/acceptance/helpers.js
Labels: Type: Enhancement

#12420 Mention nesting in arrays alongside Fragments in next/head docs
  docs/api-reference/next/head.md
Labels: ready to land

#12560 [Fast Refresh] Toggling of Collapsed Frames
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Labels: Type: Enhancement

#12564 [Fast Refresh] Separate LogBox Tests
  test/acceptance/ReactRefresh.test.js
  test/acceptance/ReactRefreshLogBox.test.js
Labels: Type: Core

#12568 [Fast Refresh] Add more test cases
  test/acceptance/ReactRefreshLogBox.test.js
Labels: Type: Core

#11986 Experimental: New ESLint Plugin
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-css-tags.js
  packages/eslint-plugin-next/lib/rules/no-sync-scripts.js
  packages/eslint-plugin-next/package.json
  test/eslint-plugin-next/no-css-tags.test.js
  test/eslint-plugin-next/no-sync-scripts.test.js
Labels: Type: Enhancement

#11380 Add flag to disable API warning
  docs/api-routes/api-middlewares.md
  packages/next/next-server/server/api-utils.ts
  packages/next/types/index.d.ts
  test/integration/api-support/pages/api/external-resolver-false-positive.js
  test/integration/api-support/pages/api/external-resolver.js
  test/integration/api-support/test/index.test.js
Labels: Type: Core

#12624 Clarify dismissal message
  packages/react-dev-overlay/src/internal/container/BuildError.tsx
Labels: Type: Enhancement

#12623 [Fast Refresh] Adjust Overlay Styling
  packages/react-dev-overlay/src/internal/components/CodeFrame/styles.tsx
  packages/react-dev-overlay/src/internal/components/Dialog/styles.ts
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/styles.ts
  packages/react-dev-overlay/src/internal/components/Terminal/styles.tsx
  packages/react-dev-overlay/src/internal/components/Toast/styles.ts
  packages/react-dev-overlay/src/internal/container/BuildError.tsx
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
  packages/react-dev-overlay/src/internal/styles/Base.tsx
Labels: Type: Enhancement

#12606 Context types for getStaticProps and getServerSideProps
  packages/next/types/index.d.ts
Labels: Type: Enhancement

#12671 [Fast Refresh] Reorder Loaders
  packages/next/build/webpack-config.ts
  test/acceptance/ReactRefreshLogBox.test.js
  test/acceptance/helpers.js
Labels: Type: Enhancement, ready to land

#12672 [Fast Refresh] Resize Arrows and Preserve Newlines
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/styles.ts
  packages/react-dev-overlay/src/internal/container/Errors.tsx
Labels: Type: Enhancement, ready to land

#12673 [Fast Refresh] Do not draw eye to collapsed frames
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
Labels: Type: Enhancement, ready to land

#12674 [Fast Refresh] Add additional test case
  test/acceptance/ReactRefreshLogBox.test.js
Labels: Type: Core

#12686 Update documentation that refers to isomorphic fetch libs
  docs/advanced-features/custom-error-page.md
  docs/api-reference/data-fetching/getInitialProps.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
Labels: Documentation

#12640 Enable Fast Refresh by Default
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/index.js
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  packages/react-refresh-utils/internal/helpers.ts
  test/integration/amphtml/test/index.test.js
  test/integration/basic/test/error-recovery.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/invalid-href/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/typescript-hmr/test/index.test.js
  test/integration/typescript-ignore-errors/test/index.test.js
  test/integration/typescript/test/index.test.js
  test/integration/with-router/test/index.test.js
  test/lib/next-test-utils.js
Labels: Type: Enhancement

#12700 Upgrade deps
  package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/compiled/babel-loader/index.js
  packages/next/compiled/cookie/index.js
  packages/next/compiled/cssnano-simple/index.js
  packages/next/compiled/file-loader/cjs.js
  packages/next/compiled/find-up/index.js
  packages/next/compiled/is-wsl/index.js
  packages/next/compiled/json5/index.js
  packages/next/compiled/raw-body/index.js
  packages/next/package.json
  test/integration/typescript-numeric-sep-exclusive/test/index.test.js
  yarn.lock
Labels: Type: Enhancement

#12687 [Examples] Update firebase authentication
  examples/with-firebase-authentication-serverless/.env
  examples/with-firebase-authentication-serverless/.gitignore
  examples/with-firebase-authentication-serverless/README.md
  examples/with-firebase-authentication-serverless/env.js
  examples/with-firebase-authentication-serverless/package.json
  examples/with-firebase-authentication-serverless/pages/index.js
  examples/with-firebase-authentication/.env.example
  examples/with-firebase-authentication/.gitignore
  examples/with-firebase-authentication/README.md
  examples/with-firebase-authentication/components/FirebaseAuth.js
  examples/with-firebase-authentication/credentials/client.js
  examples/with-firebase-authentication/credentials/server.js
  examples/with-firebase-authentication/next.config.js
  examples/with-firebase-authentication/package.json
  examples/with-firebase-authentication/pages/_document.js
  examples/with-firebase-authentication/pages/api/login.js
  examples/with-firebase-authentication/pages/api/logout.js
  examples/with-firebase-authentication/pages/auth.js
  examples/with-firebase-authentication/pages/example.js
  examples/with-firebase-authentication/pages/index.js
  examples/with-firebase-authentication/server.js
  examples/with-firebase-authentication/sessions/.gitkeep
  examples/with-firebase-authentication/utils/auth/firebaseAdmin.js
  examples/with-firebase-authentication/utils/auth/firebaseSessionHandler.js
  examples/with-firebase-authentication/utils/auth/hooks.js
  examples/with-firebase-authentication/utils/auth/initFirebase.js
  examples/with-firebase-authentication/utils/auth/logout.js
  examples/with-firebase-authentication/utils/auth/user.js
  examples/with-firebase-authentication/utils/middleware/commonMiddleware.js
  examples/with-firebase-authentication/utils/middleware/cookieSession.js
  examples/with-firebase-authentication/utils/middleware/cookieSessionRefresh.js
  examples/with-firebase-authentication/utils/pageWrappers/withAuthUser.js
  examples/with-firebase-authentication/utils/pageWrappers/withAuthUserInfo.js
Labels: Type: Example

#12690 Update code sample in performance measurement docs
  docs/advanced-features/measuring-performance.md
Labels: Documentation

#12685 Enable sassOptions support in next.config.js
  docs/basic-features/built-in-css-support.md
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
  test/integration/scss-fixtures/basic-module-include-paths/next.config.js
Labels: Documentation, Type: Enhancement

#12702 Link Made by Vercel to vercel.com
  packages/next/README.md
Labels: Documentation

#12696 [Docs] Environment Variables
  docs/api-reference/next.config.js/environment-variables.md
  docs/basic-features/environment-variables.md
  docs/manifest.json
Labels: Documentation

#12704 fix logout in with-iron-session example
  examples/with-iron-session/pages/api/logout.js
Labels: Type: Example

#12680 Add test for API route with fetch polyfill
  test/integration/fetch-polyfill/pages/api/api-route.js
  test/integration/fetch-polyfill/serverless-server.js
  test/integration/fetch-polyfill/test/index.test.js
Labels: Type: Core

#12741 Minor update to "Measuring performance" docs
  docs/advanced-features/measuring-performance.md
Labels: Documentation

#12733 Add missing parenthesis in Sending results to analytics example
  docs/advanced-features/measuring-performance.md
Labels: Documentation

#12744 Add message when automatic dotenv loading is disabled
  errors/env-loading-disabled.md
  packages/next/lib/load-env-config.ts
  test/integration/env-config-disable/test/index.test.js
Labels: Documentation, Type: Enhancement, ready to land

#12745 [Fast Refresh] Cleaner Console Output
  packages/next/client/dev/error-overlay/hot-dev-client.js
Labels: Type: Enhancement, ready to land

#12747 Use an if statement instead of expression statement
  docs/advanced-features/measuring-performance.md
Labels: Documentation

#12789 docs(ssr-caching): remove link to react-esi example
  examples/ssr-caching/README.md
Labels: Documentation

#12822 Bump Babel cache key
  packages/next/build/webpack/loaders/next-babel-loader.js
Labels: Type: Core

#12825 Run all logbox tests
  test/acceptance/ReactRefreshLogBox.test.js
Labels: Type: Core

#12821 Better Babel syntax errors
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/index.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseBabel.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/simpleWebpackError.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  test/acceptance/ReactRefreshLogBox.test.js
  test/integration/custom-error/test/index.test.js
  test/integration/typescript-numeric-sep-exclusive/test/index.test.js
Labels: Type: Enhancement

#12840 Fix up CMS examples
  examples/cms-contentful/pages/posts/[slug].js
  examples/cms-datocms/pages/index.js
  examples/cms-datocms/pages/posts/[slug].js
  examples/cms-prismic/pages/index.js
  examples/cms-prismic/pages/posts/[slug].js
  examples/cms-sanity/pages/posts/[slug].js
  examples/cms-takeshape/pages/index.js
  examples/cms-takeshape/pages/posts/[slug].js
Labels: Type: Example

#12852 Simplify CSS Errors
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseCss.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  test/acceptance/ReactRefreshLogBox.test.js
  test/integration/css-features/test/index.test.js
Labels: Type: Enhancement

#12871 Eliminate 404s from internal requests
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
Labels: Type: Enhancement

#12872 Remove `isInitialRender` usage for overlay
  packages/next/client/index.js
Labels: Type: Core

#12859 Warn users about migrating to 9.4 from dotenv
  docs/basic-features/environment-variables.md
Labels: Documentation

#12880 Explicit header for SSR error
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  test/integration/basic/test/error-recovery.js
Labels: Type: Enhancement

#12881 Scroll entire content instead of only header
  packages/react-dev-overlay/src/internal/components/Dialog/styles.ts
Labels: Type: Enhancement

#12908 `sync` and `built` are identical commands
  packages/next/client/dev/dev-build-watcher.js
Labels: Type: Core

#12909 [Fast Refresh] Improve responsiveness on Windows
  packages/next/build/webpack/config/blocks/base.ts
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/helpers/getRawSourceMap.ts
  packages/react-dev-overlay/src/internal/helpers/parseStack.ts
  test/acceptance/ReactRefreshLogBox.test.js
Labels: Type: Enhancement

#12931 [Examples] Fix active-class-name
  examples/active-class-name/components/ActiveLink.js
Labels: Type: Example

#12930 Correct multi-match param behavior
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  yarn.lock
Labels: Type: Bug

#12941 Strip out dead code for `ignoreDevErrors`
  docs/api-reference/next.config.js/ignoring-typescript-errors.md
  packages/next/build/output/index.ts
  packages/next/build/webpack-config.ts
  packages/next/server/hot-reloader.ts
Labels: Type: Core

#12949 Elimination has to run before other plugins
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/next-babel-loader.test.js
Labels: Type: Bug

#12953 Support eliminating memoized functions
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: Type: Bug

#12952 Fix build stalling with styled-jsx plugins
  package.json
  packages/next/compiled/chalk/index.js
  packages/next/compiled/cssnano-simple/index.js
  packages/next/compiled/debug/index.js
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-loader/index.js
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/package.json
  test/integration/styled-jsx-plugin/app/.babelrc.js
  test/integration/styled-jsx-plugin/app/package.json
  test/integration/styled-jsx-plugin/app/pages/index.js
  test/integration/styled-jsx-plugin/test/index.test.js
  yarn.lock
Labels: Type: Bug

#12954 Test TypeScript Enum
  test/integration/typescript/pages/hello.tsx
Labels: Type: Core

#13018 [Experimental] Add support for production browser source maps
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/next-server/server/config.ts
  test/integration/production-browser-sourcemaps/next.config.js
  test/integration/production-browser-sourcemaps/pages/ssr.js
  test/integration/production-browser-sourcemaps/pages/static.js
  test/integration/production-browser-sourcemaps/serverless-server.js
  test/integration/production-browser-sourcemaps/test/index.test.js
Labels: Type: Enhancement

#13000 fix modal overlay in RTL layouts
  packages/react-dev-overlay/src/internal/styles/CssReset.tsx
Labels: Type: Bug

#13020 feat: Remove redundant imports in XState example
  examples/with-xstate/components/Toggle.js
  examples/with-xstate/pages/index.js
Labels: Type: Example

#13022 Convert test to be inline
  test/unit/__snapshots__/page-route-sorter.test.js.snap
  test/unit/page-route-sorter.test.js
Labels: Type: Core

#11803 Avoid over-transpiling core libs
  packages/next/taskfile-babel.js
Labels: Type: Enhancement

#12887 [Experimental] Implement optional catch all routes
  docs/api-routes/dynamic-api-routes.md
  docs/routing/dynamic-routes.md
  packages/next/build/index.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/next-server/lib/router/utils/sorted-routes.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
  test/integration/dynamic-optional-routing/next.config.js
  test/integration/dynamic-optional-routing/pages/[[...optionalName]].js
  test/integration/dynamic-optional-routing/pages/about.js
  test/integration/dynamic-optional-routing/pages/api/post/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/nested/[[...optionalName]].js
  test/integration/dynamic-optional-routing/test/index.test.js
  test/unit/page-route-sorter.test.js
Labels: Type: Enhancement

#13044 [Examples] Chakra UI - Move CSSReset inside ColorModeProvider
  examples/with-chakra-ui/src/pages/_app.js
Labels: Type: Example

#13053 Improve jsconfig.json error message
  packages/next/build/webpack-config.ts
  packages/next/package.json
  test/integration/jsconfig/jsconfig.json
  test/integration/jsconfig/pages/hello.js
  test/integration/jsconfig/test/index.test.js
  yarn.lock
Labels: Type: Core, Type: Enhancement

#13037 x-powered-by is added to response, not request
  docs/api-reference/next.config.js/disabling-x-powered-by.md
Labels: Documentation

#13030 chore: Remove redundant imports in several examples
  examples/auth0/pages/about.js
  examples/auth0/pages/index.js
  examples/auth0/pages/profile.js
  examples/with-apollo-and-redux/components/Clock.js
  examples/with-apollo-and-redux/components/Counter.js
  examples/with-apollo-and-redux/components/ErrorMessage.js
  examples/with-apollo-and-redux/components/Layout.js
  examples/with-apollo-and-redux/components/PostUpvoter.js
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/lib/redux.js
  examples/with-apollo-and-redux/pages/index.js
  examples/with-apollo-and-redux/pages/redux.js
  examples/with-apollo/components/PostUpvoter.js
  examples/with-apollo/lib/apollo.js
  examples/with-context-api/components/Counter.js
  examples/with-context-api/pages/about.js
  examples/with-context-api/pages/index.js
  examples/with-docker/pages/index.js
  examples/with-emotion/pages/_app.js
  examples/with-redux-observable/components/CharacterInfo.js
  examples/with-redux-observable/pages/_app.js
  examples/with-redux-observable/pages/index.js
  examples/with-redux-observable/pages/other.js
  examples/with-redux-persist/components/counter.js
  examples/with-redux-persist/components/data-list.js
  examples/with-redux-persist/lib/with-redux-store.js
  examples/with-redux-persist/pages/_app.js
  examples/with-redux-persist/pages/index.js
  examples/with-redux-saga/components/clock.js
  examples/with-redux-saga/components/counter.js
  examples/with-redux-saga/pages/_app.js
  examples/with-redux-saga/pages/index.js
  examples/with-redux-saga/pages/other.js
  examples/with-redux-thunk/components/clock.js
  examples/with-redux-thunk/components/counter.js
  examples/with-redux-thunk/components/examples.js
  examples/with-redux-thunk/lib/with-redux-store.js
  examples/with-redux-thunk/pages/_app.js
  examples/with-redux-thunk/pages/index.js
  examples/with-redux-thunk/pages/show-redux-state.js
  examples/with-redux-toolkit/components/clock.js
  examples/with-redux-toolkit/components/counter.js
  examples/with-redux-toolkit/pages/_app.js
  examples/with-redux-toolkit/pages/index.js
  examples/with-styled-components/README.md
  examples/with-styled-components/pages/_app.js
  examples/with-styled-components/pages/index.js
Labels: Type: Example

#13017 Correct multi-match behavior for queries and header values
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: Type: Bug

#13005 Fix with-emotion examples
  examples/with-emotion-11/pages/_document.js
  examples/with-emotion/pages/_document.js
Labels: Type: Example

#12879 [Examples] Added public folder to with-docker example
  examples/with-docker/Dockerfile.multistage
  examples/with-docker/pages/index.js
  examples/with-docker/public/vercel.svg
Labels: Type: Example

#12862 docs: add prismic locale note
  examples/cms-prismic/README.md
Labels: Type: Example

#12695 chore: use function component on with-typescript example
  examples/with-typescript/pages/users/[id].tsx
Labels: Type: Example

#11232 Add monaco-editor example
  examples/with-monaco-editor/README.md
  examples/with-monaco-editor/code-sample.js
  examples/with-monaco-editor/next.config.js
  examples/with-monaco-editor/package.json
  examples/with-monaco-editor/pages/index.js
Labels: Type: Example

#12730 chore: hot-reloader, htmlescape, next-dev-server missing types
  packages/next/server/hot-reloader.ts
  packages/next/server/htmlescape.ts
  packages/next/server/next-dev-server.ts
Labels: Type: Core

#13059 Removed redundant code from the with-portals example
  examples/with-portals/components/Modal.js
  examples/with-portals/pages/index.js
Labels: Type: Example

#13075 [Examples] Ignore local environment files
  .gitignore
Labels: Type: Example

#13060 Remove redundant code from with-portals-ssr example
  examples/with-portals-ssr/pages/_app.js
  examples/with-portals-ssr/pages/index.js
Labels: Type: Example

#12858 Improve Redux Toolkit example
  examples/with-redux-toolkit/README.md
  examples/with-redux-toolkit/components/add-note.js
  examples/with-redux-toolkit/components/clock.js
  examples/with-redux-toolkit/components/counter.js
  examples/with-redux-toolkit/components/edit-note.js
  examples/with-redux-toolkit/lib/slices/clockSlice.js
  examples/with-redux-toolkit/lib/slices/counterSlice.js
  examples/with-redux-toolkit/lib/slices/notesSlice.js
  examples/with-redux-toolkit/lib/useForm.js
  examples/with-redux-toolkit/package.json
  examples/with-redux-toolkit/pages/_app.js
  examples/with-redux-toolkit/pages/api/notes.js
  examples/with-redux-toolkit/pages/index.js
  examples/with-redux-toolkit/pages/notes.js
  examples/with-redux-toolkit/store.js
Labels: Type: Example

#13063 Add error when exporting pages with fallback: true
  errors/ssg-fallback-true-export.md
  packages/next/export/index.ts
  packages/next/lib/constants.ts
  test/integration/export-fallback-true-error/pages/[slug].js
  test/integration/export-fallback-true-error/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: Type: Enhancement

#13102 [Example] Unsubscribe Router.on.events
  examples/with-google-analytics/pages/_app.js
Labels: Type: Example

#10502 Fix catch-all route + index.js in dev when accessed with trailing slash
  packages/next/next-server/server/next-server.ts
  test/integration/api-catch-all/pages/api/users/[...slug].js
  test/integration/api-catch-all/pages/api/users/index.js
  test/integration/api-catch-all/test/index.test.js
Labels: Type: Core, ready to land

#13116 Stabilize `config` tests
  test/integration/config/test/index.test.js
  test/lib/next-test-utils.js
Labels: ready to land

#13008 Update DatoCMS Example
  examples/cms-datocms/components/alert.js
  examples/cms-datocms/components/footer.js
  examples/cms-datocms/components/hero-post.js
  examples/cms-datocms/components/intro.js
  examples/cms-datocms/components/layout.js
  examples/cms-datocms/components/meta.js
  examples/cms-datocms/components/more-stories.js
  examples/cms-datocms/components/post-header.js
  examples/cms-datocms/components/post-preview.js
  examples/cms-datocms/jsconfig.json
  examples/cms-datocms/next.config.js
  examples/cms-datocms/package.json
  examples/cms-datocms/pages/_app.js
  examples/cms-datocms/pages/api/preview.js
  examples/cms-datocms/pages/index.js
  examples/cms-datocms/pages/posts/[slug].js
  examples/cms-datocms/postcss.config.js
  examples/cms-datocms/styles/index.css
  examples/cms-datocms/tailwind.config.js
Labels: Type: Example

#13074 [Examples] Update with-sentry-simple
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/pages/404.js
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/_error.js
  examples/with-sentry-simple/pages/client/test1.js
  examples/with-sentry-simple/pages/client/test2.js
  examples/with-sentry-simple/pages/client/test3.js
  examples/with-sentry-simple/pages/client/test4.js
  examples/with-sentry-simple/pages/client/test5.js
  examples/with-sentry-simple/pages/client/test6.js
  examples/with-sentry-simple/pages/client/test7.js
  examples/with-sentry-simple/pages/client/test8.js
  examples/with-sentry-simple/pages/index.js
  examples/with-sentry-simple/pages/server/test1.js
  examples/with-sentry-simple/pages/server/test2.js
  examples/with-sentry-simple/pages/server/test3.js
  examples/with-sentry-simple/pages/server/test4.js
Labels: Type: Example

#13101 Add support for debugging Next.js core
  .vscode/launch.json
  package.json
  packages/next/taskfile-babel.js
Labels: Type: Core, ready to land

#13087 Read process.env after loading .env files
  packages/next/telemetry/storage.ts
Labels: Type: Bug, ready to land

#12591 example(contentful): set up content types with required fields
  examples/cms-contentful/contentful/export.json
Labels: Type: Example

#12867 [Examples] Fix with-yarn-workspaces Vercel deploy button
  examples/with-yarn-workspaces/now.json
  examples/with-yarn-workspaces/packages/web-app/pages/api/echo/[word].js
Labels: Type: Example

#13123 Use `eval-source-map` for Server Side Errors
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/server/hot-reloader.ts
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
  test/acceptance/ReactRefreshLogBox.test.js
Labels: Type: Core, Type: Enhancement

#13066 chore: Remove some redundant imports
  examples/with-three-js/pages/_app.js
  examples/with-three-js/pages/birds.js
  examples/with-three-js/pages/boxes.js
  examples/with-three-js/pages/index.js
  examples/with-typestyle/pages/index.js
  examples/with-universal-configuration-runtime/pages/index.js
  examples/with-videojs/components/Player.js
  examples/with-videojs/pages/index.js
  examples/with-why-did-you-render/components/header.js
  examples/with-yarn-workspaces/packages/bar/index.js
  examples/with-zeit-fetch/pages/preact.js
Labels: Type: Example

#11710 GranularChunks conformance check
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/granular-chunks-conformance.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/utils.ts
  test/integration/conformance/next.config.js
  test/integration/conformance/test/index.test.js
Labels: Type: Core

#11802 Upgrade Next Redux Wrapper to version 6 in examples
  examples/with-redux-wrapper/README.md
  examples/with-redux-wrapper/package.json
  examples/with-redux-wrapper/pages/_app.js
  examples/with-redux-wrapper/pages/index.js
  examples/with-redux-wrapper/pages/other.js
  examples/with-redux-wrapper/store/store.js
Labels: Type: Example, ready to land

#13138 Update Create Next App to handle rename of org
  packages/create-next-app/helpers/examples.ts
Labels: ready to land

#13151 Eliminate array destructuring assignment
  packages/next/build/babel/plugins/next-ssg-transform.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: Type: Bug

#13062 Feat/remove redundant imports from examples
  examples/amp-first/pages/index.js
  examples/amp-first/pages/offline.js
  examples/with-aphrodite/pages/index.js
  examples/with-app-layout/pages/_app.js
  examples/with-aws-amplify/pages/index.js
  examples/with-aws-amplify/pages/todo/[id].js
  examples/with-babel-macros/pages/_document.js
  examples/with-babel-macros/pages/index.js
  examples/with-carbon-components/pages/index.js
  examples/with-chakra-ui/src/pages/_app.js
  examples/with-chakra-ui/src/pages/index.js
  examples/with-chakra-ui/src/theme.js
  examples/with-cookie-auth-fauna/pages/index.js
  examples/with-cookie-auth-fauna/pages/login.js
  examples/with-cookie-auth-fauna/pages/signup.js
  examples/with-custom-babel-config/pages/index.js
  examples/with-glamor/pages/index.js
  examples/with-graphql-hooks/pages/_app.js
  examples/with-grommet/pages/_app.js
  examples/with-grommet/pages/index.js
  examples/with-i18n-rosetta/pages/_app.js
  examples/with-jest/pages/index.js
Labels: Type: Example

#13111 bug fixes for Lint routing
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
  packages/eslint-plugin-next/lib/utils/url.js
  test/eslint-plugin-next/no-html-link-for-pages.test.js
  yarn.lock
Labels: ready to land

#13207 [Docs] Replace hot reloading with fast refresh
  docs/deployment.md
  docs/getting-started.md
Labels: Documentation

#13211 Better formatted Sass errors
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseScss.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  test/acceptance/ReactRefreshLogBox.test.js
Labels: Type: Enhancement

#12080 With reason relay example
  examples/with-reason-relay/.babelrc
  examples/with-reason-relay/.env
  examples/with-reason-relay/.gitignore
  examples/with-reason-relay/.graphqlconfig
  examples/with-reason-relay/README.md
  examples/with-reason-relay/bsconfig.json
  examples/with-reason-relay/next.config.js
  examples/with-reason-relay/package.json
  examples/with-reason-relay/pages/App.re
  examples/with-reason-relay/pages/_app.js
  examples/with-reason-relay/relay.config.js
  examples/with-reason-relay/schema/init-schema.graphql
  examples/with-reason-relay/schema/schema.graphql
  examples/with-reason-relay/src/BlogPostPreview.re
  examples/with-reason-relay/src/BlogPosts.re
  examples/with-reason-relay/src/Query.re
  examples/with-reason-relay/src/RelayEnv.re
Labels: Type: Example

#12210 make .env clickable in terminal
  packages/next/lib/load-env-config.ts
Labels: Type: Core

#13169 chore: Remove react redundant imports on examples
  examples/analyze-bundles/pages/index.js
  examples/api-routes-apollo-server-and-client-auth/apollo/client.js
  examples/api-routes-apollo-server-and-client-auth/pages/signin.js
  examples/api-routes-apollo-server-and-client-auth/pages/signout.js
  examples/api-routes-apollo-server-and-client-auth/pages/signup.js
  examples/custom-server-actionhero/pages/index.js
  examples/custom-server/pages/a.js
  examples/custom-server/pages/b.js
  examples/custom-server/pages/index.js
Labels: Type: Example

#13235 Use correct `chalk` import
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/granular-chunks-conformance.ts
Labels: Type: Core

#13175 chore: remove-redundant-example-import
  examples/custom-server-express/pages/index.js
  examples/custom-server-fastify/pages/index.js
  examples/custom-server-hapi/pages/a.js
  examples/custom-server-hapi/pages/b.js
  examples/custom-server-hapi/pages/index.js
  examples/custom-server-koa/pages/index.js
  examples/custom-server-polka/pages/a.js
  examples/custom-server-polka/pages/b.js
  examples/custom-server-polka/pages/index.js
  examples/custom-server-typescript/pages/a.tsx
  examples/custom-server-typescript/pages/b.tsx
  examples/custom-server-typescript/pages/index.tsx
  examples/ssr-caching/pages/blog/[id].js
  examples/svg-components/pages/index.js
  examples/using-preact/pages/index.js
  examples/with-ant-design/pages/_app.js
  examples/with-ant-design/pages/index.js
  examples/with-zeit-fetch/pages/index.js
Labels: Type: Example, ready to land

#12180 Fix ssr-caching example
  examples/ssr-caching/server.js
Labels: Type: Example

#10250 Ignore nullish user configs
  packages/next/next-server/server/config.ts
  test/integration/invalid-config-values/test/index.test.js
  test/integration/nullish-config/pages/index.js
  test/integration/nullish-config/test/index.test.js
  test/integration/page-extensions/test/index.test.js
  test/isolated/config.test.js
Labels: Type: Bug, Type: Core

#13006 Add urql to the examples list
  examples/with-urql/README.md
  examples/with-urql/graphql/client.js
  examples/with-urql/graphql/getPokemon.js
  examples/with-urql/graphql/getPokemons.js
  examples/with-urql/package.json
  examples/with-urql/pages/index.js
  examples/with-urql/pages/pokemon/[name].js
Labels: Type: Example

#13172 Update custom server docs
  docs/advanced-features/custom-server.md
Labels: Type: Example
