Repository vercel/next.js, pull requests merged in 2020-04, with the labels that each got.

#11604 Update minimum required node version to be more specific in docs
  docs/getting-started.md
Labels: Documentation, ready to land

#11602 Rename unstable GSP field
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/blog/index.js
  test/integration/prerender/pages/catchall-explicit/[...slug].js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/pages/user/[user]/profile.js
  test/integration/typescript/pages/ssg/[slug].tsx
Labels: ready to land

#11645 Add error when GSSP methods are added as page component members
  errors/gssp-component-member.md
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  test/integration/ssg-component-members-error/pages/index.js
  test/integration/ssg-component-members-error/test/index.test.js
Labels: Type: Enhancement, ready to land

#11662 A little bit of maintenance on the ReasonML examples
  examples/with-reasonml-todo/.babelrc
  examples/with-reasonml-todo/package.json
  examples/with-reasonml/.babelrc
  examples/with-reasonml/package.json
Labels: Type: Example

#11165 Update webpack and mkdirp
  packages/next/package.json
  yarn.lock
Labels: Type: Core

#10748 Add repository URL to package.json
  packages/next-plugin-google-analytics/package.json
  packages/next-plugin-material-ui/package.json
  packages/next-plugin-sentry/package.json
  packages/next-polyfill-nomodule/package.json
Labels: Type: Core

#11557 Any elements must be direct children of next/head
  docs/api-reference/next/head.md
Labels: Documentation

#11114 Add routing example with dynamic `as` prop
  docs/routing/introduction.md
Labels: Documentation

#11499 Mention <title> and styled-jsx caveats in Document's docs
  docs/advanced-features/custom-document.md
Labels: Documentation

#11620 [docs] Mention the new data fetching methods on missing places
  docs/advanced-features/custom-error-page.md
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next/router.md
  docs/faq.md
Labels: Documentation

#11691 Allow top-level GitHub repo URLs as examples
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/examples.ts
Labels: Type: Core

#11684 import stripAnsi from 'next/dist/compiled'
  packages/next/build/utils.ts
Labels: Type: Core, ready to land

#11700 Remove `node-promisepipe` library
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/package.json
  yarn.lock
Labels: Type: Core, ready to land

#11074 Update compiler.ts Improve TypeScript typings
  packages/next/build/compiler.ts
Labels: Type: Core, ready to land

#11076 Cleanup Build Output Types
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
Labels: Type: Core, ready to land

#11077 Fix Utility Types
  packages/next/build/plugins/collect-plugins.ts
  packages/next/next-server/lib/utils.ts
Labels: Type: Core, ready to land

#11418 Fix bug where pages refresh periodically for custom server
  errors/render-no-starting-slash.md
  packages/next/next-server/server/next-server.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/lib/next-test-utils.js
Labels: Type: Core

#11637 Update to not modify req.url for getServerSideProps requests
  packages/next/next-server/server/next-server.ts
  test/integration/getserversideprops/pages/_app.js
  test/integration/getserversideprops/pages/blog/[post]/index.js
  test/integration/getserversideprops/pages/something.js
  test/integration/getserversideprops/test/index.test.js
Labels: Type: Core

#11576 [Examples] Update mobx examples to not use SSR
  examples/with-custom-reverse-proxy/package.json
  examples/with-custom-reverse-proxy/pages/index.js
  examples/with-env-from-next-config-js/README.md
  examples/with-kea/package.json
  examples/with-kea/pages/index.js
  examples/with-mobx-react-lite/README.md
  examples/with-mobx-react-lite/pages/_app.js
  examples/with-mobx-react-lite/pages/index.js
  examples/with-mobx-react-lite/pages/other.js
  examples/with-mobx/README.md
  examples/with-mobx/pages/_app.js
  examples/with-mobx/pages/index.js
  examples/with-mobx/pages/other.js
  examples/with-mobx/store.js
Labels: Type: Example

#11562 [Example] Remove SSR from with-cerebral
  examples/with-cerebral/pages/index.js
  examples/with-cerebral/pages/other.js
Labels: Type: Example

#11385 [Examples] Add SWR to api-routes and api-routes-middleware
  examples/api-routes-middleware/package.json
  examples/api-routes-middleware/pages/api/cookies.js
  examples/api-routes-middleware/pages/index.js
  examples/api-routes/package.json
  examples/api-routes/pages/index.js
  examples/api-routes/pages/person/[id].js
Labels: Type: Example

#11383 [example] Add SWR to api-routes-graphql
  examples/api-routes-graphql/package.json
  examples/api-routes-graphql/pages/index.js
Labels: Type: Example

#10804 chore(deps): remove next-css from examples/antd
  examples/with-ant-design/.babelrc
  examples/with-ant-design/next.config.js
  examples/with-ant-design/package.json
  examples/with-ant-design/pages/_app.js
Labels: Type: Example

#10973 docs(examples): add with-iron-session example
  examples/with-iron-session/README.md
  examples/with-iron-session/components/form.js
  examples/with-iron-session/components/header.js
  examples/with-iron-session/components/layout.js
  examples/with-iron-session/lib/fetch/index.js
  examples/with-iron-session/lib/hooks/useUser.js
  examples/with-iron-session/lib/session/index.js
  examples/with-iron-session/now.json
  examples/with-iron-session/package.json
  examples/with-iron-session/pages/api/login.js
  examples/with-iron-session/pages/api/logout.js
  examples/with-iron-session/pages/api/user.js
  examples/with-iron-session/pages/index.js
  examples/with-iron-session/pages/login.js
  examples/with-iron-session/pages/profile-sg.js
  examples/with-iron-session/pages/profile-ssr.js
Labels: Type: Example

#11709 Update to merge props from GSSP methods with _app pageProps
  packages/next/next-server/server/render.tsx
  test/integration/gssp-pageProps-merge/pages/_app.js
  test/integration/gssp-pageProps-merge/pages/gsp.js
  test/integration/gssp-pageProps-merge/pages/gssp.js
  test/integration/gssp-pageProps-merge/test/index.test.js
Labels: Type: Core, ready to land

#10543 Confirm if user wants example when creating app
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.js
Labels: Type: Core, ready to land

#11643 Fix inconsistent handling for /index
  packages/next/next-server/server/require.ts
  packages/next/server/lib/find-page-file.ts
  test/integration/client-navigation/test/index.test.js
  test/integration/conflicting-public-file-page/test/index.test.js
  test/integration/custom-server/server.js
  test/integration/route-index/pages/index/index.js
  test/integration/route-index/test/index.test.js
  test/integration/route-indexes/pages/api/sub/[id].js
  test/integration/route-indexes/pages/api/sub/index.js
  test/integration/route-indexes/pages/index.js
  test/integration/route-indexes/pages/nested-index/index/index.js
  test/integration/route-indexes/pages/sub/[id].js
  test/integration/route-indexes/pages/sub/index.js
  test/integration/route-indexes/test/index.test.js
Labels: Type: Bug, ready to land

#11657 Updated with-webpack-bundle-size-analyzer to use SSG
  examples/with-webpack-bundle-size-analyzer/pages/about.js
  examples/with-webpack-bundle-size-analyzer/pages/index.js
Labels: Type: Example

#11733 Make sure to handle "next" import gracefully
  packages/next/build/webpack-config.ts
  test/integration/production/pages/next-import.js
Labels: Type: Bug, priority: low, ready to land

#11658 Updated with-xstate
  examples/with-xstate/pages/index.js
Labels: Type: Example

#11736 [Examples] Update with-mobx-state-tree examples
  examples/with-mobx-state-tree-typescript/README.md
  examples/with-mobx-state-tree-typescript/components/Clock.tsx
  examples/with-mobx-state-tree-typescript/components/SampleComponent.tsx
  examples/with-mobx-state-tree-typescript/package.json
  examples/with-mobx-state-tree-typescript/pages/_app.tsx
  examples/with-mobx-state-tree-typescript/pages/index.tsx
  examples/with-mobx-state-tree-typescript/pages/other.tsx
  examples/with-mobx-state-tree-typescript/pages/ssg.tsx
  examples/with-mobx-state-tree-typescript/pages/ssr.tsx
  examples/with-mobx-state-tree-typescript/store.ts
  examples/with-mobx-state-tree/README.md
  examples/with-mobx-state-tree/pages/_app.js
  examples/with-mobx-state-tree/pages/index.js
  examples/with-mobx-state-tree/pages/other.js
  examples/with-mobx-state-tree/pages/ssg.js
  examples/with-mobx-state-tree/pages/ssr.js
  examples/with-mobx-state-tree/store.js
  examples/with-mobx-state-tree/stores/store.js
Labels: Type: Example

#11757 Add New Provider
  packages/next/build/index.ts
  packages/next/telemetry/ci-info.ts
Labels: ready to land

#11755 Fix just headers not being applied in dev mode
  packages/next/server/next-dev-server.ts
  test/integration/custom-routes/test/index.test.js
Labels: Type: Bug

#11801 Update auto export opt-out warning and err.sh
  errors/opt-out-auto-static-optimization.md
  packages/next/build/index.ts
Labels: Documentation

#11795 Replace brackets in CSS classes for dynamic routes
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  test/integration/css-fixtures/dynamic-route-module/pages/[post]/index.js
  test/integration/css-fixtures/dynamic-route-module/pages/[post]/index.module.css
  test/integration/css-modules/test/index.test.js
  test/integration/scss-fixtures/dynamic-route-module/pages/[post]/index.js
  test/integration/scss-fixtures/dynamic-route-module/pages/[post]/index.module.scss
  test/integration/scss-modules/test/index.test.js
Labels: Type: Bug

#10897 Add Prismic Example
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/blog-starter/README.md
  examples/cms-datocms/README.md
  examples/cms-prismic/.env.example
  examples/cms-prismic/.gitignore
  examples/cms-prismic/README.md
  examples/cms-prismic/components/alert.js
  examples/cms-prismic/components/avatar.js
  examples/cms-prismic/components/container.js
  examples/cms-prismic/components/cover-image.js
  examples/cms-prismic/components/date.js
  examples/cms-prismic/components/footer.js
  examples/cms-prismic/components/header.js
  examples/cms-prismic/components/hero-post.js
  examples/cms-prismic/components/intro.js
  examples/cms-prismic/components/layout.js
  examples/cms-prismic/components/markdown-styles.module.css
  examples/cms-prismic/components/meta.js
  examples/cms-prismic/components/more-stories.js
  examples/cms-prismic/components/post-body.js
  examples/cms-prismic/components/post-header.js
  examples/cms-prismic/components/post-preview.js
  examples/cms-prismic/components/post-title.js
  examples/cms-prismic/components/section-separator.js
  examples/cms-prismic/lib/api.js
  examples/cms-prismic/lib/constants.js
  examples/cms-prismic/next.config.js
  examples/cms-prismic/now.json
  examples/cms-prismic/package.json
  examples/cms-prismic/pages/_app.js
  examples/cms-prismic/pages/_document.js
  examples/cms-prismic/pages/api/exit-preview.js
  examples/cms-prismic/pages/api/preview.js
  examples/cms-prismic/pages/index.js
  examples/cms-prismic/pages/posts/[slug].js
  examples/cms-prismic/postcss.config.js
  examples/cms-prismic/public/favicon/android-chrome-192x192.png
  examples/cms-prismic/public/favicon/android-chrome-512x512.png
  examples/cms-prismic/public/favicon/apple-touch-icon.png
  examples/cms-prismic/public/favicon/browserconfig.xml
  examples/cms-prismic/public/favicon/favicon-16x16.png
  examples/cms-prismic/public/favicon/favicon-32x32.png
  examples/cms-prismic/public/favicon/favicon.ico
  examples/cms-prismic/public/favicon/mstile-150x150.png
  examples/cms-prismic/public/favicon/safari-pinned-tab.svg
  examples/cms-prismic/public/favicon/site.webmanifest
  examples/cms-prismic/styles/index.css
  examples/cms-prismic/tailwind.config.js
  examples/cms-sanity/README.md
  examples/cms-takeshape/README.md
Labels: Type: Example

#11812 Make sure to pass through query values for custom routes
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/test/index.test.js
Labels: Type: Bug

#11806 [examples/with-react-intl] Fix issues with Intl.js polyfill
  examples/with-react-intl/package.json
  examples/with-react-intl/server.js
Labels: Type: Example

#11701 Update sentry example
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
  examples/with-sentry-simple/pages/_app.js
Labels: Type: Example

#8884 Adds first input delay performance metric
  packages/next/build/webpack-config.ts
  packages/next/client/index.js
  packages/next/next-server/lib/fid-measure.js
  packages/next/next-server/lib/fid.ts
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
Labels: Type: Enhancement, ready to land

#11858 Remove update-check.d.ts
  packages/create-next-app/@types/update-check.d.ts
  packages/create-next-app/package.json
Labels: ready to land

#11861 Update Serverless Note in Docs
  docs/api-reference/next.config.js/build-target.md
Labels: Documentation

#11359 feat(example): add CRUD example with next-connect and passport
  examples/with-passport-and-next-connect/README.md
  examples/with-passport-and-next-connect/components/Navbar.js
  examples/with-passport-and-next-connect/lib/db.js
  examples/with-passport-and-next-connect/lib/hooks.jsx
  examples/with-passport-and-next-connect/lib/passport.js
  examples/with-passport-and-next-connect/lib/session.js
  examples/with-passport-and-next-connect/middleware/auth.js
  examples/with-passport-and-next-connect/package.json
  examples/with-passport-and-next-connect/pages/_app.js
  examples/with-passport-and-next-connect/pages/api/login.js
  examples/with-passport-and-next-connect/pages/api/logout.js
  examples/with-passport-and-next-connect/pages/api/user.js
  examples/with-passport-and-next-connect/pages/api/users.js
  examples/with-passport-and-next-connect/pages/index.js
  examples/with-passport-and-next-connect/pages/login.js
  examples/with-passport-and-next-connect/pages/profile.js
  examples/with-passport-and-next-connect/pages/signup.js
  examples/with-passport-and-next-connect/styles.css
Labels: Type: Example

#11616 Update shallow routing docs
  docs/routing/shallow-routing.md
Labels: Documentation

#9988 Add basePath in link component and add/remove it consistently
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/link.tsx
  packages/next/client/router.ts
  packages/next/export/index.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/basepath/pages/hello.js
  test/integration/basepath/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: Type: Core

#11881 Fix Situation Where Build Can Hang Indefinitely
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/TaskRunner.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Labels: Type: Bug, priority: low, ready to land

#11882 Handle Potential Promise Rejection in Serverless
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Labels: priority: low, ready to land

#10324 Add support for params in header key/values
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: Type: Core

#11880 fix(export): fallback to empty string for basePath
  packages/next/next-server/lib/router/router.ts
  test/unit/router-add-base-path.test.js
Labels: Type: Bug, ready to land

#11792 docs(Link): precise how prefetch works
  docs/api-reference/next/link.md
Labels: Documentation

#11894 Fix: Update shallow routing docs
  docs/routing/shallow-routing.md
Labels: Documentation

#11896 Fix NEXT_PUBLIC env values not being inlined
  packages/next/build/webpack-config.ts
  test/integration/env-config/app/next.config.js
  test/integration/env-config/app/pages/next-config-loaded-env.js
  test/integration/env-config/test/index.test.js
Labels: Type: Bug, Type: Core, priority: low

#11901 Correct Global and Local CSS Loading Order in Dev
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  test/integration/css-fixtures/global-and-module-ordering/pages/_app.js
  test/integration/css-fixtures/global-and-module-ordering/pages/index.js
  test/integration/css-fixtures/global-and-module-ordering/pages/index.module.css
  test/integration/css-fixtures/global-and-module-ordering/styles/global.css
  test/integration/css/test/index.test.js
Labels: Type: Bug

#11889 Ensure module not found error is shown with jsconfig paths
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
Labels: Type: Bug, priority: low

#11893 Add initial process.env stubbing for new env support
  errors/missing-env-value.md
  packages/next/build/webpack-config.ts
  test/integration/process-env-stub/next.config.js
  test/integration/process-env-stub/pages/also-not-missing.js
  test/integration/process-env-stub/pages/api/hi.js
  test/integration/process-env-stub/pages/missing-gsp.js
  test/integration/process-env-stub/pages/missing-gssp.js
  test/integration/process-env-stub/pages/missing.js
  test/integration/process-env-stub/pages/not-missing.js
  test/integration/process-env-stub/test/index.test.js
Labels: Type: Enhancement

#11925 Update shallow option docs
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
Labels: Documentation, ready to land

#11976 Serialize JSON Warnings Before Event
  packages/next/build/output/index.ts
Labels: Type: Bug, priority: low, ready to land

#11977 Update HMR Client Runtime
  packages/next/client/dev/error-overlay/hot-dev-client.js
Labels: Type: Enhancement

#11981 Add API route to default CNA template
  packages/create-next-app/templates/default/pages/api/hello.js
Labels: ready to land

#12006 Create React Refresh Utils
  .eslintignore
  .prettierignore
  packages/react-refresh-utils/.gitignore
  packages/react-refresh-utils/README.md
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  packages/react-refresh-utils/internal/helpers.ts
  packages/react-refresh-utils/loader.ts
  packages/react-refresh-utils/package.json
  packages/react-refresh-utils/runtime.ts
  packages/react-refresh-utils/tsconfig.json
  yarn.lock
Labels: Type: Enhancement

#12014 Resolve TypeScript Extension in Correct Order
  packages/next/build/webpack-config.ts
  test/integration/typescript/extension-order/js-first.js
  test/integration/typescript/extension-order/js-first.ts
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/test/index.test.js
Labels: Type: Enhancement

#12008 Experimental: React Refresh Support
  .eslintignore
  .prettierignore
  package.json
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/config.ts
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  test/acceptance/.gitignore
  test/acceptance/ReactRefresh.test.js
  test/acceptance/helpers.js
  test/acceptance/next.config.js
  test/lib/next-webdriver.d.ts
  yarn.lock
Labels: Type: Enhancement, ready to land

#11907 Fix with mobx
  examples/with-mobx/README.md
  examples/with-mobx/components/Clock.js
  examples/with-mobx/components/Page.js
  examples/with-mobx/package.json
  examples/with-mobx/pages/_app.js
  examples/with-mobx/pages/ssg.js
  examples/with-mobx/pages/ssr.js
  examples/with-mobx/store.js
Labels: Type: Example

#12059 [Fast Refresh] Module re-execution tests from Metro
  test/acceptance/ReactRefreshRequire.test.js
  test/acceptance/helpers.js
Labels: ready to land

#12081 Add Experimental React Refresh Example
  examples/z-experimental-refresh/README.md
  examples/z-experimental-refresh/components/ClickCount.js
  examples/z-experimental-refresh/components/ClickCount.module.css
  examples/z-experimental-refresh/global.css
  examples/z-experimental-refresh/next.config.js
  examples/z-experimental-refresh/package.json
  examples/z-experimental-refresh/pages/_app.js
  examples/z-experimental-refresh/pages/index.js
Labels: Type: Example

#12090 Evaluate App before Page in Dev for CSS Ordering
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/css-fixtures/global-and-module-ordering/pages/index.js
  test/integration/css-fixtures/global-and-module-ordering/pages/index.module.css
  test/integration/css-fixtures/global-and-module-ordering/pages/index2.module.css
  yarn.lock
Labels: Type: Bug

#12007 Add Additional Test Case for CSS Order in Dev
  test/integration/css/test/index.test.js
Labels: ready to land

#12094 Fix typo in example
  examples/with-env-from-next-config-js/README.md
Labels: Type: Example

#12085 fix(dev-server): render 404 when dynamic ssg path doesn't exist
  packages/next/server/next-dev-server.ts
  test/integration/ssg-dynamic-routes-404-page/pages/404.js
  test/integration/ssg-dynamic-routes-404-page/pages/post/[id].js
  test/integration/ssg-dynamic-routes-404-page/test/index.test.js
Labels: Type: Bug, ready to land

#11788 Make sure to handle // during hydration
  packages/next/next-server/lib/router/router.ts
  test/integration/hydration/pages/404.js
  test/integration/hydration/test/index.test.js
Labels: Type: Core, ready to land

#11611 [Example] update with-tailwindcss-emotion to tailwind 1.3.3 and emotion 11 + tailwind-ui plugin
  examples/with-tailwindcss-emotion/.babelrc
  examples/with-tailwindcss-emotion/README.md
  examples/with-tailwindcss-emotion/babel-plugin-macros.config.js
  examples/with-tailwindcss-emotion/components/ButtonCss.js
  examples/with-tailwindcss-emotion/components/ButtonReact.js
  examples/with-tailwindcss-emotion/components/ButtonStyled.js
  examples/with-tailwindcss-emotion/next.config.js
  examples/with-tailwindcss-emotion/package.json
  examples/with-tailwindcss-emotion/pages/_app.js
  examples/with-tailwindcss-emotion/pages/_document.js
  examples/with-tailwindcss-emotion/pages/index.js
  examples/with-tailwindcss-emotion/styles/base.css
  examples/with-tailwindcss-emotion/styles/tailwind.base.css
  examples/with-tailwindcss-emotion/tailwind.config.js
  examples/with-tailwindcss-emotion/tailwind.js
Labels: Type: Example

#12177 Fix CSS Module HMR
  packages/next/compiled/cssnano-simple/index.js
  packages/next/package.json
  test/integration/css-modules/test/index.test.js
  test/integration/scss-modules/test/index.test.js
  yarn.lock
Labels: Type: Bug

#12178 Downgrade terser to fix invalid minifying
  packages/next/build/webpack-config.ts
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  yarn.lock
Labels: Type: Bug

#12239 Fix CSS Identifier Cleaning
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  test/integration/css-fixtures/catch-all-module/pages/[...post]/55css.module.css
  test/integration/css-fixtures/catch-all-module/pages/[...post]/index.js
  test/integration/css-modules/test/index.test.js
  test/integration/scss-modules/test/index.test.js
Labels: Type: Bug, ready to land

#12252 Fix ncc'd version of terser not being used by terser webpack plugin
  packages/next/compiled/terser-webpack-plugin/worker.js
  packages/next/taskfile-ncc.js
Labels: Type: Bug

#12287 Update preview-mode.md
  docs/advanced-features/preview-mode.md
Labels: Documentation

#12169 New logging output
  packages/next/build/output/log.ts
  packages/next/build/output/store.ts
  packages/next/cli/next-start.ts
  packages/next/next-server/server/config.ts
  test/integration/cli/test/index.test.js
  test/integration/config-experimental-warning/test/index.test.js
  test/lib/next-test-utils.js
Labels: ready to land

#12328 Update jsconfig paths fix for windows
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
Labels: ready to land

#12359 [Fast Refresh] Skip Environment Check
  packages/next/build/webpack/loaders/next-babel-loader.js
Labels: Type: Bug, priority: low, ready to land

#12355 Upgrade `source-map` package
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/middleware.ts
  packages/react-refresh-utils/internal/helpers.ts
  test/acceptance/ReactRefresh.test.js
  yarn.lock
Labels: ready to land

#12031 Add URL escaping for custom headers
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: Type: Bug, ready to land
