Repository vercel/next.js, pull requests merged in 2020-12, with the labels that each got.

#19694 Fix cloudinary default quality to use q_auto
  packages/next/client/image.tsx
Labels: type: next

#19713 Update with-zones example readme
  examples/with-zones/README.md
Labels: type: example

#19638 Fix typo in gitignore
  examples/custom-server-typescript/.gitignore
Labels: type: example

#19708 Avoid misleading inline comments in .env example
  docs/basic-features/environment-variables.md
Labels: type: documentation

#16539 Css optimizations
  package.json
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  yarn.lock
Labels: type: next

#18281 Script loader component
  packages/next/build/webpack-config.ts
  packages/next/client/experimental-script.tsx
  packages/next/client/head-manager.ts
  packages/next/experimental-script.d.ts
  packages/next/experimental-script.js
  packages/next/export/worker.ts
  packages/next/next-server/lib/head-manager-context.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/script-loader/next.config.js
  test/integration/script-loader/pages/_app.js
  test/integration/script-loader/pages/_document.js
  test/integration/script-loader/pages/index.js
  test/integration/script-loader/pages/page1.js
  test/integration/script-loader/pages/page2.js
  test/integration/script-loader/pages/page3.js
  test/integration/script-loader/pages/page4.js
  test/integration/script-loader/styles/styles.css
  test/integration/script-loader/test/index.test.js
Labels: type: next

#16052 Error Message Clarity
  errors/undefined-webpack-config.md
  packages/next/build/webpack-config.ts
  test/integration/build-output/test/index.test.js
  test/integration/undefined-webpack-config/next.config.js
  test/integration/undefined-webpack-config/pages/index.js
  test/integration/undefined-webpack-config/test/index.test.js
Labels: type: documentation, type: next

#19722 Update @ampproject/toolbox-optimizer to latest version
  packages/next/package.json
  yarn.lock
Labels: type: next

#19748 Clarify data fetching documentation on calling API routes.
  docs/basic-features/data-fetching.md
Labels: type: documentation

#19754 docs/Remove extra word
  docs/deployment.md
Labels: type: documentation

#19248 Replace Graphcool with a working GraphQL endpoint in with-apollo-and-redux example
  examples/with-apollo-and-redux/README.md
  examples/with-apollo-and-redux/components/PostList.js
  examples/with-apollo-and-redux/components/PostUpvoter.js
  examples/with-apollo-and-redux/components/Submit.js
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/package.json
Labels: type: example

#19762 with-facebook-pixel
  examples/with-facebook-pixel/components/FacebookPixel.js
  examples/with-facebook-pixel/lib/fpixel.js
  examples/with-facebook-pixel/pages/_document.js
  examples/with-facebook-pixel/pages/index.js
Labels: type: example

#19806 Update fauna example
  examples/with-graphql-faunadb/.env.local.example
  examples/with-graphql-faunadb/README.md
  examples/with-graphql-faunadb/components/GuestbookEntry.js
  examples/with-graphql-faunadb/graphql/api.js
  examples/with-graphql-faunadb/next.config.js
  examples/with-graphql-faunadb/scripts/setup.js
Labels: type: example

#19758 Making font optimization as default
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/next-server/lib/head.tsx
  packages/next/next-server/lib/post-process.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/build-output/test/index.test.js
  test/integration/font-optimization/test/index.test.js
  test/integration/script-loader/test/index.test.js
Labels: type: next

#19766 Ensure i18n custom routes resolves correctly
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/export/index.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/router/utils/prepare-destination.ts
  packages/next/next-server/lib/router/utils/resolve-rewrites.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  packages/next/server/hot-reloader.ts
  test/integration/custom-routes-i18n/next.config.js
  test/integration/custom-routes-i18n/pages/links.js
  test/integration/custom-routes-i18n/test/index.test.js
  test/integration/i18n-support/test/shared.js
Labels: type: next

#19765 Add locale: false custom route prefix note
  docs/api-reference/next.config.js/headers.md
  docs/api-reference/next.config.js/redirects.md
  docs/api-reference/next.config.js/rewrites.md
Labels: type: documentation

#19763 Improve way cache version string is created
  packages/next/build/webpack-config.ts
Labels: type: next

#16169 Custom Server with bodyParser, don't parse body again in API Route
  packages/next/next-server/server/api-utils.ts
  test/integration/api-body-parser/pages/api/index.js
  test/integration/api-body-parser/server.js
  test/integration/api-body-parser/test/index.test.js
Labels: type: next

#19859 Ensure trailingSlash redirect applies correctly for i18n
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/i18n-support/test/shared.js
Labels: type: next

#19937 Remove aliases that are no longer needed
  packages/next/build/webpack-config.ts
Labels: type: next

#19807 with-facebook-pixel: remove package and update readme
  examples/with-facebook-pixel/README.md
  examples/with-facebook-pixel/package.json
Labels: type: example

#19884 Update client-only.js
  examples/with-apollo/pages/client-only.js
  examples/with-electron/README.md
Labels: type: example

#19877 Fix failing Azure tests
  packages/next/next-server/lib/post-process.ts
  run-tests.js
Labels: type: next

#19777 Clear up production build missing message for `next start` and `next export`
  errors/next-export-no-build-id.md
  errors/production-start-no-build-id.md
  packages/next/cli/next-export.ts
  packages/next/export/index.ts
  packages/next/next-server/server/next-server.ts
  test/integration/export-no-build/next.config.js
  test/integration/export-no-build/test/index.test.js
  test/integration/production-start-no-build/next.config.js
  test/integration/production-start-no-build/test/index.test.js
Labels: type: documentation, type: next

#19962 Correct production docker base image tag
  examples/with-docker/Dockerfile.multistage
Labels: type: example

#19974 Fix double-quoted hotlinks in dev error panel
  packages/react-dev-overlay/src/internal/container/Errors.tsx
Labels: type: next

#20039 Update example with next-translate upgrading to 1.0
  examples/with-next-translate/.gitignore
  examples/with-next-translate/i18n.json
  examples/with-next-translate/next.config.js
  examples/with-next-translate/package.json
  examples/with-next-translate/pages/index.js
Labels: type: example

#20045 Add NEXT_LOCALE cookie note to docs
  docs/advanced-features/i18n-routing.md
Labels: type: documentation

#19812 Fix bug in with-apollo example leading to cached lists being duplicated.
  examples/with-apollo/lib/apolloClient.js
  examples/with-apollo/package.json
Labels: type: example

#20047 Update logo for dark mode
  packages/next/README.md
Labels: type: next

#20063 Upgrade Terser
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/terser/LICENSE
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#20067 [Image Component] image sizes property becomes 100vw by default
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
Labels: type: documentation, type: next

#18532 docs: add example of Ionic with TypeScript
  examples/with-ionic-typescript/.gitignore
  examples/with-ionic-typescript/README.md
  examples/with-ionic-typescript/ionic.d.ts
  examples/with-ionic-typescript/next-env.d.ts
  examples/with-ionic-typescript/next.config.js
  examples/with-ionic-typescript/package.json
  examples/with-ionic-typescript/pages/_app.tsx
  examples/with-ionic-typescript/pages/index.tsx
  examples/with-ionic-typescript/public/cat.jpg
  examples/with-ionic-typescript/public/favicon.ico
  examples/with-ionic-typescript/public/vercel.svg
  examples/with-ionic-typescript/tsconfig.json
Labels: type: example

#20089 Update terser-webpack-plugin to support webpack 4
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/LICENSE
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/minify.js
  packages/next/compiled/find-up/index.js
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/terser-webpack-plugin/minify.js
  packages/next/compiled/terser-webpack-plugin/package.json
  packages/next/package.json
  packages/next/taskfile-ncc.js
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  yarn.lock
Labels: type: next

#19474 Fix prefetching for URLs including trailing slash
  packages/next/next-server/lib/router/router.ts
  test/integration/trailing-slashes-href-resolving/pages/[slug].js
  test/integration/trailing-slashes-href-resolving/pages/index.js
  test/integration/trailing-slashes-href-resolving/test/index.test.js
Labels: type: next

#20129 Update introduction.md
  docs/routing/introduction.md
Labels: type: documentation

#20024 Update README-template.md for API endpoint info
  packages/create-next-app/templates/default/README-template.md
Labels: type: create-next-app

#20145 Add dynamic and import note.
  docs/advanced-features/dynamic-import.md
Labels: type: documentation

#19980 Update Link documentation
  docs/api-reference/next/link.md
Labels: type: documentation

#20183 Correct a typo
  docs/api-reference/next.config.js/introduction.md
Labels: type: documentation

#20211 Update import to prevent loader from erroring in webpack 5
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
Labels: type: next

#20229 Update font-stylesheet-gathering-plugin to be webpack 5 compatible
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
Labels: type: next

#20035 Add required server files manifest
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/next-server.ts
  test/integration/required-server-files/pages/dynamic/[slug].js
  test/integration/required-server-files/pages/fallback/[slug].js
  test/integration/required-server-files/pages/index.js
  test/integration/required-server-files/test/index.test.js
Labels: type: next

#20239 Upgrade `http-proxy` dependency
  packages/next/compiled/http-proxy/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#19802 Added flag to identify shallow router events
  docs/api-reference/next/router.md
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/_app.js
  test/integration/basepath/test/index.test.js
Labels: type: documentation, type: next

#19993 Fix a link to a Slack clone example in Supabase
  examples/with-supabase-auth-realtime-db/README.md
Labels: type: example

#20267 Move productionBrowserSourceMaps out of experimental
  docs/advanced-features/source-maps.md
  docs/manifest.json
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config.ts
  test/integration/production-browser-sourcemaps/next.config.js
  test/integration/production-browser-sourcemaps/test/index.test.js
Labels: type: documentation, type: next

#20279 Fix source map config description
  docs/advanced-features/source-maps.md
Labels: type: documentation

#20232 Upgrade webpack-bundle-analyzer
  package.json
  packages/next-bundle-analyzer/package.json
  packages/next/compiled/terser/bundle.min.js
  yarn.lock
Labels: type: next

#20269 Sentry URL for Organization
  examples/with-sentry/.env.local.example
Labels: type: example

#20288 Fix: progressive-web-app example
  examples/progressive-web-app/pages/_app.js
  examples/progressive-web-app/public/icons/icon-16x16.png
  examples/progressive-web-app/public/icons/icon-32x32.png
Labels: type: example

#19724 Extend IncomingMessage type to include cookies from middleware
  packages/next/types/index.d.ts
  test/integration/typescript/pages/ssr/cookies.tsx
  test/integration/typescript/test/index.test.js
Labels: type: next

#20357 Update experimental profiling
  bench/instrument.js
  package.json
  packages/next/bin/next.ts
  packages/next/build/index.ts
  packages/next/build/tracer.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/cli/next-build.ts
  packages/next/compiled/debug/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#20372 temporary: re-flag font optimization
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/lib/non-nullable.ts
  packages/next/next-server/lib/head.tsx
  packages/next/next-server/lib/post-process.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/build-output/test/index.test.js
  test/integration/font-optimization/test/index.test.js
Labels: type: next

#20376 Ensure only backslashes are in pages-manifest with i18n
  packages/next/build/index.ts
  test/integration/i18n-support/test/shared.js
Labels: type: next

#20378 Fix webpack 5 terser compat
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Labels: type: next

#16934 fix: set empty document files for amp first
  packages/next/pages/_document.tsx
  test/integration/amphtml/test/index.test.js
Labels: type: next

#20390 changed ref from 'master' to 'main' branch
  docs/deployment.md
Labels: type: documentation

#20373 Add note to deployment docs about handling new versions.
  docs/deployment.md
Labels: type: documentation

#20397 Remove extra redirect for index with i18n
  packages/next/export/worker.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/config.ts
  test/integration/i18n-support-base-path/next.config.js
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/shared.js
Labels: type: next

#19796 Update revalidate checks
  packages/next/next-server/server/render.tsx
  test/integration/invalid-revalidate-values/pages/ssg.js
  test/integration/invalid-revalidate-values/test/index.test.js
Labels: type: next

#20402 Upgrade all http links to https
  docs/deployment.md
  examples/custom-server-koa/README.md
  examples/with-ant-design-less/README.md
  examples/with-ant-design/README.md
  examples/with-carbon-components/README.md
  examples/with-knex/README.md
  examples/with-rebass/README.md
  examples/with-redux-saga/README.md
  examples/with-redux-wrapper/README.md
  examples/with-semantic-ui/README.md
  examples/with-stomp/README.md
  examples/with-videojs/README.md
Labels: type: documentation, type: example

#20042 example with-google-tag-manager
  examples/with-google-tag-manager/.env.local.example
  examples/with-google-tag-manager/.gitignore
  examples/with-google-tag-manager/README.md
  examples/with-google-tag-manager/components/GoogleTagManager.js
  examples/with-google-tag-manager/lib/gtm.js
  examples/with-google-tag-manager/package.json
  examples/with-google-tag-manager/pages/_app.js
  examples/with-google-tag-manager/pages/_document.js
  examples/with-google-tag-manager/pages/index.js
  examples/with-google-tag-manager/public/favicon.ico
Labels: type: example

#20515 Style improvements on MongoDB example
  examples/with-mongodb/pages/index.js
  examples/with-mongodb/util/mongodb.js
Labels: type: example

#20516 Fix typos found on examples docs
  examples/with-ant-design-mobile/README.md
  examples/with-deta-base/README.md
  examples/with-electron-typescript/README.md
  examples/with-env-from-next-config-js/README.md
  examples/with-firebase-hosting/README.md
Labels: type: example

#20536 fix example using-router import wrong pathname
  examples/using-router/pages/about.js
Labels: type: example

#20338 Update README for with-emotion example
  examples/with-emotion/README.md
Labels: type: example

#19885 Update README.md
  examples/with-draft-js/README.md
Labels: type: example

#20517 Upgrade Tailwindcss to 2.0.2
  examples/with-tailwindcss/package.json
Labels: type: example

#20441 Ensure query is present with i18n and history navigation
  packages/next/next-server/lib/router/router.ts
  test/integration/i18n-support-base-path/pages/gssp/index.js
  test/integration/i18n-support/pages/gssp/index.js
  test/integration/i18n-support/test/shared.js
Labels: type: next

#20509 Ensure index rewrite is matched with i18n correctly
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support-index-rewrite/next.config.js
  test/integration/i18n-support-index-rewrite/pages/[...slug].js
  test/integration/i18n-support-index-rewrite/test/index.test.js
Labels: type: next

#20542 fix(next/image): inherit parent visibility
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/hidden-parent.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#20543 fix Fast Refresh tests with webpack@5
  .github/workflows/build_test_deploy.yml
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
Labels: type: next

#20498 Docs typo fix
  docs/basic-features/environment-variables.md
Labels: type: documentation

#20335 Update with-msw example
  examples/with-msw/.env.development
  examples/with-msw/.env.production
  examples/with-msw/README.md
  examples/with-msw/package.json
  examples/with-msw/pages/_app.js
  examples/with-msw/pages/index.js
  examples/with-msw/public/mockServiceWorker.js
Labels: type: example

#20052 Correct import comment in interfaces
  examples/with-typescript/interfaces/index.ts
Labels: type: example

#19465 with-zustand example fix for build error on ssr page
  examples/with-zustand/pages/ssr.js
Labels: type: example

#19383 Update with-mongodb to be TypeScript-friendly
  examples/with-mongodb/util/mongodb.js
Labels: type: example

#19135 Ensure path encoding is handled consistently for prerendered pages
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/export/worker.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/router/utils/escape-path-delimiters.ts
  packages/next/next-server/server/next-server.ts
  test/integration/prerender-fallback-encoding/next.config.js
  test/integration/prerender-fallback-encoding/pages/fallback-blocking/[slug].js
  test/integration/prerender-fallback-encoding/pages/fallback-false/[slug].js
  test/integration/prerender-fallback-encoding/pages/fallback-true/[slug].js
  test/integration/prerender-fallback-encoding/paths.js
  test/integration/prerender-fallback-encoding/test/index.test.js
Labels: type: next

#20379 Remove import type syntax from core files
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  packages/next/client/route-loader.ts
  packages/next/export/index.ts
  packages/next/server/hot-middleware.ts
Labels: type: next

#20471 Remove "priority" prop from Image docs
  docs/api-reference/next/image.md
Labels: type: documentation

#20558 Add error for invalid webpack 5 version
  errors/invalid-webpack-5-version.md
  packages/next/build/webpack-config.ts
Labels: type: documentation, type: next

#20497 Ignore emacs lockfiles
  .gitignore
  packages/next/build/webpack-config.ts
Labels: type: next

#20233 Update with-styletron example to not use DebugEngine
  examples/with-styletron/pages/_app.js
  examples/with-styletron/styletron.js
Labels: type: example

#20580 fix(next/image): ignore typography prose styles
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/prose.js
  test/integration/image-component/default/pages/prose.module.css
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#20578 Clean up webpack 5 version error
  packages/next/build/webpack-config.ts
Labels: type: next

#20432 Update sharp optional dependency to support NPM 7
  packages/next/package.json
  yarn.lock
Labels: type: next

#20586 deps: upgrade various deps (mainly babel)
  package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/build/babel/plugins/jsx-pragma.ts
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/babel/plugins/next-ssg-transform.ts
  packages/next/build/babel/plugins/react-loadable-plugin.ts
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/compiled/babel/bundle.js
  packages/next/compiled/conf/index.js
  packages/next/compiled/debug/index.js
  packages/next/compiled/json5/index.js
  packages/next/compiled/nanoid/index.cjs
  packages/next/compiled/nanoid/index.js
  packages/next/compiled/nanoid/package.json
  packages/next/compiled/neo-async/async.js
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/compiled/schema-utils/index.js
  packages/next/compiled/strip-ansi/index.js
  packages/next/compiled/terser/bundle.min.js
  packages/next/compiled/thread-loader/cjs.js
  packages/next/package.json
  packages/next/types/misc.d.ts
  packages/react-dev-overlay/package.json
  test/acceptance/helpers.js
  test/unit/next-babel-loader.unit.test.js
  yarn.lock
Labels: type: next

#20589 Remove unnecessary unfetch polyfill for dev
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/event-source-polyfill.js
  packages/next/client/dev/on-demand-entries-utils.js
  packages/next/package.json
  packages/next/pages/_document.tsx
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/amphtml/test/index.test.js
  yarn.lock
Labels: type: next

#20392 Add profiling to webpack loaders
  .vscode/launch.json
  .vscode/settings.json
  packages/next/build/webpack/loaders/babel-loader/LICENSE
  packages/next/build/webpack/loaders/babel-loader/src/Error.js
  packages/next/build/webpack/loaders/babel-loader/src/cache.js
  packages/next/build/webpack/loaders/babel-loader/src/index.js
  packages/next/build/webpack/loaders/babel-loader/src/transform.js
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/compiled/babel-loader/index.js
  packages/next/compiled/babel-loader/package.json
  packages/next/compiled/find-cache-dir/index.js
  packages/next/package.json
  packages/next/taskfile.js
  test/unit/next-babel-loader.unit.test.js
  yarn.lock
Labels: type: next

#18447 Ignore domains option when loader is set
  docs/basic-features/image-optimization.md
Labels: type: documentation

#20592 Ensure next/image loads correctly with basePath
  packages/next/next-server/server/config.ts
  test/integration/image-component/base-path/next.config.js
  test/integration/image-component/base-path/pages/flex.js
  test/integration/image-component/base-path/pages/hidden-parent.js
  test/integration/image-component/base-path/pages/index.js
  test/integration/image-component/base-path/pages/invalid-src-proto-relative.js
  test/integration/image-component/base-path/pages/invalid-src.js
  test/integration/image-component/base-path/pages/invalid-unsized.js
  test/integration/image-component/base-path/pages/layout-fill.js
  test/integration/image-component/base-path/pages/layout-fixed.js
  test/integration/image-component/base-path/pages/layout-intrinsic.js
  test/integration/image-component/base-path/pages/layout-responsive.js
  test/integration/image-component/base-path/pages/missing-src.js
  test/integration/image-component/base-path/pages/prose.js
  test/integration/image-component/base-path/pages/prose.module.css
  test/integration/image-component/base-path/pages/rotated.js
  test/integration/image-component/base-path/pages/sizes.js
  test/integration/image-component/base-path/pages/update.js
  test/integration/image-component/base-path/public/exif-rotation.jpg
  test/integration/image-component/base-path/public/test.bmp
  test/integration/image-component/base-path/public/test.gif
  test/integration/image-component/base-path/public/test.jpg
  test/integration/image-component/base-path/public/test.png
  test/integration/image-component/base-path/public/test.svg
  test/integration/image-component/base-path/public/test.tiff
  test/integration/image-component/base-path/public/wide.png
  test/integration/image-component/base-path/test/index.test.js
Labels: type: next

#20595 fix(next/link): reset scroll before lifecycles
  packages/next/client/index.tsx
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  test/integration/client-navigation/pages/nav/long-page-to-snap-scroll.js
  test/integration/client-navigation/pages/snap-scroll-position.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#20594 Refactor GS(S)P notFound client-side handling
  packages/next/next-server/lib/router/router.ts
  test/integration/getserversideprops/test/index.test.js
  test/integration/i18n-support-index-rewrite/test/index.test.js
  test/integration/i18n-support/test/shared.js
Labels: type: next

#20596 Ensure index basePath is detected correctly
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/test/index.test.js
Labels: type: next

#20562 Ensure domain locales are redirected client-side
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/client/index.tsx
  packages/next/export/index.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/build-output/test/index.test.js
  test/integration/custom-routes-i18n/next.config.js
  test/integration/custom-routes-i18n/test/index.test.js
  test/integration/i18n-support-base-path/next.config.js
  test/integration/i18n-support-base-path/pages/gsp/fallback/[slug].js
  test/integration/i18n-support-base-path/test/index.test.js
  test/integration/i18n-support-catchall/next.config.js
  test/integration/i18n-support-index-rewrite/next.config.js
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/pages/gsp/fallback/[slug].js
  test/integration/i18n-support/test/index.test.js
  test/integration/i18n-support/test/shared.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#20604 Add version history for API changes to documentation.
  docs/api-reference/next/image.md
  docs/basic-features/data-fetching.md
Labels: type: documentation

#20605 fix(build): require test files be full name or extension
  packages/next/lib/typescript/runTypeCheck.ts
  test/integration/typescript-filtered-files/pages/contest.tsx
  test/integration/typescript-filtered-files/test/index.test.js
  test/integration/typescript-filtered-files/tsconfig.json
Labels: type: next

#20606 fix(router): consistent scroll behavior for Link/Router#push
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/client-navigation/pages/nav/long-page-to-snap-scroll.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#20610 feat(next/image): reduce byte waste for 3x screens
  packages/next/client/image.tsx
  test/integration/image-component/base-path/test/index.test.js
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#20407 Fix memory leak in useIntersection
  packages/next/client/use-intersection.tsx
Labels: type: next

#19644 Update dbConnect.js
  examples/with-mongodb-mongoose/utils/dbConnect.js
Labels: type: example

#20615 feat(next/image): preload priority images
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-component/default/pages/priority.js
  test/integration/image-component/default/test/index.test.js
Labels: type: documentation, type: next

#20621 docs: update image docs for consistency
  docs/api-reference/next/image.md
Labels: type: documentation

#18864 Move CSS Preloads to top of head at document render
  packages/next/pages/_document.tsx
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/public/styles.css
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#20622 Ensure SSG data 404 handles correctly for non-notFound
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/test/shared.js
  test/integration/ssg-data-404/pages/gsp.js
  test/integration/ssg-data-404/pages/gssp.js
  test/integration/ssg-data-404/pages/index.js
  test/integration/ssg-data-404/test/index.test.js
Labels: type: next

#20382 Fix: fallback font tag repetition
  packages/next/next-server/lib/post-process.ts
  test/integration/font-optimization/test/index.test.js
Labels: type: next

#19698 Update blog starter example
  examples/blog-starter/README.md
  examples/blog-starter/components/cover-image.js
  examples/blog-starter/components/hero-post.js
  examples/blog-starter/components/more-stories.js
  examples/blog-starter/components/post-header.js
  examples/blog-starter/components/post-preview.js
  examples/blog-starter/package.json
  examples/blog-starter/tailwind.config.js
Labels: type: example

#20627 feat: upgrade to ncc@0.26.1
  packages/next/compiled/amphtml-validator/index.js
  packages/next/compiled/arg/index.js
  packages/next/compiled/async-retry/index.js
  packages/next/compiled/async-sema/index.js
  packages/next/compiled/babel/bundle.js
  packages/next/compiled/cacache/index.js
  packages/next/compiled/cache-loader/cjs.js
  packages/next/compiled/ci-info/index.js
  packages/next/compiled/comment-json/index.js
  packages/next/compiled/compression/index.js
  packages/next/compiled/conf/index.js
  packages/next/compiled/content-type/index.js
  packages/next/compiled/cookie/index.js
  packages/next/compiled/debug/index.js
  packages/next/compiled/devalue/devalue.umd.js
  packages/next/compiled/escape-string-regexp/index.js
  packages/next/compiled/file-loader/cjs.js
  packages/next/compiled/find-cache-dir/index.js
  packages/next/compiled/find-up/index.js
  packages/next/compiled/fresh/index.js
  packages/next/compiled/gzip-size/index.js
  packages/next/compiled/http-proxy/index.js
  packages/next/compiled/ignore-loader/index.js
  packages/next/compiled/is-animated/index.js
  packages/next/compiled/is-docker/index.js
  packages/next/compiled/is-wsl/index.js
  packages/next/compiled/json5/index.js
  packages/next/compiled/jsonwebtoken/index.js
  packages/next/compiled/lodash.curry/index.js
  packages/next/compiled/lru-cache/index.js
  packages/next/compiled/mkdirp/index.js
  packages/next/compiled/nanoid/index.cjs
  packages/next/compiled/neo-async/async.js
  packages/next/compiled/ora/index.js
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/compiled/postcss-scss/scss-syntax.js
  packages/next/compiled/recast/main.js
  packages/next/compiled/resolve/index.js
  packages/next/compiled/schema-utils/index.js
  packages/next/compiled/semver/index.js
  packages/next/compiled/send/index.js
  packages/next/compiled/source-map/source-map.js
  packages/next/compiled/string-hash/index.js
  packages/next/compiled/strip-ansi/index.js
  packages/next/compiled/terser/bundle.min.js
  packages/next/compiled/text-table/index.js
  packages/next/compiled/thread-loader/cjs.js
  packages/next/compiled/thread-loader/worker.js
  packages/next/compiled/unistore/unistore.js
  packages/next/compiled/web-vitals/web-vitals.es5.umd.min.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#20631 Ensure href is updated for locale domain
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/test/shared.js
Labels: type: next

#16277 Add docs on authentication patterns.
  docs/api-reference/next/router.md
  docs/authentication.md
  docs/manifest.json
Labels: type: documentation

#20633 fix(experimental scroll): use `sessionStorage` instead of `history`
  packages/next/client/index.tsx
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
Labels: type: next

#20644 Update Next.js in mongoose example
  examples/with-mongodb-mongoose/package.json
Labels: type: example

#20628 Add isReady field on router
  docs/api-reference/next/router.md
  packages/next/client/router.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/render.tsx
  test/integration/build-output/test/index.test.js
  test/integration/router-is-ready/pages/auto-export.js
  test/integration/router-is-ready/pages/gip.js
  test/integration/router-is-ready/pages/gsp.js
  test/integration/router-is-ready/pages/gssp.js
  test/integration/router-is-ready/pages/invalid.js
  test/integration/router-is-ready/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: documentation, type: next

#19879 example with-mdbreact
  examples/with-mdbreact/.gitignore
  examples/with-mdbreact/README.md
  examples/with-mdbreact/package.json
  examples/with-mdbreact/pages/_app.js
  examples/with-mdbreact/pages/index.js
  examples/with-mdbreact/public/favicon.ico
  examples/with-mdbreact/public/vercel.svg
  examples/with-mdbreact/styles/globals.css
Labels: type: example

#20647 fix(overlay): skip disable & upgrade platform
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/internal/components/Overlay/Overlay.tsx
  packages/react-dev-overlay/src/internal/components/Overlay/maintain--tab-focus.ts
  yarn.lock
Labels: type: next

#17723 Fix react-dev-overlay rem style conflict
  packages/react-dev-overlay/src/internal/components/CodeFrame/styles.tsx
  packages/react-dev-overlay/src/internal/components/Dialog/styles.ts
  packages/react-dev-overlay/src/internal/components/Toast/styles.ts
  packages/react-dev-overlay/src/internal/styles/Base.tsx
  packages/react-dev-overlay/src/internal/styles/CssReset.tsx
Labels: type: next

#20651 fix(next/image): do not pass-through srcSrc on lazy image
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/drop-srcset.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#20643 Fix withSourceMaps is not a function
  examples/with-sentry/next.config.js
  examples/with-sentry/package.json
Labels: type: example
