Repository vercel/next.js, pull requests merged in 2020-07, with the labels that each got.

#14763 Update README.md for next-auth-example
  examples/with-next-auth/README.md
Labels: type: example

#14771 Update index.js
  examples/with-firebase-authentication/pages/index.js
Labels: type: example

#14760 Add etag support for getServerSideProps/getStaticProps pages
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/send-payload.ts
  packages/next/server/next-dev-server.ts
  test/integration/production/pages/fully-dynamic.js
  test/integration/production/pages/fully-static.js
  test/integration/production/test/index.test.js
Labels: type: next

#14722 Use single webpack runtimeChunk for Node.js compilation
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/compiled/webpack-hot-middleware/LICENSE
  packages/next/compiled/webpack-hot-middleware/middleware.js
  packages/next/compiled/webpack-hot-middleware/package.json
  packages/next/package.json
  packages/next/server/hot-middleware.ts
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  packages/react-dev-overlay/src/middleware.ts
  test/acceptance/helpers.js
  test/integration/basic/test/error-recovery.js
  test/lib/next-test-utils.js
  yarn.lock
Labels: type: next

#14756 Fix basepath root handling
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/link-to-root.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#14751 Update warning for rewriting to auto-export dynamic pages
  packages/next/next-server/server/render.tsx
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/auto-export/[slug].js
  test/integration/custom-routes/test/index.test.js
Labels: type: next

#14633 Convert link to function component
  packages/next/client/link.tsx
Labels: type: next

#14740 Fix URL being updated with basePath for 404 page
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/test/index.test.js
Labels: type: next

#14675 add NextWebVitalsMetric type for reportWebVitals
  docs/advanced-features/measuring-performance.md
  packages/next/next-server/lib/utils.ts
  packages/next/pages/_app.tsx
Labels: type: documentation, type: next

#14793 Replace extra source line in webpack 5
  packages/react-dev-overlay/src/middleware.ts
  packages/react-dev-overlay/tsconfig.json
  packages/react-refresh-utils/.gitignore
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  packages/react-refresh-utils/internal/helpers.ts
  packages/react-refresh-utils/package.json
  packages/react-refresh-utils/runtime.ts
  packages/react-refresh-utils/tsconfig.json
Labels: type: next

#14367 Change authors member and links
  packages/next/README.md
Labels: type: next

#14842 Add webpack peerdependency to react-dev-overlay
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
Labels: type: next

#14882 Add basePath documentation
  docs/api-reference/next.config.js/basepath.md
  docs/manifest.json
Labels: type: documentation

#14887 Add custom routes docs (rewrites, redirects, headers)
  docs/api-reference/next.config.js/headers.md
  docs/api-reference/next.config.js/redirects.md
  docs/api-reference/next.config.js/rewrites.md
  docs/manifest.json
Labels: type: documentation

#14046 Re-enable scroll restoration behind flag
  packages/next/build/webpack-config.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/config.ts
  test/integration/scroll-back-restoration/next.config.js
  test/integration/scroll-back-restoration/pages/another.js
  test/integration/scroll-back-restoration/pages/index.js
  test/integration/scroll-back-restoration/test/index.test.js
  test/integration/scroll-forward-restoration/next.config.js
  test/integration/scroll-forward-restoration/pages/another.js
  test/integration/scroll-forward-restoration/pages/index.js
  test/integration/scroll-forward-restoration/test/index.test.js
  yarn.lock
Labels: type: next

#13373 Attach previewData to API Route request
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/api-utils.ts
  test/integration/prerender-preview/pages/api/read.js
  test/integration/prerender-preview/test/index.test.js
Labels: type: next

#14899 Update examples React to 16.13.1
  examples/custom-routes-proxying/package.json
  examples/dynamic-routing/package.json
  examples/with-http2/package.json
  examples/with-linaria/package.json
  examples/with-rbx-bulma-pro/package.json
  examples/with-zones/blog/package.json
  examples/with-zones/home/package.json
Labels: type: example

#14876 Update example: update to new stitches version and api
  examples/with-stitches-styled/css/index.js
  examples/with-stitches-styled/package.json
  examples/with-stitches-styled/pages/_app.js
  examples/with-stitches-styled/pages/_document.js
  examples/with-stitches-styled/pages/index.js
  examples/with-stitches/css/index.js
  examples/with-stitches/package.json
  examples/with-stitches/pages/_app.js
  examples/with-stitches/pages/_document.js
  examples/with-stitches/pages/index.js
Labels: type: example

#14804 basePath: Resolve links against router pathname instead of window.location
  packages/next/client/link.tsx
  test/integration/basepath/pages/hello.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#14705 Add `res.redirect` response helper
  docs/advanced-features/preview-mode.md
  docs/api-routes/response-helpers.md
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/api-utils.ts
  test/integration/api-support/pages/api/redirect-301.js
  test/integration/api-support/pages/api/redirect-307.js
  test/integration/api-support/test/index.test.js
Labels: type: documentation, type: example, type: next

#14861 Fix basepath browser back/forward issue
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/hello.js
  test/integration/basepath/pages/index.js
  test/integration/basepath/pages/something-else.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#13452 Add warning when viewport meta tag is added to _document.js
  errors/no-document-title.md
  errors/no-document-viewport-meta.md
  packages/next/pages/_document.tsx
  test/integration/document-head-warnings/pages/_document.js
  test/integration/document-head-warnings/pages/index.js
  test/integration/document-head-warnings/test/index.test.js
Labels: type: documentation, type: next

#14911 Fix cms-wordpress preview mode for post revisions
  examples/cms-wordpress/lib/api.js
Labels: type: example

#14934 with-stitches-styled: Update package.json
  examples/with-stitches-styled/package.json
Labels: type: example

#14938 with-stitches: Update package.json
  examples/with-stitches/package.json
Labels: type: example

#14937 with-stitches: Update _document.js
  examples/with-stitches/pages/_document.js
Labels: type: example

#14936 with-stitches-styled: Update _document.js
  examples/with-stitches-styled/pages/_document.js
Labels: type: example

#14917 Add Prisma.io Examples List
  examples/with-prisma/README.md
Labels: type: example

#14947 Change default response code to 307 from 302 in docs
  docs/api-routes/response-helpers.md
Labels: type: documentation

#14864 Updates thre three-js example with drei and modules transpilation
  examples/with-three-js/README.md
  examples/with-three-js/components/Bird.js
  examples/with-three-js/next.config.js
  examples/with-three-js/package.json
  examples/with-three-js/pages/birds.js
  examples/with-three-js/pages/boxes.js
Labels: type: example

#14958 with-stitches-styled: Update package.json
  examples/with-stitches-styled/package.json
Labels: type: example

#14970 Fix: Destructuring error in the cms-contenful example
  examples/cms-contentful/components/date.js
  examples/cms-contentful/components/hero-post.js
  examples/cms-contentful/components/post-header.js
  examples/cms-contentful/components/post-preview.js
Labels: type: example

#14941 [cms-sanity] Expose the project id to the browser
  examples/cms-sanity/.env.local.example
  examples/cms-sanity/README.md
  examples/cms-sanity/components/cover-image.js
  examples/cms-sanity/lib/api.js
  examples/cms-sanity/lib/sanity.js
Labels: type: example

#14987 Make sure routeKeys are PCRE compliant
  packages/next/build/index.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  test/integration/dynamic-routing/pages/b/[123].js
  test/integration/dynamic-routing/pages/c/[alongparamnameshouldbeallowedeventhoughweird].js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: next

#14986 Fix root route optional catch-all prerendering
  packages/next/build/index.ts
  test/integration/dynamic-optional-routing-root-static-paths/next.config.js
  test/integration/dynamic-optional-routing-root-static-paths/pages/[[...optionalName]].js
  test/integration/dynamic-optional-routing-root-static-paths/test/index.test.js
Labels: type: next

#15007 [cms-wordpress] Nest one-to-one relationships
  examples/cms-wordpress/components/more-stories.js
  examples/cms-wordpress/lib/api.js
  examples/cms-wordpress/pages/index.js
  examples/cms-wordpress/pages/posts/[slug].js
Labels: type: example

#14982 Update note about CDN in pages documentation
  docs/basic-features/pages.md
Labels: type: documentation

#14920 Convert profiling mode from configuration option to CLI switch
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/cli/next-build.ts
  packages/next/next-server/server/config.ts
  test/integration/react-profiling-mode/test/index.test.js
Labels: type: next

#15010 Make serverless-plugin compatible with webpack 5
  packages/next/build/webpack/plugins/serverless-plugin.ts
Labels: type: next

#14977 Add filename to error in webpack 5
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
  yarn.lock
Labels: type: next

#14994 Use HEAD req for isUrlOk check
  packages/create-next-app/helpers/examples.ts
Labels: type: create-next-app

#15020 Exclude node_modules in watchOptions
  packages/next/build/webpack-config.ts
Labels: type: next

#15028 Fix download instructions in with-next-auth example
  examples/with-next-auth/README.md
Labels: type: example

#15006 CNA: replace make-dir with core recursive mkdir
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/make-dir.ts
  packages/create-next-app/package.json
  yarn.lock
Labels: type: create-next-app

#15037 Make sure additional query values aren't added for auto-export
  packages/next/next-server/server/render.tsx
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
  yarn.lock
Labels: type: next

#15035 Update README.md in Emotion starter example
  examples/with-emotion/README.md
Labels: type: example

#15022 fixed typo in page-without-valid-component.md
  errors/page-without-valid-component.md
Labels: type: documentation

#14875 Update prerender-error.md
  errors/prerender-error.md
Labels: type: documentation

#15070 (chore) Add with-goober as an example
  examples/with-goober/README.md
  examples/with-goober/package.json
  examples/with-goober/pages/_app.js
  examples/with-goober/pages/_document.js
  examples/with-goober/pages/index.js
Labels: type: example

#15080 Fixed some minor typos
  docs/advanced-features/debugging.md
Labels: type: documentation

#15096 Update ignored patterns for webpack 4
  packages/next/build/webpack-config.ts
Labels: type: next

#15077 Fixed a minor typo
  errors/url-deprecated.md
Labels: type: documentation

#15041 Add handling for custom-routes with basePath
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/router.ts
  packages/next/server/next-dev-server.ts
  test/integration/basepath/next.config.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#15065 Update dependencies for `with-iron-session` example
  examples/with-iron-session/package.json
Labels: type: example

#15103 Update docs about type checking
  docs/basic-features/typescript.md
Labels: type: documentation

#15088 [Examples] Add .next to .gitignore
  examples/blog-starter-typescript/.gitignore
Labels: type: example

#15068 Avoid aggressive state loop
  packages/next/client/link.tsx
Labels: type: next

#14717 Relax encoding on dynamic prerendered routes
  packages/next/build/utils.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/utils/escape-path-delimiters.ts
  test/integration/prerender/pages/catchall-explicit/[...slug].js
  test/integration/prerender/pages/dynamic/[slug].js
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Labels: type: next

#14781 Trailing slash basepath
  packages/next/lib/load-custom-routes.ts
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  test/integration/basepath/test/index.test.js
  test/integration/trailing-slashes/test/index.test.js
Labels: type: next

#14827 Replace node.js url module with WHATWG URL
  packages/next/client/link.tsx
  packages/next/client/normalize-trailing-slash.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/lib/router/utils/format-url.ts
  packages/next/next-server/lib/router/utils/parse-relative-url.ts
  packages/next/next-server/lib/router/utils/search-params-to-url-query.ts
  packages/next/next-server/lib/utils.ts
  test/integration/build-output/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#15062 Update Fast Refresh full reload warning
  packages/next/client/dev/error-overlay/hot-dev-client.js
Labels: type: next

#15135 Make sure bad links in router methods resolve in production
  packages/next/next-server/lib/router/router.ts
  test/integration/invalid-href/pages/third.js
  test/integration/invalid-href/test/index.test.js
Labels: type: next

#15049 Fix: Invalid flag provided to next build results in UnhandledPromiseRejectionWarning
  packages/next/cli/next-build.ts
  test/integration/build-warnings/test/index.test.js
Labels: type: next

#14974 Updated useUser.js
  examples/with-firebase-authentication/utils/auth/useUser.js
Labels: type: example

#15140 Update docs for basePath custom-routes interop
  docs/api-reference/next.config.js/headers.md
  docs/api-reference/next.config.js/redirects.md
  docs/api-reference/next.config.js/rewrites.md
Labels: type: documentation

#14544 Documentation improvements from feedback
  docs/advanced-features/custom-document.md
  docs/advanced-features/custom-error-page.md
  docs/routing/dynamic-routes.md
Labels: type: documentation

#15144 Removed React import from pages/index.js
  examples/with-linaria/pages/index.js
Labels: type: example

#15156 update/with-react-jss
  examples/with-react-jss/package.json
  examples/with-react-jss/pages/index.js
Labels: type: example

#15145 Fix Web Workers with Fast Refresh
  package.json
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  packages/react-refresh-utils/runtime.ts
  test/integration/worker-loader/lib/demo.worker.js
  test/integration/worker-loader/lib/sharedCode.js
  test/integration/worker-loader/next.config.js
  test/integration/worker-loader/pages/index.js
  test/integration/worker-loader/test/index.test.js
  yarn.lock
Labels: type: next

#15149 Correctly fetch data for root route
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/page-loader.js
  test/integration/dynamic-optional-routing-root-fallback/next.config.js
  test/integration/dynamic-optional-routing-root-fallback/pages/[[...optionalName]].js
  test/integration/dynamic-optional-routing-root-fallback/test/index.test.js
Labels: type: next

#15172 Find pages/_document.js chunk in development
  packages/next/server/hot-reloader.ts
Labels: type: next

#15177 Fix with-expo-typescript install command
  examples/with-expo-typescript/README.md
Labels: type: example

#15187 fixed prettier --write args in package.json
  examples/with-typescript-eslint-jest/package.json
Labels: type: example

#15110 Mark `preact` as externals for server bundle
  examples/using-preact/next.config.js
Labels: type: example

#15178 Update examples/with-apollo
  examples/with-apollo-and-redux/components/PostList.js
  examples/with-apollo-and-redux/components/PostUpvoter.js
  examples/with-apollo-and-redux/components/Submit.js
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/package.json
  examples/with-apollo-and-redux/pages/_app.js
  examples/with-apollo/.babelrc
  examples/with-apollo/components/PostList.js
  examples/with-apollo/components/PostUpvoter.js
  examples/with-apollo/components/Submit.js
  examples/with-apollo/lib/apolloClient.js
  examples/with-apollo/package.json
  examples/with-apollo/pages/_app.js
Labels: type: example

#15198 Fix with-expo-typescript install command (2)
  examples/with-expo-typescript/README.md
Labels: type: example

#15204 Make sure the correct chunk names are used in webpack 5
  packages/next/build/webpack-config.ts
  test/integration/conformance/test/index.test.js
Labels: type: next

#15200 fix basepath trailing slash
  packages/next/client/normalize-trailing-slash.ts
  packages/next/next-server/lib/router/router.ts
  test/integration/trailing-slashes/next.config.js
  test/integration/trailing-slashes/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next

#15236 Improve query conversion logic
  packages/next/next-server/lib/router/utils/search-params-to-url-query.ts
Labels: type: next

#15161 (chore) Add with-filbert as example
  examples/with-filbert/README.md
  examples/with-filbert/package.json
  examples/with-filbert/pages/_document.js
  examples/with-filbert/pages/index.js
  examples/with-filbert/public/filbert.png
Labels: type: example

#15205 [Examples] Improve with-sentry readme
  examples/with-sentry/.env.local.example
  examples/with-sentry/README.md
Labels: type: example

#15190 Update examples/with-carbon-components
  examples/with-carbon-components/README.md
  examples/with-carbon-components/package.json
  examples/with-carbon-components/styles/custom-theme.scss
  examples/with-carbon-components/styles/export.scss
Labels: type: example

#13708 docs: include test env in default env vars
  docs/basic-features/environment-variables.md
Labels: type: documentation

#15224 Fix app-document-import-order test for webpack 5
  package.json
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/get-route-from-entrypoint.ts
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
  packages/next/types/webpack.d.ts
  test/integration/app-document-import-order/next.config.js
  test/integration/build-output/test/index.test.js
  test/integration/dist-dir/test/index.test.js
Labels: type: next

#15247 Fix DevServer#close doesn't close all resources
  packages/next/server/next-dev-server.ts
Labels: type: next

#15228 Update with-universal-configuration-build-time example
  examples/with-universal-configuration-build-time/.env
  examples/with-universal-configuration-build-time/.gitignore
  examples/with-universal-configuration-build-time/README.md
  examples/with-universal-configuration-build-time/next.config.js
  examples/with-universal-configuration-build-time/package.json
  examples/with-universal-configuration-build-time/pages/index.js
Labels: type: example

#15267 [Examples] Remove broken demo from with-graphql-faunadb
  examples/with-graphql-faunadb/README.md
Labels: type: example

#15237 Update MST typescript example to use hooks
  examples/with-mobx-state-tree-typescript/components/SampleComponent.tsx
  examples/with-mobx-state-tree-typescript/package.json
Labels: type: example

#15270 Update to 3.0 in api-routes-apollo-server-and-client example
  examples/api-routes-apollo-server-and-client/apollo/client.js
  examples/api-routes-apollo-server-and-client/apollo/type-defs.js
  examples/api-routes-apollo-server-and-client/package.json
  examples/api-routes-apollo-server-and-client/pages/_app.js
  examples/api-routes-apollo-server-and-client/pages/index.js
Labels: type: example

#15268 [Examples] Remove with-universal-configuration-runtime
  examples/with-universal-configuration-runtime/.gitignore
  examples/with-universal-configuration-runtime/README.md
  examples/with-universal-configuration-runtime/next.config.js
  examples/with-universal-configuration-runtime/package.json
  examples/with-universal-configuration-runtime/pages/index.js
Labels: type: example

#15282 [create-next-app] Add engines to package.json
  packages/create-next-app/package.json
Labels: type: create-next-app

#15263 chore(examples): update prismic-javascript to 3.0.1
  examples/cms-prismic/package.json
  examples/cms-prismic/pages/api/preview.js
Labels: type: example

#15293 Fix no-anon-default-export for webpack 5
  packages/next/client/dev/error-overlay/format-webpack-messages.js
Labels: type: next

#15276 Drop `module: esnext` requirement in tsconfig.json
  packages/next/lib/typescript/writeConfigurationDefaults.ts
  test/integration/tsconfig-verifier/pages/index.tsx
  test/integration/tsconfig-verifier/test/index.test.js
  test/integration/tsconfig-verifier/value.ts
Labels: type: next

#15295 Fix broken example link in docs for catch all routes
  docs/routing/dynamic-routes.md
Labels: type: documentation

#15290 Clarify optional catch all vs catch all routes
  docs/api-routes/dynamic-api-routes.md
  docs/routing/dynamic-routes.md
Labels: type: documentation

#15287 Fix static data fetching when using absolute assetprefix
  packages/next/next-server/lib/router/router.ts
  test/integration/absolute-assetprefix/next.config.js
  test/integration/absolute-assetprefix/pages/about.js
  test/integration/absolute-assetprefix/pages/index.js
  test/integration/absolute-assetprefix/test/index.test.js
Labels: type: next

#15298 Updated import filename to the correct one
  examples/using-router/pages/index.js
Labels: type: example

#15288 [Fix] common misspelling errors
  errors/invalid-route-source.md
  examples/amp/pages/index.js
  examples/blog-starter-typescript/_posts/dynamic-routing.md
  examples/blog-starter-typescript/_posts/hello-world.md
  examples/blog-starter-typescript/_posts/preview.md
  examples/blog-starter/_posts/dynamic-routing.md
  examples/blog-starter/_posts/hello-world.md
  examples/blog-starter/_posts/preview.md
  examples/cms-agilitycms/README.md
  examples/cms-agilitycms/lib/preview.js
  examples/custom-server-actionhero/config/tasks.js
  examples/with-cookie-auth-fauna/pages/profile.js
  examples/with-mobx-react-lite/README.md
  examples/with-netlify-cms/pages/blog/post/[slug].js
  examples/with-next-auth/pages/api/auth/[...nextauth].js
  examples/with-overmind/README.md
  examples/with-patternfly/next.config.js
  examples/with-realm-web/pages/index.js
  examples/with-semantic-ui/pages/index.js
  examples/with-sentry/README.md
  examples/with-tesfy/README.md
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/client/dev/event-source-polyfill.js
  packages/next/next-server/lib/dynamic.tsx
  packages/next/types/webpack.d.ts
  packages/react-dev-overlay/src/internal/container/BuildError.tsx
  test/integration/prerender/test/index.test.js
  test/unit/find-page-file.test.js
  test/unit/next-server-utils.test.js
Labels: type: documentation, type: example, type: next

#15299 Do not duplicate compilation errors
  packages/next/server/hot-reloader.ts
  test/integration/no-duplicate-compile-error/next.config.js
  test/integration/no-duplicate-compile-error/pages/index.js
  test/integration/no-duplicate-compile-error/test/index.test.js
Labels: type: next

#15311 Add test for main.js in webpack.config.js
  packages/next/build/webpack-config.ts
  test/integration/webpack-config-mainjs/client/polyfills.js
  test/integration/webpack-config-mainjs/next.config.js
  test/integration/webpack-config-mainjs/pages/static.js
  test/integration/webpack-config-mainjs/test/index.test.js
Labels: type: next

#15325 Update react-md url for with-react-md
  examples/with-react-md/README.md
Labels: type: example

#15324 Upgrade browserslist
  package.json
  packages/next/compiled/conf/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#15326 Bring over fixes from #15185
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/client/dev/amp-dev.js
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  packages/react-refresh-utils/loader.ts
  test/integration/css-client-nav/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/legacy-sass/test/index.test.js
  test/integration/modern-mode/test/index.test.js
  test/integration/no-duplicate-compile-error/test/index.test.js
  test/integration/profiling/test/index.test.js
  test/integration/typescript-ignore-errors/next.config.js
  test/integration/typescript-ignore-errors/pages/index.tsx
  test/integration/typescript-ignore-errors/test/index.test.js
  test/integration/worker-loader/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next

#15331 Stabilize Trailing Slash API
  docs/api-reference/next.config.js/trailing-slash.md
  packages/next/build/webpack-config.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/config.ts
  test/integration/trailing-slashes/next.config.js
  test/integration/trailing-slashes/test/index.test.js
Labels: type: documentation, type: next

#15338 Stabilize revalidate
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/pages/blog/[post]/[comment].js
  test/integration/prerender/pages/blog/[post]/index.js
  test/integration/prerender/pages/blog/index.js
  test/integration/prerender/pages/catchall-explicit/[...slug].js
  test/integration/prerender/pages/catchall/[...slug].js
  test/integration/prerender/pages/fallback-only/[slug].js
  test/integration/prerender/pages/index.js
  test/integration/prerender/pages/something.js
  test/integration/prerender/pages/user/[user]/profile.js
  test/integration/typescript/pages/ssg/[slug].tsx
  test/integration/typescript/pages/ssg/blog/index.tsx
Labels: type: next

#15335 Simplify trailing slash regex
  packages/next/lib/load-custom-routes.ts
  test/integration/trailing-slashes/test/index.test.js
Labels: type: next

#15334 Correct order of packages in Sentry example explanation
  examples/with-sentry/next.config.js
Labels: type: example

#14848 Fix basepath router events
  docs/api-reference/next/router.md
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/_app.js
  test/integration/basepath/pages/error-route.js
  test/integration/basepath/pages/hello.js
  test/integration/basepath/pages/index.js
  test/integration/basepath/pages/slow-route.js
  test/integration/basepath/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: documentation, type: next

#15350 Update `api-routes-graphql` README Link
  examples/api-routes-graphql/README.md
Labels: type: example

#15355 [Docs] Remove false caveat in custom document docs
  docs/advanced-features/custom-document.md
Labels: type: documentation

#15357 Updated typo
  examples/blog-starter-typescript/README.md
Labels: type: example

#15308 EDITED: Cosmic demo updates
  examples/cms-cosmic/README.md
  examples/cms-cosmic/components/avatar.js
Labels: type: example

#15292 Fixes Hapi custom server example
  examples/custom-server-hapi/next-wrapper.js
  examples/custom-server-hapi/pages/index.js
  examples/custom-server-hapi/public/logo.svg
  examples/custom-server-hapi/server.js
Labels: type: example

#15361 Fix cancellation control flow
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#15375 Fix Peer Dependency in React Refresh Utils
  packages/react-refresh-utils/package.json
Labels: type: next

#15029 MongoDB Example
  examples/with-mongodb/.env.local.example
  examples/with-mongodb/.gitignore
  examples/with-mongodb/README.md
  examples/with-mongodb/package.json
  examples/with-mongodb/pages/index.js
  examples/with-mongodb/public/favicon.ico
  examples/with-mongodb/public/vercel.svg
  examples/with-mongodb/util/mongodb.js
Labels: type: example

#15415 Upgrade actions/cache to v2.1.0
  .github/workflows/build_test_deploy.yml
  .github/workflows/test_react_next.yml
  errors/no-cache.md
Labels: type: documentation

#15349 Update Sentry example for use with Sentry/Vercel integration
  examples/with-sentry/README.md
  examples/with-sentry/next.config.js
  examples/with-sentry/pages/_app.js
  examples/with-sentry/pages/_error.js
Labels: type: example

#14830 More helpful README
  packages/create-next-app/README.md
  packages/next/README.md
Labels: type: create-next-app, type: next

#15449 Fix lint in create-next-app readme
  packages/create-next-app/README.md
Labels: type: create-next-app

#15047 Add Sitemap Example
  examples/with-sitemap/.env
  examples/with-sitemap/README.md
  examples/with-sitemap/next.config.js
  examples/with-sitemap/package.json
  examples/with-sitemap/pages/contact.js
  examples/with-sitemap/pages/index.js
  examples/with-sitemap/public/favicon.ico
  examples/with-sitemap/public/sitemap.xml
  examples/with-sitemap/public/vercel.svg
  examples/with-sitemap/scripts/generate-sitemap.js
Labels: type: example

#15403 Example for Rewrites (Custom routes)
  docs/api-reference/next.config.js/rewrites.md
  examples/rewrites/.gitignore
  examples/rewrites/README.md
  examples/rewrites/next.config.js
  examples/rewrites/package.json
  examples/rewrites/pages/about.js
  examples/rewrites/pages/index.js
  examples/rewrites/pages/news/[...slug].js
  examples/rewrites/styles.module.css
Labels: type: documentation, type: example

#13943 Link with-polyfills example to updated polyfill docs
  examples/with-polyfills/README.md
Labels: type: example

#15448 Always resolve after router.prefetch()
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/router-prefetch/pages/another-page.js
  test/integration/router-prefetch/pages/index.js
  test/integration/router-prefetch/test/index.test.js
Labels: type: next

#15444 Make dynamic routes case-sensitive
  packages/next/next-server/lib/router/utils/route-regex.ts
  test/integration/client-navigation/pages/dynamic/[slug]/route.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#15272 Update Apollo Client to 3.0 in `api-routes-apollo-server-and-client-auth` example
  examples/api-routes-apollo-server-and-client-auth/apollo/client.js
  examples/api-routes-apollo-server-and-client-auth/apollo/type-defs.js
  examples/api-routes-apollo-server-and-client-auth/package.json
  examples/api-routes-apollo-server-and-client-auth/pages/_app.js
  examples/api-routes-apollo-server-and-client-auth/pages/index.js
  examples/api-routes-apollo-server-and-client-auth/pages/signin.js
  examples/api-routes-apollo-server-and-client-auth/pages/signout.js
  examples/api-routes-apollo-server-and-client-auth/pages/signup.js
Labels: type: example

#15386 TypeScript documentation for _document.tsx
  docs/advanced-features/custom-document.md
Labels: type: documentation

#15493 Add static tweet link
  docs/basic-features/data-fetching.md
Labels: type: documentation

#15488 Upgrade cssnano-simple dependency
  packages/next/package.json
  test/integration/css-customization/test/index.test.js
  test/integration/css-features/test/index.test.js
  test/integration/css-fixtures/next-issue-15468/pages/_app.js
  test/integration/css-fixtures/next-issue-15468/pages/index.js
  test/integration/css-fixtures/next-issue-15468/styles/global.css
  test/integration/css/test/index.test.js
  test/integration/scss/test/index.test.js
  yarn.lock
Labels: type: next

#15511 Fix peer dependency
  packages/react-dev-overlay/package.json
Labels: type: next

#15517 Update custom webpack config docs to mention existing features
  docs/api-reference/next.config.js/custom-webpack-config.md
  examples/with-ant-design/next.config.js
Labels: type: documentation, type: example

#15463 upgrade @ampproject/toolbox-optimizer to 2.5.14
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#15529 Update `gssp-export` Error
  errors/gssp-export.md
Labels: type: documentation

#15533 fix typo in custom-webpack-config docs
  docs/api-reference/next.config.js/custom-webpack-config.md
Labels: type: documentation

#15475 Combine sendPayload and sendHTML
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/send-html.ts
  packages/next/next-server/server/send-payload.ts
Labels: type: next

#15545 [update] 'yo' to 'you'
  examples/with-cxs/README.md
Labels: type: example

#15547 [Docs] Update links that should point to Vercel repos
  docs/api-reference/next.config.js/custom-webpack-config.md
  docs/basic-features/built-in-css-support.md
  docs/routing/dynamic-routes.md
  docs/upgrading.md
Labels: type: documentation

#15546 Update Apollo example for 9.5
  examples/with-apollo/pages/index.js
Labels: type: example

#15551 Update revalidate examples for 9.5
  examples/with-apollo-and-redux/pages/apollo.js
  examples/with-apollo-and-redux/pages/index.js
  examples/with-apollo-and-redux/pages/redux.js
  examples/with-graphql-hooks/pages/index.js
Labels: type: example

#15544 [Docs] Performance time is in milliseconds
  docs/advanced-features/measuring-performance.md
Labels: type: documentation

#15554 De-experimentalize redirects for rosetta example
  examples/with-i18n-rosetta/next.config.js
Labels: type: example

#15499 Add polyfill for process and Buffer in webpack 5
  packages/next/build/webpack-config.ts
  packages/next/package.json
  yarn.lock
Labels: type: next

#13542 improves baseUrl resolution in typescript monorepos
  packages/next/build/webpack-config.ts
  test/integration/typescript-workspaces-paths/packages/lib/a/api.ts
  test/integration/typescript-workspaces-paths/packages/lib/b/api.ts
  test/integration/typescript-workspaces-paths/packages/lib/b/b-only.ts
  test/integration/typescript-workspaces-paths/packages/www/components/alias-to-d-ts.d.ts
  test/integration/typescript-workspaces-paths/packages/www/components/alias-to-d-ts.tsx
  test/integration/typescript-workspaces-paths/packages/www/components/hello.tsx
  test/integration/typescript-workspaces-paths/packages/www/components/world.tsx
  test/integration/typescript-workspaces-paths/packages/www/next.config.js
  test/integration/typescript-workspaces-paths/packages/www/pages/alias-to-d-ts.tsx
  test/integration/typescript-workspaces-paths/packages/www/pages/basic-alias.tsx
  test/integration/typescript-workspaces-paths/packages/www/pages/resolve-fallback.tsx
  test/integration/typescript-workspaces-paths/packages/www/pages/resolve-order.tsx
  test/integration/typescript-workspaces-paths/packages/www/pages/single-alias.tsx
  test/integration/typescript-workspaces-paths/packages/www/test/index.test.js
  test/integration/typescript-workspaces-paths/packages/www/tsconfig.json
  test/integration/typescript-workspaces-paths/tsconfig.json
Labels: type: next

#15379 Ignore history state not created by next.js
  packages/next/next-server/lib/router/router.ts
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#15422 Fix: UnhandledPromiseRejectionWarning when unknown flag provided for cli commands
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/cli/next-start.ts
  packages/next/cli/next-telemetry.ts
  test/integration/build-warnings/test/index.test.js
  test/integration/cli/test/index.test.js
Labels: type: next

#14746 Font optimizations
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/lib/head.tsx
  packages/next/next-server/lib/post-process.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/font-utils.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/require.ts
  packages/next/package.json
  packages/next/pages/_document.tsx
  test/integration/build-output/test/index.test.js
  test/integration/font-optimization/pages/_document.js
  test/integration/font-optimization/pages/index.js
  test/integration/font-optimization/pages/stars.js
  test/integration/font-optimization/pages/static-head.js
  test/integration/font-optimization/server.js
  test/integration/font-optimization/test/index.test.js
  yarn.lock
Labels: type: next

#14580 Next.js prefetching should use requestIdleCallback
  packages/next/client/page-loader.js
Labels: type: next

#15524 Update Electron, Typescript example
  examples/with-electron-typescript/renderer/components/ListItem.tsx
  examples/with-electron-typescript/renderer/pages/detail/[id].tsx
Labels: type: example

#15604 Make sure link can render without router
  packages/next/client/link.tsx
  test/unit/link-rendering.test.js
Labels: type: next
