Repository vercel/next.js, pull requests merged in 2020-11, with the labels that each got.

#18594 Add all deviceSizes to srcset for responsive and fill
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/layout-responsive.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#18580 docs: fix missing comma in invalid redirect gssp
  errors/invalid-redirect-gssp.md
Labels: type: documentation

#18589 Avoid calling setState in callback ref
  .github/workflows/build_test_deploy.yml
  packages/next/client/link.tsx
  test/integration/link-ref/pages/click-away-race-condition.js
  test/integration/link-ref/test/index.test.js
Labels: type: next

#18569 Ensure correct params are used with i18n revalidation
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/serverless/test/index.test.js
Labels: type: next

#18646 Fix image format for Safari and old browsers
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#18647 Update 3rd party image loaders to prevent upscaling
  packages/next/client/image.tsx
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18652 fix: add missing dot to https://err.sh/nextjs
  packages/next/next-server/server/config.ts
Labels: type: next

#18629 Remove the static optimization indicator
  docs/advanced-features/automatic-static-optimization.md
  docs/api-reference/next.config.js/static-optimization-indicator.md
  docs/manifest.json
  examples/with-magic/next.config.js
  packages/next/build/webpack-config.ts
  packages/next/client/dev/prerender-indicator.js
  packages/next/client/next-dev.js
  packages/next/next-server/server/config.ts
  test/integration/nullish-config/test/index.test.js
  test/isolated/config.test.js
Labels: type: documentation, type: example, type: next

#18687 Rotate image from EXIF data
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-component/default/pages/rotated.js
  test/integration/image-component/default/public/exif-rotation.jpg
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#18690 Update `redirect` and notFound GS(S)P documentation
  docs/basic-features/data-fetching.md
Labels: type: documentation

#18511 Ensure preload works correctly with locale option
  packages/next/client/link.tsx
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/i18n-support/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#18699 Ensure html lang is updating on locale transition
  packages/next/next-server/lib/router/router.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18702 Ensure getStaticProps isn't called without params with i18n
  packages/next/build/index.ts
  test/integration/i18n-support/pages/gsp/fallback/[slug].js
  test/integration/i18n-support/pages/gsp/no-fallback/[slug].js
  test/integration/i18n-support/pages/not-found/blocking-fallback/[slug].js
  test/integration/i18n-support/pages/not-found/fallback/[slug].js
Labels: type: next

#18695 Ensure localeDetection: false doesn't detect from header
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18696 Add documentation for localeDetection: false
  docs/advanced-features/i18n-routing.md
Labels: type: documentation

#18422 Allow passing statusCode for GS(S)P redirect
  docs/basic-features/data-fetching.md
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/render.tsx
  test/integration/gssp-redirect/pages/gsp-blog/[post].js
  test/integration/gssp-redirect/pages/gssp-blog/[post].js
  test/integration/gssp-redirect/test/index.test.js
Labels: type: documentation, type: next

#18708 Ensure correct locale is used for non-prefixed path
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/index.tsx
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/pages/_app.js
  test/integration/i18n-support/pages/another.js
  test/integration/i18n-support/pages/gsp/fallback/[slug].js
  test/integration/i18n-support/pages/gsp/no-fallback/[slug].js
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/pages/links.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18712 Ensure locale is added/stripped correctly
  packages/next/next-server/lib/router/router.ts
  test/integration/i18n-support/pages/frank.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18717 Update default widths configuration to handle 2x/3x DPI
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  errors/invalid-images-config.md
  packages/next/client/image.tsx
  packages/next/next-server/server/config.ts
  test/integration/image-component/basic/next.config.js
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-optimizer/test/index.test.js
Labels: type: documentation, type: next

#18715 Ensure multi-level basePath works properly
  packages/next/next-server/server/next-server.ts
  test/integration/basepath/pages/absolute-url-basepath.js
  test/integration/basepath/pages/invalid-manual-basepath.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#17173 Fix dynamic css unloading
  packages/next/pages/_document.tsx
  test/integration/production/components/dynamic-css/with-css.js
  test/integration/production/components/dynamic-css/with-css.module.css
  test/integration/production/pages/dynamic/pagechange1.js
  test/integration/production/pages/dynamic/pagechange2.js
  test/integration/production/test/dynamic.js
Labels: type: next

#18723 Prevent Next.js from removing all of its styles on hydration
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
Labels: type: next

#18741 Update Gatsby migration guide to include next/image.
  docs/migrating/from-gatsby.md
Labels: type: documentation

#18480 Update next-translate example to support Next 10 with i18n routing
  examples/with-next-translate/_pages/index.js
  examples/with-next-translate/i18n.json
  examples/with-next-translate/next.config.js
  examples/with-next-translate/package.json
Labels: type: example

#18749 Ensure redirect from GS(S)P doesn't render
  packages/next/next-server/server/render.tsx
  test/integration/gssp-redirect/pages/gsp-blog/[post].js
  test/integration/gssp-redirect/pages/gssp-blog/[post].js
Labels: type: next

#18762 Update example for Image Component
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  examples/image-component/pages/background.js
  examples/image-component/pages/index.js
  examples/image-component/pages/layout-fill.js
  examples/image-component/pages/layout-fixed.js
  examples/image-component/pages/layout-intrinsic.js
  examples/image-component/pages/layout-responsive.js
  examples/image-component/public/mountains.jpg
Labels: type: documentation, type: example

#16650 Fix router not working on some protocol
  .github/workflows/build_test_deploy.yml
  package.json
  packages/next/compiled/conf/index.js
  packages/next/next-server/lib/router/utils/parse-relative-url.ts
  test/integration/with-electron/next.config.js
  test/integration/with-electron/pages/about.js
  test/integration/with-electron/pages/index.js
  test/integration/with-electron/public/main.js
  test/integration/with-electron/test/index.test.js
  test/unit/parse-relative-url.test.js
  yarn.lock
Labels: type: next

#18599 fix: issue #18256 - examples/with-firebase-authentication: fix to use getIdToken to get the token
  examples/with-firebase-authentication/components/FirebaseAuth.js
  examples/with-firebase-authentication/utils/auth/mapUserData.js
  examples/with-firebase-authentication/utils/auth/useUser.js
Labels: type: example

#18759 Remove @babel/preset-modules
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/package.json
  yarn.lock
Labels: type: next

#18787 Typo in err.sh url nextjs instead of next.js
  packages/next/client/image.tsx
Labels: type: next

#18796 Omit ignored property from <Image/ > to prevent confusion
  packages/next/client/image.tsx
  test/integration/image-component/typescript-style/next.config.js
  test/integration/image-component/typescript-style/pages/invalid.tsx
  test/integration/image-component/typescript-style/test/index.test.js
  test/integration/image-component/typescript-style/tsconfig.json
Labels: type: next

#18770 Update Image docs with links to examples
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  examples/image-component/app.css
  examples/image-component/pages/_app.js
  examples/image-component/pages/background.js
  examples/image-component/pages/index.js
  examples/image-component/pages/layout-fill.js
  examples/image-component/pages/layout-fixed.js
  examples/image-component/pages/layout-intrinsic.js
  examples/image-component/pages/layout-responsive.js
  examples/image-component/styles.module.css
Labels: type: documentation, type: example, type: next

#18483 Update exportPathMap.md
  docs/api-reference/next.config.js/exportPathMap.md
Labels: type: documentation

#18807 Update asPath to mention basePath/locale stripping
  docs/api-reference/next/router.md
Labels: type: documentation

#18809 Print error when Image src is protocol-relative
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-src-proto-relative.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#18804 Disable image optimization for Data URLs
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/typescript/pages/valid.tsx
  test/integration/image-component/typescript/test/index.test.js
Labels: type: next

#18752 ncc inlining optimizations
  packages/next/client/performance-relayer.ts
  packages/next/compiled/babel-loader/index.js
  packages/next/compiled/cacache/index.js
  packages/next/compiled/cacache/package.json
  packages/next/compiled/cache-loader/cjs.js
  packages/next/compiled/file-loader/cjs.js
  packages/next/compiled/find-cache-dir/LICENSE
  packages/next/compiled/find-cache-dir/index.js
  packages/next/compiled/find-cache-dir/package.json
  packages/next/compiled/mkdirp/LICENSE
  packages/next/compiled/mkdirp/index.js
  packages/next/compiled/mkdirp/package.json
  packages/next/compiled/neo-async/LICENSE
  packages/next/compiled/neo-async/async.js
  packages/next/compiled/neo-async/package.json
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/compiled/schema-utils/LICENSE
  packages/next/compiled/schema-utils/index.js
  packages/next/compiled/schema-utils/package.json
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/web-vitals/LICENSE
  packages/next/compiled/web-vitals/package.json
  packages/next/compiled/web-vitals/web-vitals.es5.umd.min.js
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Labels: type: next

#18806 Ensure redirects are handled properly from cache
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/incremental-cache.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/gssp-redirect/pages/index.js
  test/integration/gssp-redirect/test/index.test.js
  test/lib/next-webdriver.js
Labels: type: next

#18812 docs: fix a typo "concatenated" instead of "concatentated"
  docs/basic-features/image-optimization.md
Labels: type: documentation

#18818 Fix typo on `api-reference/image`
  docs/api-reference/next/image.md
Labels: type: documentation

#18823 Update ncc
  packages/create-next-app/package.json
  packages/next/compiled/amphtml-validator/index.js
  packages/next/compiled/arg/index.js
  packages/next/compiled/async-retry/index.js
  packages/next/compiled/async-sema/index.js
  packages/next/compiled/babel-loader/index.js
  packages/next/compiled/cacache/index.js
  packages/next/compiled/cache-loader/cjs.js
  packages/next/compiled/chalk/index.js
  packages/next/compiled/ci-info/index.js
  packages/next/compiled/comment-json/index.js
  packages/next/compiled/compression/index.js
  packages/next/compiled/conf/index.js
  packages/next/compiled/content-type/index.js
  packages/next/compiled/cookie/index.js
  packages/next/compiled/debug/index.js
  packages/next/compiled/devalue/devalue.umd.js
  packages/next/compiled/escape-string-regexp/index.js
  packages/next/compiled/etag/index.js
  packages/next/compiled/file-loader/cjs.js
  packages/next/compiled/find-cache-dir/index.js
  packages/next/compiled/find-up/index.js
  packages/next/compiled/fresh/index.js
  packages/next/compiled/gzip-size/index.js
  packages/next/compiled/http-proxy/index.js
  packages/next/compiled/ignore-loader/index.js
  packages/next/compiled/is-animated/index.js
  packages/next/compiled/is-docker/index.js
  packages/next/compiled/is-wsl/index.js
  packages/next/compiled/json5/index.js
  packages/next/compiled/jsonwebtoken/index.js
  packages/next/compiled/lodash.curry/index.js
  packages/next/compiled/lru-cache/index.js
  packages/next/compiled/mkdirp/index.js
  packages/next/compiled/nanoid/index.js
  packages/next/compiled/neo-async/async.js
  packages/next/compiled/node-fetch/index.js
  packages/next/compiled/ora/index.js
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/compiled/raw-body/index.js
  packages/next/compiled/recast/main.js
  packages/next/compiled/resolve/index.js
  packages/next/compiled/schema-utils/index.js
  packages/next/compiled/semver/index.js
  packages/next/compiled/send/index.js
  packages/next/compiled/source-map/source-map.js
  packages/next/compiled/string-hash/index.js
  packages/next/compiled/strip-ansi/index.js
  packages/next/compiled/terser-webpack-plugin/cjs.js
  packages/next/compiled/terser/bundle.min.js
  packages/next/compiled/text-table/index.js
  packages/next/compiled/thread-loader/cjs.js
  packages/next/compiled/unistore/unistore.js
  packages/next/compiled/web-vitals/web-vitals.es5.umd.min.js
  packages/next/package.json
  yarn.lock
Labels: type: create-next-app, type: next

#18630 tests(create-next-app): increase coverage
  test/integration/create-next-app/index.test.js
Labels: type: create-next-app, type: documentation, type: example, type: next

#18813 Speed up SSG prefetching
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/test/index.test.js
  test/integration/i18n-support/test/index.test.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: type: next

#17281 Make getInlineScriptSource arg Readonly
  packages/next/pages/_document.tsx
Labels: type: next

#17662 Upgrade browserslist
  package.json
  packages/next/package.json
  yarn.lock
Labels: type: next

#18363 (docs) Add format to `notFound` for consistency
  docs/basic-features/data-fetching.md
Labels: type: documentation, type: next

#18845 Add note to i18n docs about domain locales
  docs/advanced-features/i18n-routing.md
Labels: type: documentation

#18588 feat(examples): use next-plugin-preact on using-preact example
  examples/using-preact/README.md
  examples/using-preact/next.config.js
  examples/using-preact/package.json
Labels: type: example

#17681 Fix issues with apollo cache data merging and restoration
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/package.json
  examples/with-apollo/lib/apolloClient.js
  examples/with-apollo/package.json
Labels: type: example

#18849 Add props `objectFit` and `objectPosition` to Image component
  docs/api-reference/next/image.md
  examples/image-component/pages/background.js
  examples/image-component/pages/layout-fill.js
  examples/image-component/styles.module.css
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/layout-fill.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/typescript/pages/valid.tsx
Labels: type: documentation, type: example, type: next

#18854 Fix chromedriver set-up to test electron separately
  .github/workflows/build_test_deploy.yml
  package.json
  packages/next/compiled/conf/index.js
  test/integration/with-electron/test/index.test.js
  yarn.lock
Labels: type: next

#18868 Fix lazy loaded images on IE 11 when no IntersectionObserver detected
  packages/next/client/image.tsx
Labels: type: next

#18859 Ensure we prefetch on hover
  packages/next/client/link.tsx
  test/integration/font-optimization/test/index.test.js
  test/integration/preload-viewport/pages/prefetch-disabled-ssg.js
  test/integration/preload-viewport/pages/prefetch-disabled.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/prerender/pages/blog/[post]/index.js
Labels: type: next

#18870 Update docs for `notFound` and `redirect`
  docs/basic-features/data-fetching.md
Labels: type: documentation

#18879 Upgrade cssnano
  packages/next/package.json
  yarn.lock
Labels: type: next

#18881 Updated chakra-ui dependencies
  examples/with-chakra-ui-typescript/package.json
  examples/with-chakra-ui/package.json
Labels: type: example

#18846 Load CSS early instead of only preloading
  packages/next/client/page-loader.ts
  test/integration/css-client-nav/test/index.test.js
  test/integration/css-fixtures/composes-ordering/pages/index.js
  test/integration/css/test/index.test.js
Labels: type: next

#18905 Ensure correct target is used for ncc'ing web-vitals
  packages/create-next-app/package.json
  packages/next-env/package.json
  packages/next/compiled/web-vitals/web-vitals.es5.umd.min.js
  packages/next/package.json
  packages/next/taskfile.js
  yarn.lock
Labels: type: create-next-app, type: next

#18900 Add <a> to <Link>
  examples/image-component/pages/index.js
Labels: type: example

#18909 Update image example with link back to source code
  examples/image-component/components/view-source.js
  examples/image-component/components/view-source.module.css
  examples/image-component/package.json
  examples/image-component/pages/background.js
  examples/image-component/pages/index.js
  examples/image-component/pages/layout-fill.js
  examples/image-component/pages/layout-fixed.js
  examples/image-component/pages/layout-intrinsic.js
  examples/image-component/pages/layout-responsive.js
Labels: type: example

#18904 Control <Image /> prefetching with React
  packages/next/client/image.tsx
  packages/next/client/link.tsx
  packages/next/client/use-intersection.tsx
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-component/default/pages/update.js
  test/integration/image-component/default/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#15223 [Examples] Switch contentful example to graphql
  examples/cms-contentful/components/post-body.js
  examples/cms-contentful/lib/api.js
  examples/cms-contentful/package.json
  examples/cms-contentful/tailwind.config.js
Labels: type: example

#17448 Fix redirect query handling for param like values
  packages/next/next-server/lib/router/utils/prepare-destination.ts
  packages/next/next-server/server/next-server.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next

#17745 feat: update create-next-app to init with main as initial branch
  packages/create-next-app/helpers/git.ts
Labels: type: create-next-app

#18903 Fix html validation for Image component
  packages/next/client/image.tsx
  packages/next/next-server/lib/to-base-64.ts
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#18916 chore: updated react to v17 on with-webassembly example
  examples/with-webassembly/package.json
Labels: type: example

#18568 Add docs for fallback: 'blocking'
  docs/basic-features/data-fetching.md
Labels: type: documentation

#18954 Fixes with-chakra-ui example error
  examples/with-chakra-ui/src/components/CTA.js
  examples/with-chakra-ui/src/pages/_app.js
Labels: type: example

#18234 Add type keyword to API Routes examples
  docs/basic-features/typescript.md
Labels: type: documentation

#18576 Export ImageProps from Image component
  packages/next/client/image.tsx
  test/integration/typescript/components/image.tsx
  test/integration/typescript/pages/hello.tsx
Labels: type: next

#18976 chore: fix some with-electron-typescript example setup
  examples/with-electron-typescript/.gitignore
  examples/with-electron-typescript/README.md
  examples/with-electron-typescript/package.json
Labels: type: example

#18232 Fix false positive in isSerializable with shared references in arrays
  packages/next/lib/is-serializable-props.ts
  test/unit/is-serializable-props.test.js
Labels: type: next

#18972 Upgrade sass-loader to 10.0.5
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#16484 Update with-sentry example to show how to track API routes + bug fixes
  examples/with-sentry/.env.local.example
  examples/with-sentry/README.md
  examples/with-sentry/next.config.js
  examples/with-sentry/package.json
  examples/with-sentry/pages/404.js
  examples/with-sentry/pages/_app.js
  examples/with-sentry/pages/_error.js
  examples/with-sentry/pages/api/test1.js
  examples/with-sentry/pages/api/test2.js
  examples/with-sentry/pages/api/test3.js
  examples/with-sentry/pages/api/test4.js
  examples/with-sentry/pages/index.js
  examples/with-sentry/pages/server/test1.js
  examples/with-sentry/pages/server/test2.js
  examples/with-sentry/pages/server/test3.js
  examples/with-sentry/pages/ssr/test1.js
  examples/with-sentry/pages/ssr/test2.js
  examples/with-sentry/pages/ssr/test3.js
  examples/with-sentry/pages/ssr/test4.js
  examples/with-sentry/utils/sentry.js
Labels: type: example

#17195 Add `with-gsap` example
  examples/with-gsap/.gitignore
  examples/with-gsap/App.scss
  examples/with-gsap/README.md
  examples/with-gsap/components/Content.js
  examples/with-gsap/components/Home.js
  examples/with-gsap/components/Title.js
  examples/with-gsap/package.json
  examples/with-gsap/pages/_app.js
  examples/with-gsap/pages/api/hello.js
  examples/with-gsap/pages/index.js
  examples/with-gsap/public/favicon.ico
  examples/with-gsap/public/vercel.svg
Labels: type: example

#17921 Upgrade with-mobx example
  examples/with-mobx/.babelrc
  examples/with-mobx/package.json
  examples/with-mobx/store.js
Labels: type: example

#18986 Add etag header to optimized image response
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/image-optimizer.ts
  packages/next/next-server/server/send-payload.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#19022 Fix ViewSource component in the docs
  examples/image-component/components/view-source.js
Labels: type: example

#16742 Add mutation example to with-typescript-graphql
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/lib/type-defs.graphqls
  examples/with-typescript-graphql/lib/viewer.graphql
  examples/with-typescript-graphql/pages/index.tsx
  examples/with-typescript-graphql/test/__snapshots__/index.test.tsx.snap
Labels: type: example

#18713 Revert "Remove `next-head-count` (#16758)"
  errors/next-head-count-missing.md
  packages/next/client/head-manager.ts
  packages/next/client/index.tsx
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/build-output/test/index.test.js
Labels: type: documentation, type: next

#17904 Add with-knex example
  examples/with-knex/.env.local.example
  examples/with-knex/.gitignore
  examples/with-knex/README.md
  examples/with-knex/knex/index.js
  examples/with-knex/knex/migrations/20201015140127_initial.js
  examples/with-knex/knexfile.js
  examples/with-knex/package.json
  examples/with-knex/pages/api/todos.js
  examples/with-knex/pages/index.js
  examples/with-knex/public/favicon.ico
  examples/with-knex/public/vercel.svg
Labels: type: example

#17835 Feat(example): Add with-zustand example
  examples/with-zustand/.gitignore
  examples/with-zustand/README.md
  examples/with-zustand/components/clock.js
  examples/with-zustand/components/counter.js
  examples/with-zustand/components/nav.js
  examples/with-zustand/components/page.js
  examples/with-zustand/lib/store.js
  examples/with-zustand/lib/useInterval.js
  examples/with-zustand/lib/zustandProvider.js
  examples/with-zustand/package.json
  examples/with-zustand/pages/_app.js
  examples/with-zustand/pages/index.js
  examples/with-zustand/pages/ssg.js
  examples/with-zustand/pages/ssr.js
Labels: type: example

#19012 [Examples] Prevent getStaticProps from returning "undefined"
  examples/cms-contentful/pages/index.js
Labels: type: example

#19034 Fixed wrong function name in error message
  packages/next/build/utils.ts
Labels: type: next

#17864 Add missing dependency to with-typescript-eslint-jest
  examples/with-typescript-eslint-jest/package.json
Labels: type: example

#19040 Ensure correct defaultLocale is provided for locale domain
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/router/utils/prepare-destination.ts
  packages/next/next-server/server/incremental-cache.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/pages/frank.js
  test/integration/i18n-support/pages/gssp/index.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#18988 Ensure basePath behavior with GS(S)P redirect
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/index.d.ts
  test/integration/gssp-redirect-base-path/next.config.js
  test/integration/gssp-redirect-base-path/pages/404.js
  test/integration/gssp-redirect-base-path/pages/another.js
  test/integration/gssp-redirect-base-path/pages/gsp-blog/[post].js
  test/integration/gssp-redirect-base-path/pages/gssp-blog/[post].js
  test/integration/gssp-redirect-base-path/pages/index.js
  test/integration/gssp-redirect-base-path/test/index.test.js
Labels: type: next

#18995 Update chokidar to latest
  packages/next/package.json
  yarn.lock
Labels: type: next

#18921 fix(next): resolve absolute path to @babel/runtime
  packages/next/build/babel/preset.ts
  test/unit/next-babel.unit.test.js
Labels: type: next

#19032 Print error during `next export` with default image loader
  docs/advanced-features/static-html-export.md
  errors/export-image-api.md
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/client/image.tsx
  packages/next/export/index.ts
  test/integration/export-image-default/pages/index.js
  test/integration/export-image-default/test/index.test.js
  test/integration/export-image-loader/next.config.js
  test/integration/export-image-loader/pages/index.js
  test/integration/export-image-loader/test/index.test.js
  test/integration/export-intent/test/index.test.js
Labels: type: documentation, type: next

#17647 Fixed missing SSR styles in with-fela example
  examples/with-fela/pages/_document.js
Labels: type: example

#19063 Ensure params and locale are parsed correctly in fallback mode
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/client/page-loader.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support-catchall/next.config.js
  test/integration/i18n-support-catchall/pages/[[...slug]].js
  test/integration/i18n-support-catchall/test/index.test.js
Labels: type: next

#19076 Add test and errsh for mixed notFound/redirect error
  errors/gssp-mixed-not-found-redirect.md
  packages/next/next-server/server/render.tsx
  test/integration/i18n-support/pages/gsp/fallback/[slug].js
  test/integration/i18n-support/test/index.test.js
Labels: type: documentation, type: next

#17710 Use useRouter over Router for with-react-ga example
  examples/with-react-ga/package.json
  examples/with-react-ga/pages/_app.js
Labels: type: example

#17936 refactor: update example of storybook
  examples/with-storybook/.storybook/main.js
  examples/with-storybook/package.json
  examples/with-storybook/stories/button.stories.js
Labels: type: example

#19080 fix(examples/with-firebase-cloud-messaging): replace deprecated method
  examples/with-firebase-cloud-messaging/utils/webPush.js
Labels: type: example

#18102 Add self-hosted information to with-sentry example
  examples/with-sentry/README.md
Labels: type: example

#17855 Example for adding a service worker into a next.js application
  examples/with-service-worker/.gitignore
  examples/with-service-worker/README.md
  examples/with-service-worker/package.json
  examples/with-service-worker/pages/_app.js
  examples/with-service-worker/pages/index.js
  examples/with-service-worker/public/favicon.ico
  examples/with-service-worker/public/sw.js
Labels: type: example

#18225 [examples/blog-starter-typescript] Upgrade to TypeScript v4
  examples/blog-starter-typescript/package.json
Labels: type: example

#19084 Add experimental Next.js plugin version locking
  packages/next/build/plugins/collect-plugins.ts
  test/integration/next-plugins/test/index.test.js
Labels: type: next

#19087 Upgrade use-subscription for React 16/17 bicompat
  packages/next/package.json
  yarn.lock
Labels: type: next

#19088 fix(examples/with-chakra-ui): Fixed Spelling
  examples/with-chakra-ui/src/pages/_app.js
Labels: type: example

#19056 fixed project name to reflect example name in readme
  examples/with-typescript-styled-components/README.md
Labels: type: example

#19091 Adjust how CSS files are fetched
  packages/next/client/route-loader.ts
Labels: type: next

#19101 Add upgrading guide from Next.js 9 to 10
  docs/upgrading.md
Labels: type: documentation

#19103 Update node-html-parser lib
  packages/next/package.json
  yarn.lock
Labels: type: next

#19072 Fix grammar in isSerializableProps
  packages/next/lib/is-serializable-props.ts
  test/unit/is-serializable-props.unit.test.js
Labels: type: next

#19111 Add note about changing basePath config
  docs/api-reference/next.config.js/basepath.md
Labels: type: documentation

#18595 fix: issue #18338 - don't add a trailing slash to external links
  packages/next/next-server/lib/router/router.ts
  test/integration/trailing-slashes/pages/external-linker.js
  test/integration/trailing-slashes/test/index.test.js
Labels: type: next

#19116 Ensure optional catchall prerendered indexes and i18n
  packages/next/build/utils.ts
  packages/next/next-server/server/incremental-cache.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support-catchall/pages/[[...slug]].js
  test/integration/i18n-support-catchall/test/index.test.js
Labels: type: next

#19107 Fallback to default config to enable testing Image component
  packages/next/client/image.tsx
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/image-config.ts
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
  test/unit/image-rendering.unit.test.js
Labels: type: next

#19118 Remove preload for priority images
  packages/next/client/image.tsx
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#19121 Propose some sentence changes
  docs/advanced-features/customizing-babel-config.md
Labels: type: documentation

#18277 Improve with-electron-typescript example
  examples/with-electron-typescript/.gitignore
  examples/with-electron-typescript/package.json
Labels: type: example

#18340 Added query object as property to url object
  examples/custom-server-hapi/next-wrapper.js
Labels: type: example

#19125 Fix component lifecycle order for style swap
  packages/next/client/index.tsx
  test/integration/css-fixtures/transition-react/pages/index.js
  test/integration/css-fixtures/transition-react/pages/other.js
  test/integration/css-fixtures/transition-react/pages/other.module.css
  test/integration/css/test/index.test.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#19128 Add missing `sizes` prop on image component
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/sizes.js
  test/integration/image-component/default/test/index.test.js
Labels: type: documentation, type: next

#19136 Respect next/babel user provided runtime option
  packages/next/build/babel/preset.ts
  test/unit/next-babel.unit.test.js
Labels: type: next

#19150 Add "nonce" from <Head> to the injected <style> to satisfy CSP
  packages/next/client/index.tsx
  packages/next/pages/_document.tsx
  test/integration/build-output/test/index.test.js
  test/integration/css-fixtures/csp-style-src-nonce/next.config.js
  test/integration/css-fixtures/csp-style-src-nonce/pages/_document.js
  test/integration/css-fixtures/csp-style-src-nonce/pages/index.js
  test/integration/css-fixtures/csp-style-src-nonce/pages/index.module.css
  test/integration/css-fixtures/csp-style-src-nonce/pages/other.js
  test/integration/css-fixtures/csp-style-src-nonce/pages/other.module.css
  test/integration/css/test/index.test.js
Labels: type: next

#19061 Example: Deta Base
  examples/with-deta-base/.env.local.example
  examples/with-deta-base/README.md
  examples/with-deta-base/package.json
  examples/with-deta-base/pages/_app.js
  examples/with-deta-base/pages/api/todos/[tid].js
  examples/with-deta-base/pages/api/todos/index.js
  examples/with-deta-base/pages/index.js
  examples/with-deta-base/public/deta.svg
  examples/with-deta-base/public/favicon.ico
  examples/with-deta-base/public/vercel.svg
  examples/with-deta-base/styles/Home.module.css
  examples/with-deta-base/styles/globals.css
Labels: type: example

#18310 Upgrade Cosmic example to Next.js 10, image load fix, post sorting by -created_at
  examples/cms-cosmic/components/cover-image.js
  examples/cms-cosmic/lib/api.js
Labels: type: documentation, type: example, type: next

#19160 Update docs to use <Image> instead of <img>
  docs/api-reference/next.config.js/runtime-configuration.md
  docs/api-reference/next/link.md
  docs/basic-features/static-file-serving.md
  docs/manifest.json
Labels: type: documentation

#19158 Add next/image docs for omitted props
  docs/api-reference/next/image.md
Labels: type: documentation

#19161 Revise image example with layouts near the top
  examples/image-component/README.md
  examples/image-component/pages/index.js
Labels: type: example

#19164 Add locale: false for custom-routes + i18n
  docs/api-reference/next.config.js/headers.md
  docs/api-reference/next.config.js/redirects.md
  docs/api-reference/next.config.js/rewrites.md
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/lib/router/utils/prepare-destination.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/i18n-support-base-path/next.config.js
  test/integration/i18n-support-base-path/test/index.test.js
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/pages/api/hello.js
  test/integration/i18n-support/pages/api/post/[slug].js
  test/integration/i18n-support/server.js
  test/integration/i18n-support/test/index.test.js
  test/integration/i18n-support/test/shared.js
Labels: type: documentation, type: next

#19165 Enable handling for revalidate and notFound
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/send-payload.ts
  test/integration/not-found-revalidate/pages/404.js
  test/integration/not-found-revalidate/pages/fallback-blocking/[slug].js
  test/integration/not-found-revalidate/pages/fallback-true/[slug].js
  test/integration/not-found-revalidate/test/index.test.js
Labels: type: next

#19167 Fix minifying inline CSS comments
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/compiled/postcss-scss/LICENSE
  packages/next/compiled/postcss-scss/package.json
  packages/next/compiled/postcss-scss/scss-syntax.js
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/css-features/fixtures/inline-comments/package.json
  test/integration/css-features/fixtures/inline-comments/pages/_app.js
  test/integration/css-features/fixtures/inline-comments/pages/global.css
  test/integration/css-features/fixtures/inline-comments/pages/index.js
  test/integration/css-features/test/index.test.js
  yarn.lock
Labels: type: next

#19171 Fix prefetching in IE11
  package.json
  packages/next/client/route-loader.ts
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/taskfile.js
  test/integration/build-output/test/index.test.js
  test/integration/css/test/index.test.js
  test/integration/not-found-revalidate/test/index.test.js
  test/integration/scss/test/index.test.js
  yarn.lock
Labels: type: next

#19137 Add apollo state func
  examples/with-apollo/lib/apolloClient.js
  examples/with-apollo/pages/_app.js
  examples/with-apollo/pages/index.js
Labels: type: example

#19189 Update response-helpers.md
  docs/api-routes/response-helpers.md
Labels: type: documentation

#19181 Upgraded to chakra V1
  examples/with-chakra-ui/package.json
  examples/with-chakra-ui/src/components/CTA.js
  examples/with-chakra-ui/src/components/Container.js
  examples/with-chakra-ui/src/components/DarkModeSwitch.js
  examples/with-chakra-ui/src/components/Footer.js
  examples/with-chakra-ui/src/components/Hero.js
  examples/with-chakra-ui/src/components/Main.js
  examples/with-chakra-ui/src/pages/_app.js
  examples/with-chakra-ui/src/pages/index.js
  examples/with-chakra-ui/src/theme.js
Labels: type: example

#16281 Update multi zones example
  docs/advanced-features/multi-zones.md
  examples/with-zones/.gitignore
  examples/with-zones/README.md
  examples/with-zones/blog/next.config.js
  examples/with-zones/blog/package.json
  examples/with-zones/blog/pages/index.js
  examples/with-zones/blog/pages/post/[id].js
  examples/with-zones/blog/public/static/nextjs.png
  examples/with-zones/docs/import-blog.jpg
  examples/with-zones/docs/import-home.jpg
  examples/with-zones/home/.env
  examples/with-zones/home/next.config.js
  examples/with-zones/home/package.json
  examples/with-zones/home/pages/index.js
  examples/with-zones/vercel.json
Labels: type: documentation, type: example

#19207 Update with-magic example
  examples/with-magic/pages/login.js
Labels: type: example

#18047 Update fast-refresh.md
  docs/basic-features/fast-refresh.md
Labels: type: documentation

#19226 Add docs on incrementally adopting Next.js.
  docs/manifest.json
  docs/migrating/incremental-adoption.md
Labels: type: documentation

#19241 Upgrade `styled-jsx`
  packages/next/package.json
  test/integration/client-navigation/lib/colored-blue.js
  test/integration/client-navigation/pages/styled-jsx-external.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  yarn.lock
Labels: type: next

#19085 Ensure data prefetch for default locale is correct
  packages/next/client/link.tsx
  test/integration/i18n-support-base-path/pages/mixed.js
  test/integration/i18n-support-catchall/pages/[[...slug]].js
  test/integration/i18n-support-catchall/test/index.test.js
  test/integration/i18n-support/pages/mixed.js
  test/integration/i18n-support/test/shared.js
Labels: type: next

#19149 Ensure i18n + trailingSlash: true handles correctly
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/router.ts
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#19265 Fix link to developer plan in Kontent example
  examples/cms-kontent/README.md
Labels: type: example

#19247 Update next/link docs to not include example without `href`
  docs/api-reference/next/link.md
Labels: type: documentation

#19267 Fix docs about the return of getStaticProps on basic-features/pages
  docs/basic-features/pages.md
Labels: type: documentation

#19275 Remove old modern mode experiment
  packages/next/build/babel/preset.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-babel-loader.js
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  packages/next/pages/_document.tsx
  test/.stats-app/stats-config.js
  test/integration/amphtml/test/index.test.js
  test/integration/css-client-nav/test/index.test.js
  test/integration/css-fixtures/multi-module-modern/next.config.js
  test/integration/css-fixtures/multi-module-modern/pages/blue.js
  test/integration/css-fixtures/multi-module-modern/pages/blue.module.css
  test/integration/css-fixtures/multi-module-modern/pages/none.js
  test/integration/css-fixtures/multi-module-modern/pages/red.js
  test/integration/css-fixtures/multi-module-modern/pages/red.module.css
  test/integration/css-fixtures/multi-module/next.config.js
  test/integration/dynamic-routing/next.config.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/modern-mode/next.config.js
  test/integration/modern-mode/pages/index.js
  test/integration/modern-mode/test/index.test.js
  test/integration/size-limit/next.config.js
  test/integration/size-limit/test/index.test.js
  test/integration/src-dir-support-double-dir/next.config.js
  test/integration/src-dir-support-double-dir/test/index.test.js
  test/integration/src-dir-support/next.config.js
  test/unit/next-babel-loader.unit.test.js
Labels: type: next

#19286 Update incremental adoption documentation.
  docs/migrating/incremental-adoption.md
Labels: type: documentation

#19319 Rewrite locale : fix wrong error message
  packages/next/lib/load-custom-routes.ts
Labels: type: next

#19288 Fix serverless with next start error case
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  test/integration/prerender/test/index.test.js
Labels: type: next

#19321 Add note to docs for i18n and next export
  docs/advanced-features/i18n-routing.md
Labels: type: documentation

#18620 Upgrade Emotion example to React 17 and Emotion 11 and use automatic JSX runtime
  examples/with-emotion-11/.gitignore
  examples/with-emotion-11/README.md
  examples/with-emotion-11/package.json
  examples/with-emotion-11/pages/_app.js
  examples/with-emotion-11/pages/_document.js
  examples/with-emotion-11/pages/index.js
  examples/with-emotion-11/shared/styles.js
  examples/with-emotion/.babelrc
  examples/with-emotion/README.md
  examples/with-emotion/package.json
  examples/with-emotion/shared/styles.js
Labels: type: example

#19280 Correct errsh links in config checks
  packages/next/next-server/server/config.ts
Labels: type: next

#19299 Add note about disabling prefetching
  docs/api-reference/next/link.md
Labels: type: documentation

#19338 Ensure non-configured i18n locales 404
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/next-server.ts
  test/integration/build-output/test/index.test.js
  test/integration/i18n-support/test/index.test.js
  test/integration/i18n-support/test/shared.js
Labels: type: next
