Repository vercel/next.js, pull requests merged in 2020-06, with the labels that each got.

#13622 Handle encoding for data requests and fix fallback response
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/pages/fallback-only/[slug].js
  test/integration/prerender/test/index.test.js
Labels: Type: Bug

#13559 make getStaticPaths work with optional catch-all routes
  packages/next/build/utils.ts
  packages/next/export/worker.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/next-server/server/next-server.ts
  test/integration/dynamic-optional-routing/pages/[[...optionalName]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-fallback/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-false/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-null/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths-undefined/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/get-static-paths/[[...slug]].js
  test/integration/dynamic-optional-routing/pages/nested/[[...optionalName]].js
  test/integration/dynamic-optional-routing/test/index.test.js
Labels: Type: Bug, experimental

#13611 Fix with antd ssg
  examples/with-ant-design/.babelrc
  examples/with-ant-design/components/DatePicker.js
  examples/with-ant-design/package.json
Labels: Type: Example

#13642 Remove middleware function that is never called
  packages/next/pages/_document.tsx
Labels: Type: Core, experimental

#13643 [with-typescript] Remove React.FC
  examples/with-typescript/pages/about.tsx
  examples/with-typescript/pages/api/users/index.ts
  examples/with-typescript/pages/users/[id].tsx
Labels: Type: Example

#13194 [Examples] Add WordPress Blog
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/cms-contentful/README.md
  examples/cms-datocms/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-takeshape/README.md
  examples/cms-wordpress/.env.local.example
  examples/cms-wordpress/.gitignore
  examples/cms-wordpress/README.md
  examples/cms-wordpress/components/alert.js
  examples/cms-wordpress/components/avatar.js
  examples/cms-wordpress/components/categories.js
  examples/cms-wordpress/components/container.js
  examples/cms-wordpress/components/cover-image.js
  examples/cms-wordpress/components/date.js
  examples/cms-wordpress/components/footer.js
  examples/cms-wordpress/components/header.js
  examples/cms-wordpress/components/hero-post.js
  examples/cms-wordpress/components/intro.js
  examples/cms-wordpress/components/layout.js
  examples/cms-wordpress/components/meta.js
  examples/cms-wordpress/components/more-stories.js
  examples/cms-wordpress/components/post-body.js
  examples/cms-wordpress/components/post-body.module.css
  examples/cms-wordpress/components/post-header.js
  examples/cms-wordpress/components/post-preview.js
  examples/cms-wordpress/components/post-title.js
  examples/cms-wordpress/components/section-separator.js
  examples/cms-wordpress/components/tags.js
  examples/cms-wordpress/docs/new-post.png
  examples/cms-wordpress/docs/plugin-installed.png
  examples/cms-wordpress/docs/plugins-add-new.png
  examples/cms-wordpress/docs/plugins-upload-new.png
  examples/cms-wordpress/docs/wp-graphiql.png
  examples/cms-wordpress/lib/api.js
  examples/cms-wordpress/lib/constants.js
  examples/cms-wordpress/package.json
  examples/cms-wordpress/pages/_app.js
  examples/cms-wordpress/pages/_document.js
  examples/cms-wordpress/pages/api/exit-preview.js
  examples/cms-wordpress/pages/api/preview.js
  examples/cms-wordpress/pages/index.js
  examples/cms-wordpress/pages/posts/[slug].js
  examples/cms-wordpress/postcss.config.js
  examples/cms-wordpress/public/favicon/android-chrome-192x192.png
  examples/cms-wordpress/public/favicon/android-chrome-512x512.png
  examples/cms-wordpress/public/favicon/apple-touch-icon.png
  examples/cms-wordpress/public/favicon/browserconfig.xml
  examples/cms-wordpress/public/favicon/favicon-16x16.png
  examples/cms-wordpress/public/favicon/favicon-32x32.png
  examples/cms-wordpress/public/favicon/favicon.ico
  examples/cms-wordpress/public/favicon/mstile-150x150.png
  examples/cms-wordpress/public/favicon/safari-pinned-tab.svg
  examples/cms-wordpress/public/favicon/site.webmanifest
  examples/cms-wordpress/styles/index.css
  examples/cms-wordpress/tailwind.config.js
  examples/cms-wordpress/vercel.json
Labels: Type: Example

#13641 docs([[...rest]]): add experimental banner
  docs/api-routes/dynamic-api-routes.md
  docs/routing/dynamic-routes.md
Labels: Documentation

#12841 Propagate Serverless Errors to Platform
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/server/api-utils.ts
  packages/next/next-server/server/next-server.ts
  test/integration/prerender/pages/api/bad.js
  test/integration/prerender/pages/bad-gssp.js
  test/integration/prerender/pages/bad-ssr.js
  test/integration/prerender/server.js
  test/integration/prerender/test/index.test.js
Labels: Type: Core

#12701 CMS Strapi Example
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/blog-starter/README.md
  examples/cms-contentful/README.md
  examples/cms-datocms/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-strapi/.env.local.example
  examples/cms-strapi/.gitignore
  examples/cms-strapi/README.md
  examples/cms-strapi/components/alert.js
  examples/cms-strapi/components/avatar.js
  examples/cms-strapi/components/container.js
  examples/cms-strapi/components/cover-image.js
  examples/cms-strapi/components/date.js
  examples/cms-strapi/components/footer.js
  examples/cms-strapi/components/header.js
  examples/cms-strapi/components/hero-post.js
  examples/cms-strapi/components/intro.js
  examples/cms-strapi/components/layout.js
  examples/cms-strapi/components/markdown-styles.module.css
  examples/cms-strapi/components/meta.js
  examples/cms-strapi/components/more-stories.js
  examples/cms-strapi/components/post-body.js
  examples/cms-strapi/components/post-header.js
  examples/cms-strapi/components/post-preview.js
  examples/cms-strapi/components/post-title.js
  examples/cms-strapi/components/section-separator.js
  examples/cms-strapi/jsconfig.json
  examples/cms-strapi/lib/api.js
  examples/cms-strapi/lib/constants.js
  examples/cms-strapi/lib/markdownToHtml.js
  examples/cms-strapi/package.json
  examples/cms-strapi/pages/_app.js
  examples/cms-strapi/pages/_document.js
  examples/cms-strapi/pages/api/exit-preview.js
  examples/cms-strapi/pages/api/preview.js
  examples/cms-strapi/pages/index.js
  examples/cms-strapi/pages/posts/[slug].js
  examples/cms-strapi/postcss.config.js
  examples/cms-strapi/public/favicon/android-chrome-192x192.png
  examples/cms-strapi/public/favicon/android-chrome-512x512.png
  examples/cms-strapi/public/favicon/apple-touch-icon.png
  examples/cms-strapi/public/favicon/browserconfig.xml
  examples/cms-strapi/public/favicon/favicon-16x16.png
  examples/cms-strapi/public/favicon/favicon-32x32.png
  examples/cms-strapi/public/favicon/favicon.ico
  examples/cms-strapi/public/favicon/mstile-150x150.png
  examples/cms-strapi/public/favicon/safari-pinned-tab.svg
  examples/cms-strapi/public/favicon/site.webmanifest
  examples/cms-strapi/public/strapi.svg
  examples/cms-strapi/styles/index.css
  examples/cms-strapi/tailwind.config.js
  examples/cms-strapi/vercel.json
  examples/cms-takeshape/README.md
Labels: Type: Example

#13649 Update with-redux-wrapper example
  examples/with-redux-wrapper/package.json
  examples/with-redux-wrapper/pages/_app.js
Labels: Type: Example

#12788 Added Agility CMS example 🏆
  examples/cms-agilitycms/.env.local.example
  examples/cms-agilitycms/.gitignore
  examples/cms-agilitycms/README.md
  examples/cms-agilitycms/components/alert.js
  examples/cms-agilitycms/components/avatar.js
  examples/cms-agilitycms/components/container.js
  examples/cms-agilitycms/components/cover-image.js
  examples/cms-agilitycms/components/date.js
  examples/cms-agilitycms/components/footer.js
  examples/cms-agilitycms/components/header.js
  examples/cms-agilitycms/components/hero-post.js
  examples/cms-agilitycms/components/intro.js
  examples/cms-agilitycms/components/layout.js
  examples/cms-agilitycms/components/markdown-styles.module.css
  examples/cms-agilitycms/components/meta.js
  examples/cms-agilitycms/components/more-stories.js
  examples/cms-agilitycms/components/post-body.js
  examples/cms-agilitycms/components/post-details.js
  examples/cms-agilitycms/components/post-header.js
  examples/cms-agilitycms/components/post-preview.js
  examples/cms-agilitycms/components/post-title.js
  examples/cms-agilitycms/components/section-separator.js
  examples/cms-agilitycms/lib/api.js
  examples/cms-agilitycms/lib/components/content-zone.js
  examples/cms-agilitycms/lib/components/image.js
  examples/cms-agilitycms/lib/components/one-column-template.js
  examples/cms-agilitycms/lib/components/page-template.js
  examples/cms-agilitycms/lib/components/rich-text-area.js
  examples/cms-agilitycms/lib/constants.js
  examples/cms-agilitycms/lib/dependancies.js
  examples/cms-agilitycms/lib/normalize.js
  examples/cms-agilitycms/lib/preview.js
  examples/cms-agilitycms/lib/use-preview-redirect.js
  examples/cms-agilitycms/lib/utils.js
  examples/cms-agilitycms/package.json
  examples/cms-agilitycms/pages/[...slug].js
  examples/cms-agilitycms/pages/_app.js
  examples/cms-agilitycms/pages/_document.js
  examples/cms-agilitycms/pages/api/exit-preview.js
  examples/cms-agilitycms/pages/api/preview.js
  examples/cms-agilitycms/pages/index.js
  examples/cms-agilitycms/postcss.config.js
  examples/cms-agilitycms/public/favicon/android-chrome-192x192.png
  examples/cms-agilitycms/public/favicon/android-chrome-512x512.png
  examples/cms-agilitycms/public/favicon/apple-touch-icon.png
  examples/cms-agilitycms/public/favicon/browserconfig.xml
  examples/cms-agilitycms/public/favicon/favicon-16x16.png
  examples/cms-agilitycms/public/favicon/favicon-32x32.png
  examples/cms-agilitycms/public/favicon/favicon.ico
  examples/cms-agilitycms/public/favicon/mstile-150x150.png
  examples/cms-agilitycms/public/favicon/safari-pinned-tab.svg
  examples/cms-agilitycms/public/favicon/site.webmanifest
  examples/cms-agilitycms/styles/index.css
  examples/cms-agilitycms/tailwind.config.js
  examples/cms-agilitycms/vercel.json
Labels: Type: Example

#13677 Skip reading filesystem in favor of `sourcesContent` [ch1898]
  packages/react-dev-overlay/src/middleware.ts
Labels: Type: Core, Type: Enhancement

#13683 [Examples] Add missing cms links
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/blog-starter/README.md
  examples/cms-agilitycms/README.md
  examples/cms-contentful/README.md
  examples/cms-datocms/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-strapi/README.md
  examples/cms-takeshape/README.md
  examples/cms-wordpress/README.md
Labels: Type: Example

#13684 Do not syntax highlight collapsed frames [ch1899]
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
Labels: Type: Core, Type: Enhancement

#13690 example(chakra-ui): pass through pageProps in custom app
  examples/with-chakra-ui/src/pages/_app.js
Labels: Type: Example

#13697 chore(docs): use proper Jamstack casing
  docs/deployment.md
Labels: Documentation

#13539 Detailed error and warnings upon next() call
  errors/invalid-server-options.md
  packages/next/server/next.ts
  test/integration/invalid-server-options/pages/index.js
  test/integration/invalid-server-options/test/index.test.js
Labels: Type: Enhancement

#13615 Refactor with redux observable
  examples/with-redux-observable/README.md
  examples/with-redux-observable/components/CharacterInfo.js
  examples/with-redux-observable/components/UserInfo.js
  examples/with-redux-observable/demo.png
  examples/with-redux-observable/package.json
  examples/with-redux-observable/pages/_app.js
  examples/with-redux-observable/pages/index.js
  examples/with-redux-observable/redux/actionTypes.js
  examples/with-redux-observable/redux/actions.js
  examples/with-redux-observable/redux/index.js
  examples/with-redux-observable/redux/reducer.js
  examples/with-redux-observable/store/actionTypes.js
  examples/with-redux-observable/store/actions.js
  examples/with-redux-observable/store/epics.js
  examples/with-redux-observable/store/store.js
Labels: Type: Example

#13723 Added React Strict Mode documentation
  docs/api-reference/next.config.js/react-strict-mode.md
  docs/manifest.json
Labels: Documentation

#13732 Update test description of with typescript eslint jest example
  examples/with-typescript-eslint-jest/test/pages/index.test.tsx
Labels: type: example

#13745 with-videojs fix
  examples/with-videojs/components/Player.js
  examples/with-videojs/components/PlayerCss.js
  examples/with-videojs/pages/index.js
Labels: type: example

#13587 Update Firebase Auth Example for New Env Support
  examples/with-firebase-authentication/.env.local.example
  examples/with-firebase-authentication/README.md
  examples/with-firebase-authentication/next.config.js
  examples/with-firebase-authentication/utils/auth/firebaseAdmin.js
  examples/with-firebase-authentication/utils/auth/initFirebase.js
Labels: type: example

#13746 [Example] with-typescript-types
  examples/with-typescript-types/README.md
  examples/with-typescript-types/next-env.d.ts
  examples/with-typescript-types/package.json
  examples/with-typescript-types/pages/_document.jsx
  examples/with-typescript-types/pages/index.tsx
  examples/with-typescript-types/tsconfig.json
  examples/with-typescript-types/types/index.ts
  examples/with-typescript-types/types/package-1.ts
Labels: type: example

#13766 docs: adjust custom polyfill suggestion
  docs/basic-features/supported-browsers-features.md
Labels: type: documentation

#13756 examples(iron-session): update fetch, env, UI, deps, and docs
  examples/with-iron-session/.env.development
  examples/with-iron-session/.env.production
  examples/with-iron-session/components/Header.js
  examples/with-iron-session/lib/fetchJson.js
  examples/with-iron-session/lib/session.js
  examples/with-iron-session/package.json
  examples/with-iron-session/pages/index.js
  examples/with-iron-session/pages/profile-sg.js
  examples/with-iron-session/pages/profile-ssr.js
  examples/with-iron-session/public/GitHub-Mark-32px.png
  examples/with-iron-session/public/GitHub-Mark-Light-32px.png
Labels: type: example

#13699 Fix pages/index.js and pages/index/index.js behavior
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/client/page-loader.js
  packages/next/export/index.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/get-route-from-entrypoint.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/normalize-page-path.ts
  packages/next/next-server/server/render.tsx
  packages/next/next-server/server/require.ts
  packages/next/pages/_document.tsx
  packages/next/server/hot-reloader.ts
  packages/next/server/lib/find-page-file.ts
  packages/next/server/on-demand-entry-handler.ts
  test/integration/client-navigation/test/index.test.js
  test/integration/index-index/next.config.js
  test/integration/index-index/pages/index.js
  test/integration/index-index/pages/index/index.js
  test/integration/index-index/pages/index/index/index.js
  test/integration/index-index/pages/index/project/index.js
  test/integration/index-index/pages/index/user.js
  test/integration/index-index/pages/links.js
  test/integration/index-index/test/index.test.js
  test/integration/production/pages/index.js
  test/integration/route-index/test/index.test.js
  test/integration/route-indexes/test/index.test.js
  test/isolated/require-page.test.js
Labels: type: next

#13724 Update rewrite dynamic SSG error
  packages/next/next-server/server/render.tsx
  test/integration/prerender/test/index.test.js
Labels: type: next

#13770 Replace dotenv example
  examples/with-dotenv/.env
  examples/with-dotenv/README.md
  examples/with-dotenv/next.config.js
  examples/with-dotenv/package.json
  examples/with-dotenv/pages/index.js
Labels: type: example

#13499 CMS Cosmic Example
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/blog-starter/README.md
  examples/cms-agilitycms/README.md
  examples/cms-contentful/README.md
  examples/cms-cosmic/.env.local.example
  examples/cms-cosmic/README.md
  examples/cms-cosmic/components/alert.js
  examples/cms-cosmic/components/avatar.js
  examples/cms-cosmic/components/container.js
  examples/cms-cosmic/components/cover-image.js
  examples/cms-cosmic/components/date.js
  examples/cms-cosmic/components/footer.js
  examples/cms-cosmic/components/header.js
  examples/cms-cosmic/components/hero-post.js
  examples/cms-cosmic/components/intro.js
  examples/cms-cosmic/components/layout.js
  examples/cms-cosmic/components/markdown-styles.module.css
  examples/cms-cosmic/components/meta.js
  examples/cms-cosmic/components/more-stories.js
  examples/cms-cosmic/components/post-body.js
  examples/cms-cosmic/components/post-header.js
  examples/cms-cosmic/components/post-preview.js
  examples/cms-cosmic/components/post-title.js
  examples/cms-cosmic/components/section-separator.js
  examples/cms-cosmic/jsconfig.json
  examples/cms-cosmic/lib/api.js
  examples/cms-cosmic/lib/constants.js
  examples/cms-cosmic/lib/markdownToHtml.js
  examples/cms-cosmic/package.json
  examples/cms-cosmic/pages/_app.js
  examples/cms-cosmic/pages/_document.js
  examples/cms-cosmic/pages/api/exit-preview.js
  examples/cms-cosmic/pages/api/preview.js
  examples/cms-cosmic/pages/index.js
  examples/cms-cosmic/pages/posts/[slug].js
  examples/cms-cosmic/postcss.config.js
  examples/cms-cosmic/public/favicon/android-chrome-192x192.png
  examples/cms-cosmic/public/favicon/android-chrome-512x512.png
  examples/cms-cosmic/public/favicon/apple-touch-icon.png
  examples/cms-cosmic/public/favicon/browserconfig.xml
  examples/cms-cosmic/public/favicon/favicon-16x16.png
  examples/cms-cosmic/public/favicon/favicon-32x32.png
  examples/cms-cosmic/public/favicon/favicon.ico
  examples/cms-cosmic/public/favicon/mstile-150x150.png
  examples/cms-cosmic/public/favicon/safari-pinned-tab.svg
  examples/cms-cosmic/public/favicon/site.webmanifest
  examples/cms-cosmic/styles/index.css
  examples/cms-cosmic/tailwind.config.js
  examples/cms-cosmic/vercel.json
  examples/cms-datocms/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-strapi/README.md
  examples/cms-takeshape/README.md
  examples/cms-wordpress/README.md
Labels: type: example

#13768 Normalize example gitignores
  examples/amp-story/.gitignore
  examples/basic-export/.gitignore
  examples/cms-agilitycms/.gitignore
  examples/cms-contentful/.gitignore
  examples/cms-datocms/.gitignore
  examples/cms-prismic/.gitignore
  examples/cms-sanity/.gitignore
  examples/cms-strapi/.gitignore
  examples/cms-takeshape/.gitignore
  examples/cms-wordpress/.gitignore
  examples/custom-server-typescript/.gitignore
  examples/gh-pages/.gitignore
  examples/with-algolia-react-instantsearch/.gitignore
  examples/with-firebase-authentication/.gitignore
  examples/with-firebase/.gitignore
  examples/with-hls-js/.gitignore
  examples/with-http2/.gitignore
  examples/with-linaria/.gitignore
  examples/with-lingui/.gitignore
  examples/with-mux-video/.gitignore
  examples/with-next-translate/.gitignore
  examples/with-react-intl/.gitignore
  examples/with-react-relay-network-modern/.gitignore
  examples/with-reason-relay/.gitignore
  examples/with-reasonml/.gitignore
  examples/with-relay-modern/.gitignore
  examples/with-stitches/.gitignore
  examples/with-stripe-typescript/.gitignore
  examples/with-typescript/.gitignore
  examples/with-unstated/.gitignore
  examples/with-userbase/.gitignore
  examples/with-webassembly/.gitignore
  examples/with-zones/.gitignore
  packages/create-next-app/templates/default/gitignore
Labels: type: example

#13774 Update to modern env handling for userbase example
  examples/with-userbase/.env.example
  examples/with-userbase/.env.local.example
  examples/with-userbase/README.md
  examples/with-userbase/next.config.js
  examples/with-userbase/package.json
  examples/with-userbase/pages/_app.js
  examples/with-userbase/vercel.json
Labels: type: example

#13791 Add a note about optional catch-all and rootmost route
  docs/basic-features/data-fetching.md
Labels: type: documentation

#13797 [Examples] Removed React.FC from blog-starter-typescript
  examples/blog-starter-typescript/components/alert.tsx
  examples/blog-starter-typescript/components/avatar.tsx
  examples/blog-starter-typescript/components/container.tsx
  examples/blog-starter-typescript/components/cover-image.tsx
  examples/blog-starter-typescript/components/date-formater.tsx
  examples/blog-starter-typescript/components/footer.tsx
  examples/blog-starter-typescript/components/header.tsx
  examples/blog-starter-typescript/components/hero-post.tsx
  examples/blog-starter-typescript/components/intro.tsx
  examples/blog-starter-typescript/components/layout.tsx
  examples/blog-starter-typescript/components/meta.tsx
  examples/blog-starter-typescript/components/more-stories.tsx
  examples/blog-starter-typescript/components/post-body.tsx
  examples/blog-starter-typescript/components/post-header.tsx
  examples/blog-starter-typescript/components/post-preview.tsx
  examples/blog-starter-typescript/components/post-title.tsx
  examples/blog-starter-typescript/components/section-separator.tsx
  examples/blog-starter-typescript/pages/index.tsx
  examples/blog-starter-typescript/pages/posts/[slug].tsx
Labels: type: example

#13798 [Examples] Removed React.FC/FunctionComponent from with-typescript
  examples/with-typescript/components/Layout.tsx
  examples/with-typescript/components/List.tsx
  examples/with-typescript/components/ListDetail.tsx
  examples/with-typescript/components/ListItem.tsx
Labels: type: example

#13800 [Examples] Refactor with-electron
  examples/with-electron/renderer/pages/index.js
Labels: type: example

#13764 enhance-with-redux-saga
  examples/with-redux-saga/README.md
  examples/with-redux-saga/package.json
  examples/with-redux-saga/pages/_app.js
  examples/with-redux-saga/pages/index.js
  examples/with-redux-saga/pages/other.js
  examples/with-redux-saga/reducer.js
  examples/with-redux-saga/saga.js
  examples/with-redux-saga/store.js
Labels: type: example

#13742 [Examples] Move with-apollo to SSG
  examples/with-apollo/README.md
  examples/with-apollo/apolloClient.js
  examples/with-apollo/components/Header.js
  examples/with-apollo/components/PostList.js
  examples/with-apollo/lib/apollo.js
  examples/with-apollo/lib/apolloClient.js
  examples/with-apollo/package.json
  examples/with-apollo/pages/_app.js
  examples/with-apollo/pages/about.js
  examples/with-apollo/pages/client-only.js
  examples/with-apollo/pages/index.js
Labels: type: example

#13802 [Examples] Refactor with-electron-typescript
  examples/with-electron-typescript/renderer/components/Layout.tsx
  examples/with-electron-typescript/renderer/components/List.tsx
  examples/with-electron-typescript/renderer/components/ListDetail.tsx
  examples/with-electron-typescript/renderer/components/ListItem.tsx
  examples/with-electron-typescript/renderer/pages/about.tsx
  examples/with-electron-typescript/renderer/pages/detail.tsx
  examples/with-electron-typescript/renderer/pages/index.tsx
  examples/with-electron-typescript/renderer/pages/initial-props.tsx
Labels: type: example

#13803 [Examples] Remove React.FC from with-stripe-typescript
  examples/with-stripe-typescript/components/CheckoutForm.tsx
  examples/with-stripe-typescript/components/CustomDonationInput.tsx
  examples/with-stripe-typescript/components/ElementsForm.tsx
  examples/with-stripe-typescript/components/Layout.tsx
  examples/with-stripe-typescript/components/PrintObject.tsx
Labels: type: example

#13799 Fixed graphql-hooks example data prefetch
  examples/with-graphql-hooks/components/post-list.js
  examples/with-graphql-hooks/lib/with-graphql-client.js
  examples/with-graphql-hooks/package.json
Labels: type: example

#13560 Fix base path handling with URL queries in dev server
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/gsp.js
  test/integration/basepath/pages/gssp.js
  test/integration/basepath/pages/hello.js
  test/integration/basepath/test/index.test.js
Labels: kind: bug, type: next

#13785 Add App.getInitialProps example to the TypeScript page
  docs/basic-features/typescript.md
Labels: type: documentation

#13826 Prefer docs site for documentation links in CMS examples
  examples/cms-contentful/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-takeshape/README.md
  examples/cms-wordpress/README.md
Labels: type: example

#13782 [Examples] Move api-routes-apollo-server-and-client to SSG
  examples/api-routes-apollo-server-and-client/README.md
  examples/api-routes-apollo-server-and-client/apollo/client.js
  examples/api-routes-apollo-server-and-client/package.json
  examples/api-routes-apollo-server-and-client/pages/_app.js
  examples/api-routes-apollo-server-and-client/pages/index.js
Labels: type: example

#13841 refactor: Use native fs instead of fs-extra and promisify
  .github/actions/next-stats-action/src/add-comment.js
  packages/next/server/lib/find-page-file.ts
Labels: type: next

#13834 [Examples] Remove getInitialProps from with-rematch
  examples/with-rematch/pages/_app.js
  examples/with-rematch/shared/store.js
  examples/with-rematch/shared/withRematch.js
Labels: type: example

#13846 Add FAQ section to Built-in CSS Support
  docs/basic-features/built-in-css-support.md
Labels: type: documentation

#13759 Clean up render.tsx options
  packages/next/build/plugins/collect-plugins.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/client/page-loader.js
  packages/next/export/index.ts
  packages/next/next-server/lib/utils.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  packages/next/server/next.ts
  test/integration/client-navigation/test/rendering.js
  test/integration/next-plugins/app/node_modules/@next/plugin-google-analytics/src/document-body-tags-server.js
  test/integration/next-plugins/app/node_modules/@next/plugin-google-analytics/src/document-html-props-server.js
  test/integration/next-plugins/test/index.test.js
  test/integration/production/test/index.test.js
Labels: type: next

#13840 Preserve url better in exportTrailingSlash
  packages/next/next-server/lib/router/rewrite-url-for-export.ts
  test/integration/export/next.config.js
  test/integration/export/pages/empty-hash-link.js
  test/integration/export/pages/empty-query-link.js
  test/integration/export/test/browser.js
Labels: type: next

#13847 update test snapshot in with-typescript-eslint-jest
  examples/with-typescript-eslint-jest/test/pages/__snapshots__/index.test.tsx.snap
Labels: type: example

#13883 fix typo in comment
  examples/with-firebase/context/userContext.js
Labels: type: example

#13899 Update README.md
  examples/with-sentry-simple/README.md
Labels: type: example

#13876 Remove some leftovers after index page updates
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/next-server/server/get-page-files.ts
Labels: type: next

#13874 Fix message on getStaticPaths conflict with getServerSideProps
  packages/next/lib/constants.ts
  test/unit/babel-plugin-next-ssg-transform.test.js
Labels: type: next

#13882 [Examples] Move with-relay-modern to SSG
  examples/with-relay-modern/.env
  examples/with-relay-modern/README.md
  examples/with-relay-modern/components/BlogPostPreview.js
  examples/with-relay-modern/components/BlogPosts.js
  examples/with-relay-modern/lib/createRelayEnvironment.js
  examples/with-relay-modern/lib/relay.js
  examples/with-relay-modern/lib/withData.js
  examples/with-relay-modern/next.config.js
  examples/with-relay-modern/package.json
  examples/with-relay-modern/pages/_app.js
  examples/with-relay-modern/pages/about.js
  examples/with-relay-modern/pages/index.js
Labels: type: example

#13817 Update handling for basePath to only automatically add
  packages/next/client/link.tsx
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/docs/another.js
  test/integration/basepath/pages/invalid-manual-basepath.js
  test/integration/basepath/test/index.test.js
  test/integration/preload-viewport/test/index.test.js
Labels: type: next

#13858 [Examples] Move with-graphql-hooks to SSG
  examples/api-routes-apollo-server-and-client/apollo/client.js
  examples/with-apollo/lib/apolloClient.js
  examples/with-graphql-hooks/README.md
  examples/with-graphql-hooks/components/header.js
  examples/with-graphql-hooks/components/post-list.js
  examples/with-graphql-hooks/lib/graphql-client.js
  examples/with-graphql-hooks/lib/graphql-request.js
  examples/with-graphql-hooks/lib/init-graphql.js
  examples/with-graphql-hooks/lib/with-graphql-client.js
  examples/with-graphql-hooks/package.json
  examples/with-graphql-hooks/pages/_app.js
  examples/with-graphql-hooks/pages/index.js
Labels: type: example

#13870 Use buildManifest to load page JS
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/index.js
  packages/next/client/page-loader.js
  packages/next/next-server/server/render.tsx
  packages/next/pages/_document.tsx
  test/integration/chunking-minimal/next.config.js
  test/integration/chunking-minimal/pages/index.js
  test/integration/chunking-minimal/test/index.test.js
  test/integration/production/test/index.test.js
Labels: type: next

#13878 [Examples] Move with-react-relay-network-modern to SSG
  examples/with-react-relay-network-modern/.env
  examples/with-react-relay-network-modern/README.md
  examples/with-react-relay-network-modern/components/BlogPostPreview.js
  examples/with-react-relay-network-modern/components/BlogPosts.js
  examples/with-react-relay-network-modern/lib/createEnvironment/client.js
  examples/with-react-relay-network-modern/lib/createEnvironment/server.js
  examples/with-react-relay-network-modern/next.config.js
  examples/with-react-relay-network-modern/package.json
  examples/with-react-relay-network-modern/pages/_app.js
  examples/with-react-relay-network-modern/pages/index.js
Labels: type: example

#13907 chore: remove-redundant-example-react-import
  examples/blog-starter-typescript/components/alert.tsx
  examples/blog-starter-typescript/components/avatar.tsx
  examples/blog-starter-typescript/components/container.tsx
  examples/blog-starter-typescript/components/cover-image.tsx
  examples/blog-starter-typescript/components/date-formater.tsx
  examples/blog-starter-typescript/components/footer.tsx
  examples/blog-starter-typescript/components/header.tsx
  examples/blog-starter-typescript/components/hero-post.tsx
  examples/blog-starter-typescript/components/intro.tsx
  examples/blog-starter-typescript/components/layout.tsx
  examples/blog-starter-typescript/components/meta.tsx
  examples/blog-starter-typescript/components/more-stories.tsx
  examples/blog-starter-typescript/components/post-body.tsx
  examples/blog-starter-typescript/components/post-header.tsx
  examples/blog-starter-typescript/components/post-preview.tsx
  examples/blog-starter-typescript/components/post-title.tsx
  examples/blog-starter-typescript/components/section-separator.tsx
  examples/blog-starter-typescript/pages/index.tsx
  examples/blog-starter-typescript/pages/posts/[slug].tsx
  examples/with-google-analytics-amp/components/Header.js
  examples/with-google-analytics-amp/components/Page.js
  examples/with-google-analytics-amp/components/amp/AmpAnalytics.js
  examples/with-google-analytics-amp/components/amp/AmpIncludeCustomElement.js
  examples/with-google-analytics/components/Header.js
  examples/with-google-analytics/components/Page.js
Labels: type: example

#13842 Combine taskr next-server tasks into one
  packages/next/taskfile.js
Labels: type: next

#13904 [Example] Deprecate with-sentry in favor of with-sentry-simple
  examples/with-sentry-simple/README.md
  examples/with-sentry-simple/next.config.js
  examples/with-sentry-simple/package.json
  examples/with-sentry-simple/pages/_app.js
  examples/with-sentry-simple/pages/index.js
  examples/with-sentry/README.md
  examples/with-sentry/next.config.js
  examples/with-sentry/package.json
  examples/with-sentry/pages/404.js
  examples/with-sentry/pages/_app.js
  examples/with-sentry/pages/_error.js
  examples/with-sentry/pages/client/test1.js
  examples/with-sentry/pages/client/test2.js
  examples/with-sentry/pages/client/test3.js
  examples/with-sentry/pages/client/test4.js
  examples/with-sentry/pages/client/test5.js
  examples/with-sentry/pages/index.js
  examples/with-sentry/pages/server/test1.js
  examples/with-sentry/pages/server/test2.js
  examples/with-sentry/pages/server/test3.js
  examples/with-sentry/pages/server/test4.js
  examples/with-sentry/server.js
  examples/with-sentry/utils/sentry.js
Labels: type: example

#13380 Adding Example: with-recoil
  examples/with-recoil/README.md
  examples/with-recoil/components/counter.js
  examples/with-recoil/lib/recoil-atoms.js
  examples/with-recoil/package.json
  examples/with-recoil/pages/_app.js
  examples/with-recoil/pages/index.js
Labels: type: example

#13925 Update AMP Optimizer to 2.5.1
  packages/next/package.json
  yarn.lock
Labels: type: next

#13928 Update the with-graphql-react example
  examples/with-graphql-react/README.md
  examples/with-graphql-react/next.config.js
  examples/with-graphql-react/package.json
  examples/with-graphql-react/pages/_app.js
  examples/with-graphql-react/pages/index.js
Labels: type: example

#13973 Change text from "Attention" to "Warning"
  packages/next/export/index.ts
Labels: type: next

#13857 Prepare custom routes loading for adding additional routes
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/next-dev-server.ts
Labels: type: next

#13976 [Examples] using-preact: add Prefresh, DevTools & chunking fix
  examples/using-preact/next.config.js
  examples/using-preact/package.json
Labels: type: example

#13914 Add scroll restoration handling after render is complete
  packages/next/next-server/lib/router/router.ts
  test/integration/scroll-restoration/pages/another.js
  test/integration/scroll-restoration/pages/index.js
  test/integration/scroll-restoration/test/index.test.js
Labels: priority: p1, type: next

#13779 [Examples] Move with-apollo-and-redux to SSG
  examples/with-apollo-and-redux/components/Nav.js
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo-and-redux/lib/redux.js
  examples/with-apollo-and-redux/lib/useInterval.js
  examples/with-apollo-and-redux/package.json
  examples/with-apollo-and-redux/pages/_app.js
  examples/with-apollo-and-redux/pages/apollo.js
  examples/with-apollo-and-redux/pages/index.js
  examples/with-apollo-and-redux/pages/redux.js
  examples/with-apollo-and-redux/store.js
Labels: type: example

#13977 chore(create-next-app): remove example picker
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.js
Labels: type: create-next-app

#13988 Fix variable shadowing in blog-starter example
  examples/blog-starter/pages/posts/[slug].js
Labels: type: example

#13849 [Examples] Move api-routes-apollo-server-and-client-auth to SSG
  examples/api-routes-apollo-server-and-client-auth/.env
  examples/api-routes-apollo-server-and-client-auth/README.md
  examples/api-routes-apollo-server-and-client-auth/apollo/client.js
  examples/api-routes-apollo-server-and-client-auth/apollo/resolvers.js
  examples/api-routes-apollo-server-and-client-auth/apollo/type-defs.js
  examples/api-routes-apollo-server-and-client-auth/components/field.js
  examples/api-routes-apollo-server-and-client-auth/lib/auth-cookies.js
  examples/api-routes-apollo-server-and-client-auth/lib/auth.js
  examples/api-routes-apollo-server-and-client-auth/lib/user.js
  examples/api-routes-apollo-server-and-client-auth/next.config.js
  examples/api-routes-apollo-server-and-client-auth/package.json
  examples/api-routes-apollo-server-and-client-auth/pages/_app.js
  examples/api-routes-apollo-server-and-client-auth/pages/about.js
  examples/api-routes-apollo-server-and-client-auth/pages/index.js
  examples/api-routes-apollo-server-and-client-auth/pages/signin.js
  examples/api-routes-apollo-server-and-client-auth/pages/signout.js
  examples/api-routes-apollo-server-and-client-auth/pages/signup.js
Labels: type: example

#13854 [Examples] Move with-typescript-graphql to SSG
  examples/with-stitches/css/index.js
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/README.md
  examples/with-typescript-graphql/lib/apollo.ts
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/lib/schema.ts
  examples/with-typescript-graphql/lib/with-apollo.tsx
  examples/with-typescript-graphql/package.json
  examples/with-typescript-graphql/pages/_app.tsx
  examples/with-typescript-graphql/pages/about.tsx
  examples/with-typescript-graphql/pages/api/graphql.ts
  examples/with-typescript-graphql/pages/index.tsx
Labels: type: example

#13987 Prioritize webpack bootstrapping first
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/pages/_document.tsx
  test/integration/css/test/index.test.js
Labels: type: next

#13992 with-mux-video update
  examples/with-mux-video/components/upload-form.js
  examples/with-mux-video/package.json
  examples/with-mux-video/pages/api/asset/[id].js
Labels: type: example

#14035 [Examples] Update with-chakra-ui
  examples/with-chakra-ui/src/components/Container.js
  examples/with-chakra-ui/src/pages/_app.js
  examples/with-chakra-ui/src/pages/index.js
Labels: type: example

#13937 Use chunkhash instead of buildId for pages
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
  test/integration/build-output/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/custom-routes-catchall/test/index.test.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/env-config/test/index.test.js
  test/integration/error-load-fail/test/index.test.js
  test/integration/modern-mode/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/production/test/process-env.js
  test/integration/serverless-trace/test/index.test.js
  test/integration/serverless/test/index.test.js
  test/integration/typeof-window-replace/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next

#14040 Normalize asPath between SSR and CSR with basePath
  packages/next/build/webpack/loaders/next-serverless-loader.ts
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/gssp.js
  test/integration/basepath/server.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#14075 Revert "Add scroll restoration handling after render is done"
  packages/next/next-server/lib/router/router.ts
  test/integration/scroll-restoration/pages/another.js
  test/integration/scroll-restoration/pages/index.js
  test/integration/scroll-restoration/test/index.test.js
Labels: type: next

#13895 [Examples] remove getInitialProps from with-firebase-authentication
  examples/with-firebase-authentication/.env.local.example
  examples/with-firebase-authentication/README.md
  examples/with-firebase-authentication/components/FirebaseAuth.js
  examples/with-firebase-authentication/package.json
  examples/with-firebase-authentication/pages/_document.js
  examples/with-firebase-authentication/pages/api/getFood.js
  examples/with-firebase-authentication/pages/api/login.js
  examples/with-firebase-authentication/pages/api/logout.js
  examples/with-firebase-authentication/pages/auth.js
  examples/with-firebase-authentication/pages/example.js
  examples/with-firebase-authentication/pages/index.js
  examples/with-firebase-authentication/utils/auth/firebaseSessionHandler.js
  examples/with-firebase-authentication/utils/auth/hooks.js
  examples/with-firebase-authentication/utils/auth/logout.js
  examples/with-firebase-authentication/utils/auth/useUser.js
  examples/with-firebase-authentication/utils/auth/user.js
  examples/with-firebase-authentication/utils/middleware/commonMiddleware.js
  examples/with-firebase-authentication/utils/middleware/cookieSession.js
  examples/with-firebase-authentication/utils/middleware/cookieSessionRefresh.js
  examples/with-firebase-authentication/utils/pageWrappers/withAuthUser.js
  examples/with-firebase-authentication/utils/pageWrappers/withAuthUserInfo.js
Labels: type: example

#13898 [Example] remove getInitialProps from aws-amplify-typescript
  examples/with-aws-amplify-typescript/.gitignore
  examples/with-aws-amplify-typescript/README.md
  examples/with-aws-amplify-typescript/package.json
  examples/with-aws-amplify-typescript/pages/index.tsx
  examples/with-aws-amplify-typescript/pages/todo/[id].tsx
Labels: type: example

#14080 Fix route in custom-server-koa example
  examples/custom-server-koa/pages/index.js
Labels: type: example

#14095 Update AMP Optimizer to v2.5.2
  packages/next/package.json
  yarn.lock
Labels: type: next

#14091 Remove Head.rewind as it's no longer needed
  packages/next/client/head-manager.js
  packages/next/client/index.js
  packages/next/next-server/lib/head-manager-context.ts
  packages/next/next-server/lib/head.tsx
  packages/next/next-server/lib/side-effect.tsx
  packages/next/next-server/server/render.tsx
  test/integration/basic/test/error-recovery.js
Labels: type: next

#14098 [Examples] Fix using-preact dev mode issues
  examples/using-preact/next.config.js
Labels: type: example

#14100 Update with-userbase Example
  examples/with-userbase/README.md
  examples/with-userbase/package.json
  examples/with-userbase/vercel.json
Labels: type: example

#14084 Fixed Avatar.js component where Strapi CMS would fail when fetching an image
  examples/cms-strapi/components/avatar.js
Labels: type: example

#14107 Update deploy button in the userbase example
  examples/with-userbase/README.md
Labels: type: example

#14111 [Examples] Fix uuid import
  examples/api-routes-apollo-server-and-client-auth/lib/user.js
Labels: type: example

#14110 Use envLink for deploy buttons
  examples/cms-agilitycms/README.md
  examples/cms-buttercms/README.md
  examples/cms-contentful/README.md
  examples/cms-cosmic/README.md
  examples/cms-datocms/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-storyblok/README.md
  examples/cms-strapi/README.md
  examples/cms-takeshape/README.md
  examples/cms-wordpress/README.md
Labels: type: example

#14115 fix(example): needs TypeScript support
  examples/with-ant-design-pro-layout-less/package.json
Labels: type: example

#14147 [Docs] Update custom server docs
  docs/advanced-features/custom-server.md
Labels: type: documentation

#14014 [with-recoil example] use functional form of state updaters for simplicity
  examples/with-recoil/lib/recoil-atoms.js
Labels: type: example

#14158 Fix broken link
  examples/ssr-caching/README.md
Labels: type: example

#14130 Clean up AMP bundle removal
  packages/next/build/babel/plugins/next-page-config.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/render.tsx
  packages/next/types/misc.d.ts
Labels: type: next

#13896 [Example] remove getInitialProps from aws-amplify
  examples/with-aws-amplify-typescript/pages/todo/[id].tsx
  examples/with-aws-amplify/README.md
  examples/with-aws-amplify/package.json
  examples/with-aws-amplify/pages/index.js
  examples/with-aws-amplify/pages/todo/[id].js
Labels: type: example

#14173 update AMP Optimizer to v2.5.3
  packages/next/package.json
  yarn.lock
Labels: type: next

#14152 chore: add retry method to loadable types
  packages/next/next-server/lib/dynamic.tsx
Labels: type: next

#14183 Fix: validatePassword function logic [Fixes 14174 ]
  examples/api-routes-apollo-server-and-client-auth/apollo/resolvers.js
  examples/api-routes-apollo-server-and-client-auth/lib/user.js
Labels: type: example

#14176 use requirePage for /_document and /_app
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/next-server/server/load-components.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/static-paths-worker.ts
Labels: type: next

#14026 added graphcms
  docs/advanced-features/preview-mode.md
  docs/basic-features/data-fetching.md
  docs/basic-features/pages.md
  examples/blog-starter/README.md
  examples/cms-agilitycms/README.md
  examples/cms-buttercms/README.md
  examples/cms-contentful/README.md
  examples/cms-cosmic/README.md
  examples/cms-datocms/README.md
  examples/cms-graphcms/.env.local.example
  examples/cms-graphcms/README.md
  examples/cms-graphcms/components/alert.js
  examples/cms-graphcms/components/avatar.js
  examples/cms-graphcms/components/container.js
  examples/cms-graphcms/components/cover-image.js
  examples/cms-graphcms/components/date.js
  examples/cms-graphcms/components/footer.js
  examples/cms-graphcms/components/header.js
  examples/cms-graphcms/components/hero-post.js
  examples/cms-graphcms/components/intro.js
  examples/cms-graphcms/components/layout.js
  examples/cms-graphcms/components/meta.js
  examples/cms-graphcms/components/more-stories.js
  examples/cms-graphcms/components/post-body.js
  examples/cms-graphcms/components/post-header.js
  examples/cms-graphcms/components/post-preview.js
  examples/cms-graphcms/components/post-styles.module.css
  examples/cms-graphcms/components/post-title.js
  examples/cms-graphcms/components/section-separator.js
  examples/cms-graphcms/jsconfig.json
  examples/cms-graphcms/lib/constants.js
  examples/cms-graphcms/lib/graphcms.js
  examples/cms-graphcms/package.json
  examples/cms-graphcms/pages/_app.js
  examples/cms-graphcms/pages/_document.js
  examples/cms-graphcms/pages/api/exit-preview.js
  examples/cms-graphcms/pages/api/preview.js
  examples/cms-graphcms/pages/index.js
  examples/cms-graphcms/pages/posts/[slug].js
  examples/cms-graphcms/postcss.config.js
  examples/cms-graphcms/public/favicon/android-chrome-192x192.png
  examples/cms-graphcms/public/favicon/android-chrome-512x512.png
  examples/cms-graphcms/public/favicon/apple-touch-icon.png
  examples/cms-graphcms/public/favicon/browserconfig.xml
  examples/cms-graphcms/public/favicon/favicon-16x16.png
  examples/cms-graphcms/public/favicon/favicon-32x32.png
  examples/cms-graphcms/public/favicon/favicon.ico
  examples/cms-graphcms/public/favicon/mstile-150x150.png
  examples/cms-graphcms/public/favicon/safari-pinned-tab.svg
  examples/cms-graphcms/public/favicon/site.webmanifest
  examples/cms-graphcms/styles/index.css
  examples/cms-graphcms/tailwind.config.js
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-storyblok/README.md
  examples/cms-strapi/README.md
  examples/cms-takeshape/README.md
  examples/cms-wordpress/README.md
Labels: type: documentation, type: example

#14190 Update Data Fetching Method
  examples/with-cookie-auth-fauna/pages/profile.js
  examples/with-cookie-auth-fauna/utils/auth.js
Labels: type: example

#14205 Fix GraphQL Hooks Example Safari bug
  examples/with-graphql-hooks/package.json
Labels: type: example

#14217 switch to function component with-react-intl example
  examples/with-react-intl/pages/_app.js
Labels: type: example

#12801 Update routeKeys to handle non-word characters
  packages/next/build/index.ts
  packages/next/next-server/lib/router/utils/route-regex.ts
  packages/next/next-server/lib/router/utils/sorted-routes.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/pages/catchall-dash/[...hello-world].js
  test/integration/dynamic-routing/pages/dash/[hello-world].js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/getserversideprops/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/unit/page-route-sorter.test.js
Labels: kind: bug, type: next

#14231 Using cross-spawn for cross platform use in with-react-intl
  examples/with-react-intl/package.json
  examples/with-react-intl/scripts/extract.js
Labels: type: example

#14230 chore(examples): update next to latest on cms examples
  examples/cms-contentful/package.json
  examples/cms-prismic/package.json
Labels: type: example

#14247 Refactor moveExportedPages to use getPagePath
  packages/next/build/index.ts
  test/integration/amp-export-validation/test/index.test.js
Labels: type: next

#14210 Update preview-mode.md
  docs/advanced-features/preview-mode.md
Labels: type: documentation

#14255 (fix) Missing props key from getServerSideProps
  examples/with-cookie-auth-fauna/pages/profile.js
Labels: type: example

#14252 Render a helpful message for null GS(S)P return
  packages/next/lib/constants.ts
  packages/next/next-server/server/render.tsx
  test/integration/data-fetching-errors/pages/index.js
  test/integration/data-fetching-errors/test/index.test.js
Labels: type: next

#14254 WSL should be considered Windows for HMR option
  packages/next/build/webpack/config/blocks/base.ts
Labels: type: next

#14268 Prepare for webpack 5 upgrade
  packages/next/build/compiler.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/plugins/next-esm-plugin.ts
Labels: type: next

#14273 Add Fast Refresh Documentation
  docs/basic-features/fast-refresh.md
  docs/manifest.json
Labels: type: documentation

#14293 Add `c=1` to deploy buttons on CMS Examples
  examples/blog-starter-typescript/README.md
  examples/blog-starter/README.md
  examples/cms-agilitycms/README.md
  examples/cms-buttercms/README.md
  examples/cms-contentful/README.md
  examples/cms-cosmic/README.md
  examples/cms-datocms/README.md
  examples/cms-graphcms/README.md
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-storyblok/README.md
  examples/cms-strapi/README.md
  examples/cms-takeshape/README.md
  examples/cms-wordpress/README.md
  examples/with-userbase/README.md
Labels: type: example

#14296 fix typo in fast refresh documentation
  docs/basic-features/fast-refresh.md
Labels: type: documentation

#14262 fix csp errors in with-strict-csp-app example
  examples/with-strict-csp/pages/_document.js
Labels: type: example

#14305 docs: update links to docs site
  docs/upgrading.md
  errors/api-routes-static-export.md
  errors/build-dir-not-writeable.md
  errors/can-not-output-to-public.md
  errors/conflicting-public-file-page.md
  errors/export-path-mismatch.md
  errors/get-initial-props-as-an-instance-method.md
  errors/incompatible-href-as.md
  errors/invalid-href-passed.md
  errors/invalid-page-config.md
  errors/next-head-count-missing.md
  errors/opt-out-auto-static-optimization.md
  errors/opt-out-automatic-prerendering.md
  errors/static-dir-deprecated.md
  examples/amp-first/pages/index.js
  examples/with-framer-motion/README.md
  examples/with-google-analytics-amp/README.md
  examples/with-sentry/README.md
  examples/with-sentry/next.config.js
  examples/with-styled-components/README.md
  examples/with-zones/README.md
  packages/create-next-app/README.md
  packages/next/build/utils.ts
  packages/next/client/dev/prerender-indicator.js
Labels: type: create-next-app, type: documentation, type: example, type: next

#14283 De-experimentalize basePath config
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/basepath/next.config.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#14233 Update Algolia's Instant Search Example
  examples/with-algolia-react-instantsearch/components/app.js
  examples/with-algolia-react-instantsearch/components/instantsearch.js
  examples/with-algolia-react-instantsearch/package.json
  examples/with-algolia-react-instantsearch/pages/index.js
Labels: type: example

#14376 Correct /_next/data link for GS(S)P with basePath
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/hello.js
  test/integration/basepath/pages/index.js
  test/integration/basepath/test/index.test.js
Labels: kind: bug, type: next

#13887 [Examples] Remove getInitialProps from with-cookie-auth-fauna
  examples/with-cookie-auth-fauna/.env
  examples/with-cookie-auth-fauna/.env.local.example
  examples/with-cookie-auth-fauna/README.md
  examples/with-cookie-auth-fauna/next.config.js
  examples/with-cookie-auth-fauna/package.json
  examples/with-cookie-auth-fauna/pages/profile.js
  examples/with-cookie-auth-fauna/utils/auth.js
Labels: type: example

#14364 Update graphql-hooks with memcache
  examples/with-graphql-hooks/package.json
Labels: type: example

#14279 Update filename generation for client-side compilation
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/nextjs-ssr-module-cache.ts
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/client/page-loader.js
  packages/next/next-server/lib/constants.ts
  packages/next/next-server/server/get-page-files.ts
  packages/next/next-server/server/get-route-from-entrypoint.ts
  packages/next/next-server/server/next-server.ts
  packages/next/pages/_document.tsx
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
  test/integration/api-support/test/index.test.js
  test/integration/basepath/test/index.test.js
  test/integration/build-output/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/config-resolve-alias/test/index.test.js
  test/integration/error-load-fail/test/index.test.js
  test/integration/filesystempublicroutes/test/index.test.js
  test/integration/ondemand/test/index.test.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/trailing-slash-dist/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next

#13629 Add A/B Tests and Feature Flags example
  examples/cms-agilitycms/README.md
  examples/cms-cosmic/README.md
  examples/cms-graphcms/README.md
  examples/with-tesfy/README.md
  examples/with-tesfy/components/nav.js
  examples/with-tesfy/package.json
  examples/with-tesfy/pages/_app.js
  examples/with-tesfy/pages/features.js
  examples/with-tesfy/pages/index.js
  examples/with-tesfy/utils/getDatafile.js
  examples/with-tesfy/utils/getTesfyProps.js
  examples/with-tesfy/utils/getUserId.js
  examples/with-tesfy/utils/index.js
Labels: type: example

#14374 Add example for proxying upstream with custom routes
  examples/custom-routes-proxying/README.md
  examples/custom-routes-proxying/next.config.js
  examples/custom-routes-proxying/package.json
  examples/custom-routes-proxying/pages/about.js
  examples/custom-routes-proxying/pages/hello/[slug].js
  examples/custom-routes-proxying/pages/index.js
Labels: type: example

#14400 Fix prefetch and some other issues with optional catch all
  packages/next/client/page-loader.js
  packages/next/next-server/lib/router/utils/route-regex.ts
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/catchall-optional/[[...slug]].js
  test/integration/prerender/pages/index.js
  test/integration/prerender/test/index.test.js
Labels: type: next

#14307 open click-to-open editor in foreground for windows
  packages/react-dev-overlay/src/internal/helpers/launchEditor.ts
Labels: type: next

#14448 Do not remove no-FOUC styles too early
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/client/dev/fouc.js
Labels: type: next

#14457 Shave a few bytes off the bootstrap code
  packages/next/client/next.js
Labels: type: next

#14456 Update route regex for optional catch-all parameters in named regexes
  packages/next/next-server/lib/router/utils/route-regex.ts
  test/integration/prerender/test/index.test.js
Labels: type: next

#14413 Remove buildId from server-side files
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/next-server/server/get-route-from-entrypoint.ts
  packages/next/next-server/server/next-server.ts
  packages/next/server/hot-reloader.ts
  packages/next/server/on-demand-entry-handler.ts
  test/integration/404-page-app/next.config.js
  test/integration/404-page-app/pages/404.js
  test/integration/404-page-app/pages/_app.js
  test/integration/404-page-app/pages/err.js
  test/integration/404-page-app/pages/index.js
  test/integration/404-page-app/test/index.test.js
  test/integration/404-page-custom-error/test/index.test.js
  test/integration/404-page/test/index.test.js
  test/integration/amphtml-ssg/test/index.test.js
  test/integration/amphtml/pages/nav.js
  test/integration/amphtml/test/index.test.js
  test/integration/chunking/next.config.js
  test/integration/chunking/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/externalize-next-server/test/index.test.js
  test/integration/non-next-dist-exclude/test/index.test.js
  test/integration/prerender-no-revalidate/test/index.test.js
  test/integration/prerender/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/serverless-trace/test/index.test.js
  test/integration/serverless/test/index.test.js
  test/integration/static-404/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next

#12608 Update to rely on dynamic param values from proxy
  packages/next/build/webpack/loaders/next-serverless-loader.ts
Labels: type: next

#14480 [Examples] Use the vercel CLI for with-zones
  examples/with-zones/README.md
Labels: type: example

#13333 Normalize trailing slashes
  docs/api-reference/next.config.js/trailing-slash.md
  docs/manifest.json
  packages/next/build/webpack-config.ts
  packages/next/client/link.tsx
  packages/next/lib/load-custom-routes.ts
  packages/next/next-server/lib/router/normalize-trailing-slash.ts
  packages/next/next-server/lib/router/router.ts
  packages/next/next-server/server/config.ts
  packages/next/next-server/server/next-server.ts
  test/integration/amphtml-ssg/test/index.test.js
  test/integration/api-catch-all/test/index.test.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/serverless-trace/test/index.test.js
  test/integration/serverless/test/index.test.js
  test/integration/trailing-slashes/next.config.js
  test/integration/trailing-slashes/pages/404.js
  test/integration/trailing-slashes/pages/about.js
  test/integration/trailing-slashes/pages/catch-all/[...slug].js
  test/integration/trailing-slashes/pages/index.js
  test/integration/trailing-slashes/pages/linker.js
  test/integration/trailing-slashes/pages/user/index.js
  test/integration/trailing-slashes/test/index.test.js
Labels: type: documentation, type: next

#14475 Ensure dev overlay uses basePath for requests
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  packages/react-dev-overlay/src/internal/container/RuntimeError.tsx
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  test/integration/basepath/pages/hello.js
  test/integration/basepath/test/index.test.js
Labels: type: next

#14498 Webpack 5 build compat
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
Labels: type: next

#14503 Remove deprecated plugin in favor of the option
  packages/next/build/webpack-config.ts
Labels: type: next

#14511 Handle rendering next/head outside of Next.js
  packages/next/next-server/lib/side-effect.tsx
  test/unit/next-head-rendering.test.js
Labels: type: next

#14507 Remove unused package in with-apollo-and-redux example
  examples/with-apollo-and-redux/package.json
Labels: type: example

#14513 fixing the docker multi-stage build failures
  examples/with-docker/Dockerfile.multistage
Labels: type: example

#14285 Warn/revert custom devtool in development mode
  errors/improper-devtool.md
  packages/next/build/webpack-config.ts
  test/integration/config-devtool-dev/next.config.js
  test/integration/config-devtool-dev/pages/index.js
  test/integration/config-devtool-dev/test/index.test.js
Labels: type: documentation, type: next

#14528 Update index.js
  examples/with-firebase-authentication/pages/index.js
Labels: type: example

#14530 Add 'with-next-auth' example
  examples/with-cookie-auth/README.md
  examples/with-next-auth/.env.development
  examples/with-next-auth/.env.local.example
  examples/with-next-auth/README.md
  examples/with-next-auth/components/footer.js
  examples/with-next-auth/components/footer.module.css
  examples/with-next-auth/components/nav.js
  examples/with-next-auth/components/nav.module.css
  examples/with-next-auth/package.json
  examples/with-next-auth/pages/_app.js
  examples/with-next-auth/pages/api/auth/[...nextauth].js
  examples/with-next-auth/pages/index.js
  examples/with-next-auth/styles.css
Labels: type: example

#14535 Avoid adding basePath when it's not needed
  packages/next/client/index.js
  packages/next/next-server/lib/router/router.ts
  test/integration/basepath/pages/[slug].js
  test/integration/basepath/test/index.test.js
Labels: type: next

#14398 Add [with-storybook-typescript] example
  examples/with-storybook-typescript/.storybook/addons.js
  examples/with-storybook-typescript/.storybook/config.js
  examples/with-storybook-typescript/.storybook/main.js
  examples/with-storybook-typescript/README.md
  examples/with-storybook-typescript/components/index.tsx
  examples/with-storybook-typescript/next-env.d.ts
  examples/with-storybook-typescript/package.json
  examples/with-storybook-typescript/pages/index.tsx
  examples/with-storybook-typescript/stories/button.stories.tsx
  examples/with-storybook-typescript/stories/helloWorld.stories.tsx
  examples/with-storybook-typescript/stories/welcome.stories.tsx
  examples/with-storybook-typescript/tsconfig.json
Labels: type: example

#14442 Fix native-url path parsing bug
  packages/next/package.json
  test/integration/dynamic-routing/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
  yarn.lock
Labels: type: next

#14515 [Docs] Focus on useRouter
  docs/advanced-features/custom-server.md
  docs/api-reference/next/router.md
  docs/routing/imperatively.md
  docs/routing/shallow-routing.md
Labels: type: documentation

#14527 Use entry option instead of custom make hook
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/unlink-removed-pages-plugin.ts
  packages/next/compiled/webpack-dev-middleware/LICENSE
  packages/next/compiled/webpack-dev-middleware/index.js
  packages/next/compiled/webpack-dev-middleware/package.json
  packages/next/package.json
  packages/next/server/hot-reloader.ts
  packages/next/server/next-dev-server.ts
  packages/next/server/on-demand-entry-handler.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  packages/react-dev-overlay/src/middleware.ts
  test/integration/ondemand/test/index.test.js
  yarn.lock
Labels: type: next
