Repository vercel/next.js, pull requests merged in 2021-12, with the labels that each got.

#32010 Resolve streaming data for flight requests
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#32005 Updated Maedahs name in label gen config
  .github/labeler.json
Labels: created-by: Next.js docs team

#32012 fix(Link): Do not ignore onMouseEnter prop with absolute href
  packages/next/client/link.tsx
  test/integration/client-navigation/pages/absolute-url.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#31919 Add note to docs about `sharp` memory usage on default Linux setup
  docs/deployment.md
Labels: area: documentation

#31995 add experimental.swcFileReading flag to disable file reading in swc
  packages/next/build/swc/index.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#32026 Fix copying swc binary for isolated tests locally
  test/lib/create-next-install.js
Labels: created-by: Next.js team

#32057 Lock node version for CI
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#32025 Fix middleware types with skipLibCheck: false
  packages/next/server/web/spec-extension/response.ts
  packages/next/server/web/types.ts
  test/integration/middleware-typescript/test/index.test.js
  test/production/middleware-typescript/app/next.config.js
  test/production/middleware-typescript/app/pages/interface/[id]/index.tsx
  test/production/middleware-typescript/app/pages/interface/_middleware.ts
  test/production/middleware-typescript/app/pages/interface/static.tsx
  test/production/middleware-typescript/app/pages/redirects/_middleware.ts
  test/production/middleware-typescript/app/pages/redirects/index.tsx
  test/production/middleware-typescript/app/pages/redirects/new-home.tsx
  test/production/middleware-typescript/app/pages/redirects/old-home.tsx
  test/production/middleware-typescript/app/pages/responses/_middleware.ts
  test/production/middleware-typescript/app/pages/responses/index.tsx
  test/production/middleware-typescript/app/pages/rewrites/_middleware.ts
  test/production/middleware-typescript/app/pages/rewrites/a.tsx
  test/production/middleware-typescript/app/pages/rewrites/b.tsx
  test/production/middleware-typescript/app/tsconfig.json
  test/production/middleware-typescript/test/index.test.ts
Labels: type: next, created-by: Next.js team

#32013 Include page for export errors for easier debugging
  packages/next/export/index.ts
  test/integration/auto-export-query-error/test/index.test.js
  test/integration/handles-export-errors/pages/blog/[slug].js
  test/integration/handles-export-errors/test/index.test.js
Labels: type: next, created-by: Next.js team

#32062 grammatical error in alert.js
  examples/cms-strapi/components/alert.js
Labels: area: examples

#32059 Make CI build cache key more specific
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#32053 avoid retaining webpack config too long
  packages/next/build/index.ts
Labels: type: next, created-by: Next.js team

#32071 docs(Testing): Remove duplicate link
  docs/testing.md
Labels: area: documentation

#32042 Remove "yarn jest" from Next.js repo scripts
  package.json
Labels: created-by: Next.js team

#32049 Skip warnings for Image not rendered to the dom
  packages/next/client/image.tsx
Labels: type: next

#32077 Improve exported root definitions
  packages/next/app.d.ts
  packages/next/client.d.ts
  packages/next/config.d.ts
  packages/next/document.d.ts
  packages/next/dynamic.d.ts
  packages/next/error.d.ts
  packages/next/head.d.ts
  packages/next/image.d.ts
  packages/next/jest.d.ts
  packages/next/link.d.ts
  packages/next/router.d.ts
  packages/next/script.d.ts
Labels: type: next

#31935 Fix running server with Polyfilled fetch
  packages/next/server/next-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/router/utils/relativize-url.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/integration/middleware/core/pages/interface/[id]/_middleware.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/test/index.test.js
  test/unit/web-runtime/next-url.test.ts
Labels: type: next

#32092 Ensure invalid URLs respond with 400 correctly
  packages/next/build/swc/index.js
  packages/next/server/next-server.ts
  test/integration/production/test/security.js
Labels: type: next, created-by: Next.js team

#32098 Remove future.strictPostcssConfiguration config
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#32100 Revert "Fix running server with Polyfilled fetch (#31935)"
  packages/next/server/next-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/router/utils/relativize-url.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/integration/middleware/core/pages/interface/[id]/_middleware.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/test/index.test.js
  test/unit/web-runtime/next-url.test.ts
Labels: type: next, created-by: Next.js team

#32117 Fix document type import path
  packages/next/document.d.ts
  test/integration/typescript/pages/_app.tsx
  test/integration/typescript/pages/_document.tsx
Labels: type: next, created-by: Next.js team

#32134 Ensure conf type for createServer is not changed
  packages/next/server/next-server.ts
  test/production/typescript-basic.test.ts
Labels: type: next, created-by: Next.js team

#32135 Fixed Yarn and NPM `dev` swapped arguments
  docs/advanced-features/debugging.md
Labels: area: documentation

#32154 Create Base Server
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#32163 Removed misleading id's from headings
  docs/advanced-features/using-mdx.md
Labels: area: documentation

#32182 fix cms-sanity example
  examples/cms-sanity/lib/queries.js
Labels: area: examples

#32184 Revert support for render prop in `<Main />`
  packages/next/pages/_document.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/utils.ts
  test/integration/document-functional-render-prop/app/lib/context.js
  test/integration/document-functional-render-prop/app/next.config.js
  test/integration/document-functional-render-prop/app/package.json
  test/integration/document-functional-render-prop/app/pages/_document.js
  test/integration/document-functional-render-prop/app/pages/index.js
  test/integration/document-functional-render-prop/tests/index.test.js
Labels: type: next, created-by: Chrome Aurora

#32002 Details about starting dev server Next.js docs.
  docs/getting-started.md
Labels: area: documentation, created-by: Next.js docs team

#32179 Refactor FS references in the Base Server
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/image-optimizer.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#32022 telemetry: collect feature usage for linting during build
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#32191 Chore/load bindings improvements
  .github/workflows/build_test_deploy.yml
  packages/next/build/swc/index.js
  scripts/setup-wasm.mjs
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#14033 fix(NODE_ENV): Warn when launching start or build on development
  packages/next/bin/next.ts
  test/integration/non-standard-node-env-warning/test/index.test.js
Labels: type: next

#32164 Fix error page doc for no server import in page
  errors/no-server-import-in-page.md
Labels: area: documentation, created-by: Next.js docs team

#32248 Ensure wasm dev artifact uploads even on cache hit
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#32251 Fix crash in no-page-custom-font eslint rule when default export is unnamed.
  packages/eslint-plugin-next/lib/rules/no-page-custom-font.js
  test/unit/eslint-plugin-next/no-page-custom-font.test.ts
Labels: type: next

#32259 Ensure test wasm does not fail for docs only change
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#32255 Add docs for leveraging outputStandalone config
  docs/advanced-features/output-file-tracing.md
  packages/next/server/config.ts
Labels: area: documentation, type: next, created-by: Next.js team

#21915 Replace raw-body with get-stream and bytes
  packages/next/package.json
  packages/next/server/api-utils.ts
  yarn.lock
Labels: type: next

#32210 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/auto_cjs/mod.rs
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/src/top_level_binding_collector.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/attribute-generation-classname-rewriting/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/attribute-generation-modes/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/class/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/comments/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/component-attribute/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/css-selector-after-pseudo/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/css-tag-same-file/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/different-jsx-ids/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/dynamic-element-class/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/dynamic-element/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/expressions/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/external-nested-scope/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/external-stylesheet/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/fragment/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/global-child-selector/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/global-redundant/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/global/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-30570/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/mixed-global-scoped/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/multiple-jsx/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/non-styled-jsx-style/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/number-after-placeholder/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/one-off-global-selectors/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/stateless/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/styles/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/too-many/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-escape-1/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-escape-2/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-1-as-property/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-2-as-part-of-value/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-3-as-value/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-4-as-part-of-value-in-multiple/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-5-values-of-multiple-properties/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-complex-selector/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-complex-selector/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-global/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-global/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-media-query/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-media-query/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-normal/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-normal/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/whitespace/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/core/tests/loader/css-hygiene-1/output.js
  packages/next-swc/crates/core/tests/loader/example/output.js
  packages/next-swc/crates/core/tests/loader/front/attr-1/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/wasm/Cargo.toml
  test/integration/css-customization/test/index.test.js
Labels: type: next, created-by: Next.js team

#32247 Simplify custom `Writable`
  packages/next/server/render.tsx
Labels: type: next, created-by: Chrome Aurora

#32297 Fix styled-jsx tests from swc bump
  test/integration/client-navigation/test/rendering.js
Labels: created-by: Next.js team

#32253 Add shake exports transform to next-swc
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/shake_exports.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/shake-exports/keep-default/input.js
  packages/next-swc/crates/core/tests/fixture/shake-exports/keep-default/output.js
  packages/next-swc/crates/core/tests/fixture/shake-exports/most-usecases/input.js
  packages/next-swc/crates/core/tests/fixture/shake-exports/most-usecases/output.js
  packages/next-swc/crates/core/tests/full.rs
Labels: type: next, created-by: Next.js team

#32305 Revert "Replace raw-body with get-stream and bytes"
  packages/next/package.json
  packages/next/server/api-utils.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#32306 Document staticPageGenerationTimeout config
  docs/basic-features/data-fetching.md
Labels: area: documentation, created-by: Next.js team

#32300 Re-open chore(deps): upgrade browserslist
  package.json
  packages/next/compiled/postcss-safe-parser/safe-parse.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#32303 Fix RSC link navigation
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#32326 Update Next.js version in api rate limits example
  examples/api-routes-rate-limit/package.json
Labels: area: examples

#32327 Update AMP validation tests
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml/pages/another-amp.js
  test/integration/amphtml/pages/var-before-export.js
  yarn.lock
Labels: created-by: Next.js team

#32310 Compile escape-string-regexp
  packages/next/compiled/escape-string-regexp/index.js
  packages/next/taskfile.js
Labels: type: next

#32337 Update only fetch all tags for publish commits
  .github/workflows/build_test_deploy.yml
  scripts/fetch-tags.mjs
Labels: created-by: Next.js team

#32339 Update example for Tailwind v3
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/pages/_app.js
  examples/with-tailwindcss/styles/globals.css
  examples/with-tailwindcss/tailwind.config.js
Labels: area: examples

#32351 Fix flakey next/link react streaming test
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: created-by: Next.js team

#32342 Add unstable_useRefreshRoot
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/client/rsc.ts
  packages/next/rsc.d.ts
  packages/next/rsc.js
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#32365 Upate swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#32364 fix unstable_useRefreshRoot typing
  packages/next/rsc.d.ts
Labels: type: next, created-by: Next.js team

#32358 fix(next-swc/styled-jsx): Fix `nth`
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-nth-1/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-nth-1/output.js
Labels: type: next, created-by: Next.js team

#32376 test: add wait timeout between clicks for rsc link
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: created-by: Next.js team

#30394 Change using-preact example dependencies and docs
  errors/webpack5.md
  examples/using-preact/README.md
  examples/using-preact/package.json
Labels: area: examples, area: documentation

#32391 chore: remove duplicate example
  examples/with-typescript-eslint-jest/.babelrc
  examples/with-typescript-eslint-jest/.eslintignore
  examples/with-typescript-eslint-jest/.eslintrc.json
  examples/with-typescript-eslint-jest/.gitignore
  examples/with-typescript-eslint-jest/.prettierignore
  examples/with-typescript-eslint-jest/.prettierrc
  examples/with-typescript-eslint-jest/README.md
  examples/with-typescript-eslint-jest/jest.config.js
  examples/with-typescript-eslint-jest/next-env.d.ts
  examples/with-typescript-eslint-jest/package.json
  examples/with-typescript-eslint-jest/pages/api/hello.ts
  examples/with-typescript-eslint-jest/pages/index.tsx
  examples/with-typescript-eslint-jest/public/favicon.ico
  examples/with-typescript-eslint-jest/public/vercel.svg
  examples/with-typescript-eslint-jest/test/__mocks__/fileMock.js
  examples/with-typescript-eslint-jest/test/pages/__snapshots__/index.test.tsx.snap
  examples/with-typescript-eslint-jest/test/pages/index.test.tsx
  examples/with-typescript-eslint-jest/test/testUtils.ts
  examples/with-typescript-eslint-jest/tsconfig.json
Labels: area: examples

#32427 Updated link to Local Images
  docs/api-reference/next/image.md
Labels: area: documentation

#32343 Rename experimental vital hook
  packages/next/client/vitals.ts
  packages/next/taskfile.js
  packages/next/vitals.d.ts
  packages/next/vitals.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
Labels: type: next, created-by: Next.js team

#32256 Updated to working example
  examples/blog/package.json
Labels: area: examples

#32299 Update Dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples

#32330 Inline server data response with partial hydration
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/components/partial-hydration-counter.client.js
  test/integration/react-streaming-and-server-components/app/package.json
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#32258 Update docker image to leverage output traces
  examples/with-docker/Dockerfile
  examples/with-docker/next.config.js
Labels: area: examples, created-by: Next.js team

#32383 Update `jsx` transform of swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#32398 chore(blog-starter): update tailwindcss to v3
  examples/blog-starter/README.md
  examples/blog-starter/package.json
  examples/blog-starter/styles/index.css
  examples/blog-starter/tailwind.config.js
Labels: area: examples

#32368 Fix running server with Polyfilled fetch
  packages/next/server/base-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/router/utils/relativize-url.ts
  test/integration/custom-server/server.js
  test/integration/custom-server/test/index.test.js
  test/integration/middleware/core/pages/interface/[id]/_middleware.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/test/index.test.js
  test/unit/web-runtime/next-url.test.ts
Labels: type: next

#32440 Fix dynamic routes with pages under index folder
  packages/next/export/worker.ts
  packages/next/server/denormalize-page-path.ts
  packages/next/server/normalize-page-path.ts
  packages/next/shared/lib/router/utils/get-route-from-asset-path.ts
  test/integration/dynamic-routing/pages/index/[...slug].js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: next, created-by: Next.js team

#32345 Fixes #32338 missing Document components trigger an error for production builds
  packages/next/server/render.tsx
Labels: type: next

#32473 Update react version to rc in react-18 doc
  docs/advanced-features/react-18.md
Labels: area: documentation, created-by: Next.js team

#32471 Fixes for inline embedding data in the web runtime
  packages/next/server/render.tsx
  packages/next/server/web/utils.ts
Labels: type: next, created-by: Next.js team

#32472 Add vitals and rsc to npm files
  packages/next/package.json
Labels: type: next, created-by: Next.js team

#32476 test: add timeout for dev entries to avoid hard navigation
  test/integration/react-streaming-and-server-components/app/next.config.js
Labels: created-by: Next.js team

#32481 doc: update remark import
  docs/migrating/from-gatsby.md
Labels: area: documentation

#32267 Update to filter loader specific files from traces
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/lib/a/api.js
  test/integration/jsconfig-paths/node_modules/mypackage/data.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/production-swcminify/pages/another.js
  test/integration/production-swcminify/pages/index.js
  test/integration/production-swcminify/test/index.test.js
  test/integration/production/pages/index.js
  test/integration/production/test/index.test.js
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#32506 Fix server data cache key
  packages/next/client/index.tsx
Labels: type: next, created-by: Next.js team

#32522 Ensure image-optimizer is traced for standalone mode
  packages/next/build/index.ts
  packages/next/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#32487 Remove unused classnames dependency from react-dev-overlay
  packages/react-dev-overlay/package.json
  yarn.lock
Labels: type: next

#32488 Added docs issue template
  .github/ISSUE_TEMPLATE/4.docs_request.yml
Labels: created-by: Next.js docs team

#32254 next-swc: Emit errors and add tests to next-ssg
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-paths/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-paths/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-paths/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-props/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-props/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-props/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/static-paths-after-server-side/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-paths-after-server-side/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-paths-after-server-side/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/static-props-after-server-side/input.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-props-after-server-side/output.js
  packages/next-swc/crates/core/tests/errors/next-ssg/static-props-after-server-side/output.stderr
Labels: type: next

#31945 Include mention of the onError Prop for next/script
  docs/basic-features/script.md
  yarn.lock
Labels: area: documentation

#31589 fix: setup prismic image host
  examples/cms-prismic/next.config.js
Labels: area: examples

#31886 Include message body in redirect responses
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/server/base-server.ts
  packages/next/server/web/spec-compliant/response.ts
  packages/next/server/web/spec-extension/response.ts
  test/development/basic-basepath/misc.test.ts
  test/development/basic/misc.test.ts
  test/e2e/basepath.test.ts
  test/integration/api-catch-all/test/index.test.js
  test/integration/custom-routes-i18n/test/index.test.js
  test/integration/gssp-redirect-base-path/test/index.test.js
Labels: type: next

#32076 fix: add .web.jsx extension support in react-native-web example
  examples/with-react-native-web/next.config.js
Labels: area: examples

#28941 Prevent NEXT_PHASE env change in workers
  packages/next/build/index.ts
Labels: type: next

#31777 Update 14-alpine to 16-alpine
  examples/with-docker/Dockerfile
Labels: area: examples

#32289 Check stack property for page export exceptions
  packages/next/export/worker.ts
  test/integration/handles-export-errors/pages/custom-error.js
  test/integration/handles-export-errors/test/index.test.js
Labels: type: next

#32550 Document basePath redirect field for getStaticProps/getServerSideProps
  docs/basic-features/data-fetching.md
Labels: area: documentation, created-by: Next.js team

#32490 fix(next-swc/styled-jsx): Fix interpolation in media query
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/styled_jsx/mod.rs
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-31562-interpolation-in-mdea/input.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-31562-interpolation-in-mdea/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/src/lib.rs
Labels: type: next, created-by: Next.js team

#32566 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/loader/issue-32553/input.js
  packages/next-swc/crates/core/tests/loader/issue-32553/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#32579 chore(blog-starter-typescript): update tailwindcss to v3
  examples/blog-starter-typescript/README.md
  examples/blog-starter-typescript/components/alert.tsx
  examples/blog-starter-typescript/components/cover-image.tsx
  examples/blog-starter-typescript/components/footer.tsx
  examples/blog-starter-typescript/components/hero-post.tsx
  examples/blog-starter-typescript/components/intro.tsx
  examples/blog-starter-typescript/components/more-stories.tsx
  examples/blog-starter-typescript/components/post-title.tsx
  examples/blog-starter-typescript/components/section-separator.tsx
  examples/blog-starter-typescript/package.json
  examples/blog-starter-typescript/styles/index.css
  examples/blog-starter-typescript/tailwind.config.js
Labels: area: examples

#32581 Fix typo in documentation
  docs/migrating/from-create-react-app.md
Labels: area: documentation

#31464 Add turbo / improve Rust build caching in GitHub Actions
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  package.json
  packages/next-swc/package.json
  packages/next/package.json
  yarn.lock
Labels: type: next

#32602 Fix ReadableStream.pipeTo() being unimplemented in the web runtime
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#32609 Typo fix in comments
  examples/with-algolia-react-instantsearch/components/instantsearch.js
Labels: area: examples

#32577 Ensure AMP optimizer is only excluded from trace when not used
  packages/next/build/index.ts
  test/integration/amphtml/pages/amp-ssr.js
  test/integration/amphtml/test/index.test.js
Labels: type: next, created-by: Next.js team

#32613 Upgraded next-env dependencies
  examples/with-mysql/package.json
  packages/next-env/package.json
  yarn.lock
Labels: area: examples, type: next

#28866 Feat/14701 full reload notification
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/bus.ts
  packages/react-dev-overlay/src/internal/container/FullRefreshWarning.tsx
  packages/react-dev-overlay/src/internal/styles/ComponentStyles.tsx
  test/integration/custom-server/test/index.test.js
Labels: type: next

#32574 Add moduleDirectories for TS Jest Config
  docs/testing.md
Labels: area: documentation

#32604 Move fs API for inc cache to node server
  packages/next/server/base-server.ts
  packages/next/server/incremental-cache.ts
  packages/next/server/next-server.ts
  packages/next/shared/lib/utils.ts
Labels: type: next, created-by: Next.js team

#32594 Add options to defaultGetInitialProps and upgrade styled-jsx-with-csp example
  examples/styled-jsx-with-csp/package.json
  examples/styled-jsx-with-csp/pages/_document.jsx
  packages/next/package.json
  packages/next/server/render.tsx
  yarn.lock
Labels: area: examples, type: next, created-by: Next.js team

#32620 Move some img tests out of serverless mode
  test/integration/image-component/default/test/index.test.js
Labels: created-by: Next.js team

#32621 Disable turbo for build-native temporarily
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#32623 Fix `style.filter` on image with `placeholder=blur`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/style-filter.js
  test/integration/image-component/default/style.module.css
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#32637 Fix writing strings to the writable stream writer
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#32659 fix(next/jest): do not watch `.next` folder
  packages/next/build/jest/jest.ts
Labels: type: next

#31341 Added section about router methods returning a promise
  docs/api-reference/next/router.md
Labels: area: documentation, created-by: Next.js docs team

#32633 This example does not show how to use Jest with TypeScript
  examples/with-jest/README.md
Labels: area: examples

#32664 chore: Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#32626 Add test case for middleware rewrite to fallback: true page
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/rewrites/fallback-true-blog/[slug].js
  test/integration/middleware/core/test/index.test.js
Labels: created-by: Next.js team

#32619 Upgrade react 18 to rc, drop prerelease warning
  package.json
  packages/next/build/webpack-config.ts
  test/integration/react-18/test/index.test.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#31940 next-swc: styled-jsx error checking and reporting updated (invalid-styled-jsx-children.md)
  errors/invalid-styled-jsx-children.md
  errors/manifest.json
  packages/next-swc/crates/core/src/styled_jsx/mod.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/errors/styled-jsx/no-child/input.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/no-child/output.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/no-child/output.stderr
  packages/next-swc/crates/core/tests/errors/styled-jsx/two-children/input.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/two-children/output.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/two-children/output.stderr
  packages/next-swc/crates/core/tests/errors/styled-jsx/wrong-child-type/input.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/wrong-child-type/output.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/wrong-child-type/output.stderr
  packages/next-swc/crates/core/tests/errors/styled-jsx/wrong-jsx-expression-type/input.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/wrong-jsx-expression-type/output.js
  packages/next-swc/crates/core/tests/errors/styled-jsx/wrong-jsx-expression-type/output.stderr
Labels: area: documentation, type: next

#32680 Fix style reset on image with `placeholder=blur`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/style-filter.js
  test/integration/image-component/default/style.module.css
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#32542 Added example for setting cookie before redirect in middleware
  docs/api-reference/next/server.md
Labels: area: documentation, created-by: Next.js docs team

#32706 Updates with-supertokens example: Fixes init race condition
  examples/with-supertokens/pages/_app.js
  examples/with-supertokens/pages/index.js
Labels: area: examples

#32089 web runtime: add AbortController & AbortSignal
  docs/api-reference/edge-runtime.md
  packages/next/compiled/abort-controller/LICENSE
  packages/next/compiled/abort-controller/abort-controller.js
  packages/next/compiled/abort-controller/package.json
  packages/next/server/web/sandbox/context.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Labels: area: documentation, type: next

#32688 Don't swallow test failures caused by POSIX signals
  jest.config.js
  packages/next/server/config.ts
  run-tests.js
  test/integration/amphtml/pages/invalid-amp.js
  test/integration/amphtml/test/index.test.js
  test/integration/production-start-no-build/test/index.test.js
  test/lib/next-test-utils.js
  test/unit/isolated/config.test.ts
Labels: type: next

#32624 Escape from next head in rsc _error page
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/client/rsc/index.ts
  packages/next/client/rsc/refresh.ts
  packages/next/pages/_error.tsx
  packages/next/rsc.d.ts
  packages/next/rsc.js
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#32687 fix popstate detection for safari when basepath is present
  .github/workflows/build_test_deploy.yml
  packages/next/shared/lib/router/router.ts
  test/e2e/basepath.test.ts
  test/e2e/basepath/pages/external-and-back.js
Labels: type: next

#32712 Ensure device IP is used for safari browserstack test
  test/lib/next-test-utils.js
Labels: created-by: Next.js team

#32710 Bust cache for RSC in each render
  packages/next/client/index.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/router/router.ts
Labels: type: next, created-by: Next.js team

#32705 chore: convert Jest examples to TypeScript
  docs/testing.md
  examples/with-jest-babel/README.md
  examples/with-jest-babel/__mocks__/fileMock.js
  examples/with-jest-babel/__mocks__/styleMock.js
  examples/with-jest-babel/__tests__/__snapshots__/snapshot.js.snap
  examples/with-jest-babel/__tests__/__snapshots__/snapshot.tsx.snap
  examples/with-jest-babel/__tests__/index.test.tsx
  examples/with-jest-babel/__tests__/snapshot.js
  examples/with-jest-babel/__tests__/snapshot.tsx
  examples/with-jest-babel/jest.config.js
  examples/with-jest-babel/jsconfig.json
  examples/with-jest-babel/next-env.d.ts
  examples/with-jest-babel/package.json
  examples/with-jest-babel/pages/_app.js
  examples/with-jest-babel/pages/_app.tsx
  examples/with-jest-babel/pages/index.js
  examples/with-jest-babel/pages/index.tsx
  examples/with-jest-babel/tsconfig.json
  examples/with-jest-babel/types.d.ts
  examples/with-jest/README.md
  examples/with-jest/__tests__/__snapshots__/snapshot.js.snap
  examples/with-jest/__tests__/__snapshots__/snapshot.tsx.snap
  examples/with-jest/__tests__/index.test.tsx
  examples/with-jest/__tests__/snapshot.js
  examples/with-jest/__tests__/snapshot.tsx
  examples/with-jest/jest.config.js
  examples/with-jest/jsconfig.json
  examples/with-jest/next-env.d.ts
  examples/with-jest/package.json
  examples/with-jest/pages/_app.js
  examples/with-jest/pages/_app.tsx
  examples/with-jest/pages/index.js
  examples/with-jest/pages/index.tsx
  examples/with-jest/tsconfig.json
  examples/with-jest/types.d.ts
Labels: area: examples, area: documentation

#32717 Update web runtime externals
  packages/next/build/webpack-config.ts
  packages/next/compiled/chalk/index.js
  packages/next/taskfile.js
  test/readme.md
Labels: type: next, created-by: Next.js team

#32730 Reduce styled-jsx size in client bundle
  examples/with-storybook-styled-jsx-scss/.storybook/preview.js
  packages/next/client/index.tsx
  packages/next/package.json
  yarn.lock
Labels: area: examples, type: next, created-by: Next.js team

#32737 Bump nft to version 0.17.1
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#32194 Add authentication example using Stytch
  examples/auth-with-stytch/.env.template
  examples/auth-with-stytch/.gitignore
  examples/auth-with-stytch/README.md
  examples/auth-with-stytch/components/LoginEntryPoint.tsx
  examples/auth-with-stytch/components/LoginWithSMS.tsx
  examples/auth-with-stytch/components/SendOTPForm.tsx
  examples/auth-with-stytch/components/StytchContainer.tsx
  examples/auth-with-stytch/components/VerifyOTPForm.tsx
  examples/auth-with-stytch/lib/loadStytch.ts
  examples/auth-with-stytch/lib/otpUtils.ts
  examples/auth-with-stytch/lib/types.ts
  examples/auth-with-stytch/lib/withSession.tsx
  examples/auth-with-stytch/next-env.d.ts
  examples/auth-with-stytch/package.json
  examples/auth-with-stytch/pages/_app.tsx
  examples/auth-with-stytch/pages/_document.tsx
  examples/auth-with-stytch/pages/api/authenticate_magic_link.ts
  examples/auth-with-stytch/pages/api/authenticate_otp.ts
  examples/auth-with-stytch/pages/api/logout.ts
  examples/auth-with-stytch/pages/api/send_otp.ts
  examples/auth-with-stytch/pages/index.tsx
  examples/auth-with-stytch/pages/profile.tsx
  examples/auth-with-stytch/public/example-app-image.png
  examples/auth-with-stytch/public/favicon.png
  examples/auth-with-stytch/public/powered-by-stytch.svg
  examples/auth-with-stytch/public/stars-and-stripes.png
  examples/auth-with-stytch/public/stytch-logo.svg
  examples/auth-with-stytch/public/vercel-logotype-dark.svg
  examples/auth-with-stytch/styles/Home.module.css
  examples/auth-with-stytch/styles/globals.css
  examples/auth-with-stytch/tsconfig.json
Labels: area: examples

#32724 Update Sentry example readme to mention Next.js 12 support
  examples/with-sentry/README.md
Labels: area: examples

#32759 fix(examples): Update `nextjs-graphql-with-prisma-simple` example API endpoint
  examples/with-apollo-and-redux/README.md
  examples/with-apollo-and-redux/lib/apollo.js
  examples/with-apollo/lib/apolloClient.js
  examples/with-graphql-hooks/lib/graphql-client.js
Labels: area: examples

#32763 Remove anonymous default export rule from Babel
  packages/next/build/babel/loader/get-config.ts
  packages/next/build/babel/plugins/no-anonymous-default-export.ts
  test/integration/no-anon-default-export/.babelrc
  test/integration/no-anon-default-export/components/Child.js
  test/integration/no-anon-default-export/pages/both.js
  test/integration/no-anon-default-export/pages/child.js
  test/integration/no-anon-default-export/pages/page.js
  test/integration/no-anon-default-export/test/index.test.js
Labels: type: next, created-by: Next.js team

#32771 Update note about .next/static in standalone mode
  docs/advanced-features/output-file-tracing.md
Labels: area: documentation, created-by: Next.js team

#32773 Fixed syntax error in the example of React Hydration Error
  errors/react-hydration-error.md
Labels: area: documentation

#32779 chore(examples): remove duplicate examples
  examples/with-webpack-bundle-analyzer/.gitignore
  examples/with-webpack-bundle-analyzer/README.md
  examples/with-webpack-bundle-size-analyzer/.gitignore
  examples/with-webpack-bundle-size-analyzer/README.md
  examples/with-webpack-bundle-size-analyzer/next.config.js
  examples/with-webpack-bundle-size-analyzer/package.json
  examples/with-webpack-bundle-size-analyzer/pages/about.js
  examples/with-webpack-bundle-size-analyzer/pages/contact.js
  examples/with-webpack-bundle-size-analyzer/pages/index.js
Labels: area: examples

#32805 fix(examples): bring `with-semantic-ui` example up-to-date
  examples/with-semantic-ui/.nowignore
  examples/with-semantic-ui/next.config.js
  examples/with-semantic-ui/package.json
  examples/with-semantic-ui/pages/SmallImage.png
  examples/with-semantic-ui/pages/_app.js
  examples/with-semantic-ui/pages/index.js
  examples/with-semantic-ui/public/image.png
  examples/with-semantic-ui/styles/global.css
Labels: area: examples

#32806 fix(examples): update link URL in `cms-kontent` example
  examples/cms-kontent/components/cover-image.js
  examples/cms-kontent/lib/api.js
Labels: area: examples

#32780 feat(eslint): allow `a` for internal url when `target="blank"` present
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
  test/unit/eslint-plugin-next/no-html-link-for-pages.test.ts
Labels: type: next

#32820 fix: typo
  errors/no-page-custom-font.md
Labels: area: documentation

#32837 fix(eslint-plugin-next): Broken links in eslint output
  packages/eslint-plugin-next/lib/rules/google-font-display.js
  packages/eslint-plugin-next/lib/rules/google-font-preconnect.js
  packages/eslint-plugin-next/lib/rules/link-passhref.js
  packages/eslint-plugin-next/lib/rules/next-script-for-ga.js
  packages/eslint-plugin-next/lib/rules/no-css-tags.js
  packages/eslint-plugin-next/lib/rules/no-document-import-in-page.js
  packages/eslint-plugin-next/lib/rules/no-head-import-in-document.js
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
  packages/eslint-plugin-next/lib/rules/no-img-element.js
  packages/eslint-plugin-next/lib/rules/no-page-custom-font.js
  packages/eslint-plugin-next/lib/rules/no-script-in-document.js
  packages/eslint-plugin-next/lib/rules/no-script-in-head.js
  packages/eslint-plugin-next/lib/rules/no-server-import-in-page.js
  packages/eslint-plugin-next/lib/rules/no-sync-scripts.js
  packages/eslint-plugin-next/lib/rules/no-title-in-document-head.js
  packages/eslint-plugin-next/lib/rules/no-unwanted-polyfillio.js
  test/unit/eslint-plugin-next/google-font-display.test.ts
  test/unit/eslint-plugin-next/google-font-preconnect.test.ts
  test/unit/eslint-plugin-next/link-passhref.test.ts
  test/unit/eslint-plugin-next/next-script-for-ga.test.ts
  test/unit/eslint-plugin-next/no-css-tags.test.ts
  test/unit/eslint-plugin-next/no-document-import-in-page.test.ts
  test/unit/eslint-plugin-next/no-head-import-in-document.test.ts
  test/unit/eslint-plugin-next/no-html-link-for-pages.test.ts
  test/unit/eslint-plugin-next/no-img-element.test.ts
  test/unit/eslint-plugin-next/no-page-custom-font.test.ts
  test/unit/eslint-plugin-next/no-script-in-document.test.ts
  test/unit/eslint-plugin-next/no-script-in-head.test.ts
  test/unit/eslint-plugin-next/no-server-import-in-page.test.ts
  test/unit/eslint-plugin-next/no-sync-scripts.test.ts
  test/unit/eslint-plugin-next/no-title-in-document-head.test.ts
  test/unit/eslint-plugin-next/no-unwanted-polyfillio.test.ts
Labels: type: next

#32878 Add id to inline Segment script
  examples/with-segment-analytics/pages/_app.js
Labels: area: examples

#32896 Update the React 18 documentation
  docs/advanced-features/react-18.md
Labels: area: documentation, created-by: Next.js team

#32898 doc: add quotes to api
  docs/advanced-features/react-18.md
Labels: area: documentation, created-by: Next.js team

#32897 [ESLint] Adds lint rule to flag usage of `<head>`
  docs/basic-features/eslint.md
  errors/manifest.json
  errors/no-head-element.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-head-element.js
  test/unit/eslint-plugin-next/no-head-element.test.ts
Labels: area: documentation, type: next, created-by: Chrome Aurora
