Repository vercel/next.js, pull requests merged in 2021-08, with the labels that each got.

#27623 Ensure Next.js core development sourcemaps use correct input file
  packages/next/taskfile-swc.js
Labels: created-by: Next.js team, type: next

#27534 Clarify in docs that `next/script` must not be in `next/head`
  docs/basic-features/script.md
Labels: type: documentation

#27676 Add missing await for API request
  examples/cms-datocms/lib/api.js
Labels: type: example

#27690 Undo sourcemap change
  packages/next/taskfile-swc.js
Labels: created-by: Next.js team, type: next

#27693 Improve custom server documentation.
  docs/advanced-features/custom-server.md
Labels: created-by: Next.js team, type: documentation

#27671 URI-encode url parameter in image optimizer
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/app/public/äöü.png
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#27295 Update Fauna example with new guestbook
  examples/with-fauna/.env.local.example
  examples/with-fauna/.gitignore
  examples/with-fauna/README.md
  examples/with-fauna/components/ErrorMessage.js
  examples/with-fauna/components/LoadingSpinner.js
  examples/with-fauna/components/SuccessMessage.js
  examples/with-fauna/jsconfig.json
  examples/with-fauna/lib/fauna.js
  examples/with-fauna/package.json
  examples/with-fauna/pages/api/entries/index.js
  examples/with-fauna/pages/index.js
  examples/with-fauna/postcss.config.js
  examples/with-fauna/public/static/fauna-logo-blue.png
  examples/with-fauna/public/static/fauna-logo-white.png
  examples/with-fauna/public/static/favicon.png
  examples/with-fauna/schema.gql
  examples/with-fauna/scripts/setup.js
  examples/with-fauna/tailwind.config.js
  examples/with-graphql-faunadb/.env.local.example
  examples/with-graphql-faunadb/README.md
  examples/with-graphql-faunadb/components/Footer.js
  examples/with-graphql-faunadb/components/GuestbookEntry.js
  examples/with-graphql-faunadb/components/GuestbookEntryDivider.js
  examples/with-graphql-faunadb/components/Header.js
  examples/with-graphql-faunadb/components/Hero.js
  examples/with-graphql-faunadb/graphql/api.js
  examples/with-graphql-faunadb/lib/useFetch.js
  examples/with-graphql-faunadb/package.json
  examples/with-graphql-faunadb/pages/index.js
  examples/with-graphql-faunadb/public/static/twitter_icon_black.png
  examples/with-graphql-faunadb/public/static/twitter_icon_blue.png
  examples/with-graphql-faunadb/schema.gql
  examples/with-graphql-faunadb/scripts/setup.js
  examples/with-graphql-faunadb/styles/footer.js
  examples/with-graphql-faunadb/styles/guestbookentry.js
  examples/with-graphql-faunadb/styles/header.js
  examples/with-graphql-faunadb/styles/hero.js
Labels: type: example

#27701 Patch with-fauna example.
  examples/with-fauna/package.json
  examples/with-fauna/pages/index.js
Labels: created-by: Next.js team, type: example

#26775 More React 17 clean up
  packages/next/bin/next.ts
  packages/next/server/dev/next-dev-server.ts
  test/unit/handles-incorrect-react.unit.test.js
Labels: created-by: Chrome Aurora, type: next

#27703 Enforce source/destination limit for custom routes
  packages/next/lib/load-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Labels: created-by: Next.js team, type: next

#27695 Add naturalWidth/naturalHeight to `onLoadingComplete()` callback
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/base-path/public/test.svg
  test/integration/image-component/default/pages/on-loading-complete.js
  test/integration/image-component/default/public/test.svg
  test/integration/image-component/default/test/index.test.js
  test/integration/image-optimizer/app/public/test.svg
Labels: created-by: Next.js team, type: documentation, type: next

#27709 Add `next.config.js` option to override default `keepAlive`
  docs/api-reference/next.config.js/disabling-http-keep-alive.md
  docs/manifest.json
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/static-paths-worker.ts
  packages/next/server/node-polyfill-fetch.js
  test/integration/node-fetch-keep-alive/pages/blog/[slug].js
  test/integration/node-fetch-keep-alive/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#25759 Add with-joi example
  examples/with-joi/.gitignore
  examples/with-joi/README.md
  examples/with-joi/package.json
  examples/with-joi/pages/api/cars.js
  examples/with-joi/pages/api/people.js
  examples/with-joi/pages/api/people/[id].js
  examples/with-joi/server/api/middlewares/validate.js
Labels: type: example

#27707 Fix create-strapi-app instruction in strapi example
  examples/cms-strapi/README.md
Labels: type: example

#27712 Rename environment variable in Fauna example.
  examples/with-fauna/.env.local.example
  examples/with-fauna/README.md
  examples/with-fauna/lib/fauna.js
  examples/with-fauna/scripts/setup.js
Labels: created-by: Next.js team, type: example

#27552 Port next-ssg getStaticProps/getServerSideProps tree shaking Babel transform to rust
  .eslintignore
  packages/next/build/swc/.rustfmt.toml
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/src/lib.rs
  packages/next/build/swc/src/next_ssg.rs
  packages/next/build/swc/src/transform.rs
  packages/next/build/swc/tests/fixture.rs
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/destructuring-assignment-array/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/destructuring-assignment-array/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/destructuring-assignment-object/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/destructuring-assignment-object/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-crash-for-class-declarations/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-crash-for-class-declarations/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-mix-up-bindings/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-mix-up-bindings/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-remove-extra-named-export-function-declarations/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-remove-extra-named-export-function-declarations/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-remove-extra-named-export-variable-declarations/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-not-remove-extra-named-export-variable-declarations/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-combined-named-export-specifiers/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-combined-named-export-specifiers/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-extra-named-export-speicifers/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-extra-named-export-speicifers/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-function-declarations-async/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-function-declarations-async/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-function-declarations/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-function-declarations/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-variable-declarations-async/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-variable-declarations-async/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-variable-declarations/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-named-export-variable-declarations/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-function-declarations-dependents-variables-functions-imports/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-function-declarations-dependents-variables-functions-imports/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-function-declarations/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-function-declarations/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-variable-declarations-safe/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-variable-declarations-safe/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-variable-declarations/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-re-exported-variable-declarations/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-separate-named-export-specifiers/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-remove-separate-named-export-specifiers/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-babel-style-memoized-function/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-babel-style-memoized-function/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-class-exports-2/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-class-exports-2/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-class-exports/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-class-exports/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-export-named-as-default-with-a-class/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-export-named-as-default-with-a-class/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-export-named-as-default-with-other-specifiers/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-export-named-as-default-with-other-specifiers/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-full-re-export/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-full-re-export/output.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-named-export-as-default/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/should-support-named-export-as-default/output.js
  packages/next/taskfile.js
Labels: type: next

#27738 Add handling for repeated slashes
  packages/next/client/index.tsx
  packages/next/server/next-server.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/utils.ts
  test/integration/500-page/test/index.test.js
  test/integration/file-serving/test/index.test.js
  test/integration/repeated-slashes/app/next.config.js
  test/integration/repeated-slashes/app/pages/_error.js
  test/integration/repeated-slashes/app/pages/another.js
  test/integration/repeated-slashes/app/pages/index.js
  test/integration/repeated-slashes/app/pages/invalid.js
  test/integration/repeated-slashes/test/index.test.js
  test/lib/next-test-utils.js
Labels: created-by: Next.js team, type: next

#27700 Add/amp attribute patcher
  .eslintignore
  .github/workflows/build_native.yml
  packages/next/build/swc/.cargo/config
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/rust-toolchain
  packages/next/build/swc/src/amp_attributes.rs
  packages/next/build/swc/src/lib.rs
  packages/next/build/swc/src/transform.rs
  packages/next/build/swc/tests/fixture.rs
  packages/next/build/swc/tests/fixture/amp/amp-classname/input.js
  packages/next/build/swc/tests/fixture/amp/amp-classname/output.js
Labels: created-by: Next.js team, type: next

#27725 Add a note about the existence of 'next/script'
  docs/api-reference/next/head.md
Labels: type: documentation

#27763 Add missing `removeHeader()` function to image optimizer mock res
  packages/next/server/image-optimizer.ts
Labels: created-by: Next.js team, type: next

#27767 Fix html validation for Image component sizer
  packages/next/client/image.tsx
Labels: created-by: Next.js team, type: next

#27762 Update has query encoding when used in path
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/blog-catchall/[...slug].js
  test/integration/custom-routes/test/index.test.js
Labels: created-by: Next.js team, type: next

#27757 Update Fauna example to create Fauna resources properly
  examples/with-fauna/.env.local.example
  examples/with-fauna/lib/fauna.js
  examples/with-fauna/package.json
  examples/with-fauna/scripts/setup.js
Labels: type: example

#26584 [ESLint] Introduce a new setup process when `next lint` is run for the first time
  docs/basic-features/eslint.md
  packages/create-next-app/create-app.ts
  packages/create-next-app/templates/default/eslintrc
  packages/create-next-app/templates/default/eslintrc.json
  packages/create-next-app/templates/typescript/eslintrc
  packages/create-next-app/templates/typescript/eslintrc.json
  packages/next/cli/next-lint.ts
  packages/next/compiled/cli-select/LICENSE
  packages/next/compiled/cli-select/index.js
  packages/next/compiled/cli-select/package.json
  packages/next/compiled/cross-spawn/LICENSE
  packages/next/compiled/cross-spawn/index.js
  packages/next/compiled/cross-spawn/package.json
  packages/next/lib/constants.ts
  packages/next/lib/eslint/customFormatter.ts
  packages/next/lib/eslint/hasEslintConfiguration.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/eslint/writeDefaultConfig.ts
  packages/next/lib/has-necessary-dependencies.ts
  packages/next/lib/helpers/get-online.ts
  packages/next/lib/helpers/install.ts
  packages/next/lib/helpers/should-use-yarn.ts
  packages/next/lib/install-dependencies.ts
  packages/next/lib/is-yarn.ts
  packages/next/lib/typescript/missingDependencyError.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/create-next-app/index.test.js
  test/integration/dist-dir/test/index.test.js
  test/integration/eslint/first-time-setup/.eslintrc
  test/integration/eslint/first-time-setup/.eslintrc.json
  test/integration/eslint/no-config/pages/index.js
  test/integration/eslint/no-eslint-plugin/.eslintrc
  test/integration/eslint/no-eslint-plugin/pages/index.js
  test/integration/eslint/test/index.test.js
  test/integration/image-component/svgo-webpack/next.config.js
  test/integration/production-build-dir/build/next.config.js
  test/integration/webpack-require-hook/next.config.js
  yarn.lock
Labels: created-by: Chrome Aurora, type: create-next-app, type: documentation, type: next

#27769 remove unecessary fs.stat calls from recursive-readdir
  packages/next/lib/recursive-readdir.ts
Labels: type: next

#26331 [ESLint] Documentation updates + bug fixes
  docs/api-reference/next.config.js/ignoring-eslint.md
  docs/basic-features/eslint.md
  packages/eslint-config-next/index.js
  packages/eslint-plugin-next/lib/rules/no-document-import-in-page.js
  packages/eslint-plugin-next/lib/rules/no-head-import-in-document.js
  packages/eslint-plugin-next/lib/rules/no-page-custom-font.js
  test/eslint-plugin-next/no-document-import-in-page.unit.test.js
  test/eslint-plugin-next/no-head-import-in-document.unit.test.js
  test/eslint-plugin-next/no-page-custom-font.unit.test.js
Labels: created-by: Chrome Aurora, type: documentation

#27788 Wrap last return statement in `else` to fix tree shaking
  packages/next/shared/lib/router/router.ts
Labels: type: next

#27789 Update client error to show link in console
  packages/next/client/index.tsx
  packages/next/pages/_error.tsx
  test/integration/css/test/index.test.js
  test/integration/no-page-props/test/index.test.js
Labels: type: next, created-by: Next.js team

#27782 Upgrade styled-jsx
  packages/next/package.json
  packages/next/types/index.d.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#27798 Remove codeowners from examples
  .github/CODEOWNERS
Labels: created-by: Next.js team

#27795 Updates Aurora team members in labeler
  .github/labeler.json
Labels: created-by: Chrome Aurora

#27802 fix wrong link in readme
  examples/with-stripe-typescript/README.md
Labels: type: example

#27664 Add experimental SWC minify and SWC loader options
  package.json
  packages/next/build/babel/preset.ts
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/server/config-shared.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#27815 Use @vercel/fetch for run-tests requests
  package.json
  packages/next/compiled/async-retry/index.js
  run-tests.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#27807 fix eslint plugin install instructions in docs
  docs/basic-features/eslint.md
Labels: type: documentation

#27843 Document that Google has begun using CLS metric
  docs/basic-features/image-optimization.md
Labels: type: documentation

#27840 Add Import trace for requested module when it fails to resolve
  errors/module-not-found.md
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  test/acceptance/ReactRefreshLogBox.dev.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#27887 disable cache compression as it slows down the build
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#27779 Remove extraneous fs.stat calls
  packages/next/lib/recursive-copy.ts
  packages/next/lib/recursive-delete.ts
  packages/next/lib/recursive-readdir.ts
Labels: type: next

#27872 Add type annotation for NextConfig to CNA typescript template
  packages/create-next-app/templates/typescript/next.config.js
Labels: type: create-next-app

#27890 Upgrade styled-jsx to v4
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#27894 Update with-jest example
  examples/with-jest/.babelrc
  examples/with-jest/__mocks__/fileMock.js
  examples/with-jest/__mocks__/styleMock.js
  examples/with-jest/__tests__/__snapshots__/snapshot.js.snap
  examples/with-jest/__tests__/testing-library.js
  examples/with-jest/config/jest/cssTransform.js
  examples/with-jest/jest.config.js
  examples/with-jest/jest.setup.js
  examples/with-jest/jsconfig.json
  examples/with-jest/setupTests.js
Labels: type: example

#27900 Add with-cypress example
  examples/with-cypress/.gitignore
  examples/with-cypress/README.md
  examples/with-cypress/cypress.json
  examples/with-cypress/cypress/fixtures/example.json
  examples/with-cypress/cypress/integration/app.spec.js
  examples/with-cypress/cypress/plugins/index.js
  examples/with-cypress/cypress/support/commands.js
  examples/with-cypress/cypress/support/index.js
  examples/with-cypress/package.json
  examples/with-cypress/pages/_app.js
  examples/with-cypress/pages/about.js
  examples/with-cypress/pages/index.js
  examples/with-cypress/public/favicon.ico
  examples/with-cypress/public/vercel.svg
  examples/with-cypress/styles/Home.module.css
  examples/with-cypress/styles/globals.css
Labels: type: example

#27911 Little typo
  docs/routing/dynamic-routes.md
Labels: type: documentation

#27916 Replace `placeholder` with `blurDataURL` in global `StaticImageData` type
  packages/next/image-types/global.d.ts
Labels: type: next

#27903 Fix `next/script` unhandled promise rejection
  packages/next/client/script.tsx
  test/integration/script-loader/pages/page3.js
  test/integration/script-loader/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#27928 Adding a missing a period
  docs/basic-features/data-fetching.md
Labels: type: documentation

#27923 Update release stats job name
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#27931 Remove duplicate type for StaticImageData
  packages/next/client/image.tsx
Labels: type: next, created-by: Next.js team

#27899 Add data-nimg attribute to image component
  packages/next/client/image.tsx
Labels: type: next, created-by: Chrome Aurora

#27906 test(next): add tests for Node-like hashbang support
  test/integration/hashbang/src/cases/cjs.cjs
  test/integration/hashbang/src/cases/js.js
  test/integration/hashbang/src/cases/mjs.mjs
  test/integration/hashbang/src/pages/index.js
  test/integration/hashbang/test/index.test.js
Labels: type: next

#27768 Add experimental `concurrentFeatures` config
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Chrome Aurora

#27933 Add warning during `next build` when sharp is missing
  packages/next/build/index.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next, created-by: Next.js team

#27934 Add manifest check step and add missing items
  .github/workflows/build_test_deploy.yml
  errors/manifest.json
  scripts/check-manifests.js
Labels: type: documentation, created-by: Next.js team

#27970 Fix incorrect error manifest path
  errors/manifest.json
  scripts/check-manifests.js
Labels: type: documentation, created-by: Next.js team

#27965 [Docs] Add testing docs
  docs/manifest.json
  docs/testing.md
Labels: type: documentation

#27974 Add missing fields to `NextConfig` type
  packages/next/build/entries.ts
  packages/next/server/config-shared.ts
Labels: type: next

#28008 Make sure all example packages has `private: true`
  examples/with-fauna/package.json
  scripts/check-examples.sh
Labels: type: example

#28037 Fix publish native script
  scripts/publish-native.js
Labels: created-by: Next.js team

#27924 use a shared worker pool for collecting page data and static page generation
  errors/static-page-generation-timeout.md
  packages/next/build/index.ts
  packages/next/build/worker.ts
  packages/next/export/index.ts
  packages/next/server/config-shared.ts
  test/integration/build-output/test/index.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#28046 Use @next scope for native packages
  packages/next/build/swc/index.js
  packages/next/build/swc/npm/darwin-arm64/README.md
  packages/next/build/swc/npm/darwin-arm64/package.json
  packages/next/build/swc/npm/darwin-x64/README.md
  packages/next/build/swc/npm/darwin-x64/package.json
  packages/next/build/swc/npm/linux-x64-gnu/README.md
  packages/next/build/swc/npm/linux-x64-gnu/package.json
  packages/next/build/swc/npm/next-swc-darwin-arm64/README.md
  packages/next/build/swc/npm/next-swc-darwin-x64/README.md
  packages/next/build/swc/npm/next-swc-linux-x64-gnu/README.md
  packages/next/build/swc/npm/next-swc-win32-x64-msvc/README.md
  packages/next/build/swc/npm/win32-x64-msvc/README.md
  packages/next/build/swc/npm/win32-x64-msvc/package.json
  scripts/publish-native.js
Labels: type: next, created-by: Next.js team

#28003 Add `.gitignore` to examples that lack them
  examples/with-clerk/.gitignore
  examples/with-deta-base/.gitignore
  examples/with-mqtt-js/.gitignore
  scripts/check-examples.sh
Labels: type: example

#28040 Fix `generateBuildId` type that can be async function
  packages/next/build/generate-build-id.ts
  packages/next/server/config-shared.ts
Labels: type: next

#28045 Fix image optimization encoding url
  packages/next/server/image-optimizer.ts
  packages/next/server/next-server.ts
  test/integration/image-component/unicode/next.config.js
  test/integration/image-component/unicode/pages/index.js
  test/integration/image-component/unicode/public/hello world.jpg
  test/integration/image-component/unicode/public/äöü.png
  test/integration/image-component/unicode/test/index.test.js
Labels: type: next, created-by: Next.js team

#28050 publish flow fixes
  scripts/publish-native.js
  scripts/publish-release.sh
Labels: created-by: Next.js team

#27988 Update Firebase hosting example to use Node.js 14.
  examples/with-firebase-hosting/firebase.json
Labels: type: example, created-by: Next.js team

#28032 Clean up `Document` in preparation for streaming
  packages/next/pages/_document.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/document-context.ts
  packages/next/shared/lib/utils.ts
Labels: type: next, created-by: Chrome Aurora

#28053 USe await correctly
  scripts/publish-native.js
Labels: created-by: Next.js team

#28064 [DOCS] Update testing docs
  docs/testing.md
Labels: type: documentation

#28082 Render as a concatenation of streams
  packages/next/server/render.tsx
  packages/next/server/utils.ts
Labels: type: next, created-by: Chrome Aurora

#28085 Add support for dynamic HTML
  packages/next/server/render.tsx
  packages/next/server/utils.ts
Labels: type: next, created-by: Chrome Aurora

#27611 Support suspense in next dynamic
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/shared/lib/dynamic.tsx
  packages/next/shared/lib/loadable.js
  test/integration/chunking/test/index.test.js
  test/integration/react-18/app/components/bar.js
  test/integration/react-18/app/components/dynamic-hello.js
  test/integration/react-18/app/components/foo.js
  test/integration/react-18/app/components/hello.js
  test/integration/react-18/app/components/promise-cache.js
  test/integration/react-18/app/next.config.js
  test/integration/react-18/app/package.json
  test/integration/react-18/app/pages/_app.js
  test/integration/react-18/app/pages/index.js
  test/integration/react-18/app/pages/suspense/no-preload.js
  test/integration/react-18/app/pages/suspense/no-thrown.js
  test/integration/react-18/app/pages/suspense/thrown.js
  test/integration/react-18/app/pages/suspense/unwrapped.js
  test/integration/react-18/prerelease/.gitignore
  test/integration/react-18/prerelease/node_modules/react-dom/package.json
  test/integration/react-18/prerelease/package.json
  test/integration/react-18/prerelease/pages/bar.js
  test/integration/react-18/prerelease/pages/index.js
  test/integration/react-18/supported/pages/index.js
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/blocking.js
  test/integration/react-18/test/concurrent.js
  test/integration/react-18/test/index.test.js
  test/unit/next-dynamic.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#27975 Handle blob urls in image component
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/blob.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#27596 Bypass webpack compilation for precompiled @next/polyfills-nomodule
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/copy-file-plugin.ts
  packages/next/client/polyfills.js
  packages/next/shared/lib/constants.ts
Labels: type: next, created-by: Next.js team

#27257 [ESLint] Disallow <Script /> inside _document.js & <Script /> inside the next/head component
  errors/manifest.json
  errors/no-script-in-document-page.md
  errors/no-script-in-head-component.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-script-in-document.js
  packages/eslint-plugin-next/lib/rules/no-script-in-head.js
  test/eslint-plugin-next/no-script-in-document.test.js
  test/eslint-plugin-next/no-script-in-head.test.js
Labels: type: documentation

#27939 Update `util` to 0.12.4
  packages/next/package.json
  yarn.lock
Labels: type: next

#28089 Remove duplicate doctypes
  packages/next/server/render.tsx
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#28092 Fix gh action workflow when docs changed
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#28077 Docs: Mention 3rd option 'blocking' for fallback
  docs/basic-features/data-fetching.md
Labels: type: documentation

#28055 Add a Styling Section to next/image component docs
  docs/api-reference/next/image.md
Labels: type: documentation

#27940 Examples: Jotai
  examples/with-jotai/.gitignore
  examples/with-jotai/README.md
  examples/with-jotai/next-env.d.ts
  examples/with-jotai/next.config.js
  examples/with-jotai/package.json
  examples/with-jotai/pages/_app.tsx
  examples/with-jotai/pages/api/hello.ts
  examples/with-jotai/pages/index.tsx
  examples/with-jotai/public/favicon.ico
  examples/with-jotai/public/vercel.svg
  examples/with-jotai/styles/Home.module.css
  examples/with-jotai/styles/globals.css
  examples/with-jotai/tsconfig.json
Labels: type: example

#28097 Fix revalidate for initial notFound: true paths
  packages/next/server/incremental-cache.ts
  packages/next/server/render.tsx
  test/integration/not-found-revalidate/data.txt
  test/integration/not-found-revalidate/pages/404.js
  test/integration/not-found-revalidate/pages/initial-not-found/[slug].js
  test/integration/not-found-revalidate/pages/initial-not-found/index.js
  test/integration/not-found-revalidate/test/index.test.js
Labels: type: next, created-by: Next.js team

#28099 Add proper error when failing to load next.config.js
  errors/manifest.json
  errors/next-config-error.md
  packages/next/server/config.ts
  test/integration/config-syntax-error/pages/index.js
  test/integration/config-syntax-error/test/index.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#28101 Skip native ci steps for docs only changes
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#28009 Add ci script to check examples
  .github/workflows/build_test_deploy.yml
  examples/with-cypress/package.json
  examples/with-fauna/package.json
  examples/with-jotai/next-env.d.ts
  examples/with-jotai/package.json
  scripts/check-examples.sh
Labels: type: example

#28127 Fix: wrong link error message
  packages/next/client/link.tsx
  test/acceptance/ReactRefreshLogBox.dev.test.js
Labels: type: next, created-by: Next.js team

#28139 Improve React Strict Mode documentation.
  docs/api-reference/next.config.js/react-strict-mode.md
Labels: type: documentation, created-by: Next.js team

#28138 Add setup for m1 build
  .github/workflows/build_native.yml
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#28129 Add support for Jaeger trace target
  packages/next/telemetry/trace/report/index.ts
  packages/next/telemetry/trace/report/to-jaeger.ts
  packages/next/telemetry/trace/shared.ts
Labels: type: next, created-by: Next.js team

#28146 doc: fix typo
  docs/authentication.md
Labels: type: documentation

#28143 Replace CSS tag with JS import
  examples/with-loading/pages/_app.js
Labels: type: example

#28165 Enable pure client suspense in blocking rendering
  packages/next/shared/lib/dynamic.tsx
  test/integration/react-18/app/pages/suspense/unwrapped.js
  test/integration/react-18/test/blocking.js
  test/integration/react-18/test/index.test.js
Labels: type: next, created-by: Next.js team

#28148 Fix crash of lint rule no-document-import-in-page
  packages/eslint-plugin-next/lib/rules/no-document-import-in-page.js
  test/eslint-plugin-next/no-document-import-in-page.unit.test.js
Labels: created-by: Next.js team

#28175 docs: corrected the link to the example
  docs/testing.md
Labels: type: documentation

#25147 ESLint Plugin: Prefer next script component when using the inline script for Google Analytics.
  docs/basic-features/eslint.md
  errors/next-script-for-ga.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/next-script-for-ga.js
  packages/eslint-plugin-next/lib/utils/node-attributes.js
  test/eslint-plugin-next/next-script-for-ga.unit.test.js
Labels: type: documentation, created-by: Chrome Aurora

#25538 Add entrypoint tracing
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/compiled/@vercel/nft/LICENSE
  packages/next/compiled/@vercel/nft/index.js
  packages/next/compiled/@vercel/nft/package.json
  packages/next/compiled/glob/LICENSE
  packages/next/compiled/glob/glob.js
  packages/next/compiled/glob/package.json
  packages/next/compiled/terser/bundle.min.js
  packages/next/compiled/webpack/bundle4.js
  packages/next/package.json
  packages/next/server/config-shared.ts
  packages/next/shared/lib/constants.ts
  packages/next/taskfile.js
  packages/next/types/index.d.ts
  packages/next/types/misc.d.ts
  test/integration/prerender-native-module/next.config.js
  test/integration/prerender-native-module/test/index.test.js
  test/integration/prerender/next.config.js
  test/integration/prerender/pages/another/index.js
  test/integration/prerender/test/index.test.js
  test/integration/production/next.config.js
  test/integration/production/test/index.test.js
  test/lib/next-test-utils.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#28128 Add module type to build-module trace
  packages/next/build/webpack/plugins/profiling-plugin.ts
Labels: type: next, created-by: Next.js team

#28168 Improve jaeger traces
  .vscode/launch.json
  package.json
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/profiling-plugin.ts
  packages/next/telemetry/trace/autoparent.ts
  packages/next/telemetry/trace/index.ts
  packages/next/telemetry/trace/report/index.ts
  packages/next/telemetry/trace/report/to-console.ts
  packages/next/telemetry/trace/report/to-jaeger.ts
  packages/next/telemetry/trace/report/to-telemetry.ts
  packages/next/telemetry/trace/report/to-zipkin.ts
  packages/next/telemetry/trace/trace.ts
Labels: type: next, created-by: Next.js team

#28190 Update testing.md
  docs/testing.md
Labels: type: documentation

#28122 fix development mode bug with pages with "+" and other special characters
  packages/next/client/dev/on-demand-entries-utils.js
  test/integration/development-hmr-refresh/pages/with+Special&Chars=.js
  test/integration/development-hmr-refresh/test/index.test.js
Labels: type: next

#28204 let loaders automatically infer source map setting
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
Labels: type: next, created-by: Next.js team

#28207 docs: Add link to Cypress GitHub Actions Guide to Testing docs
  docs/testing.md
Labels: type: documentation

#28206 Avoid fs write `next-env.d.ts` on read-only filesystems
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
  test/integration/typescript-app-type-declarations/next-env.d.ts
  test/integration/typescript-app-type-declarations/pages/index.tsx
  test/integration/typescript-app-type-declarations/test/index.test.js
  test/integration/typescript-app-type-declarations/tsconfig.json
Labels: type: next

#28210 Document usage of suspense option of next/dynamic
  docs/advanced-features/dynamic-import.md
  errors/invalid-dynamic-suspense.md
  errors/manifest.json
  packages/next/shared/lib/dynamic.tsx
  test/integration/react-18/test/index.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#28221 Add warning when parent styles break `next/image`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/layout-fill-inside-nonrelative.js
  test/integration/image-component/default/pages/layout-responsive-inside-flex.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#28214 Use `zen-observable` library
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/compiled/zen-observable/LICENSE
  packages/next/compiled/zen-observable/esm.js
  packages/next/compiled/zen-observable/package.json
  packages/next/export/worker.ts
  packages/next/package.json
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/server/response-cache.ts
  packages/next/server/send-payload.ts
  packages/next/server/utils.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  yarn.lock
Labels: type: next, created-by: Chrome Aurora

#28227 Fix HMR when custom _app or _document is removed
  packages/next/build/webpack-config.ts
  test/integration/app-document-remove-hmr/pages/_app.js
  test/integration/app-document-remove-hmr/pages/_document.js
  test/integration/app-document-remove-hmr/pages/index.js
  test/integration/app-document-remove-hmr/test/index.test.js
Labels: type: next, created-by: Next.js team

#28192 Add relationship between issuer and module to traces
  packages/next/build/compiler.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/profiling-plugin.ts
Labels: type: next, created-by: Next.js team

#28223 Update generating next-server dependencies
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/package.json
  packages/next/server/next-server.ts
  packages/next/taskfile.js
  scripts/trace-next-server.js
  test/integration/required-server-files/app/lib/config.js
  test/integration/required-server-files/app/next.config.js
  test/integration/required-server-files/app/pages/[slug].js
  test/integration/required-server-files/app/pages/_app.js
  test/integration/required-server-files/app/pages/api/error.js
  test/integration/required-server-files/app/pages/api/optional/[[...rest]].js
  test/integration/required-server-files/app/pages/catch-all/[[...rest]].js
  test/integration/required-server-files/app/pages/dynamic/[slug].js
  test/integration/required-server-files/app/pages/errors/gip.js
  test/integration/required-server-files/app/pages/errors/gsp/[post].js
  test/integration/required-server-files/app/pages/errors/gssp.js
  test/integration/required-server-files/app/pages/fallback/[slug].js
  test/integration/required-server-files/app/pages/index.js
  test/integration/required-server-files/app/pages/optional-ssg/[[...rest]].js
  test/integration/required-server-files/app/pages/optional-ssp/[[...rest]].js
  test/integration/required-server-files/test/index.test.js
Labels: type: next, created-by: Next.js team

#28264 Update polling env var for tests in CI
  .github/workflows/build_test_deploy.yml
  run-tests.js
Labels: created-by: Next.js team

#28263 Ensure all packages are packed while tracing
  scripts/trace-next-server.js
Labels: created-by: Next.js team

#28269 Fix `next/image` blur placeholder when JS is disabled
  packages/next/client/image.tsx
  packages/next/types/index.d.ts
  test/integration/export-image-loader/test/index.test.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#28279 Ensure adding _app/_document HMRs correctly
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/server/dev/hot-reloader.ts
  test/integration/app-document-add-hmr/pages/index.js
  test/integration/app-document-add-hmr/test/index.test.js
Labels: type: next, created-by: Next.js team

#28059 Add docs for ESLint plugin settings and rule options
  docs/basic-features/eslint.md
  errors/no-html-link-for-pages.md
Labels: type: documentation

#28299 [ESLint] Adds `process.exit` to `next lint` success output
  packages/next/cli/next-lint.ts
Labels: type: next, created-by: Chrome Aurora

#28301 Use temp repo copy while linking packages
  scripts/trace-next-server.js
Labels: created-by: Next.js team

#27853 Add eslint rule for id attribute on inline next/script
  docs/basic-features/eslint.md
  docs/basic-features/script.md
  errors/inline-script-id.md
  errors/manifest.json
  errors/next-script-for-ga.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/inline-script-id.js
  test/eslint-plugin-next/inline-script-id.unit.test.js
  test/eslint-plugin-next/next-script-for-ga.unit.test.js
  test/integration/script-loader/pages/page3.js
Labels: type: documentation

#28314 Fixed typos that existed on some files
  examples/with-docker/README.md
  test/integration/export-serverless/test/browser.js
  test/integration/export/test/browser.js
Labels: type: example

#28309 Fix next env vars injection in dynamic
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#28326 Update supported-browsers-features.md
  docs/basic-features/supported-browsers-features.md
Labels: type: documentation

#28327 fix link to global stylesheet in from-create-react-app.md
  docs/migrating/from-create-react-app.md
Labels: type: documentation

#28312 Add layout to data-nimg attribute
  packages/next/client/image.tsx
Labels: type: next, created-by: Chrome Aurora

#28310 Add data attribute to script component
  packages/next/client/script.tsx
  packages/next/pages/_document.tsx
  test/integration/script-loader/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#28348 Add Temporal example
  examples/with-temporal/.gitignore
  examples/with-temporal/.nvmrc
  examples/with-temporal/README.md
  examples/with-temporal/components/Layout.tsx
  examples/with-temporal/next-env.d.ts
  examples/with-temporal/package.json
  examples/with-temporal/pages/about.tsx
  examples/with-temporal/pages/api/orders/index.ts
  examples/with-temporal/pages/index.tsx
  examples/with-temporal/temporal/src/activities/inventory.ts
  examples/with-temporal/temporal/src/activities/payment.ts
  examples/with-temporal/temporal/src/activities/tsconfig.json
  examples/with-temporal/temporal/src/interfaces/tsconfig.json
  examples/with-temporal/temporal/src/interfaces/workflows.ts
  examples/with-temporal/temporal/src/worker/index.ts
  examples/with-temporal/temporal/src/worker/tsconfig.json
  examples/with-temporal/temporal/src/workflows/order.ts
  examples/with-temporal/temporal/src/workflows/tsconfig.json
  examples/with-temporal/tsconfig.json
Labels: type: example

#28397 docs: update font-optimization.md
  docs/basic-features/font-optimization.md
Labels: type: documentation

#28420 Fix forked NODE_OPTIONS except for inspect
  packages/next/server/config-utils.ts
Labels: type: next

#28345 Improved `next/image` docs around layouts.
  docs/api-reference/next/image.md
Labels: type: documentation, created-by: Next.js team

#28349 [ESLint] Enable caching by default
  docs/basic-features/eslint.md
  packages/next/build/index.ts
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/verifyAndLint.ts
  test/integration/eslint/eslint-cache-custom-dir/.eslintrc
  test/integration/eslint/eslint-cache-custom-dir/next.config.js
  test/integration/eslint/eslint-cache-custom-dir/pages/index.js
  test/integration/eslint/eslint-cache/.eslintrc
  test/integration/eslint/eslint-cache/pages/index.js
  test/integration/eslint/test/index.test.js
Labels: type: documentation, type: next, created-by: Chrome Aurora

#28400 Update test config to leverage swc
  jest.config.js
  package.json
  packages/next/compiled/@vercel/nft/index.js
  packages/next/compiled/webpack/bundle4.js
  test/.babelrc
  test/integration/serverless/test/index.test.js
  test/tsconfig.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#27184 [examples] Added `with-couchbase` example
  examples/with-couchbase/.env.local.example
  examples/with-couchbase/.gitignore
  examples/with-couchbase/README.md
  examples/with-couchbase/package.json
  examples/with-couchbase/pages/_app.js
  examples/with-couchbase/pages/index.js
  examples/with-couchbase/public/favicon.ico
  examples/with-couchbase/public/vercel.svg
  examples/with-couchbase/styles/Home.module.css
  examples/with-couchbase/styles/globals.css
  examples/with-couchbase/util/couchbase.js
Labels: type: example

#28459 Add missing `typescript` property to `NextConfig`
  packages/next/build/index.ts
  packages/next/server/config-shared.ts
Labels: type: next

#28428 next/script fix duplicate scripts
  packages/next/client/index.tsx
  packages/next/client/script.tsx
  packages/next/shared/lib/head-manager-context.ts
  test/integration/script-loader/pages/page3.js
  test/integration/script-loader/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#28043 [examples] Add ElasticSearch example
  examples/with-elasticsearch/.env.local.example
  examples/with-elasticsearch/.gitignore
  examples/with-elasticsearch/README.md
  examples/with-elasticsearch/lib/elasticsearch.js
  examples/with-elasticsearch/package.json
  examples/with-elasticsearch/pages/_app.js
  examples/with-elasticsearch/pages/index.js
  examples/with-elasticsearch/public/favicon.ico
  examples/with-elasticsearch/public/vercel.svg
  examples/with-elasticsearch/styles/Home.module.css
  examples/with-elasticsearch/styles/globals.css
Labels: type: example

#28431 Fix: changing import syntax slightly to ensure success with `create-next-app`
  examples/with-couchbase/util/couchbase.js
Labels: type: example

#28472 Minor docs edit: cors -> CORS
  docs/api-routes/introduction.md
Labels: type: documentation

#28476 Update docs for `sharp` usage to mention Vercel
  docs/basic-features/image-optimization.md
  errors/sharp-missing-in-production.md
Labels: type: documentation, created-by: Next.js team

#28430 Ensure error is shown correctly for empty headers field
  packages/next/lib/load-custom-routes.ts
  test/integration/invalid-custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#28461 Add default trace format that is exported automatically
  packages/next/build/babel/loader/index.ts
  packages/next/build/babel/loader/types.d.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/build/webpack/plugins/build-stats-plugin.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/profiling-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/telemetry/trace/report/index.ts
  packages/next/telemetry/trace/report/to-jaeger.ts
  packages/next/telemetry/trace/report/to-json.ts
  packages/next/telemetry/trace/report/to-zipkin.ts
  scripts/send-trace-to-jaeger.mjs
Labels: type: next, created-by: Next.js team

#28481 Add prop-types in package.json
  examples/active-class-name/package.json
Labels: type: example

#28429 Update i18n locales limit to warning
  docs/advanced-features/i18n-routing.md
  packages/next/server/config.ts
Labels: type: documentation, type: next, created-by: Next.js team

#28479 Fix handling for 204 status code with a body
  errors/invalid-api-status-body.md
  errors/manifest.json
  packages/next/server/api-utils.ts
  test/integration/api-support/pages/api/status-204.js
  test/integration/api-support/test/index.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#28590 Small grammar fixes
  docs/api-reference/next.config.js/exportPathMap.md
Labels: type: documentation

#28620 Add CSP to Image Optimization API
  packages/next/server/image-optimizer.ts
  test/integration/production/pages/svg-image.js
  test/integration/production/public/xss.svg
  test/integration/production/test/index.test.js
  test/integration/production/test/security.js
Labels: type: next, created-by: Next.js team

#28610 Add apiVersion to config
  examples/cms-sanity/lib/config.js
Labels: type: example

#28626 chore: upgrade styled-jsx to 4.0.1
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#28607 getServerSideProps should support props value as Promise
  docs/basic-features/data-fetching.md
  packages/next/server/render.tsx
  test/integration/getserversideprops/pages/promise/index.js
  test/integration/getserversideprops/test/index.test.js
Labels: type: documentation, type: next, created-by: Chrome Aurora

#28631 Ensure custom app regex is correct for Windows
  packages/next/build/webpack-config.ts
  test/integration/css-client-nav/test/index.test.js
  test/integration/css-fixtures/multi-module/pages/_app.js
  test/integration/css-fixtures/multi-module/pages/global.css
  test/integration/production/test/security.js
Labels: type: next, created-by: Next.js team

#28643 Add error page path for next-script-for-ga
  errors/manifest.json
Labels: type: documentation

#28612 fix esm externals edge case with "module" condition
  packages/next/build/webpack-config.ts
  test/integration/externals-esm-loose/test/index.test.js
  test/integration/externals-esm/test/index.test.js
  test/integration/externals/node_modules/module-package/correct.js
  test/integration/externals/node_modules/module-package/package.json
  test/integration/externals/node_modules/module-package/wrong.mjs
  test/integration/externals/pages/ssg.js
  test/integration/externals/pages/ssr.js
  test/integration/externals/pages/static.js
  test/integration/externals/test/index.test.js
Labels: type: next, created-by: Next.js team

#28672 Fix TS type conflict for `<img>` tag
  packages/next/client/image.tsx
  packages/next/types/index.d.ts
Labels: type: next, created-by: Next.js team
