Repository vercel/next.js, pull requests merged in 2021-09, with the labels that each got.

#28662 Do not have the required package error fix
  packages/create-next-app/create-app.ts
  test/integration/create-next-app/index.test.js
Labels: type: create-next-app

#28667 Ensure build trace is correct with extra entries
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/build-trace-extra-entries/content/hello.json
  test/integration/build-trace-extra-entries/lib/get-data.js
  test/integration/build-trace-extra-entries/next.config.js
  test/integration/build-trace-extra-entries/pages/index.js
  test/integration/build-trace-extra-entries/test/index.test.js
Labels: type: next, created-by: Next.js team

#28694 fix: should allow nullable param for res.end
  packages/next/server/api-utils.ts
  test/integration/api-support/pages/api/nullable-payload.js
  test/integration/api-support/test/index.test.js
Labels: type: next, created-by: Next.js team

#28724 Update image styling doc
  docs/api-reference/next/image.md
Labels: type: documentation, created-by: Chrome Aurora

#28728 Remove .next/traces directory as it's not used
  packages/next/telemetry/trace/report/to-json.ts
Labels: type: next, created-by: Next.js team

#28735 Update css-loader runtime to use compiled files
  packages/next/build/webpack/loaders/css-loader/src/runtime/api.js
  packages/next/build/webpack/loaders/css-loader/src/runtime/getUrl.js
Labels: type: next, created-by: Next.js team

#28740 Fix typings of dynamic suspense
  packages/next/shared/lib/dynamic.tsx
  test/integration/react-18/app/components/ts-foo.tsx
  test/integration/react-18/app/pages/suspense/typing.tsx
  test/integration/react-18/app/tsconfig.json
Labels: type: next, created-by: Next.js team

#28744 Update docs to clarify that image imports are static
  docs/basic-features/image-optimization.md
Labels: type: documentation, created-by: Next.js team

#28745 Fix `next lint` no-document-import-in-page on Windows
  packages/eslint-plugin-next/lib/rules/no-document-import-in-page.js
  test/unit/eslint-plugin-next/no-document-import-in-page.test.ts
Labels: created-by: Next.js team

#28750 Fix lerna publish for automation token
  scripts/publish-release.sh
Labels: created-by: Next.js team

#28751 Update github labeler with `eslint-plugin-next`
  .github/labeler.json
Labels: created-by: Next.js team

#28770 Ensure build trace handles mixed modules
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/build-trace-extra-entries/app/content/hello.json
  test/integration/build-trace-extra-entries/app/lib/fetch-data.js
  test/integration/build-trace-extra-entries/app/lib/get-data.js
  test/integration/build-trace-extra-entries/app/next.config.js
  test/integration/build-trace-extra-entries/app/node_modules/some-cms/index.js
  test/integration/build-trace-extra-entries/app/node_modules/some-cms/package.json
  test/integration/build-trace-extra-entries/app/pages/index.js
  test/integration/build-trace-extra-entries/pages/index.js
  test/integration/build-trace-extra-entries/test/index.test.js
Labels: type: next, created-by: Next.js team

#28768 [ESLint Plugin] Updates `no-document-import-in-page` rule to use `path` separators
  packages/eslint-plugin-next/lib/rules/no-document-import-in-page.js
  test/unit/eslint-plugin-next/no-document-import-in-page.test.ts
Labels: type: next, created-by: Chrome Aurora

#28718 Change create-next-app getting started text in TypeScript template
  packages/create-next-app/templates/typescript/pages/index.tsx
Labels: type: create-next-app

#28668 feat: Adding generic typing for previewData
  packages/next/types/index.d.ts
  test/integration/typescript/pages/ssg/[slug].tsx
  test/integration/typescript/pages/ssr/[slug].tsx
Labels: type: next

#28776 Add `RenderResult` class
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/export/worker.ts
  packages/next/server/next-server.ts
  packages/next/server/render-result.ts
  packages/next/server/render.tsx
  packages/next/server/response-cache.ts
  packages/next/server/send-payload.ts
  packages/next/server/utils.ts
Labels: type: next, created-by: Chrome Aurora

#28727 Reuse warning from postcss-loader
  packages/next/build/webpack/loaders/css-loader/src/Warning.js
  packages/next/build/webpack/loaders/css-loader/src/index.js
Labels: type: next, created-by: Next.js team

#28822 mini-css-extract-plugin should not bundle webpack code
  packages/next/compiled/mini-css-extract-plugin/index.js
  packages/next/compiled/mini-css-extract-plugin/loader.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#28756 Add tracing for css-loader
  packages/next/build/webpack/loaders/css-loader/src/index.js
  packages/next/build/webpack/loaders/postcss-loader/src/index.js
Labels: type: next, created-by: Next.js team

#28793 Simplify static + dynamic HTML generation
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/export/index.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Chrome Aurora

#28042 [ESLint] Support single-file linting in `next lint` (necessary for `lint-staged`)
  docs/basic-features/eslint.md
  packages/next/cli/next-lint.ts
  test/integration/eslint/file-linting/.eslintrc.json
  test/integration/eslint/file-linting/pages/bar.js
  test/integration/eslint/file-linting/pages/index.js
  test/integration/eslint/file-linting/utils/math.js
  test/integration/eslint/test/index.test.js
Labels: type: documentation, type: next, created-by: Chrome Aurora

#28819 exclude test files from copy in trace-next-server
  scripts/trace-next-server.js
Labels: created-by: Next.js team

#28805 Add note to Gatsby migration guide about using `next/image` with custom loaders.
  docs/migrating/from-gatsby.md
Labels: type: documentation, created-by: Next.js team

#28760 Add line break to typescript template
  packages/create-next-app/templates/typescript/pages/_app.tsx
Labels: type: create-next-app

#28475 Webpack rule to block importing images into _document
  errors/custom-document-image-import.md
  errors/manifest.json
  packages/next/build/webpack/config/blocks/images/index.ts
  packages/next/build/webpack/config/blocks/images/messages.ts
  packages/next/build/webpack/config/index.ts
  test/integration/invalid-document-image-import/pages/_document.js
  test/integration/invalid-document-image-import/pages/index.js
  test/integration/invalid-document-image-import/public/test.jpg
  test/integration/invalid-document-image-import/test/index.test.js
Labels: type: documentation, type: next

#28817 doc: fix typo
  docs/api-routes/api-middlewares.md
Labels: type: documentation

#28850 (docs) Remove duplicate comma
  docs/api-reference/next.config.js/redirects.md
Labels: type: documentation

#28852 (docs) Add `permanent` property in redirect object
  docs/api-reference/next.config.js/redirects.md
Labels: type: documentation

#28652 with-stitches example fixes #28650
  examples/with-stitches/package.json
  examples/with-stitches/pages/_document.jsx
  examples/with-stitches/stitches.config.js
Labels: type: example

#28846 Remove outdated webpack conformance experiment
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/TestInterface.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/duplicate-polyfills-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/granular-chunks-conformance.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/minification-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/checks/react-sync-scripts-conformance-check.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/constants.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/index.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/ast-utils.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/file-utils.ts
  packages/next/build/webpack/plugins/webpack-conformance-plugin/utils/utils.ts
Labels: type: next, created-by: Next.js team

#28844 Remove unused profiler
  packages/next/build/profiler/profiler.js
Labels: type: next, created-by: Next.js team

#28876 Remove unused dependencies
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/compiled/recast/LICENSE
  packages/next/compiled/recast/main.js
  packages/next/compiled/recast/package.json
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#28755 Updates @react-three/drei version and other dependencies.
  examples/with-three-js/package.json
Labels: type: example

#28881 Trim large test output to not exceed limit
  run-tests.js
Labels: created-by: Next.js team

#28841 Update `next/link` API docs to mention a11y and ESLint rule.
  docs/api-reference/next/link.md
Labels: type: documentation, created-by: Next.js team

#28637 fixes with-typescript-graphql: unable to resolve dependency tree
  examples/with-typescript-graphql/package.json
Labels: type: example

#28871 Examples Prepr CMS update
  examples/cms-prepr/README.md
  examples/cms-prepr/models/post.json
Labels: type: example

#28601 Fix Typo in "with-eslint" Example docs
  examples/with-eslint/README.md
Labels: type: example

#28892 Update concurrent tests and enable experimental streaming
  packages/next/server/next-server.ts
  packages/next/server/utils.ts
  test/integration/react-18/app/components/hello.js
  test/integration/react-18/app/pages/ssr.js
  test/integration/react-18/test/concurrent.js
  test/integration/react-18/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#28899 Ensure timed out prefetches are cleaned up correctly
  packages/next/client/route-loader.ts
  test/integration/preload-viewport/pages/another.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/route-load-cancel-css/test/index.test.js
Labels: type: next, created-by: Next.js team

#28917 name should be key
  docs/api-reference/next/head.md
Labels: type: documentation

#28900 Simplify `RenderResult`
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/export/worker.ts
  packages/next/server/render-result.ts
  packages/next/server/render.tsx
  packages/next/server/response-cache.ts
  packages/next/server/send-payload.ts
Labels: type: next, created-by: Chrome Aurora

#27674 chore(examples): switch to Script component on the google analytics example
  errors/next-script-for-ga.md
  examples/with-google-analytics/pages/_app.js
  examples/with-google-analytics/pages/_document.js
Labels: type: example, type: documentation

#28709 fix: should allow optional properties for `images` option
  packages/next/client/image.tsx
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/image-config.ts
Labels: type: next

#28646 Adopt context based experimental styled-jsx version
  packages/next/client/index.tsx
  packages/next/package.json
  packages/next/pages/_document.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/utils.ts
  packages/next/types/misc.d.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#28939 Fix ensurePage race condition
  packages/next/server/dev/on-demand-entry-handler.ts
  test/integration/basepath/test/index.test.js
Labels: type: next, created-by: Next.js team

#28710 Support node-sass@6
  package.json
  packages/next/compiled/sass-loader/cjs.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#28946 Update swc
  package.json
  packages/next/build/swc/Cargo.lock
  yarn.lock
Labels: type: next

#28916 Updates supertokens-node dependency version
  examples/with-supertokens/config/supertokensConfig.js
  examples/with-supertokens/package.json
  examples/with-supertokens/pages/api/auth/[[...path]].js
  examples/with-supertokens/pages/api/user.js
Labels: type: example

#28964 Fixed issue with grammar
  docs/api-reference/next/link.md
Labels: type: documentation

#28972 Fix create-next-app tests from example change
  test/integration/create-next-app/index.test.js
Labels: created-by: Next.js team

#28973 Ensure cache-control is correct for notFound: true with revalidate
  packages/next/server/next-server.ts
  test/integration/required-server-files/app/data.txt
  test/integration/required-server-files/app/pages/gsp.js
  test/integration/required-server-files/app/pages/gssp.js
  test/integration/required-server-files/test/index.test.js
Labels: type: next, created-by: Next.js team

#28999 Update gSSP type to support props as a promise
  packages/next/types/index.d.ts
  test/integration/typescript/pages/ssr/promise.tsx
Labels: type: next, created-by: Chrome Aurora

#29007 Use `Writable` instead of `Observable`
  packages/next/compiled/zen-observable/LICENSE
  packages/next/compiled/zen-observable/esm.js
  packages/next/compiled/zen-observable/package.json
  packages/next/package.json
  packages/next/server/render-result.ts
  packages/next/server/render.tsx
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/react-18/app/pages/_app.js
  test/integration/react-18/app/pages/suspense/backpressure.js
  test/integration/react-18/test/concurrent.js
  yarn.lock
Labels: type: next, created-by: Chrome Aurora

#29009 Pass code as buffer to swc minify
  packages/next/build/swc/index.js
Labels: type: next, created-by: Next.js team

#29011 Fix falsy values not being returned in post fields
  examples/blog-starter-typescript/lib/api.ts
  examples/blog-starter/lib/api.js
  examples/blog-with-comment/lib/getPost.js
Labels: type: example

#29027 Fix minor typo in no-img-element.md
  errors/no-img-element.md
Labels: type: documentation

#28862 Make next-ssg optional
  packages/next/build/swc/src/transform.rs
  packages/next/build/swc/src/util.rs
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
Labels: type: next

#29055 `next/dynamic`: Accept `pagesDir`
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/src/next_dynamic.rs
  packages/next/build/swc/src/transform.rs
  packages/next/build/swc/tests/fixture.rs
  packages/next/build/swc/tests/fixture/next-dynamic/duplicated-imports/output.js
  packages/next/build/swc/tests/fixture/next-dynamic/member-with-same-name/output.js
  packages/next/build/swc/tests/fixture/next-dynamic/no-options/output.js
  packages/next/build/swc/tests/fixture/next-dynamic/with-options/output.js
Labels: type: next

#29052 Add more examples of static generation to docs page.
  docs/basic-features/pages.md
Labels: type: documentation

#28990 Make traces in development reliable
  .eslintignore
  bench/capture-trace.js
  bench/nested-deps/.gitignore
  bench/nested-deps/fuzzponent.js
  bench/nested-deps/next.config.js
  bench/nested-deps/package.json
  bench/nested-deps/pages/index.jsx
  bench/rendering/package.json
  bench/rendering/pages/stateless-big.js
  bench/rendering/pages/stateless.js
  bench/rendering/readme.md
  package.json
  packages/next/build/babel/loader/index.ts
  packages/next/build/babel/loader/transform.ts
  packages/next/build/babel/loader/types.d.ts
  packages/next/build/compiler.ts
  packages/next/build/index.ts
  packages/next/build/output/log.ts
  packages/next/build/output/store.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/babel-loader/src/cache.js
  packages/next/build/webpack/loaders/babel-loader/src/index.js
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/profiling-plugin.ts
  packages/next/cli/next-export.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/taskfile.js
  packages/next/trace/index.ts
  packages/next/trace/report/index.ts
  packages/next/trace/report/to-console.ts
  packages/next/trace/report/to-jaeger.ts
  packages/next/trace/report/to-json.ts
  packages/next/trace/report/to-telemetry.ts
  packages/next/trace/report/to-zipkin.ts
  packages/next/trace/shared.ts
  packages/next/trace/trace.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#29059 Fix webpack version and safari test and update compiled
  .github/workflows/build_test_deploy.yml
  packages/next/compiled/webpack/bundle4.js
  test/integration/config/test/index.test.js
Labels: type: next, created-by: Next.js team

#29060 Update test workflows for mac/react
  .github/workflows/test_macos.yml
  .github/workflows/test_react_experimental.yml
  .github/workflows/test_react_next.yml
Labels: created-by: Next.js team

#29061 [Examples] Updates `with-google-tag-manager` example to use `<Script>` component
  examples/with-google-tag-manager/components/GoogleTagManager.js
  examples/with-google-tag-manager/pages/_app.js
  examples/with-google-tag-manager/pages/_document.js
Labels: type: example, created-by: Chrome Aurora

#29064 Remove extra macOS test workflow
  .github/workflows/test_macos.yml
Labels: created-by: Next.js team

#29067 Add note about using Sharp for next/image to deployment docs.
  docs/deployment.md
Labels: type: documentation, created-by: Next.js team

#29010 Throw error if res is accessed after gSSP returns
  errors/gssp-no-mutating-res
  errors/manifest.json
  packages/next/server/render.tsx
  test/integration/getserversideprops/pages/promise/mutate-res-props.js
  test/integration/getserversideprops/pages/promise/mutate-res.js
  test/integration/getserversideprops/test/index.test.js
Labels: type: documentation, type: next, created-by: Chrome Aurora

#29033 Add crossOrigin type to the NextConfig
  packages/next/server/config-shared.ts
Labels: type: next

#29074 reload the page to show 404 when receiving `invalid` event from on-demand-entries
  packages/next/client/dev/on-demand-entries-utils.js
Labels: type: next, created-by: Next.js team

#29090 Fix host segment replacing for custom routes
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#29103 Update styled-jsx
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#29091 Ensure browser instances are not re-created un-necessarily
  test/lib/browsers/playwright.ts
Labels: created-by: Next.js team

#28869 Remove inert font tag in font optimization
  packages/next/client/head-manager.ts
  packages/next/shared/lib/post-process.ts
  test/integration/font-optimization/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#29118 Remove log from failing to parse source map
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
Labels: type: next, created-by: Next.js team

#29076 Development tracing improvements
  bench/nested-deps/package.json
  packages/next/build/webpack/plugins/profiling-plugin.ts
  packages/next/taskfile.js
  packages/next/trace/report/to-jaeger.ts
  packages/next/trace/trace.ts
Labels: type: next, created-by: Next.js team

#29119 Update trace ignores for next import
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/production/test/index.test.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#29128 Fix partial one off global selectors
  packages/next/build/swc/src/styled_jsx/transform_css.rs
  packages/next/build/swc/tests/fixture/styled-jsx/one-off-global-selectors/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/one-off-global-selectors/output.js
Labels: type: next, created-by: Next.js team

#28815 Add client-side debugging instructions
  docs/advanced-features/debugging.md
Labels: type: documentation

#29136 Fix transform of ` in styled-jsx
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/src/styled_jsx/mod.rs
  packages/next/build/swc/src/styled_jsx/transform_css.rs
  packages/next/build/swc/tests/fixture.rs
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-escape-1/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-escape-1/output.js
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-escape-2/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-escape-2/output.js
Labels: type: next

#29138 Ensure Next.js dist files are commonjs compatible with swcLoader enabled
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/client/router.ts
Labels: type: next, created-by: Next.js team

#29141 next-ssg: Don't inject `__N_SSP` for files without server props.
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/src/next_ssg.rs
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/no-props/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/no-props/output.js
Labels: type: next

#29121 Add crawler blocking for fallback: true
  docs/basic-features/data-fetching.md
  packages/next/server/next-server.ts
  packages/next/server/utils.ts
  test/e2e/example.test.txt
  test/e2e/prerender-crawler.test.ts
  test/lib/e2e-utils.ts
  test/lib/next-modes/next-start.ts
Labels: type: documentation, type: next, created-by: Next.js team

#29112 upgrade to typescript 4.4.3
  package.json
  packages/create-next-app/create-app.ts
  packages/create-next-app/package.json
  packages/next-env/index.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseBabel.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/cli/next-lint.ts
  packages/next/cli/next-start.ts
  packages/next/cli/next-telemetry.ts
  packages/next/client/index.tsx
  packages/next/client/request-idle-callback.ts
  packages/next/client/router.ts
  packages/next/export/worker.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/file-exists.ts
  packages/next/lib/is-error.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/lib/recursive-copy.ts
  packages/next/lib/recursive-delete.ts
  packages/next/lib/typescript/getTypeScriptConfiguration.ts
  packages/next/lib/typescript/missingDependencyError.ts
  packages/next/lib/verifyAndLint.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/package.json
  packages/next/pages/_document.tsx
  packages/next/server/api-utils.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/server/response-cache.ts
  packages/next/server/router.ts
  packages/next/shared/lib/router/router.ts
  packages/next/types/global.d.ts
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  yarn.lock
Labels: type: next, type: create-next-app, created-by: Next.js team

#29146 Fix native unit tests
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/no-props/output.js
Labels: type: next, created-by: Next.js team

#29149 Ensure traces are flushed in development when there is an error
  packages/next/build/output/store.ts
Labels: type: next, created-by: Next.js team

#29151 Update swc dependencies
  package.json
  yarn.lock
Labels: created-by: Next.js team

#29155 Workflow improvements
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#29170 Add name to invalidated span
  packages/next/build/webpack/plugins/profiling-plugin.ts
Labels: type: next, created-by: Next.js team

#28359 fix(with-sentry example): Small tweaks
  examples/with-sentry/README.md
  examples/with-sentry/next.config.js
  examples/with-sentry/pages/index.js
  examples/with-sentry/pages/ssr/test2.js
  examples/with-sentry/sentry.properties
Labels: type: example

#29169 suggest incremental typescript for typescript >= 4.4.2
  packages/next/lib/typescript/writeConfigurationDefaults.ts
  test/integration/tsconfig-verifier/test/index.test.js
Labels: type: next, created-by: Next.js team

#29180 bugfix: remark/webpack conflict
  examples/cms-strapi/lib/markdownToHtml.js
Labels: type: example

#28906 Use new @clerk/nextjs package in with-clerk example, update Next.js authentication docs
  docs/authentication.md
  examples/with-clerk/.env.local.example
  examples/with-clerk/README.md
  examples/with-clerk/components/Header.js
  examples/with-clerk/package.json
  examples/with-clerk/pages/_app.js
  examples/with-clerk/pages/api/getAuthenticatedUserId.js
  examples/with-clerk/pages/api/hello.js
  examples/with-clerk/pages/index.js
  examples/with-clerk/pages/sign-in/[[...index]].js
  examples/with-clerk/pages/sign-up/[[...index]].js
  examples/with-clerk/pages/user/[[...index]].js
  examples/with-clerk/public/icons/download.svg
  examples/with-clerk/public/icons/server.svg
  examples/with-clerk/styles/Home.module.css
Labels: type: example, type: documentation

#29181 Fix dependency in `api-routes` example
  examples/api-routes/data.js
  examples/api-routes/package.json
Labels: type: example

#29070 Update router.prefetch section to clarify it supports dynamic routes
  docs/api-reference/next/router.md
Labels: type: documentation

#29183 Ensure manifests check has correct exit code on fail
  errors/gssp-no-mutating-res.md
  scripts/check-manifests.js
Labels: type: documentation, created-by: Next.js team

#28940 add support for new URL()
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/types/webpack.d.ts
  test/integration/server-asset-modules/my-data.json
  test/integration/server-asset-modules/next.config.js
  test/integration/server-asset-modules/pages/api/test.js
  test/integration/server-asset-modules/test/index.test.js
  test/integration/url/pages/api/basename.js
  test/integration/url/pages/api/size.js
  test/integration/url/pages/ssg.js
  test/integration/url/pages/ssr.js
  test/integration/url/pages/static.js
  test/integration/url/public/vercel.png
  test/integration/url/test/index.test.js
Labels: type: next, created-by: Next.js team

#29188 Fix minor typos
  docs/basic-features/typescript.md
  examples/with-aws-amplify-typescript/README.md
  examples/with-chakra-ui-typescript/README.md
Labels: type: example, type: documentation

#24481 Fix bug where returning `{ notFound: true }` from GSP broke `next export`
  packages/next/export/index.ts
  test/integration/export/pages/gsp-notfound.js
  test/integration/export/pages/index.js
  test/integration/export/test/browser.js
Labels: type: next

#28546 Fix type-check in Temporal example
  examples/with-temporal/pages/api/orders/index.ts
  examples/with-temporal/tsconfig.json
Labels: type: example

#29178 Update Gatsby migration guide to use image imports.
  docs/migrating/from-gatsby.md
Labels: type: documentation, created-by: Next.js team

#22818 Fix #11107 - don't prefetch preloaded modules
  packages/next/client/route-loader.ts
  test/integration/preload-viewport/test/index.test.js
Labels: type: next

#29216 Fix array query value has matching
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#27969 Remove useless getComputedStyle call.
  packages/next/client/index.tsx
Labels: type: next

#28100 Preserve `next-env.d.ts` line ending
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
  test/unit/write-app-declarations.test.ts
Labels: type: next

#29192 switch to Script component on the facebook pixel example
  examples/with-facebook-pixel/components/FacebookPixel.js
  examples/with-facebook-pixel/pages/_app.js
  examples/with-facebook-pixel/pages/_document.js
Labels: type: example

#29174 fix compilation relationship
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/build-stats-plugin.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/build/webpack/plugins/profiling-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Labels: type: next, created-by: Next.js team

#29251 Add spans for hot-reloader start
  packages/next/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#29217 Ensure trailingSlash is correct for index with query
  packages/next/shared/lib/router/router.ts
  test/e2e/basepath-trailing-slash.test.ts
  test/e2e/basepath.test.ts
  test/lib/e2e-utils.ts
Labels: type: next, created-by: Next.js team

#29245 Migrate prerender tests to new set-up
  package.json
  packages/next/compiled/@vercel/nft/index.js
  test/e2e/basepath.test.ts
  test/e2e/prerender-native-module.test.ts
  test/e2e/prerender-native-module/data.sqlite
  test/e2e/prerender-native-module/pages/blog/[slug].js
  test/e2e/prerender-native-module/pages/index.js
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/another/index.js
  test/e2e/prerender/pages/api-docs/[...slug].js
  test/e2e/prerender/pages/api/bad.js
  test/e2e/prerender/pages/bad-gssp.js
  test/e2e/prerender/pages/bad-ssr.js
  test/e2e/prerender/pages/blocking-fallback-once/[slug].js
  test/e2e/prerender/pages/blocking-fallback-some/[slug].js
  test/e2e/prerender/pages/blocking-fallback/[slug].js
  test/e2e/prerender/pages/blog/[post]/[comment].js
  test/e2e/prerender/pages/blog/[post]/index.js
  test/e2e/prerender/pages/blog/index.js
  test/e2e/prerender/pages/catchall-explicit/[...slug].js
  test/e2e/prerender/pages/catchall-optional/[[...slug]].js
  test/e2e/prerender/pages/catchall/[...slug].js
  test/e2e/prerender/pages/default-revalidate.js
  test/e2e/prerender/pages/dynamic/[slug].js
  test/e2e/prerender/pages/fallback-only/[slug].js
  test/e2e/prerender/pages/index.js
  test/e2e/prerender/pages/index/index.js
  test/e2e/prerender/pages/lang/[lang]/about.js
  test/e2e/prerender/pages/non-json-blocking/[p].js
  test/e2e/prerender/pages/non-json/[p].js
  test/e2e/prerender/pages/normal.js
  test/e2e/prerender/pages/something.js
  test/e2e/prerender/pages/user/[user]/profile.js
  test/e2e/prerender/world.txt
  test/integration/prerender-native-module/next.config.js
  test/integration/prerender/next.config.js
  test/integration/prerender/server.js
  test/integration/prerender/test/index.test.js
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
  test/lib/next-test-utils.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#29235 Fix basePath: false not being honored for client-side redirect
  packages/next/shared/lib/router/router.ts
  test/integration/config-promise-error/next.config.js
  test/integration/config-promise-error/test/index.test.js
  test/integration/gssp-redirect-base-path/test/index.test.js
Labels: type: next, created-by: Next.js team

#29274 Ensure we only ignore .git cache for check-precompiled
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#29275 Ensure actions/cache paths match for restoring
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#29267 Rename experimental tracing to `outputFileTracing`
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  test/e2e/prerender-native-module.test.ts
  test/e2e/prerender.test.ts
  test/integration/build-trace-extra-entries/app/next.config.js
  test/integration/production/next.config.js
  test/integration/required-server-files/app/next.config.js
Labels: type: next, created-by: Next.js team

#29254 Add internal mode for debugging Next.js core webpack
  packages/next/bundles/webpack/packages/webpack.js
  packages/next/compiled/webpack/webpack.js
Labels: type: next, created-by: Next.js team

#29282 Update with-segment-analytics example to use next/script component
  examples/with-segment-analytics/pages/_app.js
  examples/with-segment-analytics/pages/_document.js
Labels: type: example, created-by: Chrome Aurora

#29270 Ensure href/as behavior points to correct docs
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
Labels: type: documentation, created-by: Next.js team

#29305 Update font-optimization test snapshot
  test/integration/font-optimization/fixtures/with-google/manifest-snapshot.json
Labels: created-by: Next.js team

#29205 Fix invalid project dir casing breaking Next.js on Windows
  errors/invalid-project-dir-casing.md
  errors/manifest.json
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/cli/next-lint.ts
  packages/next/cli/next-start.ts
  packages/next/lib/get-project-dir.ts
Labels: type: documentation, type: next, created-by: Next.js team

#29288 Fix add-entry span duration
  packages/next/build/webpack/plugins/profiling-plugin.ts
Labels: type: next, created-by: Next.js team

#29311 fix: cover image redirect to undefined
  examples/cms-strapi/components/cover-image.js
Labels: type: example

#28104 feat: allow setting custom tsconfig file
  docs/basic-features/typescript.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/lib/typescript/getTypeScriptIntent.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/next-dev-server.ts
  test/integration/typescript-custom-tsconfig/next.config.js
  test/integration/typescript-custom-tsconfig/pages/index.tsx
  test/integration/typescript-custom-tsconfig/test/index.test.js
  test/integration/typescript-custom-tsconfig/web.tsconfig.json
  test/integration/typescript/test/index.test.js
Labels: type: documentation, type: next

#29307 Ensure static image works correctly with basePath
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/server/config.ts
  packages/next/server/image-optimizer.ts
  test/integration/image-component/base-path/components/TallImage.js
  test/integration/image-component/base-path/components/tall.png
  test/integration/image-component/base-path/pages/static-img.js
  test/integration/image-component/base-path/public/foo/test-rect.jpg
  test/integration/image-component/base-path/public/test.ico
  test/integration/image-component/base-path/public/test.webp
  test/integration/image-component/base-path/test/static.test.js
Labels: type: next, created-by: Next.js team

#29342 Use webpack resolve with nft
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
Labels: type: next, created-by: Next.js team

#28096 fix(create-next-app): starter styling errors
  packages/create-next-app/templates/default/styles/Home.module.css
  packages/create-next-app/templates/typescript/styles/Home.module.css
Labels: type: create-next-app

#28769 Experimental: hook version of reportWebVitals
  packages/next/client/index.tsx
  packages/next/client/performance-relayer.ts
  packages/next/taskfile.js
  packages/next/vitals.d.ts
  packages/next/vitals.js
  packages/next/vitals/index.ts
  packages/next/vitals/vitals.ts
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
Labels: type: next, created-by: Next.js team

#29175 enable unsafeCache for better incremental build performance
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#29397 Update invalid-getstaticpaths-value.md
  errors/invalid-getstaticpaths-value.md
Labels: type: documentation

#29367 Fix `onLoadingComplete()` callback when image src is Data URL
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/on-loading-complete.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#29382 Update imperative routing docs to have better a11y
  docs/routing/imperatively.md
Labels: type: documentation, created-by: Next.js team

#29325 Additional bench tracing improvements
  .vscode/launch.json
  bench/nested-deps/.gitignore
  bench/nested-deps/next.config.js
  bench/nested-deps/package.json
  packages/next/trace/trace.ts
Labels: type: next, created-by: Next.js team

#28893 Remove inline-source-map for Windows
  packages/next/build/webpack/config/blocks/base.ts
Labels: type: next, created-by: Next.js team

#29425 Remove unsafeCache from benchmark + use cross-env for benchmark
  bench/nested-deps/next.config.js
  bench/nested-deps/package.json
Labels: created-by: Next.js team

#29436 Ensure blurDataURL is correct in dev with basePath
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-image-loader.js
  test/integration/image-component/base-path/test/static.test.js
Labels: type: next, created-by: Next.js team

#29460 Update swc
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/src/next_ssg.rs
  packages/next/build/swc/src/styled_jsx/transform_css.rs
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-placeholder-1/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-placeholder-1/output.js
Labels: type: next

#29443 Update test timings endpoint
  .github/workflows/build_test_deploy.yml
  run-tests.js
Labels: created-by: Next.js team

#29466 Fix SWC unit test
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-placeholder-1/output.js
Labels: type: next, created-by: Next.js team

#29437 Ensure initial imports are included in traces correctly
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#29277 Fixed MongoParseError
  examples/with-mongodb-mongoose/lib/dbConnect.js
Labels: type: example

#29442 Rename `onReadyToStream` to `onCompleteShell`
  packages/next/server/render.tsx
  yarn.lock
Labels: type: next, created-by: Chrome Aurora

#29486 fix test/integration/app-document-remove-hmr flake
  test/integration/app-document-remove-hmr/test/index.test.js
Labels: created-by: Next.js team

#29494 Parallelize `requirePage` when loading components
  packages/next/server/load-components.ts
Labels: type: next, created-by: Next.js team

#29497 Invalidate webpack cache when swc options are enabled/disabled
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#29498 Add Stitches example to CSS-in-JS docs
  docs/basic-features/built-in-css-support.md
Labels: type: documentation

#29473 Update output tracing resolving
  .gitignore
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/production/test/index.test.js
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
Labels: type: next, created-by: Next.js team

#29518 make client and server independent for on-demand-entries
  packages/next/build/output/store.ts
  packages/next/build/webpack-config.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#29457 Update getServerSideProps docs with req.cookie note
  docs/basic-features/data-fetching.md
Labels: type: documentation

#29524 Update resolve options for nft
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
Labels: type: next, created-by: Next.js team

#29530 Add id to inline gtag script
  examples/with-google-analytics/pages/_app.js
Labels: type: example

#29525 Fix custom app file regex
  packages/next/build/webpack-config.ts
  test/integration/css-fixtures/single-global-special-characters/a+b/pages/_app.js
  test/integration/css-fixtures/single-global-special-characters/a+b/pages/index.js
  test/integration/css-fixtures/single-global-special-characters/a+b/styles/global.css
  test/integration/css/test/index.test.js
Labels: type: next
