Repository vercel/next.js, pull requests merged in 2021-11, with the labels that each got.

#30704 Add note about HMR WebSocket to upgrade guide
  docs/upgrading.md
Labels: type: documentation, created-by: Next.js team

#30708 Add security notes to the URL imports documentation.
  docs/api-reference/next.config.js/url-imports.md
Labels: type: documentation, created-by: Next.js team

#30673 Add workaround for prefixing the default locale to the docs.
  docs/advanced-features/i18n-routing.md
Labels: type: documentation, created-by: Next.js team

#30696 Improve error message for importing native Node APIs in the edge runtime
  packages/next/build/index.ts
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
  packages/next/build/webpack-config.ts
  packages/next/cli/next-build.ts
  test/integration/react-streaming-and-server-components/app-fs/next.config.js
  test/integration/react-streaming-and-server-components/app-fs/package.json
  test/integration/react-streaming-and-server-components/app-fs/pages/index.js
  test/integration/react-streaming-and-server-components/app/components/foo.client.js
  test/integration/react-streaming-and-server-components/app/components/red/index.client.js
  test/integration/react-streaming-and-server-components/app/components/red/style.module.css
  test/integration/react-streaming-and-server-components/app/next.config.js
  test/integration/react-streaming-and-server-components/app/package.json
  test/integration/react-streaming-and-server-components/app/pages/css-modules.server.js
  test/integration/react-streaming-and-server-components/app/pages/global-styles-rsc.server.js
  test/integration/react-streaming-and-server-components/app/pages/global-styles.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/invalid-ext.server.tsx
  test/integration/react-streaming-and-server-components/app/pages/next-api/image.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/app/public/test.jpg
  test/integration/react-streaming-and-server-components/app/styles.css
  test/integration/react-streaming-and-server-components/app/tsconfig.json
  test/integration/react-streaming-and-server-components/test/css.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#30737 Fix spelling error
  docs/api-reference/next/image.md
Labels: type: documentation

#30746 Ensure dev binary download skips for docs only change
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
Labels: created-by: Next.js team

#30748 Fix a couple more missing doc only checks
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#30752 Fix link to Elasticsearch products page
  examples/with-elasticsearch/README.md
Labels: type: example

#30726 docs: update react 18 configuration
  docs/advanced-features/react-18.md
Labels: type: documentation, created-by: Next.js team

#30755 Keep attempting to load binary files after failure
  packages/next/build/swc/index.js
Labels: type: next, created-by: Next.js team

#29024 Recommend using next CLI for Docker entrypoint and not yarn
  docs/deployment.md
  examples/with-docker/Dockerfile
Labels: type: example, type: documentation

#30760 Add Node.js 17 to CI
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#30287 Fix Invalid character in header ["Content-Disposition"]
  packages/next/compiled/content-disposition/LICENSE
  packages/next/compiled/content-disposition/index.js
  packages/next/compiled/content-disposition/package.json
  packages/next/package.json
  packages/next/server/image-optimizer.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/image-component/unicode/pages/index.js
  test/integration/image-component/unicode/public/äöüščří.png
  test/integration/image-component/unicode/test/index.test.js
  test/integration/image-optimizer/app/public/äöüščří.png
  test/integration/image-optimizer/test/index.test.js
  yarn.lock
Labels: type: next, hacktoberfest-accepted

#30741 Relax restriction of `images.path` in next.config.js
  packages/next/server/config.ts
Labels: type: next, created-by: Next.js team

#30162 Updates dependencies for with-supertokens example
  examples/with-supertokens/package.json
  examples/with-supertokens/pages/api/user.js
Labels: type: example

#30757 Prevent storing page props cache when in SSG + preview mode
  packages/next/shared/lib/router/router.ts
  test/integration/prerender-preview/pages/index.js
  test/integration/prerender-preview/test/index.test.js
Labels: type: next

#30554 Optimize other fonts provide by Google
  packages/next/shared/lib/constants.ts
Labels: type: next

#30747 Add note about rewrites query updating
  docs/api-reference/next.config.js/rewrites.md
Labels: type: documentation, created-by: Next.js team

#30790 Update swc
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/src/transform.rs
Labels: type: next, created-by: Next.js team

#30786 Add regenerator path
  packages/next/build/webpack/loaders/next-swc-loader.js
  test/integration/pnpm-support/app/pages/regenerator.js
  test/integration/pnpm-support/test/index.test.js
Labels: type: next, created-by: Next.js team

#30816 Update response-helpers.md
  docs/api-routes/response-helpers.md
Labels: type: documentation

#30743 Update loader-utils
  packages/next/build/babel/loader/index.ts
  packages/next/build/webpack/loaders/css-loader/src/index.js
  packages/next/build/webpack/loaders/error-loader.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-style-loader/index.js
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/build/webpack/loaders/postcss-loader/src/index.js
  packages/next/build/webpack/stringify-request.ts
  packages/next/bundles/loader-utils.js
  packages/next/compiled/loader-utils/index.js
  packages/next/compiled/loader-utils/loader-utils.js
  packages/next/compiled/loader-utils/package.json
  packages/next/package.json
  packages/next/taskfile.js
  test/integration/image-component/base-path/test/static.test.js
  test/integration/image-optimizer/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/react-18/app/node_modules/react-dom/package.json
  test/lib/next-test-utils.js
  test/unit/next-babel-loader-dev.test.ts
  test/unit/next-babel-loader-prod.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#30823 Re-enable minifying middleware chunks
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Labels: type: next, created-by: Next.js team

#30758 Don't require source files to be writeable in dev mode
  packages/next/server/dev/hot-reloader.ts
  test/integration/read-only-source-hmr/pages/hello.js
  test/integration/read-only-source-hmr/test/index.test.js
Labels: type: next

#30768 Fix incorrect `_document.js` error when `disableStaticImages: true`
  errors/custom-document-image-import.md
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/index.ts
  test/integration/invalid-document-image-import/next.config.js
  test/integration/invalid-document-image-import/test/index.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#30829 Improve error message for importing unsupported native modules
  packages/next/build/index.ts
  packages/next/build/output/store.ts
  packages/next/build/utils.ts
  test/integration/react-streaming-and-server-components/app-fs/pages/index.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/next.config.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/package.json
  test/integration/react-streaming-and-server-components/unsupported-native-module/pages/index.js
Labels: type: next, created-by: Next.js team

#30850 Add postinstall script to install native packages
  package.json
  scripts/install-native.mjs
  yarn.lock
Labels: created-by: Next.js team

#30849 Ensure dev react bundles are not ignored in traces
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  scripts/install-native.mjs
  test/e2e/prerender-native-module.test.ts
  test/e2e/prerender.test.ts
  test/integration/production-swcminify/test/index.test.js
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#30855 Ensure correct tmpdir is used for install-native
  scripts/install-native.mjs
Labels: created-by: Next.js team

#30853 Fix client component imports are not being correctly tracked
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  test/integration/react-streaming-and-server-components/app/components/bar.server.js
  test/integration/react-streaming-and-server-components/app/pages/multi.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#30859 Update swc
  packages/next/build/swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#30771 Fix lost combinator before global
  packages/next/build/swc/src/styled_jsx/transform_css.rs
  packages/next/build/swc/tests/fixture/styled-jsx/global-child-selector/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/global-child-selector/output.js
Labels: type: next, created-by: Next.js team

#30881 Add Next.js version to trace
  packages/next/build/index.ts
  packages/next/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#30890 Update swc
  packages/next/build/swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#30877 Edge Functions: expose `globalThis`
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/middleware-core/pages/interface/_middleware.js
  test/integration/middleware-core/test/index.test.js
Labels: type: next

#30902 Update lock time and message.
  .github/lock.yml
Labels: created-by: Next.js team

#30889 Move browserslist loading webpack-config.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/overrideCssConfiguration.ts
  packages/next/build/webpack/config/blocks/css/plugins.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
Labels: type: next, created-by: Next.js team

#30909 Add linux-x64-musl to napi array
  packages/next/package.json
Labels: type: next, created-by: Next.js team

#30910 Re-enable linux-musl-x64 build target
  .github/workflows/build_test_deploy.yml
  packages/next/package.json
  scripts/publish-native.js
Labels: type: next, created-by: Next.js team

#30912 Fix musll typo
  packages/next/package.json
Labels: type: next, created-by: Next.js team

#30109 Add config support for build activity indicator position
  docs/api-reference/next.config.js/build-indicator.md
  docs/manifest.json
  packages/next/build/webpack-config.ts
  packages/next/client/dev/dev-build-watcher.js
  packages/next/client/next-dev.js
  packages/next/server/config-shared.ts
Labels: type: documentation, type: next

#30916 Skip next-swc canary postinstall in CI
  .github/workflows/build_test_deploy.yml
  scripts/install-native.mjs
Labels: created-by: Next.js team

#30914 Update to use repo specific napi instead of npx
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#30908 Update codeowners to be more specific
  .github/CODEOWNERS
Labels: created-by: Next.js team

#30922 Decrease lock time from 90 to 45.
  .github/lock.yml
Labels: created-by: Next.js team

#30923 Keep using checkout instead of cache for building swc
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#30919 fixes #30604 - Cannot read properties of null (reading 'tagName')
  packages/next/client/head-manager.ts
Labels: type: next

#30857 Update to use project dir for file tracing base
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/server/config-shared.ts
  test/lib/next-test-utils.js
Labels: type: next, created-by: Next.js team

#30928 Fix styles that should not be made dynamic
  packages/next/build/swc/src/styled_jsx/mod.rs
  packages/next/build/swc/tests/fixture/styled-jsx/styles/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/styles/output.js
Labels: type: next, created-by: Next.js team

#30632 Account for `assetPrefix` when initializing HMR connection
  packages/next/client/dev/amp-dev.js
  packages/next/client/dev/error-overlay/websocket.ts
  packages/next/client/next-dev.js
  packages/next/server/dev/next-dev-server.ts
  test/integration/ondemand/next.config.js
  test/integration/ondemand/server.js
  test/integration/ondemand/test/index.test.js
Labels: type: next

#30944 upgrade webpack-sources
  packages/next/compiled/webpack-sources3/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#30935 `next-swc`: Add `.bundle()`
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/index.js
  packages/next/build/swc/src/bundle/mod.rs
  packages/next/build/swc/src/lib.rs
Labels: type: next, created-by: Next.js team

#30954 fix preset name for improved performance
  packages/next/build/output/index.ts
Labels: type: next, created-by: Next.js team

#30963 Use absolute document and app paths for the middleware SSR loader
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/pages/_document.web.tsx
  packages/next/server/dev/hot-reloader.ts
  packages/next/taskfile.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#30969 Fix flakey preload test
  test/integration/preload-viewport/test/index.test.js
Labels: created-by: Next.js team

#30982 Fix version in trace
  packages/next/build/index.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/trace/trace.ts
  scripts/send-trace-to-jaeger.mjs
Labels: type: next, created-by: Next.js team

#30983 Added closing tag to <Suspense>
  docs/advanced-features/react-18.md
Labels: type: documentation

#30985 Update resolving for node_modules trace pass
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  run-tests.js
  test/e2e/prerender-native-module.test.ts
  test/e2e/prerender.test.ts
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#30972 Fix code splitting and build target for the server-web build
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/react-streaming-and-server-components/app/pages/dynamic-imports.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#30975 pass Buffer directly to Rust
  packages/next/build/swc/index.js
  packages/next/build/swc/src/transform.rs
  packages/next/build/webpack/loaders/next-swc-loader.js
Labels: type: next, created-by: Next.js team

#30883 Update middleware eval checks
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/middleware/core/lib/utils.js
  test/integration/middleware/core/next.config.js
  test/integration/middleware/core/pages/interface/[id]/index.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/interface/static.js
  test/integration/middleware/core/pages/redirects/_middleware.js
  test/integration/middleware/core/pages/redirects/header.js
  test/integration/middleware/core/pages/redirects/index.js
  test/integration/middleware/core/pages/redirects/new-home.js
  test/integration/middleware/core/pages/redirects/old-home.js
  test/integration/middleware/core/pages/responses/_middleware.js
  test/integration/middleware/core/pages/responses/deep/_middleware.js
  test/integration/middleware/core/pages/responses/deep/index.js
  test/integration/middleware/core/pages/responses/index.js
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/rewrites/a.js
  test/integration/middleware/core/pages/rewrites/about.js
  test/integration/middleware/core/pages/rewrites/b.js
  test/integration/middleware/core/pages/rewrites/index.js
  test/integration/middleware/core/test/index.test.js
  test/integration/middleware/with-base-path/next.config.js
  test/integration/middleware/with-base-path/pages/_middleware.js
  test/integration/middleware/with-base-path/pages/about.js
  test/integration/middleware/with-base-path/pages/index.js
  test/integration/middleware/with-base-path/test/index.test.js
  test/integration/middleware/with-eval/lib/utils.js
  test/integration/middleware/with-eval/pages/_middleware.js
  test/integration/middleware/with-eval/test/index.test.js
Labels: type: next

#30906 Optimize the SSR middleware runtime size
  packages/next/build/webpack-config.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#31057 Improve error handling in the SSR middleware
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#31037 Ensure decode error in minimal mode responds with 400 not 500
  packages/next/server/next-server.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#31058 Update ServerlessPlugin to use chunkGraph
  packages/next/build/webpack/plugins/serverless-plugin.ts
Labels: type: next, created-by: Next.js team

#31040 Optimise bundle size for with-supertokens example
  examples/with-supertokens/config/appInfo.js
  examples/with-supertokens/config/backendConfig.js
  examples/with-supertokens/config/frontendConfig.js
  examples/with-supertokens/pages/_app.js
  examples/with-supertokens/pages/api/auth/[[...path]].js
  examples/with-supertokens/pages/api/user.js
Labels: type: example

#31051 Update remark and remark-html dependencies
  examples/cms-strapi/package.json
Labels: type: example

#31059 Fix custom 404 page when concurrentFeatures is enabled
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/integration/react-streaming-and-server-components/app/pages/404.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#31039 Upgrade React alpha and experimental dependencies to latest
  package.json
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#31091 Change disabled SWC message to Log.info
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#30156 Add render prop support to `<Main>`
  packages/next/pages/_document.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/utils.ts
  test/integration/document-functional-render-prop/lib/context.js
  test/integration/document-functional-render-prop/pages/_document.js
  test/integration/document-functional-render-prop/pages/index.js
  test/integration/document-functional-render-prop/tests/index.test.js
Labels: type: next, created-by: Chrome Aurora

#31116 Change .web extension of document page to part of path
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/pages/_document-web.tsx
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#31032 improve windows support for benchmark
  bench/nested-deps/next.config.js
  bench/nested-deps/package.json
Labels: created-by: Next.js team

#31090 Enable code splitting for the web runtime build
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
Labels: type: next, created-by: Next.js team, area: Concurrent Features

#31147 Give priority to document.title over h1 when announcing page change
  packages/next/client/route-announcer.tsx
  test/integration/client-navigation-a11y/pages/index.js
  test/integration/client-navigation-a11y/pages/page-with-h1-and-title.js
  test/integration/client-navigation-a11y/pages/page-with-h1.js
  test/integration/client-navigation-a11y/test/index.test.js
Labels: type: next

#31140 Add webpack5 namespace to fix type errors
  packages/next/bundles/webpack/packages/webpack.d.ts
  packages/next/compiled/webpack/webpack.d.ts
Labels: type: next, created-by: Next.js team

#31064 Add warning when image has unused `sizes` prop
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-sizes.js
  test/integration/image-component/default/test/index.test.js
Labels: type: documentation, type: next, created-by: Next.js team

#30993 Add next-swc jest transform
  errors/experimental-jest-transformer.md
  errors/manifest.json
  jest.config.js
  package.json
  packages/next/build/swc/jest.js
  packages/next/build/swc/options.js
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/jest.js
  yarn.lock
Labels: type: documentation, type: next, created-by: Next.js team

#31063 Expands `next/script` documentation
  docs/api-reference/next/script.md
  docs/basic-features/script.md
  docs/manifest.json
Labels: type: documentation, created-by: Chrome Aurora

#29928 fix: support --cache-strategy ESLint argument (fixes #29926)
  packages/next/cli/next-lint.ts
  test/integration/eslint/test/index.test.js
Labels: type: next

#30487 Include www subdomain example in Domain Routing
  docs/advanced-features/i18n-routing.md
Labels: type: documentation

#31163 Fix heading levels in URL imports docs.
  docs/api-reference/next.config.js/url-imports.md
Labels: type: documentation, created-by: Next.js team

#31061 fixes #31060: NullReferenceException
  packages/next/client/head-manager.ts
Labels: type: next

#31134 use loader-utils 2 for resolve-url-loader to fix `./data:` urls in sass
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  packages/next/build/webpack/loaders/css-loader/src/utils.js
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/build/webpack/plugins/copy-file-plugin.ts
  packages/next/compiled/loader-utils/loader-utils.js
  packages/next/compiled/loader-utils/package.json
  packages/next/compiled/loader-utils2/LICENSE
  packages/next/compiled/loader-utils2/index.js
  packages/next/compiled/loader-utils2/package.json
  packages/next/compiled/loader-utils3/LICENSE
  packages/next/compiled/loader-utils3/index.js
  packages/next/compiled/loader-utils3/package.json
  packages/next/compiled/resolve-url-loader/index.js
  packages/next/compiled/sass-loader/cjs.js
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/webpack.d.ts
  test/integration/css-features/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/scss-fixtures/data-url/pages/_app.js
  test/integration/scss-fixtures/data-url/pages/index.js
  test/integration/scss-fixtures/data-url/styles/global.scss
  test/integration/scss-modules/test/index.test.js
  test/integration/scss/test/index.test.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#31150 Update reason message for isolatedModules and esModuleInterop
  packages/next/lib/typescript/writeConfigurationDefaults.ts
Labels: type: next, created-by: Next.js team

#31166 Add input/output test for 30091
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/issue-30091/input.js
  packages/next/build/swc/tests/fixture/ssg/getStaticProps/issue-30091/output.js
Labels: type: next, created-by: Next.js team

#31173 Update upgrading.md
  docs/upgrading.md
Labels: type: documentation

#31102 Fix `useId` mismatches on hydration
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/use-id.js
  test/integration/react-18/test/basics.js
Labels: type: next, created-by: Next.js team

#31187 Do not hide body when concurrentFeatures is enabled
  packages/next/pages/_document.tsx
Labels: type: next, created-by: Next.js team

#31174 Fix middleware i18n rewrites
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/export/worker.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/server/request-meta.ts
  packages/next/server/router.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
  test/integration/middleware/with-i18n/next.config.js
  test/integration/middleware/with-i18n/pages/_middleware.js
  test/integration/middleware/with-i18n/pages/test/[country].js
  test/integration/middleware/with-i18n/test/index.test.js
Labels: type: next

#31189 next-swc: Add `displayNameAndId` of `styled-components`
  package.json
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/options.js
  packages/next/build/swc/src/lib.rs
  packages/next/build/swc/src/transform.rs
  packages/next/build/swc/tests/full.rs
  packages/next/build/swc/tests/loader/styled-components/1/input.js
  packages/next/build/swc/tests/loader/styled-components/1/output.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/server/config-shared.ts
  test/development/basic/styled-components.test.ts
  test/development/basic/styled-components/next.config.js
  test/development/basic/styled-components/pages/_app.js
  test/development/basic/styled-components/pages/_document.js
  test/development/basic/styled-components/pages/index.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#31197 Add integration test for Suspense and streaming
  test/integration/react-streaming-and-server-components/app/pages/streaming.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: created-by: Next.js team

#31206 Add all cases where webpack5 type is used
  packages/next/compiled/webpack/webpack.d.ts
Labels: type: next, created-by: Next.js team

#31210 Bump cancel-workflow-action to 0.9.1
  .github/workflows/cancel.yml
Labels: created-by: Next.js team

#31003 Add initial standalone build handling
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/lib/recursive-copy.ts
  packages/next/lib/recursive-delete.ts
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
  test/production/required-server-files.test.ts
  test/unit/recursive-delete.test.ts
Labels: type: next, created-by: Next.js team

#31193 fix(middleware): expose `CryptoKey` and `globalThis.CryptoKey`
  packages/next/server/web/sandbox/polyfills.ts
  packages/next/server/web/sandbox/sandbox.ts
Labels: type: next

#31216 Disable styled-components displayName in production
  packages/next/build/swc/options.js
Labels: type: next, created-by: Next.js team

#31101 fix(31013): add base path to preflight request url
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/with-base-path/pages/_middleware.js
  test/integration/middleware/with-base-path/pages/index.js
  test/integration/middleware/with-base-path/test/index.test.js
Labels: type: next

#31043 share collections in middleware vm context
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#31221 test: skip flaky dynamic import tests
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: created-by: Next.js team

#31213 Support assetPrefix specific protocol
  packages/next/client/dev/error-overlay/websocket.ts
Labels: type: next

#31227 Add integration test of API routes with `concurrentFeatures` enabled
  test/integration/react-streaming-and-server-components/app/pages/api/ping.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: created-by: Next.js team

#31233 Update swc
  packages/next/build/swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#31219 run middleware parser handler only for middleware modules
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/integration/middleware/with-eval/lib/utils.js
  test/integration/middleware/with-eval/pages/index.js
  test/integration/middleware/with-eval/test/index.test.js
Labels: type: next, created-by: Next.js team

#31244 docs: fix typo in css-in-js page
  docs/basic-features/built-in-css-support.md
Labels: type: documentation

#31242 Update swc minifier
  packages/next/build/swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#31261 Fix process.env overriden in web runtime
  packages/next/build/webpack-config.ts
  test/integration/react-streaming-and-server-components/app/.env
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#31265 Update contributing doc with trouble shooting section for swc
  contributing.md
Labels: created-by: Next.js team

#31239 fix: replaced useless let
  packages/next/client/image.tsx
Labels: type: next

#31246 Experimental next/jest config helper
  jest.config.js
  packages/next/build/jest/__mocks__/fileMock.js
  packages/next/build/jest/__mocks__/styleMock.js
  packages/next/build/jest/jest.ts
  packages/next/build/jest/object-proxy.js
  packages/next/build/load-jsconfig.ts
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/jest.js
  packages/next/shared/lib/constants.ts
Labels: type: next, created-by: Next.js team

#27573 correctly assess node equality when nonce attribute is present
  packages/next/client/head-manager.ts
  test/e2e/nonce-head-manager/app/next.config.js
  test/e2e/nonce-head-manager/app/pages/_document.js
  test/e2e/nonce-head-manager/app/pages/csp.js
  test/e2e/nonce-head-manager/app/pages/index.js
  test/e2e/nonce-head-manager/app/public/src-1.js
  test/e2e/nonce-head-manager/app/public/src-2.js
  test/e2e/nonce-head-manager/index.test.ts
  test/unit/is-equal-node.unit.test.ts
Labels: type: next

#31229 bugfix/i18n Do not support the second locale in the pathname
  packages/next/server/router.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#31284 Fix Auth0 Example
  examples/auth0/pages/advanced/ssr-profile.js
Labels: type: example

#31295 Fix typo in `next build` log
  packages/next/build/index.ts
Labels: type: next

#31296 Ensure next/jest is published
  packages/next/build/jest/jest.ts
  packages/next/jest.d.ts
  packages/next/jest.js
  packages/next/package.json
Labels: type: next, created-by: Next.js team

#31290 Update swc for `jsc.paths`
  packages/next/build/swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#31282 Fix test-pnp stalling in CI
  scripts/test-pnp.sh
Labels: created-by: Next.js team

#31304 next/jest: Ensure typeof window is not transformed in jsdom environment
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
Labels: type: next, created-by: Next.js team

#31311 Testing Docs: Add links to jump to sections
  docs/testing.md
Labels: type: documentation

#31305 Output where preference is saved
  packages/next/cli/next-telemetry.ts
  packages/next/telemetry/storage.ts
Labels: type: next, created-by: Next.js team

#31316 Maintain co-authors when kodiak merges
  .github/.kodiak.toml
Labels: created-by: Next.js team

#31281 Ensure asPath is correctly normalized in minimalMode with i18n
  packages/next/server/next-server.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/production/required-server-files-i18n.test.ts
Labels: type: next, created-by: Next.js team

#31245 Changes in dev script (package.json)
  docs/deployment.md
Labels: type: documentation

#30736 Automatically using different port to start dev server for non-explicit port
  packages/next/cli/next-dev.ts
  packages/next/server/lib/start-server.ts
Labels: type: next

#31186 Resolve stream piper on complete shell for renderToReadableStream
  packages/next/build/entries.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/render.tsx
  test/integration/react-18/app/components/dynamic-hello.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#31260 fix(middleware): fetch resource may be a URL instance (or any stringifiable value)
  packages/next/server/web/sandbox/sandbox.ts
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#31274 Ensure NODE_ENV is replaced correctly with swc
  packages/next/build/swc/options.js
  test/integration/non-standard-node-env-warning/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next, created-by: Next.js team

#31358 Add support for jsxImportSource in tsconfig/jsconfig
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  test/development/basic/theme-ui.test.ts
  test/development/basic/theme-ui/jsconfig.json
  test/development/basic/theme-ui/pages/_app.js
  test/development/basic/theme-ui/pages/index.js
  test/development/basic/theme-ui/theme.js
Labels: type: next, created-by: Next.js team

#30866 fix(30724): clear "x-middleware-next" header when chaining middlewares
  packages/next/server/next-server.ts
  test/integration/middleware/core/pages/responses/deep/_middleware.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#31180 Don't proxy middleware if host is the same
  packages/next/server/next-server.ts
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#31200 Updates with-supertokens example to add sign in with apple
  examples/with-supertokens/.env
  examples/with-supertokens/README.md
  examples/with-supertokens/config/backendConfig.js
  examples/with-supertokens/config/frontendConfig.js
  examples/with-supertokens/package.json
Labels: type: example

#31376 Add support for legacy decorators through tsconfig/jsconfig
  .eslintignore
  packages/next/build/jest/jest.ts
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  test/development/basic/legacy-decorators.test.ts
  test/development/basic/legacy-decorators/jsconfig.json
  test/development/basic/legacy-decorators/pages/index.js
Labels: type: next, created-by: Next.js team

#31380 Typo fixes on Markdown files
  docs/api-reference/data-fetching/getInitialProps.md
  docs/api-reference/next.config.js/headers.md
  docs/api-reference/next/image.md
  docs/testing.md
Labels: type: documentation

#31392 Rewrite send-trace-to-jaeger in Rust
  scripts/send-trace-to-jaeger/Cargo.lock
  scripts/send-trace-to-jaeger/Cargo.toml
  scripts/send-trace-to-jaeger/src/main.rs
Labels: created-by: Next.js team

#31394 Update data-fetching.md
  docs/basic-features/data-fetching.md
Labels: type: documentation

#31384 examples: fix README with google analytics
  examples/with-google-analytics/README.md
Labels: type: example

#29426 Add Playwright example
  examples/with-playwright/.gitignore
  examples/with-playwright/README.md
  examples/with-playwright/e2e/example.spec.ts
  examples/with-playwright/package.json
  examples/with-playwright/pages/_app.js
  examples/with-playwright/pages/about.js
  examples/with-playwright/pages/index.js
  examples/with-playwright/playwright.config.ts
  examples/with-playwright/public/favicon.ico
  examples/with-playwright/public/vercel.svg
  examples/with-playwright/styles/Home.module.css
  examples/with-playwright/styles/globals.css
Labels: type: example

#31401 Update image-optimization.md
  docs/basic-features/image-optimization.md
Labels: type: documentation

#31407 Update swc & fix `styled-jsx`
  packages/next/build/swc/Cargo.lock
  packages/next/build/swc/Cargo.toml
  packages/next/build/swc/src/bundle/mod.rs
  packages/next/build/swc/src/styled_jsx/transform_css.rs
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30480/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30480/output.js
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30570/input.js
  packages/next/build/swc/tests/fixture/styled-jsx/issue-30570/output.js
  packages/next/build/swc/tests/fixture/styled-jsx/tpl-placeholder-1-as-property/output.js
Labels: type: next, created-by: Next.js team

#31409 show `(middleware only)` when a middleware is added to the compiler
  packages/next/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#31408 Ensure Git feature.manyFiles is enabled
  package.json
Labels: created-by: Next.js team

#31414 Fix function syntax for API Routes documentation
  docs/api-routes/response-helpers.md
Labels: type: documentation

#31357 Fix storybook styled-jsx example with styled-jsx 5
  examples/with-storybook-styled-jsx-scss/.storybook/preview.js
  examples/with-storybook-styled-jsx-scss/package.json
Labels: type: example, created-by: Next.js team

#31417 Add minify debug env var to investigate minifier bugs
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Labels: type: next, created-by: Next.js team

#31322 add filename to babel warning about anonymous function default exports
  packages/next/build/babel/plugins/no-anonymous-default-export.ts
Labels: type: next

#31413 docs(auth): fix iron-session example url + API
  docs/authentication.md
Labels: type: documentation

#31231 Refactor server/render for SSR streaming
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/server/render.tsx
  packages/next/types/misc.d.ts
Labels: type: next, created-by: Next.js team, area: Server Components, area: Concurrent Features

#31431 Remove moment locale replace from craCompat as it's a default in Next.js 12
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#30978 Fix basePath replacing server-side and `normalizeLocalePath()` when path is empty string
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  packages/next/server/web/next-url.ts
  packages/next/shared/lib/i18n/normalize-locale-path.ts
  packages/next/shared/lib/router/utils/parse-next-url.ts
  test/integration/i18n-support-base-path/next.config.js
  test/integration/i18n-support-base-path/test/index.test.js
  test/integration/i18n-support/test/shared.js
Labels: type: next, created-by: Next.js team

#31164 Close stream when fatal error occurs
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/server/dev/hot-reloader.ts
  test/integration/react-streaming-and-server-components/app/pages/err.js
  test/integration/react-streaming-and-server-components/app/pages/err/render.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team
