Repository vercel/next.js, pull requests merged in 2021-06, with the labels that each got.

#25666 Ensure rewrites are resolved correctly through history
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/custom-routes/pages/multi-rewrites.js
  test/integration/custom-routes/pages/nav.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next

#25495 Fix rewrite and dynamic params on navigating to initial history entry
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/rewrite-with-browser-history/next.config.js
  test/integration/rewrite-with-browser-history/pages/dynamic-page/[[...param]].js
  test/integration/rewrite-with-browser-history/pages/index.js
  test/integration/rewrite-with-browser-history/test/index.test.js
Labels: type: next

#25642 Enable serial build by default
  packages/next/build/index.ts
  packages/next/next-server/server/config-shared.ts
Labels: type: next

#25654 Don't show webpack version message in production server
  packages/next/next-server/server/config-utils.ts
Labels: type: next

#25696 Enable Strict Mode in new `create-next-app` projects
  packages/create-next-app/templates/default/next.config.js
  packages/create-next-app/templates/typescript/next.config.js
Labels: type: create-next-app

#25635 Enable new babel mode
  packages/next/build/webpack-config.ts
  packages/next/next-server/server/config-shared.ts
Labels: type: next

#25446 Remove deprecated features
  docs/upgrading.md
  packages/next/client/image.tsx
  packages/next/next-server/lib/dynamic.tsx
  packages/next/next-server/lib/loadable.js
  packages/next/pages/_app.tsx
  test/integration/basic/pages/dynamic/bundle.js
  test/integration/basic/test/dynamic.js
  test/integration/build-output/test/index.test.js
  test/integration/client-navigation/pages/nav/shallow-routing.js
  test/integration/client-navigation/pages/nav/url-prop-change.js
  test/integration/client-navigation/pages/url-prop-override.js
  test/integration/client-navigation/pages/url-prop.js
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/image-component/base-path/pages/invalid-unsized.js
  test/integration/image-component/base-path/pages/rotated.js
  test/integration/image-component/base-path/test/index.test.js
  test/integration/image-component/default/test/index.test.js
  test/integration/production/pages/dynamic/bundle.js
  test/integration/production/test/dynamic.js
  test/integration/production/test/index.test.js
  yarn.lock
Labels: type: documentation, type: next

#25366 Updated with-mdx-remote dynamic components example
  examples/with-mdx-remote/README.md
Labels: type: example

#25551 up-to-date electron
  examples/with-electron-typescript/electron-src/index.ts
  examples/with-electron-typescript/package.json
Labels: type: example

#25735 Disable split chunks in webpack 5 in dev mode
  packages/next/build/webpack-config.ts
Labels: type: next

#25435 Remove experimental tag from Script component
  packages/next/build/webpack-config.ts
  packages/next/client/index.tsx
  packages/next/client/script.tsx
  packages/next/experimental-script.d.ts
  packages/next/experimental-script.js
  packages/next/next-server/server/config-shared.ts
  packages/next/package.json
  packages/next/pages/_document.tsx
  packages/next/script.d.ts
  packages/next/script.js
  test/integration/build-output/test/index.test.js
  test/integration/script-loader/next.config.js
  test/integration/script-loader/pages/_document.js
  test/integration/script-loader/pages/index.js
  test/integration/script-loader/pages/page1.js
  test/integration/script-loader/pages/page3.js
  test/integration/script-loader/pages/page4.js
  test/integration/size-limit/test/index.test.js
Labels: type: next

#25064 `next lint` + ESLint in Create Next App
  docs/api-reference/cli.md
  docs/basic-features/eslint.md
  docs/getting-started.md
  docs/manifest.json
  packages/create-next-app/create-app.ts
  packages/create-next-app/templates/default/eslintrc
  packages/create-next-app/templates/default/pages/api/hello.js
  packages/create-next-app/templates/typescript/eslintrc
  packages/create-next-app/templates/typescript/pages/api/hello.ts
  packages/eslint-config-next/core-web-vitals.js
  packages/eslint-config-next/index.js
  packages/eslint-plugin-next/lib/rules/no-sync-scripts.js
  packages/next/bin/next.ts
  packages/next/build/index.ts
  packages/next/cli/next-build.ts
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/getLintIntent.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/eslint/writeDefaultConfig.ts
  packages/next/lib/has-necessary-dependencies.ts
  packages/next/lib/verifyAndLint.ts
  packages/next/next-server/server/config-shared.ts
  test-pnp.sh
  test/eslint-plugin-next/no-sync-scripts.unit.test.js
  test/integration/create-next-app/index.test.js
  test/integration/eslint/custom-config/next.config.js
  test/integration/eslint/custom-config/package.json
  test/integration/eslint/first-time-setup/next.config.js
  test/integration/eslint/first-time-setup/package.json
  test/integration/eslint/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: chrome, type: create-next-app, type: documentation, type: next

#25736 doc: update TS version for --incremental
  docs/basic-features/typescript.md
Labels: type: documentation

#25761 Bump "engines" to node >= 12.0.0
  .github/actions/next-stats-action/Dockerfile
  azure-pipelines.yml
  package.json
  packages/create-next-app/package.json
  packages/next/package.json
Labels: type: create-next-app, type: next

#25581 Update tsconfig of example to be consistent with default output of next.js
  examples/with-chakra-ui-typescript/tsconfig.json
  examples/with-electron-typescript/renderer/tsconfig.json
  examples/with-react-md-typescript/tsconfig.json
  examples/with-redux-toolkit-typescript/tsconfig.json
  examples/with-typescript-graphql/tsconfig.json
  examples/with-typescript-types/tsconfig.json
  examples/with-typescript/tsconfig.json
Labels: type: example

#24993 Support for static image imports
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/client/image.tsx
  packages/next/next-server/server/config-shared.ts
  packages/next/next-server/server/image-optimizer.ts
  packages/next/next-server/server/lib/squoosh/impl.ts
  packages/next/next-server/server/lib/squoosh/main.ts
  packages/next/package.json
  test/integration/image-component/default/components/TallImage.js
  test/integration/image-component/default/components/tall.png
  test/integration/image-component/default/pages/static.js
  test/integration/image-component/default/public/foo/test-rect.jpg
  test/integration/image-component/default/public/test.ico
  test/integration/image-component/default/public/test.webp
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/default/test/static.test.js
  test/integration/image-optimizer/test/index.test.js
  yarn.lock
Labels: type: next

#25815 Remove react-relay-network-modern example.
  examples/with-react-relay-network-modern/.babelrc
  examples/with-react-relay-network-modern/.env
  examples/with-react-relay-network-modern/.gitignore
  examples/with-react-relay-network-modern/.graphqlconfig
  examples/with-react-relay-network-modern/README.md
  examples/with-react-relay-network-modern/components/BlogPostPreview.js
  examples/with-react-relay-network-modern/components/BlogPosts.js
  examples/with-react-relay-network-modern/lib/createEnvironment/client.js
  examples/with-react-relay-network-modern/lib/createEnvironment/index.js
  examples/with-react-relay-network-modern/lib/createEnvironment/server.js
  examples/with-react-relay-network-modern/package.json
  examples/with-react-relay-network-modern/pages/_app.js
  examples/with-react-relay-network-modern/pages/index.js
Labels: type: example

#25816 Update ESLint docs.
  docs/basic-features/eslint.md
Labels: type: documentation

#25589 fix mobx-state-tree-typesript missing babel/core dependency
  examples/with-mobx-state-tree-typescript/package.json
Labels: type: example

#25826 feat: bump styled-components version on examples
  examples/with-grommet/package.json
  examples/with-orbit-components/package.json
  examples/with-rebass/package.json
Labels: type: example

#25730 ESLint Plugin: Fix Document and Head import rules
  errors/no-document-import-in-page.md
  packages/eslint-plugin-next/lib/rules/no-document-import-in-page.js
  packages/eslint-plugin-next/lib/rules/no-head-import-in-document.js
  test/eslint-plugin-next/no-document-import-in-page.unit.test.js
  test/eslint-plugin-next/no-head-import-in-document.unit.test.js
Labels: type: chrome, type: documentation

#25831 Adding `--typescript` option
  docs/api-reference/create-next-app.md
Labels: type: documentation

#25788 Bump minimum React version to `^17.0.2`
  .github/workflows/build_test_deploy.yml
  package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  yarn.lock
Labels: type: next

#25797 Remove feature flags for static image and blurry placeholder
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/client/image.tsx
  packages/next/next-server/server/config-shared.ts
  packages/next/next-server/server/image-config.ts
  packages/next/package.json
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/default/test/static.test.js
Labels: type: next

#25841 Fix "env" key in babelrc with new Babel mode
  packages/next/build/babel/loader/get-config.ts
  packages/next/build/babel/loader/types.d.ts
  test/integration/babel-custom/fixtures/babel-env/.babelrc
  test/integration/babel-custom/fixtures/babel-env/pages/index.js
  test/integration/babel-custom/test/index.test.js
Labels: type: next

#25820 feat: have .tsx be in ts template for create-next-app
  packages/create-next-app/templates/typescript/README-template.md
Labels: type: create-next-app

#25639 Enable webpack5 for all apps
  .github/workflows/build_test_deploy.yml
  errors/future-webpack5-moved-to-webpack5.md
  errors/webpack5.md
  packages/next/next-server/server/config-shared.ts
  packages/next/next-server/server/config-utils-worker.ts
  packages/next/next-server/server/config-utils.ts
  test/.stats-app/stats-config.js
  test/integration/basic/test/index.test.js
  test/integration/config/next.config.js
  test/integration/css-fixtures/custom-configuration-legacy/next.config.js
  test/integration/externals/next.config.js
  test/integration/fallback-modules/test/index.test.js
  test/integration/legacy-sass/next.config.js
  test/integration/next-dynamic-css/next.config.js
  test/integration/production-config/next.config.js
  test/integration/size-limit/test/index.test.js
  test/integration/webpack-require-hook/next.config.js
  test/integration/worker-loader/next.config.js
Labels: type: documentation, type: next

#25824 Add run on Google Cloud Run button to the docker example
  examples/with-docker/.gitignore
  examples/with-docker/README.md
  examples/with-docker/app.json
  examples/with-docker/pages/index.js
Labels: type: example

#25066 updated example for zustand v3.5.1 interface change
  examples/with-zustand/lib/store.js
  examples/with-zustand/package.json
Labels: type: example

#25808 Fix types for static image
  packages/next/client/image.tsx
  packages/next/types/global.d.ts
  test/integration/image-component/typescript/pages/invalid.tsx
  test/integration/image-component/typescript/pages/valid.tsx
  test/integration/image-component/typescript/public/tall.png
  test/integration/rewrite-with-browser-history/test/index.test.js
Labels: type: next

#25866 fix: added typescript dependency in next-sitemap example
  examples/with-next-sitemap/package.json
Labels: type: example

#25879 Fix command in upgrade guide
  docs/upgrading.md
Labels: type: documentation

#24704 Do not remove placeholder for data URL
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/blurry-placeholder.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#25867 Add warning for older TypeScript versions
  packages/next/lib/verifyTypeScriptSetup.ts
  test/integration/typescript-version-warning/app/node_modules/typescript/index.js
  test/integration/typescript-version-warning/app/node_modules/typescript/package.json
  test/integration/typescript-version-warning/app/pages/index.tsx
  test/integration/typescript-version-warning/app/tsconfig.json
  test/integration/typescript-version-warning/test/index.test.js
Labels: type: next

#25876 Prevent node inspect from causing webpack check to fail
  packages/next/next-server/server/config-utils.ts
  test/integration/config/test/index.test.js
Labels: type: next

#25780 Update CNA build target in tsconfig
  packages/create-next-app/tsconfig.json
Labels: type: create-next-app

#25889 docs(examples/with-iron-session): fix mutate + fetch, add TypeScript example link
  examples/with-iron-session/README.md
  examples/with-iron-session/pages/login.js
Labels: type: example

#24888 fix(21606): consider scroll option when using shallow routing
  packages/next/client/link.tsx
  packages/next/next-server/lib/router/router.ts
  test/integration/client-navigation/pages/nav/shallow-routing.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#25900 remove opentelemetry/api
  packages/next/package.json
  yarn.lock
Labels: type: next

#25904 Adjust JPEG quality when generating placeholder
  packages/next/build/webpack/loaders/next-image-loader.js
  test/integration/image-component/default/test/static.test.js
Labels: type: next

#25910 Improve check for eslint version
  packages/next/lib/eslint/runLintCheck.ts
Labels: type: next

#25909 Refactor image optimizer static immutable header
  packages/next/client/image.tsx
  packages/next/next-server/server/image-optimizer.ts
  test/integration/image-component/default/test/static.test.js
  test/integration/image-optimizer/pages/index.js
  test/integration/image-optimizer/test/index.test.js
Labels: type: next

#25895 ESLint Updates
  docs/api-reference/cli.md
  docs/api-reference/next.config.js/ignoring-eslint.md
  docs/basic-features/eslint.md
  docs/manifest.json
  packages/next/build/index.ts
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/customFormatter.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/has-necessary-dependencies.ts
  packages/next/lib/verifyAndLint.ts
  test/integration/eslint/custom-directories/.eslintrc
  test/integration/eslint/custom-directories/custom/index.js
  test/integration/eslint/custom-directories/next.config.js
  test/integration/eslint/custom-directories/pages/index.js
  test/integration/eslint/custom-directories/utils/index.js
  test/integration/eslint/ignore-during-builds/.eslintrc
  test/integration/eslint/ignore-during-builds/next.config.js
  test/integration/eslint/ignore-during-builds/pages/index.js
  test/integration/eslint/test/index.test.js
Labels: type: documentation, type: next

#25917 ESLint: Updates disable ESLint message during builds
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/has-necessary-dependencies.ts
Labels: type: next

#25901 fix: move viewport meta tag to head in _app.js
  examples/with-next-page-transitions/pages/_app.js
  examples/with-next-page-transitions/pages/_document.js
Labels: type: example

#25902 fix: use key while rendering arrays
  examples/with-react-multi-carousel/pages/index.js
Labels: type: example

#25810 Remove `@types/comment-json`
  packages/next/package.json
  yarn.lock
Labels: type: next

#25916 Add delay to placeholder removal
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#25926 docs(examples/with-mobx-state-tree-typescript): add 'Open in StackBlitz' button
  examples/with-mobx-state-tree-typescript/README.md
Labels: type: example

#24969 Add experimental cra-to-next transform in codemod cli
  packages/next-codemod/bin/cli.ts
  packages/next-codemod/lib/cra-to-next/gitignore
  packages/next-codemod/lib/cra-to-next/global-css-transform.ts
  packages/next-codemod/lib/cra-to-next/index-to-component.ts
  packages/next-codemod/lib/html-to-react-attributes.ts
  packages/next-codemod/lib/install.ts
  packages/next-codemod/lib/run-jscodeshift.ts
  packages/next-codemod/package.json
  packages/next-codemod/transforms/add-missing-react-import.ts
  packages/next-codemod/transforms/cra-to-next.ts
  packages/next-codemod/transforms/name-default-component.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/next-server/server/config-shared.ts
  yarn.lock
Labels: type: next

#25944 add global callback for refresh latency
  packages/next/client/dev/error-overlay/hot-dev-client.js
Labels: type: next

#25897 docs: use descriptive links instead of "click here"
  contributing.md
  docs/advanced-features/amp-support/typescript.md
  docs/advanced-features/measuring-performance.md
  docs/api-reference/next.config.js/introduction.md
  docs/api-reference/next/amp.md
  docs/api-routes/introduction.md
  docs/authentication.md
  errors/postcss-ignored-plugin.md
  errors/postcss-shape.md
  examples/amp-first/README.md
  examples/i18n-routing/README.md
  examples/with-electron/README.md
  examples/with-netlify-cms/content/home.md
  examples/with-passport/README.md
  examples/with-rematch/README.md
  examples/with-stencil/packages/test-component/readme.md
  examples/with-unsplash/README.md
  examples/with-xstate/README.md
Labels: type: documentation, type: example

#25829 tslib module missing in package.json
  examples/auth0/package.json
Labels: type: example

#25575 Updated Readme
  examples/blog-starter/README.md
Labels: type: example

#25893 Fix loader url composition on image/next doc
  docs/api-reference/next/image.md
Labels: type: documentation

#25952 ESLint: More updates and bug fixes
  packages/next/cli/next-lint.ts
  packages/next/lib/constants.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/verifyAndLint.ts
  test/integration/eslint/first-time-setup/.eslintrc
Labels: type: next

#25971 Add changing the hostname to the cli doc
  docs/api-reference/cli.md
Labels: type: documentation

#25987 (examples/with-urql): fixes graphql server url
  examples/with-urql/README.md
  examples/with-urql/graphql/client.js
Labels: type: example

#25989 Add experimental CRA transform to docs
  docs/advanced-features/codemods.md
Labels: type: documentation

#25953 Add errors for invalid `placeholder=blur` usage
  errors/placeholder-blur-data-url.md
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/blurry-placeholder.js
  test/integration/image-component/default/pages/invalid-placeholder-blur-static.js
  test/integration/image-component/default/pages/invalid-placeholder-blur.js
  test/integration/image-component/default/pages/small-img-import.js
  test/integration/image-component/default/pages/static.js
  test/integration/image-component/default/public/small.jpg
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/default/test/static.test.js
Labels: type: documentation, type: next

#25994 Fix delay between blur image and high res image
  packages/next/client/image.tsx
Labels: type: next

#25972 docs(examples/with-redux-persist): add 'Open in StackBlitz' button
  examples/with-redux-persist/README.md
  examples/with-videojs/README.md
Labels: type: example

#25946 Update `json5` and remove `@types/json5`
  packages/next/package.json
  yarn.lock
Labels: type: next

#24829 Example blog with comments
  examples/blog-with-comment/.env.local.example
  examples/blog-with-comment/.gitignore
  examples/blog-with-comment/.prettierrc
  examples/blog-with-comment/README.md
  examples/blog-with-comment/_posts/long-expected-party.md
  examples/blog-with-comment/_posts/passing-of-grey-company.md
  examples/blog-with-comment/_posts/prancing-pony.md
  examples/blog-with-comment/_posts/riders-of-rohan.md
  examples/blog-with-comment/components/comment/form.js
  examples/blog-with-comment/components/comment/index.js
  examples/blog-with-comment/components/comment/list.js
  examples/blog-with-comment/components/container.js
  examples/blog-with-comment/components/header.js
  examples/blog-with-comment/hooks/useComment.js
  examples/blog-with-comment/lib/createComment.js
  examples/blog-with-comment/lib/dateRelative.js
  examples/blog-with-comment/lib/deleteComment.js
  examples/blog-with-comment/lib/fetchComment.js
  examples/blog-with-comment/lib/getPost.js
  examples/blog-with-comment/lib/getUser.js
  examples/blog-with-comment/lib/markdownToHtml.js
  examples/blog-with-comment/lib/redis.js
  examples/blog-with-comment/package.json
  examples/blog-with-comment/pages/_app.js
  examples/blog-with-comment/pages/_document.js
  examples/blog-with-comment/pages/api/comment.js
  examples/blog-with-comment/pages/index.js
  examples/blog-with-comment/pages/posts/[slug].js
  examples/blog-with-comment/pages/posts/index.js
  examples/blog-with-comment/postcss.config.js
  examples/blog-with-comment/public/desk.jpg
  examples/blog-with-comment/tailwind.config.js
Labels: type: example

#25349 docs: advise users of `create-next-app --ts, --typescript`
  docs/api-reference/create-next-app.md
  docs/basic-features/typescript.md
  packages/create-next-app/README.md
Labels: type: create-next-app, type: documentation

#23586 Disable prerendering /500 when _error has getServerSideProps
  packages/next/build/index.ts
  packages/next/next-server/server/next-server.ts
  test/integration/500-page/test/index.test.js
Labels: type: create-next-app, type: documentation, type: example, type: next

#25947 Update comments for clarity & grammar in router.ts
  packages/next/client/router.ts
Labels: type: next

#26003 include lib folder when publishing next-codemod
  packages/next-codemod/package.json
Labels: type: next

#26004 docs: fix typo in with-unstated/README.md
  examples/with-unstated/README.md
Labels: type: example

#25997 Update client-side default error
  errors/client-side-exception-occurred.md
  packages/next/pages/_error.tsx
  test/integration/404-page-ssg/pages/_app.js
  test/integration/404-page-ssg/test/index.test.js
  test/integration/build-output/test/index.test.js
  test/integration/css/test/index.test.js
  test/integration/no-page-props/test/index.test.js
  test/integration/production/test/index.test.js
Labels: type: documentation, type: next

#26008 Add gitignore template to published files for codemod
  packages/next-codemod/package.json
Labels: type: next

#26011 Fix Firefox image decode error
  packages/next/client/image.tsx
  test/integration/production/pages/static-image.js
  test/integration/production/public/vercel.png
  test/integration/production/test/index.test.js
Labels: type: next

#26001 (examples/with-react-md): switch from node-sass to sass
  examples/with-react-md/README.md
  examples/with-react-md/package.json
Labels: type: example

#26021 Enable optimized loading strategy
  packages/next/next-server/lib/post-process.ts
  packages/next/next-server/server/config-shared.ts
  packages/next/pages/_document.tsx
  test/integration/app-document-import-order/test/index.test.js
  test/integration/basic/test/dynamic.js
  test/integration/disable-js/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/production/test/index.test.js
  test/integration/script-loader/test/index.test.js
Labels: type: next

#26040 Update next-transpile-modules to 7.3.0 across examples
  examples/with-patternfly/package.json
  examples/with-reason-relay/package.json
  examples/with-reasonml-todo/package.json
  examples/with-reasonml/package.json
  examples/with-yarn-workspaces/packages/web-app/package.json
Labels: type: example

#26029 examples/with-mongodb: avoid destructuring of environment variables.
  examples/with-mongodb/util/mongodb.js
Labels: type: example

#26010 (example/with-typescript-grapql): fix deps
  examples/with-typescript-graphql/.graphql-let.yml
  examples/with-typescript-graphql/README.md
  examples/with-typescript-graphql/package.json
Labels: type: example

#26069 (examples): fix missed peer dependencies
  examples/with-kea/README.md
  examples/with-kea/package.json
  examples/with-mobx-react-lite/README.md
  examples/with-mobx-react-lite/package.json
  examples/with-mobx-state-tree/README.md
  examples/with-mobx-state-tree/package.json
  examples/with-mobx/README.md
  examples/with-mobx/package.json
Labels: type: example

#26077 (examples/with-rbx-bulma-pro): update deps
  examples/with-rbx-bulma-pro/README.md
  examples/with-rbx-bulma-pro/package.json
Labels: type: example

#26075 Remove unsupported examples
  errors/url-deprecated.md
  examples/cms-agilitycms/lib/constants.js
  examples/cms-ghost/components/alert.js
  examples/cms-ghost/components/footer.js
  examples/with-ant-design-mobile/.babelrc
  examples/with-ant-design-mobile/.gitignore
  examples/with-ant-design-mobile/README.md
  examples/with-ant-design-mobile/components/Layout.js
  examples/with-ant-design-mobile/next.config.js
  examples/with-ant-design-mobile/package.json
  examples/with-ant-design-mobile/pages/_app.js
  examples/with-ant-design-mobile/pages/about.js
  examples/with-ant-design-mobile/pages/index.js
  examples/with-aphrodite/README.md
  examples/with-astroturf/.gitignore
  examples/with-astroturf/README.md
  examples/with-astroturf/next.config.js
  examples/with-astroturf/package.json
  examples/with-astroturf/pages/index.js
  examples/with-astroturf/postcss.config.js
  examples/with-compiled-css/README.md
  examples/with-cxs/README.md
  examples/with-fela/README.md
  examples/with-graphql-faunadb/components/GuestbookEntry.js
  examples/with-iron-session/pages/profile-sg.js
  examples/with-monaco-editor/.gitignore
  examples/with-monaco-editor/README.md
  examples/with-monaco-editor/code-sample.js
  examples/with-monaco-editor/next.config.js
  examples/with-monaco-editor/package.json
  examples/with-monaco-editor/pages/index.js
  examples/with-react-with-styles/README.md
  examples/with-reason-relay/package.json
  examples/with-stripe-typescript/README.md
  examples/with-styled-components/README.md
  examples/with-styled-jsx-plugins/README.md
  examples/with-styled-jsx-scss/README.md
  examples/with-styletron/README.md
  examples/with-typestyle/README.md
  examples/with-zones/home/pages/about.js
  examples/with-zones/home/public/static/vercel.png
  packages/create-next-app/create-app.ts
  packages/react-refresh-utils/package.json
  test/integration/basepath/test/index.test.js
  test/integration/basic/test/hmr.js
Labels: type: create-next-app, type: documentation, type: example, type: next

#25992 Remove React version checks and warnings that are no longer needed
  packages/next/build/webpack-config.ts
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  test/.stats-app/package.json
  test/integration/cli/experimental-react-dom/.gitignore
  test/integration/cli/experimental-react-dom/node_modules/react-dom/index.js
  test/integration/cli/experimental-react-dom/node_modules/react-dom/package.json
  test/integration/cli/experimental-react-dom/package.json
  test/integration/cli/experimental-react-dom/pages/index.js
  test/integration/cli/experimental-react/.gitignore
  test/integration/cli/experimental-react/node_modules/react/index.js
  test/integration/cli/experimental-react/node_modules/react/package.json
  test/integration/cli/experimental-react/package.json
  test/integration/cli/experimental-react/pages/index.js
  test/integration/cli/old-react-dom/.gitignore
  test/integration/cli/old-react-dom/node_modules/react-dom/index.js
  test/integration/cli/old-react-dom/node_modules/react-dom/package.json
  test/integration/cli/old-react-dom/package.json
  test/integration/cli/old-react-dom/pages/index.js
  test/integration/cli/old-react/.gitignore
  test/integration/cli/old-react/node_modules/react/index.js
  test/integration/cli/old-react/node_modules/react/package.json
  test/integration/cli/old-react/package.json
  test/integration/cli/old-react/pages/index.js
  test/integration/cli/test/index.test.js
Labels: type: next

#26093 Update react-version.md
  errors/react-version.md
Labels: type: documentation

#26025 fix: don't create .eslintrc if package.json contains eslintConfig
  packages/next/lib/eslint/writeDefaultConfig.ts
  test/integration/eslint/config-in-package-json/package.json
  test/integration/eslint/config-in-package-json/pages/index.js
  test/integration/eslint/test/index.test.js
Labels: type: next

#26101 [ESLint] Adds section to docs for migrating existing ESLint configurations
  docs/basic-features/eslint.md
Labels: type: documentation

#26104 Update learn path in getting started and from cra docs
  docs/getting-started.md
  docs/migrating/from-create-react-app.md
Labels: type: documentation

#26089 Add lint checking events
  packages/next/build/index.ts
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/customFormatter.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/has-necessary-dependencies.ts
  packages/next/lib/verifyAndLint.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next

#25471 Script component docs
  docs/basic-features/script.md
  test/integration/script-loader/pages/_document.js
Labels: type: documentation

#25949 Update image documentation for static image
  docs/api-reference/next/image.md
Labels: type: documentation

#26142 docs(image): fix image import path
  docs/api-reference/next/image.md
Labels: type: documentation

#26129 Ensure all errors are added in manifest
  docs/manifest.json
  errors/manifest.json
Labels: type: documentation

#26140 (examples/image-component): fix placeholder href
  examples/image-component/pages/index.js
Labels: type: example

#26150 Update next/image docs and examples
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  examples/image-component/package.json
  examples/image-component/pages/index.js
  examples/image-component/pages/placeholder.js
Labels: type: documentation, type: example

#26154 Fixed no-img-element documentation snippet.
  errors/no-img-element.md
Labels: type: documentation

#26149 docs(next/script): Improve formatting of docs
  docs/basic-features/script.md
Labels: type: documentation

#26141 add missing step of installing next@latest
  docs/upgrading.md
Labels: type: documentation

#26172 Fix failing Runner import
  packages/next-codemod/lib/run-jscodeshift.ts
Labels: type: next

#26175 fix(examples): `future.webpack5` -> top level `webpack5`
  examples/with-patternfly/next.config.js
  examples/with-web-worker/next.config.js
Labels: type: example

#26192 Fix `next/image` docs version history
  docs/api-reference/next/image.md
Labels: type: documentation

#26183 Update next/image docs and example with shimmer animation
  docs/api-reference/next/image.md
  examples/image-component/pages/index.js
  examples/image-component/pages/placeholder.js
  examples/image-component/pages/shimmer.js
Labels: type: documentation, type: example

#26115 [examples/cms-wordpress] fix typo on alert message
  examples/cms-wordpress/components/alert.js
Labels: type: example

#26165 docs: fix ignoring-eslint-url during build
  packages/next/lib/has-necessary-dependencies.ts
Labels: type: next

#26194 Fix babel-loader failing on JSON5 syntax
  packages/next/build/babel/loader/get-config.ts
  test/integration/babel-custom/fixtures/babel-json5/.babelrc
  test/integration/babel-custom/fixtures/babel-json5/pages/index.js
  test/integration/babel-custom/test/index.test.js
Labels: type: next

#26211 Update docs on static image imports
  docs/basic-features/image-optimization.md
Labels: type: documentation

#26214 Update note in script doc
  docs/basic-features/script.md
Labels: type: documentation

#26212 Fix eslint version check for older versions
  packages/next/lib/eslint/runLintCheck.ts
  test/integration/eslint/invalid-eslint-version/.eslintrc
  test/integration/eslint/invalid-eslint-version/node_modules/eslint/index.js
  test/integration/eslint/invalid-eslint-version/node_modules/eslint/lib/api.js
  test/integration/eslint/invalid-eslint-version/node_modules/eslint/package.json
  test/integration/eslint/invalid-eslint-version/pages/index.js
  test/integration/eslint/test/index.test.js
Labels: type: next

#25990 fix: use a client-side navigation when redirecting to a rewriten URL
  packages/next/next-server/lib/router/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/gssp-redirect-base-path/test/index.test.js
  test/integration/gssp-redirect-with-rewrites/next.config.js
  test/integration/gssp-redirect-with-rewrites/pages/main-content.js
  test/integration/gssp-redirect-with-rewrites/pages/redirector.js
  test/integration/gssp-redirect-with-rewrites/test/index.test.js
Labels: type: example, type: next

#24011 Fix next/image noscript src path with loaders
  packages/next/client/image.tsx
  test/integration/image-component/noscript/pages/index.js
  test/integration/image-component/noscript/test/index.test.js
Labels: type: next

#25198 Add cms-drupal example
  examples/cms-drupal/.env.local.example
  examples/cms-drupal/.gitignore
  examples/cms-drupal/README.md
  examples/cms-drupal/components/alert.js
  examples/cms-drupal/components/avatar.js
  examples/cms-drupal/components/categories.js
  examples/cms-drupal/components/container.js
  examples/cms-drupal/components/cover-image.js
  examples/cms-drupal/components/date.js
  examples/cms-drupal/components/footer.js
  examples/cms-drupal/components/header.js
  examples/cms-drupal/components/hero-post.js
  examples/cms-drupal/components/intro.js
  examples/cms-drupal/components/layout.js
  examples/cms-drupal/components/meta.js
  examples/cms-drupal/components/more-stories.js
  examples/cms-drupal/components/post-body.js
  examples/cms-drupal/components/post-body.module.css
  examples/cms-drupal/components/post-header.js
  examples/cms-drupal/components/post-preview.js
  examples/cms-drupal/components/post-title.js
  examples/cms-drupal/components/section-separator.js
  examples/cms-drupal/components/tags.js
  examples/cms-drupal/lib/api.js
  examples/cms-drupal/lib/constants.js
  examples/cms-drupal/next.config.js
  examples/cms-drupal/package.json
  examples/cms-drupal/pages/[...slug].js
  examples/cms-drupal/pages/_app.js
  examples/cms-drupal/pages/_document.js
  examples/cms-drupal/pages/api/exit-preview.js
  examples/cms-drupal/pages/api/preview.js
  examples/cms-drupal/pages/index.js
  examples/cms-drupal/postcss.config.js
  examples/cms-drupal/public/favicon/android-chrome-192x192.png
  examples/cms-drupal/public/favicon/android-chrome-512x512.png
  examples/cms-drupal/public/favicon/apple-touch-icon.png
  examples/cms-drupal/public/favicon/browserconfig.xml
  examples/cms-drupal/public/favicon/favicon-16x16.png
  examples/cms-drupal/public/favicon/favicon-32x32.png
  examples/cms-drupal/public/favicon/favicon.ico
  examples/cms-drupal/public/favicon/mstile-150x150.png
  examples/cms-drupal/public/favicon/safari-pinned-tab.svg
  examples/cms-drupal/public/favicon/site.webmanifest
  examples/cms-drupal/styles/index.css
  examples/cms-drupal/tailwind.config.js
Labels: type: example

#26229 Fix: upgrade react-test-renderer version to 17.0.2
  examples/with-jest/package.json
Labels: type: example

#26225 Doc "no-sync-scripts" remove experimental notice
  errors/no-sync-scripts.md
Labels: type: documentation

#26226 Update postcss version in examples
  examples/cms-ghost/package.json
  examples/cms-graphcms/package.json
  examples/cms-prepr/package.json
Labels: type: example

#26221 Fix long URLs causing 400s with dynamic routes/rewrites
  packages/next/lib/file-exists.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/pages/dash/[hello-world].js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/production/pages/invalid-param/[slug].js
Labels: type: next

#26258 Correct the word "remove"
  errors/future-webpack5-moved-to-webpack5.md
Labels: type: documentation

#26253 Update next/script docs to clear up confusion around next/head and client-side JS
  docs/basic-features/script.md
Labels: type: documentation

#26266 Update with-supertokens example
  examples/with-supertokens/package.json
Labels: type: example

#26267 Updating Typescript to recommended minimum 4.3.2
  examples/with-chakra-ui-typescript/package.json
Labels: type: example

#26076 (examples/with-lingui): update example
  examples/with-lingui/README.md
  examples/with-lingui/components/LangSwitcher.js
  examples/with-lingui/components/withLang.js
  examples/with-lingui/lingui.config.js
  examples/with-lingui/locale/en/messages.po
  examples/with-lingui/locale/sv/messages.po
  examples/with-lingui/next.config.js
  examples/with-lingui/package.json
  examples/with-lingui/pages/_app.js
  examples/with-lingui/pages/index.js
  examples/with-lingui/pages/two.js
Labels: type: example

#26255 Examples: Fixed the example path to correct value
  examples/api-routes-rate-limit/README.md
Labels: type: example

#26252 docs: remove duplicated `--ts, --typescript` from Options
  docs/api-reference/create-next-app.md
Labels: type: documentation

#26271 Correct Next.js 9 upgrade instructions
  docs/upgrading.md
Labels: type: documentation

#26276 Fix closing tag in Script docs
  docs/basic-features/script.md
Labels: type: documentation

#26166 Fix Show error when user put wrong values in width or height
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-placeholder-blur.js
  test/integration/image-component/default/pages/invalid-width-or-height.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#26285 Update to latest TypeScript version and de-dupe versions
  package.json
  packages/create-next-app/package.json
  packages/next/build/babel/plugins/no-anonymous-default-export.ts
  packages/next/build/babel/plugins/optimize-hook-destructuring.ts
  packages/next/build/compiler.ts
  packages/next/client/performance-relayer.ts
  packages/next/client/route-loader.ts
  packages/next/client/script.tsx
  packages/next/package.json
  packages/next/server/on-demand-entry-handler.ts
  test/integration/typescript-version-warning/test/index.test.js
  yarn.lock
Labels: type: create-next-app, type: next

#26279 Automatically use createRoot for React@>=18
  packages/next/build/webpack-config.ts
  test/integration/react-18/prerelease/.gitignore
  test/integration/react-18/prerelease/node_modules/react-dom/index.js
  test/integration/react-18/prerelease/node_modules/react-dom/package.json
  test/integration/react-18/prerelease/package.json
  test/integration/react-18/prerelease/pages/index.js
  test/integration/react-18/supported/pages/index.js
  test/integration/react-18/test/index.test.js
Labels: type: next

#26280 [ESLint] Adds `--quiet` flag, TypeScript resolver and bug fixes
  packages/eslint-config-next/index.js
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/lib/rules/link-passhref.js
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/runLintCheck.ts
  test/integration/eslint/custom-config/.eslintrc
  test/integration/eslint/custom-config/pages/index.js
  test/integration/eslint/test/index.test.js
  yarn.lock
Labels: type: chrome, type: next

#26311 docs: fixed typo
  docs/api-reference/create-next-app.md
Labels: type: documentation

#26241 Extend disclaimer for dynamic image imports
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
Labels: type: documentation

#26256 Add runtime to hotUpdateMainFilename
  package.json
  packages/next/build/webpack-config.ts
  packages/next/client/dev/amp-dev.js
  test/integration/amphtml/test/index.test.js
  test/integration/build-output/test/index.test.js
  test/integration/worker-webpack5/lib/sharedCode.js
  test/integration/worker-webpack5/lib/worker.js
  test/integration/worker-webpack5/next.config.js
  test/integration/worker-webpack5/pages/index.js
  test/integration/worker-webpack5/test/index.test.js
  yarn.lock
Labels: type: next

#26289 Update create-next-app template favicons
  packages/create-next-app/templates/default/public/favicon.ico
  packages/create-next-app/templates/typescript/public/favicon.ico
Labels: type: create-next-app

#26325 Improve the `next/script` documentation.
  docs/basic-features/script.md
Labels: type: documentation

#26375 add missing closing bracket
  docs/advanced-features/security-headers.md
Labels: type: documentation

#26347 Docs: Add Prettier section on ESLint page
  docs/basic-features/eslint.md
Labels: type: documentation

#25817 Update with-eslint example.
  examples/with-eslint/README.md
  examples/with-eslint/next.config.js
  examples/with-eslint/package.json
Labels: type: example

#26320 docs(router.md) Add note about page state and navigation
  docs/api-reference/next/router.md
Labels: type: documentation

#26417 Add check for startLatency in fast refresh
  packages/next/client/dev/error-overlay/hot-dev-client.js
Labels: type: next

#26440 (examples/with-webassembly) fixed for webpack 5
  examples/with-webassembly/next.config.js
Labels: type: example

#26466 Add module.exports to security headers documentation
  docs/advanced-features/security-headers.md
Labels: type: documentation

#26476 fix: ignore invalid accept-language header
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/next-server/server/next-server.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#26354 chore: Add Alex to lint documentation
  .alexignore
  contributing.md
  package.json
  packages/create-next-app/README.md
  packages/next/compiled/webpack/bundle4.js
  yarn.lock
Labels: type: create-next-app, type: next

#26083 Fix domain locales not available on client
  packages/next/client/router.ts
  test/integration/build-output/test/index.test.js
  test/integration/i18n-support-base-path/pages/index.js
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/test/shared.js
Labels: type: next

#26485 Update to only add image import types when enabled
  packages/next/build/index.ts
  packages/next/image-types/global.d.ts
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/next-dev-server.ts
  packages/next/types/global.d.ts
  test/integration/image-component/typescript/next.config.js
  test/integration/image-component/typescript/test/index.test.js
Labels: type: next

#26492 Update i18n fields in docs
  docs/advanced-features/i18n-routing.md
  docs/api-reference/next/router.md
Labels: type: documentation

#26456 Strongly type `Router.events.on` and `Router.events.off`
  packages/next/client/index.tsx
  packages/next/client/router.ts
  packages/next/next-server/lib/mitt.ts
  packages/next/next-server/lib/router/router.ts
  test/integration/typescript/components/router.tsx
Labels: type: next

#26502 Don't test image domains in test env
  packages/next/client/image.tsx
Labels: type: next

#26528 docs: updated minimum Node.js version
  docs/getting-started.md
Labels: type: documentation

#26536 Update next-env note in docs
  docs/basic-features/typescript.md
Labels: type: documentation

#26540 [examples] Fix ssr-caching example.
  examples/ssr-caching/README.md
  examples/ssr-caching/package.json
  examples/ssr-caching/pages/blog/[id].js
  examples/ssr-caching/pages/index.js
  examples/ssr-caching/server.js
Labels: type: example

#26205 Fix props not updating when changing the locale and keeping hash
  packages/next/next-server/lib/router/router.ts
  test/integration/i18n-support-same-page-hash-change/next.config.js
  test/integration/i18n-support-same-page-hash-change/pages/about.js
  test/integration/i18n-support-same-page-hash-change/pages/posts/[...slug].js
  test/integration/i18n-support-same-page-hash-change/test/index.test.js
Labels: type: next

#26545 Add note about adding additional types
  docs/basic-features/typescript.md
Labels: type: documentation

#26548 Allow user to override next-image-loader
  packages/next/build/webpack-config.ts
Labels: type: next
