Repository vercel/next.js, pull requests merged in 2021-07, with the labels that each got.

#26748 Leverage blocked page for _error
  packages/next/server/next-server.ts
  packages/next/shared/lib/constants.ts
  test/integration/client-navigation/test/index.test.js
Labels: created-by: Next.js team, type: next

#26770 Update codeowners to add new maintainers
  .github/CODEOWNERS
Labels: created-by: Next.js team

#26796 examples: fix typo `lunix` → `linux`
  examples/with-env-from-next-config-js/README.md
Labels: type: example

#26787 Update repo scripts to separate folder
  .github/workflows/build_test_deploy.yml
  package.json
  scripts/check-examples.sh
  scripts/check-pre-compiled.sh
  scripts/next-with-deps.sh
  scripts/publish-release.sh
  scripts/release-stats.sh
  scripts/test-pnp.sh
  skip-docs-change.js
Labels: created-by: Next.js team

#26567 fix: detect loop in client error page
  packages/next/client/index.tsx
  packages/next/taskfile-babel.js
  test/integration/custom-error-page-exception/pages/_error.js
  test/integration/custom-error-page-exception/pages/index.js
  test/integration/custom-error-page-exception/test/index.test.js
Labels: created-by: Next.js team, type: next

#26823 Update snapshot for font-optimization test
  test/integration/custom-error-page-exception/test/index.test.js
  test/integration/fallback-modules/test/index.test.js
  test/integration/font-optimization/fixtures/with-google/manifest-snapshot.json
Labels: created-by: Next.js team

#26824 Add `onLoadingComplete()` prop to Image component
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/on-loading-complete.js
  test/integration/image-component/default/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#26788 Add "Vary: Accept" header to /_next/image responses
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: created-by: Next.js team, type: next

#26821 Fix using-preact example deps
  examples/using-preact/package.json
Labels: type: example

#26832 Add additional tests for image type detection
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/detect-content-type.test.js
Labels: created-by: Next.js team, type: next

#26836 Fix immutable header for image with static import & unoptimized
  packages/next/server/next-server.ts
  test/integration/image-component/default/pages/static.js
  test/integration/image-component/default/test/static.test.js
Labels: created-by: Next.js team, type: next

#26840 Update `publish-canary` script to include checkout
  contributing.md
  package.json
Labels: created-by: Next.js team

#24983 Make sure 404 pages do not get cached by a CDN when using next start
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/server/next-server.ts
  test/integration/404-page/test/index.test.js
  test/integration/not-found-revalidate/test/index.test.js
Labels: created-by: Next.js team, type: next

#26863 Update to environment-variable.md
  docs/basic-features/environment-variables.md
Labels: type: documentation

#26843 Don't emit duplicate image files
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-image-loader.js
  test/integration/image-component/default/pages/static-img.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/default/test/static.test.js
Labels: created-by: Chrome Aurora, type: next

#26865 Add instructions on how to add nextjs.org/docs/messages urls
  .github/pull_request_template.md
  contributing.md
  errors/template.md
Labels: created-by: Next.js team, type: documentation

#26874 Reorder docs manifest and rename to Script Optimization.
  docs/manifest.json
Labels: type: documentation

#26876 Fix typo on "occured" to "occurred"
  errors/template.md
Labels: type: documentation

#26831 Warn when response body is larger than 5mb
  errors/api-routes-body-size-limit.md
  errors/manifest.json
  packages/next/server/api-utils.ts
  test/integration/api-support/pages/api/large-chunked-response.js
  test/integration/api-support/pages/api/large-response.js
  test/integration/api-support/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#26646 Fix: added the key property to the pre next scripts
  packages/next/pages/_document.tsx
Labels: type: next

#26875 Ensure API route errors are propagated in minimal mode
  packages/next/server/next-server.ts
  test/integration/required-server-files/pages/api/error.js
  test/integration/required-server-files/test/index.test.js
Labels: created-by: Next.js team, type: next

#26837 Use Prismic CDN URL in cms-prismic example
  examples/cms-prismic/lib/api.js
Labels: type: example

#26887 5MB -> 4MB body size limit
  errors/api-routes-body-size-limit.md
  packages/next/server/api-utils.ts
  test/integration/api-support/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#26890 include image types in `create-next-app` next-env.d.ts
  packages/create-next-app/templates/typescript/next-env.d.ts
Labels: type: create-next-app

#26884 [ESLint] Update default `.eslintrc` file created to have `.json` format
  packages/next/lib/eslint/writeDefaultConfig.ts
Labels: created-by: Chrome Aurora, type: next

#26899 Refactor decode failures
  packages/next/build/webpack/loaders/next-serverless-loader/api-handler.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/shared/lib/router/utils/route-matcher.ts
  packages/next/shared/lib/utils.ts
Labels: created-by: Chrome Aurora, type: next

#26938 Add initial `ResponsePayload` support
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  test/integration/prerender/test/index.test.js
Labels: created-by: Chrome Aurora, type: next

#26942 Fix typo in route-loader
  packages/next/client/route-loader.ts
Labels: type: next

#26941 More explicit typing for `IncrementalCache` API
  packages/next/server/incremental-cache.ts
  packages/next/server/next-server.ts
Labels: created-by: Chrome Aurora, type: next

#26961 Fix merge issue and use `respondWith`
  packages/next/server/next-server.ts
Labels: created-by: Chrome Aurora, type: next

#26719 (next/image): Merge query string params in imgix loader
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/client-side.js
  test/integration/image-component/basic/pages/index.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next

#26971 Updated next-transpile-modules to 8.0.0
  examples/with-patternfly/package.json
Labels: type: example

#26619 Fix: (rewrites) incorrect parsing of destination query
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/integration/rewrites-destination-query-array/next.config.js
  test/integration/rewrites-destination-query-array/pages/index.js
  test/integration/rewrites-destination-query-array/test/index.test.js
Labels: type: next

#26963 Fix forward slash encoding while interpolating
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  test/integration/required-server-files/test/index.test.js
Labels: created-by: Next.js team, type: next

#26980 fix error message during create-next-app
  packages/create-next-app/create-app.ts
Labels: type: create-next-app

#26973 Add page with next/image to stats-app
  test/.stats-app/image.js
  test/.stats-app/pages/index.js
  test/.stats-app/pages/link.js
  test/.stats-app/pages/routerDirect.js
  test/.stats-app/pages/withRouter.js
  test/.stats-app/stats-config.js
Labels: created-by: Next.js team

#26990 Rename `next/script` interface Props to ScriptProps
  packages/next/client/script.tsx
  packages/next/pages/_document.tsx
Labels: created-by: Next.js team, type: next

#26968 Don't lazy-load already-loaded image in client-side transition
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/test/index.test.js
Labels: created-by: Chrome Aurora, type: next

#26991 Loosen `next/image` TS types for `width` and `height`
  packages/next/client/image.tsx
  test/integration/image-component/typescript/components/image-card.tsx
  test/integration/image-component/typescript/pages/invalid.tsx
  test/integration/image-component/typescript/pages/valid.tsx
  test/integration/image-component/typescript/test/index.test.js
Labels: created-by: Next.js team, type: next

#26847 Add `dangerously-unoptimized` loader for next/image
  docs/basic-features/image-optimization.md
  packages/next/client/image.tsx
  packages/next/server/image-config.ts
  test/integration/export-image-loader/next.config.js
  test/integration/export-image-loader/test/index.test.js
  test/integration/image-optimizer/test/index.test.js
Labels: type: documentation, type: next

#26994 Fix hash change events not firing with i18n
  packages/next/shared/lib/router/router.ts
  test/integration/i18n-support-same-page-hash-change/pages/about.js
  test/integration/i18n-support-same-page-hash-change/test/index.test.js
Labels: type: next

#26996 Loosen `next/image` TS types for `src`
  packages/next/client/image.tsx
  test/integration/image-component/typescript/components/image-dynamic-src.tsx
  test/integration/image-component/typescript/pages/invalid.tsx
  test/integration/image-component/typescript/pages/valid.tsx
  test/integration/image-component/typescript/test/index.test.js
Labels: created-by: Next.js team, type: next

#26952 Provide Next.js postcss version to cssnano-simple
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/package.json
  packages/next/types/misc.d.ts
  yarn.lock
Labels: created-by: Next.js team, type: next

#26967 [ESLint] Removes image rule as error in Core Web Vitals config
  packages/eslint-config-next/core-web-vitals.js
Labels: created-by: Chrome Aurora

#27010 Fix (trailingSlash: true) causes issue in auth0 example
  examples/auth0/.env.local.example
  examples/auth0/README.md
  examples/auth0/lib/auth0.js
  examples/auth0/package.json
Labels: type: example

#27018 Update data-fetching.md
  docs/basic-features/data-fetching.md
Labels: type: documentation

#26998 Rename next/image `dangerously-unoptimized` to `custom` and warn when applicable
  docs/basic-features/image-optimization.md
  errors/manifest.json
  errors/next-image-missing-loader-width.md
  errors/next-image-missing-loader.md
  packages/next/client/image.tsx
  packages/next/server/image-config.ts
  test/integration/export-image-loader/pages/index.js
  test/integration/export-image-loader/test/index.test.js
  test/integration/image-optimizer/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#27030 Docs/Typo: Replace triple dot character with real dots
  docs/migrating/from-create-react-app.md
Labels: type: documentation

#27028 Add newline to the end of `next-env.d.ts`
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
Labels: type: next

#27043 Add performance tracing for next-image-loader
  packages/next/build/webpack/loaders/next-image-loader.js
Labels: created-by: Next.js team, type: next

#25257 Include message body in redirect responses
  packages/next/server/api-utils.ts
  test/integration/api-support/test/index.test.js
Labels: type: next

#27050 Mention running local changes inside monorepo
  contributing.md
Labels: created-by: Next.js team

#27061 Enhance `next dev` performance with placeholder=blur
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: created-by: Next.js team, type: next

#27082 Add batching to zipkin reporter
  packages/next/telemetry/trace/report/to-zipkin.ts
Labels: created-by: Next.js team, type: next

#27104 Mention customization of next.config.js to import images
  docs/upgrading.md
Labels: created-by: Next.js team, type: documentation

#27110 Update SuperTokens dependency version in with-supertokens example
  examples/with-supertokens/package.json
  examples/with-supertokens/pages/index.js
Labels: type: example

#27113 Fall back to fallbackSend when send is false
  packages/next/client/performance-relayer.ts
Labels: created-by: Next.js team, type: next

#27042 fix tailwind error
  examples/with-redis/postcss.config.js
  examples/with-redis/tailwind.config.js
Labels: type: example

#25272 Upgrades `web-vitals` to v1.1.2.
  packages/next/compiled/web-vitals/package.json
  packages/next/compiled/web-vitals/web-vitals.es5.umd.min.js
  packages/next/compiled/web-vitals/web-vitals.umd.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#27114 [examples] Use Strapi template
  examples/cms-strapi/README.md
  examples/cms-strapi/components/cover-image.js
  examples/cms-strapi/next.config.js
Labels: type: example

#25749 Prevent timeout when loading routes in development
  packages/next/client/route-loader.ts
Labels: type: next

#27031 Workaround for Node.js 16+ on Apple Silicon M1
  packages/next/server/lib/squoosh/impl.ts
Labels: created-by: Next.js team, type: next

#27120 Add test for `placeholder=blur` with `assetPrefix`
  test/integration/image-component/asset-prefix/next.config.js
  test/integration/image-component/asset-prefix/pages/index.js
  test/integration/image-component/asset-prefix/public/test.jpg
  test/integration/image-component/asset-prefix/test/index.test.js
Labels: created-by: Next.js team

#27021 [docs] Layouts & Going to Production
  docs/basic-features/layouts.md
  docs/going-to-production.md
  docs/manifest.json
Labels: created-by: Next.js team, type: documentation

#26997 Replace `withCoalescedInvoke` with `ResponseCache`
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/response-cache.ts
  packages/next/server/send-payload.ts
  test/integration/root-optional-revalidate/test/index.test.js
Labels: created-by: Chrome Aurora, type: next

#27125 Add jsdoc types to docs snippets
  docs/api-reference/next.config.js/introduction.md
Labels: created-by: Next.js team, type: documentation

#27126 Add some missing fields to the NextConfig type
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/image-config.ts
  packages/next/server/next-server.ts
Labels: created-by: Next.js team, type: next

#27130 Fix code block in Layouts docs.
  docs/basic-features/layouts.md
Labels: created-by: Next.js team, type: documentation

#27131 Update Going to Production docs to use quote.
  docs/going-to-production.md
Labels: created-by: Next.js team, type: documentation

#27143 Update redirect regexes to not match _next
  packages/next/build/index.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/server/next-server.ts
  packages/next/shared/lib/router/utils/path-match.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: created-by: Next.js team, type: next

#27148 Revert "Update data-fetching.md"
  docs/basic-features/data-fetching.md
Labels: created-by: Next.js team, type: documentation

#27147 Bump babel target to Node.js 12
  packages/next/taskfile-babel.js
Labels: created-by: Next.js team, type: next

#27167 Use SWC to compile Next.js core server files
  package.json
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/index.tsx
  packages/next/client/link.tsx
  packages/next/client/next-dev.js
  packages/next/client/next.js
  packages/next/client/page-loader.ts
  packages/next/client/portal/index.tsx
  packages/next/client/route-announcer.tsx
  packages/next/client/route-loader.ts
  packages/next/client/router.ts
  packages/next/package.json
  packages/next/server/next.ts
  packages/next/taskfile-babel.js
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  yarn.lock
Labels: created-by: Next.js team, type: next

#27150 Fix css minify incorrectly duplicating variables
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-loader/cjs.js
  packages/next/package.json
  test/integration/css-minify/pages/_app.js
  test/integration/css-minify/pages/index.js
  test/integration/css-minify/styles/global.css
  test/integration/css-minify/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/index.test.js
  test/integration/scss-modules/test/index.test.js
  test/integration/scss/test/index.test.js
  yarn.lock
Labels: created-by: Next.js team, type: next

#27180 Fix Image is missing required "src" property error
  examples/cms-wordpress/components/post-preview.js
Labels: type: example

#27192 Change pure functions to functions
  docs/api-routes/api-middlewares.md
Labels: type: documentation

#27179 [ESLint Plugin] Adds `no-duplicate-head` rule
  errors/manifest.json
  errors/no-duplicate-head.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-duplicate-head.js
  test/eslint-plugin-next/no-duplicate-head.test.js
Labels: created-by: Chrome Aurora, type: documentation

#27144 Fix gsp generation with file extension
  packages/next/export/worker.ts
  test/integration/gsp-extension/pages/[slug].js
  test/integration/gsp-extension/test/index.test.js
Labels: created-by: Next.js team, type: next

#27200 Add `minimumCacheTTL` config for Image Optimization
  docs/basic-features/image-optimization.md
  errors/invalid-images-config.md
  packages/next/server/config.ts
  packages/next/server/image-config.ts
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/get-max-age.test.js
  test/integration/image-optimizer/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#26995 Fix Script beforeInteractive on navigation
  packages/next/client/script.tsx
  test/integration/script-loader/pages/index.js
  test/integration/script-loader/test/index.test.js
Labels: created-by: Chrome Aurora, type: next

#27171 improve static generation UX
  errors/manifest.json
  errors/page-data-collection-timeout.md
  errors/static-page-generation-timeout.md
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/lib/worker.ts
  packages/next/server/config-shared.ts
  test/integration/build-output/fixtures/basic-app/pages/slow-static/[propsDuration]/[renderDuration].js
  test/integration/build-output/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#26521 upgrade next-redux-wrapper to 7.0.2
  examples/with-redux-wrapper/package.json
  examples/with-redux-wrapper/pages/index.js
  examples/with-redux-wrapper/pages/other.js
Labels: type: example

#27229 updated zustand example for 3.5.4+ interface change
  examples/with-zustand/lib/store.js
  examples/with-zustand/package.json
  examples/with-zustand/pages/_app.js
Labels: type: example

#27214 Add warning for large number of routes
  errors/manifest.json
  errors/max-custom-routes-reached.md
  packages/next/lib/load-custom-routes.ts
Labels: created-by: Next.js team, type: documentation, type: next

#27227 Fix typo in env howto
  docs/basic-features/environment-variables.md
Labels: type: documentation

#17557 Add x-forward headers to external rewrites
  packages/next/server/image-optimizer.ts
  packages/next/server/next-server.ts
  test/integration/custom-routes/test/index.test.js
Labels: type: next

#27234 Update cms-wordpress readme file
  examples/cms-wordpress/README.md
Labels: type: example

#27211 Add note about beforeFiles continuing
  docs/api-reference/next.config.js/rewrites.md
Labels: created-by: Next.js team, type: documentation

#27202 Add additional stats app pages
  test/.stats-app/components/hello.js
  test/.stats-app/pages/dynamic.js
  test/.stats-app/pages/head.js
  test/.stats-app/pages/script.js
Labels: created-by: Next.js team

#27247 Document full routes order in rewrites doc
  docs/api-reference/next.config.js/rewrites.md
Labels: created-by: Next.js team, type: documentation

#27119 [ESLint] Remove error when file patterns are unmatched + ESLint setup changes
  .eslintignore
  .eslintrc.json
  examples/with-flow/.eslintrc.json
  examples/with-flow/package.json
  package.json
  packages/eslint-config-next/index.js
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/runLintCheck.ts
  test/.eslintrc.json
  test/integration/client-navigation/pages/nav/pass-href-prop.js
  test/integration/conformance/components/one.js
  test/integration/conformance/next.config.js
  test/integration/conformance/pages/index.js
  test/integration/conformance/pages/page1.js
  test/integration/conformance/pages/page2.js
  test/integration/conformance/pages/page3.js
  test/integration/conformance/test/index.test.js
  test/integration/css-fixtures/next-issue-12343/pages/another-page.js
  test/integration/css-fixtures/next-issue-12343/pages/index.js
  test/integration/document-head-warnings/pages/_document.js
  test/integration/eslint/empty-directory/.eslintrc
  test/integration/eslint/empty-directory/components/.gitkeep
  test/integration/eslint/empty-directory/pages/index.js
  test/integration/eslint/eslint-ignore/.eslintrc
  test/integration/eslint/eslint-ignore/components/a.js
  test/integration/eslint/eslint-ignore/pages/index.js
  test/integration/eslint/test/index.test.js
  test/integration/export-serverless/pages/button-link.js
  test/integration/export/pages/button-link.js
  test/integration/preload-viewport/pages/invalid-ref.js
  yarn.lock
Labels: created-by: Chrome Aurora, type: example, type: next

#27218 Fix inline scripts being duplicated when used with `next/script` component
  docs/basic-features/script.md
  packages/next/client/script.tsx
  test/integration/script-loader/pages/index.js
  test/integration/script-loader/pages/page5.js
  test/integration/script-loader/test/index.test.js
Labels: created-by: Chrome Aurora, type: documentation, type: next

#27246 Add NextPage type to create-next-app typescript template
  packages/create-next-app/templates/typescript/pages/index.tsx
Labels: type: create-next-app

#27273 update fastify example to the latest version
  examples/custom-server-fastify/package.json
  examples/custom-server-fastify/server.js
Labels: type: example

#27297 Use named functions in layouts docs
  docs/basic-features/layouts.md
Labels: type: documentation

#27221 Remove redundant ssr option for styled-components
  examples/with-styled-components/.babelrc
Labels: type: example

#25973 Optimised Cypher queries in Neo4j example
  examples/with-neo4j/package.json
  examples/with-neo4j/pages/actor/[name].js
  examples/with-neo4j/pages/api/actors/[name].js
  examples/with-neo4j/pages/api/movies/[title].js
  examples/with-neo4j/pages/api/movies/index.js
  examples/with-neo4j/pages/index.js
  examples/with-neo4j/pages/movie/[title].js
  examples/with-neo4j/util/neo4j.js
Labels: type: example

#27308 Increase stats action install timeout
  .github/actions/next-stats-action/src/index.js
Labels: created-by: Next.js team

#27307 Fix `minimumCacheTTL` so it doesn't affect browser caching
  docs/basic-features/image-optimization.md
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/get-max-age.test.js
  test/integration/image-optimizer/test/index.test.js
Labels: created-by: Next.js team, type: documentation, type: next

#27306 Fix default server host value causing issues on Windows
  packages/next/cli/next-dev.ts
Labels: created-by: Next.js team, type: next

#25928 (examples/with-i18n-next-intl): fixes warning
  examples/with-i18n-next-intl/components/Navigation.js
  examples/with-i18n-next-intl/messages/shared/de.json
  examples/with-i18n-next-intl/messages/shared/en.json
  examples/with-i18n-next-intl/pages/_app.js
Labels: type: example

#27313 Continue: fix typo in breakpoint config
  examples/with-stitches/stitches.config.js
Labels: created-by: Next.js team, type: example

#27314 Continue: Update blog-starter-typescript postcss.config.js
  examples/blog-starter-typescript/postcss.config.js
Labels: created-by: Next.js team, type: example

#24953 Update next-image-unconfigured-host.md
  errors/next-image-unconfigured-host.md
Labels: type: documentation

#27311 Fix `placeholder=blur` inside `<noscript>`
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
Labels: created-by: Next.js team, type: next

#24780 fix type NextWebVitalsMetric
  packages/next/shared/lib/utils.ts
Labels: type: next

#27323 Fix image link
  examples/cms-sanity/components/cover-image.js
Labels: type: example

#27329 Upgrade swc for mac m1 compiling issue
  package.json
  yarn.lock
Labels: created-by: Next.js team

#27331 Update layout-component example to use named functions
  examples/layout-component/pages/about.js
  examples/layout-component/pages/contact.js
  examples/layout-component/pages/index.js
Labels: type: example

#27339 fix: hydration warning in with-mobx-state-tree-typescript example
  examples/with-mobx-state-tree-typescript/components/SampleComponent.tsx
  examples/with-mobx-state-tree-typescript/next-env.d.ts
  examples/with-mobx-state-tree-typescript/pages/ssg.tsx
  examples/with-mobx-state-tree-typescript/pages/ssr.tsx
Labels: type: example

#27334 Update graphql example
  examples/api-routes-graphql/package.json
  examples/api-routes-graphql/pages/api/graphql.js
Labels: type: example

#27341 Add extra explanation to next/image about positioning
  docs/api-reference/next/image.md
Labels: type: documentation

#27303 Add `RequestContext`
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
Labels: created-by: Chrome Aurora, type: next

#27335 Fix ISR page re-rendering after revalidate expiry (Fork of #24807)
  packages/next/server/incremental-cache.ts
  test/integration/prerender-revalidate/pages/index.js
  test/integration/prerender-revalidate/pages/named.js
  test/integration/prerender-revalidate/pages/nested/index.js
  test/integration/prerender-revalidate/pages/nested/named.js
  test/integration/prerender-revalidate/test/index.test.js
  test/integration/prerender/test/index.test.js
Labels: type: next

#25517 Update NextConfig type to not require experimental or future fields
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/export/worker.ts
  packages/next/server/config-shared.ts
Labels: type: documentation, type: next

#25915 docs: add note for Image responsive layout
  docs/api-reference/next/image.md
Labels: type: documentation

#25571 Update docs around ISR revalidation
  docs/basic-features/data-fetching.md
Labels: type: documentation

#27359 Examples: Delete `as` prop from `<Link>` components
  examples/dynamic-routing/components/header.js
Labels: type: example

#23027 Allow enabling worker threads on dev server
  packages/next/server/dev/next-dev-server.ts
Labels: type: next

#27328 Refactor i18n checks on request handling
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/server/api-utils.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/i18n/detect-domain-locale.ts
  packages/next/shared/lib/i18n/get-locale-metadata.ts
  packages/next/shared/lib/i18n/normalize-locale-path.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/parse-next-url.ts
  packages/next/shared/lib/router/utils/parse-url.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/shared/lib/router/utils/route-regex.ts
  packages/next/shared/lib/utils.ts
Labels: type: next

#27337 Add configuration for ISR Memory Cache Size (#21535)
  packages/next/server/config-shared.ts
  packages/next/server/incremental-cache.ts
  packages/next/server/next-server.ts
Labels: type: documentation, type: next

#27377 Indicate attaching debugger (vs launching)
  docs/advanced-features/debugging.md
Labels: type: documentation

#27379 Rename spr config to ISR
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
Labels: created-by: Next.js team, type: next

#27362 [errors/no-cache] Prevent GitHub Actions cache from going stale
  errors/no-cache.md
Labels: type: documentation

#27383 Fixed typo and error when using Auth0 service;
  examples/blog-with-comment/README.md
Labels: type: example

#27376 Add `keepAlive` to `node-fetch` polyfill
  packages/next/server/node-polyfill-fetch.js
  test/integration/node-fetch-keep-alive/pages/api/json.js
  test/integration/node-fetch-keep-alive/pages/ssg.js
  test/integration/node-fetch-keep-alive/pages/ssr.js
  test/integration/node-fetch-keep-alive/test/index.test.js
Labels: created-by: Next.js team, type: next

#27404 Rename `util` to `lib`
  examples/with-mongodb/lib/mongodb.js
  examples/with-mongodb/pages/index.js
Labels: type: example

#27407 Rename `utils` to `lib` in `with-mongodb-mongoose` example
  examples/with-mongodb-mongoose/lib/dbConnect.js
  examples/with-mongodb-mongoose/pages/[id]/index.js
  examples/with-mongodb-mongoose/pages/api/pets/[id].js
  examples/with-mongodb-mongoose/pages/api/pets/index.js
  examples/with-mongodb-mongoose/pages/index.js
Labels: type: example

#27418 Clarify automatic updates in deployment.
  docs/deployment.md
Labels: created-by: Next.js team, type: documentation

#27415 Fix external redirect with i18n domains
  packages/next/lib/load-custom-routes.ts
  test/integration/i18n-support-base-path/next.config.js
  test/integration/i18n-support/next.config.js
  test/integration/i18n-support/test/shared.js
Labels: created-by: Next.js team, type: next

#27419 Increase PR stats repo build timeout
  .github/actions/next-stats-action/src/index.js
Labels: created-by: Next.js team

#27403 Don't cache `null` responses
  packages/next/server/next-server.ts
  packages/next/server/response-cache.ts
Labels: created-by: Chrome Aurora, type: next

#27346 Use Sharp if available for Image Optimization
  docs/basic-features/image-optimization.md
  errors/manifest.json
  errors/sharp-missing-in-production.md
  package.json
  packages/next/build/webpack/loaders/next-image-loader.js
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/app/.gitignore
  test/integration/image-optimizer/app/next.config.js
  test/integration/image-optimizer/app/pages/index.js
  test/integration/image-optimizer/app/public/animated.gif
  test/integration/image-optimizer/app/public/animated.png
  test/integration/image-optimizer/app/public/animated.webp
  test/integration/image-optimizer/app/public/grayscale.png
  test/integration/image-optimizer/app/public/test.bmp
  test/integration/image-optimizer/app/public/test.gif
  test/integration/image-optimizer/app/public/test.ico
  test/integration/image-optimizer/app/public/test.jpg
  test/integration/image-optimizer/app/public/test.png
  test/integration/image-optimizer/app/public/test.svg
  test/integration/image-optimizer/app/public/test.tiff
  test/integration/image-optimizer/app/public/text.txt
  test/integration/image-optimizer/test/detect-content-type.unit.test.js
  test/integration/image-optimizer/test/get-max-age.unit.test.js
  test/integration/image-optimizer/test/index.test.js
  yarn.lock
Labels: created-by: Chrome Aurora, type: documentation, type: next

#27438 Fix typo in error message
  errors/manifest.json
  packages/next/server/image-optimizer.ts
Labels: created-by: Next.js team, type: documentation, type: next

#27258 Add `lazyBoundary` prop to Image component
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: documentation, type: next

#27440 Update `next/image` docs with `onLoadingComplete()`
  docs/api-reference/next/image.md
Labels: created-by: Next.js team, type: documentation

#27443 Ensure generateBuildId is not required in config type
  packages/next/server/config-shared.ts
Labels: created-by: Next.js team, type: next

#27446 Add eslint config options to `NextConfig` type
  packages/next/server/config-shared.ts
Labels: type: next

#27444 Add locale switcher to i18n-routing example
  examples/i18n-routing/components/locale-switcher.js
  examples/i18n-routing/pages/gsp/[slug].js
  examples/i18n-routing/pages/gsp/index.js
  examples/i18n-routing/pages/gssp.js
  examples/i18n-routing/pages/index.js
Labels: type: example

#27395 Wait for getFilesForRoute promise to fulfill before timeout in dev mode
  packages/next/client/route-loader.ts
Labels: type: next

#27451 Add config check for invalid duplicate locale domains
  packages/next/server/config.ts
  test/integration/i18n-support/test/index.test.js
Labels: created-by: Next.js team, type: next

#27441 Add warning when `next/image` component has `style` prop
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-style.js
  test/integration/image-component/default/test/index.test.js
Labels: created-by: Next.js team, type: next

#27452 Update max-age in HSTS sample
  docs/advanced-features/security-headers.md
Labels: type: documentation

#27052 [ESLint] Adds `--format` flag to `next lint`
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/customFormatter.ts
  packages/next/lib/eslint/runLintCheck.ts
  test/integration/eslint/test/index.test.js
Labels: created-by: Chrome Aurora, type: next

#26650 [ESLint] add no-typos rule to eslint
  docs/basic-features/eslint.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-typos.js
  test/eslint-plugin-next/no-typos.test.js
Labels: type: documentation

#26401 ESLint: custom directories from next.config.js
  docs/basic-features/eslint.md
  packages/next/cli/next-lint.ts
  test/integration/eslint/test/index.test.js
Labels: type: documentation, type: next

#14652 Updated the Error message describing the alternative and added styles…
  errors/css-global.md
  packages/next/build/webpack/config/blocks/css/messages.ts
  test/integration/css/test/index.test.js
  test/integration/scss/test/index.test.js
Labels: type: documentation, type: next

#27074 Auth0 Example: Fix issuer base URL
  examples/auth0/README.md
Labels: type: example

#22856 Clarify error message in isSerializableProps
  packages/next/lib/is-serializable-props.ts
  test/unit/is-serializable-props.unit.test.js
Labels: type: next

#27478 Update eslint doc comment
  packages/next/server/config-shared.ts
Labels: type: next
