Repository vercel/next.js, pull requests merged in 2022-11, with the labels that each got.

#42269 Update app-dir E2E tests for deploy
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#41767 Hybrid App Hooks Support
  .eslintrc.json
  packages/next/client/components/app-router.tsx
  packages/next/client/components/layout-router.tsx
  packages/next/client/components/navigation.ts
  packages/next/client/index.tsx
  packages/next/client/link.tsx
  packages/next/client/route-announcer.tsx
  packages/next/client/router.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/app-router-context.ts
  packages/next/shared/lib/hooks-client-context.ts
  packages/next/shared/lib/loadable.d.ts
  packages/next/shared/lib/router-context.ts
  packages/next/shared/lib/router/adapters.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/app-dir/app/components/router-hooks-fixtures.js
  test/e2e/app-dir/app/pages/adapter-hooks/[id].js
  test/e2e/app-dir/app/pages/adapter-hooks/[id]/account.js
  test/e2e/app-dir/app/pages/adapter-hooks/pushed.js
  test/e2e/app-dir/app/pages/adapter-hooks/static.js
  test/e2e/app-dir/index.test.ts
  test/integration/typescript/pages/hello.tsx
  test/integration/typescript/test/index.test.js
Labels: type: next

#42294 Add sqlite3 to the default list of server externals
  packages/next/lib/server-external-packages.ts
Labels: type: next, created-by: Next.js team

#42221 Improve the error message when custom export fields are used in an entry
  errors/invalid-segment-export.md
  errors/manifest.json
  packages/next/lib/typescript/diagnosticFormatter.ts
Labels: area: documentation, type: next, created-by: Next.js team

#41519 Add preload for layouts / components
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app-rendering/app/ssr-only/slow/layout.js
  test/e2e/app-dir/app-rendering/app/ssr-only/slow/page.js
  test/e2e/app-dir/rendering.test.ts
Labels: type: next, created-by: Next.js team

#42313 Add mongodb to default server externals
  packages/next/lib/server-external-packages.ts
Labels: type: next, created-by: Next.js team

#42315 refactor(next/turbo): consolidate turbo devserver logic
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/turbopack.rs
  packages/next/build/swc/index.js
Labels: type: next

#42260 docs(script): explain expected `next/script` behavior on client-side navigation
  docs/basic-features/script.md
Labels: area: documentation

#41718 [middleware] add tests for body reading methods #37980
  package.json
  packages/next/compiled/undici/index.js
  packages/next/package.json
  pnpm-lock.yaml
  test/e2e/edge-can-read-request-body/app/.gitignore
  test/e2e/edge-can-read-request-body/app/middleware.js
  test/e2e/edge-can-read-request-body/app/pages/api/nothing.js
  test/e2e/edge-can-read-request-body/index.test.ts
Labels: type: next

#42146 Add `path` for information in cookie setting
  docs/api-routes/request-helpers.md
Labels: area: documentation

#42337 Update wording to remove beta FUD and keep evergreen
  docs/getting-started.md
Labels: area: documentation

#42266 update font optimization page
  docs/api-reference/next/font.md
  docs/basic-features/font-optimization.md
Labels: area: documentation, created-by: Next.js docs team

#42348 Fix page folder being wrongly resolved as page file
  packages/next/build/webpack/loaders/next-app-loader.ts
  test/e2e/app-dir/app/app/dashboard/page/page.jsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#42344 Fix typo: docs/api-reference/next/font.md
  docs/api-reference/next/font.md
Labels: area: documentation

#42353 Update getting-started.md
  docs/getting-started.md
Labels: area: documentation

#42368 Fix typo in usage of onError in script.md
  docs/api-reference/next/script.md
Labels: area: documentation

#42367 Update dev process exit handling
  packages/next/build/index.ts
  packages/next/cli/next-dev.ts
  packages/next/export/index.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/telemetry/events/session-stopped.ts
  packages/next/telemetry/events/version.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#42357 create-next-app: add head to template
  packages/create-next-app/templates/app/js/app/head.jsx
  packages/create-next-app/templates/app/js/app/layout.jsx
  packages/create-next-app/templates/app/ts/app/head.tsx
  packages/create-next-app/templates/app/ts/app/layout.tsx
Labels: area: create-next-app

#42362 Ensure edge runtime doesn't propagate `cache` on fetch as Cloudflare doesn't support it.
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#42370 Update flakey SIGINT test
  test/integration/cli/test/index.test.js
Labels: created-by: Next.js team

#42320 Fix negative lookahead example in middleware.md
  docs/advanced-features/middleware.md
Labels: area: documentation

#42335 Fix typo in app / hello.js template
  packages/create-next-app/templates/app/js/pages/api/hello.js
Labels: area: create-next-app

#42323 Add `prisma` to the external package list
  packages/next/lib/server-external-packages.ts
Labels: type: next, created-by: Next.js team

#42331 Update customizing-postcss-config.md
  docs/advanced-features/customizing-postcss-config.md
Labels: area: documentation

#42286 Local font family name
  packages/font/src/local/loader.ts
  packages/font/src/local/utils.ts
  packages/next-swc/crates/core/src/next_font_loaders/font_imports_generator.rs
  packages/next-swc/crates/core/tests/errors/next-font-loaders/export-let/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-const/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/options-object/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/spread-arg/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/default-import/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/export-const/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/exports/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/font-options/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/import-as/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/many-args/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-calls/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-font-downloaders/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-fonts/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-imports/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/no-args/output.js
  packages/next/build/webpack/loaders/next-font-loader/index.ts
  packages/next/font/index.d.ts
  test/e2e/next-font/index.test.ts
  test/unit/google-font-loader.test.ts
  test/unit/local-font-loader.test.ts
Labels: type: next

#42299 useSelectedLayoutSegment at the current level
  packages/next/client/components/navigation.ts
  test/e2e/app-dir/app/app/hooks/use-selected-layout-segment/first/[dynamic]/(group)/second/[...catchall]/page.js
  test/e2e/app-dir/app/app/hooks/use-selected-layout-segment/first/layout.js
  test/e2e/app-dir/app/app/hooks/use-selected-layout-segment/layout.js
  test/e2e/app-dir/index.test.ts
Labels: type: next

#42338 Stop writing window specific paths in vscode configuration
  packages/next/lib/typescript/writeVscodeConfigurations.ts
Labels: type: next

#42382 Ensure Undici is enabled for appDir in all cases
  packages/next/server/config.ts
  packages/next/server/next-server.ts
  test/e2e/app-dir/app/api-server.js
  test/e2e/app-dir/app/app/very-large-data-fetch/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41689 fix: usage of wasm in an appDir page file using the edge runtime
  packages/next/build/utils.ts
  test/production/app-dir-edge-runtime-with-wasm/add.wasm
  test/production/app-dir-edge-runtime-with-wasm/index.test.ts
Labels: type: next

#41919 feat(next/mdx): support experimental mdx-rs loader
  docs/advanced-features/using-mdx.md
  package.json
  packages/next-mdx/index.js
  packages/next-mdx/mdx-rs-loader.js
  packages/next-mdx/package.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/mdx.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next-swc/crates/wasm/src/mdx.rs
  packages/next/build/swc/index.js
  packages/next/compiled/babel-packages/packages-bundle.js
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  pnpm-lock.yaml
  test/integration/plugin-mdx-rs/components/button.js
  test/integration/plugin-mdx-rs/next.config.js
  test/integration/plugin-mdx-rs/pages/button.mdx
  test/integration/plugin-mdx-rs/pages/index.mdx
  test/integration/plugin-mdx-rs/test/index.test.js
Labels: area: documentation, type: next

#42341 update middleware cookies example
  docs/advanced-features/middleware.md
Labels: area: documentation

#42392 Fix CSS modules imports not collected due to race conditions
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/e2e/app-dir/app/app/css/css-client/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#42371 Update default eslint choice for CNA setup
  packages/create-next-app/index.ts
  test/integration/create-next-app/lib/specification.ts
  test/integration/create-next-app/lib/utils.ts
  test/integration/create-next-app/templates.test.ts
Labels: area: create-next-app, created-by: Next.js team

#42393 Update swc builds
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#42394 Add meta tag to default app template
  packages/create-next-app/templates/app/js/app/head.jsx
  packages/create-next-app/templates/app/ts/app/head.tsx
Labels: area: create-next-app, created-by: Next.js team

#42421 Fix entry creation on Windows
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#42418 Fix Docs API Reference font.md broken link
  docs/api-reference/next/font.md
Labels: area: documentation

#42422 fixed missing `<Link />` keyword
  docs/routing/introduction.md
Labels: area: documentation

#42424 Fix docs for next/image upgrade guide
  docs/advanced-features/codemods.md
  docs/upgrading.md
  errors/next-image-upgrade-to-13.md
Labels: area: documentation, created-by: Next.js team

#42403 Fix font-optimization.md syntax errors
  docs/basic-features/font-optimization.md
Labels: area: documentation

#42430 Avoid breaking useRouter() type change
  packages/next/client/router.ts
Labels: type: next, created-by: Next.js team

#42426 Do not strip loader arg in dynamic for server components
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  test/e2e/app-dir/app/app/dashboard/index/dynamic-imports/dynamic-server.js
Labels: type: next, created-by: Next.js team

#42415 Clarify app and pages file conflicting files
  packages/next/build/index.ts
  packages/next/server/dev/next-dev-server.ts
  test/integration/conflicting-app-page-error/app/page.js
  test/integration/conflicting-app-page-error/pages/non-conflict-pages.js
  test/integration/conflicting-app-page-error/test/index.test.js
Labels: type: next, created-by: Next.js team

#42380 Change `usePathname` to return `string | null`
  packages/next/client/components/navigation.ts
  packages/next/client/index.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/router/adapters.ts
  packages/next/shared/lib/router/adapters.tsx
Labels: type: next

#42442 Fix invalid markdown lang
  docs/basic-features/font-optimization.md
Labels: area: documentation, created-by: Next.js team

#42444 Fix undici warning showing unexpectedly
  packages/next/server/config.ts
Labels: type: next, created-by: Next.js team

#42440 Remove static generation bail-out from usePathname
  packages/next/client/components/navigation.ts
  test/e2e/app-dir/app-static.test.ts
Labels: type: next, created-by: Next.js team

#42439 bump @typescript-eslint/parser version to support TS 4.8
  packages/eslint-config-next/package.json
  pnpm-lock.yaml
Labels: type: next

#42326 chore: Update swc_core to `v0.40.40`
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/core/tests/telemetry.rs
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/minify.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  test/unit/next-swc.test.ts
Labels: type: next, created-by: Next.js team

#42462 Fix Static Generation link on Pages page
  docs/basic-features/pages.md
Labels: area: documentation

#42465 Docs: Fix invalid tsconfig importSource syntax
  docs/advanced-features/compiler.md
Labels: area: documentation

#42378 Update response-helpers.md
  docs/api-routes/response-helpers.md
Labels: area: documentation

#42490 react-version.md: Update minimum React version for Next.js 13
  errors/react-version.md
Labels: area: documentation

#42489 Included negative matcher docs in upgrade guide
  errors/middleware-upgrade-guide.md
Labels: area: documentation

#42486 Add telemetry for turbotrace
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/telemetry/events/build.ts
Labels: type: next

#42501 Edit Upgrade docs to correct new-link codemod
  docs/upgrading.md
Labels: area: documentation

#42407 Include app directory in Tailwind config
  examples/with-tailwindcss/tailwind.config.js
Labels: area: examples

#42477 Fix undici warning in Node.js 18
  packages/next/server/config.ts
Labels: type: next, created-by: Next.js team

#42508 Ensure RSC is detecting correctly during revalidate
  packages/next/server/base-server.ts
Labels: type: next, created-by: Next.js team

#42518 Removed duplicate MONGODB_URI check in example
  examples/with-mongodb/lib/mongodb.ts
Labels: area: examples

#42528 Update turbopack docs to use `create-next-app@latest`
  docs/advanced-features/turbopack.md
Labels: area: documentation, created-by: Next.js team

#42524 fix: correctly mention `generateStaticParams` in error
  packages/next/build/utils.ts
Labels: type: next

#42520 Convert `middleware-matcher` example to TypeScript
  examples/middleware-matcher/README.md
  examples/middleware-matcher/middleware.js
  examples/middleware-matcher/middleware.ts
  examples/middleware-matcher/package.json
  examples/middleware-matcher/pages/[...slug].tsx
  examples/middleware-matcher/pages/index.tsx
  examples/middleware-matcher/tsconfig.json
Labels: area: examples

#42110 Convert `custom-server-express` example to TypeScript
  examples/custom-server-express/README.md
  examples/custom-server-express/nodemon.json
  examples/custom-server-express/package.json
  examples/custom-server-express/pages/a.tsx
  examples/custom-server-express/pages/b.tsx
  examples/custom-server-express/pages/index.tsx
  examples/custom-server-express/server.ts
  examples/custom-server-express/tsconfig.json
  examples/custom-server-express/tsconfig.server.json
Labels: area: examples

#42547 Re-enable sandbox cache and update AsyncLocalStorage usage
  packages/next/build/utils.ts
  packages/next/client/components/request-async-storage.ts
  packages/next/client/components/static-generation-async-storage.ts
  packages/next/client/components/static-generation-async-storage/package.json
  packages/next/client/components/static-generation-async-storage/storage-browser.ts
  packages/next/client/components/static-generation-async-storage/storage.ts
  packages/next/export/worker.ts
  packages/next/server/dev/static-paths-worker.ts
  packages/next/server/next-server.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#42550 Fix replaceAll usage in font loader
  packages/font/src/google/loader.ts
Labels: created-by: Next.js team

#42531 Check properly whether SWC is used or not when using forceSwcTransforms
  packages/next/build/webpack-config.ts
Labels: type: next

#42551 Example: fixed tailwind ver in readme
  examples/with-tailwindcss/README.md
Labels: area: examples

#42507 Show inlined error if the "use client" directive is not before other statements/expressions
  packages/next/server/next-typescript.ts
Labels: type: next, created-by: Next.js team

#42585 Refactor error codes in the TS plugin
  packages/next/server/next-typescript.ts
Labels: type: next, created-by: Next.js team

#42502 `next/compat/router`
  errors/manifest.json
  errors/next-router-not-mounted.md
  packages/next/client/compat/router.ts
  packages/next/client/route-announcer.tsx
  packages/next/client/router.ts
  packages/next/compat/router.d.ts
  packages/next/compat/router.js
  packages/next/tsconfig.json
  test/integration/typescript/pages/hello.tsx
Labels: area: documentation, type: next

#42295 [docs] Document middleware response changes
  docs/advanced-features/middleware.md
Labels: area: documentation

#42583 Fix scrolling on router.refresh
  packages/next/client/components/reducer.ts
Labels: type: next, created-by: Next.js team

#42586 Fix relative TypeScript path in monorepos
  packages/next/lib/typescript/writeVscodeConfigurations.ts
  packages/next/lib/verifyTypeScriptSetup.ts
Labels: type: next, created-by: Next.js team

#42350 Aggregate updates using `addStatusHandler` and `Promise.resolve` instead of `setTimeout`
  packages/next/client/components/react-dev-overlay/hot-reloader-client.tsx
  packages/next/client/components/react-dev-overlay/internal/error-overlay-reducer.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/bus.ts
  packages/react-refresh-utils/internal/helpers.ts
Labels: type: next

#42596 Fix default value handling for CNA in CI
  packages/create-next-app/index.ts
  test/integration/create-next-app/lib/utils.ts
  test/integration/create-next-app/templates.test.ts
Labels: area: create-next-app, created-by: Next.js team

#42529 Convert `with-absolute-imports` example to TypeScript
  docs/advanced-features/module-path-aliases.md
  examples/with-absolute-imports/README.md
  examples/with-absolute-imports/components/button.tsx
  examples/with-absolute-imports/components/header.tsx
  examples/with-absolute-imports/jsconfig.json
  examples/with-absolute-imports/package.json
  examples/with-absolute-imports/pages/index.js
  examples/with-absolute-imports/pages/index.tsx
  examples/with-absolute-imports/tsconfig.json
Labels: area: examples, area: documentation

#42482 Rename RSC and Router headers
  packages/next/build/index.ts
  packages/next/client/components/app-router-headers.ts
  packages/next/client/components/app-router.tsx
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/internal-utils.ts
  packages/next/server/web/adapter.ts
  test/e2e/app-dir/app/middleware.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/switchable-runtime/index.test.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: next, created-by: Next.js team

#42606 Ensure build trace ignores apply correctly when nested
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/production/pnpm-support/index.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#42624 Include @prisma/client in default external packages
  packages/next/lib/server-external-packages.ts
Labels: type: next, created-by: Next.js team

#42627 Replace global with globalThis
  packages/next/build/utils.ts
  packages/next/client/components/request-async-storage.ts
  packages/next/client/components/static-generation-async-storage.ts
  packages/next/client/image.tsx
  packages/next/client/legacy/image.tsx
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/server/config.ts
  packages/next/server/dev/static-paths-worker.ts
  packages/next/server/lib/squoosh/codecs.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#42506 Colocate styles with special entries
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/client/components/error-boundary.tsx
  packages/next/client/components/layout-router.tsx
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/app/error/client-component/error.js
  test/e2e/app-dir/app/app/error/client-component/style.module.css
  test/e2e/app-dir/app/app/loading-bug/[categorySlug]/loading.js
  test/e2e/app-dir/app/app/loading-bug/[categorySlug]/style.css
  test/e2e/app-dir/app/app/not-found/not-found.js
  test/e2e/app-dir/app/app/not-found/style.module.css
  test/e2e/app-dir/app/app/template/clientcomponent/style.module.css
  test/e2e/app-dir/app/app/template/clientcomponent/template.js
  test/e2e/app-dir/app/app/template/servercomponent/style.module.css
  test/e2e/app-dir/app/app/template/servercomponent/template.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#42629 Add lazy initialize of router cache nodes
  packages/next/client/components/app-router.tsx
  packages/next/client/components/layout-router.tsx
  packages/next/client/components/reducer.ts
  packages/next/shared/lib/app-router-context.ts
Labels: type: next, created-by: Next.js team

#42634 (with-supertokens example): Fixes infinite redirect issue for unauthorised error during SSR
  examples/with-supertokens/pages/index.tsx
Labels: area: examples

#42579 Add telemetry for @next/font
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
  test/lib/next-test-utils.js
  test/production/next-font/google-font-mocked-responses.js
  test/production/next-font/telemetry.test.ts
  test/production/next-font/telemetry/next.config.js
  test/production/next-font/telemetry/pages-unused/index.js
  test/production/next-font/telemetry/pages/_app.js
  test/production/next-font/telemetry/pages/index.js
  test/production/next-font/telemetry/pages/my-font.woff2
Labels: type: next

#42571 Also create head when creating root layout
  packages/next/lib/verifyRootLayout.ts
  test/e2e/app-dir/create-root-layout.test.ts
  test/e2e/app-dir/create-root-layout/app-find-available-dir/(group)/route/first/head.js
  test/e2e/app-dir/create-root-layout/app-find-available-dir/(group)/route/first/layout.js
  test/e2e/app-dir/create-root-layout/app-find-available-dir/(group)/route/first/page.js
  test/e2e/app-dir/create-root-layout/app-find-available-dir/(group)/route/second/inner/page.js
  test/e2e/app-dir/create-root-layout/app-group-layout/(group)/page.js
  test/e2e/app-dir/create-root-layout/app-group-layout/(group1)/path1/page.js
  test/e2e/app-dir/create-root-layout/app-group-layout/(group2)/path2/page.js
  test/e2e/app-dir/create-root-layout/app/route/page.js
Labels: type: next

#42633 feat: add --no-mangling to next build + fix --profile option
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/cli/next-build.ts
Labels: type: next

#42639 update react builtin deps for next channel
  package.json
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server-rendering-stub.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server.browser.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server.node.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom.development.js
  packages/next/compiled/react-dom/cjs/react-dom.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom.profiling.min.js
  packages/next/compiled/react-dom/package.json
  packages/next/compiled/react-server-dom-webpack/server.browser.js
  packages/next/compiled/react/cjs/react.development.js
  packages/next/compiled/react/cjs/react.production.min.js
  packages/next/compiled/react/cjs/react.shared-subset.development.js
  packages/next/compiled/react/cjs/react.shared-subset.production.min.js
  packages/next/compiled/react/package.json
  pnpm-lock.yaml
Labels: type: next

#42642 Ensure skip normalize is handled correctly
  packages/next/build/index.ts
  test/e2e/skip-trailing-slash-redirect/app/middleware.js
  test/e2e/skip-trailing-slash-redirect/index.test.ts
Labels: type: next, created-by: Next.js team

#42637 @next/font/google fetch error dev
  packages/font/src/google/loader.ts
  packages/font/src/local/loader.ts
  packages/next/build/webpack/config/blocks/css/loaders/font-loader.ts
  packages/next/build/webpack/loaders/next-font-loader/index.ts
  packages/next/build/webpack/loaders/next-font-loader/postcss-font-loader.ts
  packages/next/font/index.d.ts
  test/e2e/next-font/google-fetch-error.test.ts
  test/e2e/next-font/google-fetch-error/next.config.js
  test/e2e/next-font/google-fetch-error/pages/index.js
  test/e2e/next-font/google-font-mocked-responses.js
  test/unit/google-font-loader.test.ts
  test/unit/local-font-loader.test.ts
Labels: type: next

#42632 chore: update scripts to work on windows
  examples/with-turbopack/package.json
Labels: area: examples

#42660 Add missing matcher support
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/server/router.ts
  packages/next/shared/lib/router/utils/middleware-route-matcher.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
  test/e2e/middleware-custom-matchers/app/middleware.js
  test/e2e/middleware-custom-matchers/test/index.test.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#42669 fix typo in api-reference next/sever
  docs/api-reference/next/server.md
Labels: area: documentation

#42495 Remove useless async declaration and replace regexp to plain string in AMP postProcessor
  packages/next/server/post-process.ts
Labels: type: next

#42689 @next/font error messages
  packages/font/google/index.js
  packages/font/local/index.js
  packages/next/font/google/index.js
  packages/next/font/index.js
  packages/next/font/local/index.js
Labels: type: next

#42695 example fix url
  examples/blog-with-comment/components/comment/form.tsx
  examples/blog-with-comment/hooks/useComment.ts
  examples/blog-with-comment/lib/clearUrl.ts
  examples/blog-with-comment/lib/createComment.ts
  examples/blog-with-comment/lib/deleteComment.ts
  examples/blog-with-comment/lib/fetchComment.ts
  examples/blog-with-comment/package.json
  examples/blog-with-comment/pages/_document.tsx
Labels: area: examples

#42645 Adopt script rejection pattern for link onerror.
  packages/next/client/route-loader.ts
Labels: type: next

#42678 Fix @next/font imports from outside of the root directory
  errors/babel-font-loader-conflict.md
  packages/next/build/babel/loader/get-config.ts
  packages/next/build/babel/plugins/next-font-unsupported.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/server/config.ts
  test/e2e/app-dir/rsc-external.test.ts
  test/e2e/app-dir/rsc-external/app/font/page.js
  test/e2e/app-dir/rsc-external/next.config.js
  test/e2e/app-dir/rsc-external/node_modules_bak/font/index.ts
  test/e2e/app-dir/rsc-external/node_modules_bak/font/my-font.woff2
  test/e2e/app-dir/rsc-external/node_modules_bak/font/package.json
  test/e2e/next-font/babel/next.config.js
  test/production/next-font/babel-unsupported.test.ts
  test/production/next-font/babel-unsupported/.babelrc
  test/production/next-font/babel-unsupported/pages/index.js
Labels: area: documentation, type: next

#42710 Ensure appDir is included in webpack configVars
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#42714 Fix replaceAll usage in post-process
  packages/next/server/post-process.ts
Labels: type: next, created-by: Next.js team

#42325 Use import to load page and layout
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app-alias.test.ts
  test/e2e/app-dir/app-alias/next.config.js
  test/e2e/app-dir/app-alias/package.json
Labels: type: next, created-by: Next.js team

#42711 Update to latest version of turbo CLI
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#42709 Alias next public api to esm on edge runtime
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/image.tsx
  packages/next/script.js
  test/e2e/prerender.test.ts
  test/e2e/streaming-ssr/index.test.ts
  test/e2e/streaming-ssr/streaming-ssr/pages/router.js
Labels: type: next, created-by: Next.js team

#42613 fix: publish compat folder
  packages/next/package.json
Labels: type: next

#42625 Change condition to check for string attribute in lint rules utility function
  packages/eslint-plugin-next/src/utils/node-attributes.ts
  test/unit/eslint-plugin-next/google-font-display.test.ts
Labels: type: next

#42355 Fix as option with optional catch all routes url object syntax
  packages/next/shared/lib/router/router.ts
  test/integration/rewrites-manual-href-as/next.config.js
  test/integration/rewrites-manual-href-as/pages/news/[[...slugs]].js
  test/integration/rewrites-manual-href-as/pages/preview/[slug].js
  test/integration/rewrites-manual-href-as/test/index.test.js
Labels: type: next

#42324 fix comma splice in `verifyRootLayout.ts`
  packages/next/lib/verifyRootLayout.ts
  test/e2e/app-dir/create-root-layout.test.ts
Labels: type: next

#42733 build(next-swc): update turbopack to latest
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/build.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/rust-toolchain
Labels: type: next

#42741 Eagerly bundle external ESM dependencies for pages
  packages/next/build/webpack-config.ts
  test/e2e/app-dir/app-external.test.ts
  test/e2e/app-dir/app-external/app/css/[...slug]/page.js
  test/e2e/app-dir/app-external/app/css/modules/page.js
  test/e2e/app-dir/app-external/app/esm/client/page.js
  test/e2e/app-dir/app-external/app/esm/server/page.js
  test/e2e/app-dir/app-external/app/external-imports/client/page.js
  test/e2e/app-dir/app-external/app/external-imports/server/page.js
  test/e2e/app-dir/app-external/app/font/page.js
  test/e2e/app-dir/app-external/app/layout.js
  test/e2e/app-dir/app-external/app/react-server/3rd-party-package/client.js
  test/e2e/app-dir/app-external/app/react-server/3rd-party-package/page.js
  test/e2e/app-dir/app-external/app/react-server/client-detector.js
  test/e2e/app-dir/app-external/app/react-server/detector.js
  test/e2e/app-dir/app-external/app/react-server/optout/client.js
  test/e2e/app-dir/app-external/app/react-server/optout/page.js
  test/e2e/app-dir/app-external/app/react-server/page.js
  test/e2e/app-dir/app-external/app/shared-esm-dep/page.js
  test/e2e/app-dir/app-external/components/random-module-instance.js
  test/e2e/app-dir/app-external/next.config.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports-optout/index.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports-optout/index.server.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports-optout/package.json
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports-optout/subpath.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports-optout/subpath.server.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports/dep.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports/dep.server.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports/index.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports/index.server.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports/package.json
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports/subpath.js
  test/e2e/app-dir/app-external/node_modules_bak/conditional-exports/subpath.server.js
  test/e2e/app-dir/app-external/node_modules_bak/css/index.js
  test/e2e/app-dir/app-external/node_modules_bak/css/module.js
  test/e2e/app-dir/app-external/node_modules_bak/css/package.json
  test/e2e/app-dir/app-external/node_modules_bak/css/style.css
  test/e2e/app-dir/app-external/node_modules_bak/css/styles.module.css
  test/e2e/app-dir/app-external/node_modules_bak/esm-with-react/index.js
  test/e2e/app-dir/app-external/node_modules_bak/esm-with-react/package.json
  test/e2e/app-dir/app-external/node_modules_bak/font/index.ts
  test/e2e/app-dir/app-external/node_modules_bak/font/my-font.woff2
  test/e2e/app-dir/app-external/node_modules_bak/font/package.json
  test/e2e/app-dir/app-external/node_modules_bak/non-isomorphic-text/browser.js
  test/e2e/app-dir/app-external/node_modules_bak/non-isomorphic-text/index.js
  test/e2e/app-dir/app-external/node_modules_bak/non-isomorphic-text/index.mjs
  test/e2e/app-dir/app-external/node_modules_bak/non-isomorphic-text/package.json
  test/e2e/app-dir/app-external/node_modules_bak/random-module-instance/index.js
  test/e2e/app-dir/app-external/node_modules_bak/random-module-instance/package.json
  test/e2e/app-dir/app-external/node_modules_bak/untranspiled-module/index.ts
  test/e2e/app-dir/app-external/node_modules_bak/untranspiled-module/package.json
  test/e2e/app-dir/app-external/pages/test-pages-esm.jsx
  test/e2e/app-dir/app-external/pages/test-pages.jsx
Labels: type: next, created-by: Next.js team

#42744 Handle hydration replaceState for static page with searchParams
  packages/next/client/components/app-router.tsx
  packages/next/client/components/reducer.ts
  test/e2e/app-dir/app-static.test.ts
Labels: type: next, created-by: Next.js team

#42693 Add test case for image generation
  package.json
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/telemetry/events/build.ts
  pnpm-lock.yaml
  test/integration/image-generation/app/pages/api/image.jsx
  test/integration/image-generation/test/index.test.ts
  test/integration/telemetry/pages/api/og.jsx
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#42735 Don't pushState when already on the url
  packages/next/client/components/app-router.tsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#42724 font api updates
  docs/api-reference/next/font.md
  docs/basic-features/font-optimization.md
Labels: area: documentation, created-by: Next.js docs team

#42750 fix: enable emotion import map
  docs/advanced-features/compiler.md
  packages/next/build/swc/options.js
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
Labels: area: documentation, type: next

#42767 Fix resolving for esm package with only exports.import condition
  packages/next/build/webpack-config.ts
  test/e2e/app-dir/app-external.test.ts
  test/e2e/app-dir/app-external/app/external-imports/server/page.js
  test/e2e/app-dir/app-external/components/random-module-instance.js
  test/e2e/app-dir/app-external/node_modules_bak/pure-esm-module/index.js
  test/e2e/app-dir/app-external/node_modules_bak/pure-esm-module/package.json
  test/e2e/app-dir/app-external/node_modules_bak/random-module-instance/package.json
  test/e2e/app-dir/rsc-basic/app/shared/page.js
Labels: type: next, created-by: Next.js team

#42766 Track page counts during builds
  packages/next/build/index.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/pages/edge.js
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#42779 Show link to the docs for route segment config options
  packages/next/server/next-typescript.ts
Labels: type: next, created-by: Next.js team

#42794 chore(examples): `next/future/image` -> `next/image`
  examples/cms-sanity/components/avatar.js
  examples/cms-sanity/components/cover-image.js
  examples/with-sfcc/components/Header.js
  examples/with-sfcc/components/ProductCard.js
  examples/with-sfcc/pages/products/[slug].js
Labels: area: examples

#42790 fix: Fix regression of swc minifier
  packages/next-swc/crates/napi/src/minify.rs
Labels: type: next, created-by: Next.js team

#42797 Update bundle analyzer dependency and output
  package.json
  packages/next-bundle-analyzer/index.js
  packages/next-bundle-analyzer/package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#42816 docs: fix middleware docs cookie example
  docs/advanced-features/middleware.md
Labels: area: documentation

#42771 Updates Apollo Server Examples to use Apollo Server 4 & @as-integrations/next
  examples/api-routes-apollo-server-and-client-auth/README.md
  examples/api-routes-apollo-server-and-client-auth/apollo/client.tsx
  examples/api-routes-apollo-server-and-client-auth/apollo/resolvers.ts
  examples/api-routes-apollo-server-and-client-auth/apollo/schema.ts
  examples/api-routes-apollo-server-and-client-auth/apollo/type-defs.ts
  examples/api-routes-apollo-server-and-client-auth/components/field.tsx
  examples/api-routes-apollo-server-and-client-auth/lib/auth-cookies.ts
  examples/api-routes-apollo-server-and-client-auth/lib/auth.ts
  examples/api-routes-apollo-server-and-client-auth/lib/form.ts
  examples/api-routes-apollo-server-and-client-auth/lib/user.ts
  examples/api-routes-apollo-server-and-client-auth/package.json
  examples/api-routes-apollo-server-and-client-auth/pages/_app.tsx
  examples/api-routes-apollo-server-and-client-auth/pages/about.tsx
  examples/api-routes-apollo-server-and-client-auth/pages/api/graphql.js
  examples/api-routes-apollo-server-and-client-auth/pages/api/graphql.ts
  examples/api-routes-apollo-server-and-client-auth/pages/index.tsx
  examples/api-routes-apollo-server-and-client-auth/pages/signin.tsx
  examples/api-routes-apollo-server-and-client-auth/pages/signout.tsx
  examples/api-routes-apollo-server-and-client-auth/pages/signup.tsx
  examples/api-routes-apollo-server-and-client-auth/tsconfig.json
  examples/api-routes-apollo-server-and-client/README.md
  examples/api-routes-apollo-server-and-client/apollo/client.tsx
  examples/api-routes-apollo-server-and-client/apollo/resolvers.ts
  examples/api-routes-apollo-server-and-client/apollo/schema.ts
  examples/api-routes-apollo-server-and-client/apollo/type-defs.ts
  examples/api-routes-apollo-server-and-client/package.json
  examples/api-routes-apollo-server-and-client/pages/_app.tsx
  examples/api-routes-apollo-server-and-client/pages/about.tsx
  examples/api-routes-apollo-server-and-client/pages/api/graphql.js
  examples/api-routes-apollo-server-and-client/pages/api/graphql.ts
  examples/api-routes-apollo-server-and-client/pages/index.tsx
  examples/api-routes-apollo-server-and-client/tsconfig.json
  examples/api-routes-apollo-server/README.md
  examples/api-routes-apollo-server/package.json
  examples/api-routes-apollo-server/pages/[username].tsx
  examples/api-routes-apollo-server/pages/api/graphql.ts
  examples/api-routes-apollo-server/pages/index.tsx
  examples/api-routes-apollo-server/shared/query-graphql/index.ts
  examples/api-routes-apollo-server/tsconfig.json
Labels: area: examples

#42617 Improve `with-algolia-react-instantsearch` example and convert to TypeScript
  examples/with-algolia-react-instantsearch/components/Search.tsx
  examples/with-algolia-react-instantsearch/components/app.js
  examples/with-algolia-react-instantsearch/components/head.js
  examples/with-algolia-react-instantsearch/components/index.js
  examples/with-algolia-react-instantsearch/components/instantsearch.js
  examples/with-algolia-react-instantsearch/next.config.js
  examples/with-algolia-react-instantsearch/package.json
  examples/with-algolia-react-instantsearch/pages/_app.tsx
  examples/with-algolia-react-instantsearch/pages/index.js
  examples/with-algolia-react-instantsearch/pages/index.tsx
  examples/with-algolia-react-instantsearch/public/favicon.ico
  examples/with-algolia-react-instantsearch/styles/global.css
  examples/with-algolia-react-instantsearch/tsconfig.json
  examples/with-algolia-react-instantsearch/utils/index.ts
Labels: area: examples

#42842 Update docs/advanced-features/debugging.md
  docs/advanced-features/debugging.md
Labels: area: documentation

#42791 Add additional item to RSC payload, preparing for head.tsx on navigation
  packages/next/client/components/app-router.tsx
  packages/next/client/components/layout-router.tsx
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
  packages/next/shared/lib/app-router-context.ts
Labels: type: next, created-by: Next.js team

#42903 docs(edge-api-routes): fixes example
  docs/api-routes/edge-api-routes.md
Labels: area: documentation

#42865 Update SFCC example to use TypeScript + `@next/font`
  docs/basic-features/font-optimization.md
  examples/with-sfcc/components/Footer.tsx
  examples/with-sfcc/components/Header.tsx
  examples/with-sfcc/components/ProductCard.tsx
  examples/with-sfcc/components/layout.js
  examples/with-sfcc/next.config.js
  examples/with-sfcc/package.json
  examples/with-sfcc/pages/_app.js
  examples/with-sfcc/pages/_app.tsx
  examples/with-sfcc/pages/_document.tsx
  examples/with-sfcc/pages/index.tsx
  examples/with-sfcc/pages/products/[slug].tsx
  examples/with-sfcc/styles/globals.css
  examples/with-sfcc/tailwind.config.js
  examples/with-sfcc/tsconfig.json
Labels: area: examples, area: documentation, created-by: Next.js team

#42803 Update to latest version of turbo CLI
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#42888 Use window.location directly instead of parsing into URL
  packages/next/client/components/app-router.tsx
Labels: type: next, created-by: Next.js team

#42894 feat(next-swc/relay): Add `javascript` to language
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/tests/telemetry.rs
  packages/next/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#42117 types(#42003): better typing for `next/link`
  packages/next/client/link.tsx
  test/e2e/new-link-behavior/typescript/pages/index.tsx
  test/production/typescript-basic/app/pages/index.tsx
Labels: type: next

#42916 Make cover image full width
  examples/blog-starter/components/cover-image.tsx
Labels: area: examples

#42917 Add more details to invalid-next-config doc
  errors/invalid-next-config.md
Labels: area: documentation, created-by: Next.js team

#42818 Ensure query is provided correctly with middleware rewrites
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-rewrites/app/middleware.js
  test/e2e/middleware-rewrites/app/next.config.js
  test/e2e/middleware-rewrites/app/pages/static-ssg/[slug].js
  test/e2e/middleware-rewrites/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
Labels: type: next, created-by: Next.js team

#42656 feat(next/swc): allow to run custom turbopack binary
  packages/next/build/swc/index.d.ts
  packages/next/build/swc/index.js
  packages/next/cli/next-dev.ts
Labels: type: next

#42662 Tigris example with Next.js
  examples/with-tigris/.env.development
  examples/with-tigris/.env.local.example
  examples/with-tigris/.env.production
  examples/with-tigris/.gitignore
  examples/with-tigris/README.md
  examples/with-tigris/components/EachToDo.tsx
  examples/with-tigris/components/LoaderWave.tsx
  examples/with-tigris/lib/tigris.ts
  examples/with-tigris/models/tigris/todoStarterApp/todoItems.ts
  examples/with-tigris/next.config.js
  examples/with-tigris/package.json
  examples/with-tigris/pages/_app.tsx
  examples/with-tigris/pages/api/item/[id].ts
  examples/with-tigris/pages/api/items/index.ts
  examples/with-tigris/pages/api/items/search.ts
  examples/with-tigris/pages/index.tsx
  examples/with-tigris/public/circle-checked.svg
  examples/with-tigris/public/circle.svg
  examples/with-tigris/public/delete.svg
  examples/with-tigris/public/favicon.ico
  examples/with-tigris/public/readme/logo.svg
  examples/with-tigris/public/readme/todo_app_screenshot.jpg
  examples/with-tigris/public/tigris_logo.svg
  examples/with-tigris/public/vercel.svg
  examples/with-tigris/scripts/setup.ts
  examples/with-tigris/styles/EachToDo.module.css
  examples/with-tigris/styles/Home.module.css
  examples/with-tigris/styles/LoaderWave.module.css
  examples/with-tigris/styles/globals.css
  examples/with-tigris/tsconfig.json
Labels: area: examples

#42793 fix: Error: NEXT_REDIRECT crashing server in prod
  packages/next/server/app-render.tsx
  test/e2e/app-dir/async-component-preload.test.ts
  test/e2e/app-dir/async-component-preload/app/layout.js
  test/e2e/app-dir/async-component-preload/app/page.js
  test/e2e/app-dir/async-component-preload/app/success/page.js
  test/e2e/app-dir/async-component-preload/next.config.js
Labels: type: next

#42929 Update caching for swc turbo builds
  .github/workflows/build_test_deploy.yml
  packages/next-swc/package.json
  scripts/normalize-version-bump.js
  scripts/pull-freebsd-cache.js
  turbo.json
Labels: type: next, created-by: Next.js team

#42960 Fix cache collision for swc darwin
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#42961 Fix build-wasm-dev docs skip
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#42968 typo
  docs/basic-features/layouts.md
Labels: area: documentation

#42969 Update deployment used for e2e test
  test/e2e/app-dir/app/app/very-large-data-fetch/page.js
Labels: created-by: Next.js team

#42962 docs(examples): add postgres.js example
  examples/with-postgres/.env.local.example
  examples/with-postgres/.gitignore
  examples/with-postgres/README.md
  examples/with-postgres/ley.config.js
  examples/with-postgres/lib/db.ts
  examples/with-postgres/lib/todos.ts
  examples/with-postgres/migrations/000-todos.js
  examples/with-postgres/next.config.js
  examples/with-postgres/package.json
  examples/with-postgres/pages/_app.tsx
  examples/with-postgres/pages/api/todos.ts
  examples/with-postgres/pages/index.tsx
  examples/with-postgres/public/favicon.ico
  examples/with-postgres/public/vercel.svg
  examples/with-postgres/styles/Home.module.css
  examples/with-postgres/styles/globals.css
  examples/with-postgres/tsconfig.json
Labels: area: examples

#42973 Remove `with-atlaskit` example
  examples/with-atlaskit/.babelrc
  examples/with-atlaskit/.gitignore
  examples/with-atlaskit/README.md
  examples/with-atlaskit/components/ButtonComponent.js
  examples/with-atlaskit/components/CheckboxComponent.js
  examples/with-atlaskit/components/DateTimePickerComponent.js
  examples/with-atlaskit/components/DropdownMenuComponent.js
  examples/with-atlaskit/package.json
  examples/with-atlaskit/pages/_document.js
  examples/with-atlaskit/pages/index.js
Labels: area: examples

#42976 Remove `with-carbon-components` example
  examples/with-carbon-components/.gitignore
  examples/with-carbon-components/README.md
  examples/with-carbon-components/package.json
  examples/with-carbon-components/pages/_app.js
  examples/with-carbon-components/pages/index.js
  examples/with-carbon-components/styles/custom-theme.scss
Labels: area: examples

#42980 Remove `with-cerebral` example
  examples/with-cerebral/.gitignore
  examples/with-cerebral/README.md
  examples/with-cerebral/components/Clock.js
  examples/with-cerebral/components/Page.js
  examples/with-cerebral/modules/clock/actions.js
  examples/with-cerebral/modules/clock/index.js
  examples/with-cerebral/modules/clock/provider.js
  examples/with-cerebral/modules/clock/signals.js
  examples/with-cerebral/package.json
  examples/with-cerebral/pages/index.js
  examples/with-cerebral/pages/other.js
Labels: area: examples

#42904 Handle head.js on client-side navigation
  packages/next/client/components/app-router.tsx
  packages/next/client/components/layout-router.tsx
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/head.test.ts
Labels: type: next, created-by: Next.js team

#43011 Fix test retry cleanup
  run-tests.js
Labels: created-by: Next.js team

#43012 Remove `swcMinify` option from example configs
  examples/with-ant-design/next.config.js
  examples/with-grafbase/next.config.js
  examples/with-postgres/next.config.js
  examples/with-tigris/next.config.js
  examples/with-turbopack/next.config.js
Labels: area: examples

#43009 Document regions config for experimental-edge
  docs/api-routes/edge-api-routes.md
Labels: area: documentation, created-by: Next.js team
