Repository vercel/next.js, pull requests merged in 2022-10, with the labels that each got.

#41077 Fix experimental undici warning
  packages/next/server/config.ts
  test/e2e/prerender.test.ts
Labels: type: next, created-by: Next.js team

#40639 (Docs) getStaticProps & getServerSideProps TS section (#40607)
  docs/api-reference/data-fetching/get-server-side-props.md
  docs/api-reference/data-fetching/get-static-props.md
Labels: area: documentation

#41079 Authsignal passwordless example
  examples/authsignal/passwordless-login/.env.local.example
  examples/authsignal/passwordless-login/.gitignore
  examples/authsignal/passwordless-login/README.md
  examples/authsignal/passwordless-login/components/dashboard.module.css
  examples/authsignal/passwordless-login/components/dashboard.tsx
  examples/authsignal/passwordless-login/components/index.ts
  examples/authsignal/passwordless-login/components/layout.tsx
  examples/authsignal/passwordless-login/components/login.module.css
  examples/authsignal/passwordless-login/components/login.tsx
  examples/authsignal/passwordless-login/lib/authsignal.ts
  examples/authsignal/passwordless-login/lib/cookies.ts
  examples/authsignal/passwordless-login/lib/index.ts
  examples/authsignal/passwordless-login/next.config.js
  examples/authsignal/passwordless-login/package.json
  examples/authsignal/passwordless-login/pages/_app.tsx
  examples/authsignal/passwordless-login/pages/api/finalize-login.ts
  examples/authsignal/passwordless-login/pages/api/login.ts
  examples/authsignal/passwordless-login/pages/api/logout.ts
  examples/authsignal/passwordless-login/pages/globals.css
  examples/authsignal/passwordless-login/pages/index.tsx
  examples/authsignal/passwordless-login/public/favicon.ico
  examples/authsignal/passwordless-login/public/vercel.svg
  examples/authsignal/passwordless-login/tsconfig.json
Labels: area: examples

#41080 chore(examples): Cosmic cms updates
  examples/cms-cosmic/components/alert.tsx
  examples/cms-cosmic/components/avatar.tsx
  examples/cms-cosmic/components/container.js
  examples/cms-cosmic/components/container.tsx
  examples/cms-cosmic/components/cover-image.tsx
  examples/cms-cosmic/components/date.tsx
  examples/cms-cosmic/components/footer.tsx
  examples/cms-cosmic/components/header.tsx
  examples/cms-cosmic/components/hero-post.tsx
  examples/cms-cosmic/components/intro.tsx
  examples/cms-cosmic/components/layout.tsx
  examples/cms-cosmic/components/meta.tsx
  examples/cms-cosmic/components/more-stories.tsx
  examples/cms-cosmic/components/post-body.tsx
  examples/cms-cosmic/components/post-header.tsx
  examples/cms-cosmic/components/post-preview.tsx
  examples/cms-cosmic/components/post-title.tsx
  examples/cms-cosmic/components/section-separator.js
  examples/cms-cosmic/components/section-separator.tsx
  examples/cms-cosmic/interfaces/index.ts
  examples/cms-cosmic/lib/api.tsx
  examples/cms-cosmic/lib/constants.ts
  examples/cms-cosmic/lib/markdownToHtml.ts
  examples/cms-cosmic/next-env.d.ts
  examples/cms-cosmic/package.json
  examples/cms-cosmic/pages/_app.js
  examples/cms-cosmic/pages/_app.tsx
  examples/cms-cosmic/pages/_document.tsx
  examples/cms-cosmic/pages/api/exit-preview.ts
  examples/cms-cosmic/pages/api/preview.ts
  examples/cms-cosmic/pages/index.tsx
  examples/cms-cosmic/pages/posts/[slug].tsx
  examples/cms-cosmic/tsconfig.json
Labels: area: examples

#37930 chore(example): updated react-multi-carousel to TS
  examples/with-react-multi-carousel/README.md
  examples/with-react-multi-carousel/components/image.js
  examples/with-react-multi-carousel/package.json
  examples/with-react-multi-carousel/pages/_app.js
  examples/with-react-multi-carousel/pages/index.js
  examples/with-react-multi-carousel/pages/index.tsx
  examples/with-react-multi-carousel/public/brucetang.jpg
  examples/with-react-multi-carousel/public/cameronsmith.jpg
  examples/with-react-multi-carousel/public/favicon.ico
  examples/with-react-multi-carousel/public/ganapathykumar.jpg
  examples/with-react-multi-carousel/public/roanlavery.jpg
  examples/with-react-multi-carousel/public/tianshuliu.jpg
  examples/with-react-multi-carousel/src/getPageContext.js
  examples/with-react-multi-carousel/style.css
  examples/with-react-multi-carousel/tsconfig.json
Labels: area: examples

#39537 chore(examples): Add 'Sitefinity CMS' Example
  examples/cms-sitefinity/.env.local.example
  examples/cms-sitefinity/.gitignore
  examples/cms-sitefinity/README.md
  examples/cms-sitefinity/components/alert.tsx
  examples/cms-sitefinity/components/avatar.tsx
  examples/cms-sitefinity/components/container.tsx
  examples/cms-sitefinity/components/cover-image.tsx
  examples/cms-sitefinity/components/date-formatter.tsx
  examples/cms-sitefinity/components/footer.tsx
  examples/cms-sitefinity/components/header.tsx
  examples/cms-sitefinity/components/hero-post.tsx
  examples/cms-sitefinity/components/intro.tsx
  examples/cms-sitefinity/components/layout.tsx
  examples/cms-sitefinity/components/markdown-styles.module.css
  examples/cms-sitefinity/components/meta.tsx
  examples/cms-sitefinity/components/more-stories.tsx
  examples/cms-sitefinity/components/post-body.tsx
  examples/cms-sitefinity/components/post-header.tsx
  examples/cms-sitefinity/components/post-preview.tsx
  examples/cms-sitefinity/components/post-title.tsx
  examples/cms-sitefinity/components/section-separator.tsx
  examples/cms-sitefinity/interfaces/author.ts
  examples/cms-sitefinity/interfaces/post.ts
  examples/cms-sitefinity/lib/api.ts
  examples/cms-sitefinity/lib/constants.ts
  examples/cms-sitefinity/package.json
  examples/cms-sitefinity/pages/_app.tsx
  examples/cms-sitefinity/pages/index.tsx
  examples/cms-sitefinity/pages/posts/[...slug].tsx
  examples/cms-sitefinity/postcss.config.js
  examples/cms-sitefinity/public/favicon/android-chrome-192x192.png
  examples/cms-sitefinity/public/favicon/android-chrome-512x512.png
  examples/cms-sitefinity/public/favicon/apple-touch-icon.png
  examples/cms-sitefinity/public/favicon/browserconfig.xml
  examples/cms-sitefinity/public/favicon/favicon-16x16.png
  examples/cms-sitefinity/public/favicon/favicon-32x32.png
  examples/cms-sitefinity/public/favicon/favicon.ico
  examples/cms-sitefinity/public/favicon/mstile-150x150.png
  examples/cms-sitefinity/public/favicon/safari-pinned-tab.svg
  examples/cms-sitefinity/public/favicon/site.webmanifest
  examples/cms-sitefinity/sitefinity/SitefinityExport.zip
  examples/cms-sitefinity/styles/index.css
  examples/cms-sitefinity/tailwind.config.js
  examples/cms-sitefinity/tsconfig.json
Labels: area: examples

#41085 chore(examples): update `with-linaria`
  examples/cms-sitefinity/next-env.d.ts
  examples/with-linaria/.babelrc
  examples/with-linaria/package.json
  examples/with-linaria/pages/index.ts
  examples/with-linaria/tsconfig.json
Labels: area: examples

#41089 class component -> functional component
  errors/no-title-in-document-head.md
Labels: area: documentation

#41091 chore(examples): address remaining review in dotCMS example
  examples/cms-dotcms/.eslintrc.json
  examples/cms-dotcms/.gitignore
  examples/cms-dotcms/next-env.d.ts
  examples/cms-dotcms/package.json
Labels: area: examples

#41096 Docs: Fix misleading `console.log` output example
  docs/api-reference/edge-runtime.md
Labels: area: documentation

#41100 Lock experimental react version in tests
  examples/cms-dotcms/.env.local.example
  test/e2e/app-dir/app-alias.test.ts
  test/e2e/app-dir/app-edge.test.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/asset-prefix.test.ts
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/mpa-navigation.test.ts
  test/e2e/app-dir/next-font.test.ts
  test/e2e/app-dir/prefetching.test.ts
  test/e2e/app-dir/rendering.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/trailingslash.test.ts
  test/e2e/app-dir/vercel-analytics.test.ts
  test/e2e/app-dir/with-babel.test.ts
  test/e2e/switchable-runtime/index.test.ts
Labels: area: examples, created-by: Next.js team

#41086 Temporarily disable prefetch in new router
  packages/next/client/components/app-router.client.tsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41099 Add conflicting app and page error
  packages/next/build/index.ts
  test/integration/conflicting-app-page-error/app/another/page.js
  test/integration/conflicting-app-page-error/app/hello/page.js
  test/integration/conflicting-app-page-error/app/non-conflict/page.js
  test/integration/conflicting-app-page-error/next.config.js
  test/integration/conflicting-app-page-error/pages/another.js
  test/integration/conflicting-app-page-error/pages/hello.js
  test/integration/conflicting-app-page-error/test/index.test.js
Labels: type: next, created-by: Next.js team

#41109 chore(server): improve dev logs formatting
  packages/next/server/dev/next-dev-server.ts
Labels: type: next

#41112 Fix PR stats from experimental react
  test/.stats-app/package.json
Labels: created-by: Next.js team

#41073 rename flush effects to server inserted html
  packages/next/build/webpack-config.ts
  packages/next/client/components/hooks-client.ts
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/flush-effects.tsx
  packages/next/shared/lib/server-inserted-html.tsx
  test/e2e/app-dir/rsc-basic/app/root-style-registry.js
Labels: type: next, created-by: Next.js team

#41123 Align pnpm version
  .github/actions/next-stats-action/Dockerfile
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  azure-pipelines.yml
  package.json
Labels: created-by: Next.js team

#41120 Check required root layout tags
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  test/e2e/app-dir/app-alias/app/layout.tsx
  test/e2e/app-dir/root-layout.test.ts
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/(route-group)/(nested-route-group)/nested-route-group/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/(route-group)/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/(route-group)/route-group/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/basic-route/inner/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/basic-route/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/basic-route/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/dynamic/first/[param]/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/dynamic/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/dynamic/second/[param]/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/to-pages-dir/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/to-pages-dir/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/with-parallel-routes/@one/inner/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/with-parallel-routes/@one/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/with-parallel-routes/@two/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/with-parallel-routes/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/has-tags/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/has-tags/page.js
  test/e2e/app-dir/root-layout/app/(required-tags)/missing-tags/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/missing-tags/page.js
  test/e2e/app-dir/root-layout/next.config.js
Labels: type: next

#40879 Lint files with `mjs`, `mts`, `cjs` and `cts` extension by default
  packages/eslint-config-next/index.js
  packages/next/cli/next-lint.ts
  test/integration/eslint/mjs-cjs-linting/.eslintrc.json
  test/integration/eslint/mjs-cjs-linting/pages/bar.mjs
  test/integration/eslint/mjs-cjs-linting/pages/index.cjs
  test/integration/eslint/test/index.test.js
Labels: type: next

#41136 Improve error messages of server compilation
  packages/next/build/webpack/plugins/wellknown-errors-plugin/index.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseRSC.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
Labels: type: next, created-by: Next.js team

#41139 Fix edge function req.url handling with rewrite
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/server/next-server.ts
  packages/next/server/web-server.ts
  test/e2e/edge-render-getserversideprops/app/next.config.js
  test/e2e/edge-render-getserversideprops/app/pages/[id].js
  test/e2e/edge-render-getserversideprops/app/pages/index.js
  test/e2e/edge-render-getserversideprops/index.test.ts
Labels: type: next, created-by: Next.js team

#41140 Ensure entry tracing applies for app correctly
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/e2e/app-dir/app/app/dashboard/deployments/[id]/data.json
  test/e2e/app-dir/app/app/dashboard/deployments/[id]/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41143 Update Convex example for v0.2.0
  examples/convex/convex/_generated/dataModel.d.ts
  examples/convex/convex/_generated/dataModel.js
  examples/convex/convex/_generated/react.d.ts
  examples/convex/convex/_generated/react.js
  examples/convex/convex/_generated/server.d.ts
  examples/convex/convex/_generated/server.js
  examples/convex/convex/getCounter.ts
  examples/convex/convex/incrementCounter.ts
Labels: area: examples

#39368 add attribution to web vitals
  docs/advanced-features/measuring-performance.md
  packages/next/build/webpack-config.ts
  packages/next/client/index.tsx
  packages/next/client/performance-relayer.ts
  packages/next/compiled/web-vitals-attribution/LICENSE
  packages/next/compiled/web-vitals-attribution/package.json
  packages/next/compiled/web-vitals-attribution/web-vitals.attribution.js
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/shared/lib/utils.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  test/integration/relay-analytics/next.config.js
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/test/index.test.js
Labels: area: documentation, type: next, created-by: Chrome Aurora

#41147 Add note to incremental migration about dynamic routes + fallbacks
  docs/migrating/incremental-adoption.md
Labels: area: documentation, created-by: Next.js team

#41150 Update minimum required Node.js version to v14
  package.json
  packages/create-next-app/package.json
  packages/next/package.json
Labels: type: next, area: create-next-app, created-by: Next.js team

#41156 Handle hmr for edge ssr in app dir
  packages/next/server/dev/hot-reloader.ts
  test/e2e/app-dir/app-edge.test.ts
  test/e2e/app-dir/app-edge/app/app-edge/layout.tsx
Labels: type: next, created-by: Next.js team

#41153 chore: Update swc_core to `v0.28.20`
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#41160 Remove unnecessary `moduleId` option
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#41142 Apply experimental configs for middleware
  packages/next/build/webpack-config.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/server/base-server.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
  packages/next/server/request-meta.ts
  packages/next/server/web/adapter.ts
  test/e2e/skip-trailing-slash-redirect/app/middleware.js
  test/e2e/skip-trailing-slash-redirect/app/pages/another.js
  test/e2e/skip-trailing-slash-redirect/app/pages/api/test-cookie-edge.js
  test/e2e/skip-trailing-slash-redirect/app/pages/api/test-cookie.js
  test/e2e/skip-trailing-slash-redirect/app/pages/blog/[slug].js
  test/e2e/skip-trailing-slash-redirect/app/pages/index.js
  test/e2e/skip-trailing-slash-redirect/index.test.ts
Labels: type: next, created-by: Next.js team

#41162 Add more test job timeouts
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#41163 Fix reading edge info for app paths
  packages/next/build/index.ts
  test/e2e/app-dir/app/app/(rootonly)/dashboard/hello/page.js
Labels: type: next, created-by: Next.js team

#41165 Fix warning messages for next export
  packages/next/server/render.tsx
Labels: type: next

#41166 Refactor app dir related flags
  packages/next-plugin-storybook/preset.js
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/jest/jest.ts
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/build/webpack/config/blocks/css/loaders/font-loader.ts
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/cli/next-lint.ts
  packages/next/export/index.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/find-pages-dir.ts
  packages/next/lib/verifyAndLint.ts
  packages/next/server/base-server.ts
  packages/next/server/config-schema.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/web-server.ts
Labels: type: next, created-by: Next.js team

#41119 Fix prefetch for new router
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/app/nested-navigation/CategoryNav.js
  test/e2e/app-dir/app/app/nested-navigation/TabNavItem.js
  test/e2e/app-dir/app/app/nested-navigation/[categorySlug]/SubCategoryNav.js
  test/e2e/app-dir/app/app/nested-navigation/[categorySlug]/[subCategorySlug]/page.js
  test/e2e/app-dir/app/app/nested-navigation/[categorySlug]/layout.js
  test/e2e/app-dir/app/app/nested-navigation/[categorySlug]/page.js
  test/e2e/app-dir/app/app/nested-navigation/getCategories.js
  test/e2e/app-dir/app/app/nested-navigation/layout.js
  test/e2e/app-dir/app/app/nested-navigation/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41159 chore(examples): add webiny cms example
  examples/cms-webiny/.env.local.example
  examples/cms-webiny/.gitignore
  examples/cms-webiny/README.md
  examples/cms-webiny/components/alert.tsx
  examples/cms-webiny/components/avatar.tsx
  examples/cms-webiny/components/container.tsx
  examples/cms-webiny/components/cover-image.tsx
  examples/cms-webiny/components/date-formatter.tsx
  examples/cms-webiny/components/footer.tsx
  examples/cms-webiny/components/header.tsx
  examples/cms-webiny/components/hero-post.tsx
  examples/cms-webiny/components/intro.tsx
  examples/cms-webiny/components/layout.tsx
  examples/cms-webiny/components/markdown-styles.module.css
  examples/cms-webiny/components/meta.tsx
  examples/cms-webiny/components/more-stories.tsx
  examples/cms-webiny/components/post-body.tsx
  examples/cms-webiny/components/post-header.tsx
  examples/cms-webiny/components/post-preview.tsx
  examples/cms-webiny/components/post-title.tsx
  examples/cms-webiny/components/section-separator.tsx
  examples/cms-webiny/lib/api.ts
  examples/cms-webiny/lib/constants.ts
  examples/cms-webiny/lib/rich-text-renderer.tsx
  examples/cms-webiny/next.config.js
  examples/cms-webiny/package.json
  examples/cms-webiny/pages/_app.tsx
  examples/cms-webiny/pages/api/exit-preview.ts
  examples/cms-webiny/pages/api/preview.ts
  examples/cms-webiny/pages/index.tsx
  examples/cms-webiny/pages/posts/[slug].tsx
  examples/cms-webiny/postcss.config.js
  examples/cms-webiny/public/favicons/android-chrome-192x192.png
  examples/cms-webiny/public/favicons/android-chrome-512x512.png
  examples/cms-webiny/public/favicons/apple-touch-icon.png
  examples/cms-webiny/public/favicons/browserconfig.xml
  examples/cms-webiny/public/favicons/favicon-16x16.png
  examples/cms-webiny/public/favicons/favicon-32x32.png
  examples/cms-webiny/public/favicons/favicon.ico
  examples/cms-webiny/public/favicons/mstile-150x150.png
  examples/cms-webiny/public/favicons/safari-pinned-tab.svg
  examples/cms-webiny/public/favicons/site.webmanifest
  examples/cms-webiny/styles/globals.css
  examples/cms-webiny/tailwind.config.js
  examples/cms-webiny/tsconfig.json
Labels: area: examples

#41169 chore(examples): add Radix UI example
  examples/radix-ui/.gitignore
  examples/radix-ui/README.md
  examples/radix-ui/package.json
  examples/radix-ui/pages/_app.tsx
  examples/radix-ui/pages/index.tsx
  examples/radix-ui/postcss.config.js
  examples/radix-ui/styles/globals.css
  examples/radix-ui/tailwind.config.js
  examples/radix-ui/tsconfig.json
Labels: area: examples

#41040 Disable built-in css-in-js transform on server layer
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/tests/full.rs
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-schema.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/app/css-in-js/page.js
  test/e2e/app-dir/rsc-basic/app/external-imports/client/page.js
  test/e2e/app-dir/rsc-basic/app/external-imports/server/page.js
  test/e2e/app-dir/rsc-basic/app/page.js
Labels: type: next, created-by: Next.js team

#41133 docs(image): improve error message when `sharp` is missing in standalone mode
  docs/advanced-features/output-file-tracing.md
  errors/sharp-missing-in-production.md
  packages/next/server/image-optimizer.ts
Labels: area: documentation, type: next

#41192 Updating to latest version of Clerk
  examples/with-clerk/.env.local.example
  examples/with-clerk/middleware.js
  examples/with-clerk/package.json
  examples/with-clerk/pages/api/getAuthenticatedUserId.js
  examples/with-clerk/pages/index.js
Labels: area: examples

#41200 Fix latest experimental react and experimental-edge and unpin test versions
  packages/next/build/webpack-config.ts
  test/e2e/app-dir/app-alias.test.ts
  test/e2e/app-dir/app-edge.test.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/asset-prefix.test.ts
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/next-font.test.ts
  test/e2e/app-dir/prefetching.test.ts
  test/e2e/app-dir/rendering.test.ts
  test/e2e/app-dir/root-layout.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/trailingslash.test.ts
  test/e2e/app-dir/vercel-analytics.test.ts
  test/e2e/app-dir/with-babel.test.ts
  test/e2e/switchable-runtime/index.test.ts
Labels: type: next

#41151 Font loader with babel error
  errors/babel-font-loader-conflict.md
  errors/manifest.json
  packages/next/build/webpack-config.ts
  test/e2e/next-font/babel.test.ts
  test/e2e/next-font/babel/.babelrc
  test/e2e/next-font/babel/next.config.js
  test/e2e/next-font/babel/pages/index.js
  test/e2e/next-font/font-loader-in-document-error.test.ts
  test/e2e/next-font/font-loader-in-document/next.config.js
  test/e2e/next-font/font-loader-in-document/pages/_document.js
  test/e2e/next-font/font-loader-in-document/pages/index.js
Labels: area: documentation, type: next

#41203 Remove hook_optimizer transform
  packages/next-swc/crates/core/src/hook_optimizer.rs
  packages/next-swc/crates/core/src/lib.rs
  test/unit/next-swc.test.ts
Labels: type: next

#41205 Fix error 500
  examples/with-deta-base/pages/api/todos/index.js
Labels: area: examples

#41222 Upgrade React experimental
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#41223 Fix docs for next/image unconfigured hosts
  errors/next-image-unconfigured-host.md
Labels: area: documentation, created-by: Next.js team

#41227 Do not bundle `react-dom` in the SSR build
  package.json
  packages/next/build/webpack-config.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#41102 Add response stream errorhandling in edge-function-runtime
  packages/next/server/body-streams.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  test/integration/edge-runtime-streaming-error/pages/api/test.js
  test/integration/edge-runtime-streaming-error/test/index.test.ts
Labels: type: next

#41158 App font file preload
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/font-loader-manifest-plugin.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/next-font.test.ts
  test/e2e/app-dir/next-font/app/Comp.js
  test/e2e/app-dir/next-font/app/client/Comp.js
  test/e2e/app-dir/next-font/app/client/layout.js
  test/e2e/app-dir/next-font/app/client/page.js
  test/e2e/app-dir/next-font/app/layout.js
  test/e2e/app-dir/next-font/app/page.js
  test/e2e/app-dir/next-font/fonts/font1.js
  test/e2e/app-dir/next-font/fonts/font2.js
  test/e2e/app-dir/next-font/fonts/font3.js
  test/e2e/app-dir/next-font/fonts/font4.js
  test/e2e/app-dir/next-font/fonts/font5.js
  test/e2e/app-dir/next-font/fonts/font6.js
  test/e2e/app-dir/next-font/fonts/fonts.js
Labels: type: next

#41172 Fix app static generation cases
  packages/next/client/components/reducer.ts
  packages/next/export/worker.ts
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/render-result.ts
  packages/next/server/send-payload/index.ts
  packages/next/server/web-server.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/app-static/app/blog/[author]/page.js
  test/e2e/app-dir/app-static/app/dynamic-no-gen-params-ssr/[slug]/page.js
  test/e2e/app-dir/app-static/app/dynamic-no-gen-params/[slug]/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/(route-group)/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/basic-route/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/dynamic/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/to-pages-dir/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/with-parallel-routes/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/has-tags/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/missing-tags/layout.js
Labels: type: next, created-by: Next.js team

#41226 Update introduction.md
  docs/api-reference/next.config.js/introduction.md
Labels: area: documentation

#41233 Enabel appDir when flag and dir existed at the same time
  packages/next-plugin-storybook/preset.js
  packages/next/build/index.ts
  packages/next/build/jest/jest.ts
  packages/next/build/webpack-config.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  test/e2e/streaming-ssr/index.test.ts
Labels: type: next, created-by: Next.js team

#41241 Enable passing tests
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#41231 refactor dev overlay into hot reloader
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/hot-reloader.tsx
  packages/next/server/app-render.tsx
  packages/next/taskfile.js
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/helpers/getRawSourceMap.ts
  packages/react-dev-overlay/src/middleware.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#41249 fix(middleware): 'instanceof Function' is dynamic code false-positive
  errors/edge-dynamic-code-evaluation.md
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/integration/edge-runtime-configurable-guards/test/index.test.js
Labels: area: documentation, type: next

#41252 Skip serverless/serverless-trace target tests
  test/integration/404-page-custom-error/test/index.test.js
  test/integration/404-page-ssg/test/index.test.js
  test/integration/404-page/test/index.test.js
  test/integration/500-page/test/index.test.js
  test/integration/amphtml-ssg/test/index.test.js
  test/integration/api-catch-all/test/index.test.js
  test/integration/api-support/test/index.test.js
  test/integration/app-tree/test/index.test.js
  test/integration/async-modules/test/index.test.js
  test/integration/auto-export-error-bail/test/index.test.js
  test/integration/auto-export-query-error/test/index.test.js
  test/integration/auto-export-serverless-error/test/index.test.js
  test/integration/auto-export-serverless/test/index.test.js
  test/integration/basepath-root-catch-all/test/index.test.js
  test/integration/bigint/test/index.test.js
  test/integration/clean-distdir/test/index.test.js
  test/integration/critical-css/test/index.test.js
  test/integration/custom-error/test/index.test.js
  test/integration/custom-page-extension/test/index.test.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-optional-routing-root-fallback/test/index.test.js
  test/integration/dynamic-optional-routing-root-static-paths/test/index.test.js
  test/integration/dynamic-optional-routing/test/index.test.js
  test/integration/env-config/test/index.test.js
  test/integration/fallback-route-params/test/index.test.js
  test/integration/fetch-polyfill-ky-universal/test/index.test.js
  test/integration/fetch-polyfill/test/index.test.js
  test/integration/font-optimization/test/index.test.js
  test/integration/getinitialprops/test/index.test.js
  test/integration/getserversideprops-export-error/test/index.test.js
  test/integration/getserversideprops-preview/test/index.test.js
  test/integration/gssp-pageProps-merge/test/index.test.js
  test/integration/gssp-redirect-base-path/test/index.test.js
  test/integration/gssp-redirect/test/index.test.js
  test/integration/handle-non-page-in-pages/test/index.test.js
  test/integration/i18n-support-base-path/test/index.test.js
  test/integration/i18n-support-catchall/test/index.test.js
  test/integration/i18n-support/test/index.test.js
  test/integration/image-component/base-path/test/index.test.ts
  test/integration/image-component/default/test/index.test.ts
  test/integration/index-index/test/index.test.js
  test/integration/legacy-ssg-methods-error/test/index.test.js
  test/integration/optional-chaining-nullish-coalescing/test/index.test.js
  test/integration/prerender-no-revalidate/test/index.test.js
  test/integration/prerender-preview/test/index.test.js
  test/integration/preview-fallback/test/index.test.js
  test/integration/production-browser-sourcemaps/test/index.test.js
  test/integration/revalidate-as-path/test/index.test.js
  test/integration/root-optional-revalidate/test/index.test.js
  test/integration/server-asset-modules/test/index.test.js
  test/integration/serverless-runtime-configs/test/index.test.js
  test/integration/serverless-trace-revalidate/test/index.test.js
  test/integration/serverless-trace/test/index.test.js
  test/integration/serverless/test/index.test.js
  test/integration/src-dir-support-double-dir/test/index.test.js
  test/integration/ssg-dynamic-routes-404-page/test/index.test.js
  test/integration/static-page-name/test/index.test.js
  test/production/middleware-is-not-allowed-when-using-serverless-target/index.test.ts
Labels: created-by: Next.js team

#41240 Snyk upgrade 27010339d65c4a43f7b564bbebecab85
  examples/cms-tina/package.json
Labels: area: examples, type: next

#41264 fix(ts): relax `AppProps` to not require generic
  packages/next/pages/_app.tsx
Labels: type: next

#41251 Recover from font loader error in dev
  packages/next/build/webpack/plugins/font-loader-manifest-plugin.ts
  test/e2e/app-dir/next-font.test.ts
  test/e2e/app-dir/next-font/app/page.js
  test/e2e/next-font/font-loader-in-document-error.test.ts
Labels: type: next

#41285 Handle `as` on next/link with new router
  packages/next/client/link.tsx
  test/e2e/app-dir/app/app/dashboard/deployments/info/[id]/page.js
  test/e2e/app-dir/app/app/link-with-as/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41289 Add test for link to catchall route in new router
  test/e2e/app-dir/app/app/catch-all-link/page.js
  test/e2e/app-dir/app/app/catch-all-optional/[[...slug]]/page.js
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#41164 Load `beforeInteractive` scripts properly without blocking hydration
  packages/next/client/app-bootstrap.js
  packages/next/client/app-index.tsx
  packages/next/client/app-next-dev.js
  packages/next/client/app-next.js
  packages/next/client/script.tsx
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  packages/next/shared/lib/head-manager-context.ts
  test/e2e/app-dir/app/app/script/client.js
  test/e2e/app-dir/app/app/script/page.js
  test/e2e/app-dir/app/public/test1.js
  test/e2e/app-dir/app/public/test2.js
  test/e2e/app-dir/app/public/test3.js
  test/e2e/app-dir/app/public/test4.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team

#41291 Add --frozen-lockfile in Docker example when using pnpm
  examples/with-docker/Dockerfile
Labels: area: examples

#41297 Add test for link back to original page
  packages/next/client/components/reducer.ts
  test/e2e/app-dir/app/app/linking/about/page.js
  test/e2e/app-dir/app/app/linking/layout.js
  test/e2e/app-dir/app/app/linking/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41180 Local font files adjust fallbacks
  packages/font/fontkit.js
  packages/font/package.json
  packages/font/src/google/loader.ts
  packages/font/src/local/index.ts
  packages/font/src/local/loader.ts
  packages/font/src/local/utils.ts
  packages/next/server/font-utils.ts
  pnpm-lock.yaml
  test/e2e/next-font/app/fonts/my-font.woff2
  test/e2e/next-font/app/fonts/my-other-font.woff
  test/e2e/next-font/app/fonts/my-other-font.woff2
  test/e2e/next-font/app/pages/with-google-fonts.js
  test/e2e/next-font/app/pages/with-local-fonts.js
  test/e2e/next-font/google-font-mocked-responses.js
  test/e2e/next-font/index.test.ts
  test/unit/google-font-loader.test.ts
  test/unit/local-font-loader.test.ts
Labels: type: next

#41243 Update middleware query hydration handling
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/web/adapter.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
  test/e2e/skip-trailing-slash-redirect/app/middleware.js
  test/e2e/skip-trailing-slash-redirect/app/next.config.js
  test/e2e/skip-trailing-slash-redirect/index.test.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/middleware-prefetch/tests/index.test.js
Labels: type: next, created-by: Next.js team

#41311 Fix NextUrl trailing slash normalize for data route
  packages/next/shared/lib/router/utils/format-next-pathname-info.ts
  test/unit/web-runtime/next-url.test.ts
Labels: type: next, created-by: Next.js team

#41312 Update security-headers doc
  docs/advanced-features/security-headers.md
Labels: area: documentation

#41305 Global layouts error boundary
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/error-boundary.tsx
  packages/next/client/components/layout-router.client.tsx
  test/e2e/app-dir/app/app/error/client-component/error.js
  test/e2e/app-dir/app/app/error/client-component/page.js
  test/e2e/app-dir/app/app/error/global-error-boundary/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41326 Remove references to `withSentry` function in `with-sentry` example
  examples/with-sentry/README.md
  examples/with-sentry/pages/api/test1.js
  examples/with-sentry/pages/api/test2.js
  examples/with-sentry/pages/api/test3.js
  examples/with-sentry/pages/api/test4.js
Labels: area: examples

#41268 fix(standalone): support `type: "module"`
  packages/next/build/utils.ts
  test/production/pnpm-support/index.test.ts
  test/production/standalone-mode/optimizecss/index.test.ts
  test/production/standalone-mode/required-server-files/.env
  test/production/standalone-mode/required-server-files/.env.local
  test/production/standalone-mode/required-server-files/.env.production
  test/production/standalone-mode/required-server-files/data.txt
  test/production/standalone-mode/required-server-files/lib/config.js
  test/production/standalone-mode/required-server-files/middleware.js
  test/production/standalone-mode/required-server-files/pages/[slug]/index.js
  test/production/standalone-mode/required-server-files/pages/[slug]/social/[[...rest]].js
  test/production/standalone-mode/required-server-files/pages/_app.js
  test/production/standalone-mode/required-server-files/pages/api/env.js
  test/production/standalone-mode/required-server-files/pages/api/error.js
  test/production/standalone-mode/required-server-files/pages/api/optional/[[...rest]].js
  test/production/standalone-mode/required-server-files/pages/auto-static.js
  test/production/standalone-mode/required-server-files/pages/catch-all/[[...rest]].js
  test/production/standalone-mode/required-server-files/pages/dynamic/[slug].js
  test/production/standalone-mode/required-server-files/pages/errors/gip.js
  test/production/standalone-mode/required-server-files/pages/errors/gsp/[post].js
  test/production/standalone-mode/required-server-files/pages/errors/gssp.js
  test/production/standalone-mode/required-server-files/pages/fallback-false/[slug].js
  test/production/standalone-mode/required-server-files/pages/fallback/[slug].js
  test/production/standalone-mode/required-server-files/pages/gsp-long-revalidate.js
  test/production/standalone-mode/required-server-files/pages/gsp.js
  test/production/standalone-mode/required-server-files/pages/gssp.js
  test/production/standalone-mode/required-server-files/pages/index.js
  test/production/standalone-mode/required-server-files/pages/optional-ssg/[[...rest]].js
  test/production/standalone-mode/required-server-files/pages/optional-ssp/[[...rest]].js
  test/production/standalone-mode/required-server-files/pages/route-resolving/[slug]/[project].js
  test/production/standalone-mode/required-server-files/pages/route-resolving/import/[slug].js
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
  test/production/standalone-mode/response-cache/app/next.config.js
  test/production/standalone-mode/response-cache/app/pages/blog/[slug].js
  test/production/standalone-mode/response-cache/app/pages/index.js
  test/production/standalone-mode/response-cache/app/pages/news.js
  test/production/standalone-mode/response-cache/index.test.ts
  test/production/standalone-mode/type-module/index.test.ts
Labels: type: next

#41322 perf: lazyload the edge runtime in NextServer
  packages/next/server/next-server.ts
Labels: type: next

#41304 chore: Update swc_core to `v0.32.8`
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/emotion/tests/fixture.rs
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/modularize_imports/tests/fixture.rs
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_components/tests/fixture.rs
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/tests/fixture.rs
  packages/next-swc/crates/styled_jsx/tests/fixture/css-selector-after-pseudo/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/too-many/output.js
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#41341 Fix middleware rewrite for _next/data
  packages/next/server/next-server.ts
  packages/next/server/request-meta.ts
  packages/next/server/router.ts
  test/e2e/middleware-rewrites/app/middleware.js
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: type: next, created-by: Next.js team

#41004 Add codemods for `next/image`
  docs/advanced-features/codemods.md
  docs/upgrading.md
  packages/next-codemod/transforms/__testfixtures__/next-image-experimental/general.input.js
  packages/next-codemod/transforms/__testfixtures__/next-image-experimental/general.output.js
  packages/next-codemod/transforms/__testfixtures__/next-image-to-legacy-image/dynamic.input.js
  packages/next-codemod/transforms/__testfixtures__/next-image-to-legacy-image/dynamic.output.js
  packages/next-codemod/transforms/__testfixtures__/next-image-to-legacy-image/general.input.js
  packages/next-codemod/transforms/__testfixtures__/next-image-to-legacy-image/general.output.js
  packages/next-codemod/transforms/__tests__/next-image-experimental.test.js
  packages/next-codemod/transforms/__tests__/next-image-to-legacy-image.test.js
  packages/next-codemod/transforms/next-image-experimental.ts
  packages/next-codemod/transforms/next-image-to-legacy-image.ts
Labels: area: documentation, type: next, created-by: Next.js team

#41342 Fix middleware URL normalize case
  packages/next/server/next-server.ts
  packages/next/server/web/next-url.ts
  test/e2e/middleware-rewrites/app/middleware.js
  test/e2e/middleware-rewrites/test/index.test.ts
  test/e2e/skip-trailing-slash-redirect/app/middleware.js
  test/e2e/skip-trailing-slash-redirect/index.test.ts
Labels: type: next, created-by: Next.js team

#41345 Update `next/image` codemod to handle `require()`
  packages/next-codemod/transforms/__testfixtures__/next-image-experimental/require.input.js
  packages/next-codemod/transforms/__testfixtures__/next-image-experimental/require.output.js
  packages/next-codemod/transforms/__testfixtures__/next-image-to-legacy-image/require.input.js
  packages/next-codemod/transforms/__testfixtures__/next-image-to-legacy-image/require.output.js
  packages/next-codemod/transforms/next-image-experimental.ts
  packages/next-codemod/transforms/next-image-to-legacy-image.ts
Labels: type: next, created-by: Next.js team

#41229 Support aarch64 Linux with page size >= 16k
  .github/workflows/build_test_deploy.yml
Labels: hacktoberfest-accepted

#41348 Ensure RSC paths are normalized in minimal mode
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/server/base-server.ts
  packages/next/server/web/adapter.ts
  packages/next/shared/lib/router/utils/app-paths.ts
Labels: type: next, created-by: Next.js team

#41343 Refactor error overlay for new router
  packages/next/client/components/app-router.tsx
  packages/next/client/components/react-dev-overlay/client.ts
  packages/next/client/components/react-dev-overlay/hot-reloader.tsx
  packages/next/client/components/react-dev-overlay/internal/ErrorBoundary.tsx
  packages/next/client/components/react-dev-overlay/internal/ReactDevOverlay.tsx
  packages/next/client/components/react-dev-overlay/internal/components/CodeFrame/CodeFrame.tsx
  packages/next/client/components/react-dev-overlay/internal/components/CodeFrame/index.tsx
  packages/next/client/components/react-dev-overlay/internal/components/CodeFrame/styles.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Dialog/Dialog.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Dialog/DialogBody.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Dialog/DialogContent.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Dialog/DialogHeader.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Dialog/index.ts
  packages/next/client/components/react-dev-overlay/internal/components/Dialog/styles.ts
  packages/next/client/components/react-dev-overlay/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/next/client/components/react-dev-overlay/internal/components/LeftRightDialogHeader/index.ts
  packages/next/client/components/react-dev-overlay/internal/components/LeftRightDialogHeader/styles.ts
  packages/next/client/components/react-dev-overlay/internal/components/Overlay/Overlay.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Overlay/body-locker.ts
  packages/next/client/components/react-dev-overlay/internal/components/Overlay/index.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Overlay/maintain--tab-focus.ts
  packages/next/client/components/react-dev-overlay/internal/components/Overlay/styles.tsx
  packages/next/client/components/react-dev-overlay/internal/components/ShadowPortal.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Terminal/Terminal.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Terminal/index.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Terminal/styles.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Toast/Toast.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Toast/index.tsx
  packages/next/client/components/react-dev-overlay/internal/components/Toast/styles.ts
  packages/next/client/components/react-dev-overlay/internal/container/BuildError.tsx
  packages/next/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/client/components/react-dev-overlay/internal/container/RuntimeError.tsx
  packages/next/client/components/react-dev-overlay/internal/error-overlay-reducer.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/getErrorByType.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/getRawSourceMap.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/getSourceMapUrl.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/launchEditor.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/nodeStackFrames.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/noop-template.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/parseStack.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
  packages/next/client/components/react-dev-overlay/internal/hooks/use-on-click-outside.ts
  packages/next/client/components/react-dev-overlay/internal/icons/CloseIcon.tsx
  packages/next/client/components/react-dev-overlay/internal/styles/Base.tsx
  packages/next/client/components/react-dev-overlay/internal/styles/ComponentStyles.tsx
  packages/next/client/components/react-dev-overlay/internal/styles/CssReset.tsx
  packages/next/client/components/react-dev-overlay/src/client.ts
  packages/next/client/components/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/next/client/components/react-dev-overlay/src/internal/bus.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
Labels: type: next, created-by: Next.js team

#41330 inline httpproxy usage
  packages/next/server/next-server.ts
Labels: type: next

#41336 proper error if middleware or api/route not return a Response
  packages/next/server/web/adapter.ts
  test/integration/edge-runtime-response-error/lib.js
  test/integration/edge-runtime-response-error/middleware.js
  test/integration/edge-runtime-response-error/pages/api/route.js
  test/integration/edge-runtime-response-error/pages/index.js
  test/integration/edge-runtime-response-error/test/index.test.js
Labels: type: next

#41357 Fix CSS imports tree-shaking
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41360 Ensure content is kept rendered below the error overlay on build errors in new router
  packages/next/client/components/react-dev-overlay/internal/ErrorBoundary.tsx
  packages/next/client/components/react-dev-overlay/internal/ReactDevOverlay.tsx
  packages/next/client/components/react-dev-overlay/internal/error-overlay-reducer.ts
Labels: type: next, created-by: Next.js team

#41352 refactor(#41164): polyfill-module should block hydration
  packages/next/server/app-render.tsx
  test/e2e/app-dir/index.test.ts
Labels: type: next

#41362 docs: clarify `redirects` on client-side navigation
  docs/api-reference/next.config.js/redirects.md
Labels: area: documentation

#41374 Fix `onLoad` prop in `next/future/image`
  packages/next/client/future/image.tsx
  test/integration/image-future/default/pages/on-load.js
  test/integration/image-future/default/test/index.test.ts
Labels: type: next, created-by: Next.js team

#41375 Update node-module-in-edge-runtime.md
  errors/node-module-in-edge-runtime.md
Labels: area: documentation, created-by: Next.js team

#41368 Add exports for new router
  packages/next/build/webpack-config.ts
  packages/next/client/components/headers.ts
  packages/next/client/components/navigation.ts
  packages/next/client/components/react-dev-overlay/hot-reloader.tsx
  packages/next/headers.d.ts
  packages/next/headers.js
  packages/next/navigation.d.ts
  packages/next/navigation.js
  packages/next/package.json
  test/e2e/app-dir/app-edge/app/app-edge/layout.tsx
  test/e2e/app-dir/app/app/error/ssr-error-client-component/page.js
  test/e2e/app-dir/app/app/hooks/use-cookies/client/page.js
  test/e2e/app-dir/app/app/hooks/use-cookies/page.js
  test/e2e/app-dir/app/app/hooks/use-headers/client/page.js
  test/e2e/app-dir/app/app/hooks/use-headers/page.js
  test/e2e/app-dir/app/app/hooks/use-layout-segments/server/page.js
  test/e2e/app-dir/app/app/hooks/use-params/server/page.js
  test/e2e/app-dir/app/app/hooks/use-pathname/page.js
  test/e2e/app-dir/app/app/hooks/use-pathname/server/page.js
  test/e2e/app-dir/app/app/hooks/use-preview-data/client/page.js
  test/e2e/app-dir/app/app/hooks/use-preview-data/page.js
  test/e2e/app-dir/app/app/hooks/use-router/page.js
  test/e2e/app-dir/app/app/hooks/use-router/server/page.js
  test/e2e/app-dir/app/app/hooks/use-search-params/page.js
  test/e2e/app-dir/app/app/hooks/use-search-params/server/page.js
  test/e2e/app-dir/app/app/hooks/use-selected-layout-segment/server/page.js
  test/e2e/app-dir/app/app/navigation/link.js
  test/e2e/app-dir/app/app/nested-navigation/CategoryNav.js
  test/e2e/app-dir/app/app/nested-navigation/[categorySlug]/SubCategoryNav.js
  test/e2e/app-dir/app/app/not-found/clientcomponent/a.js
  test/e2e/app-dir/app/app/old-router/page.js
  test/e2e/app-dir/app/app/redirect/clientcomponent/page.js
  test/e2e/app-dir/rsc-basic/app/page.js
  test/e2e/app-dir/rsc-basic/app/root-style-registry.js
Labels: type: next, created-by: Next.js team

#41384 App font loader tree shaking
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/next-font.test.ts
  test/e2e/app-dir/next-font/app/Comp.js
  test/e2e/app-dir/next-font/app/client/Comp.js
  test/e2e/app-dir/next-font/app/client/layout.js
  test/e2e/app-dir/next-font/app/client/page.js
  test/e2e/app-dir/next-font/app/layout.js
  test/e2e/app-dir/next-font/app/page.js
  test/e2e/app-dir/next-font/fonts/font1.js
  test/e2e/app-dir/next-font/fonts/font2.js
  test/e2e/app-dir/next-font/fonts/font3.js
  test/e2e/app-dir/next-font/fonts/font4.js
  test/e2e/app-dir/next-font/fonts/font5.js
  test/e2e/app-dir/next-font/fonts/font6.js
  test/e2e/app-dir/next-font/fonts/index.js
Labels: type: next

#41353 perf: lazy eval headers from the requestStore
  packages/next/server/app-render.tsx
Labels: type: next

#41376 Added example with salesforce commerce cloud
  examples/with-sfcc/.env.local.example
  examples/with-sfcc/.gitignore
  examples/with-sfcc/README.md
  examples/with-sfcc/components/Header.js
  examples/with-sfcc/components/ProductCard.js
  examples/with-sfcc/components/layout.js
  examples/with-sfcc/next.config.js
  examples/with-sfcc/package.json
  examples/with-sfcc/pages/_app.js
  examples/with-sfcc/pages/_document.js
  examples/with-sfcc/pages/index.js
  examples/with-sfcc/pages/products/[slug].js
  examples/with-sfcc/postcss.config.js
  examples/with-sfcc/public/favicon.ico
  examples/with-sfcc/public/hero.jpg
  examples/with-sfcc/public/vercel.svg
  examples/with-sfcc/sfcc.js
  examples/with-sfcc/styles/globals.css
  examples/with-sfcc/tailwind.config.js
Labels: area: examples

#41386 Update next pwa version in pwa example
  examples/progressive-web-app/next.config.js
  examples/progressive-web-app/package.json
Labels: area: examples

#41391 docs: note MDX with remark-gfm usage
  docs/advanced-features/using-mdx.md
Labels: area: documentation

#41390 docs: more detailed error message when failing to parse a middleware matcher
  errors/invalid-route-source.md
Labels: area: documentation

#40094 Upgrade next-swc-napi to NAPI-RS v2
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/minify.rs
  packages/next-swc/crates/napi/src/parse.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/napi/src/util.rs
  packages/next-swc/package.json
  packages/next/build/swc/index.d.ts
  packages/next/build/swc/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#41279 Add npm to `create-next-app` environment package manager parser
  packages/create-next-app/helpers/get-pkg-manager.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.ts
Labels: area: create-next-app

#41398 Fix prefetching for static app paths
  packages/next/server/base-server.ts
  test/e2e/app-dir/app-prefetch/app/dashboard/[id]/page.js
  test/e2e/app-dir/app-prefetch/app/dashboard/page.js
  test/e2e/app-dir/app-prefetch/app/layout.js
  test/e2e/app-dir/prefetching.test.ts
Labels: type: next, created-by: Next.js team

#41354 perf: lazy evaluate more modules
  packages/next/server/api-utils/node.ts
  packages/next/server/post-process.ts
Labels: type: next

#41402 Fix edge workers being re-used unexpectedly
  packages/next/server/next-server.ts
  packages/next/server/web/sandbox/context.ts
  test/e2e/app-dir/app/app/slow-page-no-loading/page.js
  test/e2e/app-dir/index.test.ts
  test/e2e/middleware-rewrites/app/pages/fallback-true-blog/[slug].js
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: type: next, created-by: Next.js team

#41413 Remove edge shared deps
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-edge-function-loader.ts
  packages/next/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/lib/constants.ts
Labels: type: next, created-by: Next.js team

#41419 Upgrade React experimental
  package.json
  pnpm-lock.yaml
  test/e2e/app-dir/app/app/not-found/servercomponent/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41418 Update edge runtime to 1.1.0-beta.39
  package.json
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#41428 Update flakey dev AMP tests
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  test/e2e/skip-trailing-slash-redirect/app/next.config.js
  test/integration/amphtml/test/index.test.js
Labels: type: next, created-by: Next.js team

#41429 Add new diagnostics
  packages/next/build/swc/index.js
  packages/next/cli/next-dev.ts
Labels: type: next

#41338 Move root layout validation
  packages/next/client/app-index.tsx
  packages/next/client/components/react-dev-overlay/hot-reloader.tsx
  packages/next/client/components/react-dev-overlay/internal/ReactDevOverlay.tsx
  packages/next/client/components/react-dev-overlay/internal/container/RootLayoutError.tsx
  packages/next/client/components/react-dev-overlay/internal/error-overlay-reducer.ts
  packages/next/client/components/react-dev-overlay/internal/styles/ComponentStyles.tsx
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  test/e2e/app-dir/root-layout.test.ts
  test/e2e/app-dir/root-layout/app/(required-tags)/static-missing-tags/[slug]/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/static-missing-tags/[slug]/page.js
  test/lib/next-test-utils.js
Labels: type: next

#41432 Update bench options in stats-config
  .github/actions/next-stats-action/src/prepare/load-stats-config.js
  .github/actions/next-stats-action/src/run/index.js
  test/.stats-app/pages/image.js
  test/.stats-app/stats-config.js
Labels: created-by: Next.js team

#41424 chore: bump server pre-compiled target to Node.js 14
  packages/next/taskfile-swc.js
Labels: type: next

#41436 Fix middleware dynamic route param on query hydration
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: type: next, created-by: Next.js team

#41401 chore: Update swc_core to `v0.38.4`
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/src/transform_css.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#41438 Don't show error overlay for not found and redirect
  packages/next/client/components/layout-router.tsx
  packages/next/client/components/react-dev-overlay/hot-reloader.tsx
  test/e2e/app-dir/app/app/not-found/clientcomponent/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#40978 Change useSearchParams to URLSearchParams
  packages/next/client/components/app-router.tsx
  packages/next/client/components/hooks-client-context.ts
  packages/next/client/components/navigation.ts
  test/e2e/app-dir/app/app/hooks/use-search-params/page.js
Labels: type: next, created-by: Next.js team

#41443 perf(#41392): improve cache busting inject performance
  packages/next/server/app-render.tsx
Labels: type: next

#41448 Rename reload to refresh in new router
  packages/next/client/components/app-router.tsx
  packages/next/client/components/react-dev-overlay/hot-reloader.tsx
  packages/next/client/components/reducer.ts
  packages/next/shared/lib/app-router-context.ts
  test/e2e/app-dir/app/app/navigation/link.js
Labels: type: next, created-by: Next.js team

#41457 Disable isNavigatingToNewRootLayout
  packages/next/server/app-render.tsx
  test/e2e/app-dir/root-layout.test.ts
Labels: type: next, created-by: Next.js team

#41455 fix(app-render): make css and font respect assetPrefix
  packages/next/server/app-render.tsx
Labels: type: next

#41464 Ignore serverComponentChanges in pages
  packages/next/client/dev/error-overlay/hot-dev-client.js
Labels: type: next, created-by: Next.js team

#41480 Fix typo and add comment to `next/image` SyntheticEvent
  packages/next/client/image.tsx
Labels: type: next, created-by: Next.js team

#41482 Update docs with minimum node version 14.x
  docs/getting-started.md
  docs/upgrading.md
Labels: area: documentation, created-by: Next.js team

#41477 chore: Update swc_core to `v0.38.22`
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#41270 fix(stream): Allows body larger than 16 KiB with middleware
  packages/next/server/body-streams.ts
  test/e2e/middleware-fetches-with-body/index.test.ts
  test/production/reading-request-body-in-middleware/index.test.ts
Labels: type: next

#41458 fix(41456): check src/app folder too in getHasAppDir
  packages/next/lib/find-pages-dir.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  test/e2e/app-dir/app-alias/src/app/button/page.tsx
  test/e2e/app-dir/app-alias/src/app/layout.tsx
Labels: type: next

#41496 chore(examples): fix typo
  examples/with-env-from-next-config-js/next.config.js
Labels: area: examples

#41493 Avoid using the CSS href as the link tag key
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#41481 Fix global css being marked as side effect free
  packages/next/build/webpack/config/blocks/css/index.ts
  test/e2e/app-dir/rsc-external.test.ts
  test/e2e/app-dir/rsc-external/app/css/[...slug]/page.js
  test/e2e/app-dir/rsc-external/node_modules_bak/global-css/index.js
  test/e2e/app-dir/rsc-external/node_modules_bak/global-css/package.json
  test/e2e/app-dir/rsc-external/node_modules_bak/global-css/style.css
Labels: type: next, created-by: Next.js team

#41501 Append the fragment in NextUrl.toString()
  packages/next/server/web/next-url.ts
  test/e2e/middleware-redirects/app/middleware.js
  test/e2e/middleware-redirects/test/index.test.ts
  test/unit/web-runtime/next-url.test.ts
Labels: type: next

#41504 Add `remotePatterns` link to next-image-unconfigured-host
  errors/next-image-unconfigured-host.md
Labels: area: documentation, created-by: Next.js team

#41479 Add vary header to fix incorrectly caching RSC as HTML response
  packages/next/server/base-server.ts
  test/e2e/app-dir/back-button-download-bug.test.ts
  test/e2e/app-dir/back-button-download-bug/app/layout.js
  test/e2e/app-dir/back-button-download-bug/app/page.js
  test/e2e/app-dir/back-button-download-bug/next.config.js
  test/e2e/app-dir/back-button-download-bug/pages/_app.js
  test/e2e/app-dir/back-button-download-bug/pages/_document.js
  test/e2e/app-dir/back-button-download-bug/pages/post/[id]/index.js
Labels: type: next, created-by: Next.js team

#41506 Enable swcMinify by default
  docs/advanced-features/compiler.md
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  test/.stats-app/stats-config.js
Labels: area: documentation, type: next, created-by: Next.js team

#41508 [docs] fix grammatical error #41507
  docs/api-reference/data-fetching/get-static-props.md
Labels: area: documentation

#41505 Move fetch revalidate config under next options
  packages/next/server/app-render.tsx
  packages/next/types/global.d.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/app-static/app/ssr-auto/cache-no-store/loading.js
  test/e2e/app-dir/app-static/app/ssr-auto/cache-no-store/page.js
  test/e2e/app-dir/app-static/app/ssr-auto/fetch-revalidate-zero/loading.js
  test/e2e/app-dir/app-static/app/ssr-auto/fetch-revalidate-zero/page.js
Labels: type: next, created-by: Next.js team

#41510 Fix app sc_client componet HMR server-side
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41491 fix(ts): `Cookies` -> `NextCookies`
  packages/next/client/components/headers.ts
  packages/next/client/components/request-async-storage.ts
Labels: type: next

#41513 Update edge runtime to 1.1.0-beta.40
  package.json
  packages/next/compiled/@edge-runtime/primitives/console.js
  packages/next/compiled/@edge-runtime/primitives/package.json
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, hacktoberfest-accepted

#41539 Fix links to `next/legacy/image` demo
  docs/api-reference/next/legacy/image.md
  docs/basic-features/image-optimization.md
  examples/image-component/README.md
  examples/image-legacy-component/README.md
Labels: area: examples, area: documentation, created-by: Next.js team

#41542 Fix E2E deploy test for API bodies
  test/e2e/middleware-fetches-with-body/index.test.ts
Labels: created-by: Next.js team

#41544 chore: Update swc_core to `v0.39.7`
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#41414 Mark styled-jsx as client-only package
  packages/next/package.json
  pnpm-lock.yaml
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-errors.test.ts
  test/e2e/app-dir/rsc-errors/app/client-with-errors/get-server-side-props/page.js
  test/e2e/app-dir/rsc-errors/app/client-with-errors/get-static-props/page.js
  test/e2e/app-dir/rsc-errors/app/server-with-errors/styled-jsx/page.js
  test/e2e/app-dir/rsc-errors/next.config.js
Labels: type: next, created-by: Next.js team

#41550 chore(examples): upgrade Stripe example
  examples/with-stripe-typescript/components/Cart.tsx
  examples/with-stripe-typescript/components/CartSummary.tsx
  examples/with-stripe-typescript/components/ClearCart.tsx
  examples/with-stripe-typescript/components/Products.tsx
  examples/with-stripe-typescript/package.json
Labels: area: examples

#41553 Fix case where dispatch was missing
  packages/next/client/components/react-dev-overlay/hot-reloader.tsx
Labels: type: next, created-by: Next.js team

#41546 Docs for request headers overrides in middleware
  docs/advanced-features/middleware.md
Labels: area: documentation

#41547 Upgrade react-server-dom-webpack and precompiled assets
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/client/app-index.tsx
  packages/next/client/components/app-router.tsx
  packages/next/compiled/react-dom/LICENSE
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server-rendering-stub.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server.browser.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server.node.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-static.browser.development.js
  packages/next/compiled/react-dom/cjs/react-dom-static.browser.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-static.node.development.js
  packages/next/compiled/react-dom/cjs/react-dom-static.node.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-test-utils.development.js
  packages/next/compiled/react-dom/cjs/react-dom-test-utils.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-unstable_testing.development.js
  packages/next/compiled/react-dom/cjs/react-dom-unstable_testing.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom.development.js
  packages/next/compiled/react-dom/cjs/react-dom.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom.profiling.min.js
  packages/next/compiled/react-dom/package.json
  packages/next/compiled/react-dom/profiling.js
  packages/next/compiled/react-dom/server.node.js
  packages/next/compiled/react-dom/static.browser.js
  packages/next/compiled/react-dom/static.js
  packages/next/compiled/react-dom/static.node.js
  packages/next/compiled/react-dom/test-utils.js
  packages/next/compiled/react-dom/unstable_testing.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/compiled/react-server-dom-webpack/client.js
  packages/next/compiled/react-server-dom-webpack/index.js
  packages/next/compiled/react-server-dom-webpack/server.browser.js
  packages/next/compiled/react/LICENSE
  packages/next/compiled/react/cjs/react-jsx-dev-runtime.development.js
  packages/next/compiled/react/cjs/react-jsx-dev-runtime.production.min.js
  packages/next/compiled/react/cjs/react-jsx-dev-runtime.profiling.min.js
  packages/next/compiled/react/cjs/react-jsx-runtime.development.js
  packages/next/compiled/react/cjs/react-jsx-runtime.production.min.js
  packages/next/compiled/react/cjs/react-jsx-runtime.profiling.min.js
  packages/next/compiled/react/cjs/react.development.js
  packages/next/compiled/react/cjs/react.production.min.js
  packages/next/compiled/react/cjs/react.shared-subset.development.js
  packages/next/compiled/react/cjs/react.shared-subset.production.min.js
  packages/next/compiled/react/package.json
  packages/next/compiled/scheduler/LICENSE
  packages/next/compiled/scheduler/index.js
  packages/next/package.json
  packages/next/server/app-render.tsx
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#41559 Create hash digest for errors in app in production
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/app/error/server-component/custom-digest/page.js
  test/e2e/app-dir/app/app/error/server-component/error.js
  test/e2e/app-dir/app/app/error/server-component/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#41484 fix: allow user directory with `styled-jsx` prefix in `next dev`
  packages/next/build/webpack-config.ts
  test/development/project-directory-with-styled-jsx-suffix/index.test.ts
  test/lib/create-next-install.js
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
Labels: type: next

#41573 Fix `next/image` svg blur placeholder with `fill`
  packages/next/shared/lib/image-blur-svg.ts
  test/integration/image-optimizer/test/util.ts
  test/integration/next-image-new/base-path/test/static.test.js
  test/integration/next-image-new/default/pages/static-img.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/next-image-new/default/test/static.test.ts
Labels: type: next, created-by: Next.js team

#41569 Add TypeScript plugin
  packages/next/lib/typescript/writeConfigurationDefaults.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/next-typescript.ts
  packages/next/server/next.ts
  test/e2e/app-dir/app-typescript/app/inner/page.tsx
  test/e2e/app-dir/app-typescript/app/layout.tsx
  test/e2e/app-dir/app-typescript/package.json
  test/e2e/app-dir/app-typescript/pages/index.tsx
  test/e2e/app-dir/app-typescript/tsconfig.json
Labels: type: next, created-by: Next.js team

#41541 Update RSC detection in minimal mode and fix config collection
  packages/next/build/utils.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/static-paths-worker.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/app-static/app/(new)/custom/page.js
  test/e2e/app-dir/app-static/app/(new)/layout.js
Labels: type: next, created-by: Next.js team

#41575 Add back() and forward() to new router
  packages/next/client/components/app-router.tsx
  packages/next/shared/lib/app-router-context.ts
Labels: type: next, created-by: Next.js team

#41580 Update page config APIs
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/flight-types-plugin.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app-edge/app/app-edge/page.tsx
  test/e2e/app-dir/app-prefetch/app/dashboard/page.js
  test/e2e/app-dir/app-rendering/app/isr-multiple/nested/page.js
  test/e2e/app-dir/app-rendering/app/ssr-only/layout.js
  test/e2e/app-dir/app-rendering/app/static-only/nested/page.js
  test/e2e/app-dir/app-rendering/app/static-only/slow/page.js
  test/e2e/app-dir/app-static/app/(new)/custom/page.js
  test/e2e/app-dir/app-static/app/blog/[author]/[slug]/page.js
  test/e2e/app-dir/app-static/app/blog/[author]/page.js
  test/e2e/app-dir/app-static/app/dynamic-no-gen-params-ssr/[slug]/page.js
  test/e2e/app-dir/app-static/app/ssr-auto/fetch-revalidate-zero/page.js
  test/e2e/app-dir/app-static/app/ssr-forced/page.js
  test/e2e/app-dir/app-typescript/app/layout.tsx
  test/e2e/app-dir/app/app/(rootonly)/dashboard/hello/page.js
  test/e2e/app-dir/app/app/dashboard/page.js
  test/e2e/app-dir/app/app/error/server-component/custom-digest/page.js
  test/e2e/app-dir/app/app/error/server-component/page.js
  test/e2e/app-dir/app/app/layout.js
  test/e2e/app-dir/app/app/slow-page-no-loading/page.js
  test/e2e/app-dir/app/app/slow-page-with-loading/page.js
  test/e2e/app-dir/next-font/app/page.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/(route-group)/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/basic-route/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/dynamic/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/to-pages-dir/layout.js
  test/e2e/app-dir/root-layout/app/(mpa-navigation)/with-parallel-routes/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/has-tags/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/missing-tags/layout.js
  test/e2e/app-dir/root-layout/app/(required-tags)/static-missing-tags/[slug]/page.js
  test/e2e/app-dir/rsc-basic/app/edge/dynamic/[id]/page.js
  test/e2e/app-dir/rsc-basic/app/edge/dynamic/page.js
  test/e2e/app-dir/rsc-basic/app/layout.js
  test/e2e/app-dir/rsc-basic/app/native-module/page.js
Labels: type: next, created-by: Next.js team

#41584 Improve server bundling strategy
  packages/next/build/webpack-config.ts
  packages/next/lib/server-external-packages.ts
Labels: type: next, created-by: Next.js team
