Repository vercel/next.js, pull requests merged in 2022-02, with the labels that each got.

#33825 fix(next/image): render valid html according to W3C
  package.json
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/_document.js
  test/integration/image-component/default/pages/valid-html-w3c.js
  test/integration/image-component/default/test/index.test.js
  yarn.lock
Labels: type: next

#32525 Building web forms with Next.js and Vercel
  docs/guides/building-forms.md
  docs/manifest.json
Labels: area: documentation, created-by: Next.js docs team, docs-edit-freeze

#33760 Add Clarity About Downloading and Self-Hosting a Font File
  docs/basic-features/font-optimization.md
Labels: area: documentation, created-by: Next.js docs team

#33702 Relay Support in Rust Compiler
  docs/advanced-features/compiler.md
  package.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/relay/input.tsx
  packages/next-swc/crates/core/tests/fixture/relay/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
  test/integration/relay-graphql-swc-multi-project/project-a/__generated__/pagesAQuery.graphql.ts
  test/integration/relay-graphql-swc-multi-project/project-a/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-a/pages/api/query.ts
  test/integration/relay-graphql-swc-multi-project/project-a/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/project-a/tsconfig.json
  test/integration/relay-graphql-swc-multi-project/project-b/__generated__/pagesBQuery.graphql.ts
  test/integration/relay-graphql-swc-multi-project/project-b/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-b/pages/api/query.ts
  test/integration/relay-graphql-swc-multi-project/project-b/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/project-b/tsconfig.json
  test/integration/relay-graphql-swc-multi-project/relay.config.js
  test/integration/relay-graphql-swc-multi-project/schema.graphql
  test/integration/relay-graphql-swc-multi-project/test/index.test.js
  test/integration/relay-graphql-swc-single-project/__generated__/pagesQuery.graphql.ts
  test/integration/relay-graphql-swc-single-project/next.config.js
  test/integration/relay-graphql-swc-single-project/pages/api/query.ts
  test/integration/relay-graphql-swc-single-project/pages/index.tsx
  test/integration/relay-graphql-swc-single-project/relay.config.js
  test/integration/relay-graphql-swc-single-project/schema.graphql
  test/integration/relay-graphql-swc-single-project/test/index.test.js
  test/integration/relay-graphql-swc-single-project/tsconfig.json
  yarn.lock
Labels: area: documentation, type: next, created-by: Next.js team

#33857 fix eslint link-passhref rule
  packages/eslint-plugin-next/lib/rules/link-passhref.js
  test/unit/eslint-plugin-next/link-passhref.test.ts
Labels: type: next

#33867 Flush buffered vitals metrics on page mount
  packages/next/client/index.tsx
  packages/next/client/vitals.ts
  test/integration/relay-analytics-disabled/pages/index.js
  test/integration/relay-analytics-disabled/test/index.test.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
Labels: type: next, created-by: Next.js team

#33873 fix problem with HMR when middleware and page reference the same node_module
  packages/next/build/webpack-config.ts
  test/integration/middleware/hmr/node_modules/shared-package/index.js
  test/integration/middleware/hmr/node_modules/shared-package/package.json
  test/integration/middleware/hmr/pages/about/_middleware.js
  test/integration/middleware/hmr/pages/index.js
Labels: type: next, created-by: Next.js team

#33880 Correct pluralization in newly added Relay documentation
  docs/advanced-features/compiler.md
Labels: area: documentation

#33759 Refactor page component getter in web server
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/server/base-server.ts
  packages/next/server/load-components.ts
  packages/next/server/web-server.ts
Labels: type: next, created-by: Next.js team

#33505 update NextResponse default redirect status to 307 to match docs
  packages/next/server/web/spec-compliant/response.ts
  packages/next/server/web/spec-extension/response.ts
Labels: type: next

#33881 Update npm comment in Docker example
  examples/with-docker/Dockerfile
Labels: area: examples, created-by: Next.js team

#33808 Bug fix: dynamic page should not be interpreted as predefined page
  packages/next/server/base-server.ts
  test/e2e/dynamic-route-interpolation/index.test.ts
Labels: type: next

#33878 Group streaming experimental apis
  packages/next/client/index.tsx
  packages/next/client/rsc/index.ts
  packages/next/client/streaming/index.ts
  packages/next/client/streaming/refresh.ts
  packages/next/client/streaming/vitals.ts
  packages/next/package.json
  packages/next/rsc.d.ts
  packages/next/rsc.js
  packages/next/streaming.d.ts
  packages/next/streaming.js
  packages/next/vitals.d.ts
  packages/next/vitals.js
  test/integration/relay-analytics-disabled/pages/index.js
  test/integration/relay-analytics/pages/index.js
Labels: type: next, created-by: Next.js team

#33875 Encapsulate routing and initial hydration
  packages/next/client/dev/fouc.js
  packages/next/client/dev/fouc.ts
  packages/next/client/index.tsx
  packages/next/client/next-dev.js
Labels: type: next, created-by: Chrome Aurora

#33916 Update MDX document
  docs/advanced-features/using-mdx.md
Labels: area: documentation

#33238 Optimize offline condition judgment
  packages/create-next-app/helpers/install.ts
  packages/next-codemod/lib/install.ts
  packages/next/lib/helpers/install.ts
Labels: type: next, area: create-next-app

#33909 Update info on how to process webhooks by disabling bodyParser
  docs/api-routes/api-middlewares.md
Labels: area: documentation, created-by: Next.js docs team

#33888 Ensure external beforeFiles rewrites are handled with next/link
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/nav.js
  test/integration/custom-routes/pages/overridden.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#33896 Fix parsing params for i18n optional route in minimal mode
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files/pages/[slug]/index.js
  test/production/required-server-files/pages/[slug]/social/[[...rest]].js
Labels: type: next, created-by: Next.js team

#33890 Ensure browserslist extends works properly
  packages/next/compiled/browserslist/index.js
  packages/next/taskfile.js
  test/e2e/browserslist-extends/index.test.ts
Labels: type: next, created-by: Next.js team

#33883 Fix image cache race condition
  packages/next/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#33918 Add support for Relay projects without `artifactDirectory`
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/tests/fixture.rs
  test/integration/relay-graphql-swc-single-project/pages/index.tsx
  test/integration/relay-graphql-swc-single-project/queries/__generated__/pagesQuery.graphql.ts
  test/integration/relay-graphql-swc-single-project/queries/pagesQuery.js
  test/integration/relay-graphql-swc-single-project/relay.config.js
Labels: type: next

#32421 fix: handle jsxspreadattribute in inline-script-id eslint rule
  packages/eslint-plugin-next/lib/rules/inline-script-id.js
  test/unit/eslint-plugin-next/inline-script-id.test.ts
Labels: type: next

#33934 Update deployment docs to fix oversized image.
  docs/deployment.md
Labels: area: documentation, created-by: Next.js team

#33611 docs: recommend `.end` instead of `.send` when no body is being sent
  errors/invalid-api-status-body.md
Labels: area: documentation

#33724 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next/build/swc/options.js
Labels: type: next, created-by: Next.js team

#33814 Update custom document docs to prepare for React 18.
  docs/advanced-features/custom-document.md
Labels: area: documentation, created-by: Next.js team

#33957 Fix flakey image-optimizer test
  test/integration/image-optimizer/app/public/png-as-octet-stream
  test/integration/image-optimizer/test/index.test.js
Labels: created-by: Next.js team

#33958 Update Contentful example to add validations to solve graphql complexity errors.
  examples/cms-contentful/contentful/export.json
Labels: area: examples

#33963 Fix typo in new experimental Relay support docs
  docs/advanced-features/compiler.md
Labels: area: documentation

#33580 Update all CMS examples dependencies.
  examples/blog-starter/lib/markdownToHtml.js
  examples/blog-starter/package.json
  examples/blog-starter/postcss.config.js
  examples/cms-agilitycms/package.json
  examples/cms-agilitycms/tailwind.config.js
  examples/cms-builder-io/package.json
  examples/cms-buttercms/package.json
  examples/cms-buttercms/tailwind.config.js
  examples/cms-contentful/components/hero-post.js
  examples/cms-contentful/package.json
  examples/cms-contentful/tailwind.config.js
  examples/cms-cosmic/lib/markdownToHtml.js
  examples/cms-cosmic/package.json
  examples/cms-cosmic/tailwind.config.js
  examples/cms-datocms/lib/markdownToHtml.js
  examples/cms-datocms/package.json
  examples/cms-datocms/tailwind.config.js
  examples/cms-drupal/package.json
  examples/cms-drupal/tailwind.config.js
  examples/cms-ghost/package.json
  examples/cms-ghost/tailwind.config.js
  examples/cms-graphcms/components/cover-image.js
  examples/cms-graphcms/package.json
  examples/cms-graphcms/tailwind.config.js
  examples/cms-kontent/lib/markdownToHtml.js
  examples/cms-kontent/package.json
  examples/cms-kontent/tailwind.config.js
  examples/cms-prepr/package.json
  examples/cms-prepr/tailwind.config.js
  examples/cms-prismic/package.json
  examples/cms-prismic/tailwind.config.js
  examples/cms-sanity/package.json
  examples/cms-sanity/tailwind.config.js
  examples/cms-storyblok/lib/markdownToHtml.js
  examples/cms-storyblok/package.json
  examples/cms-storyblok/tailwind.config.js
  examples/cms-strapi/package.json
  examples/cms-strapi/tailwind.config.js
  examples/cms-takeshape/lib/markdownToHtml.js
  examples/cms-takeshape/package.json
  examples/cms-takeshape/tailwind.config.js
  examples/cms-umbraco-heartcore/package.json
  examples/cms-umbraco-heartcore/tailwind.config.js
  examples/cms-wordpress/package.json
  examples/cms-wordpress/tailwind.config.js
Labels: area: examples, created-by: Next.js team

#33967 Update to latest version of amphtml-validator
  package.json
  packages/next/compiled/amphtml-validator/index.js
  packages/next/package.json
  test/integration/amphtml-custom-validator/next.config.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#33968 Warn in dev mode when script tags are added with next/head
  errors/manifest.json
  errors/no-script-component-in-head-component.md
  errors/no-script-tags-in-head-component.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-script-component-in-head.js
  packages/next/shared/lib/head.tsx
  test/integration/client-navigation/test/index.test.js
  test/unit/eslint-plugin-next/no-script-component-in-head.test.ts
Labels: area: documentation, type: next, created-by: Chrome Aurora

#33984 docs(isr): add missing key prop in jsx loop
  docs/basic-features/data-fetching/incremental-static-regeneration.md
Labels: area: documentation

#33990 docs: use function for components in general
  errors/next-script-for-ga.md
  errors/no-sync-scripts.md
Labels: area: documentation, created-by: Next.js team

#33179 Updated going-to-production with loading performance
  docs/going-to-production.md
Labels: area: documentation, created-by: Next.js docs team

#33995 Ensure optional chaining in swc matches babel
  packages/next/build/swc/options.js
  test/integration/production/pages/about.js
Labels: type: next, created-by: Next.js team

#33950 Use `react-dom/server.browser` in Node.js
  packages/next/build/webpack-config.ts
  packages/next/server/node-polyfill-readable-stream.js
  packages/next/server/render-result.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  packages/next/server/web/sandbox/polyfills.ts
  packages/next/server/web/sandbox/readable-stream.ts
  test/integration/react-18/test/require-hook.js
  test/integration/react-18/test/with-react-18.js
Labels: type: next, created-by: Chrome Aurora

#33962 Ensure external middleware rewrite is handled correctly
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/rewrites/index.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next, created-by: Next.js team

#33999 Update azure config
  azure-pipelines.yml
  test/jest-setup-after-env.ts
Labels: created-by: Next.js team

#33045 Update Terser to v5.10.0, fix minification issues
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#34004 Warn in dev mode when stylesheets are added using next/head
  errors/manifest.json
  errors/no-stylesheets-in-head-component.md
  packages/next/shared/lib/head.tsx
  test/integration/client-navigation/test/index.test.js
Labels: area: documentation, type: next, created-by: Chrome Aurora

#34005 Use `ReadableStream` in `RenderResult`
  packages/next/server/node-polyfill-readable-stream.js
  packages/next/server/node-polyfill-web-streams.js
  packages/next/server/render-result.ts
  packages/next/server/render.tsx
  packages/next/server/web/sandbox/readable-stream.ts
Labels: type: next, created-by: Chrome Aurora

#34018 docs: fix variable name from `profileData` to `data` in CSR page
  docs/basic-features/data-fetching/client-side.md
Labels: area: documentation

#34019 Fix warning unknown prettier option when running `yarn lint`.
  examples/with-tailwindcss/prettier.config.js
Labels: area: examples

#34015 [New Example] with docker - multiple deployment environments
  examples/with-docker-multi-env/.dockerignore
  examples/with-docker-multi-env/.env
  examples/with-docker-multi-env/.env.development.sample
  examples/with-docker-multi-env/.env.production.sample
  examples/with-docker-multi-env/.env.staging.sample
  examples/with-docker-multi-env/.gitignore
  examples/with-docker-multi-env/Makefile
  examples/with-docker-multi-env/README.md
  examples/with-docker-multi-env/docker/development/Dockerfile
  examples/with-docker-multi-env/docker/development/docker-compose.yml
  examples/with-docker-multi-env/docker/production/Dockerfile
  examples/with-docker-multi-env/docker/production/docker-compose.yml
  examples/with-docker-multi-env/docker/staging/Dockerfile
  examples/with-docker-multi-env/docker/staging/docker-compose.yml
  examples/with-docker-multi-env/next.config.js
  examples/with-docker-multi-env/package.json
  examples/with-docker-multi-env/pages/_app.js
  examples/with-docker-multi-env/pages/api/hello.js
  examples/with-docker-multi-env/pages/index.js
  examples/with-docker-multi-env/public/favicon.ico
  examples/with-docker-multi-env/public/vercel.svg
  examples/with-docker-multi-env/styles/Home.module.css
  examples/with-docker-multi-env/styles/globals.css
Labels: area: examples

#33913 Improve Form Guide Contents
  docs/guides/building-forms.md
  docs/manifest.json
Labels: area: documentation, created-by: Next.js docs team

#34011 Fix suffix ordering while streaming
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/test/streaming.js
Labels: type: next, created-by: Chrome Aurora

#34021 Do not warn when application/ld+json scripts are used with next/head
  packages/next/shared/lib/head.tsx
  test/integration/client-navigation/pages/head-with-json-ld-snippet.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#32702 Babel & next-swc: Fix exporting page config with AsExpression
  packages/next/build/babel/plugins/next-page-config.ts
  test/production/typescript-basic/app/pages/page-config.tsx
  test/unit/babel-plugin-next-page-config.test.ts
Labels: type: next

#33417 Fix ambiguous flags in Dockerfile example
  examples/with-docker/Dockerfile
Labels: area: examples

#29972 fix(examples/with-docker): update env comments
  examples/with-docker/Dockerfile
Labels: area: examples

#31053 Remove unused "start" script from with-docker/package.json
  examples/with-docker/README.md
  examples/with-docker/package.json
Labels: area: examples

#31393 Update remark in blog-starter-typescript
  examples/blog-starter-typescript/lib/markdownToHtml.ts
  examples/blog-starter-typescript/package.json
Labels: area: examples

#33945 Detect per page runtime config for functions manifest
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/functions-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/integration/react-streaming-and-server-components/app/components/foo.client.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#32915 Add JSDoc to config options
  packages/next/server/config-shared.ts
  packages/next/server/image-config.ts
Labels: type: next

#31356 Add `async` to middleware docs.
  docs/middleware.md
Labels: area: documentation

#33123 (docs): update i18n-routing.md
  docs/advanced-features/i18n-routing.md
Labels: area: documentation

#33762 Fix redirect url for prefixing the default locale
  docs/advanced-features/i18n-routing.md
Labels: area: documentation

#30385 Add note about dns-prefetch as fallback
  errors/google-font-preconnect.md
Labels: area: documentation

#30521 Update custom server docs for async methods
  docs/advanced-features/custom-server.md
Labels: area: documentation

#30709 Update font-stylesheet-gathering-plugin.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
Labels: type: next

#33855 Update multiple docs pages to follow Docs Content style guide
  docs/advanced-features/debugging.md
  docs/basic-features/data-fetching/get-server-side-props.md
  docs/basic-features/data-fetching/get-static-props.md
  docs/basic-features/image-optimization.md
  docs/getting-started.md
Labels: area: documentation, created-by: Next.js docs team

#33891 Docs: use the nextv12 example from the storybook-addon-next repo as the with-storybook example
  examples/with-storybook/.babelrc
  examples/with-storybook/.gitignore
  examples/with-storybook/.storybook/main.js
  examples/with-storybook/.storybook/preview.js
  examples/with-storybook/README.md
  examples/with-storybook/components/Links.js
  examples/with-storybook/components/MyComponent.js
  examples/with-storybook/components/index.js
  examples/with-storybook/next-env.d.ts
  examples/with-storybook/next.config.js
  examples/with-storybook/package.json
  examples/with-storybook/pages/_app.js
  examples/with-storybook/pages/absoluteImports.js
  examples/with-storybook/pages/cssModules.js
  examples/with-storybook/pages/globalStyleImports.js
  examples/with-storybook/pages/index.js
  examples/with-storybook/pages/nextjsImages.js
  examples/with-storybook/pages/nextjsRouting.js
  examples/with-storybook/pages/scssModules.js
  examples/with-storybook/pages/styledJsx.js
  examples/with-storybook/pages/typescript.tsx
  examples/with-storybook/public/favicon.ico
  examples/with-storybook/public/nyan-cat.png
  examples/with-storybook/public/serve.json
  examples/with-storybook/public/vercel.svg
  examples/with-storybook/stories/button.stories.js
  examples/with-storybook/stories/helloWorld.stories.js
  examples/with-storybook/stories/pages/absoluteImports.stories.jsx
  examples/with-storybook/stories/pages/cssModules.stories.jsx
  examples/with-storybook/stories/pages/globalStyleImports.stories.jsx
  examples/with-storybook/stories/pages/home.stories.jsx
  examples/with-storybook/stories/pages/nextjsImages.stories.jsx
  examples/with-storybook/stories/pages/nextjsRouting.stories.jsx
  examples/with-storybook/stories/pages/scssModules.stories.jsx
  examples/with-storybook/stories/pages/styledJsx.stories.jsx
  examples/with-storybook/stories/pages/typescript.stories.tsx
  examples/with-storybook/stories/welcome.stories.js
  examples/with-storybook/styles/CssModules.module.css
  examples/with-storybook/styles/ScssModules.module.scss
  examples/with-storybook/styles/globals.css
  examples/with-storybook/styles/globals.scss
  examples/with-storybook/tsconfig.json
Labels: area: examples

#34029 Add types to nextConfig in default template
  packages/create-next-app/templates/default/next.config.js
Labels: area: create-next-app

#33796 fix: Change `url` to `nextUrl` inside delete-query-params-in-middlewa…
  errors/deleting-query-params-in-middlewares.md
Labels: area: documentation

#32914 Add decoratorMetadata flag if enabled by tsconfig
  .eslintignore
  packages/next/build/swc/options.js
  test/production/emit-decorator-metadata/app/jsconfig.json
  test/production/emit-decorator-metadata/app/pages/api/[[...params]].js
  test/production/emit-decorator-metadata/app/pages/index.js
  test/production/emit-decorator-metadata/index.test.ts
Labels: type: next

#34035 examples, update with new URL
  examples/with-material-ui/README.md
Labels: area: examples

#34034 fix: data url handling in css-loader
  packages/next/build/webpack/loaders/css-loader/src/utils.js
  test/integration/css-fixtures/data-url/pages/index.js
  test/integration/css-fixtures/data-url/pages/index.module.css
  test/integration/css/test/index.test.js
Labels: type: next

#32681 [with-typescript-graphql] fixes breaking changes in graphql-let v0.18.0
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/.graphql-let.yml
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/package.json
  examples/with-typescript-graphql/tsconfig.json
Labels: area: examples

#29996 fix(example): with-typescript-graphql graphql-let package migrate
  examples/with-typescript-graphql/.babelrc
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/package.json
Labels: area: examples

#29581 feat: update firebase in with-firebase
  examples/with-firebase/context/userContext.js
  examples/with-firebase/firebase/clientApp.js
  examples/with-firebase/package.json
  examples/with-firebase/pages/index.js
Labels: area: examples

#28228 Changing GitHub Actions cache documentation
  errors/no-cache.md
Labels: area: documentation

#28119 Place 'charset' element at the top of <head>
  examples/cms-umbraco-heartcore/.gitignore
  packages/next/pages/_document.tsx
  test/integration/client-navigation/pages/_document.js
  test/integration/client-navigation/pages/head-priority.js
  test/integration/client-navigation/test/rendering.js
Labels: area: examples, type: next

#23272 Fix detection of anchor click events inside svg
  packages/next/client/link.tsx
  test/integration/client-navigation/pages/nav/index.js
  test/integration/client-navigation/test/index.test.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
Labels: type: next

#33006 fix(create-next-app): add default version
  packages/create-next-app/create-app.ts
Labels: area: create-next-app

#32328 Allow passing nothing as custom jest config
  packages/next/build/jest/jest.ts
Labels: type: next

#33100 progressive web app example converted to typescript
  examples/progressive-web-app/next-env.d.ts
  examples/progressive-web-app/next.config.js
  examples/progressive-web-app/package.json
  examples/progressive-web-app/pages/_app.tsx
  examples/progressive-web-app/pages/api/hello.ts
  examples/progressive-web-app/pages/index.tsx
  examples/progressive-web-app/tsconfig.json
Labels: area: examples

#32350 [docs] Add env var load order
  docs/basic-features/environment-variables.md
Labels: area: documentation

#31264 Fixes #31240: Adding a recursive addPackagePath function in webpack-config
  packages/next/build/webpack-config.ts
Labels: type: next

#32733 Make adjustment to cache config of with-apollo example
  examples/with-apollo/lib/apolloClient.js
Labels: area: examples

#27723 Require component rendered as child of `Link` to pass event to `onClick` handler
  packages/next/client/link.tsx
  test/integration/client-navigation/pages/link-invalid-onclick.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#31921 Allow scroll prevention on hash change
  packages/next/client/link.tsx
  packages/next/shared/lib/router/router.ts
  test/integration/client-navigation/pages/nav/hash-changes.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#33662 Add support for async fn / promise in next.config.js/.mjs
  docs/api-reference/next.config.js/introduction.md
  errors/promise-in-next-config.md
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  test/e2e/config-promise-export/async-function.test.ts
  test/e2e/config-promise-export/promise.test.ts
  test/integration/config-promise-error/test/index.test.js
Labels: area: documentation, type: next, created-by: Next.js team

#33933 Fix `lazyRoot` functionality for `next/image`
  packages/next/client/use-intersection.tsx
  test/integration/image-component/default/pages/lazy-noref.js
  test/integration/image-component/default/pages/lazy-withref.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#34056 Change SWC minify from beta to release candidate
  packages/next/server/config.ts
Labels: type: next, created-by: Next.js team

#34069 Stop exposing internal `render` and `renderError` methods from `next/client`
  packages/next/client/index.tsx
  packages/next/client/next-dev.js
  packages/next/client/next.js
Labels: type: next, created-by: Chrome Aurora

#34078 Add api-utils helper for testing
  packages/next/build/index.ts
  packages/next/server/api-utils.ts
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/response-cache.ts
  packages/next/shared/lib/utils.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/api/manual-revalidate.js
  test/e2e/prerender/pages/blocking-fallback-once/[slug].js
  test/e2e/prerender/pages/blocking-fallback/[slug].js
  test/e2e/prerender/pages/catchall-explicit/[...slug].js
Labels: type: next, created-by: Next.js team

#34045 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#34068 Deprecate `concurrentFeatures` with `runtime`
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/output/index.ts
  packages/next/build/output/store.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/functions-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/export/index.ts
  packages/next/pages/_document-concurrent.tsx
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/server/node-polyfill-web-streams.js
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  packages/next/server/web/sandbox/readable-stream.ts
  packages/next/shared/lib/utils.ts
  packages/next/taskfile.js
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18/app/next.config.js
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/require-hook.js
  test/integration/react-streaming-and-server-components/app/next.config.js
  test/integration/react-streaming-and-server-components/app/pages/404.js
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/css.js
  test/integration/react-streaming-and-server-components/test/functions.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/streaming.js
  test/integration/react-streaming-and-server-components/test/utils.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/next.config.js
Labels: type: next, created-by: Next.js team

#33908 Add check for resolveWeak to next/dynamic
  packages/next/shared/lib/loadable.js
  test/production/next/jest/index.test.ts
Labels: type: next, created-by: Next.js team

#34087 remove unneeded and broken plugin
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/nextjs-ssr-import.ts
Labels: type: next, created-by: Next.js team

#34092 Fix functions manifest test
  test/integration/react-streaming-and-server-components/test/functions.js
Labels: created-by: Next.js team

#34096 Remove experimental warning from next/jest
  packages/next/build/jest/jest.ts
Labels: type: next, created-by: Next.js team

#34091 add pnpm debug file in gitignore templates
  packages/create-next-app/templates/default/gitignore
  packages/create-next-app/templates/typescript/gitignore
Labels: area: create-next-app

#34105 fix: arrow function export in rsc client component
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  test/integration/react-streaming-and-server-components/app/components/client-default-export-arrow.client.js
  test/integration/react-streaming-and-server-components/app/pages/client-exports-all.server.js
  test/integration/react-streaming-and-server-components/app/pages/client-exports.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#34106 Use `renderToStream` with React 18
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/export/index.ts
  packages/next/server/base-server.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Chrome Aurora

#34111 Fix static result being piped
  packages/next/server/web-server.ts
Labels: type: next, created-by: Next.js team

#34112 Polyfill pipeTo and pipeThrough
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#33029 docs: add Ory vercel example to auth page
  docs/authentication.md
Labels: area: documentation

#34110 Update failing tests from upstream resource
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/test/index.test.js
Labels: created-by: Next.js team

#34075 Update to leverage response-cache for image-optimizer
  packages/next/server/api-utils.ts
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/image-optimizer.ts
  packages/next/server/incremental-cache.ts
  packages/next/server/next-server.ts
  packages/next/server/response-cache.ts
  packages/next/shared/lib/utils.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/api/manual-revalidate.js
  test/integration/image-optimizer/test/index.test.js
  test/integration/image-optimizer/test/old-sharp.test.js
  test/integration/image-optimizer/test/sharp.test.js
  test/integration/image-optimizer/test/squoosh.test.js
  test/integration/image-optimizer/test/util.js
Labels: type: next, created-by: Next.js team

#34114 Add note about crawlers and `fallback: true`
  docs/api-reference/data-fetching/get-static-paths.md
Labels: area: documentation

#33559 fix: `next/image` usage from `node_modules`
  packages/next/client/image.tsx
  packages/next/client/index.tsx
  packages/next/server/base-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/image-config-context.ts
  test/integration/image-component/image-from-node-modules/next.config.js
  test/integration/image-component/image-from-node-modules/node_modules/my-cool-image.js
  test/integration/image-component/image-from-node-modules/pages/image-from-node-modules.js
  test/integration/image-component/image-from-node-modules/test/index.test.js
Labels: type: next

#34113 Fix included flight manifest on node runtime
  packages/next/build/index.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#34116 Fix: Use `react-dom/server.browser` when `reactRoot: true`
  packages/next/server/render.tsx
Labels: type: next, created-by: Chrome Aurora

#34125 docs(api-routes): fix node docs links
  docs/api-routes/introduction.md
Labels: area: documentation

#34141 Fix image-optimizer requires in next-server
  packages/next/server/next-server.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#34137 Fix required files matching in rsc
  packages/next/build/index.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#34142 [Docs] add note to clarify use of Link when clearing preview cookies (issue #34129)
  docs/advanced-features/preview-mode.md
Labels: area: documentation

#23905 Fix bug with "Circular Structure" error
  packages/next/pages/_document.tsx
  test/integration/json-serialize-original-error/pages/bigint.js
  test/integration/json-serialize-original-error/test/index.test.js
Labels: type: next

#23261 Add _document and _app pre-import
  packages/next/server/next-server.ts
Labels: type: next

#34150 Add heading to `invalid-api-status-body` error
  errors/invalid-api-status-body.md
Labels: area: documentation

#34151 Ensure standalone server handles SIGTERM
  packages/next/build/utils.ts
Labels: type: next, created-by: Next.js team

#34190 Bump nft to 0.17.5
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#34202 Fix reuse of inline flight response and 404 for RSC in node runtime
  packages/next/client/index.tsx
  packages/next/client/page-loader.ts
  packages/next/server/base-server.ts
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/404.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#34203 Fix error thrown by `next/image` in the Sanity example
  examples/cms-sanity/next.config.js
Labels: area: examples

#34206 Ensure /index route is redirected correctly for docs
  docs/manifest.json
Labels: area: documentation, created-by: Next.js team

#34204 Allow listening for page requests in tests
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
Labels: created-by: Next.js team

#34210 Use updated recursive rm fs method for image-optimizer
  packages/next/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#34230 Fix link for "Delete Query Params in Middleware" error message in `next-server.ts`
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js docs team

#34222 Enable dynamic HTML in minimal mode
  packages/next/server/base-server.ts
  test/production/react-18-streaming-ssr/index.test.ts
Labels: type: next, created-by: Next.js team

#34228 Fix uncaught error in getInitialProps when `runtime` is set to `nodejs`
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/utils.js
Labels: type: next, created-by: Next.js team

#34241 Update docs for image `lazyRoot` prop
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Next.js team

#34233 chore(example): update preact links in examples
  examples/data-fetch/pages/preact-stars.js
  examples/with-vercel-fetch/pages/preact.js
Labels: area: examples

#34107 feat: allow `node-sass@7` as peer dependency
  packages/next/compiled/sass-loader/cjs.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#34083 Adding step to build the app with docker in existing projects
  examples/with-docker/README.md
  packages/next/server/api-utils/node.ts
Labels: area: examples, type: next

#34269 Update link for includeFiles glob reference
  docs/advanced-features/output-file-tracing.md
Labels: area: documentation, created-by: Next.js team

#34278 Update Preview Mode docs.
  docs/advanced-features/preview-mode.md
Labels: area: documentation, created-by: Next.js team

#34252 Update frequently asked questions in documentation
  docs/faq.md
Labels: area: documentation

#34280 Changed all occurrences of etc to match
  docs/advanced-features/measuring-performance.md
  docs/basic-features/layouts.md
  docs/guides/building-forms.md
  docs/migrating/from-gatsby.md
  errors/css-npm.md
  examples/custom-server-actionhero/README.md
  examples/layout-component/pages/about.js
  examples/layout-component/pages/contact.js
  examples/with-stencil/packages/test-component/readme.md
  packages/next/cli/next-dev.ts
Labels: area: examples, area: documentation, type: next

#34281 Alphabetize auth docs providers.
  docs/authentication.md
Labels: area: documentation, created-by: Next.js team

#34282 Replace babel with SWC & minor changes in `getting started`
  docs/getting-started.md
Labels: area: documentation

#34299 Update contributing.md to link to walkthrough video.
  contributing.md
Labels: created-by: Next.js team

#34302 Update Middleware docs to add version history.
  docs/basic-features/environment-variables.md
  docs/middleware.md
Labels: area: documentation, created-by: Next.js team

#34300 Fix a few ZEIT to Vercel, .now.sh to .vercel.app.
  examples/cms-builder-io/lib/constants.js
  examples/cms-prepr/README.md
  examples/cms-umbraco-heartcore/README.md
  examples/cms-umbraco-heartcore/components/alert.js
  examples/cms-umbraco-heartcore/components/footer.js
  examples/cms-umbraco-heartcore/lib/constants.js
  examples/with-iron-session/pages/index.tsx
Labels: area: examples, type: next, created-by: Next.js team

#34309 Fix typo on `getInitialProps`
  docs/advanced-features/custom-document.md
Labels: area: documentation

#34328 Align reactRoot config between server and webpack config
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/server/config.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/load-components.ts
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/with-react-18.js
  test/integration/react-streaming-and-server-components/app/next.config.js
Labels: type: next, created-by: Next.js team

#34338 Fix `<RouteAnnouncer/>` shouldn't announce initial path under strict mode and React 18
  packages/next/client/route-announcer.tsx
  test/integration/client-navigation-a11y/test/index.test.js
  test/integration/react-18/app/next.config.js
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/strict-mode.js
Labels: type: next, created-by: Next.js team

#34319 Add an example to Write server-side code directly section
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation, created-by: Next.js docs team

#34333 Fix flight root failed to hydrate in strict mode
  packages/next/client/index.tsx
  test/integration/react-streaming-and-server-components/app/next.config.js
Labels: type: next, created-by: Next.js team

#34175 Update MDX Custom Elements setup
  docs/advanced-features/using-mdx.md
Labels: area: documentation

#33868 Allow dismissing full refresh warning for session
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/compiled/@next/react-dev-overlay/client.js
  packages/react-dev-overlay/src/internal/container/FullRefreshWarning.tsx
Labels: type: next, created-by: Next.js team

#34349 Remove experimental image optimization feature
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/post-process.ts
  packages/next/shared/lib/utils.ts
  test/integration/image-optimization/next.config.js
  test/integration/image-optimization/pages/index.js
  test/integration/image-optimization/pages/stars.js
  test/integration/image-optimization/pages/static-head.js
  test/integration/image-optimization/pages/with-querystring.js
  test/integration/image-optimization/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#34372 fix: typo in gitignore in typescript template
  packages/create-next-app/templates/typescript/gitignore
Labels: area: create-next-app

#34374 Update image.md
  docs/api-reference/next/image.md
Labels: area: documentation

#34362 Updated failed to load error page to include info about node versions
  errors/failed-loading-swc.md
Labels: area: documentation, created-by: Next.js docs team

#33637 Add support for "type": "module" in package.json
  packages/next/build/index.ts
  packages/next/server/dev/hot-reloader.ts
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  packages/react-refresh-utils/loader.ts
  test/e2e/type-module-interop/index.test.ts
Labels: type: next, created-by: Next.js team

#34355 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/errors/styled-jsx/ts-with-css-resolve/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/css-selector-after-pseudo/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/expressions/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/external-stylesheet/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/fragment/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/global/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-30480/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-30570/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-31562-interpolation-in-mdea/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/styles/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/too-many/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-escape-1/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-escape-2/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-1-as-property/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-2-as-part-of-value/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-3-as-value/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-4-as-part-of-value-in-multiple/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-5-values-of-multiple-properties/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-complex-selector/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-global/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-media-query/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-normal/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css/output.js
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/core/tests/loader/css-hygiene-1/output.js
  packages/next-swc/crates/core/tests/loader/example/output.js
  packages/next-swc/crates/core/tests/loader/issue-31627/output.js
  packages/next-swc/crates/core/tests/loader/styled-components/1/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#34346 Ensure invalid request to static page is handled correctly
  packages/next/server/base-server.ts
  test/e2e/getserversideprops/test/index.test.ts
  test/e2e/prerender.test.ts
  test/integration/api-support/pages/user.js
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team
