Repository vercel/next.js, pull requests merged in 2022-05, with the labels that each got.

#36580 Update status code for normalize error
  packages/next/server/base-server.ts
  packages/next/shared/lib/page-path/normalize-page-path.ts
  packages/next/shared/lib/utils.ts
  test/integration/production/test/security.js
Labels: type: next, created-by: Next.js team

#36599 Add pagesDir to Jest transformer
  packages/next/build/jest/jest.ts
  packages/next/build/swc/jest-transformer.js
  packages/next/build/swc/options.js
  test/lib/e2e-utils.ts
  test/production/jest/index.test.ts
  test/production/jest/relay/app/components/environment.tsx
  test/production/jest/relay/app/jest.config.js
  test/production/jest/relay/app/main.graphql
  test/production/jest/relay/app/next.config.js
  test/production/jest/relay/app/pages/_app.tsx
  test/production/jest/relay/app/pages/index.tsx
  test/production/jest/relay/app/tsconfig.json
  test/production/jest/relay/app/types/pagesQuery.graphql.ts
  test/production/jest/relay/relay-jest.test.ts
Labels: type: next, created-by: Next.js team

#36618 Add tests for routing experiment
  packages/next/client/root-index.tsx
  packages/next/client/root-next.js
  packages/next/server/config-shared.ts
  test/e2e/root-dir/app/next.config.js
  test/e2e/root-dir/app/pages/blog/[slug].js
  test/e2e/root-dir/app/pages/index.js
  test/e2e/root-dir/app/public/hello.txt
  test/e2e/root-dir/app/root.server.js
  test/e2e/root-dir/app/root/client-component-route.client.js
  test/e2e/root-dir/app/root/client-nested.client.js
  test/e2e/root-dir/app/root/client-nested/index.server.js
  test/e2e/root-dir/app/root/conditional/[slug].server.js
  test/e2e/root-dir/app/root/conditional/[slug]@team/index.js
  test/e2e/root-dir/app/root/conditional/[slug]@team/members.js
  test/e2e/root-dir/app/root/conditional/[slug]@user/index.js
  test/e2e/root-dir/app/root/conditional/[slug]@user/teams.js
  test/e2e/root-dir/app/root/dashboard+changelog.server.js
  test/e2e/root-dir/app/root/dashboard+rootonly/hello.server.js
  test/e2e/root-dir/app/root/dashboard.server.js
  test/e2e/root-dir/app/root/dashboard/deployments.server.js
  test/e2e/root-dir/app/root/dashboard/deployments/[id].server.js
  test/e2e/root-dir/app/root/dashboard/deployments/info.server.js
  test/e2e/root-dir/app/root/dashboard/index.server.js
  test/e2e/root-dir/app/root/dashboard/integrations/index.server.js
  test/e2e/root-dir/app/root/partial-match-[id].server.js
  test/e2e/root-dir/app/root/shared-component-route.js
  test/e2e/root-dir/app/root/should-not-serve-client.client.js
  test/e2e/root-dir/app/root/should-not-serve-server.server.js
  test/e2e/root-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#36619 Update findPagesDir
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/find-pages-dir.ts
  packages/next/lib/typescript/getTypeScriptIntent.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/dev/next-dev-server.ts
Labels: type: next, created-by: Next.js team

#36623 Fix swc jest pagesDir config
  packages/next/build/jest/jest.ts
Labels: type: next, created-by: Next.js team

#36628 Handle styled-jsx in newLinkBehavior codemod
  packages/next-codemod/transforms/__testfixtures__/new-link/styled-jsx.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/styled-jsx.output.js
  packages/next-codemod/transforms/__tests__/new-link.test.js
  packages/next-codemod/transforms/new-link.ts
Labels: type: next, created-by: Next.js team

#36627 add Script key for cache
  examples/with-google-tag-manager/pages/_app.js
Labels: area: examples

#36631 Update codeowners image pattern
  .github/CODEOWNERS
Labels: created-by: Next.js team

#36594 Flush initial styled-jsx in gIP first in concurrent rendering
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/constants.ts
  test/e2e/styled-jsx/app/pages/index.js
  test/e2e/styled-jsx/index.test.ts
  test/integration/react-18/test/concurrent.js
Labels: type: next, created-by: Next.js team

#36612 Add falling back to wasm swc build on native load failure
  packages/next/build/swc/index.js
  packages/next/compiled/tar/LICENSE
  packages/next/compiled/tar/index.js
  packages/next/compiled/tar/package.json
  packages/next/lib/download-wasm-swc.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/telemetry/events/swc-load-failure.ts
  packages/next/types/misc.d.ts
  test/lib/next-modes/base.ts
  test/production/required-server-files-i18n.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#35803 feat(next-swc): introduce experimental tracing support for swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/emotion/src/lib.rs
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/util.rs
  packages/next/build/index.ts
  packages/next/build/output/store.ts
  packages/next/build/swc/index.d.ts
  packages/next/build/swc/index.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
Labels: type: next

#36635 Add initial handling for routing tests
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/lib/constants.ts
  packages/next/pages/root.tsx
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/get-page-files.ts
  packages/next/server/get-route-from-entrypoint.ts
  packages/next/server/lib/find-page-file.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/require.ts
  packages/next/server/root-render.tsx
  packages/next/server/web-server.ts
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/i18n/get-locale-metadata.ts
  packages/next/shared/lib/page-path/absolute-path-to-page.ts
  packages/next/shared/lib/page-path/get-page-paths.ts
  packages/next/shared/lib/page-path/remove-page-path-tail.ts
  packages/next/shared/lib/router/utils/root-paths.ts
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#36632 docs: add jest-environment-jsdom package for Jest configuration
  docs/testing.md
Labels: area: documentation

#36644 Enable disabled tests that pass
  test/e2e/root-dir/index.test.ts
Labels: created-by: Next.js team

#36660 Fix asPath handling for data route revalidation in minimal mode
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/fallback-false/[slug].js
Labels: type: next, created-by: Next.js team

#36649 Improve wording
  docs/basic-features/script.md
Labels: area: documentation

#36664 fix: react root enabled properly in custom server
  packages/next/client/index.tsx
  packages/next/server/next.ts
  test/integration/custom-server/test/index.test.js
Labels: type: next, created-by: Next.js team

#34730 Route Loader Trusted Types Violation Fix
  package.json
  packages/next/client/route-loader.ts
  packages/next/client/trusted-types.ts
  tsec-exemptions.json
  yarn.lock
Labels: type: next

#36342 fix(docs): mention cookies in context
  docs/api-reference/data-fetching/get-server-side-props.md
Labels: area: documentation

#36669 Update components in GitHub Actions
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/test_react_experimental.yml
  .github/workflows/test_react_next.yml
  errors/no-cache.md
  package.json
  test/integration/chunking/pages/page3.js
  turbo.json
Labels: area: documentation, type: next

#36685 Add docs about nextRuntime for custom webpack
  docs/api-reference/next.config.js/custom-webpack-config.md
Labels: area: documentation

#34726 Fix various Trusted Types violations without use of policy
  packages/next/client/dev/fouc.ts
  packages/next/lib/recursive-delete.ts
  packages/react-dev-overlay/src/internal/components/Overlay/maintain--tab-focus.ts
  tsec-exemptions.json
Labels: type: next

#36245 Add experimental wildcard `remotePatterns` config for upstream images
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  errors/invalid-images-config.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/image-optimizer.ts
  packages/next/shared/lib/image-config.ts
  packages/next/shared/lib/match-remote-pattern.ts
  packages/next/telemetry/events/version.ts
  test/integration/image-component/asset-prefix/next.config.js
  test/integration/image-component/unicode/next.config.js
  test/integration/image-optimizer/test/index.test.js
  test/integration/image-optimizer/test/util.js
  test/integration/telemetry/next.config.i18n-images
  test/integration/telemetry/test/index.test.js
  test/unit/image-optimizer/match-remote-pattern.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#36667 Tweak routing tests
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-view-loader.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/lib/constants.ts
  packages/next/lib/find-pages-dir.ts
  packages/next/lib/views-layout.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/get-route-from-entrypoint.ts
  packages/next/server/lib/find-page-file.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/require.ts
  packages/next/server/view-render.tsx
  packages/next/server/web-server.ts
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/page-path/get-page-paths.ts
  packages/next/shared/lib/router/utils/root-paths.ts
  packages/next/shared/lib/router/utils/view-paths.ts
  packages/next/taskfile.js
  test/e2e/root-dir/app/root/conditional/[slug].server.js
  test/e2e/root-dir/app/root/conditional/[slug]@team/index.js
  test/e2e/root-dir/app/root/conditional/[slug]@team/members.js
  test/e2e/root-dir/app/root/conditional/[slug]@user/index.js
  test/e2e/root-dir/app/root/conditional/[slug]@user/teams.js
  test/e2e/views-dir/app/next.config.js
  test/e2e/views-dir/app/pages/blog/[slug].js
  test/e2e/views-dir/app/pages/index.js
  test/e2e/views-dir/app/public/hello.txt
  test/e2e/views-dir/app/views/(rootonly)/dashboard/changelog/page.server.js
  test/e2e/views-dir/app/views/(rootonly)/dashboard/hello/page.server.js
  test/e2e/views-dir/app/views/client-component-route/page.client.js
  test/e2e/views-dir/app/views/client-nested/index/page.server.js
  test/e2e/views-dir/app/views/client-nested/layout.client.js
  test/e2e/views-dir/app/views/dashboard/deployments/[id]/page.server.js
  test/e2e/views-dir/app/views/dashboard/deployments/info/page.server.js
  test/e2e/views-dir/app/views/dashboard/deployments/layout.server.js
  test/e2e/views-dir/app/views/dashboard/index/page.server.js
  test/e2e/views-dir/app/views/dashboard/integrations/index/page.server.js
  test/e2e/views-dir/app/views/dashboard/layout.server.js
  test/e2e/views-dir/app/views/layout.server.js
  test/e2e/views-dir/app/views/partial-match-[id]/page.server.js
  test/e2e/views-dir/app/views/shared-component-route/page.js
  test/e2e/views-dir/app/views/should-not-serve-client/page.client.js
  test/e2e/views-dir/app/views/should-not-serve-server/page.server.js
  test/e2e/views-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#36710 fix: duplicate app server
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/_app.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: type: next, created-by: Next.js team

#36712 Add route loader
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-view-loader.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/load-components.ts
  packages/next/server/view-render.tsx
Labels: type: next, created-by: Next.js team

#36713 test: merge rsc custom app cases
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
  test/integration/react-streaming-and-server-components/test/utils.js
Labels: created-by: Next.js team

#36734 Fix leftover todo in loader
  packages/next/build/entries.ts
  packages/next/build/index.ts
Labels: type: next, created-by: Next.js team

#36739 Updated the middleware api docs env section to remove dev and prod
  docs/api-reference/edge-runtime.md
Labels: area: documentation, created-by: Next.js docs team

#36747 Leverage pageExtensions for resolving in loader
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-view-loader.ts
  packages/next/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#36749 Use react dom server node api to detect react root is enabled
  packages/next/bin/next.ts
  packages/next/server/next.ts
  packages/next/server/view-render.tsx
Labels: type: next, created-by: Next.js team

#36753 Fixed typo
  docs/basic-features/data-fetching/client-side.md
Labels: area: documentation

#36733 replace use-subscription with use-sync-external-store
  packages/next/compiled/use-subscription/LICENSE
  packages/next/compiled/use-subscription/index.js
  packages/next/compiled/use-subscription/package.json
  packages/next/package.json
  packages/next/shared/lib/loadable.js
  packages/next/taskfile.js
  yarn.lock
Labels: type: next

#36760 Add flight render starting point
  packages/next/server/view-render.tsx
Labels: type: next, created-by: Next.js team

#36478 feat: better cookies API for Edge Functions
  docs/api-reference/next/server.md
  packages/next/server/web/spec-extension/cookies.ts
  packages/next/server/web/spec-extension/request.ts
  packages/next/server/web/spec-extension/response.ts
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/production/middleware-typescript/app/pages/rewrites/_middleware.ts
  test/unit/web-runtime/cookies.test.ts
  test/unit/web-runtime/next-cookies.test.ts
  test/unit/web-runtime/next-response.test.ts
Labels: area: documentation, type: next

#36791 Update x-nextjs-cache header in minimal mode
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#36789 Add experimental flag to force SWC transforms
  errors/swc-disabled.md
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
  test/e2e/swc-warnings/index.test.ts
Labels: area: documentation, type: next

#36525 added example: with-geist-ui
  examples/with-geist-ui/.gitignore
  examples/with-geist-ui/README.md
  examples/with-geist-ui/next-env.d.ts
  examples/with-geist-ui/package.json
  examples/with-geist-ui/pages/_app.tsx
  examples/with-geist-ui/pages/_document.js
  examples/with-geist-ui/pages/index.tsx
  examples/with-geist-ui/public/geist-banner.png
  examples/with-geist-ui/tsconfig.json
Labels: area: examples

#36813 Add final newline to package-lock.json
  packages/next/lib/patch-incorrect-lockfile.ts
Labels: type: next

#36810 Move FlightManifestPlugin to server compilers
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#36787 Update moduleNameMapper jest config and remove extra deps
  examples/with-jest/package.json
  packages/next/build/jest/jest.ts
Labels: area: examples, type: next, created-by: Next.js team

#36792 Wait for shell resolve with gIP is customized in react 18
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/server/view-render.tsx
  test/integration/amphtml-fragment-style/next.config.js
  test/integration/amphtml-fragment-style/test/index.test.js
  test/integration/app-document/pages/_document.js
  test/integration/app-document/pages/index.js
  test/integration/app-document/test/rendering.js
  test/integration/styled-jsx-module/app/next.config.js
  test/integration/styled-jsx-module/test/index.test.js
Labels: type: next, created-by: Next.js team

#36826 Build x86_64-freebsd SWC binary
  .github/workflows/build_test_deploy.yml
  packages/next-swc/crates/napi/npm/freebsd-x64/README.md
  packages/next-swc/crates/napi/npm/freebsd-x64/package.json
Labels: type: next

#36827 fix(#30300): force export 404.html
  packages/next/export/worker.ts
  test/integration/export/test/index.test.js
Labels: type: next

#36812 Telemetry: track usage of 'experimental/nextScriptWorkers'
  packages/next/build/index.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/next.config.next-script-workers
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#36784 Eagerly load swc bindings for wasm fallback for jest
  packages/next/build/jest/jest.ts
  packages/next/build/swc/index.d.ts
  packages/next/build/swc/index.js
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#36852 Updated copy around enabling source maps
  docs/advanced-features/source-maps.md
Labels: area: documentation, created-by: Next.js docs team

#36858 chore: upgrade dependencies in Jest examples
  examples/with-jest-babel/README.md
  examples/with-jest-babel/package.json
  examples/with-jest/package.json
Labels: area: examples

#36779 scss exects semicolon
  docs/basic-features/built-in-css-support.md
Labels: area: documentation

#36843 Add experimental config for basePath testing
  packages/next/build/webpack-config.ts
  packages/next/client/page-loader.ts
  packages/next/server/config-shared.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/manual-client-base-path/app/next.config.js
  test/e2e/manual-client-base-path/app/pages/another.js
  test/e2e/manual-client-base-path/app/pages/dynamic/[slug].js
  test/e2e/manual-client-base-path/app/pages/index.js
  test/e2e/manual-client-base-path/index.test.ts
Labels: type: next, created-by: Next.js team

#36862 docs: add more details about nextRuntime in webpack config and runtime in next config
  docs/advanced-features/react-18/switchable-runtime.md
  docs/api-reference/next.config.js/custom-webpack-config.md
Labels: area: documentation, created-by: Next.js team

#36837 Enable html post optimization for react 18
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/post-process.ts
  packages/next/server/render.tsx
  test/integration/amphtml-custom-optimizer/next.config.js
  test/integration/amphtml-custom-optimizer/test/index.test.js
  test/integration/amphtml/next.config.js
  test/integration/amphtml/test/index.test.js
  test/integration/app-document/next.config.js
  test/integration/app-document/pages/_document.js
  test/integration/app-document/test/index.test.js
  test/integration/critical-css/next.config.js
  test/integration/critical-css/test/index.test.js
  test/integration/font-optimization/fixtures/with-google/next.config.js
  test/integration/font-optimization/fixtures/with-typekit/next.config.js
  test/integration/font-optimization/test/index.test.js
Labels: type: next, created-by: Next.js team

#36822 Update client router for tests
  packages/next/build/webpack-config.ts
  packages/next/client/views-index.tsx
  packages/next/client/views-next.js
  packages/next/lib/views-layout.tsx
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/view-render.tsx
  test/e2e/views-dir/app/views/(newroot)/layout.server.js
  test/e2e/views-dir/app/views/layout.server.js
Labels: type: next, created-by: Next.js team

#36872 Fix return type of middleware `req.cookies.get()`
  packages/next/server/web/spec-extension/cookies.ts
  test/production/middleware-typescript/app/pages/rewrites/_middleware.ts
Labels: type: next, created-by: Next.js team

#36871 test: clean up duplicated tests
  test/integration/app-document/test/rendering.js
  test/integration/client-navigation/pages/head-with-json-ld-snippet.js
  test/integration/client-navigation/test/index.test.js
  test/integration/react-streaming-and-server-components/app/pages/head.js
  test/integration/react-streaming-and-server-components/app/pages/runtime-rsc.server.js
  test/integration/react-streaming-and-server-components/app/pages/runtime.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/functions.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/runtime.js
  test/integration/react-streaming-and-server-components/test/streaming.js
Labels: created-by: Next.js team

#35418 Move CI build cache instructions to Deployment docs
  docs/advanced-features/ci-build-caching.md
  docs/manifest.json
  errors/no-cache.md
Labels: area: documentation

#34417 Example/facebook pixel script
  examples/with-facebook-pixel/pages/_app.js
  examples/with-facebook-pixel/pages/index.js
  examples/with-facebook-pixel/pages/navigation.js
Labels: area: examples

#36840 fix(examples): maxlength was inconsistent
  examples/with-mongodb-mongoose/models/Pet.js
Labels: area: examples

#36884 chore: update Jest example snapshots
  examples/with-jest-babel/__tests__/__snapshots__/snapshot.tsx.snap
  examples/with-jest/__tests__/__snapshots__/snapshot.tsx.snap
Labels: area: examples

#36877 Make esm default interpolation work with jest mock
  packages/next/taskfile-swc.js
  test/unit/esm-interpolate/esm-interpolate.test.tsx
  test/unit/esm-interpolate/fixture.tsx
Labels: type: next

#36860 Decouple entries for server components and client components
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/get-module-build-info.ts
  packages/next/build/webpack/loaders/next-client-pages-loader.ts
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-view-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/load-components.ts
  test/integration/build-trace-extra-entries/app/next.config.js
  test/integration/middleware/without-builtin-module/test/index.test.js
  test/integration/react-streaming-and-server-components/app/node_modules/non-isomorphic-text/package.json
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/unit/fixtures/page-runtime/nodejs-ssr.js
  test/unit/parse-page-runtime.test.ts
Labels: type: next, created-by: Next.js team

#36902 Remove un-helpful error in with-sentry example
  examples/with-sentry/pages/_error.js
Labels: area: examples, created-by: Next.js team

#36910 fix(#36855/#30300): export 404.html correctly
  packages/next/export/index.ts
  test/integration/export-404/next.config.js
  test/integration/export-404/pages/404.js
  test/integration/export-404/test/index.test.js
  test/integration/export-override-404/test/index.test.js
Labels: type: next

#36913 Update no-floating-promises lint rule docs page
  docs/api-reference/next/router.md
Labels: area: documentation

#36912 Drop the unstable web vital hook and remove exports of flush effects
  docs/api-reference/next/streaming.md
  errors/client-flush-effects.md
  errors/manifest.json
  errors/multiple-flush-effects.md
  packages/next/client/index.tsx
  packages/next/client/streaming/index.ts
  packages/next/client/streaming/vitals.ts
  packages/next/server/render.tsx
  packages/next/server/view-render.tsx
  packages/next/shared/lib/flush-effects.ts
  test/integration/react-18/app/pages/use-flush-effect/client.js
  test/integration/react-18/app/pages/use-flush-effect/custom.js
  test/integration/react-18/app/pages/use-flush-effect/multiple-calls.js
  test/integration/react-18/test/concurrent.js
  test/integration/relay-analytics-disabled/pages/index.js
  test/integration/relay-analytics-disabled/test/index.test.js
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
Labels: area: documentation, type: next, created-by: Next.js team

#36906 Update to with-supertokens example
  examples/with-supertokens/package.json
Labels: area: examples

#36923 Update runtime-configuration.md
  docs/api-reference/next.config.js/runtime-configuration.md
Labels: area: documentation

#36745 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/disallow_re_export_all_in_page.rs
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/src/page_config.rs
  packages/next-swc/crates/core/src/remove_console.rs
  packages/next-swc/crates/core/src/shake_exports.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/emotion/src/lib.rs
  packages/next-swc/crates/emotion/tests/fixture.rs
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_components/src/utils/analyzer.rs
  packages/next-swc/crates/styled_components/src/utils/mod.rs
  packages/next-swc/crates/styled_components/src/visitors/transpile_css_prop/top_level_binding_collector.rs
  packages/next-swc/crates/styled_components/src/visitors/transpile_css_prop/transpile.rs
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/src/lib.rs
  packages/next-swc/crates/styled_jsx/src/transform_css.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#36921 Add additional layer for server components case
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-view-loader.ts
  packages/next/server/load-components.ts
  packages/next/server/view-render.tsx
  test/e2e/views-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#36909 Support graceful shutdowns
  docs/deployment.md
  packages/next/bin/next.ts
Labels: area: documentation, type: next

#36953 Update @types/node-fetch to latest
  packages/next/package.json
  yarn.lock
Labels: type: next

#36825 Fix SWC dynamic transform with suspense but without ssr
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/input.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-prod.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-server.js
  test/e2e/dynamic-with-suspense/index.test.ts
Labels: type: next

#36922 fix(#36651): disable reactRemoveProperties in jest transform
  packages/next/build/swc/options.js
  test/production/jest/remove-react-properties/app/jest.config.js
  test/production/jest/remove-react-properties/app/next.config.js
  test/production/jest/remove-react-properties/app/pages/index.js
  test/production/jest/remove-react-properties/remove-react-properties-jest.test.ts
Labels: type: next

#36972 Update swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#36959 Update lockfile patching for different versions
  packages/next/lib/patch-incorrect-lockfile.ts
Labels: type: next, created-by: Next.js team

#36584 Add support for browserslist and legacyBrowsers experimental option
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/server/config-shared.ts
  packages/next/shared/lib/constants.ts
  test/e2e/browserslist/app/pages/index.js
  test/e2e/browserslist/browserslist.test.ts
  test/e2e/browserslist/legacybrowsers-false.test.ts
  test/e2e/browserslist/legacybrowsers-true.test.ts
Labels: type: next, created-by: Next.js team

#36989 escape flight response values
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/escaping-rsc.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next

#36967 Clarify .env* environment variable priority
  docs/basic-features/environment-variables.md
Labels: area: documentation

#36955 fix(middleware): false positive dynamic code detection at build time
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/lib/next-modes/next-start.ts
  test/production/middleware-with-dynamic-code/index.test.ts
Labels: type: next

#37002 Fix interopDefault on jest object-proxy
  packages/next/taskfile-swc.js
  test/production/jest/index.test.ts
Labels: type: next, created-by: Next.js team

#36984 Simplify the logic for static flight response generation
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/load-components.ts
  packages/next/server/render.tsx
  packages/next/server/view-render.tsx
  packages/next/shared/lib/constants.ts
Labels: type: next, created-by: Next.js team

#37000 Fixes `beforeInteractive` scripts failing in custom document
  packages/next/build/webpack-config.ts
  test/e2e/next-script/index.test.ts
Labels: type: next, created-by: Chrome Aurora

#36985 Change experimental `layout=raw` to use native img lazy loading
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-raw-lazy-boundary.js
  test/integration/image-component/default/pages/layout-raw-placeholder-blur.js
  test/integration/image-component/default/test/index.test.js
Labels: area: documentation, type: next, created-by: Next.js team

#36944 Don't add locale to client side redirects from data fetching
  packages/next/shared/lib/router/router.ts
  test/e2e/i18n-data-fetching-redirect/app/next.config.js
  test/e2e/i18n-data-fetching-redirect/app/pages/gsp-blocking-redirect/[locale].js
  test/e2e/i18n-data-fetching-redirect/app/pages/gsp-fallback-redirect/[locale].js
  test/e2e/i18n-data-fetching-redirect/app/pages/gssp-redirect/[locale].js
  test/e2e/i18n-data-fetching-redirect/app/pages/home.js
  test/e2e/i18n-data-fetching-redirect/app/pages/index.js
  test/e2e/i18n-data-fetching-redirect/index.test.ts
Labels: type: next

#37042 Fix styled-jsx not working in client components in the edge runtime when SSR
  packages/next/build/webpack-config.ts
  test/integration/react-streaming-and-server-components/app/components/styled-jsx.client.js
  test/integration/react-streaming-and-server-components/app/pages/styled-jsx.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#37041 Update to latest version of @vercel/nft
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#37033 Fixes beforeInteractive inline scripts don't run
  packages/next/pages/_document.tsx
  test/integration/script-loader/base/pages/page7.js
  test/integration/script-loader/test/index.test.js
Labels: type: next

#37009 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#37046 Update to latest version of turbo
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  package.json
  yarn.lock
Labels: created-by: Next.js team

#37047 Fix copying local swc binary for pnpm test
  test/integration/pnpm-support/test/index.test.js
Labels: created-by: Next.js team

#36835 feat(middleware)!: forbids middleware response body
  .gitignore
  docs/advanced-features/middleware.md
  docs/api-reference/next/server.md
  errors/manifest.json
  errors/returning-response-body-in-middleware.md
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/error.ts
  packages/next/server/web/spec-compliant/response.ts
  packages/next/server/web/spec-extension/response.ts
  test/development/middleware-warnings/index.test.ts
  test/e2e/middleware-can-use-wasm-files/index.test.ts
  test/integration/middleware-build-errors/middleware.js
  test/integration/middleware-build-errors/pages/index.js
  test/integration/middleware-build-errors/test/index.test.js
  test/integration/middleware-dynamic-code/middleware.js
  test/integration/middleware-dynamic-code/test/index.test.js
  test/integration/middleware-general/middleware.js
  test/integration/middleware-general/test/index.test.js
  test/integration/middleware-responses/lib/utils.js
  test/integration/middleware-responses/middleware.js
  test/integration/middleware-responses/test/index.test.js
  test/production/dependencies-can-use-env-vars-in-middlewares/index.test.ts
  test/production/generate-middleware-source-maps/index.test.ts
  test/production/middleware-environment-variables-in-node-server-reflect-the-usage-inference/index.test.ts
  test/production/middleware-typescript/app/middleware.ts
  test/production/middleware-typescript/test/index.test.ts
  test/production/reading-request-body-in-middleware/index.test.ts
  test/unit/web-runtime/next-cookies.test.ts
  test/unit/web-runtime/next-response.test.ts
Labels: area: examples, area: documentation, type: next

#37049 Add note clarifying pnpm args handling
  docs/getting-started.md
Labels: area: documentation, created-by: Next.js team

#37062 Extract and refactor `getPageStaticInfo`
  packages/next/build/analysis/extract-const-value.ts
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/analysis/parse-module.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/lib/with-promise-cache.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/unit/parse-page-runtime.test.ts
Labels: type: next

#37071 Update a couple flakey tests
  test/integration/cli/test/index.test.js
  test/integration/pnpm-support/app-multi-page/.babelrc
  test/integration/pnpm-support/app-multi-page/package.json
  test/integration/pnpm-support/app/.babelrc
  test/integration/pnpm-support/app/package.json
  test/integration/pnpm-support/test/index.test.js
  test/production/pnpm-support/app-multi-page/.npmrc
  test/production/pnpm-support/app-multi-page/next.config.js
  test/production/pnpm-support/app-multi-page/pages/about.js
  test/production/pnpm-support/app-multi-page/pages/index.js
  test/production/pnpm-support/app/next.config.js
  test/production/pnpm-support/app/pages/index.js
  test/production/pnpm-support/app/pages/regenerator.js
  test/production/pnpm-support/test/index.test.ts
Labels: created-by: Next.js team

#37044 Keep custom app as non server component
  docs/advanced-features/react-18/server-components.md
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/client/index.tsx
  packages/next/export/index.ts
  packages/next/pages/_app.server.tsx
  packages/next/server/load-components.ts
  packages/next/server/render.tsx
  packages/next/taskfile.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/_app.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/_app.server.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: area: documentation, type: next, created-by: Next.js team

#37074 Ensure hydration error doc link is shown with react 18
  packages/next/client/next-dev.js
  packages/react-dev-overlay/src/client.ts
  test/development/basic/hmr.test.ts
  test/development/basic/hmr/pages/hydration-error.js
Labels: type: next, created-by: Next.js team

#37058 Stabilize SWC emotion transform plugin
  docs/advanced-features/compiler.md
  examples/with-emotion-swc/next.config.js
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  test/development/basic/emotion-swc/next.config.js
Labels: area: examples, area: documentation, type: next

#37019 Enable E2E deploy tests on publish
  .github/workflows/build_test_deploy.yml
  scripts/reset-vercel-project.mjs
  test/e2e/i18n-api-support/index.test.ts
  test/e2e/manual-client-base-path/index.test.ts
  test/e2e/views-dir/index.test.ts
Labels: created-by: Next.js team

#37092 typo: Change yarn into pnpm
  docs/api-reference/create-next-app.md
Labels: area: documentation

#37054 custom-server-express fix type definition and eliminate dead code
  examples/custom-server-express/server.js
Labels: area: examples

#36876 Include router.asPath caveats in docs
  docs/advanced-features/automatic-static-optimization.md
  docs/api-reference/next/router.md
Labels: area: documentation

#36993 DecodeError from invalid URI causes 500 with middleware (vs 400 without)
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  test/integration/middleware-general/test/index.test.js
Labels: type: next

#36951 feat: Opt-out Error page from dark scheme color
  packages/next/pages/_error.tsx
Labels: type: next

#37091 Properly await for this.hasPage() in base-server
  packages/next/server/base-server.ts
Labels: type: next

#36750 Enable Trusted Types Compatibility in Webpack
  packages/next/build/webpack-config.ts
Labels: type: next

#35387 fix(examples/with-segment-analytics): Update README
  examples/with-segment-analytics/README.md
Labels: area: examples

#35588 fix(with-tailwindcss-emotion): 'theme' of undefined
  examples/with-tailwindcss-emotion/package.json
  examples/with-tailwindcss-emotion/tailwind.config.js
Labels: area: examples

#35022 update zustand example
  examples/with-zustand/lib/store.js
  examples/with-zustand/package.json
  examples/with-zustand/pages/ssg.js
  examples/with-zustand/pages/ssr.js
Labels: area: examples

#36751 Fix Trusted Types violations from dangerouslySetInnerHTML on style elements
  packages/react-dev-overlay/src/internal/styles/Base.tsx
  packages/react-dev-overlay/src/internal/styles/ComponentStyles.tsx
  packages/react-dev-overlay/src/internal/styles/CssReset.tsx
Labels: type: next

#36457 Remove invalid attrs for head html element
  packages/next/pages/_document.tsx
  test/integration/amphtml/pages/_document.js
Labels: type: next

#36430 Fix next/link can't jump to non-latin anchors
  packages/next/shared/lib/router/router.ts
  test/integration/client-navigation/pages/nav/hash-changes.js
  test/integration/client-navigation/pages/nav/index.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#35051 Fix: Cleaner error message when importing sass without it being installed in dev
  packages/next/build/index.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
  test/integration/scss/test/index.test.js
Labels: type: next

#30045 example: Added with-contentlayer example
  examples/with-contentlayer/.gitignore
  examples/with-contentlayer/README.md
  examples/with-contentlayer/contentlayer.config.js
  examples/with-contentlayer/next.config.js
  examples/with-contentlayer/package.json
  examples/with-contentlayer/pages/_app.js
  examples/with-contentlayer/pages/index.js
  examples/with-contentlayer/pages/posts/[id].js
  examples/with-contentlayer/posts/pre-rendering.md
  examples/with-contentlayer/posts/ssg-ssr.md
  examples/with-contentlayer/styles/globals.css
  examples/with-contentlayer/styles/utils.module.css
Labels: area: examples

#36823 fix(#33081): handle relative path correctly
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/parse-relative-url.ts
  packages/next/shared/lib/utils.ts
  test/integration/client-navigation/pages/nav/relative-1.js
  test/integration/client-navigation/pages/nav/relative-2.js
  test/integration/client-navigation/pages/nav/relative/index.js
  test/integration/client-navigation/test/index.test.js
  test/unit/parse-relative-url.test.ts
Labels: type: next

#36620 docs: clarify environment variables behavior
  docs/basic-features/environment-variables.md
Labels: area: documentation

#36561 fix: place the charset meta tag at the top of the head
  packages/next/shared/lib/head.tsx
  test/e2e/next-head/index.test.ts
Labels: type: next

#35918 docs: Add pageExtensions usage note in API Routes
  docs/api-routes/introduction.md
Labels: area: documentation

#36539 keep method when cloning Request, fixes #36522
  packages/next/server/web/spec-compliant/request.ts
  test/unit/web-runtime/request.test.ts
Labels: type: next

#35310 Merge multiple log statements
  packages/create-next-app/index.ts
  test/integration/client-navigation/test/index.test.js
Labels: area: create-next-app

#36828 fix: Catch hash change errors, and emit a `routeChangeError` event
  packages/next/shared/lib/router/router.ts
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#36570 fix: should listen for config file changes when specifying the app directory
  packages/next/bin/next.ts
  packages/next/cli/next-dev.ts
  test/development/watch-config-file/index.test.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
Labels: type: next

#36410 docs: svg as component example leveraging swc instead of babeljs
  examples/svg-components/.babelrc
  examples/svg-components/.gitignore
  examples/svg-components/README.md
  examples/svg-components/next-env.d.ts
  examples/svg-components/next.config.js
  examples/svg-components/package.json
  examples/svg-components/pages/index.js
  examples/svg-components/pages/index.tsx
  examples/svg-components/styles/index.module.css
  examples/svg-components/tsconfig.json
Labels: area: examples

#35169 Fix gh-pages example for windows user
  examples/gh-pages/package.json
Labels: area: examples

#34287 improve getStaticProps error message
  packages/next/server/render.tsx
  test/development/watch-config-file/index.test.ts
  test/integration/mixed-ssg-serverprops-error/test/index.test.js
Labels: type: next

#33805 next-swc: Improve error message for nested styled jsx tags
  errors/manifest.json
  errors/nested-styled-jsx-tags.md
  packages/next-swc/crates/styled_jsx/src/lib.rs
  packages/next-swc/crates/styled_jsx/tests/errors/nested-style-tags/input.js
  packages/next-swc/crates/styled_jsx/tests/errors/nested-style-tags/output.js
  packages/next-swc/crates/styled_jsx/tests/errors/nested-style-tags/output.stderr
Labels: area: documentation, type: next

#33401 Add docs about locale
  docs/api-reference/data-fetching/get-static-paths.md
Labels: area: documentation, created-by: Next.js docs team

#33212 Clarify conditions under which process.env expressions are inlined
  docs/basic-features/environment-variables.md
Labels: area: documentation

#25051 Use apollo onError in with-apollo example
  examples/with-apollo/lib/apolloClient.js
Labels: area: examples

#25691 Add missing file in mini-css-extract-plugin
  packages/next/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/taskfile.js
Labels: type: next

#25532 fix NextApiRequestCookies and NextApiRequestQuery types
  packages/next/server/api-utils/index.ts
  packages/next/server/api-utils/node.ts
  packages/next/shared/lib/i18n/get-locale-metadata.ts
  packages/next/shared/lib/utils.ts
Labels: type: next

#29954 Update testing.md
  docs/testing.md
Labels: area: documentation

#32678 Add eslint rule for not allowing styled-jsx in _document.js
  docs/basic-features/eslint.md
  errors/manifest.json
  errors/no-styled-jsx-in-document.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-styled-jsx-in-document.js
  test/unit/eslint-plugin-next/no-styled-jsx-in-document.test.ts
Labels: area: documentation, type: next

#36861 fix: Scroll restoration bug caused by `idx` reset to 0 on reload
  packages/next/shared/lib/router/router.ts
  test/e2e/reload-scroll-backforward-restoration/index.test.ts
  test/e2e/reload-scroll-backforward-restoration/next.config.js
  test/e2e/reload-scroll-backforward-restoration/pages/[id].js
Labels: type: next

#27799 [EXAMPLES] fix apollo client cache hydration
  examples/api-routes-apollo-server-and-client/apollo/client.js
  examples/api-routes-apollo-server-and-client/package.json
Labels: area: examples

#37039 docs(with-sentry): Add note regarding replacing wizardcopy.js config files
  examples/with-sentry/README.md
Labels: area: examples

#24556 Add section for jetbrains webstorm debugging
  docs/advanced-features/debugging.md
  test/e2e/reload-scroll-backforward-restoration/index.test.ts
Labels: area: documentation

#36392 Add JSX.Element to styles type in DocumentInitialProps
  packages/next/shared/lib/utils.ts
Labels: area: examples, type: next

#36671 Fix Type to solve issue found in #36008
  test/production/typescript-basic/app/pages/_document.tsx
Labels: type: next

#35270 Warn when building a TS project with composite: true and fallback to incremental
  packages/next/lib/typescript/runTypeCheck.ts
Labels: type: next

#35281 Support TS exactOptionalPropertyTypes (fixes #35280)
  packages/next/server/base-server.ts
  packages/next/shared/lib/router/router.ts
Labels: type: next

#37014 Add tests for getStaticProps and getServerSideProps
  test/e2e/views-dir/app-rendering/next.config.js
  test/e2e/views-dir/app-rendering/pages/.gitkeep
  test/e2e/views-dir/app-rendering/views/getserversideprops-only/layout.server.js
  test/e2e/views-dir/app-rendering/views/getserversideprops-only/nested/page.server.js
  test/e2e/views-dir/app-rendering/views/getserversideprops-only/slow/index/page.server.js
  test/e2e/views-dir/app-rendering/views/getserversideprops-only/slow/layout.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-getserversideprops-combined/nested/index/page.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-getserversideprops-combined/nested/layout.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-getserversideprops-combined/slow/index/page.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-getserversideprops-combined/slow/layout.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-isr-multiple/layout.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-isr-multiple/nested/page.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-only/layout.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-only/nested/page.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-only/slow/index/page.server.js
  test/e2e/views-dir/app-rendering/views/getstaticprops-only/slow/layout.server.js
  test/e2e/views-dir/rendering.test.ts
Labels: created-by: Next.js team

#36980 feat(middleware): issues warnings when using node.js global APIs in middleware
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/shared/lib/constants.ts
  test/integration/middleware-overrides-node.js-api/middleware.js
  test/integration/middleware-overrides-node.js-api/pages/index.js
  test/integration/middleware-overrides-node.js-api/test/index.test.ts
  test/integration/middleware-with-node.js-apis/middleware.js
  test/integration/middleware-with-node.js-apis/pages/index.js
  test/integration/middleware-with-node.js-apis/test/index.test.ts
Labels: type: next

#37105 perf: run type check and eslint in parallel
  packages/next/build/index.ts
Labels: type: next

#36439 feat(examples): build a GraphQL Gateway with GraphQL Mesh and Next.js API routes
  examples/with-graphql-gateway/.gitignore
  examples/with-graphql-gateway/.meshrc.yaml
  examples/with-graphql-gateway/README.md
  examples/with-graphql-gateway/next-env.d.ts
  examples/with-graphql-gateway/next.config.js
  examples/with-graphql-gateway/package.json
  examples/with-graphql-gateway/pages/_app.tsx
  examples/with-graphql-gateway/pages/api/graphql.ts
  examples/with-graphql-gateway/pages/index.tsx
  examples/with-graphql-gateway/public/favicon.ico
  examples/with-graphql-gateway/public/vercel.svg
  examples/with-graphql-gateway/styles/Home.module.css
  examples/with-graphql-gateway/styles/globals.css
  examples/with-graphql-gateway/tsconfig.json
Labels: area: examples

#36155 feat(examples): refactor `api-routes-graphql` to GraphQL Yoga
  examples/api-routes-graphql/README.md
  examples/api-routes-graphql/package.json
  examples/api-routes-graphql/pages/api/graphql.js
Labels: area: examples

#36240 refactor(examples/with-typescript-graphql): use codegen `TypedDocumentNode` and GraphQL Yoga for better DX and smaller bundle size
  examples/with-typescript-graphql/.babelrc
  examples/with-typescript-graphql/.gitignore
  examples/with-typescript-graphql/.graphql-let.yml
  examples/with-typescript-graphql/README.md
  examples/with-typescript-graphql/codegen.yml
  examples/with-typescript-graphql/graphql.d.ts
  examples/with-typescript-graphql/lib/apollo.ts
  examples/with-typescript-graphql/lib/documents/updateName.graphql
  examples/with-typescript-graphql/lib/documents/viewer.graphql
  examples/with-typescript-graphql/lib/partial.graphql
  examples/with-typescript-graphql/lib/resolvers.ts
  examples/with-typescript-graphql/lib/schema.ts
  examples/with-typescript-graphql/lib/type-defs.graphqls
  examples/with-typescript-graphql/lib/user.graphqls
  examples/with-typescript-graphql/lib/viewer.graphql
  examples/with-typescript-graphql/next.config.js
  examples/with-typescript-graphql/package.json
  examples/with-typescript-graphql/pages/api/graphql.ts
  examples/with-typescript-graphql/pages/index.tsx
  examples/with-typescript-graphql/tsconfig.json
Labels: area: examples

#37130 Remove process.cwd usage from path polyfill
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/compiled/path-browserify/index.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#37131 Add libc field to swc packages
  packages/next-swc/crates/napi/npm/linux-arm64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-arm64-musl/package.json
  packages/next-swc/crates/napi/npm/linux-x64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-x64-musl/package.json
Labels: type: next, created-by: Next.js team

#37113 chore(devDeps): bump @vercel/ncc to 0.33.4
  packages/create-next-app/package.json
  packages/next-env/package.json
  packages/next/package.json
  yarn.lock
Labels: type: next, area: create-next-app

#37125 fix(typescript): worker execution failed with custom `next.config.js`
  packages/next/build/index.ts
  packages/next/lib/typescript/getTypeScriptIntent.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/dev/next-dev-server.ts
  test/integration/typescript/test/index.test.js
Labels: type: next
