Repository vercel/next.js, pull requests merged in 2022-06, with the labels that each got.

#37351 Remove extra prettier config from tailwindcss example
  examples/with-tailwindcss/prettier.config.js
Labels: area: examples

#37332 Handle link with back/forward navigation
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/client/app-index.tsx
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/userouter.ts
  packages/next/client/link.tsx
  packages/next/server/app-render.tsx
  packages/next/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#37364 docs: fix usage in middleware errors
  docs/advanced-features/middleware.md
  errors/returning-response-body-in-middleware.md
Labels: area: documentation, created-by: Next.js team

#37368 Update nested Middleware error reference.
  errors/nested-middleware.md
Labels: area: documentation, created-by: Next.js team

#37370 Update missed yarn -> pnpm in contributing
  contributing.md
Labels: created-by: Next.js team

#37349 Edge Functions: deprecate access to `request.page`
  errors/manifest.json
  errors/middleware-request-page.md
  packages/next/server/web/adapter.ts
  packages/next/server/web/error.ts
  packages/next/server/web/spec-extension/fetch-event.ts
  packages/next/server/web/spec-extension/request.ts
  test/integration/middleware-general/middleware.js
  test/integration/middleware-general/test/index.test.js
  test/production/middleware-typescript/app/middleware.ts
Labels: area: documentation, type: next

#37383 Fix bloat in main bundle from amp
  packages/next/export/worker.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/amp-mode.ts
  packages/next/shared/lib/amp.ts
  packages/next/shared/lib/head.tsx
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#37393 Add Suspense boundary to demo
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#37406 Use the new moduleMap option in the flight client during SSR
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  packages/next/server/app-render.tsx
  packages/next/server/render.tsx
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#37404 Remove unused id rsc cache cleaning and avoid rsc refresh existed in client chunk
  packages/next/client/index.tsx
  packages/next/server/app-render.tsx
  packages/next/server/render.tsx
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#37402 Update for CMS Wordpress Example.
  examples/cms-wordpress/.env.local.example
  examples/cms-wordpress/lib/api.js
  examples/cms-wordpress/next.config.js
  examples/cms-wordpress/package.json
  examples/cms-wordpress/pages/index.js
  examples/cms-wordpress/pages/posts/[slug].js
Labels: area: examples

#37432 Fix font-optimization snapshot test
  test/integration/font-optimization/fixtures/with-google/manifest-snapshot.json
Labels: created-by: Next.js team

#37177 Allow Middleware to set its matcher
  packages/next/build/analysis/extract-const-value.ts
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/get-module-build-info.ts
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  pnpm-lock.yaml
  test/e2e/middleware-can-set-the-matcher-in-its-config/index.test.ts
Labels: area: documentation, type: next, area: create-next-app

#37430 Skip loading unused plugins in `next dev`
  packages/next/build/load-jsconfig.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/index.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseScss.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#37381 Fix `next/image` using `layout=raw` with `priority`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/priority.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#37443 Fix document head with react 18
  packages/next/server/render.tsx
  test/e2e/next-head/app/pages/_document.js
  test/e2e/next-head/index.test.ts
Labels: type: next

#37477 Update tests root->app
  test/e2e/app-dir/app/app/(rootonly)/dashboard/changelog/page.server.js
  test/e2e/app-dir/app/app/(rootonly)/dashboard/hello/page.server.js
  test/e2e/app-dir/app/app/client-component-route/page.client.js
  test/e2e/app-dir/app/app/client-nested/page.server.js
  test/e2e/app-dir/app/app/dashboard/(custom)/deployments/breakdown/page.server.js
  test/e2e/app-dir/app/app/dashboard/deployments/[id]/page.server.js
  test/e2e/app-dir/app/app/dashboard/deployments/info/page.server.js
  test/e2e/app-dir/app/app/dashboard/index/page.server.js
  test/e2e/app-dir/app/app/dashboard/integrations/page.server.js
  test/e2e/app-dir/app/app/dashboard/page.server.js
  test/e2e/app-dir/app/app/partial-match-[id]/page.server.js
  test/e2e/app-dir/app/app/shared-component-route/page.js
  test/e2e/app-dir/app/app/should-not-serve-client/page.client.js
  test/e2e/app-dir/app/app/should-not-serve-server/page.server.js
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#37416 Set `swcMinify` as an attribute on `terser-webpack-plugin-optimize` span
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
Labels: type: next

#37417 Allowing hiding the ReactDevOverlay
  packages/react-dev-overlay/src/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/icons/CloseIcon.tsx
  packages/react-dev-overlay/src/internal/styles/Base.tsx
  test/development/client-dev-overlay/app/pages/index.js
  test/development/client-dev-overlay/index.test.ts
Labels: type: next

#37486 Ensure ENOENT error is not ignored when loading pages
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/server/require.ts
  packages/next/shared/lib/utils.ts
  test/integration/non-standard-node-env-warning/test/index.test.js
  test/production/enoent-during-require/index.test.ts
  test/unit/isolated/require-page.test.ts
Labels: type: next, created-by: Next.js team

#37492 Fix invalid middleware regexp in manifest
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/next-server.ts
  test/integration/middleware-general/test/index.test.js
Labels: type: next, created-by: Next.js team

#37480 Add note about NEXT_DATA hydration
  docs/api-reference/data-fetching/get-initial-props.md
  docs/basic-features/data-fetching/get-server-side-props.md
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation, created-by: Next.js docs team

#37436 test: upgrade playwright-chromium from 1.14.1 to 1.22.2
  .github/workflows/build_test_deploy.yml
  .github/workflows/test_react_experimental.yml
  .github/workflows/test_react_next.yml
  package.json
  pnpm-lock.yaml
  test/integration/i18n-support-base-path/pages/index.js
  test/integration/i18n-support/pages/index.js
Labels: created-by: Chrome Aurora

#37431 Avoid unnecessary router state changes
  packages/next/shared/lib/router/router.ts
  test/integration/rewrites-client-rerender/next.config.js
  test/integration/rewrites-client-rerender/pages/index.js
  test/integration/rewrites-client-rerender/test/index.test.js
Labels: type: next, created-by: Next.js team

#37518 Update flakey preview test
  test/integration/prerender-preview/pages/index.js
Labels: created-by: Next.js team

#37519 Add middleware size stats
  test/.stats-app/middleware.js
  test/.stats-app/stats-config.js
Labels: created-by: Next.js team

#37485 Add check for duplicate locales
  packages/next/server/config.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next

#37538 chore: remove unused variable
  packages/next/build/utils.ts
Labels: type: next

#37540 [middleware] Support any `method` when fetching a `Request` instance
  packages/next/lib/pick.ts
  packages/next/server/web/sandbox/context.ts
  test/e2e/middleware-fetches-with-any-http-method/index.test.ts
Labels: type: next

#37526 Migrate head side effects to hooks
  packages/next/client/head-manager.ts
  packages/next/shared/lib/head.tsx
  packages/next/shared/lib/side-effect.tsx
  test/integration/client-navigation-a11y/next.config.js
  test/integration/client-navigation-a11y/test/index.test.js
  test/integration/client-navigation/pages/head-dynamic.js
  test/integration/client-navigation/test/index.test.js
Labels: type: next, created-by: Next.js team

#37541 chore: remove unused safari nomodule fix
  packages/next/pages/_document.tsx
Labels: type: next

#37428 fix(#37106): middleware can not be loaded from src folder
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/build/webpack/plugins/middleware-source-maps-plugin.ts
  packages/next/lib/constants.ts
  packages/next/lib/flat-readdir.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/integration/middleware-src/src/middleware.js
  test/integration/middleware-src/src/middleware.ts
  test/integration/middleware-src/src/pages/index.js
  test/integration/middleware-src/test/index.test.js
Labels: type: next

#37490 Remove Middleware Preflight
  package.json
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/client/page-loader.ts
  packages/next/compiled/@edge-runtime/primitives/index.js
  packages/next/compiled/@edge-runtime/primitives/package.json
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/spec-extension/request.ts
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/get-next-pathname-info.ts
  packages/next/shared/lib/router/utils/parse-relative-url.ts
  pnpm-lock.yaml
  test/integration/middleware-base-path/test/index.test.js
  test/integration/middleware-general/middleware.js
  test/integration/middleware-general/next.config.js
  test/integration/middleware-general/pages/error-throw.js
  test/integration/middleware-general/pages/error.js
  test/integration/middleware-general/test/index.test.js
  test/integration/middleware-prefetch/middleware.js
  test/integration/middleware-prefetch/pages/index.js
  test/integration/middleware-prefetch/pages/ssg-page-2.js
  test/integration/middleware-prefetch/pages/ssg-page.js
  test/integration/middleware-prefetch/tests/index.test.js
  test/integration/middleware-preflight/middleware.js
  test/integration/middleware-preflight/next.config.js
  test/integration/middleware-preflight/test/index.test.js
  test/integration/middleware-redirects/middleware.js
  test/integration/middleware-redirects/next.config.js
  test/integration/middleware-redirects/pages/index.js
  test/integration/middleware-redirects/pages/new-home.js
  test/integration/middleware-redirects/test/index.test.js
  test/integration/middleware-rewrites/middleware.js
  test/integration/middleware-rewrites/next.config.js
  test/integration/middleware-rewrites/pages/ab-test/a.js
  test/integration/middleware-rewrites/pages/ab-test/b.js
  test/integration/middleware-rewrites/pages/i18n.js
  test/integration/middleware-rewrites/pages/index.js
  test/integration/middleware-rewrites/test/index.test.js
  test/integration/middleware-with-node.js-apis/middleware.js
  test/integration/middleware-with-node.js-apis/test/index.test.ts
  test/unit/web-runtime/next-url.test.ts
Labels: type: next

#37515 fix(eslint): false positive for legit next/server imports
  packages/eslint-plugin-next/lib/rules/no-server-import-in-page.js
  test/unit/eslint-plugin-next/no-server-import-in-page.test.ts
Labels: type: next

#37513 chore: reworks nested middleware error message
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  packages/next/server/dev/next-dev-server.ts
  test/integration/middleware-module-errors/pages/about/_middleware.js
  test/integration/middleware-module-errors/test/index.test.js
Labels: type: next

#37571 Update deployment documentation.
  docs/deployment.md
Labels: area: documentation, created-by: Next.js team

#37572 Revert "Avoid unnecessary router state changes"
  packages/next/shared/lib/router/router.ts
  test/integration/rewrites-client-rerender/next.config.js
  test/integration/rewrites-client-rerender/pages/index.js
  test/integration/rewrites-client-rerender/test/index.test.js
Labels: type: next, created-by: Next.js team

#37512 Middleware: remove `req.ua`
  errors/manifest.json
  errors/middleware-request-page.md
  errors/middleware-user-agent.md
  packages/next/server.d.ts
  packages/next/server.js
  packages/next/server/web/adapter.ts
  packages/next/server/web/error.ts
  packages/next/server/web/spec-extension/fetch-event.ts
  packages/next/server/web/spec-extension/request.ts
  packages/next/server/web/spec-extension/user-agent.ts
  test/unit/web-runtime/user-agent.test.ts
Labels: area: documentation, type: next

#37556 [middleware] support destructuring for env vars in static analysis
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/integration/middleware-general/middleware.js
  test/integration/middleware-general/test/index.test.js
Labels: type: next

#37562 Fix react root env missing in NextServer
  packages/next/bin/next.ts
  packages/next/server/next-server.ts
  packages/next/server/next.ts
  packages/next/server/render.tsx
  test/production/react-18-streaming-ssr/custom-server/next.config.js
  test/production/react-18-streaming-ssr/custom-server/pages/index.server.js
  test/production/react-18-streaming-ssr/custom-server/server.js
  test/production/react-18-streaming-ssr/index.test.ts
  test/production/react-18-streaming-ssr/streaming-ssr/next.config.js
  test/production/react-18-streaming-ssr/streaming-ssr/pages/hello.js
  test/production/react-18-streaming-ssr/streaming-ssr/pages/index.js
  test/production/react-18-streaming-ssr/streaming-ssr/pages/multi-byte.js
Labels: type: next, created-by: Next.js team

#37561 Fix client entry unexpectedly created in app dir
  packages/next/build/entries.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#37592 Ensure check-precompiled exits correctly on failure
  .github/workflows/build_test_deploy.yml
  packages/next/compiled/babel-packages/packages-bundle.js
  packages/next/compiled/mini-css-extract-plugin/cjs.js
  packages/next/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/compiled/mini-css-extract-plugin/index.js
  packages/next/compiled/mini-css-extract-plugin/loader.js
  packages/next/compiled/sass-loader/cjs.js
  scripts/check-pre-compiled.sh
Labels: type: next, created-by: Next.js team

#37581 i18n regression tests and docs for ignore locale in rewrite
  docs/api-reference/next.config.js/redirects.md
  docs/api-reference/next.config.js/rewrites.md
  test/e2e/i18n-ignore-redirect-source-locale/app/pages/newpage.js
  test/e2e/i18n-ignore-redirect-source-locale/redirects-with-basepath.test.ts
  test/e2e/i18n-ignore-redirect-source-locale/redirects.test.ts
  test/e2e/i18n-ignore-rewrite-source-locale/rewrites-with-basepath.test.ts
  test/e2e/i18n-ignore-rewrite-source-locale/rewrites.test.ts
  test/integration/i18n-support/public/files/texts/file.txt
  test/integration/i18n-support/test/shared.js
Labels: area: documentation

#37617 Strip next internal queries for flight response
  packages/next/server/app-render.tsx
  packages/next/server/render.tsx
  packages/next/server/utils.ts
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#37629 Fix failing swc builds
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#37630 Update usage of example.com -> example.vercel.sh
  test/e2e/basepath.test.ts
  test/e2e/middleware-general/app/middleware.js
  test/production/required-server-files/pages/api/optional/[[...rest]].js
  test/production/required-server-files/pages/fallback/[slug].js
  test/production/required-server-files/pages/gssp.js
Labels: created-by: Next.js team

#37434 Fix with mux video example
  contributing.md
  examples/with-mux-video/components/upload-form.js
Labels: area: examples

#37582 chore: narrows regexp to enable middleware source maps
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/build/webpack/plugins/middleware-source-maps-plugin.ts
  packages/next/lib/constants.ts
  test/integration/async-modules/test/index.test.js
  test/production/generate-middleware-source-maps/index.test.ts
Labels: type: next

#37635 Changed _app.js to a functional component
  examples/with-context-api/pages/_app.js
Labels: area: examples

#37633 Bump version tailwindcss example to 3.1
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/tailwind.config.js
Labels: area: examples

#37642 feat(next export): add warning if using getInitialProps
  errors/get-initial-props-export.md
  errors/manifest.json
  packages/next/server/render.tsx
  test/integration/auto-export-query-error/next.config.js
  test/integration/auto-export-query-error/test/index.test.js
  test/integration/export-getInitialProps-warn/next.config.js
  test/integration/export-getInitialProps-warn/pages/index.js
  test/integration/export-getInitialProps-warn/test/index.test.js
Labels: area: documentation, type: next

#37650 Update with-faunadb dependencies
  examples/with-fauna/package.json
  examples/with-fauna/pages/index.js
  examples/with-fauna/tailwind.config.js
Labels: area: examples

#37568 [Script] Updates stale `no-script-in-document-page` error doc
  errors/no-script-in-document-page.md
Labels: area: documentation, created-by: Chrome Aurora

#37658 Request library required by setup
  examples/with-fauna/package.json
Labels: area: examples

#37481 Re-introduce Edge API Endpoints
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/get-module-build-info.ts
  packages/next/build/webpack/loaders/next-edge-function-loader.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/body-streams.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/api/hello.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/api/node.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: type: next

#37664 Allow passing FileRef directly to createNext
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team

#37669 Fix rewrite/dynamic interpolation E2E cases
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#37625 Fix Image Optimization cache-control regression with external images
  docs/api-reference/next/image.md
  packages/next/server/image-optimizer.ts
  packages/next/server/next-server.ts
  test/integration/image-optimizer/test/index.test.js
  test/integration/image-optimizer/test/util.js
Labels: area: documentation, type: next, created-by: Next.js team

#37672 Ensure custom middleware matcher is used correctly in client manifest
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-matcher/app/middleware.js
  test/e2e/middleware-matcher/app/pages/another-middleware.js
  test/e2e/middleware-matcher/app/pages/blog/[slug].js
  test/e2e/middleware-matcher/app/pages/index.js
  test/e2e/middleware-matcher/app/pages/with-middleware.js
  test/e2e/middleware-matcher/index.test.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#37676 Convert active-class-name example to TypeScript
  examples/active-class-name/components/ActiveLink.tsx
  examples/active-class-name/components/Nav.tsx
  examples/active-class-name/next-env.d.ts
  examples/active-class-name/package.json
  examples/active-class-name/pages/[slug].tsx
  examples/active-class-name/pages/about.tsx
  examples/active-class-name/pages/index.tsx
  examples/active-class-name/tsconfig.json
Labels: area: examples

#32668 Add with-docker-compose example
  examples/with-docker-compose/.dockerignore
  examples/with-docker-compose/.env
  examples/with-docker-compose/.gitignore
  examples/with-docker-compose/README.md
  examples/with-docker-compose/docker-compose.dev.yml
  examples/with-docker-compose/docker-compose.prod-without-multistage.yml
  examples/with-docker-compose/docker-compose.prod.yml
  examples/with-docker-compose/next-app/.gitignore
  examples/with-docker-compose/next-app/dev.Dockerfile
  examples/with-docker-compose/next-app/next-env.d.ts
  examples/with-docker-compose/next-app/next.config.js
  examples/with-docker-compose/next-app/package.json
  examples/with-docker-compose/next-app/prod-without-multistage.Dockerfile
  examples/with-docker-compose/next-app/prod.Dockerfile
  examples/with-docker-compose/next-app/public/favicon.ico
  examples/with-docker-compose/next-app/public/vercel.svg
  examples/with-docker-compose/next-app/src/pages/_app.tsx
  examples/with-docker-compose/next-app/src/pages/index.tsx
  examples/with-docker-compose/next-app/src/styles/Home.module.css
  examples/with-docker-compose/next-app/src/styles/globals.css
  examples/with-docker-compose/next-app/tsconfig.json
Labels: area: examples

#37688 Optimize middleware regex handling
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/client/page-loader.ts
  packages/next/client/route-loader.ts
  packages/next/server/next-server.ts
  packages/next/shared/lib/router/router.ts
Labels: type: next, created-by: Next.js team

#37692 Revert "Revert "Revert "Avoid unnecessary router state changes"""
  packages/next/shared/lib/router/router.ts
  test/integration/rewrites-client-rerender/next.config.js
  test/integration/rewrites-client-rerender/pages/index.js
  test/integration/rewrites-client-rerender/test/index.test.js
Labels: type: next, created-by: Next.js team

#37694 Update middleware matcher e2e test
  test/e2e/middleware-matcher/index.test.ts
Labels: created-by: Next.js team

#37667 Add test combining middleware & config rewrites
  packages/next/server/base-server.ts
  test/e2e/middleware-general/app/next.config.js
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-redirects/test/index.test.ts
  test/e2e/middleware-rewrites/app/middleware.js
  test/e2e/middleware-rewrites/app/next.config.js
  test/e2e/middleware-rewrites/app/pages/index.js
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: type: next

#37700 fix(ts): expose `DynamicOptionsLoadingProps` type
  packages/next/shared/lib/dynamic.tsx
Labels: type: next

#37695 Improve Middleware errors
  packages/next/client/index.tsx
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/utils.ts
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/container/Errors.tsx
  packages/react-dev-overlay/src/internal/helpers/getErrorByType.ts
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
  test/integration/middleware-dev-errors/lib/unhandled.js
  test/integration/middleware-dev-errors/lib/unparseable.js
  test/integration/middleware-dev-errors/middleware.js
  test/integration/middleware-dev-errors/pages/index.js
  test/integration/middleware-dev-errors/test/index.test.js
  test/integration/middleware-with-node.js-apis/test/index.test.ts
Labels: type: next

#37705 Update Jest config with SWC docs
  docs/advanced-features/compiler.md
Labels: area: documentation

#37716 Fix shallow routing with rewrites/middleware
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-general/app/next.config.js
  test/e2e/middleware-general/app/pages/shallow.js
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next

#37697 chore: bump react dev dep to 18.2
  package.json
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/compiled/mini-css-extract-plugin/cjs.js
  packages/next/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/compiled/mini-css-extract-plugin/index.js
  packages/next/compiled/mini-css-extract-plugin/loader.js
  packages/next/compiled/sass-loader/cjs.js
  packages/next/server/lib/incremental-cache/index.ts
  pnpm-lock.yaml
  test/integration/next-dynamic-lazy-compilation/test/index.test.js
  test/integration/next-dynamic/test/index.test.js
Labels: type: next, created-by: Next.js team

#37724 Ensure rewrite query params with middleware are available in router
  packages/next/server/base-server.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-general/app/next.config.js
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team

#37729 Update pre-compiled
  packages/next/compiled/mini-css-extract-plugin/cjs.js
  packages/next/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/compiled/mini-css-extract-plugin/index.js
  packages/next/compiled/mini-css-extract-plugin/loader.js
  packages/next/compiled/sass-loader/cjs.js
Labels: type: next, created-by: Next.js team

#37570 fix(eslint): allow <img> in conjunction with <picture> (#37504)
  errors/no-img-element.md
  packages/eslint-plugin-next/lib/rules/no-img-element.js
  test/unit/eslint-plugin-next/no-img-element.test.ts
Labels: area: documentation, type: next

#37737 Update Ghost CMS Example: Accept-Version Header API requirement, typo
  examples/cms-ghost/lib/api.js
  examples/cms-ghost/next.config.js
Labels: area: examples

#37681 [middleware] Warn dynamic WASM compilation
  errors/manifest.json
  errors/middleware-dynamic-wasm-compilation.md
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/web/sandbox/context.ts
  test/integration/middleware-dynamic-code/lib/square.wasm
  test/integration/middleware-dynamic-code/lib/wasm.js
  test/integration/middleware-dynamic-code/middleware.js
  test/integration/middleware-dynamic-code/next.config.js
  test/integration/middleware-dynamic-code/test/index.test.js
  test/production/middleware-with-dynamic-code/index.test.ts
  test/production/middleware-with-dynamic-code/square.wasm
Labels: area: documentation, type: next

#37382 Add upgrade guide for Middleware.
  errors/middleware-upgrade-guide.md
Labels: area: documentation, created-by: Next.js team

#37758 Add missing error manifest entry and fix lint
  errors/manifest.json
  errors/middleware-upgrade-guide.md
Labels: area: documentation, created-by: Next.js team

#37756 Expose test timings token for e2e tests
  .github/workflows/build_test_deploy.yml
  run-tests.js
  test/e2e/next-script/index.test.ts
Labels: created-by: Next.js team

#37740 Remove previous query param deleting warning
  packages/next/server/next-server.ts
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: type: next, created-by: Next.js team

#37765 fix grammar in failed-loading-swc
  errors/failed-loading-swc.md
Labels: area: documentation

#37752 Enhance experimental feature warning
  packages/next/server/config.ts
  test/integration/config-experimental-warning/test/index.test.js
Labels: type: next, created-by: Next.js team

#37760 Ensure eslint-config warning/errors are correct
  packages/eslint-plugin-next/lib/index.js
  test/integration/eslint/test/index.test.js
Labels: type: next, created-by: Next.js team

#37766 Add bug report field to issue template
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Labels: created-by: Next.js team

#37725 Refactor server routing
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  packages/next/server/server-route-utils.ts
  packages/next/server/web/next-url.ts
  packages/next/shared/lib/router/utils/add-locale.ts
  packages/next/shared/lib/router/utils/format-next-pathname-info.ts
  test/e2e/middleware-rewrites/app/middleware.js
  test/integration/i18n-support-base-path/public/files/texts/file.txt
  test/integration/i18n-support/test/shared.js
  test/unit/web-runtime/next-url.test.ts
Labels: type: next

#37779 Update 4MB API Routes warning error guide.
  errors/api-routes-response-size-limit.md
Labels: area: documentation, created-by: Next.js team

#37772 Update Chakra-UI dependencies for React 18
  examples/with-chakra-ui/package.json
Labels: area: examples

#37718 refactor(middleware): leverages edge-runtime builtins to decorate errors in dev
  package.json
  packages/next/compiled/@edge-runtime/primitives/index.js
  packages/next/compiled/@edge-runtime/primitives/package.json
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/web/sandbox/context.ts
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  packages/react-dev-overlay/src/middleware.ts
  pnpm-lock.yaml
Labels: type: next

#37784 Ensure query params are populated correctly with middleware
  packages/next/client/index.tsx
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-general/app/pages/ssg/[slug].js
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-rewrites/app/pages/index.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/dynamic-routing/test/middleware.test.js
  test/integration/middleware-prefetch/tests/index.test.js
Labels: type: next, created-by: Next.js team

#37792 fix: markdown format for the blog-starter example
  examples/blog-starter/README.md
Labels: area: examples

#37794 Update to use latest version of pnpm
  .github/actions/next-stats-action/Dockerfile
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  azure-pipelines.yml
  package.json
Labels: created-by: Next.js team

#37022 Use SVG blur technique for raw layout images
  packages/next/client/image.tsx
  test/integration/image-component/base-path/test/static.test.js
  test/integration/image-component/default/pages/static-img.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/default/test/static.test.js
Labels: type: next, created-by: Chrome Aurora

#37755 fix(config): only warn experimental feature when used
  packages/next/server/config.ts
  test/integration/config-experimental-warning/test/index.test.js
Labels: type: next

#37744 Convert amp example to TypeScript
  examples/amp/additional.d.ts
  examples/amp/components/Byline.tsx
  examples/amp/components/Layout.tsx
  examples/amp/next-env.d.ts
  examples/amp/package.json
  examples/amp/pages/dog.tsx
  examples/amp/pages/index.tsx
  examples/amp/pages/normal.tsx
  examples/amp/tsconfig.json
Labels: area: examples

#37811 Update custom-document.md
  docs/advanced-features/custom-document.md
Labels: area: documentation

#37425 Display full refresh warning even when error has occurred
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  test/development/acceptance/helpers.ts
  test/development/basic-basepath/hmr.test.ts
  test/development/basic-basepath/hmr/pages/hmr/about.js
  test/development/basic-basepath/hmr/pages/hmr/about2.js
  test/development/basic-basepath/hmr/pages/hmr/about4.js
  test/development/basic-basepath/hmr/pages/hmr/style.js
  test/development/basic/hmr.test.ts
  test/development/basic/hmr/pages/hmr/about4.js
  test/development/basic/hmr/pages/hmr/style.js
  test/integration/amphtml/pages/hmr/test.js
  test/integration/app-document-add-hmr/test/index.test.js
  test/integration/app-document-remove-hmr/test/index.test.js
  test/integration/custom-server/pages/index.js
  test/integration/no-duplicate-compile-error/test/index.test.js
  test/integration/typescript-hmr/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next

#37813 Detect pnpm correctly when installing missing dependencies
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/helpers/get-pkg-manager.ts
  packages/next/lib/helpers/install.ts
  packages/next/lib/helpers/should-use-yarn.ts
  packages/next/lib/install-dependencies.ts
  packages/next/lib/is-yarn.ts
  packages/next/lib/typescript/missingDependencyError.ts
  packages/next/lib/verify-partytown-setup.ts
  test/integration/eslint/test/index.test.js
  test/integration/script-loader/test/index.test.js
Labels: type: next, created-by: Next.js team

#37819 Throw an error when `target: 'serverless'` is used with Middleware
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  test/production/middleware-is-not-allowed-when-using-serverless-target/app/middleware.js
  test/production/middleware-is-not-allowed-when-using-serverless-target/app/next.config.js
  test/production/middleware-is-not-allowed-when-using-serverless-target/app/pages/index.js
  test/production/middleware-is-not-allowed-when-using-serverless-target/index.test.ts
Labels: type: next

#37164 Enable `externalHelpers` when pre compiling Next.js' code
  package.json
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  pnpm-lock.yaml
Labels: type: next

#37816 feat: add correct type to with-styled-coponents
  examples/with-styled-components/pages/_document.tsx
Labels: area: examples

#37829 Revert "Enable `externalHelpers` when pre compiling Next.js' code"
  package.json
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#37831 Fix broken link for no-script-in-document-page error.
  errors/manifest.json
Labels: area: documentation, created-by: Next.js team

#37822 Allow Edge Functions to receive body
  packages/next/server/body-streams.ts
  packages/next/server/next-server.ts
  test/e2e/edge-api-endpoints-can-receive-body/app/pages/api/edge.js
  test/e2e/edge-api-endpoints-can-receive-body/index.test.ts
Labels: type: next

#37834 fix typo in example section of dynamic-import.md
  docs/advanced-features/dynamic-import.md
Labels: area: documentation

#37815 Add hard navigation guard and fix middleware rewrite cases
  packages/next/client/index.tsx
  packages/next/client/next-dev.js
  packages/next/server/web/adapter.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-general/app/pages/ssg/[slug].js
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team

#37839 fix: missing parentheses
  docs/advanced-features/middleware.md
Labels: area: documentation

#37836 [edge api] allow wasm usage
  examples/with-webassembly/pages/api/edge.js
  packages/next/build/webpack-config.ts
  test/e2e/edge-can-use-wasm-files/add.wasm
  test/e2e/edge-can-use-wasm-files/index.test.ts
Labels: area: examples, type: next

#37848 Fix a couple flakey next-script and unoptimized image tests
  test/e2e/next-script/index.test.ts
  test/integration/image-component/unoptimized/test/index.test.js
Labels: created-by: Next.js team

#37745 Describe relation between region locale and country locale when a country is not found
  docs/advanced-features/i18n-routing.md
Labels: area: documentation

#37854 Include i18 and basePath on middleware with custom matchers
  packages/next/build/analysis/get-page-static-info.ts
  test/e2e/middleware-matcher/index.test.ts
Labels: type: next

#37863 Fix compile time log after error
  packages/next/build/output/store.ts
  test/development/basic/hmr.test.ts
Labels: type: next, created-by: Next.js team

#37872 Fix typo in dynamic import section of dynamic-import.md
  docs/advanced-features/dynamic-import.md
Labels: area: documentation

#37856 [Examples] updated styled-components
  examples/with-styled-components/components/cards.tsx
  examples/with-styled-components/components/globalstyles.tsx
  examples/with-styled-components/components/sharedstyles.tsx
  examples/with-styled-components/package.json
  examples/with-styled-components/pages/_app.tsx
  examples/with-styled-components/pages/about.tsx
  examples/with-styled-components/pages/index.tsx
  examples/with-styled-components/public/favicon.ico
  examples/with-styled-components/styled.d.ts
Labels: area: examples

#37447 Fix `<Image/>`'s `lazyRoot` and other optimizations
  packages/next/client/use-intersection.tsx
  test/integration/image-component/basic/pages/lazy.js
  test/integration/image-component/basic/test/index.test.js
  test/integration/image-component/no-intersection-observer-fallback/next.config.js
  test/integration/image-component/no-intersection-observer-fallback/pages/_document.js
  test/integration/image-component/no-intersection-observer-fallback/pages/index.js
  test/integration/image-component/no-intersection-observer-fallback/pages/no-observer.js
  test/integration/image-component/no-intersection-observer-fallback/test/index.test.js
Labels: type: next

#37412 resolve swc-plugin paths
  packages/next/build/swc/options.js
Labels: type: next

#37828 chore(examples): fix `active-class-name` example
  docs/advanced-features/automatic-static-optimization.md
  examples/active-class-name/package.json
Labels: area: examples, area: documentation

#37607 Update swc
  package.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/emotion/src/lib.rs
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_components/tests/fixtures/transpile-css-prop-all-options-on/output.js
  packages/next-swc/crates/styled_components/tests/fixtures/transpile-css-prop/output.js
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/src/transform_css.rs
  packages/next-swc/crates/styled_jsx/tests/fixture/styles/output.js
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#37888 Ensure next-server tracing uses tracing root config
  packages/next/build/index.ts
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#37891 fix(ci): Don't build wasmer for freebsd and i686 windows target
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#37897 refactor: merge duplicated render page logic
  packages/next/server/base-server.ts
Labels: type: next, created-by: Next.js team

#37846 [Examples] Add external example with typescript to "with-material-ui" folder
  examples/with-material-ui/README.md
Labels: area: examples

#37549 Adding example with-fingerprintjs-pro for identifying visitors
  examples/with-fingerprintjs-pro/.env.local.example
  examples/with-fingerprintjs-pro/.gitignore
  examples/with-fingerprintjs-pro/README.md
  examples/with-fingerprintjs-pro/components/CacheStrategySelector.tsx
  examples/with-fingerprintjs-pro/components/Nav.tsx
  examples/with-fingerprintjs-pro/components/Toggler.tsx
  examples/with-fingerprintjs-pro/components/VisitorDataPresenter.tsx
  examples/with-fingerprintjs-pro/components/types.ts
  examples/with-fingerprintjs-pro/next-env.d.ts
  examples/with-fingerprintjs-pro/next.config.js
  examples/with-fingerprintjs-pro/package.json
  examples/with-fingerprintjs-pro/pages/_app.tsx
  examples/with-fingerprintjs-pro/pages/home/[cacheStrategy].tsx
  examples/with-fingerprintjs-pro/pages/signin/[cacheStrategy].tsx
  examples/with-fingerprintjs-pro/providers/InMemoryCache.tsx
  examples/with-fingerprintjs-pro/providers/LocalStorageCache.tsx
  examples/with-fingerprintjs-pro/providers/SessionStorageCache.tsx
  examples/with-fingerprintjs-pro/providers/WithoutCache.tsx
  examples/with-fingerprintjs-pro/public/favicon.ico
  examples/with-fingerprintjs-pro/styles/App.css
  examples/with-fingerprintjs-pro/styles/globals.css
  examples/with-fingerprintjs-pro/tsconfig.json
Labels: area: examples

#37902 Fix styled-jsx types when package is not hoisted
  examples/with-react-intl/package.json
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
  packages/next/taskfile.js
  packages/next/types/index.d.ts
  test/production/typescript-basic/index.test.ts
  test/unit/write-app-declarations.test.ts
Labels: area: examples, type: next, created-by: Next.js team

#37788 chore: detect no canary verification
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.example_bug_report.yml
  .github/actions/issue-validator/index.js
  .github/actions/issue-validator/package.json
  .github/actions/next-stats-action/package.json
  .github/workflows/stale.yml
  .github/workflows/validate_issue.yml
  contributing.md
  examples/reproduction-template/.gitignore
  examples/reproduction-template/README.md
  examples/reproduction-template/next-env.d.ts
  examples/reproduction-template/next.config.js
  examples/reproduction-template/package.json
  examples/reproduction-template/pages/index.tsx
  examples/reproduction-template/public/favicon.ico
  examples/reproduction-template/tsconfig.json
Labels: area: examples

#35471 Added with-particles template
  examples/with-particles/.gitignore
  examples/with-particles/README.md
  examples/with-particles/components/particles.tsx
  examples/with-particles/next-env.d.ts
  examples/with-particles/next.config.js
  examples/with-particles/package.json
  examples/with-particles/pages/_app.tsx
  examples/with-particles/pages/index.tsx
  examples/with-particles/public/favicon.ico
  examples/with-particles/public/vercel.svg
  examples/with-particles/styles/Home.module.css
  examples/with-particles/styles/globals.css
  examples/with-particles/tsconfig.json
Labels: area: examples

#37522 Add a Plasmic example
  docs/advanced-features/preview-mode.md
  examples/cms-plasmic/.env.local.example
  examples/cms-plasmic/.gitignore
  examples/cms-plasmic/README.md
  examples/cms-plasmic/next-env.d.ts
  examples/cms-plasmic/next.config.js
  examples/cms-plasmic/package.json
  examples/cms-plasmic/pages/[[...catchall]].tsx
  examples/cms-plasmic/pages/_app.js
  examples/cms-plasmic/pages/api/exit-preview.ts
  examples/cms-plasmic/pages/api/preview.ts
  examples/cms-plasmic/plasmic-init.ts
  examples/cms-plasmic/public/favicon.ico
  examples/cms-plasmic/styles/globals.css
  examples/cms-plasmic/tsconfig.json
Labels: area: examples, area: documentation

#37887 Remove NextResponse.json as we already have it defined from inheriting Response
  packages/next/server/web/spec-extension/response.ts
  test/unit/web-runtime/next-response.test.ts
Labels: type: next

#37933 Ensure special chars in middleware matcher is handled
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  test/e2e/middleware-matcher/app/middleware.js
Labels: type: next, created-by: Next.js team

#37956 Drop experimental.reactRoot in favor of auto detection
  packages/next/bin/next.ts
  packages/next/build/entries.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/export/index.ts
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/next-server.ts
  packages/next/server/next.ts
  packages/next/server/render.tsx
  packages/next/server/utils.ts
  test/e2e/app-dir/app-rendering/next.config.js
  test/e2e/app-dir/app/next.config.js
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18-invalid-config/next.config.js
  test/integration/react-18/app/next.config.js
  test/integration/react-streaming-and-server-components/unsupported-native-module/next.config.js
  test/unit/parse-page-runtime.test.ts
Labels: type: next, created-by: Next.js team

#37861 feat: enable configuration of `styled-components` transform and enable `css` prop support
  docs/advanced-features/compiler.md
  package.json
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/styled_components/src/lib.rs
  packages/next-swc/crates/styled_components/src/utils/analyzer.rs
  packages/next-swc/crates/styled_components/src/utils/mod.rs
  packages/next-swc/crates/styled_components/src/visitors/display_name_and_id.rs
  packages/next-swc/crates/styled_components/src/visitors/transpile_css_prop/transpile.rs
  packages/next-swc/crates/styled_components/tests/fixtures/transpile-css-prop-all-options-on/output.js
  packages/next/build/swc/options.js
  packages/next/server/config-shared.ts
  packages/react-refresh-utils/tsconfig.json
  test/development/basic/styled-components.test.ts
  test/development/basic/styled-components/next.config.js
  test/development/basic/styled-components/pages/index.js
Labels: area: documentation, type: next, created-by: Next.js team, area: SWC transforms

#37962 feat: enable styled-components css prop swc transform by default
  docs/advanced-features/compiler.md
  packages/next-swc/crates/styled_components/src/lib.rs
  test/development/basic/styled-components/next.config.js
Labels: area: documentation, type: next

#37958 Ensure cache-control is correct when returning redirect
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/optional-ssg/[[...rest]].js
Labels: type: next, created-by: Next.js team

#37964 Move styled-jsx type reference
  docs/basic-features/typescript.md
  packages/next/index.d.ts
  packages/next/lib/typescript/writeAppTypeDeclarations.ts
  test/unit/write-app-declarations.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#37961 Update middleware matcher test for root
  test/e2e/middleware-matcher/app/middleware.js
  test/e2e/middleware-matcher/index.test.ts
Labels: created-by: Next.js team

#37972 Ensure repo is checked out before running validate issue action
  .github/workflows/validate_issue.yml
Labels: created-by: Next.js team

#37976 Update to latest version of turbo
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#37973 Remove Middleware warning message.
  packages/next/build/index.ts
  packages/next/server/next-server.ts
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team

#37970 Fix hard navigation guard on popstate and handle fetching fresh data
  packages/next/cli/next-dev.ts
  packages/next/cli/next-start.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/prerender.test.ts
  test/integration/middleware-prefetch/tests/index.test.js
  test/lib/browsers/base.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
  test/production/prerender-prefetch/index.test.ts
Labels: type: next, created-by: Next.js team

#37987 docs: clarify `NextRequest.ip`
  docs/api-reference/next/server.md
Labels: area: documentation

#37985 docs: return response in code example
  errors/middleware-upgrade-guide.md
Labels: area: documentation

#37984 Fixes for middleware compilation errors
  packages/next/build/entries.ts
  packages/next/build/output/index.ts
  packages/next/server/dev/hot-middleware.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/shared/lib/utils.ts
  test/integration/middleware-dev-errors/test/index.test.js
Labels: type: next

#37993 Fix flaky `onLoad()` test for `next/image/future`
  docs/api-reference/next/future/image.md
  test/integration/image-future/default/pages/on-load.js
  test/integration/image-future/default/test/index.test.js
Labels: area: documentation, created-by: Next.js team

#37994 Move outputStandalone config
  docs/advanced-features/output-file-tracing.md
  examples/with-docker-compose/next-app/next.config.js
  examples/with-docker-multi-env/next.config.js
  examples/with-docker/README.md
  examples/with-docker/next.config.js
  packages/next/build/index.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/image-optimizer.ts
  test/production/minimal-mode-response-cache/app/next.config.js
  test/production/pnpm-support/app-multi-page/next.config.js
  test/production/pnpm-support/app/next.config.js
  test/production/pnpm-support/test/index.test.ts
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
  test/production/standalone-mode-and-optimizecss/index.test.ts
Labels: area: examples, area: documentation, type: next, created-by: Next.js team

#37995 Bump `release` to 6.3.1
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#37997 Update flakey prefetch test
  test/production/prerender-prefetch/index.test.ts
Labels: created-by: Next.js team

#38000 Fix typo for rewrites to rewrite.
  docs/api-reference/next/server.md
  errors/middleware-upgrade-guide.md
  errors/middleware-user-agent.md
Labels: area: documentation, created-by: Next.js team

#37998 Update expected error for middleware deploy test
  test/e2e/middleware-responses/test/index.test.ts
Labels: created-by: Next.js team

#37996 Move `rimraf` from root packages using it
  package.json
  packages/create-next-app/package.json
  packages/next-env/package.json
  pnpm-lock.yaml
Labels: type: next, area: create-next-app, created-by: Next.js team

#37955 On-demand ISR updates.
  docs/api-reference/data-fetching/get-static-paths.md
  docs/api-reference/data-fetching/get-static-props.md
  docs/api-routes/response-helpers.md
  docs/basic-features/data-fetching/get-static-props.md
  docs/basic-features/data-fetching/incremental-static-regeneration.md
  examples/cms-sanity/pages/api/revalidate.js
  packages/next/server/api-utils/node.ts
  packages/next/shared/lib/utils.ts
  test/e2e/prerender/pages/api/manual-revalidate.js
Labels: area: examples, area: documentation, type: next, created-by: Next.js team

#37999 Fix npm publish to include `future` folder
  packages/next/build/webpack-config.ts
  packages/next/index.d.ts
  packages/next/package.json
  test/production/typescript-basic/app/.gitignore
  test/production/typescript-basic/app/next-env.d.ts
  test/production/typescript-basic/app/next.config.js
  test/production/typescript-basic/app/pages/image-import.tsx
  test/production/typescript-basic/app/public/test.jpg
  test/production/typescript-basic/app/public/test.png
  test/production/typescript-basic/app/server.ts
  test/production/typescript-basic/index.test.ts
Labels: type: next, created-by: Next.js team

#37925 fix: hardcoded protocol in request url
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/request-meta.ts
  test/integration/custom-server/middleware.js
  test/integration/custom-server/pages/middleware-augmented.js
  test/integration/custom-server/server.js
  test/integration/custom-server/ssh/cert.pem
  test/integration/custom-server/ssh/csr.pem
  test/integration/custom-server/ssh/private-root-ca.cert.pem
  test/integration/custom-server/ssh/private-root-ca.privkey.pem
  test/integration/custom-server/ssh/private-root-ca.srl
  test/integration/custom-server/ssh/privkey.pem
  test/integration/custom-server/test/index.test.js
Labels: type: next
