Repository vercel/next.js, pull requests merged in 2022-03, with the labels that each got.

#34917 docs: update CMS examples to use the new tw grid gaps
  examples/cms-agilitycms/components/hero-post.js
  examples/cms-agilitycms/components/more-stories.js
  examples/cms-builder-io/components/hero-post.js
  examples/cms-builder-io/components/more-stories.js
  examples/cms-buttercms/components/hero-post.js
  examples/cms-buttercms/components/more-stories.js
  examples/cms-contentful/components/hero-post.js
  examples/cms-contentful/components/more-stories.js
  examples/cms-cosmic/components/hero-post.js
  examples/cms-cosmic/components/more-stories.js
  examples/cms-datocms/components/hero-post.js
  examples/cms-datocms/components/more-stories.js
  examples/cms-drupal/components/hero-post.js
  examples/cms-ghost/components/hero-post.js
  examples/cms-ghost/components/more-stories.js
  examples/cms-graphcms/components/hero-post.js
  examples/cms-kontent/components/hero-post.js
  examples/cms-kontent/components/more-stories.js
  examples/cms-prepr/components/hero-post.js
  examples/cms-prismic/components/hero-post.js
  examples/cms-prismic/components/more-stories.js
  examples/cms-sanity/components/hero-post.js
  examples/cms-sanity/components/more-stories.js
  examples/cms-storyblok/components/hero-post.js
  examples/cms-storyblok/components/more-stories.js
  examples/cms-strapi/components/hero-post.js
  examples/cms-strapi/components/more-stories.js
  examples/cms-takeshape/components/hero-post.js
  examples/cms-takeshape/components/more-stories.js
  examples/cms-wordpress/components/hero-post.js
  examples/cms-wordpress/components/more-stories.js
Labels: area: examples

#34899 Fix image optimization invalid internal upstream image
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.js
  test/production/middleware-typescript/test/index.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#34924 Add missing closing parenthesis in docs
  docs/advanced-features/static-html-export.md
Labels: area: documentation

#34878 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#34902 Simplify next-flight-server-loader
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
Labels: type: next, created-by: Next.js team

#33966 Ensure non-matching API routes can be rewritten
  packages/next/server/base-server.ts
  packages/next/server/router.ts
  test/e2e/i18n-api-support/index.test.ts
Labels: type: next, created-by: Next.js team

#34941 Optimize component type filters
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
Labels: type: next, created-by: Next.js team

#34898 docs: update cms-sanity example
  examples/cms-sanity/README.md
  examples/cms-sanity/components/cover-image.js
  examples/cms-sanity/components/post-body.js
  examples/cms-sanity/lib/sanity.js
  examples/cms-sanity/package.json
Labels: area: examples

#34944 Update cms-wordpress example
  examples/cms-wordpress/components/more-stories.js
  examples/cms-wordpress/lib/api.js
  examples/cms-wordpress/next.config.js
  examples/cms-wordpress/pages/index.js
  examples/cms-wordpress/pages/posts/[slug].js
Labels: area: examples

#34437 Expose WASM bindings in Middleware
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-wasm-loader.ts
  packages/next/build/webpack/plugins/functions-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/next-server.ts
  packages/next/server/require.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/e2e/middleware-can-use-wasm-files/add.wasm
  test/e2e/middleware-can-use-wasm-files/index.test.ts
Labels: type: next

#34922 Provide page runtime parsing utils
  packages/next/build/entries.ts
  packages/next/build/swc/index.d.ts
  packages/next/build/swc/index.js
  packages/next/build/swc/options.d.ts
  packages/next/build/swc/options.js
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  test/integration/react-18/app/pages/index.js
  test/unit/fixtures/page-runtime/edge.js
  test/unit/fixtures/page-runtime/nodejs.js
  test/unit/fixtures/page-runtime/static.js
  test/unit/parse-page-runtime.test.ts
Labels: type: next, created-by: Next.js team

#34945 Refactor export marks of server components
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/client/index.tsx
  packages/next/server/load-components.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/router/router.ts
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
Labels: type: next, created-by: Next.js team

#34973 Fix `next/image` noscript when blur and priority
  packages/next/client/image.tsx
  test/unit/image-rendering.test.ts
Labels: type: next, created-by: Next.js team

#34974 Fix named export missing from client components
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/components/named.client.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#34972 Adopt react 18 rc1
  package.json
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/client/index.tsx
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/suspense/unwrapped.js
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/with-react-18.js
  test/integration/react-streaming-and-server-components/app/next.config.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#34976 Fix typescript 4.6.2 randomUUID()
  packages/next/compiled/@peculiar/webcrypto/webcrypto.js
  packages/next/package.json
  packages/next/types/index.d.ts
  test/production/middleware-typescript/test/index.test.ts
  test/production/typescript-basic/index.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#34931 Update ISR error handling
  packages/next/server/response-cache.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/blocking-fallback/[slug].js
Labels: type: next, created-by: Next.js team

#34935 Handle de-duping revalidations in minimal mode
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/response-cache.ts
  test/e2e/prerender.test.ts
  test/integration/required-server-files-ssr-404/test/index.test.js
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/gsp.js
Labels: type: next, created-by: Next.js team

#35007 Update supertokens demo app
  examples/with-supertokens/package.json
Labels: area: examples

#34765 feat: allow dotenv default expansion
  packages/next-env/index.ts
  packages/next-env/package.json
  test/development/dotenv-default-expansion/index.test.ts
  yarn.lock
Labels: type: next

#32543 Support colons in Middleware NextResponse.rewrite path
  packages/next/server/next-server.ts
  test/integration/middleware/core/pages/rewrites/[param].js
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#34947 feat: support `pnpm` with `create-next-app`
  .github/workflows/build_test_deploy.yml
  docs/api-reference/create-next-app.md
  packages/create-next-app/README.md
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/get-pkg-manager.ts
  packages/create-next-app/helpers/install.ts
  packages/create-next-app/helpers/should-use-yarn.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.ts
Labels: area: documentation, area: create-next-app

#35004 Generate static html for bots
  packages/next/server/base-server.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  packages/next/server/web/render.ts
  test/integration/react-18/test/index.test.js
  test/integration/react-streaming-and-server-components/app/components/client-default-export-arrow.client.js
  test/integration/react-streaming-and-server-components/app/components/client-exports-all.client.js
  test/integration/react-streaming-and-server-components/app/components/client-exports-all.js
  test/integration/react-streaming-and-server-components/app/components/client-exports.client.js
  test/integration/react-streaming-and-server-components/app/components/named.client.js
  test/integration/react-streaming-and-server-components/app/components/shared-exports.js
  test/integration/react-streaming-and-server-components/app/pages/client-exports-all.server.js
  test/integration/react-streaming-and-server-components/app/pages/client-exports.server.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/streaming.js
Labels: type: next, created-by: Next.js team

#35040 fix(examples/with-docker): add npm comment for yarn build
  examples/with-docker/Dockerfile
Labels: area: examples

#35090 Fix missing parenthesis for link in docs
  docs/testing.md
Labels: area: documentation

#33750 Enable import assertion syntax parsing
  .eslintrc.json
  examples/cms-tina/.tina/__generated__/types.ts
  package.json
  packages/eslint-config-next/package.json
  packages/next/build/babel/preset.ts
  packages/next/build/swc/options.js
  packages/next/bundles/babel/bundle.js
  packages/next/bundles/babel/packages-bundle.js
  packages/next/bundles/babel/packages/parser.js
  packages/next/bundles/babel/packages/plugin-syntax-import-assertions.js
  packages/next/compiled/babel-packages/packages-bundle.js
  packages/next/compiled/babel/bundle.js
  packages/next/compiled/babel/parser.js
  packages/next/compiled/babel/plugin-syntax-import-assertions.js
  packages/next/package.json
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  test/integration/eslint/eslint-cache-custom-dir/.gitignore
  test/integration/eslint/first-time-setup/.eslintrc.json
  test/integration/eslint/test/index.test.js
  test/integration/import-assertion/data
  test/integration/import-assertion/data.d.ts
  test/integration/import-assertion/pages/es.js
  test/integration/import-assertion/pages/ts.ts
  test/integration/import-assertion/test/index.test.js
  test/integration/import-assertion/tsconfig.json
  test/integration/typescript/pages/ssg/[slug].tsx
  yarn.lock
Labels: type: next, created-by: Next.js team

#33838 Split up & tweak `next/client` initialization
  packages/next/client/index.tsx
  packages/next/client/next-dev.js
  packages/next/client/next.js
Labels: type: next, created-by: Chrome Aurora

#35120 Fix animated png bypass from Image Optimization API
  package.json
  packages/next/compiled/is-animated/index.js
  test/integration/image-optimizer/app/public/animated2.png
  test/integration/image-optimizer/test/util.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#35052 Update shallow routing caveat
  docs/routing/shallow-routing.md
Labels: area: documentation

#35140 watch node_modules
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#35032 feat(trace): postprocess trace reporter for datadog
  package.json
  packages/next/compiled/@vercel/nft/index.js
  packages/next/compiled/crypto-browserify/index.js
  packages/next/compiled/p-limit/index.js
  packages/next/compiled/stream-browserify/index.js
  packages/next/compiled/stream-http/index.js
  packages/next/trace/report/index.ts
  packages/next/trace/report/to-json.ts
  packages/next/trace/trace.ts
  scripts/trace-dd.mjs
  yarn.lock
Labels: type: next

#35123 Add `next/image` docs section for animated images
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Next.js team

#35131 fix post request hangs when no body is consumed on middleware
  packages/next/server/body-streams.ts
  packages/next/server/next-server.ts
  test/production/reading-request-body-in-middleware/index.test.ts
Labels: type: next

#35033 [examples] Use more semantic footer element
  examples/blog/theme.config.js
Labels: area: examples

#35145 fix: hard-navigate when preflight request fails
  packages/next/server/dev/next-dev-server.ts
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/core/pages/errors/_middleware.js
  test/integration/middleware/core/pages/errors/index.js
  test/integration/middleware/core/pages/errors/throw-on-preflight.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#35011 Per-page runtime
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/index.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/partial-hydration.server.js
  test/integration/react-streaming-and-server-components/app/pages/runtime-rsc.server.js
  test/integration/react-streaming-and-server-components/app/pages/runtime.js
  test/integration/react-streaming-and-server-components/test/functions.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/runtime.js
  test/unit/fixtures/page-runtime/fallback.js
  test/unit/parse-page-runtime.test.ts
Labels: type: next, created-by: Next.js team

#35170 Delay prefix flushing
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35171 Change to loadBindings for swc parse
  packages/next/build/swc/index.js
Labels: type: next, created-by: Next.js team

#34698 Ensure mjs files are transformed with jest
  packages/next/build/jest/jest.ts
  packages/next/build/swc/jest-transformer.js
  test/production/next/jest/index.test.ts
  test/unit/jest-next-swc.test.ts
Labels: type: next, created-by: Next.js team

#35155 Disable the functions manifest plugin
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/functions-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#35161 Adopt react 18 rc2
  package.json
  packages/next/server/config.ts
  packages/next/server/render.tsx
  test/integration/react-18/app/pages/index.js
  test/integration/react-streaming-and-server-components/app/pages/err/render.js
  test/integration/react-streaming-and-server-components/app/pages/err/suspense.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#35181 Convert server.js to module.exports
  packages/next/server.js
Labels: type: next

#35163 Re-add _document to with-styled-components example
  examples/with-styled-components/pages/_document.js
Labels: area: examples

#35221 Render resolved streaming content for static render result
  packages/next/server/web-server.ts
  packages/next/server/web/sandbox/readable-stream.ts
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/streaming.js
  test/integration/react-streaming-and-server-components/test/utils.js
Labels: type: next, created-by: Next.js team

#35220 docs(examples): add on-demand ISR to cms-sanity
  examples/cms-sanity/.env.local.example
  examples/cms-sanity/README.md
  examples/cms-sanity/lib/config.js
  examples/cms-sanity/package.json
  examples/cms-sanity/pages/api/revalidate.js
Labels: area: examples

#35133 feat(next-swc): Update crates
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/attribute-generation-modes/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/css-selector-after-pseudo/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/expressions/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/global/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/too-many/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-complex-selector/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css/output.js
  packages/next-swc/crates/core/tests/loader/front/attr-1/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/napi/src/parse.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#35258 chore: upgrade `cssnano-simple`
  packages/next/compiled/cssnano-simple/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#34850 fix(Script): allow passing defer=false to Script component
  packages/next/pages/_document.tsx
Labels: type: next

#35242 Remove the special `_document-concurrent` component
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/pages/_document-concurrent.tsx
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/load-components.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#34244 Adds web worker support to `<Script />` using Partytown
  .eslintignore
  docs/api-reference/next/script.md
  docs/basic-features/script.md
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/client/script.tsx
  packages/next/export/index.ts
  packages/next/lib/verify-partytown-setup.ts
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/html-context.ts
  test/e2e/next-script-worker-strategy/index.test.ts
  test/integration/script-loader/base/pages/_app.js
  test/integration/script-loader/base/pages/_document.js
  test/integration/script-loader/base/pages/index.js
  test/integration/script-loader/base/pages/page1.js
  test/integration/script-loader/base/pages/page3.js
  test/integration/script-loader/base/pages/page4.js
  test/integration/script-loader/base/pages/page5.js
  test/integration/script-loader/base/styles/styles.css
  test/integration/script-loader/next.config.js
  test/integration/script-loader/partytown-missing/next.config.js
  test/integration/script-loader/partytown-missing/pages/index.js
  test/integration/script-loader/partytown/next.config.js
  test/integration/script-loader/partytown/package.json
  test/integration/script-loader/partytown/pages/index.js
  test/integration/script-loader/test/index.test.js
Labels: area: documentation, type: next, created-by: Chrome Aurora

#35290 Bump styled-jsx to 5.0.1
  packages/next/package.json
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#35288 examples: update instructions for create-strapi-app
  examples/cms-strapi/README.md
Labels: area: examples

#34339 Add new 'raw' image layout
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
  packages/next/build/webpack-config.ts
  packages/next/client/image.tsx
  packages/next/server/config-shared.ts
  test/integration/image-component/default/next.config.js
  test/integration/image-component/default/pages/blurry-placeholder.js
  test/integration/image-component/default/pages/invalid-style.js
  test/integration/image-component/default/pages/layout-raw.js
  test/integration/image-component/default/pages/on-loading-complete.js
  test/integration/image-component/default/pages/priority.js
  test/integration/image-component/default/pages/style-prop.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-component/typescript-style/next.config.js
  test/integration/image-component/typescript-style/pages/invalid.tsx
  test/integration/image-component/typescript-style/test/index.test.js
  test/integration/image-component/typescript-style/tsconfig.json
Labels: area: documentation, type: next, created-by: Chrome Aurora

#34687 SWC emotion transform plugin
  .github/workflows/build_test_deploy.yml
  docs/advanced-features/compiler.md
  examples/with-emotion-swc/.gitignore
  examples/with-emotion-swc/README.md
  examples/with-emotion-swc/next.config.js
  examples/with-emotion-swc/package.json
  examples/with-emotion-swc/pages/_app.js
  examples/with-emotion-swc/pages/index.js
  examples/with-emotion-swc/shared/styles.js
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/emotion/hash.rs
  packages/next-swc/crates/core/src/emotion/mod.rs
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/src/styled_jsx/transform_css.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/input.tsx
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/output.ts
  packages/next-swc/crates/core/tests/fixture/emotion/namespace-import/input.tsx
  packages/next-swc/crates/core/tests/fixture/emotion/namespace-import/output.ts
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css-complex-selector/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/transform-css/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/core/tests/loader/example/output.js
  packages/next-swc/crates/core/tests/loader/front/attr-1/output.js
  packages/next-swc/crates/core/tests/loader/issue-31627/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next-swc/rust-toolchain
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/server/config-shared.ts
  packages/next/telemetry/events/build.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox-app-doc.test.ts.snap
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/integration/telemetry/test/index.test.js
Labels: area: examples, area: documentation, type: next

#35326 enhance: cover re-exported gsp cases for runtime fallback
  packages/next/build/entries.ts
  test/unit/fixtures/page-runtime/fallback-re-export-gsp.js
  test/unit/fixtures/page-runtime/fallback-with-gsp.js
  test/unit/parse-page-runtime.test.ts
Labels: type: next, created-by: Next.js team

#35303 Add info on `context.ctx` argument in _app docs page
  docs/advanced-features/custom-app.md
Labels: area: documentation

#35340 Remove with-custom-reverse-proxy example
  examples/with-custom-reverse-proxy/.babelrc
  examples/with-custom-reverse-proxy/.gitignore
  examples/with-custom-reverse-proxy/README.md
  examples/with-custom-reverse-proxy/package.json
  examples/with-custom-reverse-proxy/pages/index.js
  examples/with-custom-reverse-proxy/server.js
Labels: area: examples

#35336 [docs] Update docs about Cache-Control default headers.
  docs/going-to-production.md
Labels: area: documentation

#35354 Add libc fields to Linux platform packages
  packages/next-swc/crates/napi/npm/linux-arm64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-arm64-musl/package.json
  packages/next-swc/crates/napi/npm/linux-x64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-x64-musl/package.json
Labels: type: next

#35335 Drop browser field for edge runtime
  packages/next/build/webpack-config.ts
  test/integration/react-streaming-and-server-components/app/node_modules/non-isomorphic-text/browser.js
  test/integration/react-streaming-and-server-components/app/node_modules/non-isomorphic-text/index.js
  test/integration/react-streaming-and-server-components/app/node_modules/non-isomorphic-text/package.json
  test/integration/react-streaming-and-server-components/app/pages/external-imports.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#35344 Make router able to navigate between rsc pages
  packages/next/client/index.tsx
  test/integration/react-streaming-and-server-components/app/components/nav.server.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming-rsc.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#35374 [docs] Update going to production docs around caching headers
  docs/going-to-production.md
Labels: area: documentation, created-by: Next.js team

#35386 Update on-demand ISR to skip fetch locally
  packages/next/server/api-utils/node.ts
  packages/next/server/image-optimizer.ts
  packages/next/server/lib/mock-request.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#35407 Use hasConcurrentFeatures instead of reactRoot as the condition of Fizz
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35414 Run tests against node LTS (v16) and current (v17)
  .github/workflows/build_test_deploy.yml
  test/e2e/yarn-pnp/test/utils.ts
Labels: created-by: Next.js team

#35372 Abstract out stream related utils from render and web/utils
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/server/web/utils.ts
Labels: type: next, created-by: Next.js team

#35417 Keep fouc tags for streaming
  packages/next/pages/_document.tsx
  test/integration/react-streaming-and-server-components/test/css.js
Labels: type: next, created-by: Next.js team

#35413 Fix: change the timing for clearing the inlined data buffer
  packages/next/client/index.tsx
Labels: type: next, created-by: Next.js team

#35424 fix(document): accepts nodearray for head's children
  packages/next/pages/_document.tsx
Labels: type: next

#35426 test: add document head multi child prod test
  test/production/typescript-basic/app/pages/_document.tsx
Labels: created-by: Next.js team

#35338 Add test to ensure `fs.readFile()` works with Output File Tracing
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/production/pages/api/readfile-dirname.js
  test/integration/production/pages/api/readfile-processcwd.js
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#35416 feat(next-swc): embed target triple string
  packages/next-swc/crates/napi/build.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/util.rs
  packages/next/build/swc/index.js
Labels: type: next

#35325 Added note about why Next.js used 307 and 308 status codes
  docs/api-reference/next.config.js/redirects.md
Labels: area: documentation, created-by: Next.js docs team

#35472 Typo in URL removed
  packages/next/build/webpack-config.ts
Labels: type: next

#35313 Server component docs use wrong next version
  docs/advanced-features/react-18/server-components.md
Labels: area: documentation

#35420 feat(telemetry): report swc target triple to telemetry
  packages/next/build/swc/index.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next

#35511 Update trace ignore check to check reasons correctly
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/integration/production/pages/api/index.js
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team

#34969 SWC import modularization plugin
  docs/advanced-features/compiler.md
  examples/modularize-imports/.gitignore
  examples/modularize-imports/README.md
  examples/modularize-imports/components/halves/LeftHalf.js
  examples/modularize-imports/components/halves/RightHalf.js
  examples/modularize-imports/components/halves/index.js
  examples/modularize-imports/next.config.js
  examples/modularize-imports/package.json
  examples/modularize-imports/pages/index.js
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/modularize_imports.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/modularize-imports/regex/input.js
  packages/next-swc/crates/core/tests/fixture/modularize-imports/regex/output.js
  packages/next-swc/crates/core/tests/fixture/modularize-imports/simple/input.js
  packages/next-swc/crates/core/tests/fixture/modularize-imports/simple/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
Labels: area: examples, area: documentation, type: next

#35512 Reduce hello-world middleware bundle size from 128k to 88k
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/router-utils.ts
  packages/next/server/web/next-url.ts
  packages/next/shared/lib/router/utils/parse-next-url.ts
Labels: type: next

#35453 Update next/link error when no children are provided
  errors/link-no-children.md
  errors/manifest.json
  packages/next/client/link.tsx
  test/integration/client-navigation/pages/link-no-child.js
  test/integration/client-navigation/test/index.test.js
Labels: area: documentation, type: next, created-by: Next.js team

#35536 Normalize ssgCacheKey for /index with minimalMode de-duping
  packages/next/server/base-server.ts
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/gssp.js
  test/production/required-server-files/pages/index.js
Labels: type: next, created-by: Next.js team

#35545 Merge rsc queries handling
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
Labels: type: next, created-by: Next.js team

#35553 Add link for revalidate from notFound section
  docs/api-reference/data-fetching/get-static-props.md
Labels: area: documentation, created-by: Next.js team

#35524 Upgrade react-server-dom-webpack
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#35527 Fix styled transform in next-swc/emotion
  examples/with-emotion-swc/pages/index.js
  examples/with-emotion-swc/shared/styles.js
  packages/next-swc/crates/core/src/emotion/mod.rs
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/input.tsx
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/output.ts
Labels: area: examples, type: next

#35556 Fix `next info` accidentally printing stderr
  packages/next/cli/next-info.ts
  test/integration/cli/test/index.test.js
Labels: type: next, created-by: Next.js team

#35561 Fix typo in docs
  docs/api-reference/next.config.js/rewrites.md
  docs/basic-features/script.md
Labels: area: documentation

#35421 chore: replace deprecated String.prototype.substr()
  .github/actions/next-stats-action/src/add-comment.js
  .github/actions/next-stats-action/src/run/collect-stats.js
  examples/with-magic/pages/api/login.js
  packages/next-codemod/transforms/cra-to-next.ts
  packages/next-codemod/transforms/name-default-component.ts
  packages/next/build/index.ts
  packages/next/build/output/store.ts
  packages/next/build/utils.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/client/dev/amp-dev.js
  packages/next/export/index.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/router.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/format-url.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/shared/lib/router/utils/route-regex.ts
  test/integration/api-support/test/index.test.js
  test/integration/export-serverless/test/browser.js
  test/integration/export/test/browser.js
  test/integration/server-side-dev-errors/test/index.test.js
  test/lib/next-modes/next-start.ts
Labels: area: examples, type: next

#35499 test: warn on substr() usage
  .eslintrc.json
  packages/next/server/router-utils.ts
Labels: type: next

#35563 RSC: handle commonjs in flight loader
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  test/integration/react-streaming-and-server-components/app/components/cjs.client.js
  test/integration/react-streaming-and-server-components/app/components/cjs.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#35543 Update rsc refresh typing and doc example
  docs/api-reference/next/streaming.md
  packages/next/client/index.tsx
  packages/next/client/streaming/refresh.ts
Labels: area: documentation, type: next, created-by: Next.js team

#35394 Update terminal tree view for switchable runtime
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/server/config-shared.ts
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: type: next, created-by: Next.js team

#35608 Fix create-next-app failing without yarn installed
  packages/create-next-app/index.ts
  test/integration/create-next-app/index.test.ts
Labels: area: create-next-app, created-by: Next.js team

#35613 Prevent spaces between expressions from being removed
  packages/next-swc/crates/core/src/emotion/mod.rs
  packages/next-swc/crates/core/tests/fixture/emotion/compress/input.tsx
  packages/next-swc/crates/core/tests/fixture/emotion/compress/output.ts
  packages/next-swc/crates/core/tests/fixture/emotion/css-in-callback/output.ts
Labels: type: next

#35604 Fix: disable script worker in edge and fix rsc loader and runtime
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/pages/_document.tsx
Labels: type: next, created-by: Next.js team

#35375 docs: update styling support for streaming
  docs/advanced-features/react-18/streaming.md
  errors/client-flush-effects.md
  errors/multiple-flush-effects.md
Labels: area: documentation, created-by: Next.js team

#35616 Fix hydration issue in the switchable runtime tests
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/edge.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssg.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc-ssr.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssg.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-ssr.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/static.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/runtime.js
  test/integration/react-streaming-and-server-components/switchable-runtime/utils/time.js
Labels: created-by: Next.js team

#35639 Fix typo in rewrites docs
  docs/api-reference/next.config.js/rewrites.md
Labels: area: documentation

#35627 enhance: detect ESM by ast type
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
Labels: type: next, created-by: Next.js team

#35615 Clean up legacy react 18 tests
  packages/next/shared/lib/dynamic.tsx
  test/integration/react-18-invalid-config/components/foo.js
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18-invalid-config/pages/dynamic.js
  test/integration/react-18/app/components/bar.js
  test/integration/react-18/app/components/dynamic-hello.js
  test/integration/react-18/app/components/foo.js
  test/integration/react-18/app/components/hello.js
  test/integration/react-18/app/components/promise-cache.js
  test/integration/react-18/app/components/red.js
  test/integration/react-18/app/components/red.tsx
  test/integration/react-18/app/components/ts-foo.tsx
  test/integration/react-18/app/pages/_app.js
  test/integration/react-18/app/pages/ssr.js
  test/integration/react-18/app/pages/suspense/backpressure.js
  test/integration/react-18/app/pages/suspense/no-preload.js
  test/integration/react-18/app/pages/suspense/no-thrown.js
  test/integration/react-18/app/pages/suspense/thrown.js
  test/integration/react-18/app/pages/suspense/typing.tsx
  test/integration/react-18/app/pages/use-flush-effect/styled-jsx.tsx
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/blocking.js
  test/integration/react-18/test/concurrent.js
  test/integration/react-18/test/index.test.js
  test/integration/react-18/test/streaming-data.js
  test/integration/react-streaming-and-server-components/app/components/bar.client.js
  test/integration/react-streaming-and-server-components/app/pages/dynamic-imports.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#35663 Fix server component render condition
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35665 Rename createRSCHook to createFlightHook
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35668 Fix next info test during stable release
  test/integration/cli/test/index.test.js
Labels: created-by: Next.js team

#35669 Update default test timeouts for yarn install times
  test/lib/e2e-utils.ts
Labels: created-by: Next.js team

#35448 Add deprecated JSDoc comments for the previous middleware signature
  packages/next/server/web/spec-extension/fetch-event.ts
Labels: type: next

#32601 fix the dynamic routing of middleware
  packages/next/build/index.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  packages/next/server/web-server.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/get-middleware-regex.ts
  packages/next/shared/lib/router/utils/index.ts
  packages/next/shared/lib/router/utils/routing-items.ts
  packages/next/shared/lib/router/utils/sorted-routes.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/pages/middleware/[slug]/_middleware.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/middleware/dynamic-route/next.config.js
  test/integration/middleware/dynamic-route/pages/[slug]/[id]/_middleware.js
  test/integration/middleware/dynamic-route/pages/[slug]/[id]/index.js
  test/integration/middleware/dynamic-route/pages/[slug]/_middleware.js
  test/integration/middleware/dynamic-route/pages/[slug]/index.js
  test/integration/middleware/dynamic-route/pages/[slug]/static.js
  test/integration/middleware/dynamic-route/pages/_middleware.js
  test/integration/middleware/dynamic-route/pages/api/_middleware.js
  test/integration/middleware/dynamic-route/pages/api/index.js
  test/integration/middleware/dynamic-route/pages/catch-all/[...rest].js
  test/integration/middleware/dynamic-route/pages/catch-all/_middleware.js
  test/integration/middleware/dynamic-route/pages/dir/_middleware.js
  test/integration/middleware/dynamic-route/pages/dir/index.js
  test/integration/middleware/dynamic-route/pages/index.js
  test/integration/middleware/dynamic-route/pages/optional-catch-all/[[...rest]].js
  test/integration/middleware/dynamic-route/pages/optional-catch-all/_middleware.js
  test/integration/middleware/dynamic-route/pages/static.js
  test/integration/middleware/dynamic-route/public/robots.txt
  test/integration/middleware/dynamic-route/test/index.test.js
  test/unit/page-route-sorter.test.ts
Labels: type: next

#35547 fix: don't override user-agent in fetch if specified
  packages/next/server/web/sandbox/context.ts
  test/integration/middleware/core/pages/api/headers.js
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#35683 Fix typos
  bench/nested-deps/fuzzponent.js
  packages/eslint-plugin-next/lib/utils/node-attributes.js
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseCss.ts
  packages/next/pages/_document.tsx
  packages/next/server/lib/squoosh/avif/avif_node_dec.js
  packages/next/server/lib/squoosh/avif/avif_node_enc.js
  packages/next/server/lib/squoosh/mozjpeg/mozjpeg_node_dec.js
  packages/next/server/lib/squoosh/mozjpeg/mozjpeg_node_enc.js
  packages/next/server/lib/squoosh/webp/webp_node_dec.js
  packages/next/server/lib/squoosh/webp/webp_node_enc.js
  test/integration/export-dynamic-pages-serverless/test/index.test.js
  test/integration/middleware/core/test/index.test.js
  test/integration/required-server-files-ssr-404/test/index.test.js
  test/integration/typescript/pages/ssg/blog/[post].tsx
  test/production/required-server-files.test.ts
  test/unit/split-cookies-string.test.ts
Labels: type: next

#35718 Fix Fast Refresh for React 18
  package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
  run-tests.js
  test/development/basic/hmr.test.ts
  test/e2e/next-head/index.test.ts
  test/e2e/next-script-worker-strategy/index.test.ts
  test/lib/next-modes/base.ts
  test/production/react-18-streaming-ssr/index.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#35732 Ensure the app shell is rendered before rendering the document
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35731 docs: fix typo in Script Component docs
  docs/basic-features/script.md
Labels: area: documentation

#35739 fix: Prevent page to scroll to top during data HMR
  packages/next/client/next-dev.js
Labels: type: next

#35746 Update to pre-compile use-subscription
  packages/next/compiled/use-subscription/LICENSE
  packages/next/compiled/use-subscription/index.js
  packages/next/compiled/use-subscription/package.json
  packages/next/package.json
  packages/next/shared/lib/loadable.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#35724 Fix streaming SSR with multi-byte characters
  packages/next/server/node-web-streams-helper.ts
  test/production/react-18-streaming-ssr/index.test.ts
Labels: type: next

#35760 Fix document styles with react 18
  packages/next/server/render.tsx
  test/development/basic/styled-components.test.ts
Labels: type: next, created-by: Next.js team

#35762 Fix router isReady and react 18 not being detected with no config
  packages/next/server/config.ts
  packages/next/server/render.tsx
  packages/next/taskfile.js
  test/development/basic/hmr.test.ts
  test/development/basic/hmr/pages/auto-export-is-ready.js
  test/development/basic/hmr/pages/gsp-is-ready.js
Labels: type: next, created-by: Next.js team

#35766 Docs: update react 18's overview
  docs/advanced-features/react-18/overview.md
  docs/advanced-features/react-18/server-components.md
Labels: area: documentation

#35772 test: add test for basic dynamic import with react 18 hydration
  test/integration/react-18/app/components/foo.js
  test/integration/react-18/app/pages/dynamic-imports.js
  test/integration/react-18/test/basics.js
  test/integration/react-18/test/index.test.js
Labels: created-by: Next.js team

#35785 Fix docs only check for performance metrics job
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#35750 fix(with-mongodb): Change comment of MongoDB `client` in `getServerSideProps`
  examples/with-mongodb/pages/index.js
Labels: area: examples

#35774 Run e2e suite against React 18
  test/e2e/prerender.test.ts
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team

#35796 Use ReadableStream in client hydration for Firefox compatibility
  .github/workflows/build_test_deploy.yml
  packages/next/client/index.tsx
Labels: type: next, created-by: Next.js team

#35787 Continue testing react v17 with e2e tests
  .github/workflows/build_test_deploy.yml
  packages/next/client/index.tsx
  run-tests.js
  test/development/basic-basepath/hmr.test.ts
  test/development/basic/hmr.test.ts
  test/development/basic/styled-components.test.ts
  test/e2e/basepath.test.ts
  test/lib/next-modes/base.ts
Labels: type: next, created-by: Next.js team
