Repository vercel/next.js, pull requests merged in 2022-01, with the labels that each got.

#31473 Update scrolling example using query param instead of hash
  docs/api-reference/next/link.md
Labels: area: documentation

#32934 Remove un-necessary second yarn install from example Dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples, created-by: Next.js team

#32918 Fix `next/image` noscript tag to only render when lazy
  packages/next/client/image.tsx
  test/unit/image-rendering.test.ts
Labels: type: next

#32946 Simplify trace span id generation
  packages/next/trace/report/to-json.ts
  packages/next/trace/shared.ts
  packages/next/trace/trace.ts
  scripts/send-trace-to-jaeger.mjs
  scripts/send-trace-to-jaeger/src/main.rs
Labels: type: next, created-by: Next.js team

#32932 Move resolve-url-loader into Next.js
  package.json
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/loaders/resolve-url-loader/index.js
  packages/next/build/webpack/loaders/resolve-url-loader/lib/file-protocol.js
  packages/next/build/webpack/loaders/resolve-url-loader/lib/join-function.js
  packages/next/build/webpack/loaders/resolve-url-loader/lib/postcss.js
  packages/next/build/webpack/loaders/resolve-url-loader/lib/value-processor.js
  packages/next/compiled/resolve-url-loader/engine/fail.js
  packages/next/compiled/resolve-url-loader/engine/postcss.js
  packages/next/compiled/resolve-url-loader/engine/rework.js
  packages/next/compiled/resolve-url-loader/index.js
  packages/next/compiled/resolve-url-loader/package.json
  packages/next/package.json
  packages/next/taskfile.js
  test/integration/scss-fixtures/url-global-partial/assets/light.svg
  test/integration/scss-fixtures/url-global-partial/pages/_app.js
  test/integration/scss-fixtures/url-global-partial/pages/index.js
  test/integration/scss-fixtures/url-global-partial/styles/dark2.svg
  test/integration/scss-fixtures/url-global-partial/styles/global1.scss
  test/integration/scss-fixtures/url-global-partial/styles/global2.scss
  test/integration/scss-fixtures/url-global-partial/styles/global2b.scss
  test/integration/scss-fixtures/url-global-partial/styles/subdirectory/_partial.scss
  test/integration/scss-fixtures/url-global-partial/styles/subdirectory/darka.svg
  test/integration/scss-fixtures/url-global-partial/styles/subdirectory/darkb.svg
  test/integration/scss/test/index.test.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#32954 fix(router): scroll to top when `href="/"` and hash already present
  packages/next/shared/lib/router/router.ts
  test/integration/router-hash-navigation/pages/index.js
  test/integration/router-hash-navigation/test/index.test.js
Labels: type: next

#32616 Remove un-needed test dependency
  package.json
  packages/next/compiled/ora/index.js
  test/integration/api-body-parser/test/index.test.js
  test/integration/custom-server/test/index.test.js
  test/integration/fetch-polyfill-ky-universal/test/index.test.js
  test/integration/fetch-polyfill/test/index.test.js
  test/integration/filesystempublicroutes/test/index.test.js
  test/integration/ondemand/test/index.test.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#32708 Fix issue with escape-string-regexp in IE11
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/compiled/chalk/index.js
  packages/next/compiled/escape-string-regexp/LICENSE
  packages/next/compiled/escape-string-regexp/index.js
  packages/next/compiled/escape-string-regexp/package.json
  packages/next/lib/load-custom-routes.ts
  packages/next/package.json
  packages/next/shared/lib/escape-regexp.ts
  packages/next/shared/lib/post-process.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
Labels: type: next, created-by: Next.js team

#32767 Allow to opt-out from preflight cache
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/rewrites/about-bypass.js
  test/integration/middleware/core/test/index.test.js
Labels: type: next

#32768 Ensure setImmediate and punycode are polyfilled
  packages/next/build/webpack-config.ts
  packages/next/compiled/punycode/package.json
  packages/next/compiled/punycode/punycode.js
  packages/next/compiled/setimmediate/package.json
  packages/next/compiled/setimmediate/setImmediate.js
  packages/next/compiled/timers-browserify/main.js
  packages/next/package.json
  packages/next/taskfile.js
  test/development/basic/node-browser-polyfills.test.ts
  test/development/basic/node-browser-polyfills/pages/index.js
  test/integration/polyfill-node-modules/next.config.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#32027 Fixes issue with makeStylesheetInert
  packages/next/pages/_document.tsx
  test/integration/font-optimization/fixtures/make-stylesheet-inert-regression/pages/_document.js
  test/integration/font-optimization/fixtures/make-stylesheet-inert-regression/pages/index.js
  test/integration/font-optimization/test/index.test.js
Labels: type: next

#32850 Reduce install size for linux glibc/musl
  packages/next-swc/crates/napi/npm/linux-arm64-gnu/install.js
  packages/next-swc/crates/napi/npm/linux-arm64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-arm64-musl/install.js
  packages/next-swc/crates/napi/npm/linux-arm64-musl/package.json
  packages/next-swc/crates/napi/npm/linux-x64-gnu/install.js
  packages/next-swc/crates/napi/npm/linux-x64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-x64-musl/install.js
  packages/next-swc/crates/napi/npm/linux-x64-musl/package.json
Labels: type: next, created-by: Next.js team

#32967 Ensure middleware is output in standalone mode
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/middleware/_middleware.js
Labels: type: next, created-by: Next.js team

#32973 Revert "Reduce install size for linux glibc/musl"
  packages/next-swc/crates/napi/npm/linux-arm64-gnu/install.js
  packages/next-swc/crates/napi/npm/linux-arm64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-arm64-musl/install.js
  packages/next-swc/crates/napi/npm/linux-arm64-musl/package.json
  packages/next-swc/crates/napi/npm/linux-x64-gnu/install.js
  packages/next-swc/crates/napi/npm/linux-x64-gnu/package.json
  packages/next-swc/crates/napi/npm/linux-x64-musl/install.js
  packages/next-swc/crates/napi/npm/linux-x64-musl/package.json
Labels: type: next, created-by: Next.js team

#32974 Updated wrong link to example of gtag init in measuring-performance.md
  docs/advanced-features/measuring-performance.md
Labels: area: documentation

#32977 fix(examples): add missing dependencies wo
  examples/with-jest/package.json
Labels: area: examples

#32972 feat(cli): introduce `next info` CLI command
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  docs/api-reference/cli.md
  package.json
  packages/next/bin/next.ts
  packages/next/cli/next-info.ts
  packages/next/shared/lib/utils.ts
  test/integration/cli/test/index.test.js
  yarn.lock
Labels: area: documentation, type: next

#32617 Re-enable turbo caching for swc build jobs
  .github/workflows/build_test_deploy.yml
  package.json
  yarn.lock
Labels: created-by: Next.js team

#33016 Rename api in with-redis example
  examples/with-redis/pages/api/create.js
  examples/with-redis/pages/api/features.js
  examples/with-redis/pages/api/subscribe.js
Labels: area: examples

#33032 Ensure NODE_ENV is not inlined for next/jest
  packages/next/build/swc/options.js
  test/unit/jest-next-swc.test.ts
Labels: type: next, created-by: Next.js team

#30321 fix(examples/cms-contentful): add correct Content-Type + missing closing tag for html
  examples/cms-contentful/pages/api/preview.js
Labels: area: examples

#32808 converted the old tailwind css example to typescript
  examples/with-tailwindcss/.eslintrc.json
  examples/with-tailwindcss/.gitignore
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/next-env.d.ts
  examples/with-tailwindcss/next.config.js
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/pages/_app.tsx
  examples/with-tailwindcss/pages/api/hello.js
  examples/with-tailwindcss/pages/api/hello.ts
  examples/with-tailwindcss/pages/index.tsx
  examples/with-tailwindcss/postcss.config.js
  examples/with-tailwindcss/tsconfig.json
Labels: area: examples, area: documentation, type: next, area: create-next-app

#30541 Avoid page double render with emotion vanilla
  examples/with-emotion-vanilla/pages/_document.js
Labels: area: examples

#33042 fix: typescript example supporting strict w/ version >= 4.4
  examples/with-typescript/pages/api/users/index.ts
  examples/with-typescript/pages/users/[id].tsx
Labels: area: examples

#30204 [chore] Update `deta` version in examples
  examples/with-deta-base/package.json
Labels: area: examples

#29501 (examples/with-next-translate) Removed Redundancies in Strings
  examples/with-next-translate/locales/ar/home.json
  examples/with-next-translate/locales/ca/home.json
  examples/with-next-translate/locales/en/home.json
  examples/with-next-translate/locales/he/home.json
  examples/with-next-translate/pages/index.js
Labels: area: examples

#32657 fix: ensure revalidation error is logged from response-cache
  packages/next/server/response-cache.ts
  test/integration/data-fetching-errors/test/index.test.js
Labels: type: next

#32006 Update deployment documentation.
  docs/deployment.md
Labels: area: documentation, created-by: Next.js team

#33049 Fix link for Next.js Analytics in docs
  docs/deployment.md
Labels: area: documentation, created-by: Next.js team

#33062 Remove extra config from tailwind example
  examples/with-tailwindcss/.eslintrc.json
  examples/with-tailwindcss/README.md
  examples/with-tailwindcss/package.json
Labels: area: examples, created-by: Next.js team

#33053 Fix middleware at root in standalone mode
  packages/next/build/utils.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/_middleware.js
Labels: type: next

#33077 docs: fix typo in MDX docs
  docs/advanced-features/using-mdx.md
Labels: area: documentation

#32503 Adding Asset Component for Rich Text Renderer
  examples/cms-contentful/README.md
  examples/cms-contentful/components/post-body.js
  examples/cms-contentful/components/rich-text-asset.js
  examples/cms-contentful/docs/content-entry-preview.jpg
  examples/cms-contentful/docs/content-entry-preview.png
  examples/cms-contentful/docs/content-entry-publish.jpg
  examples/cms-contentful/docs/content-entry-publish.png
  examples/cms-contentful/docs/content-model-overview.jpg
  examples/cms-contentful/docs/content-model-overview.png
  examples/cms-contentful/docs/content-preview-setup.jpg
  examples/cms-contentful/docs/content-preview-setup.png
  examples/cms-contentful/lib/api.js
  examples/cms-contentful/package.json
Labels: area: examples

#33091 Update next.config.js
  packages/create-next-app/templates/typescript/next.config.js
Labels: area: create-next-app

#33063 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/src/page_config.rs
  packages/next-swc/crates/core/src/shake_exports.rs
  packages/next-swc/crates/core/tests/full/auto-cjs/1/output.js
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: area: examples, type: next, created-by: Next.js team

#33120 docs: minor text-copy cleanup
  docs/basic-features/environment-variables.md
  docs/basic-features/fast-refresh.md
Labels: area: documentation

#33136 No info on environment variables in the src folder (#33110)
  docs/advanced-features/src-directory.md
  docs/basic-features/environment-variables.md
Labels: area: documentation

#33134 use a separate webpack runtime for middleware
  packages/next/build/entries.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/shared/lib/constants.ts
  test/integration/middleware/core/test/index.test.js
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#33141 Allow dependencies to use environment variables in middlewares
  packages/next/build/polyfills/process.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/production/dependencies-can-use-env-vars-in-middlewares/index.test.ts
Labels: type: next

#33160 Add Caveats section to custom error page
  docs/advanced-features/custom-error-page.md
Labels: area: documentation

#32709 next-swc: fix ssg code elimination when used in render
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-not-remove-import-used-in-render/input.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-not-remove-import-used-in-render/output.js
Labels: type: next

#32606 drop dynamic import with `ssr: false` on server-side
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/next-dynamic/duplicated-imports/output-server.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/member-with-same-name/output-server.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/no-options/output-server.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/input.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-prod.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-server.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/wrapped-import/output-server.js
Labels: type: next, created-by: Next.js team

#33159 Add util for normalizing errors
  errors/threw-undefined.md
  packages/next/client/index.tsx
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/is-error.ts
  packages/next/lib/is-plain-object.ts
  packages/next/lib/is-serializable-props.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/shared/lib/router/router.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/integration/client-navigation/test/rendering.js
Labels: area: documentation, type: next, created-by: Next.js team

#33198 Fixes #33153: Updating cross-references from master to main + canary
  azure-pipelines.yml
  docs/api-reference/create-next-app.md
  examples/analyze-bundles/README.md
  examples/gh-pages/README.md
  examples/progressive-web-app/pages/index.js
  examples/with-apollo-and-redux/README.md
  examples/with-cypress/pages/index.js
  examples/with-docker/pages/index.js
  examples/with-elasticsearch/pages/index.js
  examples/with-jest-babel/__tests__/__snapshots__/snapshot.tsx.snap
  examples/with-jest-babel/pages/index.tsx
  examples/with-jest/__tests__/__snapshots__/snapshot.tsx.snap
  examples/with-jest/pages/index.tsx
  examples/with-knex/pages/index.js
  examples/with-mdbreact/pages/index.js
  examples/with-mongodb/pages/index.js
  examples/with-playwright/pages/index.js
  examples/with-rbx-bulma-pro/pages/index.js
  examples/with-react-bootstrap/pages/index.jsx
  examples/with-react-with-styles/README.md
  examples/with-reactstrap/pages/index.jsx
  examples/with-redux-persist/README.md
  examples/with-redux-saga/README.md
  examples/with-rematch/README.md
  examples/with-sitemap/pages/index.js
  examples/with-styled-jsx-postcss/README.md
  examples/with-supertokens/pages/index.js
  examples/with-tailwindcss/pages/index.tsx
  examples/with-typestyle/README.md
  lerna.json
  packages/create-next-app/README.md
  packages/create-next-app/templates/default/pages/index.js
  packages/create-next-app/templates/typescript/pages/index.tsx
  test/development/basic/tailwind-jit/pages/index.js
Labels: area: examples, area: documentation, area: create-next-app

#32647 Docs: correct ignorance pattern for .env.local
  docs/basic-features/environment-variables.md
Labels: area: documentation

#30615 Refactor data fetching API docs
  docs/advanced-features/automatic-static-optimization.md
  docs/advanced-features/custom-app.md
  docs/advanced-features/custom-document.md
  docs/advanced-features/custom-error-page.md
  docs/advanced-features/i18n-routing.md
  docs/advanced-features/preview-mode.md
  docs/advanced-features/static-html-export.md
  docs/api-reference/data-fetching/get-initial-props.md
  docs/api-reference/data-fetching/get-server-side-props.md
  docs/api-reference/data-fetching/get-static-paths.md
  docs/api-reference/data-fetching/get-static-props.md
  docs/api-reference/next.config.js/cdn-support-with-asset-prefix.md
  docs/api-reference/next.config.js/redirects.md
  docs/api-reference/next.config.js/rewrites.md
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
  docs/authentication.md
  docs/basic-features/data-fetching.md
  docs/basic-features/data-fetching/client-side.md
  docs/basic-features/data-fetching/get-server-side-props.md
  docs/basic-features/data-fetching/get-static-paths.md
  docs/basic-features/data-fetching/get-static-props.md
  docs/basic-features/data-fetching/incremental-static-regeneration.md
  docs/basic-features/data-fetching/index.md
  docs/basic-features/environment-variables.md
  docs/basic-features/pages.md
  docs/basic-features/typescript.md
  docs/faq.md
  docs/getting-started.md
  docs/going-to-production.md
  docs/manifest.json
  docs/migrating/from-create-react-app.md
  docs/migrating/from-gatsby.md
  docs/routing/introduction.md
  docs/routing/shallow-routing.md
  errors/get-initial-props-as-an-instance-method.md
  examples/blog/pages/posts/pages.md
Labels: area: examples, area: documentation, created-by: Next.js docs team

#33209 Fixed broken link related to the recently merged Data fetching docs refactor
  docs/advanced-features/i18n-routing.md
Labels: area: documentation, created-by: Next.js docs team

#33186 middlewares: limit `process.env` to inferred usage
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/base-server.ts
  packages/next/server/require.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/production/middleware-environment-variables-in-node-server-reflect-the-usage-inference/index.test.ts
Labels: type: next

#33216 Removed backticks on data fetching api titles
  docs/api-reference/data-fetching/get-server-side-props.md
  docs/api-reference/data-fetching/get-static-paths.md
  docs/api-reference/data-fetching/get-static-props.md
  docs/basic-features/data-fetching/get-server-side-props.md
  docs/basic-features/data-fetching/get-static-paths.md
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation, created-by: Next.js docs team

#33221 Added links to data fetching api refs, fixed title
  docs/basic-features/data-fetching/get-server-side-props.md
  docs/basic-features/data-fetching/get-static-paths.md
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation, created-by: Next.js docs team

#33224 Remove outdated & possibly confusing statement about redirects
  docs/api-reference/next.config.js/redirects.md
Labels: area: documentation

#33226 Abstract out native filesystem usage from the base server
  packages/next/lib/load-custom-routes.ts
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/shared/lib/utils.ts
Labels: type: next, created-by: Next.js team

#33218 use text data url instead of base64 for shorter encoding
  packages/next/client/image.tsx
  packages/next/shared/lib/to-base-64.ts
Labels: type: next, created-by: Next.js team

#33252 Typo Fix
  docs/api-reference/data-fetching/get-static-paths.md
Labels: area: documentation

#33142 chore(deps): upgrade `postcss`
  packages/next/compiled/nanoid/index.cjs
  packages/next/compiled/postcss-safe-parser/safe-parse.js
  packages/next/compiled/postcss-scss/scss-syntax.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#33250 Fixed broken links in data fetching docs
  docs/basic-features/data-fetching/client-side.md
  docs/basic-features/data-fetching/get-server-side-props.md
Labels: area: documentation, created-by: Next.js docs team

#33220 Fix global process testing for the process polyfill
  packages/next/build/polyfills/process.js
  test/integration/polyfills/pages/process.js
  test/integration/polyfills/test/index.test.js
Labels: type: next

#33273 docs: Mention middleware for getStaticProps
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation

#33201 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/auto_cjs/mod.rs
  packages/next-swc/crates/core/src/hook_optimizer.rs
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/src/remove_console.rs
  packages/next-swc/crates/core/src/styled_jsx/mod.rs
  packages/next-swc/crates/core/src/styled_jsx/utils.rs
  packages/next-swc/crates/core/tests/fixture/styled-jsx/attribute-generation-modes/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/different-jsx-ids/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/expressions/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-30480/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/issue-31562-interpolation-in-mdea/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/number-after-placeholder/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/styles/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/too-many/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-escape-2/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-1-as-property/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-2-as-part-of-value/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-3-as-value/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-4-as-part-of-value-in-multiple/output.js
  packages/next-swc/crates/core/tests/fixture/styled-jsx/tpl-placeholder-5-values-of-multiple-properties/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#33301 improve full refresh overlay
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/compiled/@next/react-dev-overlay/client.js
  packages/react-dev-overlay/src/internal/container/FullRefreshWarning.tsx
Labels: type: next, created-by: Next.js team

#33149 Custom app for server components
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/client/index.tsx
  packages/next/client/router.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/components/container.server.js
  test/integration/react-streaming-and-server-components/app/pages/err/index.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#33311 Add sections for Remove React Properties and Remove Console to compiler docs
  docs/advanced-features/compiler.md
Labels: area: documentation, created-by: Next.js team

#33317 Update links in `next export` + `next/image` error message
  errors/export-image-api.md
Labels: area: documentation, created-by: Next.js team

#33236 Update yarn PnP tests and disable swc file reading for PnP
  .github/workflows/build_test_deploy.yml
  packages/next/build/webpack/loaders/next-swc-loader.js
  run-tests.js
  scripts/test-pnp.sh
  test/e2e/yarn-pnp/test/pwa-example.test.ts
  test/e2e/yarn-pnp/test/utils.ts
  test/e2e/yarn-pnp/test/with-eslint.test.ts
  test/e2e/yarn-pnp/test/with-mdx.test.ts
  test/e2e/yarn-pnp/test/with-next-sass.test.ts
  test/e2e/yarn-pnp/test/with-styled-components.test.ts
  test/e2e/yarn-pnp/test/with-typescript.test.ts
  test/lib/create-next-install.js
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
Labels: type: next, created-by: Next.js team

#33097 Add `onLoad` gottcha note to `next/script` docs
  docs/api-reference/next/script.md
Labels: area: documentation

#33313 [examples] Update remark dependency for blog-starter
  examples/blog-starter/package.json
Labels: area: examples

#32999 Base Http for BaseServer
  packages/next/build/webpack/loaders/next-serverless-loader/api-handler.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/server/api-utils.ts
  packages/next/server/base-http.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/image-optimizer.ts
  packages/next/server/next-server.ts
  packages/next/server/next.ts
  packages/next/server/request-meta.ts
  packages/next/server/router.ts
  packages/next/server/send-payload.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
Labels: type: next

#33321 Update package.json for examples/with-supabase-auth-realtime-db
  examples/with-supabase-auth-realtime-db/package.json
Labels: area: examples

#33137 Update security-headers.md: fix path does not match homepage
  docs/advanced-features/security-headers.md
Labels: area: documentation

#33358 Add link to security email directly.
  SECURITY.md
Labels: created-by: Next.js team

#33378 fix minor typo in SWR
  docs/basic-features/data-fetching/client-side.md
Labels: area: documentation

#32669 Working example for building forms with Next.js
  examples/next-forms/.eslintrc.json
  examples/next-forms/.gitignore
  examples/next-forms/README.md
  examples/next-forms/next.config.js
  examples/next-forms/package.json
  examples/next-forms/pages/_app.js
  examples/next-forms/pages/api/form.js
  examples/next-forms/pages/index.js
  examples/next-forms/pages/js-form.js
  examples/next-forms/pages/no-js-form.js
  examples/next-forms/public/favicon.ico
  examples/next-forms/public/vercel.svg
  examples/next-forms/styles/Home.module.css
  examples/next-forms/styles/globals.css
Labels: area: examples, created-by: Next.js docs team

#33342 Update swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#33323 Update check for fallback pages during export
  packages/next/export/index.ts
  test/integration/export-fallback-true-error/next.config.js
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-start.ts
  test/production/fallback-export-error/index.test.ts
  test/production/fallback-export-error/pages/[...slug].js
  test/production/fallback-export-error/pages/index.js
Labels: type: next, created-by: Next.js team

#32742 Pre-compile more dependencies
  packages/next/build/babel/loader/get-config.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/build/webpack/require-hook.ts
  packages/next/client/index.tsx
  packages/next/compiled/@next/react-refresh-utils/ReactRefreshWebpackPlugin.js
  packages/next/compiled/@next/react-refresh-utils/internal/ReactRefreshModule.runtime.js
  packages/next/compiled/@next/react-refresh-utils/internal/helpers.js
  packages/next/compiled/@next/react-refresh-utils/loader.js
  packages/next/compiled/@next/react-refresh-utils/package.json
  packages/next/compiled/@next/react-refresh-utils/runtime.js
  packages/next/compiled/jest-worker/LICENSE
  packages/next/compiled/jest-worker/index.js
  packages/next/compiled/jest-worker/package.json
  packages/next/compiled/jest-worker/processChild.js
  packages/next/compiled/jest-worker/threadChild.js
  packages/next/compiled/node-fetch/index.js
  packages/next/compiled/node-fetch/package.json
  packages/next/compiled/react-is/LICENSE
  packages/next/compiled/react-is/README.md
  packages/next/compiled/react-is/build-info.json
  packages/next/compiled/react-is/cjs/react-is.development.js
  packages/next/compiled/react-is/cjs/react-is.production.min.js
  packages/next/compiled/react-is/index.js
  packages/next/compiled/react-is/package.json
  packages/next/compiled/react-is/umd/react-is.development.js
  packages/next/compiled/react-is/umd/react-is.production.min.js
  packages/next/compiled/react-refresh/LICENSE
  packages/next/compiled/react-refresh/README.md
  packages/next/compiled/react-refresh/babel.js
  packages/next/compiled/react-refresh/cjs/react-refresh-babel.development.js
  packages/next/compiled/react-refresh/cjs/react-refresh-babel.production.min.js
  packages/next/compiled/react-refresh/cjs/react-refresh-runtime.development.js
  packages/next/compiled/react-refresh/cjs/react-refresh-runtime.production.min.js
  packages/next/compiled/react-refresh/package.json
  packages/next/compiled/react-refresh/runtime.js
  packages/next/compiled/stream-browserify/LICENSE
  packages/next/compiled/stream-browserify/index.js
  packages/next/compiled/stream-browserify/package.json
  packages/next/lib/verifyAndLint.ts
  packages/next/lib/worker.ts
  packages/next/package.json
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/lib/squoosh/main.ts
  packages/next/server/node-polyfill-fetch.js
  packages/next/server/render.tsx
  packages/next/shared/lib/router/router.ts
  packages/next/taskfile.js
  packages/next/telemetry/post-payload.ts
  packages/next/types/misc.d.ts
  test/production/middleware-typescript/test/index.test.ts
  test/production/typescript-basic/app/pages/index.tsx
  test/production/typescript-basic/app/pages/styled-jsx.tsx
  test/production/typescript-basic/index.test.ts
  test/unit/webpack-config-overrides.test.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#33306 Replace regexp to plain string for optimization render HTML
  packages/next/server/render.tsx
Labels: type: next

#33393 Updates dependency version of frontend SDK in with-supertokens example
  examples/with-supertokens/package.json
Labels: area: examples

#33407 [docs] Fix 404 link for testing example.
  test/readme.md
Labels: created-by: Next.js team

#33326 docs: add skynexui to examples
  examples/with-skynexui-components/.gitignore
  examples/with-skynexui-components/README.md
  examples/with-skynexui-components/package.json
  examples/with-skynexui-components/pages/_app.js
  examples/with-skynexui-components/pages/index.js
Labels: area: examples

#33399 Fix broken html on streaming render for error page
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#33411 ReferenceError in authentication.md example fixed
  docs/authentication.md
Labels: area: documentation

#33409 docs: fix url
  errors/prerender-error.md
Labels: area: documentation

#33438 Disable cache for rsc pages
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#33442 Fix pre-compiled check from copying react-refresh-utils
  packages/next/compiled/@next/react-refresh-utils/ReactRefreshWebpackPlugin.js
  packages/next/compiled/@next/react-refresh-utils/internal/ReactRefreshModule.runtime.js
  packages/next/compiled/@next/react-refresh-utils/internal/helpers.js
  packages/next/compiled/@next/react-refresh-utils/loader.js
  packages/next/compiled/@next/react-refresh-utils/package.json
  packages/next/compiled/@next/react-refresh-utils/runtime.js
  packages/next/compiled/react-refresh/LICENSE
  packages/next/compiled/react-refresh/README.md
  packages/next/compiled/react-refresh/babel.js
  packages/next/compiled/react-refresh/cjs/react-refresh-babel.development.js
  packages/next/compiled/react-refresh/cjs/react-refresh-babel.production.min.js
  packages/next/compiled/react-refresh/cjs/react-refresh-runtime.development.js
  packages/next/compiled/react-refresh/cjs/react-refresh-runtime.production.min.js
  packages/next/compiled/react-refresh/package.json
  packages/next/compiled/react-refresh/runtime.js
  packages/next/taskfile.js
  test/e2e/basepath.test.ts
Labels: type: next, created-by: Next.js team

#33427 fix(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#33448 Move middleware handling to node server
  packages/next/server/base-server.ts
  packages/next/server/incremental-cache.ts
  packages/next/server/next-server.ts
  packages/next/server/request-meta.ts
  packages/next/server/web/sandbox/polyfills.ts
  packages/next/shared/lib/router/utils/parse-url.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
Labels: type: next, created-by: Next.js team

#33410 Enforce absolute URLs in Edge Functions runtime
  errors/manifest.json
  errors/middleware-relative-urls.md
  packages/next/server/web/next-url.ts
  packages/next/server/web/spec-compliant/response.ts
  packages/next/server/web/spec-extension/response.ts
  packages/next/server/web/utils.ts
  test/integration/middleware/core/pages/interface/_middleware.js
  test/integration/middleware/core/pages/redirects/_middleware.js
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/urls/_middleware.js
  test/integration/middleware/core/pages/urls/index.js
  test/integration/middleware/core/pages/urls/urls-b.js
  test/integration/middleware/core/test/index.test.js
  test/integration/middleware/hmr/pages/about/_middleware.js
  test/unit/web-runtime/next-url.test.ts
Labels: area: documentation, type: next

#33461 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#33465 Update main field for nccd jest-worker
  packages/next/compiled/jest-worker/package.json
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#33466 chore(deps): upgrade `node-fetch`
  package.json
  packages/next/compiled/node-fetch/index.js
  yarn.lock
Labels: type: next

#33475 Move static serving to next server
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#33485 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#33487 Update with-linaria dependency
  examples/with-linaria/package.json
Labels: area: examples

#33474 Fix multiple calls to image `onLoadingComplete()`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/on-loading-complete.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#33499 Refactor base server to remove native dependencies
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/output/log.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/export/index.ts
  packages/next/lib/chalk.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/lib/web/chalk.ts
  packages/next/server/api-utils.ts
  packages/next/server/base-http.ts
  packages/next/server/base-server.ts
  packages/next/server/config.ts
  packages/next/server/lib/find-page-file.ts
  packages/next/server/next-server.ts
  packages/next/server/send-payload.ts
  packages/next/server/utils.ts
Labels: type: next, created-by: Next.js team

#33515 fix(docs): Fix typo in Custom Build Id docs
  docs/api-reference/next.config.js/configuring-the-build-id.md
Labels: area: documentation

#33483 [docs] Update authentication docs to fix iron-session link.
  docs/authentication.md
Labels: area: documentation

#33514 Update swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#33537 Implement abstract methods to get manifest files in the base server
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#33542 Simplify getMiddlewareInfo calls
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#33503 Fix static file check with i18n
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  test/integration/i18n-support/test/shared.js
Labels: type: next, created-by: Next.js team

#33546 Bump styled-jsx
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#33535 Update middleware documentation for custom server
  docs/middleware.md
Labels: area: documentation

#33547 Ensure optional value normalizing is correct for index
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#33548 Bump nft to 0.17.4
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next, created-by: Next.js team

#33579 Removed unrequired path in docs' manifest
  docs/manifest.json
Labels: area: documentation

#29386 Add `next-multilingual` example
  examples/with-next-multilingual/README.md
Labels: area: examples, type: next

#33560 Removed the s from NextConfig
  packages/next/server/config-shared.ts
Labels: type: next

#33595 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#33608 Fix rsc export component name detection
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  test/integration/react-streaming-and-server-components/app/pages/next-api/image.server.js
Labels: type: next, created-by: Next.js team

#33609 Update `next/server` documentation for `geo`
  docs/api-reference/next/server.md
Labels: area: documentation, created-by: Next.js team

#33555 Clarify `next/image` usage with `next export` based on feedback.
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Next.js team

#33613 Update to latest version of turbo
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  package.json
  yarn.lock
Labels: created-by: Next.js team

#33614 [examples] Add new Tailwind CSS Prettier plugin to example
  examples/with-tailwindcss/package.json
  examples/with-tailwindcss/pages/index.tsx
  examples/with-tailwindcss/prettier.config.js
Labels: area: examples

#33616 Ensure fetch polyfill is loaded in next-server
  packages/next/build/utils.ts
  packages/next/server/next-server.ts
  test/production/required-server-files/pages/api/optional/[[...rest]].js
  test/production/required-server-files/pages/fallback/[slug].js
  test/production/required-server-files/pages/gssp.js
Labels: type: next, created-by: Next.js team

#33484 Clarify `headers` config option description
  docs/api-reference/next.config.js/headers.md
Labels: area: documentation

#33628 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#33290 Add `lazyRoot` optional property to `next/image` component
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  packages/next/client/use-intersection.tsx
  test/integration/image-component/default/pages/lazy-noref.js
  test/integration/image-component/default/pages/lazy-withref.js
  test/integration/image-component/default/test/index.test.js
Labels: area: documentation, type: next

#33629 fix(errors/no-cache): `netlify-plugin-cache-nextjs` has been deprecated
  errors/no-cache.md
Labels: area: documentation

#33577 Updated docs for getServerSideProps and getStaticProps return values
  docs/api-reference/data-fetching/get-server-side-props.md
  docs/api-reference/data-fetching/get-static-props.md
Labels: area: documentation

#33675 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#33635 Implement web server as the request handler for edge SSR
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/lib/chalk.ts
  packages/next/lib/web/chalk.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/incremental-cache.ts
  packages/next/server/next-server.ts
  packages/next/server/server-route-utils.ts
  packages/next/server/web-server.ts
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#33240 Relay Support in Rust Compiler
  docs/advanced-features/compiler.md
  package.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/relay/input.tsx
  packages/next-swc/crates/core/tests/fixture/relay/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
  test/integration/relay-graphql-swc-multi-project/__generated__/pagesQuery.graphql.ts
  test/integration/relay-graphql-swc-multi-project/project-a/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-a/pages/api/query.ts
  test/integration/relay-graphql-swc-multi-project/project-a/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/project-a/tsconfig.json
  test/integration/relay-graphql-swc-multi-project/project-b/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-b/pages/api/query.ts
  test/integration/relay-graphql-swc-multi-project/project-b/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/project-b/tsconfig.json
  test/integration/relay-graphql-swc-multi-project/relay.config.js
  test/integration/relay-graphql-swc-multi-project/schema.graphql
  test/integration/relay-graphql-swc-multi-project/test/index.test.js
  test/integration/relay-graphql-swc-single-project/__generated__/pagesQuery.graphql.ts
  test/integration/relay-graphql-swc-single-project/next.config.js
  test/integration/relay-graphql-swc-single-project/pages/api/query.ts
  test/integration/relay-graphql-swc-single-project/pages/index.tsx
  test/integration/relay-graphql-swc-single-project/relay.config.js
  test/integration/relay-graphql-swc-single-project/schema.graphql
  test/integration/relay-graphql-swc-single-project/test/index.test.js
  test/integration/relay-graphql-swc-single-project/tsconfig.json
  yarn.lock
Labels: area: documentation, type: next

#33565 Use relative path for example
  docs/basic-features/eslint.md
  errors/no-html-link-for-pages.md
Labels: area: documentation

#33699 Revert "Relay Support in Rust Compiler"
  docs/advanced-features/compiler.md
  package.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/relay/input.tsx
  packages/next-swc/crates/core/tests/fixture/relay/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/server/config-shared.ts
  test/integration/relay-graphql-swc-multi-project/__generated__/pagesQuery.graphql.ts
  test/integration/relay-graphql-swc-multi-project/project-a/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-a/pages/api/query.ts
  test/integration/relay-graphql-swc-multi-project/project-a/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/project-a/tsconfig.json
  test/integration/relay-graphql-swc-multi-project/project-b/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-b/pages/api/query.ts
  test/integration/relay-graphql-swc-multi-project/project-b/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/project-b/tsconfig.json
  test/integration/relay-graphql-swc-multi-project/relay.config.js
  test/integration/relay-graphql-swc-multi-project/schema.graphql
  test/integration/relay-graphql-swc-multi-project/test/index.test.js
  test/integration/relay-graphql-swc-single-project/__generated__/pagesQuery.graphql.ts
  test/integration/relay-graphql-swc-single-project/next.config.js
  test/integration/relay-graphql-swc-single-project/pages/api/query.ts
  test/integration/relay-graphql-swc-single-project/pages/index.tsx
  test/integration/relay-graphql-swc-single-project/relay.config.js
  test/integration/relay-graphql-swc-single-project/schema.graphql
  test/integration/relay-graphql-swc-single-project/test/index.test.js
  test/integration/relay-graphql-swc-single-project/tsconfig.json
  yarn.lock
Labels: area: documentation, type: next, created-by: Next.js team

#33673 chore(docs): update security headers specification
  docs/advanced-features/security-headers.md
Labels: area: documentation

#33681 REMOVE: duplicate key in docs/testing.md
  docs/testing.md
Labels: area: documentation

#33715 Update Time to First Byte (TTFB) link
  docs/basic-features/data-fetching/get-server-side-props.md
Labels: area: documentation

#33719 fix: image optimizer hangs when invalid image is requested
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#33717 feat: make `compress` configurable in standalone mode
  packages/next/build/index.ts
  test/production/required-server-files.test.ts
Labels: type: next

#33638 fix: allow certain variable names in development
  packages/react-refresh-utils/internal/ReactRefreshModule.runtime.ts
  test/development/acceptance/ReactRefreshModule.test.ts
Labels: type: next

#33704 Revert 33699 revert 33240 relay plugin
  .github/workflows/build_test_deploy.yml
  packages/next-swc/crates/core/Cargo.toml
Labels: type: next

#32862 chore: deprecate process.browser
  packages/next/types/global.d.ts
Labels: type: next

#33740 Improve tests for streaming and server components
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/streaming.js
Labels: type: next, created-by: Next.js team

#33695 Fix `with-docker` example dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples

#33690 fix: fixes #33314 move is-plain-object for es5 compilation
  packages/next/lib/is-error.ts
  packages/next/lib/is-serializable-props.ts
  packages/next/shared/lib/is-plain-object.ts
Labels: type: next

#33647 Added next.config.js with datocms-assets domain in allow list
  examples/cms-datocms/next.config.js
Labels: area: examples

#33745 fix rsc test suite runner
  test/integration/react-streaming-and-server-components/test/index.test.js
Labels: created-by: Next.js team

#33735 Add `stale-while-revalidate` pattern to Image Optimization API
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/index.test.js
Labels: type: next, created-by: Next.js team

#33725 Allow to delete URL search params in middleware rewrites
  errors/deleting-query-params-in-middlewares.md
  errors/manifest.json
  packages/next/server/next-server.ts
  packages/next/server/request-meta.ts
  packages/next/server/router.ts
  test/integration/middleware/core/pages/rewrites/_middleware.js
  test/integration/middleware/core/pages/rewrites/clear-query-params.js
  test/integration/middleware/core/test/index.test.js
Labels: area: documentation, type: next

#33755 Correct misspelling in testing documentation #33754
  docs/testing.md
Labels: area: documentation

#33753 Ensure non-error thrown in getStaticPaths shows correctly
  packages/next/build/index.ts
  test/integration/invalid-page-automatic-static-optimization/test/index.test.js
Labels: type: next, created-by: Next.js team

#33744 Move custom server note from middleware doc
  docs/advanced-features/custom-server.md
  docs/middleware.md
Labels: area: documentation, created-by: Next.js team

#33767 Fix: broken npm install
  examples/with-supertokens/package.json
Labels: area: examples

#33763 Fix encoding error with location and refresh headers
  packages/next/server/server-route-utils.ts
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#33761 [example] Upgrade the with-stripe-typescript example app
  examples/with-stripe-typescript/components/Cart.tsx
  examples/with-stripe-typescript/components/CartSummary.tsx
  examples/with-stripe-typescript/components/ClearCart.tsx
  examples/with-stripe-typescript/components/ElementsForm.tsx
  examples/with-stripe-typescript/components/Products.tsx
  examples/with-stripe-typescript/data/products.json
  examples/with-stripe-typescript/data/products.ts
  examples/with-stripe-typescript/package.json
  examples/with-stripe-typescript/pages/api/checkout_sessions/[id].ts
  examples/with-stripe-typescript/pages/api/checkout_sessions/cart.ts
  examples/with-stripe-typescript/pages/api/checkout_sessions/index.ts
  examples/with-stripe-typescript/pages/api/payment_intents/index.ts
  examples/with-stripe-typescript/pages/api/webhooks/index.ts
  examples/with-stripe-typescript/pages/donate-with-elements.tsx
  examples/with-stripe-typescript/tsconfig.json
  examples/with-stripe-typescript/utils/api-helpers.ts
  examples/with-stripe-typescript/utils/stripe-helpers.ts
Labels: area: examples

#33776 Fix duplicate image src causing canceled request
  package.json
  packages/next/client/image.tsx
  test/integration/image-component/react-virtualized/pages/index.js
  test/integration/image-component/react-virtualized/public/test.jpg
  test/integration/image-component/react-virtualized/test/index.test.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
  test/lib/next-webdriver.ts
  yarn.lock
Labels: type: next, created-by: Next.js team

#33774 Fixed duplicate data fetching overview page + links
  docs/advanced-features/custom-error-page.md
  docs/api-reference/next.config.js/exportPathMap.md
  docs/api-reference/next.config.js/headers.md
  docs/manifest.json
  docs/routing/introduction.md
  errors/conflicting-ssg-paths.md
  errors/gsp-redirect-during-prerender.md
  errors/gssp-export.md
  errors/gssp-mixed-not-found-redirect.md
  errors/invalid-redirect-gssp.md
  errors/page-data-collection-timeout.md
  errors/prerender-error.md
  errors/rewrite-auto-export-fallback.md
  errors/static-page-generation-timeout.md
  examples/api-routes-apollo-server/README.md
  examples/with-apollo/pages/about.js
  examples/with-iron-session/README.md
  examples/with-iron-session/pages/profile-ssr.tsx
  examples/with-mux-video/README.md
Labels: area: examples, area: documentation, created-by: Next.js docs team

#33780 Remove relay-compiler as a dependency, to unblock the build.
  .github/workflows/build_test_deploy.yml
  docs/advanced-features/compiler.md
  package.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/relay/input.tsx
  packages/next-swc/crates/core/tests/fixture/relay/output.js
  packages/next-swc/crates/core/tests/full.rs
  test/integration/relay-graphql-swc-multi-project/project-a/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-b/next.config.js
  test/integration/relay-graphql-swc-single-project/next.config.js
  test/integration/relay-graphql-swc-single-project/relay.config.js
  yarn.lock
Labels: area: documentation, type: next

#33795 Few more fixes for Relay Support in Rust Compiler PR
  .github/workflows/build_test_deploy.yml
  packages/next/server/config-shared.ts
  test/integration/relay-graphql-swc-multi-project/project-a/__generated__/pagesAQuery.graphql.ts
  test/integration/relay-graphql-swc-multi-project/project-a/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-a/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/project-b/__generated__/pagesBQuery.graphql.ts
  test/integration/relay-graphql-swc-multi-project/project-b/next.config.js
  test/integration/relay-graphql-swc-multi-project/project-b/pages/index.tsx
  test/integration/relay-graphql-swc-multi-project/relay.config.js
Labels: type: next
