Repository vercel/next.js, pull requests merged in 2022-12, with the labels that each got.

#43480 Group redirect status imports
  packages/next/lib/redirect-status.ts
Labels: type: next

#43326 Fix `Failed to copy traced files` for Edge functions and handle its files with middleware-manifest.json
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/e2e/og-api/index.test.ts
Labels: type: next

#43395 fix: Dynamic Usage Error when using previewData with generateStaticParams and appDir
  packages/next/client/components/headers.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/app-static/app/ssg-preview/[[...route]]/page.js
Labels: type: next

#43511 Minimized runtime errors in app dir
  packages/next/client/components/react-dev-overlay/hot-reloader-client.tsx
  packages/next/client/components/react-dev-overlay/internal/container/Errors.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance-app/helpers.ts
  test/e2e/app-dir/dynamic-href.test.ts
  test/e2e/app-dir/index.test.ts
  test/lib/next-test-utils.js
Labels: type: next

#43607 Changed output mode on app directory test application
  test/e2e/app-dir/app/next.config.js
Labels: area: app

#43608 Fix deploy button in with-xata example
  examples/with-xata/README.md
  examples/with-xata/package.json
  examples/with-xata/pages/index.tsx
  examples/with-xata/schema.template.json
  examples/with-xata/utils/xata.codegen.ts
Labels: area: examples

#43572 adding note that edge api routes are not supported with ISR
  docs/basic-features/data-fetching/incremental-static-regeneration.md
Labels: area: documentation

#43615 Improve docs for URL Imports
  docs/api-reference/next.config.js/url-imports.md
Labels: area: documentation, created-by: Next.js team

#43618 Fix output: standalone test for app directory
  test/e2e/app-dir/app/next.config.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/standalone.test.ts
Labels: created-by: Next.js team

#43250 Add with-cloudinary example
  examples/with-cloudinary/.env.local.example
  examples/with-cloudinary/.gitignore
  examples/with-cloudinary/README.md
  examples/with-cloudinary/components/Carousel.tsx
  examples/with-cloudinary/components/Icons/Bridge.tsx
  examples/with-cloudinary/components/Icons/Logo.tsx
  examples/with-cloudinary/components/Icons/Twitter.tsx
  examples/with-cloudinary/components/Modal.tsx
  examples/with-cloudinary/components/SharedModal.tsx
  examples/with-cloudinary/next.config.js
  examples/with-cloudinary/package.json
  examples/with-cloudinary/pages/_app.tsx
  examples/with-cloudinary/pages/_document.tsx
  examples/with-cloudinary/pages/index.tsx
  examples/with-cloudinary/pages/p/[photoId].tsx
  examples/with-cloudinary/postcss.config.js
  examples/with-cloudinary/public/favicon.ico
  examples/with-cloudinary/public/og-image.png
  examples/with-cloudinary/styles/index.css
  examples/with-cloudinary/tailwind.config.js
  examples/with-cloudinary/tsconfig.json
  examples/with-cloudinary/utils/animationVariants.ts
  examples/with-cloudinary/utils/cachedImages.ts
  examples/with-cloudinary/utils/cloudinary.ts
  examples/with-cloudinary/utils/downloadPhoto.ts
  examples/with-cloudinary/utils/generateBlurPlaceholder.ts
  examples/with-cloudinary/utils/range.ts
  examples/with-cloudinary/utils/types.ts
  examples/with-cloudinary/utils/useLastViewedPhoto.ts
  examples/with-sfcc/README.md
Labels: area: examples

#43617 Update react next tag
  package.json
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server-rendering-stub.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server.browser.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server.bun.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server.bun.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/compiled/react-dom/cjs/react-dom-server.node.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom-test-utils.development.js
  packages/next/compiled/react-dom/cjs/react-dom-test-utils.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom.development.js
  packages/next/compiled/react-dom/cjs/react-dom.production.min.js
  packages/next/compiled/react-dom/cjs/react-dom.profiling.min.js
  packages/next/compiled/react-dom/package.json
  packages/next/compiled/react-dom/server.bun.js
  packages/next/compiled/react-server-dom-webpack/server.browser.js
  packages/next/compiled/react/cjs/react.development.js
  packages/next/compiled/react/cjs/react.production.min.js
  packages/next/compiled/react/cjs/react.shared-subset.development.js
  packages/next/compiled/react/cjs/react.shared-subset.production.min.js
  packages/next/compiled/react/package.json
  packages/next/taskfile.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#42739 examples(with-turbopack): Fix styling page default active stylingNav
  examples/with-turbopack/app/styling/StylingNav.tsx
Labels: area: examples

#43546 fix(jest): pattern when detecting packages to transpile in next/jest
  packages/next/build/jest/jest.ts
Labels: type: next

#43597 Adding head element checking for root layout
  packages/next/client/components/react-dev-overlay/internal/container/RootLayoutError.tsx
  packages/next/server/node-web-streams-helper.ts
  test/e2e/app-dir/root-layout.test.ts
  test/e2e/app-dir/root-layout/app/(required-tags)/has-tags/layout.js
Labels: type: next

#43646 Fixed broken Cloudinary example
  examples/with-cloudinary/package.json
Labels: area: examples

#43648 Revert: 'Minimized runtime errors in app dir'
  packages/next/client/components/react-dev-overlay/internal/container/Errors.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance-app/helpers.ts
  test/e2e/app-dir/dynamic-href.test.ts
  test/e2e/app-dir/index.test.ts
  test/lib/next-test-utils.js
Labels: type: next

#43482 Update create-next-app template
  packages/create-next-app/templates/app/js/README-template.md
  packages/create-next-app/templates/app/js/app/globals.css
  packages/create-next-app/templates/app/js/app/page.jsx
  packages/create-next-app/templates/app/js/app/page.module.css
  packages/create-next-app/templates/app/js/gitignore
  packages/create-next-app/templates/app/js/public/next.svg
  packages/create-next-app/templates/app/js/public/thirteen.svg
  packages/create-next-app/templates/app/js/public/vercel.svg
  packages/create-next-app/templates/app/ts/app/globals.css
  packages/create-next-app/templates/app/ts/app/page.module.css
  packages/create-next-app/templates/app/ts/app/page.tsx
  packages/create-next-app/templates/app/ts/public/next.svg
  packages/create-next-app/templates/app/ts/public/thirteen.svg
  packages/create-next-app/templates/app/ts/public/vercel.svg
  packages/create-next-app/templates/default/js/gitignore
  packages/create-next-app/templates/default/js/next.config.js
  packages/create-next-app/templates/default/js/pages/_app.js
  packages/create-next-app/templates/default/js/pages/_document.js
  packages/create-next-app/templates/default/js/pages/index.js
  packages/create-next-app/templates/default/js/public/next.svg
  packages/create-next-app/templates/default/js/public/thirteen.svg
  packages/create-next-app/templates/default/js/public/vercel.svg
  packages/create-next-app/templates/default/js/styles/Home.module.css
  packages/create-next-app/templates/default/js/styles/globals.css
  packages/create-next-app/templates/default/ts/pages/_document.tsx
  packages/create-next-app/templates/default/ts/pages/index.tsx
  packages/create-next-app/templates/default/ts/public/next.svg
  packages/create-next-app/templates/default/ts/public/thirteen.svg
  packages/create-next-app/templates/default/ts/public/vercel.svg
  packages/create-next-app/templates/default/ts/styles/Home.module.css
  packages/create-next-app/templates/default/ts/styles/globals.css
  packages/create-next-app/templates/index.ts
  test/integration/create-next-app/lib/specification.ts
Labels: area: create-next-app

#43641 fix: properly handle `trailingSlash: true` and `rewrites`
  packages/next/shared/lib/router/adapters.tsx
  test/e2e/trailingslash-with-rewrite/app/next.config.js
  test/e2e/trailingslash-with-rewrite/app/pages/index.js
  test/e2e/trailingslash-with-rewrite/index.test.ts
Labels: type: next

#43633 @next/font fallback fonts order fix
  packages/next/build/webpack/loaders/next-font-loader/postcss-font-loader.ts
  test/e2e/next-font/app/pages/with-fallback.js
  test/e2e/next-font/index.test.ts
Labels: type: next

#43659 Update cache handling for app
  packages/next/client/components/app-router-headers.ts
  packages/next/client/components/static-generation-async-storage.ts
  packages/next/export/worker.ts
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/lib/incremental-cache/fetch-cache.ts
  packages/next/server/lib/incremental-cache/file-system-cache.ts
  packages/next/server/lib/incremental-cache/index.ts
  packages/next/server/next-server.ts
  packages/next/server/response-cache/index.ts
  packages/next/server/response-cache/types.ts
  packages/next/server/response-cache/web.ts
  packages/next/server/web-server.ts
  packages/next/server/web/adapter.ts
  packages/next/types/global.d.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/app-static/app/ssr-auto/fetch-revalidate-zero/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate/layout.js
  test/e2e/app-dir/app-static/app/variable-revalidate/no-store/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate/revalidate-3/page.js
  test/e2e/app-dir/app-static/next.config.js
Labels: type: next, created-by: Next.js team

#43672 Remove resolved `app` directory todos
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/client/components/app-router.tsx
  packages/next/client/components/layout-router.tsx
  packages/next/client/components/navigation.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/launchEditor.ts
  packages/next/client/components/react-dev-overlay/internal/helpers/use-websocket.ts
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
  packages/next/types/index.d.ts
Labels: type: next, created-by: Next.js team

#43661 Update test config
  .github/workflows/build_test_deploy.yml
  package.json
  pnpm-lock.yaml
  test/development/typescript-auto-install/index.test.ts
  test/integration/create-next-app/index.test.ts
  test/integration/initial-ref/pages/index.js
  test/integration/prerender-preview/test/index.test.js
  test/integration/typescript/test/index.test.js
  test/lib/use-temp-dir.ts
Labels: created-by: Next.js team

#43682 Update flakey app logbox test
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: created-by: Next.js team

#43702 Update flakey GSSP preview test
  test/integration/getserversideprops-preview/test/index.test.js
Labels: created-by: Next.js team

#43685 Fix typo in comment
  packages/next/client/components/app-router.tsx
Labels: type: next

#43686 docs: Add notes about NEXT_MANUAL_SIG_HANDLE
  docs/deployment.md
Labels: area: documentation

#43730 perf: disable prefetching for links in viewport in development for app routes
  packages/next/client/link.tsx
Labels: type: next

#43717 Remove additional `<div>` at each segment level in `app`
  packages/next/client/components/layout-router.tsx
Labels: type: next, created-by: Next.js team

#43760 Revert "Adding head element checking for root layout"
  packages/next/client/components/react-dev-overlay/internal/container/RootLayoutError.tsx
  packages/next/server/node-web-streams-helper.ts
  test/e2e/app-dir/root-layout.test.ts
  test/e2e/app-dir/root-layout/app/(required-tags)/has-tags/layout.js
Labels: type: next, created-by: Next.js team

#43767 fix ci pnpm lock error
  packages/next/compiled/@vercel/nft/index.js
  packages/next/compiled/babel-packages/packages-bundle.js
  packages/next/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#43779 Add tests for server component HMR
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#43780 Changes `vercel/examples` links from linking to GitHub repo to template marketplace
  errors/node-module-in-edge-runtime.md
Labels: area: documentation

#43673 Force reflow when setting scrollBehavior
  packages/next/client/components/layout-router.tsx
  packages/next/client/index.tsx
  packages/next/shared/lib/router/router.ts
Labels: type: next

#43715 Remove `__webpack_exports__` from error overlay
  packages/react-dev-overlay/src/middleware.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
Labels: type: next

#43778 Fix chunk hash logic in hot-reloader for server components
  packages/next/server/dev/hot-reloader.ts
  test/e2e/app-dir/app/app/dashboard/page/page.jsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#43782 Remove `swcMinify` from Next config in CNA template
  packages/create-next-app/templates/default/js/next.config.js
  packages/create-next-app/templates/default/ts/next.config.js
Labels: area: create-next-app

#43736 Convert `with-why-did-you-render` example to TypeScript
  examples/with-why-did-you-render/README.md
  examples/with-why-did-you-render/components/header.tsx
  examples/with-why-did-you-render/next.config.js
  examples/with-why-did-you-render/package.json
  examples/with-why-did-you-render/pages/_app.js
  examples/with-why-did-you-render/pages/_app.tsx
  examples/with-why-did-you-render/pages/index.tsx
  examples/with-why-did-you-render/scripts/wdyr.ts
  examples/with-why-did-you-render/tsconfig.json
Labels: area: examples

#43784 chore(examples): Remove deprecated function from chakra
  examples/with-chakra-ui/src/theme.tsx
Labels: area: examples

#43741 chore(examples): Update convex example
  examples/convex/README.md
  examples/convex/convex/README.md
  examples/convex/convex/_generated/api.d.ts
  examples/convex/convex/_generated/clientConfig.d.ts
  examples/convex/convex/_generated/clientConfig.js
  examples/convex/convex/_generated/dataModel.d.ts
  examples/convex/convex/_generated/dataModel.js
  examples/convex/convex/_generated/react.d.ts
  examples/convex/convex/_generated/react.js
  examples/convex/convex/_generated/server.d.ts
  examples/convex/convex/_generated/server.js
  examples/convex/convex/getCounter.ts
  examples/convex/convex/incrementCounter.ts
  examples/convex/convex/listMessages.ts
  examples/convex/convex/schema.ts
  examples/convex/convex/sendMessage.ts
  examples/convex/convex/tsconfig.json
  examples/convex/package.json
  examples/convex/pages/index.tsx
  examples/convex/styles/Home.module.css
  examples/convex/styles/globals.css
Labels: area: examples

#43197 Assign layer to app client entries
  packages/next/build/entries.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  packages/next/lib/constants.ts
Labels: type: next, created-by: Next.js team

#43801 Remove notifications emitted during pnpm dev
  package.json
  packages/next/taskfile.js
  pnpm-lock.yaml
Labels: type: next

#43742 Display error digest if presented
  packages/next/client/components/error-boundary.tsx
  test/e2e/app-dir/app/app/error/global-error-boundary/client/page.js
  test/e2e/app-dir/app/app/error/global-error-boundary/server/page.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#43827 Do not attach CSS checksum for production build
  packages/next/build/webpack/loaders/next-flight-css-dev-loader.ts
Labels: type: next, created-by: Next.js team

#43818 Upgrade playwright to 1.28.1
  .github/workflows/build_test_deploy.yml
  .github/workflows/test_react_experimental.yml
  .github/workflows/test_react_next.yml
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#43835 Provide error hints for invalid layout props via the TS plugin
  packages/next/server/next-typescript.ts
  test/e2e/app-dir/app-typescript/app/@test/inner/page.tsx
  test/e2e/app-dir/app-typescript/app/layout.tsx
Labels: type: next, created-by: Next.js team

#43828 Refactor code
  packages/next/server/dev/hot-reloader.ts
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#43844 Unhandled errors and rejections opens as minimized in app dir error overlay
  packages/next/client/components/react-dev-overlay/internal/ReactDevOverlay.tsx
  packages/next/client/components/react-dev-overlay/internal/container/Errors.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/helpers.ts
Labels: type: next

#43834 docs: add readme with development instructions for next/swc
  packages/next-swc/README.md
Labels: type: next, created-by: Next.js team

#43853 test: client component under server component with ssr:false
  test/e2e/app-dir/app/app/dashboard/dynamic/text-client.js
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#43843 docs(migrating): fix broken react-router link
  docs/migrating/from-react-router.md
Labels: area: documentation

#43823 Use proxy to ensure Flight is referencing to the latest module during development
  packages/next/client/app-index.tsx
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#43856 Delete duplicate SECURITY.md
  SECURITY.md
Labels: created-by: Next.js team

#43859 memory: fix 2 memory leaks in `next-dev`
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
Labels: type: next

#43848 Refactoring in @next/font
  packages/font/src/google/loader.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/next-font.ts
  packages/next/build/webpack/loaders/next-font-loader/index.ts
  packages/next/build/webpack/loaders/next-font-loader/postcss-next-font.ts
Labels: type: next

#43855 Update dependencies for Convex demo
  examples/convex/package.json
Labels: area: examples

#43652 build(cargo): bump up swc_core, turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/errors/next-dynamic/no-arguments/output.stderr
  packages/next-swc/crates/core/tests/errors/next-dynamic/options-as-variable/output.stderr
  packages/next-swc/crates/core/tests/errors/next-dynamic/too-many-arguments/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/export-let/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-const/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-ident/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/options-object/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/spread-arg/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/wrong-scope/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-paths/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/server-side-after-static-props/output.stderr
  packages/next-swc/crates/core/tests/errors/next-ssg/static-paths-after-server-side/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/client-graph/get-server-side-props/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/client-graph/get-static-props/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/client-graph/server-only/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/client-graph/use-client/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/client-only/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/get-server-side-props/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/get-static-props/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/react-api/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/react-dom-api/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/react-dom-server-client/output.stderr
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/__snapshots__/ReactRefreshLogBox-app-doc.test.ts.snap
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
Labels: type: next

#43884 test: use react latest
  test/e2e/app-dir/asset-prefix.test.ts
  test/e2e/app-dir/back-button-download-bug.test.ts
  test/e2e/app-dir/create-root-layout.test.ts
  test/e2e/app-dir/dynamic-href.test.ts
  test/e2e/app-dir/head.test.ts
  test/e2e/app-dir/import.test.ts
  test/e2e/app-dir/next-font.test.ts
  test/e2e/app-dir/next-image.test.ts
  test/e2e/app-dir/prefetching.test.ts
  test/e2e/app-dir/rendering.test.ts
  test/e2e/app-dir/root-layout.test.ts
  test/e2e/app-dir/rsc-errors.test.ts
  test/e2e/app-dir/trailingslash.test.ts
  test/e2e/app-dir/with-babel.test.ts
Labels: created-by: Next.js team

#43885 Alias next/head to noop for rsc and add upgration warning
  packages/next/build/webpack-config.ts
  packages/next/client/components/noop-head.tsx
  test/e2e/app-dir/head.test.ts
  test/e2e/app-dir/head/app/next-head/client-head.js
  test/e2e/app-dir/head/app/next-head/dynamic-head.js
  test/e2e/app-dir/head/app/next-head/page.js
Labels: type: next, created-by: Next.js team

#43866 Update freebsd build
  .github/workflows/build_test_deploy.yml
Labels: type: next, created-by: Next.js team

#43900 Fix error message for invalid `runtime` option in app dir
  packages/next/build/analysis/get-page-static-info.ts
  test/e2e/switchable-runtime/app/app-invalid-runtime/page.js
  test/e2e/switchable-runtime/index.test.ts
Labels: type: next, created-by: Next.js team

#43901 fix: forwarding props to no ssr dynamic
  packages/next/shared/lib/dynamic.tsx
  test/e2e/app-dir/app/app/dashboard/dynamic/dynamic-imports/dynamic-client.js
  test/e2e/app-dir/app/app/dashboard/dynamic/text-dynamic-no-ssr-client.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#43906 Support for named slots in type checking
  packages/next/build/webpack/plugins/flight-types-plugin.ts
  packages/next/lib/typescript/diagnosticFormatter.ts
Labels: type: next, created-by: Next.js team

#43872 Update compiler.md
  docs/advanced-features/compiler.md
Labels: area: documentation

#43923 Fix next/dynamic types for resolving named export module
  .gitignore
  packages/next/shared/lib/dynamic.tsx
  test/production/typescript-basic/app/components/named.tsx
  test/production/typescript-basic/app/pages/dynamic.tsx
Labels: type: next, created-by: Next.js team

#43909 Add auto completion for prop names and types to the TS plugin
  packages/next/server/next-typescript.ts
Labels: type: next, created-by: Next.js team

#43935 Skip creating VSCode config and `.gitignore` if running in CI
  packages/next/lib/verifyTypeScriptSetup.ts
Labels: type: next, created-by: Next.js team

#43874 Convert `with-gsap`, `with-mqtt-js`, `with-mux-video` examples to Typescript
  examples/with-gsap/components/Content.tsx
  examples/with-gsap/components/Home.tsx
  examples/with-gsap/components/Title.tsx
  examples/with-gsap/package.json
  examples/with-gsap/pages/_app.js
  examples/with-gsap/pages/_app.tsx
  examples/with-gsap/pages/_document.js
  examples/with-gsap/pages/api/hello.js
  examples/with-gsap/pages/index.tsx
  examples/with-gsap/tsconfig.json
  examples/with-mqtt-js/environment.d.ts
  examples/with-mqtt-js/lib/useMqtt.ts
  examples/with-mqtt-js/package.json
  examples/with-mqtt-js/pages/index.tsx
  examples/with-mqtt-js/tsconfig.json
  examples/with-mux-video/components/button.tsx
  examples/with-mux-video/components/error-message.tsx
  examples/with-mux-video/components/layout.tsx
  examples/with-mux-video/components/spinner.tsx
  examples/with-mux-video/components/upload-form.tsx
  examples/with-mux-video/components/upload-page.tsx
  examples/with-mux-video/constants.ts
  examples/with-mux-video/package.json
  examples/with-mux-video/pages/api/asset/[id].ts
  examples/with-mux-video/pages/api/upload.ts
  examples/with-mux-video/pages/api/upload/[id].ts
  examples/with-mux-video/pages/asset/[id].tsx
  examples/with-mux-video/pages/index.tsx
  examples/with-mux-video/pages/v/[id].tsx
  examples/with-mux-video/tsconfig.json
Labels: area: examples

#43747 Add helpful error for createContext used in Server Components
  errors/context-in-server-component.md
  errors/manifest.json
  packages/next/lib/format-server-error.ts
  packages/next/server/dev/next-dev-server.ts
  test/development/acceptance-app/__snapshots__/server-components.test.ts.snap
  test/development/acceptance-app/server-components.test.ts
Labels: area: documentation, type: next

#43951 Update flakey dev context tests
  test/development/acceptance-app/__snapshots__/server-components.test.ts.snap
  test/development/acceptance-app/server-components.test.ts
Labels: created-by: Next.js team

#43800 Increase stack trace limit on the server
  packages/next/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  packages/next/server/dev/next-dev-server.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: type: next

#43868 Refactor image optimization util
  packages/next/build/webpack/loaders/next-image-loader.ts
  packages/next/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#43887 Open server component errors fullscreen
  packages/next/client/components/react-dev-overlay/hot-reloader-client.tsx
  packages/next/client/components/react-dev-overlay/internal/ReactDevOverlay.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: type: next

#43954 Add VSCode settings and recommended extensions for Next.js repository
  .vscode/extensions.json
  .vscode/settings.json
Labels: created-by: Next.js team

#43958 next-dev: restart dev server exceeds the memory limits
  packages/next/cli/next-dev.ts
  packages/next/server/lib/start-server.ts
Labels: type: next

#43948 Fix: status log when NEXT_TELEMETRY_DISABLED env is set
  packages/next/telemetry/storage.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next

#43984 Update docs change files list
  scripts/run-for-change.js
Labels: created-by: Next.js team

#43979 chore: add repro links in "verify canary" comment
  .github/actions/issue-validator/canary.md
  examples/reproduction-template/package.json
Labels: area: examples

#43974 Erase dynamic ssr:false imports on server
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/next-dynamic/with-options/output-server.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/wrapped-import/output-server.js
  test/development/basic-basepath/next-dynamic.test.ts
  test/development/basic/next-dynamic.test.ts
Labels: type: next, created-by: Next.js team

#43987 use a function expression to access arguments binding
  packages/next/server/app-render.tsx
Labels: type: next

#43836 Added support for query params on not found pages
  packages/next/client/index.tsx
  packages/next/shared/lib/router/router.ts
  test/e2e/404-page-router/app/components/debug-error.js
  test/e2e/404-page-router/app/components/debug.js
  test/e2e/404-page-router/app/middleware.js
  test/e2e/404-page-router/app/pages/404.js
  test/e2e/404-page-router/app/pages/_error.js
  test/e2e/404-page-router/app/pages/error.js
  test/e2e/404-page-router/index.test.ts
Labels: type: next

#43990 Fix e2e deploy test setup
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#43982 Update `no-img-element` lint rule
  docs/basic-features/eslint.md
  errors/no-img-element.md
  packages/eslint-plugin-next/src/rules/no-img-element.ts
  test/integration/eslint/test/index.test.js
  test/unit/eslint-plugin-next/no-img-element.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#43746 Fix: fix pages in Route Groups returning 500 with `output: "standalone"`
  packages/next/build/index.ts
  packages/next/build/utils.ts
  test/e2e/app-dir/standalone.test.ts
Labels: type: next

#43963 Add default head for app dir
  packages/next/client/components/head.tsx
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/pages/index.js
  test/e2e/app-dir/head.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team

#43919 Fix browser navigation buttons not working with shallow routing and middleware
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-shallow-link/app/middleware.js
  test/e2e/middleware-shallow-link/app/pages/index.js
  test/e2e/middleware-shallow-link/app/pages/page2.js
  test/e2e/middleware-shallow-link/index.test.ts
Labels: type: next

#43882 Fast refresh should recover from event handler errors in app dir
  packages/next/client/components/react-dev-overlay/hot-reloader-client.tsx
  packages/next/client/components/react-dev-overlay/internal/ReactDevOverlay.tsx
  packages/next/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance-app/helpers.ts
Labels: type: next

#43998 Fix module error for findDOMNode on edge
  packages/next/client/components/layout-router.tsx
  test/e2e/app-dir/app-edge.test.ts
  test/e2e/streaming-ssr/index.test.ts
  test/e2e/streaming-ssr/streaming-ssr/pages/router.js
Labels: type: next, created-by: Next.js team

#44007 Add docs for missing support on custom routes
  docs/api-reference/next.config.js/headers.md
  docs/api-reference/next.config.js/redirects.md
  docs/api-reference/next.config.js/rewrites.md
Labels: area: documentation, created-by: Next.js team

#44008 Adding data attr to inlined font definition
  packages/next/server/post-process.ts
Labels: type: next, created-by: Chrome Aurora

#44020 docs: fix wording
  docs/api-reference/next/legacy/image.md
Labels: area: documentation

#44029 not ie 11 is dead
  docs/advanced-features/customizing-postcss-config.md
Labels: area: documentation

#44032 Fix `.images.remotePatterns[0].port` warning
  packages/next/server/config-schema.ts
Labels: type: next, created-by: Next.js team

#44011 Fix app client entry key for windows
  azure-pipelines.yml
  package.json
  packages/create-next-app/package.json
  packages/font/package.json
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
  pnpm-lock.yaml
  test/integration/app-dir-basic/app/blog/page.js
  test/integration/app-dir-basic/app/layout.js
  test/integration/app-dir-basic/app/page.js
  test/integration/app-dir-basic/next.config.js
  test/integration/app-dir-basic/test/index.test.js
Labels: type: next, area: create-next-app, created-by: Next.js team

#44052 Fix windows slashes for app client entry
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  test/integration/app-dir-basic/app/blog/page.js
  test/integration/app-dir-basic/app/page.js
  test/integration/app-dir-basic/test/index.test.js
Labels: type: next, created-by: Next.js team

#44063 Hash both pitch and main loader for server CSS imports
  packages/next/build/webpack/loaders/next-flight-css-dev-loader.ts
Labels: type: next, created-by: Next.js team

#44001 docs: Add explanation about font-display
  docs/basic-features/font-optimization.md
Labels: area: documentation

#44042 Updates with-supertokens example
  examples/with-supertokens/package.json
Labels: area: examples

#44073 Remove extra turbo test
  test/integration/css-modules/test/index.test.js
Labels: created-by: Next.js team

#44046 Add tracing for testing tools
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  .gitignore
  contributing/core/testing.md
  packages/next/trace/trace.ts
  run-tests.js
  scripts/trace-next-server.js
  test/e2e/test-utils-tests/basic/basic.test.ts
  test/e2e/test-utils-tests/basic/pages/index.tsx
  test/lib/create-next-install.js
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-deploy.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
Labels: type: next

#44048 Run packing in tests in parallel
  .github/actions/next-stats-action/src/prepare/repo-setup.js
Labels: type: next

#43969 Test that adding query can be detected by useSearchParams
  test/e2e/app-dir/navigation-and-querystring/app/layout.tsx
  test/e2e/app-dir/navigation-and-querystring/app/page.tsx
  test/e2e/app-dir/navigation-and-querystring/navigation-and-querystring.test.ts
  test/e2e/app-dir/navigation-and-querystring/next.config.js
Labels: area: examples, area: documentation

#43955 Add static test for useSelectedLayoutSegments
  test/e2e/app-dir/use-selected-layout-segment-s/app/layout.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/render-values.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/different-segment/page.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/layout.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/segment-name2/[param2]/[...catchall]/layout.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/segment-name2/[param2]/[...catchall]/page.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/segment-name2/[param2]/layout.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/segment-name2/layout.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/next.config.js
  test/e2e/app-dir/use-selected-layout-segment-s/use-selected-layout-segment-s.test.ts
Labels: area: examples, area: documentation

#44066 feat: app dir error-global component
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/client/components/app-router.tsx
  packages/next/client/components/error-boundary.tsx
  packages/next/server/app-render.tsx
  test/e2e/app-dir/global-error.test.ts
  test/e2e/app-dir/global-error/app/global-error.js
  test/e2e/app-dir/global-error/app/layout.js
  test/e2e/app-dir/global-error/app/throw/page.js
  test/e2e/app-dir/global-error/next.config.js
  test/e2e/app-dir/rsc-errors.test.ts
Labels: type: next, created-by: Next.js team

#44065 Fix ignoring dev warning for preload component
  packages/next/server/app-render.tsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#44086 Implement new core test API
  test/e2e/app-dir/head.test.ts
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team

#43473 refactor(next-swc): introduce next-binding to consolidate dependencies.
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/amp_attributes.rs
  packages/next-swc/crates/core/src/auto_cjs/mod.rs
  packages/next-swc/crates/core/src/disallow_re_export_all_in_page.rs
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/src/next_font_loaders/find_functions_outside_module_scope.rs
  packages/next-swc/crates/core/src/next_font_loaders/font_functions_collector.rs
  packages/next-swc/crates/core/src/next_font_loaders/font_imports_generator.rs
  packages/next-swc/crates/core/src/next_font_loaders/mod.rs
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/src/page_config.rs
  packages/next-swc/crates/core/src/react_remove_properties.rs
  packages/next-swc/crates/core/src/react_server_components.rs
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/src/remove_console.rs
  packages/next-swc/crates/core/src/shake_exports.rs
  packages/next-swc/crates/core/src/top_level_binding_collector.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/core/tests/telemetry.rs
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/mdx.rs
  packages/next-swc/crates/napi/src/minify.rs
  packages/next-swc/crates/napi/src/parse.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/napi/src/turbopack.rs
  packages/next-swc/crates/napi/src/turbotrace.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next-swc/crates/wasm/src/mdx.rs
Labels: type: next

#44022 Add lodash to server components external packages
  packages/next/lib/server-external-packages.ts
Labels: type: next, created-by: Next.js team

#44092 Docs: Update deployment.md with Firebase, Amplify and Cloudflare
  docs/deployment.md
Labels: area: documentation

#44112 Fix dev session stopped handling
  packages/next/cli/next-dev.ts
  packages/next/server/dev/next-dev-server.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#44104 Refactor more tests to createNextDescribe
  test/development/acceptance-app/ReactRefresh.test.ts
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox-scss.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshLogBoxMisc.test.ts
  test/development/acceptance-app/ReactRefreshModule.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance-app/server-components.test.ts
  test/development/basic-basepath/hmr.test.ts
  test/development/basic/hmr.test.ts
  test/e2e/app-dir/app-alias.test.ts
  test/e2e/app-dir/app-edge-global.test.ts
  test/e2e/app-dir/app-edge.test.ts
  test/e2e/app-dir/app-external.test.ts
  test/e2e/app-dir/app-middleware.test.ts
  test/e2e/app-dir/app-static.test.ts
  test/e2e/app-dir/asset-prefix.test.ts
  test/e2e/app-dir/async-component-preload.test.ts
  test/e2e/app-dir/back-button-download-bug.test.ts
  test/e2e/app-dir/create-root-layout.test.ts
  test/e2e/app-dir/dynamic-href.test.ts
  test/e2e/app-dir/global-error.test.ts
  test/e2e/app-dir/import.test.ts
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/layout-params.test.ts
  test/e2e/app-dir/next-font.test.ts
  test/e2e/app-dir/next-image.test.ts
  test/e2e/app-dir/prefetching.test.ts
  test/e2e/app-dir/rendering.test.ts
  test/e2e/app-dir/root-layout.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-errors.test.ts
  test/e2e/app-dir/standalone.test.ts
  test/e2e/app-dir/trailingslash.test.ts
  test/e2e/app-dir/vercel-analytics.test.ts
  test/e2e/app-dir/with-babel.test.ts
  test/e2e/transpile-packages/index.test.ts
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team

#44049 Add jsdoc/no-types eslint rule for TypeScript files
  .eslintrc.json
  package.json
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/client/page-loader.ts
  packages/next/lib/eslint/writeOutputFile.ts
  packages/next/lib/recursive-delete.ts
  packages/next/lib/recursive-readdir.ts
  packages/next/server/lib/recursive-readdir-sync.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#43971 Add test for rewriting in middleware in app-dir
  test/e2e/app-dir/rewrites-redirects/app/[...params]/page.tsx
  test/e2e/app-dir/rewrites-redirects/app/layout.tsx
  test/e2e/app-dir/rewrites-redirects/app/page.tsx
  test/e2e/app-dir/rewrites-redirects/middleware.ts
  test/e2e/app-dir/rewrites-redirects/next.config.js
  test/e2e/app-dir/rewrites-redirects/rewrites-redirects.test.ts
Labels: area: examples, area: documentation

#44094 Revert "Remove `useState` from `next/image` (#43587)"
  packages/next/client/image.tsx
  test/integration/next-image-new/default/pages/blurry-placeholder.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/production/test/index.test.js
Labels: type: next

#44151 should not contain pages css in app dir
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#44111 docs: Add missing type to import statement
  docs/api-reference/data-fetching/get-static-props.md
Labels: area: documentation

#44147 Update pnpm new-test to use createNextDescribe
  plopfile.js
  test/e2e/example-file.txt
  test/e2e/example.txt
Labels: created-by: Next.js team

#44133 Upgrade undici to 5.14.0 to fix fetch redirect bug
  packages/next/compiled/undici/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#44088 Update README templates to include snippet on `next/font`
  packages/create-next-app/templates/app/js/README-template.md
  packages/create-next-app/templates/app/ts/README-template.md
  packages/create-next-app/templates/default/js/README-template.md
  packages/create-next-app/templates/default/ts/README-template.md
Labels: area: create-next-app

#44153 Wrap CSS variable in var
  packages/create-next-app/templates/app/js/app/globals.css
  packages/create-next-app/templates/app/ts/app/globals.css
  packages/create-next-app/templates/default/js/styles/globals.css
  packages/create-next-app/templates/default/ts/styles/globals.css
Labels: area: create-next-app

#44165 Fix styled-components setup in turbo example
  examples/with-turbopack/lib/styling.tsx
  test/e2e/app-dir/rsc-basic/app/root-style-registry.js
Labels: area: examples, created-by: Next.js team

#44163 Ensure next.url is used instead of next.appPort
  test/development/acceptance-app/helpers.ts
  test/development/acceptance/helpers.ts
  test/development/basic-basepath/hmr.test.ts
  test/development/basic-basepath/misc.test.ts
  test/development/basic-basepath/next-dynamic.test.ts
  test/development/basic/define-class-fields.test.ts
  test/development/basic/emotion-swc.test.ts
  test/development/basic/hmr.test.ts
  test/development/basic/legacy-decorators.test.ts
  test/development/basic/misc.test.ts
  test/development/basic/next-dynamic.test.ts
  test/development/basic/styled-components-disabled.test.ts
  test/development/basic/styled-components.test.ts
  test/development/basic/tailwind-jit.test.ts
  test/development/basic/theme-ui.test.ts
  test/development/dotenv-default-expansion/index.test.ts
  test/development/gssp-notfound/index.test.ts
  test/development/next-font/font-loader-in-document-error.test.ts
  test/production/app-dir-prefetch-non-iso-url/index.test.ts
  test/production/emit-decorator-metadata/index.test.ts
  test/production/jest/remove-react-properties/remove-react-properties-jest.test.ts
Labels: created-by: Next.js team

#44067 docs: update next/dynamic docs
  docs/advanced-features/dynamic-import.md
Labels: area: documentation, created-by: Next.js team

#44161 Align onRecoverableError callback between pages and app dir
  packages/next/client/app-index.tsx
  packages/next/client/index.tsx
  packages/next/client/on-recoverable-error.ts
Labels: type: next, created-by: Next.js team

#44078 test: add test for notFound during streaming
  test/e2e/app-dir/app/app/not-found/suspense/page.js
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#43374 Update disabling-http-keep-alive.md for server-side only
  docs/api-reference/next.config.js/disabling-http-keep-alive.md
Labels: area: documentation

#44167 build(cargo): update turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next

#44070 Update styled-jsx
  package.json
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#44176 Fix crash in GraalVM
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  packages/next-swc/Cargo.lock
  packages/next-swc/package.json
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#44179 Fix pnpm install on Azure
  pnpm-lock.yaml
Labels: created-by: Next.js team

#44185 Also check error.message as digest for recoverable errors in pages
  packages/next/client/on-recoverable-error.ts
  test/development/basic/next-dynamic.test.ts
Labels: type: next, created-by: Next.js team

#44191 docs: fix spelling error
  errors/no-img-element.md
Labels: area: documentation

#44195 Move options to stable
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
  test/e2e/app-dir/app-middleware/next.config.js
  test/e2e/skip-trailing-slash-redirect/app/next.config.js
Labels: type: next, created-by: Next.js team

#44194 Move `transpilePackages` out of experimental
  packages/next/build/jest/jest.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/cli/next-dev.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  test/e2e/app-dir/app-external/next.config.js
  test/e2e/transpile-packages/npm/next.config.js
  test/production/jest/transpile-packages.test.ts
Labels: type: next, created-by: Next.js team

#44168 Fix CSS resources being duplicated in app dir
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/client/components/layout-router.tsx
  packages/next/server/app-render.tsx
  packages/next/server/dev/on-demand-entry-handler.ts
  test/e2e/app-dir/app/app/css/css-duplicate/a/page.js
  test/e2e/app-dir/app/app/css/css-duplicate/b/page.js
  test/e2e/app-dir/app/app/css/css-duplicate/comp.js
  test/e2e/app-dir/app/app/css/css-duplicate/style.css
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#44201 Add telemetry for stable features
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/telemetry/events/build.ts
  test/integration/telemetry/next.config.middleware-options
  test/integration/telemetry/next.config.transpile-packages
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#44202 Add warning for experimental flags that have moved
  packages/next/server/config.ts
Labels: type: next, created-by: Next.js team

#44206 build(cargo): bump up turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next

#44193 Bump `@vercel/nft@0.22.6`
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#44205 Disable Image Optimization API when next.config.js has `unoptimized: true`
  packages/next/server/next-server.ts
  test/integration/image-optimizer/test/index.test.ts
Labels: type: next, created-by: Next.js team

#43881 Write tests for navigation between app-dir and pages
  test/e2e/app-dir/interpolability-with-pages/app/app/page.tsx
  test/e2e/app-dir/interpolability-with-pages/app/layout.tsx
  test/e2e/app-dir/interpolability-with-pages/navigation.test.ts
  test/e2e/app-dir/interpolability-with-pages/next.config.js
  test/e2e/app-dir/interpolability-with-pages/pages/pages.tsx
  test/lib/browsers/base.ts
Labels: area: examples, area: documentation

#44207 Honour `distDir` in type generation
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/flight-types-plugin.ts
  packages/next/lib/typescript/diagnosticFormatter.ts
  packages/next/lib/typescript/runTypeCheck.ts
  packages/next/lib/typescript/writeConfigurationDefaults.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/server/dev/next-dev-server.ts
  test/e2e/app-dir/app-typescript/next.config.js
  test/e2e/app-dir/app-typescript/tsconfig.json
Labels: type: next, created-by: Next.js team

#44233 Only once for the next/head usage in app dir
  packages/next/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/client/components/noop-head.tsx
  test/e2e/app-dir/head/head.test.ts
Labels: type: next, created-by: Next.js team

#44231 Update labeler.json with current next.js team members
  .github/labeler.json
Labels: created-by: Next.js team

#44235 Add docs for middleware flags
  docs/advanced-features/middleware.md
Labels: area: documentation, created-by: Next.js team

#44224 Enable allowMiddlewareResponseBody by default
  docs/advanced-features/middleware.md
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/server/web/adapter.ts
  packages/next/telemetry/events/build.ts
  test/development/middleware-warnings/index.test.ts
  test/e2e/app-dir/app-middleware/next.config.js
  test/e2e/middleware-responses/test/index.test.ts
  test/e2e/skip-trailing-slash-redirect/app/next.config.js
  test/integration/middleware-build-errors/test/index.test.js
  test/integration/telemetry/next.config.middleware-options
  test/integration/telemetry/test/index.test.js
Labels: area: documentation, type: next, created-by: Next.js team

#44240 Move `modularizeImports` out of experimental
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/telemetry/events/build.ts
Labels: type: next, created-by: Next.js team

#44223 Update config validation for latest turbopack changes
  packages/next/cli/next-dev.ts
Labels: type: next, created-by: Next.js team

#44241 build(cargo): update turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#44251 update turbopack for bugfixes
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#44261 update with-turbopack example for postcss/tailwind support
  examples/with-turbopack/README.md
  examples/with-turbopack/app/layout.tsx
  examples/with-turbopack/package.json
  examples/with-turbopack/postcss.config.js
Labels: area: examples, created-by: Next.js team
