Repository vercel/next.js, pull requests merged in 2022-09, with the labels that each got.

#40158 fix: detect ESLint config in package.json
  packages/next/lib/eslint/hasEslintConfiguration.ts
  test/e2e/no-eslint-warn-with-no-eslint-config/index.test.ts
Labels: type: next

#40162 Update Convex example to convex 0.1.9
  examples/convex/README.md
  examples/convex/convex/_generated/dataModel.ts
  examples/convex/convex/_generated/react.ts
  examples/convex/convex/_generated/server.ts
  examples/convex/pages/_app.tsx
Labels: area: examples

#40164 Bump `@vercel/nft@0.22.1`
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40165 Bump styled-jsx
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#39568 Match data fetch and busting cache key when path URI encodes
  packages/next/shared/lib/router/router.ts
  test/e2e/dynamic-route-interpolation/index.test.ts
Labels: type: next

#40181 Updating the Next.js Logo
  packages/next/README.md
Labels: type: next

#40176 Fix typo in error/middleware-upgrade-guide.md
  errors/middleware-upgrade-guide.md
Labels: area: documentation

#40026 next/script: simplify logic and update tests
  packages/next/client/script.tsx
  test/integration/script-loader/base/next.config.js
  test/integration/script-loader/base/pages/page10.js
  test/integration/script-loader/strictmode/pages/onready.js
  test/integration/script-loader/test/index.test.js
Labels: type: next

#40132 Bypass empty pages folder for layouts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/index.ts
  packages/next/build/webpack/config/utils.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/cli/next-lint.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/find-pages-dir.ts
  packages/next/lib/verifyAndLint.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/dev/static-paths-worker.ts
  packages/next/server/lib/find-page-file.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/web-server.ts
  packages/next/shared/lib/page-path/get-page-paths.ts
  test/e2e/app-dir/app-rendering/pages/.gitkeep
  test/e2e/app-dir/rendering.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/pages/.gitkeep
  test/unit/find-page-file.test.ts
Labels: type: next, created-by: Next.js team

#39965 chore: Update swc
  .github/workflows/build_test_deploy.yml
  package.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/amp_attributes.rs
  packages/next-swc/crates/core/src/auto_cjs/mod.rs
  packages/next-swc/crates/core/src/disallow_re_export_all_in_page.rs
  packages/next-swc/crates/core/src/hook_optimizer.rs
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/src/page_config.rs
  packages/next-swc/crates/core/src/react_remove_properties.rs
  packages/next-swc/crates/core/src/relay.rs
  packages/next-swc/crates/core/src/remove_console.rs
  packages/next-swc/crates/core/src/shake_exports.rs
  packages/next-swc/crates/core/src/top_level_binding_collector.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/core/tests/telemetry.rs
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/emotion/src/import_map.rs
  packages/next-swc/crates/emotion/src/lib.rs
  packages/next-swc/crates/emotion/tests/fixture.rs
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/modularize_imports/src/lib.rs
  packages/next-swc/crates/modularize_imports/tests/fixture.rs
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/bundle/mod.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/minify.rs
  packages/next-swc/crates/napi/src/parse.rs
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_components/src/lib.rs
  packages/next-swc/crates/styled_components/src/utils/analyzer.rs
  packages/next-swc/crates/styled_components/src/utils/mod.rs
  packages/next-swc/crates/styled_components/src/visitors/display_name_and_id.rs
  packages/next-swc/crates/styled_components/src/visitors/transpile_css_prop/top_level_binding_collector.rs
  packages/next-swc/crates/styled_components/src/visitors/transpile_css_prop/transpile.rs
  packages/next-swc/crates/styled_components/tests/fixture.rs
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/src/lib.rs
  packages/next-swc/crates/styled_jsx/src/transform_css.rs
  packages/next-swc/crates/styled_jsx/src/utils.rs
  packages/next-swc/crates/styled_jsx/tests/fixture.rs
  packages/next-swc/crates/styled_jsx/tests/fixture/issue-30570/output.js
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next-swc/rust-toolchain
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40212 Remove extra "d" in comment
  examples/cms-sanity/lib/sanity.server.js
Labels: area: examples

#40215 fix(examples/with-styled-components-babel): list should have unique key
  examples/with-styled-components-babel/package.json
  examples/with-styled-components-babel/pages/_document.tsx
Labels: area: examples

#40182 fix(cli): do not throw error when extracting examples in Node 18+
  packages/create-next-app/helpers/examples.ts
Labels: area: create-next-app

#40204 [Docs] Migrate image-component example to typescript
  examples/image-component/components/view-source.tsx
  examples/image-component/package.json
  examples/image-component/pages/_app.js
  examples/image-component/pages/_app.tsx
  examples/image-component/pages/background.tsx
  examples/image-component/pages/color.tsx
  examples/image-component/pages/index.tsx
  examples/image-component/pages/layout-fill.tsx
  examples/image-component/pages/layout-fixed.tsx
  examples/image-component/pages/layout-intrinsic.tsx
  examples/image-component/pages/layout-responsive.tsx
  examples/image-component/pages/placeholder.tsx
  examples/image-component/pages/shimmer.tsx
  examples/image-component/tsconfig.json
Labels: area: examples

#40234 Fix styled-jsx macro imports
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40079 ref(with-sentry example): Explicitly set `hideSourceMaps`
  examples/with-sentry/next.config.js
Labels: area: examples

#40237 Update to use specific swc version for PR stats
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  .github/actions/next-stats-action/src/run/get-dir-size.js
Labels: created-by: Next.js team

#40238 Ensure path can be specified for clearPreviewData
  packages/next/server/api-utils/index.ts
  packages/next/server/api-utils/node.ts
  packages/next/shared/lib/utils.ts
  test/integration/prerender-preview/pages/api/reset.js
  test/integration/prerender-preview/test/index.test.js
Labels: type: next, created-by: Next.js team

#40224 fix: apply default export interop to `next/config`
  packages/next/taskfile.js
Labels: type: next

#40259 fix(cli): delete temp file after extraction
  packages/create-next-app/helpers/examples.ts
Labels: area: create-next-app

#39866 Add prefetch to new router
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/client/components/use-reducer-with-devtools.ts
  packages/next/client/link.tsx
  packages/next/server/app-render.tsx
  packages/next/shared/lib/app-router-context.ts
  test/e2e/app-dir/app-prefetch/app/dashboard/[id]/page.server.js
  test/e2e/app-dir/app-prefetch/app/dashboard/layout.server.js
  test/e2e/app-dir/app-prefetch/app/dashboard/loading.js
  test/e2e/app-dir/app-prefetch/app/dashboard/page.server.js
  test/e2e/app-dir/app-prefetch/app/layout.server.js
  test/e2e/app-dir/app-prefetch/app/loading.js
  test/e2e/app-dir/app-prefetch/app/page.server.js
  test/e2e/app-dir/app-prefetch/next.config.js
  test/e2e/app-dir/app-prefetch/pages/.gitkeep
  test/e2e/app-dir/app/app/link-hard-push/[id]/page.server.js
  test/e2e/app-dir/app/app/link-hard-push/page.server.js
  test/e2e/app-dir/app/app/link-hard-replace/[id]/page.server.js
  test/e2e/app-dir/app/app/link-soft-push/page.server.js
  test/e2e/app-dir/app/app/link-soft-replace/page.server.js
  test/e2e/app-dir/app/app/link-soft-replace/subpage/page.server.js
  test/e2e/app-dir/app/app/navigation/link.client.js
  test/e2e/app-dir/app/app/navigation/page.server.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/app/next-api/link/page.server.js
  test/lib/next-webdriver.ts
Labels: type: next, created-by: Next.js team

#40278 Update `next/future/image` to support only `width` or only `height`
  packages/next/client/future/image.tsx
  test/integration/image-future/base-path/pages/static-img.js
  test/integration/image-future/base-path/test/static.test.js
  test/integration/image-future/default/pages/static-img.js
  test/integration/image-future/default/test/static.test.ts
Labels: type: next, created-by: Next.js team

#40285 Fix test hydration check in Safari 10.1
  test/lib/next-webdriver.ts
Labels: created-by: Next.js team

#40288 Change image sizes docs to use em instead of px
  docs/api-reference/next/future/image.md
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Chrome Aurora

#40290 Change sizes docs to use max-width in media query
  docs/api-reference/next/future/image.md
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Chrome Aurora

#40276 docs: fix numbering in middleware docs
  docs/advanced-features/middleware.md
Labels: area: documentation

#40284 [Docs] Update next-forms example
  examples/next-forms/.eslintrc.json
  examples/next-forms/next.config.js
  examples/next-forms/package.json
  examples/next-forms/pages/_app.js
  examples/next-forms/pages/_app.tsx
  examples/next-forms/pages/api/form.ts
  examples/next-forms/pages/index.tsx
  examples/next-forms/pages/js-form.tsx
  examples/next-forms/pages/no-js-form.tsx
  examples/next-forms/tsconfig.json
Labels: area: examples

#40289 Add experimental proxy timeout option
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/next-server.ts
Labels: type: next

#40317 Fix static info parsing when export data fetching method as variable
  packages/next/build/analysis/get-page-static-info.ts
  test/unit/fixtures/page-runtime/ssr-variable-gssp.js
  test/unit/parse-page-static-info.test.ts
Labels: type: next, created-by: Next.js team

#40312 fix(switchable-runtime): make dev server not break when wrong runtime config is exported
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/e2e/switchable-runtime/index.test.ts
  test/e2e/switchable-runtime/pages/invalid-runtime.js
Labels: type: next

#40328 Revert "Refactor Server Router"
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/router.ts
Labels: type: next, created-by: Next.js team

#39327 fix(switchable-runtime): Make it possible to switch between edge and server runtime in dev
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  test/e2e/switchable-runtime/index.test.ts
  test/e2e/switchable-runtime/pages/api/switch-in-dev-same-content.js
  test/e2e/switchable-runtime/pages/api/switch-in-dev.js
  test/e2e/switchable-runtime/pages/api/syntax-error-in-dev.js
  test/e2e/switchable-runtime/pages/switch-in-dev.js
Labels: type: next

#40333 Revert "Revert "Refactor Server Router" (#40328)"
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/router.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#40308 [Docs] Migrate with-react-jss to typescript
  examples/with-react-jss/.babelrc
  examples/with-react-jss/package.json
  examples/with-react-jss/pages/_app.tsx
  examples/with-react-jss/pages/_document.tsx
  examples/with-react-jss/pages/index.tsx
  examples/with-react-jss/tsconfig.json
Labels: area: examples

#40307 [Docs] Update react-remove-properties example
  examples/react-remove-properties/next.config.js
Labels: area: examples

#40295 [Docs] Migrate using-preact example to typescript
  examples/using-preact/next.config.js
  examples/using-preact/package.json
  examples/using-preact/pages/about.js
  examples/using-preact/pages/about.tsx
  examples/using-preact/pages/index.tsx
  examples/using-preact/pages/ssg.js
  examples/using-preact/pages/ssg.tsx
  examples/using-preact/pages/ssr.js
  examples/using-preact/pages/ssr.tsx
  examples/using-preact/tsconfig.json
Labels: area: examples

#40296 refactor(next/swc): remove unnecessary field in `RemoveConsole`
  packages/next-swc/crates/core/src/remove_console.rs
Labels: type: next

#40260 [edge] fix URLSearchParams lacking data from rewrite
  packages/next/server/next-server.ts
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-general/app/pages/api/edge-search-params.js
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next

#40339 added type to clientPromise in with-mongodb/lib
  examples/with-mongodb/lib/mongodb.ts
Labels: area: examples

#40309 [Docs] Remove babel from custom-server-typescript example
  examples/custom-server-typescript/.babelrc
  examples/custom-server-typescript/package.json
  examples/custom-server-typescript/tsconfig.json
Labels: area: examples

#40306 [Docs] Merge with-mobx-state-tree with with-mobx-state-tree-typescript example
  examples/with-mobx-state-tree-typescript/.babelrc
  examples/with-mobx-state-tree-typescript/.gitignore
  examples/with-mobx-state-tree-typescript/README.md
  examples/with-mobx-state-tree-typescript/next-env.d.ts
  examples/with-mobx-state-tree-typescript/package.json
  examples/with-mobx-state-tree/.babelrc
  examples/with-mobx-state-tree/README.md
  examples/with-mobx-state-tree/components/Clock.js
  examples/with-mobx-state-tree/components/Clock.tsx
  examples/with-mobx-state-tree/components/SampleComponent.js
  examples/with-mobx-state-tree/components/SampleComponent.tsx
  examples/with-mobx-state-tree/package.json
  examples/with-mobx-state-tree/pages/_app.js
  examples/with-mobx-state-tree/pages/_app.tsx
  examples/with-mobx-state-tree/pages/index.js
  examples/with-mobx-state-tree/pages/index.tsx
  examples/with-mobx-state-tree/pages/other.js
  examples/with-mobx-state-tree/pages/other.tsx
  examples/with-mobx-state-tree/pages/ssg.js
  examples/with-mobx-state-tree/pages/ssg.tsx
  examples/with-mobx-state-tree/pages/ssr.js
  examples/with-mobx-state-tree/pages/ssr.tsx
  examples/with-mobx-state-tree/store.js
  examples/with-mobx-state-tree/store.ts
  examples/with-mobx-state-tree/tsconfig.json
Labels: area: examples

#40352 Fix `image-component` example types
  examples/image-component/pages/index.tsx
Labels: area: examples, created-by: Next.js team

#40350 Update docs for `remotePatterns` image config
  docs/api-reference/next/future/image.md
  docs/api-reference/next/image.md
  docs/basic-features/image-optimization.md
Labels: area: documentation, created-by: Next.js team

#40331 fix(lint): disable `react/no-unknown-property`
  packages/eslint-config-next/index.js
Labels: type: next

#40326 Update `onLoadingComplete` for `next/future/image` to receive reference to `<img>`
  docs/api-reference/next/future/image.md
  packages/next/client/future/image.tsx
  test/integration/image-future/default/pages/on-loading-complete.js
Labels: area: documentation, type: next

#40359 Remove warning for swcMinify being enabled
  packages/next/server/config.ts
Labels: type: next, created-by: Next.js team

#40354 docs: fix typo
  docs/migrating/incremental-adoption.md
Labels: area: documentation

#40356 Update react-server-dom-webpack
  package.json
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40365 Fix flight manifest to include all chunks
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#40342 docs: fix typos
  docs/going-to-production.md
  docs/testing.md
  docs/upgrading.md
Labels: area: documentation, type: next

#40340 docs: fix middleware path
  docs/advanced-features/middleware.md
Labels: area: documentation

#40361 Fix page url for edge routes in app dir
  packages/next/server/next-server.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/app/edge/dynamic/[id]/page.server.js
  test/e2e/app-dir/rsc-basic/app/edge/dynamic/page.server.js
  test/e2e/app-dir/rsc-basic/next.config.js
Labels: type: next, created-by: Next.js team

#39729 Subresource Integrity for App Directory
  errors/manifest.json
  errors/nonce-contained-invalid-characters.md
  package.json
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/build/webpack/plugins/subresource-integrity-plugin.ts
  packages/next/export/worker.ts
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/static-paths-worker.ts
  packages/next/server/htmlescape.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/shared/lib/constants.ts
  pnpm-lock.yaml
  test/e2e/app-dir/app/next.config.js
  test/e2e/app-dir/index.test.ts
  test/integration/image-optimizer/test/util.ts
  test/lib/next-test-utils.js
  test/production/required-server-files-i18n.test.ts
  test/production/required-server-files.test.ts
Labels: area: documentation, type: next

#40377 Stop build warning about `experimental: { esmExternals: 'loose' }`
  packages/next/server/config-schema.ts
Labels: type: next

#39808 Add template and error file types
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/client/app-index.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/render-from-template-context.client.tsx
  packages/next/server/app-render.tsx
  packages/next/shared/lib/app-router-context.ts
  packages/next/shared/lib/constants.ts
  test/e2e/app-dir/app/app/error/clientcomponent/error.client.js
  test/e2e/app-dir/app/app/error/clientcomponent/page.client.js
  test/e2e/app-dir/app/app/error/ssr-error-client-component/page.client.js
  test/e2e/app-dir/app/app/template/clientcomponent/other/page.server.js
  test/e2e/app-dir/app/app/template/clientcomponent/page.server.js
  test/e2e/app-dir/app/app/template/clientcomponent/template.client.js
  test/e2e/app-dir/app/app/template/servercomponent/other/page.server.js
  test/e2e/app-dir/app/app/template/servercomponent/page.server.js
  test/e2e/app-dir/app/app/template/servercomponent/template.server.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#40395 chore: fix examples
  examples/with-rebass/.babelrc
  examples/with-rebass/package.json
  examples/with-rebass/pages/_document.js
  examples/with-strict-csp/pages/_document.js
Labels: area: examples

#40408 Temporarily disable unstable app test
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#40402 Fix mdx docs
  docs/advanced-features/using-mdx.md
  packages/next-mdx/readme.md
Labels: area: documentation

#40411 Bump styled-jsx for showing displayName
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40397 fix(#40388): `next/dynamic` should only add default loading without suspense
  packages/next/shared/lib/dynamic.tsx
  test/integration/next-dynamic/test/index.test.js
Labels: type: next

#40393 Add missing trace for full reload event
  packages/next/server/dev/hot-reloader.ts
  test/development/basic/hmr.test.ts
  test/development/basic/hmr/pages/hmr/anonymous-page-function.js
  test/development/basic/hmr/pages/hmr/runtime-error.js
  test/development/full-reload-warning/index.test.ts
Labels: type: next

#40391 feat(ts): expose `AppType`
  packages/next/pages/_app.tsx
  packages/next/shared/lib/utils.ts
  test/integration/typescript/pages/_app.tsx
Labels: type: next

#40412 Update dev watcher to ignore more accurately
  packages/next/server/dev/next-dev-server.ts
Labels: type: next, created-by: Next.js team

#40452 Update Server Components documentation.
  docs/advanced-features/react-18/server-components.md
Labels: area: documentation, created-by: Next.js team

#40445 Add failing case for location throw
  packages/next/client/app-index.tsx
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/app/loading-bug/[categorySlug]/loading.js
  test/e2e/app-dir/app/app/loading-bug/[categorySlug]/page.server.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#40422 fix: eslint no-script-component-in-head error url
  packages/eslint-plugin-next/lib/rules/no-script-component-in-head.js
  test/unit/eslint-plugin-next/no-script-component-in-head.test.ts
Labels: type: next

#40292 chore: Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#40488 Clarify use of `loading` property
  docs/advanced-features/dynamic-import.md
Labels: area: documentation

#40487 chore(examples): update turborepo examples link
  examples/with-turbo/README.md
Labels: area: examples

#39539 feat(edge): allows configuring Dynamic code execution guard
  docs/api-reference/edge-runtime.md
  errors/edge-dynamic-code-evaluation.md
  errors/manifest.json
  errors/middleware-dynamic-wasm-compilation.md
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/entries.ts
  packages/next/build/webpack/loaders/get-module-build-info.ts
  packages/next/build/webpack/loaders/next-edge-function-loader.ts
  packages/next/build/webpack/loaders/next-middleware-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/web/sandbox/context.ts
  test/integration/edge-runtime-configurable-guards/lib/index.js
  test/integration/edge-runtime-configurable-guards/middleware.js
  test/integration/edge-runtime-configurable-guards/pages/api/route.js
  test/integration/edge-runtime-configurable-guards/pages/index.js
  test/integration/edge-runtime-configurable-guards/test/index.test.js
  test/production/edge-config-validations/index.test.ts
  test/readme.md
Labels: area: documentation, type: next

#40496 Rename allowDynamic to unstable_allowDynamic
  docs/api-reference/edge-runtime.md
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/integration/edge-runtime-configurable-guards/test/index.test.js
  test/production/edge-config-validations/index.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#40435 Don't execute prefetches for bot user agents
  packages/next/server/base-server.ts
  packages/next/server/utils.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/is-bot.ts
  test/integration/preload-viewport/pages/bot-user-agent.js
  test/integration/preload-viewport/test/index.test.js
Labels: type: next

#40491 docs(errors/large-page-data): how to see data being passed to page
  errors/large-page-data.md
Labels: area: documentation

#40263 docs(basic-features/script): update script version history
  docs/basic-features/script.md
Labels: area: documentation

#40282 Added "negative matcher" documentation
  docs/advanced-features/middleware.md
Labels: area: documentation

#40246 Update semver of eslint-plugin-react
  packages/eslint-config-next/package.json
  packages/next/compiled/assert/assert.js
  packages/next/compiled/util/util.js
  pnpm-lock.yaml
Labels: type: next

#40501 Fix a typo in docs
  errors/invalid-page-config.md
Labels: area: documentation

#40505 Clean up startTransition in Link
  package.json
  packages/next/client/components/reducer.ts
  packages/next/client/link.tsx
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40242 update(examples): Emotion modules
  examples/with-emotion-swc/package.json
  examples/with-emotion-vanilla/package.json
  examples/with-emotion/package.json
Labels: area: examples

#40273 Added comments to middleware-matcher example
  examples/middleware-matcher/middleware.js
Labels: area: examples

#40223 docs(README): next.js logo with dark mode
  packages/next/README.md
Labels: type: next

#40513 fix(cli): tune filter for extracting example `.tar`
  packages/create-next-app/helpers/examples.ts
Labels: area: create-next-app

#40508 Passing down original sourcemap for flight client loader
  packages/next/build/webpack/loaders/next-flight-client-loader/index.ts
Labels: type: next, created-by: Next.js team

#40304 [Docs] Remove legacy mobx example
  examples/with-mobx-react-lite/.babelrc
  examples/with-mobx-react-lite/.gitignore
  examples/with-mobx-react-lite/README.md
  examples/with-mobx-react-lite/components/Clock.js
  examples/with-mobx-react-lite/components/Page.js
  examples/with-mobx-react-lite/package.json
  examples/with-mobx-react-lite/pages/_app.js
  examples/with-mobx-react-lite/pages/index.js
  examples/with-mobx-react-lite/pages/other.js
  examples/with-mobx-react-lite/pages/ssg.js
  examples/with-mobx-react-lite/pages/ssr.js
  examples/with-mobx-react-lite/store.js
  examples/with-mobx/.babelrc
  examples/with-mobx/README.md
  examples/with-mobx/components/Clock.js
  examples/with-mobx/components/Page.js
  examples/with-mobx/components/StoreProvider.js
  examples/with-mobx/package.json
  examples/with-mobx/pages/_app.js
  examples/with-mobx/store.js
Labels: area: examples

#40191 next/script: make `onLoad` concurrent rendering resilient
  packages/next/client/script.tsx
  test/integration/script-loader/base/pages/page4.js
  test/integration/script-loader/base/pages/page9.js
  test/integration/script-loader/test/index.test.js
Labels: type: next

#40546 Wrap parallel routes tests in describe
  package.json
  pnpm-lock.yaml
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#40560 Update cms-makeswift example
  examples/cms-makeswift/package.json
Labels: area: examples

#40520 chore: Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/custom/simple/output.js
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/default/simple/output.js
  packages/next-swc/crates/core/tests/fixture/shake-exports/keep-default/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getServerSideProps/destructuring-assignment-array/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/destructuring-assignment-array/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/destructuring-assignment-object/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/issue-30091/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/issue-31855/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-not-crash-for-class-declarations/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-not-remove-extra-named-export-function-declarations/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-not-remove-extra-named-export-variable-declarations/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-not-remove-import-used-in-render/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-combined-named-export-specifiers/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-extra-named-export-speicifers/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-named-export-function-declarations-async/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-named-export-function-declarations/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-named-export-variable-declarations-async/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-named-export-variable-declarations/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-re-exported-function-declarations-dependents-variables-functions-imports/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-re-exported-function-declarations/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-re-exported-variable-declarations-safe/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-re-exported-variable-declarations/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-remove-separate-named-export-specifiers/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-support-babel-style-memoized-function/output.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/should-support-class-exports/output.js
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/core/tests/loader/example/output.js
  packages/next-swc/crates/core/tests/loader/front/attr-1/output.js
  packages/next-swc/crates/core/tests/loader/issue-31627/output.js
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/tests/fixture/class/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/comments/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/dynamic-element-class/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/expressions/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/global-redundant/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/issue-30570/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/issue-31562-interpolation-in-mdea/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/multiple-jsx/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/number-after-placeholder/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/tpl-escape-1/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/tpl-escape-2/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/tpl-placeholder-1-as-property/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/tpl-placeholder-2-as-part-of-value/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/tpl-placeholder-3-as-value/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/tpl-placeholder-4-as-part-of-value-in-multiple/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/tpl-placeholder-5-values-of-multiple-properties/output.js
  packages/next-swc/crates/wasm/Cargo.toml
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/integration/index-index/pages/index/index.js
  test/integration/index-index/pages/index/index/index.js
  test/integration/index-index/pages/index/project/index.js
  test/integration/index-index/pages/index/user.js
Labels: type: next, created-by: Next.js team

#40550 Add missing feature in next-swc
  packages/next-swc/crates/core/Cargo.toml
Labels: type: next, created-by: Next.js team

#39939 Mask Flight Parameters from Middleware
  packages/next/client/components/app-router.client.tsx
  packages/next/server/app-render.tsx
  packages/next/server/internal-utils.ts
  packages/next/server/render.tsx
  packages/next/server/utils.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  test/e2e/app-dir/app/app/internal/failure/page.server.js
  test/e2e/app-dir/app/app/internal/page.server.js
  test/e2e/app-dir/app/app/internal/success/page.server.js
  test/e2e/app-dir/app/middleware.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
Labels: type: next

#40575 Unwrap promise with experimental_use
  packages/next/client/app-index.tsx
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.development.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack-writer.browser.production.min.server.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  packages/next/server/app-render.tsx
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40566 fix(next/router): Prevent query delete in routing when next.config basePath option is truthy
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-base-path/app/pages/dynamic-routes/[routeName].js
  test/e2e/middleware-base-path/app/pages/index.js
  test/e2e/middleware-base-path/test/index.test.ts
Labels: type: next

#40608 Fixed typo
  examples/with-passport-and-next-connect/pages/signup.js
Labels: area: examples

#40623 Revert "Fixed typo"
  examples/with-passport-and-next-connect/pages/signup.js
Labels: area: examples, created-by: Next.js team

#40563 fix(image): handle image imports with high aspect ratio
  packages/next/build/webpack/loaders/next-image-loader.js
  test/integration/image-future/default/pages/static-img.js
  test/integration/image-future/default/public/super-wide.png
Labels: type: next

#40612 fix: loosen webpack compilation with `fallbackNodePolyfills: false`
  packages/next/build/webpack-config.ts
  scripts/next-with-deps.sh
  test/production/disable-fallback-polyfills/index.test.ts
Labels: type: next

#40185 Adding experimentalAdjustFallback feature to font optimization
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/export/index.ts
  packages/next/export/worker.ts
  packages/next/server/base-server.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/font-utils.ts
  packages/next/server/google-font-metrics.json
  packages/next/server/next-server.ts
  packages/next/server/post-process.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/html-context.ts
  packages/next/taskfile.js
  test/integration/font-optimization/fixtures/font-override/next.config.js
  test/integration/font-optimization/fixtures/font-override/pages/_app.js
  test/integration/font-optimization/fixtures/font-override/pages/_document.js
  test/integration/font-optimization/fixtures/font-override/pages/index.js
  test/integration/font-optimization/fixtures/font-override/styles/styles.css
  test/integration/font-optimization/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#40592 fix: handle `notFound: true` in `/` with `next export`
  packages/next/export/index.ts
  test/integration/export-index-not-found-gsp/pages/index.js
  test/integration/export-index-not-found-gsp/test/index.test.ts
Labels: type: next

#40515 refactor: split up `CONTRIBUTING.md`
  .github/pull_request_template.md
  .vscode/launch.json
  bench/nested-deps/package.json
  contributing.md
  contributing/core/adding-error-links.md
  contributing/core/building.md
  contributing/core/developing-using-local-app.md
  contributing/core/developing.md
  contributing/core/testing.md
  contributing/core/vscode-debugger.md
  contributing/docs/adding-documentation.md
  contributing/examples/adding-examples.md
  contributing/examples/run-example-apps.md
  contributing/repository/linting.md
  contributing/repository/pull-request-descriptions.md
  contributing/repository/release-channels-publishing.md
  contributing/repository/triaging.md
  errors/template.txt
  package.json
  packages/next/bundles/webpack/packages/webpack.js
  packages/next/compiled/webpack/webpack.js
  plopfile.js
  scripts/run-for-change.js
  test/readme.md
Labels: area: documentation, type: next

#40625 Fix edge wasm handling during deploy
  packages/next/build/webpack/plugins/middleware-plugin.ts
Labels: type: next, created-by: Next.js team

#40646 Remove internal client next api detection
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/build/webpack/loaders/utils.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/app/css-in-js/page.js
  test/e2e/app-dir/rsc-basic/app/css-in-js/styled-components.js
  test/e2e/app-dir/rsc-basic/app/css-in-js/styled-jsx.js
  test/e2e/app-dir/rsc-basic/app/css-modules/page.js
  test/e2e/app-dir/rsc-basic/app/layout.js
  test/e2e/app-dir/rsc-basic/app/native-module/page.js
  test/e2e/app-dir/rsc-basic/app/partial-hydration/page.js
  test/e2e/app-dir/rsc-basic/app/root-style-registry.js
  test/e2e/app-dir/rsc-basic/app/routes/[dynamic]/page.js.bak
  test/e2e/app-dir/rsc-basic/app/shared/page.js
  test/e2e/app-dir/rsc-basic/app/various-exports/page.js
  test/e2e/app-dir/rsc-basic/components/bar-client.js
  test/e2e/app-dir/rsc-basic/components/bar.js
  test/e2e/app-dir/rsc-basic/components/cjs-client.js
  test/e2e/app-dir/rsc-basic/components/cjs-server.js
  test/e2e/app-dir/rsc-basic/components/client-exports.js
  test/e2e/app-dir/rsc-basic/components/client.js
  test/e2e/app-dir/rsc-basic/components/export-all/index.js
  test/e2e/app-dir/rsc-basic/components/foo.js
  test/e2e/app-dir/rsc-basic/components/partial-hydration-counter.js
  test/e2e/app-dir/rsc-basic/components/random-module-instance.client.js
  test/e2e/app-dir/rsc-basic/components/random-module-instance.js
  test/e2e/app-dir/rsc-basic/components/red/index.js
  test/e2e/app-dir/rsc-basic/components/router-path.client.js
  test/e2e/app-dir/rsc-basic/components/shared-client.js
  test/e2e/app-dir/rsc-basic/components/shared.js
  test/integration/react-streaming/app/components/bar.js
  test/integration/react-streaming/app/components/bar.server.js
  test/integration/react-streaming/app/components/cjs.client.js
  test/integration/react-streaming/app/components/cjs.js
  test/integration/react-streaming/app/components/client-exports.client.js
  test/integration/react-streaming/app/components/client.client.js
  test/integration/react-streaming/app/components/container.server.js
  test/integration/react-streaming/app/components/export-all/index.client.js
  test/integration/react-streaming/app/components/export-all/one.js
  test/integration/react-streaming/app/components/export-all/two.js
  test/integration/react-streaming/app/components/foo.js
  test/integration/react-streaming/app/components/nav.js
  test/integration/react-streaming/app/components/partial-hydration-counter.client.js
  test/integration/react-streaming/app/components/red/index.client.js
  test/integration/react-streaming/app/components/red/style.module.css
  test/integration/react-streaming/app/components/router-path.client.js
  test/integration/react-streaming/app/components/shared-exports.js
  test/integration/react-streaming/app/components/shared.client.js
  test/integration/react-streaming/app/components/shared.js
  test/integration/react-streaming/app/components/styled-jsx.client.js
  test/integration/react-streaming/app/pages/dynamic-imports.js
  test/integration/react-streaming/app/pages/global-styles.js
  test/integration/react-streaming/app/tsconfig.json
Labels: type: next, created-by: Next.js team

#40652 Attach module trace for RSC related errors
  packages/next/client/dev/error-overlay/format-webpack-messages.js
Labels: type: next, created-by: Next.js team

#40656 Use createFromFetch instead of createFromReadableStream to fetch Flight
  packages/next/client/components/app-router.client.tsx
Labels: type: next, created-by: Next.js team

#40665 Change Flight response content type to application/octet-stream
  packages/next/server/app-render.tsx
  packages/next/server/render-result.ts
  packages/next/server/send-payload/index.ts
  packages/next/server/web-server.ts
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#40669 Send web vitals to Vercel analytics in app
  packages/next/client/app-index.tsx
  packages/next/client/performance-relayer.ts
  test/e2e/app-dir/index.test.ts
Labels: type: next

#40674 Refactor fetchServerResponse
  packages/next/client/app-index.tsx
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
  packages/next/types/index.d.ts
Labels: type: next, created-by: Next.js team

#40642 Ensure smooth scroll is disabled for navigation in new and existing router
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/index.tsx
  packages/next/shared/lib/router/router.ts
Labels: type: next, created-by: Next.js team

#40672 Upgrade to latest React experimental
  package.json
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.development.js
  packages/next/compiled/react-server-dom-webpack/cjs/react-server-dom-webpack.production.min.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#40661 Refine error messages
  packages/next-swc/crates/core/src/react_server_components.rs
  packages/next-swc/crates/core/tests/errors/react-server-components/client-graph/server-only/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/client-only/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/react-api/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/react-dom-api/output.stderr
  packages/next-swc/crates/core/tests/errors/react-server-components/server-graph/react-dom-server-client/output.stderr
  packages/next/build/webpack-config.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
Labels: type: next, created-by: Next.js team

#40679 Incldue styled-jsx in swc compiling
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#40680 misc: update caniuse-lite to latest
  package.json
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#40685 Remove non existed exports and files
  packages/next/data.d.ts
  packages/next/data.js
  packages/next/package.json
Labels: type: next, created-by: Next.js team

#40676 fix(image): preload should respect crossOrigin
  packages/next/client/future/image.tsx
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/priority.js
  test/integration/image-component/default/test/index.test.ts
  test/integration/image-future/default/pages/priority.js
  test/integration/image-future/default/test/index.test.ts
Labels: type: next

#40686 Avoid direct React client API imports in the server graph
  packages/next/pages/_document.tsx
  packages/next/shared/lib/flush-effects.tsx
Labels: type: next, created-by: Next.js team

#40671 chore: Migrate with-prefetching example to typescript
  examples/with-prefetching/components/Nav.tsx
  examples/with-prefetching/package.json
  examples/with-prefetching/pages/_app.tsx
  examples/with-prefetching/pages/about.tsx
  examples/with-prefetching/pages/contact.tsx
  examples/with-prefetching/pages/features.tsx
  examples/with-prefetching/pages/index.tsx
  examples/with-prefetching/tsconfig.json
Labels: area: examples

#40670 chore: Refactor active-class-name example
  examples/active-class-name/pages/news.tsx
Labels: area: examples

#40692 Drop legacy RSC server and client extension
  packages/next/server/config.ts
  test/e2e/app-dir/app-rendering/app/isr-multiple/layout.js
  test/e2e/app-dir/app-rendering/app/isr-multiple/nested/page.js
  test/e2e/app-dir/app-rendering/app/isr-ssr-combined/nested/layout.js
  test/e2e/app-dir/app-rendering/app/isr-ssr-combined/nested/page.js
  test/e2e/app-dir/app-rendering/app/isr-ssr-combined/slow/layout.js
  test/e2e/app-dir/app-rendering/app/isr-ssr-combined/slow/page.js
  test/e2e/app-dir/app-rendering/app/ssr-only/layout.js
  test/e2e/app-dir/app-rendering/app/ssr-only/nested/page.js
  test/e2e/app-dir/app-rendering/app/ssr-only/slow/layout.js
  test/e2e/app-dir/app-rendering/app/ssr-only/slow/page.js
  test/e2e/app-dir/app-rendering/app/static-only/layout.js
  test/e2e/app-dir/app-rendering/app/static-only/nested/page.js
  test/e2e/app-dir/app-rendering/app/static-only/slow/layout.js
  test/e2e/app-dir/app-rendering/app/static-only/slow/page.js
  test/e2e/app-dir/app-static/app/blog/[author]/[slug]/page.js
  test/e2e/app-dir/app-static/app/blog/[author]/layout.js
  test/e2e/app-dir/app-static/app/blog/[author]/page.js
  test/e2e/app-dir/app-static/app/layout.js
  test/e2e/app-dir/app-static/app/ssr-auto/loading.js
  test/e2e/app-dir/app-static/app/ssr-auto/page.js
  test/e2e/app-dir/app-static/app/ssr-forced/loading.js
  test/e2e/app-dir/app-static/app/ssr-forced/page.js
  test/e2e/app-dir/app-static/pages/.gitkeep
  test/e2e/app-dir/app/app/(newroot)/dashboard/project/[projectId]/page.js
  test/e2e/app-dir/app/app/extension/page.server.js
  test/e2e/switchable-runtime/app/legacy-extension/page.server.js
  test/e2e/switchable-runtime/app/node-rsc-isr/page.js
  test/e2e/switchable-runtime/app/node-rsc-ssg/page.js
  test/e2e/switchable-runtime/app/node-rsc-ssr/page.js
  test/e2e/switchable-runtime/app/node-rsc/page.js
  test/e2e/switchable-runtime/index.test.ts
Labels: type: next, created-by: Next.js team

#40633 docs(examples): fix error connection handling
  examples/with-mongodb-mongoose/lib/dbConnect.js
Labels: area: examples

#40700 Temporarily skip switchable runtime test on deploy
  test/e2e/switchable-runtime/index.test.ts
Labels: created-by: Next.js team

#40697 Use resolved url in flight entry loader
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/e2e/app-dir/app-alias.test.ts
  test/e2e/app-dir/app-alias/app/button/page.tsx
  test/e2e/app-dir/app-alias/next.config.js
  test/e2e/app-dir/app-alias/tsconfig.json
  test/e2e/app-dir/app-alias/ui/button.tsx
Labels: type: next, created-by: Next.js team

#40396 Handle redirects in new router
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/infinite-promise.ts
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/redirect-client.ts
  packages/next/client/components/redirect.ts
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
  packages/next/shared/lib/app-router-context.ts
  packages/next/types/index.d.ts
  test/e2e/app-dir/app/app/hooks/use-layout-segments/server/page.js
  test/e2e/app-dir/app/app/hooks/use-params/server/page.js
  test/e2e/app-dir/app/app/hooks/use-selected-layout-segment/server/page.js
  test/e2e/app-dir/app/app/redirect/client-side/page.js
  test/e2e/app-dir/app/app/redirect/clientcomponent/client-component.js
  test/e2e/app-dir/app/app/redirect/clientcomponent/page.js
  test/e2e/app-dir/app/app/redirect/next-config-redirect/page.js
  test/e2e/app-dir/app/app/redirect/next-middleware-redirect/page.js
  test/e2e/app-dir/app/app/redirect/result/page.js
  test/e2e/app-dir/app/app/redirect/servercomponent/page.js
  test/e2e/app-dir/app/middleware.js
  test/e2e/app-dir/app/next.config.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/vercel-analytics.test.ts
Labels: type: next, created-by: Next.js team

#40717 Combine redirect function in new router
  packages/next/client/components/hooks-server-context.ts
  packages/next/client/components/redirect-client.ts
  packages/next/client/components/redirect.ts
  test/e2e/app-dir/app/app/redirect/client-side/page.js
Labels: type: next, created-by: Next.js team

#40712 chore: refactor with-next-sitemap example
  examples/with-next-sitemap/.gitignore
  examples/with-next-sitemap/next-sitemap.config.js
  examples/with-next-sitemap/package.json
  examples/with-next-sitemap/pages/[dynamic].tsx
  examples/with-next-sitemap/pages/index.tsx
  examples/with-next-sitemap/tsconfig.json
Labels: area: examples

#40635 fix: InferGetServerSidePropsType and InferGetStaticPropsType
  package.json
  packages/next/types/index.d.ts
  pnpm-lock.yaml
  test/unit/infer-get-server-side-props-type.test.ts
  test/unit/infer-get-static-props.test.ts
Labels: type: next

#40728 Updated example for i18n middleware
  docs/advanced-features/i18n-routing.md
Labels: area: documentation

#40727 Update to leverage AsyncLocalStorage for app static handling
  packages/next/client/components/hooks-server-context.ts
  packages/next/client/components/hooks-server.ts
  packages/next/export/worker.ts
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#40752 Change flight querystring to header
  packages/next/client/components/app-router.client.tsx
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  test/e2e/app-dir/app/middleware.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/switchable-runtime/index.test.ts
Labels: type: next, created-by: Next.js team

#40761 Skip copying next-swc debug files during testing
  test/lib/create-next-install.js
Labels: created-by: Next.js team

#40707 Updates with-supertokens example app
  examples/with-supertokens/config/backendConfig.ts
  examples/with-supertokens/config/frontendConfig.ts
  examples/with-supertokens/package.json
  examples/with-supertokens/pages/_app.tsx
  examples/with-supertokens/pages/index.tsx
Labels: area: examples

#40740 chore: refactor with-typestyle example
  examples/with-typestyle/package.json
  examples/with-typestyle/pages/_document.js
  examples/with-typestyle/pages/_document.tsx
  examples/with-typestyle/pages/index.tsx
  examples/with-typestyle/tsconfig.json
Labels: area: examples

#40743 chore: migrate missing document of with-geist-ui example to typescript
  examples/with-geist-ui/pages/_document.js
  examples/with-geist-ui/pages/_document.tsx
Labels: area: examples

#40734 Add test case for /404 client transition
  test/e2e/basepath.test.ts
  test/e2e/basepath/pages/404.js
Labels: created-by: Next.js team

#40739 Improved bundling strategy for the server graph
  packages/next-swc/crates/core/src/react_server_components.rs
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/client/components/hooks-server-context.ts
  packages/next/client/components/hooks-server.ts
  packages/next/client/components/static-generation-async-storage.ts
  packages/next/export/worker.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/app/hooks/use-pathname/server/page.js
  test/e2e/app-dir/app/app/hooks/use-router/server/page.js
  test/e2e/app-dir/app/app/hooks/use-search-params/server/page.js
  test/e2e/app-dir/app/app/style.css
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/app/react-server/3rd-party-package/client.js
  test/e2e/app-dir/rsc-basic/app/react-server/3rd-party-package/page.js
  test/e2e/app-dir/rsc-basic/app/react-server/client-detector.js
  test/e2e/app-dir/rsc-basic/app/react-server/detector.js
  test/e2e/app-dir/rsc-basic/app/react-server/page.js
  test/e2e/app-dir/rsc-basic/node_modules_bak/conditional-exports/index.js
  test/e2e/app-dir/rsc-basic/node_modules_bak/conditional-exports/index.server.js
  test/e2e/app-dir/rsc-basic/node_modules_bak/conditional-exports/package.json
  test/e2e/app-dir/rsc-basic/node_modules_bak/conditional-exports/subpath.js
  test/e2e/app-dir/rsc-basic/node_modules_bak/conditional-exports/subpath.server.js
Labels: type: next, created-by: Next.js team

#40766 Remove unnecessary experimental flag
  packages/next/build/index.ts
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/export/index.ts
  packages/next/server/base-server.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  test/e2e/app-dir/app-alias/next.config.js
  test/e2e/app-dir/app-prefetch/next.config.js
  test/e2e/app-dir/app-rendering/next.config.js
  test/e2e/app-dir/app-static/next.config.js
  test/e2e/app-dir/app/next.config.js
  test/e2e/app-dir/asset-prefix/next.config.js
  test/e2e/app-dir/rsc-basic/next.config.js
  test/e2e/app-dir/trailingslash/next.config.js
  test/e2e/switchable-runtime/next.config.js
  test/integration/react-streaming/app/next.config.js
  test/integration/react-streaming/unsupported-native-module/next.config.js
Labels: type: next, created-by: Next.js team

#40221 next-swc: add next-font-loaders to crates/core
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_font_loaders/find_functions_outside_module_scope.rs
  packages/next-swc/crates/core/src/next_font_loaders/font_functions_collector.rs
  packages/next-swc/crates/core/src/next_font_loaders/font_imports_generator.rs
  packages/next-swc/crates/core/src/next_font_loaders/mod.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/errors/next-font-loaders/import-all/input.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/import-all/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/import-all/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-const/input.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-const/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-const/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-ident/input.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-ident/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-ident/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/options-object/input.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/options-object/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/options-object/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/spread-arg/input.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/spread-arg/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/spread-arg/output.stderr
  packages/next-swc/crates/core/tests/errors/next-font-loaders/wrong-scope/input.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/wrong-scope/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/wrong-scope/output.stderr
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/default-import/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/default-import/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/exports/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/exports/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/font-options/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/font-options/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/import-as/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/import-as/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/many-args/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/many-args/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-calls/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-calls/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-font-downloaders/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-font-downloaders/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-fonts/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-fonts/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-imports/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-imports/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/no-args/input.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/no-args/output.js
  packages/next-swc/crates/core/tests/full.rs
Labels: type: next, created-by: Next.js team

#40227 Add next font package
  package.json
  packages/font/README.md
  packages/font/google/index.d.ts
  packages/font/google/index.js
  packages/font/google/loader.d.ts
  packages/font/google/loader.js
  packages/font/package.json
  packages/font/src/google/font-data.json
  packages/font/src/google/index.ts
  packages/font/src/google/loader.ts
  packages/font/src/google/utils.ts
  packages/font/tsconfig.json
  packages/next/server/font-utils.ts
  pnpm-lock.yaml
  scripts/update-google-fonts.js
  test/unit/google-font-loader.test.ts
Labels: type: next

#40777 chore(examples): lock `msw` version in `with-msw` example
  examples/with-msw/package.json
Labels: area: examples

#40778 Update publish to scope as public for initializing
  packages/font/package.json
Labels: created-by: Next.js team

#40774 chore: refactor using-router example
  examples/using-router/components/CustomLink.tsx
  examples/using-router/components/Header.js
  examples/using-router/components/Header.tsx
  examples/using-router/package.json
  examples/using-router/pages/about.tsx
  examples/using-router/pages/index.tsx
  examples/using-router/tsconfig.json
Labels: area: examples

#40732 Fix: Contentful webhook body parse.
  examples/cms-contentful/pages/api/revalidate.js
Labels: area: examples

#40746 Add support for font loaders
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/font-loader.ts
  packages/next/build/webpack/config/blocks/css/messages.ts
  packages/next/build/webpack/loaders/css-loader/src/index.js
  packages/next/build/webpack/loaders/css-loader/src/utils.js
  packages/next/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/build/webpack/loaders/next-font-loader/index.ts
  packages/next/build/webpack/loaders/next-font-loader/postcss-font-loader.ts
  packages/next/build/webpack/plugins/font-loader-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/export/index.ts
  packages/next/pages/_document.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/html-context.ts
  test/development/next-font/font-loader-in-document-error.test.ts
  test/development/next-font/font-loader-in-document/next.config.js
  test/development/next-font/font-loader-in-document/pages/_document.js
  test/development/next-font/font-loader-in-document/pages/index.js
  test/e2e/next-font/app/components/CompWithFonts.js
  test/e2e/next-font/app/next.config.js
  test/e2e/next-font/app/pages/_app.js
  test/e2e/next-font/app/pages/variables.js
  test/e2e/next-font/app/pages/with-fallback.js
  test/e2e/next-font/app/pages/with-fonts.js
  test/e2e/next-font/app/pages/without-fonts.js
  test/e2e/next-font/basepath.test.ts
  test/e2e/next-font/basepath/next.config.js
  test/e2e/next-font/basepath/pages/index.js
  test/e2e/next-font/google-font-mocked-responses.js
  test/e2e/next-font/index.test.ts
  test/e2e/next-font/with-font-declarations-file.test.ts
  test/e2e/next-font/with-font-declarations-file/components/roboto-comp.js
  test/e2e/next-font/with-font-declarations-file/fonts.js
  test/e2e/next-font/with-font-declarations-file/next.config.js
  test/e2e/next-font/with-font-declarations-file/pages/_app.js
  test/e2e/next-font/with-font-declarations-file/pages/inter.js
  test/e2e/next-font/with-font-declarations-file/pages/roboto.js
  test/e2e/next-font/without-preloaded-fonts.test.ts
  test/e2e/next-font/without-preloaded-fonts/next.config.js
  test/e2e/next-font/without-preloaded-fonts/pages/_app.js
  test/e2e/next-font/without-preloaded-fonts/pages/no-preload.js
  test/e2e/next-font/without-preloaded-fonts/pages/without-fonts.js
Labels: type: next

#40702 Set `__NEXT_NEW_LINK_BEHAVIOR` in Jest tests when `newNextLinkBehavior` is true
  packages/next/build/jest/jest.ts
  test/production/jest/new-link-behavior.test.ts
Labels: type: next

#40780 Update stats config for release stats
  test/.stats-app/next.config.js
  test/.stats-app/stats-config.js
Labels: created-by: Next.js team

#40800 Fix alias paths for bundling
  packages/next/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#40785 docs: Remove extraneous FallbackComponent prop from error boundary docs
  docs/advanced-features/error-handling.md
Labels: area: documentation

#40784 Fix required server files for font loader manifest
  packages/next/build/index.ts
Labels: type: next

#40804 Open deploy link in new window for examples
  examples/progressive-web-app/pages/index.tsx
  examples/with-cypress/pages/index.tsx
  examples/with-docker-compose/next-app/src/pages/index.tsx
  examples/with-docker-multi-env/pages/index.js
  examples/with-docker/pages/index.js
  examples/with-elasticsearch/pages/index.js
  examples/with-graphql-gateway/pages/index.tsx
  examples/with-knex/pages/index.js
  examples/with-mongodb/pages/index.tsx
  examples/with-particles/pages/index.tsx
  examples/with-playwright/pages/index.js
  examples/with-sitemap/pages/index.js
  examples/with-vitest/pages/index.tsx
  packages/create-next-app/templates/default/pages/index.js
  packages/create-next-app/templates/typescript/pages/index.tsx
Labels: area: examples, area: create-next-app, created-by: Next.js team

#40805 Add missing release stats config for app
  test/.stats-app/stats-config.js
Labels: created-by: Next.js team

#40801 Add local font loader
  packages/font/local/index.d.ts
  packages/font/local/index.js
  packages/font/local/loader.d.ts
  packages/font/local/loader.js
  packages/font/package.json
  packages/font/src/google/index.ts
  packages/font/src/google/loader.ts
  packages/font/src/local/index.ts
  packages/font/src/local/loader.ts
  packages/font/src/local/utils.ts
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/next_font_loaders/font_imports_generator.rs
  packages/next-swc/crates/core/src/next_font_loaders/mod.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/errors/next-font-loaders/not-const/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/options-object/output.js
  packages/next-swc/crates/core/tests/errors/next-font-loaders/spread-arg/output.js
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/default-import/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/exports/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/font-options/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/import-as/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/many-args/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-calls/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-font-downloaders/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-fonts/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/multiple-imports/output.js
  packages/next-swc/crates/core/tests/fixture/next-font-loaders/no-args/output.js
  packages/next/build/swc/options.js
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-font-loader/index.ts
  packages/next/build/webpack/loaders/next-swc-loader.js
  packages/next/font/index.d.ts
  scripts/update-google-fonts.js
  test/e2e/next-font/app/fonts/my-font.woff2
  test/e2e/next-font/app/fonts/my-other-font.woff
  test/e2e/next-font/app/next.config.js
  test/e2e/next-font/app/pages/with-local-fonts.js
  test/e2e/next-font/index.test.ts
  test/e2e/next-font/with-font-declarations-file.test.ts
  test/e2e/next-font/with-font-declarations-file/fonts.js
  test/e2e/next-font/with-font-declarations-file/my-font.woff2
  test/e2e/next-font/with-font-declarations-file/next.config.js
  test/e2e/next-font/with-font-declarations-file/pages/local-font.js
  test/unit/google-font-loader.test.ts
  test/unit/local-font-loader.test.ts
Labels: type: next

#40808 Update static-html-export.md
  docs/advanced-features/static-html-export.md
Labels: area: documentation
