Repository vercel/next.js, pull requests merged in 2022-07, with the labels that each got.

#38236 Ensure page.server.js matches correctly
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/get-route-from-entrypoint.ts
  test/e2e/app-dir/app-rendering/app/page.server.js
  test/e2e/app-dir/rendering.test.ts
Labels: type: next, created-by: Next.js team

#38245 Alias react and react-dom by default
  package.json
  packages/next/build/webpack-config.ts
  pnpm-lock.yaml
  test/integration/custom-error-page-exception/next.config.js
  test/integration/custom-error-page-exception/test/index.test.js
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-server-components/basic/app/page.server.js
  test/integration/react-server-components/basic/pages/.gitkeep
  test/integration/react-server-components/basic/pages/styled-jsx.server.js.bak
  test/integration/react-server-components/switchable-runtime/pages-manifest.json
  test/integration/react-server-components/test/index.test.js
  test/lib/next-test-utils.js
  test/lib/react-17-require-hook.js
  test/lib/react-channel-require-hook.js
  test/lib/with-react-17.js
Labels: type: next, created-by: Next.js team

#38252 Fix: convert head instances to array
  packages/next/shared/lib/side-effect.tsx
Labels: type: next, created-by: Next.js team

#38246 fix: middleware-upgrade-guide.md
  errors/middleware-upgrade-guide.md
Labels: area: documentation

#38259 Typo in NextResponse docs
  docs/api-reference/next/server.md
Labels: area: documentation

#38240 feat(examples): adds middleware example
  examples/middleware/.eslintrc.json
  examples/middleware/.gitignore
  examples/middleware/README.md
  examples/middleware/middleware.ts
  examples/middleware/next-env.d.ts
  examples/middleware/next.config.js
  examples/middleware/package.json
  examples/middleware/pages/_app.tsx
  examples/middleware/pages/about.tsx
  examples/middleware/pages/about2.tsx
  examples/middleware/pages/another.tsx
  examples/middleware/pages/index.tsx
  examples/middleware/pages/redirected.tsx
  examples/middleware/pages/rewrite.tsx
  examples/middleware/public/favicon.ico
  examples/middleware/public/vercel.svg
  examples/middleware/tsconfig.json
Labels: area: examples

#38288 [edge] Make runtime addressable in compile time
  packages/next/build/webpack-config.ts
  test/production/edge-runtime-is-addressable/index.test.ts
Labels: type: next

#38282 Ensure trailing slash is handled correctly with middleware
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/server/base-server.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
  test/e2e/middleware-trailing-slash/app/middleware.js
  test/e2e/middleware-trailing-slash/app/next.config.js
  test/e2e/middleware-trailing-slash/app/pages/[id].js
  test/e2e/middleware-trailing-slash/app/pages/_app.js
  test/e2e/middleware-trailing-slash/app/pages/about/a.js
  test/e2e/middleware-trailing-slash/app/pages/about/b.js
  test/e2e/middleware-trailing-slash/app/pages/api/headers.js
  test/e2e/middleware-trailing-slash/app/pages/blog/[slug].js
  test/e2e/middleware-trailing-slash/app/pages/error-throw.js
  test/e2e/middleware-trailing-slash/app/pages/error.js
  test/e2e/middleware-trailing-slash/app/pages/shallow.js
  test/e2e/middleware-trailing-slash/app/pages/ssg/[slug].js
  test/e2e/middleware-trailing-slash/app/pages/ssr-page-2.js
  test/e2e/middleware-trailing-slash/app/pages/ssr-page.js
  test/e2e/middleware-trailing-slash/test/index.test.ts
Labels: type: next, created-by: Next.js team

#38310 Fix CSS modules imported from client components in app dir
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/build/webpack/config/blocks/css/loaders/modules.ts
  test/e2e/app-dir/app/app/client-nested/layout.client.js
  test/e2e/app-dir/app/app/client-nested/style.module.css
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#38319 [edge] favor browser exports for edge compiler
  packages/next/build/webpack-config.ts
  test/e2e/edge-compiler-module-exports-preference/index.test.ts
Labels: type: next

#38323 fix(examples): fix link on middleware example
  examples/middleware/README.md
Labels: area: examples

#38307 Update `next/future/image` docs to specify supported browser versions.
  docs/api-reference/next/future/image.md
Labels: area: documentation, created-by: Next.js team

#38329 Fix CSS modules imported from client components in app dir with next build
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/client/app-next.js
  packages/next/server/app-render.tsx
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#38344 Update some flaking tests for edge compiler and rsc
  test/e2e/edge-compiler-module-exports-preference/index.test.ts
  test/integration/react-server-components/test/rsc.js
Labels: created-by: Next.js team

#38287 Update get-static-props.md
  docs/api-reference/data-fetching/get-static-props.md
Labels: area: documentation

#38201 Update analysis scripts
  examples/with-ant-design/package.json
Labels: area: examples

#38346 Honor NEXT_MANUAL_SIG_HANDLE flag in standalone mode
  packages/next/build/utils.ts
Labels: type: next, created-by: Next.js team

#38340 Handle Client Rewrites Correctly
  packages/next/shared/lib/router/router.ts
  test/e2e/link-with-api-rewrite/app/next.config.js
  test/e2e/link-with-api-rewrite/app/pages/api/json.js
  test/e2e/link-with-api-rewrite/app/pages/index.js
  test/e2e/link-with-api-rewrite/index.test.ts
Labels: type: next

#38339 Fix global CSS file imports
  packages/next/build/webpack/config/blocks/css/index.ts
  test/e2e/app-dir/app/app/client-nested/layout.client.js
  test/e2e/app-dir/app/app/client-nested/style.css
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#38359 Clarification for Testing Environment Variables
  docs/basic-features/environment-variables.md
  docs/testing.md
Labels: area: documentation

#38370 [build] validate the exported config values
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/server/config-shared.ts
  test/production/exported-runtimes-value-validation/app/pages/index.js
  test/production/exported-runtimes-value-validation/index.test.ts
Labels: type: next

#38348 chore(examples): fix experiments loading npm wasm
  examples/with-webassembly/next.config.js
Labels: area: examples

#38356 chore(examples): Convert `api-routes-cors` example to TypeScript
  examples/api-routes-cors/.gitignore
  examples/api-routes-cors/lib/init-middleware.js
  examples/api-routes-cors/next-env.d.ts
  examples/api-routes-cors/package.json
  examples/api-routes-cors/pages/api/cors.js
  examples/api-routes-cors/pages/api/cors.ts
  examples/api-routes-cors/pages/index.tsx
  examples/api-routes-cors/tsconfig.json
Labels: area: examples

#38199 Remove CharkraProvicer RestCSS prop
  examples/with-chakra-ui/src/pages/_app.tsx
Labels: area: examples

#38226 Correctly check if width is lte 0 in Image Optimization API
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.js
Labels: type: next

#36050 Add example: with-apivideo-upload
  examples/with-apivideo-upload/.env.local.example
  examples/with-apivideo-upload/.gitignore
  examples/with-apivideo-upload/README.md
  examples/with-apivideo-upload/components/Card/index.tsx
  examples/with-apivideo-upload/components/Loader/index.tsx
  examples/with-apivideo-upload/components/Status/index.tsx
  examples/with-apivideo-upload/next-env.d.ts
  examples/with-apivideo-upload/next.config.js
  examples/with-apivideo-upload/package.json
  examples/with-apivideo-upload/pages/[videoId].tsx
  examples/with-apivideo-upload/pages/_app.tsx
  examples/with-apivideo-upload/pages/api/[videoId].ts
  examples/with-apivideo-upload/pages/api/uploadToken.ts
  examples/with-apivideo-upload/pages/index.tsx
  examples/with-apivideo-upload/public/arrow.png
  examples/with-apivideo-upload/public/check.png
  examples/with-apivideo-upload/public/favicon.ico
  examples/with-apivideo-upload/public/vercel.svg
  examples/with-apivideo-upload/style/common.ts
  examples/with-apivideo-upload/style/index.css
  examples/with-apivideo-upload/tsconfig.json
Labels: area: examples

#38376 Revert "chore: remove workspace from `package.json` since we have `pnpm-works…"
  package.json
Labels: created-by: Next.js team

#38157 chore: shorten image blur svg placholder
  packages/next/client/future/image.tsx
  test/integration/image-future/base-path/test/static.test.js
  test/integration/image-future/default/test/index.test.js
  test/integration/image-future/default/test/static.test.js
Labels: type: next

#38350 Replace pre-commit with husky
  .husky/pre-commit
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#38215 Enable swc minifier in create next apps
  packages/create-next-app/templates/default/next.config.js
  packages/create-next-app/templates/typescript/next.config.js
  packages/next/server/config.ts
Labels: type: next, area: create-next-app, created-by: Next.js team

#38343 Add more CSS imports test cases
  test/e2e/app-dir/app/app/client-component-route/page.client.js
  test/e2e/app-dir/app/app/client-component-route/style.css
  test/e2e/app-dir/app/app/client-component-route/style.module.css
  test/e2e/app-dir/index.test.ts
Labels: created-by: Next.js team

#38365 [edge] enable edge compiler source maps by default
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/plugins/middleware-source-maps-plugin.ts
  packages/next/server/config-shared.ts
  test/.stats-app/stats-config.js
  test/production/generate-middleware-source-maps/index.test.ts
Labels: type: next

#21240 Call Error.getInitialProps for the top level error
  packages/next/client/index.tsx
  test/integration/render-error-on-top-level-error/with-get-initial-props/pages/_error.js
  test/integration/render-error-on-top-level-error/with-get-initial-props/pages/index.js
  test/integration/render-error-on-top-level-error/with-get-initial-props/test/index.test.js
  test/integration/render-error-on-top-level-error/without-get-initial-props/pages/_error.js
  test/integration/render-error-on-top-level-error/without-get-initial-props/pages/index.js
  test/integration/render-error-on-top-level-error/without-get-initial-props/test/index.test.js
Labels: type: next

#38369 Updates with-supertokens example
  examples/with-supertokens/config/frontendConfig.js
  examples/with-supertokens/package.json
  examples/with-supertokens/pages/_app.js
  examples/with-supertokens/pages/index.js
Labels: area: examples

#38280 Fix/update docs for swc styled components
  docs/advanced-features/compiler.md
Labels: area: documentation

#38050 fix: update with-msw example to function properly for all use cases
  examples/with-msw/mocks/index.js
Labels: area: examples

#38095 chore(examples): Convert `blog` example to TypeScript
  examples/blog/.gitignore
  examples/blog/README.md
  examples/blog/next-env.d.ts
  examples/blog/next.config.js
  examples/blog/package.json
  examples/blog/pages/_app.tsx
  examples/blog/pages/_document.tsx
  examples/blog/scripts/gen-rss.js
  examples/blog/theme.config.js
  examples/blog/tsconfig.json
Labels: area: examples

#38234 feat: build edge functions with node.js modules and fail at runtime
  errors/manifest.json
  errors/node-module-in-edge-runtime.md
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/get-module-build-info.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/index.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/web/sandbox/context.ts
  packages/react-dev-overlay/src/internal/helpers/getErrorByType.ts
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
  test/integration/edge-runtime-module-errors/lib.js
  test/integration/edge-runtime-module-errors/middleware.js
  test/integration/edge-runtime-module-errors/pages/api/route.js
  test/integration/edge-runtime-module-errors/pages/index.js
  test/integration/edge-runtime-module-errors/test/index.test.js
  test/integration/middleware-build-errors/test/index.test.js
  test/integration/middleware-module-errors/middleware.js
  test/integration/middleware-module-errors/test/index.test.js
  test/integration/middleware-nested-error/middleware.js
  test/integration/middleware-nested-error/pages/about/_middleware.js
  test/integration/middleware-nested-error/pages/about/index.js
  test/integration/middleware-nested-error/pages/api/_middleware.js
  test/integration/middleware-nested-error/pages/index.js
  test/integration/middleware-nested-error/test/index.test.js
  test/integration/middleware-overrides-node.js-api/test/index.test.ts
  test/integration/middleware-with-node.js-apis/test/index.test.ts
Labels: area: documentation, type: next

#37551 Implement new client-side router
  package.json
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/client/app-index.tsx
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/hooks-client-context.ts
  packages/next/client/components/hooks-client.ts
  packages/next/client/components/hooks-server-context.ts
  packages/next/client/components/hooks-server.ts
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/client/components/userouter.ts
  packages/next/client/link.tsx
  packages/next/server/app-render.tsx
  packages/next/server/next-server.ts
  packages/next/server/utils.ts
  packages/next/shared/lib/app-router-context.ts
  packages/next/shared/lib/constants.ts
  pnpm-lock.yaml
  test/e2e/app-dir/app-rendering/app/layout.server.js
  test/e2e/app-dir/app/app/dashboard/layout.server.js
  test/e2e/app-dir/app/app/dynamic/[category]/[id]/layout.server.js
  test/e2e/app-dir/app/app/dynamic/[category]/[id]/page.server.js
  test/e2e/app-dir/app/app/dynamic/[category]/layout.server.js
  test/e2e/app-dir/app/app/dynamic/layout.server.js
  test/e2e/app-dir/app/app/layout.server.js
  test/e2e/app-dir/app/app/slow-layout-and-page-with-loading/loading.js
  test/e2e/app-dir/app/app/slow-layout-and-page-with-loading/slow/layout.server.js
  test/e2e/app-dir/app/app/slow-layout-and-page-with-loading/slow/loading.js
  test/e2e/app-dir/app/app/slow-layout-and-page-with-loading/slow/page.server.js
  test/e2e/app-dir/app/app/slow-layout-with-loading/loading.js
  test/e2e/app-dir/app/app/slow-layout-with-loading/slow/layout.server.js
  test/e2e/app-dir/app/app/slow-layout-with-loading/slow/page.server.js
  test/e2e/app-dir/app/app/slow-page-with-loading/loading.js
  test/e2e/app-dir/app/app/slow-page-with-loading/page.server.js
  test/e2e/app-dir/app/app/test-page/page.server.js
  test/e2e/app-dir/app/middleware.js
  test/e2e/app-dir/app/next.config.js
  test/e2e/app-dir/app/pages/index.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rendering.test.ts
  test/integration/react-server-components/test/index.test.js
Labels: type: next, created-by: Next.js team

#38415 Add param names into the tree
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/match-segments.ts
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#38221 feat(next/swc): setup native next-swc crash reporter with platform supports
  .github/workflows/build_test_deploy.yml
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/build.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/util.rs
  packages/next/build/index.ts
  packages/next/build/output/store.ts
  packages/next/build/swc/index.d.ts
  packages/next/build/swc/index.js
Labels: type: next

#38426 Add note about casing to getStaticPaths docs
  docs/api-reference/data-fetching/get-static-paths.md
Labels: area: documentation, created-by: Next.js team

#38437 Update building-form sample code
  docs/guides/building-forms.md
Labels: area: documentation

#38371 Update README.md
  packages/next/README.md
Labels: type: next

#38393 Convert `api-routes-rate-limit` example to TypeScript
  examples/api-routes-rate-limit/.gitignore
  examples/api-routes-rate-limit/next-env.d.ts
  examples/api-routes-rate-limit/package.json
  examples/api-routes-rate-limit/pages/api/user.ts
  examples/api-routes-rate-limit/pages/index.tsx
  examples/api-routes-rate-limit/tsconfig.json
  examples/api-routes-rate-limit/utils/rate-limit.js
  examples/api-routes-rate-limit/utils/rate-limit.ts
Labels: area: examples

#38439 Add support for catchall with new router
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#38419 Update i18n routing example with Middleware.
  docs/advanced-features/i18n-routing.md
Labels: area: documentation, created-by: Next.js team

#38445 Fix client entry point prefix
  packages/next/build/entries.ts
Labels: type: next, created-by: Next.js team

#38444 Add support for optional catchall with new router
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/require.ts
Labels: type: next, created-by: Next.js team

#38398 examples(with-jotai): Update example
  examples/with-jotai/package.json
  examples/with-jotai/pages/_app.tsx
Labels: area: examples

#38107 fix(examples/with-playwritght): use PORT env variable and fall back to 3000
  examples/with-playwright/playwright.config.ts
Labels: area: examples

#38272 docs: add trpc to examples
  examples/with-trpc/README.md
Labels: area: examples

#38394 Convert `api-routes-rest` example to TypeScript
  examples/api-routes-rest/.gitignore
  examples/api-routes-rest/interfaces/index.ts
  examples/api-routes-rest/next-env.d.ts
  examples/api-routes-rest/package.json
  examples/api-routes-rest/pages/api/user/[id].ts
  examples/api-routes-rest/pages/api/users.js
  examples/api-routes-rest/pages/api/users.ts
  examples/api-routes-rest/pages/index.tsx
  examples/api-routes-rest/pages/user/[id].tsx
  examples/api-routes-rest/tsconfig.json
Labels: area: examples

#38357 chore(examples): Convert `api-routes-graphql` example to TypeScript
  examples/api-routes-graphql/.gitignore
  examples/api-routes-graphql/next-env.d.ts
  examples/api-routes-graphql/package.json
  examples/api-routes-graphql/pages/api/graphql.ts
  examples/api-routes-graphql/pages/index.tsx
  examples/api-routes-graphql/tsconfig.json
Labels: area: examples

#38453 Add handling for back/forward (popstate) between old and new router
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/shared/lib/router/router.ts
Labels: type: next, created-by: Next.js team

#38456 Make catchall parameters consistent with existing router
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#38472 fix(next/build): disable next-swc crash reporting temporarily
  packages/next/build/swc/index.js
Labels: type: next

#38460 Migrate rsc integration tests to e2e tests
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/app/css-modules/page.server.js
  test/e2e/app-dir/rsc-basic/app/escaping-rsc/page.server.js
  test/e2e/app-dir/rsc-basic/app/external-imports/page.server.js
  test/e2e/app-dir/rsc-basic/app/global-styles-rsc/page.server.js
  test/e2e/app-dir/rsc-basic/app/layout.server.js
  test/e2e/app-dir/rsc-basic/app/multi/page.server.js
  test/e2e/app-dir/rsc-basic/app/native-module/page.server.js
  test/e2e/app-dir/rsc-basic/app/next-api/image/page.server.js.bak
  test/e2e/app-dir/rsc-basic/app/next-api/link/page.server.js
  test/e2e/app-dir/rsc-basic/app/page.server.js
  test/e2e/app-dir/rsc-basic/app/partial-hydration/page.server.js
  test/e2e/app-dir/rsc-basic/app/root/page.server.js
  test/e2e/app-dir/rsc-basic/app/routes/[dynamic]/page.server.js.bak
  test/e2e/app-dir/rsc-basic/app/shared/page.server.js
  test/e2e/app-dir/rsc-basic/app/streaming-rsc/page.server.js
  test/e2e/app-dir/rsc-basic/app/styled-jsx/page.server.js
  test/e2e/app-dir/rsc-basic/app/various-exports/page.server.js
  test/e2e/app-dir/rsc-basic/components/bar.client.js
  test/e2e/app-dir/rsc-basic/components/bar.server.js
  test/e2e/app-dir/rsc-basic/components/cjs.client.js
  test/e2e/app-dir/rsc-basic/components/cjs.js
  test/e2e/app-dir/rsc-basic/components/client-exports.client.js
  test/e2e/app-dir/rsc-basic/components/client.client.js
  test/e2e/app-dir/rsc-basic/components/container.server.js
  test/e2e/app-dir/rsc-basic/components/export-all/index.client.js
  test/e2e/app-dir/rsc-basic/components/export-all/one.js
  test/e2e/app-dir/rsc-basic/components/export-all/two.js
  test/e2e/app-dir/rsc-basic/components/foo.client.js
  test/e2e/app-dir/rsc-basic/components/nav.js
  test/e2e/app-dir/rsc-basic/components/partial-hydration-counter.client.js
  test/e2e/app-dir/rsc-basic/components/random-module-instance.client.js
  test/e2e/app-dir/rsc-basic/components/red/index.client.js
  test/e2e/app-dir/rsc-basic/components/red/style.module.css
  test/e2e/app-dir/rsc-basic/components/router-path.client.js
  test/e2e/app-dir/rsc-basic/components/shared-exports.js
  test/e2e/app-dir/rsc-basic/components/shared.client.js
  test/e2e/app-dir/rsc-basic/components/shared.js
  test/e2e/app-dir/rsc-basic/components/styled-jsx.client.js
  test/e2e/app-dir/rsc-basic/next.config.js
  test/e2e/app-dir/rsc-basic/node_modules/non-isomorphic-text/browser.js
  test/e2e/app-dir/rsc-basic/node_modules/non-isomorphic-text/index.js
  test/e2e/app-dir/rsc-basic/node_modules/non-isomorphic-text/package.json
  test/e2e/app-dir/rsc-basic/node_modules/random-module-instance/index.js
  test/e2e/app-dir/rsc-basic/node_modules/random-module-instance/package.json
  test/e2e/app-dir/rsc-basic/pages/.gitkeep
  test/e2e/app-dir/rsc-basic/public/test.jpg
  test/integration/react-server-components/basic/app/invalid-ext/page.server.tsx
  test/integration/react-server-components/basic/middleware.js
  test/integration/react-server-components/basic/pages/api/ping.js
  test/integration/react-server-components/basic/tsconfig.json
  test/integration/react-server-components/test/index.test.js
Labels: created-by: Next.js team

#38466 Remove dynamic params from `query` in new router
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#38475 Fix app dir page detection
  packages/next/server/app-render.tsx
  test/e2e/app-dir/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team

#38476 chore: update file references in Auth0 example README
  examples/auth0/README.md
Labels: area: examples

#38478 Update flakey unoptimized image test
  test/integration/image-component/unoptimized/test/index.test.js
Labels: created-by: Next.js team

#38471 build(ci): enable rustls as default
  .github/workflows/build_test_deploy.yml
  packages/next-swc/crates/napi/Cargo.toml
Labels: type: next

#38480 Handle on-demand-entries and error overlay for server components
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/client/app-index.tsx
  packages/next/client/app-next-dev.js
  packages/next/client/app-next.js
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/hot-reloader.client.tsx
  packages/next/server/app-render.tsx
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
  packages/react-dev-overlay/src/internal/components/ShadowPortal.tsx
Labels: type: next, created-by: Next.js team

#38499 Update api-middlewares.md
  docs/api-routes/api-middlewares.md
Labels: area: documentation

#38508 Add refreshing of Server Components
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/hot-reloader.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/shared/lib/app-router-context.ts
Labels: type: next, created-by: Next.js team

#38512 Handle dynamic routes / catchall routes in on-demand-entries
  packages/next/server/app-render.tsx
  packages/next/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#38517 Fix rsc test during deploy testing
  test/e2e/app-dir/rsc-basic.test.ts
Labels: created-by: Next.js team

#38418 Enable css import in rsc server side
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/plugins/client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/client/app-index.tsx
  packages/next/server/app-render.tsx
  packages/next/server/load-components.ts
  test/e2e/app-dir/app/app/dashboard/global.css
  test/e2e/app-dir/app/app/dashboard/layout.server.js
  test/e2e/app-dir/app/app/dashboard/page.server.js
  test/e2e/app-dir/app/app/dashboard/style.css
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#38433 Pass missing incrementalCacheHandlerPath to IncrementalCache instance
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
Labels: area: examples, area: documentation, type: next, area: create-next-app

#38524 skip rsc tests for react 17 e2e
  test/e2e/app-dir/rsc-basic.test.ts
Labels: created-by: Next.js team

#38525 Add dev/start timing to PR stats
  .github/actions/next-stats-action/src/run/collect-stats.js
  .github/actions/next-stats-action/src/run/index.js
  test/.stats-app/stats-config.js
Labels: created-by: Next.js team

#38427 Update some dependencies' versions :)
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next/compiled/babel-packages/packages-bundle.js
  packages/next/compiled/cssnano-simple/index.js
  packages/next/compiled/icss-utils/index.js
  packages/next/compiled/json5/index.js
  packages/next/compiled/nanoid/index.cjs
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-modules-extract-imports/index.js
  packages/next/compiled/postcss-modules-local-by-default/index.js
  packages/next/compiled/postcss-modules-scope/index.js
  packages/next/compiled/postcss-modules-values/index.js
  packages/next/compiled/postcss-preset-env/index.cjs
  packages/next/compiled/postcss-safe-parser/safe-parse.js
  packages/next/compiled/postcss-scss/scss-syntax.js
  packages/next/compiled/terser/bundle.min.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#38531 refactor(next/swc): disable default features for crash report
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/util.rs
Labels: type: next

#37329 Note about manually passing props from custom app
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation

#38534 fix: don't use optional chaining in ESLint rule
  packages/eslint-plugin-next/lib/rules/no-img-element.js
Labels: type: next

#38181 feat(next-swc/auto-cjs): Detect `__esModule`
  packages/next-swc/crates/core/src/auto_cjs/mod.rs
  packages/next-swc/crates/core/src/lib.rs
Labels: type: next, created-by: Next.js team

#38536 CSS modules support improvements for Server Components
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/plugins/client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/app/css/css-nested/layout.client.js
  test/e2e/app-dir/app/app/css/css-nested/page.client.js
  test/e2e/app-dir/app/app/css/css-nested/style.css
  test/e2e/app-dir/app/app/css/css-nested/style.module.css
  test/e2e/app-dir/app/app/css/layout.server.js
  test/e2e/app-dir/app/app/css/style.css
  test/e2e/app-dir/app/app/css/style.module.css
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#38538 Fix e2e rsc test for deploy mode
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/node_modules_bak/non-isomorphic-text/browser.js
  test/e2e/app-dir/rsc-basic/node_modules_bak/non-isomorphic-text/index.js
  test/e2e/app-dir/rsc-basic/node_modules_bak/non-isomorphic-text/package.json
  test/e2e/app-dir/rsc-basic/node_modules_bak/random-module-instance/index.js
  test/e2e/app-dir/rsc-basic/node_modules_bak/random-module-instance/package.json
Labels: created-by: Next.js team

#38562 [DOCS]: Middleware doesn't execute for on-demand ISR
  docs/basic-features/data-fetching/incremental-static-regeneration.md
Labels: area: documentation

#38563 Update docs for `next/future/image` with browser support
  docs/api-reference/next/future/image.md
Labels: area: documentation, created-by: Next.js team

#38559 Fix injecting CSS link tags before page content
  packages/next/client/app-index.tsx
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  packages/next/shared/lib/app-router-context.ts
Labels: type: next, created-by: Next.js team

#38566 Add test env variables to readme
  test/readme.md
Labels: created-by: Next.js team

#38570 Optimize Edge SSR bundle size
  packages/next/pages/_document.tsx
  packages/next/server/post-process.ts
Labels: type: next, created-by: Next.js team

#38557 Handle dev fouc for layout styling
  packages/next/client/app-index.tsx
  packages/next/client/app-next-dev.js
  packages/next/client/components/app-router.client.tsx
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
Labels: type: next, created-by: Next.js team

#38573 Fix flaky rsc test
  test/e2e/app-dir/rsc-basic.test.ts
Labels: created-by: Next.js team

#38575 Fix independent CSSModule missing from flight manifest
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/client/app-index.tsx
Labels: type: next, created-by: Next.js team

#38574 Mark dynamic as client component
  packages/next/build/webpack/loaders/utils.ts
  test/e2e/app-dir/app/app/dashboard/index/dynamic.client.js
  test/e2e/app-dir/app/app/dashboard/index/dynamic.module.css
  test/e2e/app-dir/app/app/dashboard/index/lazy.client.js
  test/e2e/app-dir/app/app/dashboard/index/lazy.module.css
  test/e2e/app-dir/app/app/dashboard/index/next-dynamic.client.js
  test/e2e/app-dir/app/app/dashboard/index/page.server.js
  test/e2e/app-dir/app/app/dashboard/index/react-lazy.client.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team

#38578 Add error when createServerContext is not available
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#38580 Handle server context being refreshed
  packages/next/client/components/hooks-server-context.ts
Labels: type: next, created-by: Next.js team

#38586 Add missing closing curly bracket in compiler option example
  docs/advanced-features/compiler.md
Labels: area: documentation

#38597 docs: clarify that `matcher` needs to be constant values
  docs/advanced-features/middleware.md
Labels: area: documentation

#38434 Update Fauna examples to support new FAUNA_DB_DOMAIN environment variable
  examples/with-cookie-auth-fauna/utils/fauna-auth.js
  examples/with-fauna/scripts/setup.js
Labels: area: examples

#38599 Add heuristic for optimistic push
  packages/next/client/components/reducer.ts
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#38498 Add next.config.js validation with ajv
  errors/invalid-next-config.md
  errors/manifest.json
  packages/next/index.d.ts
  packages/next/package.json
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
  packages/next/server/config.ts
  packages/next/taskfile.js
  pnpm-lock.yaml
  test/integration/config-experimental-warning/test/index.test.js
  test/integration/config-validation/pages/index.js
  test/integration/config-validation/test/index.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#38569 Fix `next/jest` when testing `next/future/image`
  packages/next/client/future/image.tsx
Labels: type: next, created-by: Next.js team

#38473 refactor(next/telemetry): use basename for the absolute plugin path
  packages/next/telemetry/events/swc-plugins.ts
Labels: type: next

#38614 Remove the hide-fouc tag earlier
  packages/next/client/app-index.tsx
Labels: type: next, created-by: Next.js team

#38629 Update to latest version of turbo
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#38633 Fix reloading Client Component require.cache
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
Labels: type: next, created-by: Next.js team

#38626 Fix failed to hydrate error with global CSS
  packages/next/client/components/layout-router.client.tsx
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
Labels: type: next, created-by: Next.js team

#38522 Add documentation on accessibility.
  docs/accessibility.md
  docs/manifest.json
  docs/upgrading.md
Labels: area: documentation, created-by: Next.js team

#38642 Add focus and scroll management for new router
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/client/components/reducer.ts
  packages/next/shared/lib/app-router-context.ts
  test/e2e/app-dir/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team

#38390 New Router Tests
  packages/next/client/link.tsx
  test/e2e/app-dir/app/app/catch-all/[...slug]/page.server.js
  test/e2e/app-dir/app/app/client-with-errors/get-server-side-props/page.client.js
  test/e2e/app-dir/app/app/client-with-errors/get-static-props/page.client.js
  test/e2e/app-dir/app/app/dashboard/page.server.js
  test/e2e/app-dir/app/app/hooks/use-cookies/client/page.client.js
  test/e2e/app-dir/app/app/hooks/use-cookies/page.server.js
  test/e2e/app-dir/app/app/hooks/use-headers/client/page.client.js
  test/e2e/app-dir/app/app/hooks/use-headers/page.server.js
  test/e2e/app-dir/app/app/hooks/use-layout-segments/server/page.server.js
  test/e2e/app-dir/app/app/hooks/use-params/server/page.server.js
  test/e2e/app-dir/app/app/hooks/use-pathname/page.client.js
  test/e2e/app-dir/app/app/hooks/use-pathname/server/page.server.js
  test/e2e/app-dir/app/app/hooks/use-preview-data/client/page.client.js
  test/e2e/app-dir/app/app/hooks/use-preview-data/page.server.js
  test/e2e/app-dir/app/app/hooks/use-router/page.client.js
  test/e2e/app-dir/app/app/hooks/use-router/server/page.server.js
  test/e2e/app-dir/app/app/hooks/use-router/sub-page/page.client.js
  test/e2e/app-dir/app/app/hooks/use-search-params/page.client.js
  test/e2e/app-dir/app/app/hooks/use-search-params/server/page.server.js
  test/e2e/app-dir/app/app/hooks/use-selected-layout-segment/server/page.server.js
  test/e2e/app-dir/app/app/link-hard-push/page.server.js
  test/e2e/app-dir/app/app/link-hard-replace/page.server.js
  test/e2e/app-dir/app/app/link-hard-replace/subpage/page.server.js
  test/e2e/app-dir/app/app/link-soft-push/page.server.js
  test/e2e/app-dir/app/app/link-soft-replace/page.server.js
  test/e2e/app-dir/app/app/link-soft-replace/subpage/page.server.js
  test/e2e/app-dir/app/app/navigation/page.server.js
  test/e2e/app-dir/app/app/optional-catch-all/[[...slug]]/page.server.js
  test/e2e/app-dir/app/app/pages-linking/page.server.js
  test/e2e/app-dir/app/app/param-and-query/[slug]/page.client.js
  test/e2e/app-dir/app/app/rewrites/page.js
  test/e2e/app-dir/app/app/same-layout/first/page.server.js
  test/e2e/app-dir/app/app/same-layout/layout.server.js
  test/e2e/app-dir/app/app/same-layout/second/page.server.js
  test/e2e/app-dir/app/app/with-id/page.server.js
  test/e2e/app-dir/app/pages/api/preview.js
  test/e2e/app-dir/app/pages/app-linking.js
  test/e2e/app-dir/index.test.ts
Labels: type: next

#38654 Rename query to searchParams for getServerSideProps in new Router
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/app/param-and-query/[slug]/page.client.js
  test/e2e/app-dir/index.test.ts
  test/e2e/app-dir/rendering.test.ts
  test/e2e/app-dir/rsc-basic/app/next-api/link/page.server.js
Labels: type: next, created-by: Next.js team

#38682 Refine scrolling into view in new router
  packages/next/client/components/layout-router.client.tsx
Labels: type: next, created-by: Next.js team

#38684 Improve element detection further
  packages/next/client/components/layout-router.client.tsx
Labels: type: next, created-by: Next.js team

#38681 Remove obsolete code from loader
  packages/next/build/webpack/loaders/next-app-loader.ts
Labels: type: next, created-by: Next.js team

#38677 Add bundlejs site
  docs/going-to-production.md
Labels: area: documentation

#38688 Update version for yarn pnp tests
  test/e2e/yarn-pnp/test/utils.ts
Labels: created-by: Next.js team

#38648 add user check in `auth-with-stytch`.
  examples/auth-with-stytch/pages/index.tsx
Labels: area: examples, type: next

#37866 feat(examples): Use helper function in `with-sentry` example `_error.js`
  examples/with-sentry/package.json
  examples/with-sentry/pages/_error.js
  examples/with-sentry/sentry.client.config.js
Labels: area: examples

#38703 Update get-static-props.md
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation

#38716 Ensure flight manifest is correct with app and pages dir
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/react-dev-overlay/src/internal/ErrorBoundary.tsx
Labels: type: next, created-by: Next.js team

#38691 Fix missing client entry matcher and simplify imports path
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/plugins/client-entry-plugin.ts
Labels: type: next, created-by: Next.js team

#38738 Update MongoDB example to use integration for deploy button.
  examples/with-mongodb/README.md
Labels: area: examples, created-by: Next.js team

#38761 Fix CSSM loader applying for both pages and app
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/plugins/client-entry-plugin.ts
  test/e2e/app-dir/app/pages/index.js
  test/e2e/app-dir/app/styles/shared.module.css
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#38770 Add note about test-trace artifact to test readme
  test/readme.md
Labels: created-by: Next.js team

#38764 chore(examples): require `WORDPRESS_API_URL` to include `/graphql`
  examples/cms-wordpress/lib/api.js
Labels: area: examples

#38744 Update with-emotion-swc to use TypeScript
  examples/with-emotion-swc/.gitignore
  examples/with-emotion-swc/next-env.d.ts
  examples/with-emotion-swc/package.json
  examples/with-emotion-swc/pages/_app.tsx
  examples/with-emotion-swc/pages/index.tsx
  examples/with-emotion-swc/shared/styles.tsx
  examples/with-emotion-swc/tsconfig.json
Labels: area: examples

#38693 chore: auto-detect preferred package manager in `Dockerfile`
  examples/with-docker-compose/next-app/dev.Dockerfile
  examples/with-docker-compose/next-app/prod-without-multistage.Dockerfile
  examples/with-docker-compose/next-app/prod.Dockerfile
  examples/with-docker-multi-env/docker/development/Dockerfile
  examples/with-docker-multi-env/docker/production/Dockerfile
  examples/with-docker-multi-env/docker/staging/Dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples

#38780 fix(next/swc): let async wasm binding coerce to sync correctly
  packages/next/build/swc/index.js
Labels: type: next

#38537 Improve response body in Middleware error page.
  errors/returning-response-body-in-middleware.md
Labels: area: documentation, created-by: Next.js team

#38782 Fix postcss deploy e2e test
  test/e2e/postcss-config-cjs/index.test.ts
Labels: created-by: Next.js team

#38792 Ensure route group with separate root layout does not get wrapped in <div>
  packages/next/client/components/layout-router.client.tsx
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#38492 [edge] allow importing blob assets
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/get-module-build-info.ts
  packages/next/build/webpack/loaders/next-middleware-asset-loader.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/server/body-streams.ts
  packages/next/server/next-server.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/fetch-inline-assets.ts
  packages/next/server/web/sandbox/sandbox.ts
  test/e2e/edge-compiler-can-import-blob-assets/app/node_modules/my-pkg/hello/world.json
  test/e2e/edge-compiler-can-import-blob-assets/app/pages/api/edge.js
  test/e2e/edge-compiler-can-import-blob-assets/app/src/text-file.txt
  test/e2e/edge-compiler-can-import-blob-assets/app/src/vercel.png
  test/e2e/edge-compiler-can-import-blob-assets/index.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
Labels: type: next

#38692 Fixup main Fauna example and drop support for outdated one
  examples/with-cookie-auth-fauna/README.md
  examples/with-fauna/lib/fauna.js
  examples/with-fauna/scripts/setup.js
Labels: area: examples

#38810 [ESLint] Make `src/` a default linting directory
  docs/basic-features/eslint.md
  packages/next/lib/constants.ts
  test/integration/eslint/base-directories/.eslintrc
  test/integration/eslint/base-directories/components/bar.js
  test/integration/eslint/base-directories/lib/foo.js
  test/integration/eslint/base-directories/pages/_document.js
  test/integration/eslint/base-directories/src/index.js
  test/integration/eslint/test/index.test.js
Labels: area: documentation, type: next, created-by: Chrome Aurora

#38812 Fix export issue in with-fauna example
  examples/with-fauna/lib/constants.js
  examples/with-fauna/lib/fauna.js
  examples/with-fauna/scripts/setup.js
Labels: area: examples

#38024 Fix usage of `experimental-edge` in `pages/api/index`
  packages/next/build/entries.ts
  test/e2e/edge-api-endpoints-can-receive-body/app/pages/api/index.js
  test/e2e/edge-api-endpoints-can-receive-body/index.test.ts
Labels: type: next

#38835 docs: improve wording on `pathname` and `asPath`
  docs/api-reference/next/router.md
Labels: area: documentation

#38834 chore: TS improvments
  packages/next/client/router.ts
  packages/next/tsconfig.json
Labels: type: next

#38831 fix: don't treat `output: "standalone"` as custom server
  packages/next/build/utils.ts
Labels: type: next

#38847 Improve `next/image` error message when `src` prop is missing
  packages/next/client/future/image.tsx
  packages/next/client/image.tsx
  test/integration/image-component/base-path/test/index.test.js
  test/integration/image-component/default/test/index.test.js
  test/integration/image-future/base-path/test/index.test.js
  test/integration/image-future/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#38837 Remove the next/streaming endpoint and experimental refresh api
  docs/advanced-features/react-18/overview.md
  docs/advanced-features/react-18/streaming.md
  docs/api-reference/next/streaming.md
  docs/manifest.json
  packages/next/client/index.tsx
  packages/next/client/streaming/index.ts
  packages/next/client/streaming/refresh.ts
  packages/next/package.json
  packages/next/streaming.d.ts
  packages/next/streaming.js
Labels: area: documentation, type: next, created-by: Next.js team

#38857 Update edge blob asset e2e test
  test/e2e/edge-compiler-can-import-blob-assets/index.test.ts
Labels: created-by: Next.js team

#38850 Update Convex example.
  examples/convex/README.md
  examples/convex/convex/README.md
  examples/convex/package.json
  examples/convex/pages/_app.tsx
Labels: area: examples

#38844 chore: convert `with-dynamic-import` to TypeScript
  examples/with-dynamic-import/.gitignore
  examples/with-dynamic-import/components/Header.tsx
  examples/with-dynamic-import/components/hello1.tsx
  examples/with-dynamic-import/components/hello2.tsx
  examples/with-dynamic-import/components/hello3.tsx
  examples/with-dynamic-import/components/hello4.tsx
  examples/with-dynamic-import/components/hello5.tsx
  examples/with-dynamic-import/next-env.d.ts
  examples/with-dynamic-import/package.json
  examples/with-dynamic-import/pages/about.js
  examples/with-dynamic-import/pages/index.tsx
  examples/with-dynamic-import/tsconfig.json
Labels: area: examples

#38860 Ensure module require is awaited in app-render
  packages/next/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#38830 Leverage mini css plugin hmr for app dir
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/config/blocks/css/loaders/client.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/client/app-index.tsx
  packages/next/client/app-next-dev.js
  packages/next/client/components/app-router.client.tsx
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  test/e2e/app-dir/app/app/dashboard/client-comp.client.jsx
  test/e2e/app-dir/app/app/dashboard/client-comp.module.css
  test/e2e/app-dir/app/app/dashboard/page.server.js
  test/e2e/app-dir/app/app/layout.server.js
  test/e2e/app-dir/app/styles/global.css
Labels: type: next, created-by: Next.js team

#38401 fix(edge): error handling for edge route and middleware is inconsistent
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/react-dev-overlay/src/middleware.ts
  test/integration/edge-runtime-dynamic-code/lib/square.wasm
  test/integration/edge-runtime-dynamic-code/lib/utils.js
  test/integration/edge-runtime-dynamic-code/lib/wasm.js
  test/integration/edge-runtime-dynamic-code/middleware.js
  test/integration/edge-runtime-dynamic-code/next.config.js
  test/integration/edge-runtime-dynamic-code/pages/api/route.js
  test/integration/edge-runtime-dynamic-code/pages/index.js
  test/integration/edge-runtime-dynamic-code/test/index.test.js
  test/integration/edge-runtime-with-node.js-apis/lib/utils.js
  test/integration/edge-runtime-with-node.js-apis/middleware.js
  test/integration/edge-runtime-with-node.js-apis/pages/api/route.js
  test/integration/edge-runtime-with-node.js-apis/pages/index.js
  test/integration/edge-runtime-with-node.js-apis/test/index.test.ts
  test/integration/middleware-dev-errors/test/index.test.js
  test/integration/middleware-dynamic-code/lib/square.wasm
  test/integration/middleware-dynamic-code/test/index.test.js
  test/integration/middleware-overrides-node.js-api/test/index.test.ts
  test/integration/middleware-with-node.js-apis/middleware.js
  test/production/middleware-with-dynamic-code/index.test.ts
Labels: type: next

#38818 chore(examples): Convert `with-cypress` example to TypeScript
  examples/with-cypress/.gitignore
  examples/with-cypress/cypress.config.ts
  examples/with-cypress/cypress.json
  examples/with-cypress/cypress/e2e/app.cy.ts
  examples/with-cypress/cypress/plugins/index.js
  examples/with-cypress/cypress/support/commands.ts
  examples/with-cypress/cypress/support/e2e.ts
  examples/with-cypress/cypress/tsconfig.json
  examples/with-cypress/next-env.d.ts
  examples/with-cypress/package.json
  examples/with-cypress/pages/_app.tsx
  examples/with-cypress/pages/about.tsx
  examples/with-cypress/pages/index.tsx
  examples/with-cypress/tsconfig.json
Labels: area: examples

#38879 fix: correct the next config optimizeCss type
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
Labels: type: next

#38862 Update Edge Runtime
  package.json
  packages/next/compiled/@edge-runtime/primitives/abort-controller.js
  packages/next/compiled/@edge-runtime/primitives/abort-controller/package.json
  packages/next/compiled/@edge-runtime/primitives/blob.js
  packages/next/compiled/@edge-runtime/primitives/blob/package.json
  packages/next/compiled/@edge-runtime/primitives/cache.js
  packages/next/compiled/@edge-runtime/primitives/cache/package.json
  packages/next/compiled/@edge-runtime/primitives/console.js
  packages/next/compiled/@edge-runtime/primitives/console/package.json
  packages/next/compiled/@edge-runtime/primitives/crypto.js
  packages/next/compiled/@edge-runtime/primitives/crypto/package.json
  packages/next/compiled/@edge-runtime/primitives/encoding.js
  packages/next/compiled/@edge-runtime/primitives/encoding/package.json
  packages/next/compiled/@edge-runtime/primitives/events.js
  packages/next/compiled/@edge-runtime/primitives/events/package.json
  packages/next/compiled/@edge-runtime/primitives/fetch.js
  packages/next/compiled/@edge-runtime/primitives/fetch/package.json
  packages/next/compiled/@edge-runtime/primitives/index.js
  packages/next/compiled/@edge-runtime/primitives/package.json
  packages/next/compiled/@edge-runtime/primitives/streams.js
  packages/next/compiled/@edge-runtime/primitives/streams/package.json
  packages/next/compiled/@edge-runtime/primitives/structured-clone.js
  packages/next/compiled/@edge-runtime/primitives/structured-clone/package.json
  packages/next/compiled/@edge-runtime/primitives/url.js
  packages/next/compiled/@edge-runtime/primitives/url/package.json
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  packages/next/server/base-server.ts
  packages/next/server/body-streams.ts
  packages/next/server/next-server.ts
  packages/next/server/node-polyfill-web-streams.js
  packages/next/server/request-meta.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/fetch-inline-assets.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/server/web/spec-extension/request.ts
  packages/next/server/web/types.ts
  packages/next/taskfile.js
  pnpm-lock.yaml
  test/__mocks__/node-polyfill-web-streams.js
  test/development/middleware-warnings/index.test.ts
  test/e2e/middleware-redirects/app/middleware.js
  test/e2e/middleware-redirects/test/index.test.ts
Labels: type: next

#38852 Ensure mixed query/hash values are handled correctly
  packages/next/shared/lib/router/utils/parse-path.ts
  test/e2e/basepath.test.ts
  test/integration/production/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next, created-by: Next.js team

#38750 fix(#38743): config.runtime support template literal
  errors/invalid-page-config.md
  packages/next/build/analysis/extract-const-value.ts
  packages/next/build/analysis/get-page-static-info.ts
  test/e2e/switchable-runtime/index.test.ts
  test/e2e/switchable-runtime/pages/api/edge.js
  test/production/exported-runtimes-value-validation/index.test.ts
  test/production/exported-runtimes-value-validation/invalid-runtime/app/pages/index.js
  test/production/exported-runtimes-value-validation/unsupported-syntax/app/pages/index.js
Labels: area: documentation, type: next

#38889 Update query/hash test for safari
  test/integration/production/test/index.test.js
Labels: created-by: Next.js team

#38894 Fix error message typos
  packages/next/server/config.ts
Labels: type: next

#38878 Update to latest version of @vercel/nft
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#38911 fix(#38090): add missing `analyticsId` to config schema
  packages/next/server/config-schema.ts
  packages/next/server/config-shared.ts
Labels: type: next
