Repository vercel/next.js, pull requests merged in 2022-04, with the labels that each got.

#35814 Update dead link for getStaticPaths in error docs
  errors/conflicting-ssg-paths.md
Labels: area: documentation

#35820 Link to `with-docker-multi-env` example.
  docs/deployment.md
Labels: area: documentation, created-by: Next.js team

#35809 Fix `layout="raw"` image element sizes prop
  packages/next/client/image.tsx
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Chrome Aurora

#35287 fix: reset visible state when src/href changed
  packages/next/client/image.tsx
  packages/next/client/link.tsx
  packages/next/client/use-intersection.tsx
  test/integration/image-component/default/pages/lazy-src-change.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#35858 Add Vitest example.
  docs/testing.md
  examples/with-vitest/.gitignore
  examples/with-vitest/README.md
  examples/with-vitest/__tests__/Home.test.tsx
  examples/with-vitest/next-env.d.ts
  examples/with-vitest/next.config.js
  examples/with-vitest/package.json
  examples/with-vitest/pages/_app.tsx
  examples/with-vitest/pages/index.tsx
  examples/with-vitest/public/favicon.ico
  examples/with-vitest/public/vercel.svg
  examples/with-vitest/styles/Home.module.css
  examples/with-vitest/styles/globals.css
  examples/with-vitest/tsconfig.json
  examples/with-vitest/vitest.config.ts
Labels: area: examples, area: documentation, created-by: Next.js team

#35885 Stabilize react streaming ISR test
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: created-by: Next.js team

#35884 Add warning when importing "next" directly
  errors/import-next.md
  errors/manifest.json
  packages/next/build/webpack-config.ts
  packages/next/lib/import-next-warning.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/gssp.js
Labels: area: documentation, type: next, created-by: Next.js team

#35915 Docs: Add useful link to invalid-getstaticprops-value error message
  errors/invalid-getstaticprops-value.md
Labels: area: documentation

#35666 Custom app for switchable runtime
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/render.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/client/index.tsx
  packages/next/export/index.ts
  packages/next/pages/_app.server.tsx
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/render.tsx
  packages/next/taskfile.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/_app.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: type: next, created-by: Next.js team

#35889 Fix Firefox flash of white on `next/image` with `placeholder=blur`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/invalid-loader.js
Labels: type: next, created-by: Next.js team

#35898 Update Manual Steps in Getting Started guide
  docs/getting-started.md
Labels: area: documentation

#35930 fix: toBeInTheDocument is not a function
  docs/testing.md
Labels: area: documentation

#35936 Fix data encoder and decoder to use `stream` in renderer
  packages/next/client/index.tsx
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35874 Refactor default locale prefix to support clone()
  docs/advanced-features/i18n-routing.md
Labels: area: documentation

#35937 Code refactoring
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35951 Fix flaky test
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: created-by: Next.js team

#35911 fix: add locale prefix to middleware preflight url
  packages/next/shared/lib/router/router.ts
  test/integration/middleware/with-i18n-preflight/next.config.js
  test/integration/middleware/with-i18n-preflight/pages/_middleware.js
  test/integration/middleware/with-i18n-preflight/pages/index.js
  test/integration/middleware/with-i18n-preflight/test/index.test.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
  test/lib/browsers/selenium.ts
  test/lib/next-webdriver.ts
Labels: type: next

#35963 Emotion SWC Plugin - Allow for jsxImportSource to be configurable
  packages/next/build/swc/options.js
  test/development/basic/emotion-swc.test.ts
  test/development/basic/emotion-swc/jsconfig.json
  test/development/basic/emotion-swc/next.config.js
  test/development/basic/emotion-swc/pages/_app.js
  test/development/basic/emotion-swc/pages/index.js
  test/development/basic/emotion-swc/shared/styles.js
Labels: type: next

#35571 Update polyfill of web streams
  packages/next/server/next-server.ts
  packages/next/server/node-polyfill-web-streams.js
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/polyfills.ts
  packages/next/server/web/sandbox/readable-stream.ts
Labels: type: next, created-by: Next.js team

#35440 Add `.eslintrc.cjs` to list of supported `next lint` config files
  packages/next/lib/eslint/runLintCheck.ts
  test/integration/eslint/test/index.test.js
Labels: type: next

#35978 Add test case for module resolution in node_modules from different contexts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  test/integration/react-streaming-and-server-components/app/components/random-module-instance.client.js
  test/integration/react-streaming-and-server-components/app/node_modules/random-module-instance/index.js
  test/integration/react-streaming-and-server-components/app/node_modules/random-module-instance/package.json
  test/integration/react-streaming-and-server-components/app/pages/shared.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#35975 Support shared component with next built-in client components
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  test/integration/react-streaming-and-server-components/app/components/nav.js
  test/integration/react-streaming-and-server-components/app/pages/external-imports.server.js
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/streaming-rsc.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#35979 Use eager import to include client modules
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
Labels: type: next, created-by: Next.js team

#35999 Use renderToString for flush effects
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#35952 Update docs related to React 18
  docs/advanced-features/react-18/overview.md
  docs/advanced-features/react-18/streaming.md
  docs/advanced-features/react-18/switchable-runtime.md
  docs/manifest.json
Labels: area: documentation, created-by: Next.js team

#36003 test: organize react 18 tests
  test/integration/import-assertion/test/index.test.js
  test/integration/react-18-invalid-config/index.test.js
  test/integration/react-18/test/index.test.js
  test/integration/react-streaming-and-server-components/test/functions.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/integration/react-streaming-and-server-components/test/rsc.js
  test/integration/react-streaming-and-server-components/test/runtime.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
  test/integration/react-streaming-and-server-components/test/utils.js
  test/lib/next-test-utils.js
Labels: type: next, created-by: Next.js team

#35997 Mention HTTP 303 See Other in redirects section
  docs/api-reference/next/server.md
Labels: area: documentation

#36015 Update the docs for Switchable Runtime
  docs/advanced-features/react-18/switchable-runtime.md
Labels: area: documentation, created-by: Next.js team

#35173 allow to provide postcss plugin options as a string
  packages/next/build/webpack/config/blocks/css/plugins.ts
  test/production/postcss-plugin-config-as-string/index.test.ts
Labels: type: next, created-by: Next.js team

#36023 Add docs for x-nextjs-cache header
  docs/api-reference/data-fetching/get-static-props.md
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Next.js team

#36013 Fix leaking internal config to user-defined `loader` prop in `next/image`
  packages/next/client/image.tsx
  test/integration/image-component/basic/pages/loader-prop.js
  test/integration/image-component/basic/test/index.test.js
Labels: type: next, created-by: Next.js team

#36027 Support export all syntax in client components
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/components/export-all/index.client.js
  test/integration/react-streaming-and-server-components/app/components/export-all/one.js
  test/integration/react-streaming-and-server-components/app/components/export-all/two.js
  test/integration/react-streaming-and-server-components/app/pages/various-exports.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#35933 Interpolate default exports
  examples/hello-world-esm/.gitignore
  examples/hello-world-esm/README.md
  examples/hello-world-esm/package.json
  examples/hello-world-esm/pages/about.js
  examples/hello-world-esm/pages/day/index.js
  examples/hello-world-esm/pages/index.js
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  test/e2e/type-module-interop/index.test.ts
Labels: area: examples, type: next

#36053 [example] Fix bird animations in with-three-js example
  examples/with-three-js/package.json
  examples/with-three-js/pages/birds.js
Labels: area: examples

#36020 Add note to contributing about docs manifest
  contributing.md
Labels: created-by: Next.js team

#35332 Improvements to the MDX Docs and replaced a leftover reference to babel
  docs/advanced-features/using-mdx.md
  docs/api-reference/next.config.js/introduction.md
Labels: area: documentation

#35991 Update to with-supertokens example
  examples/with-supertokens/.gitignore
  examples/with-supertokens/next.config.js
  examples/with-supertokens/package.json
Labels: area: examples

#36009 Moving middleware file
  docs/advanced-features/middleware.md
  docs/manifest.json
Labels: area: documentation, created-by: Next.js docs team

#36065 Interpolate default exports is now unnecessary
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
Labels: type: next

#35994 Do not add locale to link for api route and middleware preflight
  packages/next/shared/lib/router/router.ts
  test/integration/i18n-support/pages/index.js
  test/integration/i18n-support/test/index.test.js
  test/integration/middleware/core/pages/api/ok.js
  test/integration/middleware/core/pages/redirects/_middleware.js
  test/integration/middleware/core/pages/redirects/index.js
  test/integration/middleware/core/test/index.test.js
  test/lib/browsers/playwright.ts
Labels: type: next

#36066 Revert "Improvements to the MDX Docs and replaced a leftover reference to babel"
  docs/advanced-features/using-mdx.md
  docs/api-reference/next.config.js/introduction.md
Labels: area: documentation, created-by: Next.js docs team

#36074 Update turbo cache key
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#36075 update @vercel/nft to 0.18.1
  packages/next/compiled/@vercel/nft/index.js
  packages/next/package.json
  yarn.lock
Labels: type: next

#36028 Fix outputStandalone with optimizeCss
  packages/next/build/index.ts
  test/production/standalone-mode-and-optimizecss/index.test.ts
Labels: type: next, created-by: Next.js team

#36082 Interpolate module.exports as default import
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/has-necessary-dependencies.ts
  packages/next/lib/verify-partytown-setup.ts
  packages/next/lib/verifyTypeScriptSetup.ts
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  test/e2e/type-module-interop/index.test.ts
Labels: type: next

#36095 [example] Fix fast refresh in with-slate example
  examples/with-slate/package.json
  examples/with-slate/pages/index.js
Labels: area: examples

#36079 add support for changing /route/#hashes
  examples/with-google-analytics/pages/_app.js
Labels: area: examples

#36081 docs: failed-loading-swc possible fix for Windows users
  errors/failed-loading-swc.md
Labels: area: documentation

#36101 rsc: remove router injection
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/app/pages/next-api/link.server.js
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#36072 Fix `export from` and native modules in server component
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/pages/native-module.server.js
  test/integration/react-streaming-and-server-components/app/pages/re-export.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#36114 feat(next-swc): Update css parser
  packages/next-swc/Cargo.lock
Labels: type: next, created-by: Next.js team

#36118 fix: do not add locale prefix to api route on NextURL
  packages/next/server/web/next-url.ts
  test/unit/web-runtime/next-url.test.ts
Labels: type: next

#36108 Add experimental onlyGenereated flag for unstable_revalidate
  packages/next/server/api-utils/index.ts
  packages/next/server/api-utils/node.ts
  packages/next/server/base-server.ts
  packages/next/shared/lib/utils.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/api/manual-revalidate.js
  test/e2e/prerender/pages/blocking-fallback/[slug].js
Labels: type: next, created-by: Next.js team

#36122 Support necessary headers in the web server response
  packages/next/server/api-utils/web.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: type: next, created-by: Next.js team

#36130 Fix only generated case in minimal mode
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#36134 Fix req.url of rsc dynamic routes pages gSSP in edge runtime
  packages/next/server/web-server.ts
  test/integration/react-streaming-and-server-components/app/pages/routes/[dynamic].server.js
  test/integration/react-streaming-and-server-components/test/basic.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#36135 Reogranize the client component detection utils
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#36137 Add support for catch-all route params in NextRequest page type declaration
  packages/next/server/web/spec-extension/request.ts
Labels: type: next

#36138 rsc: mark next head as client component
  packages/next/build/webpack/loaders/utils.ts
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/rsc.js
Labels: type: next, created-by: Next.js team

#36133 Fixes scripts in Electron examples.
  examples/with-electron-typescript/package.json
  examples/with-electron/package.json
Labels: area: examples

#36157 rsc: keep static page props
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/_app.server.js
  test/integration/react-streaming-and-server-components/switchable-runtime/pages/node-rsc.server.js
  test/integration/react-streaming-and-server-components/test/switchable-runtime.test.js
Labels: type: next, created-by: Next.js team

#36159 Update to target es5 for use-subscription
  packages/next/compiled/use-subscription/index.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#36165 Fix text decoding for chunk
  packages/next/server/web-server.ts
Labels: type: next, created-by: Next.js team

#35535 Fix symlink and copy logic to `standalone` directory when using `outputStandalone`
  packages/next/build/utils.ts
  test/integration/pnpm-support/app-multi-page/.npmrc
  test/integration/pnpm-support/app-multi-page/next.config.js
  test/integration/pnpm-support/app/next.config.js
  test/integration/pnpm-support/test/index.test.js
Labels: type: next

#35971 Add instructions to create pages directory and add an index.js file to it
  .alexrc
  docs/migrating/from-create-react-app.md
Labels: area: documentation

#36091 docs: specify minimum required `react` version
  docs/upgrading.md
Labels: area: documentation

#35279 Adds linting rule to avoid assignment to 'module' variable
  errors/manifest.json
  errors/no-assign-module-variable.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-assign-module-variable.js
  test/unit/eslint-plugin-next/no-assign-module-variable.test.ts
Labels: area: documentation, type: next

#36018 Loosen the "public" condition on getSSP
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation

#36186 Fix res.json support for string / null
  packages/next/server/api-utils/node.ts
  test/integration/api-support/pages/api/json-null.js
  test/integration/api-support/pages/api/json-string.js
  test/integration/api-support/pages/api/json-undefined.js
  test/integration/api-support/test/index.test.js
Labels: type: next, created-by: Next.js team

#36187 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/tests/fixture/transform-css-complex-selector/output.js
  packages/next-swc/crates/styled_jsx/tests/fixture/transform-css/output.js
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#36176 Fix `next/image` usage in most cases of `onLoad()`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/on-load.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#36156 [eslint-config-next] Update @typescript-eslint/parser to v5.19.0
  packages/eslint-config-next/package.json
  yarn.lock
Labels: type: next

#36046 fixed typo, that should say 'in' not 'from'
  docs/advanced-features/react-18/server-components.md
Labels: area: documentation

#36193 Stabilize flakey prerender test
  test/e2e/prerender.test.ts
Labels: created-by: Next.js team

#36189 Add support for tsconfig moduleResolution `node | node12 | nodenext`
  package.json
  packages/next/lib/typescript/writeConfigurationDefaults.ts
  packages/next/server/web/utils.ts
  packages/next/taskfile.js
  test/integration/tsconfig-verifier/test/index.test.js
  yarn.lock
Labels: type: next, created-by: Next.js team

#36195 Stabilize flakey build-output test
  test/integration/build-output/test/index.test.js
Labels: created-by: Next.js team

#36197 docs(examples/with-emotion-swc): update readme
  examples/with-emotion-swc/README.md
Labels: area: examples

#36206 Fix missing _app component of AppTree in gIP context
  packages/next/server/render.tsx
  test/integration/app-tree/pages/_app.tsx
  test/integration/app-tree/pages/index.js
Labels: type: next, created-by: Next.js team

#35976 refactor(build): no force transpile optional chaining
  packages/next/build/babel/preset.ts
  packages/next/build/swc/options.js
  test/unit/next-babel-loader-prod.test.ts
Labels: type: next

#35651 Docs: workarounds for router not resetting state (fixes #35138)
  docs/api-reference/next/router.md
Labels: area: documentation

#35367 NextResponse.json: pass options to Response
  packages/next/server/web/spec-extension/response.ts
  test/unit/web-runtime/next-response.test.ts
Labels: type: next

#35166 Improve NextApiHandler type for early returns
  packages/next/shared/lib/utils.ts
Labels: type: next

#36208 Fix build activity indicator position
  packages/next/client/dev/dev-build-watcher.js
  packages/next/server/config.ts
  test/integration/build-indicator/test/index.test.js
Labels: type: next, created-by: Next.js team

#32113 404 page - Responsive color scheme
  packages/next/pages/_error.tsx
Labels: type: next

#34472 perf(escapeStringRegexp): test before replace
  packages/next/shared/lib/escape-regexp.ts
Labels: type: next

#36202 rsc: skip next builtin module when apply loaders
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  test/production/react-18-streaming-ssr/index.test.ts
Labels: type: next, created-by: Next.js team

#36200 Validate streaming writer chunk type in testing
  test/__mocks__/node-polyfill-web-streams.js
  test/lib/mocks-require-hook.js
  test/lib/next-test-utils.js
Labels: created-by: Next.js team

#36222 Use finally to clean up seen requests
  packages/next/server/router.ts
Labels: type: next

#36249 Update CI cache key to allow re-running only failed
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#36261 Add onLoad gotcha note to basic-features doc
  docs/basic-features/script.md
Labels: area: documentation

#36199 fix(next-swc/ssg): less aggressive exports drop
  packages/next-swc/crates/core/src/next_ssg.rs
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/issue-31855/input.js
  packages/next-swc/crates/core/tests/fixture/ssg/getStaticProps/issue-31855/output.js
Labels: type: next

#36252 fix type definition for defaultGetInitialProps
  packages/next/shared/lib/utils.ts
Labels: type: next

#36213 Use renderToStaticMarkup to render documentHTML
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  test/integration/react-streaming-and-server-components/app/pages/index.server.js
  test/integration/react-streaming-and-server-components/test/basic.js
Labels: type: next, created-by: Next.js team

#36282 Fix flight loader
  packages/next/build/webpack/loaders/next-flight-client-loader.ts
Labels: type: next, created-by: Next.js team

#36286 Fix introduction.md for `next.config.js`
  docs/api-reference/next.config.js/introduction.md
Labels: area: documentation

#36253 docs: add yoga to examples
  examples/with-yoga/.gitignore
  examples/with-yoga/README.md
  examples/with-yoga/next.config.js
  examples/with-yoga/package.json
  examples/with-yoga/pages/_app.js
  examples/with-yoga/pages/_document.js
  examples/with-yoga/pages/index.js
Labels: area: examples

#36289 Add telemetry for image config formats (avif/webp)
  packages/next/telemetry/events/version.ts
  test/integration/telemetry/next.config.i18n-images
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#36292 Ensure error is cleared for missing global css
  packages/next/server/render.tsx
  test/development/acceptance/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox-builtins.test.ts.snap
Labels: type: next, created-by: Next.js team

#36285 Add handling for testing against deployments
  scripts/reset-vercel-project.mjs
  test/e2e/basepath.test.ts
  test/e2e/basepath/pages/index/index.js.bak
  test/e2e/getserversideprops/test/index.test.ts
  test/e2e/middleware-can-use-wasm-files/index.test.ts
  test/e2e/next-script-worker-strategy/index.test.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/index/index.js.bak
  test/e2e/type-module-interop/index.test.ts
  test/e2e/yarn-pnp/test/utils.ts
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-deploy.ts
  test/readme.md
Labels: created-by: Next.js team

#36312 next/jest: Allow moduleNameMapper to match before Next.js internal mappings
  packages/next/build/jest/jest.ts
Labels: type: next, created-by: Next.js team

#36323 Adds `removeListener` handler to `with-electron-typescript` example.
  examples/with-electron-typescript/renderer/pages/index.tsx
Labels: area: examples

#36321 Clarifies that path params exist on query object
  docs/api-reference/next/router.md
Labels: area: documentation

#36328 Add client HMR tracing for debugging
  packages/next/client/dev/error-overlay/hot-dev-client.js
  packages/next/client/dev/webpack-hot-middleware-client.js
  packages/next/server/dev/hot-reloader.ts
  test/development/basic/hmr.test.ts
Labels: type: next, created-by: Next.js team

#36331 Removed unnecessary React Fragment
  examples/cms-wordpress/pages/index.js
Labels: area: examples

#36335 feat:Add support for useDefineForClassFields typescript option
  packages/next/build/swc/options.js
  test/development/basic/define-class-fields.test.ts
  test/development/basic/define-class-fields/pages/animal.tsx
  test/development/basic/define-class-fields/pages/derived.tsx
  test/development/basic/define-class-fields/pages/index.tsx
  test/development/basic/define-class-fields/tsconfig.json
Labels: type: next

#36306 Use fallbackable path module for node and edge runtime
  packages/next/lib/constants.ts
  packages/next/server/incremental-cache.ts
  packages/next/server/normalize-page-path.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  packages/next/shared/lib/isomorphic/path.ts
  packages/next/shared/lib/router/utils/querystring.ts
  packages/next/types/misc.d.ts
  test/integration/react-18/app/pages/index.js
  test/integration/react-18/test/index.test.js
Labels: type: next, created-by: Next.js team

#36269 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#36330 fix(next): use moduleGraph.getIssuer to avoid deprecation warning (#36329)
  packages/next/server/dev/hot-reloader.ts
  test/development/webpack-issuer-deprecation-warning/index.test.ts
  test/lib/next-modes/next-dev.ts
Labels: type: next

#36317 Ensure beforeFiles client-side resolving handles dynamic routes
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/_sport/[slug]/index.js
  test/integration/custom-routes/pages/_sport/[slug]/test.js
  test/integration/custom-routes/pages/nav.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#36352 Ensure there is only 1 render pass in concurrent rendering with getInitialProps in `_document`
  packages/next/server/render.tsx
  test/development/basic/styled-components.test.ts
  test/development/basic/styled-components/pages/index.js
  test/integration/react-18/app/pages/index.js
  test/integration/react-18/test/basics.js
  test/lib/next-test-utils.js
Labels: type: next, created-by: Next.js team

#36355 Make setup-wasm script work for local dev
  contributing.md
  scripts/setup-wasm.mjs
Labels: created-by: Next.js team

#31936 Changes to the beforeInteractive strategy to make it work for streaming
  docs/basic-features/script.md
  errors/manifest.json
  errors/no-before-interactive-script-outside-document.md
  packages/eslint-plugin-next/lib/index.js
  packages/eslint-plugin-next/lib/rules/no-before-interactive-script-outside-document.js
  packages/eslint-plugin-next/lib/rules/no-script-in-document.js
  packages/next/client/script.tsx
  packages/next/server/render.tsx
  packages/next/shared/lib/router/router.ts
  test/e2e/next-script-worker-strategy/index.test.ts
  test/integration/script-loader/base/pages/_app.js
  test/integration/script-loader/base/pages/_document.js
  test/integration/script-loader/base/pages/page1.js
  test/integration/script-loader/base/pages/page6.js
  test/integration/script-loader/test/index.test.js
  test/unit/eslint-plugin-next/no-before-interactive-script-outside-document.ts
  test/unit/eslint-plugin-next/no-script-in-document.test.ts
Labels: area: documentation, type: next, created-by: Chrome Aurora

#36351 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#36368 Fix failing E2E deployment test cases
  packages/next/build/webpack/loaders/next-serverless-loader/api-handler.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/server/base-server.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  test/e2e/prerender.test.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/dynamic/[slug].js
Labels: type: next, created-by: Next.js team

#34354 chore: upgrade PostCSS dependencies
  package.json
  packages/next/compiled/browserslist/index.js
  packages/next/compiled/cssnano-simple/index.js
  packages/next/compiled/icss-utils/index.js
  packages/next/compiled/postcss-flexbugs-fixes/index.js
  packages/next/compiled/postcss-modules-extract-imports/index.js
  packages/next/compiled/postcss-modules-local-by-default/index.js
  packages/next/compiled/postcss-modules-scope/index.js
  packages/next/compiled/postcss-modules-values/index.js
  packages/next/compiled/postcss-preset-env/index.cjs
  packages/next/compiled/postcss-preset-env/index.js
  packages/next/compiled/postcss-preset-env/package.json
  packages/next/compiled/postcss-safe-parser/safe-parse.js
  packages/next/compiled/postcss-scss/scss-syntax.js
  packages/next/compiled/postcss-value-parser/index.js
  packages/next/package.json
  test/integration/css-features/test/index.test.js
  yarn.lock
Labels: type: next

#33766 Fix broken data fetching links in docs
  docs/basic-features/eslint.md
  errors/conflicting-ssg-paths.md
  errors/gsp-redirect-during-prerender.md
  errors/gssp-export.md
  errors/gssp-mixed-not-found-redirect.md
  errors/gssp-no-mutating-res.md
  errors/invalid-redirect-gssp.md
  errors/large-page-data.md
  errors/page-data-collection-timeout.md
  errors/prerender-error.md
  errors/ssg-fallback-true-export.md
Labels: area: examples, area: documentation, created-by: Next.js docs team

#36305 Fix `next/image` usage of `onError()`
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/on-error.js
  test/integration/image-component/default/test/index.test.js
Labels: type: next

#36395 Simplify the App and Component handling in render
  packages/next/pages/_error.tsx
  packages/next/server/base-server.ts
  packages/next/server/render.tsx
Labels: type: next, created-by: Next.js team

#36403 Change getStaticProps to getStaticPaths in getStaticPaths docs
  docs/basic-features/data-fetching/get-static-paths.md
Labels: area: documentation

#36398 chore(create-next-app): fix pnpm create step
  packages/create-next-app/README.md
Labels: area: create-next-app

#36416 updated with-rebass dependencies
  examples/with-rebass/package.json
Labels: area: examples

#36425 Revert "Change getStaticProps to getStaticPaths in getStaticPaths docs"
  docs/basic-features/data-fetching/get-static-paths.md
Labels: area: documentation, created-by: Next.js team

#36190 Do not polyfill node built-in modules on edge functions
  packages/next/build/index.ts
  packages/next/build/webpack-config.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/polyfills.ts
  test/integration/middleware/core/test/index.test.js
  test/integration/middleware/with-builtin-module/pages/using-child-process/_middleware.js
  test/integration/middleware/with-builtin-module/pages/using-path/_middleware.js
  test/integration/middleware/with-builtin-module/test/index.test.js
Labels: type: next

#36394 Add pnpm-debug
  examples/with-tailwindcss/.gitignore
Labels: area: examples

#36375 added with-react-foundation example
  examples/with-react-foundation/.gitignore
  examples/with-react-foundation/README.md
  examples/with-react-foundation/next-env.d.ts
  examples/with-react-foundation/package.json
  examples/with-react-foundation/src/components/Article.tsx
  examples/with-react-foundation/src/components/Card.tsx
  examples/with-react-foundation/src/components/Header.tsx
  examples/with-react-foundation/src/pages/_app.tsx
  examples/with-react-foundation/src/pages/index.tsx
  examples/with-react-foundation/tsconfig.json
Labels: area: examples

#36396 Grammar Changed features and API to features and it's API
  examples/with-tailwindcss/pages/index.tsx
Labels: area: examples

#36453 Update usage paragraph of next/script `onLoad`
  docs/api-reference/next/script.md
  docs/basic-features/script.md
Labels: area: documentation

#36452 Fix to remove webpack message per error
  packages/next/build/index.ts
  packages/next/client/dev/error-overlay/format-webpack-messages.js
Labels: type: next

#36436 Rework <Link> behavior (backwards compatible)
  packages/next-codemod/bin/cli.ts
  packages/next-codemod/transforms/__testfixtures__/new-link/add-legacy-behavior.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/add-legacy-behavior.output.js
  packages/next-codemod/transforms/__testfixtures__/new-link/children-interpolation.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/children-interpolation.output.js
  packages/next-codemod/transforms/__testfixtures__/new-link/excludes-links-with-legacybehavior-prop.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/excludes-links-with-legacybehavior-prop.output.js
  packages/next-codemod/transforms/__testfixtures__/new-link/link-a.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/link-a.output.js
  packages/next-codemod/transforms/__testfixtures__/new-link/move-props.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/move-props.output.js
  packages/next-codemod/transforms/__testfixtures__/new-link/spread-props.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/spread-props.output.js
  packages/next-codemod/transforms/__tests__/new-link.test.js
  packages/next-codemod/transforms/new-link.ts
  packages/next/build/webpack-config.ts
  packages/next/client/link.tsx
  packages/next/server/config-shared.ts
  test/e2e/new-link-behavior/app/next.config.js
  test/e2e/new-link-behavior/app/pages/about.js
  test/e2e/new-link-behavior/app/pages/classname-pass-through.js
  test/e2e/new-link-behavior/app/pages/id-pass-through.js
  test/e2e/new-link-behavior/app/pages/index.js
  test/e2e/new-link-behavior/app/pages/multiple-children.js
  test/e2e/new-link-behavior/app/pages/onclick-prevent-default.js
  test/e2e/new-link-behavior/app/pages/onclick.js
  test/e2e/new-link-behavior/index.test.ts
Labels: type: next, created-by: Next.js team

#36435 Fix missing interpolation on next/head exports
  packages/next/head.js
  test/e2e/type-module-interop/index.test.ts
Labels: type: next

#36474 Add stitches and material-ui tests for new link behavior + fix TypeScript types when imported
  packages/next/client/link.tsx
  test/e2e/new-link-behavior/index.test.ts
  test/e2e/new-link-behavior/material-ui.test.ts
  test/e2e/new-link-behavior/material-ui/next.config.js
  test/e2e/new-link-behavior/material-ui/pages/_app.js
  test/e2e/new-link-behavior/material-ui/pages/_document.js
  test/e2e/new-link-behavior/material-ui/pages/about.js
  test/e2e/new-link-behavior/material-ui/pages/index.js
  test/e2e/new-link-behavior/material-ui/src/Copyright.js
  test/e2e/new-link-behavior/material-ui/src/Link.js
  test/e2e/new-link-behavior/material-ui/src/ProTip.js
  test/e2e/new-link-behavior/material-ui/src/createEmotionCache.js
  test/e2e/new-link-behavior/material-ui/src/theme.js
  test/e2e/new-link-behavior/stitches.test.ts
  test/e2e/new-link-behavior/stitches/components/StitchesLogo.jsx
  test/e2e/new-link-behavior/stitches/next.config.js
  test/e2e/new-link-behavior/stitches/pages/_document.jsx
  test/e2e/new-link-behavior/stitches/pages/about.jsx
  test/e2e/new-link-behavior/stitches/pages/index.jsx
  test/e2e/new-link-behavior/stitches/stitches.config.js
  test/e2e/new-link-behavior/typescript.test.ts
  test/e2e/new-link-behavior/typescript/pages/index.tsx
  test/e2e/new-link-behavior/typescript/tsconfig.json
Labels: type: next, created-by: Next.js team

#36464 fix(#36435): apply correct fix
  packages/next/head.js
  packages/next/taskfile.js
  test/e2e/type-module-interop/index.test.ts
Labels: type: next

#36463 Fix incorrect asPath with fallback rewrite in minimal mode
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
  test/production/required-server-files/pages/[slug]/index.js
Labels: type: next, created-by: Next.js team

#36462 Update manual revalidate response cache handling
  packages/next/server/response-cache.ts
  test/e2e/prerender.test.ts
Labels: type: next, created-by: Next.js team

#36484 Add note about lockfile causing swc to fail to load
  errors/failed-loading-swc.md
Labels: area: documentation, created-by: Next.js team

#36492 Update font-optimization test snapshot
  test/integration/font-optimization/fixtures/with-google/manifest-snapshot.json
Labels: created-by: Next.js team

#36482 Support swc parse api in WASM
  .github/workflows/build_test_deploy.yml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next/build/swc/index.js
  packages/next/build/webpack/loaders/next-flight-server-loader.ts
Labels: type: next, created-by: Next.js team

#36486 Use edge compiler for middleware
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/loaders/next-middleware-ssr-loader/index.ts
  packages/next/build/webpack/loaders/next-middleware-wasm-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/build/webpack/plugins/functions-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/build/webpack/plugins/middleware-source-maps-plugin.ts
  packages/next/build/webpack/plugins/terser-webpack-plugin/src/index.js
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  packages/next/server/server-route-utils.ts
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/router/utils/path-match.ts
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
  test/e2e/middleware-can-use-wasm-files/index.test.ts
  test/integration/middleware/core/pages/global/_middleware.js
  test/integration/middleware/core/test/index.test.js
  test/integration/react-streaming-and-server-components/test/index.test.js
  test/production/required-server-files.test.ts
Labels: type: next

#36477 Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_components/src/utils/analyzer.rs
  packages/next-swc/crates/styled_components/src/utils/mod.rs
  packages/next-swc/crates/styled_components/src/visitors/display_name_and_id.rs
  packages/next-swc/crates/styled_components/tests/fixture.rs
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/styled_jsx/tests/fixture.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#36125 [examples] Update styled-components with Babel - add types
  examples/with-styled-components-babel/next-env.d.ts
  examples/with-styled-components-babel/package.json
  examples/with-styled-components-babel/pages/_app.tsx
  examples/with-styled-components-babel/pages/_document.tsx
  examples/with-styled-components-babel/pages/index.tsx
  examples/with-styled-components-babel/tsconfig.json
Labels: area: examples

#36516 Add string children case for newNextLinkBehavior codemod
  packages/next-codemod/transforms/__testfixtures__/new-link/link-string.input.js
  packages/next-codemod/transforms/__testfixtures__/new-link/link-string.output.js
  packages/next-codemod/transforms/__tests__/new-link.test.js
  packages/next-codemod/transforms/new-link.ts
Labels: type: next, created-by: Next.js team

#36518 Remove extra yarn PnP example test
  test/e2e/yarn-pnp/test/with-styled-components-babel.test.ts
Labels: created-by: Next.js team

#35929 Add with-edgedb example
  examples/with-edgedb/.eslintignore
  examples/with-edgedb/.gitignore
  examples/with-edgedb/README.md
  examples/with-edgedb/client.ts
  examples/with-edgedb/components/Header.tsx
  examples/with-edgedb/components/Layout.tsx
  examples/with-edgedb/components/Post.tsx
  examples/with-edgedb/dbschema/default.esdl
  examples/with-edgedb/dbschema/migrations/00001.edgeql
  examples/with-edgedb/edgedb.toml
  examples/with-edgedb/next-env.d.ts
  examples/with-edgedb/package.json
  examples/with-edgedb/pages/api/post/[id].ts
  examples/with-edgedb/pages/api/post/index.ts
  examples/with-edgedb/pages/api/publish/[id].ts
  examples/with-edgedb/pages/blog/[id].tsx
  examples/with-edgedb/pages/create.tsx
  examples/with-edgedb/pages/drafts.tsx
  examples/with-edgedb/pages/index.tsx
  examples/with-edgedb/seed.ts
  examples/with-edgedb/tsconfig.json
Labels: area: examples, area: documentation, type: next, area: create-next-app

#36521 polish isomorphic path module
  packages/next/lib/constants.ts
  packages/next/server/base-server.ts
  packages/next/server/normalize-page-path.ts
  packages/next/shared/lib/isomorphic/path.d.ts
  packages/next/shared/lib/isomorphic/path.js
  packages/next/shared/lib/isomorphic/path.ts
  packages/next/types/misc.d.ts
Labels: type: next, created-by: Next.js team

#36513 Ensure optional params are normalized correctly in minimal mode
  packages/next/server/base-server.ts
  test/production/required-server-files.test.ts
Labels: type: next, created-by: Next.js team

#36523 Always add height and width prop to image with layout="raw"
  docs/api-reference/next/image.md
  packages/next/client/image.tsx
  test/integration/image-component/default/pages/layout-raw.js
  test/integration/image-component/default/test/index.test.js
Labels: area: documentation, type: next, created-by: Chrome Aurora

#36520 Add docs on self-hosted ISR persisting across pods.
  docs/basic-features/data-fetching/incremental-static-regeneration.md
Labels: area: documentation, created-by: Next.js team

#36529 Adds `<link rel="preconnect" ... />` to example optimized font output
  docs/basic-features/font-optimization.md
Labels: area: documentation

#36531 Normalize font optimization snapshot to reduce flakes
  test/integration/font-optimization/test/index.test.js
Labels: created-by: Next.js team

#36500 Align behavior of SWC transform & transformSync
  packages/next-swc/crates/napi/src/transform.rs
Labels: type: next
