Repository vercel/next.js, pull requests merged in 2022-08, with the labels that each got.

#39218 Replaces getStaticProps with getStaticPaths
  docs/basic-features/data-fetching/get-static-paths.md
Labels: area: documentation

#39217 Fix: only contain middleware in dev middleware manifest
  packages/next/client/page-loader.ts
  packages/next/client/route-loader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-matcher/index.test.ts
  test/e2e/switchable-runtime/index.test.ts
Labels: type: next, created-by: Next.js team

#38855 Add "fill" mode to `next/future/image`
  docs/api-reference/next/future/image.md
  packages/next/client/future/image.tsx
  test/integration/image-future/default/pages/fill-warnings.js
  test/integration/image-future/default/pages/fill.js
  test/integration/image-future/default/pages/invalid-fill-position.js
  test/integration/image-future/default/pages/invalid-fill-width.js
  test/integration/image-future/default/test/index.test.js
  test/integration/image-future/typescript/pages/valid.tsx
Labels: area: documentation, type: next, created-by: Chrome Aurora

#39230 Update tests to use random directory
  test/lib/create-next-install.js
Labels: created-by: Next.js team

#39236 Handle assetPrefix in app
  packages/next/client/app-index.tsx
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app/next.config.js
  test/e2e/app-dir/index.test.ts
Labels: type: next, created-by: Next.js team

#39219 Export URLPattern from next/server
  package.json
  packages/next/compiled/@edge-runtime/primitives/abort-controller.d.ts
  packages/next/compiled/@edge-runtime/primitives/abort-controller/package.json
  packages/next/compiled/@edge-runtime/primitives/blob.d.ts
  packages/next/compiled/@edge-runtime/primitives/blob/package.json
  packages/next/compiled/@edge-runtime/primitives/cache.d.ts
  packages/next/compiled/@edge-runtime/primitives/cache/package.json
  packages/next/compiled/@edge-runtime/primitives/console.d.ts
  packages/next/compiled/@edge-runtime/primitives/console/package.json
  packages/next/compiled/@edge-runtime/primitives/crypto.d.ts
  packages/next/compiled/@edge-runtime/primitives/crypto/package.json
  packages/next/compiled/@edge-runtime/primitives/encoding.d.ts
  packages/next/compiled/@edge-runtime/primitives/encoding/package.json
  packages/next/compiled/@edge-runtime/primitives/events.d.ts
  packages/next/compiled/@edge-runtime/primitives/events/package.json
  packages/next/compiled/@edge-runtime/primitives/fetch.d.ts
  packages/next/compiled/@edge-runtime/primitives/fetch.js
  packages/next/compiled/@edge-runtime/primitives/fetch/package.json
  packages/next/compiled/@edge-runtime/primitives/package.json
  packages/next/compiled/@edge-runtime/primitives/streams.d.ts
  packages/next/compiled/@edge-runtime/primitives/streams/package.json
  packages/next/compiled/@edge-runtime/primitives/structured-clone.d.ts
  packages/next/compiled/@edge-runtime/primitives/structured-clone/package.json
  packages/next/compiled/@edge-runtime/primitives/url.d.ts
  packages/next/compiled/@edge-runtime/primitives/url/package.json
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  packages/next/server.d.ts
  packages/next/server.js
  packages/next/taskfile.js
  pnpm-lock.yaml
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-trailing-slash/app/middleware.js
  test/production/middleware-typescript/app/middleware.ts
Labels: type: next

#39238 Clear up rewrites documentation
  docs/api-reference/next.config.js/rewrites.md
Labels: area: documentation

#39243 Update edgedb.toml
  examples/with-edgedb/edgedb.toml
Labels: area: examples

#39210 Ensure middleware has single data fetch on query hydration with valid props
  packages/next/shared/lib/router/router.ts
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: type: next, created-by: Next.js team

#39263 fix: use `if...else` in dockerfile
  examples/with-docker-compose/next-app/dev.Dockerfile
  examples/with-docker-compose/next-app/prod-without-multistage.Dockerfile
  examples/with-docker-compose/next-app/prod.Dockerfile
  examples/with-docker-multi-env/docker/development/Dockerfile
  examples/with-docker-multi-env/docker/production/Dockerfile
  examples/with-docker-multi-env/docker/staging/Dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples

#39270 Add section about migrating from `next/image` to `next/future/image`
  docs/api-reference/next/future/image.md
Labels: area: documentation, created-by: Next.js team

#39290 Fix URLPattern next/server export on deploy
  packages/next/server.js
Labels: type: next, created-by: Next.js team

#39268 Flush styles effects
  package.json
  packages/next/build/webpack-config.ts
  packages/next/client/components/hooks-client-context.ts
  packages/next/client/components/hooks-client.ts
  packages/next/client/components/match-segments.ts
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/flush-effects.tsx
  pnpm-lock.yaml
  test/e2e/app-dir/rsc-basic.test.ts
  test/e2e/app-dir/rsc-basic/app/css-in-js/page.server.js
  test/e2e/app-dir/rsc-basic/app/css-in-js/styled-components.client.js
  test/e2e/app-dir/rsc-basic/app/css-in-js/styled-jsx.client.js
  test/e2e/app-dir/rsc-basic/app/layout.server.js
  test/e2e/app-dir/rsc-basic/app/root-style-registry.client.js
  test/e2e/app-dir/rsc-basic/app/styled-jsx/page.server.js
  test/e2e/app-dir/rsc-basic/components/styled-jsx.client.js
Labels: type: next, created-by: Next.js team

#39272 [docs] Clarify polyfill support
  docs/basic-features/supported-browsers-features.md
Labels: area: documentation

#39292 chore: rename typo middlewares to interceptors in hot reloader
  packages/next/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#39293 fix typo: docs/advanced-features/react-18/streaming.md
  docs/advanced-features/react-18/streaming.md
Labels: area: documentation

#39297 Remove default setting for object-fit on future fill images
  docs/api-reference/next/future/image.md
  packages/next/client/future/image.tsx
  test/integration/image-future/default/test/index.test.js
Labels: area: documentation, type: next, created-by: Chrome Aurora

#39291 feat(config): implement a human readable ajv errors
  packages/next/compiled/@segment/ajv-human-errors/index.js
  packages/next/compiled/@segment/ajv-human-errors/package.json
  packages/next/package.json
  packages/next/server/config-schema.ts
  packages/next/server/config.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
  test/integration/config-validation/test/index.test.ts
Labels: type: next

#39298 Update Android NDK path for swc builds
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#39302 Add delay before exiting tests for log flushing
  run-tests.js
Labels: created-by: Next.js team

#39307 Enable concurrent mode by default in app-render
  packages/next/server/app-render.tsx
  test/e2e/app-dir/app-rendering/next.config.js
  test/e2e/app-dir/app/next.config.js
  test/e2e/app-dir/rsc-basic/next.config.js
Labels: type: next, created-by: Next.js team

#39310 Fix next/server being required during build
  packages/next/server.js
  test/unit/web-runtime/next-server-node.test.ts
Labels: type: next, created-by: Next.js team

#39231 feat(next-swc/wasm): export async interfaces
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next/build/swc/index.js
Labels: type: next

#39314 docs: add missing dot
  docs/getting-started.md
Labels: area: documentation

#39313 Ensure On-Demand revalidate does not consider preview cookie
  packages/next/server/api-utils/node.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/api/enable.js
  test/e2e/prerender/pages/preview.js
Labels: type: next, created-by: Next.js team

#39227 fix: buffer is not usable on edge runtime
  packages/next/build/webpack/plugins/middleware-plugin.ts
  test/integration/edge-runtime-module-errors/test/index.test.js
  test/integration/edge-runtime-with-node.js-apis/test/index.test.ts
Labels: type: next

#38470 Add TypeScript to ant design example
  examples/with-ant-design/components/DatePicker.js
  examples/with-ant-design/next-env.d.ts
  examples/with-ant-design/next.config.js
  examples/with-ant-design/package.json
  examples/with-ant-design/pages/_app.tsx
  examples/with-ant-design/pages/index.js
  examples/with-ant-design/pages/index.tsx
  examples/with-ant-design/tsconfig.json
Labels: area: examples

#39343 Fixed links to supabase examples
  examples/with-supabase-auth-realtime-db/README.md
Labels: area: examples

#39334 Change invalid internal upstream image error code
  packages/next/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.js
Labels: type: next

#39331 Hoist styles for Route Announcer 📢
  packages/next/client/route-announcer.tsx
Labels: type: next

#39362 fix: wrong reference url for disableStaticImages
  packages/next/shared/lib/image-config.ts
Labels: type: next

#39250 Examples/cms-wordpress migrate to TypeScript
  examples/cms-wordpress/components/alert.tsx
  examples/cms-wordpress/components/avatar.tsx
  examples/cms-wordpress/components/categories.tsx
  examples/cms-wordpress/components/container.tsx
  examples/cms-wordpress/components/cover-image.tsx
  examples/cms-wordpress/components/date.tsx
  examples/cms-wordpress/components/footer.tsx
  examples/cms-wordpress/components/header.tsx
  examples/cms-wordpress/components/hero-post.tsx
  examples/cms-wordpress/components/intro.tsx
  examples/cms-wordpress/components/layout.tsx
  examples/cms-wordpress/components/meta.tsx
  examples/cms-wordpress/components/more-stories.tsx
  examples/cms-wordpress/components/post-body.tsx
  examples/cms-wordpress/components/post-header.tsx
  examples/cms-wordpress/components/post-preview.tsx
  examples/cms-wordpress/components/post-title.tsx
  examples/cms-wordpress/components/section-separator.tsx
  examples/cms-wordpress/components/tags.tsx
  examples/cms-wordpress/lib/api.ts
  examples/cms-wordpress/lib/constants.ts
  examples/cms-wordpress/next.config.js
  examples/cms-wordpress/package.json
  examples/cms-wordpress/pages/_app.tsx
  examples/cms-wordpress/pages/_document.tsx
  examples/cms-wordpress/pages/api/exit-preview.ts
  examples/cms-wordpress/pages/api/preview.ts
  examples/cms-wordpress/pages/index.tsx
  examples/cms-wordpress/pages/posts/[slug].tsx
  examples/cms-wordpress/tsconfig.json
Labels: area: examples

#39365 Fix failing escheck test
  test/production/escheck-output/index.test.ts
Labels: created-by: Next.js team

#39325 fix: skip resizing image if it's animated
  packages/next/server/image-optimizer.ts
  packages/next/types/misc.d.ts
  test/integration/image-optimizer/app/pages/index.js
  test/integration/image-optimizer/test/index.test.ts
  test/integration/image-optimizer/test/old-sharp.test.ts
  test/integration/image-optimizer/test/sharp.test.ts
  test/integration/image-optimizer/test/squoosh.test.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next

#39370 Fix catchall rewrites for _next/data routes
  packages/next/server/base-server.ts
  packages/next/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/pages/overridden/[slug].js
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#39366 Fix `next/future/image` alt text
  packages/next/client/future/image.tsx
  test/integration/image-future/default/test/index.test.js
Labels: type: next, created-by: Next.js team

#39372 chore: upgrade example to Docker Compose v2
  examples/with-docker-compose/README.md
Labels: area: examples

#39369 fix (examples): Changed the version of next-pwa
  examples/progressive-web-app/package.json
Labels: area: examples

#39381 refactor: add named export in next/server
  packages/next/server.js
Labels: type: next

#38277 fix(ts): More strict Redirect type
  packages/next/lib/load-custom-routes.ts
Labels: type: next

#38268 Port 'with-static-export' example to TypeScript
  examples/with-static-export/components/post.tsx
  examples/with-static-export/lib/postdata_api.ts
  examples/with-static-export/next-env.d.ts
  examples/with-static-export/package.json
  examples/with-static-export/pages/index.js
  examples/with-static-export/pages/index.tsx
  examples/with-static-export/pages/post/[id].js
  examples/with-static-export/pages/post/[id].tsx
  examples/with-static-export/tsconfig.json
  examples/with-static-export/types/postdata.ts
Labels: area: examples

#38269 update examples/custom-server-fastify and replace depreaction
  examples/custom-server-fastify/package.json
  examples/custom-server-fastify/server.js
Labels: area: examples

#38274 fix(next): dev server starting when importing a file using get-projec…
  packages/next/bin/next.ts
  packages/next/cli/next-build.ts
  packages/next/cli/next-dev.ts
  packages/next/cli/next-export.ts
  packages/next/cli/next-info.ts
  packages/next/cli/next-lint.ts
  packages/next/cli/next-start.ts
  packages/next/cli/next-telemetry.ts
  packages/next/lib/commands.ts
  packages/next/lib/get-project-dir.ts
  test/unit/get-project-dir.test.ts
Labels: type: next

#37453 Add runtime to PageConfig type
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/entries.ts
  packages/next/build/utils.ts
  packages/next/lib/constants.ts
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/html-context.ts
  packages/next/types/index.d.ts
  test/production/typescript-basic/app/pages/api/hello.ts
Labels: type: next

#38046 fix: improve logging for _devPagesManifest.json loading failures
  errors/failed-to-fetch-devpagesmanifest.md
  errors/manifest.json
  packages/next/client/page-loader.ts
Labels: area: documentation, type: next

#38313 Allow custom path for preview mode cookies
  docs/advanced-features/preview-mode.md
  packages/next/server/api-utils/node.ts
  packages/next/shared/lib/utils.ts
  test/integration/prerender-preview/pages/api/preview.js
  test/integration/prerender-preview/test/index.test.js
  test/unit/split-cookies-string.test.ts
Labels: area: documentation, type: next

#28277 Fix removing whitespacing in dev overlay
  packages/react-dev-overlay/src/internal/components/CodeFrame/CodeFrame.tsx
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/integration/config-devtool-dev/test/index.test.js
Labels: type: next

#39389 Fix emotion labelFormat and sourcemap options
  packages/next/build/swc/options.js
Labels: type: next

#30936 Add yarn 2 Setup Files to Valid Files for create-next-app
  packages/create-next-app/helpers/is-folder-empty.ts
Labels: area: create-next-app

#39390 Fix emotion shouldForwardProp options breaks component selectors
  examples/with-emotion-swc/shared/styles.tsx
  packages/next-swc/crates/emotion/src/lib.rs
  packages/next-swc/crates/emotion/tests/fixture/css-in-callback/input.tsx
  packages/next-swc/crates/emotion/tests/fixture/css-in-callback/output.ts
Labels: area: examples, type: next

#34808 next/image imgix loader can use multiple auto params
  packages/next/client/image.tsx
Labels: type: next

#37920 Adds `eslint-plugin-eslint-plugin` to ensure `eslint-plugin-next` rules follow ESLint rule best practices along with enforcing some consistency.
  .eslintrc.json
  package.json
  packages/eslint-plugin-next/lib/rules/google-font-display.js
  packages/eslint-plugin-next/lib/rules/google-font-preconnect.js
  packages/eslint-plugin-next/lib/rules/inline-script-id.js
  packages/eslint-plugin-next/lib/rules/next-script-for-ga.js
  packages/eslint-plugin-next/lib/rules/no-assign-module-variable.js
  packages/eslint-plugin-next/lib/rules/no-before-interactive-script-outside-document.js
  packages/eslint-plugin-next/lib/rules/no-css-tags.js
  packages/eslint-plugin-next/lib/rules/no-document-import-in-page.js
  packages/eslint-plugin-next/lib/rules/no-duplicate-head.js
  packages/eslint-plugin-next/lib/rules/no-head-element.js
  packages/eslint-plugin-next/lib/rules/no-head-import-in-document.js
  packages/eslint-plugin-next/lib/rules/no-html-link-for-pages.js
  packages/eslint-plugin-next/lib/rules/no-img-element.js
  packages/eslint-plugin-next/lib/rules/no-page-custom-font.js
  packages/eslint-plugin-next/lib/rules/no-script-component-in-head.js
  packages/eslint-plugin-next/lib/rules/no-styled-jsx-in-document.js
  packages/eslint-plugin-next/lib/rules/no-sync-scripts.js
  packages/eslint-plugin-next/lib/rules/no-title-in-document-head.js
  packages/eslint-plugin-next/lib/rules/no-typos.js
  packages/eslint-plugin-next/lib/rules/no-unwanted-polyfillio.js
  pnpm-lock.yaml
Labels: type: next

#36420 [ESLint] Adds `--output-file` flag
  packages/next/cli/next-lint.ts
  packages/next/lib/eslint/customFormatter.ts
  packages/next/lib/eslint/runLintCheck.ts
  packages/next/lib/eslint/writeOutputFile.ts
  test/integration/eslint/test/index.test.js
Labels: type: next

#39391 Land(Update example with-apivideo-upload README)
  examples/with-apivideo-upload/README.md
Labels: area: examples, created-by: Next.js team

#33170 Update polyfill for eslint no-unwanted-polyfillio rule
  packages/eslint-plugin-next/lib/rules/no-unwanted-polyfillio.js
  packages/next-polyfill-nomodule/src/index.js
  test/unit/eslint-plugin-next/no-unwanted-polyfillio.test.ts
Labels: type: next

#38625 fix(ts): Middleware type tweaks
  errors/manifest.json
  errors/middleware-parse-user-agent.md
  errors/middleware-request-page.md
  packages/next/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/server/web/error.ts
  packages/next/server/web/spec-extension/request.ts
  packages/next/server/web/types.ts
Labels: area: documentation, type: next

#39393 docs: update When section of getStaticProps page
  docs/basic-features/data-fetching/get-static-props.md
Labels: area: documentation

#39400 Update script.md
  docs/basic-features/script.md
Labels: area: documentation

#39402 Fix: broken TypeScript in WordPress example.
  examples/cms-wordpress/README.md
  examples/cms-wordpress/components/cover-image.tsx
  examples/cms-wordpress/lib/api.ts
  examples/cms-wordpress/next.config.js
Labels: area: examples

#36818 Fix Link generation for SSG pages if locale domains are used
  packages/next/export/worker.ts
  test/integration/i18n-support/test/shared.js
Labels: type: next

#39407 API Routes Request Helpers docs.
  docs/api-routes/introduction.md
  docs/api-routes/request-helpers.md
  docs/api-routes/response-helpers.md
  docs/manifest.json
  errors/invalid-page-config.md
Labels: area: documentation, created-by: Next.js team

#39427 fix: ensure trailing slash on registry URL when fetching wasm fallback
  packages/next/lib/download-wasm-swc.ts
Labels: type: next

#39422 Improve description of `context.query` in `getServerSideProps()`
  docs/api-reference/data-fetching/get-server-side-props.md
Labels: area: documentation

#39408 typing: upgrade styled-jsx to remove workaround in build script
  packages/next/index.d.ts
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#39301 Enhance sizes documentation for next/image
  docs/api-reference/next/future/image.md
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Chrome Aurora

#39433 Extract redirect utils into a separate file
  packages/next/build/index.ts
  packages/next/build/webpack/loaders/next-serverless-loader/page-handler.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/lib/load-custom-routes.ts
  packages/next/lib/redirect-status.ts
  packages/next/server/base-server.ts
  packages/next/server/config-shared.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/render.tsx
  packages/next/server/server-route-utils.ts
  packages/next/shared/lib/router/utils/resolve-rewrites.ts
Labels: type: next, created-by: Next.js team

#39436 Ensure locale redirects are not applied in minimal mode
  packages/next/server/base-server.ts
  test/production/required-server-files-i18n.test.ts
Labels: type: next, created-by: Next.js team

#39437 Add component wrapper in sizes documentation code snippet
  docs/api-reference/next/future/image.md
  docs/api-reference/next/image.md
Labels: area: documentation, created-by: Chrome Aurora

#39397 feat(middleware): augments / matcher with /index
  packages/next/build/analysis/get-page-static-info.ts
  test/e2e/middleware-matcher/index.test.ts
Labels: type: next

#39442 Update `router.prefetch` documentation to include `locale` option
  docs/api-reference/next/router.md
Labels: area: documentation

#39443 Fix docs path "Invalid getServerSideProps Return Value"
  errors/invalid-getserversideprops-value.md
  errors/manifest.json
Labels: area: documentation

#39450 Bump edge-runtime packages
  package.json
  packages/next/compiled/@edge-runtime/primitives/package.json
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#39469 Enable @typescript-eslint/no-use-before-define for examples dir
  .eslintrc.json
  examples/amp-first/components/amp/AmpCustomElement.tsx
  examples/amp-first/components/amp/AmpScript.tsx
  examples/cms-agilitycms/lib/components/rich-text-area.tsx
  examples/cms-agilitycms/lib/dependancies.ts
  examples/cms-agilitycms/lib/preview.ts
  examples/cms-builder-io/lib/api.js
  examples/cms-buttercms/lib/api.js
  examples/cms-kontent/components/image.js
  examples/with-aphrodite/pages/index.js
  examples/with-apivideo-upload/components/Card/index.tsx
  examples/with-apivideo-upload/components/Loader/index.tsx
  examples/with-apivideo-upload/components/Status/index.tsx
  examples/with-apivideo-upload/pages/index.tsx
  examples/with-apollo-and-redux/components/PostList.js
  examples/with-apollo/components/PostList.js
  examples/with-babel-macros/pages/index.js
  examples/with-cerebral/components/Clock.js
  examples/with-cxs/pages/index.js
  examples/with-draft-js/pages/index.js
  examples/with-edgedb/pages/api/post/[id].ts
  examples/with-expo-typescript/pages/index.tsx
  examples/with-expo/pages/index.js
  examples/with-fingerprintjs-pro/components/Nav.tsx
  examples/with-fingerprintjs-pro/pages/home/[cacheStrategy].tsx
  examples/with-graphql-hooks/components/submit.js
  examples/with-iron-session/lib/fetchJson.ts
  examples/with-iron-session/pages/api/events.ts
  examples/with-iron-session/pages/api/login.ts
  examples/with-iron-session/pages/api/logout.ts
  examples/with-iron-session/pages/api/user.ts
  examples/with-mobx-react-lite/components/StoreProvider.js
  examples/with-mobx-state-tree-typescript/components/Clock.tsx
  examples/with-mongodb-mongoose/components/Form.js
  examples/with-react-native-web/pages/alternate.js
  examples/with-react-native-web/pages/index.js
  examples/with-redis/pages/api/subscribe.ts
  examples/with-redux-wrapper/components/Clock.js
Labels: area: examples, created-by: Next.js team

#39467 Ensure default _app is used when falling back to default _error
  packages/next/client/index.tsx
  test/production/fatal-render-errror/app/pages/_app.js
  test/production/fatal-render-errror/app/pages/_error.js
  test/production/fatal-render-errror/app/pages/index.js
  test/production/fatal-render-errror/app/pages/with-error.js
  test/production/fatal-render-errror/index.test.ts
Labels: type: next, created-by: Next.js team

#39463 Handle rewriting WebSocket requests
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/lib/start-server.ts
  packages/next/server/next-server.ts
  packages/next/server/next.ts
  packages/next/server/router.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
Labels: type: next, created-by: Next.js team

#38884 App Build Stats
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/plugins/app-build-manifest-plugin.ts
  packages/next/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/server/get-app-route-from-entrypoint.ts
  packages/next/server/get-route-from-entrypoint.ts
  packages/next/server/match-bundle.ts
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/router/utils/app-paths.ts
  packages/next/shared/lib/router/utils/sorted-routes.ts
Labels: type: next

#39474 Tweak styled-jsx type declarations
  packages/next/taskfile.js
  test/production/typescript-basic/app/pages/index.tsx
Labels: type: next, created-by: Next.js team

#39421 Improve next/future/image Migration docs
  docs/api-reference/next/future/image.md
Labels: area: documentation, created-by: Next.js docs team

#39476 Fix next.config.js overwriting on deploy e2e test
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team

#39479 Update contributing.md to recommend corepack
  contributing.md
Labels: created-by: Next.js team

#39478 Fix swc build for freebsd target
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#39190 FIX GAUSSIAN BLUR IN FUTURE\IMAGE
  packages/next/client/future/image.tsx
  test/integration/image-future/base-path/test/static.test.js
  test/integration/image-future/default/test/index.test.js
  test/integration/image-future/default/test/static.test.js
Labels: type: next

#38483 Add hot-reloading for env file changes
  packages/next-env/index.ts
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/types/misc.d.ts
  test/integration/env-config/app/pages/another-global.js
  test/integration/env-config/app/pages/api/all.js
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/env-config/app/pages/some-ssp.js
  test/integration/env-config/test/index.test.js
Labels: type: next, created-by: Next.js team

#38583 feat(next-swc/modularize_imports): Add Kebab case
  docs/advanced-features/compiler.md
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/modularize_imports/src/lib.rs
  packages/next-swc/crates/modularize_imports/tests/fixture.rs
  packages/next-swc/crates/modularize_imports/tests/fixture/simple/input.js
  packages/next-swc/crates/modularize_imports/tests/fixture/simple/output.js
Labels: area: documentation, type: next

#39475 [examples] Add on-demand revalidation to Contentful example
  examples/cms-contentful/.env.local.example
  examples/cms-contentful/README.md
  examples/cms-contentful/docs/content-content-type.png
  examples/cms-contentful/docs/content-publish-changes.png
  examples/cms-contentful/docs/content-secret-header.png
  examples/cms-contentful/docs/content-successful-request.png
  examples/cms-contentful/docs/content-webhook-url.png
  examples/cms-contentful/pages/api/revalidate.js
Labels: area: examples

#39504 Make dev watch ignore more specific
  packages/next/server/dev/next-dev-server.ts
  test/integration/api-support/pages/api/auth/[...nextauth].js
  test/integration/api-support/test/index.test.js
Labels: type: next, created-by: Next.js team

#39506 Bump styled-jsx and remove manual types creation
  packages/next/package.json
  packages/next/taskfile.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#37853 Fixed issues with environment variables for Windows users
  examples/cms-contentful/contentful/setup.js
  examples/cms-contentful/package.json
Labels: area: examples

#39514 fix: ensure hidden iframe apps render in development mode
  packages/next/client/dev/fouc.ts
Labels: type: next

#39511 Enable @typescript-eslint/no-use-before-define variables,enums,typedefs for core files
  .eslintrc.json
  packages/next/build/analysis/extract-const-value.ts
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/client/future/image.tsx
  packages/next/client/image.tsx
  packages/next/client/index.tsx
  packages/next/client/use-intersection.tsx
  packages/next/lib/is-serializable-props.ts
  packages/next/pages/_document.tsx
  packages/next/pages/_error.tsx
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-middleware.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/render.tsx
  packages/next/server/server-route-utils.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/types/webpack.d.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
Labels: type: next, created-by: Next.js team

#39465 fix(examples/with-wdyr): example config to support SWC
  examples/with-why-did-you-render/README.md
  examples/with-why-did-you-render/babel.config.js
  examples/with-why-did-you-render/next.config.js
  examples/with-why-did-you-render/package.json
Labels: area: examples

#39518 Re-add styled-jsx as a normal dependency
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#39162 Refactor client entry plugin to separate methods.
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/output/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/base.ts
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/client/components/app-router.client.tsx
  packages/next/client/components/layout-router.client.tsx
  packages/next/lib/constants.ts
  packages/next/server/app-render.tsx
  packages/next/server/base-server.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/load-components.ts
  packages/next/server/next-server.ts
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/server/web-server.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/shared/lib/app-router-context.ts
  packages/next/shared/lib/constants.ts
  packages/next/shared/lib/utils.ts
  test/e2e/app-dir/app/app/css/css-page/layout.server.js
  test/e2e/app-dir/app/app/css/css-page/page.server.js
  test/e2e/app-dir/app/app/css/css-page/style.css
  test/e2e/app-dir/app/app/css/css-page/style2.css
  test/e2e/app-dir/app/app/css/foo.js
  test/e2e/app-dir/app/app/css/layout.server.js
  test/e2e/app-dir/app/app/layout.server.js
  test/e2e/app-dir/app/app/style.css
Labels: type: next, created-by: Next.js team

#39534 docs: Rename API middlewares title in sidebar
  docs/manifest.json
Labels: area: documentation

#39548 Eliminate path polyfill and incremental-cache from base server
  packages/next/build/webpack-config.ts
  packages/next/lib/constants.ts
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/response-cache/index.ts
  packages/next/server/response-cache/types.ts
  packages/next/server/response-cache/web.ts
  packages/next/server/web-server.ts
  packages/next/shared/lib/page-path/normalize-page-path.ts
Labels: type: next, created-by: Next.js team

#39520 Remove precopied styled-jsx
  packages/next/build/babel/preset.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/require-hook.ts
  packages/next/server/render.tsx
  packages/next/shared/lib/styled-jsx.d.ts
  packages/next/shared/lib/styled-jsx.js
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#39547 Refactor handling of addPageEntry promise
  packages/next/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#39559 Support multiple flush effects
  packages/next/server/app-render.tsx
  packages/next/shared/lib/flush-effects.tsx
  test/e2e/app-dir/rsc-basic/app/root-style-registry.client.js
Labels: type: next, created-by: Next.js team

#39560 Eliminate Amp in Edge runtime
  packages/next/pages/_document.tsx
Labels: type: next, created-by: Next.js team

#39566 Update .env HMR handling
  packages/next-env/index.ts
  packages/next/build/webpack-config.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/next-dev-server.ts
  test/integration/env-config/app/pages/another-global.js
  test/integration/env-config/app/pages/api/all.js
  test/integration/env-config/app/pages/global.js
  test/integration/env-config/app/pages/index.js
  test/integration/env-config/app/pages/some-ssg.js
  test/integration/env-config/app/pages/some-ssp.js
  test/integration/env-config/test/index.test.js
Labels: type: next, created-by: Next.js team

#39579 Fix failing switchable runtime deploy test
  packages/next/build/index.ts
Labels: type: next, created-by: Next.js team

#39596 Typo
  examples/next-forms/pages/js-form.js
  examples/next-forms/pages/no-js-form.js
Labels: area: examples

#39594 Fix Edge SSR routes
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/next-server.ts
  test/e2e/switchable-runtime/index.test.ts
  test/e2e/switchable-runtime/pages/edge/[id].js
  test/e2e/switchable-runtime/pages/edge/foo.js
Labels: type: next, created-by: Next.js team

#34926 Support tsconfig paths without baseurl
  packages/next/build/load-jsconfig.ts
  test/integration/jsconfig-paths/test/index.test.js
  test/integration/typescript-paths/test/index.test.js
Labels: type: next

#39602 Enable @typescript-eslint/no-use-before-define for functions
  .eslintrc.json
  packages/next/build/analysis/extract-const-value.ts
  packages/next/build/analysis/get-page-static-info.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/utils.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/loaders/next-middleware-wasm-loader.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/cli/next-info.ts
  packages/next/client/components/hot-reloader.client.tsx
  packages/next/client/dev/error-overlay/websocket.ts
  packages/next/client/future/image.tsx
  packages/next/client/image.tsx
  packages/next/client/index.tsx
  packages/next/client/router.ts
  packages/next/client/use-intersection.tsx
  packages/next/lib/patch-incorrect-lockfile.ts
  packages/next/lib/try-to-parse-path.ts
  packages/next/pages/_document.tsx
  packages/next/server/accept-header.ts
  packages/next/server/api-utils/node.ts
  packages/next/server/base-server.ts
  packages/next/server/config.ts
  packages/next/server/dev/hot-middleware.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/image-optimizer.ts
  packages/next/server/lib/find-page-file.ts
  packages/next/server/next-server.ts
  packages/next/server/node-web-streams-helper.ts
  packages/next/server/render.tsx
  packages/next/server/send-payload/index.ts
  packages/next/server/web/adapter.ts
  packages/next/server/web/next-url.ts
  packages/next/server/web/sandbox/context.ts
  packages/next/server/web/sandbox/sandbox.ts
  packages/next/server/web/utils.ts
  packages/next/shared/lib/i18n/get-locale-redirect.ts
  packages/next/shared/lib/router/router.ts
  packages/next/shared/lib/router/utils/prepare-destination.ts
  packages/next/shared/lib/router/utils/route-regex.ts
  packages/next/telemetry/storage.ts
  packages/next/types/webpack.d.ts
  packages/react-dev-overlay/src/internal/helpers/nodeStackFrames.ts
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-refresh-utils/internal/helpers.ts
  test/e2e/edge-can-use-wasm-files/index.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-redirects/test/index.test.ts
  test/e2e/middleware-responses/test/index.test.ts
  test/e2e/middleware-rewrites/test/index.test.ts
  test/e2e/proxy-request-with-middleware/test/index.test.ts
Labels: type: next, created-by: Next.js team

#39591 Next Server code refactoring
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#39621 Add edge ssr to pr stats
  test/.stats-app/package.json
  test/.stats-app/pages/edge-ssr.js
  test/.stats-app/stats-config.js
Labels: created-by: Next.js team

#39610 Update strategies count to 4
  docs/basic-features/script.md
Labels: area: documentation

#39622 Eliminate path and utils from base server
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
Labels: type: next, created-by: Next.js team

#39562 Update Convex Example
  .prettierignore
  examples/convex/.prettierignore
  examples/convex/.prettierrc.json
  examples/convex/convex.json
  examples/convex/convex/_generated/dataModel.ts
  examples/convex/convex/_generated/react.ts
  examples/convex/convex/_generated/server.ts
  examples/convex/convex/incrementCounter.ts
  examples/convex/convex/tsconfig.json
  examples/convex/package.json
  examples/convex/styles/Home.module.css
Labels: area: examples

#39631 Remove webpack4 types
  package.json
  packages/next/build/babel/loader/types.d.ts
  packages/next/build/compiler.ts
  packages/next/build/entries.ts
  packages/next/build/index.ts
  packages/next/build/output/index.ts
  packages/next/build/webpack-config.ts
  packages/next/build/webpack/config/blocks/css/loaders/getCssModuleLocalIdent.ts
  packages/next/build/webpack/config/helpers.ts
  packages/next/build/webpack/loaders/error-loader.ts
  packages/next/build/webpack/loaders/get-module-build-info.ts
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/build/webpack/loaders/next-serverless-loader/index.ts
  packages/next/build/webpack/loaders/noop-loader.ts
  packages/next/build/webpack/plugins/app-build-manifest-plugin.ts
  packages/next/build/webpack/plugins/css-minimizer-plugin.ts
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/build/webpack/plugins/font-stylesheet-gathering-plugin.ts
  packages/next/build/webpack/plugins/jsconfig-paths-plugin.ts
  packages/next/build/webpack/plugins/middleware-plugin.ts
  packages/next/build/webpack/plugins/next-drop-client-page-plugin.ts
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/build/webpack/plugins/profiling-plugin.ts
  packages/next/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/build/webpack/plugins/telemetry-plugin.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/index.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/simpleWebpackError.ts
  packages/next/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  packages/next/bundles/webpack/bundle5.js
  packages/next/bundles/webpack/packages/webpack.d.ts
  packages/next/bundles/webpack/packages/webpack.js
  packages/next/compiled/mini-css-extract-plugin/cjs.js
  packages/next/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/compiled/mini-css-extract-plugin/index.js
  packages/next/compiled/mini-css-extract-plugin/loader.js
  packages/next/compiled/sass-loader/cjs.js
  packages/next/compiled/webpack/webpack.d.ts
  packages/next/compiled/webpack/webpack.js
  packages/next/package.json
  packages/next/server/config-shared.ts
  packages/next/server/dev/hot-middleware.ts
  packages/next/server/dev/hot-reloader.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/taskfile.js
  packages/next/tsconfig.json
  packages/next/types/compiled.d.ts
  packages/next/types/misc.d.ts
  packages/next/types/webpack.d.ts
  pnpm-lock.yaml
  scripts/check-pre-compiled.sh
Labels: type: next, created-by: Next.js team

#39646 [Docs] Update with-loading example
  examples/with-loading/package.json
  examples/with-loading/pages/_app.tsx
  examples/with-loading/pages/about.tsx
  examples/with-loading/pages/forever.tsx
  examples/with-loading/pages/index.js
  examples/with-loading/pages/index.tsx
  examples/with-loading/public/nprogress.css
  examples/with-loading/tsconfig.json
Labels: area: examples

#39639 [Docs] Update with-slate example
  examples/with-slate/package.json
  examples/with-slate/pages/api/editor-state.ts
  examples/with-slate/pages/index.js
  examples/with-slate/pages/index.tsx
  examples/with-slate/tsconfig.json
  examples/with-slate/types/slate.d.ts
Labels: area: examples

#39623 fix(next/dynamic): handle template literal import path
  packages/next-swc/crates/core/src/next_dynamic.rs
  packages/next-swc/crates/core/tests/fixture/next-dynamic/template-literal/input.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/template-literal/output-dev.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/template-literal/output-prod.js
  packages/next-swc/crates/core/tests/fixture/next-dynamic/template-literal/output-server.js
Labels: type: next

#39653 Add comment on slash normalizing in server
  packages/next/server/base-server.ts
Labels: type: next, created-by: Next.js team

#39649 Refactor base server
  packages/next/server/base-server.ts
  packages/next/server/next-server.ts
  packages/next/server/web-server.ts
Labels: type: next, created-by: Next.js team

#39462 fix(next-server): Fix priority for edge routes
  packages/next/server/base-server.ts
  packages/next/server/dev/next-dev-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
  packages/next/server/next-server.ts
  packages/next/server/router.ts
  test/e2e/edge-vs.-non-edge-api-route-priority/index.test.ts
  test/lib/next-test-utils.js
Labels: type: next

#39663 Update image tests files from *.js to *.ts
  package.json
  pnpm-lock.yaml
  test/integration/image-component/asset-prefix/test/index.test.ts
  test/integration/image-component/base-path/test/index.test.ts
  test/integration/image-component/base-path/test/static.test.ts
  test/integration/image-component/basic/test/index.test.ts
  test/integration/image-component/custom-resolver/test/index.test.ts
  test/integration/image-component/default/test/index.test.ts
  test/integration/image-component/default/test/static.test.ts
  test/integration/image-component/image-from-node-modules/test/index.test.ts
  test/integration/image-component/no-intersection-observer-fallback/test/index.test.ts
  test/integration/image-component/noscript/test/index.test.ts
  test/integration/image-component/react-virtualized/test/index.test.ts
  test/integration/image-component/svgo-webpack/test/index.test.ts
  test/integration/image-component/trailing-slash/test/index.test.ts
  test/integration/image-component/typescript/test/index.test.ts
  test/integration/image-component/unicode/test/index.test.ts
  test/integration/image-component/unoptimized/test/index.test.ts
  test/integration/image-future/default/test/index.test.ts
  test/integration/image-future/default/test/static.test.ts
  test/integration/image-future/image-from-node-modules/test/index.test.ts
  test/integration/image-future/noscript/test/index.test.ts
  test/integration/image-future/react-virtualized/test/index.test.ts
  test/integration/image-future/svgo-webpack/test/index.test.ts
  test/integration/image-future/trailing-slash/test/index.test.ts
  test/integration/image-future/typescript/test/index.test.ts
  test/integration/image-future/unicode/test/index.test.ts
  test/integration/image-future/unoptimized/test/index.test.ts
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
  test/lib/browsers/selenium.ts
  test/lib/next-webdriver.ts
Labels: created-by: Next.js team

#39665 fix(create-app): support github url has trailing slash
  packages/create-next-app/helpers/examples.ts
  test/integration/create-next-app/index.test.ts
Labels: area: create-next-app

#39677 Add todo for dependsOn
  packages/next/build/webpack/plugins/flight-client-entry-plugin.ts
Labels: type: next, created-by: Next.js team

#39664 Improved server CSS handling
  package.json
  packages/next/build/webpack/config/blocks/css/index.ts
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/loaders/next-flight-css-dev-loader.ts
  packages/next/server/app-render.tsx
  packages/next/server/node-web-streams-helper.ts
  pnpm-lock.yaml
  test/e2e/app-dir/app/app/css/css-page/style.css
  test/e2e/app-dir/app/app/css/style.css
  test/e2e/app-dir/app/app/style.css
Labels: type: next, created-by: Next.js team

#39499 feat(next-swc): Update swc
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/full/auto-cjs/1/output.js
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/emotion/Cargo.toml
  packages/next-swc/crates/emotion/tests/fixture.rs
  packages/next-swc/crates/modularize_imports/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/styled_components/Cargo.toml
  packages/next-swc/crates/styled_jsx/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#39657 fix next-app-loader on windows
  packages/next/build/webpack/loaders/next-app-loader.ts
  packages/next/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/build/webpack/loaders/utils.ts
  packages/next/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#39710 fix(swc/emotion): Correct the `SPACE_AROUND_COLON` regex
  packages/next-swc/crates/emotion/src/lib.rs
  packages/next-swc/crates/emotion/tests/fixture/issues/39672/input.tsx
  packages/next-swc/crates/emotion/tests/fixture/issues/39672/output.ts
Labels: type: next

#39676 fix(#39609): warns about suspense and ssr
  errors/invalid-dynamic-suspense.md
  packages/next/shared/lib/dynamic.tsx
  test/e2e/dynamic-with-suspense/index.test.ts
  test/integration/next-dynamic-with-suspense/pages/index.js
  test/integration/next-dynamic-with-suspense/pages/thing.js
  test/integration/next-dynamic-with-suspense/test/index.test.ts
Labels: area: documentation, type: next

#39724 Change the React Server Components CTA to the router/layout RFC
  docs/advanced-features/react-18/server-components.md
Labels: area: documentation

#39683 Use realpath when emitting traced package.json
  packages/next/build/webpack/plugins/next-trace-entrypoints-plugin.ts
Labels: type: next, created-by: Next.js team

#39733 fix(#39706): add avif support for node serve static
  packages/next/server/serve-static.ts
  test/integration/file-serving/public/vercel-icon-dark.avif
  test/integration/file-serving/test/index.test.js
Labels: type: next

#39739 Tweak Convex example
  .prettierignore_staged
  examples/convex/convex.json
  examples/convex/convex/_generated/dataModel.ts
  examples/convex/convex/_generated/react.ts
  examples/convex/convex/_generated/server.ts
  examples/convex/convex/incrementCounter.ts
  examples/convex/package.json
Labels: area: examples

#39759 Add section to `next/future/image` docs about Known Browser Bugs
  .alexrc
  docs/api-reference/next/future/image.md
Labels: area: documentation, created-by: Next.js team

#39712 [Docs] examples/with-redux-thunk , update README (#39555)
  examples/with-redux-thunk/README.md
Labels: area: examples

#39604 fix(next): Do not display message when middleware is removed on dev mode
  packages/next/server/next-server.ts
  test/integration/middleware-dev-update/middleware.js
  test/integration/middleware-dev-update/pages/index.js
  test/integration/middleware-dev-update/test/index.test.js
Labels: type: next

#39792 refactor(portal): remove useRef from portal component
  packages/next/client/portal/index.tsx
Labels: type: next

#39791 refactor(use-intersection): remove useRef usage
  packages/next/client/use-intersection.tsx
Labels: type: next

#39608 allow Edge Functions to stream a compressed `fetch` response
  packages/next/server/web/sandbox/sandbox.ts
  test/e2e/edge-compiler-can-import-blob-assets/app/pages/api/edge.js
Labels: type: next

#39802 Update next.js.configs line number
  docs/api-reference/next.config.js/introduction.md
Labels: area: documentation

#39658 [Docs] Update mongodb example
  examples/with-mongodb/lib/mongodb.ts
  examples/with-mongodb/package.json
  examples/with-mongodb/pages/index.tsx
  examples/with-mongodb/tsconfig.json
  examples/with-mongodb/types/mongodb.d.ts
Labels: area: examples

#39761 Convert with-goober example to TS
  examples/with-goober/package.json
  examples/with-goober/pages/_app.tsx
  examples/with-goober/pages/_document.tsx
  examples/with-goober/pages/index.tsx
  examples/with-goober/tsconfig.json
Labels: area: examples

#39698 fix meaninglessFileNames type in compiler options schema
  packages/next/server/config-schema.ts
Labels: type: next

#39671 Add note about using the /_error page directly to custom error page article
  docs/advanced-features/custom-error-page.md
Labels: area: documentation

#39749 build: upgrade edge-runtime
  package.json
  packages/next/compiled/@edge-runtime/primitives/console.js
  packages/next/compiled/@edge-runtime/primitives/package.json
  packages/next/compiled/babel-packages/packages-bundle.js
  packages/next/compiled/edge-runtime/index.js
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next

#33659 Typescript Documentation Improvement for Persistent Layouts
  docs/basic-features/layouts.md
Labels: area: documentation

#39817 Update ubuntu CI version due to deprecation
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
Labels: created-by: Next.js team

#39806 [docs] Migrate dynamic routing example to typescript
  examples/dynamic-routing/components/header.js
  examples/dynamic-routing/components/header.tsx
  examples/dynamic-routing/package.json
  examples/dynamic-routing/pages/about.js
  examples/dynamic-routing/pages/about.tsx
  examples/dynamic-routing/pages/index.js
  examples/dynamic-routing/pages/index.tsx
  examples/dynamic-routing/pages/post/[id]/[comment].tsx
  examples/dynamic-routing/pages/post/[id]/index.tsx
  examples/dynamic-routing/tsconfig.json
Labels: area: examples

#39818 Update links to point to more accurate docs
  docs/api-reference/next.config.js/redirects.md
Labels: area: documentation

#39819 Remove unnecessary type reference in Vitest example
  examples/with-vitest/vitest.config.ts
Labels: area: examples

#39823 Leverage VERCEL_CLI_VERSION env for deploy tests
  test/lib/next-modes/next-deploy.ts
Labels: created-by: Next.js team

#39826 Update stalled ensure log to use debug instead
  packages/next/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#39828 Skip building /500 in dev mode
  packages/next/server/base-server.ts
  packages/next/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#39829 Update docs `next/future/image` with details about computed aspect ratio
  docs/api-reference/next/future/image.md
Labels: area: documentation, created-by: Next.js team
