Repository vercel/next.js, pull requests merged in 2023-04, with the labels that each got.

#47767 turbopack: ensure ENV values are available in middleware
  packages/next-swc/crates/next-dev-tests/tests/integration/next/router/middleware-env/input/.env
  packages/next-swc/crates/next-dev-tests/tests/integration/next/router/middleware-env/input/middleware.ts
  packages/next-swc/crates/next-dev-tests/tests/integration/next/router/middleware-env/input/next.config.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/router/middleware-env/input/pages/index.js
  packages/next/src/server/lib/route-resolver.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47773 Fix skipMiddlewareUrlNormalize with i18n
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/spec-extension/request.ts
  test/e2e/skip-trailing-slash-redirect/app/middleware.js
  test/e2e/skip-trailing-slash-redirect/app/next.config.js
  test/e2e/skip-trailing-slash-redirect/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47719 Add test to ensure image generation works in the Node.js runtime
  test/e2e/og-api/app/app/og-node/route.js
  test/e2e/og-api/index.test.ts
Labels: created-by: Next.js team, area: tests

#47709 test(turbopack): blocking CI for turbopack integration test
  .github/workflows/build_test_deploy.yml
Labels: created-by: web-tooling team

#47775 Update publish canary to undraft automatically
  scripts/start-release.js
Labels: created-by: Next.js team

#47762 Fix typo in error overlay
  packages/next-swc/crates/next-core/js/src/overlay/internal/container/Errors.tsx
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47776 Update metadata e2e test on deploy
  test/e2e/app-dir/metadata-missing-metadata-base/index.test.ts
Labels: created-by: Next.js team, area: tests

#47777 Tweak canary undrafting
  scripts/start-release.js
Labels: created-by: Next.js team

#47764 provide full polyfill for process
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/fallback.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_client/runtime_entry.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/page_source.rs
  packages/next-swc/crates/next-core/src/router.rs
  packages/next-swc/crates/next-core/src/web_entry_source.rs
  packages/next-swc/crates/next-dev-tests/tests/integration.rs
  packages/next-swc/crates/next-dev/src/lib.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47677 Turbopack: Use `SharedError` for body streaming
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/src/router.rs
  packages/next-swc/crates/next-core/src/router_source.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47784 fix(export): make static export work with worker_threads
  packages/next/src/lib/worker.ts
Labels: type: next

#47779 Update error-handling.md
  docs/advanced-features/error-handling.md
Labels: area: documentation

#47800 Fix docs only check for test-native-integration
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#47780 Update react-strict-mode.md
  docs/api-reference/next.config.js/react-strict-mode.md
Labels: area: documentation

#47804 Tweak Vercel CLI installing for E2E tests
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#47790 Skip favicon.js for metadata
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/favicon.tsx
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47806 Fix flaky css test and remove unused tests deps
  test/e2e/app-dir/app-basepath/index.test.ts
  test/e2e/app-dir/app-css/index.test.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/app/pages/index.js
  test/e2e/app-dir/app/standalone.test.ts
  test/e2e/app-dir/app/useReportWebVitals.test.ts
  test/e2e/app-dir/app/vercel-analytics.test.ts
  test/e2e/app-dir/hooks/hooks.test.ts
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: created-by: Next.js team, area: tests

#47786 Fix module resolving error in tracer
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/lib/trace/tracer.ts
Labels: type: next, created-by: Next.js team

#47803 Fix fetchCache config and On-Demand Revalidate handling
  packages/next/src/client/components/static-generation-async-storage.ts
  packages/next/src/server/api-utils/index.ts
  packages/next/src/server/api-utils/node.ts
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/render.tsx
  packages/next/src/server/response-cache/index.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/web.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/force-no-store/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate/revalidate-360/page.js
  test/e2e/app-dir/app-static/pages/api/revalidate.js
  test/e2e/prerender.test.ts
  test/production/standalone-mode/required-server-files/precompiled-server.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47792 Add `computeWorkerKey` to the static optimization worker
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#47739 fix(`next-types-plugin`): add `ParamCheck` type only for `route.ts` files
  packages/next/src/build/webpack/plugins/next-types-plugin.ts
Labels: type: next

#47644 (Fix)(Tests)Fix typo in unit testing
  test/unit/accept-headers.test.ts
  test/unit/mitt.test.ts
Labels: area: tests

#47785 fix: added tab and carriage to isWhitespace function to make robust
  packages/next/src/client/components/react-dev-overlay/internal/components/hot-linked-text/get-words-and-whitespaces.ts
Labels: type: next

#47797 Fix prefetch only being applied once
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/app-prefetch/app/static-page/page.js
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47811 Fix failing rust-check
  packages/next-swc/crates/next-core/src/router_source.rs
Labels: type: next, created-by: Next.js team, area: Turbopack

#47788 Move modularize imports for next/server to next-swc
  packages/next-swc/crates/core/src/lib.rs
  packages/next/src/build/swc/options.ts
Labels: type: next, created-by: Next.js team, area: Turbopack

#47208 Add initial separated route resolving
  packages/next-env/index.ts
  packages/next/src/build/index.ts
  packages/next/src/build/output/index.ts
  packages/next/src/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/lib/turbopack-warning.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/route-resolver.ts
  packages/next/src/server/lib/server-ipc.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/lib/utils.ts
  packages/next/src/server/lib/worker-utils.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
  packages/next/src/server/render.tsx
  packages/next/src/server/require.ts
  packages/next/src/server/router.ts
  packages/next/taskfile.js
  test/development/app-render-error-log/app-render-error-log.test.ts
  test/development/next-font/deprecated-package.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/basepath/pages/index.js
  test/e2e/middleware-custom-matchers-basepath/app/pages/index.js
  test/e2e/middleware-custom-matchers-i18n/app/pages/index.js
  test/e2e/middleware-custom-matchers/app/pages/index.js
  test/e2e/opentelemetry/opentelemetry.test.ts
  test/e2e/proxy-request-with-middleware/test/index.test.ts
  test/integration/404-page/test/index.test.js
  test/integration/appdir-missing-config/test/index.test.ts
  test/integration/build-indicator/test/index.test.js
  test/integration/cli/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/edge-runtime-module-errors/test/index.test.js
  test/integration/edge-runtime-streaming-error/test/index.test.ts
  test/integration/file-serving/test/index.test.js
  test/integration/middleware-dev-errors/test/index.test.js
  test/integration/middleware-dev-update/pages/index.js
  test/integration/middleware-dev-update/test/index.test.js
  test/production/standalone-mode/required-server-files/precompiled-server.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47825 Fix dev ipc request on node v16
  packages/next/src/server/lib/server-ipc.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#47826 Update to retry undrafting canary
  scripts/start-release.js
Labels: created-by: Next.js team

#47835 Update render IPC handling
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/server-ipc.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/render.tsx
  packages/next/src/shared/lib/utils.ts
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/opentelemetry/opentelemetry.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47836 Update set-cookies deploy test
  test/e2e/app-dir/set-cookies/set-cookies.test.ts
Labels: created-by: Next.js team, area: tests

#47829 Fix: fill route params for dynamic route metadata images url
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/dynamic/[size]/opengraph-image.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/dynamic/[size]/page.tsx
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
  test/e2e/app-dir/metadata-missing-metadata-base/app/blog/opengraph-image.js
  test/e2e/app-dir/metadata-missing-metadata-base/app/blog/page.js
  test/e2e/app-dir/metadata-missing-metadata-base/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47840 Enable context caching for middleware/edge functions in dev
  packages/next/src/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/server-ipc.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/sandbox/context.ts
  test/integration/middleware-dev-update/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#47841 [docs] Update getting-started.md with New react docs link
  docs/getting-started.md
Labels: area: documentation

#47737 New app routes resolving logic for turbopack
  .vscode/settings.json
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/build.rs
  packages/next-swc/crates/napi/src/app_structure.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next-swc/crates/next-core/js/src/entry/app-renderer.tsx
  packages/next-swc/crates/next-core/js/src/entry/app/layout-entry.tsx
  packages/next-swc/crates/next-core/src/app_render/next_layout_entry_transition.rs
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/manifest.rs
  packages/next-swc/crates/next-core/src/next_client/runtime_entry.rs
  packages/next-swc/crates/next-core/src/next_client/transition.rs
  packages/next-swc/crates/next-core/src/next_client_chunks/with_chunks.rs
  packages/next-swc/crates/next-core/src/next_font/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/google/options.rs
  packages/next-swc/crates/next-core/src/next_font/google/stylesheet.rs
  packages/next-swc/crates/next-core/src/next_font/local/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/local/mod.rs
  packages/next-swc/crates/next-core/src/next_font/local/options.rs
  packages/next-swc/crates/next-core/src/next_font/local/request.rs
  packages/next-swc/crates/next-core/src/next_font/local/stylesheet.rs
  packages/next-swc/crates/next-core/src/next_font/local/util.rs
  packages/next-swc/crates/next-core/src/next_font/stylesheet.rs
  packages/next-swc/crates/next-core/src/next_route_matcher/mod.rs
  packages/next-swc/crates/next-core/src/next_route_matcher/path_regex.rs
  packages/next-swc/crates/next-core/src/next_route_matcher/prefix_suffix.rs
  packages/next-swc/crates/next-core/src/router_source.rs
  packages/next-swc/crates/next-dev/benches/mod.rs
  packages/next-swc/crates/next-dev/src/lib.rs
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
Labels: type: next, created-by: Next.js team, area: Font Optimization, area: Turbopack

#47853 Polish metadata warnings
  packages/next/src/lib/metadata/resolvers/resolve-url.ts
  test/e2e/app-dir/metadata-missing-metadata-base/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47823 Memory improvements to static workers
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-build/index.ts
Labels: type: next, created-by: Next.js team

#47822 Hide internal fetches OTel traces in dev mode and assert duplicate OTel spans are present only in dev mode
  packages/next/src/server/api-utils/node.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/lib/trace/tracer.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/render.tsx
  test/e2e/opentelemetry/instrumentation-node-test.ts
  test/e2e/opentelemetry/instrumentation-node.ts
  test/e2e/opentelemetry/opentelemetry.test.ts
Labels: type: next, area: tests

#47365 feat(turbopack): support transform options
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/transform_options.rs
  packages/next-swc/crates/next-core/src/typescript.rs
Labels: type: next, created-by: Next.js team, area: Turbopack, created-by: web-tooling team

#47871 Update flakey tests and add Node.js setup retrying
  .github/workflows/build_test_deploy.yml
  packages/next/src/build/index.ts
  scripts/setup-node.sh
  test/integration/cli/test/index.test.js
  test/lib/browsers/playwright.ts
Labels: created-by: Next.js team, area: tests

#47877 Update dev IPC request
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/server-ipc.ts
Labels: type: next, created-by: Next.js team

#47880 Test disabling kodiak
  .github/.kodiak.toml
Labels: created-by: Next.js team

#47534 Fix type plugin for NX workspaces
  packages/next/src/build/webpack/plugins/next-types-plugin.test.ts
  packages/next/src/build/webpack/plugins/next-types-plugin.ts
Labels: type: next

#47883 Ensure GH actions tests run for trunk branches
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#47882 TS plugin: ensure error and global-error files are client components
  packages/next/src/server/typescript/constant.ts
  packages/next/src/server/typescript/index.ts
  packages/next/src/server/typescript/rules/error.ts
  packages/next/src/server/typescript/utils.ts
Labels: type: next, created-by: Next.js team

#47861 Decrease required open telemetry peer-dependency version
  packages/next/package.json
Labels: type: next

#47900 Update github link
  examples/with-chakra-ui/src/components/CTA.tsx
Labels: area: examples

#47565 router: implement route interceptions
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/match-segments.ts
  packages/next/src/client/components/react-dev-overlay/hot-reloader-client.tsx
  packages/next/src/client/components/router-reducer/apply-router-state-patch-to-tree.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/client/components/router-reducer/router-reducer.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/future/helpers/interception-routes.test.ts
  packages/next/src/server/future/helpers/interception-routes.ts
  packages/next/src/server/future/route-definitions/app-page-route-definition.ts
  packages/next/src/server/future/route-definitions/route-definition.ts
  packages/next/src/server/future/route-matcher-managers/default-route-matcher-manager.ts
  packages/next/src/server/future/route-matcher-managers/route-matcher-manager.ts
  packages/next/src/server/future/route-matcher-providers/app-page-route-matcher-provider.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-app-page-route-matcher-provider.ts
  packages/next/src/server/future/route-matchers/app-intercepting-route-matcher.ts
  packages/next/src/server/future/route-matches/app-page-route-match.ts
  packages/next/src/server/lib/parse-next-referrer.test.ts
  packages/next/src/server/lib/parse-next-referrer.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/router.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/intercepting-parallel-modal/[username]/@feed/page.js
  test/e2e/app-dir/parallel-routes-and-interception/app/intercepting-parallel-modal/[username]/layout.js
  test/e2e/app-dir/parallel-routes-and-interception/app/intercepting-routes/feed/page.js
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47899 Fix issue where NextServer.prepare wouldn't be called when deployed
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
Labels: type: next

#47194 Add documentation on OTEL support
  docs/advanced-features/instrumentation.md
  docs/advanced-features/open-telemetry.md
  docs/manifest.json
  examples/with-opentelemetry/README.md
  examples/with-opentelemetry/instrumentation-node.ts
  examples/with-opentelemetry/instrumentation.ts
  examples/with-opentelemetry/package.json
  examples/with-opentelemetry/pages/api/github-stars.ts
  examples/with-opentelemetry/shared/fetch-github-stars.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/render.tsx
  test/e2e/opentelemetry/instrumentation-node.ts
  test/e2e/opentelemetry/opentelemetry.test.ts
Labels: area: examples, area: documentation

#47913 Add missing `module.hot.accept` call to server CSS modules
  packages/next/src/build/webpack/loaders/next-flight-css-loader.ts
  test/e2e/app-dir/app-css/app/hmr/global.css
  test/e2e/app-dir/app-css/app/hmr/page.js
  test/e2e/app-dir/app-css/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47854 Hide not ENOENT errors for not found in ipc server
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/server-ipc.ts
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team

#47891 [Docs] Update react docs link
  docs/advanced-features/dynamic-import.md
  docs/api-reference/data-fetching/get-initial-props.md
  docs/api-reference/next/amp.md
  docs/api-reference/next/image.md
  docs/api-reference/next/legacy/image.md
  docs/api-reference/next/link.md
  docs/api-reference/next/router.md
  docs/basic-features/data-fetching/get-server-side-props.md
  docs/basic-features/data-fetching/get-static-props.md
  docs/basic-features/layouts.md
  docs/basic-features/pages.md
  docs/guides/building-forms.md
  docs/migrating/from-create-react-app.md
  docs/routing/shallow-routing.md
  errors/client-side-exception-occurred.md
  errors/react-hydration-error.md
  examples/blog/pages/posts/pages.md
  examples/with-graphql-react/README.md
  examples/with-portals-ssr/README.md
  examples/with-portals/README.md
  examples/with-portals/components/Modal.js
  examples/with-sentry/pages/_error.js
  packages/next-codemod/transforms/cra-to-next.ts
  packages/react-refresh-utils/runtime.ts
Labels: area: examples, area: documentation, type: next

#47888 turbopack: defer dev code evaluation until after page render IPC connects
  packages/next-swc/crates/next-core/js/src/entry/server-data.tsx
  packages/next-swc/crates/next-core/js/src/entry/server-renderer.tsx
  packages/next-swc/crates/next-core/js/src/internal/page-server-handler.tsx
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47856 add test case for alias field
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/resolve/alias-field/input/index.js
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/resolve/alias-field/input/node_modules/other-package/index.js
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/resolve/alias-field/input/node_modules/package/other-replacement.js
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/resolve/alias-field/input/node_modules/package/package.json
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/resolve/alias-field/input/node_modules/package/src/index.js
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47758 add test case for ignore modules
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/ignored/simple/input/index.js
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/ignored/simple/input/node_modules/package/ignored.js
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/ignored/simple/input/node_modules/package/index.js
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/ignored/simple/input/node_modules/package/package.json
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47935 Small refactoring to `build/index.ts`
  packages/next/src/build/index.ts
  packages/next/src/build/type-check.ts
  packages/next/src/server/api-utils/index.ts
Labels: type: next, created-by: Next.js team

#47927 Compare modules' layer when tracking server CSS changes
  packages/next/src/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#47878 Update Local Images Example to Use Assets Folder
  docs/basic-features/image-optimization.md
  docs/migrating/from-gatsby.md
Labels: area: documentation

#47874 Extend type for streamEntrypoints
  packages/next/src/build/swc/index.ts
Labels: type: next, created-by: Next.js team

#47938 Add strict next head handling
  packages/next-swc/crates/next-core/js/src/internal/page-server-handler.tsx
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/head-manager.ts
  packages/next/src/export/index.ts
  packages/next/src/export/worker.ts
  packages/next/src/pages/_document.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/render.tsx
  packages/next/src/shared/lib/html-context.ts
  test/e2e/next-head/index.test.ts
  test/integration/client-navigation/next.config.js
  test/integration/client-navigation/test/rendering.js
Labels: type: next, created-by: Next.js team, area: Turbopack, area: tests

#47693 ChunkingContext refactor pt. 1
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/fallback.rs
  packages/next-swc/crates/next-core/src/next_client/runtime_entry.rs
  packages/next-swc/crates/next-core/src/next_client_chunks/client_chunks_transition.rs
  packages/next-swc/crates/next-core/src/next_client_chunks/with_chunks.rs
  packages/next-swc/crates/next-core/src/next_client_component/with_client_chunks.rs
  packages/next-swc/crates/next-core/src/page_loader.rs
  packages/next-swc/crates/next-core/src/page_source.rs
  packages/next-swc/crates/next-core/src/web_entry_source.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47849 Run bench tests as part of CI
  .github/workflows/build_test_deploy.yml
  packages/next-swc/crates/next-core/js/src/ipc/index.ts
  packages/next-swc/crates/next-dev/benches/bundlers/turbopack/mod.rs
  packages/next-swc/crates/next-dev/benches/util/npm.rs
Labels: created-by: web-tooling team

#47928 add a warning when using implicit metadata
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/apple-icon.png
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/icon1234.png
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/icon234.png
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/test.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/next.config.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/issues/Implicit metadata from filesystem is currently not supported in Turbopack-463ad8.txt
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47954 avoid duplicated error output
  packages/next-swc/crates/next-core/src/router_source.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47910 Fallback to localhost for metadataBase when it's used and missing
  packages/next/src/lib/metadata/generate/alternate.tsx
  packages/next/src/lib/metadata/generate/basic.tsx
  packages/next/src/lib/metadata/generate/icons.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.test.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/resolvers/resolve-basics.ts
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.ts
  packages/next/src/server/app-render/types.ts
  test/e2e/app-dir/metadata-missing-metadata-base/app/blog/opengraph-image.js
  test/e2e/app-dir/metadata-missing-metadata-base/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47973 Increase CI test timeout
  test/jest-setup-after-env.ts
Labels: created-by: Next.js team, area: tests

#47912 Auto-restart dev server when next.config.js changes
  packages/next/src/cli/next-dev.ts
  test/development/watch-config-file/index.test.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-test-utils.js
Labels: area: examples, type: next, area: tests

#47884 Unify Request types
  packages/next-swc/crates/next-core/js/src/entry/app/route-bootstrap.ts
  packages/next/src/build/webpack/loaders/next-edge-app-route-loader/index.ts
  packages/next/src/client/components/headers.ts
  packages/next/src/client/components/request-async-storage.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/api-utils/index.ts
  packages/next/src/server/api-utils/node.ts
  packages/next/src/server/app-render/readonly-headers.ts
  packages/next/src/server/app-render/readonly-request-cookies.ts
  packages/next/src/server/async-storage/request-async-storage-wrapper.ts
  packages/next/src/server/future/route-handler-managers/route-handler-manager.ts
  packages/next/src/server/future/route-modules/app-route/helpers/proxy-request.ts
  packages/next/src/server/future/route-modules/app-route/helpers/wrap-request.ts
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/future/route-modules/route-module.ts
  packages/next/src/server/image-optimizer.ts
  packages/next/src/server/lib/mock-request.test.ts
  packages/next/src/server/lib/mock-request.ts
  packages/next/src/server/web/edge-route-module-wrapper.ts
  packages/next/src/server/web/spec-extension/adapters/headers.test.ts
  packages/next/src/server/web/spec-extension/adapters/headers.ts
  packages/next/src/server/web/spec-extension/adapters/next-request.ts
  packages/next/src/server/web/spec-extension/adapters/request-cookies.test.ts
  packages/next/src/server/web/spec-extension/adapters/request-cookies.ts
  packages/next/src/server/web/utils.test.ts
  packages/next/src/server/web/utils.ts
  packages/next/src/shared/lib/get-hostname.test.ts
  packages/next/src/shared/lib/get-hostname.ts
  test/e2e/app-dir/app-routes-trailing-slash/app-routes-trailing-slash.test.ts
  test/e2e/app-dir/app-routes-trailing-slash/app/api/edge/route.ts
  test/e2e/app-dir/app-routes-trailing-slash/app/api/route.ts
  test/e2e/app-dir/app-routes-trailing-slash/app/layout.tsx
  test/e2e/app-dir/app-routes-trailing-slash/app/page.tsx
  test/e2e/app-dir/app-routes-trailing-slash/app/runtime/edge/route.ts
  test/e2e/app-dir/app-routes-trailing-slash/app/runtime/node/route.ts
  test/e2e/app-dir/app-routes-trailing-slash/handler.ts
Labels: type: next, created-by: Next.js team, area: Turbopack, area: tests

#47930 Update search params/route params handling on deploy
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/lib/constants.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/server-utils.ts
  packages/next/src/server/web-server.ts
  packages/next/src/shared/lib/router/utils/route-regex.ts
  test/e2e/app-dir/app/app/dynamic-client/[category]/[id]/page.js
  test/e2e/app-dir/app/app/dynamic/[category]/[id]/page.js
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
  test/e2e/app-dir/parallel-routes-and-interception/tsconfig.json
  test/e2e/edge-render-getserversideprops/index.test.ts
  test/e2e/getserversideprops/test/index.test.ts
  test/e2e/prerender.test.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/required-server-files-ssr-404/test/index.test.js
  test/lib/create-next-install.js
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47946 turbopack: add vary header to app routes
  packages/next-swc/crates/next-core/js/src/entry/app-renderer.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/rsc-NEXT-657/input/next.config.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/rsc-NEXT-657/input/src/app/app/page.jsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/rsc-NEXT-657/input/src/app/layout.jsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/rsc-NEXT-657/input/src/app/page.jsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/rsc-NEXT-657/input/src/pages/page.jsx
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47972 Fix metadata nested twitter props rendering
  packages/next/src/lib/metadata/generate/meta.tsx
  packages/next/src/lib/metadata/generate/opengraph.tsx
  packages/next/src/lib/metadata/types/opengraph-types.ts
  test/e2e/app-dir/metadata/app/twitter/large-image/page.tsx
  test/e2e/app-dir/metadata/app/twitter/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47985 Create unique route path for og under group routes
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/lib/metadata/get-metadata-route.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/shared/lib/hash.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/blog/page.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/layout.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/opengraph-image.tsx
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47771 allow turbopack HMR to recover from react errors without hard refresh
  packages/next-swc/crates/next-core/js/src/dev/hmr-client.ts
  packages/next-swc/crates/next-core/js/src/entry/fallback.tsx
  packages/next-swc/crates/next-core/js/src/overlay/internal/ErrorBoundary.tsx
  packages/next-swc/crates/next-core/js/src/overlay/internal/ReactDevOverlay.tsx
Labels: type: next, area: Turbopack, created-by: web-tooling team

#47931 Implement `Route` type for router APIs
  packages/next/src/build/webpack/plugins/next-types-plugin.ts
  packages/next/src/shared/lib/app-router-context.ts
  test/integration/app-types/app-types.test.js
  test/integration/app-types/src/app/type-checks/router/page.tsx
Labels: type: next, created-by: Next.js team, area: tests

#47949 If prefetching detected as app route, pass "as" to handleHardNavigation instead of "url"
  packages/next/src/shared/lib/router/router.ts
Labels: type: next

#47994 update turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
Labels: type: next, created-by: web-tooling team

#48001 Revert "update turbopack"
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
Labels: type: next, created-by: Next.js team

#48006 update turbopack
  .github/workflows/build_test_deploy.yml
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
Labels: type: next, created-by: web-tooling team

#47992 Fix css applying for root not found
  packages/next/src/build/index.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/app-css/app/not-found.js
  test/e2e/app-dir/app-css/app/style.css
  test/e2e/app-dir/app-css/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47955 Docs: Improve Open Telemetry documentation
  docs/advanced-features/open-telemetry.md
Labels: area: documentation

#48013 Recommend @opentelemetry/api instead of @vercel/otel reexport
  docs/advanced-features/open-telemetry.md
  examples/with-opentelemetry/.vscode/settings.json
  examples/with-opentelemetry/package.json
  examples/with-opentelemetry/shared/fetch-github-stars.ts
Labels: area: examples, area: documentation

#48023 fix lint issue
  package.json
Labels: area: documentation, created-by: web-tooling team

#48027 interception routes: re-implementation
  packages/next/src/build/index.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/handle-mutable.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/lib/generate-interception-routes-rewrites.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/future/helpers/interception-routes.test.ts
  packages/next/src/server/future/helpers/interception-routes.ts
  packages/next/src/server/future/route-matcher-managers/default-route-matcher-manager.ts
  packages/next/src/server/future/route-matcher-managers/route-matcher-manager.ts
  packages/next/src/server/future/route-matcher-providers/app-page-route-matcher-provider.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-app-page-route-matcher-provider.ts
  packages/next/src/server/future/route-matchers/app-intercepting-route-matcher.ts
  packages/next/src/server/lib/parse-next-referrer.test.ts
  packages/next/src/server/lib/parse-next-referrer.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/router.ts
  packages/next/src/shared/lib/app-router-context.ts
  packages/next/src/shared/lib/router/utils/prepare-destination.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/intercepting-routes/feed/nested/page.js
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team

#48028 Speed up native dev build
  .github/workflows/build_test_deploy.yml
Labels: created-by: web-tooling team

#48032 Update normalize revalidate params for named matches
  packages/next/src/server/server-utils.ts
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47768 fix: handle error case for `output: export` in `next dev`
  packages/next/src/build/utils.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-export.ts
  packages/next/src/client/components/static-generation-bailout.ts
  packages/next/src/export/index.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/future/route-modules/app-route/module.ts
  test/development/acceptance-app/dynamic-error.test.ts
  test/integration/app-dir-export/test/index.test.ts
Labels: type: next, created-by: Next.js team

#47967 report error when using "use server" on module level
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-dev-tests/tests/integration.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/issues/Implicit metadata from filesystem is currently not supported in Turbopack-9116b0.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/use-server/input/app/action.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/use-server/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/use-server/input/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/use-server/input/app/test.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/use-server/input/next.config.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/use-server/issues/Server actions (__quo__use server__quo__) are not yet supported in Turbopack-1510a7.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.existsSync(__q____q____q____star__0__star__) is very dynamic-396b87.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star__0__star__, __quo__utf-8__quo__) is very dynamic-d45237.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1006 path.resolve(__q____q____q____star__0__star__) is very dynamic-cd6d71.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-1c0742.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-8866d2.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-8f2bda.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/webpack-loaders/emitted-errors/issues/Issue while running loader-c22815.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/turbopack/basic/comptime/issues/Error resolving commonjs request-3ad478.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/named-chunks/issues/Error resolving EcmaScript Modules request-9ffa01.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/named-chunks/issues/Error resolving EcmaScript Modules request-daf185.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/named-chunks/issues/Error resolving EcmaScript Modules request-fa478b.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/parsing/issues/Error resolving commonjs request-e2b9f3.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies-context/issues/Error resolving commonjs request-6f1be7.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies-context/issues/lint TP1002 require([__quo__.__b__quo__]) is very dynamic-38cc9a.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies/issues/Error resolving commonjs request-35f347.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/webpack/chunks/__skipped__/weak-dependencies/issues/lint TP1002 require([__quo__.__c__quo__]) is very dynamic-0e3fb5.txt
Labels: type: next, area: Turbopack, created-by: web-tooling team

#48033 Only cache successful fetches
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/variable-revalidate/status-code/page.js
Labels: type: next

#48000 Replaced Reflect with ReflectAdapter
  packages/next/src/server/render.tsx
  packages/next/src/server/web/spec-extension/adapters/headers.test.ts
  packages/next/src/server/web/spec-extension/adapters/headers.ts
  packages/next/src/server/web/spec-extension/adapters/reflect.ts
  packages/next/src/server/web/spec-extension/adapters/request-cookies.ts
  test/e2e/app-dir/app-routes/helpers.ts
  test/lib/next-modes/next-deploy.ts
Labels: type: next, created-by: Next.js team

#48044 Fix stable release start
  scripts/start-release.js
Labels: created-by: Next.js team

#48045 Fix query normalize on edge deploy
  packages/next/src/server/web-server.ts
Labels: type: next, created-by: Next.js team

#48026 Change metadata routes suffix to number and chars
  packages/next/src/lib/metadata/get-metadata-route.ts
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47989 fix: show error when "next start" is used with "output" config
  docs/api-reference/cli.md
  packages/next/src/server/next.ts
  test/integration/app-dir-export/test/index.test.ts
  test/integration/app-dir-export/test/start.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#48051 Update query param prefix to reduce length
  packages/next/src/lib/constants.ts
  packages/next/src/shared/lib/router/utils/route-regex.ts
  test/e2e/edge-render-getserversideprops/index.test.ts
  test/e2e/getserversideprops/test/index.test.ts
  test/e2e/prerender.test.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/required-server-files-ssr-404/test/index.test.js
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48048 turbopack: pass ENV vars to route handlers
  packages/next-swc/crates/next-core/js/src/entry/app/route.ts
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/route-WEB-869/input/.env
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/route-WEB-869/input/app/[slug]/route.ts
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/route-WEB-869/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/route-WEB-869/input/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/route-WEB-869/input/app/test.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/route-WEB-869/input/next.config.js
Labels: type: next, area: Turbopack, created-by: web-tooling team

#48068 interception: fix infinite refetch when rendering a slotted interception
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/@slot/(..)nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/@slot/default.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48066 parallel routes: fix layout not re-rendering
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/@slot/(..)nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/@slot/default.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-non-intercepting/@parallel/default.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-non-intercepting/@parallel/foo/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-non-intercepting/foo/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-non-intercepting/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-non-intercepting/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48062 Update deployment.md
  docs/deployment.md
Labels: area: documentation

#48020 chore: Add `.vscode` to eslintignore
  .eslintignore
Labels: created-by: Next.js team

#47982 Fix fallback detection logic when multiple generateStaticParams are needed
  packages/next/src/build/utils.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/flight/[slug]/[slug2]/page.js
  test/e2e/app-dir/app-static/app/flight/[slug]/[slug2]/refresh.js
  test/e2e/app-dir/app-static/app/flight/[slug]/layout.js
Labels: type: next, created-by: Next.js team, area: tests

#47939 Next Cache Telemetry
  packages/next/src/client/components/static-generation-async-storage.ts
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/patch-fetch.ts
Labels: type: next

#48107 Remove change leftover from experimental precompiled server
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#48086 Support og image with edge
  packages/next/src/server/next-server.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/twitter-image.tsx
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48113 Update flakey tests
  test/e2e/middleware-general/test/index.test.ts
  test/integration/app-dir-export/test/config.test.ts
  test/integration/app-dir-export/test/dynamic-dev.test.ts
  test/integration/app-dir-export/test/dynamic-prod.test.ts
  test/integration/app-dir-export/test/dynamic.ts
  test/integration/app-dir-export/test/trailing-slash-dev.test.ts
  test/integration/app-dir-export/test/trailing-slash-start.test.ts
  test/integration/app-dir-export/test/trailing-slash.ts
  test/integration/app-dir-export/test/utils.ts
Labels: created-by: Next.js team, area: tests

#48115 Add flag to control app document preloading
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#47986 Add experimental React related warning
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  test/e2e/app-dir/actions/app/server/form.js
  test/e2e/app-dir/actions/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#48152 Fix next-flight-loader resourcePath in Windows
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
Labels: type: next

#48194 Enable opening source file in build error overlay
  packages/next/src/client/components/react-dev-overlay/internal/components/Terminal/EditorLink.tsx
  packages/next/src/client/components/react-dev-overlay/internal/components/Terminal/Terminal.tsx
  packages/next/src/client/components/react-dev-overlay/internal/components/Terminal/styles.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox-builtins.test.ts.snap
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox-scss.test.ts.snap
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance-app/editor-links.test.ts
  test/development/acceptance-app/rsc-build-errors.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48121 Fix documentation link for transpilePackages in NextConfig
  packages/next/src/server/config-shared.ts
Labels: type: next

#48071 Docs: Describe how to manually configure open telemetry
  docs/advanced-features/open-telemetry.md
Labels: area: documentation

#48225 Fix typo in script.md
  docs/api-reference/next/script.md
Labels: area: documentation

#48239 Update codeowner for images
  .github/CODEOWNERS
Labels: created-by: Next.js team

#47961 Chunking Refactor pt. 2
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/js/src/entry/app-renderer.tsx
  packages/next-swc/crates/next-core/js/src/entry/app/hydrate.tsx
  packages/next-swc/crates/next-core/js/src/entry/app/index.d.ts
  packages/next-swc/crates/next-core/js/src/entry/app/server-to-client-ssr.tsx
  packages/next-swc/crates/next-core/js/src/entry/app/server-to-client.tsx
  packages/next-swc/crates/next-core/js/types/globals.d.ts
  packages/next-swc/crates/next-core/js/types/rust.d.ts
  packages/next-swc/crates/next-core/src/fallback.rs
  packages/next-swc/crates/next-core/src/next_client_chunks/with_chunks.rs
  packages/next-swc/crates/next-core/src/next_client_component/with_client_chunks.rs
  packages/next-swc/crates/next-core/src/page_loader.rs
  packages/next-swc/crates/next-core/src/web_entry_source.rs
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#48252 chore: split up app-dir-export tests
  test/integration/app-dir-export/test/dynamic-dev.test.ts
  test/integration/app-dir-export/test/dynamic-prod.test.ts
  test/integration/app-dir-export/test/dynamic.ts
  test/integration/app-dir-export/test/dynamicapiroute-dev.test.ts
  test/integration/app-dir-export/test/dynamicapiroute-prod.test.ts
  test/integration/app-dir-export/test/dynamicpage-dev.test.ts
  test/integration/app-dir-export/test/dynamicpage-prod.test.ts
  test/integration/app-dir-export/test/trailing-slash-dev.test.ts
  test/integration/app-dir-export/test/trailing-slash-start.test.ts
  test/integration/app-dir-export/test/trailing-slash.ts
  test/integration/app-dir-export/test/utils.ts
Labels: created-by: Next.js team, area: tests

#47857 Opt-into worker mode when appDir is enabled
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/opentelemetry/opentelemetry.test.ts
  test/integration/app-dir-export/test/start.test.ts
  test/unit/cli.test.ts
Labels: type: next, created-by: Next.js team

#48261 allow anyone to approve a lockfile change
  .github/CODEOWNERS
Labels: created-by: web-tooling team

#48253 app-router: add batching support for RSC router payloads
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-side-bar/@sidebar/nested/deeper/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-side-bar/@sidebar/nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-side-bar/@sidebar/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-side-bar/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-side-bar/nested/deeper/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-side-bar/nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-side-bar/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
  test/e2e/app-dir/parallel-routes-and-interception/tsconfig.json
Labels: type: next, created-by: Next.js team, area: tests

#48286 parallel routes: remove the per-route default 404 handler
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/parallel-routes-not-found/app/@slot/nested/page.tsx
  test/e2e/app-dir/parallel-routes-not-found/app/layout.tsx
  test/e2e/app-dir/parallel-routes-not-found/app/page.tsx
  test/e2e/app-dir/parallel-routes-not-found/next.config.js
  test/e2e/app-dir/parallel-routes-not-found/parallel-routes-not-found.test.ts
  test/e2e/app-dir/parallel-routes-not-found/tsconfig.json
Labels: type: next, created-by: Next.js team, area: tests

#48291 Temporarily disable app dir export integration test
  test/integration/app-dir-export/test/config.test.ts
  test/integration/app-dir-export/test/dynamicapiroute-dev.test.ts
  test/integration/app-dir-export/test/dynamicapiroute-prod.test.ts
  test/integration/app-dir-export/test/dynamicpage-dev.test.ts
  test/integration/app-dir-export/test/dynamicpage-prod.test.ts
  test/integration/app-dir-export/test/start.test.ts
  test/integration/app-dir-export/test/trailing-slash-dev.test.ts
  test/integration/app-dir-export/test/trailing-slash-start.test.ts
Labels: created-by: Next.js team, area: tests

#47980 ensure original matcher source is free of mutations
  packages/next/src/build/analysis/get-page-static-info.ts
  test/integration/invalid-middleware-matchers/test/index.test.js
  test/unit/get-page-static-infos.test.ts
Labels: type: next, area: tests

#48202 Add suffix to static metadata images
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/lib/metadata/get-metadata-route.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/static/opengraph-image.png
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/static/page.tsx
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, area: tests

#48241 Add information about deploy to open telemetry docs
  docs/advanced-features/open-telemetry.md
Labels: area: documentation

#48259 Update metadata interface types
  packages/next/src/lib/metadata/types/metadata-interface.ts
Labels: type: next

#47991 feat(turbopack): support initial compiler.emotion / compiler.styledComponents flag
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/transform_options.rs
  packages/next/src/lib/turbopack-warning.ts
  test/development/basic/emotion-swc.test.ts
  test/development/basic/emotion-swc/next.turbopack.config.js
Labels: type: next, area: Turbopack, created-by: web-tooling team

#48311 Fix missing favicon when other icon exist
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  test/e2e/app-dir/metadata/app/icon.svg
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48306 Fix app dir vanilla-extract support
  packages/next/src/build/webpack/loaders/utils.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#48310 Auto collect custom manifest into metadata
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/metadata/types.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#47886 feat(turbopack): initial mdxrs config support
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/transform_options.rs
  packages/next/src/lib/turbopack-warning.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#48321 Only create tarballs once per run-tests
  run-tests.js
  test/lib/create-next-install.js
Labels: created-by: Next.js team, area: tests

#48307 refactor shared logic for turbopack-cli
  .github/workflows/build_test_deploy.yml
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/js/src/dev/client.ts
  packages/next-swc/crates/next-core/js/src/dev/hmr-client.ts
  packages/next-swc/crates/next-core/js/src/dev/hot-reloader.tsx
  packages/next-swc/crates/next-core/js/src/dev/websocket.ts
  packages/next-swc/crates/next-core/js/src/entry/app-renderer.tsx
  packages/next-swc/crates/next-core/js/src/entry/app/route.ts
  packages/next-swc/crates/next-core/js/src/entry/fallback.tsx
  packages/next-swc/crates/next-core/js/src/entry/next-hydrate.tsx
  packages/next-swc/crates/next-core/js/src/entry/router.ts
  packages/next-swc/crates/next-core/js/src/entry/server-api.tsx
  packages/next-swc/crates/next-core/js/src/entry/server-data.tsx
  packages/next-swc/crates/next-core/js/src/entry/server-edge-api.tsx
  packages/next-swc/crates/next-core/js/src/entry/server-renderer.tsx
  packages/next-swc/crates/next-core/js/src/internal/api-server-handler.ts
  packages/next-swc/crates/next-core/js/src/internal/page-server-handler.tsx
  packages/next-swc/crates/next-core/js/src/internal/server.ts
  packages/next-swc/crates/next-core/js/src/ipc/index.ts
  packages/next-swc/crates/next-core/js/src/ipc/server.ts
  packages/next-swc/crates/next-core/js/src/overlay/client.ts
  packages/next-swc/crates/next-core/js/src/overlay/internal/ReactDevOverlay.tsx
  packages/next-swc/crates/next-core/js/src/overlay/internal/bus.ts
  packages/next-swc/crates/next-core/js/src/overlay/internal/container/Errors.tsx
  packages/next-swc/crates/next-core/js/src/overlay/internal/container/TurbopackIssue.tsx
  packages/next-swc/crates/next-core/js/tsconfig.json
  packages/next-swc/crates/next-core/js/types/next.d.ts
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/env.rs
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/react_refresh.rs
  packages/next-swc/crates/next-core/src/runtime.rs
  packages/next-swc/crates/next-core/src/web_entry_source.rs
  packages/next-swc/crates/next-dev/Cargo.toml
  packages/next-swc/crates/next-dev/benches/README.md
  packages/next-swc/crates/next-dev/benches/bundler.rs
  packages/next-swc/crates/next-dev/benches/bundlers/mod.rs
  packages/next-swc/crates/next-dev/benches/bundlers/nextjs/mod.rs
  packages/next-swc/crates/next-dev/benches/bundlers/parcel.rs
  packages/next-swc/crates/next-dev/benches/bundlers/turbopack/next.config.js
  packages/next-swc/crates/next-dev/benches/bundlers/vite/mod.rs
  packages/next-swc/crates/next-dev/benches/bundlers/vite/vite.config.js
  packages/next-swc/crates/next-dev/benches/bundlers/vite/vite.swc.config.js
  packages/next-swc/crates/next-dev/benches/bundlers/webpack/mod.rs
  packages/next-swc/crates/next-dev/benches/bundlers/webpack/webpack.config.js
  packages/next-swc/crates/next-dev/benches/mod.rs
  packages/next-swc/crates/next-dev/benches/next.config.js
  packages/next-swc/crates/next-dev/benches/util/env.rs
  packages/next-swc/crates/next-dev/benches/util/mod.rs
  packages/next-swc/crates/next-dev/benches/util/module_picker.rs
  packages/next-swc/crates/next-dev/benches/util/npm.rs
  packages/next-swc/crates/next-dev/benches/util/page_guard.rs
  packages/next-swc/crates/next-dev/benches/util/prepared_app.rs
  packages/next-swc/crates/next-dev/src/lib.rs
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#48318 Fix dev case when proxying to self
  packages/next/src/server/next-server.ts
  packages/next/src/server/router.ts
  test/integration/api-support/pages/api/proxy-self.js
  test/integration/api-support/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#48350 fix: Adding search field decorator
  examples/with-tigris/db/models/todoItems.ts
Labels: area: examples

#48346 app router: fix scrolling behaviour for parallel routes
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/handle-mutable.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-scroll/@modal/default.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-scroll/@modal/nav/page.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-scroll/layout.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-scroll/page.js
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48351 interception routes: fix support for route groups
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/(group)/intercepting-parallel-modal/[username]/@feed/page.js
  test/e2e/app-dir/parallel-routes-and-interception/app/(group)/intercepting-parallel-modal/[username]/@modal/(..)photo/[id]/page.js
  test/e2e/app-dir/parallel-routes-and-interception/app/(group)/intercepting-parallel-modal/[username]/@modal/default.js
  test/e2e/app-dir/parallel-routes-and-interception/app/(group)/intercepting-parallel-modal/[username]/layout.js
  test/e2e/app-dir/parallel-routes-and-interception/app/(group)/intercepting-parallel-modal/photo/[id]/page.js
  test/e2e/app-dir/parallel-routes-and-interception/app/(group)/intercepting-parallel-modal/photo/layout.js
Labels: type: next, created-by: Next.js team, area: tests

#48039 Add body to router request to fix socket hang up
  packages/next-swc/crates/next-core/js/src/entry/router.ts
  packages/next-swc/crates/next-core/src/router.rs
  packages/next-swc/crates/next-core/src/router_source.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#48322 Fix dev getStaticPaths/generateStaticParams calling
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/dev/static-paths-worker.ts
Labels: type: next, created-by: Next.js team

#48348 Update App Route Signature
  packages/next/src/export/worker.ts
  packages/next/src/server/future/route-matchers/route-matcher.ts
  packages/next/src/server/future/route-matches/route-match.ts
  packages/next/src/server/future/route-modules/app-route/helpers/proxy-request.ts
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/future/route-modules/route-module.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/types.ts
Labels: type: next, created-by: Next.js team

#48193 fix: typo localy --> locally
  packages/next/src/build/webpack/loaders/next-font-loader/index.ts
  packages/next/src/build/webpack/loaders/next-font-loader/postcss-next-font.ts
Labels: type: next, area: Font Optimization

#48343 Investigate redirect getting stuck
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/front-redirect-issue/app/api/app-redirect/[path]/route.ts
  test/e2e/app-dir/front-redirect-issue/app/app-future/[lang]/(dashboard)/[teamSlug]/page.tsx
  test/e2e/app-dir/front-redirect-issue/app/favicon.ico
  test/e2e/app-dir/front-redirect-issue/app/layout.tsx
  test/e2e/app-dir/front-redirect-issue/app/page.tsx
  test/e2e/app-dir/front-redirect-issue/front-redirect-issue.test.ts
  test/e2e/app-dir/front-redirect-issue/middleware.ts
  test/e2e/app-dir/front-redirect-issue/next.config.js
  test/e2e/app-dir/metadata/metadata.test.ts
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: created-by: Next.js team, area: tests

#48188 [create-next-app]: add mdx files to tailwind content config
  packages/create-next-app/templates/app-tw/js/tailwind.config.js
  packages/create-next-app/templates/app-tw/ts/tailwind.config.js
  packages/create-next-app/templates/default-tw/js/tailwind.config.js
  packages/create-next-app/templates/default-tw/ts/tailwind.config.js
  packages/create-next-app/templates/index.ts
Labels: type: next, area: create-next-app, area: Turbopack

#48364 Update font handling in CNA templates
  packages/create-next-app/templates/app-tw/js/app/layout.js
  packages/create-next-app/templates/app-tw/js/app/page.js
  packages/create-next-app/templates/app-tw/ts/app/layout.tsx
  packages/create-next-app/templates/app-tw/ts/app/page.tsx
  packages/create-next-app/templates/app/js/app/layout.js
  packages/create-next-app/templates/app/js/app/page.js
  packages/create-next-app/templates/app/ts/app/layout.tsx
  packages/create-next-app/templates/app/ts/app/page.tsx
  packages/create-next-app/templates/default-tw/js/pages/index.js
  packages/create-next-app/templates/default-tw/ts/pages/index.tsx
  packages/create-next-app/templates/default/js/pages/index.js
  packages/create-next-app/templates/default/ts/pages/index.tsx
Labels: area: create-next-app, created-by: Next.js team

#48354 Ensure we handle 204 responses in fetch
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app/variable-revalidate/status-code/page.js
Labels: type: next, area: tests

#48181 docs: fix grammar for dynamic routes catch-all explanation and give better examples
  docs/routing/dynamic-routes.md
Labels: area: documentation

#48235 Fix grammar and typos in OTEL docs
  .vscode/settings.json
  docs/advanced-features/instrumentation.md
  docs/advanced-features/open-telemetry.md
Labels: area: documentation

#48365 Fix fetch cache body handling and update edge-runtime deps
  packages/next/package.json
  packages/next/src/compiled/@edge-runtime/cookies/index.d.ts
  packages/next/src/compiled/@edge-runtime/cookies/index.js
  packages/next/src/compiled/@edge-runtime/cookies/package.json
  packages/next/src/compiled/@edge-runtime/primitives/package.json
  packages/next/src/compiled/@edge-runtime/primitives/streams.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/streams.js
  packages/next/src/compiled/@edge-runtime/primitives/structured-clone.js
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/compiled/edge-runtime/index.js
  packages/next/src/compiled/edge-runtime/package.json
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/shared/lib/constants.ts
  pnpm-lock.yaml
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/variable-revalidate-edge/body/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate/status-code/page.js
  test/integration/cli/test/index.test.js
  test/integration/edge-runtime-with-node.js-apis/test/index.test.ts
  test/integration/middleware-dev-errors/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#48370 Add test coverage for pages edge API routes
  test/e2e/edge-pages-support/app/next.config.js
  test/e2e/edge-pages-support/app/pages/[id].js
  test/e2e/edge-pages-support/app/pages/api/[id].js
  test/e2e/edge-pages-support/app/pages/api/hello.js
  test/e2e/edge-pages-support/app/pages/index.js
  test/e2e/edge-pages-support/index.test.ts
Labels: created-by: Next.js team, area: tests

#48373 Move normalizing of query for edge
  packages/next/src/server/web-server.ts
  packages/next/src/server/web/adapter.ts
Labels: type: next, created-by: Next.js team

#48394 Update instrumentation.md
  docs/advanced-features/instrumentation.md
Labels: area: documentation

#48347 provide the PORT env var based on server port, update turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/env.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/api/basic/input/index.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/api/basic/input/pages/api/ipv4.ts
  packages/next-swc/crates/next-dev-tests/tests/integration/next/api/basic/input/pages/api/ipv6.ts
  packages/next-swc/crates/next-dev-tests/tests/integration/next/api/basic/input/pages/api/localhost.ts
  packages/next-swc/crates/next-dev-tests/tests/integration/next/api/basic/input/pages/index.tsx
  packages/next-swc/crates/next-dev/Cargo.toml
  packages/next-swc/crates/next-dev/src/lib.rs
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team
