Repository vercel/next.js, pull requests merged in 2023-01, with the labels that each got.

#44466 Update get-api-cookie.ts
  examples/with-cookies-next/pages/api/get-api-cookie.ts
Labels: area: examples

#44403 Update license year
  license.md
  packages/next-codemod/license.md
  packages/next-mdx/license.md
  packages/next/license.md
Labels: type: next, created-by: Next.js team

#44391 Update .gitignore in pwa example
  examples/progressive-web-app/.gitignore
Labels: area: examples

#44488 Use the stable GraphQL Yoga v3 in the GraphQL example
  examples/api-routes-graphql/package.json
  examples/api-routes-graphql/pages/api/graphql.ts
Labels: area: examples

#44518 Add module transpilation docs
  docs/advanced-features/compiler.md
Labels: area: documentation

#44520 Cache package lock when running tests to speed up installation
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  test/e2e/test-utils-tests/basic/basic.test.ts
  test/lib/create-next-install.js
Labels: created-by: Next.js team

#44155 Test server component error recovery in dev
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: created-by: Next.js team

#44517 Update TypeScript API Route example
  docs/basic-features/typescript.md
Labels: area: documentation

#44213 refactor: add warning helper for removed experimental option
  packages/next/src/server/config.ts
  test/unit/warn-removed-experimental-config.test.ts
Labels: type: next

#44507 types: remove config.experimental.profiling
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/integration/production-swcminify/test/index.test.js
  test/integration/production/test/index.test.js
Labels: type: next

#44080 chore: addresses leftover from #44045
  packages/next/src/build/analysis/get-page-static-info.ts
  test/e2e/edge-configurable-runtime/index.test.ts
Labels: type: next

#44218 Fix cookie parsing removing extra `=`
  packages/next/src/server/web/spec-extension/cookies/serialize.ts
  test/unit/parse-cookie-string.test.ts
Labels: type: next

#44214 Update server-external-packages to include aws-crt
  packages/next/src/lib/server-external-packages.ts
Labels: type: next

#44528 add `testonly` variants for all test modes and refactored `test` as alias of `testheadless`
  package.json
Labels: created-by: Next.js team

#44137 Collapse sequences of call stack frames from React and Next.js in the error overlay
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/CallStackFrame.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/FrameworkIcon.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/GroupedStackFrames.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/group-stack-frames-by-framework.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: type: next, created-by: Next.js team

#44547 Update config-shared docs link
  docs/api-reference/next.config.js/introduction.md
Labels: area: documentation, created-by: Next.js team

#44549 Use test timings token when available
  .github/workflows/build_test_deploy.yml
  run-tests.js
Labels: created-by: Next.js team

#44548 Update json5 dependency to latest
  package.json
  packages/next/package.json
  packages/next/src/compiled/json5/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#44546 Remove un-used app-dir test fixture
  test/e2e/app-dir/app-typescript/app/@test/inner/page.tsx
  test/e2e/app-dir/app-typescript/app/layout.tsx
  test/e2e/app-dir/app-typescript/next.config.js
  test/e2e/app-dir/app-typescript/package.json
  test/e2e/app-dir/app-typescript/pages/index.tsx
  test/e2e/app-dir/app-typescript/tsconfig.json
Labels: created-by: Next.js team

#44550 Fix prettierignore_staged for compiled
  .prettierignore_staged
Labels: created-by: Next.js team

#44533 [examples] add @types/testing-library__jest-dom package
  examples/with-jest-babel/package.json
  examples/with-jest/package.json
Labels: area: examples

#44538 Improve errors caused by client hook called in a server component
  errors/manifest.json
  errors/react-client-hook-in-server-component.md
  packages/next/src/lib/format-server-error.ts
  packages/next/src/server/app-render.tsx
  test/development/acceptance-app/server-components.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#44566 Revert "Use turbo for packing files in test setup (#44074)"
  .github/actions/next-stats-action/package.json
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  package.json
  test/lib/create-next-install.js
Labels: created-by: Next.js team

#44573 Docs: Update `next/font` to `@next/font`
  docs/upgrading.md
Labels: area: documentation

#44572 Improvements to Cloudinary Example
  examples/with-cloudinary/package.json
  examples/with-cloudinary/pages/index.tsx
  examples/with-cloudinary/utils/generateBlurPlaceholder.ts
Labels: area: examples

#44560 Improve modularized imports docs and add config options to example
  docs/advanced-features/compiler.md
  docs/going-to-production.md
  examples/modularize-imports/README.md
  examples/modularize-imports/components/ui/heading-large.tsx
  examples/modularize-imports/components/ui/index.tsx
  examples/modularize-imports/next.config.js
  examples/modularize-imports/pages/index.tsx
Labels: area: examples, area: documentation

#44576 Remove extra pnp test
  test/e2e/yarn-pnp/test/pwa-example.test.ts
Labels: created-by: Next.js team

#44567 Remove unused `target: es5` from `tsconfig.json`
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
  test/integration/tsconfig-verifier/test/index.test.js
Labels: type: next, created-by: Next.js team

#44577 Update CNA tests running
  .github/workflows/build_test_deploy.yml
  scripts/run-for-change.js
Labels: area: create-next-app, created-by: Next.js team

#44580 Remove old links in docs.
  docs/going-to-production.md
Labels: area: documentation, created-by: Next.js team

#43762 Test navigation between multiple root layouts
  test/e2e/app-dir/root-layout/app/(multiple-root)/(root-a)/layout.js
  test/e2e/app-dir/root-layout/app/(multiple-root)/(root-a)/root-layout-a/page.js
  test/e2e/app-dir/root-layout/app/(multiple-root)/(root-b)/layout.js
  test/e2e/app-dir/root-layout/app/(multiple-root)/(root-b)/root-layout-b/page.js
  test/e2e/app-dir/root-layout/root-layout.test.ts
Labels: area: examples, area: documentation, created-by: Next.js team

#44592 misc: fix benchmark script
  bench/vercel/bench.js
  bench/vercel/benchmark-app/app/layout.js
  bench/vercel/benchmark-app/app/rsc/page.js
  bench/vercel/benchmark-app/pages/index.js
  bench/vercel/chart.js
  bench/vercel/gen-request.js
  bench/vercel/generate-package-json.js
  bench/vercel/project-utils.js
Labels: created-by: Next.js team

#44257 Create i18n example using app-dir and middleware
  examples/app-dir-i18n-routing/.gitignore
  examples/app-dir-i18n-routing/.vscode/settings.json
  examples/app-dir-i18n-routing/README.md
  examples/app-dir-i18n-routing/app/[lang]/components/counter.tsx
  examples/app-dir-i18n-routing/app/[lang]/components/locale-switcher.tsx
  examples/app-dir-i18n-routing/app/[lang]/head.tsx
  examples/app-dir-i18n-routing/app/[lang]/page.tsx
  examples/app-dir-i18n-routing/app/layout.tsx
  examples/app-dir-i18n-routing/dictionaries/cs.json
  examples/app-dir-i18n-routing/dictionaries/de.json
  examples/app-dir-i18n-routing/dictionaries/en.json
  examples/app-dir-i18n-routing/get-dictionary.ts
  examples/app-dir-i18n-routing/i18n-config.ts
  examples/app-dir-i18n-routing/middleware.ts
  examples/app-dir-i18n-routing/next.config.js
  examples/app-dir-i18n-routing/package.json
  examples/app-dir-i18n-routing/tsconfig.json
Labels: area: examples, created-by: Next.js team

#44597 Add lang, generateStaticParams, and server-only for i18n example
  examples/app-dir-i18n-routing/app/[lang]/layout.tsx
  examples/app-dir-i18n-routing/app/layout.tsx
  examples/app-dir-i18n-routing/get-dictionary.ts
Labels: area: examples, created-by: Next.js team

#44587 [docs/bugfix] fix code example for "Prefixing the Default Locale" - NEXT_LOCALE cookie usage
  docs/advanced-features/i18n-routing.md
Labels: area: documentation

#44606 Update CNA test skipping
  .github/workflows/build_test_deploy.yml
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/templates.test.ts
Labels: created-by: Next.js team

#44610 Disable telemetry for `pnpm next` when contributing locally
  package.json
Labels: created-by: Next.js team

#44502 Make static page prefetch apply on navigation in app dir
  packages/next/src/client/components/reducer.ts
  test/e2e/app-dir/app-prefetch/app/dashboard/page.js
  test/e2e/app-dir/app-prefetch/app/page.js
  test/e2e/app-dir/app-prefetch/app/static-page/page.js
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team

#44594 Update subset validation in @next/font/google and fix CJK bug
  errors/google-fonts-missing-subsets.md
  packages/font/src/google/font-data.json
  packages/font/src/google/index.ts
  packages/font/src/google/loader.ts
  packages/font/src/google/utils.ts
  scripts/update-google-fonts.js
  test/e2e/next-font/google-font-mocked-responses.js
  test/production/jest/index.test.ts
  test/unit/google-font-loader.test.ts
Labels: area: documentation, created-by: Next.js team

#44613 Update flakey styled-components test
  test/development/basic/styled-components-disabled.test.ts
Labels: created-by: Next.js team

#43939 remove unnecessary babel.config.js in react native web example
  examples/with-react-native-web/babel.config.js
  examples/with-react-native-web/package.json
Labels: area: examples

#44616 Temporarily disable Azure e2e tests
  azure-pipelines.yml
Labels: created-by: Next.js team

#44617 Fix docs only change for canary
  scripts/run-for-change.js
Labels: created-by: Next.js team

#44588 Improve errors caused by Next.js client hook called in a server component
  packages/next/src/client/components/client-hook-in-server-component-error.ts
  packages/next/src/client/components/navigation.ts
  test/development/acceptance-app/server-components.test.ts
Labels: type: next, created-by: Next.js team

#44618 Fix font unit test on Azure
  test/unit/google-font-loader.test.ts
Labels: created-by: Next.js team

#44614 Add updated flush handling on sigterm
  packages/next/src/cli/next-dev.ts
  packages/next/src/telemetry/deteched-flush.ts
  packages/next/src/telemetry/post-payload.ts
  packages/next/src/telemetry/storage.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#44656 Update mdx docs example to show merging config
  docs/advanced-features/using-mdx.md
Labels: area: documentation, created-by: Next.js team

#44642 docs: clarify default `basePath` value
  docs/api-reference/next.config.js/basepath.md
Labels: area: documentation, created-by: Next.js team

#44659 docs(middleware): add _next/image to match ignore
  docs/advanced-features/middleware.md
Labels: area: documentation

#44661 Fix paths for check-examples script
  scripts/check-examples.sh
Labels: created-by: Next.js team

#44563 chore: improves console warnings related to edge runtime
  packages/next/src/build/analysis/get-page-static-info.ts
  test/e2e/edge-configurable-runtime/index.test.ts
Labels: type: next

#44640 Update to with-supertokens example
  examples/with-supertokens/package.json
Labels: area: examples

#44627 feat(standalone): allow configuring `HOSTNAME` via env var
  packages/next/src/build/utils.ts
Labels: type: next, created-by: Next.js team

#44227 Change test template to use TS and improve template for `app-dir`
  lint-staged.config.js
  plopfile.js
  test/e2e/app-dir/test-template/{{ toFileName name }}/app/layout.tsx
  test/e2e/app-dir/test-template/{{ toFileName name }}/app/page.tsx
  test/e2e/app-dir/test-template/{{ toFileName name }}/next.config.js
  test/e2e/app-dir/test-template/{{ toFileName name }}/{{ toFileName name }}.test.ts
  test/e2e/test-template/{{ toFileName name }}/pages/index.tsx
  test/e2e/test-template/{{ toFileName name }}/{{ toFileName name }}.test.ts
Labels: created-by: Next.js team

#44664 Replace usage of example.com in gssp-redirect tests
  test/integration/gssp-redirect-base-path/pages/gsp-blog/[post].js
  test/integration/gssp-redirect-base-path/pages/gssp-blog/[post].js
  test/integration/gssp-redirect-base-path/test/index.test.js
  test/integration/gssp-redirect/pages/gsp-blog-blocking/[post].js
  test/integration/gssp-redirect/pages/gsp-blog/[post].js
  test/integration/gssp-redirect/pages/gssp-blog/[post].js
  test/integration/gssp-redirect/test/index.test.js
Labels: created-by: Next.js team

#44651 Add support for rendering MDX as a server component
  examples/app-dir-mdx/.gitignore
  examples/app-dir-mdx/README.md
  examples/app-dir-mdx/app/globals.css
  examples/app-dir-mdx/app/head.tsx
  examples/app-dir-mdx/app/layout.tsx
  examples/app-dir-mdx/app/message.mdx
  examples/app-dir-mdx/app/page.module.css
  examples/app-dir-mdx/app/page.tsx
  examples/app-dir-mdx/mdx-components.tsx
  examples/app-dir-mdx/next.config.js
  examples/app-dir-mdx/package.json
  examples/app-dir-mdx/public/favicon.ico
  examples/app-dir-mdx/public/next.svg
  examples/app-dir-mdx/public/vercel.svg
  examples/app-dir-mdx/tsconfig.json
  examples/app-dir-mdx/types/mdx.d.ts
  packages/next-mdx/index.js
Labels: area: examples, created-by: Next.js team

#44666 Ensure yarn is used for next-with-deps
  scripts/next-with-deps.sh
Labels: created-by: Next.js team

#44669 Fix check-precompiled for next-server
  packages/next/src/compiled/next-server/next-server.js
  packages/next/src/compiled/next-server/style.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#44668 Refactor use of AsyncLocalStorage
  packages/next/src/client/components/async-local-storage.ts
  packages/next/src/client/components/bailout-to-client-rendering.ts
  packages/next/src/client/components/headers.ts
  packages/next/src/client/components/request-async-storage.ts
  packages/next/src/client/components/static-generation-async-storage.ts
  packages/next/src/client/components/static-generation-bailout.ts
  packages/next/src/server/app-render.tsx
  packages/next/src/server/run-with-request-async-storage.ts
  packages/next/src/server/run-with-static-generation-async-storage.ts
Labels: type: next, created-by: Next.js team

#44677 Update redirects.md to fix a typo.
  docs/api-reference/next.config.js/redirects.md
Labels: area: documentation

#44694 Add required default value for the ids parameter
  packages/next/src/shared/lib/loadable.ts
Labels: type: next

#44714 Fix broken links in @next/font API reference
  docs/api-reference/next/font.md
Labels: area: documentation, created-by: Next.js team

#44716 Start client compiler when server components are finished compiling
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
Labels: type: next, created-by: Next.js team

#44720 Fix new-error command
  plopfile.js
Labels: created-by: Next.js team

#44732 fix: support runtime value when using multiple declarations per export
  packages/next/src/build/analysis/get-page-static-info.ts
  test/e2e/switchable-runtime/app/app-valid-runtime/page.js
  test/e2e/switchable-runtime/index.test.ts
Labels: type: next, created-by: Next.js team

#44713 @next/font/google unknown font error
  packages/font/src/google/utils.ts
  test/unit/google-font-loader.test.ts
Labels: created-by: Next.js team

#44734 Add missing modularizeImports on config snippets
  docs/advanced-features/compiler.md
Labels: area: documentation, created-by: Next.js team

#44672 Update prompts for CNA and add default @/* alias
  docs/api-reference/create-next-app.md
  packages/create-next-app/create-app.ts
  packages/create-next-app/index.ts
  packages/create-next-app/templates/app/js/jsconfig.json
  packages/create-next-app/templates/app/ts/tsconfig.json
  packages/create-next-app/templates/default/js/jsconfig.json
  packages/create-next-app/templates/default/js/pages/_app.js
  packages/create-next-app/templates/default/js/pages/index.js
  packages/create-next-app/templates/default/ts/pages/_app.tsx
  packages/create-next-app/templates/default/ts/pages/index.tsx
  packages/create-next-app/templates/default/ts/tsconfig.json
  packages/create-next-app/templates/index.ts
  packages/create-next-app/templates/types.ts
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/lib/specification.ts
  test/integration/create-next-app/lib/types.ts
  test/integration/create-next-app/lib/utils.ts
  test/integration/create-next-app/templates.test.ts
Labels: area: documentation, area: create-next-app, created-by: Next.js team

#44735 land(Fix: Add trailing slash to locale redirect based on next config)
  packages/next/src/shared/lib/i18n/get-locale-redirect.ts
  test/integration/i18n-support/test/index.test.js
Labels: type: next, created-by: Next.js team

#44741 Hydration error link is appended multiple times in app-dir
  packages/next/src/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
Labels: type: next, created-by: Next.js team

#44726 Improve errors caused by Class Component rendered in a server component.
  errors/class-component-in-server-component.md
  errors/manifest.json
  packages/next/src/lib/format-server-error.ts
  test/development/acceptance-app/server-components.test.ts
Labels: area: documentation, type: next, created-by: Next.js team

#44746 @next/font: Add preconnect tag when fonts are used but not preloaded in app-dir
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/next-font/app/(preconnect)/layout.js
  test/e2e/app-dir/next-font/app/(preconnect)/no-preconnect/page.js
  test/e2e/app-dir/next-font/app/(preconnect)/no-preconnect/styles.module.css
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-component/comp.js
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-component/comp.woff2
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-component/page.js
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-layout/layout.js
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-layout/layout.woff2
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-layout/page.js
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-page/page.js
  test/e2e/app-dir/next-font/app/(preconnect)/preconnect-page/page.woff2
  test/e2e/app-dir/next-font/app/(preload)/Comp.js
  test/e2e/app-dir/next-font/app/(preload)/client/Comp.js
  test/e2e/app-dir/next-font/app/(preload)/client/layout.js
  test/e2e/app-dir/next-font/app/(preload)/client/page.js
  test/e2e/app-dir/next-font/app/(preload)/layout-with-fonts/layout-font.woff2
  test/e2e/app-dir/next-font/app/(preload)/layout-with-fonts/layout.js
  test/e2e/app-dir/next-font/app/(preload)/layout-with-fonts/page.js
  test/e2e/app-dir/next-font/app/(preload)/layout.js
  test/e2e/app-dir/next-font/app/(preload)/page-with-fonts/layout.js
  test/e2e/app-dir/next-font/app/(preload)/page-with-fonts/page-font.woff2
  test/e2e/app-dir/next-font/app/(preload)/page-with-fonts/page.js
  test/e2e/app-dir/next-font/app/(preload)/page.js
  test/e2e/app-dir/next-font/next-font.test.ts
Labels: type: next, created-by: Next.js team

#44745 Ensure folder exists for standalone server
  packages/next/src/build/utils.ts
Labels: type: next

#44757 Migrate set-output usage to $GITHB_OUTPUT
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/templates.test.ts
Labels: created-by: Next.js team

#44707 chore: Update `swc_core` to `v0.53.0`
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#44760 Revert "chore: Update `swc_core` to `v0.53.0`"
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next, created-by: Next.js team

#44761 chore: fix typo
  packages/next/src/build/swc/index.ts
Labels: type: next

#44536 Add simple test that custom server works
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
  test/production/custom-server/custom-server.test.ts
  test/production/custom-server/pages/a.js
  test/production/custom-server/pages/c.js
  test/production/custom-server/pages/page-b.js
  test/production/custom-server/server.js
Labels: created-by: Next.js team

#44776 Migrate basic-basepath tests into basic
  test/development/basic-basepath/hmr.test.ts
  test/development/basic-basepath/hmr/components/hmr/dynamic.js
  test/development/basic-basepath/hmr/pages/hmr/about.js
  test/development/basic-basepath/hmr/pages/hmr/about1.js
  test/development/basic-basepath/hmr/pages/hmr/about2.js
  test/development/basic-basepath/hmr/pages/hmr/about3.js
  test/development/basic-basepath/hmr/pages/hmr/about4.js
  test/development/basic-basepath/hmr/pages/hmr/about5.js
  test/development/basic-basepath/hmr/pages/hmr/about6.js
  test/development/basic-basepath/hmr/pages/hmr/about7.js
  test/development/basic-basepath/hmr/pages/hmr/contact.js
  test/development/basic-basepath/hmr/pages/hmr/counter.js
  test/development/basic-basepath/hmr/pages/hmr/error-in-gip.js
  test/development/basic-basepath/hmr/pages/hmr/index.js
  test/development/basic-basepath/hmr/pages/hmr/style-dynamic-component.js
  test/development/basic-basepath/hmr/pages/hmr/style-stateful-component.js
  test/development/basic-basepath/hmr/pages/hmr/style.js
  test/development/basic-basepath/misc.test.ts
  test/development/basic-basepath/misc/pages/about.js
  test/development/basic-basepath/misc/pages/development-logs/index.js
  test/development/basic-basepath/misc/pages/development-logs/link-with-no-prefetch.js
  test/development/basic-basepath/misc/pages/development-logs/link-with-prefetch-false.js
  test/development/basic-basepath/misc/pages/process-env.js
  test/development/basic-basepath/misc/public/data/data.txt
  test/development/basic-basepath/misc/public/static/legacy.txt
  test/development/basic-basepath/next-dynamic.test.ts
  test/development/basic-basepath/next-dynamic/components/hello-chunkfilename.js
  test/development/basic-basepath/next-dynamic/components/hello-context.js
  test/development/basic-basepath/next-dynamic/components/hello1.js
  test/development/basic-basepath/next-dynamic/components/hello2.js
  test/development/basic-basepath/next-dynamic/components/hello3.js
  test/development/basic-basepath/next-dynamic/components/hello4.js
  test/development/basic-basepath/next-dynamic/components/nested1.js
  test/development/basic-basepath/next-dynamic/components/nested2.js
  test/development/basic-basepath/next-dynamic/components/welcome.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/chunkfilename.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/function.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/head.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/index.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/multiple-modules.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/nested.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/no-chunk.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/no-ssr-custom-loading.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/no-ssr.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/ssr-true.js
  test/development/basic-basepath/next-dynamic/pages/dynamic/ssr.js
  test/development/basic/hmr.test.ts
  test/development/basic/misc.test.ts
  test/development/basic/next-dynamic.test.ts
Labels: created-by: Next.js team

#44774 Autolabel with linear when labeled with kind: bug
  .github/actions/issue-auto-label/.gitignore
  .github/actions/issue-auto-label/action.yaml
  .github/actions/issue-auto-label/index.js
  .github/actions/issue-auto-label/licenses.txt
  .github/actions/issue-auto-label/package-lock.json
  .github/actions/issue-auto-label/package.json
  .github/actions/issue-auto-label/src/index.ts
  .github/actions/issue-auto-label/tsconfig.json
  .github/workflows/issue_auto_label.yml
  .github/workflows/issue_labeler.yml
Labels: created-by: Next.js team

#44789 Fix set output handling for DOCS_CHANGE env
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
Labels: created-by: Next.js team

#44787 Fix app ISR handling with no generateStaticParams
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  test/e2e/app-dir/app-static/app-static.test.ts
Labels: type: next, created-by: Next.js team

#44788 Clarify middleware.ts location in docs
  docs/advanced-features/middleware.md
Labels: area: documentation

#44771 Update: SharedModal.tsx swipe bug in with-cloudinary
  examples/with-cloudinary/components/SharedModal.tsx
Labels: area: examples

#44791 Update to latest version of pnpm
  .github/actions/next-stats-action/Dockerfile
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
  azure-pipelines.yml
  package.json
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/sass-loader/fibers.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#44820 [example] Add missing package in app dir i18n example
  examples/app-dir-i18n-routing/package.json
Labels: area: examples

#44775 Fix router.refresh() resetting state and Suspense boundaries
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/reducer.ts
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/app/app/navigation/refresh/navigate-then-refresh-bug/page-to-refresh/page.js
  test/e2e/app-dir/app/app/navigation/refresh/navigate-then-refresh-bug/page.js
  test/e2e/app-dir/app/index.test.ts
Labels: type: next, created-by: Next.js team

#44809 Correctly handle @next/font/google fonts without any preloadable subsets
  packages/font/src/google/utils.ts
  test/e2e/next-font/app/pages/font-without-preloadable-subsets.js
  test/e2e/next-font/google-font-mocked-responses.js
  test/e2e/next-font/index.test.ts
Labels: created-by: Next.js team

#44828 Update release stats for newer pnpm version
  .github/actions/next-stats-action/src/index.js
Labels: created-by: Next.js team

#44831 Fix image emittion for pure client image
  packages/next/src/build/webpack/loaders/next-image-loader.ts
  test/integration/next-image-legacy/default/components/static-img.js
  test/integration/next-image-legacy/default/pages/dynamic-static-img.js
  test/integration/next-image-legacy/default/test/index.test.ts
  test/integration/next-image-new/default/components/static-img.js
  test/integration/next-image-new/default/pages/dynamic-static-img.js
  test/integration/next-image-new/default/test/index.test.ts
Labels: type: next, created-by: Next.js team

#44833 Fix FreeBSD next-swc build
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#44823 port `type: needs investigation` into linear
  .github/actions/issue-auto-label/index.js
  .github/actions/issue-auto-label/src/index.ts
Labels: created-by: Next.js team

#44815 Create new action that will auto-label issues that have some activity after we mark them as "verify-canary" or "add repro""
  .github/actions/issue-on-comment/.gitignore
  .github/actions/issue-on-comment/action.yaml
  .github/actions/issue-on-comment/index.js
  .github/actions/issue-on-comment/licenses.txt
  .github/actions/issue-on-comment/package-lock.json
  .github/actions/issue-on-comment/package.json
  .github/actions/issue-on-comment/src/index.ts
  .github/actions/issue-on-comment/tsconfig.json
  .github/actions/issue-on-label/.gitignore
  .github/actions/issue-on-label/action.yaml
  .github/actions/issue-on-label/index.js
  .github/actions/issue-on-label/licenses.txt
  .github/actions/issue-on-label/package-lock.json
  .github/actions/issue-on-label/package.json
  .github/actions/issue-on-label/src/index.ts
  .github/actions/issue-on-label/tsconfig.json
  .github/workflows/issue_on_comment.yml
  .github/workflows/issue_on_label.yml
Labels: created-by: Next.js team

#43545 test(snapshot): allow snapshot test not invalidate with --turbo
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox-builtins.test.ts.snap
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/ReactRefreshLogBox-app-doc.test.ts
  test/development/acceptance/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox-app-doc.test.ts.snap
  test/development/acceptance/__snapshots__/ReactRefreshLogBox-builtins.test.ts.snap
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/lib/next-test-utils.js
Labels: created-by: Next.js team

#44862 Update building-forms.md
  docs/guides/building-forms.md
Labels: area: documentation

#44861 Add built-in server-only and client-only
  packages/next/package.json
  packages/next/src/build/webpack/require-hook.ts
  packages/next/src/compiled/client-only/error.js
  packages/next/src/compiled/client-only/index.js
  packages/next/src/compiled/client-only/package.json
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/server-only/empty.js
  packages/next/src/compiled/server-only/index.js
  packages/next/src/compiled/server-only/package.json
  packages/next/taskfile.js
  pnpm-lock.yaml
  test/e2e/app-dir/rsc-errors/app/client-with-errors/server-only-in-client/page.js
  test/e2e/app-dir/rsc-errors/app/client-with-errors/server-only-in-client/server-only-lib.js
  test/e2e/app-dir/rsc-errors/app/server-with-errors/client-only-in-server/client-only-lib.js
  test/e2e/app-dir/rsc-errors/app/server-with-errors/client-only-in-server/page.js
  test/e2e/app-dir/rsc-errors/rsc-errors.test.ts
Labels: type: next, created-by: Next.js team

#44870 Remove extra styled-components disabled test
  test/development/basic/styled-components-disabled.test.ts
Labels: created-by: Next.js team

#44873 Handle empty module from the next dynamic loader
  packages/next/src/shared/lib/dynamic.tsx
  test/e2e/app-dir/rsc-errors/rsc-errors.test.ts
Labels: type: next, created-by: Next.js team

#44872 Prompt for custom import alias and store preferences in CNA
  .github/workflows/build_test_deploy.yml
  docs/api-reference/create-next-app.md
  packages/create-next-app/create-app.ts
  packages/create-next-app/index.ts
  packages/create-next-app/package.json
  packages/create-next-app/templates/index.ts
  packages/create-next-app/templates/types.ts
  pnpm-lock.yaml
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/lib/utils.ts
  test/integration/create-next-app/templates.test.ts
Labels: area: documentation, area: create-next-app, created-by: Next.js team

#44874 Update pre-compiled
  package.json
  packages/next/src/compiled/sass-loader/cjs.js
Labels: type: next, created-by: Next.js team

#44881 Use sequentialRead while encoding images with sharp
  packages/next/src/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#44894 Removes title warning from cms example
  examples/blog-starter/pages/index.tsx
Labels: area: examples

#44898 Next/Script documentation beforeInteractive inconsistency
  docs/api-reference/next/script.md
  packages/create-next-app/index.ts
Labels: area: documentation, area: create-next-app

#44910 Move server-external-packages to JSON
  packages/next/src/build/webpack-config.ts
  packages/next/src/lib/server-external-packages.json
  packages/next/src/lib/server-external-packages.ts
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#44887 fix standalone wrong url being logged
  packages/next/src/build/utils.ts
  test/production/standalone-mode/response-cache/index.test.ts
Labels: type: next

#44914 Fix prepublish compiled handling
  package.json
  scripts/check-pre-compiled.sh
Labels: created-by: Next.js team

#44916 fix(docs): update broken link for preset.ts
  docs/advanced-features/customizing-babel-config.md
Labels: area: documentation

#44912 Update test env variable passing
  .github/workflows/build_test_deploy.yml
  run-tests.js
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/basic/hmr.test.ts
  test/development/basic/next-dynamic.test.ts
  test/e2e/404-page-router/index.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/global-error/global-error.test.ts
  test/e2e/app-dir/navigation-and-querystring/navigation-and-querystring.test.ts
  test/e2e/app-dir/rsc-errors/app/client-with-errors/dynamic/page.js
  test/e2e/app-dir/rsc-errors/rsc-errors.test.ts
  test/e2e/app-dir/use-selected-layout-segment-s/app/layout.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/different-segment/page.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/app/segment-name/[param1]/segment-name2/[param2]/[...catchall]/page.tsx
  test/e2e/app-dir/use-selected-layout-segment-s/use-selected-layout-segment-s.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-shallow-link/index.test.ts
  test/e2e/prerender.test.ts
  test/e2e/switchable-runtime/index.test.ts
  test/e2e/type-module-interop/index.test.ts
  test/integration/client-navigation/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/config-devtool-dev/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/integration/invalid-href/test/index.test.js
  test/integration/next-image-legacy/base-path/test/index.test.ts
  test/integration/next-image-legacy/default/test/index.test.ts
  test/integration/next-image-new/base-path/test/index.test.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/next-image-new/invalid-image-import/test/index.test.ts
  test/integration/react-18/test/index.test.js
  test/integration/telemetry/test/index.test.js
  test/integration/with-router/test/index.test.js
Labels: created-by: Next.js team

#44865 Custom RSC compiler error message in pages/
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseRSC.ts
  test/development/acceptance/server-component-compiler-errors-in-pages.test.ts
Labels: type: next, created-by: Next.js team

#44935 Support Prefer Offline for testing
  contributing/core/testing.md
  test/lib/create-next-install.js
Labels: created-by: Next.js team

#44939 Fix Node.js version to 14.6.0 in Upgrading guide.
  docs/upgrading.md
Labels: area: documentation, created-by: Next.js team

#44937 Update test env for E2E deploy mode
  .github/workflows/build_test_deploy.yml
  test/e2e/404-page-router/index.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/interpolability-with-pages/navigation.test.ts
  test/e2e/app-dir/rewrites-redirects/rewrites-redirects.test.ts
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: created-by: Next.js team

#44936 Replace eslint rule for `no-shadow` with `typescript-eslint/no-shadow`
  .eslintrc.json
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#44958 Ensure rootLayoutIncluded is set on partial render
  packages/next/src/server/app-render.tsx
Labels: type: next, created-by: Next.js team

#44951 Fix force-static description in next-typescript
  packages/next/src/server/next-typescript.ts
Labels: type: next, created-by: Next.js team

#44964 Fix `with-stencil` example
  examples/with-stencil/packages/test-component/package.json
  examples/with-stencil/packages/web-app/package.json
Labels: area: examples

#44960 update redirects.md
  docs/api-reference/next.config.js/redirects.md
Labels: area: documentation

#44938 Fix CSS imports being tracked multiple times
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/app/app/css/css-duplicate-2/client/page.js
  test/e2e/app-dir/app/app/css/css-duplicate-2/layout.js
  test/e2e/app-dir/app/app/css/css-duplicate-2/server/page.js
  test/e2e/app-dir/app/app/css/css-duplicate-2/style.module.css
  test/e2e/app-dir/app/index.test.ts
Labels: type: next, created-by: Next.js team

#44890 Use withoutEnlargement instead of sharp.metadata()
  packages/next/src/server/image-optimizer.ts
Labels: type: next

#44975 Add AsyncLocalStorage to edge-runtime APIs
  docs/api-reference/edge-runtime.md
Labels: area: documentation, created-by: Next.js team

#44981 Update res.revalidate to pass through headers
  packages/next/src/server/api-utils/node.ts
Labels: type: next, created-by: Next.js team

#44984 Update some flakey acceptance tests
  test/development/acceptance-app/ReactRefreshLogBox-scss.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshLogBoxMisc.test.ts
  test/development/acceptance-app/ReactRefreshModule.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance/ReactRefreshLogBox-app-doc.test.ts
  test/development/acceptance/ReactRefreshLogBox-scss.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshLogBoxMisc.test.ts
  test/development/acceptance/ReactRefreshModule.test.ts
  test/development/acceptance/ReactRefreshRegression.test.ts
Labels: created-by: Next.js team

#44985 Add experimental.allowedRevalidateHeaderKeys config
  packages/next/src/server/api-utils/node.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#44986 Gracefully handle telemetry not being available
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/telemetry/events/swc-load-failure.ts
  packages/next/src/trace/report/to-telemetry.ts
  packages/next/src/trace/shared.ts
  test/e2e/yarn-pnp/test/utils.ts
  test/e2e/yarn-pnp/test/with-eslint.test.ts
  test/e2e/yarn-pnp/test/with-mdx.test.ts
  test/e2e/yarn-pnp/test/with-next-sass.test.ts
Labels: type: next, created-by: Next.js team

#44987 Optimize to skip upload for non-publish swc builds
  .github/workflows/build_test_deploy.yml
  scripts/run-for-change.js
Labels: created-by: Next.js team

#45014 Update test timings token env
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#45015 Ensure force-dynamic is honored during build
  packages/next/src/build/utils.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/force-dynamic-no-prerender/[id]/page.js
Labels: type: next, created-by: Next.js team

#44715 Fix turbo usage in tests
  .github/actions/next-stats-action/package.json
  .github/actions/next-stats-action/src/constants.js
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  .gitignore
  package.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/font/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-dev-overlay/package.json
  packages/react-refresh-utils/package.json
  pnpm-lock.yaml
  scripts/test-pack-package.mts
  scripts/trace-next-server.js
  test/lib/create-next-install.js
  test/lib/next-modes/base.ts
  turbo.json
Labels: type: next, area: create-next-app, created-by: Next.js team

#44911 Add project directory rename/remove handling
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox-scss.test.ts.snap
  test/development/basic/project-directory-rename.test.ts
  test/e2e/app-dir/create-root-layout/create-root-layout.test.ts
  test/e2e/edge-configurable-runtime/index.test.ts
  test/integration/edge-runtime-module-errors/test/index.test.js
  test/integration/next-image-new/invalid-image-import/test/index.test.ts
  test/integration/project-dir-delete/index.test.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
Labels: type: next, created-by: Next.js team

#45018 chore: open dev overlay error links in new tab
  packages/react-dev-overlay/src/internal/container/Errors.tsx
Labels: type: next

#44996 Remove next-app-loader from import trace
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
Labels: type: next, created-by: Next.js team

#45022 Ensure additional windows are not created on Windows OS
  packages/next/src/cli/next-dev.ts
  packages/next/src/telemetry/project-id.ts
  packages/next/src/telemetry/storage.ts
Labels: type: next, created-by: Next.js team

#45027 Fix release stats
  .github/actions/next-stats-action/src/constants.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
Labels: created-by: Next.js team

#44256 refactor: Latest Tigris sdk and example using decorators
  .eslintignore
  examples/with-tigris/.env.local.example
  examples/with-tigris/README.md
  examples/with-tigris/components/EachToDo.tsx
  examples/with-tigris/db/models/todoItems.ts
  examples/with-tigris/lib/tigris.ts
  examples/with-tigris/models/tigris/todoStarterApp/todoItems.ts
  examples/with-tigris/package.json
  examples/with-tigris/pages/api/item/[id].ts
  examples/with-tigris/pages/api/items/index.ts
  examples/with-tigris/pages/api/items/search.ts
  examples/with-tigris/pages/index.tsx
  examples/with-tigris/scripts/setup.ts
  examples/with-tigris/tsconfig.json
Labels: area: examples

#45038 Don't dispaly "Error: " twice when router isn't mounted
  packages/next/src/client/router.ts
Labels: type: next, created-by: Next.js team

#44857 Display the reason of hydration error in error overlay
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/hydration-error-info.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance-app/hydration-error.test.ts
Labels: type: next, created-by: Next.js team

#45055 Remove legacy safari test
  .github/workflows/build_test_deploy.yml
Labels: created-by: Next.js team

#44128 Fix typescript plugin
  packages/next/src/server/next-typescript.ts
Labels: type: next

#44968 Add shiki and vscode-oniguruma to default server-external packages
  packages/next/src/lib/server-external-packages.json
Labels: type: next

#45010 Fix error when CSS @import fails to resolve
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/integration/jsconfig-baseurl/test/index.test.js
  test/integration/jsconfig-paths/test/index.test.js
Labels: type: next, created-by: Next.js team

#45066 Fix next/dynamic non ssr in pages when appDir is enabled
  packages/next-swc/crates/core/src/lib.rs
  packages/next/src/build/swc/options.ts
  packages/next/src/build/webpack/loaders/next-swc-loader.ts
  test/e2e/app-dir/dynamic/app/.gitkeep
  test/e2e/app-dir/dynamic/dynamic.test.ts
  test/e2e/app-dir/dynamic/next.config.js
  test/e2e/app-dir/dynamic/pages/no-ssr.js
  test/e2e/app-dir/dynamic/ui/pure-client.js
Labels: type: next, created-by: Next.js team

#45073 Fix broken argument for rewrites on link reference docs
  docs/api-reference/next/link.md
Labels: area: documentation

#44729 Initial support for metadata
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  packages/next/src/client/components/head.tsx
  packages/next/src/lib/metadata/default-metadata.ts
  packages/next/src/lib/metadata/generate/alternate.tsx
  packages/next/src/lib/metadata/generate/basic.tsx
  packages/next/src/lib/metadata/generate/opengraph.tsx
  packages/next/src/lib/metadata/generate/utils.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/resolve-opengraph.ts
  packages/next/src/lib/metadata/resolve-title.ts
  packages/next/src/lib/metadata/types/alternative-urls-types.ts
  packages/next/src/lib/metadata/types/extra-types.ts
  packages/next/src/lib/metadata/types/manifest-types.ts
  packages/next/src/lib/metadata/types/metadata-interface.ts
  packages/next/src/lib/metadata/types/metadata-types.ts
  packages/next/src/lib/metadata/types/opengraph-types.ts
  packages/next/src/lib/metadata/types/twitter-types.ts
  packages/next/src/lib/metadata/ui.tsx
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/metadata/app/alternate/page.js
  test/e2e/app-dir/metadata/app/basic/page.js
  test/e2e/app-dir/metadata/app/layout.js
  test/e2e/app-dir/metadata/app/opengraph/article/page.js
  test/e2e/app-dir/metadata/app/opengraph/page.js
  test/e2e/app-dir/metadata/app/page.js
  test/e2e/app-dir/metadata/app/title-template/extra/inner/page.js
  test/e2e/app-dir/metadata/app/title-template/extra/layout.js
  test/e2e/app-dir/metadata/app/title-template/extra/page.js
  test/e2e/app-dir/metadata/app/title-template/layout.js
  test/e2e/app-dir/metadata/app/title-template/page.js
  test/e2e/app-dir/metadata/app/title/page.js
  test/e2e/app-dir/metadata/app/viewport/object/page.js
  test/e2e/app-dir/metadata/metadata.test.ts
  test/e2e/app-dir/metadata/next.config.js
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team

#45083 Improve swc transforms
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/server-actions/1/input.js
  packages/next-swc/crates/core/tests/fixture/server-actions/1/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/2/input.js
  packages/next-swc/crates/core/tests/fixture/server-actions/2/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/3/input.js
  packages/next-swc/crates/core/tests/fixture/server-actions/3/output.js
  packages/next-swc/crates/core/tests/full.rs
Labels: type: next, created-by: Next.js team

#45079 Cannot redeclare block-scoped variable 'cookie'.
  docs/advanced-features/middleware.md
Labels: area: documentation

#45104 Fix metadata e2e test on deploy
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: created-by: Next.js team

#45092 Update @next/font/google data
  packages/font/src/google/font-data.json
  packages/font/src/google/index.ts
Labels: created-by: Next.js team

#44792 Update swc_core to `v0.56.0`
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/custom/simple/output.js
  packages/next-swc/crates/core/tests/fixture/react-remove-properties/default/simple/output.js
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/transform.rs
  packages/next-swc/crates/wasm/Cargo.toml
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/__snapshots__/ReactRefreshLogBox-app-doc.test.ts.snap
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/basic/hmr.test.ts
Labels: type: next, created-by: Next.js team

#45093 fix(#44077): allow edge runtime for api routes inside src/ folder
  packages/next/src/build/analysis/get-page-static-info.ts
  test/e2e/edge-configurable-runtime/app/src/pages/api/edge.js
  test/e2e/edge-configurable-runtime/app/src/pages/index.jsx
  test/e2e/edge-configurable-runtime/index.test.ts
Labels: type: next

#45111 Revert "Initial support for metadata (#44729)"
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  packages/next/src/client/components/head.tsx
  packages/next/src/lib/metadata/default-metadata.ts
  packages/next/src/lib/metadata/generate/alternate.tsx
  packages/next/src/lib/metadata/generate/basic.tsx
  packages/next/src/lib/metadata/generate/opengraph.tsx
  packages/next/src/lib/metadata/generate/utils.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/resolve-opengraph.ts
  packages/next/src/lib/metadata/resolve-title.ts
  packages/next/src/lib/metadata/types/alternative-urls-types.ts
  packages/next/src/lib/metadata/types/extra-types.ts
  packages/next/src/lib/metadata/types/manifest-types.ts
  packages/next/src/lib/metadata/types/metadata-interface.ts
  packages/next/src/lib/metadata/types/metadata-types.ts
  packages/next/src/lib/metadata/types/opengraph-types.ts
  packages/next/src/lib/metadata/types/twitter-types.ts
  packages/next/src/lib/metadata/ui.tsx
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/metadata/app/alternate/page.js
  test/e2e/app-dir/metadata/app/basic/page.js
  test/e2e/app-dir/metadata/app/layout.js
  test/e2e/app-dir/metadata/app/opengraph/article/page.js
  test/e2e/app-dir/metadata/app/opengraph/page.js
  test/e2e/app-dir/metadata/app/page.js
  test/e2e/app-dir/metadata/app/title-template/extra/inner/page.js
  test/e2e/app-dir/metadata/app/title-template/extra/layout.js
  test/e2e/app-dir/metadata/app/title-template/extra/page.js
  test/e2e/app-dir/metadata/app/title-template/layout.js
  test/e2e/app-dir/metadata/app/title-template/page.js
  test/e2e/app-dir/metadata/app/title/page.js
  test/e2e/app-dir/metadata/app/viewport/object/page.js
  test/e2e/app-dir/metadata/metadata.test.ts
  test/e2e/app-dir/metadata/next.config.js
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team
