Repository vercel/next.js, pull requests merged in 2023-06, with the labels that each got.

#50470 Add experimental id handling
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/route-loader.ts
  packages/next/src/export/index.ts
  packages/next/src/export/worker.ts
  packages/next/src/pages/_document.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/render.tsx
  packages/next/src/shared/lib/html-context.ts
  packages/next/src/shared/lib/image-loader.ts
  test/production/deployment-id-handling/app/app/from-app/edge/page.tsx
  test/production/deployment-id-handling/app/app/from-app/page.tsx
  test/production/deployment-id-handling/app/app/layout.tsx
  test/production/deployment-id-handling/app/global.css
  test/production/deployment-id-handling/app/pages/_app.tsx
  test/production/deployment-id-handling/app/pages/index.tsx
  test/production/deployment-id-handling/app/pages/pages-edge.tsx
  test/production/deployment-id-handling/app/public/test.jpg
  test/production/deployment-id-handling/deployment-id-handling.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#50620 Fix required check job
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#50632 Ensure swc builds are triggered eagerly
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
Labels: created-by: Next.js team

#50605 fix `@vercel/turbopack-node` types (and more turbopack updates)
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#50467 Add new `Google-InspectionTool` token to known bot UA list
  packages/next/src/server/web/spec-extension/user-agent.ts
Labels: type: next, CI approved

#50554 Ensure user-installed opentelemetry package has the minimal required version
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#50610 Remove `cssFiles` field
  packages/next-swc/crates/next-core/js/src/entry/app-renderer.tsx
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/server/app-render/get-css-inlined-link-tags.tsx
  test/e2e/app-dir/app-css/index.test.ts
Labels: type: next, created-by: Next.js team, area: Turbopack

#50683 Fix image loader file emission path for edge runtime
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-image-loader/index.ts
  test/integration/next-image-new/default/pages/edge.js
  test/integration/next-image-new/default/test/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#50673 chore: Enable `share-generics`
  .cargo/config.toml
Labels: created-by: web-tooling team

#49782 fix: a11y issues in the overlay component (HMR)
  packages/next/src/client/components/react-dev-overlay/internal/components/LeftRightDialogHeader/LeftRightDialogHeader.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/CallStackFrame.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/ComponentStackFrameRow.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
Labels: type: next

#50708 next/font: tolerate missing unused fields in capsize map
  packages/next-swc/crates/next-core/src/next_font/google/font_fallback.rs
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: web-tooling team

#50660 fix: conditional cookies in draft mode
  packages/next/src/client/components/draft-mode.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/render.tsx
  test/e2e/app-dir/draft-mode/app/with-cookies/page.tsx
  test/e2e/app-dir/draft-mode/draft-mode-node.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#50703 ci(workflow): allow to trigger native builds manually
  .github/workflows/build_and_deploy.yml
Labels: created-by: web-tooling team

#50745 Optimize next-app-loader resolving speed
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/lib/file-exists.ts
  packages/next/src/lib/verify-partytown-setup.ts
Labels: type: next, created-by: Next.js team

#50780 Add hello-world test for pages and app
  test/e2e/app-dir/hello-world/app/layout.tsx
  test/e2e/app-dir/hello-world/app/page.tsx
  test/e2e/app-dir/hello-world/hello-world.test.ts
  test/e2e/app-dir/hello-world/next.config.js
  test/e2e/hello-world/hello-world.test.ts
  test/e2e/hello-world/pages/index.tsx
Labels: created-by: Next.js team, area: tests

#50792 Improve compile time on large application
  packages/next/package.json
  packages/next/src/cli/next-dev.ts
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/watchpack/watchpack.js
  packages/next/src/compiled/webpack/bundle5.js
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, CI approved

#50651 fix(next-swc): reenable filesystem cache
  Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
Labels: type: next, created-by: web-tooling team

#50619 ci(workflow): enable datadog traces for the tests
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  run-tests.js
Labels: created-by: web-tooling team

#50815 Revert "ci(workflow): enable datadog traces for the tests"
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  run-tests.js
Labels: created-by: web-tooling team

#50600 ci(workflow): upload Turbopack bytesize to datadog pipeline
  .github/workflows/build_and_deploy.yml
Labels: created-by: web-tooling team

#50372 change(create-next-app): Get-pkg-manager logic change.
  packages/create-next-app/helpers/get-pkg-manager.ts
Labels: area: create-next-app

#50822 Update fetch dynamic error handling
  packages/next/src/client/components/static-generation-async-storage.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#50824 Update PR stats next-swc build
  .github/workflows/pull_request_stats.yml
Labels: created-by: Next.js team

#50795 Bail out of 404 page when favicon.ico doesn't exist
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/hello-world/app/favicon.ico
  test/e2e/hello-world/public/favicon.ico
Labels: type: next, created-by: Next.js team

#50636 upgrade edge-runtime dependency
  package.json
  packages/next/package.json
  packages/next/src/compiled/@edge-runtime/cookies/index.js
  packages/next/src/compiled/@edge-runtime/cookies/package.json
  packages/next/src/compiled/@edge-runtime/primitives/encoding.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/load.js
  packages/next/src/compiled/@edge-runtime/primitives/package.json
  packages/next/src/compiled/@edge-runtime/primitives/structured-clone.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/url.js.text.js
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/compiled/edge-runtime/index.js
  packages/next/src/server/web/sandbox/context.ts
  pnpm-lock.yaml
Labels: type: next, CI approved

#50847 Update id config handling
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  test/production/deployment-id-handling/deployment-id-handling.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#50853 Update PR stats workflow
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/pull_request_stats.yml
Labels: created-by: Next.js team

#50859 Optimize cloning for PR stats
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  .github/workflows/trigger_release.yml
Labels: created-by: Next.js team

#50615 [turbopack]: Use tip-of-branch for benchmarks
  Cargo.lock
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-dev/benches/bundler.rs
  packages/next-swc/crates/next-dev/src/lib.rs
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#50875 Add ignores to fix jest-haste failures
  jest.config.js
  run-tests.js
Labels: created-by: Next.js team

#50851 Add layer to module trace
  packages/next/src/build/webpack/plugins/profiling-plugin.ts
Labels: type: next, created-by: Next.js team

#50889 Add additional font-loader spans for tracing
  packages/next/src/build/webpack/loaders/next-font-loader/index.ts
Labels: type: next, created-by: Next.js team

#49622 fix: App Router with assetPrefix: /
  packages/next/src/build/webpack-config.ts
  test/integration/app-config-asset-prefix/app/layout.js
  test/integration/app-config-asset-prefix/app/page.js
  test/integration/app-config-asset-prefix/next.config.js
  test/integration/app-config-asset-prefix/test/index.test.js
Labels: type: next, area: tests

#50905 better rust setup in CI
  .github/actions/setup-rust/action.yml
  .github/actions/setup-rust/matchers.json
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/trigger_release.yml
Labels: created-by: web-tooling team

#50916 Polish error page styling
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/pages/_error.tsx
Labels: type: next, created-by: Next.js team

#50933 Update next-swc handling for PR stats
  .github/actions/next-stats-action/Dockerfile
  .github/actions/next-stats-action/src/constants.js
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  .github/actions/next-stats-action/src/run/index.js
  .github/workflows/pull_request_stats.yml
  packages/next/src/build/swc/index.ts
Labels: type: next, created-by: Next.js team

#50869 Add experimental caseSensitiveRoutes config
  packages/next/src/build/index.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/server-route-utils.ts
  packages/next/src/server/server-utils.ts
  packages/next/src/shared/lib/router/utils/path-match.ts
  test/integration/custom-routes/next.config.js
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/lib/next-test-utils.js
Labels: type: next, created-by: Next.js team, area: tests

#50819 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/page_source.rs
  packages/next-swc/crates/next-core/src/router.rs
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#50942 Revert "update turbopack"
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/page_source.rs
  packages/next-swc/crates/next-core/src/router.rs
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, area: Turbopack

#50939 remove unused dev dep ts-node
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#50937 Fix shorthand prop wrongly handled in the Server Actions compiler
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/fixture/server-actions/server/5/input.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/5/output.js
Labels: type: next, created-by: Next.js team

#50946 fix rust install being skipped when it shouldn't be
  .github/workflows/build_and_deploy.yml
Labels: created-by: web-tooling team

#50947 Revert "Revert "update turbopack""
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/page_source.rs
  packages/next-swc/crates/next-core/src/router.rs
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, area: Turbopack

#50579 [Next Docs] Update Git Workflow
  .github/ISSUE_TEMPLATE/4.docs_request.yml
  .github/labeler.json
  .github/pull_request_template.md
  .vscode/extensions.json
  contributing/docs/adding-documentation.md
  scripts/check-manifests.js
Labels: CI approved

#50841 Update codeowners to use Vercel Spaces
  .github/CODEOWNERS
  .vercel.approvers
  contributing/.vercel.approvers
  docs/.vercel.approvers
  errors/.vercel.approvers
  examples/.vercel.approvers
  packages/create-next-app/.vercel.approvers
  packages/next-swc/.vercel.approvers
  packages/next/src/build/.vercel.approvers
  packages/next/src/telemetry/.vercel.approvers
  scripts/.vercel.approvers
Labels: area: examples, area: documentation, type: next, CI approved

#50817 ci(workflow): enable test trace again
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  package.json
  pnpm-lock.yaml
  run-tests.js
Labels: created-by: web-tooling team

#50959 Drop the `chunks` field in the client manifest for SSR
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#50848 Invalidate prefetch cache when a tag or path has been revalidated on the server
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/server/app-render/action-handler.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/revalidate-2/page.js
  test/e2e/app-dir/actions/app/revalidate/page.js
Labels: type: next, created-by: Next.js team, area: tests

#50945 Only upload turbopack metrics on cache miss
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#50973 Add corepack env for linkPackages
  .github/actions/next-stats-action/src/prepare/repo-setup.js
Labels: created-by: Next.js team

#50956 fix: add missed / at useSelectedLayoutSegment at App routing/Pages and Layout
  docs/02-app/01-building-your-application/01-routing/02-pages-and-layouts.mdx
Labels: area: documentation

#50940 Bump @types/node
  package.json
  packages/create-next-app/package.json
  packages/next/package.json
  packages/next/src/compiled/tar/index.js
  packages/next/src/compiled/tar/package.json
  packages/next/src/server/api-utils/node.ts
  packages/next/src/server/dev/hot-reloader.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/mock-request.ts
  packages/next/src/server/lib/start-server.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#50557 Bump to `typescript@5.1`
  package.json
  packages/next/src/client/route-loader.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/typescript/index.ts
  packages/next/src/server/typescript/rules/client-boundary.ts
  packages/next/src/server/typescript/rules/config.ts
  packages/next/src/server/typescript/rules/entry.ts
  packages/next/src/server/typescript/rules/error.ts
  packages/next/src/server/typescript/rules/metadata.ts
  packages/next/src/server/typescript/rules/server.ts
  packages/next/src/server/typescript/utils.ts
  packages/next/src/telemetry/post-payload.ts
  packages/react-dev-overlay/src/internal/components/ShadowPortal.tsx
  pnpm-lock.yaml
  test/e2e/typescript-version-no-warning/pages/index.tsx
  test/e2e/typescript-version-no-warning/typescript-version-no-warning.test.ts
  test/e2e/typescript-version-warning/pages/index.tsx
  test/e2e/typescript-version-warning/typescript-version-warning.test.ts
  test/integration/typescript-version-warning/app/node_modules/typescript/lib/typescript.js
  test/integration/typescript-version-warning/app/node_modules/typescript/package.json
  test/integration/typescript-version-warning/app/pages/index.tsx
  test/integration/typescript-version-warning/app/tsconfig.json
  test/integration/typescript-version-warning/test/index.test.js
Labels: type: next, created-by: Next.js team

#50978 Add test for hidden form fields at the beginning of a Server Action form
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/server/form.js
Labels: created-by: Next.js team, area: tests

#50983 Move required chunk collection to the upper level
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#50990 Adds missing `async` to Opengraph Image code example.
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/opengraph-image.mdx
Labels: area: documentation

#50991 docs: Correct `useFormStatus` to be a client component
  docs/02-app/01-building-your-application/03-data-fetching/04-server-actions.mdx
Labels: area: documentation

#50981 Update create-next-app docs
  docs/02-app/02-api-reference/06-create-next-app.mdx
Labels: area: documentation

#50076 Add appDir-specific guidance for next-router-not-mounted error
  errors/next-router-not-mounted.md
Labels: area: documentation

#50992 Upgrade webpack to 5.86.0
  package.json
  packages/next/package.json
  packages/next/src/build/webpack/loaders/utils.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/bundles/webpack/packages/lazy-compilation-node.js
  packages/next/src/bundles/webpack/packages/lazy-compilation-web.js
  packages/next/src/compiled/babel/bundle.js
  packages/next/src/compiled/mini-css-extract-plugin/cjs.js
  packages/next/src/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/src/compiled/mini-css-extract-plugin/index.js
  packages/next/src/compiled/mini-css-extract-plugin/loader.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/webpack/bundle5.js
  packages/next/src/compiled/webpack/lazy-compilation-node.js
  packages/next/src/compiled/webpack/lazy-compilation-web.js
  packages/react-refresh-utils/ReactRefreshWebpackPlugin.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#50998 Add max job timeout for build workflow
  .github/workflows/build_reusable.yml
Labels: created-by: Next.js team

#50996 Adds missing JavaScript codeblock in Opengraph Image API reference
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/opengraph-image.mdx
Labels: area: documentation

#49128 Added Azure Cosmos DB started code, containing a minimal app and README.md
  examples/with-azure-cosmos/.env.local.example
  examples/with-azure-cosmos/.gitignore
  examples/with-azure-cosmos/README.md
  examples/with-azure-cosmos/lib/cosmosdb.ts
  examples/with-azure-cosmos/package.json
  examples/with-azure-cosmos/pages/index.tsx
  examples/with-azure-cosmos/public/favicon.ico
  examples/with-azure-cosmos/tsconfig.json
Labels: area: examples

#50878 Turbopack next/font/google: Use capsize's xWidthAvg to compute fallbacks
  packages/next-swc/crates/next-core/src/next_font/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/google/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/local/font_fallback.rs
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: web-tooling team

#50941 Fix usage of `router.refresh()` with Draft Mode in App Router
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/draft-mode/app/enable-and-redirect/route.ts
  test/e2e/app-dir/draft-mode/app/generate/[id]/page.tsx
  test/e2e/app-dir/draft-mode/components/RouterRefresh.tsx
  test/e2e/app-dir/draft-mode/draft-mode-node.test.ts
Labels: type: next, created-by: Next.js team

#51003 Update 10-router-handlers.mdx - Switcher Created + Small Syntax Improvement
  docs/02-app/01-building-your-application/01-routing/10-router-handlers.mdx
Labels: area: documentation

#50986 Update 02-eslint.mdx
  docs/02-app/01-building-your-application/06-configuring/02-eslint.mdx
Labels: area: documentation

#51005 fix `revalidateTag` import
  docs/02-app/02-api-reference/04-functions/revalidateTag.mdx
Labels: area: documentation

#47905 chore: mark forceOptimisticNavigation as internal
  packages/next/src/shared/lib/app-router-context.ts
Labels: type: next, created-by: Next.js team

#51017 Fix rsc payload fetch failures due to state tree encoding
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/server/app-render/parse-and-validate-flight-router-state.tsx
  test/e2e/app-dir/navigation/app/search-params/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#50960 edge: use JSON parse instead of inlining the manifests objects
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/next-font-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/src/build/webpack/plugins/subresource-integrity-plugin.ts
Labels: type: next, created-by: Next.js team, area: Font Optimization

#51034 [Docs] Clarify a few things about the `instrumentation.ts` file
  docs/01-getting-started/02-project-structure.mdx
  docs/02-app/01-building-your-application/05-optimizing/08-open-telemetry.mdx
  docs/02-app/01-building-your-application/05-optimizing/09-instrumentation.mdx
  docs/02-app/02-api-reference/05-next-config-js/pageExtensions.mdx
Labels: area: documentation

#51014 Fix esm module import warning for middleware loader
  packages/next/src/build/webpack/loaders/next-middleware-loader.ts
Labels: type: next, created-by: Next.js team

#51000 Updates prettier to latest version.
  .prettierignore
  examples/app-dir-i18n-routing/i18n-config.ts
  examples/with-grafbase/gql/gql.ts
  examples/with-typescript-graphql/lib/gql/gql.ts
  package.json
  packages/create-next-app/package.json
  packages/eslint-plugin-next/.swcrc
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack/utils.ts
  packages/next/src/client/image.tsx
  packages/next/src/client/legacy/image.tsx
  packages/next/src/client/performance-relayer-app.ts
  packages/next/src/client/performance-relayer.ts
  packages/next/src/client/router.ts
  packages/next/src/lib/eslint/runLintCheck.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/future/helpers/interception-routes.ts
  packages/next/src/server/lib/route-resolver.ts
  packages/next/src/server/web/http.ts
  packages/next/src/server/web/sandbox/context.ts
  packages/next/src/shared/lib/bloom-filter.ts
  packages/next/src/shared/lib/image-config.ts
  packages/next/src/shared/lib/utils.ts
  pnpm-lock.yaml
  test/e2e/app-dir/autoscroll-with-css-modules/index.test.ts
Labels: area: examples, type: next, area: tests

#51044 chore: pin to `npm@9.6.7`
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#51019 [Docs] Add section on how to preview docs changes on VSCode
  docs/05-community/01-contribution-guide.mdx
Labels: area: documentation

#51045 chore: drop unused `@webassemblyjs`
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#51047 Ensure headers instance is serialized
  packages/next/src/server/lib/incremental-cache/index.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/variable-revalidate/headers-instance/page.js
Labels: type: next, created-by: Next.js team, area: tests

#51049 Ensure id handling applies for dynamic import in pages
  packages/next/src/client/index.tsx
  test/production/deployment-id-handling/app/app/from-app/edge/page.tsx
  test/production/deployment-id-handling/app/app/from-app/page.tsx
  test/production/deployment-id-handling/app/data.js
  test/production/deployment-id-handling/app/pages/index.tsx
  test/production/deployment-id-handling/app/pages/pages-edge.tsx
  test/production/deployment-id-handling/deployment-id-handling.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#51053 Avoid server insertion react key warning
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48018 fix: `verbatimModuleSyntax: true` support in tsconfig.json
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
  test/integration/tsconfig-verifier/test/index.test.js
Labels: type: next, area: tests

#51061 chore: remove skip to renable tsconfig tests
  test/integration/tsconfig-verifier/test/index.test.js
Labels: created-by: Next.js team, area: tests

#51062 Update app router revalidate handling on deploy
  packages/next/src/server/base-server.ts
  test/production/standalone-mode/response-cache/app/app/app-blog/page.js
  test/production/standalone-mode/response-cache/app/app/layout.js
  test/production/standalone-mode/response-cache/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#51067 Apply optimization to middleware when using babel
  packages/next/src/build/webpack-config.ts
  test/e2e/app-dir/with-babel/middleware.js
  test/e2e/app-dir/with-babel/with-babel.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#51072 Update response cache test
  test/production/standalone-mode/response-cache/index.test.ts
Labels: created-by: Next.js team, area: tests

#51065 fix: `moduleResolution: bundler` support in tsconfig.json
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
  test/integration/tsconfig-verifier/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#51066 Adds the "why" for `next/image` optimization
  docs/02-app/01-building-your-application/05-optimizing/01-images.mdx
Labels: area: documentation

#51008 [Docs] Remove html <b> from summaries
  docs/02-app/01-building-your-application/04-styling/01-css-modules.mdx
  docs/02-app/01-building-your-application/04-styling/02-tailwind-css.mdx
  docs/02-app/01-building-your-application/04-styling/03-css-in-js.mdx
  docs/02-app/01-building-your-application/05-optimizing/01-images.mdx
  docs/02-app/01-building-your-application/06-configuring/03-environment-variables.mdx
  docs/02-app/01-building-your-application/06-configuring/04-absolute-imports-and-module-aliases.mdx
  docs/02-app/01-building-your-application/08-upgrading/02-app-router-migration.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
  docs/02-app/02-api-reference/01-components/link.mdx
  docs/02-app/02-api-reference/05-next-config-js/env.mdx
  docs/02-app/02-api-reference/05-next-config-js/exportPathMap.mdx
  docs/02-app/02-api-reference/05-next-config-js/rewrites.mdx
  docs/03-pages/01-building-your-application/01-routing/03-linking-and-navigating.mdx
  docs/03-pages/01-building-your-application/01-routing/07-api-routes.mdx
  docs/03-pages/01-building-your-application/01-routing/08-internationalization.mdx
  docs/03-pages/01-building-your-application/01-routing/09-authenticating.mdx
  docs/03-pages/01-building-your-application/02-rendering/02-static-site-generation.mdx
  docs/03-pages/01-building-your-application/02-rendering/03-incremental-static-regeneration.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/04-incremental-static-regeneration.mdx
  docs/03-pages/01-building-your-application/05-optimizing/10-testing.mdx
  docs/03-pages/01-building-your-application/06-configuring/07-amp.mdx
  docs/03-pages/01-building-your-application/06-configuring/08-babel.mdx
  docs/03-pages/01-building-your-application/06-configuring/09-post-css.mdx
  docs/03-pages/01-building-your-application/06-configuring/10-custom-server.mdx
  docs/03-pages/01-building-your-application/06-configuring/14-preview-mode.mdx
  docs/03-pages/01-building-your-application/07-deploying/01-production-checklist.mdx
  docs/03-pages/01-building-your-application/07-deploying/03-multi-zones.mdx
  docs/03-pages/02-api-reference/01-components/head.mdx
  docs/03-pages/02-api-reference/01-components/image-legacy.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-paths.mdx
  docs/03-pages/02-api-reference/02-functions/use-amp.mdx
  docs/03-pages/02-api-reference/02-functions/use-router.mdx
  docs/04-architecture/fast-refresh.mdx
  docs/04-architecture/nextjs-compiler.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51076 Fix another case with app router revalidation
  packages/next/src/server/base-server.ts
  test/production/standalone-mode/response-cache/app/app/app-another/page.js
  test/production/standalone-mode/response-cache/app/app/app-blog/[...slug]/page.js
  test/production/standalone-mode/response-cache/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#51057 ci(workflow): generate run summary for all build targets
  .github/workflows/build_and_deploy.yml
Labels: created-by: web-tooling team

#51063 Removes `PORT` from `.env` concatenation example
  docs/02-app/01-building-your-application/06-configuring/03-environment-variables.mdx
Labels: area: documentation

#51058 Adds missing `and` in `How to Use These Docs` section
  docs/index.mdx
Labels: area: documentation

#51078 docs: Clarify manual graceful shutdown in dev server
  docs/02-app/01-building-your-application/07-deploying/index.mdx
Labels: area: documentation

#51084 Update 03-linking-and-navigating.mdx
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
Labels: area: documentation

#51054 [Docs] Fixed phrasing (extra verb)
  docs/02-app/02-api-reference/01-components/link.mdx
  docs/02-app/02-api-reference/04-functions/revalidatePath.mdx
Labels: area: documentation

#51070 Remove redundant condition
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#51105 Fix race condition with publish
  .github/actions/next-stats-action/src/index.js
  .github/actions/next-stats-action/src/prepare/action-info.js
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  scripts/publish-native.js
  scripts/publish-release.js
Labels: created-by: Next.js team

#51106 Fix getting last stable release stats
  .github/actions/next-stats-action/src/index.js
Labels: created-by: Next.js team

#51088 Fix windows metadata slashes
  packages/next/src/lib/metadata/get-metadata-route.ts
Labels: type: next, created-by: Next.js team

#51110 ci(workflow): consolidate bytesize upload workflow
  .github/workflows/build_and_deploy.yml
Labels: created-by: web-tooling team

#51103 Do not merge chunkGroups' CSS files
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#51133 Update 01-images.mdx
  docs/02-app/01-building-your-application/05-optimizing/01-images.mdx
Labels: area: documentation

#50970 Add unique search query for RSC requests to be cacable on CDN
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/internal-utils.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/request-meta.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/sandbox/sandbox.ts
  packages/next/src/shared/lib/hash.ts
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
  test/e2e/app-dir/navigation/app/assertion/page/page.js
  test/e2e/app-dir/navigation/app/assertion/route/route.js
  test/e2e/app-dir/navigation/middleware.js
Labels: type: next, created-by: Next.js team, area: tests

#49750 Update next-image-unconfigured-host.md with correct Remote Patterns Documentation link to new docs
  errors/next-image-unconfigured-host.md
Labels: area: documentation

#51169 Fixes the link from components/fonts to api/fonts
  docs/02-app/01-building-your-application/05-optimizing/02-fonts.mdx
Labels: area: documentation, area: Font Optimization

#51151 Docs: Fix useSearchParams link
  docs/02-app/01-building-your-application/08-upgrading/02-app-router-migration.mdx
Labels: area: documentation

#51145 docs: Improve Actions docs.
  docs/02-app/01-building-your-application/03-data-fetching/04-server-actions.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51146 docs: clarify `usePathname` usage as client hook.
  docs/02-app/02-api-reference/04-functions/use-pathname.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51182 docs: fix prettier error
  docs/02-app/01-building-your-application/03-data-fetching/04-server-actions.mdx
Labels: area: documentation, created-by: Next.js team

#51179 Prefer module fields for RSC server layer
  packages/next/src/build/webpack-config.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/react-server/3rd-party-package/page.js
  test/e2e/app-dir/app-external/node_modules_bak/server-module-field/index.cjs
  test/e2e/app-dir/app-external/node_modules_bak/server-module-field/index.esm.js
  test/e2e/app-dir/app-external/node_modules_bak/server-module-field/package.json
Labels: type: next, created-by: Next.js team, area: tests

#51013 Update `next/head` warning to link to the correct docs page
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
Labels: type: next, created-by: Next.js DevEx team

#51193 Revert "Do not merge chunkGroups' CSS files"
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#51191 fix: helpful error when `output: export` and `next export -o`
  packages/next/src/cli/next-export.ts
  packages/next/src/export/index.ts
  test/integration/app-dir-export/test/config.test.ts
Labels: type: next, created-by: Next.js team

#51195 Strip _rsc query for navigation between app and page
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/shared/lib/router/utils/prepare-destination.ts
  test/e2e/app-dir/navigation/app/assertion/page/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
  test/e2e/app-dir/navigation/pages/some.js
Labels: type: next, created-by: Next.js team, area: tests

#51172 Fix standalone not found
  packages/next/src/build/utils.ts
  packages/next/src/server/lib/render-server-standalone.ts
  test/e2e/app-dir/app/app/dashboard/not-found.js
  test/production/standalone-mode/required-server-files/app/not-found.js
  test/production/standalone-mode/required-server-files/next.config.js
  test/production/standalone-mode/required-server-files/required-server-files-app.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#51199 Fix a mistake URL in "docs/generate-metadata.mdx/metadataBase"
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: area: documentation

#51143 Add separate lines to eslint prompt in 02-eslint.mdx
  docs/02-app/01-building-your-application/06-configuring/02-eslint.mdx
Labels: area: documentation

#51192 [Docs][CSS-in-JS]: Update Vanilla Extract link
  docs/02-app/01-building-your-application/04-styling/03-css-in-js.mdx
Labels: area: documentation

#51189 Fix typo on strategy
  docs/02-app/02-api-reference/01-components/script.mdx
Labels: area: documentation

#51188 app-icons: correct valid route segments for icon/favicon/apple-icon
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/app-icons.mdx
Labels: area: documentation

#51185 docs: fix typos
  docs/02-app/01-building-your-application/03-data-fetching/04-server-actions.mdx
Labels: area: documentation

#51222 docs: fix prettier lint
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/app-icons.mdx
Labels: area: documentation, created-by: Next.js team

#51224 [docs] Add missing Edge Runtime APIs
  docs/02-app/02-api-reference/07-edge.mdx
Labels: area: documentation, CI approved

#51235 [Docs] fix example function param and signature
  docs/02-app/01-building-your-application/01-routing/05-dynamic-routes.mdx
Labels: area: documentation

#51226 [Docs] Remove extra line in summary dropdowns
  docs/02-app/01-building-your-application/04-styling/01-css-modules.mdx
  docs/02-app/01-building-your-application/04-styling/02-tailwind-css.mdx
  docs/02-app/01-building-your-application/04-styling/03-css-in-js.mdx
  docs/02-app/01-building-your-application/05-optimizing/01-images.mdx
  docs/02-app/01-building-your-application/06-configuring/03-environment-variables.mdx
  docs/02-app/01-building-your-application/06-configuring/04-absolute-imports-and-module-aliases.mdx
  docs/02-app/01-building-your-application/08-upgrading/02-app-router-migration.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
  docs/02-app/02-api-reference/01-components/link.mdx
  docs/02-app/02-api-reference/05-next-config-js/env.mdx
  docs/02-app/02-api-reference/05-next-config-js/exportPathMap.mdx
  docs/02-app/02-api-reference/05-next-config-js/rewrites.mdx
  docs/03-pages/01-building-your-application/01-routing/03-linking-and-navigating.mdx
  docs/03-pages/01-building-your-application/01-routing/07-api-routes.mdx
  docs/03-pages/01-building-your-application/01-routing/08-internationalization.mdx
  docs/03-pages/01-building-your-application/01-routing/09-authenticating.mdx
  docs/03-pages/01-building-your-application/02-rendering/02-static-site-generation.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/04-incremental-static-regeneration.mdx
  docs/03-pages/01-building-your-application/05-optimizing/10-testing.mdx
  docs/03-pages/01-building-your-application/06-configuring/07-amp.mdx
  docs/03-pages/01-building-your-application/06-configuring/08-babel.mdx
  docs/03-pages/01-building-your-application/06-configuring/09-post-css.mdx
  docs/03-pages/01-building-your-application/06-configuring/10-custom-server.mdx
  docs/03-pages/01-building-your-application/06-configuring/14-preview-mode.mdx
  docs/03-pages/01-building-your-application/07-deploying/01-production-checklist.mdx
  docs/03-pages/01-building-your-application/07-deploying/03-multi-zones.mdx
  docs/03-pages/02-api-reference/01-components/head.mdx
  docs/03-pages/02-api-reference/01-components/image-legacy.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-paths.mdx
  docs/03-pages/02-api-reference/02-functions/use-amp.mdx
  docs/03-pages/02-api-reference/02-functions/use-router.mdx
  docs/04-architecture/fast-refresh.mdx
  docs/04-architecture/nextjs-compiler.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51209 Fix all 404 links
  errors/static-page-generation-timeout.md
  examples/api-routes-apollo-server/README.md
  examples/with-turbopack/app/context/page.tsx
  examples/with-turbopack/app/styling/page.tsx
  packages/next/src/client/link.tsx
  packages/next/src/server/config-shared.ts
  packages/next/src/server/web/spec-extension/adapters/headers.ts
Labels: area: examples, area: documentation, type: next, CI approved

#51237 [Docs] Recommend `prettier-fix` in PR template and contribution guide
  .github/pull_request_template.md
  docs/05-community/01-contribution-guide.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51190 ci(workflow): skip test trace upload when test skips
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
Labels: created-by: web-tooling team

#51183 Simplify the client manifest structure
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#50974 Add buildId into RSC payload
  packages/next-swc/crates/next-core/js/src/entry/app-renderer.tsx
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/handle-mutable.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/shared/lib/app-router-context.ts
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team, area: Turbopack, area: tests

#51204 Turbopack: remove `__internal_nextjs_integration_test` compile-time feature
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-dev/Cargo.toml
  packages/next-swc/package.json
Labels: type: next, area: Turbopack, created-by: web-tooling team

#51220 [Docs] Add mininum client-side rendering page
  docs/03-pages/01-building-your-application/02-rendering/05-client-side-rendering.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51218 [Docs] Add version history to app api pages
  docs/02-app/01-building-your-application/06-configuring/01-typescript.mdx
  docs/02-app/01-building-your-application/07-deploying/01-static-exports.mdx
  docs/02-app/02-api-reference/01-components/link.mdx
  docs/02-app/02-api-reference/01-components/script.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/app-icons.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/opengraph-image.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/robots.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
  docs/02-app/02-api-reference/02-file-conventions/error.mdx
  docs/02-app/02-api-reference/02-file-conventions/layout.mdx
  docs/02-app/02-api-reference/02-file-conventions/loading.mdx
  docs/02-app/02-api-reference/02-file-conventions/not-found.mdx
  docs/02-app/02-api-reference/02-file-conventions/page.mdx
  docs/02-app/02-api-reference/02-file-conventions/route.mdx
  docs/02-app/02-api-reference/04-functions/cookies.mdx
  docs/02-app/02-api-reference/04-functions/draft-mode.mdx
  docs/02-app/02-api-reference/04-functions/fetch.mdx
  docs/02-app/02-api-reference/04-functions/generate-image-metadata.mdx
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
  docs/02-app/02-api-reference/04-functions/generate-static-params.mdx
  docs/02-app/02-api-reference/04-functions/headers.mdx
  docs/02-app/02-api-reference/04-functions/image-response.mdx
  docs/02-app/02-api-reference/04-functions/next-request.mdx
  docs/02-app/02-api-reference/04-functions/not-found.mdx
  docs/02-app/02-api-reference/04-functions/redirect.mdx
  docs/02-app/02-api-reference/04-functions/use-params.mdx
  docs/02-app/02-api-reference/04-functions/use-pathname.mdx
  docs/02-app/02-api-reference/04-functions/use-router.mdx
  docs/02-app/02-api-reference/04-functions/use-search-params.mdx
  docs/02-app/02-api-reference/04-functions/use-selected-layout-segment.mdx
  docs/02-app/02-api-reference/04-functions/use-selected-layout-segments.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/04-incremental-static-regeneration.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51253 Fix broken link
  docs/03-pages/01-building-your-application/02-rendering/05-client-side-rendering.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51059 Adds homepage to `eslint-config-next` package
  packages/eslint-config-next/package.json
Labels: type: next, created-by: Next.js DevEx team

#51256 Fix code example filename for related-links
  docs/05-community/01-contribution-guide.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51264 chore(docs): codemod docs should mention `.` for cwd
  docs/02-app/01-building-your-application/08-upgrading/01-codemods.mdx
Labels: area: documentation, created-by: Next.js team

#51258 Remove related-links
  docs/05-community/01-contribution-guide.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#51257 Add leerob as an optional global codeowner
  .vercel.approvers
Labels: created-by: Next.js DevEx team

#49953 Update fast-refresh-reload.md
  errors/fast-refresh-reload.md
Labels: area: documentation

#49754 docs: Add Tolgee to internationalization section
  docs/03-pages/01-building-your-application/01-routing/08-internationalization.mdx
Labels: area: documentation

#49105 Clarify the limitations of NEXT_PUBLIC_
  docs/02-app/01-building-your-application/06-configuring/03-environment-variables.mdx
Labels: area: documentation

#51249 Update 02-fonts.mdx
  docs/02-app/01-building-your-application/05-optimizing/02-fonts.mdx
Labels: area: documentation, area: Font Optimization

#48876 Fix middleware documentation
  docs/02-app/01-building-your-application/01-routing/11-middleware.mdx
Labels: area: documentation

#48708 fix(cli): add all available options to cli commands, format them consistently
  errors/invalid-i18n-config.md
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-export.ts
  packages/next/src/cli/next-info.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/cli/next-telemetry.ts
  test/integration/cli/test/index.test.js
Labels: area: documentation, type: next, area: tests

#51267 docs: fixed a typo in parallel routes
  docs/02-app/01-building-your-application/01-routing/08-parallel-routes.mdx
Labels: area: documentation

#43592 Update module-path-aliases.md
  docs/02-app/01-building-your-application/06-configuring/04-absolute-imports-and-module-aliases.mdx
Labels: area: documentation

#50705 chore: remove useless duplicate code
  packages/next/src/server/next-server.ts
Labels: type: next

#51268 fix: app router hash scrolling should respect scroll-padding
  packages/next/src/client/components/layout-router.tsx
  test/e2e/app-dir/navigation/app/hash-with-scroll-offset/global.css
  test/e2e/app-dir/navigation/app/hash-with-scroll-offset/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, area: tests, CI approved

#50808 Fix build error about trace file and edge route
  packages/next/src/build/index.ts
Labels: type: next
