Repository vercel/next.js, pull requests merged in 2023-02, with the labels that each got.

#45408 Remove leftover server.js files in test suite
  test/integration/custom-routes/server.js
  test/integration/dynamic-optional-routing/server.js
  test/integration/font-optimization/fixtures/with-google/server.js
  test/integration/font-optimization/fixtures/with-typekit/server.js
  test/integration/getserversideprops-preview/server.js
  test/integration/prerender-preview/server.js
  test/integration/revalidate-as-path/server.js
  test/integration/root-optional-revalidate/server.js
  test/lib/next-test-utils.js
Labels: created-by: Next.js team

#45401 Support generateMetadata export (#45401)Co-authored-by: Tim Neutkens <tim@timneutkens.nl>
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/types/metadata-interface.ts
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/metadata/app/app-links/page.tsx
  test/e2e/app-dir/metadata/app/apple/page.tsx
  test/e2e/app-dir/metadata/app/basic/page.tsx
  test/e2e/app-dir/metadata/app/cache-deduping/navigating/page.tsx
  test/e2e/app-dir/metadata/app/cache-deduping/page.tsx
  test/e2e/app-dir/metadata/app/page.tsx
  test/e2e/app-dir/metadata/app/params/[slug]/page.tsx
  test/e2e/app-dir/metadata/app/params/layout.tsx
  test/e2e/app-dir/metadata/app/title-template/extra/inner/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#45480 Fix metadata alternate and refactor twitter item
  packages/next/src/lib/metadata/generate/alternate.tsx
  packages/next/src/lib/metadata/generate/meta.tsx
  packages/next/src/lib/metadata/generate/opengraph.tsx
  test/e2e/app-dir/metadata/app/basic/page.tsx
Labels: type: next, created-by: Next.js team

#45405 Apply traceIgnores to turbotrace
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
Labels: type: next, created-by: Next.js team

#45335 misc: refactor webpack build out of build/index (1/6)
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build.ts
Labels: type: next, created-by: Next.js team

#45454 build(cargo): update turbopack to turbopack-230201.1
  docs/advanced-features/output-file-tracing.md
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/shared/lib/constants.ts
  test/integration/build-trace-extra-entries-turbo/app/next.config.js
Labels: area: documentation, type: next, created-by: Next.js team

#45455 misc: deprecate custom config from being passed to next/build (2/6)
  packages/next/src/build/index.ts
  packages/next/src/cli/next-build.ts
Labels: area: documentation, type: next, area: create-next-app, created-by: Next.js team

#45456 misc: move entrypoints creation into webpack build step (3/6)
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build.ts
Labels: type: next, created-by: Next.js team

#45460 perf: add experimental option to run webpack build in a worker (6/6)
  packages/next/src/build/webpack-build.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#45451 Split router utils into smaller modules (#45451)Co-authored-by: Jan Kaifer <jan@kaifer.cz>
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/index.tsx
  packages/next/src/client/link.tsx
  packages/next/src/client/page-loader.ts
  packages/next/src/shared/lib/router/router.ts
  packages/next/src/shared/lib/router/utils/handle-smooth-scroll.ts
  packages/next/src/shared/lib/router/utils/interpolate-as.ts
  packages/next/src/shared/lib/router/utils/is-local-url.ts
  packages/next/src/shared/lib/router/utils/omit.ts
  packages/next/src/shared/lib/router/utils/resolve-href.ts
  test/integration/production/test/index.test.js
Labels: type: next, created-by: Next.js team, linear

#45458 misc: refactor build context/webpack build step (4/6)
  packages/next/src/build/build-context.ts
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#45501 Make client boundary unserializable props a warning instead of an error
  packages/next/src/server/typescript/rules/client-boundary.ts
Labels: type: next, created-by: Next.js team

#45504 Fix middleware matcher for i18n with negative look ahead (#45504)closes https://github.com/vercel/next.js/issues/40305
  packages/next/src/build/analysis/get-page-static-info.ts
  test/e2e/middleware-custom-matchers-i18n/test/index.test.ts
Labels: type: next

#45502 chore: fix docs link to minimumCacheTTL (#45502
  docs/going-to-production.md
Labels: area: documentation, created-by: Next.js team

#45486 Add unit test for navigateReducer and refreshReducer
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
Labels: type: next, created-by: Next.js team

#45412 Create reproduction template for app dir
  examples/reproduction-template-app-dir/.gitignore
  examples/reproduction-template-app-dir/README.md
  examples/reproduction-template-app-dir/app/layout.tsx
  examples/reproduction-template-app-dir/app/page.tsx
  examples/reproduction-template-app-dir/next.config.js
  examples/reproduction-template-app-dir/package.json
  examples/reproduction-template-app-dir/public/favicon.ico
  examples/reproduction-template-app-dir/tsconfig.json
Labels: area: examples, created-by: Next.js team

#45494 Update SWC transform to attach the export name
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/fixture/server-actions/3/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/4/output.js
Labels: type: next, created-by: Next.js team

#45410 Add skipEntries option to turbotrace
  docs/advanced-features/output-file-tracing.md
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: area: documentation, type: next, created-by: Next.js team

#45272 Example/with apivideo
  examples/with-apivideo/README.md
  examples/with-apivideo/components/Loader/index.tsx
  examples/with-apivideo/next.config.js
  examples/with-apivideo/package.json
  examples/with-apivideo/pages/index.tsx
  examples/with-apivideo/pages/uploader/index.tsx
  examples/with-apivideo/pages/videos/index.tsx
Labels: area: examples

#45518 build: remove warning when building with a middleware present
  packages/next/src/export/index.ts
Labels: type: next, created-by: Next.js team

#45268 Reload on server component change
  packages/next/src/client/dev/error-overlay/hot-dev-client.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: type: next, created-by: Next.js team

#45171 Clean up CI logs
  .github/workflows/build_test_deploy.yml
  run-tests.js
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
Labels: created-by: Next.js team

#45227 Refactor `next export` tests
  test/integration/export/.gitignore
  test/integration/export/test/api-routes.js
  test/integration/export/test/browser.js
  test/integration/export/test/dev.js
  test/integration/export/test/dynamic.js
  test/integration/export/test/index.test.js
  test/integration/export/test/ssr.js
  test/lib/e2e-utils.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-start.ts
  test/production/export/components/hello.js
  test/production/export/index.test.ts
  test/production/export/next.config.js
  test/production/export/pages/about.js
  test/production/export/pages/api/data.js
  test/production/export/pages/blog/[post]/comment/[id].js
  test/production/export/pages/button-link.js
  test/production/export/pages/counter.js
  test/production/export/pages/dynamic-imports.js
  test/production/export/pages/dynamic.js
  test/production/export/pages/empty-hash-link.js
  test/production/export/pages/empty-query-link.js
  test/production/export/pages/get-initial-props-with-no-query.js
  test/production/export/pages/gsp-notfound.js
  test/production/export/pages/gssp/[slug].js
  test/production/export/pages/hash-link.js
  test/production/export/pages/index.js
  test/production/export/pages/level1/about.js
  test/production/export/pages/level1/index.js
  test/production/export/pages/query-update.js
  test/production/export/pages/query.js
  test/production/export/public/about/data.txt
  test/production/export/static/data/item.txt
Labels: created-by: Next.js team

#45526 Add more JSDoc to metadata interface
  packages/next/src/lib/metadata/types/metadata-interface.ts
Labels: type: next, created-by: Next.js team

#44317 Fix image blur cover when `fill` and `blurDataURL`
  packages/next/src/client/image.tsx
  packages/next/src/shared/lib/image-blur-svg.ts
  test/integration/next-image-new/default/pages/fill-blur.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/next-image-new/default/test/static.test.ts
Labels: type: next, created-by: Next.js team

#45304 Improve error when create root layout fails
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseNextAppLoaderError.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  packages/next/src/lib/verifyRootLayout.ts
Labels: type: next, created-by: Next.js team

#45228 Error when exporting AMP config in app dir
  packages/next/src/server/app-render.tsx
  test/development/acceptance-app/unsupported-app-features.test.ts
Labels: type: next, created-by: Next.js team

#45539 Remove "standalone" from next export docs
  docs/advanced-features/static-html-export.md
Labels: area: documentation, created-by: Next.js team

#45511 Add unit test for serverPatchReducer (#45511
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
Labels: type: next, created-by: Next.js team

#45555 Refactor navigateReducer to handle mutable consistently (#45555
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
Labels: type: next, created-by: Next.js team

#45311 Avoid overwriting pre-existing VSCode settings
  packages/next/src/lib/typescript/writeVscodeConfigurations.ts
Labels: type: next

#45257 Add editor links to module import traces
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  packages/next/src/client/components/react-dev-overlay/internal/components/Terminal/Terminal.tsx
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox-builtins.test.ts.snap
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance-app/editor-links.test.ts
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox-builtins.test.ts.snap
Labels: type: next, created-by: Next.js team

#45565 Separate next/dynamic implementation for app and pages
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/components/bailout-to-client-rendering.ts
  packages/next/src/client/on-recoverable-error.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/render.tsx
  packages/next/src/shared/lib/app-dynamic/dynamic-no-ssr.tsx
  packages/next/src/shared/lib/app-dynamic/index.tsx
  packages/next/src/shared/lib/app-dynamic/loadable.tsx
  packages/next/src/shared/lib/app-dynamic/no-ssr-error.ts
  packages/next/src/shared/lib/dynamic.tsx
  packages/next/src/shared/lib/loadable.tsx
  test/development/basic/next-dynamic.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/dynamic/app/.gitkeep
  test/e2e/app-dir/dynamic/app/dynamic/dynamic-imports/dynamic-client.js
  test/e2e/app-dir/dynamic/app/dynamic/dynamic-imports/dynamic-server.js
  test/e2e/app-dir/dynamic/app/dynamic/dynamic-imports/react-lazy-client.js
  test/e2e/app-dir/dynamic/app/dynamic/dynamic.module.css
  test/e2e/app-dir/dynamic/app/dynamic/lazy.module.css
  test/e2e/app-dir/dynamic/app/dynamic/page.js
  test/e2e/app-dir/dynamic/app/dynamic/text-client.js
  test/e2e/app-dir/dynamic/app/dynamic/text-dynamic-client.js
  test/e2e/app-dir/dynamic/app/dynamic/text-dynamic-no-ssr-client.js
  test/e2e/app-dir/dynamic/app/dynamic/text-dynamic-no-ssr-server.js
  test/e2e/app-dir/dynamic/app/dynamic/text-dynamic-server-import-client.js
  test/e2e/app-dir/dynamic/app/dynamic/text-dynamic-server.js
  test/e2e/app-dir/dynamic/app/dynamic/text-lazy-client.js
  test/e2e/app-dir/dynamic/app/layout.js
  test/e2e/app-dir/dynamic/dynamic.test.ts
  test/e2e/app-dir/dynamic/pages/legacy/no-ssr.js
  test/e2e/app-dir/dynamic/pages/no-ssr.js
  test/unit/next-dynamic.test.tsx
Labels: type: next, created-by: Next.js team

#45465 Add example for `clearPreviewData` with path to documentation
  docs/advanced-features/preview-mode.md
Labels: area: documentation

#45594 Improve swc transforms
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/fixture/server-actions/7/input.js
  packages/next-swc/crates/core/tests/fixture/server-actions/7/output.js
Labels: type: next, created-by: Next.js team

#45589 Fix AsyncLocalStorage included in the client bundle
  packages/next/src/client/components/navigation.ts
Labels: type: next, created-by: Next.js team

#45604 Fix invalid sourcemaps in taskfile-swc
  packages/next/taskfile-swc.js
Labels: type: next, created-by: Next.js team

#45602 Fix unsafe caching for isolated tests
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  test/lib/create-next-install.js
Labels: created-by: Next.js team

#45586 Optimize size for the error component
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/error.tsx
  packages/next/src/pages/_error.tsx
Labels: type: next, created-by: Next.js team

#45608 Refactor server-patch-reducer and refresh-reducer to use applyFlightData and handleMutable (#45608)Co-authored-by: kodiakhq[bot] <49736102+kodiakhq[bot]@users.noreply.github.com> Co-authored-by: Jan Kaifer <jan@kaifer.cz>
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  test/e2e/app-dir/router-autoscroll/router-autoscroll.test.ts
Labels: type: next, created-by: Next.js team

#45613 Emit plugin errors for metadata API in client entries
  packages/next/src/server/typescript/constant.ts
  packages/next/src/server/typescript/index.ts
  packages/next/src/server/typescript/rules/metadata.ts
Labels: type: next, created-by: Next.js team

#45622 Update @next/font/google data
  packages/font/src/google/font-data.json
  packages/font/src/google/index.ts
Labels: created-by: Next.js team

#45601 Fix unexpected polyfills in edge-runtime
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-serverless-loader/utils.ts
  packages/next/src/compiled/native-url/index.js
  packages/next/src/server/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/shared/lib/image-loader.ts
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#45584 docs: added missing strategy
  docs/basic-features/script.md
Labels: area: documentation

#45616 misc: fix precompiled script generation
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/compiled/babel/bundle.js
  packages/next/src/compiled/webpack/bundle5.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#45634 Fix TS plugin completions
  packages/next/src/server/typescript/rules/server.ts
Labels: type: next, created-by: Next.js team

#45638 Increase GitHub actions job timeouts (#45638
  .github/workflows/build_test_deploy.yml
  .github/workflows/pull_request_stats.yml
Labels: created-by: Next.js team

#45639 Use only 1 worker for type checking and linting
  packages/next/src/build/index.ts
  packages/next/src/lib/verifyAndLint.ts
Labels: type: next, created-by: Next.js team

#45637 Avoid loading project config multiple times
  packages/next/src/build/webpack-build.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/dev/hot-reloader.ts
Labels: type: next, created-by: Next.js team

#45643 bump node alpine to version 18 (LTS)
  examples/with-docker/Dockerfile
Labels: area: examples

#45648 Add same-origin to fetchServerResponse
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
Labels: type: next, created-by: Next.js team

#45649 Use higher instanceId for redux devtools
  packages/next/src/client/components/use-reducer-with-devtools.ts
Labels: type: next, created-by: Next.js team

#45653 Fix ts config in reproduction-template-app-dir
  examples/reproduction-template-app-dir/tsconfig.json
Labels: area: examples, created-by: Next.js team

#45655 Avoid injecting the TS plugin if `extends` is used
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
Labels: type: next, created-by: Next.js team

#45652 migrate from yarn to pnpm
  .github/actions/next-stats-action/src/prepare/repo-setup.js
Labels: created-by: Next.js team

#45612 Support filebased metadata icon and apple touch icons
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/app-dir/metadata.ts
  packages/next/src/build/webpack/loaders/app-dir/types.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-image-loader.ts
  packages/next/src/build/webpack/loaders/next-image-loader/blur.ts
  packages/next/src/build/webpack/loaders/next-image-loader/index.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render.tsx
  packages/next/src/server/lib/app-dir-module.ts
  test/e2e/app-dir/metadata/app/favicon.ico
  test/e2e/app-dir/metadata/app/icons/static/icon.png
  test/e2e/app-dir/metadata/app/icons/static/nested/apple-touch-icon.png
  test/e2e/app-dir/metadata/app/icons/static/nested/icon1.png
  test/e2e/app-dir/metadata/app/icons/static/nested/page.tsx
  test/e2e/app-dir/metadata/app/icons/static/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#45490 Update app dir react for client reference updates
  package.json
  packages/next/src/build/is-client-reference.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/next-flight-loader/module-proxy.ts
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-rendering-stub.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom.profiling.min.js
  packages/next/src/compiled/react-dom/client.js
  packages/next/src/compiled/react-dom/package.json
  packages/next/src/compiled/react-server-dom-webpack/client.js
  packages/next/src/compiled/react-server-dom-webpack/server.browser.js
  packages/next/src/compiled/react/cjs/react-jsx-dev-runtime.development.js
  packages/next/src/compiled/react/cjs/react-jsx-runtime.development.js
  packages/next/src/compiled/react/cjs/react.development.js
  packages/next/src/compiled/react/cjs/react.production.min.js
  packages/next/src/compiled/react/cjs/react.shared-subset.development.js
  packages/next/src/compiled/react/cjs/react.shared-subset.production.min.js
  packages/next/src/compiled/react/package.json
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render.tsx
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#45484 Improve client-only imported in external package error
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-invalid-import-error-loader.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/getModuleTrace.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseNextInvalidImportError.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseRSC.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/webpackModuleError.ts
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/styled-jsx/comp1.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/styled-jsx/comp2.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/styled-jsx/page.js
  test/development/acceptance-app/rsc-build-errors.test.ts
Labels: type: next, created-by: Next.js team

#45676 Fix error page line height (#45676
  packages/next/src/client/components/error.tsx
  packages/next/src/pages/_error.tsx
Labels: type: next, created-by: Next.js team

#45673 Picking apple-icon instead of apple-touch-icon
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/app-dir/metadata.ts
  packages/next/src/lib/metadata/generate/opengraph.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/metadata/app/icons/static/nested/apple-icon.png
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#44426 [ESLint] Add `app` dir to default linting directories
  docs/api-reference/cli.md
  docs/basic-features/eslint.md
  packages/next/src/cli/next-lint.ts
  packages/next/src/lib/constants.ts
  packages/next/src/lib/verifyAndLint.ts
  test/integration/eslint/base-directories/app/layout.js
  test/integration/eslint/base-directories/next.config.js
  test/integration/eslint/test/index.test.js
Labels: area: documentation, type: next

#45678 Skip prefetching for bots in app-router too
  packages/next/src/client/components/app-router.tsx
  test/e2e/app-dir/app-prefetch/app/layout.js
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team

#43671 Update react-hydration-error.md
  errors/react-hydration-error.md
Labels: area: documentation

#45671 Fix directive parsing in SWC
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/errors/server-actions/1/input.js
  packages/next-swc/crates/core/tests/errors/server-actions/1/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/1/output.stderr
  packages/next-swc/crates/core/tests/errors/server-actions/2/input.js
  packages/next-swc/crates/core/tests/errors/server-actions/2/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/2/output.stderr
  packages/next-swc/crates/core/tests/fixture/server-actions/8/input.js
  packages/next-swc/crates/core/tests/fixture/server-actions/8/output.js
Labels: type: next, created-by: Next.js team

#43894 Simplify with-google-analytics example
  examples/with-google-analytics/pages/_app.js
  examples/with-google-analytics/pages/_document.js
Labels: area: examples

#45090 Define base image for multi-stage build
  examples/with-docker/Dockerfile
Labels: area: examples

#45440 fix(next-mdx): mark `mdx-js/*` as optional
  examples/app-dir-mdx/app/page.module.css
  examples/app-dir-mdx/package.json
  packages/next-mdx/package.json
Labels: area: examples, created-by: Next.js team

#45679 More explicit errors for invalid exports in SWC (#45679
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/errors/server-actions/3/input.js
  packages/next-swc/crates/core/tests/errors/server-actions/3/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/3/output.stderr
  packages/next-swc/crates/core/tests/errors/server-actions/4/input.js
  packages/next-swc/crates/core/tests/errors/server-actions/4/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/4/output.stderr
Labels: type: next, created-by: Next.js team

#45680 Add warning for head.js with metadata docs link
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/head/head.test.ts
Labels: type: next, created-by: Next.js team

#45681 Fix missing hasHeader mock during revalidate
  packages/next/src/server/lib/mock-request.ts
  packages/next/src/server/send-payload/revalidate-headers.ts
  run-tests.js
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/ssr.js
Labels: type: next, created-by: Next.js team

#45682 test(integration): allow to conitnue when test suite fails
  run-tests.js
Labels: created-by: Next.js team

#45701 Update no-img-element.md
  errors/no-img-element.md
Labels: area: documentation

#45706 chore: update issue-labeler
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/issue-labeler.yml
  .github/workflows/issue_labeler.yml
Labels: created-by: Next.js team

#45691 A repeated description should be updated
  docs/api-reference/next/server.md
Labels: area: documentation

#45704 Update app-static-to-dynamic-error.md
  errors/app-static-to-dynamic-error.md
Labels: area: documentation, created-by: Next.js team

#45619 Fix CSS loaders in pages when app dir is enabled
  packages/next/src/build/webpack-build.ts
  packages/next/src/build/webpack/config/blocks/css/index.ts
  packages/next/src/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/src/build/webpack/config/blocks/css/loaders/modules.ts
  packages/next/src/build/webpack/loaders/next-flight-css-loader.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/app/pages/css-modules/page1.js
  test/e2e/app-dir/app/pages/css-modules/page1.module.css
  test/e2e/app-dir/app/pages/css-modules/page2.js
  test/e2e/app-dir/app/pages/css-modules/page2.module.css
Labels: type: next, created-by: Next.js team

#45696 Allow `generateMetadata` to be synchronous
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/metadata/app/basic/sync-generate-metadata/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next

#45720 chore: update `next/image` docs with unoptimized example
  docs/api-reference/next/image.md
  docs/api-reference/next/legacy/image.md
Labels: area: documentation, created-by: Next.js team

#45560 Turbopack experimental fields docs and schema
  docs/api-reference/next.config.js/turbopack.md
  docs/manifest.json
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: area: documentation, type: next

#45719 Allow setting metadataBase for metadata
  packages/next/src/lib/metadata/default-metadata.ts
  packages/next/src/lib/metadata/generate/meta.tsx
  packages/next/src/lib/metadata/metadata-context.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/resolve-opengraph.ts
  packages/next/src/lib/metadata/resolvers/resolve-basics.ts
  packages/next/src/lib/metadata/resolvers/resolve-icons.ts
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.ts
  packages/next/src/lib/metadata/resolvers/resolve-title.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.ts
  packages/next/src/lib/metadata/types/alternative-urls-types.ts
  packages/next/src/lib/metadata/types/opengraph-types.ts
  packages/next/src/lib/metadata/types/resolvers.ts
  packages/next/src/lib/metadata/types/twitter-types.ts
  test/e2e/app-dir/metadata/app/metadata-base/layout.tsx
  test/e2e/app-dir/metadata/app/metadata-base/url-instance/page.tsx
  test/e2e/app-dir/metadata/app/metadata-base/url/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#45723 Add IntelliSense for `generateMetadata`
  packages/next/src/server/typescript/index.ts
  packages/next/src/server/typescript/rules/metadata.ts
Labels: type: next, created-by: Next.js team

#45728 Ensure bundle 404 can be rewritten in dev
  packages/next/src/server/dev/hot-reloader.ts
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team

#45760 Fix CNA file initializing order
  packages/create-next-app/templates/index.ts
Labels: area: create-next-app, created-by: Next.js team

#45668 Return a special result when a route can't be resolved
  packages/next/src/server/lib/route-resolver.ts
Labels: type: next

#45759 Support favicon.ico for metadata (#45759
  packages/next/src/build/entries.ts
  packages/next/src/build/webpack/loaders/app-dir/metadata.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/server/dev/hot-reloader.ts
  packages/next/src/server/lib/find-page-file.ts
  test/e2e/app-dir/metadata/app/params/[slug]/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#45764 Forward type definition with the TS plugin
  packages/next/src/server/typescript/index.ts
  packages/next/src/server/typescript/rules/metadata.ts
Labels: type: next, created-by: Next.js team

#45768 Update CNA tests (#45768
  scripts/run-for-change.js
  test/integration/create-next-app/index.test.ts
Labels: created-by: Next.js team

#45745 next-dev: change cluster usage to child process + stabilise inspect port (#45745
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/lib/start-server.ts
Labels: type: next, created-by: Next.js team

#45771 Prefix basePath in navigate and prefix methods in app router
  packages/next/src/client/components/app-router.tsx
  test/e2e/app-dir/app-basepath/app/another/page.js
  test/e2e/app-dir/app-basepath/app/layout.js
  test/e2e/app-dir/app-basepath/app/page.js
  test/e2e/app-dir/app-basepath/index.test.ts
  test/e2e/app-dir/app-basepath/next.config.js
Labels: type: next, created-by: Next.js team

#45776 Update turbopack to 230209.02 (#45776)Co-authored-by: kodiakhq[bot] <49736102+kodiakhq[bot]@users.noreply.github.com>
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/turbotrace.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next/src/build/swc/index.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
Labels: type: next, created-by: Next.js team

#45788 Fix type checking for generateStaticParams (#45788
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  test/e2e/app-dir/app-alias/src/app/typing/[slug]/page.tsx
Labels: type: next, created-by: Next.js team

#45782 Fix applyFocusAndScroll with server patch
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
Labels: type: next, created-by: Next.js team

#45781 Apply module default interop for app-dynamic
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/components/bailout-to-client-rendering.ts
  packages/next/src/client/on-recoverable-error.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render.tsx
  packages/next/src/shared/lib/app-dynamic.tsx
  packages/next/src/shared/lib/lazy-dynamic/dynamic-no-ssr.tsx
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  packages/next/src/shared/lib/lazy-dynamic/no-ssr-error.ts
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#45796 Update README for cms-kontent-ai
  examples/cms-kontent-ai/README.md
Labels: area: examples

#45794 Fix displayName prop access for client reference
  packages/next/src/build/webpack/loaders/next-flight-loader/module-proxy.ts
Labels: type: next, created-by: Next.js team

#45783 Use text/plain content-type for RSC responses (#45783)Co-authored-by: JJ Kasper <jj@jjsweb.site> Co-authored-by: kodiakhq[bot] <49736102+kodiakhq[bot]@users.noreply.github.com>
  packages/next/src/build/index.ts
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/server/app-render.tsx
  packages/next/src/server/send-payload/index.ts
  test/e2e/app-dir/app/index.test.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: next, created-by: Next.js team

#45585 Add additional tests for @next/mdx (#45585)Co-authored-by: Shu Ding <g@shud.in>
  package.json
  packages/next-mdx/package.json
  packages/next-mdx/readme.md
  pnpm-lock.yaml
  test/e2e/app-dir/mdx/app/import/mdx-file.mdx
  test/e2e/app-dir/mdx/app/import/page.tsx
  test/e2e/app-dir/mdx/app/layout.tsx
  test/e2e/app-dir/mdx/app/page.mdx
  test/e2e/app-dir/mdx/mdx-components.tsx
  test/e2e/app-dir/mdx/mdx.test.ts
  test/e2e/app-dir/mdx/next.config.js
  test/e2e/app-dir/mdx/pages/pages/import/index.tsx
  test/e2e/app-dir/mdx/pages/pages/import/mdx-file.mdx
  test/e2e/app-dir/mdx/pages/pages/index.mdx
  test/e2e/app-dir/mdx/types/mdx.d.ts
  test/e2e/app-dir/test-template/{{ toFileName name }}/next.config.js
  test/integration/plugin-mdx/components/button.js
  test/integration/plugin-mdx/next.config.js
  test/integration/plugin-mdx/pages/button.mdx
  test/integration/plugin-mdx/pages/index.mdx
  test/integration/plugin-mdx/test/index.test.js
Labels: type: next, created-by: Next.js team

#45761 Add experimental route type checking
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  packages/next/src/lib/typescript/diagnosticFormatter.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/next-dev-server.ts
  test/e2e/app-dir/app-alias/src/pages/aaa.js
  test/integration/app-link-types/app-link-types.test.js
  test/integration/app-link-types/next.config.js
  test/integration/app-link-types/package.json
  test/integration/app-link-types/src/app/about/page.tsx
  test/integration/app-link-types/src/app/blog/[category]/[id]/page.tsx
  test/integration/app-link-types/src/app/dashboard/[...slug]/page.tsx
  test/integration/app-link-types/src/app/dashboard/user/[[...slug]]/page.tsx
  test/integration/app-link-types/src/app/layout.tsx
  test/integration/app-link-types/src/app/type-checks/page.tsx
  test/integration/app-link-types/src/pages/aaa.js
Labels: type: next, created-by: Next.js team

#45808 Use text/x-component for RSC response
  packages/next/src/client/components/app-router-headers.ts
  test/e2e/app-dir/app/index.test.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: next, created-by: Next.js team

#45722 Update server manifest and entry creation
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/next-flight-action-entry-loader.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/server/app-render.tsx
  packages/next/src/server/load-components.ts
Labels: type: next, created-by: Next.js team

#45813 Disable un-necessary lint rule by default
  packages/eslint-config-next/index.js
Labels: type: next, created-by: Next.js team

#45818 Update warning links back to new Metadata docs.
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/src/server/typescript/rules/config.ts
Labels: type: next, created-by: Next.js team

#45807 remove unnecessary await when calling findPagesDir
  packages/next/src/cli/next-dev.ts
Labels: type: next

#45833 fix wrong variables assignment
  packages/next/src/cli/next-dev.ts
Labels: type: next

#45831 fix: proper check for plugin in tsconfig
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
Labels: type: next

#45846 Add status code to app-render redirect response
  packages/next/src/server/app-render.tsx
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team

#45797 Static og and twitter image files as metadata
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/app-dir/types.ts
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/metadata/types.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/lib/metadata/metadata-context.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/resolvers/resolve-icons.ts
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.ts
  packages/next/src/lib/metadata/types/metadata-types.ts
  packages/next/src/lib/metadata/types/opengraph-types.ts
  packages/next/src/lib/metadata/types/twitter-types.ts
  test/e2e/app-dir/metadata/app/opengraph/static/opengraph-image.png
  test/e2e/app-dir/metadata/app/opengraph/static/page.tsx
  test/e2e/app-dir/metadata/app/opengraph/static/twitter-image.png
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#45843 Fix 404 link in example with-turbopack
  examples/with-turbopack/app/layout.tsx
Labels: area: examples

#45820 Fix hash in route types
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  test/integration/app-link-types/src/app/type-checks/page.tsx
Labels: type: next, created-by: Next.js team

#45772 Update middleware prefetch handling
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
  packages/next/src/shared/lib/router/router.ts
  test/e2e/skip-trailing-slash-redirect/app/middleware.js
  test/e2e/skip-trailing-slash-redirect/index.test.ts
Labels: type: next, created-by: Next.js team

#45836 fix(next-swc): Enable `ignoreDynamic` for auto_cjs
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/tests/loader/issue-40231/input.js
  packages/next-swc/crates/core/tests/loader/issue-40231/output.js
Labels: type: next, created-by: Next.js team

#45864 Update default tracing root handling
  packages/next/src/server/config.ts
  test/lib/next-test-utils.js
Labels: type: next, created-by: Next.js team

#45847 Fix redirect for the root path with i18n and defaultLocale
  packages/next/src/lib/load-custom-routes.ts
  test/integration/custom-routes-i18n-index-redirect/next.config.js
  test/integration/custom-routes-i18n-index-redirect/pages/index.js
  test/integration/custom-routes-i18n-index-redirect/test/index.test.js
Labels: type: next

#45863 build(cargo): update turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/wasm/Cargo.toml
Labels: type: next

#45899 Add missing isRootLayout when creating optimistic tree
  packages/next/src/client/components/router-reducer/create-optimistic-tree.test.ts
  packages/next/src/client/components/router-reducer/create-optimistic-tree.ts
  test/e2e/app-dir/app-prefetch/app/prefetch-false/initial/page.js
  test/e2e/app-dir/app-prefetch/app/prefetch-false/result/page.js
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team

#45895 Disable streaming for `pages`
  packages/next/src/server/app-render.tsx
  packages/next/src/server/render.tsx
  test/integration/react-streaming/test/streaming.js
Labels: type: next, created-by: Next.js team

#45876 Improve TypeScript plugin for metadata
  packages/next/src/server/typescript/index.ts
  packages/next/src/server/typescript/rules/metadata.ts
Labels: type: next, created-by: Next.js team

#45861 Upgrade turbopack
  packages/next-swc/Cargo.lock
  packages/next-swc/Cargo.toml
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/turbotrace.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next/src/build/index.ts
  test/integration/build-trace-extra-entries-turbo/app/next.config.js
Labels: type: next, created-by: Next.js team

#44605 Add top-level trace include/exclude config
  docs/advanced-features/output-file-tracing.md
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  packages/next/types/index.d.ts
  test/integration/build-trace-extra-entries-turbo/app/next.config.js
  test/integration/build-trace-extra-entries-turbo/app/pages/index.js
  test/integration/build-trace-extra-entries/app/next.config.js
  test/integration/build-trace-extra-entries/app/pages/index.js
  test/integration/turbotrace-with-webpack-worker/app/next.config.js
  test/integration/turbotrace-with-webpack-worker/app/pages/index.js
Labels: area: documentation, type: next, created-by: Next.js team

#45880 Add warning when mismatching @next/swc version is being used
  packages/next/src/build/swc/index.ts
Labels: type: next, created-by: Next.js team

#45881 Ensure terminal sequence is reset on dev exit
  packages/next/src/cli/next-dev.ts
  test/integration/cli/test/index.test.js
Labels: type: next, created-by: Next.js team

#45914 test(integration): allow to partially skip retry
  run-tests.js
Labels: created-by: Next.js team

#45913 Update `NextResponse` section in Middleware docs
  docs/advanced-features/middleware.md
Labels: area: documentation

#45896 Fix flaky rsc-build-error test
  test/development/acceptance-app/rsc-build-errors.test.ts
Labels: created-by: Next.js team

#45911 Remove action adding "linear" label which is not used anymore
  .github/actions/issue-on-label/.gitignore
  .github/actions/issue-on-label/action.yaml
  .github/actions/issue-on-label/index.js
  .github/actions/issue-on-label/licenses.txt
  .github/actions/issue-on-label/package-lock.json
  .github/actions/issue-on-label/package.json
  .github/actions/issue-on-label/src/index.ts
  .github/actions/issue-on-label/tsconfig.json
  .github/workflows/issue_on_label.yml
Labels: created-by: Next.js team

#45839 chore(deps): upgrade cross-spawn to 7.0.3
  packages/next/package.json
  packages/next/src/compiled/cross-spawn/index.js
  packages/next/src/compiled/sass-loader/cjs.js
  pnpm-lock.yaml
Labels: type: next

#45878 Replace yarn with pnpm in `createTestDir()`
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team

#45921 test: update flaky app dir test
  test/e2e/app-dir/app/index.test.ts
Labels: created-by: Next.js team

#45907 Use details tag in collapsed call stacks
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/GroupedStackFrames.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: type: next, created-by: Next.js team

#45737 Add `MDXComponents` type to `useMDXComponents`
  examples/app-dir-mdx/mdx-components.tsx
Labels: area: examples

#45877 Rename manifest file names
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/export/index.ts
  packages/next/src/server/load-components.ts
  packages/next/src/server/next-server.ts
  packages/next/src/shared/lib/constants.ts
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: type: next, created-by: Next.js team

#45919 `next/navigation` Typescript support for `pages/`
  packages/next/navigation-types/compat/navigation.d.ts
  packages/next/navigation-types/navigation.d.ts
  packages/next/package.json
  packages/next/src/build/index.ts
  packages/next/src/client/components/navigation.ts
  packages/next/src/lib/typescript/writeAppTypeDeclarations.ts
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
  packages/next/src/lib/verifyTypeScriptSetup.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/tsconfig.json
  test/unit/write-app-declarations.test.ts
Labels: type: next, created-by: Next.js team

#45749 Improve server-only imported in external package error
  packages/next/src/build/webpack-config.ts
  test/development/acceptance-app/invalid-imports.test.ts
  test/development/acceptance-app/rsc-build-errors.test.ts
Labels: type: next, created-by: Next.js team

#45879 Include `tsconfig.json` in tests
  .gitignore
  test/e2e/app-dir/metadata/tsconfig.json
  test/integration/app-link-types/tsconfig.json
Labels: created-by: Next.js team

#45925 Use latest CLI for E2E tests
  test/lib/next-modes/next-deploy.ts
Labels: created-by: Next.js team

#45472 Make app-render error logging less verbose in dev
  packages/next/src/server/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  test/development/app-render-error-log/app-render-error-log.test.ts
  test/development/app-render-error-log/app/fn.ts
  test/development/app-render-error-log/app/layout.tsx
  test/development/app-render-error-log/app/page.tsx
  test/development/app-render-error-log/next.config.js
Labels: type: next, created-by: Next.js team

#45915 fix: proper type for typed `Link`
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
Labels: type: next

#45926 Fix syntax error in supabase auth example
  examples/with-supabase-auth-realtime-db/pages/index.js
Labels: area: examples

#45929 Update E2E deploy tests
  test/e2e/app-dir/app-routes/app-custom-routes.test.ts
  test/e2e/skip-trailing-slash-redirect/index.test.ts
Labels: created-by: Next.js team

#45930 test(integration): fix skip retry count logic
  packages/next/src/build/swc/index.ts
  packages/next/src/cli/next-dev.ts
  run-tests.js
Labels: type: next, created-by: Next.js team

#45932 Update font.md
  docs/api-reference/next/font.md
Labels: area: documentation

#45931 Fix app routes on deploy
  packages/next/src/server/next-server.ts
  test/e2e/app-dir/app-routes/app-custom-routes.test.ts
Labels: type: next, created-by: Next.js team

#41320 fix(link): do not reload when Link is in svg (#41320)Co-authored-by: Tim Neutkens <tim@timneutkens.nl>
  packages/next/src/client/link.tsx
  test/integration/client-navigation/test/index.test.js
Labels: type: next

#45923 Freeze resolved metadata object in dev mode
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/metadata/app/params/[slug]/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#45940 Improve type checking with tests
  packages/next/src/build/webpack/plugins/flight-types-plugin.ts
  packages/next/src/lib/typescript/diagnosticFormatter.ts
  packages/next/src/lib/typescript/runTypeCheck.ts
  test/integration/app-link-types/app-link-types.test.js
  test/integration/app-types/app-types.test.js
  test/integration/app-types/next.config.js
  test/integration/app-types/package.json
  test/integration/app-types/src/app/about/page.tsx
  test/integration/app-types/src/app/blog/[category]/[id]/page.tsx
  test/integration/app-types/src/app/dashboard/[...slug]/page.tsx
  test/integration/app-types/src/app/dashboard/user/[[...slug]]/page.tsx
  test/integration/app-types/src/app/layout.tsx
  test/integration/app-types/src/app/type-checks/config/page.tsx
  test/integration/app-types/src/app/type-checks/link/page.tsx
  test/integration/app-types/src/pages/aaa.js
Labels: type: next, created-by: Next.js team

#45950 docs(next/router): capitalize React
  docs/api-reference/next/router.md
Labels: area: documentation

#45951 Log dev error in Server Router
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/server/future/route-handlers/app-route-route-handler.ts
  test/e2e/app-dir/app-routes/app-custom-routes.test.ts
  test/e2e/app-dir/app-routes/app/lowercase/delete/route.ts
  test/e2e/app-dir/app-routes/app/lowercase/get/route.ts
  test/e2e/app-dir/app-routes/app/lowercase/head/route.ts
  test/e2e/app-dir/app-routes/app/lowercase/options/route.ts
  test/e2e/app-dir/app-routes/app/lowercase/patch/route.ts
  test/e2e/app-dir/app-routes/app/lowercase/post/route.ts
  test/e2e/app-dir/app-routes/app/lowercase/put/route.ts
Labels: type: next, created-by: Next.js team

#45670 Stop overriding the user's TS config with defaults during `next build`
  packages/next/src/lib/typescript/runTypeCheck.ts
  test/integration/tsconfig-verifier/pages/index.tsx
  test/production/supports-module-resolution-nodenext/pages/index.tsx
  test/production/supports-module-resolution-nodenext/pkg/package.json
  test/production/supports-module-resolution-nodenext/pkg/src/some-file.d.ts
  test/production/supports-module-resolution-nodenext/pkg/src/some-file.js
  test/production/supports-module-resolution-nodenext/supports-moduleresolution-nodenext.test.ts
  test/production/supports-module-resolution-nodenext/tsconfig.json
Labels: type: next

#45945 Metadata fields improvements
  packages/next/src/lib/metadata/default-metadata.ts
  packages/next/src/lib/metadata/generate/basic.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/types/manifest-types.ts
  packages/next/src/lib/metadata/types/metadata-interface.ts
  test/e2e/app-dir/metadata/app/basic/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team

#45960 Fix flakey app cli output checks
  test/e2e/app-dir/app-routes/app-custom-routes.test.ts
Labels: created-by: Next.js team
