Repository vercel/next.js, pull requests merged in 2023-08, with the labels that each got.

#53406 additional test runner refactoring
  .github/workflows/build_and_test.yml
  run-tests.js
Labels: created-by: Next.js team

#53408 chore(test): move build-spinners node-pty test to isolated
  package.json
  pnpm-lock.yaml
  test/production/build-spinners/index.test.ts
Labels: created-by: Next.js team, area: tests

#53412 Fix windows unit tests
  packages/next/src/build/webpack/plugins/next-types-plugin/index.test.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-pages-api-route-matcher-provider.test.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-pages-route-matcher-provider.test.ts
  test/unit/recursive-copy.test.ts
  test/unit/recursive-delete.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53413 chore(ci): remove console.log()
  test/production/build-spinners/index.test.ts
Labels: created-by: Next.js team, area: tests

#53414 docs: fix broken diagram in caching docs
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53419 fix: update lost dependencies for examples
  examples/with-ant-design/package.json
Labels: area: examples

#53427 disable cache compression
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: web-tooling team

#53440 Revert "docker examples: improve perf by using COPY --link"
  examples/with-docker-compose/next-app/dev.Dockerfile
  examples/with-docker-compose/next-app/prod-without-multistage.Dockerfile
  examples/with-docker-compose/next-app/prod.Dockerfile
  examples/with-docker-multi-env/docker/development/Dockerfile
  examples/with-docker-multi-env/docker/production/Dockerfile
  examples/with-docker-multi-env/docker/staging/Dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples, created-by: Next.js team

#53439 Ensure child processes can clean up
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/start-server.ts
Labels: type: next, created-by: Next.js team

#53436 Docs: Fix formatting issues in the caching docs
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
  docs/02-app/01-building-your-application/02-data-fetching/02-patterns.mdx
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53430 Enable Webpack compression for dev
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#53377 Docs: Review Getting Started Section
  docs/01-getting-started/01-installation.mdx
  docs/01-getting-started/02-project-structure.mdx
  docs/index.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53449 Add warning logs for incorrect page exports
  packages/next/src/build/analysis/get-page-static-info.ts
  test/e2e/app-dir/app-edge/app-edge.test.ts
  test/e2e/app-dir/app-edge/app/export/basic/page.tsx
  test/e2e/app-dir/app-edge/app/export/inherit/page.tsx
Labels: type: next, area: tests, CI approved

#53462 Remove Route Handlers
  packages/next-swc/crates/next-core/js/src/entry/app/edge-route-bootstrap.ts
  packages/next-swc/crates/next-core/js/src/entry/app/route.ts
  packages/next-swc/crates/next-core/js/src/internal/nodejs-proxy-handler.ts
  packages/next-swc/crates/next-core/js/types/rust.d.ts
  packages/next-swc/crates/next-core/src/bootstrap.rs
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/future/route-handler-managers/route-handler-manager.ts
  packages/next/src/server/future/route-matches/route-match.ts
  packages/next/src/server/future/route-modules/app-page/module.ts
  packages/next/src/server/future/route-modules/app-route/helpers/parsed-url-query-to-params.ts
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/future/route-modules/pages-api/module.ts
  packages/next/src/server/future/route-modules/pages/module.ts
  packages/next/src/server/future/route-modules/route-module.ts
  packages/next/src/server/web/edge-route-module-wrapper.ts
Labels: type: next, created-by: Next.js team, area: Turbopack

#53463 chore(docs): add section about responsive images
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation, created-by: Next.js team

#52540 Enable additional webpack memory cache
  packages/next/src/build/webpack-config.ts
  test/integration/app-document-add-hmr/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#53483 Add list of aliased `lucide-react` icons to the transform rules
  packages/next/src/server/config.ts
  test/development/basic/modularize-imports/app/page.js
Labels: type: next, created-by: Next.js team, area: tests

#53456 fix Next.rs API
  .github/workflows/build_and_test.yml
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-build/src/next_app/app_entries.rs
  packages/next-swc/crates/next-core/src/next_app/app_favicon_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_route_entry.rs
  packages/next-swc/crates/next-core/src/next_font/google/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
  packages/next-swc/crates/next-core/src/util.rs
  packages/next/src/build/webpack/loaders/next-route-loader/templates/app-page.ts
  packages/next/src/build/webpack/loaders/next-route-loader/templates/app-route.ts
  packages/next/src/build/webpack/loaders/next-route-loader/templates/pages-api.ts
  packages/next/src/build/webpack/loaders/next-route-loader/templates/pages.ts
  run-tests.js
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/ReactRefreshLogBox-app-doc.test.ts
  test/development/acceptance/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/error-recovery.test.ts
  test/lib/next-test-utils.ts
  test/lib/turbo.ts
  test/turbopack-tests-manifest.js
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: web-tooling team, area: tests

#53495 Ensure router-server clean-up exits properly
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/start-server.ts
Labels: type: next, created-by: Next.js team

#53372 examples: implement server side auth with supabase
  examples/with-supabase/app/_examples/protected-route/page.tsx
  examples/with-supabase/app/auth/sign-in/route.ts
  examples/with-supabase/app/auth/sign-out/route.ts
  examples/with-supabase/app/auth/sign-up/route.ts
  examples/with-supabase/app/login/messages.tsx
  examples/with-supabase/app/login/page.tsx
  examples/with-supabase/app/page.tsx
  examples/with-supabase/components/LogoutButton.tsx
Labels: area: examples

#52338 docs: add clarity for deleting cookies
  docs/02-app/02-api-reference/04-functions/cookies.mdx
Labels: area: documentation

#53472 Fixed wrong link
  examples/cms-enterspeed/README.md
Labels: area: examples

#53485 (docs) Add example of redirection in Server Actions
  docs/02-app/01-building-your-application/02-data-fetching/03-server-actions.mdx
Labels: area: documentation, created-by: Next.js team

#52959 Adding docs about static exports not supporting dynamic segments
  docs/02-app/01-building-your-application/08-deploying/01-static-exports.mdx
Labels: area: documentation, CI approved

#53416 Update `swc_core` to `v0.79.36`
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/core/tests/fixture/server-actions/server/6/output.js
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next/src/build/swc/options.ts
Labels: created-by: web-tooling team

#53508 Update `swc_core` to `v0.79.38`
  Cargo.lock
  Cargo.toml
Labels: created-by: web-tooling team

#53313 Add useOptimistic to client-only errors
  packages/next/src/lib/format-server-error.ts
  packages/next/src/server/typescript/constant.ts
  test/development/acceptance-app/server-components.test.ts
Labels: type: next, area: tests, CI approved

#53494 Add test for client router state invalidation caused by cookie mutations
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/mutate-cookie/page-2/page.js
  test/e2e/app-dir/actions/app/mutate-cookie/page.js
Labels: created-by: Next.js team, area: tests

#53181 feat(next): `next info --verbose` for additional details
  docs/02-app/02-api-reference/08-next-cli.mdx
  packages/next/src/build/swc/index.ts
  packages/next/src/cli/next-info.ts
Labels: type: next, created-by: web-tooling team

#53536 Fix markdown for caching doc link
  docs/02-app/01-building-your-application/09-upgrading/02-app-router-migration.mdx
Labels: area: documentation, CI approved

#53520 docs: Remove duplicate backtick in next/font
  docs/02-app/02-api-reference/01-components/font.mdx
Labels: area: documentation, area: Font Optimization, CI approved

#53549 fix: fetch deduping in dev
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/web/edge-route-module-wrapper.ts
  test/e2e/app-dir/app-fetch-deduping/app-fetch-deduping.test.ts
  test/e2e/app-dir/app-fetch-deduping/app/api/time/route.ts
  test/e2e/app-dir/app-fetch-deduping/app/blog/[slug]/page.js
  test/e2e/app-dir/app-fetch-deduping/app/layout.js
  test/e2e/app-dir/app-static-request-deduping/app-static-request-deduping.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53537 docs: Fix typo and link in 02-app-router-migration.mdx
  docs/02-app/01-building-your-application/09-upgrading/02-app-router-migration.mdx
Labels: area: documentation

#53521 docs: fix force-dynamic example
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
Labels: area: documentation, CI approved

#53548 fix(next): clarify `fetch` polyfill, drop `node-fetch`
  docs/02-app/02-api-reference/05-next-config-js/httpAgentOptions.mdx
  docs/04-architecture/supported-browsers.mdx
  packages/next/package.json
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config-utils.ts
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
Labels: area: documentation, type: next, created-by: Next.js team

#53550 chore: update bug repro links
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/actions/issue-validator/canary.md
  .github/actions/issue-validator/repro.md
Labels: created-by: Next.js team

#53255 example: Improve Stripe examples
  examples/with-stripe-typescript/README.md
  examples/with-stripe-typescript/app/actions/stripe.ts
  examples/with-stripe-typescript/app/api/webhooks/route.ts
  examples/with-stripe-typescript/app/components/CheckoutForm.tsx
  examples/with-stripe-typescript/app/components/CustomDonationInput.tsx
  examples/with-stripe-typescript/app/components/ElementsForm.tsx
  examples/with-stripe-typescript/app/components/PrintObject.tsx
  examples/with-stripe-typescript/app/components/StripeTestCards.tsx
  examples/with-stripe-typescript/app/donate-with-checkout/page.tsx
  examples/with-stripe-typescript/app/donate-with-checkout/result/error.tsx
  examples/with-stripe-typescript/app/donate-with-checkout/result/layout.tsx
  examples/with-stripe-typescript/app/donate-with-checkout/result/page.tsx
  examples/with-stripe-typescript/app/donate-with-elements/page.tsx
  examples/with-stripe-typescript/app/donate-with-elements/result/error.tsx
  examples/with-stripe-typescript/app/donate-with-elements/result/layout.tsx
  examples/with-stripe-typescript/app/donate-with-elements/result/page.tsx
  examples/with-stripe-typescript/app/layout.tsx
  examples/with-stripe-typescript/app/page.tsx
  examples/with-stripe-typescript/components/Cart.tsx
  examples/with-stripe-typescript/components/CartSummary.tsx
  examples/with-stripe-typescript/components/CheckoutForm.tsx
  examples/with-stripe-typescript/components/ClearCart.tsx
  examples/with-stripe-typescript/components/CustomDonationInput.tsx
  examples/with-stripe-typescript/components/ElementsForm.tsx
  examples/with-stripe-typescript/components/Layout.tsx
  examples/with-stripe-typescript/components/PrintObject.tsx
  examples/with-stripe-typescript/components/Products.tsx
  examples/with-stripe-typescript/data/products.ts
  examples/with-stripe-typescript/lib/stripe.ts
  examples/with-stripe-typescript/next.config.js
  examples/with-stripe-typescript/package.json
  examples/with-stripe-typescript/pages/_app.tsx
  examples/with-stripe-typescript/pages/api/checkout_sessions/[id].ts
  examples/with-stripe-typescript/pages/api/checkout_sessions/cart.ts
  examples/with-stripe-typescript/pages/api/checkout_sessions/index.ts
  examples/with-stripe-typescript/pages/api/payment_intents/index.ts
  examples/with-stripe-typescript/pages/api/webhooks/index.ts
  examples/with-stripe-typescript/pages/donate-with-checkout.tsx
  examples/with-stripe-typescript/pages/donate-with-elements.tsx
  examples/with-stripe-typescript/pages/index.tsx
  examples/with-stripe-typescript/pages/result.tsx
  examples/with-stripe-typescript/pages/use-shopping-cart.tsx
  examples/with-stripe-typescript/public/shopping_cart_demo.gif
  examples/with-stripe-typescript/public/use-shopping-cart.png
  examples/with-stripe-typescript/styles.css
  examples/with-stripe-typescript/tsconfig.json
  examples/with-stripe-typescript/utils/api-helpers.ts
  examples/with-stripe-typescript/utils/get-stripejs.ts
  examples/with-stripe-typescript/utils/stripe-helpers.ts
Labels: area: examples

#53441 Move USER and remove redundant --chown from Dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples, CI approved

#53534 chore: remove useless curly brackets from `next/legacy/image`
  packages/next/src/client/legacy/image.tsx
Labels: type: next, CI approved

#53467 Add `--use-bun` to `create-next-app`
  docs/02-app/02-api-reference/06-create-next-app.mdx
  packages/create-next-app/README.md
  packages/create-next-app/helpers/get-pkg-manager.ts
  packages/create-next-app/helpers/install.ts
  packages/create-next-app/index.ts
  test/integration/create-next-app/package-manager.test.ts
Labels: area: documentation, area: create-next-app, area: tests, CI approved

#53535 add support for EXPERIMENTAL_TURBOPACK in next build
  packages/next/src/cli/next-build.ts
Labels: type: next, created-by: web-tooling team

#53545 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#53564 Fix dynamic route not-found boundary matching
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/metadata/app/async/not-found/not-found.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
  test/e2e/app-dir/not-found/app/dynamic/[id]/not-found.js
  test/e2e/app-dir/not-found/app/dynamic/[id]/page.js
  test/e2e/app-dir/not-found/app/dynamic/page.js
  test/e2e/app-dir/not-found/app/layout.js
  test/e2e/app-dir/not-found/not-found.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53581 Add test for catching metadata error in error boundaries
  test/e2e/app-dir/global-error/basic/app/metadata-error-with-boundary/error.js
  test/e2e/app-dir/global-error/basic/app/metadata-error-with-boundary/page.js
  test/e2e/app-dir/global-error/basic/app/metadata-error-without-boundary/page.js
  test/e2e/app-dir/global-error/basic/index.test.ts
Labels: created-by: Next.js team, area: tests

#53539 doc: styled-components has stable version
  docs/02-app/01-building-your-application/05-styling/03-css-in-js.mdx
Labels: area: documentation, CI approved

#53576 update turbopack and update code for API changes
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/next_api/utils.rs
  packages/next-swc/crates/next-build/src/next_build.rs
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/app_segment_config.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/babel.rs
  packages/next-swc/crates/next-core/src/next_app/unsupported_dynamic_metadata_issue.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_font/issue.rs
  packages/next-swc/crates/next-core/src/next_shared/resolve.rs
  packages/next-swc/crates/next-core/src/router.rs
  packages/next-swc/crates/next-core/src/util.rs
  packages/next-swc/crates/next-dev-tests/tests/integration.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#50923 chore: update to `pnpm@8.6.11`
  .github/actions/next-stats-action/Dockerfile
  .github/actions/next-stats-action/package.json
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/test_examples.yml
  .github/workflows/trigger_release.yml
  azure-pipelines.yml
  package.json
  packages/next/package.json
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
  test/.stats-app/package.json
  test/.stats-app/stats-config.js
  test/development/basic/define-class-fields.test.ts
  test/integration/create-next-app/package-manager.test.ts
  test/integration/image-optimizer/test/old-sharp.test.ts
  test/integration/image-optimizer/test/sharp.test.ts
  test/lib/create-next-install.js
  test/lib/next-modes/base.ts
Labels: created-by: web-tooling team

#53587 chore(lint): fix lint warning about unused import `current_dir`
  packages/next-swc/crates/core/src/lib.rs
Labels: type: next, created-by: Next.js team

#53585 docs: update webhook snippet for cache revalidation
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
Labels: area: documentation, CI approved

#53531 EXAMPLE: fix with-supabase signup button style
  examples/with-supabase/app/login/page.tsx
Labels: area: examples, CI approved

#53588 Update to turbopack-230804.2
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/next_api/utils.rs
  packages/next-swc/crates/next-build/src/next_build.rs
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/page_source.rs
  packages/next-swc/crates/next-core/src/router.rs
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#53582 Remove Base Path from usePathname output
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/remove-base-path.ts
  test/e2e/app-dir/base-path/app/dashboard/page.jsx
  test/e2e/app-dir/base-path/app/layout.jsx
  test/e2e/app-dir/base-path/app/page.jsx
  test/e2e/app-dir/base-path/components/page.jsx
  test/e2e/app-dir/base-path/index.test.ts
  test/e2e/app-dir/base-path/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#53592 chore(docs): update static exports documentation with missing info
  docs/02-app/01-building-your-application/08-deploying/01-static-exports.mdx
Labels: area: documentation, created-by: Next.js team

#53595 Update ISR revalidateTag handling
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  test/e2e/app-dir/app-static/app-static.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53597 docs: fix typo on caching page
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53596 return a 404 when `/next/_data` build IDs are mismatched
  packages/next/src/server/next-server.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53610 (Docs) Remove `appDir` from experimental flag in `mdx` configuration docs.
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
Labels: area: documentation, CI approved

#53612 Reduce flakiness of app-fetch-logging test
  test/e2e/app-dir/app-static/app-fetch-logging.test.ts
Labels: created-by: Next.js team, area: tests

#53599 docs: fix the link to another document
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
Labels: area: documentation, CI approved

#53642 Fix tracing in require-hook
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/server/require-hook.ts
Labels: type: next, created-by: Next.js team

#53638 fix typo in image.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation

#53643 Fix other case for buildId mismatch
  packages/next/src/server/base-server.ts
Labels: type: next, created-by: Next.js team

#53645 Add update fonts workflow
  .github/workflows/update_fonts_data.yml
  package.json
  pnpm-lock.yaml
  scripts/update-fonts-data-workflow.js
Labels: created-by: Next.js team, area: Font Optimization

#53649 Update font data
  packages/font/src/google/font-data.json
  packages/font/src/google/index.ts
Labels: type: next, created-by: Next.js team, area: Font Optimization

#53650 Fix: missing equal sign
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation, CI approved

#53655 Fix action failures due to state tree encoding
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  test/e2e/app-dir/actions/app-action.test.ts
Labels: type: next, area: tests, CI approved

#53662 docs(with-stripe-typescript): Update README demo link
  examples/with-stripe-typescript/README.md
  examples/with-stripe-typescript/lib/stripe.ts
Labels: area: examples

#53672 Fix doc grammatical errors
  docs/02-app/01-building-your-application/03-rendering/01-static-and-dynamic.mdx
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation, CI approved

#53686 fix(create-next-app): fix CI defaults (default to typescript)
  packages/create-next-app/index.ts
Labels: area: create-next-app, created-by: Next.js team

#53679 add unit test case for next.rs api
  packages/next/src/build/swc/index.ts
  test/unit/__snapshots__/next-api.test.ts.snap
  test/unit/next-api.test.ts
Labels: type: next, created-by: web-tooling team, area: tests

#53692 fix azure test cases
  azure-pipelines.yml
Labels: created-by: web-tooling team

#52909 Adding GoogleMaps and Youtube embed components
  packages/third-parties/README.md
  packages/third-parties/package.json
  packages/third-parties/scripts/update-third-parties.js
  packages/third-parties/src/ThirdPartyScriptEmbed.tsx
  packages/third-parties/src/google/index.tsx
  packages/third-parties/src/types/google.ts
  packages/third-parties/tsconfig.json
  test/e2e/app-dir/third-parties/app/google-maps-embed/page.js
  test/e2e/app-dir/third-parties/app/layout.tsx
  test/e2e/app-dir/third-parties/app/youtube-embed/page.js
  test/e2e/app-dir/third-parties/basic.test.ts
  test/e2e/third-parties/index.test.ts
  test/e2e/third-parties/pages/google-maps-embed.js
  test/e2e/third-parties/pages/youtube-embed.js
Labels: created-by: Chrome Aurora, area: tests

#53687 Fix not-found rendering in production with edge
  packages/next/src/server/base-server.ts
  packages/next/src/server/web-server.ts
  test/e2e/app-dir/not-found/basic/app/dynamic/[id]/not-found.js
  test/e2e/app-dir/not-found/basic/app/dynamic/[id]/page.js
  test/e2e/app-dir/not-found/basic/app/dynamic/page.js
  test/e2e/app-dir/not-found/basic/app/layout.js
  test/e2e/app-dir/not-found/basic/app/not-found.js
  test/e2e/app-dir/not-found/basic/app/page.js
  test/e2e/app-dir/not-found/basic/index.test.ts
  test/e2e/app-dir/not-found/conflict-route/app/layout.js
  test/e2e/app-dir/not-found/conflict-route/app/not-found.js
  test/e2e/app-dir/not-found/conflict-route/app/not-found/not-found.js
  test/e2e/app-dir/not-found/conflict-route/app/not-found/page.js
  test/e2e/app-dir/not-found/conflict-route/app/page.js
  test/e2e/app-dir/not-found/conflict-route/index.test.ts
  test/e2e/app-dir/not-found/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#53701 Update env variable for fonts data workflow
  .github/workflows/update_fonts_data.yml
  scripts/update-fonts-data-workflow.js
Labels: created-by: Next.js team, area: Font Optimization

#52168 (example) update github-pages example
  examples/github-pages/app/about/page.tsx
  examples/github-pages/app/layout.tsx
  examples/github-pages/next.config.js
Labels: area: examples, CI approved

#53443 fix(next/image): don't call ReactDOM.preload if missing, such as jest
  packages/next/src/client/image-component.tsx
  test/production/jest/next-image-preload/app/app/layout.tsx
  test/production/jest/next-image-preload/app/app/next.svg
  test/production/jest/next-image-preload/app/app/page.tsx
  test/production/jest/next-image-preload/app/jest.config.js
  test/production/jest/next-image-preload/next-image-preload.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53402 Add docs page for uncaught DynamicServerErrors
  errors/dynamic-server-error.mdx
  packages/next/src/client/components/headers.ts
  packages/next/src/client/components/static-generation-bailout.ts
  test/development/acceptance-app/dynamic-error.test.ts
  test/e2e/app-dir/headers-static-bailout/app/layout.tsx
  test/e2e/app-dir/headers-static-bailout/app/page-with-headers/page.tsx
  test/e2e/app-dir/headers-static-bailout/app/page-without-headers/page.tsx
  test/e2e/app-dir/headers-static-bailout/headers-static-bailout.test.ts
  test/e2e/app-dir/headers-static-bailout/next.config.js
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#53523 Consolidate Server and Routing process into one process
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/is-node-debugging.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  packages/next/src/server/lib/router-utils/types.ts
  packages/next/src/server/lib/setup-server-worker.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/lib/utils.ts
  packages/next/src/server/next.ts
  packages/next/src/telemetry/events/session-stopped.ts
  test/development/watch-config-file/fixture/next.config.js
  test/development/watch-config-file/fixture/pages/index.js
  test/development/watch-config-file/index.test.ts
  test/e2e/instrumentation-hook-src/instrumentation-hook-src.test.ts
  test/e2e/instrumentation-hook/instrumentation-hook.test.ts
  test/integration/project-dir-delete/index.test.ts
  test/integration/required-server-files-ssr-404/test/index.test.js
Labels: type: next, created-by: Next.js team

#53693 fix: error overlay hijacking application focus (safari)
  packages/next-swc/crates/next-core/js/src/overlay/internal/components/Dialog/Dialog.tsx
  packages/next/src/client/components/react-dev-overlay/internal/components/Dialog/Dialog.tsx
  packages/react-dev-overlay/src/internal/components/Dialog/Dialog.tsx
  test/development/client-dev-overlay/index.test.ts
Labels: type: next, created-by: Next.js team, area: Turbopack, area: tests

#53742 update vendored React packages to the the latest canary
  package.json
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-rendering-stub.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.browser.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.edge.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.edge.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.node.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.profiling.min.js
  packages/next/src/compiled/react-dom-experimental/package.json
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-rendering-stub.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom.profiling.min.js
  packages/next/src/compiled/react-dom/package.json
  packages/next/src/compiled/react-experimental/cjs/react.development.js
  packages/next/src/compiled/react-experimental/cjs/react.production.min.js
  packages/next/src/compiled/react-experimental/cjs/react.shared-subset.development.js
  packages/next/src/compiled/react-experimental/cjs/react.shared-subset.production.min.js
  packages/next/src/compiled/react-server-dom-webpack-experimental/package.json
  packages/next/src/compiled/react-server-dom-webpack/package.json
  packages/next/src/compiled/react/cjs/react.development.js
  packages/next/src/compiled/react/cjs/react.production.min.js
  packages/next/src/compiled/react/cjs/react.shared-subset.development.js
  packages/next/src/compiled/react/cjs/react.shared-subset.production.min.js
  packages/next/src/compiled/scheduler-experimental/cjs/scheduler.development.js
  packages/next/src/compiled/scheduler-experimental/cjs/scheduler.native.development.js
  packages/next/src/compiled/scheduler-experimental/cjs/scheduler.native.production.min.js
  packages/next/src/compiled/scheduler-experimental/cjs/scheduler.production.min.js
  packages/next/src/compiled/scheduler/cjs/scheduler.development.js
  packages/next/src/compiled/scheduler/cjs/scheduler.native.development.js
  packages/next/src/compiled/scheduler/cjs/scheduler.native.production.min.js
  packages/next/src/compiled/scheduler/cjs/scheduler.production.min.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#53700 fix(next/image): priority in App Router causes double fetch on mobile
  test/integration/next-image-new/app-dir/app/static-img/page.js
  test/integration/next-image-new/app-dir/test/static.test.ts
  test/integration/next-image-new/base-path/pages/static-img.js
  test/integration/next-image-new/base-path/test/static.test.js
  test/integration/next-image-new/default/pages/static-img.js
  test/integration/next-image-new/default/test/static.test.ts
Labels: created-by: Next.js team, area: tests

#53707 Fix example/with-material-ui broken links
  examples/with-material-ui/README.md
Labels: area: examples, CI approved

#53752 fix parallel route tests & improve error for conflicting pages
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel/(new)/@baz/default.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel/@bar/default.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel/@bar/nested/page.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel/@foo/default.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel/@foo/nested/page.js
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel/layout.js
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53705 App Router Preinitialize all required scripts except one for bootstrap
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/required-scripts.tsx
  test/e2e/app-dir/app/app/bootstrap/page.js
  test/e2e/app-dir/app/index.test.ts
Labels: type: next, created-by: Next.js team

#53697 fix: Update outdated transform imports lucide-react
  packages/next/src/server/config.ts
  test/development/basic/modularize-imports.test.ts
Labels: type: next, area: tests

#53718 Fix a link in incrementalCacheHandlerPath.mdx
  docs/02-app/02-api-reference/05-next-config-js/incrementalCacheHandlerPath.mdx
Labels: area: documentation, CI approved

#53761 Add warnings for static generation bail outs
  packages/next/src/build/index.ts
  test/e2e/app-dir/actions/app-action.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53772 Fix typo in data fetching documentation
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
Labels: area: documentation

#53771 Move next-rs API tests from unit to e2e
  test/development/basic/__snapshots__/next-rs-api.test.ts.snap
  test/development/basic/next-rs-api.test.ts
Labels: created-by: Next.js team, area: tests

#53396 test(turbo): allow to run test with --experimental-turbo
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_reusable.yml
  jest.config.js
  test/lib/e2e-utils.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-test-utils.ts
  test/lib/turbo.ts
Labels: created-by: web-tooling team, area: tests

#53793 Docs: Add option for fetching data using route handlers - from the client
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53669 chore(actions): exclude drafts from PR notificiation
  .github/actions/pr-approved-open/index.mjs
  .github/actions/pr-approved-open/src/index.mjs
Labels: created-by: Next.js team

#53805 docs: Add more information about Server Actions
  docs/02-app/01-building-your-application/02-data-fetching/03-server-actions.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53769 Sort root entries per pageExtensions config for consistency
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: Next.js team

#53803 improve error message for conflicting parallel segments
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#48484 Add `changeFrequency` and `priority` attributes to sitemaps
  packages/next/src/build/webpack/loaders/metadata/resolve-route-data.test.ts
  packages/next/src/build/webpack/loaders/metadata/resolve-route-data.ts
  packages/next/src/lib/metadata/types/metadata-interface.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/sitemap.ts
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, area: tests

#53806 docs: document cache tagging mechanism
  docs/02-app/02-api-reference/04-functions/fetch.mdx
Labels: area: documentation

#53824 Ensure we set cache-control: no-cache for actions
  packages/next/src/server/app-render/action-handler.ts
Labels: type: next, created-by: Next.js team

#53815 chore(docs): add missing "try it out"
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation, created-by: Next.js team

#53782 Reuse RenderWorker type
  packages/next/src/server/lib/server-ipc/index.ts
Labels: type: next, created-by: Next.js team

#53804 docs: Opting out of scrolling with `next/link` and `useRouter`.
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
  docs/02-app/02-api-reference/01-components/link.mdx
  docs/02-app/02-api-reference/04-functions/use-router.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53825 chore(docs): note cache-control header for preview/draft mode
  docs/03-pages/01-building-your-application/06-configuring/11-draft-mode.mdx
  docs/03-pages/01-building-your-application/06-configuring/14-preview-mode.mdx
Labels: area: documentation, created-by: Next.js team

#53876 fix: normalize backslash in `getStaticPaths()` for windows
  packages/next/src/build/utils.ts
Labels: type: next, created-by: Next.js team

#53843 Delete errorneous empty content length header
  packages/next/src/server/lib/server-ipc/utils.ts
Labels: type: next, CI approved

#53590 Include instructions for `bun` package manager
  contributing/examples/adding-examples.md
  docs/02-app/01-building-your-application/07-configuring/02-eslint.mdx
  docs/02-app/02-api-reference/05-next-config-js/output.mdx
  docs/02-app/02-api-reference/06-create-next-app.mdx
  docs/03-pages/01-building-your-application/06-configuring/12-error-handling.mdx
  docs/03-pages/01-building-your-application/08-upgrading/03-version-13.mdx
  docs/03-pages/01-building-your-application/08-upgrading/04-version-12.mdx
  errors/install-sharp.mdx
  errors/sharp-missing-in-production.mdx
  errors/version-staleness.mdx
  packages/create-next-app/README.md
Labels: area: documentation

#53809 Turbopack: more tests and bugfixes for next.rs api
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/next_api/endpoint.rs
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-api/src/versioned_content_map.rs
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/next_server/context.rs
  pnpm-lock.yaml
  test/development/basic/__snapshots__/next-rs-api.test.ts.snap
  test/development/basic/next-rs-api.test.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#53854 Docs: Update confusing wording in intercepting routes
  docs/02-app/01-building-your-application/01-routing/09-intercepting-routes.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#53902 Add `@heroicons/react` to `modularizeImports`
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#53889 Turbopack: Fix debugging in napi for next-api
  packages/next/src/build/swc/index.ts
  packages/next/src/cli/next-dev.ts
Labels: type: next, created-by: web-tooling team

#53796 Fix/match resource
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  test/e2e/app-dir/rsc-basic/app/loader-rule/a.txt
  test/e2e/app-dir/rsc-basic/app/loader-rule/page.js
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: type: next

#53919 Use summary_large_image as twitter card if images present by default
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.ts
  test/e2e/app-dir/metadata/app/twitter/no-image/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53879 Turbopack: Emit whether server or client assets changed
  packages/next-swc/crates/napi/src/next_api/endpoint.rs
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/route.rs
  packages/next/src/build/swc/index.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team

#53920 (docs) Fixes Server Actions example
  docs/02-app/01-building-your-application/02-data-fetching/03-server-actions.mdx
Labels: area: documentation, created-by: Next.js team

#53385 Limit sharp's concurrency
  packages/next/src/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#53925 Update runner labels
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  test/integration/next-image-legacy/trailing-slash/test/index.test.ts
  test/integration/next-image-new/trailing-slash/test/index.test.ts
Labels: created-by: Next.js team, area: tests

#53908 fix typo
  docs/01-getting-started/03-react-essentials.mdx
Labels: area: documentation

#53917 enable @vercel/og support for turbopack
  .github/workflows/build_and_deploy.yml
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/next_font/local/mod.rs
  packages/next-swc/crates/next-core/src/next_font/util.rs
  packages/next-swc/crates/next-core/src/next_shared/resolve.rs
  packages/next-swc/crates/next-dev/src/lib.rs
  packages/next/src/server/web/spec-extension/image-response.ts
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#53831 Update `swc_core` to `v0.79.55`
  Cargo.lock
  Cargo.toml
Labels: created-by: web-tooling team

#53875 [chore] Upgrade playwright to 1.35.1
  .github/workflows/build_and_deploy.yml
  .github/workflows/test_examples.yml
  azure-pipelines.yml
  package.json
  pnpm-lock.yaml
  test/integration/repeated-slashes/test/index.test.js
  test/lib/browsers/playwright.ts
Labels: CI approved

#53442 feat(image): DataURL placeholder support for <Image />
  docs/02-app/02-api-reference/01-components/image.mdx
  examples/image-component/pages/shimmer.tsx
  packages/next/src/client/image-component.tsx
  packages/next/src/shared/lib/get-img-props.ts
  test/integration/next-image-new/app-dir/app/data-url-placeholder/page.js
  test/integration/next-image-new/app-dir/app/fill-data-url-placeholder/page.js
  test/integration/next-image-new/app-dir/app/static-img/page.js
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/app-dir/test/static.test.ts
  test/integration/next-image-new/base-path/pages/static-img.js
  test/integration/next-image-new/base-path/test/static.test.js
  test/integration/next-image-new/default/pages/data-url-placeholder.js
  test/integration/next-image-new/default/pages/fill-data-url-placeholder.js
  test/integration/next-image-new/default/pages/static-img.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/next-image-new/default/test/static.test.ts
Labels: area: examples, type: next, CI approved

#53938 Docs: fix pnpm command for saving dev deps (#53937)
  docs/02-app/01-building-your-application/07-configuring/02-eslint.mdx
Labels: area: documentation, CI approved

#53703 Recover not found errors from flight data to render with proper boundary
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/test.tsx
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/client/components/not-found-boundary.tsx
  packages/next/src/client/components/not-found-error.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/lib/app-dir-module.ts
  test/e2e/app-dir/not-found/basic/index.test.ts
  test/e2e/app-dir/not-found/group-route/app/(group)/blog/page.js
  test/e2e/app-dir/not-found/group-route/app/(group)/layout.js
  test/e2e/app-dir/not-found/group-route/app/(group)/not-found.js
  test/e2e/app-dir/not-found/group-route/app/layout.js
  test/e2e/app-dir/not-found/group-route/index.test.ts
  test/e2e/app-dir/parallel-routes-not-found/parallel-routes-not-found.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#53881 Update React ot latest canary
  package.json
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-rendering-stub.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.browser.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.edge.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.edge.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-static.node.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.production.min.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.profiling.min.js
  packages/next/src/compiled/react-dom-experimental/package.json
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-rendering-stub.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-rendering-stub.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom.production.min.js
  packages/next/src/compiled/react-dom/cjs/react-dom.profiling.min.js
  packages/next/src/compiled/react-dom/package.json
  packages/next/src/compiled/react-experimental/cjs/react.development.js
  packages/next/src/compiled/react-experimental/cjs/react.production.min.js
  packages/next/src/compiled/react-experimental/cjs/react.shared-subset.development.js
  packages/next/src/compiled/react-experimental/cjs/react.shared-subset.production.min.js
  packages/next/src/compiled/react-server-dom-webpack-experimental/package.json
  packages/next/src/compiled/react-server-dom-webpack/package.json
  packages/next/src/compiled/react/cjs/react.development.js
  packages/next/src/compiled/react/cjs/react.production.min.js
  packages/next/src/compiled/react/cjs/react.shared-subset.development.js
  packages/next/src/compiled/react/cjs/react.shared-subset.production.min.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#53947 add "expect" to list of forbidden IPC headers
  packages/next/src/server/lib/server-ipc/utils.ts
  test/production/ipc-forbidden-headers/app/api/app-api/route.ts
  test/production/ipc-forbidden-headers/ipc-forbidden-headers.test.ts
  test/production/ipc-forbidden-headers/pages/api/pages-api.js
Labels: type: next, created-by: Next.js team, area: tests

#53951 The extra word 'the' has been deleted
  docs/02-app/01-building-your-application/01-routing/10-route-handlers.mdx
Labels: area: documentation, CI approved

#53939 Update swc runners config
  .github/workflows/build_and_deploy.yml
  packages/next-swc/crates/next-dev/src/lib.rs
  packages/next-swc/package.json
  packages/next/package.json
  pnpm-lock.yaml
  turbo.json
Labels: type: next, created-by: Next.js team

#53970 Update turbo env handling
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#53131 Better IPv6 support for `next-server`
  packages/next-swc/crates/next-core/js/src/internal/next-request-helpers.ts
  packages/next/src/build/utils.ts
  packages/next/src/server/api-utils/node.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/format-hostname.ts
  packages/next/src/server/lib/is-ipv6.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/route-resolver.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/lib/server-ipc/index.ts
  packages/next/src/server/lib/server-ipc/invoke-request.ts
  packages/next/src/server/lib/server-ipc/request-utils.ts
  packages/next/src/server/lib/setup-server-worker.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/next-url.ts
  test/e2e/app-dir/app/standalone.test.ts
  test/integration/cli/test/index.test.js
  test/lib/next-test-utils.ts
  test/production/pnpm-support/index.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-app.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
  test/production/standalone-mode/response-cache/index.test.ts
  test/production/standalone-mode/type-module/index.test.ts
  test/unit/web-runtime/next-url.test.ts
Labels: type: next, area: Turbopack, area: tests, CI approved

#53981 Fix typo in partial navigation section
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
Labels: area: documentation, created-by: Next.js team

#49224 [Examples] Update Example Prepr CMS
  examples/cms-agilitycms/README.md
  examples/cms-builder-io/README.md
  examples/cms-buttercms/README.md
  examples/cms-contentful/README.md
  examples/cms-cosmic/README.md
  examples/cms-datocms/README.md
  examples/cms-dotcms/README.md
  examples/cms-drupal/README.md
  examples/cms-enterspeed/README.md
  examples/cms-ghost/README.md
  examples/cms-kontent-ai/README.md
  examples/cms-prepr/.env.local.example
  examples/cms-prepr/.gitignore
  examples/cms-prepr/README.md
  examples/cms-prepr/components/alert.js
  examples/cms-prepr/components/cover-image.js
  examples/cms-prepr/components/date.js
  examples/cms-prepr/components/footer.js
  examples/cms-prepr/components/hero-post.js
  examples/cms-prepr/components/intro.js
  examples/cms-prepr/components/layout.js
  examples/cms-prepr/components/markdown-styles.module.css
  examples/cms-prepr/components/meta.js
  examples/cms-prepr/components/more-stories.js
  examples/cms-prepr/components/post-body.js
  examples/cms-prepr/components/post-header.js
  examples/cms-prepr/components/post-preview.js
  examples/cms-prepr/components/post-styles.module.css
  examples/cms-prepr/jsconfig.json
  examples/cms-prepr/lib/api.js
  examples/cms-prepr/lib/preprio.js
  examples/cms-prepr/models/author.json
  examples/cms-prepr/models/post.json
  examples/cms-prepr/next.config.js
  examples/cms-prepr/package.json
  examples/cms-prepr/pages/_app.js
  examples/cms-prepr/pages/api/preview.js
  examples/cms-prepr/pages/index.js
  examples/cms-prepr/pages/posts/[slug].js
  examples/cms-prepr/styles/index.css
  examples/cms-prismic/README.md
  examples/cms-sanity/README.md
  examples/cms-sitefinity/README.md
  examples/cms-storyblok/README.md
  examples/cms-takeshape/README.md
  examples/cms-umbraco-heartcore/README.md
  examples/cms-webiny/README.md
  examples/cms-wordpress/README.md
Labels: area: examples

#53991 Remove tsconfig extending for @next/thrid-parties package
  packages/third-parties/tsconfig.json
Labels: created-by: Next.js team

#53434 Update to with-supertokens example app
  examples/with-supertokens/config/backendConfig.ts
  examples/with-supertokens/pages/auth/[[...path]].tsx
  examples/with-supertokens/pages/index.tsx
  examples/with-supertokens/styles/Home.module.css
Labels: area: examples

#53999 add standalone testcase for ipv6 hostnames
  test/production/standalone-mode/ipv6/app/app-page/page.js
  test/production/standalone-mode/ipv6/app/layout.js
  test/production/standalone-mode/ipv6/index.test.ts
  test/production/standalone-mode/ipv6/next.config.js
  test/production/standalone-mode/ipv6/pages/pages-page.js
Labels: created-by: Next.js team, area: tests

#54006 release: add release log generation script
  scripts/generate-release-log.mjs
Labels: created-by: Next.js team

#54009 Update 05-client-side-rendering.mdx with latest tanstack query version
  docs/03-pages/01-building-your-application/02-rendering/05-client-side-rendering.mdx
Labels: area: documentation, CI approved

#52520 Concept: test mode for Playwright and similar integration tools
  packages/next/experimental/testmode/playwright.d.ts
  packages/next/experimental/testmode/playwright.js
  packages/next/experimental/testmode/playwright/msw.d.ts
  packages/next/experimental/testmode/playwright/msw.js
  packages/next/experimental/testmode/proxy.d.ts
  packages/next/experimental/testmode/proxy.js
  packages/next/package.json
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/experimental/testmode/playwright/README.md
  packages/next/src/experimental/testmode/playwright/index.ts
  packages/next/src/experimental/testmode/playwright/msw.ts
  packages/next/src/experimental/testmode/playwright/next-fixture.ts
  packages/next/src/experimental/testmode/playwright/next-worker-fixture.ts
  packages/next/src/experimental/testmode/playwright/page-route.ts
  packages/next/src/experimental/testmode/proxy/fetch-api.ts
  packages/next/src/experimental/testmode/proxy/index.ts
  packages/next/src/experimental/testmode/proxy/server.ts
  packages/next/src/experimental/testmode/proxy/types.ts
  packages/next/src/experimental/testmode/server.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next-server.ts
  packages/next/taskfile.js
  packages/next/tsconfig.json
  pnpm-lock.yaml
Labels: type: next, CI approved

#53998 Open Graph Image font declaration moved to correct place
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/opengraph-image.mdx
Labels: area: documentation, CI approved

#54013 test(ci): refine test suite name unique
  jest.config.js
  run-tests.js
Labels: created-by: web-tooling team

#54020 Update opengraph-image.mdx: Fix typo
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/opengraph-image.mdx
Labels: area: documentation, CI approved

#54022 Turbopack: fix hiding node_modules warnings in error overlay.
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-core/js/src/overlay/internal/container/Errors.tsx
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#54027 Leverage previous swc build images
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#54029 chore: mark build folder indexable
  .gitattributes
Labels: created-by: Next.js team

#54026 ci(next-swc): print glibc version when build
  .github/workflows/build_and_deploy.yml
Labels: type: next, created-by: web-tooling team

#54004 Adjust internal action proxy export
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/errors/server-actions/client-graph/1/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/1/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/2/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/3/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/4/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/5/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/6/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/7/output.js
  packages/next-swc/crates/core/tests/errors/server-actions/server-graph/8/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/client/1/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/client/2/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/client/3/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/1/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/10/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/11/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/12/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/13/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/14/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/15/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/16/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/17/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/18/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/19/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/2/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/20/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/21/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/22/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/23/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/3/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/4/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/5/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/6/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/7/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/8/output.js
  packages/next-swc/crates/core/tests/fixture/server-actions/server/9/output.js
  packages/next/src/build/webpack/loaders/next-flight-loader/action-proxy.ts
Labels: type: next, created-by: Next.js team

#54035 Move turbo outside of build for docker swc builds
  .github/workflows/build_and_deploy.yml
  scripts/pull-turbo-cache.js
Labels: created-by: Next.js team

#54037 chore(ci): update codeowners with *img*
  .github/CODEOWNERS
Labels: created-by: Next.js team

#54028 fix(next/image): empty blur image when animated
  docs/02-app/02-api-reference/01-components/image.mdx
  errors/placeholder-blur-data-url.mdx
  packages/next/src/build/webpack/loaders/next-image-loader/blur.ts
  packages/next/src/client/legacy/image.tsx
  packages/next/src/shared/lib/get-img-props.ts
  test/unit/next-image-loader/get-blur-image.test.ts
  test/unit/next-image-loader/images/animated.webp
  test/unit/next-image-loader/images/test.jpg
Labels: area: documentation, type: next, CI approved

#54014 Test proxy mode: intercept the http and https client APIs
  packages/next/package.json
  packages/next/src/compiled/@mswjs/interceptors/ClientRequest/LICENSE
  packages/next/src/compiled/@mswjs/interceptors/ClientRequest/index.js
  packages/next/src/compiled/@mswjs/interceptors/ClientRequest/package.json
  packages/next/src/experimental/testmode/playwright/README.md
  packages/next/src/experimental/testmode/playwright/index.ts
  packages/next/src/experimental/testmode/playwright/msw.ts
  packages/next/src/experimental/testmode/playwright/next-fixture.ts
  packages/next/src/experimental/testmode/playwright/next-options.ts
  packages/next/src/experimental/testmode/server.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
Labels: type: next, CI approved

#54024 fix(ci): deploy examples
  scripts/deploy-examples.sh
Labels: created-by: Next.js team

#54007 fix: pages not visible in dev when named `children`
  packages/next/src/server/dev/on-demand-entry-handler.ts
  test/e2e/children-page/app/children/page.js
  test/e2e/children-page/app/layout.js
  test/e2e/children-page/index.test.ts
  test/e2e/children-page/pages/other/children.js
Labels: type: next, created-by: Next.js team, area: tests
