Repository vercel/next.js, pull requests merged in 2023-12, with the labels that each got.

#59140 fix typedRoutes when used with webpackBuildWorker
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/server/config-shared.ts
  test/production/app-dir/typed-routes-with-webpack-worker/bad-routes/app/api/hello/route.ts
  test/production/app-dir/typed-routes-with-webpack-worker/bad-routes/app/layout.tsx
  test/production/app-dir/typed-routes-with-webpack-worker/bad-routes/app/page.tsx
  test/production/app-dir/typed-routes-with-webpack-worker/bad-routes/next.config.js
  test/production/app-dir/typed-routes-with-webpack-worker/good-routes/app/api/hello/route.ts
  test/production/app-dir/typed-routes-with-webpack-worker/good-routes/app/layout.tsx
  test/production/app-dir/typed-routes-with-webpack-worker/good-routes/app/page.tsx
  test/production/app-dir/typed-routes-with-webpack-worker/good-routes/next.config.js
  test/production/app-dir/typed-routes-with-webpack-worker/typed-routes-with-webpack-worker.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#59117 Add NEXT_MANUAL_SIG_HANDLE handling to start-server.ts
  packages/next/src/server/lib/start-server.ts
Labels: type: next

#58224 chore: fix typo in jsDoc
  packages/next/types/index.d.ts
Labels: type: next

#55918 fix: add `maxDuration` to `PageConfig` type
  packages/next/types/index.d.ts
Labels: type: next, CI approved

#58967 Fix mixed module swc compilation for app router
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/swc/options.ts
  packages/next/src/build/webpack-config-rules/resolve.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-swc-loader.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/mixed/dynamic/page.js
  test/e2e/app-dir/app-external/app/mixed/import/client.js
  test/e2e/app-dir/app-external/app/mixed/import/mixed-mod.mjs
  test/e2e/app-dir/app-external/app/mixed/import/page.js
  test/e2e/app-dir/app-external/node_modules_bak/mixed-syntax-esm/index.mjs
  test/e2e/app-dir/app-external/node_modules_bak/mixed-syntax-esm/package.json
  test/e2e/app-dir/third-parties/app/gtm/page.js
Labels: type: next, created-by: Next.js team, area: tests

#59166 Don't catch ensureMiddleware errors
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Next.js team

#59173 Turbopack only enable instrumentationHook with experimental flag
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Next.js team

#59175 fix server actions behavior on intercepted routes
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/server/lib/router-utils/filesystem.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/interception-routes/(with-modal)/@modal/(.)test/page.js
  test/e2e/app-dir/actions/app/interception-routes/(with-modal)/@modal/default.js
  test/e2e/app-dir/actions/app/interception-routes/(with-modal)/layout.js
  test/e2e/app-dir/actions/app/interception-routes/(with-modal)/page.js
  test/e2e/app-dir/actions/app/interception-routes/test/page.js
Labels: type: next, created-by: Next.js team, area: tests

#59181 Fix ssgCacheKey in minimal mode
  packages/next/src/server/base-server.ts
Labels: type: next, created-by: Next.js team

#59147 docs:Add react hydration error case.
  errors/react-hydration-error.mdx
Labels: area: documentation, CI approved

#58663 Correcting the `webpack` function introduction
  docs/02-app/02-api-reference/05-next-config-js/webpack.mdx
Labels: area: documentation, CI approved

#59183 Update to latest version of @vercel/nft
  packages/next/package.json
  packages/next/src/compiled/@vercel/nft/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#58861 Ensure original history is read in effect
  packages/next/src/client/components/app-router.tsx
  test/e2e/app-dir/shallow-routing/app/(shallow)/pushstate-string-url/page.tsx
Labels: type: next, created-by: Next.js team

#59171 fix some small turbopack issues
  packages/next-swc/crates/next-api/src/app.rs
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, area: Turbopack, created-by: turbopack team

#59207 Correctly skip build test for Turbopack
  test/integration/clean-distdir/test/index.test.js
Labels: created-by: Next.js team, area: tests

#59210 Failing test for 59195
  test/e2e/react-dnd-compile/next.config.js
  test/e2e/react-dnd-compile/pages/DragDropProvider.js
  test/e2e/react-dnd-compile/pages/_app.js
  test/e2e/react-dnd-compile/pages/index.js
  test/e2e/react-dnd-compile/pages/oom.js
  test/e2e/react-dnd-compile/react-dnd-compile.test.ts
Labels: created-by: Next.js team, area: tests

#59232 fix tsconfig alias cycle
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#57412 Resolve build issues with symlinked files
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/lib/flat-readdir.ts
  packages/next/src/lib/get-files-in-dir.ts
  test/production/app-dir/symbolic-file-links/README.md
  test/production/app-dir/symbolic-file-links/next.config.js
  test/production/app-dir/symbolic-file-links/somewhere-else/src/app/layout.tsx
  test/production/app-dir/symbolic-file-links/somewhere-else/src/app/page.tsx
  test/production/app-dir/symbolic-file-links/somewhere-else/src/i18n.ts
  test/production/app-dir/symbolic-file-links/src/app/layout.tsx
  test/production/app-dir/symbolic-file-links/src/app/page.tsx
  test/production/app-dir/symbolic-file-links/src/i18n.ts
  test/production/app-dir/symbolic-file-links/symbolic-file-links.test.ts
  test/unit/get-files-in-dir.test.ts
Labels: type: next, area: tests, CI approved

#59245 Disable more Turbopack build tests
  test/e2e/app-dir/ppr-errors/ppr-errors.test.ts
  test/integration/cli/test/index.test.js
  test/integration/config-experimental-warning/test/index.test.js
  test/integration/page-extensions/test/index.test.js
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Next.js team

#59221 Remove `mutable` field from action types
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/shared/lib/router/action-queue.ts
Labels: type: next, created-by: Next.js team

#59253 Add process.env.__NEXT_PPR to build config
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
Labels: type: next, created-by: Next.js team

#59255 fix missing echo in daily turbopack reporting
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: created-by: turbopack team

#59256 fix missing checkout in daily turbopack reporting
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: created-by: turbopack team

#59257 Add app router name to font tests
  test/e2e/app-dir/next-font/next-font.test.ts
Labels: created-by: Next.js team, area: Font Optimization, area: tests

#59244 Fix non bundler module resolution in ts for third-parties pkg
  packages/third-parties/google.d.ts
  packages/third-parties/package.json
Labels: created-by: Next.js team

#58525 Updates with-supertokens example app
  examples/with-supertokens/.env
  examples/with-supertokens/.gitignore
  examples/with-supertokens/README.md
  examples/with-supertokens/app/api/auth/[...path]/route.ts
  examples/with-supertokens/app/api/user/route.ts
  examples/with-supertokens/app/auth/[[...path]]/page.tsx
  examples/with-supertokens/app/components/callApiButton.tsx
  examples/with-supertokens/app/components/home.tsx
  examples/with-supertokens/app/components/linksComponent.tsx
  examples/with-supertokens/app/components/sessionAuthForNextJS.tsx
  examples/with-supertokens/app/components/supertokensProvider.tsx
  examples/with-supertokens/app/components/tryRefreshClientComponent.tsx
  examples/with-supertokens/app/config/appInfo.ts
  examples/with-supertokens/app/config/backend.ts
  examples/with-supertokens/app/config/frontend.tsx
  examples/with-supertokens/app/favicon.ico
  examples/with-supertokens/app/globals.css
  examples/with-supertokens/app/layout.tsx
  examples/with-supertokens/app/page.module.css
  examples/with-supertokens/app/page.tsx
  examples/with-supertokens/app/sessionUtils.ts
  examples/with-supertokens/assets/fonts/MenloRegular.ttf
  examples/with-supertokens/assets/images/arrow-right-icon.svg
  examples/with-supertokens/assets/images/background.png
  examples/with-supertokens/assets/images/blogs-icon.svg
  examples/with-supertokens/assets/images/celebrate-icon.svg
  examples/with-supertokens/assets/images/guide-icon.svg
  examples/with-supertokens/assets/images/index.ts
  examples/with-supertokens/assets/images/separator-line.svg
  examples/with-supertokens/assets/images/sign-out-icon.svg
  examples/with-supertokens/config/appInfo.ts
  examples/with-supertokens/config/backendConfig.ts
  examples/with-supertokens/config/frontendConfig.ts
  examples/with-supertokens/interfaces.d.ts
  examples/with-supertokens/middleware.ts
  examples/with-supertokens/next-env.d.ts
  examples/with-supertokens/next.config.js
  examples/with-supertokens/package.json
  examples/with-supertokens/pages/_app.tsx
  examples/with-supertokens/pages/api/auth/[[...path]].ts
  examples/with-supertokens/pages/api/user.ts
  examples/with-supertokens/pages/auth/[[...path]].tsx
  examples/with-supertokens/pages/index.tsx
  examples/with-supertokens/public/favicon.ico
  examples/with-supertokens/public/next.svg
  examples/with-supertokens/public/vercel.svg
  examples/with-supertokens/styles/Home.module.css
  examples/with-supertokens/styles/globals.css
  examples/with-supertokens/tsconfig.json
Labels: area: examples

#59265 fix(next-core): adjust edge entry path
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#59139 feat: support outputFileTracing in App Router
  packages/next/src/build/collect-build-traces.ts
  packages/next/src/build/index.ts
  test/integration/build-trace-extra-entries-turbo/app/app/route1/route.js
  test/integration/build-trace-extra-entries-turbo/app/next.config.js
  test/integration/build-trace-extra-entries-turbo/test/index.test.js
  test/integration/build-trace-extra-entries/app/app/route1/route.js
  test/integration/build-trace-extra-entries/app/next.config.js
  test/integration/build-trace-extra-entries/test/index.test.js
Labels: type: next

#59197 docs: fix `remotePatterns` link in image-config.ts
  packages/next/src/shared/lib/image-config.ts
Labels: type: next

#59179 Testmode: support edge functions inside a sandbox
  packages/next/src/experimental/testmode/context.ts
  packages/next/src/experimental/testmode/fetch.ts
  packages/next/src/experimental/testmode/httpget.ts
  packages/next/src/experimental/testmode/server-edge.ts
  packages/next/src/experimental/testmode/server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/adapter.ts
  test/e2e/testmode/.gitignore
  test/e2e/testmode/app/api/fetch-edge/route.ts
  test/e2e/testmode/app/api/fetch/route.ts
  test/e2e/testmode/app/api/httpget/route.ts
  test/e2e/testmode/app/app/layout.tsx
  test/e2e/testmode/app/app/rsc-fetch-edge/page.tsx
  test/e2e/testmode/app/app/rsc-fetch/page.tsx
  test/e2e/testmode/app/app/rsc-httpget/page.tsx
  test/e2e/testmode/middleware.js
  test/e2e/testmode/next.config.js
  test/e2e/testmode/package.json
  test/e2e/testmode/pages/api/pages/fetch.ts
  test/e2e/testmode/pages/api/pages/httpget.ts
  test/e2e/testmode/pages/pages/getServerSidePropsFetch.tsx
  test/e2e/testmode/pages/pages/getServerSidePropsHttpGet.tsx
  test/e2e/testmode/testmode.test.ts
Labels: type: next, area: tests

#58949 fix: properly call `normalizeDynamicRouteParams` in `NextWebServer.handleCatchAllRenderRequest`
  packages/next/src/server/server-utils.ts
  packages/next/src/server/web-server.ts
  test/e2e/app-dir/app/index.test.ts
Labels: type: next

#59284 add user-level tracing
  packages/next-swc/crates/core/tests/full.rs
  packages/next-swc/crates/napi/src/next_api/endpoint.rs
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/instrumentation.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-api/src/server_actions.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_references_chunks.rs
  packages/next-swc/crates/next-core/src/next_client_reference/visit_client_reference.rs
  packages/next-swc/crates/next-core/src/next_dynamic/visit_dynamic.rs
  packages/next-swc/crates/next-core/src/pages_structure.rs
  packages/next-swc/crates/next-core/src/tracing_presets.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#59261 Fix app-dir - logging test in Turbopack
  packages/next/src/lib/turbopack-warning.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team

#59285 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#59288 docs: fix broken link to learn course
  docs/index.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59254 Fix barrel optimization to ignore layers
  packages/next-swc/crates/core/src/optimize_barrel.rs
  packages/next-swc/crates/core/tests/fixture/optimize-barrel/normal/4/input.js
  packages/next-swc/crates/core/tests/fixture/optimize-barrel/normal/4/output.js
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-barrel-loader.ts
  packages/next/src/build/webpack/loaders/next-flight-client-entry-loader.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  test/development/basic/barrel-optimization/barrel-optimization.test.ts
  test/development/basic/barrel-optimization/fixture/app/mui/page.js
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#59273 fix interception routes with dynamic segments
  packages/next/src/shared/lib/router/utils/route-regex.test.ts
  packages/next/src/shared/lib/router/utils/route-regex.ts
  test/e2e/app-dir/interception-dynamic-segment/app/@modal/(.)[username]/[id]/page.tsx
  test/e2e/app-dir/interception-dynamic-segment/app/@modal/default.tsx
  test/e2e/app-dir/interception-dynamic-segment/app/[username]/[id]/page.tsx
  test/e2e/app-dir/interception-dynamic-segment/app/default.tsx
  test/e2e/app-dir/interception-dynamic-segment/app/layout.tsx
  test/e2e/app-dir/interception-dynamic-segment/app/page.tsx
  test/e2e/app-dir/interception-dynamic-segment/interception-dynamic-segment.test.ts
  test/e2e/app-dir/interception-dynamic-segment/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#59294 Clean up builtin `modularizeImports` configs
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#59159 docs fix: Server Action js example
  docs/02-app/02-api-reference/04-functions/revalidateTag.mdx
Labels: area: documentation

#58823 docs: Remove invalid URL
  docs/03-pages/01-building-your-application/05-optimizing/10-testing.mdx
Labels: area: documentation

#58591 Fix incorrect prop name in client component
  docs/02-app/02-api-reference/04-functions/server-actions.mdx
Labels: area: documentation

#58621 update: Firebase link to with-firebase example
  docs/03-pages/01-building-your-application/01-routing/09-authenticating.mdx
Labels: area: documentation

#58596 added comma to the props list
  docs/02-app/02-api-reference/02-file-conventions/page.mdx
Labels: area: documentation

#59021 Update 10-route-handlers.mdx
  docs/02-app/01-building-your-application/01-routing/10-route-handlers.mdx
Labels: area: documentation

#58873 Add documentation note about middleware and runtimes
  docs/02-app/01-building-your-application/01-routing/11-middleware.mdx
Labels: area: documentation

#59313 remove additional static prefetch code
  packages/next/src/client/components/static-generation-async-storage.external.ts
  packages/next/src/client/components/static-generation-bailout.ts
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#59306 add module tracing for client reference and next/dynamic walking
  packages/next-swc/crates/next-core/src/next_client_reference/visit_client_reference.rs
  packages/next-swc/crates/next-core/src/next_dynamic/visit_dynamic.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#58972 side effects optimization
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/instrumentation.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-api/src/server_actions.rs
  packages/next-swc/crates/next-core/src/bootstrap.rs
  packages/next-swc/crates/next-core/src/loader_tree.rs
  packages/next-swc/crates/next-core/src/middleware.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_route_entry.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/image.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_client_reference/css_client_reference/css_client_reference_module.rs
  packages/next-swc/crates/next-core/src/next_client_reference/css_client_reference/css_client_reference_module_type.rs
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_proxy_module.rs
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_transition.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_dynamic/dynamic_transition.rs
  packages/next-swc/crates/next-core/src/next_edge/entry.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/next_image/module.rs
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_server/resolve.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/swc_ecma_transform_plugins.rs
  packages/next-swc/crates/next-core/src/page_loader.rs
  packages/next/package.json
  packages/react-refresh-utils/internal/helpers.ts
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#59239 Move App Router client-side constants to separate file
  packages/next/src/build/index.ts
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/redirect-status-code.ts
  packages/next/src/client/components/redirect.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/lib/constants.ts
  packages/next/src/lib/redirect-status.ts
  packages/next/src/server/app-render/make-get-server-inserted-html.tsx
  packages/next/src/server/base-http/index.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/shared/lib/constants.ts
Labels: type: next, created-by: Next.js team

#59332 reduce function calls in walk
  packages/next-swc/crates/next-core/src/next_client_reference/visit_client_reference.rs
  packages/next-swc/crates/next-core/src/next_dynamic/visit_dynamic.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#59338 disable unused next/dynamic walking in app dir
  packages/next-swc/crates/next-api/src/app.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#59307 fix hmr in multi-zone handling
  packages/next/src/server/lib/router-server.ts
  test/e2e/multi-zone/app/apps/first/pages/index.tsx
  test/e2e/multi-zone/app/apps/second/pages/index.tsx
  test/e2e/multi-zone/multi-zone.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#59343 fix edge route catch-all param parsing
  packages/next/src/server/web/edge-route-module-wrapper.ts
  test/e2e/app-dir/edge-route-catchall/app/edge/[[...slug]]/route.ts
  test/e2e/app-dir/edge-route-catchall/app/layout.tsx
  test/e2e/app-dir/edge-route-catchall/edge-route-catchall.test.ts
  test/e2e/app-dir/edge-route-catchall/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#59228 add `logLevel` support to `@next/bundle-analyzer`
  packages/next-bundle-analyzer/index.d.ts
  packages/next-bundle-analyzer/index.js
Labels: type: next, CI approved

#59354 Update tests for Turbopack
  packages/next/src/lib/turbopack-warning.ts
  test/e2e/app-dir/with-babel/with-babel.test.ts
  test/e2e/swc-warnings/index.test.ts
  test/integration/config-resolve-alias/test/index.test.js
  test/integration/undefined-webpack-config/test/index.test.js
Labels: created-by: Next.js team, area: tests

#59369 Fix server output bundling packages module resolving
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/optout/action/actions.js
  test/e2e/app-dir/app-external/app/optout/action/page.js
  test/e2e/app-dir/app-external/next.config.js
  test/e2e/app-dir/app-external/node_modules_bak/dual-pkg-optout/index.cjs
  test/e2e/app-dir/app-external/node_modules_bak/dual-pkg-optout/index.mjs
  test/e2e/app-dir/app-external/node_modules_bak/dual-pkg-optout/package.json
Labels: type: next, created-by: Next.js team, area: tests

#59366 fix inconsistent scroll restoration behavior
  packages/next/src/shared/lib/router/action-queue.ts
  test/e2e/app-dir/navigation/app/scroll-restoration/context.ts
  test/e2e/app-dir/navigation/app/scroll-restoration/layout.tsx
  test/e2e/app-dir/navigation/app/scroll-restoration/other/page.tsx
  test/e2e/app-dir/navigation/app/scroll-restoration/page.tsx
  test/e2e/app-dir/navigation/navigation.test.ts
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
  test/lib/next-webdriver.ts
Labels: type: next, created-by: Next.js team, area: tests

#56277 test: ability to use node debugger
  test/integration/cli/test/index.test.js
Labels: type: next, area: tests

#59381 rm console.log
  packages/next/src/build/output/store.ts
Labels: type: next, created-by: Next.js team

#59383 Skip latest commit check for stable release
  .github/workflows/trigger_release.yml
Labels: created-by: Next.js team

#59080 Docs: Update Server Actions Docs
  docs/02-app/01-building-your-application/01-routing/10-route-handlers.mdx
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
  docs/02-app/01-building-your-application/02-data-fetching/03-forms-and-mutations.mdx
  docs/02-app/01-building-your-application/02-data-fetching/03-patterns.mdx
  docs/02-app/01-building-your-application/03-rendering/02-client-components.mdx
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/02-api-reference/04-functions/cookies.mdx
  docs/02-app/02-api-reference/04-functions/permanentRedirect.mdx
  docs/02-app/02-api-reference/04-functions/redirect.mdx
  docs/02-app/02-api-reference/04-functions/server-actions.mdx
  docs/02-app/02-api-reference/05-next-config-js/serverActions.mdx
  docs/02-app/index.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/03-forms-and-mutations.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59352 Turbopack: switch to a single client components entrypoint
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-build/src/next_build.rs
  packages/next-swc/crates/next-core/src/loader_tree.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_references_chunks.rs
  packages/next-swc/crates/next-core/src/next_app/include_modules_module.rs
  packages/next-swc/crates/next-core/src/next_app/mod.rs
  packages/next/package.json
  pnpm-lock.yaml
  test/e2e/app-dir/app-css/app/ordering/layout-input.css
  test/e2e/app-dir/app-css/app/ordering/layout-input.js
  test/e2e/app-dir/app-css/app/ordering/layout.js
  test/e2e/app-dir/app-css/app/ordering/page-index.css
  test/e2e/app-dir/app-css/app/ordering/page.js
  test/e2e/app-dir/app-css/index.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team

#59401 Revert "Skip latest commit check for stable release"
  .github/workflows/trigger_release.yml
Labels: created-by: Next.js team

#59390 Fix cases for the `optimize_server_react` transform
  packages/next-swc/crates/core/src/optimize_server_react.rs
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/2/output.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/3/output.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/6/input.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/6/output.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/7/input.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/7/output.js
Labels: type: next, created-by: Next.js team

#59400 Docs: Polish Server Actions Page 💅🏼
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59423 ci: only run release commit check on canary releases
  .github/workflows/trigger_release.yml
Labels: created-by: Next.js team

#56294 Use new JSX transform
  .eslintrc.json
  examples/with-stencil/packages/test-component/tsconfig.json
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/swc/options.ts
  packages/next/taskfile-swc.js
  packages/next/tsconfig.json
  packages/react-dev-overlay/tsconfig.json
  packages/third-parties/tsconfig.json
  tsconfig.json
Labels: area: examples, type: next, CI approved

#59196 loading.tsx should have no effect on partial rendering when PPR is enabled
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/ppr-navigations/app/layout.tsx
  test/e2e/app-dir/ppr-navigations/app/loading-tsx-no-partial-rendering/[dataKey]/client.tsx
  test/e2e/app-dir/ppr-navigations/app/loading-tsx-no-partial-rendering/[dataKey]/loading.tsx
  test/e2e/app-dir/ppr-navigations/app/loading-tsx-no-partial-rendering/[dataKey]/page.tsx
  test/e2e/app-dir/ppr-navigations/app/loading-tsx-no-partial-rendering/[dataKey]/test-data-service.ts
  test/e2e/app-dir/ppr-navigations/app/loading-tsx-no-partial-rendering/start/page.tsx
  test/e2e/app-dir/ppr-navigations/app/loading.tsx
  test/e2e/app-dir/ppr-navigations/next.config.js
  test/e2e/app-dir/ppr-navigations/ppr-navigations.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#59443 Update 10-route-handlers.mdx
  docs/02-app/01-building-your-application/01-routing/10-route-handlers.mdx
Labels: area: documentation, CI approved

#59487 docs: remove broken link
  docs/02-app/02-api-reference/05-next-config-js/webpack.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59472 Remove CacheNode.status field
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.test.tsx
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
Labels: type: next, created-by: Next.js team

#59469 test(runner): preserve browser tracing if test fails
  .github/workflows/build_reusable.yml
  run-tests.js
  test/lib/browsers/playwright.ts
  test/lib/next-modes/base.ts
Labels: created-by: turbopack team, area: tests

#59473 Rename CacheNode.data → .lazyData
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.test.tsx
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
Labels: type: next, created-by: Next.js team

#59431 Generate Params Cleanup
  packages/next/src/build/utils.ts
  packages/next/src/server/dev/static-paths-worker.ts
Labels: type: next, created-by: Next.js team

#59496 ci(test): upload playwright artifacts seperately
  .github/workflows/build_reusable.yml
Labels: created-by: turbopack team

#59498 Fix webpack chunks handling in traces
  packages/next/src/build/collect-build-traces.ts
  test/integration/build-trace-extra-entries/app/lib/my-component.js
  test/integration/build-trace-extra-entries/app/pages/index.js
  test/integration/build-trace-extra-entries/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#59508 fix integration test workflow
  .github/workflows/build_and_test.yml
  test/integration/cli/test/index.test.js
Labels: created-by: Next.js team

#59503 Fix third party typings
  packages/third-parties/google.d.ts
  packages/third-parties/package.json
  packages/third-parties/src/ThirdPartyScriptEmbed.tsx
  packages/third-parties/src/google/google-maps-embed.tsx
  packages/third-parties/src/types/google.ts
  test/e2e/app-dir/third-parties/app/ga/page.tsx
  test/e2e/app-dir/third-parties/app/google-maps-embed/page.tsx
  test/e2e/app-dir/third-parties/app/gtm/page.tsx
  test/e2e/app-dir/third-parties/app/youtube-embed/page.tsx
Labels: created-by: Next.js team, area: tests

#59491 Rename CacheNode.subTreeData -> .rsc
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#59514 chore: bump typescript-eslint to 6.14
  package.json
  pnpm-lock.yaml
Labels: CI approved

#59530 fix NODE_OPTIONS=inspect
  packages/next/src/lib/helpers/get-registry.ts
  test/integration/cli/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#59537 Add CacheNode.prefetchRsc field
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-data-property.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.test.tsx
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
Labels: type: next, created-by: Next.js team

#59428 allow passing wildcard domains in serverActions.allowedDomains
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
  docs/02-app/02-api-reference/05-next-config-js/serverActions.mdx
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/csrf-protection.test.ts
  packages/next/src/server/app-render/csrf-protection.ts
  packages/next/src/server/config-shared.ts
Labels: type: next

#59448 Update Deployment Testing
  test/lib/next-modes/next-deploy.ts
Labels: created-by: Next.js team, area: tests

#59430 Page Info Cleanup
  packages/next/src/build/collect-build-traces.ts
  packages/next/src/build/index.ts
  packages/next/src/build/page-info.ts
  packages/next/src/build/utils.ts
Labels: type: next, created-by: Next.js team

#59548 fix(playwright): teardown when global quit force terminates browser
  run-tests.js
  test/lib/browsers/playwright.ts
Labels: created-by: turbopack team, area: tests

#59549 Fix force-static and fetch no-store cases
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/force-static-fetch-no-store/page.js
Labels: type: next, created-by: Next.js team, area: tests

#59006 chore(create-next-app): bump prompts to v2.4.2
  packages/create-next-app/package.json
  pnpm-lock.yaml
Labels: area: create-next-app

#59531 Should not show no index for client rendering bailout
  packages/next/src/client/on-recoverable-error.ts
  packages/next/src/export/helpers/is-dynamic-usage-error.ts
  packages/next/src/export/routes/pages.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/shared/lib/lazy-dynamic/no-ssr-error.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/hooks/use-search-params/static-bailout/page.js
  test/e2e/app-dir/app-static/next.config.js
  test/e2e/app-dir/hooks/app/hooks/use-search-params/server/page.js
  test/e2e/app-dir/hooks/app/layout.js
  test/e2e/app-dir/hooks/hooks.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#59405 Enable build worker by default
  errors/webpack-build-worker-opt-out.mdx
  packages/next/src/build/build-context.ts
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-build/index.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/pages-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/telemetry-plugin.ts
  packages/next/src/export/utils.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/telemetry/events/build.ts
  test/integration/next-image-legacy/svgo-webpack/test/index.test.ts
  test/integration/next-image-new/svgo-webpack/test/index.test.ts
  test/integration/webpack-require-hook/test/index.test.js
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#59570 Fix test/tsconfig.json alias for internal test utils
  test/tsconfig.json
Labels: created-by: Next.js team, area: tests

#59575 docs: fix bad closed tag
  docs/02-app/01-building-your-application/08-testing/02-jest.mdx
Labels: area: documentation, created-by: Next.js team

#59579 Fix closing tags for jest docs
  docs/02-app/01-building-your-application/08-testing/02-jest.mdx
Labels: area: documentation, created-by: Next.js team

#59538 Fork navigateReducer into PPR and non-PPR versions
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
Labels: type: next, created-by: Next.js team

#59572 Docs: Fix formatting in testing docs and update examples dependencies
  docs/02-app/01-building-your-application/08-testing/01-vitest.mdx
  docs/02-app/01-building-your-application/08-testing/02-jest.mdx
  docs/02-app/01-building-your-application/08-testing/03-playwright.mdx
  docs/02-app/01-building-your-application/08-testing/04-cypress.mdx
  docs/02-app/01-building-your-application/08-testing/index.mdx
  docs/03-pages/01-building-your-application/07-testing/01-vitest.mdx
  docs/03-pages/01-building-your-application/07-testing/02-jest.mdx
  docs/03-pages/01-building-your-application/07-testing/03-playwright.mdx
  docs/03-pages/01-building-your-application/07-testing/04-cypress.mdx
  examples/with-cypress/package.json
  examples/with-jest/package.json
  examples/with-playwright/package.json
  examples/with-vitest/package.json
Labels: area: examples, area: documentation, created-by: Next.js DevEx team

#59552 cleanup magic segment strings
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/client/components/navigation.ts
  packages/next/src/client/components/router-reducer/apply-router-state-patch-to-tree.ts
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  packages/next/src/client/components/router-reducer/create-router-cache-key.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/server/app-render/parse-loader-tree.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/lib/app-dir-module.ts
  packages/next/src/shared/lib/constants.ts
Labels: type: next, created-by: Next.js team

#59581 Docs: Add missing closing tag
  docs/02-app/01-building-your-application/08-testing/03-playwright.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59589 chore: update Turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#59591 Fix another magic segment string constant
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
Labels: type: next, created-by: Next.js team

#59590 Make CacheNodeSeedData match FlightRouterState more closely
  packages/next/src/client/components/router-reducer/apply-router-state-patch-to-tree.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/should-hard-navigate.test.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
Labels: type: next, created-by: Next.js team

#59385 transpilePackages should override default settings for external packages
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next/src/build/webpack-config.ts
  test/production/transpile-packages/app/layout.tsx
  test/production/transpile-packages/app/page.tsx
  test/production/transpile-packages/next.config.js
  test/production/transpile-packages/transpile-packages.test.ts
Labels: type: next, area: Turbopack

#59587 move segment constants to separate file
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/client/components/navigation.ts
  packages/next/src/client/components/router-reducer/apply-router-state-patch-to-tree.ts
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  packages/next/src/client/components/router-reducer/create-router-cache-key.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render/create-flight-router-state-from-loader-tree.ts
  packages/next/src/server/app-render/parse-loader-tree.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/lib/app-dir-module.ts
  packages/next/src/shared/lib/constants.ts
  packages/next/src/shared/lib/segment.ts
Labels: type: next, created-by: Next.js team

#59592 Revert "Page Info Cleanup (#59430)"
  packages/next/src/build/collect-build-traces.ts
  packages/next/src/build/index.ts
  packages/next/src/build/page-info.ts
  packages/next/src/build/utils.ts
Labels: type: next, created-by: Next.js team

#59595 test(integration): adjust fixture to work with turbopack
  test/integration/server-side-dev-errors/test/index.test.js
  test/turbopack-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#59545 Docs: Review and update `getServerSideProps` page
  docs/03-pages/01-building-your-application/03-data-fetching/03-get-server-side-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-server-side-props.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59615 Add test for importing client components from server actions
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/client/action-return-client-component/actions.js
  test/e2e/app-dir/actions/app/client/action-return-client-component/client-component.js
  test/e2e/app-dir/actions/app/client/action-return-client-component/form.js
  test/e2e/app-dir/actions/app/client/action-return-client-component/page.js
  test/e2e/app-dir/actions/app/server/action-return-client-component/actions.js
  test/e2e/app-dir/actions/app/server/action-return-client-component/client-component.js
  test/e2e/app-dir/actions/app/server/action-return-client-component/form.js
  test/e2e/app-dir/actions/app/server/action-return-client-component/page.js
Labels: created-by: Next.js team, area: tests

#59237 docs: add note for environment variables on Vercel deployment
  docs/02-app/01-building-your-application/07-configuring/03-environment-variables.mdx
Labels: area: documentation

#59621 Fix useOptimistic in server components bug. Add tests for invalid React server APIs
  packages/next-swc/crates/core/src/react_server_components.rs
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/component/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/createcontext/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/createfactory/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/purecomponent/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/usedeferredvalue/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/useeffect/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/useimperativehandle/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/useinsertioneffect/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/uselayouteffect/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/useoptimistic/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/usereducer/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/useref/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/usestate/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/usesyncexternalstore/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-apis/usetransition/page.js
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#59622 Add tests for invalid React server APIs
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-dom-apis/finddomnode/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-dom-apis/flushsync/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-dom-apis/unstable_batchedupdates/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-dom-apis/useformstate/page.js
  test/development/acceptance-app/fixtures/rsc-build-errors/app/server-with-errors/react-dom-apis/useformstatus/page.js
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#59650 Refactor setup-dev-bundler to make Turbopack/Webpack split clearer
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Next.js team

#59646 docs(accessibility): updates WCAG version to 2.2
  docs/04-architecture/accessibility.mdx
Labels: area: documentation

#59658 refactor and simplify app dynamic components
  packages/next/src/shared/lib/app-dynamic.tsx
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  packages/next/src/shared/lib/lazy-dynamic/types.ts
Labels: type: next, created-by: Next.js team

#59657 Change manifestPath to pagesManifestPath
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#59157 Fix issue with outputFileTracingExcludes and pages/api edge runtime
  packages/next/src/build/collect-build-traces.ts
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  test/e2e/edge-runtime-pages-api-route/edge-runtime-pages-api-route.test.ts
  test/e2e/edge-runtime-pages-api-route/next.config.js
  test/e2e/edge-runtime-pages-api-route/pages/api/edge.js
  test/e2e/edge-runtime-pages-api-route/pages/api/node.js
Labels: type: next, created-by: Next.js team, area: tests

#59663 Consolidate manifest writing for Turbopack in a single function
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Next.js team

#59664 Move changeSubscription for _document to finally to mirror page handling in Turbopack
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Next.js team

#59638 docs: small tweaks
  docs/02-app/02-api-reference/02-file-conventions/not-found.mdx
  docs/02-app/02-api-reference/04-functions/use-params.mdx
  docs/03-pages/01-building-your-application/07-testing/01-vitest.mdx
  errors/invalid-redirect-gssp.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59717 docs: fix broken backtick for link
  docs/03-pages/02-api-reference/03-next-config-js/runtime-configuration.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59626 Docs: Document `generateSitemaps`
  docs/01-getting-started/02-project-structure.mdx
  docs/02-app/01-building-your-application/01-routing/10-route-handlers.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
  docs/02-app/02-api-reference/04-functions/generate-image-metadata.mdx
  docs/02-app/02-api-reference/04-functions/generate-sitemaps.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59719 docs: improve docs around geolocation and IP headers
  docs/02-app/01-building-your-application/01-routing/11-middleware.mdx
  docs/02-app/02-api-reference/04-functions/headers.mdx
  docs/02-app/02-api-reference/04-functions/next-request.mdx
  docs/02-app/02-api-reference/04-functions/next-response.mdx
  docs/02-app/02-api-reference/04-functions/permanentRedirect.mdx
  docs/02-app/02-api-reference/04-functions/redirect.mdx
  docs/02-app/02-api-reference/04-functions/userAgent.mdx
  docs/02-app/02-api-reference/05-next-config-js/redirects.mdx
  docs/03-pages/01-building-your-application/01-routing/07-api-routes.mdx
  docs/03-pages/02-api-reference/02-functions/next-request.mdx
  docs/03-pages/02-api-reference/02-functions/next-response.mdx
  docs/03-pages/02-api-reference/02-functions/next-server.mdx
  docs/03-pages/02-api-reference/02-functions/userAgent.mdx
  errors/next-response-next-in-app-route-handler.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59616 Docs: Review and Typo Fix - getServerSideProps
  docs/03-pages/01-building-your-application/03-data-fetching/03-get-server-side-props.mdx
Labels: area: documentation

#59647 fix: Invalid next version tag name in with-cypress example
  examples/with-cypress/package.json
Labels: area: examples

#59651 Fix: Add matcher for middleware
  examples/with-supabase/middleware.ts
Labels: area: examples

#59659 docs: fix vitest example link in testing with vitest
  docs/02-app/01-building-your-application/08-testing/01-vitest.mdx
Labels: area: documentation

#59670 docs: fix grammar issue in 03-get-server-side-props.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/03-get-server-side-props.mdx
Labels: area: documentation

#59305 Remove path normalization logic when uploading .next/trace traces
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/profiling-plugin.ts
  packages/next/src/trace/trace-uploader.ts
Labels: type: next

#59724 LayoutRouter: Support segment value of Promise<null> to asynchronously bail out and trigger a server patch
  packages/next/src/client/components/layout-router.tsx
Labels: type: next, created-by: Next.js team

#59759 fix: Allow start turbopack dev server for a project using middleware
  packages/next-swc/crates/next-core/src/util.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#59671 [Docs] Includes section to `@next/third-parties` documentation for Google Analytics
  docs/02-app/01-building-your-application/06-optimizing/10-third-party-libraries.mdx
Labels: area: documentation, created-by: Chrome Aurora

#59776 chore: extends from shared base tsconfig
  test/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Labels: created-by: Next.js team, area: tests

#59763 Change file extension to .tsx
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching-caching-and-revalidating.mdx
Labels: area: documentation

#59551 fix: gracefully shutdown server
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/lib/start-server.ts
  test/lib/next-test-utils.ts
Labels: type: next, area: tests, CI approved

#59602 docs: clarify data fetching pattern
  docs/02-app/01-building-your-application/02-data-fetching/03-patterns.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59764 change 'themeColor' to 'viewport' in the viewport section
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: area: documentation

#59792 Revert "fix: gracefully shutdown server (#59551)"
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/lib/start-server.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: turbopack team, area: tests

#59788 docs: add missing comma to sitemap.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
Labels: area: documentation

#59752 fix `default` handling in route groups that handle interception
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  test/e2e/app-dir/interception-route-groups/app/(level1)/(level2)/(level3)/@slot/(...)photos/[id]/page.tsx
  test/e2e/app-dir/interception-route-groups/app/(level1)/(level2)/(level3)/@slot/default.tsx
  test/e2e/app-dir/interception-route-groups/app/(level1)/(level2)/(level3)/layout.tsx
  test/e2e/app-dir/interception-route-groups/app/(level1)/(level2)/(level3)/photos/[id]/page.tsx
  test/e2e/app-dir/interception-route-groups/app/layout.tsx
  test/e2e/app-dir/interception-route-groups/app/nested/(level1)/(level2)/@intercepted/(.)photos/[id]/page.tsx
  test/e2e/app-dir/interception-route-groups/app/nested/(level1)/(level2)/@intercepted/default.tsx
  test/e2e/app-dir/interception-route-groups/app/nested/(level1)/(level2)/layout.tsx
  test/e2e/app-dir/interception-route-groups/app/nested/(level1)/(level2)/photos/[id]/page.tsx
  test/e2e/app-dir/interception-route-groups/app/nested/default.tsx
  test/e2e/app-dir/interception-route-groups/app/nested/page.tsx
  test/e2e/app-dir/interception-route-groups/app/page.tsx
  test/e2e/app-dir/interception-route-groups/interception-route-groups.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#59569 Transpile all code on app browser layer
  packages/next/src/build/swc/options.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-swc-loader.ts
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/action/client/page.js
  test/e2e/app-dir/app-external/node_modules_bak/server-action-mod/index.js
  test/e2e/app-dir/app-external/node_modules_bak/server-action-mod/package.json
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#59725 Initial implementation of PPR client navigations
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/ppr-navigations/app/loading-tsx-no-partial-rendering/[dataKey]/test-data-service.ts
Labels: type: next, created-by: Next.js team, area: tests

#59817 Fix CI: Skip test in PPR dev mode, too
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: created-by: Next.js team, area: tests

#59818 fix(turbopack): prevent edge entrypoint from becoming an async module
  packages/next-swc/crates/next-core/src/next_edge/entry.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#59822 Ensure we validate revalidate configs properly
  packages/next/src/export/index.ts
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  test/e2e/app-dir/app-invalid-revalidate/app-invalid-revalidate.test.ts
  test/e2e/app-dir/app-invalid-revalidate/app/layout.tsx
  test/e2e/app-dir/app-invalid-revalidate/app/page.tsx
  test/e2e/app-dir/app-invalid-revalidate/next.config.js
  test/e2e/app-dir/app-static/app/blog/[author]/[slug]/page.js
Labels: type: next, created-by: Next.js team, area: tests

#59826 Update error check in validateRevalidate
  packages/next/src/server/lib/patch-fetch.ts
Labels: type: next, created-by: Next.js team

#59827 Rename confusing loaders
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#59828 Add unstable_cache validate test case
  test/e2e/app-dir/app-invalid-revalidate/app-invalid-revalidate.test.ts
  test/e2e/app-dir/app-invalid-revalidate/app/page.tsx
Labels: created-by: Next.js team, area: tests

#59541 Upgrade og dependencies
  package.json
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/build/handle-externals.ts
  packages/next/src/compiled/@vercel/og/figma/index.d.ts
  packages/next/src/compiled/@vercel/og/index.edge.d.ts
  packages/next/src/compiled/@vercel/og/index.edge.js
  packages/next/src/compiled/@vercel/og/index.node.d.ts
  packages/next/src/compiled/@vercel/og/index.node.js
  packages/next/src/compiled/@vercel/og/package.json
  packages/next/src/compiled/@vercel/og/resvg.wasm
  packages/next/src/compiled/@vercel/og/satori/index.d.ts
  packages/next/src/compiled/@vercel/og/types.d.ts
  packages/next/src/server/og/image-response.ts
  packages/next/taskfile.js
  pnpm-lock.yaml
  test/e2e/app-dir/metadata-dynamic-routes/app/twitter-image.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/twitter-image2.tsx
Labels: type: next, created-by: Next.js team, area: tests

#59833 [PPR Navs] Bugfix: Dynamic data never streams in if prefetch entry is stale
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/app/[dataKey]/client.tsx
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/app/[dataKey]/loading.tsx
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/app/[dataKey]/page.tsx
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/app/layout.tsx
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/app/loading.tsx
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/app/start/page.tsx
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/app/test-data-service.ts
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/next.config.js
  test/e2e/app-dir/ppr-navigations/ppr-navigations.test.ts
  test/e2e/app-dir/ppr-navigations/stale-prefetch-entry/app/layout.tsx
  test/e2e/app-dir/ppr-navigations/stale-prefetch-entry/app/page.tsx
  test/e2e/app-dir/ppr-navigations/stale-prefetch-entry/app/some-page/page.tsx
  test/e2e/app-dir/ppr-navigations/stale-prefetch-entry/app/test-data-service.ts
  test/e2e/app-dir/ppr-navigations/stale-prefetch-entry/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#59791 fix parallel catch-all route normalization
  packages/next/src/build/normalize-catchall-routes.test.ts
  packages/next/src/build/normalize-catchall-routes.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-app-page-route-matcher-provider.ts
  packages/next/src/server/load-components.ts
  test/e2e/app-dir/conflicting-page-segments/app/(group-a)/page.tsx
  test/e2e/app-dir/conflicting-page-segments/app/(group-b)/page.tsx
  test/e2e/app-dir/conflicting-page-segments/app/layout.tsx
  test/e2e/app-dir/conflicting-page-segments/conflicting-page-segments.test.ts
  test/e2e/app-dir/conflicting-page-segments/next.config.js
  test/e2e/app-dir/interception-routes-root-catchall/app/@modal/(.)items/[...ids]/page.tsx
  test/e2e/app-dir/interception-routes-root-catchall/app/@modal/default.tsx
  test/e2e/app-dir/interception-routes-root-catchall/app/[...slug]/page.tsx
  test/e2e/app-dir/interception-routes-root-catchall/app/default.tsx
  test/e2e/app-dir/interception-routes-root-catchall/app/items/[...ids]/page.tsx
  test/e2e/app-dir/interception-routes-root-catchall/app/layout.tsx
  test/e2e/app-dir/interception-routes-root-catchall/app/page.tsx
  test/e2e/app-dir/interception-routes-root-catchall/interception-routes-root-catchall.test.ts
  test/e2e/app-dir/interception-routes-root-catchall/next.config.js
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
  test/e2e/app-dir/parallel-routes-catchall-groups/app/(group-a)/@parallel/[...catcher]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-groups/app/(group-a)/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall-groups/app/(group-b)/foo/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-groups/app/(group-b)/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall-groups/app/(group-b)/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-groups/next.config.js
  test/e2e/app-dir/parallel-routes-catchall-groups/parallel-routes-catchall-groups.test.ts
  test/e2e/app-dir/parallel-routes-catchall/app/@slot/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/@slot/baz/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/@slot/default.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/@slot/foo/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/bar/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/foo/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/next.config.js
  test/e2e/app-dir/parallel-routes-catchall/parallel-routes-catchall.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#59861 fix router prefetch cache key to work with route interception
  packages/next/src/client/components/router-reducer/reducers/create-prefetch-cache-key.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.ts
  test/e2e/app-dir/interception-route-prefetch-cache/app/Modal.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/bar/@modal/(...)post/[id]/page.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/bar/@modal/default.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/bar/default.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/bar/layout.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/bar/page.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/foo/@modal/(...)post/[id]/page.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/foo/@modal/default.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/foo/default.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/foo/layout.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/foo/page.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/layout.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/page.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/app/post/[id]/page.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/interception-route-prefetch-cache.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#59889 Chore docs fix runon and definition of trailing slash redirect
  docs/02-app/01-building-your-application/01-routing/11-middleware.mdx
Labels: area: documentation
