Repository vercel/next.js, pull requests merged in 2023-09, with the labels that each got.

#54806 Turbopack: Log build progress in development like webpack does
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: web-tooling team

#54839 Updates minimum node version in documentation
  docs/03-pages/01-building-your-application/06-configuring/08-babel.mdx
  docs/03-pages/01-building-your-application/08-upgrading/03-version-13.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#54653 Update `swc_core` to `v0.82.11`
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/core/src/optimize_barrel.rs
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/core/tests/loader/css-hygiene-1/output.js
  packages/next-swc/crates/next-core/js/package.json
  packages/next-swc/crates/next-font/src/font_imports_generator.rs
  packages/next-swc/crates/next-transform-dynamic/src/lib.rs
  packages/next-swc/crates/next-transform-font/src/font_imports_generator.rs
  packages/next/package.json
  packages/next/src/compiled/sass-loader/cjs.js
  pnpm-lock.yaml
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
  test/e2e/streaming-ssr/index.test.ts
  test/integration/amphtml/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/react-18/test/concurrent.js
Labels: created-by: web-tooling team

#53603 feat(examples): Migrate 'with-mongoose' example to TypeScript with total type safety
  examples/with-mongodb-mongoose/components/Form.tsx
  examples/with-mongodb-mongoose/lib/dbConnect.ts
  examples/with-mongodb-mongoose/models/Pet.ts
  examples/with-mongodb-mongoose/next-env.d.ts
  examples/with-mongodb-mongoose/package.json
  examples/with-mongodb-mongoose/pages/[id]/edit.tsx
  examples/with-mongodb-mongoose/pages/[id]/index.tsx
  examples/with-mongodb-mongoose/pages/_app.tsx
  examples/with-mongodb-mongoose/pages/_document.tsx
  examples/with-mongodb-mongoose/pages/api/pets/[id].ts
  examples/with-mongodb-mongoose/pages/api/pets/index.ts
  examples/with-mongodb-mongoose/pages/index.js
  examples/with-mongodb-mongoose/pages/index.tsx
  examples/with-mongodb-mongoose/pages/new.tsx
  examples/with-mongodb-mongoose/tsconfig.json
Labels: area: examples

#54863 Docs: Add changeFrequency and priority attributes to sitemaps
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
Labels: area: documentation, CI approved

#54858 Fix performance measures crashing the app
  packages/next/src/client/index.tsx
  test/e2e/pages-performance-mark/index.test.ts
  test/e2e/pages-performance-mark/next.config.js
  test/e2e/pages-performance-mark/pages/_document.js
  test/e2e/pages-performance-mark/pages/index.js
Labels: type: next, created-by: Next.js team, area: tests

#54890 fix hmr test flake
  test/development/basic/hmr.test.ts
Labels: created-by: Next.js team, area: tests

#54888 Remove mutation of `renderOpts`
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/web-server.ts
Labels: type: next, created-by: Next.js team

#54870 Fix the prerender cache update error with the example Dockerfile
  examples/with-docker/Dockerfile
Labels: area: examples, CI approved

#54824 chore: update bug report template
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/actions/issue-validator/autolabel/index.mjs
  .github/actions/issue-validator/src/autolabel.mjs
  .github/actions/issue-validator/src/repro-link.mjs
Labels: created-by: Next.js team

#54898 Turbopack: Remove use of `turbo_tasks::unit()`
  packages/next-swc/crates/napi/src/app_structure.rs
  packages/next-swc/crates/napi/src/next_api/utils.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-dev/src/lib.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#54901 Turbopack: remove `turbo_tasks::unit()` from integration tests
  packages/next-swc/crates/next-dev-tests/tests/integration.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#54889 fix next/headers when used in src/middleware
  packages/next/src/server/web/adapter.ts
  test/e2e/app-dir/app-middleware/app-middleware.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#54900 Add `@tremor/react` to `optimizePackageImports`
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#54902 fix: fixed grammar error in the code comment
  examples/with-passport-and-next-connect/pages/api/user.js
Labels: area: examples, CI approved

#54862 Turbopack Experimental: Remove use of `SourceMapContentSource`
  packages/next-swc/crates/next-dev/src/lib.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#54601 docs: Add docs on CSP and nonce generation
  docs/02-app/01-building-your-application/07-configuring/15-content-security-policy.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
  docs/02-app/02-api-reference/05-next-config-js/headers.mdx
  docs/03-pages/01-building-your-application/06-configuring/15-content-security-policy.mdx
  docs/03-pages/01-building-your-application/07-deploying/01-production-checklist.mdx
  errors/nonce-contained-invalid-characters.mdx
  examples/styled-jsx-with-csp/.gitignore
  examples/styled-jsx-with-csp/README.md
  examples/styled-jsx-with-csp/next-env.d.ts
  examples/styled-jsx-with-csp/package.json
  examples/styled-jsx-with-csp/pages/_app.tsx
  examples/styled-jsx-with-csp/pages/_document.tsx
  examples/styled-jsx-with-csp/pages/index.tsx
  examples/styled-jsx-with-csp/tsconfig.json
  examples/with-strict-csp/README.md
  examples/with-strict-csp/app/layout.js
  examples/with-strict-csp/app/page.js
  examples/with-strict-csp/middleware.js
  examples/with-strict-csp/pages/_document.js
  examples/with-strict-csp/pages/index.js
Labels: area: examples, area: documentation, created-by: Next.js DevEx team

#54905 Remove leftover parameter on findPagesDir
  packages/next/src/build/index.ts
  packages/next/src/build/jest/jest.ts
  packages/next/src/build/type-check.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-lint.ts
  packages/next/src/lib/constants.ts
  packages/next/src/lib/eslint/runLintCheck.ts
  packages/next/src/lib/find-pages-dir.ts
  packages/next/src/lib/verifyAndLint.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/route-resolver.ts
  packages/next/src/server/lib/router-server.ts
Labels: type: next, created-by: Next.js team

#54908 Simplify getPagePaths logic
  packages/next/src/shared/lib/flatten.ts
  packages/next/src/shared/lib/page-path/get-page-paths.ts
  packages/next/src/shared/lib/page-path/normalize-page-path.ts
Labels: type: next, created-by: Next.js team

#54537 Debug tracing: time devserver startup
  packages/next/src/cli/next-dev.ts
Labels: type: next, created-by: web-tooling team

#54909 Update turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: web-tooling team

#54921 fix: Fix grammar issues on README.md
  examples/with-passport-and-next-connect/README.md
Labels: area: examples, CI approved

#54916 chore: fix autolabeler
  .github/actions/issue-validator/autolabel/index.mjs
  .github/actions/issue-validator/src/autolabel.mjs
Labels: created-by: Next.js team

#54933 Fix typo in description of error.js
  docs/02-app/01-building-your-application/01-routing/07-error-handling.mdx
Labels: area: documentation, CI approved

#54915 docs: Minor formatting fix in Pages Router SSG
  docs/03-pages/01-building-your-application/02-rendering/02-static-site-generation.mdx
Labels: area: documentation

#54844 docs: add `maxDuration` in API Routes config
  docs/03-pages/01-building-your-application/01-routing/07-api-routes.mdx
Labels: area: documentation

#54830 docs: add missing word in client components
  docs/02-app/01-building-your-application/03-rendering/02-client-components.mdx
Labels: area: documentation

#53349 docs: Clarify the ability to access current route segments in layouts
  docs/02-app/01-building-your-application/01-routing/02-pages-and-layouts.mdx
Labels: area: documentation

#54932 Add types for hot reloader send method
  packages/next/src/server/dev/hot-middleware.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: Next.js team

#54912 docs: Update Vercel YouTube channel url
  docs/05-community/index.mdx
Labels: area: documentation

#53542 docs: Move general info about next.config.* to its index page
  docs/02-app/02-api-reference/05-next-config-js/index.mdx
  docs/02-app/02-api-reference/05-next-config-js/pageExtensions.mdx
Labels: area: documentation

#54944 Fix typo in hot-reloader
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: Next.js team

#54841 docs: Fix typo in app/building-your-application/caching
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation

#54951 Ensure that barrel files behind wildcards are transformed into shortpath
  packages/next-swc/crates/core/tests/fixture/optimize-barrel/wildcard/2/input.js
  packages/next-swc/crates/core/tests/fixture/optimize-barrel/wildcard/2/output.js
  packages/next/src/build/webpack/loaders/next-barrel-loader.ts
  test/development/basic/barrel-optimization/app/recursive/shortcut/page.js
  test/development/basic/barrel-optimization/node_modules_bak/my-lib/a.js
  test/development/basic/barrel-optimization/node_modules_bak/my-lib/foo.js
Labels: type: next, created-by: Next.js team, area: tests

#54931 Fix group routes custom root not-found
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  test/e2e/app-dir/not-found-default/index.test.ts
  test/e2e/app-dir/not-found/group-route-root-not-found/app/(group)/group-dynamic/[id]/page.js
  test/e2e/app-dir/not-found/group-route-root-not-found/app/layout.js
  test/e2e/app-dir/not-found/group-route-root-not-found/app/not-found.js
  test/e2e/app-dir/not-found/group-route-root-not-found/app/page.js
  test/e2e/app-dir/not-found/group-route-root-not-found/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#54948 fix: server actions firing twice after navigation
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  test/e2e/app-dir/actions/app-action.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#54952 docs: fix document format for __next_private_export_map__
  packages/next/src/build/webpack/loaders/next-barrel-loader.ts
Labels: type: next, created-by: Next.js team

#54616 Fix: slug type issue
  examples/cms-contentful/lib/api.ts
Labels: area: examples

#53584 chore: upgrade playwright example
  examples/with-playwright/e2e/example.spec.ts
  examples/with-playwright/package.json
  examples/with-playwright/playwright.config.ts
Labels: area: examples, CI approved

#54962 Unify serverError hmr event
  packages/next/src/client/dev/webpack-hot-middleware-client.ts
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#54964 Add serverError action to list of HMR events
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#54966 Update codeowners
  .github/CODEOWNERS
Labels: created-by: Next.js team

#54891 fix(next-swc): skips client/server only checks when running with Jest to unblock testing
  .eslintrc.json
  jest.config.js
  package.json
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/react_server_components.rs
  packages/next-swc/crates/core/tests/errors.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/client-only/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/client-only/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/get-server-side-props/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/get-server-side-props/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/get-static-props/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/get-static-props/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/server-only/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/server-only/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/use-client/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/client-graph-no-checks/use-client/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/client-only/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/client-only/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/fake-client-entry/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/fake-client-entry/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/get-server-side-props/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/get-server-side-props/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/get-static-props/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/get-static-props/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/react-api/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/react-api/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/react-dom-api/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/react-dom-api/output.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/react-dom-server-client/input.js
  packages/next-swc/crates/core/tests/fixture/react-server-components/server-graph-no-checks/react-dom-server-client/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next/package.json
  packages/next/src/build/swc/jest-transformer.ts
  packages/next/src/build/swc/options.ts
  packages/next/src/compiled/jest-docblock/LICENSE
  packages/next/src/compiled/jest-docblock/index.js
  packages/next/src/compiled/jest-docblock/package.json
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
  test/jest-setup-after-env.ts
  test/production/jest/rsc/app/[blog]/page.jsx
  test/production/jest/rsc/app/[blog]/page.test.jsx
  test/production/jest/rsc/app/client-component.jsx
  test/production/jest/rsc/app/client-component.test.jsx
  test/production/jest/rsc/app/component.jsx
  test/production/jest/rsc/app/component.test.jsx
  test/production/jest/rsc/app/layout.jsx
  test/production/jest/rsc/app/page.jsx
  test/production/jest/rsc/app/page.test.jsx
  test/production/jest/rsc/lib/utils.js
  test/production/jest/rsc/lib/utils.test.js
  test/production/jest/server-only.test.ts
Labels: type: next, area: tests, CI approved

#54965 Remove pong HMR event as it is not used
  packages/next/src/client/components/react-dev-overlay/hot-reloader-client.tsx
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  test/development/basic/gssp-ssr-change-reloading/test/index.test.ts
  test/integration/dynamic-routing/test/index.test.js
  test/integration/ondemand/test/index.test.js
  test/lib/browsers/playwright.ts
Labels: type: next, created-by: Next.js team, area: tests

#54976 Add turbopack-connected HMR event
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: Next.js team

#54938 docs: Add template API reference
  docs/02-app/02-api-reference/02-file-conventions/template.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#55007 chore: bump `undici`
  packages/next/package.json
  packages/next/src/compiled/undici/index.js
  packages/next/src/server/node-polyfill-fetch.ts
  packages/next/src/server/setup-http-agent-env.ts
  packages/next/types/index.d.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#55010 chore: restore options to opt-in for server-side transpilation
  jest.config.js
  packages/next/src/build/swc/jest-transformer.ts
  packages/next/src/build/swc/options.ts
Labels: type: next, CI approved

#55005 upgrade edge-runtime
  packages/next/package.json
  packages/next/src/compiled/@edge-runtime/cookies/index.d.ts
  packages/next/src/compiled/@edge-runtime/cookies/index.js
  packages/next/src/compiled/@edge-runtime/cookies/package.json
  packages/next/src/compiled/@edge-runtime/primitives/package.json
  packages/next/src/compiled/edge-runtime/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, CI approved

#54989 Update Jest and Vitest example for App Router.
  examples/with-jest/README.md
  examples/with-jest/__tests__/index.test.tsx
  examples/with-jest/__tests__/snapshot.tsx
  examples/with-jest/app/blog/[slug]/page.test.tsx
  examples/with-jest/app/blog/[slug]/page.tsx
  examples/with-jest/app/client/page.test.tsx
  examples/with-jest/app/client/page.tsx
  examples/with-jest/app/component.test.tsx
  examples/with-jest/app/component.tsx
  examples/with-jest/app/layout.tsx
  examples/with-jest/app/rsc/page.test.tsx
  examples/with-jest/app/rsc/page.tsx
  examples/with-jest/jest.setup.js
  examples/with-jest/package.json
  examples/with-vitest/README.md
  examples/with-vitest/__tests__/Home.test.tsx
  examples/with-vitest/app/blog/[slug]/page.test.tsx
  examples/with-vitest/app/blog/[slug]/page.tsx
  examples/with-vitest/app/client/page.test.tsx
  examples/with-vitest/app/client/page.tsx
  examples/with-vitest/app/component.test.tsx
  examples/with-vitest/app/component.tsx
  examples/with-vitest/app/layout.tsx
  examples/with-vitest/app/rsc/page.test.tsx
  examples/with-vitest/app/rsc/page.tsx
  examples/with-vitest/next.config.js
  examples/with-vitest/package.json
Labels: area: examples, created-by: Next.js DevEx team

#54786 [functions-config-manifest] use correct extra config for pages router
  packages/next/src/build/analysis/get-page-static-info.ts
  test/e2e/app-dir/with-exported-function-config/pages/api/page-route.ts
  test/e2e/app-dir/with-exported-function-config/pages/page-ssr.tsx
  test/e2e/app-dir/with-exported-function-config/pages/page.tsx
Labels: type: next, area: tests

#54988 perf: use split chunks for the node server
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#55022 Update ready check for PR stats
  .github/actions/next-stats-action/src/run/collect-stats.js
Labels: created-by: Next.js team

#55023 Update eslint dependencies note in docs
  docs/02-app/01-building-your-application/07-configuring/02-eslint.mdx
Labels: area: documentation, created-by: Next.js team

#55029 Remove `react-hot-toast` from the optimizePackageImports list
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#54925 Experimental server optimization
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/core/src/optimize_server_react.rs
  packages/next-swc/crates/core/tests/fixture.rs
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/1/input.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/1/output.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/2/input.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/2/output.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/3/input.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/3/output.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/4/input.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/4/output.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/5/input.js
  packages/next-swc/crates/core/tests/fixture/optimize_server_react/5/output.js
  packages/next-swc/crates/core/tests/full.rs
  packages/next/src/build/swc/options.ts
  packages/next/src/build/webpack/loaders/next-swc-loader.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#55026 Fix duplicated dynamic metadata routes in dev mode
  packages/next/src/lib/metadata/get-metadata-route.ts
  packages/next/src/lib/metadata/is-metadata-route.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/lib/router-utils/filesystem.ts
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#54873 chore(ci): bump pnpm v8.6.11 to v8.7.1
  .github/actions/next-stats-action/package.json
  package.json
  pnpm-lock.yaml
  test/.stats-app/package.json
Labels: area: tests, CI approved

#55035 docs: Fix typo in getting-started/project-structure
  docs/01-getting-started/02-project-structure.mdx
Labels: area: documentation, CI approved

#54973 docs: fix typo
  docs/01-getting-started/01-installation.mdx
Labels: area: documentation, CI approved

#54968 docs: add missing quotation mark
  docs/02-app/01-building-your-application/03-rendering/02-client-components.mdx
Labels: area: documentation

#55040 Adjust `optimizePackageImports`
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#54960 server: enable minification by default
  packages/next/src/server/config-shared.ts
  test/integration/data-fetching-errors/test/index.test.js
  test/integration/externalize-next-server/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#55054 webpack: tweak config for split chunks
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#55024 fix(perf): lazy load `babel/code-frame`
  packages/next/src/lib/typescript/diagnosticFormatter.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: Next.js team

#55069 test: merge base path tests
  test/e2e/app-dir/app-basepath/app/use-pathname-another/page.js
  test/e2e/app-dir/app-basepath/app/use-pathname/page.js
  test/e2e/app-dir/app-basepath/components/read-path-name.js
  test/e2e/app-dir/app-basepath/index.test.ts
  test/e2e/app-dir/base-path/app/dashboard/page.jsx
  test/e2e/app-dir/base-path/app/layout.jsx
  test/e2e/app-dir/base-path/app/page.jsx
  test/e2e/app-dir/base-path/index.test.ts
  test/e2e/app-dir/base-path/next.config.js
Labels: created-by: Next.js team, area: tests

#55063 remove --turbo, use --experimental-turbo as --turbo
  .github/workflows/build_and_test.yml
  jest.config.js
  packages/next-swc/crates/napi/src/turbopack.rs
  packages/next-swc/crates/next-dev-tests/print-enabled-tests.js
  packages/next-swc/crates/next-dev-tests/tests-manifest.js
  packages/next/src/build/swc/index.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/lib/router-server.ts
  scripts/normalize-version-bump.js
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/ReactRefreshLogBox-app-doc.test.ts
  test/development/acceptance/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/error-recovery.test.ts
  test/lib/e2e-utils.ts
  test/lib/next-test-utils.ts
  test/lib/turbo.ts
  test/turbopack-tests-manifest.js
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#55021 Debug tracing: include session and anonymous ids
  packages/next/src/telemetry/storage.ts
  packages/next/src/trace/trace-uploader.ts
Labels: type: next, created-by: web-tooling team

#55077 Next SWC: Constrain Vc cell values with `Send`
  packages/next-swc/crates/napi/src/next_api/utils.rs
Labels: type: next, created-by: web-tooling team

#55039 docs: example of generated nonce to use base64 encoding as per spec
  docs/02-app/01-building-your-application/07-configuring/15-content-security-policy.mdx
Labels: area: documentation, CI approved

#55079 test(next-dev): migrate styled-jsx integration test
  packages/next-swc/crates/next-dev-tests/tests/integration/next/styled-jsx/input/index.js
  packages/next/src/server/lib/router-utils/setup-dev.ts
  test/e2e/styled-jsx/index.test.ts
  test/turbopack-tests-manifest.js
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#55085 Update 01-server-components.mdx
  docs/02-app/01-building-your-application/03-rendering/01-server-components.mdx
Labels: area: documentation

#55070 chore: add structured app page path type
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-build/src/next_app/app_entries.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/next_app/app_favicon_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_route_entry.rs
  packages/next-swc/crates/next-core/src/next_app/mod.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#55109 Fixed i18n data route RegExp
  packages/next/src/server/lib/router-utils/filesystem.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  test/e2e/i18n-data-route/components/page.tsx
  test/e2e/i18n-data-route/i18n-data-route.test.ts
  test/e2e/i18n-data-route/next.config.js
  test/e2e/i18n-data-route/pages/[slug]/about/index.tsx
  test/e2e/i18n-data-route/pages/about/index.tsx
Labels: type: next, created-by: Next.js team

#55105 chore: upgrade to TypeScript 5.2.2
  .vscode/settings.json
  package.json
  packages/next-swc/crates/next-core/js/tsconfig.json
  packages/next/package.json
  packages/next/src/compiled/debug/index.js
  packages/next/src/server/web/spec-extension/response.ts
  packages/react-dev-overlay/tsconfig.json
  pnpm-lock.yaml
  test/integration/tsconfig-verifier/test/index.test.js
Labels: type: next, created-by: Next.js team, area: Turbopack

#55032 fix: ensure mpa navigation render side effects are only fired once
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  test/e2e/app-dir/navigation/app/mpa-nav-test/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
  test/e2e/app-dir/navigation/pages/slow-page.js
Labels: type: next, created-by: Next.js team, area: tests

#55114 Strip internal routing headers
  packages/next/src/server/base-server.ts
  packages/next/src/server/internal-utils.ts
  packages/next/src/server/next-server.ts
  test/e2e/i18n-data-route/i18n-data-route.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#55111 Add option to support log full request url in verbose mode
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
  test/e2e/app-dir/app-static/app-fetch-logging.test.ts
  test/e2e/app-dir/app-static/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#55120 Filter out pages tree view for app dir only output
  packages/next/src/build/utils.ts
  test/e2e/app-dir/not-found/basic/index.test.ts
  test/production/app-dir/build-output/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#55065 Reenable app-static usePathname tests
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/next.config.js
Labels: created-by: Next.js team, area: tests

#51394 Check for type of route handler returned value at build time (via the TS plugin) and at runtime
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/server/future/route-modules/app-route/module.ts
  test/e2e/app-dir/app-routes/app-custom-routes.test.ts
  test/e2e/app-dir/app-routes/app/no-response/route.ts
  test/e2e/app-dir/app-routes/tsconfig.json
Labels: type: next, area: tests, CI approved

#55131 examples: Update strict-csp example with better nonce
  examples/with-strict-csp/middleware.js
Labels: area: examples, created-by: Next.js DevEx team

#55087 Set test headers via page.router API
  packages/next/src/experimental/testmode/playwright/index.ts
  packages/next/src/experimental/testmode/playwright/next-fixture.ts
  packages/next/src/experimental/testmode/playwright/page-route.ts
Labels: type: next, CI approved

#55100 enable all passing turbopack tests for CI
  .github/workflows/build_and_test.yml
  test/turbopack-tests-manifest.js
Labels: created-by: web-tooling team, area: tests

#54995 feat(turbopack): add dynamic metadata support
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/app_structure.rs
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-build/src/next_app/app_entries.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next-swc/crates/next-core/src/app_source.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/loader_tree.rs
  packages/next-swc/crates/next-core/src/mode.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_route_entry.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/image.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/mod.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/route.rs
  packages/next-swc/crates/next-core/src/next_app/mod.rs
  packages/next-swc/crates/next-core/src/next_app/unsupported_dynamic_metadata_issue.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-dev-tests/tests/integration.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/test.tsx
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team

#55146 server: require hook hotfix
  packages/next/src/build/index.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/server-ipc/index.ts
  packages/next/src/server/require-hook.ts
Labels: type: next, created-by: Next.js team

#55148 Revert swc versions to one that doesn't use lightningcss
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/core/src/optimize_barrel.rs
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next-swc/crates/core/tests/full/example/output.js
  packages/next-swc/crates/core/tests/loader/css-hygiene-1/output.js
  packages/next-swc/crates/next-font/src/font_imports_generator.rs
  packages/next-swc/crates/next-transform-dynamic/src/lib.rs
  packages/next-swc/crates/next-transform-font/src/font_imports_generator.rs
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
  test/e2e/streaming-ssr/index.test.ts
  test/integration/amphtml/test/index.test.js
  test/integration/client-navigation/test/rendering.js
  test/integration/react-18/test/concurrent.js
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: web-tooling team, area: tests

#55147 feat: support expanding urls in nexturbo (and fix static files)
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  test/development/basic/next-rs-api.test.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team

#55189 Fix/security
  examples/cms-builder-io/package.json
Labels: area: examples, CI approved

#55178 docs: fix nested list
  docs/02-app/01-building-your-application/08-upgrading/03-from-vite.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#55203 examples: upgrade @makeswift/runtime from 0.2.2 to 0.10.13
  examples/cms-makeswift/package.json
Labels: area: examples

#55201 examples: update KeystoneJS version
  examples/cms-keystonejs-embedded/package.json
Labels: area: examples

#55205 docs: use `satisfies` for TypeScript code blocks
  docs/02-app/01-building-your-application/07-configuring/01-typescript.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/01-get-static-props.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/02-get-static-paths.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/03-get-server-side-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-server-side-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-paths.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-props.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#55226 server: remove turbopack-specific code when compiling with webpack
  packages/next/src/build/webpack-config.ts
  packages/next/webpack.config.js
Labels: type: next, created-by: Next.js team

#55222 fix: upgrade recoil from 0.7.6 to 0.7.7
  examples/with-recoil/package.json
Labels: area: examples, CI approved

#55234 docs: satisfies follow up
  docs/03-pages/01-building-your-application/03-data-fetching/02-get-static-paths.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-paths.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#55210 chore(examples): upgrade `@keystone-next/keystone`
  examples/cms-keystonejs-embedded/package.json
Labels: area: examples, CI approved

#55187 Ensure `ImageResponse` extends `Response`
  packages/next/src/server/web/spec-extension/image-response.ts
Labels: type: next, CI approved

#55144 test(nexttestsetup): teardown nextinstance gracefully
  test/lib/e2e-utils.ts
  test/lib/next-test-utils.ts
Labels: created-by: web-tooling team, area: tests

#55118 tests(next-dev): migrate basic tailwind tests for turbopack
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/next.config.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/pages/_app.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/pages/api/hello.ts
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/pages/index.jsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/postcss.config.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/public/favicon.ico
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/public/vercel.svg
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/styles/globals.css
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/tailwind.config.js
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/input/tsconfig.json
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.existsSync(__q____q____q____star__0-55e40b.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.existsSync(__q____q____q____star__0-bbe67b.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-50ea93.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-a3cd71.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1006 path.resolve(__q____q____q____star__0_-820338.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/tailwind/basic/issues/lint TP1006 path.resolve(__q____q____q____star__0_-c23a56.txt
  test/development/basic/tailwind-jit.test.ts
  test/integration/css-fixtures/with-tailwindcss/package.json
  test/integration/css-fixtures/with-tailwindcss/pages/_app.js
  test/integration/css-fixtures/with-tailwindcss/pages/index.js
  test/integration/css-fixtures/with-tailwindcss/styles/global.css
  test/turbopack-tests-manifest.js
Labels: created-by: web-tooling team, area: tests

#55245 Fix typo
  docs/02-app/01-building-your-application/03-rendering/01-server-components.mdx
Labels: area: documentation, CI approved

#54813 Remove render workers in favor of esm loader
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
  packages/next/src/cli/next-build-args.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev-args.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-export-args.ts
  packages/next/src/cli/next-export.ts
  packages/next/src/cli/next-info-args.ts
  packages/next/src/cli/next-info.ts
  packages/next/src/cli/next-lint-args.ts
  packages/next/src/cli/next-lint.ts
  packages/next/src/cli/next-start-args.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/cli/next-telemetry-args.ts
  packages/next/src/cli/next-telemetry.ts
  packages/next/src/lib/command-args.ts
  packages/next/src/lib/commands.ts
  packages/next/src/server/api-utils/node.ts
  packages/next/src/server/base-http/node.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-utils.ts
  packages/next/src/server/config.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/esm-loader.mts
  packages/next/src/server/import-overrides.ts
  packages/next/src/server/lib/get-esm-loader-path.ts
  packages/next/src/server/lib/mock-request.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/route-resolver.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  packages/next/src/server/lib/setup-server-worker.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
  packages/next/src/server/require-hook.js
  packages/next/src/server/require.ts
  packages/next/src/shared/lib/constants.ts
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  test/development/basic/node-builtins.test.ts
  test/development/watch-config-file/index.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
  test/integration/amphtml-fragment-style/pages/index.js
  test/integration/api-body-parser/pages/api/index.js
  test/integration/api-body-parser/server.js
  test/integration/api-body-parser/test/index.test.js
  test/integration/cli/test/index.test.js
  test/integration/middleware-overrides-node.js-api/middleware.js
  test/lib/next-test-utils.ts
  test/production/custom-server/custom-server.test.ts
  test/production/custom-server/server.js
Labels: type: next, created-by: Next.js team, area: tests

#55149 docs: clarify setting cookies docs
  docs/02-app/02-api-reference/04-functions/cookies.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#55243 test(turbopack): migrate 404-related tests from next-dev
  packages/next-swc/crates/next-dev-tests/tests/integration/next/pages/404-navigate/input/pages/_error.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/pages/404-navigate/input/pages/index.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/pages/404-navigate/input/pages/link.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/pages/404-navigate/input/pages/not-found.tsx
  test/turbopack-tests-manifest.js
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#55151 test(fixture): improve finding ports to reduce flaky
  package.json
  pnpm-lock.yaml
  test/lib/next-test-utils.ts
Labels: created-by: web-tooling team, area: tests

#55237 feat: add reserved port validation
  errors/reserved-port.mdx
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/lib/helpers/get-reserved-port.ts
  test/integration/cli/test/index.test.js
Labels: type: next, area: tests, CI approved

#55269 build: fix externals resolution when importing from next/dist
  packages/next/src/build/webpack-config.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/async-storage/page.js
Labels: type: next, created-by: Next.js team, area: tests

#55273 Make open editor icon size non-shrink in error overlay
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
Labels: type: next, created-by: Next.js team

#55279 build: fix minimal trace caching
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#55274 fix: upgrade date-fns from 2.28.0 to 2.30.0
  examples/cms-prepr/package.json
Labels: area: examples, CI approved

#55254 fix: upgrade sharp from 0.29.3 to 0.32.5
  examples/cms-buttercms/package.json
Labels: area: examples, CI approved

#55282 reafactor: renamed pathname -> page
  packages/next-swc/crates/next-core/js/src/entry/app-renderer.tsx
  packages/next-swc/crates/next-core/js/src/entry/app/edge-page-bootstrap.ts
  packages/next-swc/crates/next-core/js/src/internal/page-server-handler.tsx
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/dev/static-paths-worker.ts
  packages/next/src/server/future/route-matcher-providers/pages-api-route-matcher-provider.ts
  packages/next/src/server/future/route-matcher-providers/pages-route-matcher-provider.ts
  packages/next/src/server/load-components.ts
  packages/next/src/server/load-default-error-components.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/render.tsx
  packages/next/src/server/utils.ts
  packages/next/src/server/web-server.ts
  packages/next/src/shared/lib/router/utils/get-next-pathname-info.ts
Labels: type: next, created-by: Next.js team, area: Turbopack

#55116 feat(next-dev): reenable turbopack beta message
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/src/cli/next-dev.ts
  packages/next/src/lib/turbopack-warning.ts
  test/turbopack-tests-manifest.js
Labels: type: next, created-by: web-tooling team

#55266 Add libsql to external package list
  docs/02-app/02-api-reference/05-next-config-js/serverComponentsExternalPackages.mdx
  packages/next/src/lib/server-external-packages.json
Labels: area: documentation, type: next, CI approved

#55285 fix: removed unused intercepting route definition references
  packages/next/src/server/base-server.ts
  packages/next/src/server/future/route-definitions/app-page-route-definition.ts
  packages/next/src/server/future/route-definitions/route-definition.ts
  packages/next/src/server/future/route-matches/app-page-route-match.ts
Labels: type: next, created-by: Next.js team

#55252 refactor(next-font): use next-transform-font
  packages/next-swc/crates/next-font/Cargo.toml
  packages/next-swc/crates/next-font/src/find_functions_outside_module_scope.rs
  packages/next-swc/crates/next-font/src/font_functions_collector.rs
  packages/next-swc/crates/next-font/src/font_imports_generator.rs
  packages/next-swc/crates/next-font/src/lib.rs
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: web-tooling team

#55083 Update docs for revalidatePath fix
  docs/02-app/02-api-reference/04-functions/fetch.mdx
  docs/02-app/02-api-reference/04-functions/revalidatePath.mdx
  docs/02-app/02-api-reference/04-functions/revalidateTag.mdx
  packages/next/src/lib/constants.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/web/spec-extension/revalidate-path.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: area: documentation, created-by: Next.js team

#55212 Update route-segment-config.mdx for fix broken link
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
Labels: area: documentation, CI approved

#55186 docs: Add some App Router FAQs
  docs/02-app/index.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#55289 Remove unused option and unified ready message into start server
  packages/next/src/build/output/store.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  packages/next/src/server/lib/start-server.ts
  test/integration/nullish-config/test/index.test.js
Labels: type: next, created-by: Next.js team

#54000 Test with latest `node@18`
  .github/actions/next-stats-action/Dockerfile
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/trigger_release.yml
  .github/workflows/update_fonts_data.yml
Labels: created-by: Next.js team, area: Font Optimization

#55300 remove `--experimental-turbo` from supported next-dev args
  packages/next/src/cli/next-dev-args.ts
Labels: type: next, created-by: Next.js team

#55292 test(next-dev): clean up 404 tests
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/link-segment/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/link/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/not-found.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/segment/not-found.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/segment/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/input/app/test.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-79ac62.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-b1b1c4.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-4ef8e2.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-c3fa50.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-cc5e88.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-custom/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-f6a046.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/input/app/link/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/input/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/input/app/test.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-846a98.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-9122b6.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-a68423.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-bce93f.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-172a6c.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/404-default/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-6538fc.txt
Labels: type: next, area: Turbopack, created-by: web-tooling team

#55317 Use NextJsHotReloaderInterface in router-server
  packages/next/src/server/lib/router-server.ts
Labels: type: next, created-by: Next.js team

#55318 server: switch pages to react dom edge renderer
  packages/next/src/server/import-overrides.ts
Labels: type: next, created-by: Next.js team

#55298 Logging improvements
  packages/next/src/build/output/store.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  packages/next/src/server/lib/start-server.ts
  test/development/basic/barrel-optimization.test.ts
  test/development/basic/hmr.test.ts
  test/development/next-font/deprecated-package.test.ts
  test/development/watch-config-file/index.test.ts
  test/integration/amphtml/test/index.test.js
  test/integration/cli/test/index.test.js
  test/integration/next-image-new/middleware/test/index.test.ts
  test/lib/e2e-utils.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, area: tests

#55287 fix `react-server-dom-webpack` cache invalidation
  .github/CODEOWNERS
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: web-tooling team

#55108 docs: add explicit units to isrMemoryCacheSize option
  docs/03-pages/01-building-your-application/02-rendering/03-incremental-static-regeneration.mdx
  docs/03-pages/01-building-your-application/03-data-fetching/04-incremental-static-regeneration.mdx
  packages/next/src/server/config-shared.ts
Labels: area: documentation, type: next

#55223 fix: upgrade listr2 from 5.0.5 to 5.0.8
  bench/vercel/package.json
  pnpm-lock.yaml
Labels: area: tests, CI approved

#55340 feat(turbopack): attach type metadata for static metadata item
  packages/next-swc/crates/next-core/src/loader_tree.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/mod.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/route.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/app/implicit-metadata/input/app/test.tsx
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team

#55328 fix duplicated error logging when start server
  packages/next-swc/crates/next-core/js/src/entry/router.ts
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/build/output/index.ts
  packages/next/src/build/output/store.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-info.ts
  packages/next/src/lib/turbopack-warning.ts
  packages/next/src/server/config.ts
  packages/next/src/server/next.ts
  packages/next/src/telemetry/detached-flush.ts
  test/development/basic/hmr.test.ts
  test/e2e/config-schema-check/index.test.ts
  test/integration/config-schema-check/next.config.js
  test/integration/config-schema-check/pages/index.js
  test/integration/config-schema-check/test/index.test.js
  test/unit/isolated/config.test.ts
  test/unit/warn-removed-experimental-config.test.ts
Labels: type: next, created-by: Next.js team

#55345 Revert react-server-dom require change
  packages/next/src/server/app-render/use-flight-response.tsx
Labels: type: next, created-by: Next.js team

#55294 Fix next swc windows bug
  packages/next-swc/crates/core/src/react_server_components.rs
Labels: type: next, CI approved

#55346 Warn experimental.appDir option can be removed
  packages/next/src/server/config.ts
  test/integration/config-experimental-warning/test/index.test.js
  test/unit/warn-removed-experimental-config.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#55347 Update generate-metadata.mdx
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: area: documentation, CI approved

#55247 Dev tracing: include page visibility when reporting HMR
  packages/next/src/client/dev/error-overlay/hot-dev-client.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
Labels: type: next, created-by: web-tooling team

#55361 fix turbopack HMR, fix disconnect detection
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-api/src/versioned_content_map.rs
  packages/next-swc/crates/next-core/js/src/entry/next-hydrate.tsx
  packages/next-swc/crates/next-core/src/emit.rs
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next/src/client/dev/error-overlay/hot-dev-client.ts
  packages/next/src/client/dev/error-overlay/websocket.ts
  packages/next/src/client/dev/hot-middleware-client.ts
  packages/next/src/client/index.tsx
  packages/next/src/client/next-dev-turbopack.ts
  packages/next/src/client/next-dev.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
Labels: type: next, created-by: web-tooling team

#55365 Fix CPU profile generation
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/server/lib/cpu-profile.ts
  packages/next/src/server/lib/setup-server-worker.ts
  packages/next/src/server/lib/start-server.ts
Labels: type: next, created-by: Next.js team

#55377 fix memory leak in require.cache cleanup
  packages/next/src/build/webpack/plugins/nextjs-require-cache-hot-reloader.ts
Labels: type: next, created-by: web-tooling team

#54584 WEB-1135: Update examples and schema for Turbopack loaders config change
  docs/02-app/02-api-reference/05-next-config-js/turbo.mdx
  examples/with-turbopack-loaders/next.config.js
  examples/with-turbopack-loaders/package.json
  examples/with-turbopack-loaders/pages/index.js
  examples/with-turbopack-loaders/styles.styl
  examples/with-turbopack-loaders/vercel.react.svg
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
Labels: area: examples, area: documentation, type: next, created-by: web-tooling team

#55343 feat(turbopack): support next.js specific node polyfills
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/app/client.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/pages/index.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/pages/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-1ea14a.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-9b3c3c.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-0b346e.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-c0b6ea.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-05f14f.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-a12dc8.txt
  test/development/basic/node-builtins/app/layout.js
  test/turbopack-tests-manifest.js
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#55296 Turbopack: Allow Pages entrypoint template to import user's `.ts` files
  packages/next-swc/crates/next-core/src/middleware.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_route_entry.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/util.rs
Labels: type: next, area: Turbopack, created-by: web-tooling team

#55385 Revert "feat(turbopack): support next.js specific node polyfills"
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/app/client.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/pages/index.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/pages/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-1ea14a.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-9b3c3c.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-0b346e.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-c0b6ea.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-05f14f.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-a12dc8.txt
  test/development/basic/node-builtins/app/layout.js
  test/turbopack-tests-manifest.js
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#55352 fix: upgrade @emotion/css from 11.10.0 to 11.11.2
  examples/with-emotion-vanilla/package.json
Labels: area: examples

#55355 Update codeowners
  .github/CODEOWNERS
Labels: created-by: Next.js team

#55368 more turbopack HMR fixes and test case
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/js/package.json
  packages/next/package.json
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/lib/router-utils/setup-dev.ts
  pnpm-lock.yaml
  test/development/basic/tailwind-jit.test.ts
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#55382 Revert "Revert react-server-dom require change"
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/app-render/use-flight-response.tsx
Labels: type: next, created-by: web-tooling team

#54445 Set standalone server default hostname to `0.0.0.0`
  packages/next/src/build/utils.ts
Labels: type: next, CI approved

#55392 Revert "Revert "feat(turbopack): support next.js specific node polyfills""
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/app/client.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/app/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/app/layout.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/pages/index.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/input/pages/page.tsx
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-1ea14a.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFile(__q____q____q____star__0__-9b3c3c.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-0b346e.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.readFileSync(__q____q____q____star_-c0b6ea.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-05f14f.txt
  packages/next-swc/crates/next-dev-tests/tests/integration/next/polyfill/basic/issues/lint TP1004 fs.stat(__q____q____q____star__0__star-a12dc8.txt
  test/development/basic/node-builtins/app/layout.js
  test/turbopack-tests-manifest.js
Labels: type: next, area: Turbopack, created-by: web-tooling team, area: tests

#55398 fix: added support for tests to add resolutions for deps
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
  test/lib/create-next-install.js
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team, area: tests
