Repository vercel/next.js, pull requests merged in 2024-07, with the labels that each got.

#65942 Improve Unstable Cache Docs
  docs/02-app/02-api-reference/04-functions/unstable_cache.mdx
Labels: Documentation

#67345 chore: add `swc-build-native` script at root package.json
  contributing/core/building.md
  package.json
Labels: created-by: Next.js team

#67308 Fix test-new-tests args parsing
  scripts/test-new-tests.mjs
Labels: created-by: Next.js team

#67293 fix(next/image): improve `w` and `q` query string validation for integers
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next, created-by: Next.js team, tests

#67348 chore: throw when three dot character is detected in segment
  packages/next/src/shared/lib/router/utils/sorted-routes.ts
  test/unit/page-route-sorter.test.ts
Labels: type: next, created-by: Next.js team, tests

#67332 docs: Improve error handling docs
  docs/02-app/01-building-your-application/01-routing/05-error-handling.mdx
  docs/02-app/01-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
  docs/02-app/02-api-reference/02-file-conventions/error.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67339 Add warn and telemetry for customized esmExternals
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/telemetry-plugin.ts
  packages/next/src/server/config.ts
  packages/next/src/telemetry/events/build.ts
  test/e2e/next-config-warnings/esm-externals-false/app/layout.js
  test/e2e/next-config-warnings/esm-externals-false/app/page.js
  test/e2e/next-config-warnings/esm-externals-false/esm-externals-false.test.ts
  test/e2e/next-config-warnings/esm-externals-false/next.config.js
Labels: type: next, created-by: Next.js team, tests

#67309 perf: improve retrieving `versionInfo` on Turbo HMR
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
Labels: type: next, created-by: Next.js team

#67351 fix(next/image): undo tight coupling between `priority=true` and `fetchPriority=high`
  packages/next/src/shared/lib/get-img-props.ts
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/default/test/index.test.ts
  test/unit/next-image-get-img-props.test.ts
Labels: type: next, created-by: Next.js team, tests

#67356 use fetch priority for app prefetches
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team, tests

#67359 Update `labeler.json`
  .github/labeler.json
Labels: CI approved

#66765 Ensure `required-server-files` test can exit cleanly
  test/production/standalone-mode/required-server-files/required-server-files-app.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
  test/turbopack-build-tests-manifest.json
Labels: CI approved, tests

#67358 fix prefetch bailout detection for nested loading segments
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  test/e2e/app-dir/app-prefetch/app/page.js
  test/e2e/app-dir/app-prefetch/app/prefetch-auto/[slug]/layout.js
  test/e2e/app-dir/app-prefetch/app/prefetch-auto/[slug]/loading.js
  test/e2e/app-dir/app-prefetch/app/prefetch-auto/[slug]/page.js
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team, tests

#67377 fix: Backport class properties fix
  Cargo.lock
Labels: created-by: Turbopack team

#66638 Allow busting reserved Github action caches
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#67222 fix(turbopack): build all parallel routes to make sure HMR works
  packages/next/src/server/dev/hot-reloader-turbopack.ts
Labels: type: next, created-by: Turbopack team

#67392 test: add test for parallel routes hmr
  test/development/app-dir/hmr-parallel-routes/app/@bar/page.tsx
  test/development/app-dir/hmr-parallel-routes/app/@foo/page.tsx
  test/development/app-dir/hmr-parallel-routes/app/layout.tsx
  test/development/app-dir/hmr-parallel-routes/hmr-parallel-routes.test.ts
  test/development/app-dir/hmr-parallel-routes/next.config.js
Labels: created-by: Turbopack team, tests

#66445 Persist package tarballs as GitHub Actions artifacts
  .github/workflows/build_and_deploy.yml
  contributing/core/testing.md
  scripts/create-preview-tarballs.js
  scripts/deploy-tarball.js
Labels: created-by: Next.js team

#67369 docs: fix typo eanble
  docs/02-app/02-api-reference/08-next-cli.mdx
Labels: Documentation

#67379 Update `@swc/core` npm package to `v1.6.6`
  package.json
  packages/next/package.json
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/compiled/mini-css-extract-plugin/cjs.js
  packages/next/src/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/src/compiled/mini-css-extract-plugin/index.js
  packages/next/src/compiled/mini-css-extract-plugin/loader.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66817 feat: Pass `module: "unknown"` to SWC minfiier
  packages/next/src/build/webpack/plugins/terser-webpack-plugin/src/index.ts
Labels: type: next, created-by: Turbopack team

#67406 [chore] Update turbopack to turbopack-240703.1
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66453 Automatically trigger sync with Front on release
  .github/workflows/notify_release.yml
Labels: created-by: Next.js team

#67425 [create-next-app]: add font antialiasing to templates
  packages/create-next-app/templates/app-tw/js/app/layout.js
  packages/create-next-app/templates/app-tw/ts/app/layout.tsx
  packages/create-next-app/templates/app/js/app/globals.css
  packages/create-next-app/templates/app/ts/app/globals.css
  packages/create-next-app/templates/default-tw/js/pages/_document.js
  packages/create-next-app/templates/default-tw/ts/pages/_document.tsx
  packages/create-next-app/templates/default/js/styles/globals.css
  packages/create-next-app/templates/default/ts/styles/globals.css
Labels: create-next-app

#67400 fix dynamic param extraction for interception routes
  packages/next/src/build/index.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  packages/next/src/lib/generate-interception-routes-rewrites.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/parse-and-validate-flight-router-state.tsx
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  test/e2e/app-dir/interception-route-prefetch-cache/interception-route-prefetch-cache.test.ts
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/@modal/(.)interception/[id]/page.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/@modal/default.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/@modal/no-interception/[id]/page.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/default.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/interception/[id]/page.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/layout.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/no-interception/[id]/page.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/app/[locale]/page.tsx
  test/e2e/app-dir/parallel-routes-generate-static-params/next.config.js
  test/e2e/app-dir/parallel-routes-generate-static-params/parallel-routes-generate-static-params.test.ts
Labels: type: next, created-by: Next.js team, tests

#67113 Upgrade TypeScript to v5.5.2
  package.json
  packages/next/index.d.ts
  packages/next/package.json
  packages/next/src/compiled/web-vitals-attribution/web-vitals.attribution.js
  packages/next/src/compiled/web-vitals/web-vitals.js
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  packages/next/src/types.ts
  packages/next/taskfile.js
  packages/next/tsconfig.json
  packages/next/types.d.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: type: next, created-by: Next.js team, CI approved

#67441 docs: fix typo `}`
  docs/02-app/02-api-reference/05-next-config-js/images.mdx
Labels: Documentation

#67432 Fix typo in MDX documentation
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
  packages/next-mdx/readme.md
Labels: type: next, Documentation

#67402 Transpile geist by default
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/util.rs
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/jest/jest.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/lib/default-transpiled-packages.json
  test/e2e/geist-font/geist-font.test.ts
  test/e2e/geist-font/pages/_app.js
  test/e2e/geist-font/pages/foo.js
Labels: type: next, created-by: Next.js team, Font (next/font), Turbopack, tests

#67403 Turbopack + Relay: correctly implement artifact_directory to fix multi-project test
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/relay.rs
  packages/next/package.json
  pnpm-lock.yaml
  test/integration/relay-graphql-swc-multi-project/test/index.test.js
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#67465 fix(next/image): handle invalid url
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next, created-by: Next.js team, tests

#67274 Bump minimum Node.js version to 18.18 (up from 18.17)
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/Dockerfile
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  .github/workflows/build_and_test.yml
  azure-pipelines.yml
  package.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/next/package.json
  pnpm-lock.yaml
  test/.stats-app/package.json
  test/production/eslint/test/__snapshots__/next-build-and-lint.test.ts.snap
Labels: type: next, create-next-app, created-by: Next.js team, tests

#67373 avoid merging global css in a way that leaks into other chunk groups
  packages/next/src/build/webpack/plugins/css-chunking-plugin.ts
  test/e2e/app-dir/css-order/app/base.css
  test/e2e/app-dir/css-order/app/global-first/page.tsx
  test/e2e/app-dir/css-order/app/global-first/style.css
  test/e2e/app-dir/css-order/app/global-second/page.tsx
  test/e2e/app-dir/css-order/app/global-second/style.css
  test/e2e/app-dir/css-order/app/nav.tsx
  test/e2e/app-dir/css-order/css-order.test.ts
Labels: type: next, created-by: Turbopack team, tests

#67463 refactor: avoid unnecessary after wrapper
  packages/next/src/server/after/after-context.test.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/async-storage/with-request-store.ts
Labels: type: next, created-by: Next.js team

#67454 Upgrade TypeScript to 5.5.3
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#67423 fix(next): add cross origin in react dom preload
  packages/next/src/client/script.tsx
  test/e2e/app-dir/next-script/app/layout.tsx
  test/e2e/app-dir/next-script/app/page.tsx
  test/e2e/app-dir/next-script/next-script.test.ts
  test/e2e/app-dir/next-script/next.config.js
Labels: type: next, tests

#67492 Remove obsolete `isNodeDebugging` option from next server
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next.ts
Labels: type: next, created-by: Next.js team

#66254 Fix VS Code debugging
  .vscode/launch.json
  contributing/core/vscode-debugger.md
  packages/next/package.json
  packages/next/taskfile.js
  packages/next/webpack.config.js
Labels: type: next, created-by: Next.js team, CI approved

#67464 Dedupe double logged server errors
  packages/next/src/server/app-render/create-error-handler.tsx
  test/e2e/app-dir/dedupe-rsc-error-log/app/client/edge/page.tsx
  test/e2e/app-dir/dedupe-rsc-error-log/app/client/page.tsx
  test/e2e/app-dir/dedupe-rsc-error-log/app/component.tsx
  test/e2e/app-dir/dedupe-rsc-error-log/app/layout.tsx
  test/e2e/app-dir/dedupe-rsc-error-log/app/server/edge/page.tsx
  test/e2e/app-dir/dedupe-rsc-error-log/app/server/page.tsx
  test/e2e/app-dir/dedupe-rsc-error-log/dedupe-rsc-error-log.test.ts
Labels: type: next, created-by: Next.js team, tests

#67494 Docs: Update unstable_rethrow example
  docs/02-app/02-api-reference/04-functions/unstable_rethrow.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67497 Configure source map overrides for turbopack
  .vscode/launch.json
Labels: created-by: Next.js team

#67514 Docs: Link to server-side form validation
  docs/02-app/01-building-your-application/01-routing/05-error-handling.mdx
Labels: Documentation

#67530 Re-add support for inline snapshots using prettier v2
  jest.config.js
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#67317 Turbopack build: Ensure Pages Router manifests are loaded with buildId
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/page-loader.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/dev/turbopack/manifest-loader.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/shared/lib/constants.ts
  test/integration/app-dir-export/test/utils.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#67515 docs: Add example code block to error handling docs
  docs/02-app/01-building-your-application/01-routing/05-error-handling.mdx
Labels: Documentation

#67460 next-build-test improvements
  packages/next-swc/crates/next-build-test/src/lib.rs
  packages/next-swc/crates/next-build-test/src/main.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#67555 chore: bump pnpm to 9.5.0
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  package.json
  scripts/normalize-version-bump.js
  test/.stats-app/package.json
Labels: created-by: Next.js team, tests

#67547 Ensure Node.js 18.18 is used in Turbopack test manifest update
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/turbopack-nextjs-build-integration-tests.yml
  .github/workflows/turbopack-nextjs-dev-integration-tests.yml
Labels: created-by: Next.js team

#67557 test: update component to async to avoid TS error in build
  test/e2e/app-dir/dedupe-rsc-error-log/app/component.tsx
Labels: created-by: Next.js team, tests

#67562 Bring back passing tests for css-order for Turbopack build
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#67563 skip invalid deploy tests
  test/e2e/app-dir/dedupe-rsc-error-log/dedupe-rsc-error-log.test.ts
  test/e2e/geist-font/geist-font.test.ts
Labels: created-by: Next.js team, Font (next/font), tests

#67560 docs: Fix `unstable_rethrow` example
  docs/02-app/02-api-reference/04-functions/unstable_rethrow.mdx
Labels: Documentation

#67507 docs: add server actions to unsupported features of static exports
  docs/02-app/01-building-your-application/10-deploying/02-static-exports.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67498 Remove legacy launch configs
  .vscode/launch.json
Labels: created-by: Next.js team

#67552 Handle more webpack source map URIs
  .vscode/launch.json
Labels: created-by: Next.js team

#67576 Ensure required-server-files test doesn't get stuck on failure
  test/lib/next-test-utils.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: created-by: Next.js team, tests

#67572 Tweak the display for error trace
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: type: next, created-by: Next.js team, tests

#67583 Turbopack build: Ensure build manifest routes are sorted
  packages/next/src/server/dev/turbopack/manifest-loader.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#67525 Clean up flight headers
  packages/next/src/build/index.ts
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/strip-flight-headers.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/lib/server-action-request-meta.ts
  packages/next/src/server/web/adapter.ts
Labels: type: next, create-next-app, created-by: Next.js team, Font (next/font), tests

#67575 Ensure Turbopack test manifest test run has a timeout
  .github/workflows/turbopack-nextjs-build-integration-tests.yml
  .github/workflows/turbopack-nextjs-dev-integration-tests.yml
Labels: created-by: Next.js team

#67592 Upgrade acorn
  packages/next/package.json
  packages/next/src/compiled/@vercel/nft/index.js
  packages/next/src/compiled/acorn/LICENSE
  packages/next/src/compiled/acorn/acorn.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#67435 Fix PPR navigations & revert `layerAssets` property from FlightData
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/clear-cache-node-data-for-segment-path.test.tsx
  packages/next/src/client/components/router-reducer/clear-cache-node-data-for-segment-path.ts
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.test.tsx
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
  test/development/acceptance-app/hydration-error.test.ts
  test/e2e/app-dir/ppr-navigations/prefetch-navigation/app/catch-all/[[...slug]]/page.tsx
  test/e2e/app-dir/ppr-navigations/prefetch-navigation/app/layout.tsx
  test/e2e/app-dir/ppr-navigations/prefetch-navigation/app/page.tsx
  test/e2e/app-dir/ppr-navigations/prefetch-navigation/next.config.js
  test/e2e/app-dir/ppr-navigations/prefetch-navigation/prefetch-navigation.test.ts
Labels: type: next, created-by: Next.js team, tests

#67599 Update experimental trace handling to capture more deps
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/get-module-build-info.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/e2e/app-dir/app/flying-shuttle.test.ts
  test/e2e/app-dir/app/next.config.js
Labels: type: next, created-by: Next.js team, tests

#67606 chore: create-next-app next config to `next.config.ts`
  packages/create-next-app/templates/app-empty/ts/next.config.mjs
  packages/create-next-app/templates/app-empty/ts/next.config.ts
  packages/create-next-app/templates/app-tw-empty/ts/next.config.mjs
  packages/create-next-app/templates/app-tw-empty/ts/next.config.ts
  packages/create-next-app/templates/app-tw/ts/next.config.mjs
  packages/create-next-app/templates/app-tw/ts/next.config.ts
  packages/create-next-app/templates/app/ts/next.config.mjs
  packages/create-next-app/templates/app/ts/next.config.ts
  packages/create-next-app/templates/default-empty/ts/next.config.mjs
  packages/create-next-app/templates/default-empty/ts/next.config.ts
  packages/create-next-app/templates/default-tw-empty/ts/next.config.mjs
  packages/create-next-app/templates/default-tw-empty/ts/next.config.ts
  packages/create-next-app/templates/default-tw/ts/next.config.mjs
  packages/create-next-app/templates/default-tw/ts/next.config.ts
  packages/create-next-app/templates/default/ts/next.config.mjs
  packages/create-next-app/templates/default/ts/next.config.ts
Labels: create-next-app, created-by: Next.js team

#67164 Write out task statistics if NEXT_TURBOPACK_TASK_STATISTICS is set
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/next.ts
Labels: type: next, created-by: Turbopack team

#67439 fix PPR navigations when visiting route with seeded cache
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/ppr-navigations/prefetch-navigation/prefetch-navigation.test.ts
  test/ppr-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#67608 test: disable flaky duration assertion in image optimizer test
  test/integration/image-optimizer/test/util.ts
Labels: created-by: Next.js team, tests

#67609 fix NextConfig detection in createTestDir
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team, tests

#67598 Turbopack build: Add missing Compiled successfully message
  packages/next/src/build/index.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#67601 Wait for dev server restart after `next.config.js` changes in tests
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-deploy.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
Labels: created-by: Next.js team, tests

#67589 Turbopack build: Fix preload-viewport tests
  test/integration/preload-viewport/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#67157 feat: type hint for `env` in dev mode
  packages/next-env/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/lib/experimental/create-env-definitions.test.ts
  packages/next/src/server/lib/experimental/create-env-definitions.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  test/development/app-dir/typed-env/.env
  test/development/app-dir/typed-env/.env.development.local
  test/development/app-dir/typed-env/.env.local
  test/development/app-dir/typed-env/.env.production.local
  test/development/app-dir/typed-env/app/layout.tsx
  test/development/app-dir/typed-env/app/page.tsx
  test/development/app-dir/typed-env/next.config.js
  test/development/app-dir/typed-env/typed-env.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#67611 split out flake detection from utility to detect changed tests
  .github/workflows/build_and_test.yml
  scripts/get-changed-tests.mjs
  scripts/test-new-tests.mjs
Labels: created-by: Next.js team

#67612 run changed/added tests in deploy mode
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  scripts/get-changed-tests.mjs
  scripts/test-new-tests.mjs
Labels: created-by: Next.js team, tests

#67588 perf(turbopack): only build last parallel route
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  test/e2e/app-dir/parallel-routes-and-interception/tsconfig.json
Labels: type: next, created-by: Turbopack team, tests

#67539 feat: instrumentation onRequestError
  packages/next/src/build/templates/middleware.ts
  packages/next/src/server/api-utils/node/api-resolver.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-error-handler.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/instrumentation/types.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/route-modules/pages-api/module.ts
  packages/next/src/server/web-server.ts
  packages/next/src/server/web/globals.ts
  test/development/middleware-errors/index.test.ts
  test/e2e/on-request-error/basic/.gitignore
  test/e2e/on-request-error/basic/app/app-route/edge/route.js
  test/e2e/on-request-error/basic/app/app-route/route.js
  test/e2e/on-request-error/basic/app/client-page/edge/page.js
  test/e2e/on-request-error/basic/app/client-page/page.js
  test/e2e/on-request-error/basic/app/layout.js
  test/e2e/on-request-error/basic/app/server-page/edge/page.js
  test/e2e/on-request-error/basic/app/server-page/page.js
  test/e2e/on-request-error/basic/app/write-log/route.js
  test/e2e/on-request-error/basic/basic.test.ts
  test/e2e/on-request-error/basic/instrumentation.js
  test/e2e/on-request-error/basic/middleware.js
  test/e2e/on-request-error/basic/next.config.js
  test/e2e/on-request-error/basic/pages/api/pages-route/edge.js
  test/e2e/on-request-error/basic/pages/api/pages-route/index.js
  test/e2e/on-request-error/basic/pages/page/edge.js
  test/e2e/on-request-error/basic/pages/page/index.js
Labels: type: next, created-by: Next.js team, tests

#67635 Add LichuAchu and mischnic to labeler
  .github/labeler.json
Labels: created-by: Turbopack team

#67637 add shared handling for deploy tests that use patched node_modules
  test/e2e/app-dir/app-routes-client-component/.vercelignore
  test/e2e/app-dir/app-routes-client-component/vercel.json
  test/e2e/app-dir/scss/nm-module-nested/.vercelignore
  test/e2e/app-dir/scss/nm-module-nested/vercel.json
  test/e2e/app-dir/scss/nm-module/.vercelignore
  test/e2e/app-dir/scss/nm-module/vercel.json
  test/e2e/app-dir/scss/npm-import-nested/.vercelignore
  test/e2e/app-dir/scss/npm-import-nested/vercel.json
  test/e2e/esm-externals/.vercelignore
  test/e2e/esm-externals/vercel.json
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team, tests

#67633 Fix two mistakes in next test instance classes
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
Labels: created-by: Next.js team, tests

#67433 Reduce console error patching
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/hydration-error-info.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  packages/next/src/client/components/react-dev-overlay/pages/client.ts
Labels: type: next, created-by: Next.js team

#67639 Share the hydration error info extraction util
  packages/next/src/client/components/react-dev-overlay/internal/helpers/attach-hydration-error-state.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  packages/next/src/client/components/react-dev-overlay/pages/client.ts
Labels: type: next, created-by: Next.js team

#67306 Add prerender indicator for app router
  docs/02-app/02-api-reference/05-next-config-js/devIndicators.mdx
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/prerender-indicator.ts
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/dev/hot-middleware-client.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/lib/dev-bundler-service.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/lib/router-utils/types.ts
  packages/next/src/server/next.ts
  test/development/app-dir/prerender-indicator/app/layout.tsx
  test/development/app-dir/prerender-indicator/app/page.tsx
  test/development/app-dir/prerender-indicator/prerender-indicator.test.ts
  test/e2e/app-dir/actions-navigation/app/nested-folder/(foo)/product-category/[...slugs]/page.js
  test/e2e/app-dir/actions-navigation/index.test.ts
  test/e2e/app-dir/app-static/app/page.js
  tsec-exemptions.json
Labels: type: next, created-by: Next.js team, Documentation, tests

#67645 cleanup unused server util
  packages/next/src/server/base-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web-server.ts
Labels: type: next, created-by: Next.js team

#67650 fix: typo prerender indicator link
  packages/next/src/client/components/prerender-indicator.ts
Labels: type: next

#66772 style: simplify string formatting
  packages/next-swc/crates/next-custom-transforms/src/transforms/optimize_barrel.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_config.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_static_info/collect_exported_const_visitor.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/react_server_components.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/server_actions.rs
  scripts/send-trace-to-jaeger/src/main.rs
Labels: type: next, Turbopack

#67065 Update redirects example for App router
  examples/redirects/README.md
  examples/redirects/app/_components/Code.tsx
  examples/redirects/app/about/page.tsx
  examples/redirects/app/layout.tsx
  examples/redirects/app/news/[...slug]/page.tsx
  examples/redirects/app/page.tsx
  examples/redirects/pages/news/[...slug].tsx
Labels: examples

#67447 Updated layout-component with new feature layout.js
  examples/layout-component/app/_components/sidebar.module.css
  examples/layout-component/app/_components/sidebar.tsx
  examples/layout-component/app/about/page.tsx
  examples/layout-component/app/contact/page.tsx
  examples/layout-component/app/layout.module.css
  examples/layout-component/app/layout.tsx
  examples/layout-component/app/page.tsx
  examples/layout-component/components/layout.tsx
  examples/layout-component/pages/_app.tsx
Labels: examples

#67666 Turbopack build: Ensure nanoid is installed during actions test runs
  test/e2e/app-dir/actions/app-action-export.test.ts
  test/e2e/app-dir/actions/app-action-form-state.test.ts
  test/e2e/app-dir/actions/app-action-progressive-enhancement.test.ts
  test/e2e/app-dir/actions/app-action-size-limit-invalid.test.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#67644 remove leftover code from 'related' deploy tests
  scripts/run-related-test.mjs
  test/related-tests-manifest.json
Labels: created-by: Next.js team, tests

#67649 Added pending variable in useActionState hook
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: Documentation

#67670 skip test-new-tests-deploy on forks
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#67565 build: upgrade edge-runtime
  package.json
  packages/next/package.json
  packages/next/src/compiled/@edge-runtime/cookies/package.json
  packages/next/src/compiled/@edge-runtime/ponyfill/package.json
  packages/next/src/compiled/@edge-runtime/primitives/package.json
  packages/next/src/compiled/edge-runtime/index.js
  packages/next/src/compiled/edge-runtime/package.json
  packages/next/src/server/next-server.ts
  pnpm-lock.yaml
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team, Runtime, tests

#67636 [Multi Zones] Update the with-zones example to use App Router
  examples/with-zones/README.md
  examples/with-zones/blog/app/layout.tsx
  examples/with-zones/blog/app/page.tsx
  examples/with-zones/blog/app/post/[id]/page.tsx
  examples/with-zones/blog/next.config.js
  examples/with-zones/blog/package.json
  examples/with-zones/blog/pages/post/[id].tsx
  examples/with-zones/blog/tsconfig.json
  examples/with-zones/home/app/about/page.tsx
  examples/with-zones/home/app/layout.tsx
  examples/with-zones/home/app/page.tsx
  examples/with-zones/home/jest.config.js
  examples/with-zones/home/next.config.js
  examples/with-zones/home/package.json
  examples/with-zones/home/test/next-config.test.ts
  examples/with-zones/home/tsconfig.json
Labels: examples

#67643 [Multi Zones] Update the Multi Zone documentation to include it on the App Router docs and include more information on zones
  docs/02-app/01-building-your-application/10-deploying/03-multi-zones.mdx
  docs/03-pages/01-building-your-application/09-deploying/03-multi-zones.mdx
Labels: Documentation

#67603 Reduce log noise caused by `retry()` attempts
  test/lib/next-test-utils.ts
Labels: created-by: Next.js team, tests

#67524 Move request header parsing for `app-render` into a dedicated function
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team, tests

#67693 refactor: `typedEnv` is not `readonly`
  packages/next/src/server/lib/experimental/create-env-definitions.test.ts
  packages/next/src/server/lib/experimental/create-env-definitions.ts
  test/development/app-dir/typed-env/typed-env.test.ts
Labels: type: next, created-by: Next.js team, tests

#67699 Report HMR latency when a Server Component changes
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  test/development/app-hmr/hmr.test.ts
Labels: type: next, created-by: Next.js team, tests

#67672 refactor: merge the same util to detect nextjs navigation errors
  packages/next/src/client/components/is-next-router-error.ts
  packages/next/src/export/helpers/is-dynamic-usage-error.ts
  packages/next/src/export/helpers/is-navigation-signal-error.ts
  packages/next/src/server/app-render/create-error-handler.tsx
Labels: type: next, created-by: Next.js team

#67610 Move .next/chunks folder to .next/build/chunks
  packages/next-swc/crates/next-api/src/project.rs
Labels: type: next, Turbopack, CI approved

#67671 test: the nextjs internal errors should not be caught
  test/e2e/on-request-error/basic/basic.test.ts
  test/e2e/on-request-error/skip-next-internal-error/app/another/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/app-route/not-found/route.js
  test/e2e/on-request-error/skip-next-internal-error/app/app-route/redirect/route.js
  test/e2e/on-request-error/skip-next-internal-error/app/client/dynamic-fetch/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/client/no-ssr/component.js
  test/e2e/on-request-error/skip-next-internal-error/app/client/no-ssr/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/client/not-found/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/client/redirect/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/layout.js
  test/e2e/on-request-error/skip-next-internal-error/app/server/dynamic-fetch/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/server/not-found/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/server/redirect/page.js
  test/e2e/on-request-error/skip-next-internal-error/instrumentation.js
  test/e2e/on-request-error/skip-next-internal-error/next.config.js
  test/e2e/on-request-error/skip-next-internal-error/skip-next-internal-error.test.ts
Labels: created-by: Next.js team, tests

#67712 fix middleware-general deploy test
  test/e2e/middleware-general/test/index.test.ts
Labels: created-by: Next.js team, tests

#67703 Add render source to onRequestError context
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-error-handler.tsx
  packages/next/src/server/instrumentation/types.ts
  test/e2e/on-request-error/basic/basic.test.ts
Labels: type: next, created-by: Next.js team, tests

#67384 docs: update `useParams` hook return statement
  docs/02-app/02-api-reference/04-functions/use-params.mdx
Labels: Documentation

#64594 refactor <AppRouter /> structure
  packages/next/src/client/app-call-server.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/not-found-boundary.tsx
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/get-layer-assets.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/webpack.config.js
  test/e2e/opentelemetry/instrumentation/opentelemetry.test.ts
Labels: type: next, created-by: Next.js team, tests

#67708 Turbopack build: Fix test checking Next.js version
  test/production/pages-dir/production/test/index.test.ts
Labels: created-by: Next.js team, tests

#67668 Docs: Clarify that fast refresh is a React feature
  docs/04-architecture/fast-refresh.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67721 Migrate `withRouter` from an integration to an e2e test
  test/e2e/with-router/components/header-nav.js
  test/e2e/with-router/index.test.ts
  test/e2e/with-router/pages/_app.js
  test/e2e/with-router/pages/a.js
  test/e2e/with-router/pages/b.js
  test/e2e/with-router/pages/router-method-ssr.js
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: created-by: Next.js team, tests

#67722 cleanup unused pages router method
  packages/next/src/shared/lib/router/router.ts
Labels: type: next, created-by: Next.js team

#67496 Docs: Clarify intrisic vs. rendered size for image height/width properties
  docs/02-app/01-building-your-application/06-optimizing/01-images.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67718 fix: missing file when build docker
  examples/with-docker/.dockerignore
Labels: examples

#67713 fix(turbopack): allow page segments that don't alter the path after catchall
  packages/next-swc/crates/next-core/src/next_app/mod.rs
  test/e2e/app-dir/catchall-parallel-routes-group/app/[...catchAll]/@slot/(group)/page.tsx
  test/e2e/app-dir/catchall-parallel-routes-group/app/[...catchAll]/@slot/layout.tsx
  test/e2e/app-dir/catchall-parallel-routes-group/app/[...catchAll]/layout.tsx
  test/e2e/app-dir/catchall-parallel-routes-group/app/[...catchAll]/page.tsx
  test/e2e/app-dir/catchall-parallel-routes-group/app/layout.tsx
  test/e2e/app-dir/catchall-parallel-routes-group/app/page.tsx
  test/e2e/app-dir/catchall-parallel-routes-group/catchall-parallel-routes-group.test.ts
  test/e2e/app-dir/catchall-parallel-routes-group/next.config.js
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#67707 Turbopack build: Skip webpack specific test
  test/e2e/app-dir/app/flying-shuttle.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#67705 Turbopack build: Fix transpile-packages tests
  test/e2e/transpile-packages/index.test.ts
  test/e2e/transpile-packages/npm/app/_peer-deps/page.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#67727 Turbopack build: Fix additional production tests
  test/production/pages-dir/production/test/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#67526 Convert secondary `fetchServerResponse` params into options object
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/refetch-inactive-parallel-segments.ts
Labels: type: next, created-by: Next.js team

#67527 Server Components HMR Cache
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/reducers/hmr-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/client/components/router-reducer/router-reducer.ts
  packages/next/src/server/after/after-context.test.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/request-meta.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/route-modules/app-page/module.ts
  packages/next/src/server/web/sandbox/sandbox.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
  packages/next/src/shared/lib/router/adapters.tsx
  test/development/app-dir/server-components-hmr-cache/app/edge/page.tsx
  test/development/app-dir/server-components-hmr-cache/app/layout.tsx
  test/development/app-dir/server-components-hmr-cache/app/node/page.tsx
  test/development/app-dir/server-components-hmr-cache/app/page.tsx
  test/development/app-dir/server-components-hmr-cache/components/refresh-button.tsx
  test/development/app-dir/server-components-hmr-cache/components/shared-page.tsx
  test/development/app-dir/server-components-hmr-cache/lib/fetch-random-value.ts
  test/development/app-dir/server-components-hmr-cache/next.config.js
  test/development/app-dir/server-components-hmr-cache/server-components-hmr-cache.test.ts
  test/development/app-dir/server-components-hmr-cache/tsconfig.json
Labels: type: next, created-by: Next.js team, tests

#67734 pages router: ensure x-middleware-cache is respected
  packages/next/src/shared/lib/router/router.ts
  scripts/test-new-tests.mjs
  test/e2e/middleware-rewrites/app/middleware.js
  test/e2e/middleware-rewrites/app/pages/dynamic-no-cache/[id].js
  test/e2e/middleware-rewrites/app/pages/index.js
  test/e2e/middleware-rewrites/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#67733 Fix flakiness of `error-hydration` test with turbopack
  test/production/error-hydration/error-hydration.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#67687 Fix typescript setup for `packages/font` and `turbo/generators`
  packages/font/package.json
  packages/font/tsconfig.build.json
  packages/font/tsconfig.json
  tsconfig.json
Labels: type: next, created-by: Next.js team

#67688 Update `@typescript-eslint`
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#67689 Add additional eslint config for CLI execution (including CI)
  .eslintrc.cli.json
  .eslintrc.json
  package.json
Labels: created-by: Next.js team

#67744 Turbopack build: Exclude .d.ts files as routes
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/pages_structure.rs
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Turbopack, tests

#67745 docs(generateMetadata): update code blocks to include filename
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation

#67684 Examples: updated the example of dynamic-routing to utilize the App Router
  examples/dynamic-routing/README.md
  examples/dynamic-routing/app/_components/header.tsx
  examples/dynamic-routing/app/about/page.tsx
  examples/dynamic-routing/app/layout.tsx
  examples/dynamic-routing/app/page.tsx
  examples/dynamic-routing/app/post/[id]/[comment]/page.tsx
  examples/dynamic-routing/app/post/[id]/page.tsx
  examples/dynamic-routing/package.json
  examples/dynamic-routing/pages/post/[id]/[comment].tsx
  examples/dynamic-routing/pages/post/[id]/index.tsx
Labels: examples, CI approved

#67760 Updated basic-export example with app router
  examples/basic-export/app/about/page.tsx
  examples/basic-export/app/layout.tsx
  examples/basic-export/app/page.tsx
  examples/basic-export/package.json
Labels: examples

#67717 chore: use `'...'` instead of fragments or null in docs
  docs/02-app/01-building-your-application/01-routing/11-parallel-routes.mdx
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching.mdx
  docs/02-app/01-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
  docs/02-app/01-building-your-application/11-upgrading/05-from-create-react-app.mdx
  docs/02-app/01-building-your-application/11-upgrading/05-from-vite.mdx
  docs/02-app/01-building-your-application/11-upgrading/06-from-create-react-app.mdx
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
  docs/02-app/02-api-reference/04-functions/use-router.mdx
Labels: created-by: Next.js team, Documentation

#67757 chore: Update `@swc/core` and `@swc/heleprs`
  package.json
  packages/next/package.json
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/compiled/mini-css-extract-plugin/cjs.js
  packages/next/src/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/src/compiled/mini-css-extract-plugin/index.js
  packages/next/src/compiled/mini-css-extract-plugin/loader.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#67764 Wait for stdio streams to be closed before resolving `NextInstance#stop`
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team, tests

#65713 feat: facebook metadata
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
  packages/next/src/lib/metadata/default-metadata.tsx
  packages/next/src/lib/metadata/generate/basic.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/resolvers/resolve-basics.ts
  packages/next/src/lib/metadata/types/extra-types.ts
  packages/next/src/lib/metadata/types/metadata-interface.ts
  test/e2e/app-dir/metadata/app/facebook/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, Documentation, tests

#67622 Migrated the active-class-name Example to App router
  examples/active-class-name/README.md
  examples/active-class-name/app/[slug]/page.tsx
  examples/active-class-name/app/about/page.tsx
  examples/active-class-name/app/layout.tsx
  examples/active-class-name/app/news/page.tsx
  examples/active-class-name/app/page.tsx
  examples/active-class-name/components/ActiveLink.tsx
  examples/active-class-name/components/Nav.tsx
  examples/active-class-name/package.json
  examples/active-class-name/pages/[slug].tsx
  examples/active-class-name/tsconfig.json
Labels: examples

#67774 docs: address comments on RC
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching.mdx
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67691 Docs: Document `cssChunking` option
  docs/02-app/01-building-your-application/05-styling/01-css-modules.mdx
  docs/02-app/02-api-reference/05-next-config-js/cssChunking.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67772 fix: unstable_cache should not cache new result in draft mode
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  test/e2e/app-dir/app-static/app-static.test.ts
Labels: type: next, tests

#67779 Fix edge preview props are not matched with cookie
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/src/server/async-storage/draft-mode-provider.ts
  packages/next/src/server/web-server.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/edge-route-module-wrapper.ts
  packages/next/src/server/web/get-edge-preview-props.ts
  test/e2e/app-dir/draft-mode-middleware/app/api/disable-draft/route.ts
  test/e2e/app-dir/draft-mode-middleware/app/api/draft/route.ts
  test/e2e/app-dir/draft-mode-middleware/app/layout.tsx
  test/e2e/app-dir/draft-mode-middleware/app/preview-page/page.tsx
  test/e2e/app-dir/draft-mode-middleware/draft-mode-middleware.test.ts
  test/e2e/app-dir/draft-mode-middleware/middleware.ts
  test/e2e/app-dir/draft-mode/draft-mode.test.ts
  test/turbopack-dev-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#67767 Wait for `✓ Ready` log in `NextInstance#start`
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  test/development/jsconfig-path-reloading/index.test.ts
  test/development/start-no-build/start-no-build.test.ts
  test/development/tsconfig-path-reloading/index.test.ts
  test/e2e/app-dir/app-basepath-custom-server/index.test.ts
  test/e2e/custom-app-render/custom-app-render.test.ts
  test/e2e/multi-zone/multi-zone.test.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
  test/production/custom-server/custom-server.test.ts
Labels: type: next, created-by: Next.js team, tests

#67786 Ensure serverSourceMaps is in webpack cache key
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team

#67211 TypeScript plugin: Allow functions in action-like props
  docs/02-app/01-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
  packages/next/src/server/typescript/rules/client-boundary.ts
  test/development/typescript-plugin/README.md
  test/development/typescript-plugin/app/client.tsx
  test/development/typescript-plugin/app/layout.tsx
  test/development/typescript-plugin/app/page.tsx
  test/development/typescript-plugin/package.json
  test/development/typescript-plugin/tsconfig.json
Labels: type: next, created-by: Next.js team, Documentation, tests

#64218 Exclude changes that already landed in canary when finding changed tests
  scripts/get-changed-tests.mjs
Labels: created-by: Next.js team

#67787 Drop edge prerender manifest
  packages/next/src/build/index.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/build/templates/edge-ssr.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/client/route-loader.ts
  packages/next/src/server/web-server.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#67803 Turbopack build: Implement app/global-error.tsx
  packages/next-swc/crates/napi/src/app_structure.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/loader_tree.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_server_component/server_component_module.rs
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Turbopack, tests

#67805 Ensure instrumentation register only call once
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/next-server.ts
  test/e2e/instrumentation-hook/register-once/instrumentation.js
  test/e2e/instrumentation-hook/register-once/next.config.js
  test/e2e/instrumentation-hook/register-once/pages/foo.js
  test/e2e/instrumentation-hook/register-once/register-once.test.ts
Labels: type: next, created-by: Next.js team, tests

#67797 Set @next/font to private and remove peer deps field
  packages/font/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#67769 Handle server actions error in onRequestError
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/instrumentation/types.ts
  test/e2e/on-request-error/basic/basic.test.ts
  test/e2e/on-request-error/server-action-error/app/another/page.js
  test/e2e/on-request-error/server-action-error/app/client/actions.js
  test/e2e/on-request-error/server-action-error/app/client/callback/edge/page.js
  test/e2e/on-request-error/server-action-error/app/client/callback/page.js
  test/e2e/on-request-error/server-action-error/app/form-error/edge/page.js
  test/e2e/on-request-error/server-action-error/app/form-error/page.js
  test/e2e/on-request-error/server-action-error/app/layout.js
  test/e2e/on-request-error/server-action-error/app/write-log/route.js
  test/e2e/on-request-error/server-action-error/instrumentation.js
  test/e2e/on-request-error/server-action-error/next.config.js
  test/e2e/on-request-error/server-action-error/server-action-error.test.ts
  test/e2e/on-request-error/skip-next-internal-error/app/form/action.js
  test/e2e/on-request-error/skip-next-internal-error/app/form/not-found/page.js
  test/e2e/on-request-error/skip-next-internal-error/app/form/redirect/page.js
  test/e2e/on-request-error/skip-next-internal-error/skip-next-internal-error.test.ts
Labels: type: next, created-by: Next.js team, tests

#67678 Don’t show long internal Rust stack traces to users
  Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/nodeStackFrames.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Turbopack team

#67773 docs: add `next.config.ts`
  docs/02-app/01-building-your-application/07-configuring/01-typescript.mdx
  docs/02-app/02-api-reference/05-next-config-js/index.mdx
Labels: created-by: Next.js team, Documentation

#67346 Docs: Update note on Next.js ignoring CRA files
  docs/02-app/01-building-your-application/11-upgrading/05-from-create-react-app.mdx
Labels: Documentation, created-by: Next.js DevEx team

#67804 Align the typeEnv value type with default process env value type
  packages/next/src/server/lib/experimental/create-env-definitions.test.ts
  packages/next/src/server/lib/experimental/create-env-definitions.ts
  test/development/app-dir/typed-env/typed-env.test.ts
Labels: type: next, created-by: Next.js team, tests

#67778 docs: add important info around global styles
  docs/02-app/01-building-your-application/05-styling/01-stylesheets.mdx
  docs/02-app/01-building-your-application/05-styling/02-tailwind-css.mdx
  docs/02-app/01-building-your-application/05-styling/04-css-in-js.mdx
  docs/02-app/01-building-your-application/05-styling/index.mdx
  docs/02-app/01-building-your-application/06-optimizing/01-images.mdx
  docs/02-app/01-building-your-application/11-upgrading/04-app-router-migration.mdx
  docs/02-app/01-building-your-application/11-upgrading/06-from-create-react-app.mdx
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
  docs/02-app/02-api-reference/05-next-config-js/webpack.mdx
  docs/03-pages/01-building-your-application/04-styling/01-css-modules.mdx
Labels: created-by: Next.js team, Documentation

#67829 Examples: updated the example of head-elements to utilize the App Router
  examples/head-elements/README.md
  examples/head-elements/app/layout.tsx
  examples/head-elements/app/page.tsx
  examples/head-elements/package.json
  examples/head-elements/pages/index.tsx
Labels: examples
