Repository vercel/next.js, pull requests merged in 2024-05, with the labels that each got.

#64965 Turbopack: rename source map prefix
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#65085 docs(app-routing-layoutsand-template): use the correct path
  docs/02-app/01-building-your-application/01-routing/03-layouts-and-templates.mdx
Labels: Documentation

#65240 Fix export function name on docs/routing/layouts-and-templates
  docs/02-app/01-building-your-application/01-routing/03-layouts-and-templates.mdx
  examples/with-turso/README.md
  examples/with-turso/app/page.tsx
  examples/with-turso/app/todo-list.tsx
Labels: examples, Documentation

#65228 chore(github-workflow): update to check all reactions
  .github/actions/next-repo-info/dist/issues/index.mjs
  .github/actions/next-repo-info/dist/prs/index.mjs
  .github/actions/next-repo-info/src/popular-issues.mjs
  .github/actions/next-repo-info/src/popular-prs.mjs
Labels: created-by: Next.js team

#65235 fix(next/image): detect react@19 for `fetchPriority` prop
  packages/next/src/client/image-component.tsx
Labels: type: next, created-by: Next.js team

#65238 Use POST for invokeIpcMethod
  packages/next/src/server/lib/server-ipc/index.ts
  packages/next/src/server/lib/server-ipc/invoke-request.ts
  packages/next/src/server/lib/server-ipc/request-utils.ts
Labels: type: next

#65165 fix redirect to url with semicolon
  packages/next/src/client/components/redirect.ts
  test/e2e/app-dir/navigation/app/redirect/semicolon/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, tests

#65252 docs(staletime): add clarification around prefetch false
  docs/02-app/02-api-reference/05-next-config-js/staleTimes.mdx
Labels: created-by: Next.js team, Documentation

#65233 Provide non-dynamic segments to catch-all parallel routes
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/shared/lib/router/utils/route-regex.ts
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/@slot/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/foo/[lang]/bar/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/parallel-routes-breadcrumbs.test.ts
Labels: type: next, CI approved, tests

#63742 [create-next-app] remove "text-balance" custom class
  packages/create-next-app/templates/app-tw/js/app/globals.css
  packages/create-next-app/templates/app-tw/ts/app/globals.css
  packages/create-next-app/templates/default-tw/js/styles/globals.css
  packages/create-next-app/templates/default-tw/ts/styles/globals.css
Labels: create-next-app

#65265 Extract slow tests to avoid wasteful start/stop
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: created-by: Next.js team, tests

#65284 Remove unnecessary mocks
  test/unit/next-image-new.test.ts
Labels: created-by: Next.js team, tests

#65267 Fixes with-supertokens example
  examples/with-supertokens/app/components/callApiButton.tsx
  examples/with-supertokens/package.json
Labels: examples

#65285 Improve test assertions
  test/integration/auto-export/test/index.test.js
Labels: created-by: Next.js team, tests

#65289 Enable preloading entries by default
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#65255 Trace uploader: add worker spans to allowed events
  packages/next/src/trace/trace-uploader.ts
Labels: type: next, created-by: Turbopack team

#65293 chore(github-workflow): Update title for update-font-data workflow
  .github/workflows/update_fonts_data.yml
Labels: created-by: Next.js team, Font (next/font)

#65296 Update revalidateTag to batch tags in one request
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
Labels: type: next, created-by: Next.js team

#65309 Revert "Remove extra suspense boundary for default next/dynamic"
  packages/next/src/shared/lib/dynamic.tsx
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  test/e2e/app-dir/dynamic/app/default/dynamic-component.js
  test/e2e/app-dir/dynamic/app/default/page.js
  test/e2e/app-dir/dynamic/dynamic.test.ts
Labels: type: next, created-by: Next.js team, tests

#65336 Remove broken `#[turbo_tasks::value(transparent)]` attributes
  packages/next-swc/crates/next-core/src/next_client_reference/css_client_reference/css_client_reference_module.rs
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_module.rs
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_proxy_module.rs
  packages/next-swc/crates/next-core/src/next_client_reference/visit_client_reference.rs
  packages/next-swc/crates/next-core/src/next_dynamic/dynamic_module.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#65338 add explicit test for parallel routes in a root layout
  test/e2e/app-dir/parallel-routes-root-slot/app/@slot/page.tsx
  test/e2e/app-dir/parallel-routes-root-slot/app/layout.tsx
  test/e2e/app-dir/parallel-routes-root-slot/app/page.tsx
  test/e2e/app-dir/parallel-routes-root-slot/next.config.js
  test/e2e/app-dir/parallel-routes-root-slot/parallel-routes-root-slot.test.ts
Labels: created-by: Next.js team, tests

#65342 docs(unstable_cache): add data cache mentions
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/02-api-reference/04-functions/unstable_cache.mdx
Labels: created-by: Next.js team, Documentation

#65320 Upgrade Turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#65354 Remove duplicate code example in authentication page
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: Documentation

#65393 use backticks instead of quotes
  docs/02-app/02-api-reference/05-next-config-js/turbo.mdx
Labels: Documentation

#65392 Update 05-mdx.mdx
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
Labels: Documentation

#65200 Support interrupts and focus in react-profiling-mode test
  test/integration/react-profiling-mode/next.config.js
  test/integration/react-profiling-mode/test/index.test.js
Labels: created-by: Next.js team, tests

#65399 Improve `Head > script` coverage
  test/development/pages-dir/client-navigation/fixture/next.config.js
  test/development/pages-dir/client-navigation/fixture/pages/head.js
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/pages-dir/client-navigation/rendering.test.ts
Labels: created-by: Next.js team, tests

#65363 chore(test): add more tests for image optimizer formats
  test/integration/image-optimizer/test/util.ts
Labels: created-by: Next.js team, tests

#65343 use correct not-found component when triggered from a parallel route
  packages/next/src/server/app-render/create-component-tree.tsx
  test/e2e/app-dir/parallel-route-not-found/parallel-route-not-found.test.ts
Labels: type: next, created-by: Next.js team, tests

#65410 Implement Turbopack trace server bindings
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/napi/src/turbo_trace_server.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next/package.json
  packages/next/src/bin/next.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/cli/internal/turbo-trace-server.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, Turbopack

#65408 Pages router: Use attribute-based head children reconciler when `strictNextHead` is enabled
  packages/next/src/client/head-manager.ts
  packages/next/src/pages/_document.tsx
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/pages-dir/client-navigation/rendering.test.ts
  test/e2e/next-head/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#65419 Revert "Implement Turbopack trace server bindings"
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/napi/src/turbo_trace_server.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next/package.json
  packages/next/src/bin/next.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/cli/internal/turbo-trace-server.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, Turbopack

#65319 Improve test assertions
  test/e2e/prerender.test.ts
Labels: created-by: Next.js team, tests

#65414 fix(next/image): bypass icns images
  packages/next/src/server/serve-static.ts
  test/integration/image-optimizer/app/public/test.icns
  test/integration/image-optimizer/app/public/test.pic
  test/integration/image-optimizer/test/util.ts
Labels: type: next, created-by: Next.js team, tests

#65328 Use `@testing-library` instead of react-dom/test-utils
  test/integration/link-without-router/test/index.test.js
Labels: created-by: Next.js team, tests

#65422 @emotion/cache version fix
  examples/with-emotion/package.json
Labels: examples

#65400 Fixed wrong highlight in Building your application > authentication > useFormStatus hook example
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: Documentation

#63847 [PPR] Enable incremental adoption
  packages/next-swc/crates/next-core/src/app_segment_config.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/export/helpers/create-incremental-cache.ts
  packages/next/src/export/index.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/export/routes/app-route.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/static/static-renderer.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/dev/static-paths-worker.ts
  packages/next/src/server/lib/experimental/ppr.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web-server.ts
  packages/next/src/server/web/edge-route-module-wrapper.ts
  test/e2e/app-dir/ppr-full/ppr-full.test.ts
  test/e2e/app-dir/ppr-incremental/app/disabled/page.jsx
  test/e2e/app-dir/ppr-incremental/app/dynamic/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/dynamic/disabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/dynamic/enabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/enabled/page.jsx
  test/e2e/app-dir/ppr-incremental/app/layout.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/disabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/disabled/disabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/disabled/enabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/disabled/layout.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/enabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/enabled/disabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/enabled/enabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/nested/enabled/layout.jsx
  test/e2e/app-dir/ppr-incremental/app/omitted/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/omitted/disabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/omitted/enabled/[slug]/page.jsx
  test/e2e/app-dir/ppr-incremental/app/page.jsx
  test/e2e/app-dir/ppr-incremental/lib/page.jsx
  test/e2e/app-dir/ppr-incremental/next.config.js
  test/e2e/app-dir/ppr-incremental/ppr-incremental.test.ts
  test/unit/incremental-cache/file-system-cache.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#64251 fix: replace deprecated/removed functions in eslint-plugin-next
  packages/eslint-plugin-next/package.json
  packages/eslint-plugin-next/src/rules/no-before-interactive-script-outside-document.ts
  packages/eslint-plugin-next/src/rules/no-document-import-in-page.ts
  packages/eslint-plugin-next/src/rules/no-duplicate-head.ts
  packages/eslint-plugin-next/src/rules/no-head-element.ts
  packages/eslint-plugin-next/src/rules/no-head-import-in-document.ts
  packages/eslint-plugin-next/src/rules/no-page-custom-font.ts
  packages/eslint-plugin-next/src/rules/no-styled-jsx-in-document.ts
  packages/eslint-plugin-next/src/rules/no-typos.ts
  packages/eslint-plugin-next/src/utils/get-root-dirs.ts
  pnpm-lock.yaml
Labels: type: next, Font (next/font)

#65365 docs: update `revalidatePath` & fix cache debug logic
  docs/02-app/02-api-reference/04-functions/revalidatePath.mdx
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#65420 fix(next-core): mark turbopack embed fs to be internals
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#65345 fix(next/image): add missing svg test and refactor missing types
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/app/pages/api/application.svg.js
  test/integration/image-optimizer/app/pages/api/comma.svg.js
  test/integration/image-optimizer/app/pages/api/stateful/test.png.js
  test/integration/image-optimizer/app/pages/api/uppercase.svg.js
  test/integration/image-optimizer/app/pages/api/wrong-header.svg.js
  test/integration/image-optimizer/test/dangerously-allow-svg.test.ts
  test/integration/image-optimizer/test/util.ts
  test/turbopack-build-tests-manifest.json
  test/unit/image-optimizer/detect-content-type.test.ts
  test/unit/image-optimizer/images/test-inline.svg
Labels: type: next, created-by: Next.js team, tests

#64521 build(edge): extract buildId into environment
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_manifests/mod.rs
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/build/templates/edge-ssr.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/sandbox/context.ts
  test/development/basic/next-rs-api.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
  test/production/deterministic-build/app/app-page/edge/page.js
  test/production/deterministic-build/app/app-page/page.js
  test/production/deterministic-build/app/app-route/edge/route.js
  test/production/deterministic-build/app/app-route/route.js
  test/production/deterministic-build/app/layout.js
  test/production/deterministic-build/index.test.ts
  test/production/deterministic-build/pages/api/pages-api/edge/index.js
  test/production/deterministic-build/pages/api/pages-api/index.js
  test/production/deterministic-build/pages/pages-page/edge/index.js
  test/production/deterministic-build/pages/pages-page/index.js
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Turbopack, tests

#65425 Revert "build(edge): extract buildId into environment"
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_manifests/mod.rs
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/build/templates/edge-ssr.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/sandbox/context.ts
  test/development/basic/next-rs-api.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
  test/production/deterministic-build/app/app-page/edge/page.js
  test/production/deterministic-build/app/app-page/page.js
  test/production/deterministic-build/app/app-route/edge/route.js
  test/production/deterministic-build/app/app-route/route.js
  test/production/deterministic-build/app/layout.js
  test/production/deterministic-build/index.test.ts
  test/production/deterministic-build/pages/api/pages-api/edge/index.js
  test/production/deterministic-build/pages/api/pages-api/index.js
  test/production/deterministic-build/pages/pages-page/edge/index.js
  test/production/deterministic-build/pages/pages-page/index.js
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Turbopack, tests

#65427 docs(caching): Fix typo for `staleTimes`
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: Documentation

#65446 fix isTurbopack check in test cases
  test/lib/e2e-utils.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Turbopack team, tests

#65457 fix(next/image): set max url length to 3072
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next, created-by: Next.js team, tests

#65421 Promote and rename server bundling options `serverComponentsExternalPackages` and `bundlePagesExternals`
  docs/02-app/02-api-reference/05-next-config-js/serverExternalPackages.mdx
  docs/03-pages/02-api-reference/03-next-config-js/bundlePagesRouterDependencies.mdx
  docs/03-pages/02-api-reference/03-next-config-js/serverExternalPackages.mdx
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_server/resolve.rs
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/lib/turbopack-warning.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  scripts/validate-externals-doc.js
  test/e2e/app-dir/app-external/next.config.js
  test/e2e/app-dir/rsc-basic/next.config.js
  test/e2e/app-dir/server-components-externals/index.test.ts
  test/e2e/app-dir/server-components-externals/next.config.js
  test/e2e/esm-externals/next.config.js
  test/integration/externals-pages-bundle/next.config.js
  test/integration/externals-pages-bundle/test/index.test.js
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: type: next, created-by: Next.js team, Documentation, Turbopack, tests

#65463 add experimental flag to allow forcing NODE_ENV=development in builds
  packages/next/src/build/webpack/loaders/next-swc-loader.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  test/production/allow-development-build/allow-development-build.test.ts
  test/production/allow-development-build/app/app-page/page.tsx
  test/production/allow-development-build/app/layout.tsx
  test/production/allow-development-build/pages/pages-page.tsx
Labels: type: next, created-by: Next.js team, tests

#65041 Support esm externals in app router
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/server/app-render/create-component-tree.tsx
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/esm-externals/esm-externals.test.ts
Labels: type: next, created-by: Next.js team, tests

#65476 Updating the links to the `useActionState` docs
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: Documentation

#65428 Update docs on default `metadataBase` value
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation

#65484 fix: lazy load sharp
  packages/next/src/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#65279 make sure children is first in loader tree to fix head css bug on client navigation
  Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/app_structure.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  test/e2e/app-dir/css-client-side-nav-parallel-routes/app/@modal/abc/page.tsx
  test/e2e/app-dir/css-client-side-nav-parallel-routes/app/@modal/default.tsx
  test/e2e/app-dir/css-client-side-nav-parallel-routes/app/global.css
  test/e2e/app-dir/css-client-side-nav-parallel-routes/app/layout.tsx
  test/e2e/app-dir/css-client-side-nav-parallel-routes/app/page.tsx
  test/e2e/app-dir/css-client-side-nav-parallel-routes/app/source/page.tsx
  test/e2e/app-dir/css-client-side-nav-parallel-routes/app/styles.module.css
  test/e2e/app-dir/css-client-side-nav-parallel-routes/css-client-side-nav-parallel-routes.test.ts
  test/e2e/app-dir/css-client-side-nav-parallel-routes/next.config.js
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#65426 Re-land build(edge): extract buildId into environment
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_manifests/mod.rs
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/build/templates/edge-ssr.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/build/webpack/plugins/build-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/sandbox/context.ts
  test/development/basic/next-rs-api.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
  test/production/deterministic-build/app/app-page/edge/page.js
  test/production/deterministic-build/app/app-page/page.js
  test/production/deterministic-build/app/app-route/edge/route.js
  test/production/deterministic-build/app/app-route/route.js
  test/production/deterministic-build/app/layout.js
  test/production/deterministic-build/index.test.ts
  test/production/deterministic-build/pages/api/pages-api/edge/index.js
  test/production/deterministic-build/pages/api/pages-api/index.js
  test/production/deterministic-build/pages/pages-page/edge/index.js
  test/production/deterministic-build/pages/pages-page/index.js
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Turbopack, tests

#65466 improve versioned content map
  packages/next-swc/crates/next-api/src/versioned_content_map.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#65503 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#65321 Remove ineffective webpack rules and unused app-page context modules
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/lib/constants.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/entrypoints.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/html-context.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/loadable-context.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/loadable.ts
Labels: type: next, created-by: Next.js team

#65504 add page name to crashes
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/pages.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#65485 Bump styled-jsx to 5.1.3
  package.json
  packages/next/index.d.ts
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#65486 Preload all chunks for next/dynamic in SSR
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  packages/next/src/shared/lib/lazy-dynamic/preload-chunks.tsx
  packages/next/src/shared/lib/lazy-dynamic/preload-css.tsx
  packages/next/src/shared/lib/lazy-dynamic/types.ts
  test/e2e/app-dir/dynamic-css/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#65517 fix!: add sharp timeout of 10 seconds
  packages/next/src/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#65206 Turbopack: new graph aggregation
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, Turbopack, created-by: Turbopack team

#65468 feat(next): revise server component error message
  .github/workflows/build_reusable.yml
  packages/next-swc/crates/next-custom-transforms/src/transforms/react_server_components.rs
  packages/next-swc/crates/next-custom-transforms/tests/errors/react-server-components/client-graph/server-only/output.stderr
  packages/next-swc/crates/next-custom-transforms/tests/errors/react-server-components/server-graph/react-api/output.stderr
  packages/next-swc/crates/next-custom-transforms/tests/errors/react-server-components/server-graph/react-dom-api/output.stderr
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseRSC.ts
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/development/acceptance-app/server-components.test.ts
  test/development/acceptance/server-component-compiler-errors-in-pages.test.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#65529 chore: add prettier update to blame ignore
  .git-blame-ignore-revs
Labels: created-by: Turbopack team

#65525 Sync Cargo.lock with Turbo
  Cargo.lock
Labels: created-by: Turbopack team

#65528 chore(test): test image preload below the fold
  test/integration/next-image-legacy/default/pages/priority.js
  test/integration/next-image-legacy/default/test/index.test.ts
  test/integration/next-image-new/app-dir/app/priority/page.js
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/default/pages/priority.js
  test/integration/next-image-new/default/test/index.test.ts
Labels: created-by: Next.js team, tests

#65541 test: consolidate action flaky test
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/client/actions-lib.js
Labels: created-by: Next.js team, tests

#65543 Fix `/dynamic` in `test/.stats-app`
  test/.stats-app/pages/dynamic.js
Labels: created-by: Next.js team, tests

#65519 Remove rsc esm client module extra exports
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/src/lib/client-reference.ts
  test/development/acceptance-app/hydration-error.test.ts
Labels: type: next, created-by: Next.js team, tests

#61920 fix: ignore all `.env` files for `create-next-app` by default
  docs/02-app/01-building-your-application/07-configuring/03-environment-variables.mdx
  packages/create-next-app/templates/app-tw/js/gitignore
  packages/create-next-app/templates/app-tw/ts/gitignore
  packages/create-next-app/templates/app/js/gitignore
  packages/create-next-app/templates/app/ts/gitignore
  packages/create-next-app/templates/default-tw/js/gitignore
  packages/create-next-app/templates/default-tw/ts/gitignore
  packages/create-next-app/templates/default/js/gitignore
  packages/create-next-app/templates/default/ts/gitignore
Labels: create-next-app, Documentation, created-by: Next.js DevEx team

#65583 docs: explain about the conditional default metadataBase on vercel de…
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: created-by: Next.js team, Documentation

#65508 Handle nonce on Next.js injected script/link tags
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/get-layer-assets.tsx
  packages/next/src/server/app-render/rsc/preloads.ts
  test/e2e/app-dir/app/app/script-nonce/with-next-font/page.js
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/app/middleware.js
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#65589 Fix multi-zone test by removing dependency list
  test/e2e/multi-zone/app/package.json
Labels: type: next, created-by: Next.js team, Turbopack, tests

#65590 Fix `NEXT_SKIP_ISOLATE=1` log for testing
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team, tests

#65615 remove next-action header when following a redirect
  packages/next/src/server/app-render/action-handler.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/redirects/action-redirect/redirect-target/page.js
Labels: type: next, created-by: Next.js team, tests

#65579 remove legacy deprecated warnings
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/lib/turbopack-warning.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  packages/next/src/types.ts
Labels: type: next, created-by: Next.js team, Turbopack

#65520 feat(turbopack): add support for `bundlePagesRouterDependencies`
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next/src/build/handle-externals.ts
  packages/next/src/server/config-shared.ts
  test/integration/externals-pages-bundle/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#65624 update reproduction templates to use correct React
  examples/reproduction-template-pages/package.json
  examples/reproduction-template/package.json
Labels: examples, created-by: Next.js team

#65593 Docs: Update server actions link to point at server actions page
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: Documentation

#65548 `create-next-app` - Update links for READMEs
  packages/create-next-app/templates/app-empty/js/README-template.md
  packages/create-next-app/templates/app-empty/ts/README-template.md
  packages/create-next-app/templates/app-tw-empty/js/README-template.md
  packages/create-next-app/templates/app-tw-empty/ts/README-template.md
  packages/create-next-app/templates/app-tw/js/README-template.md
  packages/create-next-app/templates/app-tw/ts/README-template.md
  packages/create-next-app/templates/app/js/README-template.md
  packages/create-next-app/templates/app/ts/README-template.md
  packages/create-next-app/templates/default-empty/js/README-template.md
  packages/create-next-app/templates/default-empty/ts/README-template.md
  packages/create-next-app/templates/default-tw-empty/js/README-template.md
  packages/create-next-app/templates/default-tw-empty/ts/README-template.md
  packages/create-next-app/templates/default-tw/js/README-template.md
  packages/create-next-app/templates/default-tw/ts/README-template.md
  packages/create-next-app/templates/default/js/README-template.md
  packages/create-next-app/templates/default/ts/README-template.md
Labels: create-next-app

#65623 fix(next-swc): load wasm fallback if native bindings fail to load
  packages/next/src/build/swc/index.ts
Labels: type: next, created-by: Turbopack team

#65633 fix(next-swc): correct path interop to filepath for wasm
  packages/next/src/build/swc/index.ts
Labels: type: next, created-by: Turbopack team

#65575 Add proper deprecation/rename warnings for server bundling option
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#65620 chore(create-next-app): update empty templates
  packages/create-next-app/templates/app-empty/js/app/favicon.ico
  packages/create-next-app/templates/app-tw-empty/js/app/favicon.ico
  packages/create-next-app/templates/app-tw-empty/ts/app/favicon.ico
  packages/create-next-app/templates/default-empty/js/pages/index.js
  packages/create-next-app/templates/default-empty/js/public/favicon.ico
  packages/create-next-app/templates/default-empty/ts/pages/index.tsx
  packages/create-next-app/templates/default-empty/ts/public/favicon.ico
  packages/create-next-app/templates/default-tw-empty/js/pages/index.js
  packages/create-next-app/templates/default-tw-empty/js/public/favicon.ico
  packages/create-next-app/templates/default-tw-empty/ts/pages/index.tsx
  packages/create-next-app/templates/default-tw-empty/ts/public/favicon.ico
Labels: create-next-app, created-by: Next.js team

#65596 fix(docs): fix minor meta charset typo
  docs/02-app/01-building-your-application/11-upgrading/05-from-create-react-app.mdx
Labels: Documentation

#65631 feat!(next/image): change default `Content-Disposition` to `attachment`
  docs/02-app/02-api-reference/01-components/image.mdx
  docs/03-pages/02-api-reference/01-components/image-legacy.mdx
  errors/invalid-images-config.mdx
  packages/next/src/shared/lib/image-config.ts
  test/integration/image-optimizer/test/content-disposition-type.test.ts
  test/integration/image-optimizer/test/index.test.ts
  test/integration/image-optimizer/test/util.ts
  test/production/pages-dir/production/fixture/pages/svg-image.js
  test/production/pages-dir/production/test/security.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Documentation, tests

#65634 chore(create-next-app): update README links
  packages/create-next-app/templates/app-empty/js/README-template.md
  packages/create-next-app/templates/app-empty/ts/README-template.md
  packages/create-next-app/templates/app-tw-empty/js/README-template.md
  packages/create-next-app/templates/app-tw-empty/ts/README-template.md
  packages/create-next-app/templates/app-tw/js/README-template.md
  packages/create-next-app/templates/app-tw/ts/README-template.md
  packages/create-next-app/templates/app/js/README-template.md
  packages/create-next-app/templates/app/ts/README-template.md
  packages/create-next-app/templates/default-empty/js/README-template.md
  packages/create-next-app/templates/default-empty/ts/README-template.md
  packages/create-next-app/templates/default-tw-empty/js/README-template.md
  packages/create-next-app/templates/default-tw-empty/ts/README-template.md
  packages/create-next-app/templates/default-tw/js/README-template.md
  packages/create-next-app/templates/default-tw/ts/README-template.md
  packages/create-next-app/templates/default/js/README-template.md
  packages/create-next-app/templates/default/ts/README-template.md
Labels: create-next-app, created-by: Next.js team

#65613 Add Ecmascript features tests
  test/e2e/app-dir/ecmascript-features/turbopack/app/export-as-string/export-as-string.js
  test/e2e/app-dir/ecmascript-features/turbopack/app/export-as-string/page.js
  test/e2e/app-dir/ecmascript-features/turbopack/app/export-as.tsx
  test/e2e/app-dir/ecmascript-features/turbopack/app/file.json
  test/e2e/app-dir/ecmascript-features/turbopack/app/layout.tsx
  test/e2e/app-dir/ecmascript-features/turbopack/app/page.tsx
  test/e2e/app-dir/ecmascript-features/turbopack/ecmascript-features-turbopack.test.ts
  test/e2e/app-dir/ecmascript-features/turbopack/next.config.js
  test/e2e/app-dir/ecmascript-features/webpack/app/export-as-string/_todo-page.js
  test/e2e/app-dir/ecmascript-features/webpack/app/export-as-string/export-as-string.js
  test/e2e/app-dir/ecmascript-features/webpack/app/export-as.tsx
  test/e2e/app-dir/ecmascript-features/webpack/app/file.json
  test/e2e/app-dir/ecmascript-features/webpack/app/layout.tsx
  test/e2e/app-dir/ecmascript-features/webpack/app/page.tsx
  test/e2e/app-dir/ecmascript-features/webpack/ecmascript-features-webpack.test.ts
  test/e2e/app-dir/ecmascript-features/webpack/next.config.js
Labels: created-by: Next.js team, tests

#65418 Pages router: Enable strict `next/head` children reconciler by default
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/export/index.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-shared.ts
  test/e2e/next-head/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#65424 Apply react-server conditions to middleware
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next/src/build/swc/options.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/lib/constants.ts
  test/e2e/module-layer/middleware.js
  test/e2e/module-layer/module-layer.test.ts
  test/e2e/module-layer/pages/api/hello.js
Labels: type: next, created-by: Next.js team, Turbopack, tests

#65602 fix(next-swc): Do not reuse compiler instance
  packages/next-swc/crates/napi/src/lib.rs
Labels: type: next, created-by: Turbopack team

#65693 fix(next-swc): Fix SWC env target - include option
  packages/next-swc/crates/next-custom-transforms/src/transforms/cjs_optimizer.rs
  packages/next/src/build/swc/options.ts
  test/e2e/app-dir/ecmascript-features/webpack/app/page.tsx
  test/e2e/app-dir/ecmascript-features/webpack/ecmascript-features-webpack.test.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#65527 Reapply "Implement Turbopack trace server bindings" (#65419)
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/napi/src/turbo_trace_server.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next/package.json
  packages/next/src/bin/next.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/cli/internal/turbo-trace-server.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, Turbopack

#65644 Resolve grammatical errors in examples
  examples/image-legacy-component/README.md
  examples/with-react-ga4/README.md
Labels: examples

#65687 Add missing type-only imports to documentation examples
  docs/02-app/01-building-your-application/01-routing/03-layouts-and-templates.mdx
  docs/02-app/01-building-your-application/01-routing/07-redirecting.mdx
  docs/02-app/01-building-your-application/01-routing/14-middleware.mdx
  docs/02-app/01-building-your-application/07-configuring/01-typescript.mdx
  docs/02-app/01-building-your-application/09-authentication/index.mdx
  docs/02-app/01-building-your-application/11-upgrading/02-app-router-migration.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/manifest.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/robots.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
  docs/02-app/02-api-reference/04-functions/revalidatePath.mdx
  docs/02-app/02-api-reference/04-functions/revalidateTag.mdx
Labels: Documentation

#65618 Update `middleware` example to App Router
  examples/middleware/.eslintrc.json
  examples/middleware/README.md
  examples/middleware/app/about/page.tsx
  examples/middleware/app/about2/page.tsx
  examples/middleware/app/another/page.tsx
  examples/middleware/app/layout.tsx
  examples/middleware/app/page.tsx
  examples/middleware/app/redirected/page.tsx
  examples/middleware/app/rewrite/page.tsx
  examples/middleware/next.config.js
  examples/middleware/pages/_app.tsx
  examples/middleware/pages/about.tsx
  examples/middleware/pages/about2.tsx
  examples/middleware/pages/another.tsx
  examples/middleware/pages/index.tsx
  examples/middleware/pages/redirected.tsx
  examples/middleware/pages/rewrite.tsx
  examples/middleware/tsconfig.json
Labels: examples

#65366 fix(resolve-metadata): allow for search params in canonical URL
  packages/next/src/lib/metadata/resolve-metadata.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-basics.ts
Labels: type: next, CI approved

#65688 Remove missingSuspenseWithCSRBailout config
  errors/missing-suspense-with-csr-bailout.mdx
  packages/next/src/export/index.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/app-dir/missing-suspense-with-csr-bailout/missing-suspense-with-csr-bailout.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#65694 Reland Remove ineffective webpack rules and unused app-page context modules
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/lib/constants.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/entrypoints.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/html-context.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/loadable-context.ts
  packages/next/src/server/future/route-modules/app-page/vendored/contexts/loadable.ts
  test/e2e/app-dir/navigation/navigation.test.ts
  test/e2e/app-dir/navigation/pages/api/navigation.js
Labels: type: next, created-by: Next.js team, tests

#65690 Remove swc minify related code branches
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/telemetry-plugin.ts
  packages/next/src/build/webpack/plugins/terser-webpack-plugin/src/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/telemetry/events/build.ts
  test/development/basic/__snapshots__/next-rs-api.test.ts.snap
  test/integration/config-validation/test/index.test.ts
  test/integration/telemetry/next.config.swc
  test/integration/telemetry/test/config.test.js
  test/production/terser-class-static-blocks/terser-class-static-blocks.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#64563 fix: load the tags manifest asynchronously
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
Labels: type: next

#65715 Bump acorn to replace swc class properties transform
  packages/next/package.json
  packages/next/src/build/swc/options.ts
  packages/next/src/compiled/@vercel/nft/index.js
  packages/next/src/compiled/acorn/LICENSE
  packages/next/src/compiled/acorn/acorn.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#65689 fix: watch experimental/testmode in when running "pnpm dev"
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#65727 Revert "chore: externalize undici for bundling"
  docs/02-app/02-api-reference/05-next-config-js/serverExternalPackages.mdx
  docs/03-pages/02-api-reference/03-next-config-js/serverExternalPackages.mdx
  packages/next/src/lib/server-external-packages.json
Labels: type: next, created-by: Next.js team, Documentation

#65742 chore(CI): escape PR title for slack webhook
  .github/workflows/retry_test.yml
Labels: created-by: Turbopack team

#65547 Docs: Make "With URL Obeject" only displayed in Pages docs
  docs/02-app/02-api-reference/01-components/link.mdx
Labels: Documentation

#65717 [ppr] Request normalization fixes
  packages/next/src/server/base-server.ts
  packages/next/src/server/future/normalizers/request/prefetch-rsc.test.ts
  packages/next/src/server/future/normalizers/request/prefetch-rsc.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#65637 fix(next/image)!: error when `src` has leading or trailing space
  packages/next/src/shared/lib/get-img-props.ts
  test/integration/next-image-new/app-dir/app/invalid-src-leading-space/page.js
  test/integration/next-image-new/app-dir/app/invalid-src-trailing-space/page.js
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/default/pages/invalid-src-leading-space.js
  test/integration/next-image-new/default/pages/invalid-src-trailing-space.js
  test/integration/next-image-new/default/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#65728 Update external links 07-edge.mdx
  docs/02-app/02-api-reference/07-edge.mdx
Labels: Documentation

#65748 fext(next-swc): extend internal env flag to all native bindings
  packages/next/src/build/swc/index.ts
Labels: type: next, created-by: Turbopack team

#65762 chore: add git blame ignore-revs support to gitlens for vscode configuration
  .git-blame-ignore-revs
  .vscode/settings.json
Labels: created-by: Next.js team

#65761 fix(next): add alias to new react exports
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/server/future/route-modules/app-page/vendored/rsc/entrypoints.ts
  packages/next/src/server/future/route-modules/app-page/vendored/rsc/react-compiler-runtime.ts
  packages/next/src/server/future/route-modules/app-page/vendored/ssr/entrypoints.ts
  packages/next/src/server/future/route-modules/app-page/vendored/ssr/react-compiler-runtime.ts
  packages/next/webpack.config.js
Labels: type: next, Turbopack, created-by: Turbopack team

#65585 Add script to script loader when strategy prop is undefined
  packages/next/src/pages/_document.tsx
  test/e2e/next-script/index.test.ts
Labels: type: next, tests

#65759 fix: ensure websockets are correctly passed
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/proxy-request.ts
Labels: type: next, created-by: Next.js team

#64256 Add `clientTraceMetadata` experimental option to propagate tracing data to the client
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/src/build/webpack-config.ts
  packages/next/src/export/index.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/make-get-server-inserted-html.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/lib/trace/tracer.ts
  test/e2e/opentelemetry/client-trace-metadata/.gitignore
  test/e2e/opentelemetry/client-trace-metadata/app/dynamic-page/page.tsx
  test/e2e/opentelemetry/client-trace-metadata/app/layout.tsx
  test/e2e/opentelemetry/client-trace-metadata/app/static-page-2/page.tsx
  test/e2e/opentelemetry/client-trace-metadata/app/static-page/page.tsx
  test/e2e/opentelemetry/client-trace-metadata/client-trace-metadata.test.ts
  test/e2e/opentelemetry/client-trace-metadata/instrumentation.ts
  test/e2e/opentelemetry/client-trace-metadata/next.config.js
  test/e2e/opentelemetry/client-trace-metadata/package.json
  test/e2e/opentelemetry/instrumentation/.gitignore
  test/e2e/opentelemetry/instrumentation/app/api/app/[param]/data/edge/route.ts
  test/e2e/opentelemetry/instrumentation/app/api/app/[param]/data/route.ts
  test/e2e/opentelemetry/instrumentation/app/app/[param]/layout.tsx
  test/e2e/opentelemetry/instrumentation/app/app/[param]/loading/loading.tsx
  test/e2e/opentelemetry/instrumentation/app/app/[param]/loading/page1/page.tsx
  test/e2e/opentelemetry/instrumentation/app/app/[param]/loading/page2/page.tsx
  test/e2e/opentelemetry/instrumentation/app/app/[param]/rsc-fetch/edge/page.tsx
  test/e2e/opentelemetry/instrumentation/app/app/[param]/rsc-fetch/page.tsx
  test/e2e/opentelemetry/instrumentation/app/behind-middleware/layout.tsx
  test/e2e/opentelemetry/instrumentation/app/behind-middleware/page.tsx
  test/e2e/opentelemetry/instrumentation/collector.ts
  test/e2e/opentelemetry/instrumentation/constants.ts
  test/e2e/opentelemetry/instrumentation/instrumentation-minimal.ts
  test/e2e/opentelemetry/instrumentation/instrumentation-node.ts
  test/e2e/opentelemetry/instrumentation/instrumentation-pages-app-only.test.ts
  test/e2e/opentelemetry/instrumentation/instrumentation-polyfill.ts
  test/e2e/opentelemetry/instrumentation/instrumentation-test.ts
  test/e2e/opentelemetry/instrumentation/instrumentation.ts
  test/e2e/opentelemetry/instrumentation/middleware.ts
  test/e2e/opentelemetry/instrumentation/next.config.js
  test/e2e/opentelemetry/instrumentation/opentelemetry.test.ts
  test/e2e/opentelemetry/instrumentation/package.json
  test/e2e/opentelemetry/instrumentation/pages/api/pages/[param]/basic.ts
  test/e2e/opentelemetry/instrumentation/pages/api/pages/[param]/edge.ts
  test/e2e/opentelemetry/instrumentation/pages/pages/[param]/edge/getServerSideProps.tsx
  test/e2e/opentelemetry/instrumentation/pages/pages/[param]/getServerSideProps.tsx
  test/e2e/opentelemetry/instrumentation/pages/pages/[param]/getStaticProps.tsx
  test/e2e/opentelemetry/instrumentation/pages/pages/[param]/getStaticProps2.tsx
Labels: type: next, Turbopack, CI approved, tests

#65716 Turbopack: Remove `EcmascriptChunkingContext`
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-api/src/dynamic_imports.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-api/src/server_actions.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_references_chunks.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_shared_chunks.rs
  packages/next-swc/crates/next-core/src/next_app/include_modules_module.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_proxy_module.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_manifests/client_reference_manifest.rs
  packages/next-swc/crates/next-core/src/next_server_component/server_component_module.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#65792 Error in build for middleware when import client-only
  packages/next/src/build/webpack-config.ts
  test/e2e/module-layer/module-layer.test.ts
Labels: type: next, created-by: Next.js team, tests

#65808 Separate app router cache entries from pages and use buffer
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/utils.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
Labels: type: next, created-by: Next.js team

#65752 fix(next): reject protocol-relative URLs in image optimization
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/app/pages/api/no-header.js
  test/integration/image-optimizer/test/util.ts
Labels: type: next, CI approved, tests

#65664 Fix broken HTML inlining of non UTF-8 decodable binary data from Flight payload
  packages/next/src/client/app-index.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/utils.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  test/e2e/app-dir/binary/app/client.js
  test/e2e/app-dir/binary/app/layout.js
  test/e2e/app-dir/binary/app/page.js
  test/e2e/app-dir/binary/next.config.js
  test/e2e/app-dir/binary/rsc-binary.test.ts
Labels: type: next, created-by: Next.js team, tests

#65811 Bundle the installed react for middleware
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/lib/constants.ts
  test/e2e/module-layer/middleware.js
  test/e2e/module-layer/module-layer.test.ts
Labels: type: next, created-by: Next.js team, tests

#65819 chore: remove unnecessary dependency
  package.json
  pnpm-lock.yaml
Labels: CI approved

#65820 fix middleware cookie initialization
  packages/next/src/server/async-storage/request-async-storage-wrapper.ts
  packages/next/src/server/web/spec-extension/cookies.ts
  packages/next/src/server/web/spec-extension/response.ts
  test/e2e/app-dir/app-middleware/app-middleware.test.ts
  test/e2e/app-dir/app-middleware/app/rsc-cookies-delete/page.js
  test/e2e/app-dir/app-middleware/app/rsc-cookies/page.js
Labels: type: next, created-by: Next.js team, tests

#65821 fix(next/image)!: set upstream timeout to 7 seconds
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next, created-by: Next.js team, tests

#59370 feat(turbopack-ecmascript): use import attributes for annotations
  Cargo.lock
  Cargo.toml
  package.json
  packages/next-swc/crates/next-custom-transforms/src/transforms/dynamic.rs
  packages/next/package.json
  packages/next/src/build/templates/app-page.ts
  packages/next/src/client/components/action-async-storage.external.ts
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/client/components/static-generation-async-storage.external.ts
  packages/next/src/compiled/webpack/bundle5.js
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
  pnpm-lock.yaml
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#65804 feat(next): experimental react compiler support
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/package.json
  packages/next/src/build/babel/loader/get-config.ts
  packages/next/src/build/babel/loader/types.d.ts
  packages/next/src/build/get-babel-loader-config.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  pnpm-lock.yaml
  test/e2e/react-compiler/.babelrc
  test/e2e/react-compiler/app/layout.tsx
  test/e2e/react-compiler/app/page.tsx
  test/e2e/react-compiler/next.config.js
  test/e2e/react-compiler/react-compiler.test.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#65822 test: fix flaky tests and disabled constant failing ones
  test/e2e/app-dir/actions-allowed-origins/app-action-allowed-origins.test.ts
  test/e2e/app-dir/actions-allowed-origins/safe-origins/next.config.js
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-deploy.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
  test/production/graceful-shutdown/index.test.ts
Labels: created-by: Next.js team, tests

#65852 Run CNA tests with Next.js from branch
  test/integration/create-next-app/examples.test.ts
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/package-manager/bun.test.ts
  test/integration/create-next-app/package-manager/npm.test.ts
  test/integration/create-next-app/package-manager/pnpm.test.ts
  test/integration/create-next-app/package-manager/yarn.test.ts
  test/integration/create-next-app/utils.ts
Labels: created-by: Next.js team, tests

#65851 Ensure React Compiler only runs on first-party browser code
  packages/next/src/build/babel/loader/get-config.ts
  packages/next/src/build/babel/loader/index.ts
  packages/next/src/build/babel/loader/types.d.ts
  packages/next/src/build/get-babel-loader-config.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/webpack-config.ts
  test/e2e/react-compiler/app/layout.tsx
  test/e2e/react-compiler/app/page.tsx
  test/e2e/react-compiler/react-compiler.test.ts
Labels: type: next, created-by: Next.js team, tests

#65854 fix: bump nft@0.27.1
  packages/next/package.json
  packages/next/src/compiled/@vercel/nft/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#65832 docs(css-in-js): alphabetize libraries name
  docs/02-app/01-building-your-application/05-styling/03-css-in-js.mdx
Labels: Documentation

#65865 Ensure plugin-syntax-jsx doesn't have to be installed
  packages/next/src/build/babel/loader/get-config.ts
  packages/next/src/build/get-babel-loader-config.ts
Labels: type: next, created-by: Next.js team

#65834 Fix typos in test descriptions in router-rerender integration tests
  test/integration/router-rerender/test/index.test.js
Labels: tests

#65867 Set default stale-while-revalidate header value to 1 year
  packages/next/src/server/lib/revalidate.ts
Labels: type: next

#65744 Update Sanity example deps and implementation
  examples/cms-sanity/.gitignore
  examples/cms-sanity/package.json
  examples/cms-sanity/sanity-typegen.json
  examples/cms-sanity/sanity.cli.ts
  examples/cms-sanity/sanity.config.ts
  examples/cms-sanity/sanity.types.ts
  examples/cms-sanity/sanity/plugins/locate.ts
Labels: examples

#65765 update convex README.md
  examples/convex/convex/README.md
  examples/convex/convex/_generated/api.d.ts
  examples/convex/convex/_generated/api.js
  examples/convex/convex/_generated/dataModel.d.ts
  examples/convex/convex/_generated/server.d.ts
  examples/convex/convex/_generated/server.js
  examples/convex/package.json
Labels: examples

#65866 fix missing experimental warning for reactCompiler
  packages/next/src/server/config-shared.ts
  test/e2e/react-compiler/react-compiler.test.ts
Labels: type: next, created-by: Next.js team, tests

#65806 Error on mismatched minimal react version
  packages/next/src/build/webpack-config.ts
  test/e2e/yarn-pnp/test/utils.ts
Labels: type: next, created-by: Next.js team, tests

#65887 Revert "Set default stale-while-revalidate header value to 1 year"
  packages/next/src/server/lib/revalidate.ts
Labels: type: next, created-by: Next.js team

#65450 Update turbopack & swc_core
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next-swc/crates/next-custom-transforms/tests/full/example/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/auto-cjs/2/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/auto-cjs/3/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/auto-cjs/pack-2074/1/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/auto-cjs/pack-2074/2/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/example/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/issue-31627/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/issue-32553/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/styled-components/1/output.js
  packages/next-swc/crates/wasm/src/mdx.rs
  packages/next/package.json
  pnpm-lock.yaml
  test/unit/next-swc.test.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#65906 Revert "Fix broken HTML inlining of non UTF-8 decodable binary data f…
  packages/next/src/client/app-index.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/utils.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  test/e2e/app-dir/binary/app/client.js
  test/e2e/app-dir/binary/app/layout.js
  test/e2e/app-dir/binary/app/page.js
  test/e2e/app-dir/binary/next.config.js
  test/e2e/app-dir/binary/rsc-binary.test.ts
Labels: type: next, created-by: Next.js team, tests

#65909 fix: race condition in CLI output in react-compiler test
  test/e2e/react-compiler/react-compiler.test.ts
Labels: created-by: Next.js team, tests

#65917 Docs: Replace "twitter.com" to "x.com"
  docs/02-app/01-building-your-application/07-configuring/03-environment-variables.mdx
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
  docs/05-community/index.mdx
  docs/index.mdx
  packages/next/README.md
Labels: type: next, Documentation

#65841 chore: Bump react-modal to 3.16.2 in with-router-as-modal example
  examples/with-route-as-modal/package.json
Labels: examples

#65920 Fix send-trace-to-jaeger boolean span values
  scripts/send-trace-to-jaeger/src/main.rs
Labels: created-by: Next.js team

#65934 Mention Renaming of useFormState
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: Documentation

#65846 fix(next/image): prefer sharp defaults, use mozjpeg for JPEG
  packages/next/package.json
  packages/next/src/server/image-optimizer.ts
  pnpm-lock.yaml
  test/integration/next-image-legacy/base-path/test/static.test.ts
  test/integration/next-image-legacy/default/test/static.test.ts
  test/integration/next-image-new/app-dir/test/static.test.ts
  test/integration/next-image-new/base-path/test/static.test.js
  test/integration/next-image-new/default/test/static.test.ts
Labels: type: next, CI approved, tests

#65962 docs: clarify gSSP docs for runtime
  docs/03-pages/01-building-your-application/03-data-fetching/03-get-server-side-props.mdx
Labels: Documentation, created-by: Next.js DevEx team
