Repository vercel/next.js, pull requests merged in 2024-03, with the labels that each got.

#62703 Add param to debug PPR skeleton in dev
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/app/app/skeleton/page.js
  test/e2e/app-dir/app/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#62586 Turbopack: remove node_modules error filter
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: turbopack team

#62723 fix(error-overlay): improve a11y, minor refactors
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/GroupedStackFrames.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/component-stack-pseudo-html.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/icons/CollapseIcon.tsx
  packages/next/src/client/components/react-dev-overlay/internal/icons/FrameworkIcon.tsx
Labels: type: next, created-by: Next.js team

#62528 Handle top level errors coming from Turbopack entrypoints subscription
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next/src/build/index.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Next.js team, area: Turbopack

#62531 Add compiler error for conflicting App Router and Pages Router in Turbopack
  packages/next-swc/crates/next-api/src/project.rs
  packages/next/src/build/index.ts
  test/e2e/conflicting-app-page-error/index.test.ts
Labels: type: next, area: create-next-app, created-by: Next.js team, area: Turbopack, area: tests

#62738 Route static render error message: remove duplicate word
  packages/next/src/server/future/route-modules/app-route/module.ts
Labels: type: next

#62745 Update version from backport
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/font/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
  packages/third-parties/package.json
  pnpm-lock.yaml
Labels: type: next, area: create-next-app, created-by: Next.js team

#62746 Add a flag to disable `MergeCssChunksPlugin`
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#61877 refactor(cli): refactor cli to commander
  packages/next/package.json
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/cli/next-build-args.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev-args.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-export-args.ts
  packages/next/src/cli/next-export.ts
  packages/next/src/cli/next-info-args.ts
  packages/next/src/cli/next-info.ts
  packages/next/src/cli/next-lint-args.ts
  packages/next/src/cli/next-lint.ts
  packages/next/src/cli/next-start-args.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/cli/next-telemetry-args.ts
  packages/next/src/cli/next-telemetry.ts
  packages/next/src/compiled/commander/LICENSE
  packages/next/src/compiled/commander/index.js
  packages/next/src/compiled/commander/package.json
  packages/next/src/lib/command-args.ts
  packages/next/src/lib/commands.ts
  packages/next/src/lib/format-cli-help-output.ts
  packages/next/src/lib/get-project-dir.ts
  packages/next/src/lib/get-validated-args.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/src/server/lib/utils.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
  test/e2e/app-dir/app/index.test.ts
  test/integration/app-dir-export/test/config.test.ts
  test/integration/cli/test/index.test.js
  test/unit/cli.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#62304 docs: update Next.js CLI docs
  docs/02-app/02-api-reference/08-next-cli.mdx
Labels: area: documentation, created-by: Next.js team

#62749 chore: add new codeowners for cli refactor
  .github/CODEOWNERS
Labels: created-by: Next.js team

#62611 Turbopack: Trace server app render errors through source maps
  packages/next/src/client/components/react-dev-overlay/server/middleware-turbopack.ts
  packages/next/src/lib/is-error.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  test/development/app-render-error-log/app-render-error-log.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#62754 Update error handling in publish scripts
  scripts/publish-native.js
  scripts/publish-release.js
Labels: created-by: Next.js team

#62747 Fix conflicting-app-page-error test for Turbopack
  test/e2e/conflicting-app-page-error/index.test.ts
  test/turbopack-tests-manifest.json
Labels: created-by: Next.js team, area: tests

#62767 docs: clarify client component intro
  docs/02-app/01-building-your-application/03-rendering/02-client-components.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#62773 Update with-react-bootstrap to be Turbopack compatible
  examples/with-react-bootstrap/pages/_app.jsx
  examples/with-react-bootstrap/style/index.css
  examples/with-reactstrap/pages/_app.jsx
  examples/with-reactstrap/styles/index.css
Labels: area: examples, created-by: Next.js team

#62772 Fix invalid / import in with-facebook-pixel example
  examples/with-facebook-pixel/app/components/FacebookPixel.js
Labels: area: examples, created-by: Next.js team

#62771 Update with-emotion example
  examples/with-emotion-swc/README.md
  examples/with-emotion-swc/next-env.d.ts
  examples/with-emotion-swc/package.json
  examples/with-emotion-vanilla/.babelrc
  examples/with-emotion-vanilla/README.md
  examples/with-emotion-vanilla/package.json
  examples/with-emotion-vanilla/pages/_document.js
  examples/with-emotion-vanilla/pages/index.js
  examples/with-emotion-vanilla/shared/renderer.js
  examples/with-emotion-vanilla/shared/styles.js
  examples/with-emotion/.babelrc
  examples/with-emotion/README.md
  examples/with-emotion/next.config.js
  examples/with-emotion/package.json
  examples/with-emotion/pages/_app.js
  examples/with-emotion/pages/_app.tsx
  examples/with-emotion/pages/index.js
  examples/with-emotion/pages/index.tsx
  examples/with-emotion/shared/styles.js
  examples/with-emotion/shared/styles.tsx
  examples/with-emotion/tsconfig.json
Labels: area: examples, created-by: Next.js team

#62788 Fix error in api-routes-middleware example
  examples/api-routes-middleware/pages/api/cookies.ts
Labels: area: examples, created-by: Next.js team

#62790 Fix cms-plasmic example
  examples/cms-plasmic/package.json
Labels: area: examples, created-by: Next.js team

#62744 build(cargo): update turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#62770 Update auth-with-stytch example to link to the official guide
  examples/auth-with-stytch/.env.template
  examples/auth-with-stytch/README.md
  examples/auth-with-stytch/components/LoginEntryPoint.tsx
  examples/auth-with-stytch/components/LoginWithSMS.tsx
  examples/auth-with-stytch/components/SendOTPForm.tsx
  examples/auth-with-stytch/components/StytchContainer.tsx
  examples/auth-with-stytch/components/VerifyOTPForm.tsx
  examples/auth-with-stytch/lib/loadStytch.ts
  examples/auth-with-stytch/lib/otpUtils.ts
  examples/auth-with-stytch/lib/types.ts
  examples/auth-with-stytch/lib/withSession.tsx
  examples/auth-with-stytch/next-env.d.ts
  examples/auth-with-stytch/package.json
  examples/auth-with-stytch/pages/_app.tsx
  examples/auth-with-stytch/pages/_document.tsx
  examples/auth-with-stytch/pages/api/authenticate_magic_link.ts
  examples/auth-with-stytch/pages/api/authenticate_otp.ts
  examples/auth-with-stytch/pages/api/logout.ts
  examples/auth-with-stytch/pages/api/send_otp.ts
  examples/auth-with-stytch/pages/index.tsx
  examples/auth-with-stytch/pages/profile.tsx
  examples/auth-with-stytch/public/example-app-image.png
  examples/auth-with-stytch/public/favicon.png
  examples/auth-with-stytch/public/powered-by-stytch.svg
  examples/auth-with-stytch/public/stars-and-stripes.png
  examples/auth-with-stytch/public/stytch-logo.svg
  examples/auth-with-stytch/public/vercel-logotype-dark.svg
  examples/auth-with-stytch/readme.md
  examples/auth-with-stytch/styles/Home.module.css
  examples/auth-with-stytch/styles/globals.css
  examples/auth-with-stytch/tsconfig.json
Labels: area: examples, created-by: Next.js team

#62807 Update with-webassembly example to fix hydration error
  examples/with-webassembly/add.wasm.d.ts
  examples/with-webassembly/app/api/edge/route.ts
  examples/with-webassembly/app/layout.tsx
  examples/with-webassembly/app/page.tsx
  examples/with-webassembly/components/RustComponent.tsx
  examples/with-webassembly/package.json
  examples/with-webassembly/pages/index.tsx
  examples/with-webassembly/wasm.d.ts
Labels: area: examples, created-by: Next.js team

#62808 Link to iron-session example
  examples/with-iron-session/.env.development
  examples/with-iron-session/.env.production
  examples/with-iron-session/README.md
  examples/with-iron-session/components/Form.tsx
  examples/with-iron-session/components/Header.tsx
  examples/with-iron-session/components/Layout.tsx
  examples/with-iron-session/lib/fetchJson.ts
  examples/with-iron-session/lib/session.ts
  examples/with-iron-session/lib/useEvents.ts
  examples/with-iron-session/lib/useUser.ts
  examples/with-iron-session/next-env.d.ts
  examples/with-iron-session/next.config.js
  examples/with-iron-session/package.json
  examples/with-iron-session/pages/_app.tsx
  examples/with-iron-session/pages/api/events.ts
  examples/with-iron-session/pages/api/login.ts
  examples/with-iron-session/pages/api/logout.ts
  examples/with-iron-session/pages/api/user.ts
  examples/with-iron-session/pages/index.tsx
  examples/with-iron-session/pages/login.tsx
  examples/with-iron-session/pages/profile-sg.tsx
  examples/with-iron-session/pages/profile-ssr.tsx
  examples/with-iron-session/public/GitHub-Mark-32px.png
  examples/with-iron-session/public/GitHub-Mark-Light-32px.png
  examples/with-iron-session/public/favicon.ico
  examples/with-iron-session/tsconfig.json
  examples/with-iron-session/vercel.json
Labels: area: examples, created-by: Next.js team

#62810 Add missing dependencies to with-mdbreact
  examples/with-mdbreact/package.json
Labels: area: examples, created-by: Next.js team

#62811 Remove with-semantic-ui example
  examples/with-semantic-ui/.gitignore
  examples/with-semantic-ui/README.md
  examples/with-semantic-ui/package.json
  examples/with-semantic-ui/pages/_app.js
  examples/with-semantic-ui/pages/index.js
  examples/with-semantic-ui/public/image.png
  examples/with-semantic-ui/styles/global.css
Labels: area: examples, created-by: Next.js team

#62812 Remove with-reasonml-todo example
  examples/with-reasonml-todo/.babelrc
  examples/with-reasonml-todo/.gitignore
  examples/with-reasonml-todo/README.md
  examples/with-reasonml-todo/bindings/Next.re
  examples/with-reasonml-todo/bsconfig.json
  examples/with-reasonml-todo/components/Header.re
  examples/with-reasonml-todo/components/TodoApp.re
  examples/with-reasonml-todo/components/TodoList.re
  examples/with-reasonml-todo/next.config.js
  examples/with-reasonml-todo/package.json
  examples/with-reasonml-todo/pages/about.re
  examples/with-reasonml-todo/pages/index.re
Labels: area: examples, created-by: Next.js team

#62813 Remove deprecated library example
  examples/with-react-with-styles/.gitignore
  examples/with-react-with-styles/README.md
  examples/with-react-with-styles/defaultTheme.js
  examples/with-react-with-styles/package.json
  examples/with-react-with-styles/pages/_app.js
  examples/with-react-with-styles/pages/_document.js
  examples/with-react-with-styles/pages/index.js
Labels: area: examples, created-by: Next.js team

#62814 Fix react-native-web example for Turbopack
  examples/with-react-native-web/next.config.js
Labels: area: examples, created-by: Next.js team

#62819 Fix with-quill-js example
  examples/with-quill-js/package.json
  examples/with-quill-js/pages/index.js
Labels: area: examples, created-by: Next.js team

#61832 refactor(analysis): rust based page-static-info, deprecate js parse interface in next-swc
  Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/parse.rs
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next-swc/crates/next-custom-transforms/src/transforms/mod.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_static_info/collect_exported_const_visitor.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_static_info/collect_exports_visitor.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_static_info/mod.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next/src/build/analysis/extract-const-value.ts
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/analysis/parse-module.ts
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  test/development/middleware-errors/index.test.ts
  test/production/exported-runtimes-value-validation/index.test.ts
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#62829 fix(next-core): throw on invalid metadata handler
  packages/next-swc/crates/next-core/src/next_app/metadata/route.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#62834 Revert "Add experimental config for navigation raf test (#62668)"
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/shared/lib/router/router.ts
Labels: type: next, created-by: Next.js team

#62817 Fix with-supertokens example
  examples/with-supertokens/package.json
Labels: area: examples, created-by: Next.js team

#62838 Revert "refactor(analysis): rust based page-static-info, deprecate js parse interface in next-swc"
  Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/parse.rs
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next-swc/crates/next-custom-transforms/src/transforms/mod.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_static_info/collect_exported_const_visitor.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_static_info/collect_exports_visitor.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/page_static_info/mod.rs
  packages/next-swc/crates/wasm/Cargo.toml
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next/src/build/analysis/extract-const-value.ts
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/analysis/parse-module.ts
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  test/development/middleware-errors/index.test.ts
  test/production/exported-runtimes-value-validation/index.test.ts
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#62766 remove reducer unit tests
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/restore-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
Labels: type: next, created-by: Next.js team

#62809 Update sitemap.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
Labels: area: documentation, CI approved

#62797 fix(next-lint): do not pass absolute path to distDir
  packages/next/src/cli/next-lint.ts
Labels: type: next

#62850 Update to latest version
  lerna.json
  packages/create-next-app/package.json
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/package.json
  packages/font/package.json
  packages/next-bundle-analyzer/package.json
  packages/next-codemod/package.json
  packages/next-env/package.json
  packages/next-mdx/package.json
  packages/next-plugin-storybook/package.json
  packages/next-polyfill-module/package.json
  packages/next-polyfill-nomodule/package.json
  packages/next-swc/package.json
  packages/next/package.json
  packages/react-refresh-utils/package.json
  packages/third-parties/package.json
  pnpm-lock.yaml
Labels: type: next, area: create-next-app, created-by: Next.js team

#62851 Update start release handling
  package.json
  pnpm-lock.yaml
  scripts/start-release.js
Labels: created-by: Next.js team

#62852 Update canary semver handling
  scripts/start-release.js
Labels: created-by: Next.js team

#62843 fix "setBlocking is not a function" errors on StackBlitz
  packages/next/src/build/swc/index.ts
Labels: type: next

#62854 Use actions/checkout for trigger release
  .github/workflows/trigger_release.yml
Labels: created-by: Next.js team

#62858 Fix handling for getting latest stable tag
  .github/actions/next-stats-action/src/prepare/repo-setup.js
Labels: created-by: Next.js team

#62486 Remove extra logic of Server Reference check for registering twice
  packages/next/src/build/webpack/loaders/next-flight-loader/server-reference.ts
Labels: type: next, created-by: Next.js team

#62804 Update readme of @next/bundle-analyzer package
  packages/next-bundle-analyzer/readme.md
Labels: type: next

#62874 Fix with-passport-and-next-connect import
  examples/with-passport-and-next-connect/lib/db.js
Labels: area: examples, created-by: Next.js team

#62876 Remove cms-keystonejs-embedded and link to official docs
  examples/cms-keystonejs-embedded/README.md
  examples/cms-keystonejs-embedded/keystone.ts
  examples/cms-keystonejs-embedded/next.config.js
  examples/cms-keystonejs-embedded/package.json
  examples/cms-keystonejs-embedded/pages/_app.tsx
  examples/cms-keystonejs-embedded/pages/api/graphql.tsx
  examples/cms-keystonejs-embedded/pages/index.tsx
  examples/cms-keystonejs-embedded/pages/post/[slug].tsx
  examples/cms-keystonejs-embedded/public/favicon.ico
  examples/cms-keystonejs-embedded/styles/Home.module.css
  examples/cms-keystonejs-embedded/styles/globals.css
Labels: area: examples, created-by: Next.js team

#62877 Fix with-joi example
  examples/with-joi/pages/api/people.js
  examples/with-joi/pages/api/people/[id].js
Labels: area: examples, created-by: Next.js team

#61211 Don't emit crossorigin attributes for `output: "export"` by default
  packages/next/src/export/index.ts
Labels: type: next, CI approved

#62827 apply some transforms on foreign code too
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_client/transforms.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_server/transforms.rs
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#62884 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#62837 refactor: rename isAppDirEnabled to hasAppDir
  packages/next/src/lib/typescript/writeAppTypeDeclarations.ts
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
  packages/next/src/lib/verify-typescript-setup.ts
  test/unit/write-app-declarations.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#62889 bump @edge-runtime/cookies for Partitioned cookie support
  packages/next/package.json
  packages/next/src/compiled/@edge-runtime/cookies/index.d.ts
  packages/next/src/compiled/@edge-runtime/cookies/index.js
  packages/next/src/compiled/@edge-runtime/cookies/package.json
  pnpm-lock.yaml
Labels: type: next

#62863 Update 06-src-directory.mdx to mention Typescript paths
  docs/02-app/01-building-your-application/07-configuring/06-src-directory.mdx
Labels: area: documentation

#62769 refactor(next): fix spacing on auto-generated root layout
  packages/next/src/lib/verify-root-layout.ts
  test/e2e/app-dir/create-root-layout/create-root-layout.test.ts
Labels: type: next, area: tests

#62894 test(fixture): update snapshot
  test/development/basic/hmr.test.ts
  test/turbopack-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#62904 Update to only use preminor when configured
  scripts/start-release.js
Labels: created-by: Next.js team

#62905 set persist-credentials: false during release workflow
  .github/workflows/trigger_release.yml
Labels: created-by: Next.js team

#62840 chore(cli): fix allowRetry when using port 3000
  packages/next/src/bin/next.ts
  packages/next/src/cli/next-dev.ts
  test/integration/cli/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#62873 Fix: missing crossorigin property on manifest link
  packages/next/src/lib/metadata/generate/basic.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#62915 test(integration-cli): fix test name
  test/integration/cli/test/index.test.js
Labels: created-by: Next.js team, area: tests

#62901 Turbopack: Trace edge runtime app render errors through source maps
  packages/next/src/server/app-render/create-error-handler.tsx
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/sandbox/context.ts
  packages/next/src/server/web/sandbox/sandbox.ts
  test/development/app-render-error-log/app-render-error-log.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#62927 fix merge css plugin to account for css order
  packages/next/src/build/webpack/plugins/merge-css-chunks-plugin.ts
Labels: type: next, created-by: turbopack team

#62916 fix(next-api): correct font manifest generation
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/font.rs
  packages/next-swc/crates/next-api/src/pages.rs
  test/e2e/next-font/basepath.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team, area: tests

#62815 feat(error-overlay): notify about missing `html`/`body` in root layout
  errors/missing-root-layout-tags.mdx
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/react-dev-overlay/app/ReactDevOverlay.tsx
  packages/next/src/client/components/react-dev-overlay/app/error-overlay-reducer.ts
  packages/next/src/client/components/react-dev-overlay/internal/container/RootLayoutError.tsx
  packages/next/src/client/components/react-dev-overlay/internal/styles/ComponentStyles.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  packages/next/types/global.d.ts
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/app/layout.tsx
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/app/page.tsx
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/next.config.js
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/show-error-when-missing-html-or-body-in-root-layout.test.ts
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/tsconfig.json
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#62933 fix graph update
  packages/next/src/build/webpack/plugins/merge-css-chunks-plugin.ts
Labels: type: next, created-by: turbopack team

#62396 refactor(error-overlay): improve server code for webpack/Turbopack middleware
  packages/next/src/build/swc/index.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/CallStackFrame.tsx
  packages/next/src/client/components/react-dev-overlay/server/middleware-turbopack.ts
  packages/next/src/client/components/react-dev-overlay/server/middleware.ts
  packages/next/src/client/components/react-dev-overlay/server/shared.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Next.js team, area: tests

#62942 feat(error-overlay): version staleness in Pages Router
  packages/next/src/client/components/react-dev-overlay/pages/ReactDevOverlay.tsx
  packages/next/src/client/components/react-dev-overlay/pages/bus.ts
  packages/next/src/client/components/react-dev-overlay/pages/client.ts
  packages/next/src/client/dev/error-overlay/hot-dev-client.ts
  test/development/basic/hmr.test.ts
  test/integration/next-image-new/invalid-image-import/test/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61327 feat: Introduce lightningcss-loader for webpack users
  packages/next/src/build/webpack/config/blocks/css/loaders/global.ts
  packages/next/src/build/webpack/config/blocks/css/loaders/modules.ts
  packages/next/src/build/webpack/loaders/css-loader/src/utils.ts
  packages/next/src/build/webpack/loaders/lightningcss-loader/LICENSE
  packages/next/src/build/webpack/loaders/lightningcss-loader/README.md
  packages/next/src/build/webpack/loaders/lightningcss-loader/src/codegen.ts
  packages/next/src/build/webpack/loaders/lightningcss-loader/src/index.ts
  packages/next/src/build/webpack/loaders/lightningcss-loader/src/interface.ts
  packages/next/src/build/webpack/loaders/lightningcss-loader/src/loader.ts
  packages/next/src/build/webpack/loaders/lightningcss-loader/src/minify.ts
  packages/next/src/build/webpack/loaders/lightningcss-loader/src/utils.ts
  pnpm-lock.yaml
  test/development/app-dir/experimental-lightningcss/app/layout.tsx
  test/development/app-dir/experimental-lightningcss/app/page.tsx
  test/development/app-dir/experimental-lightningcss/app/style.module.css
  test/development/app-dir/experimental-lightningcss/assets/light.svg
  test/development/app-dir/experimental-lightningcss/experimental-lightningcss.test.ts
  test/development/app-dir/experimental-lightningcss/styles/dark.svg
  test/development/app-dir/experimental-lightningcss/styles/dark2.svg
  test/development/app-dir/experimental-lightningcss/styles/global1.css
  test/development/app-dir/experimental-lightningcss/styles/global2.css
  test/development/app-dir/experimental-lightningcss/styles/global2b.css
  test/integration/css-fixtures/composes-ordering/.gitignore
  test/integration/css-fixtures/global-and-module-ordering/.gitignore
  test/integration/css-fixtures/hydrate-without-deps/.gitignore
  test/integration/css-fixtures/multi-global-reversed/.gitignore
  test/integration/css-fixtures/multi-global/.gitignore
  test/integration/css-fixtures/multi-page/.gitignore
  test/integration/css-fixtures/nested-global/.gitignore
  test/integration/css-fixtures/next-issue-12343/.gitignore
  test/integration/css-fixtures/next-issue-15468/.gitignore
  test/integration/css-fixtures/npm-import-bad/.gitignore
  test/integration/css-fixtures/npm-import-nested/.gitignore
  test/integration/css-fixtures/npm-import/.gitignore
  test/integration/css-fixtures/single-global-special-characters/a+b/.gitignore
  test/integration/css-fixtures/single-global-src/.gitignore
  test/integration/css-fixtures/single-global/.gitignore
  test/integration/css-fixtures/transition-cleanup/.gitignore
  test/integration/css-fixtures/transition-react/.gitignore
  test/integration/css-fixtures/transition-reload/.gitignore
  test/integration/css-fixtures/url-global/.gitignore
  test/integration/css/test/__snapshots__/basic-global-support.test.js.snap
  test/integration/css/test/__snapshots__/css-compilation.test.js.snap
  test/integration/css/test/basic-global-support.test.js
  test/integration/css/test/css-compilation.test.js
  test/integration/css/test/css-modules.test.js
  test/integration/css/test/css-rendering.test.js
Labels: type: next, created-by: turbopack team, area: tests

#62719 feat(eslint): enhance `no-unwanted-polyfill` w/ new endpoints
  examples/script-component/pages/polyfill.tsx
  packages/eslint-plugin-next/src/rules/no-unwanted-polyfillio.ts
  test/unit/eslint-plugin-next/no-unwanted-polyfillio.test.ts
Labels: area: examples, type: next, area: tests

#62841 simplify `streamToString` method from `node-web-streams.helper.ts`
  packages/next/src/server/stream-utils/encode-decode.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
Labels: type: next, created-by: Next.js team

#62919 Add missing `await` keyword in code block.
  docs/02-app/01-building-your-application/02-data-fetching/03-patterns.mdx
Labels: area: documentation

#62955 Upgrade to latest @edge-runtime packages
  package.json
  packages/next/package.json
  packages/next/src/compiled/@edge-runtime/ponyfill/index.js
  packages/next/src/compiled/@edge-runtime/ponyfill/package.json
  packages/next/src/compiled/@edge-runtime/primitives/abort-controller.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/blob.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/console.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/encoding.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/encoding.js.LEGAL.txt
  packages/next/src/compiled/@edge-runtime/primitives/encoding.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/events.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/events.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/fetch.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/fetch.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/index.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/load.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/load.js
  packages/next/src/compiled/@edge-runtime/primitives/package.json
  packages/next/src/compiled/@edge-runtime/primitives/timers.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/url.js.text.js
  packages/next/src/server/web/sandbox/context.ts
  pnpm-lock.yaml
  test/e2e/opentelemetry/app/api/app/[param]/data/edge/route.ts
  test/e2e/opentelemetry/pages/api/pages/[param]/edge.ts
Labels: type: next, created-by: Next.js team, area: tests

#62896 chore(next-font): update @capsize/metrics package to the latest
  packages/next/package.json
  pnpm-lock.yaml
  test/e2e/next-font/google-fetch-error.test.ts
  test/e2e/next-font/index.test.ts
  test/integration/font-optimization/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#62960 [docs] Fix the TS Type from the function sitemap #62947
  docs/02-app/02-api-reference/04-functions/generate-sitemaps.mdx
Labels: area: documentation, CI approved

#62964 docs(cli): add mention of our default port behavior
  docs/02-app/02-api-reference/08-next-cli.mdx
Labels: area: documentation, created-by: Next.js team

#62965 Remove Payload from server-external-packages.json
  docs/02-app/02-api-reference/05-next-config-js/serverComponentsExternalPackages.mdx
  packages/next/src/lib/server-external-packages.json
Labels: area: documentation, type: next

#62966 docs: sync `serverComponentsExternalPackages.mdx` with implementation
  docs/02-app/02-api-reference/05-next-config-js/serverComponentsExternalPackages.mdx
Labels: area: documentation, created-by: Next.js team

#62968 Add CI check to validate externals doc
  package.json
  scripts/validate-externals-doc.js
Labels: created-by: Next.js team

#62345 Pass whole prefetch entry rather than status property
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
Labels: type: next, created-by: Next.js team

#62924 build: Update `swc_core` to `v0.90.17`
  Cargo.lock
  Cargo.toml
  package.json
  packages/next/src/compiled/@vercel/nft/index.js
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#62979 chore: update pnpm version from 8.15.1 to 8.15.4
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  package.json
  test/.stats-app/package.json
Labels: area: tests

#62993 [error overlay] move missing tags error inside error overlay
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/react-dev-overlay/app/ReactDevOverlay.tsx
  packages/next/src/client/components/react-dev-overlay/app/error-overlay-reducer.ts
  packages/next/src/client/components/react-dev-overlay/internal/container/root-layout-missing-tags-error.tsx
  packages/next/src/client/components/react-dev-overlay/internal/styles/ComponentStyles.tsx
  test/development/app-dir/missing-required-html-tags/app/layout.js
  test/development/app-dir/missing-required-html-tags/app/page.js
  test/development/app-dir/missing-required-html-tags/index.test.ts
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/app/layout.tsx
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/next.config.js
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/show-error-when-missing-html-or-body-in-root-layout.test.ts
  test/development/app-dir/show-error-when-missing-html-or-body-in-root-layout/tsconfig.json
Labels: type: next, created-by: Next.js team, area: tests

#62971 Update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  packages/next/src/compiled/@vercel/nft/index.js
  packages/next/src/compiled/babel-packages/packages-bundle.js
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#62980 chore: migrate `basic-css` example from page router to app router
  examples/basic-css/app/layout.tsx
  examples/basic-css/app/page.tsx
  examples/basic-css/tsconfig.json
Labels: area: examples, CI approved

#62973 Initialize node-web-stream-helper.ts tests
  packages/next/src/server/stream-utils/node-web-streams-helper.test.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
Labels: type: next, created-by: Next.js team

#62997 Move timeout to test step and give whole job a bigger timeout
  .github/workflows/build_reusable.yml
Labels: created-by: turbopack team

#63009 Docs: Clarify `AbortController.signal` usage in React `fetch` memoization
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#61455 Docs: Document `crossOrigin` option
  docs/02-app/02-api-reference/05-next-config-js/crossOrigin.mdx
  docs/03-pages/02-api-reference/03-next-config-js/crossOrigin.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#62846 fix(next-core): honor basepath for the metadata property
  packages/next-swc/crates/next-core/src/loader_tree.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#62831 fix(next-core): do not apply ecma transforms for custom js rules
  packages/next-swc/crates/next-core/src/app_segment_config.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/mod.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#62952 feat(next): fallback lightning if swc/wasm loaded
  packages/next/src/server/config.ts
Labels: type: next, created-by: turbopack team

#62297 with-mux-video: move to app router and update packages
  examples/with-mux-video/README.md
  examples/with-mux-video/app/(upload)/MuxUploader.tsx
  examples/with-mux-video/app/(upload)/asset/[assetId]/AssetStatusPoll.tsx
  examples/with-mux-video/app/(upload)/asset/[assetId]/layout.tsx
  examples/with-mux-video/app/(upload)/asset/[assetId]/loading.tsx
  examples/with-mux-video/app/(upload)/asset/[assetId]/page.tsx
  examples/with-mux-video/app/(upload)/asset/[assetId]/types.ts
  examples/with-mux-video/app/(upload)/layout.tsx
  examples/with-mux-video/app/(upload)/loading.tsx
  examples/with-mux-video/app/(upload)/page.tsx
  examples/with-mux-video/app/_components/Link.tsx
  examples/with-mux-video/app/apple-icon.png
  examples/with-mux-video/app/constants.ts
  examples/with-mux-video/app/favicon.ico
  examples/with-mux-video/app/globals.css
  examples/with-mux-video/app/icon.svg
  examples/with-mux-video/app/layout.tsx
  examples/with-mux-video/app/mux.svg
  examples/with-mux-video/app/opengraph-image.png
  examples/with-mux-video/app/twitter-image.png
  examples/with-mux-video/app/v/[playbackId]/MuxPlayer.tsx
  examples/with-mux-video/app/v/[playbackId]/page.tsx
  examples/with-mux-video/components/button.tsx
  examples/with-mux-video/components/error-message.tsx
  examples/with-mux-video/components/layout.tsx
  examples/with-mux-video/components/spinner.tsx
  examples/with-mux-video/components/upload-form.tsx
  examples/with-mux-video/components/upload-page.tsx
  examples/with-mux-video/constants.ts
  examples/with-mux-video/next.config.mjs
  examples/with-mux-video/package.json
  examples/with-mux-video/pages/api/asset/[id].ts
  examples/with-mux-video/pages/api/upload.ts
  examples/with-mux-video/pages/api/upload/[id].ts
  examples/with-mux-video/pages/asset/[id].tsx
  examples/with-mux-video/pages/index.tsx
  examples/with-mux-video/pages/v/[id].tsx
  examples/with-mux-video/postcss.config.js
  examples/with-mux-video/public/favicon.ico
  examples/with-mux-video/public/mux-nextjs-og-image.png
  examples/with-mux-video/tailwind.config.js
  examples/with-mux-video/tsconfig.json
Labels: area: examples

#62976 docs: change the Router Cache link reference
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
Labels: area: documentation

#63019 fix broken create-next-app tests
  scripts/run-for-change.js
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/package-manager.test.ts
Labels: created-by: Next.js team, area: tests

#63021 fix flakey app-action test
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/client/page.js
  test/e2e/app-dir/actions/app/server/counter.js
Labels: created-by: Next.js team, area: tests

#62998 Fix the plugin state for async modules in webpack plugins
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/build/webpack/utils.ts
Labels: type: next, created-by: Next.js team

#63022 fix flakey HMR test
  test/development/basic/hmr.test.ts
Labels: created-by: Next.js team, area: tests

#63025 Fix flaky test by removing unecessary NODE_OPTIONS='--inspect'
  test/integration/config-mjs/test/index.test.js
  test/integration/config/test/index.test.js
Labels: created-by: Next.js team, area: tests

#63024 Turbopack + pages router: recover from runtime errors by reloading
  packages/next/src/client/dev/error-overlay/hot-dev-client.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#63027 fix dynamic api route test
  test/integration/app-dir-export/test/dynamicpage-prod.test.ts
Labels: created-by: Next.js team, area: tests

#62994 Enable minification for Turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-api/Cargo.toml
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/dynamic_imports.rs
  packages/next-swc/crates/next-api/src/instrumentation.rs
  packages/next-swc/crates/next-api/src/lib.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-build/Cargo.toml
  packages/next-swc/crates/next-build/src/lib.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next-swc/crates/next-core/src/mode.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/transform_options.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, area: Turbopack

#63038 Switch CodeSandbox repros to pnpm
  examples/reproduction-template-pages/.codesandbox/tasks.json
  examples/reproduction-template/.codesandbox/tasks.json
Labels: area: examples, CI approved

#63037 Docs: Update CRA migration guide
  docs/02-app/01-building-your-application/11-upgrading/05-from-create-react-app.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#63042 app layouts/pages depend on shared main files
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_references_chunks.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_shared_chunks.rs
  packages/next-swc/crates/next-core/src/next_app/mod.rs
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_transition.rs
  packages/next-swc/crates/next-core/src/next_dynamic/dynamic_transition.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#63046 docs: Update route-segment-config.mdx
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
Labels: area: documentation, created-by: Next.js team

#62844 DX: add route context to dynamic errors for app routes
  packages/next/src/server/future/route-modules/app-route/module.ts
  test/e2e/app-dir/dynamic-data/dynamic-data.test.ts
  test/e2e/app-dir/dynamic-data/fixtures/main/app/routes/next-url/route.js
  test/e2e/app-dir/dynamic-data/fixtures/main/app/routes/url/route.js
  test/e2e/app-dir/dynamic-data/fixtures/require-static/app/routes/form-data/error/route.js
  test/e2e/app-dir/dynamic-data/fixtures/require-static/app/routes/next-url/error/route.js
Labels: type: next, created-by: Next.js team, area: tests

#63060 test(scss): rename test suites
  test/e2e/app-dir/scss/multi-global-reversed/multi-global-reversed.test.ts
Labels: created-by: turbopack team, area: tests

#63050 Fix metadata url cases should not append with trailing slash
  packages/next/src/lib/metadata/resolvers/resolve-url.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.ts
  test/e2e/app-dir/trailingslash/app/metadata/page.js
  test/e2e/app-dir/trailingslash/trailingslash.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63064 test(manifest): upload areweturboyet kv from test manifest
  .github/actions/upload-turboyet-data/dist/index.js
  .github/actions/upload-turboyet-data/dist/index.js.map
  .github/actions/upload-turboyet-data/src/main.js
  .github/workflows/turbo-daily-integration-test.yml
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: created-by: turbopack team

#62300 Details for Turbopack loaders.
  docs/02-app/02-api-reference/05-next-config-js/turbo.mdx
  docs/04-architecture/turbopack.mdx
Labels: area: documentation

#63067 Fix typo in 03-environment-variables.mdx
  docs/02-app/01-building-your-application/07-configuring/03-environment-variables.mdx
Labels: area: documentation

#63048 Docs: Note `$ACTION_` formData properties
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: area: documentation

#63069 fix internal Markdown links in Sanity example readme
  examples/cms-sanity/README.md
Labels: area: examples

#63070 Turbopack: Decode module component when tracing stack frames
  packages/next-swc/crates/napi/src/next_api/project.rs
Labels: type: next, created-by: turbopack team

#63073 build(cargo): bump up turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#63074 OTEL: add next.rsc attribute for RSC requests
  docs/02-app/01-building-your-application/06-optimizing/10-open-telemetry.mdx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/trace/tracer.ts
  test/e2e/opentelemetry/opentelemetry.test.ts
Labels: area: documentation, type: next, area: tests

#59126 Correctly deserialize `undefined` unstable_cache data
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/unstable-cache/dynamic-undefined/page.tsx
  test/e2e/app-dir/app-static/app/unstable-cache/dynamic/page.tsx
  test/e2e/app-dir/app-static/app/unstable-cache/revalidate-button.tsx
Labels: type: next, area: tests

#62939 refactor(error-overlay): unify Pages/App router error overlay source
  packages/next/src/build/output/index.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/react-dev-overlay/app/ReactDevOverlay.tsx
  packages/next/src/client/components/react-dev-overlay/app/error-overlay-reducer.ts
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/root-layout-missing-tags-error.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/format-webpack-messages.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/getErrorByType.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
  packages/next/src/client/components/react-dev-overlay/pages/ErrorBoundary.tsx
  packages/next/src/client/components/react-dev-overlay/pages/ReactDevOverlay.tsx
  packages/next/src/client/components/react-dev-overlay/pages/bus.ts
  packages/next/src/client/components/react-dev-overlay/pages/client.ts
  packages/next/src/client/components/react-dev-overlay/pages/hot-reloader-client.ts
  packages/next/src/client/components/react-dev-overlay/pages/websocket.ts
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/dev/amp-dev.ts
  packages/next/src/client/dev/dev-build-watcher.ts
  packages/next/src/client/dev/error-overlay/messages.ts
  packages/next/src/client/dev/hot-middleware-client.ts
  packages/next/src/client/dev/on-demand-entries-client.ts
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/client/tracing/report-to-socket.ts
Labels: type: next, created-by: Next.js team, area: tests

#63096 docs: clarify perf benefits of RSC
  docs/02-app/01-building-your-application/03-rendering/01-server-components.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#62565 feat(turbopack): Enable `lightningcss` for turbopack by default
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/styled_jsx.rs
  packages/next/package.json
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  pnpm-lock.yaml
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/app-dir/experimental-lightningcss/experimental-lightningcss.test.ts
  test/development/app-dir/experimental-lightningcss/next.config.js
  test/e2e/next-font/index.test.ts
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team, area: tests

#62949 ignore fully dynamic requests on server side
  packages/next-swc/crates/next-core/src/next_server/context.rs
  test/e2e/app-dir/dynamic-requests/app/hello/route.tsx
  test/e2e/app-dir/dynamic-requests/app/layout.tsx
  test/e2e/app-dir/dynamic-requests/app/page.tsx
  test/e2e/app-dir/dynamic-requests/dynamic-requests.test.ts
  test/e2e/app-dir/dynamic-requests/next.config.js
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#63128 Refactor define-env-plugin to have stricter types
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#63071 [PPR] Support rewrites in middleware
  packages/next/src/server/base-server.ts
  test/production/standalone-mode/required-server-files/app/rewrite/[slug]/page.js
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63139 chore(test): add test for next/image in node_modules with app router
  test/integration/next-image-new/app-dir-image-from-node-modules/app/layout.js
  test/integration/next-image-new/app-dir-image-from-node-modules/app/page.js
  test/integration/next-image-new/app-dir-image-from-node-modules/next.config.js
  test/integration/next-image-new/app-dir-image-from-node-modules/node_modules/my-cool-image/index.js
  test/integration/next-image-new/app-dir-image-from-node-modules/node_modules/my-cool-image/package.json
  test/integration/next-image-new/app-dir-image-from-node-modules/test/index.test.ts
Labels: created-by: Next.js team, area: tests

#63110 fix(examples): dynamically update page title
  examples/blog-starter/src/app/posts/[slug]/page.tsx
Labels: area: examples

#63117 Remove unnecessary 'await' from writeSema.release() call
  packages/create-next-app/templates/index.ts
Labels: area: create-next-app, CI approved

#60881 Fix webpack HMR for pages on the edge runtime
  packages/next/src/server/dev/hot-middleware.ts
  test/development/app-dir/edge-errors-hmr/app/comp.client.js
  test/development/app-dir/edge-errors-hmr/app/comp.server.js
  test/development/app-dir/edge-errors-hmr/app/layout.js
  test/development/app-dir/edge-errors-hmr/app/page.js
  test/development/app-dir/edge-errors-hmr/index.test.ts
Labels: type: next, area: tests

#63134 fix: permissions in with-docker example
  examples/with-docker/Dockerfile
Labels: area: examples

#55998 Allow unsafe-eval during development
  examples/with-strict-csp/middleware.js
Labels: area: examples

#62795 fix typo in server/config.ts
  packages/next/src/server/config.ts
  test/e2e/app-dir/actions/app-action-size-limit-invalid.test.ts
Labels: type: next, area: tests

#62958 Fixed Authentication docs improper nesting of unordered list inside ordered list
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: area: documentation

#63152 docs(link): add good to know comment about scroll behavior
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
  docs/02-app/02-api-reference/01-components/link.mdx
Labels: area: documentation, created-by: Next.js team

#58380 Switch to .cjs PostCSS config
  packages/create-next-app/templates/app-tw/js/postcss.config.cjs
  packages/create-next-app/templates/app-tw/ts/postcss.config.cjs
  packages/create-next-app/templates/default-tw/js/postcss.config.cjs
  packages/create-next-app/templates/default-tw/ts/postcss.config.cjs
  packages/create-next-app/templates/index.ts
  test/integration/create-next-app/lib/specification.ts
  test/integration/create-next-app/lib/utils.ts
Labels: area: create-next-app, area: tests

#63155 ensure mpa navigations to the same URL work after restoring from bfcache
  packages/next/src/client/components/app-router.tsx
  test/production/bfcache-routing/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63165 Revert "fix: permissions in with-docker example"
  examples/with-docker/Dockerfile
Labels: area: examples, created-by: Next.js team

#63185 Ensure PromiseLikeOfReactNode is not included in .d.ts files
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/react-dev-overlay/pages/ErrorBoundary.tsx
  packages/next/src/client/components/redirect-boundary.tsx
Labels: type: next, created-by: Next.js team

#63138 Ensure undefined values end up being replaced
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/shared/lib/router/router.ts
  test/development/basic/next-rs-api.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63167 Fix trigger_release workflow to not publish empty canaries
  .github/workflows/trigger_release.yml
Labels: created-by: Next.js team

#60484 fix: x-forwarded-port header is 'undefined' when no port in url
  packages/next/src/server/base-server.ts
Labels: type: next

#63169 Fix generateMetadata race condition
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/metadata/app/(dynamic-meta)/dynamic-meta/page.tsx
  test/e2e/app-dir/metadata/app/(dynamic-meta)/layout.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63205 build(cargo): bump up turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#63200 fix: Loose Server Actions runtime check
  packages/next/src/build/webpack/loaders/next-flight-loader/action-validate.ts
  test/e2e/app-dir/actions/app-action.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63207 chore(examples): remove duplicate line in .gitignore for progressive-web-app example
  examples/progressive-web-app/.gitignore
Labels: area: examples

#62999 fix(log): improve error when dynamic code eval is disallowed
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parse-dynamic-code-evaluation-error.ts
  test/production/edge-dynamic-code-eval/index.test.ts
  test/production/edge-dynamic-code-eval/lib/foo.js
  test/production/edge-dynamic-code-eval/middleware.js
  test/production/edge-dynamic-code-eval/node_modules/foo/index.js
  test/production/edge-dynamic-code-eval/node_modules/foo/package.json
  test/production/edge-dynamic-code-eval/pages/index.js
  test/production/edge-safe-dynamic-code/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63133 fix(error-overlay): strip line+column from webpack internal frames
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
Labels: type: next, created-by: Next.js team

#63213 fix revalidation issue with route handlers
  packages/next/src/export/routes/app-route.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/route-handler/no-store-force-static/route.ts
  test/e2e/app-dir/app-static/app/route-handler/no-store/route.ts
Labels: type: next, created-by: Next.js team, area: tests

#63130 fix(error-overlay): show Turbopack indicator for any staleness level
  packages/next/src/client/components/react-dev-overlay/internal/components/VersionStalenessInfo/VersionStalenessInfo.tsx
  test/development/acceptance-app/rsc-runtime-errors.test.ts
  test/development/acceptance-app/version-staleness.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63187 Update Sanity example for App Router
  examples/cms-sanity/README.md
  examples/cms-sanity/package.json
  examples/cms-sanity/sanity/plugins/locate.ts
  examples/cms-sanity/sanity/schemas/documents/author.ts
  examples/cms-sanity/sanity/schemas/documents/post.ts
  examples/cms-sanity/sanity/schemas/singletons/settings.tsx
Labels: area: examples, CI approved
