Repository vercel/next.js, pull requests merged in 2024-04, with the labels that each got.

#63814 Skip failing Turbopack build test
  test/integration/app-dir-export/test/start.test.ts
Labels: created-by: Next.js team, area: tests

#63879 fix logic error in parallel route catch-all normalization
  packages/next/src/build/normalize-catchall-routes.test.ts
  packages/next/src/build/normalize-catchall-routes.ts
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/@modal/(...)comments/[productId]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/@modal/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/@modal/default.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/@modal/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/comments/[productId]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/default.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/trending/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/app/u/[userName]/l/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-specificity/next.config.js
  test/e2e/app-dir/parallel-routes-catchall-specificity/parallel-routes-catchall-specificity.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#63940 ensure custom amp validator path is used if provided
  packages/next/src/export/routes/pages.ts
Labels: type: next, created-by: Next.js team

#63910 chore: remove useless any
  packages/next/src/build/compiler.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
Labels: type: next

#60525 Update hover behaviour note in Link JSDoc comment
  packages/next/src/client/link.tsx
Labels: type: next

#63943 Add job to test flakiness of added/changed tests
  .github/workflows/build_and_test.yml
  run-tests.js
  scripts/test-new-tests.mjs
Labels: created-by: Next.js team, area: tests

#63953 Tweak flakey on-demand revalidate test
  test/e2e/prerender.test.ts
Labels: created-by: Next.js team, area: tests

#63925 fix: file name in with-zustand example
  examples/with-zustand/src/lib/store.ts
Labels: area: examples

#56995 fix: pass `nonce` to `next/script` with `afterInteractive` strategy
  packages/next/src/client/script.tsx
  test/e2e/app-dir/app/app/script-nonce/page.js
  test/e2e/app-dir/app/app/script-nonce/show-order.js
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/app/middleware.js
  test/turbopack-build-tests-manifest.json
Labels: type: next, area: tests, CI approved

#63859 test: Use the correct chunk path for testing
  test/integration/script-loader/test/index.test.js
  test/turbopack-dev-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#63985 fix server-actions-relative-redirect types
  test/e2e/app-dir/server-actions-relative-redirect/app/page.tsx
Labels: created-by: Next.js team, area: tests

#63954 Parallelize dev/start flake detection
  .github/workflows/build_and_test.yml
  scripts/test-new-tests.mjs
Labels: created-by: Next.js team

#63855 fix(create-next-app): validate --import-alias value
  packages/create-next-app/index.ts
Labels: area: create-next-app

#63994 de-flake custom-error integration test
  test/integration/custom-error/test/index.test.js
Labels: created-by: Next.js team, area: tests

#63981 add telemetry events for ppr & staleTimes experimental flags
  packages/next/src/build/index.ts
  packages/next/src/telemetry/events/build.ts
  packages/next/src/telemetry/events/version.ts
  test/e2e/app-dir/app-client-cache/client-cache.experimental.test.ts
  test/e2e/app-dir/ppr/ppr.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63978 fix server actions not bypassing prerender cache in all cases when deployed
  packages/next/src/build/index.ts
  test/e2e/app-dir/app-static/app-static.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63193 fix(next): `next build --debug` log output layout is broken
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  test/production/app-dir/build-output-debug/app/layout.tsx
  test/production/app-dir/build-output-debug/app/page.tsx
  test/production/app-dir/build-output-debug/index.test.ts
  test/production/app-dir/build-output-debug/next.config.js
  test/production/app-dir/build-output/app/layout.tsx
  test/production/app-dir/build-output/app/page.tsx
  test/production/app-dir/build-output/index.test.ts
Labels: type: next, area: tests

#64000 Fix abort condition for requests
  packages/next/src/server/web/spec-extension/adapters/next-request.ts
  test/e2e/app-dir/app-routes/app-custom-routes.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64001 Update flakey prerender fallback test
  test/e2e/prerender.test.ts
Labels: created-by: Next.js team, area: tests

#63973 fix(log): skip logging non-route requests
  packages/next/src/server/base-server.ts
  packages/next/src/server/next-server.ts
  test/e2e/app-dir/logging/app/link/page.js
  test/e2e/app-dir/logging/fetch-logging.test.ts
  test/e2e/app-dir/logging/middleware.js
Labels: type: next, created-by: Next.js team, area: tests

#63964 docs: add link to Next.js Learn repo in issue template switcher
  .github/ISSUE_TEMPLATE/config.yml
Labels: created-by: Next.js team

#63939 Increase concurrent of daily Turbopack test runs
  .github/workflows/turbopack-nextjs-build-integration-tests.yml
  .github/workflows/turbopack-nextjs-dev-integration-tests.yml
Labels: created-by: Next.js team

#64020 Fix last examples for Turbopack
  examples/with-knex/package.json
  test/turbopack-dev-examples-manifest.json
Labels: area: examples, created-by: Next.js team, area: tests

#64007 Ensure unstable_cache bypasses for draft mode
  packages/next/src/server/base-server.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  test/e2e/app-dir/app-static/app-static.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64029 "const loginSegment =" should be singular
  docs/02-app/01-building-your-application/01-routing/10-parallel-routes.mdx
Labels: area: documentation

#63921 test(cna): split and refactor
  package.json
  pnpm-lock.yaml
  test/integration/create-next-app/examples.test.ts
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/package-manager.test.ts
  test/integration/create-next-app/package-manager/bun.test.ts
  test/integration/create-next-app/package-manager/npm.test.ts
  test/integration/create-next-app/package-manager/pnpm.test.ts
  test/integration/create-next-app/package-manager/yarn.test.ts
  test/integration/create-next-app/prompts.test.ts
  test/integration/create-next-app/templates-app.test.ts
  test/integration/create-next-app/templates-pages.test.ts
  test/integration/create-next-app/templates/app.test.ts
  test/integration/create-next-app/templates/pages.test.ts
  test/integration/create-next-app/utils.ts
Labels: area: tests

#64035 Ensure test flake detection is required status
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#64038 docs: fix dynamic searchParams copy
  docs/02-app/01-building-your-application/03-rendering/01-server-components.mdx
Labels: area: documentation, created-by: Next.js team

#64032 fix(turbopack): throws api issues
  packages/next/src/server/dev/turbopack-utils.ts
  test/integration/edge-runtime-module-errors/test/utils.js
  test/turbopack-dev-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#64046 fix(turbopack): emit loadable manifest for app
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: turbopack team

#64025 Run compile for .github/actions/upload-turboyet-data
  .github/actions/upload-turboyet-data/dist/index.js
  .github/actions/upload-turboyet-data/dist/index.js.map
Labels: created-by: Next.js team

#64061 Update sitemap.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
Labels: area: documentation

#64008 feat(turbopack): Print error message for `next/font` fetching failure
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  test/turbopack-dev-tests-manifest.json
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team, area: tests

#63927 test: Use the correct matcher pattern for stack traces
  test/e2e/fetch-failures-have-good-stack-traces-in-edge-runtime/fetch-failures-have-good-stack-traces-in-edge-runtime.test.ts
  test/turbopack-dev-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#64039 docs: fix prefetching information
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation, created-by: Next.js team

#64058 Fix status code for /_not-found route
  packages/next/src/export/routes/app-page.ts
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/not-found-default/app/layout.js
  test/e2e/app-dir/not-found-default/index.test.ts
  test/e2e/app-dir/not-found/basic/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#61633 fix: fixes cookie override during redirection from server action
  packages/next/src/server/lib/server-ipc/utils.ts
  test/e2e/app-dir/app-basepath-custom-server/custom-server/app/page.js
  test/e2e/app-dir/app-basepath-custom-server/custom-server/server.js
  test/e2e/app-dir/app-basepath-custom-server/index.test.ts
Labels: type: next, area: tests

#64084 Add flag for preloading all server chunks
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#64040 docs: add experimental staleTimes resource
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/02-api-reference/05-next-config-js/staleTimes.mdx
Labels: area: documentation, created-by: Next.js team

#64048 Update rust-toolchain to `nightly-2024-04-03`
  .github/workflows/build_and_test.yml
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/turbopack.rs
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-custom-transforms/src/chain_transforms.rs
  packages/next-swc/crates/next-custom-transforms/src/lib.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/fonts/find_functions_outside_module_scope.rs
  packages/next-swc/crates/wasm/src/lib.rs
  packages/next-swc/package.json
  rust-toolchain
  scripts/send-trace-to-jaeger/src/main.rs
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#64086 fix refreshing inactive segments that contained searchParams
  packages/next/src/client/components/router-reducer/apply-router-state-patch-to-tree.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  packages/next/src/client/components/router-reducer/refetch-inactive-parallel-segments.ts
  test/e2e/app-dir/parallel-routes-revalidation/app/components/UpdateSearchParamsButton.tsx
  test/e2e/app-dir/parallel-routes-revalidation/app/dynamic-refresh/[dynamic]/@modal/(.)login/page.tsx
  test/e2e/app-dir/parallel-routes-revalidation/app/dynamic-refresh/[dynamic]/page.tsx
  test/e2e/app-dir/parallel-routes-revalidation/app/refreshing/@modal/(.)login/page.tsx
  test/e2e/app-dir/parallel-routes-revalidation/app/refreshing/page.tsx
  test/e2e/app-dir/parallel-routes-revalidation/parallel-routes-revalidation.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#64098 perf: improve next server static performance
  packages/next/src/server/serve-static.ts
Labels: type: next

#64106 fix(log): tweak coloring
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#64088 Ensure static generation storage is accessed correctly
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/web/spec-extension/adapters/request-cookies.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#64109 Ensure empty config with Turbopack does not show webpack warning
  packages/next/src/lib/turbopack-warning.ts
Labels: type: next, created-by: Next.js team

#64092 Fix missing CNA tests env variable
  test/integration/create-next-app/utils.ts
Labels: created-by: Next.js team, area: tests

#64119 docs: fix code snippet in next/script
  docs/02-app/02-api-reference/01-components/script.mdx
Labels: area: documentation

#58293 fix encoding for filenames containing `?` or `#`
  packages/next/src/pages/_document.tsx
  packages/next/src/server/app-render/create-component-styles-and-scripts.tsx
  packages/next/src/shared/lib/encode-uri-path.ts
  test/e2e/app-dir/weird-chars-in-scripts/app/client#component.tsx
  test/e2e/app-dir/weird-chars-in-scripts/app/layout.tsx
  test/e2e/app-dir/weird-chars-in-scripts/app/page.tsx
  test/e2e/app-dir/weird-chars-in-scripts/next.config.js
  test/e2e/app-dir/weird-chars-in-scripts/pages/pages.tsx
  test/e2e/app-dir/weird-chars-in-scripts/weird-chars-in-scripts.test.ts
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#64125 Rework experimental preload entries handling
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#64085 Fix @opentelemetry/api aliasing for webpack
  packages/next/src/build/webpack-config.ts
Labels: type: next

#64116 Always throw error when build fails during test
  .github/workflows/test_e2e_deploy.yml
  test/lib/e2e-utils.ts
Labels: created-by: Next.js team, area: tests

#63835 chore: Replaced more impactful words
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
Labels: area: documentation

#63823 style(dev-overlay): refine the error message header styling
  packages/next/src/client/components/react-dev-overlay/internal/components/hot-linked-text/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/BuildError.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/styles/Base.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/middleware-errors/index.test.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, area: tests

#64141 hotfix(next):`next lint` installs `eslint@9` which includes breaking changes
  packages/next/src/lib/eslint/runLintCheck.ts
Labels: type: next, CI approved

#64154 docs: improve prerender error message
  errors/prerender-error.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#64151 fix: Update install method for Bun
  docs/02-app/02-api-reference/06-create-next-app.mdx
Labels: area: documentation

#64011 feat(turbopack): Align behavior for `link rel="preconnect"` with webpack mode
  packages/next-swc/crates/next-api/src/font.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next/src/server/dev/turbopack-utils.ts
  test/turbopack-dev-tests-manifest.json
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team, area: tests

#64169 Add additional logs to next-integration-stat
  .github/actions/next-integration-stat/dist/index.js
  .github/actions/next-integration-stat/src/index.ts
Labels: created-by: Next.js team

#64110 feat: allow `module: Preserve` tsconfig option
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
  test/e2e/tsconfig-module-preserve/index.test.ts
  test/integration/tsconfig-verifier/test/index.test.js
Labels: type: next, area: tests, CI approved

#64175 ensure seeded prefetch entry is renewed after expiry
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  test/e2e/app-dir/app-client-cache/client-cache.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64195 Add additional links to staleTime docs
  docs/02-app/02-api-reference/05-next-config-js/staleTimes.mdx
Labels: area: documentation, created-by: Next.js team

#64094 chore(deps): Sync dependencies
  Cargo.lock
Labels: created-by: turbopack team

#64133 Fix hydration error higlight when tag matched multi times
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/component-stack-pseudo-html.tsx
  test/development/acceptance-app/hydration-error.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64049 test(turbopack): Add -Wl,--warn-unresolved-symbols to next-swc-napi on Linux
  packages/next-swc/crates/napi/build.rs
Labels: type: next, area: Turbopack

#64147 fix(docs): update width height value on example to sync with demo
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation

#64202 test: pin eslint version to 8 in test to avoid breaking changes
  test/e2e/new-link-behavior/material-ui.test.ts
  test/production/eslint-plugin-deps/index.test.ts
Labels: created-by: Next.js team, area: tests

#58534 feat: Do not mangle `AbortSignal` to avoid breaking `node-fetch`
  packages/next-swc/crates/napi/src/minify.rs
  packages/next/src/build/webpack-config.ts
  test/production/app-dir/mangle-reserved/app/layout.tsx
  test/production/app-dir/mangle-reserved/app/page.tsx
  test/production/app-dir/mangle-reserved/mangle-reserved.test.ts
  test/production/app-dir/mangle-reserved/next.config.js
Labels: type: next, created-by: turbopack team, area: tests

#64206 Turbopack: prefer local opentelemetry version
  packages/next-swc/crates/next-core/src/next_import_map.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#64233 chore: Fix CI
  test/production/app-dir/mangle-reserved/mangle-reserved.test.ts
Labels: created-by: turbopack team, area: tests

#64209 chore: externalize undici for bundling
  docs/02-app/02-api-reference/05-next-config-js/serverComponentsExternalPackages.mdx
  packages/next/src/lib/server-external-packages.json
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/undici/page.js
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#63869 Add a mode to next build to make it easier to debug memory issues
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/lib/memory/README.md
  packages/next/src/lib/memory/gc-observer.ts
  packages/next/src/lib/memory/shutdown.ts
  packages/next/src/lib/memory/startup.ts
  packages/next/src/lib/memory/trace.ts
Labels: type: next

#64227 forward missing server actions to valid worker if one exists
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/action-utils.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/delayed-action/actions.ts
  test/e2e/app-dir/actions/app/delayed-action/button.tsx
  test/e2e/app-dir/actions/app/delayed-action/context.tsx
  test/e2e/app-dir/actions/app/delayed-action/edge/layout.tsx
  test/e2e/app-dir/actions/app/delayed-action/edge/other/page.tsx
  test/e2e/app-dir/actions/app/delayed-action/edge/page.tsx
  test/e2e/app-dir/actions/app/delayed-action/layout-edge.tsx
  test/e2e/app-dir/actions/app/delayed-action/layout-node.tsx
  test/e2e/app-dir/actions/app/delayed-action/node/layout.tsx
  test/e2e/app-dir/actions/app/delayed-action/node/other/page.tsx
  test/e2e/app-dir/actions/app/delayed-action/node/page.tsx
  test/e2e/app-dir/actions/app/delayed-action/other-page.tsx
Labels: type: next, created-by: Next.js team, area: tests

#64236 test: Disable `next build` test for turbopack
  test/production/app-dir/mangle-reserved/mangle-reserved.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#64221 feat(next/image): add `overrideSrc` prop
  docs/02-app/02-api-reference/01-components/image.mdx
  packages/next/src/shared/lib/get-img-props.ts
  test/integration/next-image-new/app-dir/app/override-src/page.js
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/default/pages/override-src.js
  test/integration/next-image-new/default/test/index.test.ts
  test/unit/next-image-get-img-props.test.ts
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#63547 fix(fetch-cache): add check for updated tags when checking same cache key
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/specify-new-tags/one-tag/page.tsx
  test/e2e/app-dir/app-static/app/specify-new-tags/two-tags/page.tsx
Labels: type: next, created-by: Next.js team, area: tests

#64258 provide revalidateReason to getStaticProps
  docs/03-pages/01-building-your-application/03-data-fetching/01-get-static-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-props.mdx
  packages/next/src/server/render.tsx
  packages/next/types/index.d.ts
  test/e2e/revalidate-reason/pages/api/revalidate.ts
  test/e2e/revalidate-reason/pages/index.tsx
  test/e2e/revalidate-reason/pages/stale.tsx
  test/e2e/revalidate-reason/revalidate-reason.test.ts
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#64264 chore(cli): fix the order `--experimental-debug-memory-usage` so it's alphabetical
  packages/next/src/bin/next.ts
Labels: type: next, created-by: Next.js team

#64267 docs(cli): re-order profile to match help output
  docs/02-app/02-api-reference/08-next-cli.mdx
Labels: area: documentation, created-by: Next.js team

#64276 chore: fix some typos
  docs/02-app/01-building-your-application/01-routing/06-redirecting.mdx
  docs/02-app/01-building-your-application/06-optimizing/13-memory-usage.mdx
  docs/02-app/02-api-reference/08-next-cli.mdx
  packages/next-swc/README.md
Labels: area: documentation, type: next, CI approved

#64278 chore(docs): update wrong route in staleTimes.mdx
  docs/02-app/02-api-reference/05-next-config-js/staleTimes.mdx
Labels: area: documentation

#64290 Update turbopack-build-manifest
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, area: tests

#64294 Fix css FOUC in dynamic component
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-core/src/next_client/transforms.rs
  packages/next-swc/crates/next-core/src/next_server/transforms.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_dynamic.rs
  packages/next-swc/crates/next-custom-transforms/src/chain_transforms.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/dynamic.rs
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic-app-dir/no-ssr/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic-app-dir/no-ssr/output-server-client-layer.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic-app-dir/no-ssr/output-server.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/duplicated-imports/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/duplicated-imports/output-server.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/issue-48098/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/issue-48098/output-server.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/member-with-same-name/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/member-with-same-name/output-server.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/no-options/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/no-options/output-server.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/template-literal/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/template-literal/output-server.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/with-options/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/with-options/output-server.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/wrapped-import/output-dev.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/next-dynamic/wrapped-import/output-server.js
  packages/next/src/build/babel/loader/get-config.ts
  packages/next/src/build/babel/plugins/react-loadable-plugin.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/react-loadable-plugin.ts
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/server/async-storage/request-async-storage-wrapper.ts
  packages/next/src/shared/lib/app-dynamic.tsx
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  packages/next/src/shared/lib/lazy-dynamic/preload-css.tsx
  packages/next/src/shared/lib/lazy-dynamic/types.ts
  test/development/basic/next-dynamic.test.ts
  test/integration/react-18/test/basics.js
  test/production/app-dir/dynamic-css/app/another/page.js
  test/production/app-dir/dynamic-css/app/layout.js
  test/production/app-dir/dynamic-css/app/page.js
  test/production/app-dir/dynamic-css/app/ssr/page.js
  test/production/app-dir/dynamic-css/components/bar.css
  test/production/app-dir/dynamic-css/components/bar.js
  test/production/app-dir/dynamic-css/components/foo.css
  test/production/app-dir/dynamic-css/components/foo.js
  test/production/app-dir/dynamic-css/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: Turbopack, area: tests

#64296 Update documentation on webpack loaders in Turbopack
  docs/02-app/02-api-reference/05-next-config-js/turbo.mdx
Labels: area: documentation, created-by: Next.js team

#64021 [turbopack] Fix css FOUC in dynamic component
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/dynamic_imports.rs
  packages/next-swc/crates/next-api/src/lib.rs
  packages/next-swc/crates/next-api/src/loadable_manifest.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-core/src/next_client/transforms.rs
  packages/next-swc/crates/next-core/src/next_server/transforms.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_dynamic.rs
  test/e2e/app-dir/dynamic-css/app/another/page.js
  test/e2e/app-dir/dynamic-css/app/layout.js
  test/e2e/app-dir/dynamic-css/app/page.js
  test/e2e/app-dir/dynamic-css/app/ssr/page.js
  test/e2e/app-dir/dynamic-css/components/bar.css
  test/e2e/app-dir/dynamic-css/components/bar.js
  test/e2e/app-dir/dynamic-css/components/foo.css
  test/e2e/app-dir/dynamic-css/components/foo.js
  test/e2e/app-dir/dynamic-css/index.test.ts
  test/integration/react-18/test/basics.js
Labels: type: next, created-by: Next.js team, area: Turbopack, area: tests

#64284 add test-turbo command
  package.json
Labels: created-by: turbopack team

#64036 fix: show the error message if `images.loaderFile` doesn't export a default function
  packages/next/src/shared/lib/get-img-props.ts
  test/e2e/app-dir/loader-file-named-export-custom-loader-error/app/get-img-props/page.tsx
  test/e2e/app-dir/loader-file-named-export-custom-loader-error/app/layout.tsx
  test/e2e/app-dir/loader-file-named-export-custom-loader-error/app/page.tsx
  test/e2e/app-dir/loader-file-named-export-custom-loader-error/dummy-loader.ts
  test/e2e/app-dir/loader-file-named-export-custom-loader-error/loader-file-named-export-custom-loader-error.test.ts
  test/e2e/app-dir/loader-file-named-export-custom-loader-error/next.config.js
  test/e2e/app-dir/loader-file-named-export-custom-loader-error/public/logo.png
Labels: type: next, area: tests

#63790 build: Update `swc_core` to `v0.90.30`
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#64131 Escape url-unsafe characters in names of app router scripts and styles
  packages/next/src/server/app-render/get-layer-assets.tsx
  packages/next/src/server/app-render/required-scripts.tsx
  packages/next/src/server/lib/router-utils/filesystem.ts
  test/e2e/app-dir/resource-url-encoding/app/client#component.tsx
  test/e2e/app-dir/resource-url-encoding/app/layout.tsx
  test/e2e/app-dir/resource-url-encoding/app/page.tsx
  test/e2e/app-dir/resource-url-encoding/my@style.css
  test/e2e/app-dir/resource-url-encoding/next.config.js
  test/e2e/app-dir/resource-url-encoding/pages/pages.tsx
  test/e2e/app-dir/resource-url-encoding/resource-url-encoding.test.ts
  test/e2e/app-dir/weird-chars-in-scripts/weird-chars-in-scripts.test.ts
Labels: type: next, created-by: turbopack team, area: tests

#64312 Add Ben's handle to labeler
  .github/labeler.json
Labels: created-by: turbopack team

#64108 Inject preview props into edge manifest
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/server/dev/turbopack/manifest-loader.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64329 Revert "build: Update `swc_core` to `v0.90.30`"
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#64325 Docs: Instructions on how to generate turbopack trace file
  docs/04-architecture/turbopack.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#64205 Turbopack: import webpack loader rules conditions
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_shared/mod.rs
  packages/next-swc/crates/next-core/src/next_shared/webpack_rules/babel.rs
  packages/next-swc/crates/next-core/src/next_shared/webpack_rules/mod.rs
  packages/next-swc/crates/next-core/src/next_shared/webpack_rules/sass.rs
  packages/next-swc/crates/next-core/src/util.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/app-dir/webpack-loader-conditions/app/client.tsx
  test/e2e/app-dir/webpack-loader-conditions/next.config.js
  test/e2e/app-dir/webpack-loader-conditions/node_modules/package/file.test-file.js
  test/e2e/app-dir/webpack-loader-conditions/webpack-loader-conditions.test.ts
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#64357 Ensure build-native is in needs properly
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#64347 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
  test/e2e/app-dir/asset-prefix-with-basepath/asset-prefix-with-basepath.test.ts
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#64321 Docs: Add recommendations for CSS import order
  docs/02-app/01-building-your-application/05-styling/01-css-modules.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#64322 Add documentation for --experimental-debug-memory-usage
  docs/02-app/01-building-your-application/06-optimizing/13-memory-usage.mdx
Labels: area: documentation

#64348 refactor: next-flight-client-module-loader return conditions
  packages/next/src/build/webpack/loaders/next-flight-client-module-loader.ts
Labels: type: next, created-by: Next.js team

#64315 Fix Server Action error logs for unhandled POST requests
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/lib/server-action-request-meta.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/non-action-form/page.js
Labels: type: next, created-by: Next.js team, area: tests

#64370 Shared Revalidate Timings
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/incremental-cache/shared-revalidate-timings.test.ts
  packages/next/src/server/lib/incremental-cache/shared-revalidate-timings.ts
  packages/next/src/server/lib/to-route.test.ts
  packages/next/src/server/lib/to-route.ts
  packages/next/src/server/response-cache/types.ts
Labels: type: next, created-by: Next.js team

#64313 Freeze loaded manifests
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/export/index.ts
  packages/next/src/pages/_document.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/encryption-utils.ts
  packages/next/src/server/app-render/get-css-inlined-link-tags.tsx
  packages/next/src/server/app-render/get-preloadable-fonts.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/incremental-cache/shared-revalidate-timings.ts
  packages/next/src/server/load-components.ts
  packages/next/src/server/load-manifest.test.ts
  packages/next/src/server/load-manifest.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/render.tsx
  packages/next/src/server/web-server.ts
  packages/next/src/shared/lib/deep-freeze.test.ts
  packages/next/src/shared/lib/deep-freeze.ts
  packages/next/src/shared/lib/deep-readonly.ts
  packages/next/src/shared/lib/html-context.shared-runtime.ts
Labels: type: next, created-by: Next.js team, area: Font Optimization

#64080 [PPR] Added generateMetadata tests
  test/e2e/app-dir/ppr-full/app/metadata/page.jsx
  test/e2e/app-dir/ppr-full/components/dynamic.jsx
  test/e2e/app-dir/ppr-full/components/links.jsx
  test/e2e/app-dir/ppr-full/ppr-full.test.ts
Labels: created-by: Next.js team, area: tests

#64356 test: skip turbopack build test
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#64382 Fix: css in next/dynamic component in edge runtime
  packages/next/src/server/web/adapter.ts
  packages/next/src/shared/lib/lazy-dynamic/preload-css.tsx
  test/e2e/app-dir/dynamic-css/app/ssr/edge/page.js
  test/e2e/app-dir/dynamic-css/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64376 docs (mdx): update tree to include mdx-components.tsx file
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
Labels: area: documentation

#64198 Add TypeGen to Sanity example
  .eslintignore
  examples/cms-sanity/.eslintignore
  examples/cms-sanity/.prettierignore
  examples/cms-sanity/README.md
  examples/cms-sanity/app/(blog)/avatar.tsx
  examples/cms-sanity/app/(blog)/layout.tsx
  examples/cms-sanity/app/(blog)/more-stories.tsx
  examples/cms-sanity/app/(blog)/page.tsx
  examples/cms-sanity/app/(blog)/posts/[slug]/page.tsx
  examples/cms-sanity/package.json
  examples/cms-sanity/sanity-typegen.json
  examples/cms-sanity/sanity.types.ts
  examples/cms-sanity/sanity/lib/queries.ts
  examples/cms-sanity/schema.json
  examples/cms-sanity/tsconfig.json
Labels: area: examples, CI approved

#64375 Update 04-cypress.mdx
  docs/02-app/01-building-your-application/08-testing/04-cypress.mdx
Labels: area: documentation

#64344 Update 13-debugging.mdx
  docs/03-pages/01-building-your-application/06-configuring/13-debugging.mdx
Labels: area: documentation

#64386 use pathToFileUrl to make esm import()s work with absolute windows paths
  azure-pipelines.yml
  packages/next/src/build/swc/index.ts
  packages/next/src/lib/find-config.test.ts
  packages/next/src/lib/find-config.ts
Labels: type: next, created-by: turbopack team

#63853 docs: clarify `Internationalization (i18n) Routing`
  docs/03-pages/01-building-your-application/01-routing/10-internationalization.mdx
Labels: area: documentation, CI approved

#64360 Update lockfile for compatibility with turbo
  Cargo.lock
Labels: created-by: turbopack team

#64408 Improve rendering performance
  packages/next/src/build/index.ts
  packages/next/src/server/app-render/make-get-server-inserted-html.tsx
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
Labels: type: next, created-by: Next.js team

#64398 Fix the method prop case in Server Actions transform
  packages/next-swc/crates/next-custom-transforms/src/transforms/server_actions.rs
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/31/input.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/31/output.js
Labels: type: next, created-by: Next.js team, area: Turbopack

#64405 fix(next-lint): update option --report-unused-disable-directives to --report-unused-disable-directives-severity
  docs/02-app/02-api-reference/08-next-cli.mdx
  packages/next/src/bin/next.ts
  packages/next/src/cli/next-lint.ts
  test/integration/eslint/test/next-lint.test.js
Labels: area: documentation, type: next, area: tests

#64381 docs(pages): update slug value for optional catch all routes
  docs/03-pages/01-building-your-application/01-routing/02-dynamic-routes.mdx
Labels: area: documentation

#64442 Revert "Fix: css in next/dynamic component in edge runtime"
  packages/next/src/server/web/adapter.ts
  packages/next/src/shared/lib/lazy-dynamic/preload-css.tsx
  test/e2e/app-dir/dynamic-css/app/ssr/edge/page.js
  test/e2e/app-dir/dynamic-css/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64439 Fix optimizePackageImports docs for Pages Router
  docs/02-app/02-api-reference/05-next-config-js/optimizePackageImports.mdx
  docs/03-pages/02-api-reference/03-next-config-js/optimizePackageImports.mdx
Labels: area: documentation

#64424 tweak test for Azure
  test/integration/create-next-app/index.test.ts
Labels: created-by: Next.js team, area: tests

#64145 default fetchCache to no-store when force-dynamic is set
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/no-fetch-cache/page.js
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/with-fetch-cache/page.js
  test/e2e/app-dir/app-static/app/stale-cache-serving/app-page/page.tsx
  test/e2e/app-dir/app-static/app/stale-cache-serving/route-handler/route.ts
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#64449 router restore should take priority over pending actions
  packages/next/src/shared/lib/router/action-queue.ts
  test/e2e/app-dir/actions/app-action.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#63568 [Docs] Adds MDX Components file convention page and updates MDX page
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
  docs/02-app/02-api-reference/02-file-conventions/mdx-components.mdx
  docs/02-app/02-api-reference/02-file-conventions/middleware.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#64469 docs: fix config variable usage in memory docs
  docs/02-app/01-building-your-application/06-optimizing/13-memory-usage.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#64467 Fix client boundary inheritance for barrel optimization
  packages/next/src/build/webpack/loaders/next-barrel-loader.ts
  test/development/basic/barrel-optimization/barrel-optimization-mui.test.ts
  test/production/app-dir/barrel-optimization/basic/app/layout.js
  test/production/app-dir/barrel-optimization/basic/app/page.js
  test/production/app-dir/barrel-optimization/basic/index.test.ts
  test/production/app-dir/barrel-optimization/basic/next.config.js
  test/production/app-dir/barrel-optimization/basic/node_modules/my-lib/client/client-module.js
  test/production/app-dir/barrel-optimization/basic/node_modules/my-lib/client/index.js
  test/production/app-dir/barrel-optimization/basic/node_modules/my-lib/index.js
  test/production/app-dir/barrel-optimization/basic/node_modules/my-lib/package.json
  test/production/app-dir/barrel-optimization/mui/app/layout.js
  test/production/app-dir/barrel-optimization/mui/app/page.js
  test/production/app-dir/barrel-optimization/mui/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#64493 improve turborepo caching
  .github/workflows/build_and_deploy.yml
  packages/next-swc/package.json
  scripts/pull-turbo-cache.js
Labels: type: next, created-by: turbopack team

#64479 chore: Update pnpm v8.15.14 to v8.15.7
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  package.json
  test/.stats-app/package.json
Labels: area: tests

#64505 Fix missing PagesOnly in 05-mdx
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
Labels: area: documentation, created-by: Next.js team

#64074 chore(docs): Add example usage of PixelBin custom image loader
  docs/02-app/02-api-reference/05-next-config-js/images.mdx
Labels: area: documentation

#64199 BREAKING CHANGE: remove deprecated analyticsId from config, and the corresponding performance-relayer files and tests
  docs/02-app/02-api-reference/04-functions/use-report-web-vitals.mdx
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/index.tsx
  packages/next/src/client/performance-relayer-app.ts
  packages/next/src/client/performance-relayer.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/app-dir/app/useReportWebVitals.test.ts
  test/e2e/app-dir/app/vercel-speed-insights.test.ts
  test/integration/relay-analytics-disabled/pages/_app.js
  test/integration/relay-analytics-disabled/pages/index.js
  test/integration/relay-analytics-disabled/test/index.test.js
  test/integration/relay-analytics/next.config.js
  test/integration/relay-analytics/pages/_app.js
  test/integration/relay-analytics/pages/index.js
  test/integration/relay-analytics/test/index.test.js
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: area: documentation, type: next, area: Turbopack, area: tests, CI approved

#64499 feat: strip traceparent header from cachekey
  packages/next/src/server/lib/incremental-cache/index.ts
Labels: type: next

#64365 Fix typo in dynamic-rendering.ts
  packages/next/src/server/app-render/dynamic-rendering.ts
Labels: type: next

#64478 Add typechecking test for all entrypoints
  test/production/typescript-basic/typechecking.test.ts
  test/production/typescript-basic/typechecking/.gitignore
  test/production/typescript-basic/typechecking/index.ts
  test/production/typescript-basic/typechecking/next-env.d.ts
  test/production/typescript-basic/typechecking/next.config.js
  test/production/typescript-basic/typechecking/tsconfig.json
Labels: created-by: Next.js team, area: tests

#63053 fix(next): global not-found not working on multi-root layouts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  test/development/app-dir/root-not-found-missing-root-layout/app/not-found.tsx
  test/development/app-dir/root-not-found-missing-root-layout/app/page.tsx
  test/development/app-dir/root-not-found-missing-root-layout/index.test.ts
  test/e2e/app-dir/not-found/multi-root-layout/app/(main)/layout.tsx
  test/e2e/app-dir/not-found/multi-root-layout/app/(main)/not-found.tsx
  test/e2e/app-dir/not-found/multi-root-layout/app/(main)/page.tsx
  test/e2e/app-dir/not-found/multi-root-layout/app/(sub)/layout.tsx
  test/e2e/app-dir/not-found/multi-root-layout/app/(sub)/not-found.tsx
  test/e2e/app-dir/not-found/multi-root-layout/app/(sub)/sub/page.tsx
  test/e2e/app-dir/not-found/multi-root-layout/app/not-found.tsx
  test/e2e/app-dir/not-found/multi-root-layout/index.test.ts
Labels: area: documentation, type: next, area: tests, CI approved

#64173 chore(next): add keywords on package.json
  packages/next/package.json
Labels: type: next

#64511 Fix DynamicServerError not being thrown in fetch
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/force-no-store-bailout/page.js
Labels: type: next, created-by: Next.js team, area: tests

#64418 fix: `lib/helpers/install.ts` to better support pnpm and properly respect `root` argument
  packages/next/src/lib/helpers/install.ts
Labels: type: next, created-by: Next.js team

#63620 fix(next): `Metadata.openGraph` values not resolving basic values when `type` is set
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.ts
  test/e2e/app-dir/metadata/app/opengraph/article/layout.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, area: tests, CI approved

#64488 disable production chunking in dev
  packages/next/src/build/webpack-config.ts
  test/e2e/app-dir/css-order/css-order.test.ts
Labels: type: next, created-by: turbopack team, area: tests

#64515 hotfix: hardcoded skip turbopack tests to manifest
  test/development/app-dir/root-not-found-missing-root-layout/index.test.ts
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: area: tests, CI approved

#64457 docs(09-authentication): fixes link to NextAuth.js
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: area: documentation

#64501 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#64524 Update to latest rust-cache
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_reusable.yml
Labels: created-by: Next.js team

#64520 Turbopack: Allow client components to be imported in app routes
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  test/e2e/app-dir/app-routes-client-component/ClientComponent.tsx
  test/e2e/app-dir/app-routes-client-component/app-routes-client-component.test.ts
  test/e2e/app-dir/app-routes-client-component/app/runtime/route.ts
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#64522 refactor: remove always truthy flag
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/build-manifest-plugin.ts
Labels: type: next, created-by: Next.js team

#64427 Turbopack: don’t show long internal stack traces on build errors
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: turbopack team

#64526 Require turbopack build jobs
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#52939 next/script: Correctly apply async and defer props
  packages/next/src/client/head-manager.ts
  packages/next/src/client/script.tsx
  packages/next/src/client/set-attributes-from-props.ts
  test/development/pages-dir/client-navigation/fixture/pages/head.js
  test/development/pages-dir/client-navigation/fixture/pages/script.js
  test/development/pages-dir/client-navigation/fixture/public/test-async-false.js
  test/development/pages-dir/client-navigation/fixture/public/test-async-true.js
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/pages-dir/client-navigation/rendering.ts
  tsec-exemptions.json
Labels: type: next, area: tests

#64528 chore(next/font): update @capsizecss/metrics package
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#64229 feat: add information that revalidate interval is in seconds
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next

#64359 Typo "Minifer" in config.ts
  packages/next/src/server/config.ts
Labels: type: next

#64454 Enhance types for Node and Edge envionments
  packages/next/src/export/routes/app-page.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-http/helpers.ts
  packages/next/src/server/base-http/index.ts
  packages/next/src/server/base-http/node.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/future/route-modules/app-page/module.ts
  packages/next/src/server/lib/patch-set-header.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/send-response.ts
  packages/next/src/server/web-server.ts
  packages/next/src/server/web/spec-extension/adapters/next-request.ts
Labels: type: next, created-by: Next.js team
