Repository vercel/next.js, pull requests merged in 2024-10, with the labels that each got.

#70639 fix: fix warnings from invalid api's called from edge runtime
  packages/next/src/lib/scheduler.ts
  packages/next/src/server/async-storage/cache-scope.ts
Labels: type: next, created-by: Next.js team

#70646 Externalize node binary modules for app router
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-error-browser-binary-loader.ts
  packages/next/src/build/webpack/loaders/next-server-binary-loader.ts
  test/development/app-dir/externalize-node-binary-browser-error/app/layout.tsx
  test/development/app-dir/externalize-node-binary-browser-error/app/page.tsx
  test/development/app-dir/externalize-node-binary-browser-error/externalize-node-binary-browser-error.test.ts
  test/development/app-dir/externalize-node-binary-browser-error/node_modules/foo-browser-import-binary/binary.node
  test/development/app-dir/externalize-node-binary-browser-error/node_modules/foo-browser-import-binary/index.js
  test/development/app-dir/externalize-node-binary-browser-error/node_modules/foo-browser-import-binary/package.json
  test/e2e/app-dir/externalize-node-binary/app/layout.tsx
  test/e2e/app-dir/externalize-node-binary/app/page.tsx
  test/e2e/app-dir/externalize-node-binary/externalize-node-binary.test.ts
  test/e2e/app-dir/externalize-node-binary/node_modules/foo/binary.node
  test/e2e/app-dir/externalize-node-binary/node_modules/foo/index.js
  test/e2e/app-dir/externalize-node-binary/node_modules/foo/package.json
Labels: type: next, created-by: Next.js team, tests

#70647 Respect reexports from metadata API routes (#70508)
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
  test/production/app-dir/metadata-revalidate/app/manifest.ts
  test/production/app-dir/metadata-revalidate/app/revalidate/og/opengraph-image.tsx
  test/production/app-dir/metadata-revalidate/app/robots.ts
  test/production/app-dir/metadata-revalidate/app/sitemap.ts
  test/production/app-dir/metadata-revalidate/metadata-revalidate.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#70649 fix: clone response in first handler to prevent race (#70082)
  packages/next/src/server/lib/patch-fetch.ts
Labels: type: next, created-by: Next.js team

#70479 refactor: added more strict app segment config parsing
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/app-segments/app-segment-config.ts
  packages/next/src/build/app-segments/collect-app-segments.ts
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/client/components/static-generation-async-storage.external.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/async-storage/with-static-generation-store.ts
  packages/next/src/server/dev/static-paths-worker.ts
  packages/next/src/server/lib/app-dir-module.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/types/$$compiled.internal.d.ts
  test/.stats-app/app/app-edge-ssr/page.js
  test/e2e/app-dir/app-css/app/dashboard/page.js
  test/e2e/app-dir/app-edge-root-layout/app/layout.js
  test/e2e/app-dir/app-routes/app/edge/advanced/body/json/route.ts
  test/e2e/app-dir/app-routes/app/edge/advanced/body/streaming/route.ts
  test/e2e/app-dir/app-routes/app/edge/advanced/body/text/route.ts
  test/e2e/app-dir/app-routes/app/edge/advanced/query/route.ts
  test/e2e/app-dir/app-routes/app/edge/headers/route.ts
  test/e2e/app-dir/app-static/app/dynamic-param-edge/[slug]/page.tsx
  test/e2e/app-dir/app-static/app/variable-revalidate-edge/body/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate-edge/encoding/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate-edge/no-store/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate-edge/post-method-request/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate-edge/post-method/page.js
  test/e2e/app-dir/app-static/app/variable-revalidate-edge/revalidate-3/page.js
  test/e2e/app-dir/app/app/(rootonly)/dashboard/hello/page.js
  test/e2e/app-dir/app/app/slow-page-no-loading/page.js
  test/e2e/app-dir/app/app/slow-page-with-loading/page.js
  test/e2e/app-dir/app/app/test-page/page.js
  test/e2e/app-dir/dynamic-io/app/routes/-edge/[dyn]/async/route.ts
  test/e2e/app-dir/dynamic-io/app/routes/-edge/[dyn]/sync/route.ts
  test/e2e/app-dir/metadata/app/basic-edge/page.tsx
  test/e2e/app-dir/next-font/app/(preload)/page.js
  test/e2e/app-dir/next-image/app/legacy-edge-runtime/layout.js
  test/e2e/app-dir/next-image/app/page.js
  test/e2e/app-dir/rsc-basic/app/edge/dynamic/[id]/page.js
  test/e2e/app-dir/rsc-basic/app/edge/dynamic/page.js
  test/e2e/app-dir/set-cookies/app/api/app/experimental-edge/route.js
  test/e2e/app-dir/set-cookies/set-cookies.test.ts
Labels: type: next, created-by: Next.js team, tests

#70392 updated the environment variables examples to utilize the App router
  examples/environment-variables/app/layout.tsx
  examples/environment-variables/app/page.tsx
  examples/environment-variables/next-env.d.ts
  examples/environment-variables/package.json
  examples/environment-variables/pages/index.tsx
  examples/environment-variables/readme.md
  examples/environment-variables/tsconfig.json
Labels: examples

#70662 Turbopack build: Fix client-components-tree-shaking test
  test/production/app-dir/client-components-tree-shaking/app/layout.js
  test/production/app-dir/client-components-tree-shaking/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#70258 Turbopack: Allow ESM externals in SSR
  crates/next-core/src/next_manifests/client_reference_manifest.rs
  crates/next-core/src/next_server/context.rs
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/esm-client-ref-external/client.js
  test/e2e/app-dir/app-external/app/esm-client-ref-external/page.js
  test/e2e/app-dir/app-external/next.config.js
  test/e2e/app-dir/app-external/node_modules/esm/index.js
  test/e2e/app-dir/app-external/node_modules/esm/package.json
  test/e2e/esm-externals/esm-externals.test.ts
Labels: Turbopack, created-by: Turbopack team, tests

#70363 Replace depricated `apple-mobile-web-app-capable` with `mobile-web-ap…
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
  packages/next/src/lib/metadata/generate/basic.tsx
  packages/next/src/lib/metadata/types/metadata-interface.ts
  packages/next/src/lib/metadata/types/metadata-types.ts
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, Documentation, CI approved, tests

#70667 Fix interpolation of dynamic params in intercepting route pathnames
  packages/next/src/server/server-utils.ts
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/example/@modal/(...)[locale]/intercepted/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/example/@modal/default.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/example/@modal/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/example/default.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/example/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/example/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/app/[locale]/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception-from-root/next.config.js
  test/e2e/app-dir/parallel-routes-and-interception-from-root/parallel-routes-and-interception-from-root.test.ts
Labels: type: next, created-by: Next.js team, tests

#70547 docs: update with-google-analytics example path
  docs/02-app/01-building-your-application/06-optimizing/08-analytics.mdx
  docs/02-app/02-api-reference/04-functions/use-report-web-vitals.mdx
Labels: Documentation

#70612 chore: improve accessibility of static indicator
  packages/next/src/client/components/react-dev-overlay/internal/container/StaticIndicator.tsx
Labels: type: next

#70640 initially visited static pages should respect static staletime
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  test/e2e/app-dir/app-prefetch/app/page.js
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
  test/e2e/app-dir/revalidatetag-rsc/revalidatetag-rsc.test.ts
Labels: type: next, created-by: Next.js team, tests

#70678 feat(next/image): add support for `decoding` prop
  docs/02-app/02-api-reference/01-components/image.mdx
  packages/next/src/shared/lib/get-img-props.ts
  test/unit/next-image-get-img-props.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#70593 codemod: improve dynamic api codemod cases
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-22.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-22.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-19.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-19.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-20.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-20.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-21.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-21.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-22.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-22.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-23.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-23.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/custom-routes-access-api-prop-01.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/origin-name-somefile-01.input.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/origin-name-somefile-01.output.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/route-access-prop-01.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/route-access-prop-01.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/route-access-props-02.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/route-access-props-02.output.tsx
  packages/next-codemod/transforms/__tests__/next-async-request-api-dynamic-apis.test.js
  packages/next-codemod/transforms/__tests__/next-async-request-api-dynamic-props.test.js
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-api.ts
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
  packages/next-codemod/transforms/lib/async-request-api/utils.ts
Labels: type: next, created-by: Next.js team

#70529 feat(next/image): add `images.localPatterns` config
  docs/02-app/01-building-your-application/06-optimizing/01-images.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
  errors/invalid-images-config.mdx
  errors/next-image-unconfigured-localpatterns.mdx
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/legacy/image.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config.ts
  packages/next/src/server/image-optimizer.ts
  packages/next/src/shared/lib/image-config.ts
  packages/next/src/shared/lib/image-loader.ts
  packages/next/src/shared/lib/match-local-pattern.ts
  packages/next/src/shared/lib/match-remote-pattern.ts
  packages/next/src/telemetry/events/version.ts
  test/integration/image-optimizer/test/index.test.ts
  test/integration/next-image-new/app-dir-localpatterns/app/does-not-exist/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/images/static-img.png
  test/integration/next-image-new/app-dir-localpatterns/app/layout.js
  test/integration/next-image-new/app-dir-localpatterns/app/nested-assets-query/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/nested-blocked/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/top-level/page.js
  test/integration/next-image-new/app-dir-localpatterns/next.config.js
  test/integration/next-image-new/app-dir-localpatterns/public/assets/test.png
  test/integration/next-image-new/app-dir-localpatterns/public/blocked/test.png
  test/integration/next-image-new/app-dir-localpatterns/public/test.png
  test/integration/next-image-new/app-dir-localpatterns/style.module.css
  test/integration/next-image-new/app-dir-localpatterns/test/index.test.ts
  test/integration/telemetry/next.config.i18n-images
  test/integration/telemetry/test/config.test.js
  test/unit/image-optimizer/match-local-pattern.test.ts
  test/unit/image-optimizer/match-remote-pattern.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#70679 docs(link): add mention about how App Router prefetches on hover
  docs/02-app/02-api-reference/01-components/link.mdx
Labels: created-by: Next.js team, Documentation

#70677 Recommend `React.use()` to unwrap async APIs in the browser
  packages/next/src/server/request/params.browser.ts
  packages/next/src/server/request/search-params.browser.ts
Labels: type: next, created-by: Next.js team

#70674 Change default SWR delta value to 1 year
  docs/02-app/02-api-reference/05-next-config-js/swrDelta.mdx
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team, Documentation

#68333 [form] pages dir support
  packages/next/src/client/form.tsx
  test/e2e/app-dir/next-form/default/next-form.test.ts
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/basic/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/button-formaction-unsupported/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/button-formaction/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/with-file-input/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/with-function/action-client/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/with-function/button-formaction-client/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/with-onsubmit-preventdefault/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/forms/with-replace/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/redirected-from-action/index.tsx
  test/e2e/app-dir/next-form/default/pages/pages-dir/search/index.tsx
Labels: type: next, created-by: Next.js team, tests

#70503 chore(docs): refactor README.md
  packages/next/README.md
Labels: type: next

#70494 [Turbopack] HMR invalidation improvements
  crates/next-core/src/next_client/transforms.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_server/transforms.rs
  crates/next-core/src/next_shared/transforms/emotion.rs
  crates/next-core/src/next_shared/transforms/modularize_imports.rs
  crates/next-core/src/next_shared/transforms/react_remove_properties.rs
  crates/next-core/src/next_shared/transforms/relay.rs
  crates/next-core/src/next_shared/transforms/remove_console.rs
  crates/next-core/src/next_shared/transforms/styled_components.rs
  crates/next-core/src/next_shared/transforms/swc_ecma_transform_plugins.rs
  crates/next-core/src/transform_options.rs
  turbopack/crates/turbo-tasks/src/completion.rs
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-core/src/compile_time_info.rs
  turbopack/crates/turbopack-css/src/chunk/mod.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/chunk_type.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: Turbopack, created-by: Turbopack team

#70698 Fix missing `await` of `params` when metadata is used
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
Labels: type: next, created-by: Next.js team

#70682 condense warnings for direct access of dynamic APIs
  errors/sync-dynamic-apis.mdx
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.browser.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.browser.ts
  packages/next/src/server/request/search-params.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.cookies.test.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.headers.test.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.params.test.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.search.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#70705 Allow silencing direct access of dynamic APIs to unblock internal sync
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.browser.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.browser.ts
  packages/next/src/server/request/search-params.ts
Labels: type: next, created-by: Next.js team

#70685 Separate the rendering of viewport from metadata
  packages/next/src/lib/metadata/metadata-context.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/entry-base.ts
Labels: type: next, created-by: Next.js team, tests

#70706 codemod: fix merging react imports logic
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-04.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-05.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/utils.ts
Labels: type: next, created-by: Next.js team

#70721 Rename StaticGenerationStore to WorkStore
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/components/bailout-to-client-rendering.ts
  packages/next/src/client/components/client-page.tsx
  packages/next/src/client/components/client-segment.tsx
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/navigation-untracked.ts
  packages/next/src/client/components/static-generation-async-storage-instance.ts
  packages/next/src/client/components/work-async-storage-instance.ts
  packages/next/src/client/components/work-async-storage.external.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/lib/metadata/metadata-context.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/after/revalidation-utils.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/async-storage/with-work-store.ts
  packages/next/src/server/lib/patch-fetch.test.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/spec-extension/adapters/request-cookies.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/app-route/input.js
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/app-route/output.md
Labels: type: next, created-by: Next.js team

#70608 fix: Do not omit alt on getImgProps return type, ImgProps
  packages/next/src/shared/lib/get-img-props.ts
  test/unit/next-image-get-img-props.test.ts
Labels: type: next, tests

#70730 fix(next/image): handle undefined `images.localPatterns` config in `images-manifest.json`
  packages/next/src/build/index.ts
  packages/next/src/server/config.ts
  test/integration/next-image-new/app-dir-localpatterns/test/index.test.ts
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/unoptimized/test/index.test.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#70672 Dedupe sync access warning on the Server by callsite
  packages/next/src/server/create-deduped-by-callsite-server-error-loger.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  test/.gitignore
  test/development/app-dir/dynamic-io-warnings/app/layout.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/cookies/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/draftMode/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/headers/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/params/[slug]/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/searchParams/page.tsx
  test/development/app-dir/dynamic-io-warnings/dynamic-io.warnings.test.ts
  test/development/app-dir/dynamic-io-warnings/next.config.js
  test/e2e/app-dir/dynamic-io/dynamic-io.params.test.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.search.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#70736 Revert "Dedupe sync access warning on the Server by callsite"
  packages/next/src/server/create-deduped-by-callsite-server-error-loger.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  test/.gitignore
  test/development/app-dir/dynamic-io-warnings/app/layout.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/cookies/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/draftMode/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/headers/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/params/[slug]/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/searchParams/page.tsx
  test/development/app-dir/dynamic-io-warnings/dynamic-io.warnings.test.ts
  test/development/app-dir/dynamic-io-warnings/next.config.js
  test/e2e/app-dir/dynamic-io/dynamic-io.params.test.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.search.test.ts
Labels: type: next, created-by: Next.js team, tests

#70726 tests: deprecate `check` & disable flaky app-action deploy test
  test/deploy-tests-manifest.json
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/revalidate/page.js
  test/lib/next-test-utils.ts
Labels: created-by: Next.js team, tests

#70556 Refactor: split up `maybe_hoist_and_create_proxy` (and cache variant)
  crates/next-custom-transforms/src/transforms/server_actions.rs
Labels: created-by: Next.js team, Turbopack

#70740 Run unstable_cache inside a CacheStore context
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/client/components/work-async-storage.external.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/cache-async-storage.external.ts
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
Labels: type: next, created-by: Next.js team

#70737 support running React 18 tests on PRs with a label
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#70691 [Turbopack] AutoMap, AutoSet and CountHashSet use FxHasher by default
  Cargo.lock
  turbopack/crates/turbo-tasks-auto-hash-map/Cargo.toml
  turbopack/crates/turbo-tasks-auto-hash-map/src/map.rs
  turbopack/crates/turbo-tasks-auto-hash-map/src/set.rs
  turbopack/crates/turbo-tasks-memory/src/count_hash_set.rs
Labels: created-by: Turbopack team

#70741 Expand PrerenderStore to include the legacy mode static generation too
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/prerender-async-storage.external.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#70738 Reapply "Dedupe sync access warning on the Server by callsite" (#70672)
  packages/next/src/server/create-deduped-by-callsite-server-error-loger.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  test/.gitignore
  test/development/app-dir/dynamic-io-warnings/app/layout.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/cookies/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/draftMode/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/headers/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/params/[slug]/page.tsx
  test/development/app-dir/dynamic-io-warnings/app/pages/searchParams/page.tsx
  test/development/app-dir/dynamic-io-warnings/dynamic-io.warnings.test.ts
  test/development/app-dir/dynamic-io-warnings/next.config.js
  test/e2e/app-dir/dynamic-io/dynamic-io.params.test.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.search.test.ts
Labels: type: next, created-by: Next.js team, tests, run-react-18-tests

#70524 Add RSC module ID mapping to the Client Manifest
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/server/app-render/encryption.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/types/$$compiled.internal.d.ts
  test/e2e/app-dir/use-cache/app/client.tsx
  test/e2e/app-dir/use-cache/app/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#70575 feat(turbo-tasks): Add ResolvedVc versions of casting functions
  turbopack/crates/turbo-tasks/src/vc/resolved.rs
Labels: created-by: Turbopack team

#70761 [i18n] Routing fix
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/i18n-provider.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
Labels: type: next, created-by: Next.js team

#70764 fix broken lock mechanism
  packages/next/src/server/lib/incremental-cache/index.ts
Labels: type: next, created-by: Next.js team

#70715 client router cache should still be cleared if server action revalidates + redirects
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/redirect/actions.ts
  test/e2e/app-dir/actions/app/redirect/layout.tsx
  test/e2e/app-dir/actions/app/redirect/other/page.tsx
  test/e2e/app-dir/actions/app/redirect/page.tsx
Labels: type: next, created-by: Next.js team, tests

#70576 refactor(turbo-tasks-fs): Use ResolvedVc instead of Vc in structs
  crates/next-api/src/pages.rs
  crates/next-core/src/app_structure.rs
  crates/next-core/src/page_loader.rs
  crates/next-core/src/pages_structure.rs
  turbopack/crates/node-file-trace/src/lib.rs
  turbopack/crates/turbo-tasks-fs/examples/hash_directory.rs
  turbopack/crates/turbo-tasks-fs/examples/hash_glob.rs
  turbopack/crates/turbo-tasks-fs/src/attach.rs
  turbopack/crates/turbo-tasks-fs/src/embed/fs.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/read_glob.rs
  turbopack/crates/turbopack-core/src/chunk/optimize.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-dev-server/src/source/static_assets.rs
  turbopack/crates/turbopack-ecmascript/src/references/node.rs
  turbopack/crates/turbopack-ecmascript/src/references/require_context.rs
  turbopack/crates/turbopack-ecmascript/src/references/typescript.rs
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
  turbopack/crates/turbopack-resolve/src/node_native_binding.rs
  turbopack/crates/turbopack-resolve/src/typescript.rs
  turbopack/crates/turbopack-test-utils/src/snapshot.rs
Labels: Turbopack, created-by: Turbopack team

#70743 docs(turbo-tasks): Rewrite the `turbo_tasks::value` documentation
  turbopack/crates/turbo-tasks-macros/src/lib.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/vc/resolved.rs
  turbopack/crates/turbo-tasks/src/vc/traits.rs
Labels: created-by: Turbopack team

#70774 auto import with `create::` prefix
  .vscode/settings.json
Labels: created-by: Turbopack team

#70732 Fix client reference access causing metadata missing
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/reexport-client-component-metadata/app/layout.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/no-override/page-content.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/no-override/page.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/override/page-content.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/override/page.tsx
  test/e2e/app-dir/reexport-client-component-metadata/reexport-client-component-metadata.test.ts
Labels: type: next, created-by: Next.js team, tests

#70768 Move reactLoadableManifest/assetPrefix to workStore
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/client/components/work-async-storage.external.ts
  packages/next/src/server/after/after-context.test.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/async-storage/with-work-store.ts
  packages/next/src/shared/lib/lazy-dynamic/preload-chunks.tsx
Labels: type: next, created-by: Next.js team

#70563 Unwrap `registerServerReference` function
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/errors/server-actions/client-graph/1/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/1/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/2/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/3/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/6/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/7/output.js
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/8/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/1/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/10/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/11/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/12/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/13/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/14/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/15/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/16/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/17/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/18/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/19/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/2/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/20/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/21/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/22/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/23/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/24/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/25/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/26/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/27/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/28/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/29/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/3/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/30/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/31/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/32/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/33/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/34/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/35/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/36/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/37/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/38/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/4/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/5/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/6/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/7/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/8/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/9/output.js
  packages/next/src/build/webpack/loaders/next-flight-loader/server-reference.ts
Labels: type: next, created-by: Next.js team, Turbopack, CI Bypass Graphite Optimization

#70696 fix(turbopack): Remove wrong check for `__turbopack_refresh__`
  test/integration/telemetry/pages/warning.skip
  test/production/app-dir/actions-tree-shaking/reexport/reexport.test.ts
  turbopack/crates/turbopack-ecmascript/src/tree_shake/util.rs
Labels: created-by: Turbopack team, tests

#70708 Turbopack: next/dynamic layout segment optimization
  crates/next-api/src/app.rs
  crates/next-api/src/dynamic_imports.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
  turbopack/crates/turbo-tasks/src/graph/graph_store.rs
  turbopack/crates/turbo-tasks/src/graph/graph_traversal.rs
  turbopack/crates/turbo-tasks/src/graph/mod.rs
Labels: Turbopack, created-by: Turbopack team

#70775 Error if reading Request Store inside Prerender
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  test/e2e/app-dir/use-cache/app/errors/error-boundary.tsx
  test/e2e/app-dir/use-cache/app/errors/util.ts
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#70785 codemod: handle the async api type
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-23.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-23.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-api.ts
Labels: type: next, created-by: Next.js team

#70564 Create spans for `createServerReference` and `registerServerReference`
  crates/next-custom-transforms/src/transforms/server_actions.rs
  packages/next/src/build/webpack/loaders/next-flight-loader/action-client-wrapper.ts
  packages/next/src/client/app-find-source-map-url.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/types/$$compiled.internal.d.ts
  test/e2e/app-dir/actions-simple/README.md
  test/e2e/app-dir/actions-simple/actions-simple.test.ts
  test/e2e/app-dir/actions-simple/app/actions.ts
  test/e2e/app-dir/actions-simple/app/client/page.tsx
  test/e2e/app-dir/actions-simple/app/form.tsx
  test/e2e/app-dir/actions-simple/app/layout.tsx
  test/e2e/app-dir/actions-simple/app/page.tsx
  test/e2e/app-dir/actions-simple/app/source-maps-turbopack/route.ts
  test/e2e/app-dir/actions-simple/find-source-map-url-turbopack-mock.ts
  test/e2e/app-dir/actions-simple/find-source-map-url-webpack-mock.ts
  test/e2e/app-dir/actions-simple/next.config.js
Labels: type: next, created-by: Next.js team, Turbopack, tests, CI Bypass Graphite Optimization

#70788 Fix client reference access causing metadata missing (#70732)
  packages/next/src/lib/metadata/resolve-metadata.ts
  test/e2e/app-dir/reexport-client-component-metadata/app/layout.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/no-override/page-content.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/no-override/page.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/override/page-content.tsx
  test/e2e/app-dir/reexport-client-component-metadata/app/override/page.tsx
  test/e2e/app-dir/reexport-client-component-metadata/reexport-client-component-metadata.test.ts
Labels: type: next, created-by: Next.js team, tests

#70794 backport: support breadcrumb style catch-all parallel routes (#65063)
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/shared/lib/router/utils/route-regex.ts
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/@slot/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/@slot/default.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/[artist]/[album]/[track]/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/[artist]/[album]/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/[artist]/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/foo/[lang]/bar/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/layout.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/page.tsx
  test/e2e/app-dir/parallel-routes-breadcrumbs/next.config.js
  test/e2e/app-dir/parallel-routes-breadcrumbs/parallel-routes-breadcrumbs.test.ts
Labels: type: next, created-by: Next.js team, tests

#70802 feat(next/image): add `images.localPatterns` config
  docs/02-app/01-building-your-application/06-optimizing/01-images.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
  errors/invalid-images-config.mdx
  errors/next-image-unconfigured-localpatterns.mdx
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/legacy/image.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config.ts
  packages/next/src/server/image-optimizer.ts
  packages/next/src/shared/lib/image-config.ts
  packages/next/src/shared/lib/image-loader.ts
  packages/next/src/shared/lib/match-local-pattern.ts
  packages/next/src/shared/lib/match-remote-pattern.ts
  packages/next/src/telemetry/events/version.ts
  test/integration/image-optimizer/test/index.test.ts
  test/integration/next-image-new/app-dir-localpatterns/app/does-not-exist/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/images/static-img.png
  test/integration/next-image-new/app-dir-localpatterns/app/layout.js
  test/integration/next-image-new/app-dir-localpatterns/app/nested-assets-query/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/nested-blocked/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/page.js
  test/integration/next-image-new/app-dir-localpatterns/app/top-level/page.js
  test/integration/next-image-new/app-dir-localpatterns/next.config.js
  test/integration/next-image-new/app-dir-localpatterns/public/assets/test.png
  test/integration/next-image-new/app-dir-localpatterns/public/blocked/test.png
  test/integration/next-image-new/app-dir-localpatterns/public/test.png
  test/integration/next-image-new/app-dir-localpatterns/style.module.css
  test/integration/next-image-new/app-dir-localpatterns/test/index.test.ts
  test/integration/telemetry/next.config.i18n-images
  test/integration/telemetry/test/config.test.js
  test/unit/image-optimizer/match-local-pattern.test.ts
  test/unit/image-optimizer/match-remote-pattern.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#70773 chore(turbopack-browser): Delete unreferenced runtime.rs file
  turbopack/crates/turbopack-browser/src/ecmascript/runtime.rs
Labels: created-by: Turbopack team

#70784 Do not invoke server actions twice when `dynamicIO` is enabled
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/dynamic-io/app/server-action/action.ts
  test/e2e/app-dir/dynamic-io/app/server-action/page.tsx
  test/e2e/app-dir/dynamic-io/dynamic-io.server-action.test.ts
Labels: type: next, created-by: Next.js team, tests

#70769 feat: decouple cookies and action state from redirect error
  packages/next/src/client/components/redirect.ts
  packages/next/src/server/api-utils/index.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/trace/tracer.ts
  packages/next/src/server/render.tsx
  packages/next/src/server/route-modules/app-route/helpers/auto-implement-methods.ts
  packages/next/src/server/route-modules/app-route/helpers/resolve-handler-error.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/route-modules/helpers/response-handlers.ts
Labels: type: next, created-by: Next.js team

#70796 chore(examples): updated the example of with-styled-components
  examples/with-styled-components/app/_components/cards.tsx
  examples/with-styled-components/app/_components/globalstyles.tsx
  examples/with-styled-components/app/_components/sharedstyles.tsx
  examples/with-styled-components/app/about/page.tsx
  examples/with-styled-components/app/favicon.ico
  examples/with-styled-components/app/layout.tsx
  examples/with-styled-components/app/page.tsx
  examples/with-styled-components/lib/client-layout.tsx
  examples/with-styled-components/lib/styled-components-registry.tsx
  examples/with-styled-components/next-env.d.ts
  examples/with-styled-components/next.config.js
  examples/with-styled-components/next.config.mjs
  examples/with-styled-components/package.json
  examples/with-styled-components/pages/_app.tsx
  examples/with-styled-components/pages/_document.tsx
  examples/with-styled-components/tsconfig.json
Labels: examples

#70480 refactor: added more strict app segment config validation
  packages/next/package.json
  packages/next/src/build/analysis/get-page-static-info.test.ts
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/segment-config/app/app-segment-config.ts
  packages/next/src/build/segment-config/app/app-segments.ts
  packages/next/src/build/segment-config/middleware/middleware-config.ts
  packages/next/src/build/segment-config/pages/pages-segment-config.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/client/components/work-async-storage.external.ts
  packages/next/src/compiled/zod-validation-error/LICENSE
  packages/next/src/compiled/zod-validation-error/index.js
  packages/next/src/compiled/zod-validation-error/package.json
  packages/next/src/server/async-storage/with-work-store.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/static-paths-worker.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/types.ts
  packages/next/src/shared/lib/zod.ts
  packages/next/taskfile.js
  packages/next/types/$$compiled.internal.d.ts
  pnpm-lock.yaml
  test/e2e/app-dir-legacy-edge-runtime-config/app/legacy-runtime-config/page.js
  test/e2e/app-dir-legacy-edge-runtime-config/index.test.ts
  test/e2e/app-dir-legacy-edge-runtime-config/next.config.js
  test/e2e/app-dir/app-invalid-revalidate/app-invalid-revalidate.test.ts
  test/integration/invalid-middleware-matchers/test/index.test.js
  test/integration/telemetry/test/page-features.test.js
  test/production/app-dir-edge-runtime-with-wasm/index.test.ts
  test/production/edge-config-validations/index.test.ts
  test/production/exported-runtimes-value-validation/index.test.ts
  test/production/middleware-typescript/app/middleware.ts
  test/unit/parse-page-static-info.test.ts
Labels: type: next, created-by: Next.js team, tests

#70807 Fix recently re-introduced unique "key" prop warnings
  packages/next/src/server/app-render/create-component-tree.tsx
Labels: type: next, created-by: Next.js team

#70808 Run Middleware within WorkStore
  packages/next/src/server/web/adapter.ts
Labels: type: next, created-by: Next.js team

#70813 fix(next/image): handle undefined `images.localPatterns` config in `images-manifest.json`
  packages/next/src/build/index.ts
  packages/next/src/server/config.ts
  test/integration/next-image-new/app-dir-localpatterns/test/index.test.ts
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/unoptimized/test/index.test.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#70818 fix: Do not omit alt on getImgProps return type, ImgProps
  packages/next/src/shared/lib/get-img-props.ts
  test/unit/next-image-get-img-props.test.ts
Labels: type: next, created-by: Next.js team, tests

#70806 Move AfterContext to WorkStore
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/client/components/work-async-storage.external.ts
  packages/next/src/server/after/after-context.test.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/async-storage/with-work-store.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#70809 Remove fake WorkStore around unstable_cache in Pages
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#70889 Add pathname to PrerenderStore
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/prerender-async-storage.external.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#70468 [Turbopack] Preparations for persisting
  Cargo.lock
  Cargo.toml
  crates/next-api/src/project.rs
  crates/next-core/src/app_structure.rs
  crates/next-core/src/next_manifests/mod.rs
  packages/next/src/build/index.ts
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbo-tasks-fs/src/invalidation.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/retry.rs
  turbopack/crates/turbo-tasks-fs/src/watcher.rs
  turbopack/crates/turbo-tasks/src/completion.rs
  turbopack/crates/turbo-tasks/src/serialization_invalidation.rs
  turbopack/crates/turbopack-browser/src/ecmascript/list/version.rs
  turbopack/crates/turbopack-core/src/version.rs
  turbopack/crates/turbopack-trace-server/Cargo.toml
Labels: type: next, Turbopack, created-by: Turbopack team

#70353 feat(next): throw when `twitter-image` or `opengraph-image` file size exceeds
  crates/next-core/src/next_app/metadata/route.rs
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/opengraph-image.mdx
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
  test/production/app-dir/metadata-img-too-large/generate-image.ts
  test/production/app-dir/metadata-img-too-large/opengraph-image/app/layout.tsx
  test/production/app-dir/metadata-img-too-large/opengraph-image/app/page.tsx
  test/production/app-dir/metadata-img-too-large/opengraph-image/index.test.ts
  test/production/app-dir/metadata-img-too-large/opengraph-image/next.config.js
  test/production/app-dir/metadata-img-too-large/twitter-image/app/layout.tsx
  test/production/app-dir/metadata-img-too-large/twitter-image/app/page.tsx
  test/production/app-dir/metadata-img-too-large/twitter-image/index.test.ts
  test/production/app-dir/metadata-img-too-large/twitter-image/next.config.js
Labels: type: next, created-by: Next.js team, Documentation, Turbopack, tests

#70812 fix(turbo-tasks-macros): Always use the correct trait method in TaskInput
  turbopack/crates/turbo-tasks-macros/src/derive/task_input_macro.rs
Labels: created-by: Turbopack team

#70819 Unify RequestStore, PrerenderStore and CacheStore
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/components/request-async-storage-instance.ts
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/cache-async-storage-instance.ts
  packages/next/src/server/app-render/cache-async-storage.external.ts
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/prerender-async-storage-instance.ts
  packages/next/src/server/app-render/prerender-async-storage.external.ts
  packages/next/src/server/app-render/work-unit-async-storage-instance.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/lib/patch-fetch.test.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
  test/e2e/app-dir/app-external/app/async-storage/page.js
  test/e2e/app-dir/app-middleware/app-middleware.test.ts
Labels: type: next, created-by: Next.js team, tests

#70811 Tracing: Always end write stream on shutdown in dev
  packages/next/src/cli/next-dev.ts
  packages/next/src/trace/report/index.ts
  packages/next/src/trace/report/to-json.ts
  packages/next/src/trace/report/types.ts
  packages/next/src/trace/trace.ts
Labels: type: next, created-by: Turbopack team

#70906 codemod: extend ignore pattern list
  packages/next-codemod/lib/run-jscodeshift.ts
  packages/next-codemod/transforms/lib/async-request-api/index.ts
Labels: type: next, created-by: Next.js team

#70900 Fix missing await of params in metadata route
  crates/next-core/src/next_app/metadata/image.rs
  crates/next-core/src/next_app/metadata/route.rs
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
Labels: type: next, created-by: Next.js team, Turbopack

#70914 Update reference to workUnitStore
  packages/next/src/server/node-environment-extensions/random.tsx
Labels: type: next, created-by: Next.js team

#70397 Update 04-linking-and-navigating.mdx, Partial Rendering, explain about unmounting and losing state
  docs/02-app/01-building-your-application/01-routing/04-linking-and-navigating.mdx
Labels: Documentation

#70917 codemod: add async transform for generate viewport
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/generate-metadata-access-prop-02.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/generate-metadata-access-prop-02.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/utils.ts
Labels: type: next, created-by: Next.js team

#70922 Add `require-in-the-middle` to default externals
  docs/02-app/02-api-reference/05-next-config-js/serverExternalPackages.mdx
  docs/03-pages/02-api-reference/04-next-config-js/serverExternalPackages.mdx
  packages/next/src/lib/server-external-packages.json
Labels: type: next, Documentation, created-by: Turbopack team

#70926 Use random port for cargo test
  turbopack/crates/turbopack/tests/node-file-trace/integration/socket.io.js
Labels: created-by: Next.js team

#70814 fix(turbo-tasks): Implement `TaskInput for `ResolvedVc`
  crates/next-api/src/app.rs
  crates/next-core/src/app_structure.rs
  turbopack/crates/turbo-tasks/src/task/task_input.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
Labels: Turbopack, created-by: Turbopack team

#70924 Use perf_hooks for fetch metrics timers
  packages/next/src/server/dev/log-requests.ts
  packages/next/src/server/lib/patch-fetch.ts
Labels: type: next, created-by: Next.js team

#70815 refactor(turbopack/next-core): Remove uses of generic vc collections
  crates/next-api/src/app.rs
  crates/next-core/src/app_structure.rs
Labels: Turbopack, created-by: Turbopack team

#70925 Use perf_hooks for current time in incremental cache
  packages/next/src/server/lib/incremental-cache/index.ts
Labels: type: next, created-by: Next.js team

#70928 fix(next-upgrade): prompts has no `default` option, is `initial`
  packages/next-codemod/bin/transform.ts
Labels: type: next, created-by: Next.js team

#70816 refactor(turbopack/next-{api,core}): Remove remaining uses of vc generics in non-test code
  crates/next-api/src/server_actions.rs
  crates/next-core/src/next_app/app_client_references_chunks.rs
Labels: Turbopack, created-by: Turbopack team

#70916 [dynamicio] Instrument Date to be dynamic when accessing current time
  packages/next/src/server/node-environment-extensions/date.tsx
  packages/next/src/server/node-environment.ts
  test/e2e/app-dir/dynamic-io/app/date/date/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/date/date/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/date/layout.tsx
  test/e2e/app-dir/dynamic-io/app/date/new-date/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/date/new-date/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/date/now/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/date/now/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/date/static-date/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/date/static-date/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/dynamic-io.date.test.ts
  test/e2e/app-dir/dynamic-io/next.config.js
Labels: type: next, created-by: Next.js team, tests

#70939 [dynamicIO] Instrument crypto ranadom APIs to be dynamic
  packages/next/src/server/node-environment-extensions/date.tsx
  packages/next/src/server/node-environment-extensions/node-crypto.tsx
  packages/next/src/server/node-environment-extensions/random.tsx
  packages/next/src/server/node-environment-extensions/utils.tsx
  packages/next/src/server/node-environment-extensions/web-crypto.tsx
  packages/next/src/server/node-environment.ts
  test/e2e/app-dir/dynamic-io/app/node-crypto/generate-key-pair-sync/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/generate-key-pair-sync/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/generate-key-sync/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/generate-key-sync/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/generate-prime-sync/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/generate-prime-sync/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/get-random-values/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/get-random-values/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/layout.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-bytes/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-bytes/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-fill-sync/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-fill-sync/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-int/between/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-int/between/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-int/up-to/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-int/up-to/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-uuid/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/node-crypto/random-uuid/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/web-crypto/get-random-values/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/web-crypto/get-random-values/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/app/web-crypto/layout.tsx
  test/e2e/app-dir/dynamic-io/app/web-crypto/random-uuid/cached/page.tsx
  test/e2e/app-dir/dynamic-io/app/web-crypto/random-uuid/uncached/page.tsx
  test/e2e/app-dir/dynamic-io/dynamic-io.node-crypto.test.ts
  test/e2e/app-dir/dynamic-io/dynamic-io.web-crypto.test.ts
Labels: type: next, created-by: Next.js team, tests

#70929 refactor(next-upgrade): remove monorepo detect, add to error message when fail to get next version
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#70936 codemod: skip transform when its properly used
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-24.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-24.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-25.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-25.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
Labels: type: next, created-by: Next.js team

#70930 refactor(next-upgrade): ensures prompts are cancelled when user exits
  packages/next-codemod/bin/transform.ts
  packages/next-codemod/bin/upgrade.ts
  packages/next-codemod/lib/utils.ts
Labels: type: next, created-by: Next.js team

#70937 `cache: "default"` shouldn't get cached in route handlers
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/(new)/default-config-fetch/api/route.js
  test/e2e/app-dir/app-static/app/(new)/default-config-fetch/page.js
Labels: type: next, created-by: Next.js team, tests

#70931 refactor(next-upgrade): tailor turbopack suggestion message
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#70810 Run after() callbacks in the same context as the outer function
  packages/next/src/client/components/async-local-storage.ts
  packages/next/src/server/after/after-context.test.ts
  packages/next/src/server/after/after-context.ts
Labels: type: next, created-by: Next.js team

#70690 replace all 'athName' with 'athname' for consistency
  examples/app-dir-i18n-routing/app/[lang]/components/locale-switcher.tsx
  examples/cms-wordpress/src/middleware.ts
  examples/with-supertokens/app/config/frontend.tsx
  packages/next/src/server/load-components.ts
  test/e2e/app-dir/app-basepath/app/use-pathname-another/page.js
  test/e2e/app-dir/app-basepath/app/use-pathname/page.js
  test/e2e/app-dir/app-basepath/components/read-path-name.js
Labels: examples, type: next, tests

#70932 refactor: improve transformer selection prompt
  packages/next-codemod/bin/transform.ts
  packages/next-codemod/bin/upgrade.ts
  packages/next-codemod/lib/codemods.ts
  packages/next-codemod/lib/utils.ts
Labels: type: next, created-by: Next.js team

#70817 chore(turbo-tasks): Delete vc generics support
  turbopack/crates/turbo-tasks-backend/tests/generics.rs
  turbopack/crates/turbo-tasks-memory/tests/generics.rs
  turbopack/crates/turbo-tasks-testing/tests/generics.rs
  turbopack/crates/turbo-tasks-testing/tests/local_cell.rs
  turbopack/crates/turbo-tasks/src/generics/index_map.rs
  turbopack/crates/turbo-tasks/src/generics/index_set.rs
  turbopack/crates/turbo-tasks/src/generics/mod.rs
  turbopack/crates/turbo-tasks/src/generics/option.rs
  turbopack/crates/turbo-tasks/src/generics/vec.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/vc/mod.rs
Labels: created-by: Turbopack team

#69668 [Turbopack] add persisting to the new backend
  Cargo.lock
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/cleanup_old_edges.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/invalidate.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_cell.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
  turbopack/crates/turbo-tasks-backend/src/backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
  turbopack/crates/turbo-tasks-backend/src/lib.rs
  turbopack/crates/turbo-tasks-backend/src/lmdb_backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/lmdb_backing_storage/extended_key.rs
  turbopack/crates/turbo-tasks-backend/src/utils/chunked_vec.rs
  turbopack/crates/turbo-tasks-backend/src/utils/mod.rs
  turbopack/crates/turbo-tasks-backend/src/utils/ptr_eq_arc.rs
  turbopack/crates/turbo-tasks-backend/src/utils/sharded.rs
  turbopack/crates/turbo-tasks-backend/tests/test_config.trs
  turbopack/crates/turbo-tasks-macros/src/derive/key_value_pair_macro.rs
  turbopack/crates/turbo-tasks-testing/tests/basic.rs
  turbopack/crates/turbo-tasks/Cargo.toml
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/capture_future.rs
  turbopack/crates/turbo-tasks/src/id.rs
  turbopack/crates/turbo-tasks/src/key_value_pair.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/scope.rs
  turbopack/crates/turbo-tasks/src/task/mod.rs
  turbopack/crates/turbo-tasks/src/value_type.rs
  turbopack/crates/turbopack-trace-utils/src/tracing_presets.rs
Labels: Turbopack, created-by: Turbopack team

#70890 chore(turbo-tasks): Remove unused primitive helper types
  turbopack/crates/turbo-tasks/src/primitives.rs
Labels: created-by: Turbopack team

#70904 [Turbopack] add persistentCaching config option
  crates/napi/Cargo.toml
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/utils.rs
  crates/napi/src/turbotrace.rs
  packages/next/src/build/collect-build-traces.ts
  packages/next/src/build/index.ts
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: type: next, created-by: Turbopack team

#70972 codemod: skip promise.all on params
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-26.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-26.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
Labels: type: next, created-by: Next.js team

#70970 codemod: unify comments prefix for dynamic api
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-15.output.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-16.output.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-21.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-21.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/async-api-type-cast-02.output.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-18.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-api.ts
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
Labels: type: next, created-by: Next.js team

#70968 feat(next-codemod): add `app-dir-runtime-config-experimental-edge`
  packages/next-codemod/lib/utils.ts
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/already-edge.input.tsx
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/already-edge.output.tsx
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/basic.input.tsx
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/basic.output.tsx
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/no-runtime.input.tsx
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/no-runtime.output.tsx
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/nodejs.input.tsx
  packages/next-codemod/transforms/__testfixtures__/app-dir-runtime-config-experimental-edge/nodejs.output.tsx
  packages/next-codemod/transforms/__tests__/app-dir-runtime-config-experimental-edge.test.js
  packages/next-codemod/transforms/app-dir-runtime-config-experimental-edge.ts
Labels: type: next, created-by: Next.js team

#70976 backport: [i18n] Routing fix #70761
  packages/next/src/server/base-server.ts
  packages/next/src/server/future/helpers/i18n-provider.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
Labels: type: next, created-by: Next.js team

#70974 chore(turbo-tasks-backend): Disable flaky performance test by default
  turbopack/crates/turbo-tasks-testing/tests/performance.rs
Labels: created-by: Turbopack team

#70978 Port #70933 "fix: remove unnecessary line break in prompt"
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#70980 next-upgrade: Ensure path-like revisions are rejected
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#70986 Refactor prerender workUnitStores
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/node-environment-extensions/utils.tsx
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
Labels: type: next, created-by: Next.js team

#70997 ensure export workers that are killed bubble up to parent process
  packages/next/src/lib/worker.ts
  test/production/app-dir/worker-restart/fixtures/worker-kill/app/bad-page/page.js
  test/production/app-dir/worker-restart/fixtures/worker-kill/app/layout.js
  test/production/app-dir/worker-restart/fixtures/worker-kill/app/page.js
  test/production/app-dir/worker-restart/fixtures/worker-kill/next.config.js
  test/production/app-dir/worker-restart/worker-restart.test.ts
Labels: type: next, created-by: Next.js team, tests

#70995 Fix i686 next-swc build due to int overflow
  turbopack/crates/turbo-tasks-backend/src/lmdb_backing_storage.rs
Labels: created-by: Next.js team

#70983 fix(next-codemod): get package manager is inconsistent in monorepo
  packages/next-codemod/lib/handle-package.ts
  packages/next-codemod/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#70985 chore(next-codemod): add `@types/prompts`
  packages/next-codemod/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#70981 next-upgrade: Ensure correct React and types version are resolved when upgrading to Next.js rc
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#71003 docs: fix URL for error message
  errors/missing-root-layout-tags.mdx
Labels: created-by: Next.js team, Documentation

#70792 Turbopack: `find client references` layout segment optimization
  crates/next-api/src/app.rs
  crates/next-core/src/next_client_reference/mod.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
Labels: Turbopack, created-by: Turbopack team

#70979 codemod: leave comment on spread props
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-27.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-27.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
Labels: type: next, created-by: Next.js team

#71008 docs: add `app-dir-runtime-config-experimental-edge` codemod
  docs/02-app/01-building-your-application/11-upgrading/01-codemods.mdx
  packages/next-codemod/lib/utils.ts
Labels: type: next, created-by: Next.js team, Documentation

#71012 docs: add `next-dynamic-access-named-export` codemod
  docs/02-app/01-building-your-application/11-upgrading/01-codemods.mdx
  packages/next-codemod/lib/utils.ts
Labels: type: next, created-by: Next.js team, Documentation

#71018 chore(next-upgrade): use process exit instead of throwing
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#71024 Skip deployments for Dynamic IO error tests
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.platform-dynamic.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.sync-dynamic.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.test.ts
Labels: created-by: Next.js team, tests

#71021 Revert "chore(next-upgrade): use process exit instead of throwing (#7…
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#71025 Skip `Math.random` test with route handler and `'use cache'`
  test/e2e/app-dir/node-extensions/node-extensions.random.test.ts
Labels: created-by: Next.js team, tests

#71028 Disable server action transform in pages router
  packages/next/src/build/swc/options.ts
  packages/next/src/build/utils.ts
  packages/next/src/lib/constants.ts
  test/e2e/app-dir/action-in-pages-router/action-in-pages-router.test.ts
  test/e2e/app-dir/action-in-pages-router/actions.ts
  test/e2e/app-dir/action-in-pages-router/pages/foo.tsx
Labels: type: next, created-by: Next.js team, tests

#71034 chore(next-codemod): view current Next.js version, skip if already on or higher
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#71041 Remove windows i686 next-swc build target
  .github/workflows/build_and_deploy.yml
  crates/napi/npm/win32-ia32-msvc/README.md
  crates/napi/npm/win32-ia32-msvc/package.json
  scripts/install-native.mjs
Labels: created-by: Next.js team

#71029 fix(docs): correct MDN URL for decoding attribute of next/image component
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: Documentation

#70971 Add ts-node dependency for jest.config.ts parsing
  docs/02-app/01-building-your-application/08-testing/02-jest.mdx
Labels: Documentation

#71046 move workUnitAsyncStorage back into "client/components"
  packages/next/src/client/components/work-unit-async-storage-instance.ts
  packages/next/src/client/components/work-unit-async-storage.external.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/lib/patch-fetch.test.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/node-environment-extensions/utils.tsx
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
  test/e2e/app-dir/app-external/app/async-storage/page.js
Labels: type: next, created-by: Next.js team, tests

#71040 codemod: type cast async api calls in non entry file exports
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/origin-name-01-util.input.ts
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/origin-name-01-util.output.ts
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/origin-name-02-util.input.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-apis/origin-name-02-util.output.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/origin-name-02-somefile.input.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/origin-name-02-somefile.output.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/origin-name-03-default.input.js
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/origin-name-03-default.output.js
  packages/next-codemod/transforms/__tests__/next-async-request-api-dynamic-apis.test.js
  packages/next-codemod/transforms/__tests__/next-async-request-api-dynamic-props.test.js
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-api.ts
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
  packages/next-codemod/transforms/lib/async-request-api/utils.ts
Labels: type: next, created-by: Next.js team

#71000 chore: replace the all `path-name` with `pathname` for consistency
  test/e2e/app-dir/app-basepath/app/use-pathname-another/page.js
  test/e2e/app-dir/app-basepath/app/use-pathname/page.js
  test/e2e/app-dir/app-basepath/components/read-pathname.js
Labels: tests

#71036 codemod upgrade: show link of migration guide after upgrade
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#71043 Defensively install patches
  packages/next/src/server/node-environment-extensions/date.tsx
  packages/next/src/server/node-environment-extensions/node-crypto.tsx
  packages/next/src/server/node-environment-extensions/random.tsx
  packages/next/src/server/node-environment-extensions/web-crypto.tsx
Labels: type: next, created-by: Next.js team

#71051 fix(next/turbopack): Always preserve import attributes with esm modules
  packages/next/taskfile-swc.js
  packages/next/taskfile.js
Labels: type: next, created-by: Turbopack team

#71053 codemod: fix type only react import
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-04.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-04.output.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-30.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-30.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/utils.ts
Labels: type: next, created-by: Next.js team

#71059 types-plugin: enahnce type checking on interface params
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  test/production/app-dir/next-types-plugin/sync-params-type-check/app/blog/[slug]/page.tsx
  test/production/app-dir/next-types-plugin/sync-params-type-check/app/layout.tsx
  test/production/app-dir/next-types-plugin/sync-params-type-check/app/page.tsx
  test/production/app-dir/next-types-plugin/sync-params-type-check/sync-params-type-check.test.ts
Labels: type: next, created-by: Next.js team, tests

#70940 Move tracking of revalidate and tags from WorkStore to WorkUnitStore
  packages/next/src/build/utils.ts
  packages/next/src/client/components/work-async-storage.external.ts
  packages/next/src/client/components/work-unit-async-storage.external.ts
  packages/next/src/export/index.ts
  packages/next/src/export/routes/app-route.ts
  packages/next/src/lib/constants.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/lib/dev-bundler-service.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-app.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
Labels: type: next, created-by: Next.js team, tests

#71060 codemod: if params is awaited then skip
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-31.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-31.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
Labels: type: next, created-by: Next.js team

#71044 Update RC migration guide
  docs/02-app/01-building-your-application/11-upgrading/02-version-15.mdx
Labels: created-by: Next.js team, Documentation

#71058 Revert "move workUnitAsyncStorage into "client/components""
  packages/next/src/server/after/after.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/work-unit-async-storage-instance.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/lib/patch-fetch.test.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/node-environment-extensions/utils.tsx
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
  test/e2e/app-dir/app-external/app/async-storage/page.js
Labels: type: next, created-by: Next.js team, tests

#70934 Move WorkStore and ActionStore to /server/app-render
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/components/bailout-to-client-rendering.ts
  packages/next/src/client/components/client-page.tsx
  packages/next/src/client/components/client-segment.tsx
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/navigation-untracked.ts
  packages/next/src/client/components/redirect.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/lib/metadata/metadata-context.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/server/after/after-context.test.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/after/revalidation-utils.ts
  packages/next/src/server/app-render/action-async-storage-instance.ts
  packages/next/src/server/app-render/action-async-storage.external.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/async-local-storage.ts
  packages/next/src/server/app-render/clean-async-snapshot-instance.ts
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/work-async-storage-instance.ts
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/app-render/work-unit-async-storage-instance.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/cache-scope.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/async-storage/with-work-store.ts
  packages/next/src/server/lib/patch-fetch.test.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/node-environment-extensions/utils.tsx
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/spec-extension/adapters/request-cookies.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
  packages/next/src/shared/lib/lazy-dynamic/preload-chunks.tsx
Labels: type: next, created-by: Next.js team, tests

#71048 polish async codemod docs
  docs/02-app/01-building-your-application/11-upgrading/01-codemods.mdx
Labels: created-by: Next.js team, Documentation

#71049 polish sync-dynamic-apis error page
  errors/sync-dynamic-apis.mdx
Labels: created-by: Next.js team, Documentation

#71007 chore(examples):updated the example of with-stitches to utlize the App router
  examples/with-stitches/app/_components/StitchesLogo.tsx
  examples/with-stitches/app/layout.tsx
  examples/with-stitches/app/page.tsx
  examples/with-stitches/next-env.d.ts
  examples/with-stitches/next.config.js
  examples/with-stitches/next.config.mjs
  examples/with-stitches/package.json
  examples/with-stitches/pages/_document.tsx
  examples/with-stitches/tsconfig.json
Labels: examples

#70996 [Turbopack] Implement support for webpack’s `stats.json`
  Cargo.lock
  crates/next-api/Cargo.toml
  crates/next-api/src/app.rs
  crates/next-api/src/lib.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/project.rs
  crates/next-api/src/webpack_stats.rs
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/dev/turbopack/manifest-loader.ts
  packages/next/src/shared/lib/constants.ts
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks/src/primitives.rs
  turbopack/crates/turbopack-browser/src/ecmascript/chunk.rs
  turbopack/crates/turbopack-browser/src/ecmascript/mod.rs
  turbopack/crates/turbopack-core/src/asset.rs
  turbopack/crates/turbopack-core/src/chunk/chunk_group.rs
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-core/src/output.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/mod.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#71079 chore(next-codemod): add verbose option to transform
  packages/next-codemod/bin/next-codemod.ts
  packages/next-codemod/bin/transform.ts
  packages/next-codemod/bin/upgrade.ts
Labels: type: next, created-by: Next.js team

#71084 [Turbopack] follow-up improvements from review
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
Labels: created-by: Turbopack team

#71082 chore: polish warning for esmExternals
  packages/next/src/server/config.ts
  test/e2e/next-config-warnings/esm-externals-false/esm-externals-false.test.ts
Labels: type: next, created-by: Next.js team, tests

#71088 go back to ignoring revalidates from render
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/revalidatetag-rsc/app/revalidate_via_page/page.tsx
  test/e2e/app-dir/revalidatetag-rsc/revalidatetag-rsc.test.ts
Labels: type: next, created-by: Next.js team, tests
