Repository vercel/next.js, pull requests merged in 2024-09, with the labels that each got.

#69524 fix: bump sharp@0.33.5
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#69547 docs: Use `useFormState` over `useActionState`
  docs/02-app/01-building-your-application/01-routing/05-error-handling.mdx
  docs/02-app/01-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
  docs/02-app/01-building-your-application/09-authentication/index.mdx
  docs/02-app/01-building-your-application/11-upgrading/02-version-15.mdx
  examples/next-forms/app/add-form.tsx
  examples/next-forms/app/delete-form.tsx
  examples/next-forms/package.json
  examples/with-fauna/components/EntryForm.tsx
  examples/with-fauna/package.json
Labels: examples, Documentation, created-by: Next.js DevEx team

#69230 fix: styledComponents schema
  packages/next/src/server/config-schema.ts
  test/integration/config-validation/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#69124 feat(turbopack): Use mangled export names for fake exports
  turbopack/crates/turbopack-ecmascript/src/tree_shake/graph.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/3/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/amphtml-document/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/app-route/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/assign-before-decl-fn/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/assign-before-decl-var/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/combined-export/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/complex/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/export-named/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-3/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/grouping/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/ipc-evaluate/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/ipc-index/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/let-bug-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/logger/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/mui-sys/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/multi-export/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/nanoid/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/next-response/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/nextjs-tracer/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/node-fetch/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/otel-core/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/route-handler/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/route-kind/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/shared-2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/shared-and-side-effects/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/shared-regression/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/simple-vars-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/simple/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/template-pages/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/tla-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/typeof-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/write-order/output.md
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/dynamic-import/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_dynamic-import_input_lib_6a2aa9.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/dynamic-import/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_dynamic-import_input_lib_6a2aa9.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-named/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_export-named_input_e124f3._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-named/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_export-named_input_e124f3._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_export-namespace_input_90a893._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_export-namespace_input_90a893._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named-all/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-named-all_input_fffde0._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named-all/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-named-all_input_fffde0._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-named_input_7d8cea._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-named/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-named_input_7d8cea._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-namespace_input_ab57e2._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-namespace_input_ab57e2._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-side-effect/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-side-effect_input_98e37c._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-side-effect/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-side-effect_input_98e37c._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/require-side-effect/output/4c35f_tests_snapshot_basic-tree-shake_require-side-effect_input_a86367._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/require-side-effect/output/4c35f_tests_snapshot_basic-tree-shake_require-side-effect_input_a86367._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_7bacd6.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_7bacd6.js.map
Labels: created-by: Turbopack team

#69583 feat: Report correct errors for missing `use client` in global-errors.ts
  crates/next-custom-transforms/src/transforms/react_server_components.rs
Labels: Turbopack, created-by: Turbopack team, tests

#69611 backport: swc fixes
  packages/next/src/build/webpack/plugins/terser-webpack-plugin/src/index.ts
  test/production/terser-class-static-blocks/pages/index.tsx
  test/production/terser-class-static-blocks/terser-class-static-blocks.test.ts
Labels: type: next, created-by: Next.js team, tests

#69534 Turbopack build: Implement `regions` and `assets` field in manifest for middleware
  crates/next-api/src/app.rs
  crates/next-api/src/middleware.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/paths.rs
  crates/next-core/src/next_manifests/mod.rs
  crates/next-core/src/util.rs
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/og-api/app/app/og-node/route.js
  test/e2e/og-api/app/app/og/route.js
  test/e2e/og-api/app/pages/api/og-wrong-runtime.js
  test/e2e/og-api/app/pages/api/og.js
  test/e2e/og-api/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, Turbopack, tests

#69614 Docs: Rewrite `cookies` page to follow template, add missing methods
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/01-building-your-application/12-examples/index.mdx
  docs/02-app/02-api-reference/04-functions/cookies.mdx
Labels: Documentation, created-by: Next.js DevEx team

#69512 Explicitly assert on errors instead of the error number
  test/integration/link-ref/test/index.test.js
Labels: created-by: Next.js team, tests, CI Bypass Graphite Optimization

#69357 Add browser devtool inspect url copy button to dev overlay
  docs/02-app/01-building-your-application/07-configuring/16-debugging.mdx
  packages/next/src/client/components/react-dev-overlay/app/ReactDevOverlay.tsx
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/internal/components/copy-button/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/components/nodejs-inspector.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/BuildError.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/root-layout-missing-tags-error.tsx
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/types.ts
  packages/next/src/server/dev/hot-middleware.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/lib/utils.ts
  test/development/app-dir/devtool-copy-button/app/layout.tsx
  test/development/app-dir/devtool-copy-button/app/page.tsx
  test/development/app-dir/devtool-copy-button/devtool-copy-button.test.ts
  test/development/app-dir/devtool-copy-button/next.config.js
Labels: type: next, created-by: Next.js team, Documentation, tests

#69515 Match peer dependencies in rsc-binary tests
  test/e2e/app-dir/binary/rsc-binary.test.ts
Labels: created-by: Next.js team, tests

#69492 Lazily init fetch dedupe cache
  packages/next/src/server/lib/dedupe-fetch.ts
Labels: type: next, created-by: Next.js team, tests, CI Bypass Graphite Optimization

#69602 Turbopack build: Fix middleware matchers implementation
  crates/next-api/src/middleware.rs
  packages/next/src/server/dev/turbopack/manifest-loader.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Turbopack, tests

#69624 fix(scripts): correct globbing, cargo colors, patch path
  scripts/build-native.cjs
  scripts/pack-next.cjs
  scripts/pack-util.cjs
  scripts/patch-next.cjs
Labels: created-by: Turbopack team

#69549 chore(metadata): add clarifying comment
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.ts
Labels: type: next, created-by: Next.js team, Metadata

#69632 ci: only trigger slack webhook from canary
  .github/workflows/retry_deploy_test.yml
  .github/workflows/retry_test.yml
Labels: created-by: Next.js team

#69609 Remove unsupported providerImportSource option
  packages/next-mdx/readme.md
Labels: type: next

#69633 Skip devlow benchmark step for forks
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#69568 Fix typos
  crates/next-core/src/app_segment_config.rs
  docs/04-architecture/turbopack.mdx
  packages/next/src/build/handle-externals.ts
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/pages/ErrorBoundary.tsx
  packages/next/src/client/components/redirect-boundary.tsx
  packages/next/src/compiled/amphtml-validator/index.js
  packages/next/src/server/route-modules/app-route/helpers/auto-implement-methods.ts
  packages/next/taskfile.js
  test/development/pages-dir/client-navigation/fixture/pages/head-duplicate-default-keys.js
  turbopack/crates/turbo-tasks-memory/src/aggregation/new_edge.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-css/src/process.rs
Labels: type: next, Documentation, Turbopack, tests

#68807 fix(eslint): allow typescript-eslint v8
  packages/eslint-config-next/package.json
  pnpm-lock.yaml
  test/production/eslint/test/__snapshots__/next-build-and-lint.test.ts.snap
Labels: type: next, tests

#69586 Allow external image urls with _next/image pathname to be rendered via Image component
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next, tests

#69585 perf: Cache Rust `Regex`es
  crates/next-core/src/next_edge/route_regex.rs
  crates/next-custom-transforms/src/transforms/react_server_components.rs
Labels: Turbopack, created-by: Turbopack team

#69596 Updated the example of with-dynamic-import to utilize the App Router.
  examples/with-dynamic-import/app/_components/Header.tsx
  examples/with-dynamic-import/app/_components/hello1.tsx
  examples/with-dynamic-import/app/_components/hello2.tsx
  examples/with-dynamic-import/app/_components/hello3.tsx
  examples/with-dynamic-import/app/_components/hello4.tsx
  examples/with-dynamic-import/app/_components/hello5.tsx
  examples/with-dynamic-import/app/layout.tsx
  examples/with-dynamic-import/app/page.tsx
  examples/with-dynamic-import/next-env.d.ts
  examples/with-dynamic-import/package.json
  examples/with-dynamic-import/tsconfig.json
Labels: examples

#68921 refactor(turbo-tasks): Make CURRENT_TASK_STATE shareable across multiple tokio tasks / threads, wait for detached work to finish before exiting a turbo task
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbo-tasks-memory/tests/detached.rs
  turbopack/crates/turbo-tasks-testing/tests/detached.rs
  turbopack/crates/turbo-tasks/Cargo.toml
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: created-by: Turbopack team

#68963 refactor(turbo-tasks): Split local and global task state
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: created-by: Turbopack team

#69297 docs: Fix invalid arguments for sendGTMEvent
  docs/02-app/01-building-your-application/06-optimizing/12-third-party-libraries.mdx
Labels: Documentation

#69392 examples: Supabase follow up fixes
  examples/with-supabase/README.md
  examples/with-supabase/components/deploy-button.tsx
Labels: examples, created-by: Next.js DevEx team

#69638 ensure test_e2e_deploy_release installs native swc binaries
  .github/workflows/build_reusable.yml
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Next.js team

#69626 fix(turbopack): reduce severity of resolve issues during analysis
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: created-by: Turbopack team

#69615 Turbopack build: Update generate-middleware-source-map test
  test/production/generate-middleware-source-maps/index.test.ts
  test/production/generate-middleware-source-maps/middleware.js
  test/production/generate-middleware-source-maps/pages/api/edge.js
  test/production/generate-middleware-source-maps/pages/index.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69653 Revert "docs: Fix invalid arguments for sendGTMEvent"
  docs/02-app/01-building-your-application/06-optimizing/12-third-party-libraries.mdx
Labels: created-by: Next.js team, Documentation

#69654 Revert "Revert "docs: Fix invalid arguments for sendGTMEvent""
  docs/02-app/01-building-your-application/06-optimizing/12-third-party-libraries.mdx
Labels: created-by: Next.js team, Documentation

#69655 fix trace file reloading
  turbopack/crates/turbopack-trace-server/src/reader/mod.rs
Labels: created-by: Turbopack team

#68969 Turbopack build: Fix telemetry tests
  test/integration/telemetry/pages/dynamic-file-imports/index.js
  test/integration/telemetry/pages/warning.skip
  test/integration/telemetry/test/index.test.js
  test/integration/telemetry/test/page-features.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69648 Revert "ci: only trigger slack webhook from canary"
  .github/workflows/retry_deploy_test.yml
  .github/workflows/retry_test.yml
Labels: created-by: Next.js team

#69673 backport: next/image fixes
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next, created-by: Next.js team, tests

#69618 docs: add links to search params on server/client
  docs/02-app/01-building-your-application/12-examples/index.mdx
Labels: Documentation, created-by: Next.js DevEx team

#68996 refactor(turbo-tasks) Add a higher-level task-local state API for the Backend trait
  turbopack/crates/turbo-tasks-memory/src/memory_backend.rs
  turbopack/crates/turbo-tasks-memory/src/task.rs
  turbopack/crates/turbo-tasks-testing/tests/detached.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: created-by: Turbopack team

#69686 docs(usePathname): add note about using usePathname with rewrites
  docs/02-app/02-api-reference/04-functions/use-pathname.mdx
Labels: created-by: Next.js team, Documentation

#69073 chore(turbo-tasks): Move Invalidator struct from manager.rs to invalidation.rs
  turbopack/crates/turbo-tasks/src/invalidation.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: created-by: Turbopack team

#69657 [Turbopack] transient when the self argument is transient
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks/src/macro_helpers.rs
  turbopack/crates/turbo-tasks/src/raw_vc.rs
Labels: created-by: Turbopack team

#68908 refactor(turbo-tasks): Add stubs for RawVc::TaskOutput
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks/src/id.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/raw_vc.rs
Labels: Turbopack, created-by: Turbopack team

#69690 fix merge conflict
  turbopack/crates/turbo-tasks/src/raw_vc.rs
Labels: created-by: Turbopack team

#69659 [Turbopack] use file.read() instead of file.track() in webpack loaders
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
Labels: created-by: Turbopack team

#69660 [Turbopack] no need to depend on write completion
  crates/next-api/src/project.rs
  turbopack/crates/turbo-tasks-fs/src/embed/dir.rs
  turbopack/crates/turbo-tasks-fs/src/embed/fs.rs
  turbopack/crates/turbo-tasks-fs/src/invalidator_map.rs
  turbopack/crates/turbo-tasks/src/state.rs
  turbopack/crates/turbopack-node/src/evaluate.rs
Labels: Turbopack, created-by: Turbopack team

#69692 Update the preview tarball binaries
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#69661 [Turbopack] gracefully stop turbo-tasks to allow persisting to complete
  crates/napi/src/next_api/project.rs
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks-testing/src/run.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: type: next, created-by: Turbopack team

#69695 docs: update note on caching and db/orms
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching.mdx
Labels: Documentation

#69220 fix: ensure absolute paths are handled correctly with `--file` option in `next lint` command for `lint-staged` compatibility
  packages/next/src/cli/next-lint.ts
Labels: type: next

#69696 refactor(github): refactor triage-issues-with-ai to generateObject
  .github/actions/next-repo-actions/dist/triage-issues-with-ai/index.js
  .github/actions/next-repo-actions/lib/types.ts
  .github/actions/next-repo-actions/package.json
  .github/actions/next-repo-actions/src/triage-issues-with-ai.ts
  .github/pnpm-lock.yaml
Labels: created-by: Next.js team

#69494 dev-overlay: Implement CopyButton without useActionState or async transitions
  packages/next/src/client/components/react-dev-overlay/internal/components/copy-button/index.tsx
Labels: examples, type: next, create-next-app, created-by: Next.js team, Documentation, Turbopack, tests, CI Bypass Graphite Optimization

#69675 fix: Allow subset of node.js APIs for edge
  crates/next-custom-transforms/src/transforms/warn_for_edge_runtime.rs
  crates/next-custom-transforms/tests/fixture/edge-assert/nodejs-import-allowed/input.js
  crates/next-custom-transforms/tests/fixture/edge-assert/nodejs-import-allowed/output.js
  test/integration/edge-runtime-module-errors/test/module-imports.test.js
Labels: Turbopack, created-by: Turbopack team, tests

#69564 Run link-ref tests in /app and /pages
  test/integration/link-ref-app/app/child-ref-func-cleanup/page.js
  test/integration/link-ref-app/app/child-ref-func/page.js
  test/integration/link-ref-app/app/child-ref/page.js
  test/integration/link-ref-app/app/class/page.js
  test/integration/link-ref-app/app/click-away-race-condition/page.js
  test/integration/link-ref-app/app/function/page.js
  test/integration/link-ref-app/app/layout.js
  test/integration/link-ref-app/app/page.js
  test/integration/link-ref-app/test/index.test.js
  test/integration/link-ref-pages/pages/child-ref-func-cleanup.js
  test/integration/link-ref-pages/pages/child-ref-func.js
  test/integration/link-ref-pages/pages/child-ref.js
  test/integration/link-ref-pages/pages/class.js
  test/integration/link-ref-pages/pages/click-away-race-condition.js
  test/integration/link-ref-pages/pages/function.js
  test/integration/link-ref-pages/pages/index.js
  test/integration/link-ref-pages/test/index.test.js
Labels: examples, type: next, create-next-app, created-by: Next.js team, Documentation, Turbopack, tests

#69282 Partial Fallback Prerendering Route Shells
  packages/next/src/server/base-server.ts
  packages/next/src/server/image-optimizer.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/utils.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/ppr-full/app/api/revalidate/route.js
  test/e2e/app-dir/ppr-full/app/fallback/dynamic/params/[slug]/layout.jsx
  test/e2e/app-dir/ppr-full/app/fallback/dynamic/params/[slug]/page.jsx
  test/e2e/app-dir/ppr-full/app/fallback/loading.jsx
  test/e2e/app-dir/ppr-full/app/fallback/nested/params/[...slug]/page.jsx
  test/e2e/app-dir/ppr-full/app/fallback/nested/use-params/[...slug]/page.jsx
  test/e2e/app-dir/ppr-full/app/fallback/nested/use-pathname/[...slug]/page.jsx
  test/e2e/app-dir/ppr-full/app/fallback/params/[slug]/page.jsx
  test/e2e/app-dir/ppr-full/app/fallback/use-params/[slug]/page.jsx
  test/e2e/app-dir/ppr-full/app/fallback/use-pathname/[slug]/page.jsx
  test/e2e/app-dir/ppr-full/app/layout.jsx
  test/e2e/app-dir/ppr-full/ppr-full.test.ts
  test/e2e/app-dir/ppr-incremental/ppr-incremental.test.ts
Labels: type: next, created-by: Next.js team, tests

#69647 docs: add PWA docs with App Router
  docs/02-app/01-building-your-application/07-configuring/16-progressive-web-apps.mdx
Labels: Documentation, created-by: Next.js DevEx team

#69700 docs: Update unstable_cache
  docs/02-app/02-api-reference/04-functions/unstable_cache.mdx
Labels: Documentation, created-by: Next.js DevEx team

#69610 Ensure externalized React entrypoints use vendored React in App Router
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-client.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-client.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-profiling.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-profiling.profiling.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.bun.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-client.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-client.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-profiling.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-profiling.profiling.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.bun.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.production.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#69702 docs: fix data fetching with ORM
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching.mdx
Labels: Documentation, created-by: Next.js DevEx team

#69691 Turbopack dev/build: Ensure @vercel/og is external in Node.js environment
  crates/next-core/src/next_import_map.rs
Labels: created-by: Next.js team, Turbopack

#69671 Turbopack build: Skip irrelevant telemetry tests
  test/integration/telemetry/test/config.test.js
  test/production/next-font/telemetry.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69703 fix(turbopack): Pass `resourceQuery` to loaders
  test/e2e/app-dir/turbopack-loader-resource-query/app/layout.tsx
  test/e2e/app-dir/turbopack-loader-resource-query/app/page.tsx
  test/e2e/app-dir/turbopack-loader-resource-query/app/test.mdx
  test/e2e/app-dir/turbopack-loader-resource-query/next.config.js
  test/e2e/app-dir/turbopack-loader-resource-query/node_modules/test-loader.js
  test/e2e/app-dir/turbopack-loader-resource-query/turbopack-loader-resource-query.test.ts
  turbopack/crates/turbopack-core/src/ident.rs
  turbopack/crates/turbopack-node/js/src/transforms/webpack-loaders.ts
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
Labels: created-by: Turbopack team, tests

#69719 Docs: Fix `cookies` page code blocks
  docs/02-app/02-api-reference/04-functions/cookies.mdx
Labels: Documentation, created-by: Next.js DevEx team

#69722 Turbopack build: Implement --experimental-app-only flag
  packages/next/src/build/index.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#69619 Use vendored React version in Middleware and Instrumentation
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/build/webpack-config.ts
Labels: type: next, create-next-app, created-by: Next.js team, Documentation, tests

#69729 Turbopack build: Skip webpack config tests
  test/integration/config-promise-error/test/index.test.js
  test/integration/turbotrace-with-webpack-worker/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69662 [Turbopack] fix serialization problems/bugs
  Cargo.lock
  Cargo.toml
  crates/next-core/src/next_config.rs
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbo-tasks-fs/src/rope.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/task/shared_reference.rs
  turbopack/crates/turbo-tasks/src/trace.rs
  turbopack/crates/turbopack-browser/src/ecmascript/merged/update.rs
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/environment.rs
  turbopack/crates/turbopack-core/src/resolve/alias_map.rs
Labels: Turbopack, created-by: Turbopack team

#69663 [Turbopack] refactoring/todos
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-94db86.txt
  turbopack/crates/turbopack-tests/tests/snapshot/imports/json/output/turbopack_crates_turbopack-tests_tests_snapshot_imports_json_input_52abdb._.js
Labels: type: next, created-by: Turbopack team

#69636 docs: fix typo in doc on rendering
  docs/02-app/01-building-your-application/03-rendering/04-partial-prerendering.mdx
Labels: Documentation

#69745 misc: typo in var name
  packages/next/src/pages/_document.tsx
Labels: type: next, created-by: Next.js team

#69520 Partial Prerendering Basepath Fix
  packages/next/src/build/index.ts
  packages/next/src/build/rendering-mode.ts
  packages/next/src/lib/constants.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/shared-revalidate-timings.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#69146 refactor some of the font code
  crates/next-core/src/next_font/google/mod.rs
  crates/next-core/src/next_import_map.rs
  crates/next-custom-transforms/src/transforms/fonts/font_functions_collector.rs
Labels: Font (next/font), Turbopack, created-by: Turbopack team

#69730 Turbopack build: Update css modules tests
  test/integration/css-modules/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69727 Update 16-progressive-web-apps.mdx
  docs/02-app/01-building-your-application/07-configuring/16-progressive-web-apps.mdx
Labels: Documentation

#69759 update pages-dir test for React 18 assertions
  test/production/pages-dir/production/test/index.test.ts
Labels: created-by: Next.js team, tests

#69757 re-add hydration support to React 18 errors
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/component-stack-pseudo-html.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/hydration-error-info.ts
  packages/next/src/client/components/react-dev-overlay/pages/client.ts
  test/development/acceptance/hydration-error-react-19.test.ts
  test/development/acceptance/hydration-error.test.ts
  test/development/basic/hmr.test.ts
  test/integration/auto-export/test/index.test.js
  test/production/pages-dir/production/test/index.test.ts
Labels: examples, type: next, create-next-app, created-by: Next.js team, tests

#69766 pages bugfix: prevent cancellation errors from being logged
  packages/next/src/shared/lib/router/router.ts
  test/e2e/getserversideprops/app/pages/index.js
  test/e2e/getserversideprops/app/pages/redirect-page.js
  test/e2e/getserversideprops/app/public/favicon.ico
  test/e2e/getserversideprops/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#69749 Revert "Fix esm property def in flight loader (#66990)"
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  test/e2e/app-dir/app-routes-client-component/app-routes-client-component.test.ts
  test/e2e/app-dir/dynamic/app/dynamic/named-export/page.js
Labels: type: next, created-by: Next.js team, tests

#69783 Turbopack build: Fix next-image-new/base-path test
  test/integration/next-image-new/base-path/test/static.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69762 chore(turbopack-ecmascript): Remove unneeded async recursion '_boxed' helper
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: created-by: Turbopack team

#69788 Disable experimental.optimizeServer by default
  packages/next/src/server/config-shared.ts
  test/production/app-dir/actions-tree-shaking/_testing/utils.ts
  test/production/app-dir/actions-tree-shaking/shared-module-actions/tsconfig.json
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/layout.js
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/mixed/actions.ts
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/mixed/my-component.tsx
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/mixed/page.tsx
  test/production/app-dir/actions-tree-shaking/use-effect-actions/tsconfig.json
  test/production/app-dir/actions-tree-shaking/use-effect-actions/use-effect-actions-edge.test.ts
  test/production/app-dir/actions-tree-shaking/use-effect-actions/use-effect-actions.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#69670 [Turbopack] handle state serialization
  Cargo.lock
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks/Cargo.toml
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/serialization_invalidation.rs
  turbopack/crates/turbo-tasks/src/state.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
Labels: created-by: Turbopack team

#69793 [Turbopack] fix require.resolve self hanging
  turbopack/crates/turbo-tasks-memory/src/aggregation/notify_new_follower.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-resolve/src/ecmascript.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/require-resolve/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/require-resolve/options.json
Labels: created-by: Turbopack team

#69795 Turbopack dev/build: Ignore empty tsconfig/jsconfig
  test/turbopack-build-tests-manifest.json
  turbopack/crates/turbopack-resolve/src/typescript.rs
Labels: created-by: Next.js team, tests

#69799 Fix middleware fallback: false case
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  test/e2e/middleware-general/app/pages/ssg-fallback-false/[slug].js
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#69741 docs: document the next/dynamic case with ssr: false option
  docs/02-app/01-building-your-application/06-optimizing/07-lazy-loading.mdx
Labels: created-by: Next.js team, Documentation

#69806 create-next-app: fix font file corruption when using import alias
  packages/create-next-app/templates/index.ts
  test/integration/create-next-app/templates/matrix.test.ts
Labels: create-next-app, created-by: Next.js team, tests

#69808 Fix status code for /_not-found route (#64058)
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69810 chore(github): add issues_version.yml workflow
  .github/actions/next-repo-actions/dist/issues-by-version/index.js
  .github/actions/next-repo-actions/dist/issues-by-version/licenses.txt
  .github/actions/next-repo-actions/package.json
  .github/actions/next-repo-actions/src/issues-by-version.ts
  .github/workflows/issue_version.yml
Labels: created-by: Next.js team

#69828 Turbopack build: Fix middleware dead code elimination test
  test/production/edge-runtime-is-addressable/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69804 fix: Fix find_turbopack_part_id_in_asserts in the PartId::Export(e) case
  turbopack/crates/turbopack-ecmascript/src/tree_shake/graph.rs
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/dynamic-import/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_dynamic-import_input_lib_6a2aa9.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/dynamic-import/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_dynamic-import_input_lib_6a2aa9.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_export-namespace_input_90a893._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/export-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_export-namespace_input_90a893._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-namespace_input_ab57e2._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/import-namespace/output/b1abf_turbopack-tests_tests_snapshot_basic-tree-shake_import-namespace_input_ab57e2._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/require-side-effect/output/4c35f_tests_snapshot_basic-tree-shake_require-side-effect_input_a86367._.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/require-side-effect/output/4c35f_tests_snapshot_basic-tree-shake_require-side-effect_input_a86367._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_7bacd6.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_7bacd6.js.map
Labels: created-by: Turbopack team

#69850 ensure aliased prefetches return correct segment key
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/server/app-render/create-flight-router-state-from-loader-tree.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/src/shared/lib/segment.ts
  test/e2e/app-dir/searchparams-reuse-loading/app/other-page/page.tsx
  test/e2e/app-dir/searchparams-reuse-loading/app/page.tsx
  test/e2e/app-dir/searchparams-reuse-loading/searchparams-reuse-loading.test.ts
Labels: type: next, created-by: Next.js team, tests

#69807 Fix metadata prop merging
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/metadata-navigation/app/(cart)/product/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/(cart)/product/page.tsx
  test/e2e/app-dir/metadata-navigation/app/@header/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/@header/page.tsx
  test/e2e/app-dir/metadata-navigation/app/@header/product/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/@header/product/page.tsx
  test/e2e/app-dir/metadata-navigation/app/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/page.tsx
  test/e2e/app-dir/metadata-navigation/metadata-navigation.test.ts
Labels: type: next, created-by: Next.js team, tests

#69737 feat(turbopack): add `experimental.turbo.root` config option
  packages/next/src/build/index.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/shared/lib/dset.d.ts
  packages/next/src/shared/lib/dset.js
Labels: type: next, created-by: Turbopack team

#69781 Turbopack dev/build: Initial browserslist passing
  crates/napi/src/next_api/project.rs
  crates/next-api/src/project.rs
  crates/next-build-test/src/main.rs
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  test/development/basic/next-rs-api.test.ts
  turbopack/crates/turbopack-ecmascript-runtime/src/asset_context.rs
Labels: type: next, created-by: Next.js team, Turbopack, tests

#69724 Docs: Refactor and tidy Link docs
  docs/02-app/01-building-your-application/01-routing/04-linking-and-navigating.mdx
  docs/02-app/02-api-reference/01-components/link.mdx
  docs/03-pages/02-api-reference/03-functions/use-router.mdx
Labels: Documentation, created-by: Next.js DevEx team

#69862 [Turbopack] only subscribe to changes in dev mode
  packages/next/src/build/index.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Turbopack team

#68698 HMR: Log unexpected Turbopack errors to a file
  crates/napi/src/lib.rs
  crates/napi/src/next_api/project.rs
  crates/napi/src/util.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Turbopack team

#69805 chore(turbopack-ecmascript): Remove more `_boxed` async recursion helpers, and remove the async-recursion macro
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-core/src/app_segment_config.rs
  crates/next-core/src/loader_tree.rs
  turbopack/crates/turbopack-bench/src/util/prepared_app.rs
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/chunk/chunking.rs
  turbopack/crates/turbopack-core/src/condition.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/options.rs
  turbopack/crates/turbopack-core/src/source_map/mod.rs
  turbopack/crates/turbopack/Cargo.toml
  turbopack/crates/turbopack/src/module_options/rule_condition.rs
Labels: Turbopack, created-by: Turbopack team

#69871 test: add test for parallel route nav case
  test/e2e/app-dir/metadata-navigation/app/parallel-route/@header/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/parallel-route/@header/page.tsx
  test/e2e/app-dir/metadata-navigation/app/parallel-route/@header/product/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/parallel-route/@header/product/page.tsx
  test/e2e/app-dir/metadata-navigation/app/parallel-route/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/parallel-route/page.tsx
  test/e2e/app-dir/metadata-navigation/app/parallel-route/product/layout.tsx
  test/e2e/app-dir/metadata-navigation/app/parallel-route/product/page.tsx
  test/e2e/app-dir/metadata-navigation/metadata-navigation.test.ts
Labels: created-by: Next.js team, tests

#69616 Docs: Refactor `draftMode()` page to follow template, document missing methods, improve guide
  docs/02-app/01-building-your-application/07-configuring/11-draft-mode.mdx
  docs/02-app/02-api-reference/04-functions/draft-mode.mdx
Labels: Documentation, created-by: Next.js DevEx team

#69889 test: lock ts type check
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team, tests

#69822 fix: use correct protocol when -H and --experimental-https are enabled
  packages/next/src/server/lib/start-server.ts
Labels: type: next

#69457 fix: remove unnecessary console in `isDynamicPostpone`
  packages/next/src/server/app-render/dynamic-rendering.ts
Labels: type: next

#69875 Turbopack build: Skip webpack specific test
  test/integration/gsp-build-errors/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69771 updated the example of modularize-imports to utilize the App Router
  examples/modularize-imports/.gitignore
  examples/modularize-imports/README.md
  examples/modularize-imports/components/halves/LeftHalf.tsx
  examples/modularize-imports/components/halves/RightHalf.tsx
  examples/modularize-imports/components/halves/index.tsx
  examples/modularize-imports/components/ui/heading-large.tsx
  examples/modularize-imports/components/ui/index.tsx
  examples/modularize-imports/next-env.d.ts
  examples/modularize-imports/next.config.js
  examples/modularize-imports/package.json
  examples/modularize-imports/pages/index.tsx
  examples/modularize-imports/tsconfig.json
Labels: examples, CI approved

#69883 Turbopack build: Fix typeof-window-replace tests
  test/integration/typeof-window-replace/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69894 docs(link): update scroll docs
  docs/02-app/02-api-reference/01-components/link.mdx
Labels: created-by: Next.js team, Documentation

#69484 Support React 18 in Pages Router
  examples/reproduction-template/package.json
  package.json
  packages/create-next-app/templates/index.ts
  packages/next/package.json
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/component-stack-pseudo-html.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/hydration-error-info.ts
  packages/next/src/client/components/react-dev-overlay/pages/client.ts
  packages/next/src/client/legacy/image.tsx
  packages/next/src/client/use-merged-ref.ts
  packages/next/src/compiled/unistore/unistore.js
  packages/next/src/server/render.tsx
  packages/next/types/react-dom.d.ts
  packages/next/webpack.config.js
  pnpm-lock.yaml
  run-tests.js
  test/.stats-app/package.json
  test/development/acceptance/hydration-error-react-19.test.ts
  test/development/acceptance/hydration-error.test.ts
  test/development/app-dir/ssr-in-rsc/ssr-in-rsc.test.ts
  test/development/basic/hmr.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/pages-dir/client-navigation/rendering.test.ts
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
  test/e2e/next-test/first-time-setup-js/package.json
  test/e2e/next-test/first-time-setup-ts/package.json
  test/e2e/prerender-native-module.test.ts
  test/e2e/prerender.test.ts
  test/integration/amphtml/test/index.test.js
  test/integration/auto-export/test/index.test.js
  test/integration/link-ref/app/layout.js
  test/integration/module-id-strategies/components/CustomComponent.tsx
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/react-current-version/test/index.test.js
  test/lib/next-modes/base.ts
  test/production/custom-server/custom-server.test.ts
  test/production/pages-dir/production/test/index.test.ts
Labels: examples, type: next, create-next-app, created-by: Next.js team, tests, CI Bypass Graphite Optimization

#69887 chore(cna): re-add /public
  packages/create-next-app/templates/app-tw/js/app/page.js
  packages/create-next-app/templates/app-tw/js/public/file.svg
  packages/create-next-app/templates/app-tw/js/public/globe.svg
  packages/create-next-app/templates/app-tw/js/public/next.svg
  packages/create-next-app/templates/app-tw/js/public/vercel.svg
  packages/create-next-app/templates/app-tw/js/public/window.svg
  packages/create-next-app/templates/app-tw/ts/app/page.tsx
  packages/create-next-app/templates/app-tw/ts/public/file.svg
  packages/create-next-app/templates/app-tw/ts/public/globe.svg
  packages/create-next-app/templates/app-tw/ts/public/next.svg
  packages/create-next-app/templates/app-tw/ts/public/vercel.svg
  packages/create-next-app/templates/app-tw/ts/public/window.svg
  packages/create-next-app/templates/app/js/app/page.js
  packages/create-next-app/templates/app/js/public/file.svg
  packages/create-next-app/templates/app/js/public/globe.svg
  packages/create-next-app/templates/app/js/public/next.svg
  packages/create-next-app/templates/app/js/public/vercel.svg
  packages/create-next-app/templates/app/js/public/window.svg
  packages/create-next-app/templates/app/ts/app/page.tsx
  packages/create-next-app/templates/app/ts/public/file.svg
  packages/create-next-app/templates/app/ts/public/globe.svg
  packages/create-next-app/templates/app/ts/public/next.svg
  packages/create-next-app/templates/app/ts/public/vercel.svg
  packages/create-next-app/templates/app/ts/public/window.svg
  packages/create-next-app/templates/default-tw/js/pages/index.js
  packages/create-next-app/templates/default-tw/js/public/file.svg
  packages/create-next-app/templates/default-tw/js/public/globe.svg
  packages/create-next-app/templates/default-tw/js/public/next.svg
  packages/create-next-app/templates/default-tw/js/public/vercel.svg
  packages/create-next-app/templates/default-tw/js/public/window.svg
  packages/create-next-app/templates/default-tw/ts/pages/index.tsx
  packages/create-next-app/templates/default-tw/ts/public/file.svg
  packages/create-next-app/templates/default-tw/ts/public/globe.svg
  packages/create-next-app/templates/default-tw/ts/public/next.svg
  packages/create-next-app/templates/default-tw/ts/public/vercel.svg
  packages/create-next-app/templates/default-tw/ts/public/window.svg
  packages/create-next-app/templates/default/js/pages/index.js
  packages/create-next-app/templates/default/js/public/file.svg
  packages/create-next-app/templates/default/js/public/globe.svg
  packages/create-next-app/templates/default/js/public/next.svg
  packages/create-next-app/templates/default/js/public/vercel.svg
  packages/create-next-app/templates/default/js/public/window.svg
  packages/create-next-app/templates/default/ts/pages/index.tsx
  packages/create-next-app/templates/default/ts/public/file.svg
  packages/create-next-app/templates/default/ts/public/globe.svg
  packages/create-next-app/templates/default/ts/public/next.svg
  packages/create-next-app/templates/default/ts/public/vercel.svg
  packages/create-next-app/templates/default/ts/public/window.svg
Labels: create-next-app, created-by: Next.js team

#69896 docs(link): additional updates with regards to scrolling behavior in App Router
  docs/02-app/02-api-reference/01-components/link.mdx
Labels: created-by: Next.js team, Documentation

#69867 Turbopack build: Fix script-loader test
  test/integration/script-loader/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69898 docs(revalidate): add not about revalidate in Development
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
Labels: created-by: Next.js team, Documentation

#69919 Turbopack build: Fix process.browser tests
  test/lib/next-test-utils.ts
  test/production/pages-dir/production/test/process-env.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69921 Turbopack build: Fix next-image invalid import test
  test/integration/next-image-new/invalid-image-import/test/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69620 Pass client trace metadata to client in pages router
  packages/next/src/pages/_document.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/make-get-server-inserted-html.tsx
  packages/next/src/server/lib/trace/utils.ts
  packages/next/src/server/render.tsx
  packages/next/src/shared/lib/html-context.shared-runtime.ts
  test/e2e/opentelemetry/client-trace-metadata/app/app-router/dynamic-page/page.tsx
  test/e2e/opentelemetry/client-trace-metadata/app/app-router/static-page-2/page.tsx
  test/e2e/opentelemetry/client-trace-metadata/app/app-router/static-page/page.tsx
  test/e2e/opentelemetry/client-trace-metadata/app/app-router/suspense/client.tsx
  test/e2e/opentelemetry/client-trace-metadata/app/app-router/suspense/page.tsx
  test/e2e/opentelemetry/client-trace-metadata/client-trace-metadata.test.ts
  test/e2e/opentelemetry/client-trace-metadata/instrumentation.ts
  test/e2e/opentelemetry/client-trace-metadata/pages/pages-router/dynamic-page.tsx
  test/e2e/opentelemetry/client-trace-metadata/pages/pages-router/static-page-2.tsx
  test/e2e/opentelemetry/client-trace-metadata/pages/pages-router/static-page.tsx
Labels: type: next, CI approved, tests

#69569 Reapply "validate path lengths before writes and attempt to eagerly c…
  turbopack/crates/turbo-tasks-fs/src/lib.rs
Labels: created-by: Turbopack team

#69472 refactor(turbo-tasks): Remove some `format_description` logic from memory backend
  turbopack/crates/turbo-tasks-memory/src/task.rs
Labels: created-by: Turbopack team

#69473 refactor(turbo-tasks): Move OutputContent from memory backend into turbo-tasks, represent Empty as None
  turbopack/crates/turbo-tasks-memory/src/output.rs
  turbopack/crates/turbo-tasks-memory/src/task.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/output.rs
Labels: created-by: Turbopack team

#69925 Revert server action optimization
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/server/config-shared.ts
  test/production/app-dir/actions-tree-shaking/_testing/utils.ts
  test/production/app-dir/actions-tree-shaking/basic/app/actions.js
  test/production/app-dir/actions-tree-shaking/basic/app/client/page.js
  test/production/app-dir/actions-tree-shaking/basic/app/inline/page.js
  test/production/app-dir/actions-tree-shaking/basic/app/layout.js
  test/production/app-dir/actions-tree-shaking/basic/app/server/page.js
  test/production/app-dir/actions-tree-shaking/basic/basic-edge.test.ts
  test/production/app-dir/actions-tree-shaking/basic/basic.test.ts
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/app/layout.js
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/app/mixed-module/cjs/actions.js
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/app/mixed-module/cjs/page.js
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/app/mixed-module/esm/actions.js
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/app/mixed-module/esm/page.js
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/mixed-module-actions-edge.test.ts
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/mixed-module-actions.test.ts
  test/production/app-dir/actions-tree-shaking/reexport/app/layout.js
  test/production/app-dir/actions-tree-shaking/reexport/app/named-reexport/client/actions.js
  test/production/app-dir/actions-tree-shaking/reexport/app/named-reexport/client/page.js
  test/production/app-dir/actions-tree-shaking/reexport/app/named-reexport/client/reexport-action.js
  test/production/app-dir/actions-tree-shaking/reexport/app/named-reexport/server/actions.js
  test/production/app-dir/actions-tree-shaking/reexport/app/named-reexport/server/page.js
  test/production/app-dir/actions-tree-shaking/reexport/app/named-reexport/server/reexport-action.js
  test/production/app-dir/actions-tree-shaking/reexport/app/namespace-reexport/client/actions.js
  test/production/app-dir/actions-tree-shaking/reexport/app/namespace-reexport/client/page.js
  test/production/app-dir/actions-tree-shaking/reexport/app/namespace-reexport/server/actions.js
  test/production/app-dir/actions-tree-shaking/reexport/app/namespace-reexport/server/page.js
  test/production/app-dir/actions-tree-shaking/reexport/reexport-edge.test.ts
  test/production/app-dir/actions-tree-shaking/reexport/reexport.test.ts
  test/production/app-dir/actions-tree-shaking/shared-module-actions/app/client/actions.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/app/client/one/page.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/app/client/two/page.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/app/layout.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/app/server/actions.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/app/server/one/page.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/app/server/two/page.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/shared-module-actions-edge.test.ts
  test/production/app-dir/actions-tree-shaking/shared-module-actions/shared-module-actions.test.ts
  test/production/app-dir/actions-tree-shaking/shared-module-actions/tsconfig.json
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/layout.js
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/mixed/actions.ts
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/mixed/my-component.tsx
  test/production/app-dir/actions-tree-shaking/use-effect-actions/app/mixed/page.tsx
  test/production/app-dir/actions-tree-shaking/use-effect-actions/tsconfig.json
  test/production/app-dir/actions-tree-shaking/use-effect-actions/use-effect-actions-edge.test.ts
  test/production/app-dir/actions-tree-shaking/use-effect-actions/use-effect-actions.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#69505 refactor(turbo-tasks-memory): Minor cleanup of code in turbo-tasks-memory/src/task.rs
  turbopack/crates/turbo-tasks-memory/src/task.rs
Labels: created-by: Turbopack team

#69914 Turbopack: more static typeof replacements for ESM
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/imports.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/input/cjs.js
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/input/dep.js
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/input/esm-automatic.js
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/input/esm-specified.mjs
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/issues/Specified module format (EcmaScript Modules) is no-d7ae6c.txt
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/output/4e721_crates_turbopack-tests_tests_snapshot_comptime_typeof_input_index_4cb5df.js
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/output/4e721_crates_turbopack-tests_tests_snapshot_comptime_typeof_input_index_4cb5df.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/output/turbopack_crates_turbopack-tests_tests_snapshot_comptime_typeof_input_80f572._.js
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/output/turbopack_crates_turbopack-tests_tests_snapshot_comptime_typeof_input_80f572._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/typeof-exports-esm/typeof-exports-esm/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/typeof-exports-esm/typeof-exports-esm/input/other-dep.js
  turbopack/crates/turbopack-tests/tests/snapshot/typeof-exports-esm/typeof-exports-esm/output/4c35f_tests_snapshot_typeof-exports-esm_typeof-exports-esm_input_ccc25d._.js
  turbopack/crates/turbopack-tests/tests/snapshot/typeof-exports-esm/typeof-exports-esm/output/4c35f_tests_snapshot_typeof-exports-esm_typeof-exports-esm_input_ccc25d._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/typeof-exports-esm/typeof-exports-esm/output/4c35f_tests_snapshot_typeof-exports-esm_typeof-exports-esm_input_index_eeae37.js
Labels: created-by: Turbopack team

#69884 Turbopack: Fix server action sourcemaps
  crates/next-api/src/server_actions.rs
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: Turbopack, created-by: Turbopack team, tests

#69811 Fix font size for build error version status
  packages/next/src/client/components/react-dev-overlay/internal/components/VersionStalenessInfo/styles.ts
Labels: type: next, CI approved

#69941 chore(github): update channel for popular-issues
  .github/actions/next-repo-actions/dist/issues/index.mjs
  .github/actions/next-repo-actions/dist/issues/licenses.txt
  .github/actions/next-repo-actions/src/popular-issues.mjs
Labels: created-by: Next.js team

#69801 fix: Fix the list of node.js modules compatible with edge
  crates/next-custom-transforms/src/transforms/warn_for_edge_runtime.rs
  crates/next-custom-transforms/tests/fixture/edge-assert/nodejs-import-allowed/input.js
  crates/next-custom-transforms/tests/fixture/edge-assert/nodejs-import-allowed/output.js
Labels: Turbopack, created-by: Turbopack team

#67257 feat(image-optimizer): use previously cached image cache entry if upstream image is identical
  packages/next/src/server/image-optimizer.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/response-cache/types.ts
  test/unit/image-optimizer/extract-etag.test.ts
  test/unit/image-optimizer/get-previously-cached-image-or-null.test.ts
Labels: type: next, tests

#69957 Turbopack build: Fix build-output tests
  test/integration/build-output/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#69961 Turbopack: `impl<T: ValueDebugFormat> Value<T>`
  turbopack/crates/turbo-tasks/src/value.rs
Labels: created-by: Turbopack team

#69665 docs: improve instrumentation docs
  docs/02-app/02-api-reference/02-file-conventions/instrumentation.mdx
Labels: created-by: Next.js team, Documentation

#69819 [Turbopack] add error for invalid exports
  Cargo.lock
  Cargo.toml
  crates/next-core/src/next_server_component/server_component_module.rs
  packages/next/src/build/templates/pages.ts
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-ecmascript/Cargo.toml
  turbopack/crates/turbopack-ecmascript/src/chunk/placeable.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export/input/invalid-export/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export/input/invalid-export/module.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export/issues/__l_Export __c_Abc__ doesn't exist in target modul-e35178.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export/options.json
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/basic/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/basic/input/node_modules/package-full/x.js
  turbopack/crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-2c5cf4.txt
  turbopack/crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/turbopack_crates_turbopack-tests_tests_snapshot_bff03a._.js
  turbopack/crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/output/turbopack_crates_turbopack-tests_tests_snapshot_bff03a._.js.map
  turbopack/crates/turbopack/src/lib.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#69962 docs: use `og:image` instead of `og:image:url`
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation, CI approved

#68157 handle empty query param issue in url redirects #68039
  packages/next/src/shared/lib/router/utils/prepare-destination.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/rewrites-redirects/rewrites-redirects.test.ts
Labels: type: next, tests

#69948 ensure final searchParams are reflected in final state tree
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/searchparams-reuse-loading/app/page.tsx
  test/e2e/app-dir/searchparams-reuse-loading/app/params-first/page.tsx
  test/e2e/app-dir/searchparams-reuse-loading/app/root-page-first/page.tsx
  test/e2e/app-dir/searchparams-reuse-loading/searchparams-reuse-loading.test.ts
Labels: type: next, created-by: Next.js team, tests

#69975 docs: update sizes="any" apply strategy to icons
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/app-icons.mdx
Labels: created-by: Next.js team, Documentation

#69951 [Turbopack] add rules for transitions
  crates/next-api/src/app.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/project.rs
  crates/next-core/src/next_client_reference/css_client_reference/css_client_reference_rule.rs
  crates/next-core/src/next_shared/transforms/mod.rs
  crates/next-core/src/next_shared/transforms/next_strip_page_exports.rs
  turbopack/crates/node-file-trace/src/lib.rs
  turbopack/crates/turbopack-cli/src/contexts.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/asset_context.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack/benches/node_file_trace.rs
  turbopack/crates/turbopack/examples/turbopack.rs
  turbopack/crates/turbopack/src/evaluate_context.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/match_mode.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_rule.rs
  turbopack/crates/turbopack/src/module_options/rule_condition.rs
  turbopack/crates/turbopack/src/module_options/transition_rule.rs
  turbopack/crates/turbopack/src/transition/mod.rs
  turbopack/crates/turbopack/tests/node-file-trace.rs
Labels: Turbopack, created-by: Turbopack team

#69974 chore(github): reduce per_page to 25 for issues-by-version
  .github/actions/next-repo-actions/dist/issues-by-version/index.js
  .github/actions/next-repo-actions/src/issues-by-version.ts
Labels: created-by: Next.js team

#69144 feat(turbopack): hash the font file name if it exceeds our max file size
  crates/next-core/src/next_font/google/mod.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-hash/src/lib.rs
  turbopack/crates/turbo-tasks-hash/src/xxh3_hash64.rs
Labels: Font (next/font), Turbopack, created-by: Turbopack team

#69960 updated the example of with-xstate to utilize the App Router
  examples/with-xstate/app/_components/Counter.tsx
  examples/with-xstate/app/_components/Toggle.tsx
  examples/with-xstate/app/_machines/counter.ts
  examples/with-xstate/app/_machines/toggle.ts
  examples/with-xstate/app/layout.tsx
  examples/with-xstate/app/page.tsx
  examples/with-xstate/components/Counter.tsx
  examples/with-xstate/components/Toggle.tsx
  examples/with-xstate/machines/counter.ts
  examples/with-xstate/next-env.d.ts
  examples/with-xstate/package.json
  examples/with-xstate/tsconfig.json
Labels: examples

#69990 Remove invalid fallback revalidate value
  packages/next/src/server/base-server.ts
  packages/next/src/server/render.tsx
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: type: next, created-by: Next.js team, tests

#69983 fix(turbopack): Improve guard detection of edge runtime checker
  crates/next-custom-transforms/src/transforms/warn_for_edge_runtime.rs
Labels: Turbopack, created-by: Turbopack team

#69986 fix(turbo-tasks): Implement IntoFuture for ResolvedVc
  turbopack/crates/turbo-tasks-memory/tests/resolved_vc.rs
  turbopack/crates/turbo-tasks-testing/tests/resolved_vc.rs
  turbopack/crates/turbo-tasks/src/vc/resolved.rs
Labels: created-by: Turbopack team

#69947 chore: Update lightningcss
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#69952 [Turbopack] place style imports in RSC in the client context
  crates/next-api/src/app.rs
  crates/next-core/src/next_app/app_client_references_chunks.rs
  crates/next-core/src/next_client_reference/css_client_reference/css_client_reference_module.rs
  crates/next-core/src/next_client_reference/css_client_reference/css_client_reference_module_type.rs
  crates/next-core/src/next_client_reference/css_client_reference/css_client_reference_rule.rs
  crates/next-core/src/next_client_reference/css_client_reference/mod.rs
  crates/next-core/src/next_client_reference/mod.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
  crates/next-core/src/next_server/transforms.rs
  test/e2e/app-dir/random-in-sass/app/layout.tsx
  test/e2e/app-dir/random-in-sass/app/page.tsx
  test/e2e/app-dir/random-in-sass/components/hello.module.scss
  test/e2e/app-dir/random-in-sass/components/hello.tsx
  test/e2e/app-dir/random-in-sass/next.config.js
  test/e2e/app-dir/random-in-sass/random-in-sass.test.ts
Labels: Turbopack, created-by: Turbopack team, tests

#70009 avoid duplicate page in test
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: created-by: Turbopack team, tests

#69985 [Turbopack] improve hmr stability
  crates/next-api/src/project.rs
  crates/next-api/src/versioned_content_map.rs
Labels: Turbopack, created-by: Turbopack team

#69997 [Turbopack] In CI report unexpected errors directly
  crates/napi/src/util.rs
Labels: created-by: Turbopack team

#70029 [Turbopack] stable Vcs without TraitRef::cell
  crates/next-api/src/empty.rs
  crates/next-api/src/lib.rs
  crates/next-api/src/project.rs
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, Turbopack, created-by: Turbopack team

#70040 fix: setting `assetPrefix` to URL format breaks HMR
  docs/02-app/02-api-reference/05-next-config-js/assetPrefix.mdx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/get-socket-url.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/shared/lib/normalized-asset-prefix.test.ts
  packages/next/src/shared/lib/normalized-asset-prefix.ts
  test/development/app-dir/hmr-asset-prefix-full-url/app/layout.tsx
  test/development/app-dir/hmr-asset-prefix-full-url/app/page.tsx
  test/development/app-dir/hmr-asset-prefix-full-url/asset-prefix.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#69965 [Turbopack] fix HmrEntryModule
  crates/next-api/src/pages.rs
  crates/next-core/src/hmr_entry.rs
Labels: type: next, Turbopack, created-by: Turbopack team, CI Bypass Graphite Optimization

#69944 chore(turbo-tasks): Remove dead md4 support from turbo-tasks-hash
  Cargo.lock
  turbopack/crates/turbo-tasks-hash/Cargo.toml
  turbopack/crates/turbo-tasks-hash/src/lib.rs
  turbopack/crates/turbo-tasks-hash/src/md4.rs
Labels: created-by: Turbopack team
