Repository vercel/next.js, pull requests merged in 2024-01, with the labels that each got.

#60054 docs: fix version history order in sitemap.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
Labels: area: documentation

#60083 docs: clarify generateStaticParams and dynamicParams
  docs/02-app/02-api-reference/04-functions/generate-static-params.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60085 Remove duplicate standalone check
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60086 docs: update `maxDuration` info
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60090 docs: `⌘+Enter` for forms
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60087 Remove return on void function
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#59834 Update `swc_core` to `v0.87.10`
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/server_actions.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: created-by: turbopack team

#60099 Ensure NextBuildContext is only used during build
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  test/e2e/instrumentation-hook/general/next.config.js
  test/e2e/instrumentation-hook/instrumentation-hook.test.ts
  test/e2e/instrumentation-hook/with-async-edge-page/next.config.js
  test/e2e/instrumentation-hook/with-async-node-page/next.config.js
  test/e2e/instrumentation-hook/with-edge-api/next.config.js
  test/e2e/instrumentation-hook/with-edge-page/next.config.js
  test/e2e/instrumentation-hook/with-esm-import/next.config.js
  test/e2e/instrumentation-hook/with-middleware/next.config.js
  test/e2e/instrumentation-hook/with-node-api/next.config.js
  test/e2e/instrumentation-hook/with-node-page/next.config.js
Labels: type: next, created-by: Next.js team, area: tests

#60108 Add PageExtensions type
  packages/next/src/build/entries.ts
  packages/next/src/build/page-extensions-type.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/lib/metadata/is-metadata-route.ts
  packages/next/src/lib/verify-root-layout.ts
  packages/next/src/server/lib/find-page-file.ts
Labels: type: next, created-by: Next.js team

#60102 Ensure instrumentation file does not affect middleware count
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60105 Use WebpackError type instead of any
  packages/next/src/server/dev/hot-reloader-webpack.ts
Labels: type: next, created-by: Next.js team

#60112 Remove root parameter
  packages/next/src/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Next.js team

#60113 Remove extra duplicate pages warning
  packages/next/src/build/entries.ts
  test/development/duplicate-pages/duplicate-pages.test.ts
  test/development/duplicate-pages/pages/hello.js
  test/development/duplicate-pages/pages/hello/index.js
  test/integration/duplicate-pages/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#60106 Add MappedPages type
  packages/next/src/build/build-context.ts
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/loaders/next-route-loader/index.ts
Labels: type: next, created-by: Next.js team

#60107 Always call createPagesMapping for root paths
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/build/templates/edge-ssr.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/lib/page-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/future/normalizers/absolute-filename-normalizer.test.ts
  packages/next/src/server/future/normalizers/absolute-filename-normalizer.ts
  packages/next/src/server/future/normalizers/built/app/app-page-normalizer.ts
  packages/next/src/server/future/normalizers/built/pages/pages-page-normalizer.ts
  packages/next/src/server/future/normalizers/built/pages/pages-pathname-normalizer.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/web-server.ts
  packages/next/src/shared/lib/page-path/absolute-path-to-page.ts
  test/unit/parse-page-static-info.test.ts
Labels: type: next, created-by: Next.js team

#60116 Fix path issues on linux machines when build created on windows
  packages/next/src/build/handle-externals.ts
Labels: type: next, created-by: Next.js team

#60118 fix: Fix wrong cjs detection of `auto-cjs` pass
  packages/next-swc/crates/core/src/auto_cjs/mod.rs
  packages/next-swc/crates/core/tests/full/auto-cjs/1/output.js
  packages/next-swc/crates/core/tests/full/auto-cjs/2/output.js
  packages/next-swc/crates/core/tests/full/auto-cjs/3/output.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/1/input.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/1/output.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/2/input.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/2/output.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/3/input.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/3/output.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/pack-2074/1/input.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/pack-2074/1/output.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/pack-2074/2/input.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/pack-2074/2/output.js
Labels: type: next, created-by: turbopack team

#60071 chore: update Copyright time from 2023 to 2024
  .github/actions/needs-triage/dist/licenses.txt
  .github/actions/pr-approved-open/dist/licenses.txt
  .github/actions/validate-docs-links/dist/licenses.txt
  license.md
  packages/next-codemod/license.md
  packages/next-mdx/license.md
  packages/next/license.md
Labels: type: next, CI approved

#59858 Filter out duplicate paths in build output
  packages/next/src/build/index.ts
  test/integration/build-output/fixtures/with-parallel-routes/app/layout.js
  test/integration/build-output/fixtures/with-parallel-routes/app/page.js
  test/integration/build-output/fixtures/with-parallel-routes/app/root-page/@footer/page.js
  test/integration/build-output/fixtures/with-parallel-routes/app/root-page/@header/page.js
  test/integration/build-output/fixtures/with-parallel-routes/app/root-page/layout.js
  test/integration/build-output/fixtures/with-parallel-routes/app/root-page/page.js
  test/integration/build-output/test/index.test.js
Labels: type: next, area: tests, CI approved

#60121 chore: add github bug report item type module resolution
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Labels: created-by: Next.js team

#60136 [Docs] Clarify measurement ID in `Optimizing: Third Party Libraries`
  docs/02-app/01-building-your-application/06-optimizing/10-third-party-libraries.mdx
Labels: area: documentation, created-by: Chrome Aurora

#60114 Update 03-css-in-js.mdx : fix typo
  docs/02-app/01-building-your-application/05-styling/03-css-in-js.mdx
Labels: area: documentation

#60089 docs: small wording fix for 03-linking-and-navigating.mdx
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
Labels: area: documentation

#59149 Docs: If `revalidatePath`'s `path` has dynamic segment path, `type` must be `page`.
  docs/02-app/02-api-reference/04-functions/revalidatePath.mdx
Labels: area: documentation

#60149 docs: improve grammar
  docs/02-app/01-building-your-application/03-rendering/01-server-components.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59862 chore: align webpack config node version
  packages/next/src/build/webpack/config/blocks/base.ts
Labels: type: next

#60141 gracefully handle client router segment mismatches
  packages/next/src/client/components/router-reducer/handle-segment-mismatch.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
Labels: type: next, created-by: Next.js team

#59678 searchParameters test for PPR
  test/e2e/app-dir/ppr/app/search/page.jsx
  test/e2e/app-dir/ppr/ppr.test.ts
Labels: created-by: Next.js team, area: tests

#59863 Allow using ESM pkg with custom incremental cache
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/export/helpers/create-incremental-cache.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web-server.ts
  test/e2e/app-dir/app-custom-cache-handler/app/layout.js
  test/e2e/app-dir/app-custom-cache-handler/app/page.js
  test/e2e/app-dir/app-custom-cache-handler/cache-handler-cjs-default-export.js
  test/e2e/app-dir/app-custom-cache-handler/cache-handler-esm.js
  test/e2e/app-dir/app-custom-cache-handler/cache-handler.js
  test/e2e/app-dir/app-custom-cache-handler/index.test.ts
  test/e2e/app-dir/app-custom-cache-handler/next.config.js
  test/e2e/app-dir/app-static/app-static-custom-cache-handler-esm.test.ts
  test/lib/next-modes/base.ts
Labels: type: next, created-by: Next.js team

#60160 examples: improve typings for i18n app dir
  examples/app-dir-i18n-routing/app/[lang]/components/counter.tsx
  examples/app-dir-i18n-routing/app/[lang]/components/locale-switcher.tsx
  examples/app-dir-i18n-routing/app/[lang]/layout.tsx
Labels: area: examples

#60169 Fix emitting ESM swc helpers for 3rd parties CJS libs in bundle
  packages/next/src/build/swc/options.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/cjs/client/page.js
  test/e2e/app-dir/app-external/node_modules_bak/cjs-modern-syntax/index.cjs
  test/e2e/app-dir/app-external/node_modules_bak/cjs-modern-syntax/package.json
Labels: type: next, created-by: Next.js team, area: tests

#60133 Move cacheDir logic to getCacheDir
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60164 Fix config code in the CSS-in-JS chapter
  docs/02-app/01-building-your-application/05-styling/03-css-in-js.mdx
Labels: area: documentation

#59990 Updating example with required content type in header
  docs/02-app/01-building-your-application/01-routing/10-route-handlers.mdx
Labels: area: documentation

#60137 Refactor to unify writeFile, readFile, and add readManifest
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60176 [Docs] Adds a section to `Optimizing: Third Party Libraries` on tracking pageviews for Google Analytics
  docs/02-app/01-building-your-application/06-optimizing/10-third-party-libraries.mdx
Labels: area: documentation, created-by: Chrome Aurora

#60172 chore: bump `@vercel/nft@0.26.1`
  packages/next/package.json
  packages/next/src/compiled/@vercel/nft/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#59779 fix: `<Script>` with `beforeInteractive` strategy ignores additional attributes in App Router
  packages/next/src/client/script.tsx
  test/e2e/app-dir/app/app/script/page.js
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/app/public/noop-test.js
Labels: type: next, CI approved

#59676 Refactor: Separate RSC renderer from SSR wrapping component
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-server-components-renderer.tsx
  packages/next/src/server/app-render/flight-response-ref.tsx
  packages/next/src/server/app-render/use-flight-response.tsx
Labels: type: next, created-by: Next.js team, area: tests

#60017 Getting rid of a few TypeScript anys.
  packages/create-next-app/create-app.ts
  packages/create-next-app/index.ts
Labels: area: create-next-app, CI approved

#60179 Update route-segment-config.mdx
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
Labels: area: documentation

#60188 docs: Fix typo on generate-sitemaps.mdx
  docs/02-app/02-api-reference/04-functions/generate-sitemaps.mdx
Labels: area: documentation, CI approved

#60189 [Docs] small correction in 11-middleware.mdx
  docs/02-app/01-building-your-application/01-routing/11-middleware.mdx
Labels: area: documentation

#60175 fix: cache next font during development to avoid FOUC
  packages/next/src/server/lib/router-server.ts
  test/e2e/next-font/index.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, linear: next, CI approved

#60138 Add writeManifest
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60158 Add writePrerenderManifest
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60162 Add writeStandaloneDirectory
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60163 Always write FunctionsConfigManifest
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60205 Upgrade @vercel/og
  package.json
  packages/next/src/compiled/@vercel/og/index.edge.js
  packages/next/src/compiled/@vercel/og/index.node.js
  packages/next/src/compiled/@vercel/og/package.json
  packages/next/src/compiled/@vercel/og/resvg.wasm
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#60198 Improve consistency of issues and diagnostics for napi calls
  packages/next-swc/crates/napi/src/next_api/endpoint.rs
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/napi/src/next_api/utils.rs
  packages/next-swc/crates/next-api/src/lib.rs
  packages/next-swc/crates/next-api/src/server_actions.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#60170 Change server actions cache default to no-store
  packages/next/src/server/app-render/action-handler.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/no-caching-in-actions/actions.js
  test/e2e/app-dir/actions/app/no-caching-in-actions/force-cache/actions.js
  test/e2e/app-dir/actions/app/no-caching-in-actions/force-cache/page.js
  test/e2e/app-dir/actions/app/no-caching-in-actions/page.js
  test/e2e/app-dir/actions/app/no-caching-in-actions/revalidate/actions.js
  test/e2e/app-dir/actions/app/no-caching-in-actions/revalidate/page.js
Labels: type: next, created-by: Next.js team, area: tests

#60140 fix responsiveness in starter templates
  packages/create-next-app/templates/app-tw/js/app/page.js
  packages/create-next-app/templates/app-tw/ts/app/page.tsx
  packages/create-next-app/templates/default-tw/js/pages/index.js
  packages/create-next-app/templates/default-tw/ts/pages/index.tsx
Labels: area: create-next-app, CI approved

#58247 Allow undefined environment variables in config
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/integration/config-validation/test/index.test.ts
Labels: type: next, area: tests, CI approved

#60200 Add writeFullyStaticExport
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#57628 docs(trailingSlashes): add note for SSG generation
  docs/02-app/02-api-reference/05-next-config-js/trailingSlash.mdx
Labels: area: documentation, CI approved

#60216 fix: Mark file as ESM if it has an export from `auto-cjs` pass
  packages/next-swc/crates/core/src/auto_cjs/mod.rs
  packages/next-swc/crates/core/tests/loader/auto-cjs/2/output.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/issue-60197/input.js
  packages/next-swc/crates/core/tests/loader/auto-cjs/issue-60197/output.js
Labels: type: next, created-by: turbopack team

#60186 log a dev warning when a missing parallel slot results in a 404
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/not-found-boundary.tsx
  packages/next/src/client/components/parallel-route-default.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/create-error-handler.tsx
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
  test/e2e/app-dir/parallel-route-not-found/app/@bar/has-both-slots/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@bar/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@foo/has-both-slots/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@foo/no-bar-slot/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@foo/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/both-slots-missing/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/has-both-slots/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/layout.tsx
  test/e2e/app-dir/parallel-route-not-found/app/no-bar-slot/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/page.tsx
  test/e2e/app-dir/parallel-route-not-found/parallel-route-not-found.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#57053 Fix: Throw an error for empty array return in `generateStaticParams` with `output:export`
  packages/next/src/build/index.ts
  packages/next/src/server/base-server.ts
  test/integration/app-dir-export/test/dynamic-missing-gsp-dev.test.ts
  test/integration/app-dir-export/test/dynamic-missing-gsp-prod.test.ts
  test/integration/app-dir-export/test/utils.ts
Labels: type: next, area: tests, CI approved

#60221 docs: fix typos and broken links in the image.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation, CI approved

#60210 Ensure appPathsManifest variable is inside if block
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60230 Docs: Fix `revalidate` type annotation
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
Labels: area: documentation

#60226 chore: test against latest sharp
  test/integration/image-optimizer/test/old-sharp.test.ts
  test/integration/image-optimizer/test/sharp.test.ts
  test/integration/image-optimizer/test/util.ts
Labels: created-by: Next.js team, area: tests

#60222 Update 02-server-actions-and-mutations.mdx
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: area: documentation

#60217 Remove NEXT_TURBO_FILTER_PAGES internal variable
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60243 fix: add `node-web-audio-api` to server-external-packages.json
  packages/next/src/lib/server-external-packages.json
Labels: type: next, created-by: Next.js team

#60244 fix(docs): add missing docs on external packages
  docs/02-app/02-api-reference/05-next-config-js/serverComponentsExternalPackages.mdx
Labels: area: documentation, created-by: Next.js team

#59976 Disable 2mb limit for custom incrementalCacheHandler
  packages/next/src/server/lib/incremental-cache/index.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/api/large-data/route.js
  test/e2e/app-dir/app-static/app/force-cache/large-data/page.js
Labels: type: next, area: tests

#60242 [PPR Nav] Fix: Page data should always be applied
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  test/e2e/app-dir/ppr-navigations/ppr-navigations.test.ts
  test/e2e/app-dir/ppr-navigations/search-params/app/layout.tsx
  test/e2e/app-dir/ppr-navigations/search-params/app/page.tsx
  test/e2e/app-dir/ppr-navigations/search-params/next.config.js
Labels: type: next, created-by: Next.js team

#60209 Add writeImagesManifest
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#59304 Docs: Add "Going to production" page for App Router
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
  docs/02-app/01-building-your-application/02-data-fetching/03-patterns.mdx
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/01-building-your-application/06-optimizing/05-static-assets.mdx
  docs/02-app/01-building-your-application/06-optimizing/06-bundle-analyzer.mdx
  docs/02-app/01-building-your-application/06-optimizing/07-lazy-loading.mdx
  docs/02-app/01-building-your-application/06-optimizing/08-analytics.mdx
  docs/02-app/01-building-your-application/06-optimizing/10-open-telemetry.mdx
  docs/02-app/01-building-your-application/06-optimizing/11-third-party-libraries.mdx
  docs/02-app/01-building-your-application/09-deploying/01-production-checklist.mdx
  docs/02-app/01-building-your-application/09-deploying/02-static-exports.mdx
  docs/02-app/02-api-reference/01-components/link.mdx
  docs/02-app/02-api-reference/02-file-conventions/layout.mdx
  docs/02-app/02-api-reference/04-functions/use-router.mdx
  docs/02-app/02-api-reference/04-functions/use-search-params.mdx
  docs/03-pages/01-building-your-application/05-optimizing/06-bundle-analyzer.mdx
  docs/03-pages/01-building-your-application/05-optimizing/08-lazy-loading.mdx
  docs/03-pages/01-building-your-application/05-optimizing/10-open-telemetry.mdx
  docs/03-pages/01-building-your-application/08-deploying/01-production-checklist.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60264 Docs: Update `compression` docs
  docs/02-app/02-api-reference/05-next-config-js/compress.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60268 Docs: Add more clarification about `compress`
  docs/02-app/02-api-reference/05-next-config-js/compress.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#58845 style: enforce prop immutability in new next app
  packages/create-next-app/templates/app-tw/ts/app/layout.tsx
  packages/create-next-app/templates/app/ts/app/layout.tsx
Labels: area: create-next-app, CI approved

#59629 feat(next-core): apply rsc transform in turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/core/Cargo.toml
  packages/next-swc/crates/core/src/lib.rs
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next-swc/crates/next-core/src/next_server/transforms.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/mod.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_react_server_components.rs
  packages/next-swc/crates/next-transform-react-server-components/Cargo.toml
  packages/next-swc/crates/next-transform-react-server-components/src/lib.rs
  packages/next-swc/crates/next-visitor-cjs-finder/Cargo.toml
  packages/next-swc/crates/next-visitor-cjs-finder/src/lib.rs
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/development/acceptance/server-component-compiler-errors-in-pages.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#60132 Move buildId logic to getBuildId
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60277 Clarify `searchParams` is not passed to Layouts
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: area: documentation, CI approved

#60281 docs(testing): add bun command to running your tests section
  docs/02-app/01-building-your-application/08-testing/01-vitest.mdx
Labels: area: documentation, CI approved

#60282 chore(docs): add section for Custom Type Declarations
  docs/02-app/01-building-your-application/07-configuring/01-typescript.mdx
Labels: area: documentation, created-by: Next.js team

#60285 docs: small corrections to bundle analyzer docs
  docs/02-app/01-building-your-application/06-optimizing/06-bundle-analyzer.mdx
Labels: area: documentation, CI approved

#60240 fix catch-all route normalization for default parallel routes
  packages/next/src/build/index.ts
  packages/next/src/build/normalize-catchall-routes.test.ts
  packages/next/src/build/normalize-catchall-routes.ts
  packages/next/src/export/index.ts
  packages/next/src/lib/is-default-route.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-app-page-route-matcher-provider.ts
  packages/next/src/server/lib/find-page-file.ts
  test/e2e/app-dir/parallel-routes-catchall-default/app/[locale]/[[...catchAll]]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/[locale]/nested/[foo]/[bar]/@slot/[baz]/default.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/[locale]/nested/[foo]/[bar]/@slot/[baz]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/[locale]/nested/[foo]/[bar]/@slot/default.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/[locale]/nested/[foo]/[bar]/@slot/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/[locale]/nested/[foo]/[bar]/default.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/[locale]/nested/[foo]/[bar]/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/app/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-default/next.config.js
  test/e2e/app-dir/parallel-routes-catchall-default/parallel-routes-catchall-default.test.ts
  test/e2e/app-dir/parallel-routes-catchall/app/@slot/default.tsx
Labels: type: next, created-by: Next.js team, area: tests

#60291 Update flakey test from port re-use
  test/integration/edge-runtime-configurable-guards/test/index.test.js
Labels: created-by: Next.js team, area: tests

#60249 micro fix of the cache limit check
  packages/next/src/server/lib/incremental-cache/index.ts
Labels: type: next

#60295 chore: update pnpm to the latest (v8.14.0)
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  package.json
  test/.stats-app/package.json
Labels: created-by: Next.js team, area: tests

#60288 parallel routes: fix @children slots
  packages/next/src/build/normalize-catchall-routes.test.ts
  packages/next/src/build/normalize-catchall-routes.ts
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  test/e2e/app-dir/parallel-routes-catchall-children-slot/app/@children/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-children-slot/app/@slot/default.tsx
  test/e2e/app-dir/parallel-routes-catchall-children-slot/app/@slot/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-children-slot/app/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-children-slot/app/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall-children-slot/app/nested/@children/page.tsx
  test/e2e/app-dir/parallel-routes-catchall-children-slot/app/nested/layout.tsx
  test/e2e/app-dir/parallel-routes-catchall-children-slot/next.config.js
  test/e2e/app-dir/parallel-routes-catchall-children-slot/parallel-routes-catchall-children-slot.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#60318 docs: typo fix in compression page
  docs/02-app/02-api-reference/05-next-config-js/compress.mdx
Labels: area: documentation

#60276 docs: add example of webhooks with App Router
  docs/02-app/01-building-your-application/01-routing/10-route-handlers.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60237 docs: add optional catch-all segments typescript example
  docs/02-app/01-building-your-application/01-routing/05-dynamic-routes.mdx
Labels: area: documentation

#55357 Update use-search-params.mdx
  docs/02-app/02-api-reference/04-functions/use-search-params.mdx
Labels: area: documentation

#60289 chore(examples): migrate `image-component` example to App Router
  examples/image-component/app/background/page.tsx
  examples/image-component/app/color/page.tsx
  examples/image-component/app/fill/page.tsx
  examples/image-component/app/layout.tsx
  examples/image-component/app/page.tsx
  examples/image-component/app/placeholder/page.tsx
  examples/image-component/app/responsive/page.tsx
  examples/image-component/app/shimmer/shimmer.tsx
  examples/image-component/app/theme/page.tsx
  examples/image-component/package.json
  examples/image-component/pages/_app.tsx
  examples/image-component/tsconfig.json
Labels: area: examples, created-by: Next.js team

#60329 docs: address a few open issues
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
  docs/02-app/01-building-your-application/10-upgrading/04-from-vite.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#58696 fix(#58695): improve zustand example
  examples/with-zustand/README.md
  examples/with-zustand/src/app/layout.tsx
  examples/with-zustand/src/components/clock.css
  examples/with-zustand/src/components/clock.tsx
  examples/with-zustand/src/components/counter.tsx
  examples/with-zustand/src/lib/StoreProvider.tsx
  examples/with-zustand/src/lib/store.ts
  examples/with-zustand/src/lib/useInterval.ts
  examples/with-zustand/tsconfig.json
Labels: area: examples

#58792 examples: add allow-unauthenticated option to cloud run deploy
  examples/with-docker/README.md
Labels: area: examples

#56412 docs: next/head: Document error cases with head/body-tags; add subheadings
  docs/03-pages/02-api-reference/01-components/head.mdx
Labels: area: documentation

#60339 Fix bundle analyzer NPM package name in documentation
  docs/02-app/01-building-your-application/06-optimizing/06-bundle-analyzer.mdx
Labels: area: documentation, CI approved

#60342 docs: update broken link in UPGRADING.md
  UPGRADING.md
Labels: created-by: Next.js team

#60332 fixed import path in with-jest template.
  examples/with-jest/__tests__/index.test.tsx
  examples/with-jest/__tests__/snapshot.tsx
Labels: area: examples

#58442 Bump webpack-bundle-analyzer
  packages/next-bundle-analyzer/package.json
  pnpm-lock.yaml
Labels: type: next, CI approved

#60357 docs: Add docs for `next dev --experimental-https`
  docs/02-app/02-api-reference/08-next-cli.mdx
  packages/next/src/cli/next-dev.ts
Labels: area: documentation, type: next, created-by: Next.js DevEx team

#60345 [doc] Update 03-linking-and-navigating.mdx
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
Labels: area: documentation

#60250 Simplify if condition
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#60346 add missing types
  docs/02-app/01-building-your-application/03-rendering/03-composition-patterns.mdx
Labels: area: documentation

#60356 Fix dynamic sitemap detection
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/opengraph-image.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/sitemap.ts
Labels: type: next, created-by: Next.js team, area: tests

#60192 Update `swc_core` to `v0.87.16`
  Cargo.lock
  Cargo.toml
Labels: created-by: turbopack team

#60319 chore(font): enable minification
  packages/font/package.json
Labels: type: next

#60387 docs: update docs for `remotePatterns` to mention what happens when prop is omitted
  docs/02-app/02-api-reference/01-components/image.mdx
  docs/03-pages/02-api-reference/01-components/image-legacy.mdx
  test/unit/image-optimizer/match-remote-pattern.test.ts
Labels: area: documentation, created-by: Next.js team, area: tests

#60316 chore(precompile): remove obsolete precompiled assets
  packages/next/package.json
  packages/next/src/compiled/@segment/ajv-human-errors/index.js
  packages/next/src/compiled/@segment/ajv-human-errors/package.json
  packages/next/taskfile.js
  pnpm-lock.yaml
Labels: type: next

#60386 refactor: simplify the call in lib.picocolors
  packages/next/src/lib/picocolors.ts
Labels: type: next, created-by: Next.js team

#60309 chore(precompile): re-add `watchpack` to the precompile
  packages/next/package.json
  packages/next/src/compiled/watchpack/watchpack.js
  packages/next/src/compiled/webpack/bundle5.js
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/lib/start-server.ts
  packages/next/taskfile.js
  packages/next/types/misc.d.ts
  pnpm-lock.yaml
Labels: type: next

#60294 chore: update turbo to the latest
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/code_freeze.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/test_e2e_deploy.yml
  .github/workflows/trigger_release.yml
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#60372 Docs: Update note on `@next/third-parties` being experimental
  docs/02-app/01-building-your-application/06-optimizing/11-third-party-libraries.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60317 refactor(dev-overlay): remove `chalk`
  packages/next/src/compiled/debug/index.js
  packages/react-dev-overlay/package.json
  packages/react-dev-overlay/src/internal/helpers/launchEditor.ts
  pnpm-lock.yaml
Labels: type: next

#59471 Fix: HMR in multi-zone handling 🌱
  packages/next/src/server/lib/router-server.ts
  test/e2e/multi-zone/app/apps/first/next.config.js
  test/e2e/multi-zone/app/apps/first/pages/index.tsx
  test/e2e/multi-zone/app/apps/first/tsconfig.json
  test/e2e/multi-zone/app/apps/guest/next.config.js
  test/e2e/multi-zone/app/apps/guest/package.json
  test/e2e/multi-zone/app/apps/guest/pages/another/[slug].tsx
  test/e2e/multi-zone/app/apps/guest/pages/blog/[slug].tsx
  test/e2e/multi-zone/app/apps/guest/pages/index.tsx
  test/e2e/multi-zone/app/apps/host/next.config.js
  test/e2e/multi-zone/app/apps/host/package.json
  test/e2e/multi-zone/app/apps/host/pages/blog/[slug].tsx
  test/e2e/multi-zone/app/apps/host/pages/index.tsx
  test/e2e/multi-zone/app/apps/second/next.config.js
  test/e2e/multi-zone/app/apps/second/pages/index.tsx
  test/e2e/multi-zone/app/apps/second/tsconfig.json
  test/e2e/multi-zone/app/package.json
  test/e2e/multi-zone/app/server.js
  test/e2e/multi-zone/multi-zone.test.ts
Labels: type: next, area: tests, CI approved

#59785 HMR development stats: include `updatedModules` for App Router and Turbopack changes
  packages/next/src/build/swc/index.ts
  packages/next/src/client/components/react-dev-overlay/hot-reloader-client.tsx
  packages/next/src/client/dev/error-overlay/hot-dev-client.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/lib/router-utils/extract-modules-from-turbopack-message.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: turbopack team, area: tests

#60421 Update testing contributor guide
  contributing/core/testing.md
Labels: created-by: Next.js team

#60385 Change color of output bundle size
  packages/next/src/build/utils.ts
Labels: type: next, created-by: Next.js team

#60431 chore: skip flaky turbopack navigation test
  test/build-turbopack-tests-manifest.js
  test/turbopack-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#60401 Fix TypeError when using params in `RootLayout` with parallel routes
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/server/app-render/create-component-styles-and-scripts.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  test/e2e/app-dir/parallel-route-not-found-params/app/[locale]/@modal/(.)show/page.tsx
  test/e2e/app-dir/parallel-route-not-found-params/app/[locale]/@modal/default.tsx
  test/e2e/app-dir/parallel-route-not-found-params/app/[locale]/layout.tsx
  test/e2e/app-dir/parallel-route-not-found-params/app/[locale]/not-found.tsx
  test/e2e/app-dir/parallel-route-not-found-params/app/[locale]/page.tsx
  test/e2e/app-dir/parallel-route-not-found-params/app/[locale]/show/page.tsx
  test/e2e/app-dir/parallel-route-not-found-params/next.config.js
  test/e2e/app-dir/parallel-route-not-found-params/parallel-route-not-found-params.test.ts
  test/ppr-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#60390 Fix missing source code display for some jsx errors
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
  test/development/acceptance-app/rsc-runtime-errors.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#60403 Refactor `unstable_cache` implementation
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#60422 ci: skip cron workflows on forks
  .github/workflows/test_e2e_deploy.yml
  .github/workflows/trigger_release.yml
  .github/workflows/turbo-daily-integration-test.yml
Labels: CI approved

#57230 Add reproduction for HMR moving / renaming files.
  test/development/app-dir/hmr-move-file/app/button.tsx
  test/development/app-dir/hmr-move-file/app/layout.tsx
  test/development/app-dir/hmr-move-file/app/page.tsx
  test/development/app-dir/hmr-move-file/hmr-move-file.test.ts
  test/development/app-dir/hmr-move-file/next.config.js
  test/lib/next-modes/base.ts
Labels: area: tests, created-by: Next.js DevEx team

#60331 add tests for incremental-cache
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/api/large-data/route.js
  test/e2e/app-dir/app-static/app/force-cache/large-data/page.js
Labels: area: tests

#60429 chore(docs): fix 14 upgrade guide mentioning export
  docs/02-app/01-building-your-application/10-upgrading/03-version-14.mdx
Labels: area: documentation, created-by: Next.js team

#59891 Missing Postpone Detection Fix
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team, area: tests

#60312 Fix custom cache handler importing on windows
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/export/helpers/create-incremental-cache.ts
  packages/next/src/lib/format-dynamic-import-path.ts
  packages/next/src/server/next-server.ts
Labels: type: next

#60443 chore: fix postinstall when using tarball
  package.json
  scripts/git-configure.mjs
Labels: created-by: Next.js team

#60274 Display original failed fetch trace
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/GroupedStackFrames.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
  packages/next/src/server/lib/trace/tracer.ts
  packages/react-dev-overlay/src/middleware.ts
  test/development/acceptance-app/rsc-runtime-errors.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#57642 feat(app-router): introduce `experimental.missingSuspenseWithCSRBailout` flag
  errors/missing-suspense-with-csr-bailout.mdx
  packages/next/src/client/components/bailout-to-client-rendering.ts
  packages/next/src/client/components/navigation.ts
  packages/next/src/client/on-recoverable-error.ts
  packages/next/src/export/helpers/is-dynamic-usage-error.ts
  packages/next/src/export/index.ts
  packages/next/src/export/routes/pages.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-error-handler.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/shared/lib/lazy-dynamic/bailout-to-csr.ts
  packages/next/src/shared/lib/lazy-dynamic/dynamic-bailout-to-csr.tsx
  packages/next/src/shared/lib/lazy-dynamic/dynamic-no-ssr.tsx
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  packages/next/src/shared/lib/lazy-dynamic/no-ssr-error.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/hooks/use-search-params/static-bailout/page.js
  test/e2e/app-dir/app-static/next.config.js
  test/e2e/app-dir/hooks/app/hooks/use-search-params/page.js
  test/e2e/app-dir/not-found-default/app/layout.js
  test/e2e/app-dir/use-search-params/app/layout-no-suspense.js
  test/e2e/app-dir/use-search-params/app/layout.js
  test/e2e/app-dir/use-search-params/app/page.js
  test/e2e/app-dir/use-search-params/next.config.js
  test/e2e/app-dir/use-search-params/use-search-params.test.ts
  test/lib/next-modes/base.ts
Labels: area: documentation, type: next, created-by: Next.js team, area: tests

#60438 test: use replay jest runner to add current test name to recording
  jest.config.js
  test/lib/browsers/replay.ts
  test/lib/next-webdriver.ts
Labels: created-by: turbopack team, area: tests

#60208 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#60452 chore(docs/errors): Improve documentation grammar
  docs/02-app/01-building-your-application/03-rendering/01-server-components.mdx
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/01-building-your-application/08-testing/01-vitest.mdx
  docs/02-app/01-building-your-application/08-testing/04-cypress.mdx
  docs/03-pages/02-api-reference/02-functions/get-server-side-props.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-paths.mdx
  docs/03-pages/02-api-reference/02-functions/get-static-props.mdx
  errors/opening-an-issue.mdx
Labels: area: documentation, CI approved

#60478 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
  test/e2e/app-dir/app-external/app-external.test.ts
Labels: type: next, created-by: turbopack team, area: tests

#60476 Docs: Address Community Feedback
  docs/02-app/01-building-your-application/06-optimizing/09-instrumentation.mdx
  errors/css-global.mdx
  errors/opt-out-auto-static-optimization.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#59578 feat(turbopack): support named client references properly
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_proxy_module.rs
  packages/next-swc/crates/next-core/src/next_server_component/server_component_module.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#59458 Update `cache-handler-redis` example dependencies
  examples/cache-handler-redis/README.md
  examples/cache-handler-redis/cache-handler-redis-custom.js
  examples/cache-handler-redis/cache-handler-redis.js
  examples/cache-handler-redis/package.json
Labels: area: examples

#60486 Handle pages double render for useParams in tests
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: created-by: Next.js team, area: tests

#60489 Transition some check calls in tests to retry
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: created-by: Next.js team, area: tests

#60485 Fix intercepted segments with basepath
  packages/next/src/build/index.ts
  packages/next/src/lib/generate-interception-routes-rewrites.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  test/e2e/app-dir/parallel-routes-and-interception-basepath/app/@slot/(.)nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception-basepath/app/@slot/default.tsx
  test/e2e/app-dir/parallel-routes-and-interception-basepath/app/default.tsx
  test/e2e/app-dir/parallel-routes-and-interception-basepath/app/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception-basepath/app/nested/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception-basepath/app/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception-basepath/next.config.js
  test/e2e/app-dir/parallel-routes-and-interception-basepath/parallel-routes-and-interception-basepath.test.ts
Labels: type: next, area: tests, CI approved

#60494 Use next.config.mjs for CNA templates
  packages/create-next-app/templates/app-tw/js/next.config.mjs
  packages/create-next-app/templates/app-tw/ts/next.config.mjs
  packages/create-next-app/templates/app/js/next.config.mjs
  packages/create-next-app/templates/app/ts/next.config.mjs
  packages/create-next-app/templates/default-tw/js/next.config.mjs
  packages/create-next-app/templates/default-tw/ts/next.config.mjs
  packages/create-next-app/templates/default/js/next.config.mjs
  packages/create-next-app/templates/default/ts/next.config.mjs
Labels: area: create-next-app, created-by: Next.js team

#60482 parallel routes: fix client reference manifest grouping for catch-all segments
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-catchall/[...catchAll]/client-component.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/parallel-catchall/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
  test/e2e/app-dir/parallel-routes-catchall/app/@slot/[...catchAll]/client-component.tsx
  test/e2e/app-dir/parallel-routes-catchall/app/@slot/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-catchall/parallel-routes-catchall.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#60479 Group small chunks in shared js section of output
  packages/next/src/build/utils.ts
  test/production/app-dir/build-output/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#60499 filter default segments from prerender manifest
  packages/next/src/build/index.ts
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#60177 Add experimental options for more parallelization in webpack builds
  errors/parallel-build-without-worker.mdx
  packages/next/src/build/index.ts
  packages/next/src/lib/turbopack-warning.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/app-dir/app/next.config.js
  test/production/app-dir/typed-routes-with-webpack-worker/good-routes/next.config.js
Labels: area: documentation, type: next, area: tests

#60374 Docs: Document `windowHistorySupport` flag, and add `pushState`/`replaceState` examples
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
  docs/02-app/02-api-reference/05-next-config-js/windowHistorySupport.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60502 examples: Update hello world
  examples/hello-world/next-env.d.ts
  examples/hello-world/package.json
  examples/hello-world/tsconfig.json
Labels: area: examples, created-by: Next.js DevEx team

#60503 docs: correct `windowHistorySupport` title
  docs/02-app/02-api-reference/05-next-config-js/windowHistorySupport.mdx
Labels: area: documentation

#58401 run tests from test suite that are not listed in the manifest
  test/get-test-filter.js
Labels: created-by: turbopack team, area: tests

#60128 move custom allocator flag and add rustls-tls comment
  .github/workflows/build_and_deploy.yml
  .github/workflows/setup-nextjs-build.yml
  Cargo.toml
  packages/next-swc/README.md
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/next-api/Cargo.toml
  packages/next-swc/crates/next-build/Cargo.toml
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next-swc/package.json
Labels: type: next, area: Turbopack, created-by: turbopack team

#60432 Add --ci to jest tests in CI
  run-tests.js
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/integration/edge-runtime-configurable-guards/test/index.test.js
  test/lib/next-modes/base.ts
  test/lib/next-webdriver.ts
Labels: created-by: Next.js team, area: tests

#60184 fix: redirect logic missing basePath in App Render
  packages/next/src/server/app-render/action-handler.ts
  test/e2e/app-dir/app-basepath-custom-server/custom-server/app/another/page.js
  test/e2e/app-dir/app-basepath-custom-server/custom-server/app/layout.js
  test/e2e/app-dir/app-basepath-custom-server/custom-server/app/page.js
  test/e2e/app-dir/app-basepath-custom-server/custom-server/components/counter.js
  test/e2e/app-dir/app-basepath-custom-server/custom-server/next.config.js
  test/e2e/app-dir/app-basepath-custom-server/custom-server/server.js
  test/e2e/app-dir/app-basepath-custom-server/index.test.ts
Labels: type: next, area: tests, CI approved
