Repository vercel/next.js, pull requests merged in 2024-06, with the labels that each got.

#66428 Update rust toolchain to nightly-2024-05-31
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/src/next_font/util.rs
  rust-toolchain.toml
Labels: type: next, Turbopack, created-by: Turbopack team

#66434 fix erroneous RSC calls on hash changes
  packages/next/src/client/components/router-reducer/handle-mutable.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  test/e2e/app-dir/navigation/app/hash/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team, tests

#66455 Improve JSDoc link for Metadata API
  packages/next/src/server/typescript/rules/config.ts
Labels: type: next, created-by: Next.js team

#66446 fix: ensure route handlers properly track dynamic access
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/future/route-modules/app-route/module.ts
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/default-cache/page.js
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/default-cache/route/route.js
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/force-cache/page.js
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/force-cache/route/route.js
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/no-fetch-cache/route/route.js
  test/e2e/app-dir/app-static/app/force-dynamic-fetch-cache/with-fetch-cache/route/route.js
  test/e2e/app-dir/app-static/app/variable-revalidate/authorization/route-cookies/route.js
  test/e2e/app-dir/app-static/app/variable-revalidate/authorization/route-request/route.js
  test/e2e/app-dir/dynamic-data/dynamic-data.test.ts
Labels: type: next, created-by: Next.js team, tests

#66470 fix: correct link for server components
  docs/03-pages/01-building-your-application/01-routing/07-api-routes.mdx
Labels: Documentation

#66476 Update cookies.mdx to show that maxAge accepts a value in seconds
  docs/02-app/02-api-reference/04-functions/cookies.mdx
Labels: Documentation

#66456 refactor: rename API endpoint to '/api/protected-api' for comment
  examples/auth0/pages/api/protected-api.ts
Labels: examples

#66443 Renamed two files: right order of supported styling
  docs/02-app/01-building-your-application/05-styling/03-sass.mdx
  docs/02-app/01-building-your-application/05-styling/04-css-in-js.mdx
Labels: Documentation

#66491 More improvements to error overlay copy button
  packages/next/src/client/components/react-dev-overlay/internal/components/copy-button/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
Labels: type: next, created-by: Next.js team

#66461 Fix broken `BrowserInterface` type
  test/development/app-dir/strict-mode-enabled-by-default/strict-mode-enabled-by-default.test.ts
  test/development/basic/define-class-fields/define-class-fields.test.ts
  test/development/basic/misc.test.ts
  test/development/basic/next-dynamic/next-dynamic.test.ts
  test/development/basic/styled-components/styled-components.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/e2e/app-dir/autoscroll-with-css-modules/index.test.ts
  test/e2e/app-dir/next-after-app/index.test.ts
  test/e2e/app-dir/root-layout-redirect/root-layout-redirect.test.ts
  test/e2e/app-dir/search-params-react-key/layout-params.test.ts
  test/e2e/new-link-behavior/index.test.ts
  test/integration/app-document/test/csp.js
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/base-path/test/index.test.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/script-loader/test/index.test.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
  test/production/pages-dir/production/test/index.test.ts
  tsconfig.base.json
  tsconfig.json
Labels: type: next, CI approved, tests

#66370 Polish copy button state and styles
  packages/next/src/client/components/react-dev-overlay/internal/components/copy-button/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
Labels: type: next, created-by: Next.js team

#65311 avoid filtering the error message
  packages/next/src/server/dev/log-app-dir-error.ts
Labels: type: next, created-by: Turbopack team

#66415 Unignore `test/**/*.test.*` for ESLint
  .eslintignore
  test/integration/eslint/test/next-lint.test.js
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: CI approved, tests

#66489 Fix `next/navigation` type augmentation
  packages/next/src/client/components/navigation.ts
  test/e2e/app-dir/use-params/tsconfig.json
Labels: type: next, CI approved, tests

#66488 chore(docs): Update Inlang Link on Internationalization Page
  docs/02-app/01-building-your-application/01-routing/15-internationalization.mdx
  docs/03-pages/01-building-your-application/01-routing/10-internationalization.mdx
Labels: Documentation

#66484 Correct spelling in installation guide reference
  docs/index.mdx
Labels: Documentation

#66395 fix: only generate prefetch rsc for ppr enabled routes
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/export/helpers/create-incremental-cache.ts
  packages/next/src/export/index.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/response-cache/index.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/web-server.ts
  test/e2e/app-dir/ppr-navigations/incremental/app/[locale]/about/page.jsx
  test/e2e/app-dir/ppr-navigations/incremental/app/[locale]/layout.jsx
  test/e2e/app-dir/ppr-navigations/incremental/app/[locale]/page.jsx
  test/e2e/app-dir/ppr-navigations/incremental/app/[locale]/static/page.jsx
  test/e2e/app-dir/ppr-navigations/incremental/app/layout.jsx
  test/e2e/app-dir/ppr-navigations/incremental/app/page.jsx
  test/e2e/app-dir/ppr-navigations/incremental/components/page.jsx
  test/e2e/app-dir/ppr-navigations/incremental/incremental.test.ts
  test/e2e/app-dir/ppr-navigations/incremental/next.config.js
  test/unit/incremental-cache/file-system-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#66354 add layerAssets property to FlightDataPath
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/apply-flight-data.ts
  packages/next/src/client/components/router-reducer/clear-cache-node-data-for-segment-path.test.tsx
  packages/next/src/client/components/router-reducer/clear-cache-node-data-for-segment-path.ts
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.test.tsx
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/fast-refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
Labels: type: next, created-by: Next.js team

#66478 docs: update sitemap's version history section
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
Labels: Documentation

#66300 fix missing stylesheets when parallel routes are present
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/server/app-render/app-render.tsx
  test/development/acceptance-app/hydration-error.test.ts
  test/e2e/app-dir/parallel-routes-css/app/@foo/[...catchAll]/page.tsx
  test/e2e/app-dir/parallel-routes-css/app/@foo/[...catchAll]/style.module.css
  test/e2e/app-dir/parallel-routes-css/app/@foo/default.tsx
  test/e2e/app-dir/parallel-routes-css/app/layout.tsx
  test/e2e/app-dir/parallel-routes-css/app/nested/page.tsx
  test/e2e/app-dir/parallel-routes-css/app/page.tsx
  test/e2e/app-dir/parallel-routes-css/app/style.module.css
  test/e2e/app-dir/parallel-routes-css/parallel-routes-css.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#66500 fix css order for some edge cases in App Dir
  packages/next/src/build/entries.ts
  packages/next/src/build/webpack/config/blocks/css/index.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/types/global.d.ts
  test/e2e/app-dir/next-dynamic-css/app/global3.css
  test/e2e/app-dir/next-dynamic-css/app/layout.tsx
  test/e2e/app-dir/next-dynamic-css/app/page/base.module.css
  test/e2e/app-dir/next-dynamic-css/app/page/component.module.css
  test/e2e/app-dir/next-dynamic-css/app/page/component.tsx
  test/e2e/app-dir/next-dynamic-css/app/page/global.css
  test/e2e/app-dir/next-dynamic-css/app/page/global2.css
  test/e2e/app-dir/next-dynamic-css/app/page/inner.tsx
  test/e2e/app-dir/next-dynamic-css/app/page/inner2.module.css
  test/e2e/app-dir/next-dynamic-css/app/page/inner2.tsx
  test/e2e/app-dir/next-dynamic-css/app/page/layout.tsx
  test/e2e/app-dir/next-dynamic-css/app/page/page.tsx
  test/e2e/app-dir/next-dynamic-css/app/page/server.module.css
  test/e2e/app-dir/next-dynamic-css/next-dynamic-css.test.ts
  test/e2e/app-dir/next-dynamic-css/next.config.js
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Turbopack team, tests

#66521 feat: Update `swc_core` to `v0.92.10`
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#66516 improve order of spans in tracing
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/instrumentation.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/pages.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#66528 add more tracing
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/dynamic_imports.rs
  packages/next-swc/crates/next-api/src/lib.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_shared_chunks.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/modularize_imports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_amp_attributes.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_cjs_optimizer.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_disallow_re_export_all_in_page.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_dynamic.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_font.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_middleware_dynamic_assert.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_optimize_server_react.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_page_config.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_page_static_info.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_pure.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_react_server_components.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_shake_exports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_strip_page_exports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/server_actions.rs
Labels: type: next, Font (next/font), Turbopack, created-by: Turbopack team

#66539 Sync Cargo.lock with turbo
  Cargo.lock
Labels: created-by: Turbopack team

#66538 fix 'loading' segment not being copied into new CacheNode
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  test/e2e/app-dir/actions-revalidate-remount/actions-revalidate-remount.test.ts
  test/e2e/app-dir/actions-revalidate-remount/app/layout.tsx
  test/e2e/app-dir/actions-revalidate-remount/app/loading.tsx
  test/e2e/app-dir/actions-revalidate-remount/app/page.tsx
  test/e2e/app-dir/actions-revalidate-remount/app/test/loading.tsx
  test/e2e/app-dir/actions-revalidate-remount/app/test/page.tsx
  test/e2e/app-dir/actions-revalidate-remount/next.config.js
Labels: type: next, created-by: Next.js team, tests

#66535 docs(caching): Fix typo refrencing fetch changes
  docs/02-app/01-building-your-application/04-caching/index.mdx
Labels: Documentation

#66158 Update Sanity example deps and prepare for next v15
  examples/cms-sanity/package.json
  examples/cms-sanity/sanity.types.ts
Labels: examples

#66536 Update dev dependecies validate npm package name
  packages/create-next-app/package.json
  pnpm-lock.yaml
Labels: create-next-app

#66551 fix NextRequest proxy in edge runtime
  packages/next/src/server/route-modules/app-route/module.ts
Labels: type: next, created-by: Next.js team

#65988 Re-land Fix broken HTML inlining of non UTF-8 decodable binary data from Flight payload #65664
  packages/next/src/client/app-index.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/utils.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  test/e2e/app-dir/binary/app/client.js
  test/e2e/app-dir/binary/app/layout.js
  test/e2e/app-dir/binary/app/page.js
  test/e2e/app-dir/binary/next.config.js
  test/e2e/app-dir/binary/rsc-binary.test.ts
Labels: type: next, created-by: Next.js team, tests

#66553 disable flaky metadata test in turbopack
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: created-by: Next.js team, tests

#66554 Revert "refactor: remove unnecessary `lint-staged` operations (#65861)"
  lint-staged.config.js
Labels: CI approved

#66429 Avoid race condition in ppr navigations test
  test/e2e/app-dir/ppr-navigations/simple/simple.test.ts
Labels: CI approved, tests

#66547 Remove unused state in Server Actions transform
  packages/next-swc/crates/next-custom-transforms/src/transforms/server_actions.rs
Labels: type: next, created-by: Next.js team, Turbopack

#66549 Add playwright-core to server-external-packages.json
  docs/02-app/02-api-reference/05-next-config-js/serverExternalPackages.mdx
  docs/03-pages/02-api-reference/03-next-config-js/serverExternalPackages.mdx
  packages/next/src/lib/server-external-packages.json
Labels: type: next, Documentation

#66530 Remove redundant React dependency declarations in test
  run-tests.js
  test/development/acceptance-app/ReactRefresh.test.ts
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox-scss.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshLogBoxMisc.test.ts
  test/development/acceptance-app/ReactRefreshModule.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance-app/ReactRefreshRequire.test.ts
  test/development/acceptance-app/editor-links.test.ts
  test/development/acceptance-app/error-message-url.test.ts
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance-app/hydration-error.test.ts
  test/development/acceptance-app/invalid-imports.test.ts
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/development/acceptance-app/server-components.test.ts
  test/development/acceptance/hydration-error.test.ts
  test/development/acceptance/server-component-compiler-errors-in-pages.test.ts
  test/development/next-font/deprecated-package.test.ts
  test/e2e/app-dir/actions-allowed-origins/app-action-allowed-origins.test.ts
  test/e2e/app-dir/actions-allowed-origins/app-action-disallowed-origins.test.ts
  test/e2e/app-dir/actions/app-action-export.test.ts
  test/e2e/app-dir/actions/app-action-form-state.test.ts
  test/e2e/app-dir/actions/app-action-progressive-enhancement.test.ts
  test/e2e/app-dir/actions/app-action-size-limit-invalid.test.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/app-css-pageextensions/index.test.ts
  test/e2e/app-dir/app-css/index.test.ts
  test/e2e/app-dir/app-routes-client-component/app-routes-client-component.test.ts
  test/e2e/app-dir/create-root-layout/create-root-layout.test.ts
  test/e2e/app-dir/interoperability-with-pages/navigation.test.ts
  test/e2e/app-dir/rewrites-redirects/rewrites-redirects.test.ts
  test/e2e/new-link-behavior/child-a-tag-error.test.ts
  test/e2e/new-link-behavior/material-ui.test.ts
  test/e2e/new-link-behavior/stitches.test.ts
  test/e2e/next-font/with-proxy.test.ts
  test/e2e/next-script/index.test.ts
  test/e2e/switchable-runtime/index.test.ts
  test/e2e/transpile-packages/index.test.ts
  test/e2e/yarn-pnp/test/utils.ts
Labels: created-by: Next.js team, tests

#66531 Add hint that sync-react doesn't automate everything
  scripts/sync-react.js
Labels: created-by: Next.js team

#66532 Fix sync-react changelog
  scripts/sync-react.js
Labels: created-by: Next.js team

#66575 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66447 Fix loading navigation with metadata and prefetch
  packages/next/src/client/components/layout-router.tsx
  test/e2e/app-dir/navigation/app/metadata-await-promise/nested/loading.js
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team, tests

#66592 docs: otel use anchor instead of path
  docs/02-app/01-building-your-application/06-optimizing/10-open-telemetry.mdx
Labels: Documentation, CI approved

#66601 Fix Server Actions closure idents tracking
  packages/next-swc/crates/next-custom-transforms/src/transforms/server_actions.rs
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/32/input.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/32/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/7/output.js
Labels: type: next, created-by: Next.js team, Turbopack

#66613 Add videos to openGraph metadata object
  docs/02-app/02-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation

#66606 Update to turbopack-240606.2
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66600 Update code examples in documentation (12-third-party-libraries)
  docs/02-app/01-building-your-application/06-optimizing/12-third-party-libraries.mdx
Labels: Documentation

#66618 Update image.mdx
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: Documentation

#66627 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66637 reliability of the release action
  .github/workflows/build_and_deploy.yml
  .github/workflows/trigger_release.yml
Labels: created-by: Turbopack team

#66648 revert app-render changes related to determining RSC/Prefetch requests
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/fallback-prefetch/app/[id]/loading.tsx
  test/e2e/app-dir/fallback-prefetch/app/[id]/page.tsx
  test/e2e/app-dir/fallback-prefetch/app/layout.tsx
  test/e2e/app-dir/fallback-prefetch/app/page.tsx
  test/e2e/app-dir/fallback-prefetch/fallback-prefetch.test.ts
  test/e2e/app-dir/fallback-prefetch/next.config.js
Labels: type: next, created-by: Next.js team, tests

#66640 Revert "feat: Update `swc_core` to `v0.92.10`"
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66655 remove `staticWorkerRequestDeduping` flag & unused IPC code
  packages/next/src/build/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/lib/incremental-cache-server.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/server-ipc/index.ts
  packages/next/src/server/lib/server-ipc/invoke-request.ts
  packages/next/src/server/lib/server-ipc/request-utils.ts
  test/e2e/app-dir/app-fetch-deduping/app-fetch-deduping.test.ts
Labels: type: next, created-by: Next.js team, tests

#66620 prevent duplicate RSC fetch when action redirects
  packages/next/src/client/components/router-reducer/reducers/refresh-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/refetch-inactive-parallel-segments.ts
  test/e2e/app-dir/parallel-routes-revalidation/app/page.tsx
  test/e2e/app-dir/parallel-routes-revalidation/app/redirect/page.tsx
  test/e2e/app-dir/parallel-routes-revalidation/parallel-routes-revalidation.test.ts
Labels: type: next, created-by: Next.js team, tests

#66651 Update URL provided from unstable_cache
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#66681 ensure router cache updates reference the latest cache values
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/app-client-cache/client-cache.defaults.test.ts
  test/e2e/app-dir/app-client-cache/client-cache.experimental.test.ts
  test/e2e/app-dir/app-client-cache/client-cache.original.test.ts
  test/e2e/app-dir/app-client-cache/client-cache.parallel-routes.test.ts
  test/e2e/app-dir/app-client-cache/fixtures/parallel-routes/app/@breadcrumbs/[id]/page.js
  test/e2e/app-dir/app-client-cache/fixtures/parallel-routes/app/@breadcrumbs/page.js
  test/e2e/app-dir/app-client-cache/fixtures/parallel-routes/app/[id]/page.js
  test/e2e/app-dir/app-client-cache/fixtures/parallel-routes/app/layout.js
  test/e2e/app-dir/app-client-cache/fixtures/parallel-routes/app/page.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/[id]/loading.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/[id]/page.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/layout.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/null-loading/loading.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/null-loading/page.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/page.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/without-loading/[id]/page.js
  test/e2e/app-dir/app-client-cache/fixtures/regular/app/without-loading/page.js
Labels: type: next, created-by: Next.js team, tests

#66580 Update devdependecies tar and type
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/package.json
  pnpm-lock.yaml
Labels: create-next-app

#66286 Fix esm property def in flight loader
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  test/e2e/app-dir/app-routes-client-component/app-routes-client-component.test.ts
  test/e2e/app-dir/dynamic/app/dynamic/named-export/page.js
Labels: type: next, created-by: Next.js team, tests

#66666 test: migrate dev error tests into separate sandbox test
  test/development/acceptance-app/dynamic-metadata-error.test.ts
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
Labels: created-by: Next.js team, tests

#66705 Update 08-lazy-loading.mdx
  docs/03-pages/01-building-your-application/05-optimizing/08-lazy-loading.mdx
Labels: Documentation

#66477 Append sitemap extension and optimize imafe metadata static generation
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
  packages/next-swc/crates/next-core/src/app_segment_config.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/mod.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/route.rs
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/output/store.ts
  packages/next/src/build/webpack/loaders/metadata/discover.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
  packages/next/src/export/routes/app-route.ts
  packages/next/src/lib/metadata/get-metadata-route.ts
  packages/next/src/lib/metadata/is-metadata-route.test.ts
  packages/next/src/lib/metadata/is-metadata-route.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/route-matcher-providers/dev/dev-app-route-route-matcher-provider.ts
  test/development/acceptance-app/dynamic-metadata-error.test.ts
  test/e2e/app-dir/dynamic-in-generate-params/index.test.ts
  test/e2e/app-dir/logging/fetch-logging.test.ts
  test/e2e/app-dir/metadata-dynamic-routes/app/gsp/icon.tsx
  test/e2e/app-dir/metadata-dynamic-routes/index.test.ts
  test/e2e/app-dir/metadata/metadata.test.ts
  test/production/app-dir/metadata-static/metadata-static.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, Documentation, Turbopack, tests

#63337 feat(turbopack-ecmascript): cache external modules with wrapper
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  packages/next/src/client/components/react-dev-overlay/internal/helpers/parseStack.ts
  pnpm-lock.yaml
  test/development/middleware-errors/index.test.ts
  test/e2e/fetch-failures-have-good-stack-traces-in-edge-runtime/fetch-failures-have-good-stack-traces-in-edge-runtime.test.ts
  test/integration/externals-pages-bundle/test/externals.test.js
  test/integration/externals-pages-bundle/test/index.test.js
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#66151 Incremental Static Regeneration - docs update explaining surprising behavior
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/02-api-reference/02-file-conventions/route-segment-config.mdx
  docs/02-app/02-api-reference/04-functions/generate-static-params.mdx
Labels: Documentation

#65483 [ppr] Enable static shell debugging in other environments
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/static-shell-debugging/app/layout.jsx
  test/e2e/app-dir/static-shell-debugging/app/page.jsx
  test/e2e/app-dir/static-shell-debugging/static-shell-debugging.test.ts
Labels: type: next, created-by: Next.js team, tests

#66712 Run Pages Router test with same version as Next.js peer dependency
  run-tests.js
Labels: created-by: Next.js team

#66652 Add timeout/retry handling for fetch cache
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  test/ppr-tests-manifest.json
  test/production/app-dir/fetch-cache/app/api/revalidate/route.ts
  test/production/app-dir/fetch-cache/app/layout.tsx
  test/production/app-dir/fetch-cache/app/page.tsx
  test/production/app-dir/fetch-cache/fetch-cache.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#66674 Fix inconsistency with 404 getStaticProps cache-control
  packages/next/src/server/base-server.ts
  packages/next/src/server/request-meta.ts
  test/integration/not-found-revalidate/pages/404.js
  test/integration/not-found-revalidate/test/index.test.js
Labels: type: next, created-by: Next.js team, tests

#66140 [lint] Allow lint warnings to pass in CI
  .eslintrc.json
  lint-staged.config.js
  package.json
  packages/next-env/package.json
  packages/next-env/tsconfig.json
Labels: type: next, created-by: Next.js team, tests

#66724 chore(test): add types to tests
  test/production/standalone-mode/required-server-files/required-server-files-app.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: created-by: Next.js team, tests

#66716 Docs: Update `unstable_after` based on community questions
  docs/02-app/02-api-reference/04-functions/unstable_after.mdx
Labels: Documentation, created-by: Next.js DevEx team

#66728 tweak flaky module-imports test
  test/integration/edge-runtime-module-errors/test/module-imports.test.js
Labels: created-by: Next.js team, tests

#66725 Update devdependecy @types/node
  packages/create-next-app/package.json
Labels: create-next-app

#66727 Revert "Fix esm property def in flight loader"
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
  packages/next/src/shared/lib/lazy-dynamic/loadable.tsx
  test/e2e/app-dir/app-routes-client-component/app-routes-client-component.test.ts
  test/e2e/app-dir/dynamic/app/dynamic/named-export/page.js
Labels: type: next, created-by: Next.js team, tests

#66726 Update React from `1df34bdf62` to `6230622a1a`
  package.json
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-client.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-client.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-profiling.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-profiling.profiling.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.browser.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server-legacy.node.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.browser.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.bun.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.edge.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-server.node.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom-unstable_testing.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.production.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.react-server.development.js
  packages/next/src/compiled/react-dom-experimental/cjs/react-dom.react-server.production.js
  packages/next/src/compiled/react-dom-experimental/package.json
  packages/next/src/compiled/react-dom/cjs/react-dom-client.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-client.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-profiling.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-profiling.profiling.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.browser.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server-legacy.node.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.browser.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.bun.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.edge.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom-server.node.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom.production.js
  packages/next/src/compiled/react-dom/cjs/react-dom.react-server.development.js
  packages/next/src/compiled/react-dom/cjs/react-dom.react-server.production.js
  packages/next/src/compiled/react-dom/package.json
  packages/next/src/compiled/react-experimental/cjs/react.development.js
  packages/next/src/compiled/react-experimental/cjs/react.production.js
  packages/next/src/compiled/react-experimental/cjs/react.react-server.development.js
  packages/next/src/compiled/react-experimental/cjs/react.react-server.production.js
  packages/next/src/compiled/react-is/package.json
  packages/next/src/compiled/react-server-dom-turbopack-experimental/package.json
  packages/next/src/compiled/react-server-dom-turbopack/package.json
  packages/next/src/compiled/react-server-dom-webpack-experimental/package.json
  packages/next/src/compiled/react-server-dom-webpack/package.json
  packages/next/src/compiled/react/cjs/react.development.js
  packages/next/src/compiled/react/cjs/react.production.js
  packages/next/src/compiled/react/cjs/react.react-server.development.js
  packages/next/src/compiled/react/cjs/react.react-server.production.js
  packages/next/src/compiled/unistore/unistore.js
  pnpm-lock.yaml
  test/.stats-app/package.json
Labels: type: next, created-by: Next.js team, tests

#66749 Docs: Fix typo
  docs/02-app/02-api-reference/04-functions/unstable_after.mdx
Labels: Documentation, created-by: Next.js DevEx team

#66636 Prevent append of trailing slash in cases where path ends with a file extension
  packages/next/src/lib/metadata/resolvers/resolve-url.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.ts
Labels: type: next, CI approved

#66714 Use addDependency to track metadata route file changes
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
  test/production/app-dir/metadata-static-route-cache/app/favicon.ico
  test/production/app-dir/metadata-static-route-cache/app/favicon.ico.new
  test/production/app-dir/metadata-static-route-cache/app/opengraph-image.png
  test/production/app-dir/metadata-static-route-cache/app/opengraph-image.png.new
  test/production/app-dir/metadata-static-route-cache/metadata-static-route-cache.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#66737 docs(create-next-app): update Geist font reference
  packages/create-next-app/templates/app-tw/js/README-template.md
  packages/create-next-app/templates/app-tw/ts/README-template.md
  packages/create-next-app/templates/app/js/README-template.md
  packages/create-next-app/templates/app/ts/README-template.md
  packages/create-next-app/templates/default-tw/js/README-template.md
  packages/create-next-app/templates/default-tw/ts/README-template.md
  packages/create-next-app/templates/default/js/README-template.md
  packages/create-next-app/templates/default/ts/README-template.md
Labels: create-next-app

#66758 remove related e2e workflow
  .github/workflows/test_e2e_deploy_related.yml
Labels: created-by: Next.js team

#66759 Log stdio for pull-turbo-cache script
  scripts/pull-turbo-cache.js
Labels: created-by: Next.js team

#66713 Update devDependecy prettier-plugin-tailwindcss
  packages/create-next-app/package.json
  pnpm-lock.yaml
Labels: create-next-app

#66760 test: add name re-export from client components as page case
  test/e2e/app-dir/app-routes-client-component/app/layout.js
  test/e2e/app-dir/rsc-basic/app/reexport-named/client.js
  test/e2e/app-dir/rsc-basic/app/reexport-named/page.js
  test/e2e/app-dir/rsc-basic/app/reexport-namespace/client-index.js
  test/e2e/app-dir/rsc-basic/app/reexport-namespace/client.js
  test/e2e/app-dir/rsc-basic/app/reexport-namespace/page.js
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
Labels: created-by: Next.js team, tests

#66755 fix: app-router prefetch crash when an invalid URL is passed to Link
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/link.tsx
  test/e2e/app-dir/app-prefetch/app/invalid-url/delay.js
  test/e2e/app-dir/app-prefetch/app/invalid-url/error.js
  test/e2e/app-dir/app-prefetch/app/invalid-url/from-link/page.js
  test/e2e/app-dir/app-prefetch/app/invalid-url/from-router-prefetch/page.js
  test/e2e/app-dir/app-prefetch/app/invalid-url/invalid-url.js
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team, area: app, tests

#63846 Ensure urlPathname is always a pathname
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_route_entry.rs
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/next-app-loader.ts
  packages/next/src/client/components/request-async-storage.external.ts
  packages/next/src/client/components/static-generation-async-storage.external.ts
  packages/next/src/export/routes/app-route.ts
  packages/next/src/export/worker.ts
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/url.ts
  packages/next/src/server/after/after-context.test.ts
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/after/after.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/validate-url.tsx
  packages/next/src/server/async-storage/request-async-storage-wrapper.ts
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/load-components.ts
  packages/next/src/server/load-default-error-components.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/shared/lib/router/utils/parse-relative-url.test.ts
  packages/next/src/shared/lib/router/utils/parse-relative-url.ts
  packages/next/src/shared/lib/router/utils/resolve-rewrites.ts
  test/unit/validate-url.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#66698 build: Update `swc_core` to `v0.93.2`
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, Turbopack, created-by: Turbopack team

#66721 fix e2e deployment test action
  .github/workflows/build_reusable.yml
  .github/workflows/test_e2e_deploy_release.yml
  .github/workflows/test_e2e_deploy_scheduled.yml
  run-tests.js
  test/deploy-tests-manifest.json
  test/get-test-filter.js
  test/lib/next-modes/next-deploy.ts
Labels: created-by: Next.js team, tests

#66769 tweak deploy failure notification condition
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Next.js team

#66770 fix client-cache deploy tests
  test/deploy-tests-manifest.json
  test/e2e/app-dir/app-client-cache/client-cache.defaults.test.ts
  test/e2e/app-dir/app-client-cache/client-cache.experimental.test.ts
  test/e2e/app-dir/app-client-cache/client-cache.original.test.ts
Labels: created-by: Next.js team, tests

#66762 chore: bump turbo to 2.0.3
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/code_freeze.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/trigger_release.yml
  package.json
  packages/create-next-app/package.json
  packages/next-swc/turbo.json
  packages/next/package.json
  pnpm-lock.yaml
  scripts/normalize-version-bump.js
  turbo.json
Labels: type: next, create-next-app, created-by: Next.js team

#66773 fix app-custom-routes deploy test
  test/deploy-tests-manifest.json
  test/e2e/app-dir/app-routes/app-custom-routes.test.ts
Labels: created-by: Next.js team, tests

#66775 Revert "chore: bump turbo to 2.0.3"
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/code_freeze.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/trigger_release.yml
  package.json
  packages/create-next-app/package.json
  packages/next-swc/turbo.json
  packages/next/package.json
  pnpm-lock.yaml
  scripts/normalize-version-bump.js
  turbo.json
Labels: type: next, create-next-app, created-by: Next.js team

#66779 tweak deploy test concurrency & fail condition
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Next.js team

#66710 use node js chunking context for evaluation
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/instrumentation.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_app/app_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_page_entry.rs
  packages/next-swc/crates/next-core/src/next_app/app_route_entry.rs
  packages/next-swc/crates/next-core/src/next_client_reference/mod.rs
  packages/next-swc/crates/next-core/src/next_client_reference/visit_client_reference.rs
  packages/next-swc/crates/next-core/src/next_pages/page_entry.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, Turbopack, created-by: Turbopack team

#66564 Add bench application with heavy dependencies
  .eslintignore
  bench/heavy-npm-deps/.eslintrc.json
  bench/heavy-npm-deps/.gitignore
  bench/heavy-npm-deps/app/favicon.ico
  bench/heavy-npm-deps/app/fonts/GeistMonoVF.woff
  bench/heavy-npm-deps/app/fonts/GeistVF.woff
  bench/heavy-npm-deps/app/globals.css
  bench/heavy-npm-deps/app/layout.js
  bench/heavy-npm-deps/app/page.js
  bench/heavy-npm-deps/components/lodash.js
  bench/heavy-npm-deps/components/mantine.js
  bench/heavy-npm-deps/components/mermaid.js
  bench/heavy-npm-deps/next.config.mjs
  bench/heavy-npm-deps/package.json
  bench/heavy-npm-deps/postcss.config.mjs
  bench/heavy-npm-deps/public/file-text.svg
  bench/heavy-npm-deps/public/globe.svg
  bench/heavy-npm-deps/public/next.svg
  bench/heavy-npm-deps/public/vercel.svg
  bench/heavy-npm-deps/public/window.svg
  bench/heavy-npm-deps/tailwind.config.ts
  pnpm-lock.yaml
Labels: created-by: Next.js team, tests

#66776 disable deploy tests for incompatible suites
  .github/workflows/test_e2e_deploy_release.yml
  test/deploy-tests-manifest.json
  test/e2e/app-dir/app-compilation/index.test.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/conflicting-page-segments/conflicting-page-segments.test.ts
  test/e2e/app-dir/missing-suspense-with-csr-bailout/missing-suspense-with-csr-bailout.test.ts
  test/e2e/app-dir/navigation/navigation.test.ts
  test/e2e/app-dir/next-after-app/index.test.ts
  test/e2e/app-dir/next-image/next-image-proxy.test.ts
  test/e2e/app-dir/ppr-navigations/avoid-popstate-flash/avoid-popstate-flash.test.ts
  test/e2e/app-dir/ppr-navigations/loading-tsx-no-partial-rendering/loading-tsx-no-partial-rendering.test.ts
  test/e2e/app-dir/ppr-navigations/stale-prefetch-entry/stale-prefetch-entry.test.ts
  test/e2e/app-dir/scss/compilation-and-prefixing/compilation-and-prefixing.test.ts
  test/e2e/app-dir/server-components-externals/index.test.ts
  test/e2e/app-dir/static-shell-debugging/static-shell-debugging.test.ts
  test/e2e/app-dir/typeof-window/typeof-window.test.ts
  test/e2e/app-dir/webpack-loader-conditions/webpack-loader-conditions.test.ts
  test/e2e/app-dir/x-forwarded-headers/x-forwarded-headers.test.ts
  test/e2e/edge-compiler-module-exports-preference/index.test.ts
  test/e2e/favicon-short-circuit/favicon-short-circuit.test.ts
  test/e2e/i18n-data-route/i18n-data-route.test.ts
  test/e2e/next-phase/index.test.ts
  test/e2e/next-test/next-test.test.ts
  test/e2e/tsconfig-module-preserve/index.test.ts
Labels: created-by: Next.js team, tests

#66767 refactor: simplified async storage wrappers
  packages/next/src/build/utils.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/async-storage/async-storage-wrapper.ts
  packages/next/src/server/async-storage/request-async-storage-wrapper.ts
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/async-storage/with-request-store.ts
  packages/next/src/server/async-storage/with-static-generation-store.ts
  packages/next/src/server/async-storage/with-store.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/adapter.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#66804 Ensure turbo is setup when building in docker
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#66805 fix edge-document deploy test
  test/deploy-tests-manifest.json
  test/e2e/edge-pages-support/edge-document.test.ts
Labels: created-by: Next.js team, tests

#66771 Update devdependecy commander
  packages/create-next-app/index.ts
  packages/create-next-app/package.json
  packages/next/package.json
  packages/next/src/compiled/commander/index.js
  pnpm-lock.yaml
Labels: type: next, create-next-app

#66784 chore: bump turbo to 2.0.3
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/code_freeze.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/trigger_release.yml
  package.json
  packages/create-next-app/package.json
  packages/next-swc/turbo.json
  packages/next/package.json
  pnpm-lock.yaml
  scripts/normalize-version-bump.js
  turbo.json
Labels: type: next, create-next-app, created-by: Next.js team

#66807 fix parallel-route-not-found-params deploy test
  test/deploy-tests-manifest.json
  test/e2e/app-dir/parallel-route-not-found-params/parallel-route-not-found-params.test.ts
Labels: created-by: Next.js team, tests

#66764 Remove UnsupportedModule plugin and move ModuleFeatureReportResolvePlugin to BeforeResolvePlugin
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_font/local/mod.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_shared/resolve.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#66622 Make `InvalidImportResolvePlugin` a `BeforeResolvePlugin`
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_font/local/mod.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_shared/resolve.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#66809 fix ppr deploy test
  test/deploy-tests-manifest.json
  test/e2e/app-dir/ppr/ppr.test.ts
  test/lib/next-modes/next-deploy.ts
Labels: created-by: Next.js team, tests

#66811 fix app-prefetch-false-loading deploy test
  test/deploy-tests-manifest.json
  test/e2e/app-dir/app-prefetch-false-loading/app-prefetch-false-loading.test.ts
Labels: created-by: Next.js team, tests

#66781 build: Update `swc_core` to `v0.93.4`
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#66828 re-add test output string in run-tests
  run-tests.js
Labels: created-by: Next.js team

#66830 fix revalidate-reason deploy test
  test/deploy-tests-manifest.json
  test/e2e/revalidate-reason/pages/index.tsx
  test/e2e/revalidate-reason/pages/stale.tsx
  test/e2e/revalidate-reason/revalidate-reason.test.ts
Labels: created-by: Next.js team, tests

#66831 fix parallel-routes-revalidation deploy test
  test/deploy-tests-manifest.json
  test/e2e/app-dir/parallel-routes-revalidation/parallel-routes-revalidation.test.ts
Labels: created-by: Next.js team, tests

#66846 fix app-action deploy tests
  test/deploy-tests-manifest.json
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/interception-routes/(with-modal)/@modal/(.)test/page.js
  test/e2e/app-dir/actions/app/interception-routes/form.js
  test/e2e/app-dir/actions/app/interception-routes/test/page.js
  test/e2e/app-dir/actions/app/redirects/page.js
Labels: created-by: Next.js team, tests

#66848 enable parallel-routes-and-interception deploy tests
  test/deploy-tests-manifest.json
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: created-by: Next.js team, tests

#66849 fix deploy tests that patch node_modules
  test/deploy-tests-manifest.json
  test/e2e/app-dir/app-routes-client-component/.vercelignore
  test/e2e/app-dir/app-routes-client-component/vercel.json
  test/e2e/app-dir/scss/nm-module-nested/.vercelignore
  test/e2e/app-dir/scss/nm-module-nested/vercel.json
  test/e2e/app-dir/scss/nm-module/.vercelignore
  test/e2e/app-dir/scss/nm-module/vercel.json
  test/e2e/app-dir/scss/npm-import-nested/.vercelignore
  test/e2e/app-dir/scss/npm-import-nested/vercel.json
  test/e2e/esm-externals/.vercelignore
  test/e2e/esm-externals/vercel.json
Labels: created-by: Next.js team, tests

#66850 fix actions-navigation deploy test
  test/deploy-tests-manifest.json
  test/e2e/app-dir/actions-navigation/app/nested-folder/(foo)/product-category/[...slugs]/actions.js
  test/e2e/app-dir/actions-navigation/app/nested-folder/(foo)/product-category/[...slugs]/page.js
  test/e2e/app-dir/actions-navigation/index.test.ts
Labels: created-by: Next.js team, tests

#66854 de-flake interception-route-prefetch-cache deploy test
  test/e2e/app-dir/interception-route-prefetch-cache/app/page.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/interception-route-prefetch-cache.test.ts
Labels: created-by: Next.js team, tests

#66815 Use turbo-tasks-malloc on all platforms
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66806 [ppr] Improve DX for static shell debugging in dev mode
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/static-shell-debugging/static-shell-debugging.test.ts
Labels: type: next, CI approved, tests

#66534 Reland "Middleware to use react-server condition"
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/instrumentation.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_shared/resolve.rs
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/build/entries.ts
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/client/use-client-disallowed.ts
  packages/next/src/lib/constants.ts
  test/e2e/module-layer/lib/mixed-lib/shared-module.js
  test/e2e/module-layer/middleware.js
  test/e2e/module-layer/module-layer.test.ts
  test/e2e/module-layer/pages/api/default-edge.js
  test/e2e/module-layer/pages/api/default.js
  test/e2e/module-layer/pages/api/hello-edge.js
  test/e2e/module-layer/pages/api/hello.js
  test/e2e/module-layer/pages/api/server-only-edge.js
  test/e2e/module-layer/pages/api/server-only.js
  test/e2e/react-version/app/app/client-edge/page.js
  test/e2e/react-version/app/app/client/page.js
  test/e2e/react-version/app/app/route-edge/route.js
  test/e2e/react-version/app/app/route/route.js
  test/e2e/react-version/app/app/server-edge/page.js
  test/e2e/react-version/app/app/server/page.js
  test/e2e/react-version/app/layout.js
  test/e2e/react-version/lib/react-validate.js
  test/e2e/react-version/lib/react-version.js
  test/e2e/react-version/middleware.js
  test/e2e/react-version/pages/api/pages-api-edge-url-dep.js
  test/e2e/react-version/pages/api/pages-api-edge.js
  test/e2e/react-version/pages/api/pages-api.js
  test/e2e/react-version/pages/api/style.css
  test/e2e/react-version/pages/pages-ssr-edge.js
  test/e2e/react-version/pages/pages-ssr.js
  test/e2e/react-version/react-version.test.ts
  test/e2e/rsc-layers-transform/app/layout.js
  test/e2e/rsc-layers-transform/app/page.js
  test/e2e/rsc-layers-transform/instrumentation.js
  test/e2e/rsc-layers-transform/lib/shared-module.js
  test/e2e/rsc-layers-transform/middleware.js
  test/e2e/rsc-layers-transform/next.config.js
  test/e2e/rsc-layers-transform/rsc-layers-transform.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#66856 tweak deploy test jobs
  .github/workflows/retry_test.yml
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Next.js team

#66857 Update use-search-params.mdx
  docs/02-app/02-api-reference/04-functions/use-search-params.mdx
Labels: Documentation

#66825 docs: update code block filename in Module Aliases section
  docs/02-app/01-building-your-application/07-configuring/04-absolute-imports-and-module-aliases.mdx
Labels: Documentation

#66827 Update with-supertokens example
  examples/with-supertokens/app/components/home.tsx
  examples/with-supertokens/package.json
Labels: examples

#66883 fix webhook token
  .github/workflows/retry_test.yml
Labels: created-by: Next.js team

#66882 de-flake next-image test
  test/integration/next-image-legacy/custom-resolver/test/index.test.ts
Labels: created-by: Next.js team, tests

#66884 Revert "Use turbo-tasks-malloc on all platforms"
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#66842 fix: wait for playwright fixture to setup before running test
  packages/next/src/experimental/testmode/playwright/next-fixture.ts
Labels: type: next

#66852 Handle action middleware rewrite case
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/static/[slug]/button.js
  test/e2e/app-dir/actions/app/static/[slug]/page.js
  test/e2e/app-dir/actions/middleware.js
Labels: type: next, created-by: Next.js team, tests

#66885 Revert "Revert "Use turbo-tasks-malloc on all platforms" (#66884)", fix aarch64 compilation in CI
  .github/workflows/build_and_deploy.yml
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/src/lib.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#66748 [Turbopack] improve memory measurement suite
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-build-test/Cargo.toml
  packages/next-swc/crates/next-build-test/src/lib.rs
  packages/next-swc/crates/next-build-test/src/main.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#66886 skip incompatible deploy test
  test/e2e/rsc-layers-transform/rsc-layers-transform.test.ts
Labels: created-by: Next.js team, tests

#66903 Fix workflow typo
  .github/workflows/retry_test.yml
Labels: created-by: Next.js team

#66914 Fix: remove enegine requried pnpm version
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  packages/create-next-app/package.json
  packages/next/package.json
  test/.stats-app/package.json
Labels: type: next, create-next-app, created-by: Next.js team, tests

#66931 Move `create-next-app` public/ assets from local folder→ remote URL
  packages/create-next-app/templates/app-tw/js/app/page.js
  packages/create-next-app/templates/app-tw/js/public/file-text.svg
  packages/create-next-app/templates/app-tw/js/public/globe.svg
  packages/create-next-app/templates/app-tw/js/public/next.svg
  packages/create-next-app/templates/app-tw/js/public/vercel.svg
  packages/create-next-app/templates/app-tw/js/public/window.svg
  packages/create-next-app/templates/app-tw/ts/app/page.tsx
  packages/create-next-app/templates/app-tw/ts/public/file-text.svg
  packages/create-next-app/templates/app-tw/ts/public/globe.svg
  packages/create-next-app/templates/app-tw/ts/public/next.svg
  packages/create-next-app/templates/app-tw/ts/public/vercel.svg
  packages/create-next-app/templates/app-tw/ts/public/window.svg
  packages/create-next-app/templates/app/js/app/page.js
  packages/create-next-app/templates/app/js/public/file-text.svg
  packages/create-next-app/templates/app/js/public/globe.svg
  packages/create-next-app/templates/app/js/public/next.svg
  packages/create-next-app/templates/app/js/public/vercel.svg
  packages/create-next-app/templates/app/js/public/window.svg
  packages/create-next-app/templates/app/ts/app/page.tsx
  packages/create-next-app/templates/app/ts/public/file-text.svg
  packages/create-next-app/templates/app/ts/public/globe.svg
  packages/create-next-app/templates/app/ts/public/next.svg
  packages/create-next-app/templates/app/ts/public/vercel.svg
  packages/create-next-app/templates/app/ts/public/window.svg
  packages/create-next-app/templates/default-tw/js/pages/index.js
  packages/create-next-app/templates/default-tw/js/public/file-text.svg
  packages/create-next-app/templates/default-tw/js/public/globe.svg
  packages/create-next-app/templates/default-tw/js/public/next.svg
  packages/create-next-app/templates/default-tw/js/public/vercel.svg
  packages/create-next-app/templates/default-tw/js/public/window.svg
  packages/create-next-app/templates/default-tw/ts/pages/index.tsx
  packages/create-next-app/templates/default-tw/ts/public/file-text.svg
  packages/create-next-app/templates/default-tw/ts/public/globe.svg
  packages/create-next-app/templates/default-tw/ts/public/next.svg
  packages/create-next-app/templates/default-tw/ts/public/vercel.svg
  packages/create-next-app/templates/default-tw/ts/public/window.svg
  packages/create-next-app/templates/default/js/pages/index.js
  packages/create-next-app/templates/default/js/public/file-text.svg
  packages/create-next-app/templates/default/js/public/globe.svg
  packages/create-next-app/templates/default/js/public/next.svg
  packages/create-next-app/templates/default/js/public/vercel.svg
  packages/create-next-app/templates/default/js/public/window.svg
  packages/create-next-app/templates/default/ts/pages/index.tsx
  packages/create-next-app/templates/default/ts/public/file-text.svg
  packages/create-next-app/templates/default/ts/public/globe.svg
  packages/create-next-app/templates/default/ts/public/next.svg
  packages/create-next-app/templates/default/ts/public/vercel.svg
  packages/create-next-app/templates/default/ts/public/window.svg
Labels: create-next-app, created-by: Next.js DevEx team

#66810 Bump ci-info to 4.0.0
  packages/create-next-app/package.json
  pnpm-lock.yaml
Labels: create-next-app

#66813 Add protocol node: imports
  packages/create-next-app/create-app.ts
  packages/create-next-app/helpers/copy.ts
  packages/create-next-app/helpers/examples.ts
  packages/create-next-app/helpers/git.ts
  packages/create-next-app/helpers/is-folder-empty.ts
  packages/create-next-app/helpers/is-online.ts
  packages/create-next-app/helpers/is-writeable.ts
  packages/create-next-app/index.ts
Labels: create-next-app

#66829 Current behavior of import conditions
  test/e2e/import-conditions/app/app/ClientPage.tsx
  test/e2e/import-conditions/app/app/edge-page/page.tsx
  test/e2e/import-conditions/app/app/node-page/page.tsx
  test/e2e/import-conditions/app/edge-route/route.tsx
  test/e2e/import-conditions/app/layout.tsx
  test/e2e/import-conditions/app/node-route/route.tsx
  test/e2e/import-conditions/import-conditions.test.ts
  test/e2e/import-conditions/library-with-exports/browser.js
  test/e2e/import-conditions/library-with-exports/default.js
  test/e2e/import-conditions/library-with-exports/edge-light.js
  test/e2e/import-conditions/library-with-exports/index.d.ts
  test/e2e/import-conditions/library-with-exports/netlify.js
  test/e2e/import-conditions/library-with-exports/never.js
  test/e2e/import-conditions/library-with-exports/node.js
  test/e2e/import-conditions/library-with-exports/package.json
  test/e2e/import-conditions/library-with-exports/react-server.js
  test/e2e/import-conditions/library-with-exports/worker.js
  test/e2e/import-conditions/middleware.ts
  test/e2e/import-conditions/package.json
  test/e2e/import-conditions/pages/pages/edge-page.tsx
  test/e2e/import-conditions/pages/pages/node-page.tsx
Labels: created-by: Next.js team, tests

#66950 Update sitemap.mdx
  docs/02-app/02-api-reference/02-file-conventions/01-metadata/sitemap.mdx
Labels: Documentation

#66952 improve and skip test case
  test/e2e/fetch-failures-have-good-stack-traces-in-edge-runtime/fetch-failures-have-good-stack-traces-in-edge-runtime.test.ts
  test/e2e/fetch-failures-have-good-stack-traces-in-edge-runtime/pages/api/unknown-domain-no-await.ts
  test/turbopack-dev-tests-manifest.json
Labels: created-by: Turbopack team, tests

#66789 fix benchmark script
  bench/nested-deps-app-router/app/client-components-only/page.js
  bench/nested-deps-app-router/app/server-and-client-components/client-component.js
  bench/nested-deps-app-router/app/server-and-client-components/page.js
  bench/nested-deps-app-router/app/server-components-only/page.js
  bench/nested-deps-app-router/bench.mjs
  bench/nested-deps/bench.mjs
  bench/nested-deps/pages/index.jsx
Labels: created-by: Turbopack team, tests

#66953 chore(docs): add Lingui to the Internationalization Page
  docs/02-app/01-building-your-application/01-routing/15-internationalization.mdx
Labels: Documentation

#66808 Remove `worker` condition name when resolving files in the Edge runtime
  packages/next-swc/crates/next-core/src/util.rs
  packages/next/src/build/webpack-config-rules/resolve.ts
  test/e2e/import-conditions/import-conditions.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#66899 small memory and tracing improvement
  packages/next-swc/crates/next-core/src/next_client/runtime_entry.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_react_server_components.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#66968 Testmode: use ipv4 address to reduce dependency on local system configuration
  packages/next/src/experimental/testmode/proxy/server.ts
Labels: type: next

#66977 fix: Prevent MongoDB client promise being cached
  examples/with-mongodb/lib/mongodb.ts
  examples/with-mongodb/pages/index.tsx
  examples/with-mongodb/types/mongodb.d.ts
Labels: examples, CI approved

#66967 NEXT-66966 fix title inconsistency with `unstable_` functions in Docs
  docs/02-app/01-building-your-application/03-rendering/01-partial-prerendering.mdx
  docs/02-app/01-building-your-application/06-optimizing/05-scripts.mdx
  docs/02-app/01-building-your-application/07-configuring/05-mdx.mdx
  docs/02-app/01-building-your-application/10-deploying/01-production-checklist.mdx
  docs/02-app/02-api-reference/04-functions/unstable_after.mdx
  docs/02-app/02-api-reference/04-functions/unstable_cache.mdx
  docs/02-app/02-api-reference/04-functions/unstable_noStore.mdx
  docs/02-app/02-api-reference/04-functions/unstable_rethrow.mdx
  docs/02-app/02-api-reference/05-next-config-js/ppr.mdx
  docs/02-app/02-api-reference/05-next-config-js/reactCompiler.mdx
  docs/02-app/02-api-reference/05-next-config-js/staleTimes.mdx
  docs/02-app/02-api-reference/05-next-config-js/turbo.mdx
  docs/04-architecture/nextjs-compiler.mdx
Labels: Documentation

#66581 chore(github-workflow): bankrupt issues
  .github/actions/next-repo-actions/dist/bankrupt/index.js
  .github/actions/next-repo-actions/dist/bankrupt/licenses.txt
  .github/actions/next-repo-actions/src/bankrupt-issues.ts
  .github/workflows/issue_bankrupt.yml
Labels: created-by: Next.js team

#66988 docs: replace `let` with `const` for `useState`
  docs/02-app/01-building-your-application/03-rendering/04-composition-patterns.mdx
Labels: Documentation, CI approved

#66987 Refactor internal routing headers to use request meta
  packages/next/src/server/base-server.ts
  packages/next/src/server/internal-utils.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/request-meta.ts
  packages/next/src/shared/lib/constants.ts
  test/e2e/i18n-data-route/i18n-data-route.test.ts
Labels: type: next, created-by: Next.js team, tests

#66578 Remove lazyDataResolved flag
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/components/router-reducer/clear-cache-node-data-for-segment-path.test.tsx
  packages/next/src/client/components/router-reducer/clear-cache-node-data-for-segment-path.ts
  packages/next/src/client/components/router-reducer/create-initial-router-state.test.tsx
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.test.tsx
  packages/next/src/client/components/router-reducer/fill-cache-with-new-subtree-data.ts
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.test.tsx
  packages/next/src/client/components/router-reducer/fill-lazy-items-till-leaf-with-head.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.test.tsx
  packages/next/src/client/components/router-reducer/invalidate-cache-below-flight-segmentpath.ts
  packages/next/src/client/components/router-reducer/invalidate-cache-by-router-state.test.tsx
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.test.tsx
  packages/next/src/shared/lib/app-router-context.shared-runtime.ts
Labels: type: next, created-by: Next.js team

#66974 refactor(next): package.json keywords `back-end` should be `backend`
  packages/next/package.json
Labels: type: next, created-by: Next.js team

#66964 Use next-swc from branch for PR size stats
  .github/actions/next-stats-action/native/.gitignore
  .github/actions/next-stats-action/src/prepare/repo-setup.js
  test/.stats-app/package.json
Labels: created-by: Next.js team, tests

#64604 Fix internal route redirection with absolute urls outside basePath
  packages/next/src/server/app-render/action-handler.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/client/edge/page.js
  test/e2e/app-dir/actions/app/client/page.js
  test/e2e/app-dir/actions/app/client/redirects/page.js
  test/e2e/app-dir/app-basepath/app/client/action.js
  test/e2e/app-dir/app-basepath/app/client/page.js
  test/e2e/app-dir/app-basepath/index.test.ts
  test/e2e/app-dir/app-basepath/next.config.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
Labels: type: next, tests
