Repository vercel/next.js, pull requests merged in 2024-02, with the labels that each got.

#61480 chore(deps): bump `swr` to 2.2.4
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#61496 Fix styled-components test for Turbopack
  test/development/basic/styled-components-disabled.test.ts
  test/development/basic/styled-components.test.ts
  test/development/basic/styled-components/styled-components.test.ts
Labels: created-by: Next.js team, area: tests

#61499 Fix emotion test
  test/development/basic/emotion-swc/emotion-swc.test.ts
  test/turbopack-tests-manifest.json
Labels: created-by: Next.js team, area: tests

#61511 Fix experimental react support in app-route runtime
  packages/next/src/build/webpack-build/index.ts
  packages/next/src/server/future/route-modules/app-route/module.compiled.js
Labels: type: next, created-by: Next.js team

#61504 Fix .env hmr for Node.js runtime in Turbopack
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#61503 Fix env-config tests for Turbopack
  test/integration/env-config/app/pages/global.js
  test/integration/env-config/test/index.test.js
  test/turbopack-tests-manifest.json
Labels: created-by: Next.js team, area: tests

#61529 fix(with-docker): resolve build with pnpm
  examples/with-docker/Dockerfile
Labels: area: examples, CI approved

#61176 remove unnecessary PPR branch in non-PPR reducer
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
Labels: type: next, created-by: Next.js team

#61517 chore: update github actions
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/cancel.yml
  .github/workflows/code_freeze.yml
  .github/workflows/issue_lock.yml
  .github/workflows/issue_popular.yml
  .github/workflows/issue_stale.yml
  .github/workflows/nextjs-integration-test.yml
  .github/workflows/notify_release.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/retry_test.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test_e2e_deploy.yml
  .github/workflows/test_examples.yml
  .github/workflows/trigger_release.yml
  .github/workflows/update-turbopack-test-manifest.yml
  .github/workflows/update_fonts_data.yml
  .github/workflows/upload-nextjs-integration-test-results.yml
Labels: area: Font Optimization, created-by: turbopack team

#61538 fix: bump `@vercel/nft@0.26.3`
  packages/next/package.json
  packages/next/src/compiled/@vercel/nft/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#61543 chore(docs): add `// @ts-check` to `next.config.js` docs
  docs/02-app/02-api-reference/05-next-config-js/index.mdx
Labels: area: documentation, created-by: Next.js team

#61544 chore: update ESLint and plugins to latest
  package.json
  packages/next/src/build/swc/index.ts
  packages/next/src/client/components/redirect.test.ts
  packages/next/src/compiled/babel-packages/packages-bundle.js
  packages/next/src/experimental/testmode/playwright/msw.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/react-server.node.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-app-page-route-matcher-provider.test.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-app-route-route-matcher-provider.test.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-pages-api-route-matcher-provider.test.ts
  packages/next/src/server/future/route-matcher-providers/dev/dev-pages-route-matcher-provider.test.ts
  packages/next/src/server/future/route-matcher-providers/dev/helpers/file-reader/batched-file-reader.test.ts
  packages/next/src/server/future/route-matcher-providers/pages-api-route-matcher-provider.test.ts
  packages/next/src/server/future/route-matcher-providers/pages-route-matcher-provider.test.ts
  packages/next/src/server/web/spec-extension/adapters/headers.test.ts
  packages/next/src/server/web/spec-extension/adapters/request-cookies.test.ts
  packages/next/src/trace/report/index.test.ts
  pnpm-lock.yaml
  test/integration/app-tree/pages/_app.tsx
  test/integration/app-tree/pages/hello.tsx
  test/integration/export-intent/test/index.test.js
  test/integration/invalid-server-options/test/index.test.js
  test/integration/link-without-router/test/index.test.js
  test/production/export/index.test.ts
  test/unit/babel-plugin-next-ssg-transform.test.ts
  test/unit/isolated/require-page.test.ts
  test/unit/page-route-sorter.test.ts
  test/unit/warn-removed-experimental-config.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61553 Update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#61424 feat: first pass of `next/font` manifest
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-api/src/font.rs
  packages/next-swc/crates/next-api/src/lib.rs
  packages/next-swc/crates/next-api/src/middleware.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team

#61563 Fixing a case sensitivity error
  examples/with-zustand/src/app/layout.tsx
Labels: area: examples, CI approved

#61578 Skip Relay test for Turbopack
  test/integration/relay-graphql-swc-multi-project/test/index.test.js
Labels: created-by: Next.js team, area: tests

#61590 build(cargo): bump up turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#61481 refactor(next-core): consolidate custom ecma transform rules
  packages/next-swc/crates/next-core/src/next_client/context.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_server/transforms.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/emotion.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/mod.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/modularize_imports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_amp_attributes.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_cjs_optimizer.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_disallow_re_export_all_in_page.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_dynamic.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_font.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_optimize_server_react.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_page_config.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_pure.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_react_server_components.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_shake_exports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_strip_page_exports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/relay.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/server_actions.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/styled_components.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/styled_jsx.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/swc_ecma_transform_plugins.rs
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team

#61588 ensure server action errors notify rejection handlers
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/catching-error/actions.ts
  test/e2e/app-dir/actions/app/catching-error/page.tsx
Labels: type: next, created-by: Next.js team, area: tests

#61591 feat(turbopack): only preload fonts that opt in
  packages/next-swc/crates/next-api/src/font.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/mod.rs
  packages/next-swc/crates/next-core/src/next_font/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/google/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/next_font/local/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/local/mod.rs
  packages/next-swc/crates/next-core/src/next_font/local/stylesheet.rs
  packages/next-swc/crates/next-core/src/next_font/local/util.rs
  packages/next-swc/crates/next-core/src/next_font/stylesheet.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team

#61596 feat(turbopack): serve google fonts locally and allow preloading them
  packages/next-swc/crates/next-core/src/next_font/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/next_import_map.rs
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team

#61622 Update 03-linking-and-navigating.mdx
  docs/02-app/01-building-your-application/01-routing/03-linking-and-navigating.mdx
Labels: area: documentation

#61546 chore(docs): add auto closing tag to <source>
  docs/02-app/01-building-your-application/06-optimizing/02-videos.mdx
Labels: area: documentation, CI approved

#61460 Docs: Add Kinde to authentication docs
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: area: documentation

#61635 Remove unused mockedRes in resolveRoutes
  packages/next/src/server/lib/router-utils/resolve-routes.ts
Labels: type: next, created-by: Next.js team

#61637 Revert actions/setup-node v4 bump
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/code_freeze.yml
  .github/workflows/issue_popular.yml
  .github/workflows/test_e2e_deploy.yml
  .github/workflows/test_examples.yml
  .github/workflows/trigger_release.yml
  .github/workflows/update-turbopack-test-manifest.yml
  .github/workflows/update_fonts_data.yml
Labels: created-by: Next.js team

#61317 Fix @react-pdf/renderer not working in RSC
  packages/next/src/lib/server-external-packages.json
Labels: type: next

#61640 Revert "Revert actions/setup-node v4 bump"
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/code_freeze.yml
  .github/workflows/issue_popular.yml
  .github/workflows/test_e2e_deploy.yml
  .github/workflows/test_examples.yml
  .github/workflows/trigger_release.yml
  .github/workflows/update-turbopack-test-manifest.yml
  .github/workflows/update_fonts_data.yml
Labels: created-by: Next.js team, area: Font Optimization

#61641 Remove extra edge-runtime/primitives override
  package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#61595 docs: update useParams examples and pages usage
  docs/02-app/02-api-reference/04-functions/use-params.mdx
Labels: area: documentation

#61646 docs: update style9 to stylex
  docs/02-app/01-building-your-application/05-styling/03-css-in-js.mdx
Labels: area: documentation, created-by: Next.js team

#61643 chore: upgrade turbo to 1.12.2
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/code_freeze.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/test_e2e_deploy.yml
  .github/workflows/trigger_release.yml
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#61645 Ensure publish job has correct status on fail
  scripts/publish-release.js
Labels: created-by: Next.js team

#61644 Update to latest version of npm for publishing
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#61392 Encode revalidateTag value fixes #61390
  packages/next/src/server/lib/incremental-cache/fetch-cache.ts
Labels: type: next

#61564 enhancement(with-supabase): replace getSession() with getUser()
  examples/with-supabase/middleware.ts
Labels: area: examples

#61647 Mobile Friendly Test was retired
  docs/02-app/01-building-your-application/01-routing/04-loading-ui-and-streaming.mdx
Labels: area: documentation

#48717 Update README.md
  docs/05-community/01-contribution-guide.mdx
  packages/next/README.md
Labels: area: documentation, type: next

#61650 chore: update README.md
  packages/next/README.md
Labels: type: next, created-by: Next.js team

#60985 avoid processing client components and server actions in route handlers
  packages/next-swc/crates/next-api/src/app.rs
  packages/next-swc/crates/next-core/src/next_app/app_client_references_chunks.rs
  packages/next-swc/crates/next-core/src/next_manifests/client_reference_manifest.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#61659 chore: Update `@swc/helpers` to `v0.5.5`
  package.json
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#61665 Update next/font tests for Turbopack
  test/e2e/next-font/google-font-mocked-responses.js
  test/e2e/next-font/index.test.ts
Labels: created-by: Next.js team, area: Font Optimization, area: tests

#61680 Upload npm publish log as artifact for debugging
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#61686 Revert "build: upgrade edge-runtime"
  package.json
  packages/next/package.json
  packages/next/src/compiled/@edge-runtime/cookies/index.d.ts
  packages/next/src/compiled/@edge-runtime/cookies/package.json
  packages/next/src/compiled/@edge-runtime/primitives/encoding.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/encoding.js.text.js
  packages/next/src/compiled/@edge-runtime/primitives/index.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/load.d.ts
  packages/next/src/compiled/@edge-runtime/primitives/package.json
  packages/next/src/compiled/@edge-runtime/primitives/timers.d.ts
  packages/next/src/compiled/edge-runtime/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#55725 feat(cna): remove `autoprefixer` from default templates
  packages/create-next-app/templates/app-tw/js/postcss.config.js
  packages/create-next-app/templates/app-tw/ts/postcss.config.js
  packages/create-next-app/templates/default-tw/js/postcss.config.js
  packages/create-next-app/templates/default-tw/ts/postcss.config.js
  packages/create-next-app/templates/index.ts
  test/integration/create-next-app/lib/specification.ts
Labels: area: create-next-app, created-by: Next.js team, area: tests

#61446 Fixed #61434 : Docs: Duplicated code snippets
  docs/02-app/01-building-your-application/01-routing/10-parallel-routes.mdx
Labels: area: documentation, CI approved

#61649 feat(ts): add JSDoc comments for public APIs
  packages/next/src/build/jest/jest.ts
  packages/next/src/client/components/headers.ts
  packages/next/src/client/components/navigation.ts
  packages/next/src/client/components/not-found.ts
  packages/next/src/client/components/redirect.ts
  packages/next/src/client/image-component.tsx
  packages/next/src/client/link.tsx
  packages/next/src/client/router.ts
  packages/next/src/client/script.tsx
  packages/next/src/server/config-shared.ts
  packages/next/src/server/og/image-response.ts
  packages/next/src/server/web/spec-extension/request.ts
  packages/next/src/server/web/spec-extension/response.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
  packages/next/src/server/web/types.ts
  packages/next/src/shared/lib/dynamic.tsx
  packages/next/src/shared/lib/image-external.tsx
Labels: type: next, created-by: Next.js team

#61690 fix(next-core): adjust server alias for the context
  packages/next-swc/crates/next-core/src/next_import_map.rs
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#61676 fix setAssetPrefix when running on NextCustomServer
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/next.ts
  test/integration/custom-server/test/index.test.js
Labels: type: next, area: tests

#60968 fix: status code for 404 props queries to avoid client side navigation with empty props
  packages/next/src/server/lib/router-server.ts
  packages/next/src/shared/lib/router/router.ts
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, area: tests

#55104 fix(next-eslint): `.eslintrc.json` not being created by `next lint` on App Router
  packages/next/src/lib/eslint/runLintCheck.ts
  test/integration/eslint/no-config/app/app/layout.js
  test/integration/eslint/no-config/app/app/page.js
  test/integration/eslint/test/next-lint.test.js
Labels: type: next, area: tests

#61679 fix(turbopack): read preload option for google fonts
  packages/next-swc/crates/next-core/src/next_font/google/mod.rs
  packages/next-swc/crates/next-core/src/next_font/google/options.rs
  packages/next-swc/crates/next-core/src/next_font/google/request.rs
  packages/next/src/pages/_document.tsx
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#61678 Fix app-dir/next-font for Turbopack
  test/e2e/app-dir/next-font/next-font.test.ts
  test/turbopack-tests-manifest.json
Labels: created-by: Next.js team, area: Font Optimization, area: tests

#61658 decode magic identifiers
  packages/next/src/client/components/react-dev-overlay/internal/components/CodeFrame/CodeFrame.tsx
  packages/next/src/client/components/react-dev-overlay/internal/components/hot-linked-text/get-words-and-whitespaces.test.ts
  packages/next/src/client/components/react-dev-overlay/internal/components/hot-linked-text/get-words-and-whitespaces.ts
  packages/next/src/client/components/react-dev-overlay/internal/components/hot-linked-text/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/CallStackFrame.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/ComponentStackFrameRow.tsx
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/shared/lib/magic-identifier.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
Labels: type: next, created-by: turbopack team, area: tests

#61592 Associate server error digest with browser logged one
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-error-handler.tsx
  packages/next/types/react-dom.d.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/errors/app/client-component/error.js
  test/e2e/app-dir/errors/app/client-component/page.js
  test/e2e/app-dir/errors/app/client-component/style.module.css
  test/e2e/app-dir/errors/app/global-error-boundary/client/page.js
  test/e2e/app-dir/errors/app/global-error-boundary/server/page.js
  test/e2e/app-dir/errors/app/layout.js
  test/e2e/app-dir/errors/app/server-actions/action.js
  test/e2e/app-dir/errors/app/server-actions/page.js
  test/e2e/app-dir/errors/app/server-component/custom-digest/page.js
  test/e2e/app-dir/errors/app/server-component/error.js
  test/e2e/app-dir/errors/app/server-component/page.js
  test/e2e/app-dir/errors/app/ssr-error-client-component/client-component.js
  test/e2e/app-dir/errors/app/ssr-error-client-component/page.js
  test/e2e/app-dir/errors/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61687 fix loading issue when navigating to page with async metadata
  packages/next/src/client/components/layout-router.tsx
  test/e2e/app-dir/actions-navigation/app/nested-folder/(foo)/product-category/[...slugs]/page.js
  test/e2e/app-dir/navigation/app/metadata-await-promise/nested/loading.js
  test/e2e/app-dir/navigation/app/metadata-await-promise/nested/page.js
  test/e2e/app-dir/navigation/app/metadata-await-promise/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61419 fix(ts): `ReadonlyURLSearchParams` should extend `URLSearchParams`
  packages/next/src/client/components/navigation.ts
Labels: type: next, created-by: Next.js team

#61726 fix navigation issue when dynamic param casing changes
  packages/next/src/client/components/router-reducer/create-router-cache-key.ts
  test/e2e/app-dir/navigation/app/dynamic-param-casing-change/[paramA]/[paramB]/page.js
  test/e2e/app-dir/navigation/app/dynamic-param-casing-change/[paramA]/noParam/page.js
  test/e2e/app-dir/navigation/app/dynamic-param-casing-change/[paramA]/page.js
  test/e2e/app-dir/navigation/app/dynamic-param-casing-change/page.js
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61721 Fix next/server api alias for ESM pkg
  packages/next/server.js
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/server/config.ts
  packages/next/src/server/web/exports/image-response.ts
  packages/next/src/server/web/exports/index.ts
  packages/next/src/server/web/exports/next-request.ts
  packages/next/src/server/web/exports/next-response.ts
  packages/next/src/server/web/exports/revalidate-path.ts
  packages/next/src/server/web/exports/revalidate-tag.ts
  packages/next/src/server/web/exports/unstable-cache.ts
  packages/next/src/server/web/exports/unstable-no-store.ts
  packages/next/src/server/web/exports/user-agent-from-string.ts
  packages/next/src/server/web/exports/user-agent.ts
  packages/next/src/server/web/spec-extension/url-pattern.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/app-routes/route.js
  test/e2e/app-dir/app-external/app/cjs/server/page.js
  test/e2e/app-dir/app-external/middleware.js
  test/e2e/app-dir/app-external/node_modules_bak/server-api-esm/index.js
  test/e2e/app-dir/app-external/node_modules_bak/server-api-esm/package.json
Labels: type: next, created-by: Next.js team, area: tests

#61231 feat(transforms): enable rsc transforms for the remaining contexts
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_server/transforms.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_react_server_components.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/react_server_components.rs
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/development/acceptance/server-component-compiler-errors-in-pages.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#60615 fix: allow some recursion for middleware subrequests
  packages/next/src/server/web/sandbox/context.ts
  packages/next/src/server/web/sandbox/sandbox.ts
  test/e2e/app-dir/app-routes-subrequests/app-routes-subrequests.test.ts
  test/e2e/app-dir/app-routes-subrequests/app/route.ts
  test/e2e/app-dir/app-routes-subrequests/next.config.js
Labels: type: next, area: tests, CI approved

#61586 feat(next-swc): support wasm32-* build target
  .github/workflows/build_and_test.yml
  Cargo.lock
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/napi/build.rs
  packages/next-swc/crates/napi/src/lib.rs
  packages/next-swc/crates/next-core/src/next_shared/resolve.rs
  packages/next-swc/package.json
  packages/next/package.json
  packages/next/src/compiled/@napi-rs/triples/index.js
  pnpm-lock.yaml
  turbo.json
Labels: type: next, area: Turbopack, created-by: turbopack team

#61729 Add case-sensitive note for revalidateTag/revalidatePath
  docs/02-app/02-api-reference/04-functions/revalidatePath.mdx
  docs/02-app/02-api-reference/04-functions/revalidateTag.mdx
Labels: area: documentation, created-by: Next.js team

#61477 Turbopack: convert between locations correctly
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/react-dev-overlay/src/middleware-turbopack.ts
  packages/react-dev-overlay/src/middleware.ts
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshRegression.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/__snapshots__/error-recovery.test.ts.snap
  test/development/acceptance/error-recovery.test.ts
  test/development/basic/hmr.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/integration/config-devtool-dev/test/index.test.js
  test/integration/server-side-dev-errors/test/index.test.js
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#61733 Revert "Turbopack: convert between locations correctly (#61477)"
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/react-dev-overlay/src/middleware-turbopack.ts
  packages/react-dev-overlay/src/middleware.ts
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshRegression.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/__snapshots__/error-recovery.test.ts.snap
  test/development/acceptance/error-recovery.test.ts
  test/development/basic/hmr.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/integration/config-devtool-dev/test/index.test.js
  test/integration/server-side-dev-errors/test/index.test.js
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#61736 fix: showing incorrect filename in example
  docs/02-app/01-building-your-application/01-routing/10-parallel-routes.mdx
Labels: area: documentation

#61691 Fix duplicate line in README
  packages/next/README.md
Labels: type: next

#59012 docs: fix example code missing comma
  packages/next-mdx/readme.md
Labels: type: next

#61735 Reapply "Turbopack: convert between locations correctly (#61477)" (#61733)
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/react-dev-overlay/src/middleware-turbopack.ts
  packages/react-dev-overlay/src/middleware.ts
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance-app/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance-app/rsc-build-errors.test.ts
  test/development/acceptance/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshRegression.test.ts
  test/development/acceptance/__snapshots__/ReactRefreshLogBox.test.ts.snap
  test/development/acceptance/__snapshots__/error-recovery.test.ts.snap
  test/development/acceptance/error-recovery.test.ts
  test/development/acceptance/server-component-compiler-errors-in-pages.test.ts
  test/development/basic/hmr.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/integration/config-devtool-dev/test/index.test.js
  test/integration/server-side-dev-errors/test/index.test.js
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#61744 test: remove unused directory
  test/e2e/app-dir/create-next-app-template/.vscode/settings.json
  test/e2e/app-dir/create-next-app-template/app/globals.css
  test/e2e/app-dir/create-next-app-template/app/layout.tsx
  test/e2e/app-dir/create-next-app-template/app/page.module.css
  test/e2e/app-dir/create-next-app-template/app/page.tsx
  test/e2e/app-dir/create-next-app-template/next.config.js
  test/e2e/app-dir/create-next-app-template/tsconfig.json
Labels: created-by: Next.js team, area: tests

#61692 fix jsDoc of notFound
  packages/next/src/client/components/not-found.ts
Labels: type: next

#61745 feat(next-core): expand matching js extensions for the rules
  packages/next-swc/crates/next-core/src/next_shared/transforms/mod.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#61751 chore(examples): deduplicate react-dom imports in add-form.tsx
  examples/next-forms/app/add-form.tsx
Labels: area: examples

#61723 source map fixes
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-api/src/versioned_content_map.rs
  packages/next/package.json
  packages/react-dev-overlay/src/internal/helpers/stack-frame.ts
  packages/react-dev-overlay/src/middleware-turbopack.ts
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#61747 Add experimental touchstart flag for testing
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/link.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#61756 Update 02-server-actions-and-mutations.mdx
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: area: documentation

#61198 partially fix css duplication in app dir
  packages/next/src/build/webpack-config.ts
  test/e2e/app-dir/css-order/app/base-scss.module.scss
  test/e2e/app-dir/css-order/app/base.module.css
  test/e2e/app-dir/css-order/app/base2-scss.module.scss
  test/e2e/app-dir/css-order/app/base2.module.css
  test/e2e/app-dir/css-order/app/first-client/page.tsx
  test/e2e/app-dir/css-order/app/first-client/style.module.css
  test/e2e/app-dir/css-order/app/first/page.tsx
  test/e2e/app-dir/css-order/app/first/style.module.css
  test/e2e/app-dir/css-order/app/layout.tsx
  test/e2e/app-dir/css-order/app/page.tsx
  test/e2e/app-dir/css-order/app/second-client/page.tsx
  test/e2e/app-dir/css-order/app/second-client/style.module.css
  test/e2e/app-dir/css-order/app/second/page.tsx
  test/e2e/app-dir/css-order/app/second/style.module.scss
  test/e2e/app-dir/css-order/app/third/page.tsx
  test/e2e/app-dir/css-order/app/third/style.module.scss
  test/e2e/app-dir/css-order/css-order.test.ts
  test/e2e/app-dir/css-order/next.config.js
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#61784 build(cargo): add deps for the wasi
  packages/next-swc/crates/napi/Cargo.toml
Labels: type: next, created-by: turbopack team

#61781 double default stack size
  .cargo/config.toml
Labels: created-by: turbopack team

#61718 fix(ts): match `MiddlewareConfig` with documentation
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/entries.ts
  test/production/middleware-typescript/app/middleware.ts
Labels: type: next, created-by: Next.js team, area: tests

#61791 Fix attempted import error for react
  packages/next/src/build/webpack-config.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/esm/react-namespace-import/page.js
  test/e2e/app-dir/app-external/node_modules_bak/namespace-import-esm/index.mjs
  test/e2e/app-dir/app-external/node_modules_bak/namespace-import-esm/package.json
Labels: type: next, created-by: Next.js team, area: tests

#61789 consolidate prefetch utils & separate build util
  packages/next/src/build/index.ts
  packages/next/src/client/components/router-reducer/get-prefetch-cache-entry-status.ts
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  packages/next/src/client/components/router-reducer/reducers/create-prefetch-cache-key.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prune-prefetch-cache.ts
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  packages/next/src/lib/build-custom-route.ts
Labels: type: next, created-by: Next.js team

#51377 Skip client-side data-fetching after ssr error
  packages/next/src/client/index.tsx
  test/production/error-hydration/error-hydration.test.ts
  test/production/error-hydration/pages/_error.tsx
  test/production/error-hydration/pages/no-error.tsx
  test/production/error-hydration/pages/with-error.tsx
Labels: type: next, area: tests

#61795 fix(next-swc): Detect `exports.foo` from `cjs_finder`
  packages/next-swc/crates/next-custom-transforms/src/chain_transforms.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/cjs_finder.rs
  packages/next-swc/crates/next-custom-transforms/tests/full.rs
  packages/next-swc/crates/next-custom-transforms/tests/full/example/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/auto-cjs/1/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/auto-cjs/react-prod/input.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/auto-cjs/react-prod/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/example/output.js
  packages/next-swc/crates/next-custom-transforms/tests/loader/issue-31627/output.js
Labels: type: next, area: Turbopack, created-by: turbopack team

#61786 Turbopack: update more snapshots
  test/development/acceptance/ReactRefreshLogBox-app-doc.test.ts
Labels: created-by: turbopack team, area: tests

#61732 feat(next-core): build time client|server-only assertion
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/next_shared/resolve.rs
  test/development/acceptance-app/invalid-imports.test.ts
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#61790 Fall back loading chunks for sourcemap tracing
  packages/next-swc/crates/napi/src/next_api/project.rs
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: turbopack team, area: tests

#61811 test: add test for logging trace of dynamic = error
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/app-dir/dynamic-error-trace/app/layout.js
  test/development/app-dir/dynamic-error-trace/app/lib.js
  test/development/app-dir/dynamic-error-trace/app/page.js
  test/development/app-dir/dynamic-error-trace/index.test.ts
  test/development/app-dir/dynamic-error-trace/node_modules_bak/headers-lib/index.mjs
  test/development/app-dir/dynamic-error-trace/node_modules_bak/headers-lib/package.json
  test/lib/next-test-utils.ts
Labels: created-by: Next.js team, area: tests

#61813 DX: fix error overlay flash
  packages/next/src/build/output/store.ts
  packages/react-dev-overlay/src/client.ts
  packages/react-dev-overlay/src/internal/ReactDevOverlay.tsx
Labels: type: next, created-by: Next.js team

#61359 feat: Allow specifying `useLightningcss` for `styled-jsx`
  packages/next-swc/crates/next-custom-transforms/src/chain_transforms.rs
  packages/next-swc/crates/next-custom-transforms/tests/full.rs
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, area: Turbopack, created-by: turbopack team

#61822 Guard against restoring router state with missing data
  packages/next/src/client/components/app-router.tsx
Labels: type: next, created-by: Next.js team

#61819 Fix closing a modal example in parallel routes docs
  docs/02-app/01-building-your-application/01-routing/10-parallel-routes.mdx
Labels: area: documentation, created-by: Next.js team

#61799 Clean up with-supabase example
  examples/with-supabase/app/auth/callback/route.ts
  examples/with-supabase/app/login/page.tsx
  examples/with-supabase/app/page.tsx
  examples/with-supabase/components/AuthButton.tsx
  examples/with-supabase/components/SignUpUserSteps.tsx
  examples/with-supabase/middleware.ts
  examples/with-supabase/utils/supabase/middleware.ts
  examples/with-supabase/utils/supabase/server.ts
Labels: area: examples

#61833 docs: Example mismatch when changing language JS/TS
  docs/02-app/01-building-your-application/02-data-fetching/02-server-actions-and-mutations.mdx
Labels: area: documentation

#61783 test(fixture): separate pnpm cache for the test installation
  test/lib/create-next-install.js
Labels: created-by: turbopack team, area: tests

#61835 fix: babel usage with next/image
  packages/next/package.json
  packages/next/src/build/webpack-config.ts
  packages/next/src/compiled/picomatch/index.js
  pnpm-lock.yaml
  test/integration/babel-next-image/.babelrc
  test/integration/babel-next-image/app/layout.js
  test/integration/babel-next-image/app/page.js
  test/integration/babel-next-image/babel-next-image.test.js
Labels: type: next, created-by: Next.js team, area: tests

#60488 fix:(next/image) handle `remotePatterns` with a dot in the pathname
  packages/next/src/build/index.ts
  packages/next/src/shared/lib/match-remote-pattern.ts
  test/unit/image-optimizer/match-remote-pattern.test.ts
Labels: type: next, area: tests, CI approved

#61793 chore(test): switch a few tests from yarn to pnpm
  test/development/acceptance-app/rsc-runtime-errors.test.ts
  test/development/basic/barrel-optimization/barrel-optimization.test.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/edge-compiler-module-exports-preference/index.test.ts
  test/e2e/edge-runtime-uses-edge-light-import-specifier-for-packages/edge-runtime-uses-edge-light-import-specifier-for-packages.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/styled-jsx/index.test.ts
  test/e2e/transpile-packages/index.test.ts
  test/production/escheck-output/index.test.ts
  test/production/jest/index.test.ts
  test/production/jest/new-link-behavior.test.ts
  test/production/jest/relay/relay-jest.test.ts
  test/production/jest/remove-react-properties/remove-react-properties-jest.test.ts
  test/production/jest/transpile-packages.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
Labels: created-by: Next.js team, area: tests

#61187 update turbopack
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#61794 conditionally send Next-URL in Vary response
  packages/next/src/build/index.ts
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/lib/generate-interception-routes-rewrites.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web-server.ts
  test/e2e/app-dir/app/index.test.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: next, created-by: Next.js team, area: tests

#61414 provide interception rewrites to edge runtime
  packages/next-swc/crates/next-api/src/app.rs
  packages/next/src/build/index.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/render.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/client/route-loader.ts
  packages/next/src/lib/generate-interception-routes-rewrites.ts
  packages/next/src/server/lib/router-utils/filesystem.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web-server.ts
  packages/next/src/shared/lib/constants.ts
  test/e2e/app-dir/interception-route-prefetch-cache/app/layout-edge.tsx
  test/e2e/app-dir/interception-route-prefetch-cache/interception-route-prefetch-cache.test.ts
Labels: type: next, created-by: Next.js team, area: Turbopack, area: tests

#61839 docs: add Page Router only section for beforeInteractive
  docs/02-app/02-api-reference/01-components/script.mdx
Labels: area: documentation, created-by: Next.js team

#61876 chore: rename job in pull_request_popular workflow
  .github/workflows/pull_request_popular.yml
Labels: created-by: Next.js team

#61869 Update app-index to only ever construct the initial data response once
  packages/next/src/client/app-index.tsx
  test/development/acceptance-app/component-stack.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61807 chore: Update pnpm v8.14.2 to 8.15.1
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  package.json
  test/.stats-app/package.json
Labels: area: tests

#61845 Turbopack issue report tests
  examples/svg-components/next.config.js
  test/e2e/app-dir/turbopack-reports/app/layout.tsx
  test/e2e/app-dir/turbopack-reports/app/page.tsx
  test/e2e/app-dir/turbopack-reports/app/sqlite-import-5913/page.tsx
  test/e2e/app-dir/turbopack-reports/next.config.js
  test/e2e/app-dir/turbopack-reports/turbopack-reports.test.ts
Labels: area: examples, created-by: Next.js team, area: tests

#61893 docs: follow up from CRA docs
  docs/02-app/01-building-your-application/11-upgrading/04-from-vite.mdx
  docs/02-app/01-building-your-application/11-upgrading/05-from-create-react-app.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#61895 docs(cli): fix next info section title and re-order
  docs/02-app/02-api-reference/08-next-cli.mdx
Labels: area: documentation, created-by: Next.js team

#61917 Move turbopack helpers
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Next.js team

#61929 hot-reloader-turbopack refactors
  packages/next/src/build/index.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Next.js team

#61940 More hot-reloader-turbopack refactors
  packages/next/src/build/index.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Next.js team

#61943 docs: fix typo
  docs/02-app/01-building-your-application/11-upgrading/05-from-create-react-app.mdx
Labels: area: documentation

#61934 close the missing `}` in javascript function in image docs page
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation, CI approved

#61950 chore: fix lint
  docs/02-app/02-api-reference/01-components/image.mdx
Labels: area: documentation, created-by: Next.js team

#61949 fix(next/image): improve warning when `fill` and `sizes="100vw"`
  packages/next/src/client/image-component.tsx
  test/integration/next-image-new/app-dir/app/fill-warnings/page.js
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/default/pages/fill-warnings.js
  test/integration/next-image-new/default/test/index.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61952 build(cargo): bump up turbopack to latest
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#61957 docs(errors): fix typo
  errors/invalid-next-config.mdx
Labels: area: documentation, created-by: Next.js team

#61963 chore(github-workflow): dynamically create pr list (> 1 +1 reaction)
  .github/actions/next-repo-info/dist/prs/index.mjs
  .github/actions/next-repo-info/src/popular-prs.mjs
Labels: created-by: Next.js team

#61967 chore(github-workflow): update pull_request_popular name
  .github/workflows/pull_request_popular.yml
Labels: created-by: Next.js team

#61958 ci(workflow): deploy rustdocs for turbopack
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  packages/next-swc/docs/index.md
  scripts/deploy-turbopack-docs.sh
Labels: type: next, created-by: turbopack team

#61970 test(fixture): fix manifest update
  test/build-turbopack-tests-manifest.js
  test/turbopack-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#60865 Support resuming a complete HTML prerender that has dynamic flight data
  packages/next/src/client/components/static-generation-async-storage.external.ts
  packages/next/src/export/worker.ts
  packages/next/src/lib/scheduler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/create-server-components-renderer.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/is-missing-postpone-error.ts
  packages/next/src/server/app-render/make-get-server-inserted-html.tsx
  packages/next/src/server/app-render/static/static-renderer.ts
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/async-storage/static-generation-async-storage-wrapper.ts
  packages/next/src/server/stream-utils/encode-decode.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  test/e2e/app-dir/next-font/next-font.test.ts
  test/e2e/app-dir/ppr-errors/ppr-errors.test.ts
  test/e2e/app-dir/ppr-full/app/dynamic-data/force-dynamic/page.jsx
  test/e2e/app-dir/ppr-full/app/dynamic-data/force-static/page.jsx
  test/e2e/app-dir/ppr-full/app/dynamic-data/incidental-postpone/force-dynamic/page.jsx
  test/e2e/app-dir/ppr-full/app/dynamic-data/incidental-postpone/force-static/page.jsx
  test/e2e/app-dir/ppr-full/app/dynamic-data/incidental-postpone/page.jsx
  test/e2e/app-dir/ppr-full/app/dynamic-data/page.jsx
  test/e2e/app-dir/ppr-full/components/optimistic.jsx
  test/e2e/app-dir/ppr-full/components/server-html.jsx
  test/e2e/app-dir/ppr-full/ppr-full.test.ts
Labels: area: documentation, type: next, created-by: Next.js team, area: Font Optimization, area: tests

#61597 Fix empty white page with parallel routes + loading boundaries
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/parallel-routes-and-interception/app/with-loading/@slot/foo/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/with-loading/@slot/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/with-loading/foo/loading.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/with-loading/foo/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/with-loading/layout.tsx
  test/e2e/app-dir/parallel-routes-and-interception/app/with-loading/page.tsx
  test/e2e/app-dir/parallel-routes-and-interception/parallel-routes-and-interception.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61662 Update `swc_core` to `v0.90.7` and update turbopack
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/next-custom-transforms/Cargo.toml
  packages/next-swc/crates/next-custom-transforms/src/transforms/react_server_components.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/server_actions.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/strip_page_exports.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#61974 docs: update Auth.js name to NextAuth.js
  docs/02-app/01-building-your-application/09-authentication/index.mdx
Labels: area: documentation

#61932 Turbopack: remove server addr
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/src/next_api/project.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-core/src/next_edge/context.rs
  packages/next-swc/crates/next-core/src/next_server/context.rs
  packages/next-swc/crates/next-core/src/util.rs
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, area: Turbopack, created-by: turbopack team

#61993 More hot-reloader-turbopack refactors
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Next.js team

#61996 Use destructured object for #61993
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Next.js team

#61235 only prefix prefetch cache entries if they vary based on `Next-URL`
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/reducers/prefetch-reducer.ts
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.test.tsx
  packages/next/src/client/components/router-reducer/router-reducer-types.ts
  test/e2e/app-dir/app-prefetch/app/layout.js
  test/e2e/app-dir/app-prefetch/app/prefetch-auto-route-groups/(dashboard)/loading.tsx
  test/e2e/app-dir/app-prefetch/app/prefetch-auto-route-groups/(dashboard)/page.tsx
  test/e2e/app-dir/app-prefetch/app/prefetch-auto-route-groups/fetch-data.ts
  test/e2e/app-dir/app-prefetch/app/prefetch-auto-route-groups/layout.tsx
  test/e2e/app-dir/app-prefetch/app/prefetch-auto-route-groups/sub/bar/page.tsx
  test/e2e/app-dir/app-prefetch/app/prefetch-auto-route-groups/sub/foo/page.tsx
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61997 Remove leftover server addr references
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  test/development/basic/next-rs-api.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61441 log fast refresh in app dir
  packages/next/src/client/components/react-dev-overlay/hot-reloader-client.tsx
Labels: type: next, created-by: turbopack team

#61977 docs(turbopack): build more docs
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_reusable.yml
  packages/next-swc/crates/napi/src/minify.rs
  packages/next-swc/crates/napi/src/next_api/utils.rs
  packages/next-swc/crates/napi/src/util.rs
  packages/next-swc/crates/next-api/src/dynamic_imports.rs
  packages/next-swc/crates/next-api/src/pages.rs
  packages/next-swc/crates/next-api/src/project.rs
  packages/next-swc/crates/next-api/src/server_actions.rs
  packages/next-swc/crates/next-core/src/app_structure.rs
  packages/next-swc/crates/next-core/src/next_app/metadata/mod.rs
  packages/next-swc/crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_module.rs
  packages/next-swc/crates/next-core/src/next_config.rs
  packages/next-swc/crates/next-core/src/next_font/local/font_fallback.rs
  packages/next-swc/crates/next-core/src/next_font/util.rs
  packages/next-swc/crates/next-core/src/next_telemetry.rs
  packages/next-swc/crates/next-core/src/pages_structure.rs
  packages/next-swc/crates/next-core/src/transform_options.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/dynamic.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/react_server_components.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/strip_page_exports.rs
  packages/next-swc/docs/book.toml
  packages/next-swc/docs/index.md
  packages/next-swc/docs/src/README.md
  packages/next-swc/docs/src/SUMMARY.md
  packages/next-swc/docs/src/api.md
  packages/next-swc/docs/src/architecture.md
  packages/next-swc/docs/src/documentation.md
  packages/next-swc/docs/src/how_to_run_tests.md
  packages/next-swc/docs/src/next_dynamic.md
  packages/next-swc/docs/src/rsc.md
  packages/next-swc/docs/src/setup.md
  packages/next-swc/docs/src/turbopack_binding.md
  scripts/deploy-turbopack-docs.sh
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team

#62016 docs(turbopack): reduce documentation size
  .github/workflows/build_and_deploy.yml
  Cargo.lock
  Cargo.toml
  packages/next-swc/crates/napi/Cargo.toml
  packages/next-swc/crates/next-core/Cargo.toml
  packages/next-swc/crates/next-core/src/app_segment_config.rs
  packages/next-swc/crates/next-core/src/lib.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/modularize_imports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_dynamic.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_font.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_react_server_components.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/next_strip_page_exports.rs
  packages/next-swc/crates/next-core/src/next_shared/transforms/server_actions.rs
  packages/next-swc/crates/next-core/src/util.rs
  packages/next/package.json
  pnpm-lock.yaml
  scripts/deploy-turbopack-docs.sh
Labels: type: next, area: Font Optimization, area: Turbopack, created-by: turbopack team

#62005 Reduce memory/cache overhead from over loader processing
  .github/actions/next-stats-action/src/run/collect-diffs.js
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-swc-loader.ts
  test/.stats-app/app/edge-ssr-repeated-1/page.js
  test/.stats-app/app/edge-ssr-repeated-10/page.js
  test/.stats-app/app/edge-ssr-repeated-11/page.js
  test/.stats-app/app/edge-ssr-repeated-12/page.js
  test/.stats-app/app/edge-ssr-repeated-13/page.js
  test/.stats-app/app/edge-ssr-repeated-14/page.js
  test/.stats-app/app/edge-ssr-repeated-15/page.js
  test/.stats-app/app/edge-ssr-repeated-16/page.js
  test/.stats-app/app/edge-ssr-repeated-17/page.js
  test/.stats-app/app/edge-ssr-repeated-18/page.js
  test/.stats-app/app/edge-ssr-repeated-19/page.js
  test/.stats-app/app/edge-ssr-repeated-2/page.js
  test/.stats-app/app/edge-ssr-repeated-20/page.js
  test/.stats-app/app/edge-ssr-repeated-21/page.js
  test/.stats-app/app/edge-ssr-repeated-22/page.js
  test/.stats-app/app/edge-ssr-repeated-23/page.js
  test/.stats-app/app/edge-ssr-repeated-24/page.js
  test/.stats-app/app/edge-ssr-repeated-25/page.js
  test/.stats-app/app/edge-ssr-repeated-3/page.js
  test/.stats-app/app/edge-ssr-repeated-4/page.js
  test/.stats-app/app/edge-ssr-repeated-5/page.js
  test/.stats-app/app/edge-ssr-repeated-6/page.js
  test/.stats-app/app/edge-ssr-repeated-7/page.js
  test/.stats-app/app/edge-ssr-repeated-8/page.js
  test/.stats-app/app/edge-ssr-repeated-9/page.js
  test/.stats-app/app/edge-ssr-repeated/page.js
  test/.stats-app/stats-config.js
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61978 fix(examples): `cache-handler-redis` implementation may cause error `"Socket already opened"` on production
  examples/cache-handler-redis/cache-handler.js
Labels: area: examples

#62019 fix: bump `@vercel/nft@0.26.4`
  packages/next/package.json
  packages/next/src/compiled/@vercel/nft/index.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#62018 refactor(next-core): do not reexport turbopack_binding
  packages/next-swc/crates/next-build/src/build_options.rs
  packages/next-swc/crates/next-core/src/lib.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#61976 build: Update `swc_core` to `v0.90.8`
  Cargo.lock
  Cargo.toml
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: turbopack team

#62028 test(turbopack): Modify a webpack-specific assertion
  test/e2e/app-dir/app-css/index.test.ts
  test/turbopack-tests-manifest.json
Labels: created-by: turbopack team, area: tests

#62048 Rename internal utility naming for clarification
  packages/next-swc/crates/next-core/src/next_import_map.rs
  packages/next-swc/crates/next-core/src/next_server/resolve.rs
  packages/next-swc/crates/next-custom-transforms/src/transforms/server_actions.rs
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/client-graph/1/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/1/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/2/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/3/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/4/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/5/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/6/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/7/output.js
  packages/next-swc/crates/next-custom-transforms/tests/errors/server-actions/server-graph/8/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/1/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/10/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/11/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/12/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/13/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/14/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/15/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/16/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/17/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/18/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/19/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/2/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/20/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/21/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/22/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/23/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/24/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/25/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/26/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/27/input.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/27/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/28/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/29/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/3/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/4/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/5/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/6/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/7/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/8/output.js
  packages/next-swc/crates/next-custom-transforms/tests/fixture/server-actions/server/9/output.js
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/webpack/loaders/next-flight-loader/server-reference.ts
  packages/next/src/lib/constants.ts
Labels: type: next, created-by: Next.js team, area: Turbopack

#62041 fix: Check if the GET comments response was ok, otherwise throw
  examples/blog-with-comment/hooks/useComment.ts
Labels: area: examples, CI approved

#62056 docs: add link to Blob
  docs/02-app/01-building-your-application/06-optimizing/02-videos.mdx
  docs/02-app/01-building-your-application/06-optimizing/11-static-assets.mdx
Labels: area: documentation, created-by: Next.js DevEx team

#60708 Fixed useParams hook undesired re-renders and updated it to use PathParamsContext in the app router.
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/navigation.ts
  test/e2e/app-dir/use-params/app/rerenders/[dynamic]/page.tsx
  test/e2e/app-dir/use-params/pages/pages-dir/[dynamic]/index.tsx
  test/e2e/app-dir/use-params/use-params.test.ts
Labels: type: next, area: tests

#61922 fix(custom-transform): allow to assert empty program for rsc
  packages/next-swc/crates/next-custom-transforms/src/transforms/react_server_components.rs
  test/turbopack-tests-manifest.json
Labels: type: next, area: Turbopack, created-by: turbopack team, area: tests

#62033 fix navigation applying stale data when triggered from global not found
  packages/next/src/client/components/router-reducer/is-navigating-to-new-root-layout.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/shared/lib/segment.ts
  test/e2e/app-dir/prefetching-not-found/app/layout.tsx
  test/e2e/app-dir/prefetching-not-found/app/page.tsx
  test/e2e/app-dir/prefetching-not-found/prefetching-not-found.test.ts
Labels: type: next, created-by: Next.js team, area: tests

#61165 fix(turbopack): `react-dom/server` in rsc context
  packages/next-swc/crates/next-core/src/next_import_map.rs
Labels: type: next, area: Turbopack, created-by: turbopack team

#51728 refactor(tests): make chain more "correct"
  package.json
  packages/next/package.json
  pnpm-lock.yaml
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/repeated-dev-edits/repeated-dev-edits.test.ts
  test/e2e/app-dir/actions/app-action-progressive-enhancement.test.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/app-client-cache/client-cache.test.ts
  test/e2e/app-dir/app-prefetch-false/app-prefetch-false.test.ts
  test/e2e/app-dir/interception-route-prefetch-cache/interception-route-prefetch-cache.test.ts
  test/e2e/app-dir/navigation/navigation.test.ts
  test/e2e/app-dir/router-autoscroll/router-autoscroll.test.ts
  test/e2e/ignore-invalid-popstateevent/with-i18n.test.ts
  test/e2e/ignore-invalid-popstateevent/without-i18n.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/e2e/middleware-rewrites/test/index.test.ts
  test/e2e/middleware-trailing-slash/test/index.test.ts
  test/e2e/new-link-behavior/material-ui.test.ts
  test/integration/font-optimization/test/index.test.js
  test/integration/next-image-legacy/base-path/test/index.test.ts
  test/integration/next-image-legacy/default/pages/priority-missing-warning.js
  test/integration/next-image-legacy/default/test/index.test.ts
  test/integration/next-image-new/app-dir/app/priority-missing-warning/page.js
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/default/pages/priority-missing-warning.js
  test/integration/next-image-new/default/test/index.test.ts
  test/integration/script-loader/test/index.test.js
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
  test/lib/browsers/selenium.ts
  test/lib/e2e-utils.ts
  test/lib/next-webdriver.ts
  test/production/pages-dir/production/test/index.test.ts
Labels: type: next, created-by: turbopack team, area: tests

#62063 Add puppeteer-core to server-external-packages.json
  packages/next/src/lib/server-external-packages.json
Labels: type: next, CI approved

#62051 Fix extra swc optimizer applied to node_modules in browser layer
  packages/next/src/build/swc/options.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/app-dir/app-external/app/browser/page.js
  test/e2e/app-dir/app-external/app/browser/worker.js
  test/e2e/app-dir/app-external/node_modules_bak/browser-module/browser.js
  test/e2e/app-dir/app-external/node_modules_bak/browser-module/index.js
  test/e2e/app-dir/app-external/node_modules_bak/browser-module/package.json
  test/turbopack-tests-manifest.json
Labels: type: next, created-by: Next.js team, area: tests

#62062 docs(turbopack): revise links
  packages/next-swc/docs/src/links.md
Labels: type: next, created-by: turbopack team
