Repository vercel/next.js, pull requests merged in 2024-11, with the labels that each got.

#72121 fix: use `satisfies` operator instead of type in `tailwind.config.ts`
  packages/create-next-app/templates/app-tw-empty/ts/tailwind.config.ts
  packages/create-next-app/templates/app-tw/ts/tailwind.config.ts
  packages/create-next-app/templates/default-tw-empty/ts/tailwind.config.ts
  packages/create-next-app/templates/default-tw/ts/tailwind.config.ts
Labels: create-next-app

#62694 Sync types of `NextNodeServer` and `BaseServer`
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/server/base-http/index.ts
  packages/next/src/server/base-http/web.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/adapter.ts
  test/production/typescript-basic/typechecking.test.ts
  test/production/typescript-basic/typechecking/tsconfig.json
Labels: type: next, tests

#71940 Clickable stack trace links in logged terminal errors
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/config/blocks/base.ts
  packages/next/src/server/patch-error-inspect.ts
  test/development/middleware-errors/index.test.ts
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
Labels: type: next, created-by: Next.js team, tests

#72159 refactor: replace withWorkStore with createWorkStore and run
  packages/next/src/build/utils.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/adapter.ts
Labels: type: next, created-by: Next.js team

#72123 `@next/codemod`: Use `npm view` to support NPM registry mirrors
  packages/next-codemod/bin/upgrade.ts
Labels: type: next

#72183 Document default values in cookies options
  docs/02-app/02-api-reference/04-functions/cookies.mdx
Labels: Documentation

#72132 examples: Add .npmrc to Dockerfile to support custom npm configs
  examples/with-docker-compose/next-app/dev.Dockerfile
  examples/with-docker-compose/next-app/prod-without-multistage.Dockerfile
  examples/with-docker-compose/next-app/prod.Dockerfile
  examples/with-docker-multi-env/docker/development/Dockerfile
  examples/with-docker-multi-env/docker/production/Dockerfile
  examples/with-docker-multi-env/docker/staging/Dockerfile
Labels: examples

#70731 [Testing] Export utilities to help test middleware and next.config.js routing
  docs/02-app/01-building-your-application/01-routing/14-middleware.mdx
  docs/02-app/02-api-reference/05-next-config-js/index.mdx
  packages/next/experimental/testing/server.d.ts
  packages/next/experimental/testing/server.js
  packages/next/package.json
  packages/next/src/experimental/testing/server/README.md
  packages/next/src/experimental/testing/server/config-testing-utils.test.ts
  packages/next/src/experimental/testing/server/config-testing-utils.ts
  packages/next/src/experimental/testing/server/index.ts
  packages/next/src/experimental/testing/server/middleware-testing-utils.test.ts
  packages/next/src/experimental/testing/server/middleware-testing-utils.ts
  packages/next/src/experimental/testing/server/utils.ts
  packages/next/taskfile.js
Labels: type: next, Documentation

#72113 perf(turbo-tasks): Call `.shrink_to_fit()` on common collection types when constructing a cell
  turbopack/crates/turbo-tasks-backend/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks-macros-shared/src/primitive_input.rs
  turbopack/crates/turbo-tasks-macros/src/derive/mod.rs
  turbopack/crates/turbo-tasks-macros/src/derive/shrink_to_fit_macro.rs
  turbopack/crates/turbo-tasks-macros/src/lib.rs
  turbopack/crates/turbo-tasks-macros/src/primitive_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks-memory/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks-testing/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/macro_helpers.rs
  turbopack/crates/turbo-tasks/src/primitives.rs
  turbopack/crates/turbo-tasks/src/shrink_to_fit.rs
  turbopack/crates/turbo-tasks/src/task/function.rs
  turbopack/crates/turbo-tasks/src/vc/mod.rs
  turbopack/crates/turbo-tasks/src/vc/read.rs
  turbopack/crates/turbo-tasks/src/vc/traits.rs
Labels: created-by: Turbopack team

#71167 perf: merge app metadata route and rsc layer
  packages/next/src/build/webpack-config.ts
  packages/next/src/lib/constants.ts
Labels: type: next, created-by: Next.js team

#72191 skip seeding prefetch cache in development
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  test/e2e/app-dir/navigation/navigation.test.ts
Labels: type: next, created-by: Next.js team, tests

#72217 docs(cacheTag): remove unused `cacheLife` import and add missing `switcher`
  docs/02-app/02-api-reference/04-functions/cacheTag.mdx
Labels: Documentation, CI approved

#72215 docs(draft-mode): fix missing `switcher` for TS and JS codeblock
  docs/02-app/02-api-reference/04-functions/draft-mode.mdx
Labels: Documentation

#72216 docs(cacheLife): fix incorrect highlight and missing `switcher`
  docs/02-app/02-api-reference/04-functions/cacheLife.mdx
Labels: Documentation

#72201 docs: change `NextAuth.js` to `Auth.js`
  docs/02-app/01-building-your-application/09-authentication/index.mdx
  docs/02-app/index.mdx
  examples/auth/README.md
  examples/auth/app/layout.tsx
Labels: examples, Documentation

#72190 Fix `expire` time for `cacheLife('seconds')`
  packages/next/src/server/config-shared.ts
Labels: type: next

#71338 fix(turbopack): Fix `EcmascriptModuleFacadeModule::ident()`
  turbopack/crates/turbopack-core/src/ident.rs
  turbopack/crates/turbopack-css/src/chunk/mod.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/mod.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
Labels: created-by: Turbopack team

#72258 Strip `assetPrefix` when resolving external source maps of client chunks
  packages/next/src/client/components/react-dev-overlay/server/middleware-turbopack.ts
  packages/next/src/client/components/react-dev-overlay/server/middleware.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  test/development/app-dir/source-mapping/next.config.js
Labels: type: next, created-by: Next.js team, tests

#72135 Docs: Fix css modules page in Pages docs
  docs/02-app/01-building-your-application/05-styling/02-tailwind-css.mdx
  docs/02-app/02-api-reference/05-next-config-js/webpack.mdx
  docs/03-pages/01-building-your-application/04-styling/01-css.mdx
  errors/css-global.mdx
Labels: Documentation, created-by: Next.js DevEx team

#71704 feat(turbopack): Use direct import for tree shaking
  turbopack/crates/turbopack-ecmascript/src/tree_shake/graph.rs
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/amphtml-document/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/app-route/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/dce/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-3/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/ipc-evaluate/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/ipc-index/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/mui-sys/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/nanoid/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/next-response/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/nextjs-tracer/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/node-fetch/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/otel-core/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/route-handler/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/template-pages/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/typeof-1/output.md
Labels: type: next, created-by: Turbopack team, CI Bypass Graphite Optimization

#71546 perf(turbopack): Optimize read-write analysis of tree shaking
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/effects-1/input.js
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/effects-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/grouping/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/shared-and-side-effects/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/output.md
Labels: created-by: Turbopack team

#71550 perf(turbopack): Do not store export star in internal fragments
  turbopack/crates/turbopack-ecmascript/src/tree_shake/graph.rs
Labels: created-by: Turbopack team, CI Bypass Graphite Optimization

#72109 Turbopack: font weight sorting feedback
  crates/next-core/src/next_font/google/util.rs
Labels: Turbopack, created-by: Turbopack team

#64871 fix(cli): respect SIGTERM and SIGINT exit codes in next build
  packages/next/src/cli/next-build.ts
  test/integration/cli/test/index.test.js
Labels: type: next, tests

#72168 Generate per-segment prefetch responses
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
  packages/next/src/server/app-render/entry-base.ts
  test/e2e/app-dir/ppr-navigations/simple/per-segment-prefetching.test.ts
Labels: type: next, created-by: Next.js team, tests

#72292 docs(use-cache): fix typo and link
  docs/02-app/02-api-reference/01-directives/use-cache.mdx
Labels: created-by: Next.js team, Documentation

#72267 patchFile awaits compilation
  test/development/middleware-errors/index.test.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/index.js
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
Labels: created-by: Next.js team, tests

#72156 [Docs] updating information about fetch caching in the fetching docs
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching.mdx
Labels: Documentation

#72277 docs: add missing before section name
  errors/next-prerender-current-time.mdx
Labels: Documentation

#72227 fix loading bailout condition & server patch mismatch tolerance
  packages/next/src/client/components/router-reducer/reducers/server-patch-reducer.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  test/e2e/app-dir/app-prefetch/prefetching.test.ts
Labels: type: next, created-by: Next.js team, tests

#72151 docs: update `cookies` reference url
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/01-building-your-application/12-examples/index.mdx
  packages/next/src/server/web/spec-extension/adapters/request-cookies.ts
Labels: type: next, Documentation

#72272 docs: typo file extension
  errors/invalid-getserversideprops-value.mdx
  errors/no-document-viewport-meta.mdx
Labels: Documentation

#72293 codemod: handle children with props and error on bad prop access
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-40.input.tsx
  packages/next-codemod/transforms/__testfixtures__/next-async-request-api-dynamic-props/access-props-40.output.tsx
  packages/next-codemod/transforms/lib/async-request-api/next-async-dynamic-prop.ts
  packages/next-codemod/transforms/lib/async-request-api/utils.ts
Labels: type: next, created-by: Next.js team

#72295 docs(fetch): update fetch example to v15
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching.mdx
Labels: created-by: Next.js team, Documentation

#72194 Upgrade webpack to 5.95.0
  package.json
  packages/next/package.json
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/plugins/eval-source-map-dev-tool-plugin.ts
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/jsconfig-paths-plugin.ts
  packages/next/src/build/webpack/utils.ts
  packages/next/src/bundles/webpack/packages/HotModuleReplacement.runtime.js
  packages/next/src/bundles/webpack/packages/JavascriptHotModuleReplacement.runtime.js
  packages/next/src/compiled/babel/bundle.js
  packages/next/src/compiled/mini-css-extract-plugin/cjs.js
  packages/next/src/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/src/compiled/mini-css-extract-plugin/index.js
  packages/next/src/compiled/mini-css-extract-plugin/loader.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/webpack/HotModuleReplacement.runtime.js
  packages/next/src/compiled/webpack/JavascriptHotModuleReplacement.runtime.js
  packages/next/src/compiled/webpack/bundle5.js
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#72200 refactor(turbopack-core): Migrate more resolve options structs to ResolvedVc
  crates/next-api/src/app.rs
  crates/next-api/src/instrumentation.rs
  crates/next-api/src/middleware.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/project.rs
  crates/next-core/src/app_structure.rs
  crates/next-core/src/next_build.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_client/transforms.rs
  crates/next-core/src/next_edge/unsupported.rs
  crates/next-core/src/next_font/google/mod.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/next_server/transforms.rs
  turbopack/crates/turbopack-cli/src/contexts.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/options.rs
  turbopack/crates/turbopack-resolve/src/resolve.rs
  turbopack/crates/turbopack-resolve/src/typescript.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack/src/evaluate_context.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
Labels: Turbopack, created-by: Turbopack team

#72161 [ppr] Resume Data Cache
  packages/next/src/export/routes/app-page.ts
  packages/next/src/export/worker.ts
  packages/next/src/lib/constants.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/cache-scope-instance.ts
  packages/next/src/server/async-storage/cache-scope.external.ts
  packages/next/src/server/async-storage/request-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/cache-handlers/types.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/prefetch-cache-scopes.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/utils.ts
  packages/next/src/server/resume-data-cache/cache-store.ts
  packages/next/src/server/resume-data-cache/resume-data-cache.ts
  packages/next/src/server/resume-data-cache/serialization.ts
  packages/next/src/server/route-modules/app-page/module.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web-server.ts
  test/integration/server-side-dev-errors/test/index.test.js
  test/unit/incremental-cache/file-system-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#72205 Refactor implicitTags
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team, tests

#72310 docs: fix intented typo
  docs/02-app/01-building-your-application/11-upgrading/04-app-router-migration.mdx
Labels: Documentation

#72309 docs: fix typo
  docs/02-app/01-building-your-application/10-deploying/03-multi-zones.mdx
Labels: Documentation

#72308 "intrisic" docs: fix typo
  docs/02-app/01-building-your-application/06-optimizing/01-images.mdx
Labels: Documentation

#72304 docs: fix compatibility typo
  docs/02-app/01-building-your-application/01-routing/10-dynamic-routes.mdx
Labels: Documentation

#68748 fix(webpack): update cssnano-preset-default to v7
  packages/next/package.json
  packages/next/src/compiled/cssnano-simple/index.js
  pnpm-lock.yaml
  test/unit/cssnano-simple/cssnano-simple/basic.test.ts
  test/unit/cssnano-simple/cssnano-simple/exclude-all.test.ts
Labels: type: next, created-by: Next.js team, tests

#72302 docs: add `legacy` version tag to `exportPathMap` docs
  docs/02-app/02-api-reference/05-next-config-js/exportPathMap.mdx
Labels: Documentation

#72282 docs: add missing Useful Links to error pages
  errors/next-prerender-sync-params.mdx
  errors/next-prerender-sync-request.mdx
  errors/no-before-interactive-script-outside-document.mdx
  errors/no-script-in-document.mdx
Labels: Documentation

#72281 docs: add `bash filename=Terminal` to code block
  errors/next-image-upgrade-to-13.mdx
  errors/reserved-port.mdx
  errors/sync-dynamic-apis.mdx
  errors/webpack-build-worker-opt-out.mdx
Labels: Documentation

#72278 docs: remove -/+ diff marker
  errors/next-request-in-use-cache.mdx
Labels: Documentation

#70062 Turbopack: ESM exports override SpecifiedModuleType
  turbopack/crates/turbopack-ecmascript/src/analyzer/imports.rs
Labels: created-by: Turbopack team

#72323 [Turbopack] Tracing improvements
  turbopack/crates/turbopack-trace-server/src/span_ref.rs
Labels: created-by: Turbopack team

#72327 examples: `blog-starter` used `params` without `await`
  examples/blog-starter/package.json
  examples/blog-starter/src/app/posts/[slug]/page.tsx
  examples/blog-starter/tsconfig.json
Labels: examples, created-by: Next.js team

#72332 examples: `check-examples.sh` considers `src/app` as Pages Router
  examples/api-routes/.gitignore
  examples/blog-starter/next-env.d.ts
  examples/cms-wordpress/next-env.d.ts
  examples/with-zustand/next-env.d.ts
  scripts/check-examples.sh
Labels: examples, created-by: Next.js team

#72284 [ppr] Move Resume Data Cache into Postponed State
  packages/next/src/export/routes/app-page.ts
  packages/next/src/lib/constants.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/postponed-state.test.ts
  packages/next/src/server/app-render/postponed-state.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/async-storage/request-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/response-cache/utils.ts
  packages/next/src/server/resume-data-cache/cache-store.ts
  packages/next/src/server/resume-data-cache/serialization.test.ts
  packages/next/src/server/resume-data-cache/serialization.ts
  test/unit/incremental-cache/file-system-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#72294 app build: don't merge dynamic params with query params
  packages/next/src/export/routes/pages.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/render.tsx
  test/e2e/app-dir/app-static/app-static.test.ts
Labels: type: next, created-by: Next.js team, tests

#71984 Turbopack: use file:// uris for server resources in development
  crates/next-core/src/next_server/context.rs
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#72290 bump webpack to 5.96.1
  package.json
  packages/next/package.json
  packages/next/src/bundles/webpack/packages/HotModuleReplacement.runtime.js
  packages/next/src/bundles/webpack/packages/JavascriptHotModuleReplacement.runtime.js
  packages/next/src/compiled/@vercel/nft/index.js
  packages/next/src/compiled/acorn/acorn.js
  packages/next/src/compiled/mini-css-extract-plugin/cjs.js
  packages/next/src/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/src/compiled/mini-css-extract-plugin/index.js
  packages/next/src/compiled/mini-css-extract-plugin/loader.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/webpack/HotModuleReplacement.runtime.js
  packages/next/src/compiled/webpack/JavascriptHotModuleReplacement.runtime.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#72296 feat(turbopack): Add an env var to debug-print the fast refresh invalidation reason
  crates/napi/src/next_api/project.rs
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  test/development/basic/next-rs-api.test.ts
Labels: type: next, created-by: Turbopack team, tests

#72207 Refactor prerender phase assignment
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team, tests

#71384 Turbopack unhandled errors: ask for a description
  crates/napi/src/util.rs
Labels: created-by: Turbopack team

#72342 [Per-Segment Prefetch] Parent segments must be prefetched before children
  packages/next/src/server/app-render/collect-segment-data.tsx
  test/e2e/app-dir/ppr-navigations/simple/per-segment-prefetching.test.ts
Labels: type: next, created-by: Next.js team, tests

#72299 refactor: renamed immutable and mutable as prerender and render
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/postponed-state.test.ts
  packages/next/src/server/app-render/postponed-state.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/request-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/resume-data-cache/cache-store.ts
  packages/next/src/server/resume-data-cache/resume-data-cache.test.ts
  packages/next/src/server/resume-data-cache/resume-data-cache.ts
  packages/next/src/server/resume-data-cache/serialization.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
Labels: type: next, created-by: Next.js team

#72182 docs(typo): fix typos in `03-playwright.mdx`
  docs/02-app/01-building-your-application/08-testing/03-playwright.mdx
Labels: Documentation

#72218 docs(typo): fix typos in `04-cypress.mdx`
  docs/02-app/01-building-your-application/08-testing/04-cypress.mdx
Labels: Documentation

#72211 Refactor prerender cookies
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team, tests

#72212 Refactor: move url to app context to avoid passing requestStore
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team, tests

#72343 [ppr] Stabilize Chained Prerenders
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/router-utils/filesystem.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/normalizers/request/postponed.test.ts
  packages/next/src/server/normalizers/request/postponed.ts
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#72354 Update test cases for backport branch
  test/integration/create-next-app/examples.test.ts.bak
  test/integration/create-next-app/index.test.ts.bak
  test/integration/create-next-app/package-manager/bun.test.ts.bak
  test/integration/create-next-app/package-manager/npm.test.ts.bak
  test/integration/create-next-app/package-manager/pnpm.test.ts.bak
  test/integration/create-next-app/package-manager/yarn.test.ts.bak
  test/integration/create-next-app/prompts.test.ts.bak
  test/integration/create-next-app/templates/app.test.ts.bak
  test/integration/create-next-app/templates/matrix.test.ts.bak
  test/integration/create-next-app/templates/pages.test.ts.bak
  test/integration/image-optimizer/test/util.ts
  test/integration/next-image-legacy/base-path/test/static.test.ts
  test/integration/next-image-legacy/default/test/static.test.ts
  test/integration/next-image-new/app-dir/test/static.test.ts
  test/integration/next-image-new/base-path/test/static.test.js
  test/integration/next-image-new/default/test/static.test.ts
  test/production/eslint/test/__snapshots__/next-build-and-lint.test.ts.snap
Labels: created-by: Next.js team, tests

#72106 Display the stitched error instead of react error
  packages/next/src/client/components/react-dev-overlay/app/ReactDevOverlay.tsx
  packages/next/src/client/react-client-callbacks/shared.ts
  test/development/acceptance-app/dynamic-error.test.ts
  test/development/app-dir/owner-stack-invalid-element-type/app/browser/browser-only.js
  test/development/app-dir/owner-stack-invalid-element-type/app/browser/page.js
  test/development/app-dir/owner-stack-invalid-element-type/app/foo.js
  test/development/app-dir/owner-stack-invalid-element-type/app/layout.tsx
  test/development/app-dir/owner-stack-invalid-element-type/app/rsc/page.js
  test/development/app-dir/owner-stack-invalid-element-type/app/ssr/page.js
  test/development/app-dir/owner-stack-invalid-element-type/invalid-element-type.test.ts
  test/development/app-dir/owner-stack-invalid-element-type/next.config.js
  test/development/app-dir/owner-stack-invalid-element-type/owner-stack-invalid-element-type.test.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#72162 Snowflake backend for devlow
  .github/workflows/build_and_test.yml
  pnpm-lock.yaml
  turbopack/packages/devlow-bench/package.json
  turbopack/packages/devlow-bench/src/cli.ts
  turbopack/packages/devlow-bench/src/interfaces/constants.ts
  turbopack/packages/devlow-bench/src/interfaces/datadog.ts
  turbopack/packages/devlow-bench/src/interfaces/snowflake-test.ts
  turbopack/packages/devlow-bench/src/interfaces/snowflake.ts
  turbopack/packages/devlow-bench/tsconfig.json
Labels: created-by: Turbopack team

#72345 (e2e): improve app-hmr test stability
  test/development/app-hmr/fixtures/default-template/.env.development.local
  test/development/app-hmr/fixtures/default-template/app/bundler-runtime-changes/new-runtime-functionality/page.tsx
  test/development/app-hmr/fixtures/default-template/app/bundler-runtime-changes/page.tsx
  test/development/app-hmr/fixtures/default-template/app/env/edge-module-var/page.jsx
  test/development/app-hmr/fixtures/default-template/app/env/edge/page.jsx
  test/development/app-hmr/fixtures/default-template/app/env/node-module-var/page.jsx
  test/development/app-hmr/fixtures/default-template/app/env/node/page.jsx
  test/development/app-hmr/fixtures/default-template/app/favicon.ico
  test/development/app-hmr/fixtures/default-template/app/folder/page.jsx
  test/development/app-hmr/fixtures/default-template/app/layout.jsx
  test/development/app-hmr/fixtures/default-template/next.config.js
  test/development/app-hmr/hmr.test.ts
  test/development/app-hmr/tsconfig.json
Labels: created-by: Next.js team, tests

#72153 fix unhandled runtime error from generateMetadata in parallel routes
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@bar/not-found-metadata/no-page/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@bar/not-found-metadata/page-error/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@bar/not-found-metadata/slot-error/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@foo/not-found-metadata/no-page/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@foo/not-found-metadata/page-error/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/@foo/not-found-metadata/slot-error/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/not-found-metadata/no-page/@foobar/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/not-found-metadata/no-page/layout.tsx
  test/e2e/app-dir/parallel-route-not-found/app/not-found-metadata/not-found.tsx
  test/e2e/app-dir/parallel-route-not-found/app/not-found-metadata/page-error/page.tsx
  test/e2e/app-dir/parallel-route-not-found/app/not-found-metadata/slot-error/page.tsx
  test/e2e/app-dir/parallel-route-not-found/parallel-route-not-found.test.ts
Labels: type: next, created-by: Next.js team, tests

#72110 Ensure pages/500 handles cache-control as expected (#72050)
  packages/next/src/server/base-server.ts
  test/integration/500-page/test/index.test.js
Labels: type: next, created-by: Next.js team, tests

#72361 docs: Fix typo in closing tag of sample code
  docs/02-app/02-api-reference/03-file-conventions/layout.mdx
Labels: Documentation

#72356 Fix: revert the bad node binary handling
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-server-binary-loader.ts
  test/development/app-dir/externalize-node-binary-browser-error/externalize-node-binary-browser-error.test.ts
  test/e2e/app-dir/externalize-node-binary/externalize-node-binary.test.ts
Labels: type: next, created-by: Next.js team, tests

#72366 docs(testing): update cypress note (v14 now supported)
  docs/02-app/01-building-your-application/08-testing/04-cypress.mdx
Labels: created-by: Next.js team, Documentation

#72311 Bump TypeScript to 5.6.3
  package.json
  packages/next/package.json
  packages/next/src/server/lib/lru-cache.ts
  packages/next/src/server/lib/mock-request.ts
  packages/next/src/server/web/spec-extension/adapters/headers.ts
  packages/next/types/$$compiled.internal.d.ts
  pnpm-lock.yaml
  test/lib/next-modes/base.ts
Labels: type: next, created-by: Next.js team, tests

#71693 next-codemod(upgrade): warn peer dependencies not met
  packages/next-codemod/bin/__testfixtures__/peer-dep-out-of-range/README.md
  packages/next-codemod/bin/__testfixtures__/peer-dep-out-of-range/met-range/package.json
  packages/next-codemod/bin/__testfixtures__/peer-dep-out-of-range/met-range/pnpm-workspace.yaml
  packages/next-codemod/bin/__testfixtures__/peer-dep-out-of-range/package.json
  packages/next-codemod/bin/__testfixtures__/peer-dep-out-of-range/unmet-prerelease/package.json
  packages/next-codemod/bin/__testfixtures__/peer-dep-out-of-range/unmet-range/package.json
  packages/next-codemod/bin/upgrade.ts
  packages/next-codemod/lib/handle-package.ts
Labels: type: next, created-by: Next.js team

#72115 Append owner stack for captured string console error
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stitched-error.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
  test/development/app-dir/owner-stack-invalid-element-type/owner-stack-invalid-element-type.test.ts
  test/development/app-dir/owner-stack-react-missing-key-prop/app/layout.tsx
  test/development/app-dir/owner-stack-react-missing-key-prop/app/rsc/page.tsx
  test/development/app-dir/owner-stack-react-missing-key-prop/app/ssr/page.tsx
  test/development/app-dir/owner-stack-react-missing-key-prop/next.config.js
  test/development/app-dir/owner-stack-react-missing-key-prop/owner-stack-react-missing-key-prop.test.ts
  test/development/app-dir/owner-stack-react-missing-key-prop/react-missing-key-prop.test.ts
Labels: type: next, created-by: Next.js team, tests

#72320 refactor(turbopack): Use `ResolvedVc<T>` instead of `Vc<T>` for `turbopack-node`
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_font/google/mod.rs
  crates/next-core/src/next_server/context.rs
  turbopack/crates/turbopack-node/src/evaluate.rs
  turbopack/crates/turbopack-node/src/execution_context.rs
  turbopack/crates/turbopack-node/src/lib.rs
  turbopack/crates/turbopack-node/src/node_entry.rs
  turbopack/crates/turbopack-node/src/pool.rs
  turbopack/crates/turbopack-node/src/render/issue.rs
  turbopack/crates/turbopack-node/src/render/node_api_source.rs
  turbopack/crates/turbopack-node/src/render/render_proxy.rs
  turbopack/crates/turbopack-node/src/render/render_static.rs
  turbopack/crates/turbopack-node/src/render/rendered_source.rs
  turbopack/crates/turbopack-node/src/source_map/trace.rs
  turbopack/crates/turbopack-node/src/transforms/postcss.rs
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
Labels: Turbopack, created-by: Turbopack team

#72382 refactor(turbopack-core): Migrate `Sources` type (and related types) to `ResolvedVc`
  crates/next-core/src/next_edge/unsupported.rs
  crates/next-core/src/next_font/google/mod.rs
  crates/next-core/src/next_font/local/mod.rs
  crates/next-core/src/next_shared/resolve.rs
  crates/next-core/src/transform_options.rs
  turbopack/crates/turbopack-core/src/reference/mod.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/source.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/node.rs
  turbopack/crates/turbopack-ecmascript/src/typescript/mod.rs
  turbopack/crates/turbopack-ecmascript/src/webpack/mod.rs
  turbopack/crates/turbopack-resolve/src/node_native_binding.rs
  turbopack/crates/turbopack-resolve/src/typescript.rs
  turbopack/crates/turbopack/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#72326 Handle export default declaration in `debug_fn_name` transform
  crates/next-custom-transforms/src/transforms/debug_fn_name.rs
  crates/next-custom-transforms/tests/fixture/debug-fn-name/export-default-decl/input.js
  crates/next-custom-transforms/tests/fixture/debug-fn-name/export-default-decl/output.js
  crates/next-custom-transforms/tests/fixture/debug-fn-name/export-default-expr/input.js
  crates/next-custom-transforms/tests/fixture/debug-fn-name/export-default-expr/output.js
Labels: created-by: Next.js team, Turbopack

#72324 [Turbopack] fix bug in the new backend that connects edges incorrectly
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
Labels: created-by: Turbopack team

#72330 [Turbopack] fix missing cell dependency
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#72329 [Turbopack] add stack traces of turbo tasks functions
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
Labels: created-by: Turbopack team

#72340 Show readable hook names in stack frames
  crates/next-core/src/next_client/transforms.rs
  crates/next-core/src/next_shared/transforms/debug_fn_name.rs
  crates/next-core/src/next_shared/transforms/mod.rs
  packages/next/src/build/swc/options.ts
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/error-recovery.test.ts
  test/development/acceptance/hydration-error.test.ts
  test/development/app-dir/hook-function-names/app/button/page.tsx
  test/development/app-dir/hook-function-names/app/layout.tsx
  test/development/app-dir/hook-function-names/app/page.tsx
  test/development/app-dir/hook-function-names/hook-function-names.test.ts
  test/development/app-dir/hook-function-names/next.config.js
  test/integration/config-devtool-dev/test/index.test.js
Labels: type: next, created-by: Next.js team, Turbopack, tests

#72339 docs: fix double href typo in Link component
  docs/02-app/02-api-reference/02-components/link.mdx
Labels: Documentation

#72274 docs: change runtime value in example code
  errors/invalid-page-config.mdx
Labels: Documentation

#72263 docs: update error template.txt
  errors/template.txt
Labels: Documentation

#72259 Fix code examples in error page
  errors/next-prerender-missing-suspense.mdx
Labels: Documentation, created-by: Next.js DevEx team

#72223 docs(middleware): fix incorrect link to `Pages` in `Middleware`'s `NextResponse` section
  docs/02-app/01-building-your-application/01-routing/14-middleware.mdx
Labels: Documentation

#72134 Docs: Remove legacy tags from unstable_cache and unstable_noStore
  docs/02-app/01-building-your-application/02-data-fetching/01-fetching.mdx
  docs/02-app/01-building-your-application/03-rendering/01-server-components.mdx
  docs/02-app/01-building-your-application/04-caching/index.mdx
  docs/02-app/01-building-your-application/10-deploying/01-production-checklist.mdx
  docs/02-app/02-api-reference/01-directives/use-cache.mdx
  docs/02-app/02-api-reference/04-functions/connection.mdx
  docs/02-app/02-api-reference/04-functions/unstable_cache.mdx
  docs/02-app/02-api-reference/04-functions/unstable_noStore.mdx
  docs/02-app/02-api-reference/08-legacy-apis/index.mdx
  errors/next-dynamic-api-wrong-context.mdx
  errors/ppr-caught-error.mdx
Labels: Documentation, created-by: Next.js DevEx team

#71683 build: Update `swc_core` to `v5.0.1`
  Cargo.lock
  Cargo.toml
  crates/napi/src/transform.rs
  crates/next-core/Cargo.toml
  crates/next-core/src/next_shared/transforms/modularize_imports.rs
  crates/next-core/src/next_shared/transforms/next_amp_attributes.rs
  crates/next-core/src/next_shared/transforms/next_disallow_re_export_all_in_page.rs
  crates/next-core/src/next_shared/transforms/next_dynamic.rs
  crates/next-core/src/next_shared/transforms/next_edge_node_api_assert.rs
  crates/next-core/src/next_shared/transforms/next_optimize_server_react.rs
  crates/next-core/src/next_shared/transforms/next_page_config.rs
  crates/next-core/src/next_shared/transforms/next_shake_exports.rs
  crates/next-core/src/next_shared/transforms/next_strip_page_exports.rs
  crates/next-core/src/next_shared/transforms/react_remove_properties.rs
  crates/next-core/src/next_shared/transforms/remove_console.rs
  crates/next-core/src/next_shared/transforms/server_actions.rs
  crates/next-custom-transforms/Cargo.toml
  crates/next-custom-transforms/src/chain_transforms.rs
  crates/next-custom-transforms/src/linter.rs
  crates/next-custom-transforms/src/transforms/amp_attributes.rs
  crates/next-custom-transforms/src/transforms/debug_fn_name.rs
  crates/next-custom-transforms/src/transforms/disallow_re_export_all_in_page.rs
  crates/next-custom-transforms/src/transforms/dynamic.rs
  crates/next-custom-transforms/src/transforms/fonts/mod.rs
  crates/next-custom-transforms/src/transforms/named_import_transform.rs
  crates/next-custom-transforms/src/transforms/next_ssg.rs
  crates/next-custom-transforms/src/transforms/optimize_barrel.rs
  crates/next-custom-transforms/src/transforms/optimize_server_react.rs
  crates/next-custom-transforms/src/transforms/page_config.rs
  crates/next-custom-transforms/src/transforms/page_static_info/collect_exported_const_visitor.rs
  crates/next-custom-transforms/src/transforms/react_server_components.rs
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/src/transforms/shake_exports.rs
  crates/next-custom-transforms/src/transforms/strip_page_exports.rs
  crates/next-custom-transforms/tests/errors.rs
  crates/next-custom-transforms/tests/fixture.rs
  crates/next-custom-transforms/tests/full.rs
  crates/next-custom-transforms/tests/telemetry.rs
  crates/wasm/src/lib.rs
  turbopack/crates/turbopack-ecmascript-plugins/src/transform/emotion.rs
  turbopack/crates/turbopack-ecmascript-plugins/src/transform/modularize_imports.rs
  turbopack/crates/turbopack-ecmascript-plugins/src/transform/relay.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/transform/mod.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/graph.rs
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_b6426d.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_b6426d.js.map
Labels: Turbopack, created-by: Turbopack team

#72347 bugfix: revalidate + force-cache should work
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/force-cache-revalidate/page.js
  test/e2e/app-dir/logging/app/cache-revalidate/page.js
  test/e2e/app-dir/logging/fetch-warning.test.ts
Labels: type: next, created-by: Next.js team, tests

#72348 Use crypto API to generate prefetch token
  packages/next/src/server/app-render/collect-segment-data.tsx
Labels: type: next, created-by: Next.js team, tests

#72367 [Prefetching] Move resource hints to tree prefetch
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
Labels: type: next, created-by: Next.js team

#72411 feat: add experimental `imgOptSequentialRead` config
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/image-optimizer.ts
Labels: type: next, created-by: Next.js team

#72404 Handle empty ESM client modules
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/webpack/loaders/next-flight-loader/index.ts
  test/e2e/app-dir/esm-client-module-without-exports/app/layout.tsx
  test/e2e/app-dir/esm-client-module-without-exports/app/page.tsx
  test/e2e/app-dir/esm-client-module-without-exports/esm-client-module-without-exports.test.ts
  test/e2e/app-dir/esm-client-module-without-exports/next.config.js
  test/e2e/app-dir/esm-client-module-without-exports/node_modules/lib/index.mjs
  test/e2e/app-dir/esm-client-module-without-exports/node_modules/lib/package.json
Labels: type: next, created-by: Next.js team, tests

#72360 Publish misc. Turbopack packages
  .github/workflows/build_and_deploy.yml
  turbopack/xtask/src/publish.rs
Labels: created-by: Turbopack team

#71713 Turbopack: Ignore `Unknown module type` for NFT
  crates/next-core/src/next_dynamic/dynamic_transition.rs
  turbopack/crates/turbopack-core/src/context.rs
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-core/src/issue/module.rs
  turbopack/crates/turbopack-core/src/reference/mod.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-css/src/module_asset.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  turbopack/crates/turbopack-node/src/transforms/postcss.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/input/sub/README.md
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/input/sub/helper.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/input/sub/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/issues/Unknown module type-5512c1.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/issues/Unknown module type-faeccc.txt
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/transition/mod.rs
Labels: Turbopack, created-by: Turbopack team

#72422 Turbopack: visit exports when collecting magic comments
  turbopack/crates/turbopack-ecmascript/benches/analyzer.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/imports.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/graph-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/input.js
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/resolved-explained.snapshot
  turbopack/crates/turbopack-tests/tests/snapshot/imports/ignore-comments/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/imports/ignore-comments/output/4e721_crates_turbopack-tests_tests_snapshot_imports_ignore-comments_input_26ea62._.js
  turbopack/crates/turbopack-tests/tests/snapshot/imports/ignore-comments/output/4e721_crates_turbopack-tests_tests_snapshot_imports_ignore-comments_input_26ea62._.js.map
Labels: created-by: Turbopack team

#72421 Revert "feat(turbopack): Add an env var to debug-print the fast refresh invalidation reason (#72296)"
  crates/napi/src/next_api/project.rs
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  test/development/basic/next-rs-api.test.ts
Labels: type: next, created-by: Turbopack team, tests

#72355 Fix a bug in the recently added unstable_getResponseFromNextConfig.
  packages/next/src/experimental/testing/server/config-testing-utils.test.ts
  packages/next/src/experimental/testing/server/config-testing-utils.ts
  packages/next/src/experimental/testing/server/utils.ts
Labels: type: next

#72418 createFromFetch -> createFromReadableStream
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
Labels: type: next, created-by: Next.js team

#72420 Prevent client prefetch stream from closing
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
Labels: type: next, created-by: Next.js team

#72412 Ignore error pages for cache revalidate
  packages/next/src/server/base-server.ts
  test/production/empty-ssg-fallback/empty-ssg-fallback.test.ts
  test/production/empty-ssg-fallback/pages/[...slug].tsx
  test/production/empty-ssg-fallback/pages/_error.tsx
Labels: type: next, created-by: Next.js team, tests

#72350 fix(font): don't break directives with inserted next/font import
  crates/next-custom-transforms/src/transforms/fonts/mod.rs
  crates/next-custom-transforms/tests/errors/next-font-loaders/export-let/output.js
  crates/next-custom-transforms/tests/fixture.rs
  crates/next-custom-transforms/tests/fixture/next-font-loaders/export-const/output.js
  crates/next-custom-transforms/tests/fixture/next-font-loaders/exports/output.js
  crates/next-custom-transforms/tests/fixture/next-font-loaders/font-options/output.js
  crates/next-custom-transforms/tests/fixture/next-font-loaders/import-as/output.js
  crates/next-custom-transforms/tests/fixture/next-font-loaders/multiple-calls/output.js
  crates/next-custom-transforms/tests/fixture/next-font-loaders/multiple-font-downloaders/output.js
  crates/next-custom-transforms/tests/fixture/next-font-loaders/multiple-fonts/output.js
  crates/next-custom-transforms/tests/fixture/next-font-loaders/multiple-imports/output.js
  crates/next-custom-transforms/tests/fixture/next-font-with-directive/use-cache/input.js
  crates/next-custom-transforms/tests/fixture/next-font-with-directive/use-cache/output.js
  crates/next-custom-transforms/tests/fixture/next-font-with-directive/use-server/input.js
  crates/next-custom-transforms/tests/fixture/next-font-with-directive/use-server/output.js
Labels: created-by: Next.js team, Turbopack

#72427 [Prefetching] Fix: Read segment data from correct source
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
Labels: type: next, created-by: Next.js team

#72432 docs(output): update standalone docs with cp and start commands
  docs/01-app/03-api-reference/05-next-config-js/output.mdx
Labels: created-by: Next.js team, Documentation

#72380 chore: add `syntax` parser directive to Dockerfile
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .github/actions/next-stats-action/Dockerfile
  examples/with-docker-compose/next-app/dev.Dockerfile
  examples/with-docker-compose/next-app/prod-without-multistage.Dockerfile
  examples/with-docker-compose/next-app/prod.Dockerfile
  examples/with-docker-multi-env/docker/development/Dockerfile
  examples/with-docker-multi-env/docker/production/Dockerfile
  examples/with-docker-multi-env/docker/staging/Dockerfile
  examples/with-docker/Dockerfile
Labels: examples

#72372 chore: release turbopack npm packages
  turbopack/packages/devlow-bench/package.json
Labels: created-by: Turbopack team

#72429 chore(turbopack): Update indexmap dependency from 1.x to 2.x
  Cargo.lock
  Cargo.toml
  crates/next-api/src/versioned_content_map.rs
  turbopack/crates/turbopack-browser/src/ecmascript/list/update.rs
  turbopack/crates/turbopack-browser/src/ecmascript/merged/update.rs
  turbopack/crates/turbopack-dev-server/src/source/route_tree.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/graph.rs
  turbopack/crates/turbopack-trace-server/src/reader/turbopack.rs
Labels: Turbopack, created-by: Turbopack team

#72431 chore(turbopack): Update criterion
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#71340 feat(turbopack): Implement skipping of side effect free fragments
  crates/next-api/src/server_actions.rs
  turbopack/crates/turbopack-core/src/ident.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_f95732.js
  turbopack/crates/turbopack-tests/tests/snapshot/basic-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_basic-tree-shake_tree-shake-test-1_input_index_f95732.js.map
  turbopack/crates/turbopack/src/lib.rs
Labels: type: next, Turbopack, created-by: Turbopack team, tests, CI Bypass Graphite Optimization

#72430 Docs: Vitest: Support for import aliases when using TypeScript
  docs/01-app/02-building-your-application/08-testing/01-vitest.mdx
Labels: Documentation

#72417 Update Cloudflare Auto Minify link due to feature deprecation
  errors/react-hydration-error.mdx
Labels: Documentation

#70998 Remove the node-file-trace crate
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/napi/src/lib.rs
  crates/napi/src/turbotrace.rs
  turbopack/crates/node-file-trace/Cargo.toml
  turbopack/crates/node-file-trace/build.rs
  turbopack/crates/node-file-trace/src/lib.rs
  turbopack/crates/node-file-trace/src/main.rs
  turbopack/crates/node-file-trace/src/nft_json.rs
Labels: created-by: Turbopack team

#72391 docs: unify the header deps by removing #
  errors/class-component-in-server-component.mdx
  errors/context-in-server-component.mdx
  errors/css-global.mdx
  errors/custom-document-image-import.mdx
  errors/dynamic-server-error.mdx
  errors/empty-configuration.mdx
  errors/experimental-jest-transformer.mdx
  errors/failed-loading-swc.mdx
  errors/get-initial-props-export.mdx
  errors/google-fonts-missing-subsets.mdx
  errors/invalid-route-source.mdx
  errors/missing-root-layout-tags.mdx
  errors/missing-suspense-with-csr-bailout.mdx
  errors/module-not-found.mdx
  errors/next-dynamic-api-wrong-context.mdx
  errors/next-image-unconfigured-host.mdx
  errors/next-prerender-crypto.mdx
  errors/next-prerender-current-time.mdx
  errors/next-prerender-missing-suspense.mdx
  errors/next-prerender-random.mdx
  errors/next-prerender-sync-headers.mdx
  errors/next-prerender-sync-params.mdx
  errors/next-prerender-sync-request.mdx
  errors/next-request-in-use-cache.mdx
  errors/next-script-for-ga.mdx
  errors/no-on-app-updated-hook.mdx
  errors/no-script-tags-in-head-component.mdx
  errors/no-stylesheets-in-head-component.mdx
  errors/no-sync-scripts.mdx
  errors/opening-an-issue.mdx
  errors/postcss-ignored-plugin.mdx
  errors/postcss-shape.mdx
  errors/react-client-hook-in-server-component.mdx
  errors/returning-response-body-in-middleware.mdx
  errors/swc-disabled.mdx
  errors/webpack-build-worker-opt-out.mdx
  errors/webpack5.mdx
Labels: Font (next/font), Documentation

#72390 [Turbopack] remove unneeded type annotation
  turbopack/crates/turbopack-trace-server/src/span_ref.rs
Labels: created-by: Turbopack team

#72222 docs(route-handlers): add TS/JS `switcher` to `Route Resolution` section in `Route Handlers`
  docs/01-app/02-building-your-application/01-routing/13-route-handlers.mdx
Labels: Documentation

#72428 [ppr] Fixed deployment tests
  test/e2e/app-dir/ppr-full/ppr-full.test.ts
Labels: created-by: Next.js team, tests

#72433 chore(turbopack): Update dashmap from 5.x to 6.x
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
  turbopack/crates/turbo-tasks-backend/src/utils/dash_map_multi.rs
Labels: created-by: Turbopack team

#72399 Getting Started Docs: Improve "Project Structure" page
  docs/01-app/01-getting-started/02-project-structure.mdx
  docs/01-app/01-getting-started/index.mdx
  docs/01-app/02-building-your-application/01-routing/09-colocation.mdx
  docs/01-app/02-building-your-application/01-routing/index.mdx
  docs/01-app/02-building-your-application/07-configuring/06-src-directory.mdx
  docs/02-pages/01-getting-started/02-project-structure.mdx
  docs/02-pages/01-getting-started/index.mdx
Labels: Documentation, created-by: Next.js DevEx team

#72452 Turbopack: Commit changed generated bindings types
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
Labels: type: next, created-by: Turbopack team

#72464 Skip canary checks during internal development
  package.json
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#72265 Expand `server-side-dev-errors` assertions (`/pages`)
  test/integration/server-side-dev-errors/test/index.test.js
Labels: type: next, created-by: Next.js team, tests

#72312 Refactor: scope requestStore to dynamic renders only
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/async-storage/request-store.ts
Labels: type: next, created-by: Next.js team

#72467 Correct reason for Turbopack incompat, remove inaccurate "good to know"
  docs/01-app/02-building-your-application/07-configuring/05-mdx.mdx
Labels: Documentation, CI approved

#72474 [dynamicIO] abort warmup after caches are complete
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/request-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/render-result.ts
Labels: type: next, created-by: Next.js team

#72475 Add provenance to Turbopack misc. packages
  .github/workflows/build_and_deploy.yml
  turbopack/packages/devlow-bench/package.json
Labels: created-by: Turbopack team

#72305 add nft bundle to SsrChunk
  crates/next-api/src/lib.rs
  crates/next-api/src/nft_json.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/project.rs
  turbopack/crates/turbo-tasks-fs/src/virtual_fs.rs
Labels: Turbopack, created-by: Turbopack team

#72437 chore: delete `api-routes` example completely
  examples/api-routes/.gitignore
  examples/route-handlers/.gitignore
  packages/create-next-app/README.md
  test/examples/examples.test.ts
Labels: examples, create-next-app, tests

#72363 ensure fetch is patched before preloading entries
  packages/next/src/server/next-server.ts
  test/production/app-dir/app-fetch-patching/app-fetch-patching.test.ts
  test/production/app-dir/app-fetch-patching/app/layout.js
  test/production/app-dir/app-fetch-patching/app/page.js
Labels: type: next, created-by: Next.js team, tests

#72483 chore: update eslint document path
  packages/eslint-config-next/package.json
  packages/eslint-plugin-next/README.md
  packages/next/src/lib/eslint/customFormatter.ts
  packages/next/src/lib/eslint/runLintCheck.ts
  packages/next/src/server/config-shared.ts
Labels: type: next

#72484 Ignore error pages for cache revalidate (#72412)
  packages/next/src/server/base-server.ts
  test/production/empty-ssg-fallback/empty-ssg-fallback.test.ts
  test/production/empty-ssg-fallback/pages/[...slug].tsx
  test/production/empty-ssg-fallback/pages/_error.tsx
Labels: type: next, created-by: Next.js team, tests

#72374 test: remove deleted examples
  test/examples/examples.test.ts
  test/turbopack-dev-examples-manifest.json
Labels: tests

#72481 enhance: make the error state updates async
  packages/next/src/client/components/react-dev-overlay/internal/helpers/use-error-handler.ts
Labels: type: next, created-by: Next.js team

#72442 fix(next/font): update axes error logic
  crates/next-core/src/next_font/google/options.rs
  packages/font/src/google/validate-google-font-function-call.test.ts
  packages/font/src/google/validate-google-font-function-call.ts
Labels: type: next, created-by: Next.js team, Font (next/font), Turbopack

#72488 temporarily skip flaky turbopack build test
  test/production/app-dir/app-fetch-patching/app-fetch-patching.test.ts
Labels: created-by: Next.js team, tests

#72306 set up options / hooks to enable turbotrace
  crates/next-api/src/app.rs
  crates/next-core/src/next_server/context.rs
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/module_options_context.rs
Labels: Turbopack, created-by: Turbopack team

#72505 Revert "[Turbopack] add rocksdb"
  .github/workflows/build_and_test.yml
  Cargo.lock
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/database/mod.rs
  turbopack/crates/turbo-tasks-backend/src/database/rocksdb/mod.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/lib.rs
  turbopack/crates/turbo-tasks-testing/src/run.rs
Labels: created-by: Turbopack team

#72500 [Docs]: Remove try catch and link to error handling docs
  docs/01-app/02-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
Labels: Documentation, created-by: Next.js DevEx team

#72504 Skip canary checks during internal development with VSCode
  .vscode/launch.json
Labels: created-by: Next.js team

#72490 Devlow snowflake backend: use milliseconds instead of seconds for event time
  turbopack/packages/devlow-bench/src/interfaces/snowflake.ts
Labels: created-by: Turbopack team

#72510 [Turbopack] add TODO comment
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: created-by: Turbopack team

#72451 docs: unify the header deps by removing #
  errors/opt-out-auto-static-optimization.mdx
  errors/opt-out-automatic-prerendering.mdx
  errors/swc-minify-enabled.mdx
Labels: Documentation

#72492 fix: remove unnecessary fragment
  docs/01-app/02-building-your-application/01-routing/11-parallel-routes.mdx
Labels: Documentation

#72169 docs: fix broken link
  docs/02-pages/03-api-reference/03-functions/use-router.mdx
Labels: Documentation

#72447 example: add more files to `playwright` .gitignore
  examples/with-playwright/.gitignore
Labels: examples

#72463 fix: decrypt bound args before generating a cache key
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/fixture/next-font-with-directive/use-cache/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/33/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/34/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/35/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/36/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/37/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/38/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/39/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/40/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/41/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/42/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/43/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/45/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/46/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/48/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/49/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server/50/output.js
  packages/next/src/server/app-render/encryption.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache/app/passed-to-client/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#72487 codemod(turbopack): Replace `return Err(anyhow!())` with `anyhow::bail!()`
  crates/next-core/src/next_font/google/options.rs
  crates/next-core/src/next_font/google/util.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-testing/tests/all_in_one.rs
  turbopack/crates/turbopack-bench/src/lib.rs
  turbopack/crates/turbopack-bench/src/util/npm.rs
  turbopack/crates/turbopack-bench/src/util/page_guard.rs
  turbopack/crates/turbopack-dev-server/src/html.rs
  turbopack/crates/turbopack-node/src/render/node_api_source.rs
  turbopack/crates/turbopack-node/src/render/rendered_source.rs
  turbopack/crates/turbopack-node/src/transforms/postcss.rs
  turbopack/crates/turbopack-static/src/output_asset.rs
Labels: Turbopack, created-by: Turbopack team

#72527 Fix the path to the next/experimental/testing/server export
  packages/next/experimental/testing/server.d.ts
  packages/next/experimental/testing/server.js
Labels: type: next
