Repository vercel/next.js, pull requests merged in 2025-08, with the labels that each got.

#82222 Turbopack: no need to avoid allocations anymore
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Labels: Turbopack, created-by: Turbopack team

#80061 Turbopack: improve compression dictionary generation
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
Labels: Turbopack, created-by: Turbopack team

#82276 test: reduce artificial timeouts in runtime prefetch tests
  test/e2e/app-dir/segment-cache/prefetch-layout-sharing/app/runtime-prefetchable-layout/layout.tsx
  test/e2e/app-dir/segment-cache/prefetch-layout-sharing/app/runtime-prefetchable-layout/one/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-layout-sharing/app/runtime-prefetchable-layout/two/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-layout-sharing/app/shared-layout/layout.tsx
  test/e2e/app-dir/segment-cache/prefetch-layout-sharing/app/shared-layout/one/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-layout-sharing/app/shared-layout/two/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-layout-sharing/app/shared.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/caches/private-short-stale/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/caches/public-short-expire-long-stale/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/caches/public-short-expire-short-stale/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/error-after-cookies/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/sync-io-after-cookies/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-page/cookies-only/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-page/cookies/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-page/dynamic-params/[id]/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-page/search-params/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-private-cache/cookies-only/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-private-cache/cookies/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-private-cache/date-now/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-private-cache/dynamic-params/[id]/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/in-private-cache/search-params/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/shared.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/with-root-param/[lang]/in-page/root-params/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/with-root-param/[lang]/in-private-cache/root-params/page.tsx
Labels: created-by: Next.js team, tests

#82275 Turbopack: fix glob with empty alternative branch
  turbopack/crates/turbo-tasks-fs/src/glob.rs
  turbopack/crates/turbo-tasks-fs/src/globset.rs
Labels: Turbopack, created-by: Turbopack team

#82281 [turbopack] Fix a snapshot test
  turbopack/crates/turbopack-tests/tests/snapshot/node/bun_protocol_external/output/[root-of-the-server]__e251cfe1._.js
Labels: Turbopack, created-by: Turbopack team

#81943 [turbopack] Avoid calling `find_server_entries` in the whole_app_module_graph case
  crates/next-api/src/module_graph.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
Labels: Turbopack, created-by: Turbopack team

#82282 feat: add fallback root params support for prefetch segment data routes
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team, Rspack

#81366 docs: Add Tolgee to app router localization resources
  docs/01-app/02-guides/internationalization.mdx
Labels: Documentation

#81396 feat: automatically generate route types
  packages/create-next-app/templates/app-api/ts/next-env.d.ts
  packages/create-next-app/templates/app-empty/ts/next-env.d.ts
  packages/create-next-app/templates/app-tw-empty/ts/next-env.d.ts
  packages/create-next-app/templates/app-tw/ts/next-env.d.ts
  packages/create-next-app/templates/app/ts/next-env.d.ts
  packages/create-next-app/templates/default-empty/ts/next-env.d.ts
  packages/create-next-app/templates/default-tw-empty/ts/next-env.d.ts
  packages/create-next-app/templates/default-tw/ts/next-env.d.ts
  packages/create-next-app/templates/default/ts/next-env.d.ts
  packages/next/src/bin/next.ts
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/cli/next-typegen.ts
  packages/next/src/lib/typescript/writeAppTypeDeclarations.ts
  packages/next/src/lib/verify-typescript-setup.ts
  packages/next/src/server/lib/find-page-file.ts
  packages/next/src/server/lib/router-utils/route-types-utils.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/lib/router-utils/typegen.ts
  test/e2e/app-dir/typed-routes/app/%5Fshop/[[...category]]/page.tsx
  test/e2e/app-dir/typed-routes/app/(logged-in)/layout.tsx
  test/e2e/app-dir/typed-routes/app/(logged-in)/project/[slug]/page.tsx
  test/e2e/app-dir/typed-routes/app/_hidden/page.tsx
  test/e2e/app-dir/typed-routes/app/dashboard/@analytics/page.tsx
  test/e2e/app-dir/typed-routes/app/dashboard/@analytics/settings/page.tsx
  test/e2e/app-dir/typed-routes/app/dashboard/@team/page.tsx
  test/e2e/app-dir/typed-routes/app/dashboard/@team/settings/page.tsx
  test/e2e/app-dir/typed-routes/app/dashboard/layout.tsx
  test/e2e/app-dir/typed-routes/app/dashboard/page.tsx
  test/e2e/app-dir/typed-routes/app/dashboard/settings/page.tsx
  test/e2e/app-dir/typed-routes/app/docs/[...slug]/page.tsx
  test/e2e/app-dir/typed-routes/app/gallery/photo/[id]/page.tsx
  test/e2e/app-dir/typed-routes/app/gallery/test/(..)photo/[id]/page.tsx
  test/e2e/app-dir/typed-routes/app/layout.tsx
  test/e2e/app-dir/typed-routes/app/page.tsx
  test/e2e/app-dir/typed-routes/app/type-testing.ts
  test/e2e/app-dir/typed-routes/next.config.js
  test/e2e/app-dir/typed-routes/pages/about.tsx
  test/e2e/app-dir/typed-routes/pages/users/[id].tsx
  test/e2e/app-dir/typed-routes/typed-routes.test.ts
  test/integration/typescript-app-type-declarations/next-env.d.ts
  test/unit/write-app-declarations.test.ts
Labels: type: next, create-next-app, created-by: Next.js team, Documentation, Turbopack, tests, Rspack

#82288 Turbopack: Remove the `lazy-regex` dependency
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/src/next_app/metadata/mod.rs
  crates/next-core/src/next_font/google/mod.rs
  crates/next-core/src/next_font/util.rs
  crates/next-core/src/next_server/resolve.rs
  crates/next-core/src/util.rs
Labels: Turbopack, created-by: Turbopack team

#82286 [Cache Components] Reset PrerenderStore after generating RSC payload
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/cache-components-create-component-tree/app/favicon.ico
  test/e2e/app-dir/cache-components-create-component-tree/app/layout.tsx
  test/e2e/app-dir/cache-components-create-component-tree/app/page.tsx
  test/e2e/app-dir/cache-components-create-component-tree/cache-components-create-component-tree.test.ts
  test/e2e/app-dir/cache-components-create-component-tree/next.config.js
Labels: type: next, created-by: Next.js team, tests

#82048 Turbopack: Streaming write of SST files
  turbopack/crates/turbo-persistence-tools/src/main.rs
  turbopack/crates/turbo-persistence/README.md
  turbopack/crates/turbo-persistence/src/constants.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/meta_file.rs
  turbopack/crates/turbo-persistence/src/meta_file_builder.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Labels: Turbopack, created-by: Turbopack team

#82294 Include `eslint-plugin-react-hooks` in React sync
  package.json
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/hooks/use-minimum-loading-time-multiple.ts
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/hooks/use-update-animation.ts
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/next-logo.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/resize/resize-handle.tsx
  packages/next/src/next-devtools/dev-overlay/components/dialog/dialog.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/shortcut-recorder.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/drag-context.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-message/error-message.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.tsx
  packages/next/src/next-devtools/dev-overlay/components/shadow-portal.tsx
  packages/next/src/next-devtools/dev-overlay/hooks/use-delayed-render.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#82295 [devtools] Remove unnecessary cascading update
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/next-logo.tsx
Labels: type: next, created-by: Next.js team, tests

#73553 Turbopack: name the module factory function
  packages/next/src/next-devtools/dev-overlay/components/code-frame/code-frame.tsx
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshRegression.test.ts
  test/development/app-dir/ssr-in-rsc/ssr-in-rsc.test.ts
  test/development/middleware-errors/index.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/pages-dir/client-navigation/rendering.test.ts
  test/e2e/app-dir/cache-components-errors/cache-components-errors.test.ts
  test/e2e/app-dir/non-root-project-monorepo/non-root-project-monorepo.test.ts
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
  test/e2e/app-dir/use-cache-close-over-function/use-cache-close-over-function.test.ts
  test/e2e/app-dir/use-cache-hanging-inputs/use-cache-hanging-inputs.test.ts
  test/lib/next-test-utils.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/dev-base.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/nodejs/runtime.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  turbopack/crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
  turbopack/crates/turbopack-ecmascript/src/magic_identifier.rs
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/a5fc1_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_73aab4ae.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_73aab4ae.js.map
Labels: type: next, Turbopack, created-by: Turbopack team, tests, CI Bypass Graphite Optimization

#82320 docs: add React Developer Tools section for debugging
  docs/01-app/02-guides/debugging.mdx
Labels: Documentation

#82249 Remove params from segment path
  packages/next/src/client/components/segment-cache-impl/cache.ts
  packages/next/src/client/components/segment-cache-impl/navigation.ts
  packages/next/src/client/components/segment-cache-impl/scheduler.ts
  packages/next/src/client/route-params.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
  packages/next/src/shared/lib/segment-cache/segment-value-encoding.ts
Labels: type: next, created-by: Next.js team

#82142 docs: Clarify revalidatePath
  docs/01-app/03-api-reference/04-functions/revalidatePath.mdx
  docs/01-app/03-api-reference/04-functions/revalidateTag.mdx
Labels: Documentation, created-by: Next.js DevEx team

#82343 Turbopack: Update `jsonc-parser`, dedupe with SWC
  Cargo.lock
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbo-tasks-fs/src/json.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbopack-core/src/asset.rs
Labels: Turbopack, created-by: Turbopack team

#82287 [turbopack] vibecode a benchmark runner for module-cost
  bench/module-cost/.gitignore
  bench/module-cost/components/client.js
  bench/module-cost/package.json
  bench/module-cost/scripts/benchmark-runner.mjs
  pnpm-lock.yaml
Labels: created-by: Turbopack team, tests

#82352 Documentation: Removed reference to treeShaking in 08-turbopack.mdx
  docs/01-app/03-api-reference/08-turbopack.mdx
Labels: Documentation

#82363 Turbopack: pass `is_development` to `next_page_config`
  crates/next-core/src/next_client/transforms.rs
  crates/next-core/src/next_shared/transforms/next_page_config.rs
Labels: Turbopack, created-by: Turbopack team

#82364 Turbopack: clean up some old TODOs
  crates/next-api/src/app.rs
  crates/next-core/src/next_client/runtime_entry.rs
  turbopack/crates/turbopack-cli-utils/src/runtime_entry.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/output.rs
  turbopack/crates/turbopack-core/src/source.rs
  turbopack/crates/turbopack-css/src/references/compose.rs
  turbopack/crates/turbopack-ecmascript-plugins/src/transform/emotion.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/asset_context.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/references/amd.rs
  turbopack/crates/turbopack-ecmascript/src/references/cjs.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/binding.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/require_context.rs
  turbopack/crates/turbopack-ecmascript/src/typescript/mod.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
  turbopack/crates/turbopack-resolve/src/ecmascript.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/unsupported_sass.rs
Labels: Turbopack, created-by: Turbopack team

#82212 fix: OTel root span should indicate error status on exceptions
  packages/next/src/server/app-render/create-error-handler.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/trace/tracer.ts
  test/e2e/opentelemetry/instrumentation/app/app/[param]/rsc-fetch/error/page.tsx
  test/e2e/opentelemetry/instrumentation/opentelemetry.test.ts
Labels: type: next, created-by: Next.js team, tests

#81307 Docs: Updating guides on PPR and ISR
  docs/01-app/01-getting-started/06-partial-prerendering.mdx
  docs/01-app/02-guides/incremental-static-regeneration.mdx
Labels: Documentation

#82236 [Pages] fix: use `asPath` for query-only navigation with `useRouter`
  packages/next/src/client/resolve-href.ts
  test/e2e/use-router-with-rewrites/next.config.js
  test/e2e/use-router-with-rewrites/pages/foo.tsx
  test/e2e/use-router-with-rewrites/pages/rewrite-to-another-segment/[id]/foo.tsx
  test/e2e/use-router-with-rewrites/pages/rewrite-to-same-segment/[id]/index.tsx
  test/e2e/use-router-with-rewrites/use-router-with-rewrites.test.ts
Labels: type: next, created-by: Next.js team, tests

#82367 fix(Turbopack): Address duplicated metadata image modules when they are impored
  crates/next-core/src/next_image/source_asset.rs
  test/e2e/app-dir/metadata-image-files/app/apple-icon.png
  test/e2e/app-dir/metadata-image-files/app/icon.png
  test/e2e/app-dir/metadata-image-files/app/layout.jsx
  test/e2e/app-dir/metadata-image-files/app/not-metadata-image.png
  test/e2e/app-dir/metadata-image-files/app/opengraph-image.png
  test/e2e/app-dir/metadata-image-files/app/page.jsx
  test/e2e/app-dir/metadata-image-files/app/twitter-image.png
  test/e2e/app-dir/metadata-image-files/metadata-image-files.test.ts
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: Turbopack, created-by: Turbopack team, tests

#82377 Backport "[Pages] fix: `_error` page's `req.url` can be overwritten t…
  packages/next/src/server/base-server.ts
  test/e2e/error-handler-not-found-req-url/error-handler-not-found-req-url.test.ts
  test/e2e/error-handler-not-found-req-url/pages/[slug].tsx
  test/e2e/error-handler-not-found-req-url/pages/_error.tsx
  test/e2e/error-handler-not-found-req-url/pages/index.tsx
Labels: type: next, created-by: Next.js team, tests

#82237 Bump swc to 35
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/next-core/src/next_shared/transforms/modularize_imports.rs
  crates/next-custom-transforms/Cargo.toml
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/error-recovery.test.ts
  turbopack/crates/turbopack-ecmascript-plugins/Cargo.toml
  turbopack/crates/turbopack-ecmascript-plugins/src/transform/modularize_imports.rs
  turbopack/crates/turbopack-ecmascript-plugins/src/transform/swc_ecma_transform_plugins.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
Labels: Turbopack, created-by: Turbopack team, tests

#82383 loader tree: add special segment name to virtual parallel route segments
  crates/next-core/src/app_structure.rs
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
Labels: type: next, created-by: Next.js team, Turbopack, Rspack

#82399 fix: implications of global-not-found skipping 'normal' rendering
  docs/01-app/03-api-reference/03-file-conventions/not-found.mdx
Labels: Documentation, created-by: Next.js DevEx team

#82396 [devtools] Make state read-only in types
  packages/next/src/next-devtools/dev-overlay/components/call-stack/call-stack.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-call-stack/error-overlay-call-stack.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-nav/error-overlay-nav.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-pagination/error-overlay-pagination.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-toolbar/restart-server-button.tsx
  packages/next/src/next-devtools/dev-overlay/container/errors.stories.tsx
  packages/next/src/next-devtools/dev-overlay/container/runtime-error/render-error.tsx
  packages/next/src/next-devtools/dev-overlay/shared.ts
  packages/next/src/next-devtools/dev-overlay/storybook/errors.ts
  packages/next/src/next-devtools/dev-overlay/utils/get-error-by-type.ts
  packages/next/src/next-devtools/server/shared.ts
  packages/next/src/next-devtools/shared/stack-frame.ts
  packages/next/src/server/dev/middleware-turbopack.ts
  packages/next/src/server/dev/middleware-webpack.ts
Labels: type: next, created-by: Next.js team

#82414 update rspack-dev-tests-manifest for failing tests
  test/rspack-dev-tests-manifest.json
Labels: created-by: Next.js team, tests, Rspack

#82203 Docs: Add more info about TW and TW 3 option
  docs/01-app/01-getting-started/11-css.mdx
  docs/01-app/02-guides/migrating/app-router-migration.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/tailwind-css.mdx
  docs/01-app/02-guides/tailwind-v3-css.mdx
  docs/01-app/03-api-reference/02-components/font.mdx
  docs/02-pages/01-getting-started/06-css.mdx
  docs/02-pages/02-guides/tailwind-v3-css.mdx
Labels: Font (next/font), Documentation, created-by: Next.js DevEx team

#82374 fix(turbopack): external module shouldn't wrap by esm when type as global
  turbopack/crates/turbopack-ecmascript/src/references/external_module.rs
  turbopack/crates/turbopack-tests/js/jest-entry.ts
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/global-external/input/index.js
Labels: Turbopack

#82421 Backport "fix: add `?dpl` to fonts in `/_next/static/media` (#82384)"
  packages/next/src/pages/_document.tsx
  packages/next/src/server/app-render/get-layer-assets.tsx
  test/production/deployment-id-handling/deployment-id-cookie-handling.test.ts
  test/production/deployment-id-handling/deployment-id-handling.test.ts
Labels: type: next, created-by: Next.js team, tests

#80447 docs: polyfills usage in app router
  docs/01-app/03-api-reference/03-file-conventions/instrumentation-client.mdx
  docs/03-architecture/supported-browsers.mdx
Labels: Documentation, created-by: Next.js DevEx team

#82388 [Segment Cache]: fix infinite prefetching when staleTime is 0
  packages/next/src/client/components/segment-cache-impl/cache.ts
  test/e2e/app-dir/segment-cache/basic/app/cache-life-seconds-test/page.tsx
  test/e2e/app-dir/segment-cache/basic/app/cache-life-seconds/loading.tsx
  test/e2e/app-dir/segment-cache/basic/app/cache-life-seconds/page.tsx
  test/e2e/app-dir/segment-cache/basic/segment-cache-basic.test.ts
Labels: type: next, created-by: Next.js team, tests

#82376 Remove param values from static route tree
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/segment-cache-impl/cache.ts
  packages/next/src/client/route-params.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
Labels: type: next, created-by: Next.js team, Rspack

#82408 global-error, revalidatePath and PWA headings
  docs/01-app/01-getting-started/14-metadata-and-og-images.mdx
  docs/01-app/02-guides/progressive-web-apps.mdx
  docs/01-app/03-api-reference/03-file-conventions/error.mdx
  docs/01-app/03-api-reference/04-functions/revalidatePath.mdx
Labels: Documentation, created-by: Next.js DevEx team

#77964 Turbopack: improve loop breaks
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable-break/graph-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable-break/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable-break/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable-break/input.js
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable-break/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable-break/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable/graph-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/unreachable/resolved-explained.snapshot
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/next-76802/input/assert.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/next-76802/input/index.js
Labels: Turbopack, created-by: Turbopack team

#82435 Turbopack: remove a few clones
  crates/napi/src/react_compiler.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-node/src/render/node_api_source.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
Labels: Turbopack, created-by: Turbopack team

#82453 Update to run rspack tests on release
  .github/labeler.json
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#82385 Turbopack: Share entrypoint template logic between Turbopack/webpack
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/utils.rs
  crates/next-api/Cargo.toml
  crates/next-api/src/project.rs
  crates/next-core/Cargo.toml
  crates/next-core/src/middleware.rs
  crates/next-core/src/next_app/app_page_entry.rs
  crates/next-core/src/next_app/app_route_entry.rs
  crates/next-core/src/next_pages/page_entry.rs
  crates/next-core/src/util.rs
  crates/next-taskless/Cargo.toml
  crates/next-taskless/README.md
  crates/next-taskless/src/lib.rs
  crates/wasm/Cargo.toml
  crates/wasm/src/lib.rs
  packages/next/src/build/load-entrypoint.ts
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/generated-wasm.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/util.rs
  turbopack/crates/turbo-unix-path/Cargo.toml
  turbopack/crates/turbo-unix-path/README.md
  turbopack/crates/turbo-unix-path/src/lib.rs
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-tests/Cargo.toml
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
Labels: type: next, Turbopack, created-by: Turbopack team, Rspack

#82474 [errors] revamp graceful degrade error boundary
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/errors/root-error-boundary.tsx
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
Labels: type: next, created-by: Next.js team

#82450 Devcontainer: Replace Dockerfile with prebuilt image+features
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/headless-browser/devcontainer-feature.json
  .devcontainer/headless-browser/install.sh
  .devcontainer/node-extras/devcontainer-feature.json
  .devcontainer/node-extras/install.sh
  .devcontainer/rust/devcontainer-feature.json
  .devcontainer/rust/install.sh
  rust-toolchain.toml
Labels: created-by: Turbopack team

#82484 use correct workflow id for v0
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Turbopack team

#82403 Turbopack: increase time before persisting
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: Turbopack, created-by: Turbopack team

#82448 Turbopack: fix CSS module references, take 2
  .github/workflows/build_and_test.yml
  crates/next-api/src/app.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/next_server/transforms.rs
  crates/next-core/src/util.rs
  turbopack/crates/turbo-tasks/src/raw_vc.rs
  turbopack/crates/turbo-tasks/src/vc/mod.rs
  turbopack/crates/turbo-tasks/src/vc/resolved.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/reference_type.rs
  turbopack/crates/turbopack-css/src/module_asset.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_options_context.rs
Labels: Turbopack, created-by: Turbopack team, tests

#78014 Turbopack: respect `productionBrowserSourceMaps`
  crates/next-core/src/next_config.rs
  test/integration/css-fixtures/next.config.js
  test/integration/css/test/css-compilation.test.js
  test/integration/production-browser-sourcemaps/next.config.js
  test/integration/production-browser-sourcemaps/test/index.test.js
  test/production/production-browser-sourcemaps/index.test.ts
  test/production/production-browser-sourcemaps/pages/ssr.js
  test/production/production-browser-sourcemaps/pages/static.js
Labels: Turbopack, created-by: Turbopack team, tests

#82488 fix: add `?dpl` to fonts in `/_next/static/media` part 2
  packages/font/src/google/loader.test.ts
  packages/font/src/local/loader.test.ts
  packages/font/src/local/loader.ts
  packages/next/font/index.d.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/config/blocks/css/loaders/next-font.ts
  packages/next/src/build/webpack/config/index.ts
  packages/next/src/build/webpack/config/utils.ts
  packages/next/src/build/webpack/loaders/next-font-loader/index.ts
Labels: type: next, created-by: Next.js team, Font (next/font)

#82471 Test that there are no server-side CSS chunks
  test/e2e/app-dir/css-server-chunks/app/client/page.tsx
  test/e2e/app-dir/css-server-chunks/app/layout.tsx
  test/e2e/app-dir/css-server-chunks/app/server/page.tsx
  test/e2e/app-dir/css-server-chunks/css-server-chunks.test.ts
  test/e2e/app-dir/css-server-chunks/global.css
  test/e2e/app-dir/css-server-chunks/next.config.js
  test/e2e/app-dir/css-server-chunks/pages/_app.js
  test/e2e/app-dir/css-server-chunks/pages/pages.js
  test/e2e/app-dir/css-server-chunks/styles.module.css
Labels: created-by: Turbopack team, tests

#82536 Fix: Disambiguate Mediapartners-Google user agent
  packages/next/src/shared/lib/router/utils/html-bots.ts
  packages/next/src/shared/lib/router/utils/is-bot.ts
  test/production/app-dir/metadata-streaming-config/metadata-streaming-config.test.ts
Labels: type: next, created-by: Next.js team, tests

#82378 Fix: Allow dynamic rendering when root layout is wrapped in Suspense
  packages/next/src/client/components/app-router.tsx
  packages/next/src/lib/framework/boundary-components.tsx
  packages/next/src/lib/framework/boundary-constants.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  test/development/acceptance-app/hydration-error.test.ts
  test/e2e/app-dir/root-suspense-dynamic/fixtures/default/app/dynamic-wrapper.tsx
  test/e2e/app-dir/root-suspense-dynamic/fixtures/default/app/layout.tsx
  test/e2e/app-dir/root-suspense-dynamic/fixtures/default/app/page.tsx
  test/e2e/app-dir/root-suspense-dynamic/fixtures/default/app/simple-wrapper.tsx
  test/e2e/app-dir/root-suspense-dynamic/fixtures/default/next.config.js
  test/e2e/app-dir/root-suspense-dynamic/root-suspense-dynamic.test.ts
Labels: type: next, created-by: Next.js team, tests

#82345 wrap devtools stories in context providers
  packages/next/.storybook/preview.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/devtools-indicator.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/next-logo.stories.tsx
  packages/next/src/next-devtools/dev-overlay/storybook/with-dev-overlay-contexts.tsx
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#82541 Bump React types
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#82395 [devtools] Remove unused `componentStackFrames` field
  packages/next/src/client/app-next-dev.ts
  packages/next/src/client/app-next-turbopack.ts
  packages/next/src/client/react-client-callbacks/error-boundary-callbacks.ts
  packages/next/src/client/react-client-callbacks/on-recoverable-error.ts
  packages/next/src/next-devtools/dev-overlay.browser.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-nav/error-overlay-nav.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-pagination/error-overlay-pagination.stories.tsx
  packages/next/src/next-devtools/dev-overlay/container/errors.stories.tsx
  packages/next/src/next-devtools/dev-overlay/container/runtime-error/render-error.tsx
  packages/next/src/next-devtools/dev-overlay/shared.ts
  packages/next/src/next-devtools/dev-overlay/storybook/errors.ts
  packages/next/src/next-devtools/dev-overlay/utils/get-error-by-type.ts
  packages/next/src/next-devtools/dev-overlay/utils/parse-component-stack.ts
  packages/next/src/next-devtools/userspace/app/errors/stitched-error.ts
  packages/next/src/next-devtools/userspace/pages/pages-dev-overlay-setup.tsx
Labels: type: next, created-by: Next.js team

#82561 Turbopack: improve Lightning CSS error handling
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/sass-error/index.test.ts
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-css/src/process.rs
Labels: Turbopack, created-by: Turbopack team, tests

#82569 fix(next/image): handle empty buffer and experimental flag for `skipMetadata`
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/image-optimizer.ts
  test/unit/image-optimizer/detect-content-type.test.ts
Labels: type: next, created-by: Next.js team, tests

#82570 Turbopack: fix module rules for `.module.scss`
  test/e2e/app-dir/css-modules-rsc-postcss/app/other.module.scss
  test/e2e/app-dir/css-modules-rsc-postcss/app/page.tsx
  test/e2e/app-dir/css-modules-rsc-postcss/css-modules-rsc-postcss.test.ts
  test/e2e/app-dir/css-order/app/base-scss.module.scss
  test/e2e/app-dir/css-order/app/base2-scss.module.scss
  turbopack/crates/turbopack/src/module_options/mod.rs
Labels: Turbopack, created-by: Turbopack team, tests

#82572 fix: amp deprecation warning should assert on user config
  packages/next/src/server/config.ts
  packages/next/src/types.ts
Labels: type: next, created-by: Next.js team

#82475 [Runtime prefetch] resolve runtime APIs in a separate task
  packages/next/errors.json
  packages/next/src/client/components/segment-cache-impl/cache.ts
  packages/next/src/server/app-render/app-render-prerender-utils.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/pathname.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/shared/lib/promise-with-resolvers.ts
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/sync-io-after-runtime-api/cookies/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/sync-io-after-runtime-api/dynamic-params/[id]/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/sync-io-after-runtime-api/private-cache/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/sync-io-after-runtime-api/quickly-expiring-public-cache/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/errors/sync-io-after-runtime-api/search-params/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/passed-to-public-cache/cookies-only/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/passed-to-public-cache/cookies/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/passed-to-public-cache/dynamic-params/[id]/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/(default)/passed-to-public-cache/search-params/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/with-root-param/[lang]/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/app/with-root-param/[lang]/passed-to-public-cache/root-params/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-runtime/prefetch-runtime.test.ts
Labels: type: next, created-by: Next.js team, tests

#82409 Clean up unused code in restart server button
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-toolbar/restart-server-button.tsx
  packages/next/src/next-devtools/dev-overlay/container/runtime-error/render-error.tsx
  packages/next/src/next-devtools/dev-overlay/dev-overlay.tsx
  packages/next/src/next-devtools/dev-overlay/icons/refresh-clock-wise.tsx
  packages/next/src/next-devtools/dev-overlay/shared.ts
  packages/next/src/next-devtools/dev-overlay/storybook/use-overlay-reducer.ts
  packages/next/src/next-devtools/dev-overlay/styles/component-styles.tsx
Labels: type: next, created-by: Next.js team, CI approved

#82486 chore: Update babel types and do some light cleanup of babel loader
  packages/next/package.json
  packages/next/src/build/babel/loader/get-config.ts
  packages/next/src/build/babel/loader/index.ts
  packages/next/src/build/babel/loader/transform.ts
  packages/next/src/build/babel/loader/types.d.ts
  packages/next/src/build/babel/loader/util.ts
  packages/next/src/build/babel/plugins/jsx-pragma.ts
  packages/next/src/build/babel/plugins/react-loadable-plugin.ts
  packages/next/src/build/swc/index.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Turbopack team

#82487 chore: Remove unused `Map` support from `next/dynamic` transform
  packages/next/src/build/babel/plugins/react-loadable-plugin.ts
Labels: type: next, created-by: Turbopack team

#82582 [Deprecation Warnings]: add unstable_rootParams deprecation warning
  packages/next/src/server/request/root-params.ts
Labels: type: next, created-by: Next.js team

#82580 Turbopack: set `window.next.turbopack` instead
  packages/next/src/client/app-next-turbopack.ts
  packages/next/src/client/next-dev-turbopack.ts
  packages/next/src/client/next-turbopack.ts
  test/production/pages-dir/production/test/index.test.ts
Labels: type: next, created-by: Turbopack team, tests

#82588 fix router handling when setting a location response header
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  test/e2e/app-dir/app-middleware/app-middleware.test.ts
  test/e2e/app-dir/app-middleware/middleware.js
Labels: type: next, created-by: Next.js team, tests

#82587 Fix: Resolve <Head> PPR resume mismatch by search params
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.ts
  test/e2e/app-dir/resuming-head-runtime-search-param/app/layout.tsx
  test/e2e/app-dir/resuming-head-runtime-search-param/app/page.tsx
  test/e2e/app-dir/resuming-head-runtime-search-param/next.config.js
  test/e2e/app-dir/resuming-head-runtime-search-param/resuming-head-runtime-search-param.test.ts
Labels: type: next, created-by: Next.js team, tests

#82592 [turbopack] Fix a crash under turbopackPersistentCaching
  turbopack/crates/turbo-persistence/src/compaction/selector.rs
  turbopack/crates/turbo-persistence/src/db.rs
Labels: Turbopack, created-by: Turbopack team

#82296 [devtools] Move ShadowRoot into context
  packages/next/.storybook/preview-body.html
  packages/next/.storybook/preview.tsx
  packages/next/src/next-devtools/dev-overlay.browser.tsx
  packages/next/src/next-devtools/dev-overlay/components/dialog/dialog.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/utils.ts
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.tsx
  packages/next/src/next-devtools/dev-overlay/components/shadow-portal.tsx
  packages/next/src/next-devtools/dev-overlay/components/tooltip/tooltip.tsx
  packages/next/src/next-devtools/dev-overlay/dev-overlay.stories.tsx
  packages/next/src/next-devtools/dev-overlay/menu/panel-router.tsx
  packages/next/src/next-devtools/dev-overlay/storybook/with-dev-overlay-contexts.tsx
Labels: type: next, created-by: Next.js team

#82603 Cleanup `shouldRunTurboDevTest` usage
  test/development/basic/tailwind-jit.test.ts
  test/development/experimental-https-server/https-server-opengraph-image.test.ts
  test/development/experimental-https-server/https-server.generated-key.test.ts
  test/development/experimental-https-server/https-server.provided-key.test.ts
  test/e2e/app-dir/app-external/app-external.test.ts
  test/e2e/edge-compiler-module-exports-preference/index.test.ts
  test/e2e/edge-runtime-uses-edge-light-import-specifier-for-packages/edge-runtime-uses-edge-light-import-specifier-for-packages.test.ts
  test/e2e/middleware-general/test/index.test.ts
  test/lib/e2e-utils/index.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-test-utils.ts
  test/lib/turbo.ts
  test/production/pnpm-support/index.test.ts
Labels: created-by: Turbopack team, tests

#82624 Fix generate-metadata.mdx typo
  docs/01-app/03-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation

#82629 fix: use in operator to check dev indicator option when its obj
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#82503 docs: fix typos
  docs/01-app/02-guides/self-hosting.mdx
  docs/01-app/03-api-reference/02-components/image.mdx
  docs/01-app/03-api-reference/04-functions/use-link-status.mdx
  docs/02-pages/04-api-reference/01-components/image-legacy.mdx
Labels: Documentation

#82622 Turbopack: avoid REEXPORTED_OBJECTS property on Module object
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-types.d.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/5c1d0_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_c0f7e0b0.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/780ce_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_c0f7e0b0.js.map
Labels: Turbopack, created-by: Turbopack team

#82635 Turbopack: do not run a compaction when opening the db
  turbopack/crates/turbo-tasks-backend/src/database/turbo/mod.rs
Labels: Turbopack, created-by: Turbopack team

#82627 feat(next/image): warn when images.localPatterns is undefined and src has query
  errors/next-image-unconfigured-localpatterns.mdx
  packages/next/src/client/legacy/image.tsx
  packages/next/src/shared/lib/get-img-props.ts
  test/unit/next-image-get-img-props.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#82643 Fix fetch logging after revalidation via server action
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/web/adapter.ts
  test/e2e/app-dir/logging/app/default-cache/page.js
  test/e2e/app-dir/logging/fetch-logging.test.ts
Labels: type: next, created-by: Next.js team, tests

#82658 Revert "Turbopack: avoid using rayon in favor of tokio tasks (#82256)"
  Cargo.lock
  turbopack/crates/turbo-persistence-tools/src/main.rs
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-persistence/src/collector.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/parallel_scheduler.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo/parallel_scheduler.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbo-tasks-backend/tests/all_in_one.rs
  turbopack/crates/turbo-tasks-backend/tests/basic.rs
  turbopack/crates/turbo-tasks-backend/tests/bug.rs
  turbopack/crates/turbo-tasks-backend/tests/bug2.rs
  turbopack/crates/turbo-tasks-backend/tests/call_types.rs
  turbopack/crates/turbo-tasks-backend/tests/collectibles.rs
  turbopack/crates/turbo-tasks-backend/tests/debug.rs
  turbopack/crates/turbo-tasks-backend/tests/detached.rs
  turbopack/crates/turbo-tasks-backend/tests/dirty_in_progress.rs
  turbopack/crates/turbo-tasks-backend/tests/emptied_cells.rs
  turbopack/crates/turbo-tasks-backend/tests/filter_unused_args.rs
  turbopack/crates/turbo-tasks-backend/tests/immutable.rs
  turbopack/crates/turbo-tasks-backend/tests/local_tasks.rs
  turbopack/crates/turbo-tasks-backend/tests/operation_vc.rs
  turbopack/crates/turbo-tasks-backend/tests/panics.rs
  turbopack/crates/turbo-tasks-backend/tests/performance.rs
  turbopack/crates/turbo-tasks-backend/tests/random_change.rs
  turbopack/crates/turbo-tasks-backend/tests/read_ref_cell.rs
  turbopack/crates/turbo-tasks-backend/tests/recompute.rs
  turbopack/crates/turbo-tasks-backend/tests/recompute_collectibles.rs
  turbopack/crates/turbo-tasks-backend/tests/resolved_vc.rs
  turbopack/crates/turbo-tasks-backend/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks-backend/tests/task_statistics.rs
  turbopack/crates/turbo-tasks-backend/tests/trace_transient.rs
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell_mode.rs
  turbopack/crates/turbo-tasks-backend/tests/transient_collectible.rs
  turbopack/crates/turbo-tasks-backend/tests/transient_vc.rs
  turbopack/crates/turbo-tasks-fetch/tests/fetch.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/watcher.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/parallel.rs
  turbopack/crates/turbo-tasks/src/scope.rs
  turbopack/crates/turbo-tasks/src/util.rs
  turbopack/crates/turbopack/tests/node-file-trace.rs
Labels: Turbopack, created-by: Turbopack team

#82659 [turbopack] Fix a bug where our `global` rewrite could introduce a TDZ issue
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-types.d.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/runtime_functions.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/global-rewrite/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/5c1d0_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_c0f7e0b0.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/780ce_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_c0f7e0b0.js.map
Labels: Turbopack, created-by: Turbopack team

#82652 chore: Bump Turborepo
  package.json
  pnpm-lock.yaml
Labels: created-by: Turbopack team

#82670 feat: add RouteContext type for app router route handlers
  packages/next/src/server/lib/router-utils/typegen.ts
  test/e2e/app-dir/typed-routes/app/api/docs/[...slug]/route.ts
  test/e2e/app-dir/typed-routes/app/api/shop/[[...category]]/route.ts
  test/e2e/app-dir/typed-routes/app/api/users/[id]/route.ts
  test/e2e/app-dir/typed-routes/typed-routes.test.ts
Labels: type: next, created-by: Next.js team, tests

#82671 Add additional handling for build-complete
  packages/next/errors.json
  packages/next/src/build/adapter/build-complete.ts
  packages/next/src/build/index.ts
  packages/next/src/server/config-shared.ts
  test/production/adapter-config/adapter-config.test.ts
  test/production/adapter-config/pages/isr-pages-fallback-true/[slug]/index.tsx
  test/production/adapter-config/pages/isr-pages/[slug]/index.tsx
Labels: type: next, created-by: Next.js team, tests

#82660 test: improve tests for typed route validation
  test/e2e/app-dir/typed-routes-validator/typed-routes-validator.test.ts
Labels: created-by: Next.js team, tests

#82647 docs: add `experimental.typedEnv`
  docs/01-app/03-api-reference/05-config/02-typescript.mdx
Labels: created-by: Next.js team, Documentation

#82687 fix: Combine the hrtime tuple to get a better seconds representation
  packages/next/src/build/webpack-build/impl.ts
Labels: type: next, created-by: Next.js DevEx team

#82646 Turbopack: use published sourcemap crate
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#82690 docs: fix typo in vitest.mdx
  docs/01-app/02-guides/testing/vitest.mdx
Labels: Documentation

#82631 Turbopack: use a source content regexp for the react compiler
  crates/next-core/src/next_config.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_options_context.rs
  turbopack/crates/turbopack/src/module_options/rule_condition.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#82678 fix: memory leak from cloneResponse
  packages/next/src/server/lib/clone-response.ts
Labels: type: next, CI approved

#82181 Remove stability disclamer on Node runtime in middleware
  docs/01-app/03-api-reference/03-file-conventions/middleware.mdx
Labels: Documentation

#82630 Turbopack: refactor idle process queue and fix bugs and race conditions
  turbopack/crates/turbopack-node/src/heap_queue.rs
  turbopack/crates/turbopack-node/src/lib.rs
  turbopack/crates/turbopack-node/src/pool.rs
Labels: Turbopack, created-by: Turbopack team

#82369 Turbopack: show timing event for database compaction
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/spawn.rs
Labels: type: next, create-next-app, Documentation, Turbopack, created-by: Turbopack team

#82386 [Cache Components] Defer Request Data API resolution to another task in dev when it would suspend when prerendering
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/request-store.ts
  packages/next/src/server/dynamic-rendering-utils.ts
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/pathname.ts
  packages/next/src/server/request/search-params.ts
  test/e2e/app-dir/cache-components-errors/cache-components-errors.test.ts
  test/e2e/opentelemetry/instrumentation/opentelemetry.test.ts
Labels: type: next, created-by: Next.js team, tests

#82710 Use `jsx` extension instead of `js` in global-error documentation
  docs/01-app/03-api-reference/03-file-conventions/error.mdx
Labels: Documentation

#82078 [sourcemaps] Fix sourcemapping in Redbox on Windows
  crates/napi/src/next_api/project.rs
Labels: created-by: Next.js team, Turbopack

#82786 Turbopack: don't look into fallback import map twice
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic/issues/__l___Module not found____c__ Can't resolve __c_('-fa7799.txt
Labels: Turbopack, created-by: Turbopack team

#82776 [Cache Components] Fix HMR for nested pages
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  test/e2e/app-dir/use-cache-dev/app/page.tsx
  test/e2e/app-dir/use-cache-dev/app/some/path/page.tsx
  test/e2e/app-dir/use-cache-dev/use-cache-dev.test.ts
Labels: type: next, created-by: Next.js team, tests

#82266 Update linter options
  docs/01-app/03-api-reference/06-cli/create-next-app.mdx
  packages/create-next-app/create-app.ts
  packages/create-next-app/index.ts
  packages/create-next-app/templates/app-api/js/biome.json
  packages/create-next-app/templates/app-api/ts/biome.json
  packages/create-next-app/templates/app-empty/js/biome.json
  packages/create-next-app/templates/app-empty/js/eslint.config.mjs
  packages/create-next-app/templates/app-empty/ts/biome.json
  packages/create-next-app/templates/app-empty/ts/eslint.config.mjs
  packages/create-next-app/templates/app-tw-empty/js/biome.json
  packages/create-next-app/templates/app-tw-empty/js/eslint.config.mjs
  packages/create-next-app/templates/app-tw-empty/ts/biome.json
  packages/create-next-app/templates/app-tw-empty/ts/eslint.config.mjs
  packages/create-next-app/templates/app-tw/js/biome.json
  packages/create-next-app/templates/app-tw/js/eslint.config.mjs
  packages/create-next-app/templates/app-tw/ts/biome.json
  packages/create-next-app/templates/app-tw/ts/eslint.config.mjs
  packages/create-next-app/templates/app/js/biome.json
  packages/create-next-app/templates/app/js/eslint.config.mjs
  packages/create-next-app/templates/app/ts/biome.json
  packages/create-next-app/templates/app/ts/eslint.config.mjs
  packages/create-next-app/templates/default-empty/js/biome.json
  packages/create-next-app/templates/default-empty/js/eslint.config.mjs
  packages/create-next-app/templates/default-empty/ts/biome.json
  packages/create-next-app/templates/default-empty/ts/eslint.config.mjs
  packages/create-next-app/templates/default-tw-empty/js/biome.json
  packages/create-next-app/templates/default-tw-empty/js/eslint.config.mjs
  packages/create-next-app/templates/default-tw-empty/ts/biome.json
  packages/create-next-app/templates/default-tw-empty/ts/eslint.config.mjs
  packages/create-next-app/templates/default-tw/js/biome.json
  packages/create-next-app/templates/default-tw/js/eslint.config.mjs
  packages/create-next-app/templates/default-tw/ts/biome.json
  packages/create-next-app/templates/default-tw/ts/eslint.config.mjs
  packages/create-next-app/templates/default/js/biome.json
  packages/create-next-app/templates/default/js/eslint.config.mjs
  packages/create-next-app/templates/default/ts/biome.json
  packages/create-next-app/templates/default/ts/eslint.config.mjs
  packages/create-next-app/templates/index.ts
  packages/create-next-app/templates/types.ts
  packages/next/src/cli/next-lint.ts
  test/integration/create-next-app/__snapshots__/biome-config.test.ts.snap
  test/integration/create-next-app/biome-config.test.ts
  test/integration/create-next-app/eslint-config.test.ts
  test/integration/create-next-app/index.test.ts
  test/integration/create-next-app/package-manager/bun.test.ts
  test/integration/create-next-app/package-manager/npm.test.ts
  test/integration/create-next-app/package-manager/pnpm.test.ts
  test/integration/create-next-app/package-manager/yarn.test.ts
  test/integration/create-next-app/templates/matrix.test.ts
  test/integration/eslint/test/next-lint.test.js
Labels: type: next, create-next-app, created-by: Next.js team, Documentation, tests

#82762 feat: stabilize experimental.typedRoutes flag
  crates/next-core/src/next_config.rs
  docs/01-app/03-api-reference/05-config/01-next-config-js/typedRoutes.mdx
  docs/01-app/03-api-reference/05-config/02-typescript.mdx
  packages/next/src/build/webpack-config.ts
  packages/next/src/client/app-dir/link.tsx
  packages/next/src/client/form-shared.tsx
  packages/next/src/client/link.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  packages/next/src/server/lib/router-utils/route-types-utils.ts
  packages/next/src/types.ts
  test/e2e/app-dir/typed-routes/next.config.js
  test/integration/app-types/next.config.js
  test/production/app-dir/typed-routes-with-webpack-worker/bad-routes/next.config.js
  test/production/app-dir/typed-routes-with-webpack-worker/good-routes/next.config.js
Labels: type: next, created-by: Next.js team, Documentation, Turbopack, tests

#82765 Turbopack: Define built-in webpack conditions using an enum and typescript union
  crates/next-core/src/mode.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/next_shared/webpack_rules/mod.rs
  crates/next-core/src/util.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  turbopack/crates/turbo-tasks/src/task/task_input.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#82685 feat: add a codemod to migrate from the deprecated "next lint" command
  docs/01-app/02-guides/upgrading/codemods.mdx
  packages/next-codemod/bin/transform.ts
  packages/next-codemod/lib/handle-package.ts
  packages/next-codemod/lib/utils.ts
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/basic.input.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/basic.output.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/cjs-flat-config.eslint.cjs
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/complex-scripts.input.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/complex-scripts.output.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/existing-eslint.input.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/existing-eslint.output.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/existing-flat-config.eslint.js
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/existing-flat-config.input.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/existing-flat-config.output.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/existing-ignores.eslint.js
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/no-scripts.input.json
  packages/next-codemod/transforms/__testfixtures__/next-lint-to-eslint-cli/no-scripts.output.json
  packages/next-codemod/transforms/__tests__/next-lint-to-eslint-cli.test.js
  packages/next-codemod/transforms/next-lint-to-eslint-cli.ts
  packages/next/src/cli/next-lint.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#82799 fix: possible null access
  packages/next-codemod/transforms/next-lint-to-eslint-cli.ts
Labels: type: next, created-by: Next.js team

#82800 fix: remove a few old references to 'next lint'
  docs/01-app/01-getting-started/01-installation.mdx
  docs/01-app/02-guides/testing/cypress.mdx
Labels: created-by: Next.js team, Documentation

#82672 docs: fix TS error in Node.js runtime local assets example
  docs/01-app/03-api-reference/03-file-conventions/01-metadata/opengraph-image.mdx
Labels: Documentation

#82784 docs: Route props helpers, typegen and next lint deprecation
  docs/01-app/01-getting-started/03-layouts-and-pages.mdx
  docs/01-app/01-getting-started/15-route-handlers-and-middleware.mdx
  docs/01-app/03-api-reference/03-file-conventions/dynamic-routes.mdx
  docs/01-app/03-api-reference/03-file-conventions/layout.mdx
  docs/01-app/03-api-reference/03-file-conventions/page.mdx
  docs/01-app/03-api-reference/03-file-conventions/route.mdx
  docs/01-app/03-api-reference/04-functions/generate-metadata.mdx
  docs/01-app/03-api-reference/04-functions/generate-static-params.mdx
  docs/01-app/03-api-reference/04-functions/generate-viewport.mdx
  docs/01-app/03-api-reference/05-config/02-typescript.mdx
  docs/01-app/03-api-reference/06-cli/next.mdx
  docs/02-pages/02-guides/amp.mdx
  docs/02-pages/04-api-reference/03-functions/use-amp.mdx
Labels: Documentation, created-by: Next.js DevEx team

#82805 docs: add explanation of disabled lint for Biome
  docs/01-app/03-api-reference/06-cli/next.mdx
Labels: created-by: Next.js team, Documentation

#82183 docs: mention turbopack config codemod
  docs/01-app/03-api-reference/05-config/01-next-config-js/turbopack.mdx
  packages/next/src/server/config-shared.ts
Labels: type: next, Documentation, created-by: Turbopack team

#82806 docs: fix typo in `Image#priority`
  docs/01-app/03-api-reference/02-components/image.mdx
Labels: Documentation

#82780 Turbopack: pass cache handler path as relative path to Rust
  crates/next-core/src/next_config.rs
  packages/next/src/build/swc/index.ts
  test/e2e/app-dir/app-static/app-static-custom-handler.test.ts
  test/e2e/app-dir/app-static/next.config.js
  test/e2e/app-dir/use-cache-unknown-cache-kind/use-cache-unknown-cache-kind.test.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#82665 Turbopack: run unit tests in multi threaded runtime
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/tests/all_in_one.rs
  turbopack/crates/turbo-tasks-backend/tests/basic.rs
  turbopack/crates/turbo-tasks-backend/tests/bug.rs
  turbopack/crates/turbo-tasks-backend/tests/bug2.rs
  turbopack/crates/turbo-tasks-backend/tests/call_types.rs
  turbopack/crates/turbo-tasks-backend/tests/collectibles.rs
  turbopack/crates/turbo-tasks-backend/tests/debug.rs
  turbopack/crates/turbo-tasks-backend/tests/detached.rs
  turbopack/crates/turbo-tasks-backend/tests/dirty_in_progress.rs
  turbopack/crates/turbo-tasks-backend/tests/emptied_cells.rs
  turbopack/crates/turbo-tasks-backend/tests/filter_unused_args.rs
  turbopack/crates/turbo-tasks-backend/tests/immutable.rs
  turbopack/crates/turbo-tasks-backend/tests/local_tasks.rs
  turbopack/crates/turbo-tasks-backend/tests/operation_vc.rs
  turbopack/crates/turbo-tasks-backend/tests/panics.rs
  turbopack/crates/turbo-tasks-backend/tests/performance.rs
  turbopack/crates/turbo-tasks-backend/tests/random_change.rs
  turbopack/crates/turbo-tasks-backend/tests/read_ref_cell.rs
  turbopack/crates/turbo-tasks-backend/tests/recompute.rs
  turbopack/crates/turbo-tasks-backend/tests/recompute_collectibles.rs
  turbopack/crates/turbo-tasks-backend/tests/resolved_vc.rs
  turbopack/crates/turbo-tasks-backend/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks-backend/tests/task_statistics.rs
  turbopack/crates/turbo-tasks-backend/tests/trace_transient.rs
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell_mode.rs
  turbopack/crates/turbo-tasks-backend/tests/transient_collectible.rs
  turbopack/crates/turbo-tasks-backend/tests/transient_vc.rs
  turbopack/crates/turbo-tasks-fetch/tests/fetch.rs
  turbopack/crates/turbopack/tests/node-file-trace.rs
Labels: Turbopack, created-by: Turbopack team, CI Bypass Graphite Optimization

#82852 fix: update the config.api.responseLimit type
  packages/next/src/server/lib/router-utils/typegen.ts
Labels: type: next, created-by: Next.js team

#82666 Turbopack: add parallel execution helpers
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/parallel.rs
  turbopack/crates/turbo-tasks/src/scope.rs
  turbopack/crates/turbo-tasks/src/util.rs
Labels: Turbopack, created-by: Turbopack team

#82667 Turbopack: use parallel execution helpers
  Cargo.lock
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/watcher.rs
Labels: Turbopack, created-by: Turbopack team

#82668 Turbopack: allow to customize the parallel execution of turbo-persistence
  turbopack/crates/turbo-persistence-tools/src/main.rs
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-persistence/src/collector.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/parallel_scheduler.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo/mod.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo/parallel_scheduler.rs
Labels: Turbopack, created-by: Turbopack team

#82380 Turbopack: use block in place for db writes
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/parallel_scheduler.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo/parallel_scheduler.rs
  turbopack/crates/turbo-tasks/src/effect.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/spawn.rs
Labels: Turbopack, created-by: Turbopack team

#82375 Turbopack: improve compaction
  turbopack/crates/turbo-persistence/src/compaction/selector.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo/mod.rs
Labels: Turbopack, created-by: Turbopack team

#82859 Use deterministic env for public env vars
  packages/next/src/lib/static-env.ts
Labels: type: next, created-by: Turbopack team

#82889 Turbopack: run more unit tests in multi thread runtime
  crates/next-api/src/nft_json.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/read_glob.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/task_input.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/value_debug.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-dev-server/src/update/stream.rs
  turbopack/crates/turbopack/src/module_options/rule_condition.rs
Labels: Turbopack, created-by: Turbopack team

#82885 Bump wasmer to 6.1.0-rc.3
  Cargo.lock
Labels: created-by: Turbopack team

#82900 fix: aliased navigations should apply scroll handling
  packages/next/src/client/components/router-reducer/aliased-prefetch-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/router-autoscroll/app/loading-scroll/page.tsx
  test/e2e/app-dir/router-autoscroll/router-autoscroll.test.ts
Labels: type: next, created-by: Next.js team, tests

#82895 Remove experimental appDocumentPreloading
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Turbopack team

#82896 Update prettier project dependency from 3.2.5 to 3.6.2
  .prettierignore
  docs/01-app/02-guides/progressive-web-apps.mdx
  docs/01-app/03-api-reference/02-components/image.mdx
  docs/01-app/03-api-reference/03-file-conventions/route-segment-config.mdx
  docs/01-app/03-api-reference/04-functions/generate-metadata.mdx
  errors/css-global.mdx
  errors/no-styled-jsx-in-document.mdx
  examples/auth0/components/layout.tsx
  examples/cms-sitecore-xmcloud/src/lib/extract-path/index.ts
  examples/cms-wordpress/src/utils/nextSlugToWpSlug.ts
  examples/convex/styles/globals.css
  examples/mdx/app/globals.css
  examples/next-forms/app/global.css
  examples/with-apollo-and-redux/components/Layout.js
  examples/with-apollo/src/app/globals.css
  examples/with-clerk/styles/Home.module.css
  examples/with-edgedb/components/Layout.tsx
  examples/with-elasticsearch/styles/globals.css
  examples/with-fingerprintjs-pro/styles/globals.css
  examples/with-graphql-hooks/src/app/globals.css
  examples/with-sentry/styles/globals.css
  examples/with-storybook/app/globals.css
  examples/with-stripe-typescript/styles.css
  examples/with-xata/styles/root.css
  package.json
  packages/font/src/local/loader.ts
  packages/next/src/build/babel/loader/get-config.ts
  packages/next/src/build/define-env.ts
  packages/next/src/build/static-paths/app.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
  packages/next/src/client/components/router-reducer/handle-mutable.ts
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.css
  packages/next/src/next-devtools/dev-overlay/font/font-styles.tsx
  packages/next/src/next-devtools/dev-overlay/normalize.css
  packages/next/src/next-devtools/dev-overlay/styles/default-theme.css
  packages/next/src/server/web/spec-extension/response.ts
  packages/next/src/shared/lib/router/router.ts
  packages/next/src/telemetry/events/version.ts
  pnpm-lock.yaml
  scripts/release/slack.ts
  test/integration/critical-css/styles/styles.css
  test/lib/e2e-utils/index.ts
  turbopack/crates/turbopack-node/src/render/error.html
  turbopack/crates/turbopack/tests/node-file-trace/integration/webpack-target-node/webpack-api-runtime.js
Labels: examples, type: next, Font (next/font), Documentation, Turbopack, tests

#82886 Bump swc to v36
  Cargo.lock
  Cargo.toml
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/error-recovery.test.ts
  test/development/basic/hmr/run-error-recovery-hmr-test.util.ts
  test/integration/custom-error/test/index.test.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export-parse-error/issues/Parsing ecmascript source code failed-f74af3.txt
Labels: Turbopack, created-by: Turbopack team, tests

#82906 [turbopack] Add support for partial glob matches
  crates/next-api/src/nft_json.rs
  crates/next-core/src/next_font/local/mod.rs
  crates/next-core/src/next_server/resolve.rs
  crates/next-core/src/next_shared/resolve.rs
  turbopack/crates/turbo-tasks-fs/examples/hash_glob.rs
  turbopack/crates/turbo-tasks-fs/src/glob.rs
  turbopack/crates/turbo-tasks-fs/src/globset.rs
  turbopack/crates/turbo-tasks-fs/src/read_glob.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/placeable.rs
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
Labels: Turbopack, created-by: Turbopack team

#82860 feat: add typesafety with config.typedRoutes to redirect() and permanentRedirect()
  packages/next/src/server/lib/router-utils/typegen.ts
  test/e2e/app-dir/typed-routes/typed-links.test.ts
  test/e2e/app-dir/typed-routes/typed-routes.test.ts
  test/integration/app-types/app-types.test.js
  test/integration/app-types/src/app/type-checks/redirect/page.tsx
Labels: type: next, created-by: Next.js team, tests

#82444 Skip emitting pages router entries when only app router present
  crates/next-api/src/app.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/app_structure.rs
  crates/next-core/src/pages_structure.rs
  packages/next/src/build/entries.ts
  packages/next/src/build/index.ts
  packages/next/src/build/turbopack-build/impl.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/cli/next-typegen.ts
  packages/next/src/client/components/builtin/app-error.tsx
  packages/next/src/client/components/handle-isr-error.tsx
  packages/next/src/export/index.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/export/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/lib/router-utils/route-types-utils.ts
  packages/next/src/server/require.ts
  packages/next/src/shared/lib/constants.ts
  packages/next/src/shared/lib/entry-constants.ts
  test/e2e/app-dir/actions-unrecognized/actions-unrecognized.test.ts
  test/e2e/app-dir/cache-components-dynamic-imports/cache-components-dynamic-imports.test.ts
  test/e2e/app-dir/metadata-static-generation/metadata-static-generation.test.ts
  test/e2e/app-dir/metadata-streaming-static-generation/metadata-streaming-static-generation.test.ts
  test/e2e/i18n-ignore-rewrite-source-locale/next.config.js
  test/e2e/i18n-ignore-rewrite-source-locale/pages/api/hello.js
  test/e2e/i18n-ignore-rewrite-source-locale/public/file.txt
  test/e2e/i18n-ignore-rewrite-source-locale/rewrites-with-basepath.test.ts
  test/integration/app-dir-export/test/utils.ts
  test/integration/next-dynamic-css/tsconfig.json
  test/production/500-page/app-router-only/app-router-only.test.ts
  test/production/500-page/app-router-only/app/actions.ts
  test/production/500-page/app-router-only/app/global-error.tsx
  test/production/500-page/app-router-only/app/layout.tsx
  test/production/500-page/app-router-only/app/page.tsx
  test/production/500-page/app-router-only/app/route-error/route.tsx
  test/production/500-page/app-router-only/middleware.ts
  test/production/500-page/mixed-router-no-custom-pages-error/app/app-page/page.tsx
  test/production/500-page/mixed-router-no-custom-pages-error/app/global-error.tsx
  test/production/500-page/mixed-router-no-custom-pages-error/app/layout.tsx
  test/production/500-page/mixed-router-no-custom-pages-error/mixed-router-no-error.test.ts
  test/production/500-page/mixed-router-no-custom-pages-error/pages/pages-error.tsx
  test/production/500-page/mixed-router-with-custom-pages-error/app/app-page/page.tsx
  test/production/500-page/mixed-router-with-custom-pages-error/app/global-error.tsx
  test/production/500-page/mixed-router-with-custom-pages-error/app/layout.tsx
  test/production/500-page/mixed-router-with-custom-pages-error/mixed-router-with-error.test.ts
  test/production/500-page/mixed-router-with-custom-pages-error/pages/_error.tsx
  test/production/500-page/mixed-router-with-custom-pages-error/pages/pages-error.tsx
Labels: type: next, created-by: Next.js team, Turbopack, tests

#82915 Add special marker in terminal if all error stack frames are ignore-listed
  packages/next/src/server/patch-error-inspect.ts
Labels: type: next, created-by: Next.js team

#82930 Rename WebSocket file
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/app/web-socket.ts
  packages/next/src/next-devtools/userspace/app/errors/use-forward-console-log.ts
Labels: type: next, created-by: Next.js team

#82899 [turbopack] Fix a few small things in the analyzer
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/well_known.rs
  turbopack/crates/turbopack-ecmascript/src/references/external_module.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: Turbopack, created-by: Turbopack team

#82760 [turbopack] Optimize `export const` to bind readonly values not getters
  crates/next-core/src/next_server_component/server_component_module.rs
  crates/next-core/src/next_server_utility/server_utility_module.rs
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-core/src/module_graph/export_usage.rs
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-utils.ts
  turbopack/crates/turbopack-ecmascript/src/code_gen.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/live/input/const_default_export_function.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/live/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/live/input/live_default_class.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/live/input/live_exports.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/live/options.json
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/reexport-with-locals/output/bf321_tests_snapshot_intermediate-tree-shake_reexport-with-locals_input_328b13f8._.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/reexport-with-locals/output/bf321_tests_snapshot_intermediate-tree-shake_reexport-with-locals_input_328b13f8._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/rename-side-effect-free-facade/output/53446_snapshot_intermediate-tree-shake_rename-side-effect-free-facade_input_cbcbaae7._.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/rename-side-effect-free-facade/output/53446_snapshot_intermediate-tree-shake_rename-side-effect-free-facade_input_cbcbaae7._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/output/bf321_tests_snapshot_intermediate-tree-shake_tree-shake-test-1_input_c88ec7da._.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/output/bf321_tests_snapshot_intermediate-tree-shake_tree-shake-test-1_input_c88ec7da._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/5c1d0_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_c0f7e0b0.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/780ce_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_c0f7e0b0.js.map
Labels: Turbopack, created-by: Turbopack team, tests

#82931 Unhook WebSocket
  packages/next/errors.json
  packages/next/src/client/app-bootstrap.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/app-next-dev.ts
  packages/next/src/client/app-next-turbopack.ts
  packages/next/src/client/app-next.ts
  packages/next/src/client/asset-prefix.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/app/web-socket.ts
  packages/next/src/next-devtools/userspace/app/errors/use-forward-console-log.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/lib/dev-bundler-service.ts
  packages/next/src/server/lib/router-utils/router-server-context.ts
  packages/next/src/server/render.tsx
  packages/next/src/shared/lib/app-router-types.ts
  test/development/acceptance-app/hydration-error.test.ts
Labels: type: next, created-by: Next.js team, tests, CI Bypass Graphite Optimization

#82911 Turbopack: don't treat metadata routes as RSC
  crates/next-api/src/app.rs
  test/e2e/app-dir/dynamic/app/api/route.js
  test/e2e/app-dir/dynamic/app/client-reference.js
  test/e2e/app-dir/dynamic/app/dynamic-component.js
  test/e2e/app-dir/dynamic/app/sitemap.js
  test/e2e/app-dir/dynamic/dynamic.test.ts
Labels: Turbopack, created-by: Turbopack team, tests

#82989 Turbopack: fix race condition in unit test
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell.rs
Labels: Turbopack, created-by: Turbopack team

#82340 Turbopack: fix NFT tracing of sharp 0.34
  turbopack/crates/turbopack-core/src/lib.rs
  turbopack/crates/turbopack-core/src/node_addon_module.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_rule.rs
  turbopack/crates/turbopack/tests/node-file-trace.rs
  turbopack/crates/turbopack/tests/node-file-trace/integration/sharp030.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/sharp033.js
  turbopack/crates/turbopack/tests/node-file-trace/package.json
  turbopack/crates/turbopack/tests/node-file-trace/pnpm-lock.yaml
Labels: Turbopack, created-by: Turbopack team, tests

#82405 Turbopack: skip db lookups on the initial build
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
Labels: Turbopack, created-by: Turbopack team

#83006 Fetch tag before reset for create-release-branch
  scripts/create-release-branch.js
Labels: created-by: Next.js team

#82986 Destructure loadComponents where possible
  packages/next/src/build/segment-config/app/app-segments.ts
  packages/next/src/build/segment-config/app/collect-root-param-keys.ts
  packages/next/src/build/utils.ts
  packages/next/src/server/dev/static-paths-worker.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Turbopack team

#82960 Turbopack: prefetch restoring of task dependencies
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/invalidate.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/parallel.rs
  turbopack/crates/turbo-tasks/src/util.rs
Labels: Turbopack, created-by: Turbopack team

#83023 [backport] fix: add path normalization to getRelativePath for Windows (#82918)
  packages/next/src/server/lib/router-utils/route-types-utils.ts
Labels: type: next, created-by: Next.js team

#83028 [backport] fix: update the config.api.responseLimit type (#82852)
  packages/next/src/server/lib/router-utils/typegen.ts
Labels: type: next, created-by: Next.js team

#83029 fix: add '.next/types/**/*.ts' to the pages router TSConfig
  packages/create-next-app/templates/default-empty/ts/tsconfig.json
  packages/create-next-app/templates/default-tw-empty/ts/tsconfig.json
  packages/create-next-app/templates/default-tw/ts/tsconfig.json
  packages/create-next-app/templates/default/ts/tsconfig.json
Labels: create-next-app, created-by: Next.js team

#82621 feat(build): add client param parsing support for PPR routes
  packages/next/errors.json
  packages/next/src/build/index.ts
  packages/next/src/build/segment-config/app/app-segments.ts
  packages/next/src/build/static-paths/app.test.ts
  packages/next/src/build/static-paths/app.ts
  packages/next/src/build/static-paths/types.ts
  packages/next/src/build/static-paths/utils.ts
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/utils.ts
  packages/next/src/client/components/navigation-untracked.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/get-short-dynamic-param-type.tsx
  packages/next/src/server/app-render/postponed-state.test.ts
  packages/next/src/server/app-render/postponed-state.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/request-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/dev/static-paths-worker.ts
  packages/next/src/server/lib/implicit-tags.ts
  packages/next/src/server/lib/incremental-cache/shared-cache-controls.external.test.ts
  packages/next/src/server/request-meta.ts
  packages/next/src/server/request/fallback-params.test.ts
  packages/next/src/server/request/fallback-params.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/root-params.ts
  packages/next/src/server/route-modules/app-page/helpers/prerender-manifest-matcher.test.ts
  packages/next/src/server/route-modules/app-page/module.ts
  packages/next/src/shared/lib/app-router-types.ts
  packages/next/src/shared/lib/router/utils/get-dynamic-param.test.ts
  packages/next/src/shared/lib/router/utils/get-dynamic-param.ts
  test/cache-components-tests-manifest.json
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/parallel-routes-breadcrumbs/app/layout.tsx
  test/e2e/app-dir/rewrite-headers/rewrite-headers.test.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
Labels: type: next, created-by: Next.js team, tests

#82849 feat(app-router): add clientParamParsingOrigins config for cross-origin rewrite header control
  packages/next/src/build/index.ts
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/export/index.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/types.ts
  packages/next/src/shared/lib/router/utils/parse-url.ts
  packages/next/src/shared/lib/router/utils/prepare-destination.test.ts
  packages/next/src/shared/lib/router/utils/prepare-destination.ts
Labels: type: next, created-by: Next.js team

#82997 Turbopack: fix route format for NFT globs
  crates/next-api/src/app.rs
  crates/next-api/src/nft_json.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/next_app/app_page_entry.rs
  crates/next-core/src/next_app/app_route_entry.rs
  crates/next-core/src/next_pages/page_entry.rs
  crates/next-core/src/util.rs
  test/integration/build-trace-extra-entries/app/next.config.js
Labels: Turbopack, created-by: Turbopack team, tests

#82987 Reuse routeModule loaderTree
  packages/next/src/build/templates/app-page.ts
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Turbopack team

#82741 Docs/getting started improv
  docs/01-app/01-getting-started/01-installation.mdx
  docs/01-app/01-getting-started/02-project-structure.mdx
Labels: Documentation, created-by: Next.js DevEx team

#82953 Docs/late aug feedback
  docs/01-app/01-getting-started/15-route-handlers-and-middleware.mdx
  docs/01-app/02-guides/backend-for-frontend.mdx
  docs/01-app/03-api-reference/03-file-conventions/middleware.mdx
  docs/01-app/03-api-reference/04-functions/next-response.mdx
  docs/01-app/03-api-reference/05-config/01-next-config-js/output.mdx
Labels: Documentation, created-by: Next.js DevEx team

#83021 Turbopack: cleanup Effect::MemberCall
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/well_known.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: Turbopack, created-by: Turbopack team
