Repository vercel/next.js, pull requests merged in 2025-09, with the labels that each got.

#83244 fix: remove redundant posix normalization
  packages/next/src/lib/typescript/writeAppTypeDeclarations.ts
Labels: type: next, created-by: Next.js team

#83239 Remove `satisfies` keyword from type validation to preserve old TS compatibility
  packages/next/src/server/lib/router-utils/typegen.ts
  test/e2e/app-dir/typed-routes-validator/typed-routes-validator.test.ts
Labels: type: next, created-by: Next.js team, tests

#82278 Turbopack: port remaining NFT step
  crates/napi/src/next_api/project.rs
  crates/next-api/src/lib.rs
  crates/next-api/src/next_server_nft.rs
  crates/next-api/src/nft_json.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_server/mod.rs
  packages/next/src/build/collect-build-traces.ts
  packages/next/src/build/index.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/image-optimizer.ts
  packages/next/src/server/load-components.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
  packages/next/src/server/require.ts
  packages/next/src/server/route-modules/route-module.ts
  test/production/app-dir/build-output-tree-view/build-output-tree-view.test.ts
  test/production/next-server-nft/app/layout.tsx
  test/production/next-server-nft/app/page.tsx
  test/production/next-server-nft/next-server-nft.test.ts
  test/production/next-server-nft/next.config.js
  turbopack/crates/turbopack/src/lib.rs
Labels: type: next, Turbopack, created-by: Turbopack team, tests, Rspack

#83306 Fix deployment tests
  test/production/next-server-nft/next-server-nft.test.ts
Labels: created-by: Turbopack team, tests

#83328 Unflake `missing required html tags` test
  test/development/app-dir/missing-required-html-tags/index.test.ts
  test/rspack-dev-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: created-by: Next.js team, tests

#83128 fix(Turbopack): Give intercept routes correct regex in generated manifest files
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-core/src/next_edge/route_regex.rs
Labels: Turbopack, created-by: Turbopack team, tests

#83125 docs(docker): update base image to node:20-alpine in Docker examples
  examples/with-docker-compose/next-app/dev.Dockerfile
  examples/with-docker-compose/next-app/prod.Dockerfile
  examples/with-docker-multi-env/docker/development/Dockerfile
  examples/with-docker-multi-env/docker/production/Dockerfile
  examples/with-docker-multi-env/docker/staging/Dockerfile
  examples/with-docker/Dockerfile
Labels: examples

#83334 fix(turbopack): Pass correct browserslist to `styled-jsx`
  crates/next-api/src/project.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-cli/src/contexts.rs
  turbopack/crates/turbopack-core/src/compile_time_info.rs
  turbopack/crates/turbopack-core/src/environment.rs
  turbopack/crates/turbopack-ecmascript/benches/analyzer.rs
  turbopack/crates/turbopack-ecmascript/benches/references.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-nft/src/nft.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack/benches/node_file_trace.rs
  turbopack/crates/turbopack/examples/turbopack.rs
  turbopack/crates/turbopack/src/evaluate_context.rs
  turbopack/crates/turbopack/tests/node-file-trace.rs
Labels: Turbopack, created-by: Turbopack team

#83341 refactor: Consistently call HMR messages `message`
  packages/next/src/client/dev/amp-dev.ts
  packages/next/src/client/dev/hot-middleware-client.ts
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/app/web-socket.ts
  packages/next/src/client/dev/hot-reloader/pages/hot-reloader-pages.ts
  packages/next/src/client/dev/hot-reloader/pages/websocket.ts
  packages/next/src/client/dev/hot-reloader/shared.ts
  packages/next/src/client/dev/hot-reloader/turbopack-hot-reloader-common.ts
  packages/next/src/client/next-dev-turbopack.ts
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/server/dev/hot-middleware.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/lib/dev-bundler-service.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  turbopack/crates/turbopack-cli/js/src/entry/websocket.ts
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-1/input.js
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-1/output.md
Labels: type: next, created-by: Next.js team, Turbopack

#83350 Turbopack: use bail in track_glob_internal
  turbopack/crates/turbo-tasks-fs/src/read_glob.rs
Labels: Turbopack, created-by: Turbopack team

#83356 Turbopack: Implement `TaskInput` for `ReadRef`, use a `ReadRef` input for `AssetIdent::new`
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks/src/read_ref.rs
  turbopack/crates/turbo-tasks/src/task/task_input.rs
  turbopack/crates/turbopack-core/src/ident.rs
Labels: Turbopack, created-by: Turbopack team

#83074 [turbopack] Adopt inventory for our registry
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbo-tasks-backend/tests/task_statistics.rs
  turbopack/crates/turbo-tasks-backend/tests/trace_transient.rs
  turbopack/crates/turbo-tasks-build/src/lib.rs
  turbopack/crates/turbo-tasks-macros-shared/src/ident.rs
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks-macros/src/function_macro.rs
  turbopack/crates/turbo-tasks-macros/src/generic_type_macro.rs
  turbopack/crates/turbo-tasks-macros/src/global_name.rs
  turbopack/crates/turbo-tasks-macros/src/lib.rs
  turbopack/crates/turbo-tasks-macros/src/primitive_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_impl_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
  turbopack/crates/turbo-tasks/Cargo.toml
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/id_factory.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/macro_helpers.rs
  turbopack/crates/turbo-tasks/src/native_function.rs
  turbopack/crates/turbo-tasks/src/no_move_vec.rs
  turbopack/crates/turbo-tasks/src/registry.rs
  turbopack/crates/turbo-tasks/src/task_statistics.rs
  turbopack/crates/turbo-tasks/src/trait_ref.rs
  turbopack/crates/turbo-tasks/src/value_type.rs
Labels: Turbopack, created-by: Turbopack team

#83385 [test] Unflake `third-parties/basic`
  test/e2e/app-dir/third-parties/basic.test.ts
Labels: created-by: Next.js team, tests

#83375 [Cache Components] Fix revalidation of prerendered route handlers
  packages/next/src/server/route-modules/app-route/module.ts
  test/e2e/app-dir/use-cache-route-handler-only/app/node/route.ts
  test/e2e/app-dir/use-cache-route-handler-only/app/revalidate/route.ts
  test/e2e/app-dir/use-cache-route-handler-only/use-cache-route-handler-only.test.ts
Labels: type: next, created-by: Next.js team, tests

#83202 chore: update Rspack test cases snapshot
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack/loaders/next-invalid-import-error-loader.ts
  test/development/acceptance-app/ReactRefreshLogBox-builtins.test.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/ReactRefreshLogBoxMisc.test.ts
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance-app/invalid-imports.test.ts
  test/development/acceptance/ReactRefreshLogBox-app-doc.test.ts
  test/development/acceptance/server-component-compiler-errors-in-pages.test.ts
  test/development/basic/hmr/run-error-recovery-hmr-test.util.ts
  test/development/middleware-errors/index.test.ts
  test/development/pages-dir/client-navigation/rendering.test.ts
  test/e2e/app-dir/cache-components-errors/cache-components-errors.test.ts
  test/e2e/app-dir/error-on-next-codemod-comment/error-on-next-codemod-comment.test.ts
  test/e2e/app-dir/metadata-invalid-image-file/metadata-invalid-image-file.test.ts
  test/e2e/app-dir/non-root-project-monorepo/non-root-project-monorepo.test.ts
  test/e2e/app-dir/scss/compilation-and-prefixing/compilation-and-prefixing.test.ts
  test/e2e/app-dir/scss/invalid-global-module/invalid-global-module.test.ts
  test/e2e/app-dir/scss/invalid-global-with-app/invalid-global-with-app.test.ts
  test/e2e/app-dir/scss/invalid-global/invalid-global.test.ts
  test/e2e/app-dir/scss/invalid-module-document/invalid-module-document.test.ts
  test/e2e/app-dir/scss/invalid-module/invalid-module.test.ts
  test/e2e/app-dir/scss/valid-and-invalid-global/valid-and-invalid-global.test.ts
  test/e2e/app-dir/use-cache-segment-configs/use-cache-segment-configs.test.ts
  test/e2e/app-dir/use-cache-unknown-cache-kind/use-cache-unknown-cache-kind.test.ts
  test/e2e/app-dir/use-cache-without-experimental-flag/use-cache-without-experimental-flag.test.ts
  test/integration/css-customization/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/valid-invalid-css.test.js
  test/integration/invalid-document-image-import/test/index.test.js
  test/integration/next-image-new/invalid-image-import/test/index.test.ts
Labels: type: next, tests, Rspack

#83372 [test] Move error-overlay-layout to e2e tests
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-layout/error-overlay-layout.test.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-toolbar/issue-feedback-button.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-toolbar/issue-feedback-button.tsx
  packages/next/src/next-devtools/dev-overlay/styles/component-styles.tsx
  test/development/error-overlay/index.test.tsx
  test/lib/browsers/playwright.ts
Labels: type: next, created-by: Next.js team, tests

#83343 fix: ensure onRequestError is invoked when otel enabled
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/app-route.ts
  test/e2e/on-request-error/otel/app/app-route/route.js
  test/e2e/on-request-error/otel/app/layout.js
  test/e2e/on-request-error/otel/app/server-page/page.js
  test/e2e/on-request-error/otel/app/write-log/route.js
  test/e2e/on-request-error/otel/instrumentation.js
  test/e2e/on-request-error/otel/otel.test.ts
Labels: type: next, tests

#83376 [test] Lint `*.test.tsx` as test files
  .eslintrc.json
  test/unit/next-dynamic.test.tsx
Labels: created-by: Next.js team, tests

#83304 [metadata] refactor metadata loaders
  crates/next-core/src/next_app/metadata/image.rs
  crates/next-core/src/next_app/metadata/route.rs
  packages/next/src/build/webpack/loaders/next-metadata-image-loader.ts
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#83398 [test] Do not use sandboxes for hydration error tests
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/bad-nesting/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/div-under-p/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/extra-element-client/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/extra-element-server/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/extra-node-suspense/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/extra-text-node-client/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/extra-text-node-invalid-place/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/extra-text-node-server/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/extra-whitespace-invalid-place/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/layout.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/p-under-p/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/text-mismatch/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/tr-under-div/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(default)/use-id/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(extra-attributes)/extra-attributes/page.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(extra-attributes)/layout.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(script-under-html)/layout.tsx
  test/development/acceptance-app/fixtures/hydration-errors/app/(script-under-html)/script-under-html/page.tsx
  test/development/acceptance-app/hydration-error.test.ts
Labels: created-by: Next.js team, tests

#83390 test: Refactor edge-runtime-dynamic-code test
  test/integration/edge-runtime-dynamic-code/lib/utils.js
  test/integration/edge-runtime-dynamic-code/middleware.js
  test/integration/edge-runtime-dynamic-code/pages/api/route.js
  test/integration/edge-runtime-dynamic-code/test/index.test.js
Labels: created-by: Turbopack team, tests

#83040 Docker example using bun
  examples/with-docker/Dockerfile.bun
  examples/with-docker/README.md
Labels: examples

#83310 Fixed broken link in backend-for-frontend.mdx
  docs/01-app/02-guides/backend-for-frontend.mdx
Labels: Documentation

#83348 docs: Middleware explicit runtime differences
  docs/01-app/03-api-reference/03-file-conventions/middleware.mdx
Labels: Documentation, created-by: Next.js DevEx team

#83411 Revert "Revert "[Breaking] Bump minimum Node.js version to >=20.9.0" ( #83243)"
  .github/actions/next-integration-stat/package.json
  .github/actions/next-stats-action/Dockerfile
  .github/actions/next-stats-action/package.json
  .github/actions/upload-turboyet-data/package.json
  .github/workflows/build_and_test.yml
  .github/workflows/code_freeze.yml
  .github/workflows/create_release_branch.yml
  .github/workflows/integration_tests_reusable.yml
  .github/workflows/test_examples.yml
  .github/workflows/trigger_release.yml
  package.json
  packages/create-next-app/package.json
  packages/next/package.json
  test/.stats-app/package.json
  test/unit/next-swc.test.ts
Labels: type: next, create-next-app, created-by: Next.js team, Documentation, tests

#83297 Turbopack: refactor segment config parsing
  crates/next-api/src/app.rs
  crates/next-api/src/middleware.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/project.rs
  crates/next-core/src/app_segment_config.rs
  crates/next-core/src/lib.rs
  crates/next-core/src/next_app/app_entry.rs
  crates/next-core/src/next_app/app_route_entry.rs
  crates/next-core/src/next_app/metadata/route.rs
  crates/next-core/src/next_client/transforms.rs
  crates/next-core/src/next_server/transforms.rs
  crates/next-core/src/next_shared/transforms/mod.rs
  crates/next-core/src/next_shared/transforms/next_page_static_info.rs
  crates/next-core/src/segment_config.rs
  crates/next-core/src/util.rs
  crates/next-custom-transforms/src/transforms/mod.rs
  crates/next-custom-transforms/src/transforms/page_static_info/collect_exported_const_visitor.rs
  crates/next-custom-transforms/src/transforms/page_static_info/collect_exports_visitor.rs
  crates/next-custom-transforms/src/transforms/page_static_info/mod.rs
  test/e2e/app-dir/app-edge/app-edge-invalid-reexport.test.ts
  test/e2e/app-dir/app-edge/app-edge.test.ts
  test/e2e/app-dir/app-edge/app/export/inherit/page.tsx
  test/integration/app-dir-export/test/dynamic-missing-gsp-dev.test.ts
  test/integration/app-dir-export/test/dynamic-missing-gsp-prod.test.ts
  test/integration/invalid-middleware-matchers/test/index.test.js
  test/production/exported-runtimes-value-validation/index.test.ts
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/peg/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/peg/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-explained.snapshot
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#83416 build: error on different root folder
  packages/next/errors.json
  packages/next/src/lib/find-pages-dir.ts
  test/integration/telemetry/test/index.test.js
  test/production/app-dir/bad-file-structure/bad-file-structure.test.ts
  test/production/app-dir/bad-file-structure/next.config.js
  test/production/app-dir/bad-file-structure/pages/foo.tsx
  test/production/app-dir/bad-file-structure/src/app/layout.tsx
  test/production/app-dir/bad-file-structure/src/app/page.tsx
Labels: type: next, created-by: Next.js team, tests

#83435 [codemod] return origin src in viewport mod if not changed
  packages/next-codemod/transforms/metadata-to-viewport-export.ts
Labels: type: next, created-by: Next.js team

#83420 auto-enable errors.json merge driver
  scripts/git-configure.mjs
  scripts/merge-errors-json/merge.mjs
  scripts/merge-errors-json/uninstall
Labels: created-by: Next.js team

#81999 fix: Include CSP nonce in next/dynamic preload
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/shared/lib/lazy-dynamic/preload-chunks.tsx
  test/e2e/app-dir/next-dynamic-csp-nonce/app/dynamic-component.js
  test/e2e/app-dir/next-dynamic-csp-nonce/app/layout.js
  test/e2e/app-dir/next-dynamic-csp-nonce/app/page.js
  test/e2e/app-dir/next-dynamic-csp-nonce/middleware.js
  test/e2e/app-dir/next-dynamic-csp-nonce/next-dynamic-csp-nonce.test.ts
  test/e2e/app-dir/next-dynamic-csp-nonce/next.config.js
Labels: type: next, CI approved, tests

#83305 [Segment Cache] use `loading` from dynamic response for unprefetched navigations
  packages/next/src/client/components/router-reducer/ppr-navigations.ts
  test/e2e/app-dir/segment-cache/no-prefetch/app/layout.tsx
  test/e2e/app-dir/segment-cache/no-prefetch/app/page.tsx
  test/e2e/app-dir/segment-cache/no-prefetch/app/with-loading/client.tsx
  test/e2e/app-dir/segment-cache/no-prefetch/app/with-loading/loading.tsx
  test/e2e/app-dir/segment-cache/no-prefetch/app/with-loading/page.tsx
  test/e2e/app-dir/segment-cache/no-prefetch/next.config.js
  test/e2e/app-dir/segment-cache/no-prefetch/no-prefetch.test.ts
Labels: type: next, created-by: Next.js team, tests

#83357 [turbopack] Improve handling of symlink resolution errors in track_glob and read_glob
  crates/next-core/src/pages_structure.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/read_glob.rs
  turbopack/crates/turbopack-core/src/node_addon_module.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-dev-server/src/source/static_assets.rs
  turbopack/crates/turbopack-ecmascript/src/references/node.rs
  turbopack/crates/turbopack-resolve/src/node_native_binding.rs
Labels: Turbopack, created-by: Turbopack team

#83451 [turbopack] Add an execution test for the behavior when a module throws an error
  turbopack/crates/turbopack-tests/tests/execution/turbopack/evaluation-errors/basic/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/evaluation-errors/basic/input/throws.js
Labels: Turbopack, created-by: Turbopack team

#83473 [turbopack] enable the signal feature of `nix`
  turbopack/crates/turbopack-bench/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#83486 [metadata] not add suffix to sitemap.xml in group routes
  crates/next-core/src/next_app/metadata/mod.rs
  packages/next/src/lib/metadata/get-metadata-route.ts
  test/e2e/app-dir/sitemap-group/app/(group)/bar/sitemap.xml
  test/e2e/app-dir/sitemap-group/sitemap-group.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#83236 [devtools] Use `useEffectEvent` instead of ignoring exhaustive deps
  packages/next/next-devtools.webpack-config.js
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/resize/resize-provider.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/utils.ts
  packages/next/src/next-devtools/dev-overlay/menu/dev-overlay-menu.tsx
Labels: type: next, created-by: Next.js team, tests

#82748 Use React's debug channel to transport debug info via WebSocket connection
  packages/next/errors.json
  packages/next/src/build/templates/app-page.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/client/components/segment-cache-impl/cache.ts
  packages/next/src/client/dev/debug-channel.ts
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/app/web-socket.ts
  packages/next/src/client/dev/hot-reloader/pages/hot-reloader-pages.ts
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/debug-channel.ts
  packages/next/src/server/dev/hot-middleware.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/messages.ts
  packages/next/src/server/lib/dev-bundler-service.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/router-server-context.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  packages/next/types/$$compiled.internal.d.ts
  test/development/acceptance-app/hydration-error.test.ts
Labels: type: next, created-by: Next.js team, tests

#83500 fix: route handlers should validate invalid exports
  crates/next-custom-transforms/src/transforms/react_server_components.rs
  test/e2e/app-dir/cache-components-dynamic-imports/bundled/app/not-instrumented/edge-route-handler/messages.ts
  test/e2e/app-dir/cache-components-dynamic-imports/bundled/app/not-instrumented/edge-route-handler/route.ts
  test/e2e/app-dir/cache-components-dynamic-imports/cache-components-dynamic-imports.test.ts
  test/e2e/app-dir/cache-components-route-handler-errors/app/layout.tsx
  test/e2e/app-dir/cache-components-route-handler-errors/app/route-with-dynamic/route.ts
  test/e2e/app-dir/cache-components-route-handler-errors/app/route-with-fetchcache/route.ts
  test/e2e/app-dir/cache-components-route-handler-errors/app/route-with-revalidate/route.ts
  test/e2e/app-dir/cache-components-route-handler-errors/cache-components-route-handler-errors.test.ts
  test/e2e/app-dir/cache-components-route-handler-errors/next.config.js
  test/experimental-tests-manifest.json
Labels: created-by: Next.js team, Turbopack, tests

#83482 Fix/msw-issue-68521
  examples/with-msw/mocks/browser.ts
  examples/with-msw/mocks/handlers.ts
  examples/with-msw/package.json
Labels: examples

#83552 Disable React debug channel by default
  packages/next/src/server/config-shared.ts
  test/development/acceptance-app/hydration-error.test.ts
Labels: type: next, created-by: Next.js team, tests

#83559 metadata: align turbopack loader with js loader
  crates/next-core/src/next_app/metadata/route.rs
Labels: created-by: Next.js team, Turbopack

#83469 Docs: Add authentication note for external/internal image sources
  docs/01-app/03-api-reference/02-components/image.mdx
Labels: Documentation

#83589 Enable more tests for Turbopack
  test/e2e/app-dir/scss/invalid-module-document/invalid-module-document.test.ts
  test/integration/css/test/valid-invalid-css.test.js
Labels: created-by: Turbopack team, tests

#83600 Enable more tests for Turbopack, II
  test/development/basic/barrel-optimization/barrel-optimization-mui.test.ts
  test/development/basic/barrel-optimization/barrel-optimization.test.ts
  test/development/basic/styled-components-disabled.test.ts
  test/e2e/app-dir/use-cache/use-cache.test.ts
  test/e2e/socket-io/app/page.js
  test/e2e/socket-io/index.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-node-middleware.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
Labels: created-by: Turbopack team, tests

#83591 Tests: Move build-indicator test to test/development
  test/e2e/build-indicator/app/app/a/page.js
  test/e2e/build-indicator/app/app/b/page.js
  test/e2e/build-indicator/app/app/page.js
  test/e2e/build-indicator/app/layout.js
  test/e2e/build-indicator/pages/a.js
  test/e2e/build-indicator/pages/b.js
  test/e2e/build-indicator/pages/index.js
  test/e2e/build-indicator/test/index.test.ts
  test/integration/build-indicator/test/index.test.js
Labels: created-by: Turbopack team, tests

#83605 examples(with-supabase): fix import statement in tutorial
  examples/with-supabase/components/tutorial/fetch-data-steps.tsx
Labels: examples

#83602 Exit `next dev` with a non-zero code when next.config.js is invalid
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/lib/start-server.ts
  test/e2e/build-indicator/test/index.test.ts
  test/lib/next-modes/next-dev.ts
Labels: type: next, created-by: Next.js team, tests

#83555 Development: Only load getStaticInfoIncludingLayouts when it's needed
  packages/next/src/build/entries.ts
  packages/next/src/build/get-static-info-including-layouts.ts
  packages/next/src/build/index.ts
  packages/next/src/build/sort-by-page-exts.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Turbopack team

#83462 docs: rewrite+usePathname+prerender hydration error mitigation
  docs/01-app/03-api-reference/04-functions/use-pathname.mdx
Labels: Documentation, created-by: Next.js DevEx team

#83610 Fix logic bug in sortByPageExts
  packages/next/src/build/sort-by-page-exts.ts
Labels: type: next, created-by: Turbopack team

#83619 Development: Don't load Babel when it's not used
  packages/next/src/build/index.ts
  packages/next/src/export/index.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/telemetry/events/version.ts
  test/integration/telemetry/test/index.test.js
Labels: type: next, created-by: Turbopack team, tests

#83621 Development: Don't load hot-reloader-webpack when using Turbopack
  packages/next/src/server/dev/hot-reloader-shared-utils.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
Labels: type: next, created-by: Turbopack team

#83623 Development: Only require loadJsConfig when using webpack
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Turbopack team

#83590 Ignore unhandledRejection events for promises that reject after a React render aborts
  packages/next/src/server/node-environment-extensions/unhandled-rejection.tsx
  packages/next/src/server/node-environment.ts
  test/e2e/app-dir/cache-components-errors/cache-components-errors.test.ts
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/unhandled-rejection/layout.tsx
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/unhandled-rejection/page.tsx
  test/e2e/app-dir/cache-components-errors/utils.ts
  test/e2e/app-dir/cache-components-request-apis/fixtures/reject-hanging-promises-dynamic/app/[slug]/page.tsx
  test/e2e/app-dir/cache-components-request-apis/fixtures/reject-hanging-promises-static/app/[slug]/page.tsx
Labels: type: next, created-by: Next.js team, tests

#83560 [metadata] change the metadata routes params to promises
  crates/next-core/src/next_app/metadata/route.rs
  packages/next/src/build/webpack/loaders/next-metadata-route-loader.ts
  test/e2e/app-dir/logging/app/dynamic/[slug]/icon.jsx
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/dynamic/[size]/icon.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/(group)/dynamic/[size]/opengraph-image.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/gsp/icon.tsx
  test/e2e/app-dir/metadata-dynamic-routes/app/gsp/sitemap.ts
  test/e2e/app-dir/use-cache-metadata-route-handler/app/products/sitemap.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#83796 docs(metadata): align default function export name with file name
  docs/01-app/01-getting-started/14-metadata-and-og-images.mdx
Labels: Documentation, CI approved

#83258 [turbopack] Remove the `should_track_children` parameter of the turbo tasks backend
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/invalidate.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_collectible.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
Labels: Turbopack, created-by: Turbopack team

#83763 [Breaking] Flat config as default in `@next/eslint-plugin-next`
  packages/eslint-config-next/core-web-vitals.js
  packages/eslint-config-next/index.js
  packages/eslint-plugin-next/package.json
  packages/eslint-plugin-next/src/index.ts
  packages/eslint-plugin-next/src/rules/google-font-display.ts
  packages/eslint-plugin-next/src/rules/google-font-preconnect.ts
  packages/eslint-plugin-next/src/rules/inline-script-id.ts
  packages/eslint-plugin-next/src/rules/next-script-for-ga.ts
  packages/eslint-plugin-next/src/rules/no-assign-module-variable.ts
  packages/eslint-plugin-next/src/rules/no-async-client-component.ts
  packages/eslint-plugin-next/src/rules/no-before-interactive-script-outside-document.ts
  packages/eslint-plugin-next/src/rules/no-css-tags.ts
  packages/eslint-plugin-next/src/rules/no-document-import-in-page.ts
  packages/eslint-plugin-next/src/rules/no-duplicate-head.ts
  packages/eslint-plugin-next/src/rules/no-head-element.ts
  packages/eslint-plugin-next/src/rules/no-head-import-in-document.ts
  packages/eslint-plugin-next/src/rules/no-html-link-for-pages.ts
  packages/eslint-plugin-next/src/rules/no-img-element.ts
  packages/eslint-plugin-next/src/rules/no-page-custom-font.ts
  packages/eslint-plugin-next/src/rules/no-script-component-in-head.ts
  packages/eslint-plugin-next/src/rules/no-styled-jsx-in-document.ts
  packages/eslint-plugin-next/src/rules/no-sync-scripts.ts
  packages/eslint-plugin-next/src/rules/no-title-in-document-head.ts
  packages/eslint-plugin-next/src/rules/no-typos.ts
  packages/eslint-plugin-next/src/rules/no-unwanted-polyfillio.ts
  packages/eslint-plugin-next/tsconfig.json
  packages/next/src/compiled/babel-packages/packages-bundle.js
  pnpm-lock.yaml
  test/integration/eslint/plugin-core-web-vitals-config/.eslintrc
  test/integration/eslint/plugin-recommended-config/.eslintrc
  test/unit/eslint-plugin-next/index.test.ts
Labels: type: next, created-by: Next.js team, Font (next/font), tests

#83803 [backport] Turbopack: don't match dynamic pattern for node_modules packages
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-core/tests/.gitignore
  turbopack/crates/turbopack-core/tests/pattern/read_matches/index.js
  turbopack/crates/turbopack-core/tests/pattern/read_matches/node_modules/pkg/LICENSE
  turbopack/crates/turbopack-core/tests/pattern/read_matches/node_modules/pkg/README.md
  turbopack/crates/turbopack-core/tests/pattern/read_matches/node_modules/pkg/index.js
  turbopack/crates/turbopack-core/tests/pattern/read_matches/node_modules/pkg/package.json
  turbopack/crates/turbopack-core/tests/pattern/read_matches/sub/foo-a.js
  turbopack/crates/turbopack-core/tests/pattern/read_matches/sub/foo-a.js.map
  turbopack/crates/turbopack-core/tests/pattern/read_matches/sub/foo-b.js
  turbopack/crates/turbopack-ecmascript/src/references/node.rs
  turbopack/crates/turbopack-ecmascript/src/references/raw.rs
Labels: Turbopack, created-by: Turbopack team

#83801 Turbopack: chunking debugging utilities
  turbopack/crates/turbopack-core/src/module_graph/chunk_group_info.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
Labels: Turbopack, created-by: Turbopack team

#83810 Turbopack: validate CSS without computing all paths
  crates/next-api/src/module_graph.rs
Labels: Turbopack, created-by: Turbopack team

#83828 [test] Disable flaky navigation test
  test/e2e/app-dir/back-forward-cache/back-forward-cache.test.ts
Labels: created-by: Next.js team, tests

#83638 chore: Ensure Import Trace starts in a newline
  packages/next/src/shared/lib/turbopack/utils.ts
Labels: type: next, created-by: Next.js DevEx team

#83743 Allow headers, rewrites and redirects to be defined as sync functions
  packages/next/src/server/config-shared.ts
Labels: type: next

#83858 fix: isRevalidate -> isStaticGeneration in fetch cache / unstable cache
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
Labels: type: next, created-by: Next.js team

#83852 Exclude `traceparent` and `tracestate` headers from fetch deduplication cache keys
  packages/next/src/server/lib/dedupe-fetch.test.ts
  packages/next/src/server/lib/dedupe-fetch.ts
  test/e2e/app-dir/app-fetch-deduping/app-fetch-deduping.test.ts
  test/e2e/app-dir/app-fetch-deduping/app/trace-headers/page.js
Labels: type: next, CI approved, tests

#83868 Fix validateTurboNextConfig isDev field
  packages/next/src/server/lib/start-server.ts
Labels: type: next, created-by: Next.js team

#83860 [backport] CI: use KV for test timing data
  .github/workflows/build_reusable.yml
  .github/workflows/pull_request_stats.yml
  package.json
  pnpm-lock.yaml
  run-tests.js
  turbo.json
Labels: created-by: Turbopack team

#83857 Development: Clarify TypescriptStatus in watcher
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Turbopack team

#83883 Turbopack: don't recompute empty parse results
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
Labels: Turbopack, created-by: Turbopack team

#83882 Turbopack: delete broken hmr benchmark
  .github/workflows/turbopack-benchmark.yml
  Cargo.lock
  Cargo.toml
  crates/next-api/Cargo.toml
  crates/next-api/benches/hmr.rs
Labels: Turbopack, created-by: Turbopack team

#83884 Turbopack: only generate error string in error case
  turbopack/crates/turbopack-core/src/module_graph/merged_modules.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batch.rs
Labels: Turbopack, created-by: Turbopack team

#83844 Turbopack: Change run once signature to avoid exposing TaskId
  crates/napi/src/next_api/project.rs
  turbopack/crates/turbo-tasks-backend/benches/scope_stress.rs
  turbopack/crates/turbo-tasks-backend/benches/stress.rs
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-dev-server/src/update/server.rs
  turbopack/crates/turbopack-nft/src/main.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack-tracing/benches/node_file_trace.rs
Labels: Turbopack, created-by: Turbopack team

#83890 Turbopack: ModuleGraphRef
  crates/next-api/src/webpack_stats.rs
  turbopack/crates/turbopack-core/src/module_graph/chunk_group_info.rs
  turbopack/crates/turbopack-core/src/module_graph/export_usage.rs
  turbopack/crates/turbopack-core/src/module_graph/merged_modules.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
  turbopack/crates/turbopack/src/global_module_ids.rs
Labels: Turbopack, created-by: Turbopack team

#83561 docs: add `next.config.ts` Node.js native resolver
  docs/01-app/03-api-reference/05-config/02-typescript.mdx
Labels: created-by: Next.js team, Documentation

#83847 Turbopack: add turbo_tasks::run to run in turbo tasks scope without a task
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/tests/all_in_one.rs
  turbopack/crates/turbo-tasks-backend/tests/basic.rs
  turbopack/crates/turbo-tasks-backend/tests/bug.rs
  turbopack/crates/turbo-tasks-backend/tests/bug2.rs
  turbopack/crates/turbo-tasks-backend/tests/call_types.rs
  turbopack/crates/turbo-tasks-backend/tests/collectibles.rs
  turbopack/crates/turbo-tasks-backend/tests/debug.rs
  turbopack/crates/turbo-tasks-backend/tests/detached.rs
  turbopack/crates/turbo-tasks-backend/tests/dirty_in_progress.rs
  turbopack/crates/turbo-tasks-backend/tests/emptied_cells.rs
  turbopack/crates/turbo-tasks-backend/tests/filter_unused_args.rs
  turbopack/crates/turbo-tasks-backend/tests/immutable.rs
  turbopack/crates/turbo-tasks-backend/tests/local_tasks.rs
  turbopack/crates/turbo-tasks-backend/tests/panics.rs
  turbopack/crates/turbo-tasks-backend/tests/performance.rs
  turbopack/crates/turbo-tasks-backend/tests/random_change.rs
  turbopack/crates/turbo-tasks-backend/tests/read_ref_cell.rs
  turbopack/crates/turbo-tasks-backend/tests/recompute.rs
  turbopack/crates/turbo-tasks-backend/tests/recompute_collectibles.rs
  turbopack/crates/turbo-tasks-backend/tests/resolved_vc.rs
  turbopack/crates/turbo-tasks-backend/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks-backend/tests/trace_transient.rs
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell_mode.rs
  turbopack/crates/turbo-tasks-backend/tests/transient_collectible.rs
  turbopack/crates/turbo-tasks-fetch/tests/fetch.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/task_input.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/value_debug.rs
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks-testing/src/run.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: Turbopack, created-by: Turbopack team

#83908 Turbopack: add traces to merged module computation
  turbopack/crates/turbopack-core/src/module_graph/merged_modules.rs
Labels: Turbopack, created-by: Turbopack team

#83914 Add native ts resolver docs link to transpile-config
  packages/next/src/build/next-config-ts/transpile-config.ts
Labels: type: next, created-by: Next.js team

#83911 OTel: use `srcPage` for templates when `next.route` is unavailable
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/templates/edge-ssr-app.ts
  packages/next/src/build/templates/edge-ssr.ts
  packages/next/src/build/templates/pages-api.ts
Labels: type: next, created-by: Next.js team

#83468 Turbopack: RuleCondition support resourceQuery contains
  turbopack/crates/turbopack/src/module_options/rule_condition.rs
Labels: Turbopack

#83938 Turbopack: extract parse_source_map_comment
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/util.rs
  turbopack/crates/turbopack-ecmascript/src/source_map.rs
Labels: Turbopack, created-by: Turbopack team

#83942 Turbopack: enable nodelay for node.js pool socket
  turbopack/crates/turbopack-node/js/src/ipc/index.ts
  turbopack/crates/turbopack-node/src/pool.rs
Labels: Turbopack, created-by: Turbopack team

#82811 feat: next-rspack-binding
  .github/workflows/release-next-rspack.yml
  Cargo.lock
  Cargo.toml
  crates/next-core/src/next_server/resolve.rs
  crates/next-taskless/src/constants.rs
  crates/next-taskless/src/lib.rs
  crates/next-taskless/src/patterns.rs
  rspack/.gitignore
  rspack/.rustfmt.toml
  rspack/Cargo.lock
  rspack/Cargo.toml
  rspack/crates/binding/Cargo.toml
  rspack/crates/binding/build.rs
  rspack/crates/binding/index.d.ts
  rspack/crates/binding/index.js
  rspack/crates/binding/package.json
  rspack/crates/binding/pnpm-lock.yaml
  rspack/crates/binding/src/config_shared.rs
  rspack/crates/binding/src/handle_externals.rs
  rspack/crates/binding/src/lib.rs
  rspack/crates/binding/src/next_externals_plugin.rs
  rspack/crates/binding/tsconfig.json
  rspack/lib/index.d.ts
  rspack/lib/index.js
  rspack/package.json
  rspack/pnpm-lock.yaml
  rspack/pnpm-workspace.yaml
  rspack/rust-toolchain.toml
  turbopack/crates/turbopack-resolve/Cargo.toml
  turbopack/crates/turbopack-resolve/src/resolve.rs
Labels: Turbopack, Rspack

#83955 Turbopack: allow to read State from turbo_tasks::run
  turbopack/crates/turbo-tasks-backend/tests/read_ref_cell.rs
  turbopack/crates/turbo-tasks-backend/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks/src/invalidation.rs
  turbopack/crates/turbo-tasks/src/state.rs
Labels: Turbopack, created-by: Turbopack team

#83967 Remove force writing **/*.mts to tsconfig
  packages/next/src/lib/typescript/writeConfigurationDefaults.test.ts
  packages/next/src/lib/typescript/writeConfigurationDefaults.ts
Labels: type: next, created-by: Next.js team

#83968 Add Descope to Auth libraries list
  docs/01-app/02-guides/authentication.mdx
Labels: Documentation

#83522 [turbopack] Track task durations in the task_statistics file
  turbopack/crates/turbo-tasks-backend/benches/overhead.rs
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/tests/task_statistics.rs
  turbopack/crates/turbo-tasks/src/task_statistics.rs
  turbopack/scripts/analyze_cache_effectiveness.py
Labels: Turbopack, created-by: Turbopack team

#83920 [turbopack] Remove the `issue_path` feature and related functionality
  crates/napi/src/next_api/utils.rs
  crates/next-api/src/operation.rs
  crates/next-api/src/project.rs
  turbopack/crates/turbopack-cli-utils/src/issue.rs
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-dev-server/src/source/issue_context.rs
  turbopack/crates/turbopack-dev-server/src/update/stream.rs
  turbopack/crates/turbopack-mdx/src/lib.rs
  turbopack/crates/turbopack-node/src/transforms/postcss.rs
  turbopack/crates/turbopack-tests/Cargo.toml
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/async-modules/export-all/issues/unexpected export __star__-3209af.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/comptime/issues/__l___Module not found____c__ Can't resolve __c_'.-d4ca9c.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/error/issues/Reading source code for parsing failed-52e288.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (CommonJs) is not matching-c6861c.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/node-default-import/issues/Specified module format (EcmaScript Modules) is no-e17be3.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/cycle/reexport-cycle/issues/__l_Export __c_a__ is a circular re-export__-12a6d0.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/cycle/reexport-cycle/issues/__l_Export __c_a__ is a circular re-export__-16b96d.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export-parse-error/issues/Parsing ecmascript source code failed-988b73.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export/issues/__l_Export __c_Abc__ doesn't exist in target modul-f5ab22.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/issues/Unknown module type-122647.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic-unrelated/issues/Unknown module type-5285e9.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/dynamic/issues/__l___Module not found____c__ Can't resolve __c_('-f15fd2.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/scope-hoisting/reexport-dynamic-cjs/issues/unexpected export __star__-80aafa.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/scope-hoisting/reexport-dynamic-cjs/issues/unexpected export __star__-ee0bc3.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/reexport-side-effects/issues/unexpected export __star__-c967e2.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/star-reexports-side-effect-free/issues/unexpected export __star__-c967e2.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/star-reexports-side-effects/issues/unexpected export __star__-c967e2.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/tree-shaking/reexport-side-effects/issues/unexpected export __star__-c967e2.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/tree-shaking/star-reexports-side-effect-free/issues/unexpected export __star__-c967e2.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/tree-shaking/star-reexports-side-effects/issues/unexpected export __star__-c967e2.txt
  turbopack/crates/turbopack-tests/tests/execution/webpack/scope-hoisting/reexport-star-external-cjs/issues/unexpected export __star__-d22e31.txt
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/typeof/issues/Specified module format (EcmaScript Modules) is no-5f6ee7.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1001__ import(FreeVar(Math)[__quo__ra-a7699c.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1002__ require(FreeVar(Math)[__quo__r-168110.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1004__ fs.readFileSync(FreeVar(Math)[-196e4c.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1004__ fs.readFileSync(FreeVar(Math)[-c9c4b4.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(FreeVa-eccbda.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(__-1fa6a7.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1005__ child_process.spawnSync(__quo_-0e76dd.txt
  turbopack/crates/turbopack-tests/tests/snapshot/dynamic-request/very-dynamic/issues/__l___lint TP1201__ new URL(FreeVar(Math)[__quo__r-3b9a34.txt
  turbopack/crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/issues/unexpected export __star__-e716b8.txt
  turbopack/crates/turbopack-tests/tests/snapshot/export-alls/cjs-script/issues/unexpected export __star__-4be015.txt
  turbopack/crates/turbopack-tests/tests/snapshot/imports/duplicate-binding/issues/Ecmascript file had an error-38826a.txt
  turbopack/crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-b0a8b6.txt
  turbopack/crates/turbopack-tests/tests/snapshot/imports/resolve_error_cjs/issues/__l___Module not found____c__ Can't resolve __c_'d-dc2476.txt
  turbopack/crates/turbopack-tests/tests/snapshot/imports/resolve_error_esm/issues/__l___Module not found____c__ Can't resolve __c_'d-f5a264.txt
Labels: Turbopack, created-by: Turbopack team

#83848 Turbopack: use turbo_tasks::run in next.js to avoid task memory leak
  crates/napi/src/next_api/endpoint.rs
  crates/napi/src/next_api/project.rs
  crates/next-build-test/src/lib.rs
  turbopack/crates/turbo-tasks-backend/benches/overhead.rs
  turbopack/crates/turbo-tasks-backend/benches/scope_stress.rs
  turbopack/crates/turbo-tasks-backend/benches/stress.rs
  turbopack/crates/turbo-tasks-backend/fuzz/src/graph.rs
Labels: Turbopack, created-by: Turbopack team

#83961 feat: Isolate dev build from prod
  packages/next/src/build/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  test/development/app-dir/isolated-dev-build/app/layout.tsx
  test/development/app-dir/isolated-dev-build/app/page.tsx
  test/development/app-dir/isolated-dev-build/isolated-dev-build.test.ts
  test/development/app-dir/isolated-dev-build/next.config.js
Labels: type: next, created-by: Next.js team, tests

#83815 Remove JS size reporting from next build
  crates/next-api/src/app.rs
  crates/next-build-test/nextConfig.json
  crates/next-core/src/next_manifests/mod.rs
  packages/next/src/build/handle-entrypoints.ts
  packages/next/src/build/index.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/app-build-manifest-plugin.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/load-components.ts
  packages/next/src/shared/lib/constants.ts
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  test/e2e/app-dir/app-alias/app-alias.test.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/build-size/app/foo/page.tsx
  test/e2e/app-dir/build-size/app/layout.tsx
  test/e2e/app-dir/build-size/app/page.tsx
  test/e2e/app-dir/build-size/index.test.ts
  test/e2e/app-dir/build-size/styles/index.module.css
  test/e2e/app-dir/cache-components-errors/cache-components-errors.module-scope.test.ts
  test/e2e/app-dir/cache-components-errors/cache-components-errors.test.ts
  test/integration/build-output/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/fallback-modules/test/index.test.js
  test/production/app-dir/actions-tree-shaking/client-actions-tree-shaking/client-actions-tree-shaking.test.ts
  test/production/app-dir/build-output-tree-view/build-output-tree-view.test.ts
  test/production/app-dir/build-output/index.test.ts
  test/production/disable-fallback-polyfills/index.test.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#83849 Turbopack: add test case that checks memory leak
  test/development/basic/next-rs-api.test.ts
Labels: created-by: Turbopack team, tests

#83896 Turbopack: support `import ... with {type: "bytes"}`
  crates/next-core/src/next_client/transforms.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_server/transforms.rs
  crates/next-core/src/next_shared/transforms/mod.rs
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/turbopack-import-type-bytes/app/api/data.bin
  test/e2e/turbopack-import-type-bytes/app/api/route.js
  test/e2e/turbopack-import-type-bytes/index.test.ts
  test/e2e/turbopack-import-type-bytes/next.config.ts
  test/e2e/turbopack-loader-config/index.test.ts
  turbopack/crates/turbopack-core/src/reference_type.rs
  turbopack/crates/turbopack-ecmascript/src/inlined_bytes_module.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/module_rule.rs
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#83974 Turbopack: read project strongly consistent in project_update
  crates/next-api/src/project.rs
Labels: Turbopack, created-by: Turbopack team

#83736 Turbopack: less eager manifest generation
  crates/next-api/src/app.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/next_manifests/mod.rs
Labels: Turbopack, created-by: Turbopack team

#83975 Turbopack: "connect" tasks in turbo_tasks::run too
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: Turbopack, created-by: Turbopack team

#83746 [Turbopack] Fix AST traversal for `this` in function default parameters
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/this-in-default-params/input/index.js
Labels: Turbopack, CI approved

#84024 fix: worker logs should still support color
  packages/next/src/lib/worker.test.ts
  packages/next/src/lib/worker.ts
Labels: type: next, created-by: Next.js team

#82802 [turbopack] Set `liveness` of exports based on assignment analysis
  test/e2e/app-dir/cache-components-errors/cache-components-errors.test.ts
  test/production/app-dir/build-output-prerender/build-output-prerender.test.ts
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/live/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/reexport-with-locals/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/reexport-with-locals/input/node_modules/lib/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/reexport-with-locals/output/bf321_tests_snapshot_intermediate-tree-shake_reexport-with-locals_input_328b13f8._.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/reexport-with-locals/output/bf321_tests_snapshot_intermediate-tree-shake_reexport-with-locals_input_328b13f8._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/output/bf321_tests_snapshot_intermediate-tree-shake_tree-shake-test-1_input_c88ec7da._.js
Labels: Turbopack, created-by: Turbopack team, tests

#84053 Turbopack: trace all state changes
  turbopack/crates/turbo-tasks/src/state.rs
Labels: Turbopack, created-by: Turbopack team

#84065 docs: We have dropped the CORS example linked
  docs/01-app/03-api-reference/03-file-conventions/route.mdx
Labels: Documentation, created-by: Next.js DevEx team

#84074 Turbopack: run tests with multiple threads
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
Labels: Turbopack, created-by: Turbopack team

#84079 [backport] Turbopack: flush Node.js worker IPC on error
  turbopack/crates/turbopack-node/js/src/ipc/index.ts
Labels: Turbopack, created-by: Turbopack team

#83990 Turbopack: error when importing Typescript in node_modules
  crates/next-core/src/next_client/transforms.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/next_server/transforms.rs
  test/e2e/app-dir/app-routes-client-component/node_modules/my-module/MyModuleClientComponent.js
  test/e2e/transpile-packages-typescript-foreign/app/layout.js
  test/e2e/transpile-packages-typescript-foreign/app/page.js
  test/e2e/transpile-packages-typescript-foreign/index.test.ts
  test/e2e/transpile-packages-typescript-foreign/pkg/cents.ts
  test/e2e/transpile-packages-typescript-foreign/pkg/index.ts
  test/e2e/transpile-packages-typescript-foreign/pkg/package.json
  turbopack/crates/turbopack-core/src/chunk/module_id_strategies.rs
  turbopack/crates/turbopack-core/src/issue/module.rs
  turbopack/crates/turbopack-nft/src/nft.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack-tracing/tests/node-file-trace.rs
  turbopack/crates/turbopack-tracing/tests/unit.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#83246 Turbopack: Document new advanced `turbopack.rule.*.condition` config options
  crates/next-core/src/next_shared/webpack_rules/mod.rs
  docs/01-app/03-api-reference/05-config/01-next-config-js/turbopack.mdx
Labels: Documentation, Turbopack, created-by: Turbopack team

#83904 Turbopack: parallelize scope hoisting computation
  turbopack/crates/turbopack-core/src/module_graph/merged_modules.rs
Labels: Turbopack, created-by: Turbopack team

#83683 Turbopack: mode to disable tracing
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_server/context.rs
  turbopack/crates/turbopack-ecmascript/benches/analyzer.rs
  turbopack/crates/turbopack-ecmascript/benches/references.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/external_module.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-nft/src/nft.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack-tracing/tests/node-file-trace.rs
  turbopack/crates/turbopack-tracing/tests/unit.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_options_context.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#83973 babel-loader: Fix a few issues with config caching
  packages/next/src/build/babel/loader/get-config.ts
Labels: type: next, created-by: Turbopack team, CI Bypass Graphite Optimization

#83502 Turbopack: Merge babel-loader and react-compiler configuration logic to avoid running babel twice
  crates/next-api/src/app.rs
  crates/next-core/src/next_build.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_shared/webpack_rules/babel.rs
  crates/next-core/src/next_shared/webpack_rules/mod.rs
  crates/next-core/src/next_shared/webpack_rules/sass.rs
  crates/next-core/src/util.rs
  packages/next/src/build/babel/loader/get-config.ts
  packages/next/src/build/babel/loader/types.d.ts
  packages/next/src/build/get-babel-loader-config.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, Turbopack, created-by: Turbopack team

#84002 Turbopack: Document automatic Babel config support
  docs/01-app/03-api-reference/05-config/01-next-config-js/turbopack.mdx
  docs/01-app/03-api-reference/08-turbopack.mdx
Labels: Documentation, created-by: Turbopack team

#84104 Fix layout for `ssgPageRoutes` in the file tree
  packages/next/src/build/utils.ts
  test/production/app-dir/build-output-tree-view/build-output-tree-view.test.ts
Labels: type: next, created-by: Turbopack team, tests

#84099 ci: Enable `experimental.isolatedDevBuild` for `test-experimental-dev`
  .github/workflows/build_and_test.yml
  packages/next/src/server/config-shared.ts
  test/development/app-dir/typed-env/typed-env-prod.test.ts
  test/development/app-dir/typed-env/typed-env.test.ts
  test/e2e/app-dir/css-server-chunks/css-server-chunks.test.ts
  test/e2e/app-dir/server-components-externals/index.test.ts
  test/e2e/app-dir/typed-routes/typed-links.test.ts
  test/e2e/app-dir/typed-routes/typed-routes.test.ts
  test/e2e/edge-can-use-wasm-files/index.test.ts
  test/e2e/edge-compiler-can-import-blob-assets/index.test.ts
  test/e2e/i18n-ignore-rewrite-source-locale/rewrites-with-basepath.test.ts
  test/e2e/i18n-ignore-rewrite-source-locale/rewrites.test.ts
  test/lib/next-modes/base.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#84062 [turbopack] Ensure React Compiler options are based dev vs prod
  packages/next/src/build/babel/loader/types.d.ts
  packages/next/src/build/get-babel-loader-config.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#84070 Enable anonymous function naming in React Compiler
  crates/next-core/src/next_shared/webpack_rules/babel.rs
  package.json
  packages/next/package.json
  packages/next/src/build/get-babel-loader-config.ts
  pnpm-lock.yaml
  test/e2e/react-compiler/app/function-naming/page.tsx
  test/e2e/react-compiler/app/page.tsx
  test/e2e/react-compiler/next.config.js
  test/e2e/react-compiler/react-compiler.test.ts
Labels: type: next, create-next-app, created-by: Next.js team, Documentation, Turbopack, tests

#84131 Fix double comma in build manifest
  packages/next/src/build/webpack/plugins/build-manifest-plugin-utils.ts
Labels: type: next, created-by: Turbopack team

#83686 script: improve release log generation
  scripts/generate-release-log.mjs
Labels: created-by: Next.js team

#84178 Turbopack: support more dynamic request with import map
  turbopack/crates/turbopack-core/src/resolve/alias_map.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-paths-dynamic/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/resolving/tsconfig-paths-dynamic/input/src/foo.ts
Labels: Turbopack, created-by: Turbopack team

#84188 [turbopack] defer a `value_to_string` operation until we need it
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/raw.rs
Labels: Turbopack, created-by: Turbopack team

#84158 fix(server): fix pages router resume router matching
  packages/next/errors.json
  packages/next/src/build/collect-build-traces.ts
  packages/next/src/build/index.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/render-server.ts
  packages/next/src/server/lib/trace/constants.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
  packages/next/src/server/request-meta.ts
  test/production/standalone-mode/required-server-files/app/@slot/[...catchAll]/loading.js
  test/production/standalone-mode/required-server-files/app/@slot/[...catchAll]/page.js
  test/production/standalone-mode/required-server-files/app/@slot/default.js
  test/production/standalone-mode/required-server-files/app/default.js
  test/production/standalone-mode/required-server-files/app/layout.js
  test/production/standalone-mode/required-server-files/app/postpone/isr/[slug]/page.js
  test/production/standalone-mode/required-server-files/cache-entry-handlers.js
  test/production/standalone-mode/required-server-files/ppr/app/not-found.js
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
Labels: type: next, created-by: Next.js team, tests

#84161 Feat: `get_errors` MCP endpoint
  .eslintignore
  .prettierignore
  packages/next/errors.json
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/pages/hot-reloader-pages.ts
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/next-devtools/dev-overlay.browser.tsx
  packages/next/src/server/dev/hot-middleware.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/src/server/mcp/get-mcp-middleware.ts
  packages/next/src/server/mcp/get-or-create-mcp-server.ts
  packages/next/src/server/mcp/tools/get-errors.ts
  packages/next/src/server/mcp/tools/get-project-path.ts
  packages/next/src/server/mcp/tools/utils/format-errors.ts
  packages/next/src/shared/lib/mcp-error-types.ts
  test/development/mcp-server/fixtures/default-template/app/build-error/page.tsx
  test/development/mcp-server/fixtures/default-template/app/page.tsx
  test/development/mcp-server/fixtures/default-template/app/runtime-error-2/page.tsx
  test/development/mcp-server/fixtures/default-template/app/runtime-error/page.tsx
  test/development/mcp-server/mcp-server-get-errors.test.ts
  test/development/mcp-server/mcp-server-get-project-path.test.ts
  test/development/mcp-server/mcp-server.test.ts
Labels: type: next, created-by: Next.js team, tests

#84172 Turbopack: Try to avoid block_in_place in scope
  turbopack/crates/turbo-tasks/src/scope.rs
Labels: Turbopack, created-by: Turbopack team

#84193 [turbopack] Remove some bitmap clones
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
Labels: Turbopack, created-by: Turbopack team

#84176 Add internal environment variable for enabling React Compiler
  packages/next/src/server/config.ts
  test/lib/next-modes/base.ts
Labels: type: next, created-by: Next.js team, tests

#84202 [devtools] Disable React's default Transition indicator
  packages/next/src/next-devtools/dev-overlay.browser.tsx
Labels: type: next, created-by: Next.js team

#84214 Turbopack: avoid panic on updating output when a task was cancelled
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
Labels: Turbopack, created-by: Turbopack team

#84233 docs: nav_title for long unbroken words
  docs/01-app/03-api-reference/05-config/01-next-config-js/browserDebugInfoInTerminal.mdx
  docs/01-app/03-api-reference/05-config/01-next-config-js/turbopackPersistentCaching.mdx
Labels: Documentation, created-by: Next.js DevEx team

#84208 Turbopack: Use `RawValue` for `mappings` inside `SourceMapJson`
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/source_map/utils.rs
Labels: Turbopack, created-by: Turbopack team

#84183 feat: capture logs into logging file during development
  packages/next/src/build/define-env.ts
  packages/next/src/lib/is-error.ts
  packages/next/src/next-devtools/userspace/app/forward-logs.ts
  packages/next/src/server/dev/browser-logs/file-logger.test.ts
  packages/next/src/server/dev/browser-logs/file-logger.ts
  packages/next/src/server/dev/browser-logs/receive-logs.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/node-environment-extensions/console-dev.tsx
  test/e2e/app-dir/log-file/.gitignore
  test/e2e/app-dir/log-file/app/client/page.tsx
  test/e2e/app-dir/log-file/app/layout.tsx
  test/e2e/app-dir/log-file/app/server/page.tsx
  test/e2e/app-dir/log-file/log-file.test.ts
  test/e2e/app-dir/log-file/next.config.js
  test/e2e/app-dir/log-file/pages/pages-router-page.tsx
  test/e2e/app-dir/log-file/tsconfig.json
Labels: type: next, created-by: Next.js team, tests

#84226 [mcp] expose logging
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/mcp/get-mcp-middleware.ts
  packages/next/src/server/mcp/get-or-create-mcp-server.ts
  packages/next/src/server/mcp/tools/get-logs.ts
  test/development/mcp-server/fixtures/log-file-app/.gitignore
  test/development/mcp-server/fixtures/log-file-app/app/client/page.tsx
  test/development/mcp-server/fixtures/log-file-app/app/layout.tsx
  test/development/mcp-server/fixtures/log-file-app/app/server/page.tsx
  test/development/mcp-server/fixtures/log-file-app/next.config.js
  test/development/mcp-server/fixtures/log-file-app/pages/pages-router-page.tsx
  test/development/mcp-server/fixtures/log-file-app/tsconfig.json
  test/development/mcp-server/mcp-server-get-logs.test.ts
Labels: type: next, created-by: Next.js team, tests

#84230 Move `config.turbopack.moduleIds` to `config.experimental.turbopackModuleIds`
  crates/next-core/src/next_config.rs
  docs/01-app/03-api-reference/08-turbopack.mdx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team, Documentation, Turbopack

#84240 [test] Make `Undefined default export` an e2e test suite
  test/development/acceptance-app/fixtures/undefined-default-export/app/(group)/specific-path/1/page.js
  test/development/acceptance-app/fixtures/undefined-default-export/app/(group)/specific-path/2/layout.js
  test/e2e/app-dir/undefined-default-export/app/(group)/specific-path/1/page.js
  test/e2e/app-dir/undefined-default-export/app/(group)/specific-path/2/layout.js
  test/e2e/app-dir/undefined-default-export/app/(group)/specific-path/2/page.js
  test/e2e/app-dir/undefined-default-export/app/layout.js
  test/e2e/app-dir/undefined-default-export/app/will-not-found/not-found.js
  test/e2e/app-dir/undefined-default-export/app/will-not-found/page.js
  test/e2e/app-dir/undefined-default-export/next.config.js
  test/e2e/app-dir/undefined-default-export/undefined-default-export.test.ts
Labels: created-by: Next.js team, tests

#84173 Turbopack: parallel connect children
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_children.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
Labels: Turbopack, created-by: Turbopack team

#84242 Show invalid default export errors during prerendering
  packages/next/src/server/app-render/create-component-tree.tsx
  test/e2e/app-dir/undefined-default-export/undefined-default-export.test.ts
Labels: type: next, created-by: Next.js team, tests

#84245 Turbopack: count turbo_tasks::run as foreground tasks to avoid being idle
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: Turbopack, created-by: Turbopack team

#84263 Turbopack: make tracing nicer
  crates/napi/src/next_api/endpoint.rs
  crates/napi/src/next_api/project.rs
  crates/next-api/src/app.rs
  crates/next-api/src/module_graph.rs
  crates/next-api/src/nft_json.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/paths.rs
  crates/next-api/src/project.rs
  crates/next-api/src/webpack_stats.rs
  crates/next-core/src/emit.rs
  crates/next-core/src/next_manifests/client_reference_manifest.rs
  turbopack/crates/turbo-persistence/src/compression.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-fs/src/watcher.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/style_production.rs
  turbopack/crates/turbopack-core/src/code_builder.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: Turbopack, created-by: Turbopack team

#84200 docs:Small improvement on the contribution guide for clarity
  docs/04-community/01-contribution-guide.mdx
Labels: Documentation

#84199 [turbopack] Simplify take_issues and peek issues
  crates/napi/src/next_api/utils.rs
  crates/next-api/src/operation.rs
  crates/next-api/src/project.rs
  turbopack/crates/turbo-tasks-auto-hash-map/src/map.rs
  turbopack/crates/turbo-tasks-auto-hash-map/src/set.rs
  turbopack/crates/turbo-tasks/src/task/task_input.rs
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-dev-server/src/update/stream.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
Labels: Turbopack, created-by: Turbopack team

#84154 fix: make sure caller exists in babel preset
  packages/next/src/build/babel/preset.ts
Labels: type: next

#84216 Add a --webpack flag and default --turbopack to true
  .github/workflows/build_and_test.yml
  bench/heavy-npm-deps/package.json
  bench/module-cost/package.json
  package.json
  packages/next-rspack/index.js
  packages/next/errors.json
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/lib/bundler.ts
  packages/next/src/lib/turbopack-warning.ts
  scripts/test-new-tests.mjs
  test/development/next-config-ts/turbo/index.test.ts
  test/e2e/config-turbopack/index.test.ts
Labels: type: next, created-by: Turbopack team, tests

#78262 fix: Update URL resolution logic to handle search parameters on root path /?foo=bar
  packages/next/src/lib/metadata/resolvers/resolve-url.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.ts
Labels: type: next

#84179 [Breaking] Remove deprecated sync access to Dynamic APIs
  errors/sync-dynamic-apis.mdx
  packages/next/errors.json
  packages/next/server.d.ts
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/client/request/params.browser.dev.ts
  packages/next/src/client/request/params.browser.prod.ts
  packages/next/src/client/request/search-params.browser.dev.ts
  packages/next/src/client/request/search-params.browser.prod.ts
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/request/utils.ts
  test/development/app-dir/async-request-warnings/app/request/cookies/page.tsx
  test/development/app-dir/async-request-warnings/app/request/draftMode/page.tsx
  test/development/app-dir/async-request-warnings/app/request/headers/page.tsx
  test/development/app-dir/async-request-warnings/async-request-warnings.test.ts
  test/development/app-dir/dynamic-error-trace/index.test.ts
  test/development/error-overlay/index.test.tsx
  test/e2e/app-dir/app/app/dashboard/deployments/[id]/page.js
  test/e2e/app-dir/cache-components-errors/cache-components-errors.test.ts
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/sync-client-search/page.tsx
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/sync-cookies-runtime/page.tsx
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/sync-cookies/page.tsx
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/sync-draft-mode/page.tsx
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/sync-headers-runtime/page.tsx
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/sync-headers/page.tsx
  test/e2e/app-dir/cache-components-errors/fixtures/default/app/sync-server-search/page.tsx
  test/e2e/app-dir/cache-components/app/cookies/exercise/components.tsx
  test/e2e/app-dir/dynamic-data/dynamic-data.test.ts
  test/e2e/app-dir/next-after-app-api-usage/index.test.ts
  test/e2e/app-dir/ppr-full/components/dynamic.jsx
  test/e2e/app-dir/use-cache-search-params/use-cache-search-params.test.ts
  test/e2e/app-dir/use-cache/use-cache.test.ts
  test/production/app-dir/build-output/index.test.ts
  test/production/app-dir/symbolic-file-links/somewhere-else/src/i18n.ts
  test/production/standalone-mode/required-server-files/app/rewrite/[slug]/page.js
  test/production/standalone-mode/required-server-files/app/search/[key]/page.jsx
Labels: type: next, created-by: Next.js team, Documentation, tests

#84261 Turbopack: only write merged manifests when they have been changed
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
Labels: type: next, created-by: Turbopack team

#84348 Revert "Add a --webpack flag and default --turbopack to true (#84216)"
  .github/workflows/build_and_test.yml
  bench/heavy-npm-deps/package.json
  bench/module-cost/package.json
  package.json
  packages/next-rspack/index.js
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/lib/bundler.ts
  packages/next/src/lib/turbopack-warning.ts
  scripts/test-new-tests.mjs
  test/development/next-config-ts/turbo/index.test.ts
  test/e2e/config-turbopack/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#84220 Mark React Compiler integration as stable
  crates/next-core/src/next_config.rs
  docs/01-app/03-api-reference/05-config/01-next-config-js/reactCompiler.mdx
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  packages/next/src/telemetry/events/version.ts
  test/e2e/react-compiler/next.config.js
  test/e2e/react-compiler/react-compiler.test.ts
  test/integration/telemetry/next.config.reactCompiler-base
  test/integration/telemetry/next.config.reactCompiler-options
Labels: type: next, created-by: Next.js team, Documentation, Turbopack, tests

#84354 Turbopack: only replace edge dynamic calls in dev
  crates/next-core/src/next_server/transforms.rs
  crates/next-custom-transforms/src/transforms/middleware_dynamic.rs
Labels: Turbopack, created-by: Turbopack team

#84318 [turbopack] Remove a bunch of dead code from the source map implementation
  crates/napi/src/next_api/project.rs
  turbopack/crates/turbopack-core/src/source_map/mod.rs
  turbopack/crates/turbopack-node/src/source_map/mod.rs
  turbopack/crates/turbopack-node/src/source_map/trace.rs
Labels: Turbopack, created-by: Turbopack team

#84277 Turbopack: remove canary version check for turbopackPersistentCachingForDev
  packages/next/src/server/config.test.ts
  packages/next/src/server/config.ts
Labels: type: next, created-by: Turbopack team

#84265 docs: Type helpers don't need to be imported
  docs/01-app/03-api-reference/03-file-conventions/layout.mdx
  docs/01-app/03-api-reference/03-file-conventions/page.mdx
  docs/01-app/03-api-reference/03-file-conventions/route.mdx
Labels: Documentation, created-by: Next.js DevEx team

#84351 Revert "Revert "Add a --webpack flag and default --turbopack to true (#84216)""
  .github/workflows/build_and_test.yml
  .github/workflows/pull_request_stats.yml
  .github/workflows/test_e2e_deploy_release.yml
  bench/heavy-npm-deps/package.json
  bench/module-cost/package.json
  package.json
  packages/next-rspack/index.js
  packages/next/src/bin/next.ts
  packages/next/src/build/index.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/lib/bundler.ts
  packages/next/src/lib/turbopack-warning.ts
  packages/next/src/server/next.ts
  scripts/test-new-tests.mjs
  test/development/next-config-ts/turbo/index.test.ts
  test/e2e/config-turbopack/index.test.ts
Labels: type: next, created-by: Turbopack team, tests

#83823 Remove references to size metrics in next build from our docs
  docs/01-app/03-api-reference/05-config/01-next-config-js/devIndicators.mdx
  docs/01-app/03-api-reference/06-cli/next.mdx
Labels: Documentation, created-by: Turbopack team
