Repository vercel/next.js, pull requests merged in 2025-02, with the labels that each got.

#75600 Fix corepack keys
  .devcontainer/Dockerfile
  .github/actions/next-stats-action/Dockerfile
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  .github/workflows/code_freeze.yml
  .github/workflows/issue_wrong_template.yml
  .github/workflows/popular.yml
  .github/workflows/rspack-update-tests-manifest.yml
  .github/workflows/setup-nextjs-build.yml
  .github/workflows/test_e2e_deploy_release.yml
  .github/workflows/test_examples.yml
  .github/workflows/triage_with_ai.yml
  .github/workflows/trigger_release.yml
  .github/workflows/turbopack-update-tests-manifest.yml
  .github/workflows/turbopack-upload-tests-manifest.yml
  .github/workflows/update_fonts_data.yml
  .github/workflows/update_react.yml
Labels: created-by: Next.js team, Font (next/font)

#75599 fix rustflags for musl targets
  .cargo/config.toml
  .github/workflows/build_and_deploy.yml
Labels: created-by: Turbopack team

#75602 Fix rewrite-headers test
  test/e2e/app-dir/rewrite-headers/rewrite-headers.test.ts
Labels: created-by: Next.js team, tests

#75429 Turbopack CI: Update test results artifact
  .github/workflows/turbopack-nextjs-dev-integration-tests.yml
  test/build-turbopack-dev-tests-manifest.js
Labels: created-by: Next.js team, tests

#75031 Add package.json script for building turbopack-cli
  package.json
Labels: created-by: Next.js team

#75481 [Turbopack] update event_listener to fix hanging bug
  Cargo.lock
  turbopack/crates/turbo-tasks/Cargo.toml
Labels: created-by: Turbopack team

#75436 [Turbopack] allow to manually mark tasks as root
  crates/next-api/src/project.rs
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: type: next, create-next-app, Documentation, Turbopack, created-by: Turbopack team, tests

#75510 Turbopack: add dedicated TracedAsset
  turbopack/crates/turbopack-core/src/chunk/chunk_group.rs
  turbopack/crates/turbopack-core/src/lib.rs
  turbopack/crates/turbopack-core/src/rebase.rs
  turbopack/crates/turbopack-core/src/traced_asset.rs
Labels: created-by: Turbopack team

#75611 Turbopack: generate shorter variable idents
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/async_module.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/binding.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/chunk_item.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
Labels: created-by: Turbopack team

#75243 [Turbopack] disable dependency tracking when running build without persistent caching
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/utils.rs
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/types.ts
  packages/next/src/build/turbopack-build/impl.ts
  turbopack/crates/turbopack-cli/src/build/mod.rs
Labels: type: next, created-by: Turbopack team

#75612 Update test-junit-report path
  .github/workflows/rspack-nextjs-build-integration-tests.yml
Labels: created-by: Next.js team

#75544 [Turbopack] add more options for production chunking
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/production.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
Labels: Turbopack, created-by: Turbopack team

#75608 Turbopack: Skip Traced chunking type in module graph
  crates/next-core/src/next_client_reference/visit_client_reference.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
Labels: Turbopack, created-by: Turbopack team

#75584 fix(turbo-tasks): Fix building with --features=turbo-tasks/hanging_detection
  turbopack/crates/turbo-tasks/src/event.rs
Labels: created-by: Turbopack team

#75535 Turbopack: Disable react_refresh code in production
  crates/next-core/src/transform_options.rs
Labels: created-by: Next.js team, Turbopack

#75509 chore: remove global-error in hello-world example
  test/e2e/app-dir/hello-world/app/global-error.tsx
Labels: created-by: Next.js team, tests

#75603 Fix rustflags in *-musl builds
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#75614 Fix rustflags in *-musl builds
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#75500 [DevOverlay] fix total error count
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/use-error-hook.ts
Labels: type: next, created-by: Next.js team

#75582 fix: incoming requests should use plural
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/log-requests.test.ts
  packages/next/src/server/dev/log-requests.ts
  test/development/app-dir/logging-incoming-request/logging-incoming-request-false.test.ts
  test/development/app-dir/logging-incoming-request/next.config.js
Labels: type: next, created-by: Next.js team, tests

#75620 Bring back rust bindings path
  .github/workflows/rspack-nextjs-build-integration-tests.yml
  .github/workflows/rspack-nextjs-dev-integration-tests.yml
Labels: created-by: Next.js team

#75357 Turbopack: short module ids in cli
  turbopack/crates/turbopack-cli/src/build/mod.rs
Labels: created-by: Turbopack team

#75618 Don't warn about Turbopack config if disabled
  packages/next/src/server/config.ts
Labels: type: next, created-by: Turbopack team

#75504 perf(turbo-rcstr): Fix the fast codepath for RcStr::into_owned()
  Cargo.lock
  turbopack/crates/turbo-rcstr/Cargo.toml
  turbopack/crates/turbo-rcstr/benches/mod.rs
  turbopack/crates/turbo-rcstr/src/lib.rs
Labels: created-by: Turbopack team

#75532 Unfork stack frame utils
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/call-stack-frame/call-stack-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/code-frame/code-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/call-stack/call-stack.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-floating-header/error-overlay-floating-header.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-layout/error-overlay-layout.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-pagination/error-overlay-pagination.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay/error-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/terminal/terminal.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/index.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/use-error-hook.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/helpers/get-error-by-type.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/helpers/stack-frame.ts
Labels: type: next, created-by: Next.js team

#75527 [use-cache] Exclude warmup render when dynamicIO is off
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/use-cache/app/unhandled-promise-regression/layout.tsx
  test/e2e/app-dir/use-cache/app/unhandled-promise-regression/loading.tsx
  test/e2e/app-dir/use-cache/app/unhandled-promise-regression/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#75622 Fix corepack keys in deploy e2e tests
  .github/workflows/build_reusable.yml
Labels: created-by: Next.js team

#75561 add additional x-middleware-set-cookie filtering
  packages/next/src/server/send-response.ts
  test/e2e/app-dir/app-middleware/app-middleware.test.ts
  test/e2e/app-dir/app-middleware/app/cookies/api/route.js
Labels: type: next, created-by: Next.js team, tests

#75607 [use-cache] use computed size of the ReadableStream for LRU evicting
  packages/next/src/server/lib/cache-handlers/default.ts
Labels: type: next, CI approved

#75474 Include HMR refresh hash in `"use cache"` cache keys
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-types.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/development/app-dir/use-cache-hmr/app/layout.tsx
  test/development/app-dir/use-cache-hmr/app/page.tsx
  test/development/app-dir/use-cache-hmr/next.config.js
  test/development/app-dir/use-cache-hmr/use-cache-hmr.test.ts
Labels: type: next, created-by: Next.js team, tests

#75587 perf: Make `next-page-static-info` use `Atom` instead of `String`
  crates/next-core/src/next_shared/transforms/next_page_static_info.rs
  crates/next-custom-transforms/src/transforms/page_static_info/collect_exported_const_visitor.rs
  crates/next-custom-transforms/src/transforms/page_static_info/collect_exports_visitor.rs
  crates/next-custom-transforms/src/transforms/page_static_info/mod.rs
Labels: Turbopack, created-by: Turbopack team

#75499 [DevOverlay] cleanup hydration error UI
  packages/next/src/client/components/is-hydration-error.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/component-stack-pseudo-html.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/index.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/icons/collapse-icon.tsx
  test/development/acceptance-app/hydration-error.test.ts
  test/development/acceptance/hydration-error.test.ts
Labels: type: next, created-by: Next.js team, tests

#75588 perf: Make `cjs_optimizer` use `Atom` instead of `String`
  crates/next-core/src/next_shared/transforms/next_cjs_optimizer.rs
  crates/next-custom-transforms/src/transforms/cjs_optimizer.rs
Labels: Turbopack, created-by: Turbopack team

#75505 perf(turbo-tasks-fs): Call shrink_to_fit when building an immutable Rope
  turbopack/crates/turbo-tasks-fs/src/rope.rs
Labels: created-by: Turbopack team

#75528 [metadata] Remove deadcode and extract separate test suite
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  test/e2e/app-dir/rsc-basic/app/layout.js
  test/e2e/app-dir/rsc-basic/rsc-basic.test.ts
  test/e2e/app-dir/use-server-inserted-html/app/css-in-js/edge/page.js
  test/e2e/app-dir/use-server-inserted-html/app/css-in-js/layout.js
  test/e2e/app-dir/use-server-inserted-html/app/css-in-js/page.js
  test/e2e/app-dir/use-server-inserted-html/app/css-in-js/styled-components.js
  test/e2e/app-dir/use-server-inserted-html/app/css-in-js/styled-jsx.js
  test/e2e/app-dir/use-server-inserted-html/app/css-in-js/suspense/page.js
  test/e2e/app-dir/use-server-inserted-html/app/layout.js
  test/e2e/app-dir/use-server-inserted-html/app/root-style-registry.js
  test/e2e/app-dir/use-server-inserted-html/next.config.js
  test/e2e/app-dir/use-server-inserted-html/use-server-inserted-html.test.ts
Labels: type: next, created-by: Next.js team, tests

#75530 chore(turbopack): Remove unmaintained fxhash crate, use rustc-hash instead
  Cargo.lock
  crates/napi/Cargo.toml
  crates/napi/src/lib.rs
  crates/napi/src/minify.rs
  crates/napi/src/transform.rs
  crates/next-custom-transforms/Cargo.toml
  crates/next-custom-transforms/src/chain_transforms.rs
  crates/next-custom-transforms/src/transforms/next_ssg.rs
  crates/next-custom-transforms/tests/telemetry.rs
Labels: Turbopack, created-by: Turbopack team

#75524 chore(github): add conditional to triage workflow
  .github/workflows/triage.yml
Labels: created-by: Next.js team

#75485 fix: dev overlay style to add wrap + adjust bg width
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/code-frame/code-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/terminal/terminal.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/build-error.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/component-stack-pseudo-html.tsx
Labels: type: next, created-by: Next.js team

#75501 refactor(turbo-tasks): Remove default is_transient implementation
  turbopack/crates/turbo-tasks/src/task/task_input.rs
Labels: created-by: Turbopack team

#75383 fix(turbopack-ecmascript): Make expand_star_exports more deterministic
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
Labels: created-by: Turbopack team

#75589 perf: Make `next/dynamic` handler use `Atom` instead of `String`
  crates/next-core/src/next_shared/transforms/next_dynamic.rs
  crates/next-custom-transforms/src/transforms/dynamic.rs
  crates/next-custom-transforms/tests/fixture.rs
Labels: Turbopack, created-by: Turbopack team

#75629 fix corepack check in build_reusable workflow
  .github/workflows/build_reusable.yml
Labels: created-by: Next.js team

#75562 [metadata] Simplify the html insertion html stream handling for ppr
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  test/production/app-dir/ppr-use-server-inserted-html/app/layout.tsx
  test/production/app-dir/ppr-use-server-inserted-html/app/partial-resume/client.tsx
  test/production/app-dir/ppr-use-server-inserted-html/app/partial-resume/page.tsx
  test/production/app-dir/ppr-use-server-inserted-html/next.config.js
  test/production/app-dir/ppr-use-server-inserted-html/ppr-use-server-inserted-html.test.ts
Labels: type: next, created-by: Next.js team, tests

#75536 fix: preserve custom Vary headers
  packages/next/src/server/base-server.ts
  packages/next/src/server/send-response.ts
  test/e2e/vary-header/app/app/normal/route.js
  test/e2e/vary-header/app/middleware.js
  test/e2e/vary-header/app/pages/api/custom-vary.js
  test/e2e/vary-header/test/index.test.ts
Labels: type: next, CI approved, tests

#75630 chore(github): update stale bot
  .github/workflows/issue_stale.yml
Labels: created-by: Next.js team

#75531 perf(turbopack): Update rustc-hash from 1.1.0 to 2.1.0
  Cargo.lock
  Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  crates/next-custom-transforms/src/transforms/cjs_optimizer.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/tests.rs
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/app-route/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/combined-export/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/complex/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/failed-3/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/grouping/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/ipc-evaluate/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/ipc-index/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/let-bug-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/logger/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/mui-sys/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/multi-export/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/nanoid/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/nextjs-tracer/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/otel-core/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/route-handler/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/shared-2/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/shared-and-side-effects/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/shared-regression/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/simple-vars-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/simple/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/template-pages/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/test-config-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/tla-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/typeof-1/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/write-order/output.md
  turbopack/crates/turbopack-tests/tests/snapshot/emotion/emotion/output/turbopack_crates_turbopack-tests_tests_snapshot_6fdc60._.js
Labels: Turbopack, created-by: Turbopack team

#75554 Clean-up: remove unused errorMessage param in stack frames
  packages/next/src/client/components/react-dev-overlay/internal/helpers/get-error-by-type.ts
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
Labels: type: next, created-by: Next.js team

#75534 perf(next-custom-transforms): Replace non-`Sync` `Rc<DashMap<_, _>>` usage with `Rc<RefCell<FxHashMap<_, _>>>`
  crates/napi/src/lib.rs
  crates/napi/src/transform.rs
  crates/next-custom-transforms/src/chain_transforms.rs
  crates/next-custom-transforms/src/transforms/server_actions.rs
Labels: Turbopack, created-by: Turbopack team

#75538 refactor(turbopack): Define and use an FxDashMap alias everywhere
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
  turbopack/crates/turbo-tasks-backend/src/database/startup_cache.rs
  turbopack/crates/turbo-tasks-backend/src/utils/bi_map.rs
  turbopack/crates/turbo-tasks-backend/src/utils/dash_map_multi.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/once_map.rs
  turbopack/crates/turbo-tasks/src/registry.rs
  turbopack/crates/turbo-tasks/src/task_statistics.rs
Labels: created-by: Turbopack team

#75520 Fix console replaying and `React.cache` usage in `"use cache"` functions
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache/app/(no-suspense)/logs/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
  test/lib/browsers/base.ts
  test/lib/browsers/playwright.ts
Labels: type: next, created-by: Next.js team, tests

#75653 docs: remove unused imports
  docs/01-app/04-api-reference/01-directives/use-cache.mdx
Labels: Documentation, created-by: Next.js DevEx team

#75654 Run build-nextjs for Turbopack test runs on metal machines instead of GitHub hosted runner
  .github/workflows/setup-nextjs-build.yml
Labels: created-by: Next.js team

#75591 perf: Make `next_ssg` use `Atom` instead of `String`
  crates/napi/src/lib.rs
  crates/napi/src/transform.rs
  crates/next-custom-transforms/src/chain_transforms.rs
  crates/next-custom-transforms/src/transforms/next_ssg.rs
  crates/next-custom-transforms/tests/telemetry.rs
Labels: Turbopack, created-by: Turbopack team

#75655 Remove github runner specific step
  .github/workflows/setup-nextjs-build.yml
Labels: created-by: Next.js team

#75557 DX: Reduce devtools clutter by batching stack frame requests
  packages/next/src/client/components/react-dev-overlay/internal/helpers/stack-frame.ts
  packages/next/src/client/components/react-dev-overlay/server/middleware-turbopack.ts
  packages/next/src/client/components/react-dev-overlay/server/middleware-webpack.ts
  packages/next/src/client/components/react-dev-overlay/server/shared.ts
Labels: type: next, create-next-app, created-by: Next.js team, Turbopack, tests

#75658 [Turbopack] fix dependencies on own task
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#75479 [Turbopack] use Timestamp type, allow spans less than 1µs
  turbopack/crates/turbopack-trace-server/src/lib.rs
  turbopack/crates/turbopack-trace-server/src/main.rs
  turbopack/crates/turbopack-trace-server/src/reader/heaptrack.rs
  turbopack/crates/turbopack-trace-server/src/reader/nextjs.rs
  turbopack/crates/turbopack-trace-server/src/reader/turbopack.rs
  turbopack/crates/turbopack-trace-server/src/self_time_tree.rs
  turbopack/crates/turbopack-trace-server/src/server.rs
  turbopack/crates/turbopack-trace-server/src/span.rs
  turbopack/crates/turbopack-trace-server/src/span_bottom_up_ref.rs
  turbopack/crates/turbopack-trace-server/src/span_graph_ref.rs
  turbopack/crates/turbopack-trace-server/src/span_ref.rs
  turbopack/crates/turbopack-trace-server/src/store.rs
  turbopack/crates/turbopack-trace-server/src/timestamp.rs
  turbopack/crates/turbopack-trace-server/src/viewer.rs
Labels: created-by: Turbopack team

#75643 [Turbopack] correctly apply defines
  turbopack/crates/turbopack-cli/src/contexts.rs
Labels: created-by: Turbopack team

#75513 Turbopack: don't cell CodeGen-s
  Cargo.lock
  turbopack/crates/turbopack-ecmascript/Cargo.toml
  turbopack/crates/turbopack-ecmascript/src/code_gen.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/amd.rs
  turbopack/crates/turbopack-ecmascript/src/references/async_module.rs
  turbopack/crates/turbopack-ecmascript/src/references/cjs.rs
  turbopack/crates/turbopack-ecmascript/src/references/constant_condition.rs
  turbopack/crates/turbopack-ecmascript/src/references/constant_value.rs
  turbopack/crates/turbopack-ecmascript/src/references/dynamic_expression.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/binding.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/meta.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/module_id.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/module_item.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/url.rs
  turbopack/crates/turbopack-ecmascript/src/references/ident.rs
  turbopack/crates/turbopack-ecmascript/src/references/member.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  turbopack/crates/turbopack-ecmascript/src/references/require_context.rs
  turbopack/crates/turbopack-ecmascript/src/references/unreachable.rs
  turbopack/crates/turbopack-ecmascript/src/references/worker.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/chunk_item.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
  turbopack/crates/turbopack-ecmascript/src/utils.rs
Labels: created-by: Turbopack team

#75632 polish hydration errors
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/code-frame/code-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/component-stack-pseudo-html.tsx
Labels: type: next, created-by: Next.js team

#75202 feat: added support for prefetch segments when deployed
  packages/next/errors.json
  packages/next/src/build/index.ts
  packages/next/src/client/components/segment-cache/cache.ts
  packages/next/src/export/types.ts
  packages/next/src/lib/create-client-router-filter.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/router-utils/build-prefetch-segment-data-route.test.ts
  packages/next/src/server/lib/router-utils/build-prefetch-segment-data-route.ts
  packages/next/src/server/normalizers/request/segment-prefix-rsc.test.ts
  packages/next/src/server/normalizers/request/segment-prefix-rsc.ts
  packages/next/src/server/request-meta.ts
  packages/next/src/shared/lib/router/utils/is-dynamic.test.ts
  packages/next/src/shared/lib/router/utils/is-dynamic.ts
  packages/next/src/shared/lib/router/utils/route-regex.ts
  test/integration/custom-routes/test/index.test.js
  test/integration/dynamic-routing/test/index.test.js
  test/ppr-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#75592 perf: Make barrel optimizer use `Atom` instead of `String`
  crates/next-custom-transforms/src/transforms/optimize_barrel.rs
Labels: Turbopack, created-by: Turbopack team

#75545 [Turbopack] await shutdown before ending pool
  packages/next/src/build/turbopack-build/impl.ts
  packages/next/src/build/turbopack-build/index.ts
Labels: type: next, created-by: Turbopack team

#75642 [Turbopack] sort spans by start date in tracing
  turbopack/crates/turbopack-trace-server/src/viewer.rs
Labels: created-by: Turbopack team

#74910 [Turbopack] setup aggregation number before connecting children
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_children.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/prepare_new_children.rs
Labels: created-by: Turbopack team

#75595 perf: Make page exports stripper use `Atom` instead of `String`
  crates/next-custom-transforms/src/transforms/strip_page_exports.rs
Labels: Turbopack, created-by: Turbopack team

#75596 perf: Make page static info use `Atom` instead of `String`
  crates/next-custom-transforms/src/transforms/page_static_info/mod.rs
Labels: Turbopack, created-by: Turbopack team

#75437 [Turbopack] reduce the number of spans created in task completion
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#75438 [Turbopack] wait for output instead of waiting for task completion
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#75601 perf: Remove needless `Arc`
  crates/napi/src/lib.rs
  crates/napi/src/minify.rs
  crates/napi/src/transform.rs
Labels: created-by: Turbopack team

#75471 [Error Overlay] Comprehensive refinement
  packages/next/.storybook/preview.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/app/app.png
  packages/next/src/client/components/react-dev-overlay/_experimental/app/react-dev-overlay.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/call-stack-frame/call-stack-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/code-frame/code-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/copy-button/index.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/dialog/styles.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/call-stack/call-stack.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dev-tools-indicator/internal/next-logo.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dev-tools-indicator/internal/use-delayed-render.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dev-tools-indicator/styles.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-bottom-stack/index.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-bottom-stacks/error-overlay-bottom-stacks.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-bottom-stacks/error-overlay-bottom-stacks.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-floating-header/error-overlay-floating-header.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-footer/error-feedback/error-feedback.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-footer/error-overlay-footer.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-layout/error-overlay-layout.test.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-layout/error-overlay-layout.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-pagination/error-overlay-pagination.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-toolbar/error-overlay-toolbar.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay/error-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-type-label/error-type-label.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/overlay/overlay.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/overlay/styles.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/terminal/terminal.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/version-staleness-info/version-staleness-info.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/build-error.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/root-layout-missing-tags-error.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/index.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/hooks/use-delayed-render.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/hooks/use-measure-height.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/icons/file.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/styles/base.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/styles/component-styles.tsx
  test/development/app-dir/error-overlay/async-client-component/async-client-component.test.ts
  test/development/app-dir/owner-stack-react-missing-key-prop/owner-stack-react-missing-key-prop.test.ts
  test/development/app-dir/server-component-next-dynamic-ssr-false/server-component-next-dynamic-ssr-false.test.ts
  test/development/app-dir/ssr-in-rsc/ssr-in-rsc.test.ts
  test/e2e/app-dir/error-on-next-codemod-comment/error-on-next-codemod-comment.test.ts
  test/e2e/app-dir/use-cache-unknown-cache-kind/use-cache-unknown-cache-kind.test.ts
  test/e2e/app-dir/use-cache-without-experimental-flag/use-cache-without-experimental-flag.test.ts
Labels: type: next, CI approved, tests

#75542 Turbopack: make IssueSource a TaskInput
  crates/napi/src/next_api/utils.rs
  crates/next-core/src/app_segment_config.rs
  turbopack/crates/turbopack-core/src/issue/analyze.rs
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-core/src/issue/resolve.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-css/src/process.rs
  turbopack/crates/turbopack-css/src/references/import.rs
  turbopack/crates/turbopack-css/src/references/mod.rs
  turbopack/crates/turbopack-css/src/references/url.rs
  turbopack/crates/turbopack-ecmascript-hmr-protocol/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/imports.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/references/amd.rs
  turbopack/crates/turbopack-ecmascript/src/references/cjs.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/url.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/require_context.rs
  turbopack/crates/turbopack-ecmascript/src/references/worker.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
  turbopack/crates/turbopack-mdx/src/lib.rs
  turbopack/crates/turbopack-resolve/src/ecmascript.rs
  turbopack/crates/turbopack-swc-utils/src/emitter.rs
Labels: Turbopack, created-by: Turbopack team

#75675 Unflake `cookies/headers/draftMode in "use cache"` test
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: created-by: Next.js team, tests

#75680 Turbopack: don't watch output FS
  turbopack/crates/turbopack-cli/src/util.rs
Labels: created-by: Turbopack team

#75683 Turbopack: uncell RequireContextValue
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/well_known.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: created-by: Turbopack team

#75661 Turbopack: disambiguate `TaskInput::resolve`
  turbopack/crates/turbo-tasks-macros/src/derive/task_input_macro.rs
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks/src/native_function.rs
  turbopack/crates/turbo-tasks/src/task/task_input.rs
Labels: created-by: Turbopack team

#75519 Turbopack: remove last stray lint ignore comments
  turbopack/crates/turbopack-core/src/code_builder.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
Labels: created-by: Turbopack team

#75684 Update `swc_core` to `v13.0.4`
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  crates/next-custom-transforms/src/transforms/cjs_optimizer.rs
  crates/next-custom-transforms/src/transforms/fonts/mod.rs
  crates/next-custom-transforms/src/transforms/import_analyzer.rs
  turbopack/crates/turbopack-core/src/chunk/chunk_group.rs
  turbopack/crates/turbopack-ecmascript/Cargo.toml
  turbopack/crates/turbopack-ecmascript/src/transform/mod.rs
Labels: Turbopack, created-by: Turbopack team

#75687 test: fix eslint plugin test
  test/production/eslint-plugin-deps/index.test.ts
Labels: created-by: Next.js team, tests

#75507 Add regression test for previously hanging compilation with Turbopack
  test/development/app-dir/use-cache-hmr/use-cache-hmr.test.ts
Labels: created-by: Next.js team, tests

#75672 chore(turbo-tasks): Remove support for local_cells (a specific mode of local tasks we ended up not using)
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
  turbopack/crates/turbo-tasks-backend/tests/local_cell.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_attribute_invalid_args.stderr
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_attribute_invalid_args_inherent_impl.stderr
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks-macros/src/function_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_impl_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
  turbopack/crates/turbo-tasks-memory/tests/local_cell.rs
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks-testing/tests/local_cell.rs
  turbopack/crates/turbo-tasks-testing/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/id.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/native_function.rs
  turbopack/crates/turbo-tasks/src/raw_vc.rs
  turbopack/crates/turbo-tasks/src/vc/mod.rs
Labels: created-by: Turbopack team

#75693 docs: fix example for multiple tags in cacheTag usage
  docs/01-app/04-api-reference/04-functions/cacheTag.mdx
Labels: Documentation

#75453 Turbopack: lazily evaluate `obj` for member replacements
  turbopack/crates/turbopack-core/src/compile_time_info.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: created-by: Turbopack team

#75702 Ensure src/middleware handles correctly
  packages/next/src/build/entries.ts
  packages/next/src/export/index.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  test/integration/middleware-src-node/next.config.js
  test/integration/middleware-src-node/src/middleware.js
  test/integration/middleware-src-node/src/middleware.ts
  test/integration/middleware-src-node/src/pages/index.js
  test/integration/middleware-src-node/test/index.test.js
Labels: type: next, created-by: Next.js team, tests

#75704 [Turbopack] disable dependency tracking for next build
  crates/napi/src/next_api/utils.rs
Labels: created-by: Turbopack team

#75681 Add test to verify which pages are prerendered in `use-cache` test suite
  test/e2e/app-dir/use-cache/app/(suspense)/layout.tsx
  test/e2e/app-dir/use-cache/app/[id]/page.tsx
  test/e2e/app-dir/use-cache/app/api/route.ts
  test/e2e/app-dir/use-cache/app/cache-fetch-auth-header/page.tsx
  test/e2e/app-dir/use-cache/app/cache-fetch-no-store/page.tsx
  test/e2e/app-dir/use-cache/app/cache-fetch/page.tsx
  test/e2e/app-dir/use-cache/app/cache-life/page.tsx
  test/e2e/app-dir/use-cache/app/cache-tag/buttons.tsx
  test/e2e/app-dir/use-cache/app/cache-tag/page.tsx
  test/e2e/app-dir/use-cache/app/complex-args/page.tsx
  test/e2e/app-dir/use-cache/app/custom-handler/page.tsx
  test/e2e/app-dir/use-cache/app/errors/error-boundary.tsx
  test/e2e/app-dir/use-cache/app/errors/page.tsx
  test/e2e/app-dir/use-cache/app/errors/util.ts
  test/e2e/app-dir/use-cache/app/fetch-revalidate/page.tsx
  test/e2e/app-dir/use-cache/app/form/page.tsx
  test/e2e/app-dir/use-cache/app/imported-from-client/cached.ts
  test/e2e/app-dir/use-cache/app/imported-from-client/page.tsx
  test/e2e/app-dir/use-cache/app/layout.tsx
  test/e2e/app-dir/use-cache/app/logs/page.tsx
  test/e2e/app-dir/use-cache/app/method-props/cached.ts
  test/e2e/app-dir/use-cache/app/method-props/form.tsx
  test/e2e/app-dir/use-cache/app/method-props/page.tsx
  test/e2e/app-dir/use-cache/app/not-found/page.tsx
  test/e2e/app-dir/use-cache/app/page.tsx
  test/e2e/app-dir/use-cache/app/passed-to-client/page.tsx
  test/e2e/app-dir/use-cache/app/react-cache/page.tsx
  test/e2e/app-dir/use-cache/app/static-class-method/cached.ts
  test/e2e/app-dir/use-cache/app/static-class-method/form.tsx
  test/e2e/app-dir/use-cache/app/static-class-method/page.tsx
  test/e2e/app-dir/use-cache/app/use-action-state/cached.ts
  test/e2e/app-dir/use-cache/app/use-action-state/page.tsx
  test/e2e/app-dir/use-cache/app/with-server-action/form.tsx
  test/e2e/app-dir/use-cache/app/with-server-action/page.tsx
  test/e2e/app-dir/use-cache/next.config.js
  test/e2e/app-dir/use-cache/use-cache.test.ts
  test/lib/next-modes/base.ts
Labels: created-by: Next.js team, tests

#75707 chore(next-swc-napi): Remove unused(?) rlib target
  crates/napi/Cargo.toml
Labels: created-by: Turbopack team

#75662 Unused `searchParams` in `"use cache"` page should not cause dynamic
  packages/next/errors.json
  packages/next/src/build/segment-config/app/app-segments.ts
  packages/next/src/build/utils.ts
  packages/next/src/client/components/router-reducer/reducers/server-action-reducer.ts
  packages/next/src/lib/client-and-server-references.ts
  packages/next/src/lib/client-reference.ts
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/request/utils.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/shared/lib/server-reference-info.test.ts
  packages/next/src/shared/lib/server-reference-info.ts
  test/e2e/app-dir/use-cache-standalone-search-params/app/layout.tsx
  test/e2e/app-dir/use-cache-standalone-search-params/app/search-params-unused/page.tsx
  test/e2e/app-dir/use-cache-standalone-search-params/app/search-params-used/page.tsx
  test/e2e/app-dir/use-cache-standalone-search-params/next.config.js
  test/e2e/app-dir/use-cache-standalone-search-params/use-cache-standalone-search-params.test.ts
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#75717 `rootParams()` is now a plain Proimse (not exotic)
  packages/next/src/server/request/root-params.ts
Labels: type: next, created-by: Next.js team

#75706 Invalidator: don’t call invalidate at all if there’s nothing to invalidate
  packages/next/src/server/dev/on-demand-entry-handler.ts
Labels: type: next, created-by: Turbopack team

#75690 add script for quickly updating error codes
  package.json
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#75736 [dev-overlay] fix: color contrast for terminal
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/styles/colors.tsx
Labels: type: next, created-by: Next.js team

#75708 Turbopack: add test for local tasks in traits
  turbopack/crates/turbo-tasks-testing/tests/local_tasks.rs
Labels: created-by: Turbopack team

#75745 Revert "chore(next-swc-napi): Remove unused(?) rlib target"
  crates/napi/Cargo.toml
Labels: created-by: Turbopack team

#75747 fix: enable new overlay properly when env var is set
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/server/config.ts
Labels: type: next, created-by: Next.js team

#75723 [Turbopack] Reduce memory
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbo-tasks-fs/src/rope.rs
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/code_builder.rs
  turbopack/crates/turbopack-core/src/source_map/mod.rs
  turbopack/crates/turbopack-core/src/source_map/utils.rs
  turbopack/crates/turbopack-css/src/process.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-node/Cargo.toml
Labels: created-by: Turbopack team

#75749 Report build-and-deploy failures
  .github/workflows/retry_test.yml
Labels: created-by: Next.js team

#75727 fix: work around setTimeout memory leak, improve wrappers
  packages/next/src/server/web/sandbox/resource-managers.ts
Labels: type: next, created-by: Next.js team

#75700 Turbopack: less tasks in `with_modules`
  turbopack/crates/turbopack-core/src/chunk/available_modules.rs
Labels: created-by: Turbopack team

#75758 [dev-overlay] add and apply merge class names util
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/copy-button/index.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dialog/header.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-footer/error-feedback/error-feedback.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/toast/toast.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/version-staleness-info/version-staleness-info.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/helpers/cx.test.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/helpers/cx.ts
Labels: type: next, created-by: Next.js team

#75725 chore(turbopack): Remove legacy next.js HMR compat code
  turbopack/crates/turbopack-cli/js/src/entry/client.ts
  turbopack/crates/turbopack-cli/js/src/entry/websocket.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/dev/hmr-client/hmr-client.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/dev/hmr-client/index.ts
Labels: created-by: Turbopack team

#75722 docs: Update README for experimental testmode
  packages/next/src/experimental/testmode/playwright/README.md
Labels: type: next

#75753 Turbopack: remove SWC CSS sourcemap variant
  turbopack/crates/turbopack-css/src/lib.rs
  turbopack/crates/turbopack-css/src/parse.rs
  turbopack/crates/turbopack-css/src/process.rs
Labels: created-by: Turbopack team

#75760 docs: follow up fix
  docs/01-app/04-api-reference/04-functions/cacheTag.mdx
Labels: Documentation, created-by: Next.js DevEx team

#75721 chore(github): add labels-to-add-when-unstale label -> not stale
  .github/workflows/issue_stale.yml
Labels: created-by: Next.js team

#75729 fix: middleware not applied to _next/image
  packages/next/src/server/next-server.ts
  test/integration/next-image-new/middleware/middleware.js
  test/integration/next-image-new/middleware/pages/index.js
  test/integration/next-image-new/middleware/public/small.jpg
  test/integration/next-image-new/middleware/test/middleware-intercept-next-image.test.ts
Labels: type: next, CI approved, tests

#75773 docs(route-segment-config): remove line in force-dynamic mentioning it's like getServerSideProps
  docs/01-app/04-api-reference/03-file-conventions/route-segment-config.mdx
Labels: created-by: Next.js team, Documentation

#75744 Return `null` if Redbox has no component stack
  test/lib/development-sandbox.ts
  test/lib/next-test-utils.ts
Labels: created-by: Next.js team, tests

#75759 Fix incorrect error count
  packages/next/src/client/components/errors/stitched-error.ts
  packages/next/src/client/components/errors/use-error-handler.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/use-error-hook.ts
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/shared.ts
  test/development/app-dir/dynamic-io-dev-errors/dynamic-io-dev-errors.test.ts
  test/development/app-dir/hydration-error-count/app/bad-nesting/page.tsx
  test/development/app-dir/hydration-error-count/app/html-diff/page.tsx
  test/development/app-dir/hydration-error-count/app/layout.tsx
  test/development/app-dir/hydration-error-count/hydration-error-count.test.ts
  test/development/app-dir/hydration-error-count/next.config.js
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#75716 Only disable Prettier for original Turbopack source
  .prettierignore
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  packages/next/src/shared/lib/turbopack/utils.ts
Labels: type: next, created-by: Next.js team

#75790 [dev-overlay] fix: pagination focus ring was invisible
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-pagination/error-overlay-pagination.tsx
Labels: type: next, created-by: Next.js team, tests

#75776 test: Exclude `turbo-tasks-macro` from `test-cargo-unit`
  packages/next-swc/package.json
Labels: type: next, created-by: Turbopack team

#75712 Send formatted error to frontend if sourcemapping fails
  packages/next/src/client/components/react-dev-overlay/server/middleware-turbopack.ts
  packages/next/src/client/components/react-dev-overlay/server/middleware-webpack.ts
  packages/next/src/client/components/react-dev-overlay/server/shared.ts
  packages/next/src/server/patch-error-inspect.ts
Labels: type: next, created-by: Next.js team

#75792 [dev-overlay] fix link styling on hydration errors
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.tsx
Labels: type: next, created-by: Next.js team

#75606 Only reference published `@types/react-dom` versions
  packages/next/package.json
Labels: type: next, created-by: Next.js team

#75772 unsupported should be supported in docs
  docs/01-app/04-api-reference/05-config/01-next-config-js/turbo.mdx
Labels: Documentation, created-by: Turbopack team

#75771 build: Update `swc_core` to `v13.1.0`
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbopack-ecmascript/Cargo.toml
Labels: created-by: Turbopack team

#75802 chore(github): skip nissuer when Documentation issue template is used
  .github/workflows/triage.yml
Labels: created-by: Next.js team

#75777 refactor: Use `shrink-to-fit` crate instead
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbo-rcstr/Cargo.toml
  turbopack/crates/turbo-rcstr/src/lib.rs
  turbopack/crates/turbo-tasks-macros/src/derive/mod.rs
  turbopack/crates/turbo-tasks-macros/src/derive/shrink_to_fit_macro.rs
  turbopack/crates/turbo-tasks-macros/src/lib.rs
  turbopack/crates/turbo-tasks-macros/src/primitive_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks/Cargo.toml
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/macro_helpers.rs
  turbopack/crates/turbo-tasks/src/shrink_to_fit.rs
  turbopack/crates/turbo-tasks/src/vc/mod.rs
Labels: created-by: Turbopack team

#75786 Dedupe cached data from `"use cache"` functions in RSC payload
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/1/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/16/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/18/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/19/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/21/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/23/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/24/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/25/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/28/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/30/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/32/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/39/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/40/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/41/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/42/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/43/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/5/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/52/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/54/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/58/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/6/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/7/output.js
  packages/next/src/server/app-render/encryption.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache/app/referential-equality/page.tsx
  test/e2e/app-dir/use-cache/app/rsc-payload/client.tsx
  test/e2e/app-dir/use-cache/app/rsc-payload/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#75794 Allow `"use cache"` with `output: 'export'`
  packages/next/src/export/index.ts
  test/e2e/app-dir/use-cache-output-export/app/layout.tsx
  test/e2e/app-dir/use-cache-output-export/app/page.tsx
  test/e2e/app-dir/use-cache-output-export/next.config.js
  test/e2e/app-dir/use-cache-output-export/use-cache-output-export.test.ts
Labels: type: next, created-by: Next.js team, tests

#75713 Handle invalid sourcemaps
  packages/next/errors.json
  packages/next/src/client/components/react-dev-overlay/server/middleware-turbopack.ts
  packages/next/src/client/components/react-dev-overlay/server/middleware-webpack.ts
  packages/next/src/server/patch-error-inspect.ts
  test/e2e/app-dir/server-source-maps/fixtures/default/app/bad-sourcemap/page.js
  test/e2e/app-dir/server-source-maps/fixtures/default/app/bad-sourcemap/page.js.map
  test/e2e/app-dir/server-source-maps/fixtures/default/bad-sourcemap/page.js
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
Labels: type: next, created-by: Next.js team, tests

#75831 [error overlay] fix missing html error is not displayed
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/dialog/styles.ts
Labels: type: next, created-by: Next.js team

#75576 docs: improve JSDocs for `metadata` and `<Link>`
  docs/01-app/04-api-reference/04-functions/generate-metadata.mdx
  packages/next/src/client/app-dir/link.tsx
  packages/next/src/lib/metadata/types/metadata-interface.ts
Labels: type: next, Documentation, created-by: Next.js DevEx team

#75839 [error overlay] missing html tags error should be blocking
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay/error-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/use-error-hook.ts
  test/development/app-dir/missing-required-html-tags-new-overlay/app/layout.js
  test/development/app-dir/missing-required-html-tags-new-overlay/app/page.js
  test/development/app-dir/missing-required-html-tags-new-overlay/missing-html-tags-new-overlay.test.ts
  test/development/app-dir/missing-required-html-tags-new-overlay/next.config.js
  test/development/app-dir/missing-required-html-tags/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#75854 Use TypeScript to check if a default case is required in `switch`
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/use-error-hook.ts
Labels: type: next, created-by: Next.js team

#75691 Delete expirePath and expireTag pages (again)
  docs/01-app/04-api-reference/04-functions/unstable_expirePath.mdx
  docs/01-app/04-api-reference/04-functions/unstable_expireTag.mdx
Labels: Documentation, created-by: Next.js DevEx team

#75867 [Error Overlay] Fix bottom stack animation
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/dialog/styles.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/call-stack/call-stack.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-layout/error-overlay-layout.tsx
Labels: type: next, CI approved

#75679 [Error Overlay] New design
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/call-stack-frame/call-stack-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/code-frame/code-frame.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/dialog/styles.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/call-stack/call-stack.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dialog/header.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-floating-header/error-overlay-floating-header.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-layout/error-overlay-layout.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-nav/error-overlay-nav.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-nav/error-overlay-nav.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-pagination/error-overlay-pagination.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/terminal/terminal.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/version-staleness-info/version-staleness-info.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/icons/left-arrow.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/icons/right-arrow.tsx
  test/lib/next-test-utils.ts
Labels: type: next, CI approved, tests

#75845 docs: add Chrome debugging port configuration steps
  docs/01-app/03-building-your-application/07-configuring/16-debugging.mdx
Labels: created-by: Next.js team, Documentation

#75778 [backport v15] fix: ensure lint worker errors aren't silenced (#75766)
  packages/next/src/lib/verify-typescript-setup.ts
  packages/next/src/lib/worker.ts
  test/production/app-dir/build-output/index.test.ts
  test/production/app-dir/worker-restart/worker-restart.test.ts
Labels: type: next, created-by: Next.js team, tests

#75870 [Backport v14] add additional x-middleware-set-cookie filtering (#75561)
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/lib/server-ipc/utils.ts
  packages/next/src/server/send-response.ts
  test/e2e/app-dir/app-middleware/app-middleware.test.ts
  test/e2e/app-dir/app-middleware/app/cookies/api/route.js
  test/e2e/app-dir/app-middleware/app/cookies/page.js
  test/integration/required-server-files-ssr-404/test/index.test.js
  test/production/standalone-mode/required-server-files/required-server-files-app.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-i18n.test.ts
  test/production/standalone-mode/required-server-files/required-server-files-ppr.test.ts
  test/production/standalone-mode/required-server-files/required-server-files.test.ts
  test/production/standalone-mode/response-cache/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#75876 [dev-overlay] HOTFIX: clicking nav escapes the overlay
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-nav/error-overlay-nav.tsx
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#75779 [backport v14] fix: ensure lint worker errors aren't silenced (#75766)
  packages/next/src/lib/verify-typescript-setup.ts
  packages/next/src/lib/worker.ts
  test/production/app-dir/worker-restart/worker-restart.test.ts
Labels: type: next, created-by: Next.js team, tests

#75718 dev error overlay: async boundary for original stack frame call
  packages/next/errors.json
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-nav/error-overlay-nav.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-pagination/error-overlay-pagination.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/components/errors/error-overlay-pagination/error-overlay-pagination.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/index.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/use-error-hook.ts
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/helpers/get-error-by-type.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/app-dir/dynamic-error-trace/index.test.ts
  test/development/app-dir/owner-stack-react-missing-key-prop/react-missing-key-prop.test.ts
  test/development/app-dir/owner-stack/owner-stack.test.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#75355 [test] More accurate stack assertions in terminal
  test/development/app-dir/dynamic-io-dev-errors/dynamic-io-dev-errors.test.ts
Labels: created-by: Next.js team, tests

#75877 [backport v15] fix: work around setTimeout memory leak, improve wrappers (#75727)
  packages/next/src/server/web/sandbox/resource-managers.ts
Labels: type: next, created-by: Next.js team

#75883 Add test to verify that inner caches are excluded from Resume Data Cache
  packages/next/src/server/resume-data-cache/cache-store.ts
  test/e2e/app-dir/use-cache/app/rdc/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#75754 Respect `no-store` request header for `"use cache"` entries in dev mode
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/development/app-dir/use-cache-dev/app/layout.tsx
  test/development/app-dir/use-cache-dev/app/page.tsx
  test/development/app-dir/use-cache-dev/next.config.js
  test/development/app-dir/use-cache-dev/use-cache-dev.test.ts
Labels: type: next, created-by: Next.js team, tests

#75875 refactor(tests): Refactor environment reload HMR test
  test/development/app-hmr/hmr.test.ts
Labels: created-by: Turbopack team, tests

#75887 [metadata] do not rethrow postpone when streaming metadata is not enabled
  packages/next/src/lib/metadata/metadata.tsx
  test/e2e/app-dir/metadata-static-generation/metadata-static-generation.test.ts
  test/e2e/app-dir/ppr-metadata-blocking/ppr-metadata-blocking-ppr-fallback.test.ts
  test/e2e/app-dir/ppr-metadata-blocking/ppr-metadata-blocking.test.ts
Labels: type: next, created-by: Next.js team, tests

#75886 refactor(webpack-config): Pass through jsConfigPath
  packages/next/src/build/load-jsconfig.ts
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Turbopack team

#75888 refactor(webpack-config): Disable some options based on bundler version
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Turbopack team

#75850 [Turbopack] fix recompute invalidation
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_cell.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: created-by: Turbopack team

#75851 [Turbopack] allow to configure last successful parse cache state
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_server/context.rs
  turbopack/crates/turbopack-cli/src/contexts.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_options_context.rs
Labels: Turbopack, created-by: Turbopack team

#75732 [Turbopack] fix hanging bug caused by incorrect active counter handling on stale tasks
  crates/next-core/src/emit.rs
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: Turbopack, created-by: Turbopack team

#75897 Turbopack: remove unused code
  crates/next-core/src/next_client_reference/mod.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
  crates/next-core/src/next_dynamic/mod.rs
  crates/next-core/src/next_dynamic/visit_dynamic.rs
  turbopack/crates/turbopack-browser/src/ecmascript/content_entry.rs
Labels: Turbopack, created-by: Turbopack team

#75899 [Turbopack] allow to disable active tracking in turbo-tasks
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/cleanup_old_edges.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_children.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/invalidate.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
Labels: created-by: Turbopack team

#75900 [Turbopack] add fast path for increase active count
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
Labels: created-by: Turbopack team

#75799 Improve hydration diff view
  packages/next/src/client/components/errors/attach-hydration-error-state.ts
  packages/next/src/client/components/errors/hydration-error-info.ts
  packages/next/src/client/components/is-hydration-error.ts
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/component-stack-pseudo-html.stories.tsx
  packages/next/src/client/components/react-dev-overlay/_experimental/internal/container/runtime-error/component-stack-pseudo-html.tsx
  packages/next/src/client/components/react-dev-overlay/hydration-diff/diff-view.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/Errors.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/component-stack-pseudo-html.tsx
  packages/next/src/client/components/react-dev-overlay/internal/container/RuntimeError/index.tsx
  packages/next/src/client/components/react-dev-overlay/internal/styles/ComponentStyles.tsx
  test/development/acceptance-app/hydration-error.test.ts
  test/development/acceptance/hydration-error.test.ts
  test/development/app-dir/hydration-error-count/app/bad-nesting/page.tsx
  test/lib/development-sandbox.ts
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests, run-react-18-tests
