Repository vercel/next.js, pull requests merged in 2025-04, with the labels that each got.

#77659 Upgrade @playwright/test and cleanup internal APIs
  packages/next/package.json
  packages/next/src/experimental/testmode/playwright/step.ts
  pnpm-lock.yaml
Labels: type: next

#77633 Update CI build caching docs to include `bun` and other package manager
  docs/02-pages/02-building-your-application/09-deploying/04-ci-build-caching.mdx
Labels: Documentation

#77492 fix(turbopack): Fix panic while tree shaking optimization
  turbopack/crates/turbopack-ecmascript/src/tree_shake/optimizations.rs
Labels: created-by: Turbopack team

#77636 Turbopack: Skip ssr processing when next/dynamic ssr: false
  crates/next-custom-transforms/src/transforms/dynamic.rs
  test/turbopack-build-tests-manifest.json
Labels: Turbopack, created-by: Turbopack team, tests

#77639 Turbopack Build: CSR bailout test skip check for file path
  test/e2e/app-dir/missing-suspense-with-csr-bailout/missing-suspense-with-csr-bailout.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Turbopack team, tests

#77577 Refactor: move `"use cache"` revalidation logic out of incremental cache
  packages/next/src/server/after/after-context.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/revalidation-utils.ts
  packages/next/src/server/route-modules/app-route/module.ts
Labels: type: next, created-by: Next.js team

#77595 Remove obsolete update of implicit tags expiration after server action
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/lib/implicit-tags.ts
  packages/next/src/server/revalidation-utils.ts
  test/e2e/app-dir/use-cache-custom-handler/use-cache-custom-handler.test.ts
Labels: type: next, created-by: Next.js team, tests

#77672 Revert "Remove useSyncExternalStore from useIsDevRendering (#77651)"
  packages/next/src/client/components/react-dev-overlay/utils/dev-indicator/dev-render-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/utils/dev-indicator/use-sync-dev-render-indicator.tsx
  packages/next/src/client/components/use-action-queue.ts
Labels: type: next, created-by: Next.js team, run-react-18-tests

#77680 [test] Update stale snapshots
  test/development/acceptance/ReactRefreshLogBox.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#77674 Turbopack build: Add marker for when a build used Turbopack
  packages/next/src/build/index.ts
  test/production/app-dir/turbopack-build-marker/app/layout.tsx
  test/production/app-dir/turbopack-build-marker/app/page.tsx
  test/production/app-dir/turbopack-build-marker/next.config.js
  test/production/app-dir/turbopack-build-marker/turbopack-build-marker.test.ts
Labels: type: next, created-by: Turbopack team, tests

#70645 feat(images): use experimental `isrFlushToDisk` option to prevent writing optimized images to cache
  packages/next/src/server/image-optimizer.ts
  test/integration/image-optimizer/test/disable-write-to-cache-dir.test.ts
  test/integration/image-optimizer/test/util.ts
Labels: type: next, tests

#77649 doc: instrumentation-client
  docs/01-app/03-building-your-application/06-optimizing/08-analytics.mdx
  docs/01-app/04-api-reference/03-file-conventions/instrumentation-client.mdx
  docs/01-app/04-api-reference/05-config/01-next-config-js/clientInstrumentationHook.mdx
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/lib/require-instrumentation-client.ts
  packages/next/src/server/config-schema.ts
  test/e2e/instrumentation-client-hook/app-router/next.config.js
  test/e2e/instrumentation-client-hook/app-with-src/next.config.js
  test/e2e/instrumentation-client-hook/pages-router/next.config.js
Labels: type: next, created-by: Next.js team, Documentation, tests

#77355 Alternate bundler: use equivalent native plugins for built-in plugins
  packages/next/src/build/compiler.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/shared/lib/get-webpack-bundler.ts
Labels: type: next, created-by: Turbopack team

#76924 fix(turbopack): Suppress logging for short no-op turbopack HMRs
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/pages/hot-reloader-client.ts
  packages/next/src/client/components/react-dev-overlay/utils/report-hmr-latency.ts
  packages/next/src/client/components/react-dev-overlay/utils/turbopack-hot-reloader-common.ts
Labels: type: next, created-by: Turbopack team, CI Bypass Graphite Optimization

#77641 Turbopack build: Fix node-file-trace test
  test/production/pages-dir/production/fixture/pages/index.js
  test/production/pages-dir/production/test/index.test.ts
Labels: type: next, create-next-app, Documentation, Turbopack, created-by: Turbopack team, tests

#77638 Turbopack: fix bug in handling of module batches
  turbopack/crates/turbopack-core/src/lib.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
  turbopack/crates/turbopack-test-utils/src/snapshot.rs
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/1.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/2.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/a.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/b.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/c.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/d.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/e.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/x.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/input/y.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_1_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_1_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_23ea52ac._.js
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_23ea52ac._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_2_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_2_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_2bc55788._.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_2bc55788._.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_a_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_a_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_b_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_b_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_c_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_c_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_d_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_d_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_e_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_e_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_ea25098c._.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_ea25098c._.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_index_314a3e75.js
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_index_314a3e75.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_index_d9d7a2bc.js
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_index_d9d7a2bc.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_x_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_x_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_y_css_b7298ed4._.single.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/cycle2/output/turbopack_crates_turbopack-tests_tests_snapshot_css_cycle2_input_y_css_b7298ed4._.single.css.map
  turbopack/crates/turbopack-tests/tests/snapshot/export-alls/cjs-2/issues/unexpected export __star__-f9a205.txt
Labels: created-by: Turbopack team

#77678 Turbopack build: Implement error when using next start without --turbopack
  packages/next/errors.json
  packages/next/src/build/index.ts
  packages/next/src/server/next-server.ts
  packages/next/src/shared/lib/constants.ts
Labels: type: next, created-by: Turbopack team

#77687 legacyBehavior deprecation error should only trigger once
  packages/next/src/client/app-dir/link.tsx
  packages/next/src/client/link.tsx
  packages/next/src/shared/lib/utils/error-once.ts
  test/e2e/app-dir/link-component-deprecations/app/page.tsx
  test/e2e/app-dir/link-component-deprecations/link-component-deprecations.test.ts
Labels: type: next, created-by: Next.js team, tests

#77685 Pass only required props to NonIndex
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/opentelemetry/instrumentation/opentelemetry.test.ts
Labels: type: next, CI approved, tests

#77690 Revert "fix: make sure body can be read using `nodejs` runtime in middleware"
  packages/next/src/server/next-server.ts
  test/e2e/middleware-general/app/middleware-node.js
  test/e2e/middleware-general/app/middleware.js
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#77686 pack-next: use default `--js-build` as option instead of `--no-js-build`
  scripts/pack-next.ts
Labels: created-by: Turbopack team

#77563 Turbopack: Allow overriding tsconfig path via next-config
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  test/e2e/tsconfig-path/app/layout.tsx
  test/e2e/tsconfig-path/app/page.tsx
  test/e2e/tsconfig-path/bar.ts
  test/e2e/tsconfig-path/index.test.ts
  test/e2e/tsconfig-path/middleware.ts
  test/e2e/tsconfig-path/myconfig.json
  test/e2e/tsconfig-path/next.config.ts
  test/e2e/tsconfig-path/pages/page.tsx
  test/e2e/typescript-custom-tsconfig/app/layout.tsx
  test/e2e/typescript-custom-tsconfig/app/page.tsx
  test/e2e/typescript-custom-tsconfig/bar.ts
  test/e2e/typescript-custom-tsconfig/middleware.ts
  test/e2e/typescript-custom-tsconfig/next.config.ts
  test/e2e/typescript-custom-tsconfig/pages/page.tsx
  test/e2e/typescript-custom-tsconfig/test/index.test.js
  test/e2e/typescript-custom-tsconfig/web.tsconfig.json
  turbopack/crates/turbopack-resolve/src/resolve.rs
  turbopack/crates/turbopack-resolve/src/resolve_options_context.rs
Labels: Turbopack, created-by: Turbopack team, tests

#77538 Scripts: migrate unpack-next to TypeScript
  scripts/unpack-next.ts
Labels: created-by: Turbopack team

#77700 chore(turbopack): Make TaskInputs use ResolvedVc
  crates/next-api/src/app.rs
  crates/next-core/src/next_manifests/client_reference_manifest.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/chunk_item.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
Labels: Turbopack, created-by: Turbopack team

#77334 [dev-overlay] Harden types when handling hydration mismatches
  packages/next/src/client/components/errors/attach-hydration-error-state.ts
Labels: type: next, created-by: Next.js team, run-react-18-tests

#74077 Getting Started Docs: Add `Metadata and OG images` page
  docs/01-app/01-getting-started/10-metadata-and-og-images.mdx
Labels: Documentation, created-by: Next.js DevEx team

#77717 Getting Started Docs: Add `Upgrade` page
  docs/01-app/01-getting-started/12-upgrading.mdx
Labels: Documentation, created-by: Next.js DevEx team

#77722 Docs IA 2.0: Rename `Examples` to `Guides`
  docs/01-app/02-guides/index.mdx
Labels: Documentation, created-by: Next.js DevEx team

#77321 add support for cssmodules-pure-no-check to allow global CSS features like View Transitions
  packages/next/package.json
  packages/next/src/compiled/postcss-modules-local-by-default/index.js
  pnpm-lock.yaml
  test/e2e/app-dir/css-modules-pure-no-check/app/home.module.css
  test/e2e/app-dir/css-modules-pure-no-check/app/layout.tsx
  test/e2e/app-dir/css-modules-pure-no-check/app/page.tsx
  test/e2e/app-dir/css-modules-pure-no-check/css-modules-pure-no-check.test.ts
  test/e2e/app-dir/css-modules-pure-no-check/next.config.ts
  test/integration/css-fixtures/cssmodules-pure-no-check/pages/index.module.css
  test/integration/css-fixtures/cssmodules-pure-no-check/pages/index.tsx
  test/integration/css-fixtures/cssmodules-pure-no-check/tsconfig.json
  test/integration/css-modules/test/index.test.js
Labels: type: next, tests

#77669 build: Update `swc_core` to `v19.0.0`
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  turbopack/crates/turbopack-ecmascript/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#77444 [dev-overlay] Only warn once per invalid sourcemap
  .prettierignore
  packages/next/src/server/patch-error-inspect.ts
  test/e2e/app-dir/server-source-maps/fixtures/default/app/bad-sourcemap/page.js
  test/e2e/app-dir/server-source-maps/fixtures/default/app/bad-sourcemap/page.js.map
  test/e2e/app-dir/server-source-maps/fixtures/default/bad-sourcemap/page.js
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
Labels: type: next, created-by: Next.js team, tests

#77738 Add Josh to Turbopack team for created-by label
  .github/labeler.json
Labels: created-by: Turbopack team

#77731 Turbopack: use better ident for worker chunk group
  turbopack/crates/turbopack-ecmascript/src/worker_chunk/chunk_item.rs
  turbopack/crates/turbopack-tests/tests/snapshot/imports/ignore-comments/output/4c35f_tests_snapshot_imports_ignore-comments_input_vercel_cjs_3041f295._.js
  turbopack/crates/turbopack-tests/tests/snapshot/imports/ignore-comments/output/4c35f_tests_snapshot_imports_ignore-comments_input_vercel_cjs_3041f295._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/imports/ignore-comments/output/4e721_crates_turbopack-tests_tests_snapshot_imports_ignore-comments_input_e1849155._.js
Labels: created-by: Turbopack team

#77701 chore(turbo-tasks): Remove redundant ast-grep lint rule
  .config/ast-grep/rules/resolved-vc.yml
  turbopack/crates/turbo-tasks/src/vc/resolved.rs
Labels: created-by: Turbopack team

#77732 Turbopack: refactor resolve_url_reference to avoid chunk_path
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-css/src/references/url.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
Labels: created-by: Turbopack team

#77747 [dynamicIO] only abort once per prerender
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/node-environment-extensions/utils.tsx
Labels: type: next, created-by: Next.js team

#77748 Port "app-document" test to e2e
  test/e2e/app-document/client.test.ts
  test/e2e/app-document/csp.test.ts
  test/e2e/app-document/index.test.ts
  test/e2e/app-document/next.config.js
  test/e2e/app-document/pages/_app.js
  test/e2e/app-document/pages/_document.js
  test/e2e/app-document/pages/about.js
  test/e2e/app-document/pages/index.js
  test/e2e/app-document/pages/shared.js
  test/e2e/app-document/rendering.test.ts
  test/e2e/app-document/shared-module.js
  test/integration/app-document/test/client.js
  test/integration/app-document/test/csp.js
  test/integration/app-document/test/index.test.js
  test/integration/app-document/test/rendering.js
Labels: created-by: Turbopack team, tests

#77743 [ci]: skip build-windows job for docs only change
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#77711 Turbopack build: Move Turbopack marker to SERVER_FILES_MANIFEST
  packages/next/src/build/index.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
  packages/next/src/shared/lib/constants.ts
  test/production/app-dir/turbopack-build-marker/turbopack-build-marker.test.ts
Labels: type: next, created-by: Turbopack team, tests

#77696 Reapply "Turbopack: layout segment optimization for Pages" (#77339)
  crates/next-api/src/pages.rs
  crates/next-api/src/project.rs
  crates/next-core/src/next_pages/page_entry.rs
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
  test/e2e/app-document/client.test.ts
  test/e2e/app-document/csp.test.ts
  test/e2e/app-document/rendering.test.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#77692 feat(next/image): support `new URL()` for `images.remotePatterns`
  docs/01-app/04-api-reference/02-components/image.mdx
  errors/next-image-unconfigured-host.mdx
  packages/next/errors.json
  packages/next/src/build/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config.ts
  packages/next/src/shared/lib/image-config.ts
  packages/next/src/shared/lib/match-remote-pattern.ts
  test/e2e/app-dir/next-image/next.config.js
  test/e2e/app-dir/next-image/next.config.ts
  test/integration/image-optimizer/test/index.test.ts
  test/integration/next-image-new/unicode/next.config.js
  test/integration/next-image-new/unicode/test/index.test.ts
  test/unit/image-optimizer/match-remote-pattern-with-url.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#77756 chore(turbo-tasks): Audit all remaining uses of `Vc` in a struct
  Cargo.lock
  crates/next-api/src/app.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/app_page_loader_tree.rs
  crates/next-core/src/base_loader_tree.rs
  crates/next-core/src/next_app/app_page_entry.rs
  crates/next-core/src/next_manifests/mod.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/next_shared/transforms/next_react_server_components.rs
  turbopack/crates/turbopack-core/src/chunk/chunk_group.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/dev.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/style_production.rs
  turbopack/crates/turbopack-css/Cargo.toml
  turbopack/crates/turbopack-css/src/process.rs
  turbopack/crates/turbopack-css/src/references/mod.rs
  turbopack/crates/turbopack-dev-server/src/lib.rs
  turbopack/crates/turbopack-ecmascript-plugins/src/transform/directives/client.rs
Labels: Turbopack, created-by: Turbopack team

#77752 docs: `instrumentation-client` follow up
  docs/01-app/04-api-reference/03-file-conventions/instrumentation-client.mdx
  docs/01-app/04-api-reference/03-file-conventions/instrumentation.mdx
Labels: Documentation, created-by: Next.js DevEx team

#76953 [dev-overlay] remove text wrap for terminal
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/code-frame.tsx
Labels: type: next, created-by: Next.js team

#77723 Optimize server runtime bundles
  packages/next/next-runtime.webpack-config.js
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/require-cache.ts
  packages/next/src/server/route-modules/app-page/module.compiled.js
  packages/next/src/server/route-modules/app-route/module.compiled.js
  packages/next/src/server/route-modules/pages-api/module.compiled.js
  packages/next/src/server/route-modules/pages/module.compiled.js
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#77757 Turbopack Build: Remove cases of process.env.TURBOPACK
  packages/next/src/build/index.ts
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
Labels: type: next, created-by: Turbopack team

#77736 [test] Get rid of unrelated "Invalid hook call" error from tests using `styled-components`
  test/development/acceptance-app/ReactRefreshRegression.test.ts
  test/development/acceptance/ReactRefreshRegression.test.ts
  test/development/basic/styled-components-disabled.test.ts
  test/development/basic/styled-components/styled-components.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#77737 [dev-overlay] Fix unactionable `useLayoutEffect` warning if React 18 is used
  packages/next/src/client/components/react-dev-overlay/ui/components/shadow-portal.tsx
Labels: type: next, created-by: Next.js team

#77727 [dev-tools] Fix flashing of disabled state on indicator
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/next-logo.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.tsx
Labels: type: next, CI approved

#76545 Turbopack: keep side-effect-full imports
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/side-effect-import/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/side-effect-import/input/ui/package.json
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/side-effect-import/input/ui/src/Child.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/side-effect-import/input/ui/src/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/side-effect-import/input/ui/src/side-effect.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/side-effect-import/input/ui/src/test.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/side-effect-import/options.json
Labels: created-by: Turbopack team, tests

#77770 Docs: Recommend inline `use server` and update examples
  docs/01-app/01-getting-started/07-updating-data.mdx
  docs/01-app/01-getting-started/08-error-handling.mdx
  docs/01-app/03-building-your-application/01-routing/05-error-handling.mdx
  docs/01-app/03-building-your-application/01-routing/07-redirecting.mdx
  docs/01-app/03-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
  docs/01-app/03-building-your-application/02-data-fetching/04-incremental-static-regeneration.mdx
  docs/01-app/03-building-your-application/07-configuring/16-progressive-web-apps.mdx
  docs/01-app/03-building-your-application/09-authentication/index.mdx
  docs/01-app/03-building-your-application/11-upgrading/08-single-page-applications.mdx
  docs/01-app/04-api-reference/01-directives/use-server.mdx
  docs/01-app/04-api-reference/02-components/form.mdx
  docs/01-app/04-api-reference/04-functions/cacheTag.mdx
  docs/01-app/04-api-reference/04-functions/cookies.mdx
  docs/01-app/04-api-reference/04-functions/forbidden.mdx
  docs/01-app/04-api-reference/04-functions/redirect.mdx
  docs/01-app/04-api-reference/04-functions/revalidatePath.mdx
  docs/01-app/04-api-reference/04-functions/revalidateTag.mdx
  docs/01-app/04-api-reference/04-functions/unauthorized.mdx
Labels: Documentation, created-by: Next.js DevEx team

#77771 Revert "Docs: Recommend inline `use server` and update examples"
  docs/01-app/01-getting-started/07-updating-data.mdx
  docs/01-app/01-getting-started/08-error-handling.mdx
  docs/01-app/03-building-your-application/01-routing/05-error-handling.mdx
  docs/01-app/03-building-your-application/01-routing/07-redirecting.mdx
  docs/01-app/03-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
  docs/01-app/03-building-your-application/02-data-fetching/04-incremental-static-regeneration.mdx
  docs/01-app/03-building-your-application/07-configuring/16-progressive-web-apps.mdx
  docs/01-app/03-building-your-application/09-authentication/index.mdx
  docs/01-app/03-building-your-application/11-upgrading/08-single-page-applications.mdx
  docs/01-app/04-api-reference/01-directives/use-server.mdx
  docs/01-app/04-api-reference/02-components/form.mdx
  docs/01-app/04-api-reference/04-functions/cacheTag.mdx
  docs/01-app/04-api-reference/04-functions/cookies.mdx
  docs/01-app/04-api-reference/04-functions/forbidden.mdx
  docs/01-app/04-api-reference/04-functions/redirect.mdx
  docs/01-app/04-api-reference/04-functions/revalidatePath.mdx
  docs/01-app/04-api-reference/04-functions/revalidateTag.mdx
  docs/01-app/04-api-reference/04-functions/unauthorized.mdx
Labels: Documentation, created-by: Next.js DevEx team

#77648 doc: useLinkStatus
  docs/01-app/04-api-reference/04-functions/use-link-status.mdx
Labels: created-by: Next.js team, Documentation

#77785 [docs] fix lint issue in use link status doc
  docs/01-app/04-api-reference/04-functions/use-link-status.mdx
Labels: created-by: Next.js team, Documentation

#77751 Webpack build: Add compiled in x seconds in missing places
  packages/next/src/build/duration-to-string.ts
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-build/index.ts
Labels: type: next, created-by: Turbopack team

#77647 doc: onNavigate
  docs/01-app/04-api-reference/02-components/link.mdx
Labels: created-by: Next.js team, Documentation

#77714 Ignore an existing HMR refresh hash cookie with `next start`
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/development/app-dir/use-cache-dev/app/page.tsx
  test/development/app-dir/use-cache-dev/use-cache-dev.test.ts
  test/e2e/app-dir/use-cache-custom-handler/use-cache-custom-handler.test.ts
  test/e2e/app-dir/use-cache-dev/app/layout.tsx
  test/e2e/app-dir/use-cache-dev/app/page.tsx
  test/e2e/app-dir/use-cache-dev/next.config.js
  test/e2e/app-dir/use-cache-dev/use-cache-dev.test.ts
Labels: type: next, created-by: Next.js team, tests

#77790 doc: useLinkStatus doc follow-up
  docs/01-app/04-api-reference/04-functions/use-link-status.mdx
Labels: created-by: Next.js team, Documentation

#77787 [ci] remove needs build-native for lint job
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#75092 test(examples): update turbopack manifest
  test/turbopack-dev-examples-manifest.json
Labels: tests

#77783 Turbopack build: Replace process.env.TURBOPACK usage
  packages/next/next-runtime.webpack-config.js
  packages/next/src/build/index.ts
  packages/next/src/cli/next-start.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/next.ts
  test/production/app-dir/turbopack-build-marker/app/layout.tsx
  test/production/app-dir/turbopack-build-marker/app/page.tsx
  test/production/app-dir/turbopack-build-marker/next.config.js
  test/production/app-dir/turbopack-build-marker/turbopack-build-marker.test.ts
Labels: type: next, created-by: Turbopack team, tests

#77791 Client instrumentation: onRouterTransitionStart
  packages/next/src/client/app-index.tsx
  packages/next/src/client/app-next-dev.ts
  packages/next/src/client/app-next-turbopack.ts
  packages/next/src/client/app-next.ts
  packages/next/src/client/components/app-router-instance.ts
  packages/next/src/client/components/app-router.tsx
  packages/next/src/lib/require-instrumentation-client.ts
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/instrumentation-client-hook/app-router/app/layout.tsx
  test/e2e/instrumentation-client-hook/app-router/app/page.tsx
  test/e2e/instrumentation-client-hook/app-router/app/some-page/page.tsx
  test/e2e/instrumentation-client-hook/app-router/instrumentation-client.ts
  test/e2e/instrumentation-client-hook/instrumentation-client-hook.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#77660 Turbopack: log telemetry events when `TurbopackInternalError`s occur
  packages/next/errors.json
  packages/next/src/build/swc/index.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/shared/lib/turbopack/utils.ts
  packages/next/src/telemetry/events/build.ts
  test/unit/TurbopackInternalError.test.ts
Labels: type: next, created-by: Turbopack team, tests

#77793 Rename alternate bundler package name
  examples/with-rspack/README.md
  examples/with-rspack/next.config.js
  examples/with-rspack/package.json
  packages/next-rspack/README.md
  packages/next-rspack/index.d.ts
  packages/next-rspack/index.js
  packages/next-rspack/package.json
  packages/next/errors.json
  packages/next/src/cli/next-info.ts
  packages/next/src/shared/lib/get-rspack.ts
  pnpm-lock.yaml
  test/lib/create-next-install.js
Labels: examples, type: next, created-by: Turbopack team, tests

#77804 [test] fix bad test fixuture for perf test
  test/e2e/pages-performance-mark/pages/_document.js
Labels: created-by: Next.js team, tests

#77805 doc: onNavigate follow-up
  docs/01-app/04-api-reference/02-components/link.mdx
Labels: created-by: Next.js team, Documentation

#77794 backport: fix dynamic route interception not working when deployed with middleware
  packages/next/src/lib/constants.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/server-utils.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/shared/lib/router/utils/route-regex.ts
  test/e2e/app-dir/interception-dynamic-segment-middleware/app/[locale]/@modal/(.)[username]/p/[id]/page.tsx
  test/e2e/app-dir/interception-dynamic-segment-middleware/app/[locale]/@modal/default.tsx
  test/e2e/app-dir/interception-dynamic-segment-middleware/app/[locale]/[username]/p/[id]/page.tsx
  test/e2e/app-dir/interception-dynamic-segment-middleware/app/[locale]/layout.tsx
  test/e2e/app-dir/interception-dynamic-segment-middleware/app/[locale]/page.tsx
  test/e2e/app-dir/interception-dynamic-segment-middleware/app/default.tsx
  test/e2e/app-dir/interception-dynamic-segment-middleware/app/layout.tsx
  test/e2e/app-dir/interception-dynamic-segment-middleware/interception-dynamic-segment-middleware.test.ts
  test/e2e/app-dir/interception-dynamic-segment-middleware/middleware.ts
  test/e2e/app-dir/interception-dynamic-segment-middleware/next.config.js
  test/production/eslint/test/__snapshots__/next-build-and-lint.test.ts.snap
Labels: type: next, created-by: Next.js team, tests

#77693 Turbopack: fix `sideEffects` matching for non-relative globs
  turbopack/crates/turbopack-ecmascript/src/chunk/placeable.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/basic/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/basic/input/node_modules/package-partial/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/basic/input/node_modules/package-partial/package.json
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/basic/input/node_modules/package-partial/sub/bare.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/basic/input/node_modules/package-partial/sub/file.side.js
Labels: type: next, create-next-app, created-by: Turbopack team, tests

#77814 Revert "Upgrade @playwright/test and cleanup internal APIs"
  packages/next/package.json
  packages/next/src/experimental/testmode/playwright/step.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#77739 [dev-overlay] always display bundler name on version info
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-nav/error-overlay-nav.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/version-staleness-info/version-staleness-info.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/version-staleness-info/version-staleness-info.tsx
  test/development/acceptance-app/version-staleness.test.ts
Labels: type: next, created-by: Next.js team, tests

#77815 fix(turbopack): Apply `hygiene` if mangling is disabled
  turbopack/crates/turbopack-ecmascript/src/minify.rs
Labels: created-by: Turbopack team

#77818 [next-lint] test: remove eslint config snapshot testing
  test/production/eslint/test/__snapshots__/next-build-and-lint.test.ts.snap
  test/production/eslint/test/next-build-and-lint.test.ts
Labels: created-by: Next.js team, tests

#77821 [dev-overlay] Read `issueCount` from non-async `errors` array
  packages/next/src/client/components/react-dev-overlay/ui/container/runtime-error/render-error.tsx
Labels: type: next, CI approved

#77735 Turbopack: avoid deriving css source map path from generated code path
  test/integration/css-minify/test/index.test.js
  turbopack/crates/turbopack-browser/src/ecmascript/chunk.rs
  turbopack/crates/turbopack-browser/src/ecmascript/content.rs
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  turbopack/crates/turbopack-core/src/code_builder.rs
  turbopack/crates/turbopack-core/src/source_map/source_map_asset.rs
  turbopack/crates/turbopack-css/src/chunk/mod.rs
  turbopack/crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  turbopack/crates/turbopack-css/src/chunk/single_item_chunk/source_map.rs
  turbopack/crates/turbopack-css/src/chunk/source_map.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-nodejs/src/ecmascript/node/chunk.rs
  turbopack/crates/turbopack-nodejs/src/ecmascript/node/content.rs
  turbopack/crates/turbopack-nodejs/src/ecmascript/node/entry/chunk.rs
  turbopack/crates/turbopack-nodejs/src/ecmascript/node/entry/runtime.rs
Labels: created-by: Turbopack team, tests

#77830 [dev-overlay] Fix error dialog resizing logic
  packages/next/src/client/components/react-dev-overlay/ui/components/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/dialog/styles.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-layout/error-overlay-layout.test.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-layout/error-overlay-layout.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay/error-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/resizer/index.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/hooks/use-measure-height.ts
Labels: type: next, CI approved

#77832 Turbopack Build: Optimize instrumentation hook generation
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/turbopack-utils.ts
Labels: type: next, created-by: Turbopack team

#77799 Turbopack: don't include client-fs assets in NFT
  crates/next-api/src/nft_json.rs
Labels: Turbopack, created-by: Turbopack team

#77797 [next-server] skip setting vary header for basic routes
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/app/index.test.ts
  test/e2e/vary-header/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#77811 Turbopack: correctly track `await import("path")` in static analysis
  turbopack/crates/turbopack-ecmascript/src/analyzer/builtin.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/well_known.rs
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/conditional-import/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/imports/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/path-join/graph-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/path-join/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/path-join/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/path-join/input.js
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/path-join/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/path-join/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/graph-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/input.js
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/turbopack-ignore/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph.snapshot
Labels: created-by: Turbopack team, tests

#77779 Lazily call `refreshTags` and `getExpiration`
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/implicit-tags.ts
  packages/next/src/server/lib/lazy-result.ts
  packages/next/src/server/use-cache/handlers.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache-custom-handler/app/no-cache/page.tsx
  test/e2e/app-dir/use-cache-custom-handler/use-cache-custom-handler.test.ts
Labels: type: next, created-by: Next.js team, tests

#77842 [ts-next-plugin] fix: properly exit when failed to initialize
  packages/next/src/server/typescript/index.ts
  packages/next/src/server/typescript/utils.ts
Labels: type: next, created-by: Next.js team

#77829 [dynamicIO] Fix dev warmup
  packages/next/src/client/components/app-router-headers.ts
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/request-store.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/web/adapter.ts
  test/development/app-dir/dynamic-io-dev-warmup/app/revalidate/route.ts
  test/development/app-dir/dynamic-io-dev-warmup/dynamic-io.dev-warmup.test.ts
Labels: type: next, created-by: Next.js team, tests

#77845 fix: don't reset the prefetch segment data routes on loop
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team

#77798 fix(turbopack-cli): Make turbopack_cli::dev::source a persistent (non-transient) task
  turbopack/crates/turbo-tasks/src/task/task_input.rs
  turbopack/crates/turbopack-cli/src/dev/mod.rs
Labels: created-by: Turbopack team

#77848 [test] temporarily disable flaky test for react 18
  test/development/acceptance/ReactRefreshLogBox.test.ts
Labels: created-by: Next.js team, tests

#77838 Ensure `searchParams` access in `"use cache"` triggers error when caught
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/request/utils.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache-standalone-search-params/app/search-params-caught/page.tsx
  test/e2e/app-dir/use-cache-standalone-search-params/use-cache-standalone-search-params.test.ts
Labels: type: next, created-by: Next.js team, tests

#77849 Revert "[dev-overlay] Fix error dialog resizing logic"
  packages/next/src/client/components/react-dev-overlay/ui/components/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/dialog/styles.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-layout/error-overlay-layout.test.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-layout/error-overlay-layout.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay/error-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/resizer/index.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/hooks/use-measure-height.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
Labels: type: next, created-by: Next.js team, tests, run-react-18-tests

#77846 fix: add cache tags to segment prefetch responses
  packages/next/src/server/base-server.ts
Labels: type: next, created-by: Next.js team

#77843 Avoid microtaskiness when lazily fetching from cache handlers
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/lib/implicit-tags.ts
  packages/next/src/server/lib/lazy-result.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
Labels: type: next, created-by: Next.js team

#77866 [Experiment] <Link unstable_dynamicOnHover>
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/client/app-dir/link.tsx
  packages/next/src/client/components/links.ts
  packages/next/src/client/components/segment-cache-impl/scheduler.ts
  packages/next/src/client/components/segment-cache.ts
  packages/next/src/export/index.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/app-dir/segment-cache/dynamic-on-hover/app/dynamic/layout.tsx
  test/e2e/app-dir/segment-cache/dynamic-on-hover/app/dynamic/page.tsx
  test/e2e/app-dir/segment-cache/dynamic-on-hover/app/layout.tsx
  test/e2e/app-dir/segment-cache/dynamic-on-hover/app/page.tsx
  test/e2e/app-dir/segment-cache/dynamic-on-hover/components/link-accordion.tsx
  test/e2e/app-dir/segment-cache/dynamic-on-hover/dynamic-on-hover.test.ts
  test/e2e/app-dir/segment-cache/dynamic-on-hover/next.config.js
Labels: type: next, created-by: Next.js team, tests

#77865 [dev-overlay] disable font ligatures
  packages/next/src/client/components/react-dev-overlay/ui/container/errors.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/styles/base.tsx
Labels: type: next, created-by: Next.js team

#77894 Enable process.env.TURBOPACK when process.env.IS_TURBOPACK_TEST is set
  .github/workflows/build_and_test.yml
  .github/workflows/turbopack-nextjs-build-integration-tests.yml
  .github/workflows/turbopack-nextjs-dev-integration-tests.yml
  bench/heavy-npm-deps/package.json
  package.json
  packages/next/src/cli/next-build.ts
  packages/next/src/cli/next-dev.ts
  packages/next/src/server/next.ts
Labels: type: next, created-by: Turbopack team, tests

#77863 [ts-next-plugin] fix: use `getSourceFile` instead of `fileExists` to check file existence
  packages/next/src/server/typescript/rules/metadata.ts
Labels: type: next, created-by: Next.js team

#76993 fix: only set request phase to "action" when actually running an action
  packages/next/src/server/app-render/action-handler.ts
Labels: type: next, created-by: Next.js team

#77896 [test] consolidate missing tag dev test
  test/development/app-dir/missing-required-html-tags/index.test.ts
Labels: created-by: Next.js team, tests

#77875 Alternate bundler: fix react refresh and adjust sourcemap
  package.json
  packages/next-rspack/package.json
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/config/blocks/base.ts
  packages/next/src/shared/lib/get-rspack.ts
  pnpm-lock.yaml
Labels: type: next

#77011 refactor: rename isAction to isPossibleServerAction
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/server-action-request-meta.ts
  packages/next/src/server/render.tsx
  packages/next/src/server/route-modules/app-route/module.ts
Labels: type: next, created-by: Next.js team

#77691 fix(Turbopack): Intermittent CapacityExceeded Error in Persistent Caching
  Cargo.lock
  turbopack/crates/turbo-persistence/Cargo.toml
Labels: created-by: Turbopack team

#77868 [logging] improve logging of port retry
  packages/next/src/server/lib/start-server.ts
  test/integration/cli/test/index.test.js
Labels: type: next, created-by: Next.js team, tests

#77237 fix: apply Geist fonts correctly on default cna template
  packages/create-next-app/templates/default-tw/js/pages/index.js
  packages/create-next-app/templates/default-tw/ts/pages/index.tsx
Labels: create-next-app

#77806 Remove canary-gate and add experimental warning for alternate bundler
  packages/next-rspack/README.md
  packages/next-rspack/package.json
  packages/next/src/shared/lib/get-rspack.ts
Labels: type: next, created-by: Turbopack team

#77839 fix(next/image): bump sharp@0.34.1
  packages/next/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#77808 Turbopack builds: Remove canary-gate and add experimental warning
  packages/next/src/build/index.ts
  packages/next/src/build/turbopack-build/impl.ts
Labels: type: next, created-by: Turbopack team, tests

#77887 feat: Disable char frequency analysis for mangler
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  packages/next/src/build/webpack-config.ts
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-tests/tests/snapshot/basic/ecmascript_minify/options.json
  turbopack/crates/turbopack-tests/tests/snapshot/minification/paren-remover/options.json
Labels: type: next, Turbopack, created-by: Turbopack team

#77902 Set Turbopack env var for internal modules
  turbopack/crates/turbopack-ecmascript-runtime/js/src/nodejs/runtime.ts
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
Labels: type: next, created-by: Turbopack team

#77890 Turbopack: handle removed routes
  crates/napi/src/next_api/endpoint.rs
  crates/napi/src/next_api/project.rs
  crates/next-api/src/operation.rs
  crates/next-api/src/route.rs
  test/development/app-hmr/hmr.test.ts
Labels: Turbopack, created-by: Turbopack team, tests

#77924 Fix Wasm example
  examples/with-webassembly/app/api/edge/route.ts
  examples/with-webassembly/app/page.tsx
Labels: examples, created-by: Turbopack team

#77921 IA 2.0: Review `Getting Started` Section
  docs/01-app/01-getting-started/01-installation.mdx
  docs/01-app/01-getting-started/02-project-structure.mdx
  docs/01-app/01-getting-started/03-layouts-and-pages.mdx
  docs/01-app/01-getting-started/04-images-and-fonts.mdx
  docs/01-app/01-getting-started/05-css.mdx
  docs/01-app/01-getting-started/06-fetching-data.mdx
  docs/01-app/01-getting-started/07-updating-data.mdx
  docs/01-app/01-getting-started/08-error-handling.mdx
  docs/01-app/01-getting-started/10-metadata-and-og-images.mdx
  docs/01-app/01-getting-started/12-upgrading.mdx
  docs/01-app/03-building-your-application/01-routing/03-layouts-and-templates.mdx
  docs/01-app/03-building-your-application/01-routing/08-route-groups.mdx
Labels: Font (next/font), Documentation, created-by: Next.js DevEx team

#77909 Revert "Fix: RESTORE_ACTION should not be thenable"
  packages/next/src/client/components/app-router-instance.ts
Labels: type: next, created-by: Next.js team

#77941 docs: revert image 15.3 change until live
  errors/next-image-unconfigured-host.mdx
Labels: Documentation, created-by: Next.js DevEx team

#77913 Fix resolve alternate bundler in monorepo
  packages/next/src/shared/lib/get-rspack.ts
Labels: type: next

#77944 Output server.mjs for standalone with type: module
  packages/next/src/build/utils.ts
  test/production/standalone-mode/type-module/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#77945 fix: node.js module import error when using middleware
  packages/next/src/server/base-server.ts
  packages/next/src/server/server-utils.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/server/web/utils.ts
  test/e2e/app-dir/app-middleware/app-middleware.test.ts
Labels: type: next, created-by: Next.js team, tests

#77940 Turbopack: remove CSS comments when minifying
  test/e2e/app-dir/scss/compilation-and-prefixing/compilation-and-prefixing.test.ts
  test/integration/css-minify/test/index.test.js
  test/integration/css-modules/test/index.test.js
  test/integration/css/test/basic-global-support.test.js
  test/integration/css/test/css-compilation.test.js
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-css/src/asset.rs
  turbopack/crates/turbopack-css/src/chunk/mod.rs
  turbopack/crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
Labels: created-by: Turbopack team, tests

#77834 doc: fix useLinkStatus import
  docs/01-app/05-api-reference/04-functions/use-link-status.mdx
Labels: Documentation

#77949 Turbopack: write `.next/turbopack` to mark Turbopack builds
  packages/next/src/build/turbopack-build/impl.ts
Labels: type: next, created-by: Turbopack team

#77943 Telemetry: track failed builds and build bundler usage
  packages/next/src/build/index.ts
  packages/next/src/telemetry/events/build.ts
Labels: type: next, created-by: Turbopack team

#77955 Update alternate bundler to 1.3.4
  package.json
  packages/next-rspack/package.json
  packages/next/src/compiled/sass-loader/cjs.js
  pnpm-lock.yaml
Labels: type: next

#77937 Turbopack: shutdown turbo-tasks even when build crashes
  packages/next/src/build/turbopack-build/impl.ts
Labels: type: next, create-next-app, Documentation, created-by: Turbopack team, tests

#77938 Turbopack: add attribute name to trace server search
  turbopack/crates/turbopack-trace-server/src/span_ref.rs
Labels: created-by: Turbopack team

#77953 fix(turbopack): Consider break label as conditional
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77083/graph-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77083/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77083/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77083/input.js
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77083/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77083/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/next-77083/input/assert.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/next-77083/input/index.js
Labels: created-by: Turbopack team

#77962 compile-time error for useLinkStatus imports in server components
  crates/next-custom-transforms/src/transforms/react_server_components.rs
  test/development/acceptance-app/server-components.test.ts
Labels: created-by: Next.js team, Turbopack, tests

#77931 add build script for next-error-code-swc-plugin
  crates/next-error-code-swc-plugin/README.md
  crates/next-error-code-swc-plugin/build-and-move.sh
  package.json
Labels: created-by: Next.js team, Turbopack

#77850 Turbopack: support `config.turbopack` and deprecate `config.experimental.turbopack`.
  bench/heavy-npm-deps/next.config.mjs
  crates/next-api/src/project.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_server/context.rs
  docs/01-app/05-api-reference/05-config/01-next-config-js/turbo.mdx
  docs/01-app/05-api-reference/08-turbopack.mdx
  examples/with-react-native-web/next.config.js
  examples/with-turbopack-loaders/next.config.js
  packages/next/src/build/index.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/turbopack-build/impl.ts
  packages/next/src/lib/turbopack-warning.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.test.ts
  packages/next/src/server/config.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/shared/lib/turbopack/utils.ts
  test/e2e/app-dir/react-owner-stacks-svgr/next.config.js
  test/e2e/app-dir/resolve-extensions/next.config.js
  test/e2e/app-dir/scss/npm-import-tilde/npm-import-tilde.test.ts
  test/e2e/app-dir/turbopack-loader-resource-query/next.config.js
  test/e2e/app-dir/webpack-loader-conditions/next.config.js
  test/e2e/app-dir/webpack-loader-ts-transform/next.config.js
  test/e2e/esm-externals/next.config.js
  test/e2e/persistent-caching/next.config.js
  test/e2e/turbopack-turbo-config-compatibility/app/layout.js
  test/e2e/turbopack-turbo-config-compatibility/app/page.js
  test/e2e/turbopack-turbo-config-compatibility/index.test.ts
  test/e2e/turbopack-turbo-config-compatibility/next.config.js
  test/e2e/turbopack-turbo-config-compatibility/turbo.js
  test/e2e/turbopack-turbo-config-compatibility/turbopack.js
  test/integration/module-id-strategies/next.config.js
  test/integration/module-ids/components/CustomComponent.tsx
  test/integration/module-ids/module-with-long-name.js
  test/integration/module-ids/next.config.js
  test/integration/module-ids/node_modules/external-module-with-long-name.js
  test/integration/module-ids/pages/index.js
  test/integration/module-ids/test/index.test.js
  test/integration/production-browser-sourcemaps/test/index.test.js
  test/integration/telemetry/next.config.persistent-cache
Labels: examples, type: next, Documentation, Turbopack, created-by: Turbopack team, tests

#77889 docs: improve file tree
  docs/01-app/03-building-your-application/07-configuring/05-mdx.mdx
  errors/prerender-error.mdx
  errors/static-dir-deprecated.mdx
Labels: created-by: Next.js team, Documentation

#77936 Turbopack: only invalidate removed cells once
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team, CI Bypass Graphite Optimization

#77969 test: attempt to unflake useLinkStatus interrupted navigation test
  test/e2e/use-link-status/index.test.ts
Labels: created-by: Next.js team, tests

#77971 Ignore generated `@next/swc-wasm-nodejs` JS code during linting
  .eslintignore
  .prettierignore
Labels: created-by: Next.js team

#77853 Turbopack: update docs for `config.turbopack`
  docs/01-app/03-building-your-application/06-optimizing/14-local-development.mdx
  docs/01-app/03-building-your-application/11-upgrading/06-from-create-react-app.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/turbopack.mdx
  docs/01-app/05-api-reference/08-turbopack.mdx
  docs/02-pages/03-api-reference/04-config/01-next-config-js/turbo.mdx
Labels: Documentation, created-by: Turbopack team

#77951 Add experimental.routerBFCache to NextConfig
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_import_map.rs
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/lib/needs-experimental-react.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/app-dir/back-forward-cache/app/layout.tsx
  test/e2e/app-dir/back-forward-cache/app/page.tsx
  test/e2e/app-dir/back-forward-cache/back-forward-cache.test.ts
  test/e2e/app-dir/back-forward-cache/next.config.js
Labels: type: next, created-by: Next.js team, Turbopack, tests

#77973 Turbopack: fix instrumentation asset context name
  crates/next-api/src/project.rs
Labels: Turbopack, created-by: Turbopack team

#77977 Revert "docs: revert image 15.3 change until live"
  errors/next-image-unconfigured-host.mdx
Labels: created-by: Next.js team, Documentation

#77978 Revert standalone extension change for module type
  packages/next/src/build/utils.ts
  test/production/standalone-mode/type-module/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#77974 Turbopack: read asset entries strongly consistent
  crates/next-api/src/versioned_content_map.rs
  test/development/app-dir/missing-required-html-tags/index.test.ts
Labels: Turbopack, created-by: Turbopack team, tests

#77988 Turbopack: use correct env var for uploading test results
  jest.config.js
Labels: created-by: Turbopack team

#77939 [next-server] fix params duplicate in query after rewrite
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/rewrite-with-search-params/app/[domain]/[...section]/page.tsx
  test/e2e/app-dir/rewrite-with-search-params/app/layout.tsx
  test/e2e/app-dir/rewrite-with-search-params/next.config.js
  test/e2e/app-dir/rewrite-with-search-params/rewrite-with-search-params.test.ts
Labels: type: next, created-by: Next.js team, tests

#77271 chore(cna): use short tailwind classname of font-family
  packages/create-next-app/templates/app-tw/js/app/page.js
  packages/create-next-app/templates/app-tw/ts/app/page.tsx
  packages/create-next-app/templates/default-tw/js/pages/index.js
  packages/create-next-app/templates/default-tw/ts/pages/index.tsx
Labels: create-next-app

#77922 Turbopack: fix a bug where marking a task a completed causes a panic when reading the output
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
Labels: type: next, Documentation, Turbopack, created-by: Turbopack team, tests, CI Bypass Graphite Optimization

#77970 Fix CSS Data URL test on Turbopack
  test/integration/css/test/css-modules.test.js
  test/turbopack-build-tests-manifest.json
Labels: created-by: Turbopack team, tests

#77999 Turbopack warning spelling fix
  packages/next/src/build/index.ts
Labels: type: next, created-by: Turbopack team

#77986 Turbopack: fix dynamic request lookup with only a single match
  turbopack/crates/turbopack-ecmascript/src/references/pattern_mapping.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/dynamic-requests/basic/input/index.js
Labels: created-by: Turbopack team

#77932 Allow URL schemes that include `+`, `-` or `.`
  packages/next/src/client/resolve-href.ts
  test/integration/invalid-href/pages/exotic-href.js
  test/integration/invalid-href/pages/second.js
  test/integration/invalid-href/test/index.test.ts
Labels: type: next, tests

#78012 (DO NOT MERGE) test: page to have correct dynamic params after middle…
  test/e2e/app-dir/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params/app/[locale]/[...rest]/page.tsx
  test/e2e/app-dir/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params/app/[locale]/page.tsx
  test/e2e/app-dir/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params/app/layout.tsx
  test/e2e/app-dir/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params/expected.ts
  test/e2e/app-dir/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params/middleware.ts
  test/e2e/app-dir/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params/next.config.js
  test/e2e/app-dir/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params/ppr-middleware-rewrite-force-dynamic-ssg-dynamic-params.test.ts
Labels: created-by: Next.js team, tests

#77730 15.3 Docs: Turbopack for `build`
  docs/01-app/05-api-reference/08-turbopack.mdx
Labels: Documentation, created-by: Next.js DevEx team

#78015 [test] Stop asserting on internal stackframes when features are working as intended
  test/development/app-dir/error-overlay/error-ignored-frames/error-ignored-frames.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#78018 Turbopack: asset ident instead of chunk item ID in CSS
  turbopack/crates/turbopack-css/src/chunk/mod.rs
  turbopack/crates/turbopack-css/src/chunk/single_item_chunk/chunk.rs
Labels: created-by: Turbopack team

#77954 fix(turbopack): Consider scoping of `var` declarations
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/iife-2/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/iife-2/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/iife-2/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/iife-2/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77126/graph-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77126/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77126/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77126/input.js
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77126/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/issue-77126/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/md5/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/md5/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/md5/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/md5_2/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/react-dom-production/resolved-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph-explained.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/graph.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/resolved-effects.snapshot
  turbopack/crates/turbopack-ecmascript/tests/analyzer/graph/webpack-target-node/resolved-explained.snapshot
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/next-77126/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/basic/next-77126/input/module.js
Labels: created-by: Turbopack team

#77782 [test] Remove global styled-components install
  package.json
  pnpm-lock.yaml
  test/development/basic/styled-components-disabled.test.ts
  test/development/basic/styled-components-disabled/.gitignore
  test/development/basic/styled-components-disabled/package.json
  test/development/basic/styled-components-disabled/pages/index.js
  test/development/basic/styled-components/.gitignore
  test/development/basic/styled-components/package.json
  test/development/basic/styled-components/pages/index.js
Labels: created-by: Next.js team, tests, run-react-18-tests

#78024 Docs: Improve `"use cache"` and `cacheLife` API references
  docs/01-app/05-api-reference/01-directives/use-cache.mdx
  docs/01-app/05-api-reference/04-functions/cacheLife.mdx
Labels: Documentation, created-by: Next.js DevEx team

#78022 Docs: Update `useLinkStatus` API reference
  docs/01-app/05-api-reference/04-functions/use-link-status.mdx
Labels: Documentation, created-by: Next.js DevEx team
