Repository vercel/next.js, pull requests merged in 2025-03, with the labels that each got.

#76691 [dynamicIO] routes with dynamic segments should be able to be static in dev
  packages/next/src/export/index.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.test.ts
Labels: type: next, created-by: Next.js team, tests

#76705 docs: fix reading `params` code blocks
  docs/01-app/01-getting-started/08-error-handling.mdx
  docs/01-app/03-building-your-application/01-routing/04-linking-and-navigating.mdx
  docs/01-app/03-building-your-application/01-routing/10-dynamic-routes.mdx
  docs/01-app/03-building-your-application/01-routing/13-route-handlers.mdx
  docs/01-app/03-building-your-application/01-routing/15-internationalization.mdx
  docs/01-app/03-building-your-application/02-data-fetching/04-incremental-static-regeneration.mdx
  docs/01-app/03-building-your-application/06-optimizing/04-metadata.mdx
  docs/01-app/03-building-your-application/07-configuring/05-mdx.mdx
  docs/01-app/04-api-reference/02-components/form.mdx
  docs/01-app/04-api-reference/03-file-conventions/default.mdx
  docs/01-app/04-api-reference/03-file-conventions/layout.mdx
  docs/01-app/04-api-reference/03-file-conventions/page.mdx
  docs/01-app/04-api-reference/03-file-conventions/route.mdx
  docs/01-app/04-api-reference/04-functions/generate-metadata.mdx
  docs/01-app/04-api-reference/04-functions/not-found.mdx
  docs/01-app/04-api-reference/04-functions/permanentRedirect.mdx
  docs/01-app/04-api-reference/04-functions/unstable_cache.mdx
  examples/mdx-remote/app/[slug]/page.tsx
Labels: examples, Documentation, created-by: Next.js DevEx team

#76709 [repo] upgrade ts `5.8.2`
  package.json
  packages/font/package.json
  packages/next-codemod/package.json
  packages/next/package.json
  packages/third-parties/package.json
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#76692 [metadata]: ensure metadata boundary is only rendered once on client nav
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  test/e2e/app-dir/metadata-streaming/app/parallel-routes/@bar/test-page/page.tsx
  test/e2e/app-dir/metadata-streaming/app/parallel-routes/@foo/no-bar/page.tsx
  test/e2e/app-dir/metadata-streaming/app/parallel-routes/@foo/test-page/page.tsx
  test/e2e/app-dir/metadata-streaming/app/parallel-routes/no-bar/page.tsx
  test/e2e/app-dir/metadata-streaming/app/parallel-routes/page.tsx
  test/e2e/app-dir/metadata-streaming/app/parallel-routes/test-page/page.tsx
  test/e2e/app-dir/metadata-streaming/metadata-streaming.test.ts
Labels: type: next, created-by: Next.js team, tests

#76712 [metadata] clean up redudant options
  packages/next/src/export/index.ts
  packages/next/src/export/types.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/streaming-metadata.ts
Labels: type: next, created-by: Next.js team

#76713 Fix uniqueness detection for `generateStaticParams`
  packages/next/src/build/static-paths/app.ts
  test/e2e/app-dir/app-static/app-static.test.ts
  test/e2e/app-dir/app-static/app/gen-params-catch-all-unique/[...slug]/page.js
Labels: type: next, created-by: Next.js team, tests

#76678 Turbopack: Simplify emitDecoratorMetadata test
  test/production/emit-decorator-metadata/app/pages/api/[[...params]].js
  test/production/emit-decorator-metadata/index.test.ts
  test/turbopack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#76743 [test] Use new Redbox matchers in pages/ ReactRefreshRegression
  test/development/acceptance/ReactRefreshRegression.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#76631 [test] Remove `describeVariants` helper
  test/development/app-dir/basic/basic.test.ts
  test/development/app-dir/experimental-lightningcss/experimental-lightningcss.test.ts
  test/lib/next-test-utils.ts
Labels: created-by: Next.js team, tests

#76753 [test] Fix flaky error-recovery test
  test/development/pages-dir/client-navigation/index.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#76744 [test] Use new Redbox matchers in app/ dynamic-error
  test/development/acceptance-app/dynamic-error.test.ts
Labels: created-by: Next.js team, tests

#76754 [Dev Tools] Improve keyboard interactions for menu & overlays
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/dev-tools-info.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/route-info.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/turbopack-info.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/utils.ts
Labels: type: next, CI approved

#76745 [test] Use new Redbox matchers in app/ rsc-runtime-errors
  test/development/acceptance-app/rsc-runtime-errors.test.ts
Labels: created-by: Next.js team, tests

#76660 Keep server code out of browser chunks
  packages/next/src/build/normalize-catchall-routes.ts
  packages/next/src/build/swc/options.ts
  packages/next/src/build/utils.ts
  packages/next/src/client/components/client-page.tsx
  packages/next/src/client/components/client-segment.tsx
  packages/next/src/client/components/error-boundary.tsx
  packages/next/src/client/components/match-segments.ts
  packages/next/src/client/components/metadata/async-metadata.tsx
  packages/next/src/client/components/metadata/browser-resolved-metadata.tsx
  packages/next/src/client/components/metadata/metadata-boundary.tsx
  packages/next/src/client/components/metadata/server-inserted-metadata.ts
  packages/next/src/client/components/metadata/types.ts
  packages/next/src/client/components/navigation.ts
  packages/next/src/client/components/redirect.ts
  packages/next/src/client/components/router-reducer/compute-changed-path.ts
  packages/next/src/client/components/router-reducer/reducers/has-interception-route-in-current-tree.ts
  packages/next/src/client/components/segment-cache-impl/cache.ts
  packages/next/src/client/components/unstable-rethrow.browser.ts
  packages/next/src/client/components/unstable-rethrow.server.ts
  packages/next/src/client/components/unstable-rethrow.ts
  packages/next/src/client/request/params.browser.dev.ts
  packages/next/src/client/request/params.browser.prod.ts
  packages/next/src/client/request/params.browser.ts
  packages/next/src/client/request/search-params.browser.dev.ts
  packages/next/src/client/request/search-params.browser.prod.ts
  packages/next/src/client/request/search-params.browser.ts
  packages/next/src/export/index.ts
  packages/next/src/lib/create-client-router-filter.ts
  packages/next/src/lib/generate-interception-routes-rewrites.ts
  packages/next/src/lib/metadata/async-metadata.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/pages/_error.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/get-segment-param.tsx
  packages/next/src/server/app-render/metadata-insertion/use-server-inserted-metadata.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/root-params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/request/utils.ts
  packages/next/src/shared/lib/router/utils/interception-routes.test.ts
  packages/next/src/shared/lib/router/utils/interception-routes.ts
  packages/next/src/shared/lib/router/utils/is-dynamic.ts
  packages/next/src/shared/lib/router/utils/prepare-destination.ts
  packages/next/src/shared/lib/router/utils/route-regex.ts
  packages/next/src/shared/lib/segment-cache/segment-value-encoding.ts
  packages/next/src/shared/lib/utils/reflect-utils.ts
  test/lib/next-modes/base.ts
  test/production/app-dir/browser-chunks/app/favicon.ico
  test/production/app-dir/browser-chunks/app/layout.tsx
  test/production/app-dir/browser-chunks/app/page.tsx
  test/production/app-dir/browser-chunks/browser-chunks.test.ts
  test/production/app-dir/browser-chunks/next.config.js
Labels: type: next, created-by: Next.js team, tests

#76757 Turbopack: avoid panic in module batches
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
Labels: created-by: Turbopack team

#74990 Revert "test: temporarily disable after deploy test"
  test/deploy-tests-manifest.json
  test/e2e/app-dir/next-after-app-deploy/index.test.ts
Labels: created-by: Next.js team, tests

#76628 Turbopack: inline minify into code generation and make it a plain function instead of a turbo tasks function
  turbopack/crates/turbopack-browser/src/ecmascript/content.rs
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  turbopack/crates/turbopack-css/src/module_asset.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/embed_js.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/nodejs_runtime.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/chunk_item.rs
  turbopack/crates/turbopack-ecmascript/src/static_code.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/chunk_item.rs
  turbopack/crates/turbopack-nodejs/src/ecmascript/node/content.rs
  turbopack/crates/turbopack-nodejs/src/ecmascript/node/entry/runtime.rs
Labels: type: next, created-by: Turbopack team, tests

#76549 Fix: missing close brace in demo code
  docs/01-app/01-getting-started/07-updating-data.mdx
Labels: Documentation

#76760 Disable flaky Turbopack tests
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
Labels: created-by: Next.js team, tests

#76693 feat(CI): Revalidate vercel data cache on areweturboyet after uploading data to KV store
  .github/actions/upload-turboyet-data/dist/index.js
  .github/actions/upload-turboyet-data/dist/index.js.map
  .github/actions/upload-turboyet-data/src/main.js
  .github/workflows/upload-tests-manifest.yml
Labels: created-by: Turbopack team

#76764 chore(github): move top prs and feature requests to different Slack channel
  .github/actions/next-repo-actions/dist/feature-requests/index.mjs
  .github/actions/next-repo-actions/dist/prs/index.js
  .github/actions/next-repo-actions/src/popular-feature-requests.mjs
  .github/actions/next-repo-actions/src/popular-prs.ts
Labels: created-by: Next.js team

#76763 Fix flaky Bun test
  test/integration/create-next-app/package-manager/bun.test.ts
Labels: created-by: Next.js team, tests

#76682 Update use-cache-unknown-cache-kind.test.ts snapshot for alternate bundler
  packages/next/errors.json
  packages/next/src/build/webpack-build/impl.ts
  test/e2e/app-dir/use-cache-unknown-cache-kind/use-cache-unknown-cache-kind.test.ts
  test/integration/css-customization/test/index.test.js
Labels: type: next, created-by: Turbopack team, tests

#76771 [dev-overlay] fix styling on overflow error messages, add button hover state
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-message/error-message.tsx
Labels: type: next, CI approved

#76767 Fix: respond 405 status code on OPTIONS request to SSG page
  packages/next/src/server/base-server.ts
  test/production/options-request/app/app-page/dynamic/page.tsx
  test/production/options-request/app/app-page/static/page.tsx
  test/production/options-request/app/app-route/route.ts
  test/production/options-request/app/layout.tsx
  test/production/options-request/app/page.tsx
  test/production/options-request/next.config.js
  test/production/options-request/options-request.test.ts
  test/production/options-request/pages/api/pages-api-handler.ts
  test/production/options-request/pages/pages-page/dynamic.tsx
  test/production/options-request/pages/pages-page/static.tsx
Labels: type: next, created-by: Next.js team, tests

#76772 Fix canary only warning for devlow-bench
  scripts/devlow-bench.mjs
Labels: created-by: Next.js team

#76741 [test] Add special placeholder if stackframes point into dist dir
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/lib/add-redbox-matchers.ts
  test/lib/next-test-utils.ts
Labels: created-by: Next.js team, tests

#76779 [test] Use new Redbox matchers in pages/ service-side-dev-errors
  test/integration/server-side-dev-errors/test/index.test.js
Labels: created-by: Next.js team, tests, run-react-18-tests

#76783 [test] Use new Redbox matchers in app/ dynamic-error-trace
  test/development/acceptance-app/dynamic-error.test.ts
  test/development/app-dir/dynamic-error-trace/index.test.ts
Labels: created-by: Next.js team, tests

#76786 [test] Use new Redbox matchers in app/ owner-stack-invalid-element-type
  test/development/app-dir/owner-stack-invalid-element-type/owner-stack-invalid-element-type.test.ts
Labels: created-by: Next.js team, tests

#76785 [test] Use new Redbox matchers in app/ hook-functuon-names
  test/development/app-dir/hook-function-names/hook-function-names.test.ts
Labels: created-by: Next.js team, tests

#76787 [test] Use new Redbox matchers in server-navigation-error
  test/development/app-dir/server-navigation-error/server-navigation-error.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#76789 [test] Fix flaky error-recovery test
  test/development/acceptance-app/error-recovery.test.ts
Labels: created-by: Next.js team, tests

#76788 [test] Use new Redbox matchers in pages/ gssp-ssr-change-reloading
  test/development/basic/gssp-ssr-change-reloading/test/index.test.ts
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/index.js
Labels: created-by: Next.js team, tests, run-react-18-tests

#76259 [docs] update Tailwind CSS installation and configuration instructions
  docs/01-app/03-building-your-application/05-styling/02-tailwind-css.mdx
Labels: Documentation

#76801 docs: Tailwind v4
  docs/01-app/03-building-your-application/05-styling/02-tailwind-css.mdx
Labels: Documentation, created-by: Next.js DevEx team

#76796 chore(docs): update minimumCacheTTL example to 31 days
  docs/01-app/04-api-reference/02-components/image.mdx
  docs/02-pages/03-api-reference/01-components/image-legacy.mdx
Labels: created-by: Next.js team, Documentation

#76647 chore(cna): update tailwind styles to be closer to non-tw cna
  examples/image-secure-compute/app/page.module.css
  packages/create-next-app/templates/app-tw/js/app/page.js
  packages/create-next-app/templates/app-tw/ts/app/page.tsx
  packages/create-next-app/templates/app/js/app/page.module.css
  packages/create-next-app/templates/app/ts/app/page.module.css
  packages/create-next-app/templates/default-tw/js/pages/index.js
  packages/create-next-app/templates/default-tw/ts/pages/index.tsx
  packages/create-next-app/templates/default/js/styles/Home.module.css
  packages/create-next-app/templates/default/ts/styles/Home.module.css
Labels: examples, create-next-app, created-by: Next.js team

#76797 [test] Use new Redbox matchers in pages/ middleware-errors
  test/development/middleware-errors/index.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#76332 doc: use `redirect` in client components
  docs/01-app/04-api-reference/04-functions/redirect.mdx
Labels: created-by: Next.js team, Documentation

#76832 [docs] document experimental viewTransition flag
  docs/01-app/04-api-reference/05-config/01-next-config-js/viewTransition.mdx
Labels: created-by: Next.js team, Documentation

#76839 fix: remove useless set-cookie in action-handler
  packages/next/src/server/app-render/action-handler.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/mutate-cookie-with-redirect/page.js
  test/e2e/app-dir/actions/app/mutate-cookie-with-redirect/redirect-target/page.js
Labels: type: next, created-by: Next.js team, tests

#76831 Turbopack: handle task cancelation
  crates/napi/src/next_api/project.rs
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
  turbopack/crates/turbo-tasks-memory/src/memory_backend.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: type: next, created-by: Turbopack team

#74566 add types for `__next_app__` module loading functions
  packages/next/src/build/templates/app-page.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/client-component-renderer-logger.ts
Labels: type: next, created-by: Next.js team

#76847 fix duplicated noindex when server action is triggered
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/metadata-navigation/app/server-action/not-found/action.tsx
  test/e2e/app-dir/metadata-navigation/app/server-action/not-found/page-client.tsx
  test/e2e/app-dir/metadata-navigation/app/server-action/not-found/page.tsx
  test/e2e/app-dir/metadata-navigation/metadata-navigation.test.ts
Labels: type: next, created-by: Next.js team, tests

#75362 fix: don't drop queued actions when navigating
  packages/next/src/shared/lib/router/action-queue.ts
  test/e2e/app-dir/navigation-with-queued-actions/app/layout.tsx
  test/e2e/app-dir/navigation-with-queued-actions/app/page.tsx
  test/e2e/app-dir/navigation-with-queued-actions/app/server.ts
  test/e2e/app-dir/navigation-with-queued-actions/index.test.ts
  test/e2e/app-dir/navigation-with-queued-actions/next.config.mjs
Labels: type: next, created-by: Next.js team, tests

#76849 [dev-overlay]: remove dependency on platform for focus trapping
  packages/next/package.json
  packages/next/src/client/components/react-dev-overlay/ui/components/dialog/dialog.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/utils.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-layout/error-overlay-layout.test.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-layout/error-overlay-layout.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/overlay/maintain--tab-focus.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/overlay/overlay.tsx
  packages/next/src/compiled/platform/LICENSE
  packages/next/src/compiled/platform/package.json
  packages/next/src/compiled/platform/platform.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/taskfile.js
  packages/next/types/$$compiled.internal.d.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#76851 Fix missing turbo command for rust-check
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
Labels: created-by: Next.js team

#76846 Cleanup pure span handling
  crates/next-custom-transforms/src/transforms/server_actions.rs
Labels: Turbopack, created-by: Turbopack team

#76868 Turbopack: remove unused IncludeModulesModule
  crates/next-api/src/pages.rs
  crates/next-core/src/next_app/include_modules_module.rs
  crates/next-core/src/next_app/mod.rs
Labels: Turbopack, created-by: Turbopack team

#76814 Turbopack: Add __turbopack_load_by_url__
  crates/next-api/src/project.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_manifests/client_reference_manifest.rs
  packages/next/src/server/app-render/get-asset-query-string.ts
  packages/next/taskfile.js
  test/turbopack-build-tests-manifest.json
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/dev/hmr-client/hmr-client.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/build-base.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/dev-base.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/dev-globals.d.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/runtime-base.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/dom/dev-backend-dom.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/dom/runtime-backend-dom.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/edge/runtime-backend-edge.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/nodejs/runtime.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-types.d.ts
  turbopack/crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
  turbopack/crates/turbopack-ecmascript/src/runtime_functions.rs
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40a89bd6.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40a89bd6.js.map
Labels: type: next, created-by: Next.js team, Turbopack, created-by: Turbopack team, tests

#76617 Update test snapshots for alternative bundler [5/n]
  test/development/acceptance/ReactRefreshLogBox-app-doc.test.ts
Labels: created-by: Turbopack team, tests

#76768 Update test snapshots for alternative bundler [6/n]
  test/integration/server-side-dev-errors/test/index.test.js
Labels: created-by: Turbopack team, tests

#76867 [test] Use `next.browser` instead of `webdriver` in pages/ client-navigation
  test/development/pages-dir/client-navigation/index.test.ts
Labels: created-by: Next.js team, tests

#76879 Revert "fix(turbopack): Use vergen-git2 instead of shadow-rs for napi and next-api crates to fix stale git lock files"
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/napi/build.rs
  crates/napi/src/lib.rs
  crates/napi/src/next_api/utils.rs
  crates/napi/src/util.rs
  crates/next-api/Cargo.toml
  crates/next-api/build.rs
  crates/next-api/src/lib.rs
  crates/next-api/src/project.rs
  crates/next-build/Cargo.toml
  crates/next-build/build.rs
  turbopack/crates/turbo-tasks-backend/src/database/db_versioning.rs
  turbopack/crates/turbo-tasks-backend/src/lib.rs
  turbopack/crates/turbo-tasks-backend/tests/test_config.trs
Labels: Turbopack, created-by: Turbopack team

#76596 build: Update `swc_core` to `v16.4.0`
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbopack-ecmascript/benches/analyzer.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40a89bd6.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_40a89bd6.js.map
Labels: created-by: Turbopack team

#76880 Add handling of origin in dev mode
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/block-cross-site.ts
  test/development/basic/misc.test.ts
Labels: type: next, created-by: Next.js team, tests

#76799 docs: update Turbopack docs
  docs/01-app/04-api-reference/08-turbopack.mdx
Labels: Documentation, created-by: Next.js DevEx team

#76856 build: Update lightningcss to `v1.0.0-alpha.64`
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#76890 build: Fix warning
  Cargo.toml
Labels: created-by: Turbopack team

#76861 [dev-overlay] Stop grouping callstack frames into ignored vs. not ignored
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/call-stack/call-stack.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/call-stack/call-stack.tsx
  test/development/app-dir/error-overlay/error-ignored-frames/error-ignored-frames.test.ts
Labels: type: next, created-by: Next.js team, tests

#76898 [dev-overlay] Increase padding if no `x` button present
  packages/next/src/client/components/react-dev-overlay/ui/app.png
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/next-logo.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
Labels: type: next, CI approved

#76891 fix(turbopack): Fix the span of a magic comment
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/27/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/46/output.js
  crates/next-custom-transforms/tests/fixture/source-maps/server-graph/use-cache/1/output.map
Labels: Turbopack, created-by: Turbopack team

#76905 Turbopack: deterministic server action order
  crates/next-api/src/module_graph.rs
  crates/next-api/src/server_actions.rs
  test/production/app-dir/server-action-period-hash/server-action-period-hash-custom-key.test.ts
  test/production/app-dir/server-action-period-hash/server-action-period-hash.test.ts
Labels: Turbopack, created-by: Turbopack team, tests

#76841 docs: reword the docs of veiw transition flag
  docs/01-app/04-api-reference/05-config/01-next-config-js/viewTransition.mdx
Labels: created-by: Next.js team, Documentation

#76889 fix(turbopack): Use vergen-gitcl instead of shadow-rs (or vergen-git2) for napi and next-api crates to fix stale git lock files
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/napi/build.rs
  crates/napi/src/lib.rs
  crates/napi/src/next_api/utils.rs
  crates/napi/src/util.rs
  crates/next-api/Cargo.toml
  crates/next-api/build.rs
  crates/next-api/src/lib.rs
  crates/next-api/src/project.rs
  crates/next-build/Cargo.toml
  crates/next-build/build.rs
  turbopack/crates/turbo-tasks-backend/src/database/db_versioning.rs
  turbopack/crates/turbo-tasks-backend/src/lib.rs
  turbopack/crates/turbo-tasks-backend/tests/test_config.trs
Labels: Turbopack, created-by: Turbopack team

#76912 Turbopack: ensure default layout is provided in default not-found entrypoint
  crates/next-core/src/app_structure.rs
  test/e2e/app-dir/app-root-params/simple.test.ts
Labels: created-by: Next.js team, Turbopack, tests

#76914 fix: prevent incorrect searchParams being applied on certain navs
  packages/next/src/client/components/router-reducer/aliased-prefetch-navigations.ts
  packages/next/src/client/components/router-reducer/reducers/navigate-reducer.ts
  test/e2e/app-dir/searchparams-reuse-loading/app/mpa-navs/page.tsx
  test/e2e/app-dir/searchparams-reuse-loading/app/route-handler/route.ts
  test/e2e/app-dir/searchparams-reuse-loading/app/search/layout.tsx
  test/e2e/app-dir/searchparams-reuse-loading/pages/pages-dir.tsx
  test/e2e/app-dir/searchparams-reuse-loading/searchparams-reuse-loading.test.ts
Labels: type: next, created-by: Next.js team, tests

#76922 chore(github): add moar labels
  .github/ISSUE_TEMPLATE/1.bug_report.yml
Labels: created-by: Next.js team

#76862 [dev-overlay] Dim ignore-listed callstack frames when shown
  packages/next/src/client/components/react-dev-overlay/ui/components/call-stack-frame/call-stack-frame.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/call-stack/call-stack.tsx
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#76798 [test] Use new Redbox matchers in pages/ client-navigation/rendering
  test/development/pages-dir/client-navigation/rendering.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#76908 docs: fix create-next-app cli title
  docs/02-pages/03-api-reference/05-cli/create-next-app.mdx
Labels: Documentation

#76939 fix(turbopack): Fix the span of a magic comment
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/27/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/46/output.js
  crates/next-custom-transforms/tests/fixture/source-maps/server-graph/use-cache/1/output.map
Labels: Turbopack, created-by: Turbopack team

#76921 fix(turbo-persistence): Update qfilter to 0.2.3 to fix CapacityExceeded panic
  Cargo.lock
  turbopack/crates/turbo-persistence/Cargo.toml
Labels: created-by: Turbopack team

#76947 de-flake searchparams test
  test/e2e/app-dir/searchparams-reuse-loading/searchparams-reuse-loading.test.ts
Labels: created-by: Next.js team, tests

#76869 Turbopack: JSON is always side effect free
  turbopack/crates/turbopack-json/src/lib.rs
Labels: created-by: Turbopack team

#75304 Production builds: write endpoints all at once
  crates/napi/src/next_api/endpoint.rs
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/utils.rs
  crates/next-api/src/operation.rs
  crates/next-api/src/project.rs
  packages/next/src/build/handle-entrypoints.ts
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
  packages/next/src/build/turbopack-build/impl.ts
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  test/e2e/app-dir/dynamic-io-segment-configs/dynamic-io-segment-configs.test.ts
  test/e2e/app-dir/use-cache-segment-configs/use-cache-segment-configs.test.ts
  test/e2e/app-dir/use-cache-unknown-cache-kind/use-cache-unknown-cache-kind.test.ts
  test/e2e/app-dir/use-cache-without-experimental-flag/use-cache-without-experimental-flag.test.ts
Labels: examples, type: next, create-next-app, Font (next/font), Documentation, Turbopack, created-by: Turbopack team, tests

#76850 Turbopack panics: create discussions with pre-filled errors
  Cargo.lock
  crates/napi/Cargo.toml
  crates/napi/src/lib.rs
  crates/napi/src/next_api/utils.rs
  crates/napi/src/util.rs
Labels: created-by: Turbopack team

#76958 docs(use-cache): add invalidating section to use cache docs
  docs/01-app/04-api-reference/01-directives/use-cache.mdx
Labels: created-by: Next.js team, Documentation

#67482 fix(next/image): use `100% 100%` for placeholder image background-size when object-fit `fill` is used instead of cover
  packages/next/src/shared/lib/get-img-props.ts
  test/integration/next-image-new/app-dir/test/index.test.ts
  test/integration/next-image-new/default/test/index.test.ts
Labels: type: next, tests

#76876 Turbopack: side effect directive
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/directive/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/directive/input/lib/bar.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/directive/input/lib/foo.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/directive/input/lib/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/side-effects-optimization/directive/options.json
Labels: created-by: Turbopack team

#76969 [dev-overlay] Discontinue using `rem` for the UI
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/next-logo.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-nav/error-overlay-nav.tsx
  packages/next/src/client/components/react-dev-overlay/ui/styles/base.tsx
Labels: type: next, CI approved

#76973 [dev-overlay] Customize `<select>` styling for consistency
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
Labels: type: next, CI approved

#76975 [test] consolidate hmr test for react 18.3
  test/development/acceptance/ReactRefreshLogBox.test.ts
Labels: created-by: Next.js team, tests, run-react-18-tests

#76988 [metadata]: add pinterest meta tag
  packages/next/src/lib/metadata/default-metadata.tsx
  packages/next/src/lib/metadata/generate/basic.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/types/extra-types.ts
  packages/next/src/lib/metadata/types/metadata-interface.ts
  test/e2e/app-dir/metadata/app/socials/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: type: next, created-by: Next.js team, tests

#76976 [dev-overlay] ensure stripping overlay bundle in prod build
  packages/next/src/client/components/use-reducer.ts
  test/production/app-dir/browser-chunks/browser-chunks.test.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#76990 Apply env inlining during generate build mode
  packages/next/errors.json
  packages/next/src/build/build-context.ts
  packages/next/src/build/index.ts
  packages/next/src/build/webpack-build/impl.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/lib/inline-static-env.ts
  packages/next/src/server/base-server.ts
  test/e2e/app-dir/app/index.test.ts
  test/lib/e2e-utils/index.ts
  test/lib/next-modes/base.ts
Labels: type: next, created-by: Next.js team, tests

#76904 Turbopack: Implement deploymentId
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/src/next_manifests/client_reference_manifest.rs
  crates/next-core/src/next_manifests/encode_uri_component.rs
  crates/next-core/src/next_manifests/mod.rs
  packages/next/src/compiled/react-server-dom-turbopack-experimental/cjs/react-server-dom-turbopack-client.browser.development.js
  packages/next/src/compiled/react-server-dom-turbopack-experimental/cjs/react-server-dom-turbopack-client.browser.production.js
  packages/next/src/compiled/react-server-dom-turbopack/cjs/react-server-dom-turbopack-client.browser.development.js
  packages/next/src/compiled/react-server-dom-turbopack/cjs/react-server-dom-turbopack-client.browser.production.js
  packages/next/taskfile.js
  test/turbopack-build-tests-manifest.json
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/runtime-base.ts
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_75df6705.js.map
Labels: type: next, Turbopack, created-by: Turbopack team, tests

#76987 docs: update API example
  docs/02-pages/02-building-your-application/03-data-fetching/03-forms-and-mutations.mdx
Labels: Documentation, created-by: Next.js DevEx team

#76915 [metadata] re-insert icons to head for streamed metadata
  packages/next/src/client/components/metadata/server-inserted-metadata.tsx
  packages/next/src/lib/metadata/generate/icons.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/metadata-insertion/create-server-inserted-metadata.tsx
  test/e2e/app-dir/metadata-icons/app/custom-icon/page.tsx
  test/e2e/app-dir/metadata-icons/app/custom-icon/sub/page.tsx
  test/e2e/app-dir/metadata-icons/metadata-icons.test.ts
  test/e2e/app-dir/metadata-icons/public/heart.png
  test/e2e/app-dir/metadata-icons/public/star.png
Labels: type: next, created-by: Next.js team, tests

#77025 docs: add Pinterest Rich Pins metadata example
  docs/01-app/04-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation, CI approved

#77035 Move static-env imports
  packages/next/src/build/index.ts
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/lib/inline-static-env.ts
  packages/next/src/lib/static-env.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/next-server.ts
Labels: type: next, created-by: Next.js team

#77027 [dev-overlay] Add `size` setting to preferences
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/preferences.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/next-logo.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/styles/base.tsx
Labels: type: next, CI approved

#77000 fix(CI): Correctly call test/update-bundler-manifest.js script
  .github/workflows/rspack-update-tests-manifest.yml
  .github/workflows/turbopack-update-tests-manifest.yml
Labels: created-by: Turbopack team

#77038 Add config for only generating static env
  packages/next/src/build/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team

#76960 chore(HMR clients): Clean up and share code between app and pages router
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/pages/hot-reloader-client.ts
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/utils/report-hmr-latency.ts
  packages/next/src/client/dev/amp-dev.ts
  packages/next/src/client/dev/hot-middleware-client.ts
  packages/next/src/client/next-dev-turbopack.ts
  packages/next/src/client/next-dev.ts
Labels: type: next, created-by: Turbopack team, CI Bypass Graphite Optimization

#77044 Add dev warning for cross-origin and stabilize allowedDevOrigins
  docs/01-app/04-api-reference/05-config/01-next-config-js/allowedDevOrigins.mdx
  docs/02-pages/03-api-reference/04-config/01-next-config-js/allowedDevOrigins.mdx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/block-cross-site.ts
Labels: type: next, created-by: Next.js team, Documentation

#77050 chore(github): remove /examples from contribution guidelines, remove examples issue template
  .github/ISSUE_TEMPLATE/2.example_bug_report.yml
  contributing.md
  contributing/examples/adding-examples.md
  contributing/examples/run-example-apps.md
Labels: created-by: Next.js team

#77053 unify allowed origin detection handling
  docs/01-app/04-api-reference/05-config/01-next-config-js/allowedDevOrigins.mdx
  packages/next/src/server/lib/router-utils/block-cross-site.ts
Labels: type: next, created-by: Next.js team, Documentation

#77029 Turbopack: when reading a non yet existing cell from a in progress tasks, wait for the computation to finish
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#77031 Turbopack: wait before reading cells when the task is scheduled
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#77058 Handle hash change in all files for static env
  packages/next/src/build/index.ts
  packages/next/src/lib/inline-static-env.ts
Labels: type: next, created-by: Next.js team

#77048 Turbopack: don't call individual() again
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: created-by: Turbopack team

#77051 Turbopack: create module graph strongly consistent
  crates/next-api/src/project.rs
Labels: Turbopack, created-by: Turbopack team

#77052 Turbopack: Vc stability of ModuleGraph
  crates/next-api/src/app.rs
  crates/next-api/src/project.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
Labels: Turbopack, created-by: Turbopack team

#77080 Turbopack: fix corrected time calcuation for trace server
  turbopack/crates/turbopack-trace-server/src/self_time_tree.rs
  turbopack/crates/turbopack-trace-server/src/span_ref.rs
Labels: created-by: Turbopack team

#77078 [dev-overlay] highlight errored code line for runtime errors
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/code-frame.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/parse-code-frame.test.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/parse-code-frame.ts
  packages/next/src/client/components/react-dev-overlay/ui/container/runtime-error/component-stack-pseudo-html.tsx
Labels: type: next, created-by: Next.js team, tests

#77081 NFT: Ignore all of Webpack
  packages/next/src/build/collect-build-traces.ts
Labels: type: next, created-by: Turbopack team

#77087 Turbopack: fewer manifests for static metadata
  crates/next-api/src/app.rs
  test/e2e/app-dir/use-cache-metadata-route-handler/use-cache-metadata-route-handler.test.ts
  test/turbopack-build-tests-manifest.json
Labels: Turbopack, created-by: Turbopack team, tests

#77056 Alternate bundler: use built-in minifiers
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Turbopack team

#77099 [ts-hint] fix vscode type hint plugin enabling
  packages/next/src/server/typescript/index.ts
Labels: type: next, created-by: Next.js team

#77095 fix: fixes double encoded parameters when deployed to Vercel
  packages/next/src/server/base-server.ts
  packages/next/src/server/lib/decode-query-path-parameter.ts
Labels: type: next, created-by: Next.js team

#77072 [dev-overlay] Fix "Hide" preference setting ARIA labelling
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
Labels: type: next, CI approved

#77103 Revert "Update rust toolchain to 2025-03-12"
  rust-toolchain.toml
  turbopack/crates/turbo-tasks-auto-hash-map/src/lib.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_operation_method_self_type.stderr
  turbopack/crates/turbo-tasks-memory/src/lib.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbopack-css/src/process.rs
  turbopack/crates/turbopack-dev-server/src/http.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/swc_comments.rs
  turbopack/crates/turbopack-ecmascript/src/utils.rs
  turbopack/crates/turbopack-node/src/lib.rs
  turbopack/crates/turbopack-trace-server/src/store.rs
Labels: created-by: Turbopack team

#77111 Turbopack: move must_use to actually have an effect
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
Labels: created-by: Turbopack team

#76441 Turbopack: align chunking with graph entries
  crates/next-api/src/app.rs
  crates/next-api/src/instrumentation.rs
  crates/next-api/src/middleware.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/project.rs
  crates/next-core/src/next_server_utility/mod.rs
  crates/next-core/src/next_server_utility/server_utility_reference.rs
  turbopack/crates/turbo-tasks/src/task/task_input.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-cli/src/dev/web_entry_source.rs
  turbopack/crates/turbopack-core/src/module_graph/chunk_group_info.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-dev-server/src/html.rs
  turbopack/crates/turbopack-node/src/evaluate.rs
  turbopack/crates/turbopack-node/src/lib.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
Labels: Turbopack, created-by: Turbopack team

#76593 Turbopack: ChunkGroup in evaluated_chunk_group
  crates/next-api/src/app.rs
  crates/next-api/src/instrumentation.rs
  crates/next-api/src/middleware.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/next_app/app_client_shared_chunks.rs
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-dev-server/src/html.rs
  turbopack/crates/turbopack-ecmascript/src/worker_chunk/chunk_item.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
Labels: Turbopack, created-by: Turbopack team

#77084 Fix JSDoc comment for `'seconds'` cache life profile
  packages/next/cache.d.ts
Labels: type: next, created-by: Next.js team

#77112 Turbopack: `charset=utf-8` in data-url source maps
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
Labels: created-by: Turbopack team

#76994 refactor(HMR clients): Encapsulate some of the turbopack state tracking into a shared TurbopackHmr class
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/pages/hot-reloader-client.ts
  packages/next/src/client/components/react-dev-overlay/utils/turbopack-hot-reloader-common.ts
  packages/next/src/server/dev/extract-modules-from-turbopack-message.ts
Labels: type: next, created-by: Turbopack team, CI Bypass Graphite Optimization

#77135 Slightly improve error handling for unknown server actions
  packages/next/errors.json
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/action-utils.ts
  test/e2e/app-dir/actions/app-action.test.ts
Labels: type: next, created-by: Next.js team, tests

#77059 Add alternate bundler plugin information to `next info`
  packages/next/src/cli/next-info.ts
Labels: type: next, created-by: Turbopack team

#77136 docs(scripts): update Script -> beforeInteractive docs
  docs/01-app/04-api-reference/02-components/script.mdx
Labels: created-by: Next.js team, Documentation

#77134 Add doc for instrumentation client hook
  docs/01-app/04-api-reference/05-config/01-next-config-js/clientInstrumentationHook.mdx
Labels: created-by: Next.js team, Documentation

#77137 docs(scripts): missing 'soon'
  docs/01-app/04-api-reference/02-components/script.mdx
Labels: created-by: Next.js team, Documentation

#77143 doc: diff between instrumentation vs instrumentation-client
  docs/01-app/04-api-reference/05-config/01-next-config-js/clientInstrumentationHook.mdx
Labels: created-by: Next.js team, Documentation

#77144 Alternate bundler: add index.d.ts types to plugin
  packages/next-plugin-rspack/index.d.ts
  packages/next-plugin-rspack/package.json
Labels: created-by: Turbopack team

#77142 Alternate bundler: Add `react-refresh` as a dependency of plugin
  packages/next-plugin-rspack/package.json
  pnpm-lock.yaml
Labels: created-by: Turbopack team

#77155 build: Update `swc_core` to `v16.6.0`
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#77189 [dev-overlay] Fix stacking order of highlighted line
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/code-frame.tsx
Labels: type: next, CI approved

#77187 Allow building node-pty in tests
  test/production/build-spinners/index.test.ts
Labels: created-by: Turbopack team, tests

#76951 Don't mark ppr-errors Turbopack dev tests as failed
  test/e2e/app-dir/ppr-errors/ppr-errors.test.ts
  test/turbopack-dev-tests-manifest.json
Labels: created-by: Turbopack team, tests

#77008 fix(styled-jsx): Pass `useLightningcss` option to `styled-jsx` correctly
  crates/next-custom-transforms/src/chain_transforms.rs
  crates/next-custom-transforms/tests/full.rs
  packages/next/src/build/swc/options.ts
Labels: type: next, Turbopack, created-by: Turbopack team

#77094 Turbopack: fix graph layout segment optimization
  crates/next-api/src/app.rs
Labels: Turbopack, created-by: Turbopack team

#76877 Turbopack: split up server actions modules for better treeshaking
  Cargo.lock
  crates/napi/src/next_api/project.rs
  crates/next-api/src/module_graph.rs
  crates/next-api/src/server_actions.rs
  crates/next-core/src/next_shared/transforms/mod.rs
  crates/next-core/src/next_shared/transforms/server_actions.rs
  crates/next-custom-transforms/Cargo.toml
  crates/next-custom-transforms/src/chain_transforms.rs
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/errors.rs
  crates/next-custom-transforms/tests/fixture.rs
  crates/next-custom-transforms/tests/fixture/server-actions/client-graph/turbopack/1/input.js
  crates/next-custom-transforms/tests/fixture/server-actions/client-graph/turbopack/1/output.js
  crates/next-custom-transforms/tests/fixture/source-maps/turbopack/client-graph/development/server-actions/1/input.js
  crates/next-custom-transforms/tests/fixture/source-maps/turbopack/client-graph/development/server-actions/1/output.js
  crates/next-custom-transforms/tests/fixture/source-maps/turbopack/client-graph/development/server-actions/1/output.map
  crates/next-custom-transforms/tests/fixture/source-maps/turbopack/client-graph/production/server-actions/1/input.js
  crates/next-custom-transforms/tests/fixture/source-maps/turbopack/client-graph/production/server-actions/1/output.js
  crates/next-custom-transforms/tests/fixture/source-maps/turbopack/client-graph/production/server-actions/1/output.map
  test/production/app-dir/actions-tree-shaking/basic/basic.test.ts
  test/production/app-dir/actions-tree-shaking/basic/next.config.js
  test/production/app-dir/actions-tree-shaking/client-actions-tree-shaking/next.config.js
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/mixed-module-actions.test.ts
  test/production/app-dir/actions-tree-shaking/mixed-module-actions/next.config.js
  test/production/app-dir/actions-tree-shaking/reexport/next.config.js
  test/production/app-dir/actions-tree-shaking/reexport/reexport.test.ts
  test/production/app-dir/actions-tree-shaking/shared-module-actions/next.config.js
  test/production/app-dir/actions-tree-shaking/shared-module-actions/shared-module-actions.test.ts
  test/production/app-dir/actions-tree-shaking/use-effect-actions/next.config.js
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/transform/mod.rs
Labels: Turbopack, created-by: Turbopack team, tests

#77191 Turbopack: conditional parse in apply_module_type
  turbopack/crates/turbopack/src/lib.rs
Labels: created-by: Turbopack team

#77147 [dev-overlay] remove special handling for missing tag error
  packages/next/src/client/app-index.tsx
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/app/client-entry.tsx
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay/error-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/root-layout-missing-tags-error.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/root-layout-missing-tags-error.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/runtime-error/render-error.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
  packages/next/src/client/lib/is-error-thrown-while-rendering-rsc.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  packages/next/src/shared/lib/errors/constants.ts
  test/development/app-dir/missing-required-html-tags/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#77194 build: Update `swc_core` to `v16.6.2`
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#75351 Turbopack: more tracing
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
Labels: created-by: Turbopack team

#76974 Better failure tracking for middleware-custom-matchers-i18n
  test/e2e/middleware-custom-matchers-i18n/test/index.test.ts
  test/rspack-build-tests-manifest.json
  test/rspack-dev-tests-manifest.json
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: created-by: Turbopack team, tests

#77205 chore(react-dev-overlay): Remove confusingly underscored variables in `useErrorOverlayReducer`
  packages/next/src/client/components/react-dev-overlay/shared.ts
Labels: type: next, created-by: Turbopack team

#77201 Update middleware request header
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/server-ipc/utils.ts
  packages/next/src/server/web/sandbox/context.ts
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#77202 [backport] Update middleware request header
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/server-ipc/utils.ts
  packages/next/src/server/web/sandbox/context.ts
  test/e2e/middleware-general/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#77057 Add example for alternate bundler
  examples/with-rspack/.gitignore
  examples/with-rspack/README.md
  examples/with-rspack/app/layout.tsx
  examples/with-rspack/app/page.tsx
  examples/with-rspack/next.config.js
  examples/with-rspack/package.json
  examples/with-rspack/tsconfig.json
Labels: examples, created-by: Turbopack team

#77212 Update default allowed origins list
  packages/next/src/server/lib/router-server.ts
Labels: type: next, created-by: Next.js team

#77210 Ensure deploymentId is used for CSS preloads
  packages/next/src/shared/lib/lazy-dynamic/preload-chunks.tsx
Labels: type: next, created-by: Next.js team

#77222 fix(test/e2e/prerender): Remove race condition in test
  test/e2e/prerender.test.ts
  test/e2e/prerender/pages/fallback-only/[slug].js
Labels: created-by: Turbopack team, tests

#75049 [Turbopack] basic production chunking for CSS
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  test/e2e/app-dir/app-css/index.test.ts
  test/e2e/app-dir/css-order/app/nav.tsx
  test/e2e/app-dir/css-order/app/vendor/node_modules/my-dep2/index.js
  test/e2e/app-dir/css-order/app/vendor/node_modules/my-dep2/index.module.css
  test/e2e/app-dir/css-order/app/vendor/node_modules/my-dep2/package.json
  test/e2e/app-dir/css-order/app/vendor/page.module.css
  test/e2e/app-dir/css-order/app/vendor/page.tsx
  test/e2e/app-dir/css-order/css-order.test.ts
  test/production/pages-dir/production/fixture/components/dynamic-css/shared-css-module/with-css-2.js
  test/production/pages-dir/production/fixture/components/dynamic-css/shared-css-module/with-css.js
  test/production/pages-dir/production/test/dynamic.ts
  test/turbopack-build-tests-manifest.json
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/ordered_production.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
Labels: Turbopack, created-by: Turbopack team, tests

#77242 Turbopack: don't include AMP optimizer in NFT
  packages/next/src/server/post-process.ts
  test/integration/amp-export-validation/test/index.test.js
  test/integration/amphtml-custom-optimizer/test/index.test.js
  test/integration/amphtml-custom-validator/test/index.test.js
  test/integration/amphtml-fragment-style/test/index.test.js
  test/integration/amphtml-ssg/test/index.test.js
  test/integration/amphtml/test/index.test.js
Labels: type: next, created-by: Turbopack team, tests

#76885 Server actions should not read stale data after calling `revalidate*`
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache/app/cache-tag/page.tsx
  test/e2e/app-dir/use-cache/app/revalidate-and-redirect/page.tsx
  test/e2e/app-dir/use-cache/app/revalidate-and-redirect/redirect/page.tsx
  test/e2e/app-dir/use-cache/app/revalidate-and-use/form.tsx
  test/e2e/app-dir/use-cache/app/revalidate-and-use/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, tests, CI Bypass Graphite Optimization
