Repository vercel/next.js, pull requests merged in 2025-07, with the labels that each got.

#80860 Turbopack: Improve compaction in Persistent Caching
  turbopack/crates/turbo-persistence-tools/src/main.rs
  turbopack/crates/turbo-persistence/src/compaction/interval_map.rs
  turbopack/crates/turbo-persistence/src/compaction/mod.rs
  turbopack/crates/turbo-persistence/src/compaction/selector.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
Labels: Turbopack, created-by: Turbopack team

#81078 Turbopack: instrument scope hoisting with tracing spans
  turbopack/crates/turbopack-cli/benches/small_apps.rs
  turbopack/crates/turbopack-cli/src/arguments.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#81037 [node-webstreams] Remove unused PagesApi matching condition when setting react-server
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/context.rs
Labels: created-by: Next.js team, Turbopack

#81039 [node-webstreams] Remove unused App externals from next-server bundler config
  packages/next/next-runtime.webpack-config.js
Labels: type: next, created-by: Next.js team

#80981 perf(turbopack): Disable `concurrent` of the SWC minifier.
  Cargo.lock
  crates/napi/Cargo.toml
  turbopack/crates/turbopack-ecmascript/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#81112 Revert "perf(turbopack/rcstr): Add serialization-time optimization (#78645)"
  Cargo.lock
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-rcstr/Cargo.toml
  turbopack/crates/turbo-rcstr/src/lib.rs
  turbopack/crates/turbo-rcstr/src/serde.rs
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/database/key_value_database.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
  turbopack/crates/turbo-tasks-backend/src/interning_serde/mod.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#81075 Turbopack: apply browserslist config in dev
  packages/next/src/server/dev/hot-reloader-turbopack.ts
Labels: type: next, created-by: Turbopack team

#80990 Turbopack: also inline env vars with undefined value
  crates/napi/src/next_api/project.rs
  crates/next-api/src/project.rs
  crates/next-build/src/build_options.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  crates/next-core/src/util.rs
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
Labels: type: next, Turbopack, created-by: Turbopack team, Rspack

#81127 Fix flakey devtools test
  test/development/client-dev-overlay/index.test.ts
  test/development/client-dev-overlay/pages/index.js
  test/lib/next-test-utils.ts
Labels: created-by: Turbopack team, tests

#81079 [turbopack] Defend against json cyles in our execution tests
  turbopack/crates/turbopack-tests/js/jest-entry.ts
Labels: Turbopack, created-by: Turbopack team

#81134 Update workflows for nextjs-bot
  .github/labeler.json
  .github/workflows/update_react.yml
  scripts/automated-update-workflow.js
  scripts/start-release.js
Labels: created-by: Next.js team

#81138 Update nextjs-bot config
  .github/workflows/update_react.yml
  scripts/automated-update-workflow.js
  scripts/start-release.js
Labels: created-by: Next.js team

#81090 [turbopack] Remove some unnecessary awaits now that FileSystemPath is synchronously available.
  turbopack/crates/turbopack-core/src/condition.rs
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
  turbopack/crates/turbopack-resolve/src/resolve.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
Labels: Turbopack, created-by: Turbopack team

#80979 Docs: moved table for Unsupported Metadata to the correct location
  docs/01-app/03-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation

#81098 fix(next-swc): Apply SWC minifier bugfixes
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#81115 [segment explorer] reset error and not-found boundary
  packages/next/src/next-devtools/userspace/app/segment-explorer-node.tsx
Labels: type: next, created-by: Next.js team

#81118 Turbopack: simplify `ReducedGraphs` and `find_server_entries`
  crates/next-api/src/app.rs
  crates/next-api/src/module_graph.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
Labels: Turbopack, created-by: Turbopack team

#81153 [turbopack] Remove an unnecessary clone
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: Turbopack, created-by: Turbopack team

#81150 [turbopack] Move static type ID variables into getters
  turbopack/crates/turbo-tasks-macros-shared/src/ident.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
  turbopack/crates/turbo-tasks/src/completion.rs
  turbopack/crates/turbopack-node/src/evaluate.rs
  turbopack/crates/turbopack-node/src/render/render_proxy.rs
  turbopack/crates/turbopack-node/src/render/render_static.rs
Labels: Turbopack, created-by: Turbopack team

#80822 refactor(turbo-tasks-backend): Remove `ExecuteContextImpl::lower_read_transaction`
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/database/fresh_db_optimization.rs
  turbopack/crates/turbo-tasks-backend/src/database/key_value_database.rs
  turbopack/crates/turbo-tasks-backend/src/database/lmdb/mod.rs
  turbopack/crates/turbo-tasks-backend/src/database/noop_kv.rs
  turbopack/crates/turbo-tasks-backend/src/database/read_transaction_cache.rs
  turbopack/crates/turbo-tasks-backend/src/database/startup_cache.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
Labels: Turbopack, created-by: Turbopack team

#81160 [dynamicIO] recognize prerender interrupted errors as well known
  packages/next/src/server/app-render/create-error-handler.tsx
Labels: type: next, created-by: Next.js team

#81164 Remove unneccesary step that's making workflow fail
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Turbopack team

#81040 [node-webstreams] Exhaustive React aliases in App Router
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/context.rs
  packages/next/errors.json
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/build/handle-externals.ts
  packages/next/src/build/swc/options.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack-config.ts
Labels: type: next, created-by: Next.js team, Turbopack, CI Bypass Graphite Optimization, Rspack

#81129 Update caching.mdx
  docs/01-app/02-guides/caching.mdx
Labels: Documentation

#81179 build(turbopack): Update `swc_core` to `v30.0.1`
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  crates/wasm/Cargo.toml
  turbopack/crates/turbopack-tests/tests/snapshot/swc_transforms/preset_env/options.json
Labels: Turbopack, created-by: Turbopack team

#81181 Turbopack: rename simple tree shaking
  turbopack/crates/turbopack-ecmascript/src/export_usage.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
Labels: Turbopack, created-by: Turbopack team

#81175 perf(turbopack): let some Clone be conditional in insert_alias_option
  crates/next-core/src/next_import_map.rs
Labels: Turbopack

#80974 [segment explorer] custom tooltip
  packages/next/.storybook/main.ts
  packages/next/package.json
  packages/next/src/next-devtools/components/tooltip.stories.tsx
  packages/next/src/next-devtools/components/tooltip.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/overlay/styles.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#80915 Migrate usage of web-server in edge-ssr
  crates/next-core/src/next_pages/page_entry.rs
  packages/next/errors.json
  packages/next/src/build/define-env.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/templates/edge-ssr.ts
  packages/next/src/build/turbopack-build/impl.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/server/route-modules/route-module.ts
  packages/next/src/server/web/adapter.ts
  test/development/basic/next-rs-api.test.ts
Labels: type: next, created-by: Next.js team, Font (next/font), Turbopack, tests, Rspack

#81095 Turbopack: Rewrite IntervalMap using a BTreeMap
  turbopack/crates/turbo-persistence/src/compaction/interval_map.rs
  turbopack/crates/turbo-persistence/src/compaction/mod.rs
  turbopack/crates/turbo-persistence/src/compaction/naive_interval_map.rs
  turbopack/crates/turbo-persistence/src/compaction/selector.rs
  turbopack/crates/turbo-persistence/src/db.rs
Labels: Turbopack, created-by: Turbopack team

#81195 [segment explorer] fix route path in top navbar
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
Labels: type: next, created-by: Next.js team

#81207 Only retry deploy tests for canary
  .github/workflows/retry_deploy_test.yml
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Next.js team

#81210 Skip alert as well for non-canary e2e deploy
  .github/workflows/retry_deploy_test.yml
Labels: created-by: Next.js team

#81214 Turbopack: add `EcmascriptExports::Unknown`
  .prettierignore
  turbopack/crates/turbopack-ecmascript/src/chunk/placeable.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export-parse-error/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export-parse-error/input/invalid-export/broken.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export-parse-error/input/invalid-export/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export-parse-error/issues/Parsing ecmascript source code failed-2cef13.txt
  turbopack/crates/turbopack-tests/tests/execution/turbopack/exports/invalid-export-parse-error/options.json
Labels: Turbopack, created-by: Turbopack team

#81189 Sync NFT test suite from upstream
  turbopack/crates/turbopack/tests/node-file-trace.rs
  turbopack/crates/turbopack/tests/node-file-trace/integration/apollo.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/aws-sdk3.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/datadog-pprof.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/express-template-engine.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/firebase.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/geoip-lite.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/lighthouse.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/otel-api.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/serialport.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/shiki.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/socket.io.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/vue.js
  turbopack/crates/turbopack/tests/node-file-trace/integration/zeromq.js
  turbopack/crates/turbopack/tests/node-file-trace/package.json
  turbopack/crates/turbopack/tests/node-file-trace/pnpm-lock.yaml
Labels: Turbopack, created-by: Turbopack team

#80616 docs: Getting started pages and search params
  docs/01-app/01-getting-started/03-layouts-and-pages.mdx
  docs/01-app/03-api-reference/03-file-conventions/dynamic-routes.mdx
  docs/01-app/03-api-reference/03-file-conventions/layout.mdx
  docs/01-app/03-api-reference/03-file-conventions/page.mdx
  docs/01-app/03-api-reference/04-functions/use-search-params.mdx
Labels: Documentation, created-by: Next.js DevEx team

#81221 chore(turbopack): Remove unused dependencies reported by cargo-shear
  Cargo.lock
  Cargo.toml
  crates/wasm/Cargo.toml
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-ecmascript/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#81174 Docs/after function mdx fix
  docs/01-app/03-api-reference/04-functions/after.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80939 Turbopack: exclude resolve-rewrites if possible
  packages/next/src/build/create-compiler-aliases.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/shared/lib/router/router.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests, Rspack

#81203 Docs: include effect in docs for default optimized libraries
  docs/01-app/03-api-reference/05-config/01-next-config-js/optimizePackageImports.mdx
Labels: Documentation

#81228 [devtool] styling fixes
  packages/next/src/next-devtools/dev-overlay/components/overlay/styles.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
Labels: type: next, created-by: Next.js team

#81185 Update caching.mdx
  docs/01-app/02-guides/caching.mdx
Labels: Documentation

#81248 Fix NEXT_CPU_PROF during development
  packages/next/src/server/lib/start-server.ts
Labels: type: next, created-by: Turbopack team

#81236 [devtool] css imports and share css variables
  packages/next/next-devtools.webpack-config.js
  packages/next/package.json
  packages/next/src/build/webpack/loaders/devtool/devtool-style-inject.js
  packages/next/src/next-devtools/components/tooltip.css
  packages/next/src/next-devtools/components/tooltip.stories.tsx
  packages/next/src/next-devtools/components/tooltip.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
  packages/next/src/next-devtools/dev-overlay/components/shadow-portal.tsx
  packages/next/src/next-devtools/dev-overlay/components/toast/index.tsx
  packages/next/src/next-devtools/dev-overlay/components/toast/style.css
  packages/next/src/next-devtools/dev-overlay/components/toast/styles.ts
  packages/next/src/next-devtools/dev-overlay/styles/component-styles.tsx
  packages/next/src/next-devtools/entrypoint.ts
  packages/next/src/next-devtools/global.css
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, Rspack

#81244 Turbopack: prevent ParseResult recomputation
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
Labels: Turbopack, created-by: Turbopack team

#81209 Update matching query and route param handling
  packages/next/src/build/templates/app-route.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/route-modules/route-module.ts
  packages/next/src/server/server-utils.ts
  packages/next/src/server/web-server.ts
Labels: type: next, created-by: Next.js team, Rspack

#81263 bugfix: propagate staleTime to seeded prefetch entry
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  test/e2e/app-dir/app-prefetch/app/page.js
  test/e2e/app-dir/app-prefetch/app/static-page-no-prefetch/page.js
  test/e2e/app-dir/app-prefetch/prefetching.stale-times.test.ts
Labels: type: next, created-by: Next.js team, tests

#81266 [backport] bugfix: propagate staleTime to seeded prefetch entry (#81263)
  packages/next/src/client/components/router-reducer/create-initial-router-state.ts
  packages/next/src/client/components/router-reducer/prefetch-cache-utils.ts
  test/e2e/app-dir/app-prefetch/app/page.js
  test/e2e/app-dir/app-prefetch/app/static-page-no-prefetch/page.js
  test/e2e/app-dir/app-prefetch/prefetching.stale-times.test.ts
Labels: type: next, created-by: Next.js team, tests

#81265 Ensure resolvedPathname normalizes trailing slash
  packages/next/src/build/templates/pages.ts
  packages/next/src/server/route-modules/route-module.ts
Labels: type: next, created-by: Next.js team, Rspack

#81141 [turbopack] Remove unused no_move_vec code
  turbopack/crates/turbo-tasks/src/no_move_vec.rs
  turbopack/crates/turbo-tasks/src/util.rs
Labels: Turbopack, created-by: Turbopack team

#81279 perf(turbopack): Make `File` => json faster
  turbopack/crates/turbo-tasks-fs/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#81304 Turbopack: fix instrumentation-edge layer name
  crates/next-api/src/project.rs
Labels: Turbopack, created-by: Turbopack team

#73737 Current behavior for module evaluation sourcemapping
  test/e2e/app-dir/non-root-project-monorepo/non-root-project-monorepo.test.ts
  test/e2e/app-dir/server-source-maps/fixtures/default/app/module-evaluation/module.js
  test/e2e/app-dir/server-source-maps/fixtures/default/app/module-evaluation/page.js
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
Labels: created-by: Next.js team, tests

#81229 [sourcemaps] ignore-list Webpack runtime
  packages/next/src/build/webpack/plugins/devtools-ignore-list-plugin.ts
  packages/next/src/build/webpack/plugins/eval-source-map-dev-tool-plugin.ts
Labels: type: next, created-by: Next.js team, CI Bypass Graphite Optimization, Rspack

#81231 [sourcemaps] Ignore-list sources whose sourcemaps ignore-list everything
  packages/next/src/build/webpack/plugins/wellknown-errors-plugin/parseNotFoundError.ts
  packages/next/src/server/dev/middleware-webpack.ts
  packages/next/src/server/patch-error-inspect.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/development/acceptance/error-recovery.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/pages-dir/client-navigation/rendering.test.ts
  test/e2e/app-dir/non-root-project-monorepo/non-root-project-monorepo.test.ts
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
Labels: type: next, create-next-app, created-by: Next.js team, Turbopack, tests, Rspack

#81277 [dynamicIO] Use owner stacks for dynamic validation errors
  packages/next/src/export/index.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/entry-base.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/node-environment-extensions/utils.tsx
  packages/next/src/server/route-modules/app-route/module.ts
  test/development/app-dir/dynamic-io-dev-errors/dynamic-io-dev-errors.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.platform-dynamic.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.sync-attribution.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.test.ts
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-random-without-fallback/app/page.tsx
  test/production/app-dir/build-output-prerender/build-output-prerender.test.ts
Labels: type: next, created-by: Next.js team, tests

#81323 fix(docs): correct section count from 4 to 3 in intro
  docs/index.mdx
Labels: Documentation

#81338 Remove incorrect PostCSS config type
  docs/01-app/02-guides/tailwind-css.mdx
Labels: Documentation

#81333 Remove duplicate CSS properties
  packages/create-next-app/templates/app/js/app/page.module.css
  packages/create-next-app/templates/app/ts/app/page.module.css
Labels: create-next-app

#81310 [refactor] Move sourcemapping logic to dedicated file
  package.json
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/middleware-turbopack.ts
  packages/next/src/server/dev/middleware-webpack.ts
  packages/next/src/server/lib/source-maps.ts
  packages/next/src/server/patch-error-inspect.ts
  patches/@types__node@20.17.6.patch
  pnpm-lock.yaml
  test/production/app-dir/browser-chunks/browser-chunks.test.ts
Labels: type: next, created-by: Next.js team, tests

#81311 [sourcemaps] Improve ignore-listing performance
  packages/next/src/server/dev/middleware-webpack.ts
  packages/next/src/server/lib/source-maps.ts
  packages/next/src/server/patch-error-inspect.ts
Labels: type: next, created-by: Next.js team

#81312 [test] Dedicate suite for React's Server Request performance track
  test/development/app-dir/react-performance-track/app/fetch/page.tsx
  test/development/app-dir/react-performance-track/app/layout.tsx
  test/development/app-dir/react-performance-track/app/page.tsx
  test/development/app-dir/react-performance-track/app/set-timeout/page.tsx
  test/development/app-dir/react-performance-track/instrumentation-client.ts
  test/development/app-dir/react-performance-track/next.config.js
  test/development/app-dir/react-performance-track/react-performance-track.test.ts
Labels: created-by: Next.js team, tests

#81358 reverts test copy change in dynamicIO tests
  test/e2e/app-dir/dynamic-io-errors/fixtures/lazy-module-init/app/serial-client-sync-io/page.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/lazy-module-init/app/server/client-lazy-now-1.ts
  test/e2e/app-dir/dynamic-io-errors/fixtures/lazy-module-init/app/server/client-lazy-now-2.ts
  test/e2e/app-dir/dynamic-io-errors/fixtures/lazy-module-init/app/server/client-lazy-now-3.ts
  test/e2e/app-dir/dynamic-io-errors/fixtures/lazy-module-init/app/server/indirection.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/lazy-module-init/app/server/page.tsx
Labels: created-by: Next.js team, tests

#81296 [devtool] handle click outscope child element
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/utils.ts
Labels: type: next, created-by: Next.js team

#81297 [devtool] inject css as styleTag rather than singletonStyleTag
  packages/next/next-devtools.webpack-config.js
Labels: type: next, created-by: Next.js team, Rspack

#81253 Fix duplicates in `optimizePackageImports` `effect` packages
  packages/next/src/server/config.ts
Labels: type: next

#81233 feat: resizable panel
  packages/next/.storybook/main.ts
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/devtools-panel-footer.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/devtools-panel.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/resize/resize-handle.css
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/resize/resize-handle.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/resize/resize-provider.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/draggable.tsx
  packages/next/src/next-devtools/dev-overlay/components/overlay/overlay.tsx
Labels: type: next, create-next-app, created-by: Next.js team, Documentation, Turbopack, tests, Rspack

#81318 Turbopack: make stats.json useable
  crates/next-api/src/app.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/webpack_stats.rs
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#81388 [dynamicIO] Track module loading in dev always
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team

#81362 fix(turbopack): external script should under async module
  turbopack/crates/turbopack-ecmascript/src/references/external_module.rs
Labels: Turbopack

#81334 Add Biome example
  examples/with-biome/.gitignore
  examples/with-biome/README.md
  examples/with-biome/app/layout.tsx
  examples/with-biome/app/page.tsx
  examples/with-biome/biome.json
  examples/with-biome/package.json
  examples/with-biome/tsconfig.json
Labels: examples

#81202 Turbopack: fix incorrect graph state bug
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
  turbopack/crates/turbo-tasks-backend/tests/bug2.rs
Labels: Turbopack, created-by: Turbopack team

#81376 [build] remove devtool from client chunks in prod
  packages/next/src/client/app-globals.ts
  packages/next/src/client/app-index.tsx
  packages/next/src/client/app-next-turbopack.ts
  packages/next/src/client/react-client-callbacks/error-boundary-callbacks.ts
  packages/next/src/client/react-client-callbacks/on-recoverable-error.ts
  packages/next/src/next-devtools/userspace/app/errors/index.ts
  packages/next/src/next-devtools/userspace/app/errors/stitched-error.ts
  test/production/app-dir/browser-chunks/browser-chunks.test.ts
Labels: type: next, created-by: Next.js team, tests

#81373 [test] Avoid flaky assertions due to dynamic metadata
  test/e2e/app-dir/metadata/app/cache-deduping/page.tsx
  test/e2e/app-dir/metadata/metadata.test.ts
Labels: created-by: Next.js team, tests

#81139 fix(turbopack) Adjust tree loader to respect parent module overrides
  crates/next-core/src/app_structure.rs
  test/e2e/app-dir/not-found-with-layout-and-group-not-found/app/(main)/layout.js
  test/e2e/app-dir/not-found-with-layout-and-group-not-found/app/(main)/not-found.js
  test/e2e/app-dir/not-found-with-layout-and-group-not-found/app/(main)/page.js
  test/e2e/app-dir/not-found-with-layout-and-group-not-found/app/layout.js
  test/e2e/app-dir/not-found-with-layout-and-group-not-found/app/not-found.js
  test/e2e/app-dir/not-found-with-layout-and-group-not-found/index.test.ts
  test/e2e/app-dir/not-found-with-nested-layouts/app/(main)/layout.js
  test/e2e/app-dir/not-found-with-nested-layouts/app/(main)/page.js
  test/e2e/app-dir/not-found-with-nested-layouts/app/layout.js
  test/e2e/app-dir/not-found-with-nested-layouts/app/not-found.js
  test/e2e/app-dir/not-found-with-nested-layouts/index.test.ts
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: Turbopack, created-by: Turbopack team, tests

#81411 Turbopack: remove unused code
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
Labels: Turbopack, created-by: Turbopack team

#81166 Fix auth preflight check when triggering Front sync
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Next.js team

#81425 [turbopack] Install late loaded script and link tags at the end of the `head` instead of the end of the `body`
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/dom/runtime-backend-dom.ts
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_73aab4ae.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_73aab4ae.js.map
Labels: Turbopack, created-by: Turbopack team

#80881 refactor(turbopack/napi): Add a NextTurbopackContext type, rename VcArc to DetachedVc
  crates/napi/src/next_api/endpoint.rs
  crates/napi/src/next_api/mod.rs
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/turbopack_ctx.rs
  crates/napi/src/next_api/utils.rs
Labels: Turbopack, created-by: Turbopack team

#81064 [dev-tools] Custom keyboard shortcut to toggle visibility
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/preferences.ts
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/shortcut-recorder.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/utils.ts
  packages/next/src/next-devtools/dev-overlay/components/toast/toast.tsx
  packages/next/src/next-devtools/dev-overlay/hooks/use-shortcuts.ts
  packages/next/src/next-devtools/dev-overlay/styles/component-styles.tsx
Labels: type: next, Font (next/font), Turbopack, CI approved

#81216 chore: update rspack to 1.4.5
  package.json
  packages/next-rspack/package.json
  packages/next/package.json
  packages/next/src/compiled/sass-loader/cjs.js
  pnpm-lock.yaml
  test/development/basic/hmr/run-error-recovery-hmr-test.util.ts
Labels: type: next, tests, Rspack

#81427 [use-cache] track cache read earlier when encrypting bound args
  packages/next/src/server/app-render/encryption.ts
  test/e2e/app-dir/use-cache-hanging-inputs/app/uncached-promise-nested/page.tsx
  test/e2e/app-dir/use-cache-hanging-inputs/app/uncached-promise/page.tsx
Labels: type: next, created-by: Next.js team, tests

#81232 [segment explorer] capture defined boundaries
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
  packages/next/src/next-devtools/dev-overlay/segment-explorer-trie.ts
  packages/next/src/next-devtools/userspace/app/segment-explorer-node.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/segment-explorer-path.ts
  test/development/app-dir/segment-explorer/app/parallel-routes/@foo/not-found.tsx
Labels: type: next, created-by: Next.js team, tests

#81268 [segment explorer] trigger the actual same level boundary
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/next-devtools/userspace/app/segment-explorer-node.tsx
Labels: type: next, created-by: Next.js team, CI Bypass Graphite Optimization

#80967 Unflake `segment cache (CDN cache busting)` redirect test
  test/e2e/app-dir/segment-cache/router-act.ts
Labels: created-by: Next.js team, tests

#81432 Check if target workflow is enabled before triggering front sync
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Turbopack team

#80909 feat: forward browser errors/logs to terminal
  packages/next/package.json
  packages/next/src/build/define-env.ts
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/pages/websocket.ts
  packages/next/src/compiled/safe-stable-stringify/LICENSE
  packages/next/src/compiled/safe-stable-stringify/index.js
  packages/next/src/compiled/safe-stable-stringify/package.json
  packages/next/src/next-devtools/shared/forward-logs-shared.ts
  packages/next/src/next-devtools/userspace/app/app-dev-overlay-setup.ts
  packages/next/src/next-devtools/userspace/app/errors/intercept-console-error.ts
  packages/next/src/next-devtools/userspace/app/errors/use-error-handler.ts
  packages/next/src/next-devtools/userspace/app/errors/use-forward-console-log.ts
  packages/next/src/next-devtools/userspace/app/forward-logs.test.ts
  packages/next/src/next-devtools/userspace/app/forward-logs.ts
  packages/next/src/next-devtools/userspace/app/terminal-logging-config.ts
  packages/next/src/next-devtools/userspace/pages/pages-dev-overlay-setup.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/browser-logs/receive-logs.test.ts
  packages/next/src/server/dev/browser-logs/receive-logs.ts
  packages/next/src/server/dev/browser-logs/source-map.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/middleware-turbopack.ts
  packages/next/src/server/dev/middleware-webpack.ts
  packages/next/src/server/lib/parse-stack.ts
  packages/next/taskfile.js
  packages/next/types/$$compiled.internal.d.ts
  pnpm-lock.yaml
  test/development/browser-logs/browser-logs.test.ts
  test/development/browser-logs/fixtures/app/client-error/page.js
  test/development/browser-logs/fixtures/app/client-log/page.js
  test/development/browser-logs/fixtures/app/edge-deep-stack/page.js
  test/development/browser-logs/fixtures/app/layout.js
  test/development/browser-logs/fixtures/app/server-error/page.js
  test/development/browser-logs/fixtures/app/server-log/page.js
  test/development/browser-logs/fixtures/pages/basic-logs.js
  test/development/browser-logs/fixtures/pages/circular-refs.js
  test/development/browser-logs/fixtures/pages/deep-objects.js
  test/development/browser-logs/fixtures/pages/pages-client-error.js
  test/development/browser-logs/fixtures/pages/pages-client-log.js
  test/development/browser-logs/fixtures/pages/pages-server-error.js
Labels: examples, type: next, create-next-app, created-by: Next.js team, Turbopack, tests, Rspack

#81436 fix: referencing unavailable __dirname
  packages/next/.storybook/main.ts
Labels: type: next, created-by: Next.js team

#81433 Revert "[test] Skip flaky cdn-cache-busting test"
  test/e2e/app-dir/segment-cache/cdn-cache-busting/cdn-cache-busting.test.ts
Labels: created-by: Next.js team, tests

#81413 Turbopack: fix hanging problem due to stale tasks
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
Labels: Turbopack, created-by: Turbopack team

#81447 Upgrade vercel og to 0.7.2
  package.json
  packages/next/src/compiled/@vercel/og/emoji/index.d.ts
  packages/next/src/compiled/@vercel/og/figma/index.d.ts
  packages/next/src/compiled/@vercel/og/index.edge.d.ts
  packages/next/src/compiled/@vercel/og/index.edge.js
  packages/next/src/compiled/@vercel/og/index.node.d.ts
  packages/next/src/compiled/@vercel/og/index.node.js
  packages/next/src/compiled/@vercel/og/package.json
  packages/next/src/compiled/@vercel/og/satori/index.d.ts
  packages/next/src/compiled/@vercel/og/types.d.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#81431 Allow server functions to be used as client component props in `'use cache'`
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/errors/server-actions/server-graph/8/output.js
  crates/next-custom-transforms/tests/fixture/next-font-with-directive/use-cache/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/1/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/16/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/18/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/19/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/2/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/21/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/23/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/24/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/25/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/26/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/27/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/28/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/30/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/32/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/33/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/34/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/35/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/36/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/37/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/38/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/39/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/4/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/40/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/41/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/42/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/43/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/44/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/45/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/46/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/47/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/48/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/49/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/5/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/50/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/51/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/52/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/53/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/54/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/55/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/57/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/58/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/6/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/60/output.ts
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/61/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/7/output.js
  crates/next-custom-transforms/tests/fixture/server-actions/server-graph/8/output.js
  crates/next-custom-transforms/tests/fixture/source-maps/server-graph/use-cache/1/output.js
  crates/next-custom-transforms/tests/fixture/source-maps/server-graph/use-cache/1/output.map
  test/e2e/app-dir/use-cache-with-server-function-props/app/layout.tsx
  test/e2e/app-dir/use-cache-with-server-function-props/app/nested-cache/form.tsx
  test/e2e/app-dir/use-cache-with-server-function-props/app/nested-cache/page.tsx
  test/e2e/app-dir/use-cache-with-server-function-props/app/page.tsx
  test/e2e/app-dir/use-cache-with-server-function-props/app/server-action/form.tsx
  test/e2e/app-dir/use-cache-with-server-function-props/app/server-action/page.tsx
  test/e2e/app-dir/use-cache-with-server-function-props/next.config.js
  test/e2e/app-dir/use-cache-with-server-function-props/use-cache-with-server-function-props.test.ts
  test/ppr-tests-manifest.json
Labels: created-by: Next.js team, Turbopack, tests

#81473 [devtool] dynamically import segment explorer when enabled
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/devtools-panel-tab/segments-explorer-tab.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
Labels: type: next, created-by: Next.js team

#81474 [devtool] patch base-ui and migrate segment explorer inline styles
  package.json
  packages/next/src/build/webpack/loaders/devtool/devtool-style-inject.js
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/devtools-panel-tab/segments-explorer-tab.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/segments-explorer.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.css
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.css
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
  packages/next/src/next-devtools/dev-overlay/styles/component-styles.tsx
  patches/@base-ui-components__react@1.0.0-beta.1.patch
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team, Rspack

#81372 fix(packages/next-bundle-analyzer): file extension of webpack bundle analyzer report
  packages/next-bundle-analyzer/index.js
Labels: type: next

#81434 Turbopack: Use a factory factory (yes, really) to make hanging detection construction lazier
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/invalidate.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
  turbopack/crates/turbo-tasks-fs/benches/mod.rs
  turbopack/crates/turbo-tasks-fs/src/mutex_map.rs
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks/src/effect.rs
  turbopack/crates/turbo-tasks/src/event.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: Turbopack, created-by: Turbopack team

#81204 Turbopack: improve fuzz testing to handle more cases
  turbopack/crates/turbo-tasks-backend/fuzz/src/graph.rs
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: Turbopack, created-by: Turbopack team

#81489 docs: add missing switcher
  docs/01-app/01-getting-started/06-partial-prerendering.mdx
  docs/01-app/01-getting-started/11-css.mdx
  docs/01-app/02-guides/progressive-web-apps.mdx
  docs/01-app/02-guides/upgrading/version-15.mdx
Labels: Documentation, created-by: Next.js DevEx team

#81499 Name patched `fetch` function `fetch`
  packages/next/src/server/lib/patch-fetch.ts
  test/development/app-dir/react-performance-track/react-performance-track.test.ts
Labels: type: next, created-by: Next.js team, tests

#81394 feat(test): introduce cache components testing infrastructure
  .github/workflows/build_and_test.yml
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  test/cache-components-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#81510 Turbopack: fix export-all-as with name collision
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
  turbopack/crates/turbopack-tests/tests/execution/turbopack/scope-hoisting/reexport-all-as/input/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/scope-hoisting/reexport-all-as/input/node_modules/package/index.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/scope-hoisting/reexport-all-as/input/node_modules/package/package.json
  turbopack/crates/turbopack-tests/tests/execution/turbopack/scope-hoisting/reexport-all-as/input/node_modules/package/sub.js
  turbopack/crates/turbopack-tests/tests/execution/turbopack/scope-hoisting/reexport-all-as/options.json
Labels: Turbopack, created-by: Turbopack team

#81508 [turbopack] Improve internal error message when source map retrieval fails
  crates/napi/src/next_api/project.rs
  packages/next/errors.json
  packages/next/src/server/dev/middleware-turbopack.ts
Labels: type: next, created-by: Next.js team, Turbopack

#81344 [sourcemaps] Stop sending stackframes in third-party chunks
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/encryption.ts
  packages/next/src/server/lib/source-maps.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/types/$$compiled.internal.d.ts
  test/development/app-dir/dynamic-io-dev-errors/dynamic-io-dev-errors.test.ts
  test/development/app-dir/owner-stack-react-missing-key-prop/owner-stack-react-missing-key-prop.test.ts
  test/development/app-dir/react-performance-track/app/ReactServerRequests.tsx
  test/development/app-dir/react-performance-track/app/fetch/page.tsx
  test/development/app-dir/react-performance-track/instrumentation-client.ts
  test/development/app-dir/react-performance-track/react-performance-track.test.ts
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
Labels: type: next, create-next-app, created-by: Next.js team, Turbopack, tests, CI Bypass Graphite Optimization, Rspack

#81507 Configure `url` for responses from patched fetch like the original `response.url`
  packages/next/src/server/lib/clone-response.ts
  test/development/app-dir/react-performance-track/react-performance-track.test.ts
Labels: type: next, created-by: Next.js team, tests

#81516 Pass `filterStackFrame` everywhere
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/collect-segment-data.tsx
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/types/$$compiled.internal.d.ts
Labels: type: next, created-by: Next.js team

#81537 Turbopack: refactor ReadRef deref + clone to the intended pattern
  crates/next-api/src/project.rs
  crates/next-core/src/next_app/app_route_entry.rs
  crates/next-core/src/page_loader.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fuzz/src/main.rs
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/resolve/options.rs
  turbopack/crates/turbopack-css/src/process.rs
  turbopack/crates/turbopack-ecmascript/src/manifest/loader_item.rs
  turbopack/crates/turbopack-resolve/src/typescript.rs
Labels: Turbopack, created-by: Turbopack team

#81542 docs: root layout + opengraph-image + cna-eslit vs next lint bootstrap
  docs/01-app/01-getting-started/01-installation.mdx
  docs/01-app/01-getting-started/14-metadata-and-og-images.mdx
  docs/01-app/03-api-reference/03-file-conventions/layout.mdx
Labels: Documentation, created-by: Next.js DevEx team

#81541 Turbopack: fix `@opentelemetry/api` resolve fallback
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/context.rs
  test/integration/edge-runtime-dynamic-code/test/index.test.js
Labels: Turbopack, created-by: Turbopack team, tests

#81302 [segment explorer] redesign file pills and boundary trigger
  packages/next/src/next-devtools/components/tooltip.css
  packages/next/src/next-devtools/components/tooltip.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/utils.ts
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.css
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-boundary-trigger.tsx
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.css
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  test/development/app-dir/segment-explorer/app/no-layout/framework/blog/layout.tsx
  test/development/app-dir/segment-explorer/app/no-layout/framework/blog/not-found.tsx
  test/development/app-dir/segment-explorer/app/no-layout/framework/blog/page.tsx
  test/development/app-dir/segment-explorer/app/no-layout/framework/layout.tsx
  test/development/app-dir/segment-explorer/app/no-layout/not-found.tsx
  test/development/app-dir/segment-explorer/app/parallel-routes/@bar/error.tsx
  test/development/app-dir/segment-explorer/segment-explorer.test.ts
Labels: type: next, created-by: Next.js team, tests, CI Bypass Graphite Optimization

#81554 [sourcemaps] Properly devirtualize `rsc:` URLs
  packages/next/src/server/dev/middleware-turbopack.ts
  packages/next/src/server/dev/middleware-webpack.ts
  packages/next/src/server/lib/source-maps.ts
  test/development/app-dir/dynamic-io-dev-errors/dynamic-io-dev-errors.test.ts
  test/development/app-dir/use-cache-errors/use-cache-errors.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.test.ts
Labels: type: next, created-by: Next.js team, tests

#81546 rename `handleSmoothScroll` util
  packages/next/src/client/components/layout-router.tsx
  packages/next/src/client/index.tsx
  packages/next/src/shared/lib/router/router.ts
  packages/next/src/shared/lib/router/utils/disable-smooth-scroll.ts
Labels: type: next, created-by: Next.js team

#81563 add flag to opt into smooth scroll detection & add warning
  errors/missing-data-scroll-behavior.mdx
  packages/next/src/build/define-env.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/shared/lib/router/utils/disable-smooth-scroll.ts
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy-with-data/app/global.css
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy-with-data/app/layout.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy-with-data/app/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy-with-data/app/page1/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy-with-data/app/page2/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy/app/global.css
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy/app/layout.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy/app/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy/app/page1/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/legacy/app/page2/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized-no-data/app/global.css
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized-no-data/app/layout.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized-no-data/app/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized-no-data/app/page1/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized-no-data/app/page2/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized/app/global.css
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized/app/layout.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized/app/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized/app/page1/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/fixtures/optimized/app/page2/page.tsx
  test/e2e/app-dir/router-disable-smooth-scroll/router-disable-smooth-scroll.legacy.test.ts
  test/e2e/app-dir/router-disable-smooth-scroll/router-disable-smooth-scroll.optimized.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests, Rspack

#81571 fix: revert focus trap dependency change
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/dev-tools-info.tsx
Labels: type: next, created-by: Next.js team

#81593 Temporarily disable failing `fallback-shells` deploy test
  test/e2e/app-dir/fallback-shells/fallback-shells.test.ts
Labels: created-by: Next.js team, tests

#81495 Update help link for inlined use server in client components
  crates/next-custom-transforms/src/transforms/server_actions.rs
  crates/next-custom-transforms/tests/errors/server-actions/client-graph/1/output.stderr
Labels: Turbopack, created-by: Next.js DevEx team

#81619 [sourcemaps] Don't check for vendor chunks when Node.js 18 is used
  packages/next/src/server/lib/source-maps.ts
Labels: type: next, created-by: Next.js team

#81618 15.4 Docs: Minor feature updates
  docs/01-app/03-api-reference/02-components/link.mdx
  docs/01-app/03-api-reference/06-cli/next.mdx
Labels: Documentation, created-by: Next.js DevEx team

#81566 [Segment Cache] Fix isHeadPartial logic
  packages/next/src/client/components/segment-cache-impl/cache.ts
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
Labels: type: next, created-by: Next.js team

#81636 Turbopack: Clean up some of the logic in visit_assign_expr
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
Labels: Turbopack, created-by: Turbopack team

#81577 Use and enforce exhaustive switch statements for work unit store
  .eslintrc.json
  packages/next/errors.json
  packages/next/src/client/components/bailout-to-client-rendering.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/encryption.ts
  packages/next/src/server/app-render/use-flight-response.tsx
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/node-environment-extensions/console-dev.tsx
  packages/next/src/server/node-environment-extensions/utils.tsx
  packages/next/src/server/request/connection.ts
  packages/next/src/server/request/cookies.ts
  packages/next/src/server/request/draft-mode.ts
  packages/next/src/server/request/headers.ts
  packages/next/src/server/request/params.ts
  packages/next/src/server/request/pathname.ts
  packages/next/src/server/request/root-params.ts
  packages/next/src/server/request/search-params.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/cache-life.ts
  packages/next/src/server/use-cache/cache-tag.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  packages/next/src/server/web/spec-extension/revalidate.ts
  packages/next/src/server/web/spec-extension/unstable-cache.ts
  packages/next/src/server/web/spec-extension/unstable-no-store.ts
Labels: type: next, created-by: Next.js team

#81627 [dynamicIO] use RSC dynamicness to control partial vs complete PPR result
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/dynamic-io/app/cases/static-rsc-dynamic-client/client.tsx
  test/e2e/app-dir/dynamic-io/app/cases/static-rsc-dynamic-client/page.tsx
  test/e2e/app-dir/dynamic-io/dynamic-io.test.ts
Labels: type: next, created-by: Next.js team, tests

#81650 Allow `beforePageLoad` to be async
  test/e2e/app-dir/segment-cache/staleness/segment-cache-stale-time.test.ts
  test/lib/browsers/playwright.ts
  test/lib/next-modes/base.ts
  test/lib/next-webdriver.ts
Labels: created-by: Next.js team, tests

#81652 [dynamicIO] Do not use `React.unstable_postpone()`
  packages/next/errors.json
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
Labels: type: next, created-by: Next.js team

#81450 Turbopack: content-hash PageLoaderAsset
  crates/next-api/src/pages.rs
  crates/next-core/src/page_loader.rs
  packages/next/src/build/handle-entrypoints.ts
  packages/next/src/build/turbopack-build/impl.ts
  packages/next/src/server/dev/turbopack-utils.ts
  packages/next/src/shared/lib/constants.ts
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  test/e2e/basepath/basepath.test.ts
  test/integration/client-404/test/index.test.js
  test/integration/error-load-fail/test/index.test.js
  test/integration/link-ref-pages/test/index.test.js
  test/integration/middleware-prefetch/tests/index.test.js
  test/integration/preload-viewport/test/index.test.js
  test/integration/production-browser-sourcemaps/test/index.test.js
  test/lib/next-test-utils.ts
Labels: type: next, Turbopack, created-by: Turbopack team, tests, Rspack

#81672 chore(bot): update comment
  .github/workflows/issue_stale.yml
Labels: created-by: Next.js team

#75290 Add Prisma ORM example to Next.js examples
  examples/prisma-postgres/.gitignore
  examples/prisma-postgres/README.md
  examples/prisma-postgres/app/Header.tsx
  examples/prisma-postgres/app/api/posts/route.ts
  examples/prisma-postgres/app/favicon.ico
  examples/prisma-postgres/app/globals.css
  examples/prisma-postgres/app/layout.tsx
  examples/prisma-postgres/app/page.tsx
  examples/prisma-postgres/app/posts/[id]/page.tsx
  examples/prisma-postgres/app/posts/new/page.tsx
  examples/prisma-postgres/app/posts/page.tsx
  examples/prisma-postgres/app/setup/page.tsx
  examples/prisma-postgres/app/users/new/page.tsx
  examples/prisma-postgres/lib/prisma.ts
  examples/prisma-postgres/next.config.ts
  examples/prisma-postgres/package.json
  examples/prisma-postgres/postcss.config.mjs
  examples/prisma-postgres/prisma/schema.prisma
  examples/prisma-postgres/prisma/seed.ts
  examples/prisma-postgres/tailwind.config.ts
  examples/prisma-postgres/tsconfig.json
Labels: examples

#81673 Fix build-native.ts on Windows
  scripts/build-native.ts
Labels: created-by: Turbopack team

#81146 Fix before interactive incorrectly render css
  packages/next/src/client/app-bootstrap.ts
  test/e2e/app-dir/script-before-interactive/app/layout.tsx
  test/e2e/app-dir/script-before-interactive/app/multiple/page.tsx
  test/e2e/app-dir/script-before-interactive/app/page.tsx
  test/e2e/app-dir/script-before-interactive/next.config.js
  test/e2e/app-dir/script-before-interactive/script-before-interactive.test.ts
Labels: type: next, tests

#81525 perf: memorize exclude function in webpack config
  packages/next/src/build/webpack-config.ts
Labels: type: next, Rspack

#81383 chore: Update `with-supabase` example to use `getClaims()`
  examples/with-supabase/.env.example
  examples/with-supabase/app/protected/page.tsx
  examples/with-supabase/components/auth-button.tsx
  examples/with-supabase/lib/supabase/client.ts
  examples/with-supabase/lib/supabase/middleware.ts
  examples/with-supabase/lib/supabase/server.ts
  examples/with-supabase/lib/utils.ts
Labels: examples

#81691 Ensure custom NextServer config is honored (#81681)
  packages/next/src/server/next-server.ts
  test/production/custom-server/custom-server.test.ts
  test/production/custom-server/server.js
Labels: type: next, created-by: Next.js team, tests

#81653 Turbopack: Generalize `ImportedBinding` effect creation to avoid as much special-casing of SimpleAssignTarget
  turbopack/crates/turbopack-ecmascript/src/analyzer/graph.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/binding.rs
Labels: Turbopack, created-by: Turbopack team

#81321 feat(build): optimize filterUniqueParamsCombinations to generate sub-combinations
  packages/next/errors.json
  packages/next/src/build/index.ts
  packages/next/src/build/static-paths/app.test.ts
  packages/next/src/build/static-paths/app.ts
  packages/next/src/build/templates/app-page.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/router-utils/filesystem.ts
  packages/next/src/server/route-modules/app-page/helpers/prerender-manifest-matcher.test.ts
  packages/next/src/server/route-modules/app-page/helpers/prerender-manifest-matcher.ts
  packages/next/src/server/route-modules/app-page/module.ts
  test/e2e/app-dir/sub-shell-generation/app/[lang]/[slug]/page.tsx
  test/e2e/app-dir/sub-shell-generation/app/[lang]/layout.tsx
  test/e2e/app-dir/sub-shell-generation/app/layout.tsx
  test/e2e/app-dir/sub-shell-generation/app/sentinel.ts
  test/e2e/app-dir/sub-shell-generation/next.config.js
  test/e2e/app-dir/sub-shell-generation/sub-shell-generation.test.ts
Labels: type: next, created-by: Next.js team, tests, Rspack

#81692 Update NextAdapter type and re-export
  packages/next/src/server/config-shared.ts
  packages/next/src/types.ts
  test/production/adapter-config/my-adapter.mjs
Labels: type: next, created-by: Next.js team, tests

#80123 upgrade to path-to-regexp@6.3.0
  packages/next/package.json
  packages/next/src/compiled/path-to-regexp/index.js
  packages/next/src/lib/generate-interception-routes-rewrites.ts
  packages/next/src/lib/route-pattern-normalizer.ts
  packages/next/src/lib/try-to-parse-path.ts
  packages/next/src/shared/lib/router/utils/path-match.ts
  packages/next/src/shared/lib/router/utils/prepare-destination.ts
  packages/next/src/shared/lib/router/utils/route-match-utils.ts
  packages/next/src/shared/lib/router/utils/route-matcher.ts
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#81663 [turbopack] Return cached Promise from `__turbopack_load_by_url__ `
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/runtime-base.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/nodejs/runtime.ts
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_73aab4ae.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_73aab4ae.js.map
Labels: type: next, created-by: Next.js team, Turbopack, tests

#81611 Discard prerendered route handler data from FS cache after revalidation
  packages/next/src/server/lib/incremental-cache/file-system-cache.ts
  test/cache-components-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#81621 Ignore pending revalidations during prerendering
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/cache-components-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#81720 Fix: createRouterAct "reject" config
  test/e2e/app-dir/segment-cache/router-act.ts
Labels: created-by: Next.js team, tests

#81677 [Segment Cache] Support dynamic head prefetching
  packages/next/src/client/components/segment-cache-impl/cache.ts
  test/e2e/app-dir/segment-cache/incremental-opt-in/app/page.tsx
  test/e2e/app-dir/segment-cache/incremental-opt-in/app/ppr-disabled-dynamic-head/page.tsx
  test/e2e/app-dir/segment-cache/incremental-opt-in/segment-cache-incremental-opt-in.test.ts
Labels: type: next, created-by: Next.js team, tests

#81734 chore: update username from 'nebrelbug' to 'bgub'
  .github/labeler.json
Labels: CI approved

#81729 [devtool] fix duplicate rendered indicator on server
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/devtools-indicator.css
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/devtools-indicator.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/devtools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/next-logo.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/next-logo.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/segments-explorer.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/next-logo.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/next-logo.tsx
  packages/next/src/next-devtools/dev-overlay/dev-overlay.tsx
  packages/next/src/next-devtools/dev-overlay/menu/dev-overlay-menu.tsx
  packages/next/src/next-devtools/dev-overlay/styles/component-styles.tsx
Labels: type: next, created-by: Next.js team

#81737 [devtool] enable segment explorer by default
  packages/next/src/server/config-shared.ts
  test/development/acceptance-app/hydration-error.test.ts
  test/development/app-dir/hydration-error-count/hydration-error-count.test.ts
  test/development/client-dev-overlay/index.test.ts
  test/e2e/opentelemetry/instrumentation/opentelemetry.test.ts
Labels: type: next, create-next-app, created-by: Next.js team, Turbopack, tests, CI Bypass Graphite Optimization, Rspack

#81761 Remove unnecessary await
  packages/next/src/build/turbopack-build/impl.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
Labels: type: next, created-by: Turbopack team, Rspack

#81272 feat(turbopack): Log anonymized internal error (panic) information to telemetry
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/napi/src/next_api/endpoint.rs
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/turbopack_ctx.rs
  crates/napi/src/next_api/utils.rs
  crates/napi/src/util.rs
  packages/next/errors.json
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/generated-wasm.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
  packages/next/src/shared/lib/turbopack/internal-error.ts
  packages/next/src/shared/lib/turbopack/utils.ts
  packages/next/src/telemetry/events/build.ts
  test/unit/TurbopackInternalError.test.ts
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: type: next, Turbopack, created-by: Turbopack team, tests, Rspack

#81773 Turbopack: include more details in panic
  turbopack/crates/turbopack-ecmascript/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#81634 fix(turbopack) Adjust the way catchall routes are handled when a more specific parallel route exists
  crates/next-core/src/next_app/mod.rs
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/(someGroup)/anotherRoute/[[...slug]]/page.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/(someGroup)/anotherRoute/whoops/page.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/(someGroup)/payment/[[...slug]]/@parallel/page.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/(someGroup)/payment/[[...slug]]/layout.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/(someGroup)/payment/[[...slug]]/page.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/(someGroup)/payment/whoops/page.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/layout.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/app/page.jsx
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/middleware-rewrite-catchall-priority-with-parallel-route.test.js
  test/e2e/app-dir/middleware-rewrite-catchall-priority-with-parallel-route/middleware.js
  test/turbopack-build-tests-manifest.json
  test/turbopack-dev-tests-manifest.json
Labels: Turbopack, created-by: Turbopack team, tests

#81645 Add trigger for v0 sync workflow
  .github/workflows/test_e2e_deploy_release.yml
Labels: created-by: Turbopack team

#81741 Turbopack: Split DynamicEqHash trait into smaller traits in a separate re-usable crate
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbo-dyn-eq-hash/Cargo.toml
  turbopack/crates/turbo-dyn-eq-hash/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/invalidation.rs
  turbopack/crates/turbo-tasks-fs/src/watcher.rs
  turbopack/crates/turbo-tasks/Cargo.toml
  turbopack/crates/turbo-tasks/src/invalidation.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/magic_any.rs
  turbopack/crates/turbopack-dev-server/src/invalidation.rs
Labels: Turbopack, created-by: Turbopack team

#81799 Add VSCode tasks to show TypeScript compilation errors in problems view
  .vscode/tasks.json
Labels: created-by: Next.js team
