Repository vercel/next.js, pull requests merged in 2025-05, with the labels that each got.

#78738 Update authentication.mdx
  docs/01-app/02-guides/authentication.mdx
Labels: Documentation

#78731 chore(CI): Use `TEST_CONCURRENCY` by default in `run-tests.js`
  .github/workflows/build_and_test.yml
  .github/workflows/build_reusable.yml
  .github/workflows/integration_tests_reusable.yml
  run-tests.js
Labels: created-by: Turbopack team

#78737 Update test new tests for deploy mode
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  scripts/create-preview-tarballs.js
  scripts/test-new-tests.mjs
Labels: created-by: Next.js team, tests

#77972 remove `draft.isEnabled` setter from exotic draftMode wrappers
  packages/next/src/server/request/draft-mode.ts
Labels: type: next, created-by: Next.js team

#78669 Turbopack: limit compaction merging by size instead of count
  turbopack/crates/turbo-persistence/src/compaction/selector.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
Labels: type: next, create-next-app, Documentation, created-by: Turbopack team, tests

#78668 Turbopack: assign a high aggregation number to session dependent tasks
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#78724 Turbopack: Use separate meta and data modified flags
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
Labels: created-by: Turbopack team

#78725 Turbopack: add concurrency limit to effects
  turbopack/crates/turbo-tasks/src/effect.rs
Labels: created-by: Turbopack team

#78710 [build-sourcemaps] Include codeframes in prod when sourcemaps are enabled
  packages/next/src/server/patch-error-inspect.ts
Labels: type: next, created-by: Next.js team

#78685 Turbopack: refactor codegen
  turbopack/crates/turbo-tasks/src/read_ref.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
  turbopack/crates/turbopack-tests/tests/snapshot/comptime/unreachable/output/4e721_crates_turbopack-tests_tests_snapshot_comptime_unreachable_input_index_9022a405.js
  turbopack/crates/turbopack-tests/tests/snapshot/mdx/error/output/turbopack_crates_turbopack-tests_tests_snapshot_mdx_error_input_index_e6acdd0c.js
Labels: created-by: Turbopack team

#77345 feat: build lifecycle hooks - afterProductionCompile
  packages/next/src/build/after-production-compile.ts
  packages/next/src/build/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/telemetry/events/build.ts
  test/production/build-lifecycle-hooks/after.ts
  test/production/build-lifecycle-hooks/app/layout.tsx
  test/production/build-lifecycle-hooks/app/page.tsx
  test/production/build-lifecycle-hooks/bad-after.ts
  test/production/build-lifecycle-hooks/index.test.ts
  test/production/build-lifecycle-hooks/next.config.ts
Labels: type: next, created-by: Next.js team, tests

#78771 Turbopack: correctly reference injected variable for Wasm on Edge
  Cargo.lock
  crates/next-api/Cargo.toml
  crates/next-api/src/app.rs
  crates/next-api/src/instrumentation.rs
  crates/next-api/src/middleware.rs
  crates/next-api/src/pages.rs
  crates/next-api/src/paths.rs
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/base/dummy.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/dom/runtime-backend-dom.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/browser/runtime/edge/runtime-backend-edge.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/nodejs/runtime.ts
  turbopack/crates/turbopack-ecmascript-runtime/js/src/shared/runtime-types.d.ts
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_build_runtime/output/[turbopack]_runtime.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_75df6705.js
  turbopack/crates/turbopack-tests/tests/snapshot/runtime/default_dev_runtime/output/b1abf_turbopack-tests_tests_snapshot_runtime_default_dev_runtime_input_index_75df6705.js.map
  turbopack/crates/turbopack-wasm/Cargo.toml
  turbopack/crates/turbopack-wasm/src/lib.rs
  turbopack/crates/turbopack-wasm/src/loader.rs
Labels: Turbopack, created-by: Turbopack team

#78735 Stabilize back-forward-cache test cases
  test/e2e/app-dir/back-forward-cache/back-forward-cache.test.ts
Labels: created-by: Next.js team, tests

#78792 De-dupe build_and_deploy run for PRs
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#78716 [dev-overlay] Make badge draggable
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/draggable.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/fader/index.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/toast/styles.ts
  packages/next/src/client/components/react-dev-overlay/ui/styles/base.tsx
Labels: type: next, CI approved

#78809 Revert "De-dupe build_and_deploy run for PRs"
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#78797 Update flakey app-action test
  test/e2e/app-dir/actions/app-action.test.ts
Labels: created-by: Next.js team, tests

#78827 Update anyhow to 1.0.98
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#78822 [test] Repro for dropped `ignoreList` by Turbopack in browser sourcemaps
  test/e2e/app-dir/server-source-maps/fixtures/default/package.json
  test/e2e/app-dir/server-source-maps/server-source-maps.test.ts
Labels: created-by: Next.js team, tests

#78820 Revert "[Link] Add prefetch="auto" option"
  packages/next/src/client/app-dir/link.tsx
  packages/next/src/client/form-shared.tsx
  packages/next/src/client/link.tsx
  test/e2e/app-dir/segment-cache/prefetch-auto/app/dynamic/loading.tsx
  test/e2e/app-dir/segment-cache/prefetch-auto/app/dynamic/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-auto/app/layout.tsx
  test/e2e/app-dir/segment-cache/prefetch-auto/app/page.tsx
  test/e2e/app-dir/segment-cache/prefetch-auto/components/link-accordion.tsx
  test/e2e/app-dir/segment-cache/prefetch-auto/next.config.js
  test/e2e/app-dir/segment-cache/prefetch-auto/prefetch-auto.test.ts
Labels: type: next, created-by: Next.js team, tests

#77668 build: Update `@swc/core` npm package to `v1.11.24`
  crates/next-error-code-swc-plugin/Cargo.lock
  crates/next-error-code-swc-plugin/Cargo.toml
  package.json
  packages/next/next_error_code_swc_plugin.wasm
  packages/next/package.json
  packages/next/src/compiled/mini-css-extract-plugin/cjs.js
  packages/next/src/compiled/mini-css-extract-plugin/hmr/hotModuleReplacement.js
  packages/next/src/compiled/mini-css-extract-plugin/index.js
  packages/next/src/compiled/mini-css-extract-plugin/loader.js
  packages/next/src/compiled/sass-loader/cjs.js
  packages/next/src/compiled/webpack/bundle5.js
  pnpm-lock.yaml
Labels: type: next, Turbopack, created-by: Turbopack team

#78732 chore(CI): Remove unused environment variables from `build_and_test.yml`
  .github/workflows/build_and_test.yml
Labels: created-by: Turbopack team

#78726 Turbopack: avoid tracking a modification when adding an already existing item
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
Labels: created-by: Turbopack team

#78728 Turbopack: reduce the amount of task modifications caused by recomputation
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: Turbopack, created-by: Turbopack team

#78730 Turbopack: avoid depending on the Project
  crates/next-api/src/middleware.rs
  crates/next-api/src/project.rs
Labels: Turbopack, created-by: Turbopack team

#78733 Turbopack: Implement regex support for matching webpack loaders
  Cargo.lock
  crates/next-core/Cargo.toml
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_shared/webpack_rules/mod.rs
  packages/next/src/build/swc/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  turbopack/crates/turbopack/Cargo.toml
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_options_context.rs
  turbopack/crates/turbopack/src/module_options/rule_condition.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#78764 Turbopack: use unstable sort for better performance
  turbopack/crates/turbo-persistence/src/collector.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Labels: Turbopack, created-by: Turbopack team

#78787 chore(CI): Break pages-dir client-navigation dev tests into smaller parallelizable files/suites
  test/development/pages-dir/client-navigation/anchor-in-link.test.ts
  test/development/pages-dir/client-navigation/as-path.test.ts
  test/development/pages-dir/client-navigation/error-pages.test.ts
  test/development/pages-dir/client-navigation/foreign-history-manipulation.test.ts
  test/development/pages-dir/client-navigation/head.test.ts
  test/development/pages-dir/client-navigation/index.test.ts
  test/development/pages-dir/client-navigation/link.test.ts
  test/development/pages-dir/client-navigation/on-click.test.ts
  test/development/pages-dir/client-navigation/querystring.test.ts
  test/development/pages-dir/client-navigation/rendering-head.test.ts
  test/development/pages-dir/client-navigation/rendering.test.ts
  test/development/pages-dir/client-navigation/scroll.test.ts
  test/development/pages-dir/client-navigation/shallow-routing.test.ts
  test/development/pages-dir/client-navigation/url-hash.test.ts
Labels: created-by: Turbopack team, tests

#78775 Turbopack: avoid storing task data and task cache concurrenctly
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
Labels: created-by: Turbopack team

#78686 Add a new `fs` method to track a glob.
  Cargo.lock
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbo-tasks-fs/src/attach.rs
  turbopack/crates/turbo-tasks-fs/src/embed/fs.rs
  turbopack/crates/turbo-tasks-fs/src/glob.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/read_glob.rs
  turbopack/crates/turbo-tasks-fs/src/virtual_fs.rs
  turbopack/crates/turbo-tasks-fuzz/src/main.rs
  turbopack/crates/turbopack-core/src/server_fs.rs
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
Labels: created-by: Turbopack team

#78840 Add tests for normalize_path
  turbopack/crates/turbo-tasks-fs/src/util.rs
Labels: created-by: Turbopack team

#78776 Turbopack: flush key spaces when done with them
  Cargo.lock
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/tests.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
  turbopack/crates/turbo-tasks-backend/src/database/noop_kv.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
  turbopack/crates/turbo-tasks-backend/src/database/write_batch.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
Labels: created-by: Turbopack team

#78839 fix: error build if fixture typechecking fails
  crates/next-custom-transforms/tests/fixture/server-actions/modules.d.ts
  crates/next-custom-transforms/tests/fixture/server-actions/tsconfig.json
  package.json
Labels: created-by: Next.js team, Turbopack

#78842 doc: add build lifecycle hooks documentation
  docs/03-architecture/nextjs-compiler.mdx
Labels: created-by: Next.js team, Documentation

#78865 [dev-overlay] Consider scrollbar width for drag positioning
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/draggable.tsx
Labels: type: next, CI approved

#78777 Turbopack: add tracing to turbo-persistence
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbopack-trace-utils/src/tracing_presets.rs
Labels: created-by: Turbopack team

#78841 Add handling for setting deployment id via cookie
  packages/next/src/build/webpack/plugins/define-env-plugin.ts
  packages/next/src/lib/load-custom-routes.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/next-server.ts
  test/production/deployment-id-handling/app/next.config.js
  test/production/deployment-id-handling/deployment-id-cookie-handling.test.ts
Labels: type: next, created-by: Next.js team, tests

#78873 Turbopack: fix task data category
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: created-by: Turbopack team

#78875 Update middleware public/static matching
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/next-server.ts
  test/e2e/middleware-static-files/app/app/another/hello/page.tsx
  test/e2e/middleware-static-files/app/app/dynamic/[slug]/page.tsx
  test/e2e/middleware-static-files/app/app/favicon.ico
  test/e2e/middleware-static-files/app/app/glob/hello/page.tsx
  test/e2e/middleware-static-files/app/app/layout.tsx
  test/e2e/middleware-static-files/app/app/page.tsx
  test/e2e/middleware-static-files/app/middleware.js
  test/e2e/middleware-static-files/app/pages/pages-another/hello.tsx
  test/e2e/middleware-static-files/app/pages/pages-dynamic/[slug].tsx
  test/e2e/middleware-static-files/app/pages/pages-glob/hello.module.css
  test/e2e/middleware-static-files/app/pages/pages-glob/hello.tsx
  test/e2e/middleware-static-files/app/public/another/file.svg
  test/e2e/middleware-static-files/app/public/file.svg
  test/e2e/middleware-static-files/app/public/glob/file.svg
  test/e2e/middleware-static-files/app/public/globe.svg
  test/e2e/middleware-static-files/app/public/next.svg
  test/e2e/middleware-static-files/app/public/vercel copy.svg
  test/e2e/middleware-static-files/app/public/vercel.svg
  test/e2e/middleware-static-files/app/public/window.svg
  test/e2e/middleware-static-files/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#78876 [next-server] preserve rsc query for rsc redirects
  packages/next/src/shared/lib/router/utils/prepare-destination.ts
  test/e2e/app-dir/rsc-query-routing/app/layout.tsx
  test/e2e/app-dir/rsc-query-routing/app/redirect/dest/page.tsx
  test/e2e/app-dir/rsc-query-routing/app/redirect/page.tsx
  test/e2e/app-dir/rsc-query-routing/app/rewrite/dest/page.tsx
  test/e2e/app-dir/rsc-query-routing/app/rewrite/page.tsx
  test/e2e/app-dir/rsc-query-routing/next.config.js
  test/e2e/app-dir/rsc-query-routing/rsc-query-routing.test.ts
Labels: type: next, created-by: Next.js team, tests

#78874 fix(react-compiler): Fix detection of interest
  crates/next-custom-transforms/src/react_compiler.rs
Labels: Turbopack, created-by: Turbopack team

#78881 fix(turbopack): Backport sourcemap bugfix
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/util.rs
Labels: created-by: Turbopack team

#78879 fix(react-compiler): Fix detection of interest
  crates/next-custom-transforms/src/react_compiler.rs
Labels: created-by: Next.js team, Turbopack

#78712 Run export child process with runtime's default `max-old-space-size`
  packages/next/src/build/index.ts
  packages/next/src/build/turbopack-build/index.ts
  packages/next/src/build/webpack-build/index.ts
  packages/next/src/lib/worker.ts
Labels: type: next, created-by: Next.js team

#78868 [dev-overlay] solidate the line number parsing
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/code-frame.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/parse-code-frame.test.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/code-frame/parse-code-frame.ts
Labels: type: next, created-by: Next.js team

#78899 Docs IA 2.0: Fonts
  docs/01-app/02-guides/migrating/app-router-migration.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/migrating/from-vite.mdx
  docs/01-app/02-guides/production-checklist.mdx
  docs/01-app/02-guides/testing/jest.mdx
  docs/01-app/03-building-your-application/06-optimizing/03-fonts.mdx
  docs/01-app/05-api-reference/02-components/font.mdx
  docs/02-pages/02-guides/upgrading/version-13.mdx
  docs/02-pages/03-building-your-application/05-optimizing/02-fonts.mdx
  errors/built-in-next-font.mdx
  errors/google-font-preconnect.mdx
  errors/google-fonts-missing-subsets.mdx
  errors/no-page-custom-font.mdx
Labels: Font (next/font), Documentation, created-by: Next.js DevEx team

#78905 Docs IA 2.0: Metadata
  docs/01-app/01-getting-started/10-metadata-and-og-images.mdx
  docs/01-app/02-guides/json-ld.mdx
  docs/01-app/02-guides/mdx.mdx
  docs/01-app/02-guides/migrating/app-router-migration.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/migrating/from-vite.mdx
  docs/01-app/02-guides/production-checklist.mdx
  docs/01-app/02-guides/upgrading/codemods.mdx
  docs/01-app/03-building-your-application/01-routing/03-layouts-and-templates.mdx
  docs/01-app/03-building-your-application/06-optimizing/04-metadata.mdx
  docs/01-app/05-api-reference/03-file-conventions/layout.mdx
  docs/01-app/05-api-reference/04-functions/generate-image-metadata.mdx
  docs/01-app/05-api-reference/04-functions/generate-metadata.mdx
  docs/01-app/05-api-reference/04-functions/generate-viewport.mdx
  docs/01-app/05-api-reference/04-functions/image-response.mdx
Labels: Documentation, created-by: Next.js DevEx team

#78908 Docs IA 2.0: Create tailwind guide
  docs/01-app/01-getting-started/05-css.mdx
  docs/01-app/02-guides/css-in-js.mdx
  docs/01-app/02-guides/migrating/app-router-migration.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/tailwind-css.mdx
  docs/01-app/03-building-your-application/05-styling/01-css.mdx
  docs/01-app/05-api-reference/02-components/font.mdx
  docs/02-pages/01-getting-started/06-css.mdx
  docs/02-pages/02-guides/tailwind-css.mdx
Labels: Font (next/font), Documentation, created-by: Next.js DevEx team

#78920 feat(next-swc): Add a fast path to RC detector
  crates/next-custom-transforms/src/react_compiler.rs
Labels: Turbopack, created-by: Turbopack team

#78855 Turbopack: defer sourcemaps processing to codegen
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/util.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
Labels: created-by: Turbopack team

#78885 build: Update `swc_core` to `v23.2.0`
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#78778 Turbopack: create smaller initial files to reduce memory usage
  turbopack/crates/turbo-persistence/src/constants.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
Labels: created-by: Turbopack team

#78937 fix CSP docs
  docs/01-app/02-guides/content-security-policy.mdx
Labels: created-by: Next.js team, Documentation

#78935 Revert "build: Update `swc_core` to `v23.2.0`"
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
Labels: created-by: Next.js team, Turbopack

#78605 Removes onNavigate from transition scope
  packages/next/src/client/app-dir/link.tsx
Labels: type: next

#78936 Add nonce handling from CSP in pages router
  packages/next/src/pages/_document.tsx
  packages/next/src/server/render.tsx
  packages/next/src/shared/lib/html-context.shared-runtime.ts
  test/production/app-dir/subresource-integrity/fixture/pages/pages.tsx
  test/production/app-dir/subresource-integrity/subresource-integrity.test.ts
Labels: type: next, created-by: Next.js team, tests

#78939 Ensure manual nonce on Script works as expected
  packages/next/src/client/script.tsx
  packages/next/src/pages/_document.tsx
  test/e2e/app-dir/app/app/script-manual-nonce/page.js
  test/e2e/app-dir/app/app/script-manual-nonce/show-order.js
  test/e2e/app-dir/app/index.test.ts
  test/e2e/app-dir/app/pages/pages-script-manual-nonce.js
Labels: type: next, created-by: Next.js team, tests

#78934 fix(CI): Remove e2e test timeout overrides from rspack & turbopack suites
  .github/workflows/build_and_test.yml
  .github/workflows/integration_tests_reusable.yml
Labels: created-by: Turbopack team

#78922 Turbopack: `ChunkingType::Parallel` with `hoisted` bool
  turbopack/crates/turbopack-core/src/chunk/chunk_group.rs
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-core/src/introspect/utils.rs
  turbopack/crates/turbopack-core/src/module_graph/async_module_info.rs
  turbopack/crates/turbopack-core/src/module_graph/chunk_group_info.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
  turbopack/crates/turbopack-core/src/module_graph/style_groups.rs
  turbopack/crates/turbopack-core/src/reference/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/async_module.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/url.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
Labels: created-by: Turbopack team

#78944 fix(CI): Avoid rebuilding native code in jobs that don't depend on native code
  .github/workflows/build_and_test.yml
Labels: created-by: Turbopack team

#78769 Docs IA 2.0: Images
  docs/01-app/01-getting-started/04-images-and-fonts.mdx
  docs/01-app/01-getting-started/04-images.mdx
  docs/01-app/01-getting-started/05-fonts.mdx
  docs/01-app/01-getting-started/06-css.mdx
  docs/01-app/01-getting-started/07-fetching-data.mdx
  docs/01-app/01-getting-started/08-updating-data.mdx
  docs/01-app/01-getting-started/09-error-handling.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/migrating/from-vite.mdx
  docs/01-app/02-guides/production-checklist.mdx
  docs/01-app/02-guides/self-hosting.mdx
  docs/01-app/02-guides/static-exports.mdx
  docs/01-app/03-building-your-application/06-optimizing/01-images.mdx
  docs/01-app/05-api-reference/02-components/image.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/headers.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/images.mdx
  docs/02-pages/01-getting-started/04-images.mdx
  docs/02-pages/01-getting-started/05-fonts.mdx
  docs/02-pages/02-guides/upgrading/version-12.mdx
  docs/02-pages/04-api-reference/01-components/image-legacy.mdx
  errors/export-image-api.mdx
  errors/install-sharp.mdx
  errors/invalid-images-config.mdx
  errors/next-image-missing-loader-width.mdx
  errors/next-image-missing-loader.mdx
  errors/next-image-unconfigured-host.mdx
  errors/next-image-unconfigured-localpatterns.mdx
  errors/next-image-unconfigured-qualities.mdx
  errors/no-img-element.mdx
  errors/sharp-missing-in-production.mdx
  errors/sharp-version-avif.mdx
Labels: Font (next/font), Documentation, created-by: Next.js DevEx team

#78946 chore(test/e2e): Remove stale TODO comment from webpack persistent caching test
  test/e2e/persistent-caching/persistent-caching.test.ts
Labels: created-by: Turbopack team, tests

#78966 Docs IA 2.0: Delete empty optimizing folder
  docs/01-app/03-building-your-application/06-optimizing/index.mdx
  docs/01-app/03-building-your-application/index.mdx
  docs/02-pages/03-building-your-application/05-optimizing/index.mdx
  docs/04-community/01-contribution-guide.mdx
Labels: Documentation, created-by: Next.js DevEx team

#78890 chore(CI): Split trailing-slashes suite cases into smaller suites, port to more modern e2e framework
  test/e2e/trailing-slashes/basepath.test.ts
  test/e2e/trailing-slashes/pages/404.js
  test/e2e/trailing-slashes/pages/about.js
  test/e2e/trailing-slashes/pages/catch-all/[...slug].js
  test/e2e/trailing-slashes/pages/external-linker.js
  test/e2e/trailing-slashes/pages/index.js
  test/e2e/trailing-slashes/pages/linker.js
  test/e2e/trailing-slashes/pages/user/index.js
  test/e2e/trailing-slashes/shared-tests.util.ts
  test/e2e/trailing-slashes/with-trailing-slash.test.ts
  test/e2e/trailing-slashes/without-trailing-slash.test.ts
  test/integration/trailing-slashes/next.config.js
  test/integration/trailing-slashes/test/index.test.js
  tsconfig.json
Labels: created-by: Turbopack team, tests, CI Bypass Graphite Optimization

#78942 Treat _debugInfo as a wellknown property for sync request data access purposes
  packages/next/src/shared/lib/utils/reflect-utils.ts
Labels: type: next, created-by: Next.js team

#78757 chore(CI): Run rspack tests in build_and_test.yml
  .github/workflows/build_and_test.yml
Labels: type: next, create-next-app, created-by: Turbopack team, Rspack

#78972 perf(turbopack): Remove needless clone of sourcemap
  turbopack/crates/turbopack-ecmascript/src/parse.rs
Labels: created-by: Turbopack team

#78940 build: Update `swc_core` to `v23.1.0` again with macos build fix
  .github/workflows/build_reusable.yml
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#78011 bugfix: Fix a bug that caused conflicting assets when adding a child compiler
  packages/next/src/build/webpack/plugins/flight-manifest-plugin.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  packages/next/src/build/webpack/plugins/next-types-plugin/index.ts
  packages/next/src/build/webpack/plugins/profiling-plugin.ts
Labels: type: next

#78932 [Fix] Inverse prefetch segment for Pages routes
  packages/next/src/build/index.ts
  test/e2e/app-dir/segment-cache/conflicting-routes/app/new/[teamSlug]/layout.jsx
  test/e2e/app-dir/segment-cache/conflicting-routes/app/new/[teamSlug]/page.tsx
  test/e2e/app-dir/segment-cache/conflicting-routes/conflicting-routes.test.ts
  test/e2e/app-dir/segment-cache/conflicting-routes/pages/_app.js
  test/e2e/app-dir/segment-cache/conflicting-routes/pages/_document.js
  test/e2e/app-dir/segment-cache/conflicting-routes/pages/new/templates/[[...slug]].js
Labels: type: next, created-by: Next.js team, tests

#78968 Fix tracing of server actions imported by client components
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/next-trace-entrypoints-plugin.ts
  test/e2e/app-dir/actions/app-action.test.ts
  test/e2e/app-dir/actions/app/client/actions.js
  test/e2e/app-dir/actions/data.txt
Labels: type: next, created-by: Next.js team, tests

#78974 Revert "fix: alternate bundler support for dropping client page"
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/plugins/next-drop-client-page-plugin.ts
Labels: type: next

#78729 Turbopack: cache directory creation
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks/src/effect.rs
  turbopack/crates/turbo-tasks/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#78993 Fix `--no-mangling` for `"use cache"` functions
  packages/next/src/build/webpack/plugins/minify-webpack-plugin/src/index.ts
  test/production/app-dir/no-mangling/app/use-cache/page.tsx
  test/production/app-dir/no-mangling/next.config.js
  test/production/app-dir/no-mangling/no-mangling.test.ts
  turbopack/crates/turbopack-ecmascript/src/minify.rs
Labels: type: next, created-by: Next.js team, tests

#78979 fix(CI): Wait for lock when running apt-get
  .github/actions/setup-rust/action.yml
Labels: created-by: Turbopack team

#78984 chore: update rspack to 1.3.9
  package.json
  packages/next-rspack/package.json
  packages/next/src/build/webpack/plugins/rspack-profiling-plugin.ts
  packages/next/src/compiled/sass-loader/cjs.js
  pnpm-lock.yaml
  test/integration/middleware-prefetch/tests/index.test.js
Labels: type: next, tests, Rspack

#78783 [not-found] Add global-not-found convention
  crates/next-api/src/app.rs
  crates/next-core/src/app_page_loader_tree.rs
  crates/next-core/src/app_structure.rs
  crates/next-core/src/base_loader_tree.rs
  crates/next-core/src/next_config.rs
  packages/next/src/build/entries.ts
  packages/next/src/build/utils.ts
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  packages/next/src/client/components/global-not-found.tsx
  packages/next/src/client/components/http-access-fallback/error-fallback.tsx
  packages/next/src/client/components/styles/access-error-styles.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/dev/hot-reloader-turbopack.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  packages/next/src/server/dev/on-demand-entry-handler.ts
  packages/next/types/$$compiled.internal.d.ts
  test/e2e/app-dir/global-not-found/basic/app/call-not-found/page.tsx
  test/e2e/app-dir/global-not-found/basic/app/client.tsx
  test/e2e/app-dir/global-not-found/basic/app/global-not-found.tsx
  test/e2e/app-dir/global-not-found/basic/app/layout.tsx
  test/e2e/app-dir/global-not-found/basic/app/page.tsx
  test/e2e/app-dir/global-not-found/basic/global-not-found-basic.test.ts
  test/e2e/app-dir/global-not-found/basic/next.config.js
  test/e2e/app-dir/global-not-found/both-present/app/call-not-found/page.tsx
  test/e2e/app-dir/global-not-found/both-present/app/global-not-found.tsx
  test/e2e/app-dir/global-not-found/both-present/app/layout.tsx
  test/e2e/app-dir/global-not-found/both-present/app/not-found.tsx
  test/e2e/app-dir/global-not-found/both-present/both-present.test.ts
  test/e2e/app-dir/global-not-found/both-present/next.config.js
  test/e2e/app-dir/global-not-found/no-root-layout/app/(bar)/bar/layout.tsx
  test/e2e/app-dir/global-not-found/no-root-layout/app/(bar)/bar/page.tsx
  test/e2e/app-dir/global-not-found/no-root-layout/app/(foo)/foo/layout.tsx
  test/e2e/app-dir/global-not-found/no-root-layout/app/(foo)/foo/page.tsx
  test/e2e/app-dir/global-not-found/no-root-layout/app/global-not-found.tsx
  test/e2e/app-dir/global-not-found/no-root-layout/next.config.js
  test/e2e/app-dir/global-not-found/no-root-layout/no-root-layout.test.ts
  test/e2e/app-dir/global-not-found/not-present/app/call-not-found/page.tsx
  test/e2e/app-dir/global-not-found/not-present/app/layout.tsx
  test/e2e/app-dir/global-not-found/not-present/app/not-found.tsx
  test/e2e/app-dir/global-not-found/not-present/app/page.tsx
  test/e2e/app-dir/global-not-found/not-present/next.config.js
  test/e2e/app-dir/global-not-found/not-present/not-present.test.ts
Labels: type: next, created-by: Next.js team, Turbopack, tests

#78961 [not-found] support metadata exports of global-not-found
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
  packages/next/src/server/app-render/app-render.tsx
  test/e2e/app-dir/global-not-found/metadata/app/call-not-found/page.tsx
  test/e2e/app-dir/global-not-found/metadata/app/global-not-found.tsx
  test/e2e/app-dir/global-not-found/metadata/app/icon.svg
  test/e2e/app-dir/global-not-found/metadata/app/layout.tsx
  test/e2e/app-dir/global-not-found/metadata/app/page.tsx
  test/e2e/app-dir/global-not-found/metadata/metadata.test.ts
  test/e2e/app-dir/global-not-found/metadata/next.config.js
Labels: type: next, created-by: Next.js team, tests, CI Bypass Graphite Optimization

#78980 chore(CI): Add a few more turbopack paths to labeler config
  .github/labeler.json
Labels: created-by: Turbopack team

#79004 chore(CI): Add Rspack labeler config
  .github/labeler.json
Labels: created-by: Turbopack team

#79007 perf(turbopack): Remove needless clone of SWC AST
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
Labels: created-by: Turbopack team

#78891 chore(CI): Split next-form tests into smaller suites/files that can be run more-in-parallel
  test/e2e/app-dir/next-form/default/next-form.test.ts
  test/e2e/next-form/basepath/app/forms/basic/page.tsx
  test/e2e/next-form/basepath/app/forms/button-formaction/page.tsx
  test/e2e/next-form/basepath/app/layout.tsx
  test/e2e/next-form/basepath/app/search/loading.tsx
  test/e2e/next-form/basepath/app/search/page.tsx
  test/e2e/next-form/basepath/next-form-basepath.test.ts
  test/e2e/next-form/basepath/next.config.js
  test/e2e/next-form/default/app-dir.test.ts
  test/e2e/next-form/default/app/forms/basic/page.tsx
  test/e2e/next-form/default/app/forms/button-formaction-unsupported/page.tsx
  test/e2e/next-form/default/app/forms/button-formaction/page.tsx
  test/e2e/next-form/default/app/forms/prefetch-false/page.tsx
  test/e2e/next-form/default/app/forms/with-file-input/page.tsx
  test/e2e/next-form/default/app/forms/with-function/action-client/page.tsx
  test/e2e/next-form/default/app/forms/with-function/action-server-closure/page.tsx
  test/e2e/next-form/default/app/forms/with-function/action-server/page.tsx
  test/e2e/next-form/default/app/forms/with-function/button-formaction-client/page.tsx
  test/e2e/next-form/default/app/forms/with-function/button-formaction-server-closure/page.tsx
  test/e2e/next-form/default/app/forms/with-function/button-formaction-server/page.tsx
  test/e2e/next-form/default/app/forms/with-onsubmit-preventdefault/page.tsx
  test/e2e/next-form/default/app/forms/with-replace/page.tsx
  test/e2e/next-form/default/app/layout.tsx
  test/e2e/next-form/default/app/redirected-from-action/page.tsx
  test/e2e/next-form/default/app/search/loading.tsx
  test/e2e/next-form/default/app/search/page.tsx
  test/e2e/next-form/default/next-form-prefetch.test.ts
  test/e2e/next-form/default/pages-dir.test.ts
  test/e2e/next-form/default/pages/pages-dir/forms/basic/index.tsx
  test/e2e/next-form/default/pages/pages-dir/forms/button-formaction-unsupported/index.tsx
  test/e2e/next-form/default/pages/pages-dir/forms/button-formaction/index.tsx
  test/e2e/next-form/default/pages/pages-dir/forms/with-file-input/index.tsx
  test/e2e/next-form/default/pages/pages-dir/forms/with-function/action-client/index.tsx
  test/e2e/next-form/default/pages/pages-dir/forms/with-function/button-formaction-client/index.tsx
  test/e2e/next-form/default/pages/pages-dir/forms/with-onsubmit-preventdefault/index.tsx
  test/e2e/next-form/default/pages/pages-dir/forms/with-replace/index.tsx
  test/e2e/next-form/default/pages/pages-dir/redirected-from-action/index.tsx
  test/e2e/next-form/default/pages/pages-dir/search/index.tsx
  test/e2e/next-form/default/shared-tests.util.ts
Labels: created-by: Turbopack team, tests, CI Bypass Graphite Optimization

#79015 fix(CI): Remove comments from labeler config
  .github/labeler.json
Labels: created-by: Turbopack team

#78941 Turbopack next/font: Use a custom enum instead of `Result` for failed local font files
  crates/next-core/src/next_font/font_fallback.rs
  crates/next-core/src/next_font/local/errors.rs
  crates/next-core/src/next_font/local/font_fallback.rs
  crates/next-core/src/next_font/local/mod.rs
Labels: Font (next/font), Turbopack, created-by: Turbopack team, tests

#78998 Prevent `"use cache"` timeout errors from being caught in userland code
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/request/utils.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache-hanging-inputs/app/fallback-params/[slug]/page.tsx
  test/e2e/app-dir/use-cache-hanging-inputs/app/search-params-caught/page.tsx
  test/e2e/app-dir/use-cache-hanging-inputs/app/uncached-promise-nested/page.tsx
  test/e2e/app-dir/use-cache-hanging-inputs/app/uncached-promise/page.tsx
  test/e2e/app-dir/use-cache-hanging-inputs/use-cache-hanging-inputs.test.ts
Labels: type: next, created-by: Next.js team, tests

#79025 Update middleware prefetch test
  test/integration/middleware-prefetch/tests/index.test.js
Labels: created-by: Next.js team, tests

#78962 Turbopack: Fix setting existing env var in webpack loader
  test/e2e/app-dir/webpack-loader-set-environment-variable/app/layout.tsx
  test/e2e/app-dir/webpack-loader-set-environment-variable/app/next.svg
  test/e2e/app-dir/webpack-loader-set-environment-variable/app/page.tsx
  test/e2e/app-dir/webpack-loader-set-environment-variable/custom-loader.js
  test/e2e/app-dir/webpack-loader-set-environment-variable/next.config.js
  test/e2e/app-dir/webpack-loader-set-environment-variable/webpack-loader-set-environment-variable.test.ts
  turbopack/crates/turbopack-node/js/src/transforms/transforms.ts
Labels: created-by: Turbopack team, tests

#79016 Remove some AST clones from `process_content_with_code_gens`
  turbopack/crates/turbopack-ecmascript/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#79075 Add `turbopack.root` to zod schema
  packages/next/src/server/config-schema.ts
Labels: type: next, created-by: Turbopack team

#79079 [ts-next-plugin] add testing utils
  test/development/typescript-plugin/index.test.ts
  test/development/typescript-plugin/test-utils.ts
Labels: created-by: Next.js team, tests

#78773 [link] Avoid inlining of `LinkProps` in emitted declarations
  packages/next/src/client/link.tsx
Labels: type: next, created-by: Next.js team

#78996 Docs IA 2.0: CSS
  docs/01-app/01-getting-started/06-css.mdx
  docs/01-app/02-guides/css-in-js.mdx
  docs/01-app/02-guides/migrating/app-router-migration.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/tailwind-css.mdx
  docs/01-app/03-building-your-application/05-styling/01-css.mdx
  docs/01-app/03-building-your-application/05-styling/index.mdx
  docs/01-app/03-building-your-application/index.mdx
  docs/01-app/05-api-reference/02-components/image.mdx
  docs/01-app/05-api-reference/04-functions/generate-metadata.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/webpack.mdx
  docs/02-pages/02-guides/amp.mdx
  docs/02-pages/02-guides/post-css.mdx
  docs/02-pages/03-building-your-application/01-routing/05-custom-app.mdx
  docs/02-pages/03-building-your-application/04-styling/01-css.mdx
  docs/02-pages/03-building-your-application/04-styling/index.mdx
  errors/built-in-css-disabled.mdx
  errors/css-global.mdx
  errors/no-css-tags.mdx
  errors/no-styled-jsx-in-document.mdx
  errors/webpack5.mdx
Labels: Documentation, created-by: Next.js DevEx team

#79092 build: Update `swc_core` to `v24.0.0`
  .cargo/config.toml
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_test.yml
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  crates/wasm/Cargo.toml
  turbopack/crates/turbopack-ecmascript/src/transform/mod.rs
  turbopack/crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/b1abf_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_da464693.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/b1abf_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_da464693.css.map
Labels: Turbopack, created-by: Turbopack team

#79014 chore(CI): Add back test retries (again) to arewerspackyet tests
  .github/workflows/rspack-nextjs-build-integration-tests.yml
  .github/workflows/rspack-nextjs-dev-integration-tests.yml
Labels: created-by: Turbopack team

#79094 Replace node:url usage in server-utils
  packages/next/src/build/templates/pages-api.ts
  packages/next/src/lib/url.ts
  packages/next/src/server/server-utils.ts
Labels: type: next, created-by: Next.js team, Rspack

#79089 Turbopack: hash next/font filename to shorten it
  crates/next-core/src/next_font/google/mod.rs
  test/e2e/next-font/index.test.ts
  turbopack/crates/turbo-tasks-fs/src/lib.rs
Labels: Turbopack, created-by: Turbopack team, tests

#79096 Upgrade lightningcss
  Cargo.lock
  Cargo.toml
  turbopack/crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/b1abf_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_da464693.css
  turbopack/crates/turbopack-tests/tests/snapshot/css/css-legacy-nesting/output/b1abf_turbopack-tests_tests_snapshot_css_css-legacy-nesting_input_style_da464693.css.map
Labels: Turbopack, created-by: Turbopack team

#78931 [test] Move test selectors as close to the actual value as possible
  test/e2e/app-dir/dynamic-io/app/headers/exercise/components.tsx
Labels: created-by: Next.js team, tests

#79064 test: split basic HMR test into multiple files
  test/development/basic/hmr/basic-no-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/basic-no-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/basic-yes-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/basic-yes-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/run-basic-hmr-test.util.ts
Labels: created-by: Next.js team, tests

#79065 test: split full reload HMR test into multiple files
  test/development/basic/hmr/full-reload-no-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/full-reload-no-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/full-reload-yes-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/full-reload-yes-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/run-full-reload-hmr-test.util.ts
Labels: created-by: Next.js team, tests

#79113 build(next-swc): Drop `swc_bundler`
  Cargo.lock
  crates/napi/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#78892 chore(CI): Split basepath test suite into smaller and more parallel test suites
  .github/workflows/build_and_test.yml
  test/e2e/basepath/basepath.test.ts
  test/e2e/basepath/error-pages.test.ts
  test/e2e/basepath/pages/hello.js
  test/e2e/basepath/query-hash.test.ts
  test/e2e/basepath/redirect-and-rewrite.test.ts
  test/e2e/basepath/router-events.test.ts
  test/e2e/basepath/trailing-slash.test.ts
Labels: created-by: Turbopack team, tests, CI Bypass Graphite Optimization

#79066 test: split error recovery HMR test into multiple files
  test/development/basic/hmr/error-recovery-no-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/error-recovery-no-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/error-recovery-yes-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/error-recovery-yes-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/error-recovery.test.ts
  test/development/basic/hmr/run-error-recovery-hmr-test.util.ts
Labels: created-by: Next.js team, tests

#79067 test: split hot module reload HMR test into multiple files
  test/development/basic/hmr/hot-module-reload-no-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/hot-module-reload-no-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/hot-module-reload-yes-base-path-no-asset-prefix.test.ts
  test/development/basic/hmr/hot-module-reload-yes-base-path-yes-asset-prefix.test.ts
  test/development/basic/hmr/hot-module-reload.test.ts
  test/development/basic/hmr/run-hot-module-reload-hmr-test.util.ts
Labels: created-by: Next.js team, tests

#73625 test: remove unnecessary conditionals in error recovery tests
  test/development/basic/hmr/run-error-recovery-hmr-test.util.ts
Labels: created-by: Next.js team, tests

#79117 Revert toolchain update to 2025-05-12
  rust-toolchain.toml
Labels: Font (next/font), Turbopack, created-by: Turbopack team

#73624 test: replace duplicate test utils to next instance
  test/development/basic/hmr/run-error-recovery-hmr-test.util.ts
  test/development/basic/hmr/run-hot-module-reload-hmr-test.util.ts
Labels: created-by: Next.js team, tests

#78893 chore(CI): Split i18n-data-fetching-redirect test suite into smaller and more parallel test suites
  test/e2e/i18n-data-fetching-redirect/redirect-from-context.test.ts
  test/e2e/i18n-data-fetching-redirect/redirect.test.ts
Labels: created-by: Turbopack team, tests, CI Bypass Graphite Optimization

#79084 fix: pnp test cases failed when using rspack
  test/e2e/yarn-pnp/test/utils.ts
Labels: tests, Rspack

#79106 Refactor to share handler logic in route-module
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/templates/pages-api.ts
  packages/next/src/build/templates/pages.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/route-modules/pages/builtin/_error.tsx
  packages/next/src/server/route-modules/route-module.ts
  packages/next/src/server/server-utils.test.ts
  packages/next/src/server/server-utils.ts
  packages/next/src/server/web/edge-route-module-wrapper.ts
Labels: type: next, created-by: Next.js team, Rspack

#79121 Rust: restore toolchain 2025-05-12
  .cargo/config.toml
  rust-toolchain.toml
Labels: created-by: Turbopack team

#79127 Turbopack: Make `turbo-tasks` crate Rust 2024
  turbopack/crates/turbo-tasks/Cargo.toml
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/effect.rs
  turbopack/crates/turbo-tasks/src/event.rs
  turbopack/crates/turbo-tasks/src/graph/graph_traversal.rs
  turbopack/crates/turbo-tasks/src/id.rs
  turbopack/crates/turbo-tasks/src/invalidation.rs
  turbopack/crates/turbo-tasks/src/join_iter_ext.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/macro_helpers.rs
  turbopack/crates/turbo-tasks/src/magic_any.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/native_function.rs
  turbopack/crates/turbo-tasks/src/no_move_vec.rs
  turbopack/crates/turbo-tasks/src/output.rs
  turbopack/crates/turbo-tasks/src/persisted_graph.rs
  turbopack/crates/turbo-tasks/src/raw_vc.rs
  turbopack/crates/turbo-tasks/src/read_ref.rs
  turbopack/crates/turbo-tasks/src/registry.rs
  turbopack/crates/turbo-tasks/src/scope.rs
  turbopack/crates/turbo-tasks/src/serialization_invalidation.rs
  turbopack/crates/turbo-tasks/src/state.rs
  turbopack/crates/turbo-tasks/src/task/function.rs
  turbopack/crates/turbo-tasks/src/task/local_task.rs
  turbopack/crates/turbo-tasks/src/task/shared_reference.rs
  turbopack/crates/turbo-tasks/src/task/task_input.rs
  turbopack/crates/turbo-tasks/src/task_statistics.rs
  turbopack/crates/turbo-tasks/src/trace.rs
  turbopack/crates/turbo-tasks/src/trait_helpers.rs
  turbopack/crates/turbo-tasks/src/trait_ref.rs
  turbopack/crates/turbo-tasks/src/util.rs
  turbopack/crates/turbo-tasks/src/value.rs
  turbopack/crates/turbo-tasks/src/value_type.rs
  turbopack/crates/turbo-tasks/src/vc/cast.rs
  turbopack/crates/turbo-tasks/src/vc/cell_mode.rs
  turbopack/crates/turbo-tasks/src/vc/local.rs
  turbopack/crates/turbo-tasks/src/vc/mod.rs
  turbopack/crates/turbo-tasks/src/vc/operation.rs
  turbopack/crates/turbo-tasks/src/vc/resolved.rs
  turbopack/crates/turbo-tasks/src/vc/traits.rs
Labels: Turbopack, created-by: Turbopack team

#79123 Turbopack: Make `napi` crate Rust 2024
  crates/napi/Cargo.toml
  crates/napi/src/mdx.rs
  crates/napi/src/minify.rs
  crates/napi/src/next_api/endpoint.rs
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/utils.rs
  crates/napi/src/parse.rs
  crates/napi/src/react_compiler.rs
  crates/napi/src/transform.rs
  crates/napi/src/turbopack.rs
  crates/napi/src/util.rs
Labels: Turbopack, created-by: Turbopack team

#79124 Turbopack: Make `turbo-rcstr` crate Rust 2024
  turbopack/crates/turbo-rcstr/Cargo.toml
  turbopack/crates/turbo-rcstr/benches/mod.rs
  turbopack/crates/turbo-rcstr/src/dynamic.rs
  turbopack/crates/turbo-rcstr/src/lib.rs
  turbopack/crates/turbo-rcstr/src/tagged_value.rs
Labels: Turbopack, created-by: Turbopack team

#79125 Turbopack: Make `turbo-backend` crate Rust 2024
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/benches/mod.rs
  turbopack/crates/turbo-tasks-backend/benches/scope_stress.rs
  turbopack/crates/turbo-tasks-backend/benches/stress.rs
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/aggregation_update.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/cleanup_old_edges.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_children.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/invalidate.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/prepare_new_children.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_cell.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_collectible.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
  turbopack/crates/turbo-tasks-backend/src/backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
  turbopack/crates/turbo-tasks-backend/src/data_storage.rs
  turbopack/crates/turbo-tasks-backend/src/database/turbo.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbo-tasks-backend/src/lib.rs
  turbopack/crates/turbo-tasks-backend/src/utils/swap_retain.rs
  turbopack/crates/turbo-tasks-backend/tests/trace_transient.rs
  turbopack/crates/turbo-tasks-backend/tests/transient_collectible.rs
  turbopack/crates/turbo-tasks-testing/tests/all_in_one.rs
  turbopack/crates/turbo-tasks-testing/tests/basic.rs
  turbopack/crates/turbo-tasks-testing/tests/call_types.rs
  turbopack/crates/turbo-tasks-testing/tests/collectibles.rs
  turbopack/crates/turbo-tasks-testing/tests/debug.rs
  turbopack/crates/turbo-tasks-testing/tests/detached.rs
  turbopack/crates/turbo-tasks-testing/tests/dirty_in_progress.rs
  turbopack/crates/turbo-tasks-testing/tests/emptied_cells.rs
  turbopack/crates/turbo-tasks-testing/tests/filter_unused_args.rs
  turbopack/crates/turbo-tasks-testing/tests/local_tasks.rs
  turbopack/crates/turbo-tasks-testing/tests/operation_vc.rs
  turbopack/crates/turbo-tasks-testing/tests/performance.rs
  turbopack/crates/turbo-tasks-testing/tests/random_change.rs
  turbopack/crates/turbo-tasks-testing/tests/read_ref_cell.rs
  turbopack/crates/turbo-tasks-testing/tests/recompute.rs
  turbopack/crates/turbo-tasks-testing/tests/recompute_collectibles.rs
  turbopack/crates/turbo-tasks-testing/tests/resolved_vc.rs
  turbopack/crates/turbo-tasks-testing/tests/shrink_to_fit.rs
  turbopack/crates/turbo-tasks-testing/tests/task_statistics.rs
  turbopack/crates/turbo-tasks-testing/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks-testing/tests/transient_vc.rs
Labels: Turbopack, created-by: Turbopack team

#79126 Turbopack: Make `turbo-macros` crate Rust 2024
  turbopack/crates/turbo-tasks-macros/Cargo.toml
  turbopack/crates/turbo-tasks-macros/src/assert_fields.rs
  turbopack/crates/turbo-tasks-macros/src/derive/deterministic_hash_macro.rs
  turbopack/crates/turbo-tasks-macros/src/derive/key_value_pair_macro.rs
  turbopack/crates/turbo-tasks-macros/src/derive/mod.rs
  turbopack/crates/turbo-tasks-macros/src/derive/non_local_value_macro.rs
  turbopack/crates/turbo-tasks-macros/src/derive/operation_value_macro.rs
  turbopack/crates/turbo-tasks-macros/src/derive/task_input_macro.rs
  turbopack/crates/turbo-tasks-macros/src/derive/trace_raw_vcs_macro.rs
  turbopack/crates/turbo-tasks-macros/src/derive/value_debug_format_macro.rs
  turbopack/crates/turbo-tasks-macros/src/derive/value_debug_macro.rs
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks-macros/src/function_macro.rs
  turbopack/crates/turbo-tasks-macros/src/generic_type_macro.rs
  turbopack/crates/turbo-tasks-macros/src/primitive_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_impl_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
Labels: Turbopack, created-by: Turbopack team

#79128 Turbopack: Make `turbo-tasks-env` crate Rust 2024
  turbopack/crates/turbo-tasks-env/Cargo.toml
  turbopack/crates/turbo-tasks-env/src/command_line.rs
  turbopack/crates/turbo-tasks-env/src/custom.rs
  turbopack/crates/turbo-tasks-env/src/dotenv.rs
Labels: Turbopack, created-by: Turbopack team

#79130 Turbopack: Make `turbo-tasks-memory` crate Rust 2024
  turbopack/crates/turbo-tasks-memory/Cargo.toml
  turbopack/crates/turbo-tasks-memory/benches/mod.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/aggregation_data.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/balance_edge.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/balance_queue.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/followers.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/in_progress.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/increase.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/loom_tests.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/lost_edge.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/mod.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/new_edge.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/notify_lost_follower.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/notify_new_follower.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/optimize.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/tests.rs
  turbopack/crates/turbo-tasks-memory/src/aggregation/uppers.rs
  turbopack/crates/turbo-tasks-memory/src/cell.rs
  turbopack/crates/turbo-tasks-memory/src/count_hash_set.rs
  turbopack/crates/turbo-tasks-memory/src/edges_set.rs
  turbopack/crates/turbo-tasks-memory/src/gc.rs
  turbopack/crates/turbo-tasks-memory/src/memory_backend.rs
  turbopack/crates/turbo-tasks-memory/src/output.rs
  turbopack/crates/turbo-tasks-memory/src/task.rs
  turbopack/crates/turbo-tasks-memory/src/task/aggregation.rs
  turbopack/crates/turbo-tasks-testing/tests/scope_stress.rs
Labels: Turbopack, created-by: Turbopack team

#79129 Turbopack: Make `turbo-tasks-malloc` crate Rust 2024
  turbopack/crates/turbo-tasks-malloc/Cargo.toml
  turbopack/crates/turbo-tasks-malloc/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#79131 Turbopack: Make `turbopack-core` Rust 2024
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/changed.rs
  turbopack/crates/turbopack-core/src/chunk/chunk_group.rs
  turbopack/crates/turbopack-core/src/chunk/chunk_item_batch.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/dev.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/mod.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/production.rs
  turbopack/crates/turbopack-core/src/chunk/chunking/style_production.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-core/src/chunk/evaluate.rs
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-core/src/chunk/module_id_strategies.rs
  turbopack/crates/turbopack-core/src/compile_time_info.rs
  turbopack/crates/turbopack-core/src/condition.rs
  turbopack/crates/turbopack-core/src/context.rs
  turbopack/crates/turbopack-core/src/data_uri_source.rs
  turbopack/crates/turbopack-core/src/diagnostics/mod.rs
  turbopack/crates/turbopack-core/src/environment.rs
  turbopack/crates/turbopack-core/src/ident.rs
  turbopack/crates/turbopack-core/src/introspect/module.rs
  turbopack/crates/turbopack-core/src/introspect/output_asset.rs
  turbopack/crates/turbopack-core/src/introspect/source.rs
  turbopack/crates/turbopack-core/src/introspect/utils.rs
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-core/src/module.rs
  turbopack/crates/turbopack-core/src/module_graph/chunk_group_info.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batch.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
  turbopack/crates/turbopack-core/src/module_graph/style_groups.rs
  turbopack/crates/turbopack-core/src/module_graph/traced_di_graph.rs
  turbopack/crates/turbopack-core/src/package_json.rs
  turbopack/crates/turbopack-core/src/reference/mod.rs
  turbopack/crates/turbopack-core/src/reference/source_map.rs
  turbopack/crates/turbopack-core/src/resolve/alias_map.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/options.rs
  turbopack/crates/turbopack-core/src/resolve/origin.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-core/src/resolve/plugin.rs
  turbopack/crates/turbopack-core/src/resolve/remap.rs
  turbopack/crates/turbopack-core/src/server_fs.rs
  turbopack/crates/turbopack-core/src/source_map/mod.rs
  turbopack/crates/turbopack-core/src/source_map/source_map_asset.rs
  turbopack/crates/turbopack-core/src/source_map/utils.rs
  turbopack/crates/turbopack-core/src/source_pos.rs
  turbopack/crates/turbopack-core/src/target.rs
  turbopack/crates/turbopack-core/src/version.rs
Labels: Turbopack, created-by: Turbopack team

#79151 Fix false-positive `"use cache"` misplacement error
  crates/next-core/src/next_shared/transforms/server_actions.rs
  test/development/app-dir/use-cache-errors/app/client-module.ts
  test/development/app-dir/use-cache-errors/app/layout.tsx
  test/development/app-dir/use-cache-errors/app/module-with-use-cache.ts
  test/development/app-dir/use-cache-errors/app/page.tsx
  test/development/app-dir/use-cache-errors/next.config.js
  test/development/app-dir/use-cache-errors/use-cache-errors.test.ts
Labels: created-by: Next.js team, Turbopack, tests

#79107 [build-sourcemaps] Remove unused static workers
  packages/next/src/build/index.ts
Labels: type: next, created-by: Next.js team, Rspack

#79115 docs: improve `'use client'` directive and client components
  docs/01-app/03-building-your-application/03-rendering/02-client-components.mdx
  docs/01-app/05-api-reference/01-directives/use-client.mdx
Labels: created-by: Next.js team, Documentation

#79148 Turbopack: remove unused `EcmascriptInputTransform::CommonJs`
  turbopack/crates/turbopack-ecmascript/src/transform/mod.rs
Labels: Turbopack, created-by: Turbopack team

#79097 [test] Add `debug-brk` package script
  package.json
  test/lib/create-next-install.js
Labels: created-by: Next.js team, tests

#79009 perf(turbopack): Optimize `next_page_static_info`
  crates/next-core/src/next_shared/transforms/next_page_static_info.rs
  crates/next-custom-transforms/src/transforms/page_static_info/collect_exported_const_visitor.rs
  crates/next-custom-transforms/src/transforms/page_static_info/mod.rs
Labels: Turbopack, created-by: Turbopack team

#79081 fix: cli test failed when using rspack
  packages/next/src/shared/lib/get-rspack.ts
  test/integration/cli/test/index.test.js
Labels: type: next, tests, Rspack

#79103 build: Update `swc_core` to `v24.0.0`
  .cargo/config.toml
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_reusable.yml
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  turbopack/crates/turbopack-ecmascript/src/transform/mod.rs
Labels: Turbopack, created-by: Turbopack team

#79162 Add initial modifyConfig hook
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  packages/next/src/server/config.ts
  test/production/adapter-config/adapter-config.test.ts
  test/production/adapter-config/my-adapter.mjs
  test/production/adapter-config/next.config.mjs
  test/production/adapter-config/pages/index.tsx
Labels: type: next, created-by: Next.js team, tests

#79164 Re-land updated bundler for pre-bundling
  packages/next/next-runtime.webpack-config.js
  packages/next/package.json
  packages/next/src/server/next-server.ts
  packages/next/taskfile-webpack.js
  packages/next/webpack-plugins/devtools-ignore-list-plugin.js
  pnpm-lock.yaml
Labels: type: next, created-by: Next.js team

#78654 docs: Fix grammar in `vitest.mdx` (How to set up Vitest with Next.js)
  docs/01-app/02-guides/testing/vitest.mdx
Labels: Documentation

#79035 [release] enable changesets
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Labels: created-by: Next.js team

#79154 Remove uses of `read_glob` from `node_native_bindings`
  turbopack/crates/turbopack-core/src/target.rs
  turbopack/crates/turbopack-resolve/src/node_native_binding.rs
Labels: Turbopack, created-by: Turbopack team

#79167 Add `rustc-ice` files to gitignore
  .gitignore
Labels: created-by: Turbopack team

#79136 [dynamicIO] model pathname access in metadata as async
  packages/next/src/lib/metadata/metadata-context.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/lib/metadata/resolve-metadata.test.ts
  packages/next/src/lib/metadata/resolve-metadata.ts
  packages/next/src/lib/metadata/resolvers/resolve-basics.ts
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-opengraph.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.test.ts
  packages/next/src/lib/metadata/resolvers/resolve-url.ts
  packages/next/src/lib/metadata/types/resolvers.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/request/pathname.ts
Labels: type: next, created-by: Next.js team, tests

#79163 Docs: Change `mjs` codeblocks to `js`
  docs/01-app/05-api-reference/05-config/03-eslint.mdx
Labels: Documentation, created-by: Next.js DevEx team

#79198 Docs: Visual nits
  docs/01-app/01-getting-started/06-css.mdx
  docs/01-app/01-getting-started/07-partial-prerendering.mdx
Labels: Documentation, created-by: Next.js DevEx team

#79203 Prettier ignore changeset's format
  .prettierignore
Labels: created-by: Next.js team

#79173 perf(turbopack): Do not inline synthesized content for sourcemaps
  turbopack/crates/turbopack-css/src/module_asset.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
Labels: Turbopack, created-by: Turbopack team

#79176 bugfix (pages): assetPrefix should not cause hard nav in development
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  test/development/basic/asset-prefix/asset-prefix.test.ts
  test/development/basic/asset-prefix/fixture/next.config.js
  test/development/basic/asset-prefix/fixture/pages/index.js
  test/development/basic/asset-prefix/fixture/pages/page2.js
Labels: type: next, created-by: Next.js team, tests

#79201 Reland "Ensure mangling is disabled for dev runtime builds (#75297)"
  contributing/core/vscode-debugger.md
  packages/next/next-runtime.webpack-config.js
  packages/next/package.json
  packages/next/src/build/webpack/plugins/eval-source-map-dev-tool-plugin.ts
  packages/next/webpack-plugins/eval-source-map-dev-tool-plugin.js
  test/development/app-dir/ssr-in-rsc/ssr-in-rsc.test.ts
  test/e2e/app-dir/use-cache-segment-configs/use-cache-segment-configs.test.ts
  test/lib/add-redbox-matchers.ts
Labels: type: next, created-by: Next.js team, tests, Rspack

#77781 docs: add graceful error boundary example
  docs/01-app/05-api-reference/03-file-conventions/error.mdx
Labels: examples, type: next, create-next-app, created-by: Next.js team, Font (next/font), Documentation, Turbopack, tests, Rspack

#78945 turbo-tasks: Encode location information into panics
  crates/napi/src/lib.rs
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
  turbopack/crates/turbo-tasks-backend/tests/panics.rs
  turbopack/crates/turbo-tasks-backend/tests/trace_transient.rs
  turbopack/crates/turbo-tasks-backend/tests/transient_collectible.rs
  turbopack/crates/turbo-tasks-memory/src/memory_backend.rs
  turbopack/crates/turbo-tasks-memory/src/output.rs
  turbopack/crates/turbo-tasks-memory/src/task.rs
  turbopack/crates/turbo-tasks/src/backend.rs
  turbopack/crates/turbo-tasks/src/capture_future.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/output.rs
  turbopack/crates/turbo-tasks/src/util.rs
  turbopack/crates/turbopack-tests/tests/snapshot/imports/json/issues/Code generation for chunk item errored-2c5cf4.txt
  turbopack/crates/turbopack-tests/tests/snapshot/imports/json/output/turbopack_crates_turbopack-tests_tests_snapshot_imports_json_input_52abdb3f._.js
Labels: type: next, create-next-app, Font (next/font), Documentation, Turbopack, created-by: Turbopack team, tests

#79206 Revert "Update mappings in `launch.json` to improve debugging in VSCode (#76559)"
  .vscode/launch.json
Labels: created-by: Next.js team

#79215 perf(turbopack): Use `Byte::from_static` when possible
  turbopack/crates/turbo-tasks-fs/src/rope.rs
Labels: Turbopack, created-by: Turbopack team

#78785 feat(turbopack): Add basic compilation event support
  crates/napi/src/next_api/project.rs
  crates/napi/src/next_api/utils.rs
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
  turbopack/crates/turbo-tasks-testing/src/lib.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/manager.rs
  turbopack/crates/turbo-tasks/src/message_queue.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
Labels: type: next, Turbopack, created-by: Turbopack team, Rspack

#79187 Add recent Turbopack reformats to blame-ignore
  .git-blame-ignore-revs
Labels: created-by: Turbopack team

#79166 [turbopack] Delete the `read_glob` function
  turbopack/crates/turbo-tasks-fs/examples/hash_glob.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/read_glob.rs
Labels: Turbopack, created-by: Turbopack team

#79119 chore(dev-overlay): Minor cleanups to useDelayedRender hook
  packages/next/src/client/components/react-dev-overlay/ui/hooks/use-delayed-render.ts
Labels: type: next, created-by: Turbopack team

#79224 Rename `define-env-plugin.ts` to `define-env.ts`
  packages/next/src/build/define-env.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/server/lib/router-utils/setup-dev-bundler.ts
Labels: type: next, created-by: Turbopack team, Rspack
