Repository vercel/next.js, pull requests merged in 2025-06, with the labels that each got.

#79759 [turbopack] Create a macro rcstr! for constructing RcStr from string literals.
  turbopack/crates/turbo-rcstr/benches/mod.rs
  turbopack/crates/turbo-rcstr/src/dynamic.rs
  turbopack/crates/turbo-rcstr/src/lib.rs
  turbopack/crates/turbo-rcstr/src/tagged_value.rs
Labels: Turbopack, created-by: Turbopack team

#80043 Turbopack: add print_cache_item_size feature flag to print cache size per task
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: Turbopack, created-by: Turbopack team

#80048 docs: Reference to statically imported images
  docs/01-app/01-getting-started/04-images.mdx
Labels: Documentation, created-by: Next.js DevEx team

#79966 Docs: Drop innacurate override information for dynamicParams
  docs/01-app/05-api-reference/03-file-conventions/route-segment-config.mdx
Labels: Documentation, created-by: Next.js DevEx team

#79963 chore: Use same function references in useReportWebVitals examples
  docs/01-app/05-api-reference/04-functions/use-report-web-vitals.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80049 Turbopack Build: Fix next-font test
  test/e2e/next-font/app/pages/with-fonts.js
  test/turbopack-build-tests-manifest.json
Labels: Font (next/font), created-by: Turbopack team, tests

#79991 perf(turbopack): Use owned instance of `Code` for `minify()`
  turbopack/crates/turbo-tasks-fs/src/rope.rs
  turbopack/crates/turbopack-browser/src/ecmascript/content.rs
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  turbopack/crates/turbopack-core/src/code_builder.rs
  turbopack/crates/turbopack-ecmascript/src/minify.rs
  turbopack/crates/turbopack-nodejs/src/ecmascript/node/content.rs
Labels: Font (next/font), Turbopack, created-by: Turbopack team

#80005 [devtools] Add an endpoint to poll for server status
  packages/next/src/client/components/react-dev-overlay/server/restart-dev-server-middleware.ts
Labels: type: next, created-by: Turbopack team

#80026 [dynamicIO] Only report client sync IO errors if they are above a Suspense boundary
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/dynamic-rendering.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.platform-dynamic.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.sync-attribution.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.sync-dynamic.test.ts
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.test.ts
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-guarded-clientsync/app/client.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-guarded-clientsync/app/layout.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-guarded-clientsync/app/page.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-guarded-clientsync/next.config.js
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-unguarded-clientsync/app/client.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-unguarded-clientsync/app/layout.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-unguarded-clientsync/app/page.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-unguarded-clientsync/next.config.js
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-guarded-clientsync/app/client.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-guarded-clientsync/app/layout.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-guarded-clientsync/app/page.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-guarded-clientsync/next.config.js
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-unguarded-clientsync/app/client.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-unguarded-clientsync/app/layout.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-unguarded-clientsync/app/page.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/unguarded-async-unguarded-clientsync/next.config.js
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-client-search-with-fallback/app/page.tsx
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-client-search-without-fallback/app/page.tsx
  test/e2e/app-dir/dynamic-io-errors/utils.ts
Labels: type: next, created-by: Next.js team, tests

#80052 Do not cache fetches with `'no-store'` in `"use cache"` during SSG
  .changeset/pretty-suns-watch.md
  packages/next/src/server/lib/patch-fetch.ts
  test/e2e/app-dir/use-cache/app/cache-fetch-no-store/page.tsx
  test/e2e/app-dir/use-cache/incremental-cache-handler.js
  test/e2e/app-dir/use-cache/next.config.js
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: type: next, created-by: Next.js team, tests

#79700 fix(turbopack): keep the original sourcemap of styles after source transform
  test/e2e/app-dir/scss/compilation-and-prefixing/compilation-and-prefixing.test.ts
  turbopack/crates/turbopack-css/src/asset.rs
  turbopack/crates/turbopack-css/src/process.rs
Labels: Turbopack, tests

#74565 suggested fix for issue #74564
  packages/next-mdx/mdx-js-loader.js
Labels: type: next, CI approved

#80094 Turbopack Build: Update manifest for #80063 fix
  test/turbopack-build-tests-manifest.json
Labels: created-by: Turbopack team, tests

#80097 [dev-tools] Navigation header replaces close button
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/dev-tools-info.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/overview/segment-explorer.tsx
Labels: type: next, CI approved

#80025 [dev-overlay] Fix dark‐mode styling for `<option>` in Preferences dropdowns
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
Labels: type: next, CI approved

#80110 [devtool] fix explorer flag consuming and style
  packages/next/src/build/templates/app-page.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/overview/segment-explorer.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  test/development/app-dir/segment-explorer/segment-explorer.test.ts
Labels: type: next, created-by: Next.js team, tests, Rspack

#80074 perf(turbopack/rcstr): Use precomputed hash
  turbopack/crates/turbo-rcstr/src/dynamic.rs
  turbopack/crates/turbo-rcstr/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#80060 [dev-tools] add restart dev server button to error overlay
  packages/next/src/build/define-env.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-toolbar/error-overlay-toolbar.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-toolbar/restart-server-button.tsx
  packages/next/src/client/components/react-dev-overlay/ui/icons/refresh-clock-wise.tsx
  packages/next/src/client/components/react-dev-overlay/ui/styles/component-styles.tsx
Labels: type: next, created-by: Next.js team, Rspack

#80072 [dev-tools] add restart dev server button on dev-tools indicator preferences
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
Labels: type: next, created-by: Next.js team

#80112 [chore] remove legacy useEarlyImport flag
  packages/next/src/build/entries.ts
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
Labels: type: next, created-by: Next.js team, Rspack

#80055 [testmode] Fix types of `wrapRequestHandler`
  packages/next/src/experimental/testmode/server-edge.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/web/adapter.ts
Labels: type: next, created-by: Next.js team

#79999 fix(turbopack): Allow google font fetch errors to propagate when in production
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_font/google/mod.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_server/context.rs
  test/turbopack-build-tests-manifest.json
Labels: Turbopack, created-by: Turbopack team, tests

#77728 Extend bot list with googleweblight, Storebot-Google, Google-Inspecti…
  packages/next/src/shared/lib/router/utils/is-bot.ts
Labels: type: next

#80046 [dev-overlay] Inject `getSquashedHydrationErrorDetails` implementation
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/pages/hydration-error-state.ts
  packages/next/src/client/components/react-dev-overlay/pages/pages-dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay/error-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.tsx
Labels: type: next, created-by: Next.js team

#80118 [dev-tools] better description for restart server button
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-toolbar/restart-server-button.tsx
Labels: type: next, created-by: Next.js team

#78495 [metadata] refactor to remove async metadata
  packages/next/src/client/components/metadata/async-metadata.tsx
  packages/next/src/client/components/metadata/browser-resolved-metadata.tsx
  packages/next/src/client/components/metadata/server-inserted-metadata.tsx
  packages/next/src/lib/metadata/generate/icon-mark.tsx
  packages/next/src/lib/metadata/generate/icons.tsx
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/metadata-insertion/create-server-inserted-metadata.tsx
  packages/next/src/server/base-server.ts
  packages/next/src/server/route-modules/app-page/vendored/contexts/entrypoints.ts
  packages/next/src/server/stream-utils/encoded-tags.ts
  packages/next/src/server/stream-utils/node-web-streams-helper.ts
  packages/next/src/shared/lib/server-inserted-metadata.shared-runtime.ts
  test/e2e/app-dir/app-css/index.test.ts
  test/e2e/app-dir/metadata-icons/metadata-icons.test.ts
  test/e2e/app-dir/metadata-icons/next.config.js
  test/e2e/app-dir/metadata-streaming-parallel-routes/metadata-streaming-parallel-routes.test.ts
  test/e2e/app-dir/metadata-streaming/metadata-streaming.test.ts
  test/e2e/app-dir/metadata-suspense/index.test.ts
  test/e2e/app-dir/metadata-suspense/tsconfig.json
  test/e2e/app-dir/not-found/conflict-route/app/not-found/page.js
  test/e2e/app-dir/not-found/conflict-route/index.test.ts
  test/e2e/opentelemetry/instrumentation/opentelemetry.test.ts
Labels: type: next, created-by: Next.js team, tests

#80117 chore(turbopack): Fix building local crates with `--all-features`
  turbopack/crates/turbo-persistence/src/static_sorted_file.rs
  turbopack/crates/turbo-rcstr/src/tagged_value.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-macros-shared/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#79787 [dynamicIO] Document client component remediations for sync IO
  errors/next-prerender-crypto-client.mdx
  errors/next-prerender-crypto.mdx
  errors/next-prerender-current-time-client.mdx
  errors/next-prerender-current-time.mdx
  errors/next-prerender-random-client.mdx
  errors/next-prerender-random.mdx
  packages/next/src/server/node-environment-extensions/utils.tsx
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.sync-attribution.test.ts
Labels: type: next, created-by: Next.js team, Documentation, tests

#80121 chore(turbopack): Remove unused dependencies reported by cargo-shear
  Cargo.lock
  Cargo.toml
  crates/napi/Cargo.toml
  crates/next-api/Cargo.toml
  crates/next-build-test/Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-static/Cargo.toml
  turbopack/crates/turbo-tasks-backend/Cargo.toml
  turbopack/crates/turbo-tasks-env/Cargo.toml
  turbopack/crates/turbo-tasks-fetch/Cargo.toml
  turbopack/crates/turbo-tasks-fs/Cargo.toml
  turbopack/crates/turbo-tasks-testing/Cargo.toml
  turbopack/crates/turbopack-browser/Cargo.toml
  turbopack/crates/turbopack-cli/Cargo.toml
  turbopack/crates/turbopack-css/Cargo.toml
  turbopack/crates/turbopack-dev-server/Cargo.toml
  turbopack/crates/turbopack-ecmascript-plugins/Cargo.toml
  turbopack/crates/turbopack-ecmascript/Cargo.toml
  turbopack/crates/turbopack-env/Cargo.toml
  turbopack/crates/turbopack-json/Cargo.toml
  turbopack/crates/turbopack-mdx/Cargo.toml
  turbopack/crates/turbopack-node/Cargo.toml
  turbopack/crates/turbopack-nodejs/Cargo.toml
  turbopack/crates/turbopack-resolve/Cargo.toml
  turbopack/crates/turbopack-static/Cargo.toml
  turbopack/crates/turbopack-tests/Cargo.toml
  turbopack/crates/turbopack-wasm/Cargo.toml
  turbopack/crates/turbopack/Cargo.toml
Labels: Turbopack, created-by: Turbopack team

#80125 [dynamicIO] prioritize preprocessing RSC rows when prerendering
  packages/next/errors.json
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/use-flight-response.tsx
  test/e2e/app-dir/dynamic-io-errors/dynamic-io-errors.sync-attribution.test.ts
  test/e2e/app-dir/dynamic-io-errors/fixtures/sync-attribution/guarded-async-guarded-clientsync/app/layout.tsx
  test/lib/next-test-utils.ts
Labels: type: next, created-by: Next.js team, tests

#80143 Remove unused vendored `server-inserted-metadata` module
  packages/next/src/server/route-modules/app-page/vendored/contexts/server-inserted-metadata.ts
Labels: type: next, created-by: Next.js team

#80151 [global-not-found] fix shared css imports not being picked
  packages/next/src/build/webpack/plugins/flight-client-entry-plugin.ts
  test/e2e/app-dir/global-not-found/css/app/call-not-found/page.tsx
  test/e2e/app-dir/global-not-found/css/app/client.tsx
  test/e2e/app-dir/global-not-found/css/app/global-not-found.css
  test/e2e/app-dir/global-not-found/css/app/global-not-found.tsx
  test/e2e/app-dir/global-not-found/css/app/global.css
  test/e2e/app-dir/global-not-found/css/app/layout.tsx
  test/e2e/app-dir/global-not-found/css/app/page.tsx
  test/e2e/app-dir/global-not-found/css/global-not-found-css.test.ts
  test/e2e/app-dir/global-not-found/css/next.config.js
Labels: type: next, created-by: Next.js team, tests, Rspack

#80157 Add experimental flag for RSC request validation
  packages/next/src/server/base-server.ts
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  test/e2e/app-dir/segment-cache/cdn-cache-busting/next.config.js
Labels: type: next, created-by: Next.js team, tests

#80160 [test] add custom timeout for start server
  test/e2e/opentelemetry/client-trace-metadata/client-trace-metadata.test.ts
  test/lib/next-modes/base.ts
  test/lib/next-modes/next-dev.ts
  test/lib/next-modes/next-start.ts
Labels: created-by: Next.js team, tests

#80146 [metadata] only render one metadata outlet
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  test/e2e/app-dir/metadata-streaming-parallel-routes/metadata-streaming-parallel-routes.test.ts
Labels: type: next, created-by: Next.js team, tests

#80147 Turbopack: Fix sst filter handling and order for meta files
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/meta_file.rs
  turbopack/crates/turbo-persistence/src/sst_filter.rs
  turbopack/crates/turbo-persistence/src/tests.rs
Labels: Turbopack, created-by: Turbopack team

#80170 [turbopack] Remove turbo_tasks::value attribute from NativeFunction
  turbopack/crates/turbo-tasks/src/native_function.rs
Labels: Turbopack, created-by: Turbopack team

#80148 Turbopack: add tool to print DB structure
  Cargo.lock
  turbopack/crates/turbo-persistence-tools/Cargo.toml
  turbopack/crates/turbo-persistence-tools/src/main.rs
  turbopack/crates/turbo-persistence/Cargo.toml
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/lib.rs
  turbopack/crates/turbo-persistence/src/meta_file.rs
Labels: Turbopack, created-by: Turbopack team

#79388 remove unique metadata prop from initial RSC payload
  packages/next/src/server/app-render/app-render.tsx
Labels: type: next, created-by: Next.js team

#79460 chore(docs): add azion imageLoader config
  docs/02-app/02-api-reference/05-next-config-js/images.mdx
Labels: examples, Documentation

#79928 feat: Rspack support config.experimental.useLightningcss to switch css-minimizer-plugin
  packages/next/src/build/webpack-config.ts
  test/integration/css-minify/test/index.test.js
Labels: type: next, tests, Rspack

#80161 build(turbopack): Update `swc_core` to `v26.4.4`
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#80162 Fix race condition in `types-and-precompiled`
  package.json
Labels: created-by: Next.js team

#80204 Turbopack: ignore module ids config in dev
  crates/next-api/src/project.rs
  crates/next-core/src/next_config.rs
Labels: Turbopack, created-by: Turbopack team

#80149 Turbopack: Log persistent cache store time
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: type: next, create-next-app, Turbopack, created-by: Turbopack team, tests

#80172 Add a test to show that `'use cache'` works in `generateMetadata`
  test/e2e/app-dir/use-cache/app/generate-metadata/cached-data.ts
  test/e2e/app-dir/use-cache/app/generate-metadata/layout.tsx
  test/e2e/app-dir/use-cache/app/generate-metadata/page.tsx
  test/e2e/app-dir/use-cache/use-cache.test.ts
Labels: created-by: Next.js team, tests

#80205 [test] Add test for dev rendering indicator
  test/development/dev-indicator/app/app/rendering/a/page.js
  test/development/dev-indicator/app/app/rendering/b/page.js
  test/development/dev-indicator/app/layout.js
  test/development/dev-indicator/dev-rendering-indicator.test.ts
Labels: created-by: Next.js team, tests

#80103 Docs: Linking and Navigating Page
  docs/01-app/01-getting-started/02-project-structure.mdx
  docs/01-app/01-getting-started/03-layouts-and-pages.mdx
  docs/01-app/01-getting-started/04-linking-and-navigating.mdx
  docs/01-app/01-getting-started/05-images.mdx
  docs/01-app/01-getting-started/06-fonts.mdx
  docs/01-app/01-getting-started/07-css.mdx
  docs/01-app/01-getting-started/08-server-and-client-components.mdx
  docs/01-app/01-getting-started/09-fetching-data.mdx
  docs/01-app/01-getting-started/10-caching-and-revalidating.mdx
  docs/01-app/01-getting-started/11-updating-data.mdx
  docs/01-app/01-getting-started/12-error-handling.mdx
  docs/01-app/01-getting-started/13-partial-prerendering.mdx
  docs/01-app/01-getting-started/14-metadata-and-og-images.mdx
  docs/01-app/01-getting-started/15-deploying.mdx
  docs/01-app/01-getting-started/16-upgrading.mdx
  docs/01-app/02-guides/authentication.mdx
  docs/01-app/02-guides/lazy-loading.mdx
  docs/01-app/02-guides/migrating/app-router-migration.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/migrating/from-vite.mdx
  docs/01-app/02-guides/production-checklist.mdx
  docs/01-app/02-guides/self-hosting.mdx
  docs/01-app/02-guides/single-page-applications.mdx
  docs/01-app/02-guides/videos.mdx
  docs/01-app/03-building-your-application/01-routing/04-linking-and-navigating.mdx
  docs/01-app/03-building-your-application/01-routing/06-loading-ui-and-streaming.mdx
  docs/01-app/04-deep-dive/caching.mdx
  docs/01-app/05-api-reference/02-components/form.mdx
  docs/01-app/05-api-reference/02-components/link.mdx
  docs/01-app/05-api-reference/03-file-conventions/default.mdx
  docs/01-app/05-api-reference/03-file-conventions/layout.mdx
  docs/01-app/05-api-reference/03-file-conventions/loading.mdx
  docs/01-app/05-api-reference/03-file-conventions/parallel-routes.mdx
  docs/01-app/05-api-reference/03-file-conventions/route-segment-config.mdx
  docs/01-app/05-api-reference/04-functions/redirect.mdx
  docs/01-app/05-api-reference/04-functions/use-link-status.mdx
  docs/01-app/05-api-reference/04-functions/use-router.mdx
  docs/01-app/05-api-reference/04-functions/use-search-params.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/appDir.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/devIndicators.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/staleTimes.mdx
  docs/01-app/05-api-reference/07-edge.mdx
  docs/02-pages/03-building-your-application/02-rendering/05-client-side-rendering.mdx
Labels: Font (next/font), Documentation, created-by: Next.js DevEx team

#80238 Turbopack Build: docs for unsupported composes handling
  docs/01-app/05-api-reference/08-turbopack.mdx
  test/integration/css-features/test/css-modules.test.js
  test/integration/css-modules/test/index.test.js
  test/turbopack-build-tests-manifest.json
Labels: Documentation, created-by: Turbopack team, tests

#80212 [devtool] style the segment explorer as nested view
  packages/next/src/client/components/react-dev-overlay/ui/components/overview/segment-explorer.tsx
  test/development/app-dir/segment-explorer/segment-explorer.test.ts
Labels: type: next, created-by: Next.js team, tests

#80134 [turbopack] Replace uses of `Value<Pattern>` with just `Pattern`
  crates/next-api/src/app.rs
  crates/next-api/src/pages.rs
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_import_map.rs
  crates/next-core/src/next_shared/transforms/swc_ecma_transform_plugins.rs
  crates/next-core/src/next_shared/webpack_rules/babel.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-cli/src/dev/mod.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-core/src/resolve/options.rs
  turbopack/crates/turbopack-core/src/resolve/parse.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-css/src/module_asset.rs
  turbopack/crates/turbopack-css/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/references/require_context.rs
  turbopack/crates/turbopack-ecmascript/src/references/typescript.rs
  turbopack/crates/turbopack-ecmascript/src/typescript/mod.rs
  turbopack/crates/turbopack-node/src/transforms/webpack.rs
  turbopack/crates/turbopack-resolve/src/typescript.rs
Labels: Turbopack, created-by: Turbopack team

#80135 [turbopack] Replace uses of `Value<ExecutionEnvironment>` with just `ExecutionEnvironment`
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_edge/context.rs
  crates/next-core/src/next_server/context.rs
  turbopack/crates/turbopack-cli/src/build/mod.rs
  turbopack/crates/turbopack-cli/src/contexts.rs
  turbopack/crates/turbopack-core/src/environment.rs
  turbopack/crates/turbopack-ecmascript/benches/analyzer.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack/benches/node_file_trace.rs
  turbopack/crates/turbopack/examples/turbopack.rs
  turbopack/crates/turbopack/src/evaluate_context.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/tests/node-file-trace.rs
Labels: Turbopack, created-by: Turbopack team

#80221 fix: invalid middleware configs should fail the build
  packages/next/src/build/analysis/get-page-static-info.ts
  packages/next/src/build/index.ts
  test/production/exported-runtimes-value-validation/index.test.ts
  test/production/exported-runtimes-value-validation/invalid-middleware/middleware.js
  test/production/exported-runtimes-value-validation/invalid-middleware/pages/index.js
Labels: type: next, created-by: Next.js team, tests, Rspack

#79699 [dev-overlay] Render /app Dev Overlay with a separate React instance
  .eslintrc.json
  packages/next/errors.json
  packages/next/next-devtools.webpack-config.js
  packages/next/next-runtime.webpack-config.js
  packages/next/src/client/app-next-dev.ts
  packages/next/src/client/app-next-turbopack.ts
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay-error-boundary.tsx
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay.browser.tsx
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay.shim.ts
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/app/client-entry.tsx
  packages/next/src/client/components/react-dev-overlay/app/entrypoint.d.ts
  packages/next/src/client/components/react-dev-overlay/app/entrypoint.js
  packages/next/src/client/components/react-dev-overlay/app/hot-reloader-client.tsx
  packages/next/src/client/components/react-dev-overlay/pages/pages-dev-overlay.tsx
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/dev-tools-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/shadow-portal.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
  packages/next/src/client/components/react-dev-overlay/utils/dev-indicator/dev-render-indicator.tsx
  packages/next/src/client/components/react-dev-overlay/utils/dev-indicator/use-app-dev-rendering-indicator.tsx
  packages/next/src/client/components/use-action-queue.ts
  packages/next/src/client/index.tsx
  packages/next/taskfile.js
  packages/next/tsconfig.json
  packages/next/types/$$compiled.internal.d.ts
  packages/next/types/compiled.d.ts
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance-app/hydration-error.test.ts
  tsec-exemptions.json
Labels: type: next, created-by: Next.js team, tests

#80261 [devtool] display segment explorer as tree view
  packages/next/src/client/components/react-dev-overlay/ui/components/overview/segment-explorer.tsx
  test/development/app-dir/segment-explorer/app/(v2)/blog/(team)/layout.tsx
  test/development/app-dir/segment-explorer/app/(v2)/blog/(team)/~/(overview)/grid/page.tsx
  test/development/app-dir/segment-explorer/app/(v2)/blog/(team)/~/(overview)/layout.tsx
  test/development/app-dir/segment-explorer/app/(v2)/layout.tsx
  test/development/app-dir/segment-explorer/segment-explorer.test.ts
Labels: type: next, created-by: Next.js team, tests

#80259 Revert "[test] fix flaky test of basepath navigation"
  test/e2e/app-dir/app-basepath/index.test.ts
Labels: created-by: Next.js team, tests

#80240 Turbopack: really fix export collection
  turbopack/crates/turbopack-ecmascript/src/analyzer/imports.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/graph.rs
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/amphtml-document/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/mui-sys/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/node-fetch/output.md
  turbopack/crates/turbopack-ecmascript/tests/tree-shaker/analyzer/template-pages/output.md
Labels: Turbopack, created-by: Turbopack team

#80141 [turbopack] Remove uses of `Value<..>` instead make the payloads impl Taskinput
  crates/next-core/src/next_font/google/mod.rs
  crates/next-core/src/next_font/google/options.rs
  crates/next-core/src/next_font/local/mod.rs
  crates/next-core/src/next_font/local/options.rs
  crates/next-core/src/next_font/local/request.rs
  crates/next-core/src/next_image/module.rs
  crates/next-core/src/next_shared/transforms/mod.rs
  turbopack/crates/turbopack-css/src/references/compose.rs
  turbopack/crates/turbopack-css/src/references/import.rs
  turbopack/crates/turbopack-css/src/references/mod.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
Labels: Turbopack, created-by: Turbopack team

#80142 [turbopack] Remove uses of `Value<..>` instead make the payloads impl Taskinput
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  turbopack/crates/turbopack-browser/src/ecmascript/list/asset.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-core/src/ident.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-css/src/chunk/mod.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/runtime_type.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/mod.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/side_effect_module.rs
  turbopack/crates/turbopack-node/src/transforms/postcss.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
Labels: Turbopack, created-by: Turbopack team

#80144 [turbopack] Remove the final uses of `Value<..>` and delete the type
  crates/next-api/src/pages.rs
  crates/next-core/src/app_segment_config.rs
  turbopack/crates/turbo-tasks-testing/tests/all_in_one.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/marker_trait.rs
  turbopack/crates/turbo-tasks/src/task/task_input.rs
  turbopack/crates/turbo-tasks/src/value.rs
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
  turbopack/crates/turbopack-browser/src/ecmascript/list/asset.rs
  turbopack/crates/turbopack-core/src/compile_time_info.rs
  turbopack/crates/turbopack-ecmascript-runtime/src/browser_runtime.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/references/constant_value.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/dynamic.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/webpack/parse.rs
  turbopack/crates/turbopack-ecmascript/src/webpack/references.rs
  turbopack/crates/turbopack-resolve/src/ecmascript.rs
Labels: Turbopack, created-by: Turbopack team

#80185 [turbopack] Remove the `_for_input` options from `turbo_tasks::value` and the `TypedForInput` trait.
  crates/next-core/src/next_image/module.rs
  turbopack/crates/turbo-tasks-macros/src/value_macro.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/value_type.rs
  turbopack/crates/turbo-tasks/src/vc/mod.rs
  turbopack/crates/turbo-tasks/src/vc/traits.rs
  turbopack/crates/turbopack-browser/src/chunking_context.rs
  turbopack/crates/turbopack-core/src/compile_time_info.rs
  turbopack/crates/turbopack-core/src/environment.rs
  turbopack/crates/turbopack-core/src/target.rs
  turbopack/crates/turbopack-dev-server/src/source/mod.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/imports.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/transform/mod.rs
  turbopack/crates/turbopack-nodejs/src/chunking_context.rs
  turbopack/crates/turbopack/src/module_options/module_rule.rs
Labels: Turbopack, created-by: Turbopack team

#80217 Docs: Add rspack community collab
  docs/04-community/02-rspack.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80295 [dev-overlay] Publish as production bundle
  packages/next/taskfile.js
Labels: type: next, created-by: Next.js team

#80323 chore(turbopack/ci): Make codspeed stable
  .github/workflows/turbopack-benchmark.yml
Labels: created-by: Turbopack team

#80272 [metadata] only serve block streaming metadata for html bots
  packages/next/src/server/lib/streaming-metadata.ts
  test/integration/next-image-new/app-dir/app/valid-html-w3c/page.js
  test/integration/next-image-new/app-dir/test/index.test.ts
Labels: type: next, created-by: Next.js team, tests

#80329 [test] Only run build_and_deploy once for PRs from upstream
  .github/workflows/build_and_deploy.yml
Labels: created-by: Next.js team

#80341 chore(turbo-tasks-fetch): Port tests from httpmock to mockito
  Cargo.lock
  turbopack/crates/turbo-tasks-fetch/Cargo.toml
  turbopack/crates/turbo-tasks-fetch/src/lib.rs
  turbopack/crates/turbo-tasks-fetch/tests/fetch.rs
Labels: Turbopack, created-by: Turbopack team

#80225 feat(turbopack): Invalidate the persistent cache upon panic
  crates/napi/src/lib.rs
  turbopack/crates/turbo-tasks-backend/src/kv_backing_storage.rs
  turbopack/crates/turbo-tasks-backend/tests/panics.rs
  turbopack/crates/turbo-tasks/src/capture_future.rs
  turbopack/crates/turbo-tasks/src/lib.rs
  turbopack/crates/turbo-tasks/src/panic_hooks.rs
Labels: Turbopack, created-by: Turbopack team

#80335 perf(turbopack): Optimize `Rope` correctly
  turbopack/crates/turbo-tasks-fs/src/rope.rs
Labels: Turbopack, created-by: Turbopack team

#80322 [dev-overlay] fix duplicate re-render of errors
  packages/next/src/client/components/react-dev-overlay/shared.ts
  test/development/app-dir/error-overlay/duplicate-runtime-error/app/layout.tsx
  test/development/app-dir/error-overlay/duplicate-runtime-error/app/page.tsx
  test/development/app-dir/error-overlay/duplicate-runtime-error/duplicate-runtime-error.test.ts
  test/development/app-dir/error-overlay/duplicate-runtime-error/next.config.js
Labels: type: next, created-by: Next.js team, tests

#80352 docs: Incremental cache is not used for cache-control: no-cache requests
  docs/01-app/04-deep-dive/caching.mdx
  docs/01-app/05-api-reference/04-functions/fetch.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80326 [build-sourcemaps] Only compute codeframe once
  packages/next/src/server/patch-error-inspect.ts
Labels: type: next, created-by: Next.js team

#80288 [test] Fix Dev Overlay Storybook
  packages/next/.storybook/preview.tsx
Labels: type: next, created-by: Next.js team

#80249 Docs: Add Data Security Guide
  docs/01-app/01-getting-started/11-updating-data.mdx
  docs/01-app/02-guides/authentication.mdx
  docs/01-app/02-guides/data-security.mdx
  docs/01-app/02-guides/incremental-static-regeneration.mdx
  docs/01-app/02-guides/index.mdx
  docs/01-app/02-guides/migrating/app-router-migration.mdx
  docs/01-app/02-guides/multi-zones.mdx
  docs/01-app/02-guides/production-checklist.mdx
  docs/01-app/02-guides/redirecting.mdx
  docs/01-app/02-guides/single-page-applications.mdx
  docs/01-app/02-guides/static-exports.mdx
  docs/01-app/03-building-your-application/02-data-fetching/03-server-actions-and-mutations.mdx
  docs/01-app/03-building-your-application/02-data-fetching/index.mdx
  docs/01-app/04-deep-dive/caching.mdx
  docs/01-app/05-api-reference/02-components/form.mdx
  docs/01-app/05-api-reference/03-file-conventions/route-segment-config.mdx
  docs/01-app/05-api-reference/04-functions/after.mdx
  docs/01-app/05-api-reference/04-functions/cacheTag.mdx
  docs/01-app/05-api-reference/04-functions/cookies.mdx
  docs/01-app/05-api-reference/04-functions/forbidden.mdx
  docs/01-app/05-api-reference/04-functions/permanentRedirect.mdx
  docs/01-app/05-api-reference/04-functions/redirect.mdx
  docs/01-app/05-api-reference/04-functions/unauthorized.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/appDir.mdx
  docs/02-pages/03-building-your-application/03-data-fetching/03-forms-and-mutations.mdx
  docs/02-pages/04-api-reference/03-functions/get-initial-props.mdx
  docs/02-pages/04-api-reference/03-functions/get-server-side-props.mdx
  docs/02-pages/04-api-reference/03-functions/get-static-paths.mdx
  docs/02-pages/04-api-reference/03-functions/get-static-props.mdx
  errors/failed-to-find-server-action.mdx
  errors/invalid-use-server-value.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80360 Docs IA 2.0: Move examples to route.js API reference
  docs/01-app/02-guides/index.mdx
  docs/01-app/03-building-your-application/01-routing/13-route-handlers.mdx
  docs/01-app/03-building-your-application/01-routing/14-middleware.mdx
  docs/01-app/05-api-reference/03-file-conventions/route.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80363 Docs IA 2.0: Move examples to middleware.js API reference
  docs/01-app/01-getting-started/02-project-structure.mdx
  docs/01-app/02-guides/authentication.mdx
  docs/01-app/02-guides/content-security-policy.mdx
  docs/01-app/02-guides/internationalization.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
  docs/01-app/02-guides/migrating/from-vite.mdx
  docs/01-app/02-guides/redirecting.mdx
  docs/01-app/02-guides/self-hosting.mdx
  docs/01-app/02-guides/static-exports.mdx
  docs/01-app/03-building-your-application/01-routing/14-middleware.mdx
  docs/01-app/05-api-reference/02-components/link.mdx
  docs/01-app/05-api-reference/03-file-conventions/01-metadata/index.mdx
  docs/01-app/05-api-reference/03-file-conventions/middleware.mdx
  docs/01-app/05-api-reference/03-file-conventions/route.mdx
  docs/01-app/05-api-reference/04-functions/after.mdx
  docs/01-app/05-api-reference/04-functions/generate-metadata.mdx
  docs/01-app/05-api-reference/04-functions/use-pathname.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/pageExtensions.mdx
  docs/01-app/05-api-reference/05-config/01-next-config-js/redirects.mdx
  docs/02-pages/02-guides/internationalization.mdx
  docs/02-pages/03-building-your-application/03-data-fetching/01-get-static-props.mdx
  docs/02-pages/04-api-reference/02-file-conventions/middleware.mdx
  errors/beta-middleware.mdx
  errors/no-server-import-in-page.mdx
  errors/node-module-in-edge-runtime.mdx
  errors/returning-response-body-in-middleware.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80292 [test] Fix crashes in Dev Overlay Stories
  packages/next/.storybook/test-runner.ts
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-overlay-layout/error-overlay-layout.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/hydration-diff/diff-view.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/errors.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/runtime-error/component-stack-pseudo-html.stories.tsx
Labels: type: next, created-by: Next.js team

#80152 Docs: Add prefetching guide
  docs/01-app/02-guides/prefetching.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80289 [dev-overlay] Remove positive tab-index
  packages/next/src/client/components/react-dev-overlay/ui/components/hydration-diff/diff-view.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/terminal/editor-link.tsx
Labels: type: next, created-by: Next.js team

#80260 [devtools] Implement default `/.well-known/appspecific/com.chrome.devtools.json` endpoint in dev
  packages/next/errors.json
  packages/next/src/server/lib/chrome-devtools-workspace.ts
  packages/next/src/server/lib/router-server.ts
  test/e2e/chrome-devtools-workspace/chrome-devtools-workspace-base-path.test.ts
  test/e2e/chrome-devtools-workspace/chrome-devtools-workspace-custom-disable.test.ts
  test/e2e/chrome-devtools-workspace/chrome-devtools-workspace.test.ts
  test/e2e/chrome-devtools-workspace/fixtures/base-path/app/layout.js
  test/e2e/chrome-devtools-workspace/fixtures/base-path/app/page.js
  test/e2e/chrome-devtools-workspace/fixtures/base-path/next.config.js
  test/e2e/chrome-devtools-workspace/fixtures/custom-disable/app/layout.js
  test/e2e/chrome-devtools-workspace/fixtures/custom-disable/app/page.js
  test/e2e/chrome-devtools-workspace/fixtures/custom-disable/next.config.js
  test/e2e/chrome-devtools-workspace/fixtures/custom-disable/public/.well-known/appspecific/com.chrome.devtools.json
  test/e2e/chrome-devtools-workspace/fixtures/default/app/layout.js
  test/e2e/chrome-devtools-workspace/fixtures/default/app/page.js
  test/e2e/chrome-devtools-workspace/fixtures/default/next.config.js
Labels: type: next, created-by: Next.js team, tests

#80366 [test] add rspack flaky test to build manifest
  test/rspack-build-tests-manifest.json
Labels: created-by: Next.js team, tests

#80290 [dev-overlay] Fix outstanding a11y issues reported by Axe
  packages/next/.storybook/preview.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/call-stack-frame/call-stack-frame.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/call-stack-frame/call-stack-frame.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/call-stack/call-stack.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/dev-tools-indicator/next-logo.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/errors/error-message/error-message.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/hydration-diff/diff-view.tsx
  packages/next/src/client/components/react-dev-overlay/ui/components/terminal/terminal.stories.tsx
  packages/next/src/client/components/react-dev-overlay/ui/container/errors.tsx
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
Labels: type: next, created-by: Next.js team

#80278 [dev-overlay] Move hot reloader client code out of react-dev-overlay
  packages/next/src/client/components/app-router.tsx
  packages/next/src/client/components/react-dev-overlay/app/client-entry.tsx
  packages/next/src/client/components/react-dev-overlay/pages/hooks.ts
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/router-reducer/fetch-server-response.ts
  packages/next/src/client/dev/amp-dev.ts
  packages/next/src/client/dev/error-overlay/websocket.ts
  packages/next/src/client/dev/hot-middleware-client.ts
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/app/use-websocket.ts
  packages/next/src/client/dev/hot-reloader/get-socket-url.ts
  packages/next/src/client/dev/hot-reloader/pages/hot-reloader-pages.ts
  packages/next/src/client/dev/hot-reloader/pages/websocket.ts
  packages/next/src/client/dev/hot-reloader/shared.ts
  packages/next/src/client/dev/on-demand-entries-client.ts
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/client/tracing/report-to-socket.ts
Labels: type: next, created-by: Next.js team

#80378 docs: Middleware fetching is not cached
  docs/01-app/03-building-your-application/01-routing/14-middleware.mdx
  docs/01-app/04-deep-dive/caching.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80279 [dev-overlay] Remove unused code
  packages/next/src/client/components/errors/hydration-error-info.ts
  packages/next/src/client/components/react-dev-overlay/pages/bus.ts
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/ui/dev-overlay.stories.tsx
Labels: type: next, created-by: Next.js team

#80280 [dev-overlay] Move app/pages related features closers together
  packages/next/src/client/app-index.tsx
  packages/next/src/client/app-next-dev.ts
  packages/next/src/client/app-next-turbopack.ts
  packages/next/src/client/components/globals/handle-global-errors.ts
  packages/next/src/client/components/globals/patch-console.ts
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay-error-boundary.tsx
  packages/next/src/client/components/react-dev-overlay/app/app-dev-overlay-setup.ts
  packages/next/src/client/components/react-dev-overlay/app/errors/console-error.ts
  packages/next/src/client/components/react-dev-overlay/app/errors/intercept-console-error.ts
  packages/next/src/client/components/react-dev-overlay/app/errors/replay-ssr-only-errors.tsx
  packages/next/src/client/components/react-dev-overlay/app/errors/stitched-error.ts
  packages/next/src/client/components/react-dev-overlay/app/errors/use-error-handler.ts
  packages/next/src/client/components/react-dev-overlay/pages/hooks.ts
  packages/next/src/client/components/react-dev-overlay/pages/pages-dev-overlay-bridge.tsx
  packages/next/src/client/components/react-dev-overlay/pages/pages-dev-overlay-setup.tsx
  packages/next/src/client/components/react-dev-overlay/runtime-error-handler.ts
  packages/next/src/client/components/react-dev-overlay/server/middleware-webpack.ts
  packages/next/src/client/components/react-dev-overlay/shared.ts
  packages/next/src/client/components/react-dev-overlay/utils/node-stack-frames.ts
  packages/next/src/client/dev/hot-reloader/app/hot-reloader-app.tsx
  packages/next/src/client/dev/hot-reloader/pages/hot-reloader-pages.ts
  packages/next/src/client/index.tsx
  packages/next/src/client/page-bootstrap.ts
  packages/next/src/client/react-client-callbacks/error-boundary-callbacks.ts
  packages/next/src/client/react-client-callbacks/on-recoverable-error.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/render.tsx
  packages/next/src/server/request-meta.ts
  packages/next/src/server/web/sandbox/context.ts
  packages/next/src/server/web/sandbox/sandbox.ts
  test/production/app-dir/browser-chunks/browser-chunks.test.ts
Labels: type: next, created-by: Next.js team, tests

#80387 Discard `Infinity` expiration for implicit tags
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/use-cache-custom-handler/handler.js
Labels: type: next, created-by: Next.js team, tests

#80390 fix(next-swc-wasm): Only enable turbo-rcstr's napi feature when building the next-swc-napi crate/package
  Cargo.toml
  crates/napi/Cargo.toml
  packages/next/src/build/swc/generated-wasm.d.ts
  turbopack/crates/turbo-rcstr/Cargo.toml
  turbopack/crates/turbo-rcstr/src/lib.rs
Labels: type: next, Turbopack, created-by: Turbopack team, Rspack

#80362 Turbopack: include obsolete entries in computation
  turbopack/crates/turbo-persistence-tools/src/main.rs
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/meta_file.rs
  turbopack/crates/turbo-persistence/src/meta_file_builder.rs
  turbopack/crates/turbo-persistence/src/sst_filter.rs
  turbopack/crates/turbo-persistence/src/tests.rs
Labels: Turbopack, created-by: Turbopack team

#80338 build(turbopack): Update `swc_core` to `v27.0.1`
  Cargo.lock
  Cargo.toml
  crates/next-core/Cargo.toml
  crates/next-custom-transforms/Cargo.toml
  crates/next-custom-transforms/src/react_compiler.rs
  crates/next-custom-transforms/tests/fixture.rs
  crates/wasm/src/lib.rs
  turbopack/crates/turbo-rcstr/Cargo.toml
  turbopack/crates/turbo-rcstr/src/lib.rs
  turbopack/crates/turbopack-core/Cargo.toml
  turbopack/crates/turbopack-core/src/source_map/mod.rs
  turbopack/crates/turbopack-core/src/source_map/utils.rs
  turbopack/crates/turbopack-css/src/process.rs
  turbopack/crates/turbopack-ecmascript/Cargo.toml
  turbopack/crates/turbopack-ecmascript/src/parse.rs
  turbopack/crates/turbopack-ecmascript/src/path_visitor.rs
Labels: Turbopack, created-by: Turbopack team

#80145 Docs: Clarify how intercepting routes work and update example
  docs/01-app/05-api-reference/03-file-conventions/intercepting-routes.mdx
  docs/01-app/05-api-reference/03-file-conventions/parallel-routes.mdx
Labels: Documentation, created-by: Next.js DevEx team

#79178 Require that `turbo_tasks::value_trait` items be annotated with `turbo-tasks::function`
  crates/next-api/src/route.rs
  turbopack/crates/turbo-tasks-env/src/lib.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_attribute_invalid_args_inherent_impl.stderr
  turbopack/crates/turbo-tasks-macros-tests/tests/value_trait/fail_missing_function_annotation.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/value_trait/fail_missing_function_annotation.stderr
  turbopack/crates/turbo-tasks-macros-tests/tests/value_trait/pass_trait_items.rs
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks-macros/src/value_impl_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
  turbopack/crates/turbo-tasks-testing/tests/all_in_one.rs
  turbopack/crates/turbo-tasks-testing/tests/call_types.rs
  turbopack/crates/turbo-tasks-testing/tests/filter_unused_args.rs
  turbopack/crates/turbo-tasks-testing/tests/local_tasks.rs
  turbopack/crates/turbo-tasks-testing/tests/task_statistics.rs
  turbopack/crates/turbo-tasks-testing/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks-testing/tests/trait_ref_cell_mode.rs
  turbopack/crates/turbo-tasks/src/debug/mod.rs
  turbopack/crates/turbo-tasks/src/display.rs
  turbopack/crates/turbo-tasks/src/task/local_task.rs
  turbopack/crates/turbo-tasks/src/vc/default.rs
  turbopack/crates/turbopack-core/src/asset.rs
  turbopack/crates/turbopack-core/src/chunk/chunking_context.rs
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-core/src/chunk/module_id_strategies.rs
  turbopack/crates/turbopack-core/src/context.rs
  turbopack/crates/turbopack-core/src/diagnostics/mod.rs
  turbopack/crates/turbopack-core/src/introspect/mod.rs
  turbopack/crates/turbopack-core/src/issue/mod.rs
  turbopack/crates/turbopack-core/src/module.rs
  turbopack/crates/turbopack-core/src/output.rs
  turbopack/crates/turbopack-core/src/reference/mod.rs
  turbopack/crates/turbopack-core/src/resolve/options.rs
  turbopack/crates/turbopack-core/src/resolve/origin.rs
  turbopack/crates/turbopack-core/src/resolve/plugin.rs
  turbopack/crates/turbopack-core/src/source.rs
  turbopack/crates/turbopack-core/src/source_map/mod.rs
  turbopack/crates/turbopack-core/src/source_transform.rs
  turbopack/crates/turbopack-core/src/version.rs
  turbopack/crates/turbopack-css/src/chunk/mod.rs
  turbopack/crates/turbopack-css/src/code_gen.rs
  turbopack/crates/turbopack-css/src/embed.rs
  turbopack/crates/turbopack-css/src/process.rs
  turbopack/crates/turbopack-dev-server/src/source/lazy_instantiated.rs
  turbopack/crates/turbopack-dev-server/src/source/mod.rs
  turbopack/crates/turbopack-dev-server/src/source/route_tree.rs
  turbopack/crates/turbopack-dev-server/src/source/wrapping_source.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/item.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/placeable.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-node/src/node_entry.rs
  turbopack/crates/turbopack-node/src/route_matcher.rs
  turbopack/crates/turbopack/src/module_options/custom_module_type.rs
  turbopack/crates/turbopack/src/transition/mod.rs
Labels: Turbopack, created-by: Turbopack team

#80305 Add response handling in app page handler
  packages/next/errors.json
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/templates/pages.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/response-cache/types.ts
Labels: type: next, created-by: Next.js team, tests, Rspack

#80297 Add response handling in app route handler
  packages/next/errors.json
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/templates/pages.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/route-modules/app-route/module.ts
Labels: type: next, created-by: Next.js team, Rspack

#80401 Docs: Getting Started feedback
  docs/01-app/01-getting-started/01-installation.mdx
  docs/01-app/01-getting-started/05-images.mdx
  docs/01-app/01-getting-started/06-fonts.mdx
  docs/01-app/01-getting-started/07-css.mdx
  docs/01-app/01-getting-started/08-server-and-client-components.mdx
  docs/01-app/01-getting-started/11-updating-data.mdx
  docs/01-app/01-getting-started/16-upgrading.mdx
  docs/01-app/05-api-reference/02-components/image.mdx
Labels: Font (next/font), Documentation, created-by: Next.js DevEx team

#80189 Add response handling inside handlers
  packages/next/errors.json
  packages/next/src/build/templates/app-page.ts
  packages/next/src/build/templates/app-route.ts
  packages/next/src/build/templates/pages.ts
  packages/next/src/server/app-render/action-handler.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/dev/next-dev-server.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/router-server.ts
  packages/next/src/server/lib/router-utils/resolve-routes.ts
  packages/next/src/server/lib/router-utils/router-server-context.ts
  packages/next/src/server/next-server.ts
  packages/next/src/server/request-meta.ts
  packages/next/src/server/response-cache/index.ts
  packages/next/src/server/response-cache/types.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/route-modules/route-module.ts
  packages/next/src/server/web-server.ts
  packages/next/src/server/web/adapter.ts
  packages/next/src/shared/lib/no-fallback-error.external.ts
  test/integration/server-side-dev-errors/test/index.test.js
Labels: type: next, created-by: Next.js team, tests, Rspack

#78286 feat(turbopack): Add simple tree shaker
  Cargo.lock
  crates/next-core/src/next_client/context.rs
  crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_module.rs
  crates/next-core/src/next_client_reference/visit_client_reference.rs
  crates/next-core/src/next_config.rs
  crates/next-core/src/next_dynamic/dynamic_module.rs
  crates/next-core/src/next_server/context.rs
  packages/next/src/server/config-schema.ts
  packages/next/src/server/config-shared.ts
  turbopack/crates/turbopack-core/src/chunk/mod.rs
  turbopack/crates/turbopack-core/src/module_graph/async_module_info.rs
  turbopack/crates/turbopack-core/src/module_graph/chunk_group_info.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
  turbopack/crates/turbopack-core/src/reference/mod.rs
  turbopack/crates/turbopack-core/src/resolve/mod.rs
  turbopack/crates/turbopack-ecmascript/Cargo.toml
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/base.rs
  turbopack/crates/turbopack-ecmascript/src/references/esm/export.rs
  turbopack/crates/turbopack-ecmascript/src/references/mod.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
  turbopack/crates/turbopack-ecmascript/src/simple_tree_shake/mod.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/side_effect_module.rs
  turbopack/crates/turbopack-resolve/src/ecmascript.rs
  turbopack/crates/turbopack-tests/tests/execution.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/input/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/input/node_modules/lib/index.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/input/node_modules/lib/package.json
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/options.json
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_intermediate-tree-shake_tree-shake-test-1_input_80df1e23._.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_intermediate-tree-shake_tree-shake-test-1_input_80df1e23._.js.map
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_intermediate-tree-shake_tree-shake-test-1_input_index_1ae89033.js
  turbopack/crates/turbopack-tests/tests/snapshot/intermediate-tree-shake/tree-shake-test-1/output/4c35f_tests_snapshot_intermediate-tree-shake_tree-shake-test-1_input_index_1ae89033.js.map
  turbopack/crates/turbopack-wasm/src/module_asset.rs
  turbopack/crates/turbopack/src/global_module_ids.rs
  turbopack/crates/turbopack/src/lib.rs
  turbopack/crates/turbopack/src/module_options/mod.rs
  turbopack/crates/turbopack/src/module_options/module_options_context.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#80409 Ensure we normalize .rsc/.prefetch.rsc
  packages/next/src/server/base-server.ts
Labels: type: next, created-by: Next.js team

#80413 Turbopack Build: Fix /index/index handling
  packages/next/src/shared/lib/turbopack/manifest-loader.ts
  test/turbopack-build-tests-manifest.json
Labels: type: next, created-by: Turbopack team, tests

#80412 build(turbopack): Update `swc_core` to `v27.0.2`
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#80431 Turbopack: fix persistent caching bit number typo
  turbopack/crates/turbo-tasks-backend/src/backend/storage.rs
Labels: Turbopack, created-by: Turbopack team

#80440 remove with-fauna example
  examples/with-fauna/.env.local.example
  examples/with-fauna/.gitignore
  examples/with-fauna/README.md
  examples/with-fauna/actions/entry.ts
  examples/with-fauna/app/globals.css
  examples/with-fauna/app/guestbook-page.tsx
  examples/with-fauna/app/layout.tsx
  examples/with-fauna/app/page.tsx
  examples/with-fauna/components/EntryForm.tsx
  examples/with-fauna/components/ErrorMessage.tsx
  examples/with-fauna/components/LoadingSpinner.tsx
  examples/with-fauna/components/SuccessMessage.tsx
  examples/with-fauna/jsconfig.json
  examples/with-fauna/lib/fauna.ts
  examples/with-fauna/next.config.js
  examples/with-fauna/package.json
  examples/with-fauna/postcss.config.js
  examples/with-fauna/public/static/fauna-logo-blue.png
  examples/with-fauna/public/static/fauna-logo-white.png
  examples/with-fauna/public/static/favicon.png
  examples/with-fauna/tailwind.config.js
  examples/with-fauna/tsconfig.json
  test/turbopack-dev-examples-manifest.json
Labels: examples, CI approved, tests

#80420 chore: Remove useActionState from auto wrapping list
  docs/01-app/01-getting-started/08-updating-data.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80443 [segment explorer] fix soft navigation case
  packages/next/src/next-devtools/dev-overlay/components/overview/segment-explorer.tsx
  packages/next/src/next-devtools/dev-overlay/segment-explorer.test.tsx
  packages/next/src/next-devtools/dev-overlay/segment-explorer.ts
  test/development/app-dir/segment-explorer/segment-explorer.test.ts
Labels: type: next, created-by: Next.js team, tests

#80214 Update the warning text for when multiple lockfiles are found
  packages/next/src/lib/find-root.ts
Labels: type: next, created-by: Turbopack team

#80414 refactor(turbopack): Make invalidator flag explicit
  crates/next-api/src/project.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_attribute_invalid_args.stderr
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_attribute_invalid_args_inherent_impl.stderr
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks-macros/src/function_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_impl_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
  turbopack/crates/turbo-tasks-testing/tests/read_ref_cell.rs
  turbopack/crates/turbo-tasks-testing/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks/src/invalidation.rs
  turbopack/crates/turbo-tasks/src/native_function.rs
Labels: Turbopack, created-by: Turbopack team

#80465 test(turbopack): Remove flaky benchmark
  .github/workflows/turbopack-benchmark.yml
Labels: Turbopack, created-by: Turbopack team

#80466 Revert "refactor(turbopack): Make invalidator flag explicit"
  crates/next-api/src/project.rs
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_attribute_invalid_args.stderr
  turbopack/crates/turbo-tasks-macros-tests/tests/function/fail_attribute_invalid_args_inherent_impl.stderr
  turbopack/crates/turbo-tasks-macros/src/func.rs
  turbopack/crates/turbo-tasks-macros/src/function_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_impl_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
  turbopack/crates/turbo-tasks-testing/tests/read_ref_cell.rs
  turbopack/crates/turbo-tasks-testing/tests/trait_ref_cell.rs
  turbopack/crates/turbo-tasks/src/invalidation.rs
  turbopack/crates/turbo-tasks/src/native_function.rs
Labels: Turbopack, created-by: Turbopack team

#80068 fix(turbopack): Improve error message for PURE selector error
  test/development/acceptance-app/ReactRefreshLogBox.test.ts
  test/development/acceptance/ReactRefreshLogBox.test.ts
  test/integration/css-features/test/css-modules.test.js
  turbopack/crates/turbopack-css/src/process.rs
Labels: Turbopack, created-by: Turbopack team, tests

#80451 Update from-create-react-app.mdx
  docs/01-app/02-guides/migrating/from-create-react-app.mdx
Labels: Documentation

#80418 Fix variable assignment in docs example
  docs/01-app/01-getting-started/07-fetching-data.mdx
Labels: Documentation

#80478 chore: fix link to good first issue
  packages/next/README.md
Labels: type: next, created-by: Next.js DevEx team

#80480 Disable fetch cache size limit for implicit caching during build
  packages/next/src/server/app-render/work-async-storage.external.ts
  packages/next/src/server/async-storage/work-store.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/patch-fetch.test.ts
  packages/next/src/server/lib/patch-fetch.ts
  packages/next/src/server/response-cache/types.ts
  test/e2e/app-dir/app-fetch-deduping/app-fetch-deduping.test.ts
  test/e2e/app-dir/app-fetch-deduping/app/layout.js
Labels: type: next, created-by: Next.js team, tests

#80468 perf(turbopack): Remove needless alloc for AQMF
  turbopack/crates/turbo-persistence/src/db.rs
  turbopack/crates/turbo-persistence/src/meta_file_builder.rs
  turbopack/crates/turbo-persistence/src/static_sorted_file_builder.rs
  turbopack/crates/turbo-persistence/src/write_batch.rs
Labels: Turbopack, created-by: Turbopack team

#80498 fix(turbopack): Fix config caching for turbopack + React Compiler
  packages/next/src/build/babel/loader/get-config.ts
Labels: type: next, created-by: Turbopack team, Rspack

#79743 [dynamicIO] Use filled Resume Data Cache for final-phase prerenders
  packages/next/src/build/templates/app-page.ts
  packages/next/src/export/index.ts
  packages/next/src/export/routes/app-page.ts
  packages/next/src/export/types.ts
  packages/next/src/export/worker.ts
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/postponed-state.ts
  packages/next/src/server/app-render/types.ts
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/base-server.ts
  packages/next/src/server/render-result.ts
  packages/next/src/server/resume-data-cache/resume-data-cache.ts
  packages/next/src/server/route-modules/app-route/module.ts
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-suspense/layout.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-suspense/params-in-page/[slug]/layout.tsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/without-suspense/layout.jsx
  test/e2e/app-dir/fallback-shells/fallback-shells.test.ts
Labels: type: next, created-by: Next.js team, tests, Rspack

#80549 docs: fix typo
  docs/01-app/02-guides/forms.mdx
Labels: Documentation

#80548 Fix small grammar error in searchParams section
  docs/01-app/05-api-reference/03-file-conventions/page.mdx
Labels: Documentation

#80541 docs: fix a typo in `static-exports.mdx`
  docs/01-app/02-guides/static-exports.mdx
Labels: Documentation

#80566 [backport][metadata] render streaming metadata on the top level
  packages/next/src/client/components/router-reducer/reducers/find-head-in-cache.ts
  packages/next/src/lib/metadata/metadata.tsx
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/create-component-tree.tsx
  packages/next/src/server/app-render/walk-tree-with-flight-router-state.tsx
  test/e2e/esm-externals/app/client/page.js
  test/e2e/esm-externals/app/server/page.js
  test/e2e/esm-externals/esm-externals.test.ts
  test/e2e/esm-externals/pages/ssg.js
  test/e2e/esm-externals/pages/ssr.js
  test/e2e/esm-externals/pages/static.js
Labels: type: next, created-by: Next.js team, tests

#80510 [turbopack] Simplify `Request::parse(Pattern)` the recursive portion doesn't need to be async
  turbopack/crates/turbopack-core/src/resolve/parse.rs
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
Labels: Turbopack, created-by: Turbopack team

#80184 [devtools] Port cache invalidation logic from turbopack to webpack
  packages/next/errors.json
  packages/next/src/build/define-env.ts
  packages/next/src/build/webpack-config.ts
  packages/next/src/build/webpack/cache-invalidation.ts
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-info/user-preferences.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-toolbar/restart-server-button.tsx
  packages/next/src/next-devtools/server/restart-dev-server-middleware.ts
  packages/next/src/server/dev/hot-reloader-webpack.ts
  turbopack/crates/turbo-tasks-backend/src/database/db_invalidation.rs
Labels: type: next, Turbopack, created-by: Turbopack team, Rspack

#80504 perf(turbopack): Do not allocate vectors if we are not going to use it
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
Labels: Turbopack, created-by: Turbopack team

#80314 test: fix failures caused by format discrepancies between rspack and other bundlers
  test/development/acceptance-app/error-recovery.test.ts
  test/development/acceptance/error-recovery.test.ts
Labels: tests, Rspack

#80423 perf(turbopack): Detect more immutable tasks
  turbopack/crates/turbo-tasks-backend/src/backend/mod.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_child.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/connect_children.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/prepare_new_children.rs
  turbopack/crates/turbo-tasks-backend/src/backend/operation/update_output.rs
  turbopack/crates/turbo-tasks-backend/src/data.rs
Labels: Turbopack, created-by: Turbopack team

#80555 fix: Rspack dev gets stuck after removing a page
  packages/next/errors.json
  packages/next/src/build/webpack/loaders/next-app-loader/index.ts
Labels: type: next, Rspack

#80453 docs: streaming metadata, dynamic pages and generateMetadata
  docs/01-app/01-getting-started/14-metadata-and-og-images.mdx
  docs/01-app/03-api-reference/04-functions/generate-metadata.mdx
Labels: Documentation, created-by: Next.js DevEx team

#80573 [fix] clone the config module to avoid mutation
  packages/next/src/server/config.ts
  test/e2e/app-dir/metadata-streaming/metadata-streaming-customized-rule.test.ts
  test/integration/config-experimental-warning/next.config.js
Labels: type: next, created-by: Next.js team, tests

#80497 Improve Incremental Cache Locking Algorithm
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/patch-fetch.test.ts
  packages/next/src/server/lib/patch-fetch.ts
Labels: type: next, created-by: Next.js team

#80608 Turbopack: make another callback return a result
  crates/next-api/src/module_graph.rs
  turbopack/crates/turbopack-core/src/module_graph/async_module_info.rs
  turbopack/crates/turbopack-core/src/module_graph/mod.rs
  turbopack/crates/turbopack-core/src/module_graph/module_batches.rs
Labels: Turbopack, created-by: Turbopack team

#80592 Remove `turbo_tasks::function` from `AssetContext::layer`
  crates/next-core/src/next_client_reference/ecmascript_client_reference/ecmascript_client_reference_module.rs
  turbopack/crates/turbopack-core/src/context.rs
  turbopack/crates/turbopack-css/src/asset.rs
  turbopack/crates/turbopack-css/src/module_asset.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-wasm/src/module_asset.rs
  turbopack/crates/turbopack-wasm/src/raw.rs
  turbopack/crates/turbopack/src/lib.rs
Labels: Turbopack, created-by: Turbopack team

#80628 perf(turbopack): Mark async fns without `await` as non-async
  turbopack/crates/turbo-tasks-fs/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/async_chunk/module.rs
  turbopack/crates/turbopack-ecmascript/src/chunk/mod.rs
  turbopack/crates/turbopack-ecmascript/src/lib.rs
  turbopack/crates/turbopack-ecmascript/src/manifest/chunk_asset.rs
  turbopack/crates/turbopack-ecmascript/src/references/cjs.rs
  turbopack/crates/turbopack-ecmascript/src/references/external_module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/chunk_item.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/facade/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/locals/module.rs
  turbopack/crates/turbopack-ecmascript/src/side_effect_optimization/reference.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/asset.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/mod.rs
  turbopack/crates/turbopack-ecmascript/src/tree_shake/side_effect_module.rs
Labels: Turbopack, created-by: Turbopack team

#80511 Normalize filepaths when parsing patterns from js values
  Cargo.toml
  packages/next-swc/package.json
  turbopack/crates/turbopack-core/src/resolve/pattern.rs
  turbopack/crates/turbopack-ecmascript/src/analyzer/mod.rs
  turbopack/crates/turbopack-ecmascript/src/utils.rs
  turbopack/crates/turbopack-tests/tests/snapshot.rs
Labels: type: next, Turbopack, created-by: Turbopack team

#80630 [turbopack] Merge identical match cases
  turbopack/crates/turbopack-browser/src/ecmascript/evaluate/chunk.rs
Labels: Turbopack, created-by: Turbopack team

#80594 chore(turbo-tasks): Remove unused deprecated methods from manager
  turbopack/crates/turbo-tasks/src/manager.rs
Labels: Turbopack, created-by: Turbopack team

#80632 chore(turbopack): Dedupe rustls dependencies by updating reqwest
  Cargo.lock
  Cargo.toml
Labels: created-by: Turbopack team

#80485 feat: rspack use swc to warn for edge runtime
  crates/napi/src/rspack.rs
  crates/next-custom-transforms/src/transforms/warn_for_edge_runtime.rs
  packages/next/errors.json
  packages/next/src/build/swc/generated-native.d.ts
  packages/next/src/build/swc/index.ts
  packages/next/src/build/swc/types.ts
  packages/next/src/build/webpack/plugins/middleware-plugin.ts
Labels: type: next, Turbopack, tests, Rspack

#80462 Add test cases without `generateStaticParams` to `fallback-shells` suite
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/layout.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/with-suspense/layout.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/with-suspense/params-in-page/[slug]/layout.tsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/with-suspense/params-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/with-suspense/params-not-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/with-suspense/params-then-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/without-suspense/params-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/without-suspense/params-not-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/without-suspense/params-then-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/without-static-params/layout.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/without-static-params/params-in-page/[slug]/layout.tsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/without-static-params/params-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/without-static-params/params-not-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/without-static-params/params-then-in-page/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/fallback-shells.test.ts
Labels: created-by: Next.js team, tests

#80463 Avoid timeout error when transformed params are passed to `"use cache"`
  packages/next/src/server/app-render/app-render.tsx
  packages/next/src/server/app-render/work-unit-async-storage.external.ts
  packages/next/src/server/route-modules/app-route/module.ts
  packages/next/src/server/use-cache/use-cache-wrapper.ts
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/with-suspense/params-transformed/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/app/with-cached-io/with-static-params/without-suspense/params-transformed/[slug]/page.jsx
  test/e2e/app-dir/fallback-shells/fallback-shells.test.ts
  test/e2e/app-dir/use-cache-hanging-inputs/app/transformed-params/[slug]/page.jsx
Labels: type: next, created-by: Next.js team, tests

#80613 Respond with `404` for unknown server actions
  packages/next/src/server/app-render/action-handler.ts
  test/e2e/app-dir/actions-deployment-skew/actions-deployment-skew.test.ts
  test/e2e/app-dir/actions-deployment-skew/app/edge/action/page.tsx
  test/e2e/app-dir/actions-deployment-skew/app/edge/form-action/page.tsx
  test/e2e/app-dir/actions-deployment-skew/app/error-boundary.tsx
  test/e2e/app-dir/actions-deployment-skew/app/layout.tsx
  test/e2e/app-dir/actions-deployment-skew/app/node/action/button.tsx
  test/e2e/app-dir/actions-deployment-skew/app/node/action/page.tsx
  test/e2e/app-dir/actions-deployment-skew/app/node/form-action/form.tsx
  test/e2e/app-dir/actions-deployment-skew/app/node/form-action/page.tsx
  test/e2e/app-dir/actions-deployment-skew/next.config.js
  test/e2e/app-dir/actions/app-action.test.ts
Labels: type: next, created-by: Next.js team, tests

#80652 Docs: Update code snippets in linking and navigating guide
  docs/01-app/01-getting-started/04-linking-and-navigating.mdx
Labels: Documentation

#80581 Turn on clientSegmentCache during PPR CI runs
  packages/next/src/server/config-shared.ts
  test/ppr-tests-manifest.json
Labels: type: next, created-by: Next.js team, tests

#80589 backport(15.3): document turbopack trace viewer (#78184)
  crates/napi/src/next_api/project.rs
  docs/01-app/03-building-your-application/06-optimizing/14-local-development.mdx
  packages/next/src/bin/next.ts
  packages/next/src/build/swc/index.ts
Labels: type: next, Documentation, Turbopack, created-by: Turbopack team, Rspack

#80460 [devtools] port overlay backdrop out of overlay
  packages/next/src/next-devtools/dev-overlay/components/errors/error-overlay-layout/error-overlay-layout.tsx
  packages/next/src/next-devtools/dev-overlay/components/overlay/index.tsx
  packages/next/src/next-devtools/dev-overlay/components/overlay/overlay-backdrop.tsx
  packages/next/src/next-devtools/dev-overlay/components/overlay/overlay.tsx
  packages/next/src/next-devtools/dev-overlay/container/errors.tsx
Labels: type: next, created-by: Next.js team

#80666 Revert "(E2E) Log which config file is used for `next start`"
  packages/next/src/server/config.ts
  test/integration/cli/test/index.test.js
  test/integration/edge-runtime-configurable-guards/next.config.js
Labels: type: next, created-by: Next.js team, tests

#80646 fix(turbopack): Fix static immutability analysis
  turbopack/crates/turbo-tasks-macros/src/function_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_impl_macro.rs
  turbopack/crates/turbo-tasks-macros/src/value_trait_macro.rs
  turbopack/crates/turbo-tasks-testing/tests/recompute.rs
Labels: type: next, create-next-app, Documentation, Turbopack, created-by: Turbopack team, tests

#80354 [devtools] add panel ui placeholder under feature flag
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/devtools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/devtools-panel.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.stories.tsx
  packages/next/src/next-devtools/dev-overlay/dev-overlay.stories.tsx
  packages/next/src/next-devtools/dev-overlay/dev-overlay.tsx
  packages/next/src/next-devtools/dev-overlay/shared.ts
  packages/next/src/next-devtools/dev-overlay/styles/component-styles.tsx
Labels: type: next, created-by: Next.js team

#80355 [devtools] add dialog behavior to panel ui
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/devtools-panel.stories.tsx
  packages/next/src/next-devtools/dev-overlay/components/devtools-panel/devtools-panel.tsx
  packages/next/src/next-devtools/dev-overlay/components/dialog/styles.ts
  packages/next/src/next-devtools/dev-overlay/dev-overlay.stories.tsx
  packages/next/src/next-devtools/dev-overlay/dev-overlay.tsx
Labels: type: next, created-by: Next.js team

#80536 [devtools] port devtools-indicator position to dispatcher
  packages/next/src/next-devtools/dev-overlay/components/devtools-indicator/devtools-indicator.tsx
  packages/next/src/next-devtools/dev-overlay/components/errors/dev-tools-indicator/dev-tools-indicator.stories.tsx
  packages/next/src/next-devtools/dev-overlay/dev-overlay.stories.tsx
  packages/next/src/next-devtools/dev-overlay/shared.ts
Labels: type: next, created-by: Next.js team

#80588 fix: mark the shared cache controls as external so it's memory is shared
  packages/next/src/build/webpack/loaders/next-edge-app-route-loader/index.ts
  packages/next/src/build/webpack/loaders/next-edge-ssr-loader/index.ts
  packages/next/src/server/lib/cache-handlers/default.external.ts
  packages/next/src/server/lib/incremental-cache/index.ts
  packages/next/src/server/lib/incremental-cache/shared-cache-controls.external.test.ts
  packages/next/src/server/lib/incremental-cache/shared-cache-controls.external.ts
  packages/next/src/server/use-cache/handlers.ts
  test/e2e/app-dir/use-cache-custom-handler/handler.js
  test/e2e/app-dir/use-cache-custom-handler/legacy-handler.js
  test/e2e/app-dir/use-cache-unknown-cache-kind/instrumentation.ts
  test/e2e/app-dir/use-cache-unknown-cache-kind/use-cache-unknown-cache-kind.test.ts
  test/e2e/app-dir/use-cache/next.config.js
  test/integration/telemetry/next.config.use-cache
  test/production/custom-server/cache-handler.js
Labels: type: next, created-by: Next.js team, tests, Rspack
